[2022-10-26 14:24] leofeyer commented on #5433
@m-vo @ausi /cc

[2022-10-26 14:53] leofeyer commented on #4419
What exactly do you mean?

[2022-10-26 14:56] leofeyer commented on #4793
@xApep Do you still have this problem? If so, please provide a stack trace as requested by @m-vo above. If not, please close the ticket.

[2022-10-26 14:57] leofeyer commented on #5090
@Aybee Can you provide a pull request?

[2022-10-26 15:21] leofeyer commented on #5113
The issue is caused by the changes in #4340. It seems we have removed the _Return an empty string if "items" is not set (to combine list and reader on same page)_ use case. @fritzmg Did you remove this on purpose?

[2022-10-26 15:25] fritzmg commented on #5113
No, that was not on purpose, I should have changed it to

[code]

instead. I'll make a PR.

[2022-10-26 15:33] leofeyer commented on #5264
The `mod_template.html5` template has been replaced with a Twig template in Contao 5.0.3. Does the issue still occur?

[2022-10-26 15:41] #5316 closed, assigned to nobody

[2022-10-26 15:43] leofeyer commented on #5335
@contao/developers Does it make sense to add this or can it be abused to find out which usernames exist?

[2022-10-26 15:46] leofeyer commented on #5340
Duplicate of #733

As discussed in #733, this is a known limitation until we can use permission voters to check the permissions in the version table. So this will be fixed eventually.

[2022-10-26 15:46] #5340 closed, assigned to nobody

[2022-10-26 15:48] leofeyer commented on #5356
@asconsulting Can you provide a pull request that makes the necessary changes?

[2022-10-26 15:49] fkaminski commented on #4419
If different values/inputs were possible for a key (depending on the template), it would be helpful to be able to specify this (as admin) in a description for users (or in principle).

[2022-10-26 15:49] leofeyer commented on #5367
@m-vo /cc

[2022-10-26 15:51] leofeyer commented on #5400
I can reproduce it in Safari 16.0 on macOS. @ausi Any idea what is causing this?

[2022-10-26 15:52] leofeyer commented on #5414
I cannot reproduce this, either.

[2022-10-26 15:52] #5414 closed, assigned to nobody

[2022-10-26 15:53] leofeyer commented on #5423
That‘s right.

[2022-10-26 15:53] #5423 closed, assigned to nobody

[2022-10-26 15:53] m-vo commented on #5335
We could alter the message to cover both cases but we should IMHO never leak any information about users.

[2022-10-26 15:55] leofeyer commented on #5113
Preferably `Input::get('auto_item') === null`. And please also check the other reader modules (events, FAQs etc.).

[2022-10-26 15:56] leofeyer commented on #4419
I still don‘t know what you mean. Sorry. 🙈

[2022-10-26 16:32] fkaminski commented on #4419
Thought of something like this (in the sense of RSCE-Lite :smile: )

![image](https://user-images.githubusercontent.com/7679799/198082102-a90aadab-1a20-44ae-b3ca-1a458af496f9.png)

![image](https://user-images.githubusercontent.com/7679799/198082213-bd8a0329-1ba9-41bf-a0c5-4baae6363d02.png)

[2022-10-26 17:47] m-vo commented on #4419
In case you want this, just create your own fragment with properly named fields.

[2022-10-26 17:51] m-vo commented on #5367
Yes this is a known limitation for the legacy template. If you need this, you can either adjust the template, use the image macros (available since 4.10) or directly use the modern Twig version available from 5.0.

I agree that we should probably improve the documentation. Would you be able to make a PR?

[2022-10-26 17:52] m-vo commented on #5367
(Or we could adjust the legacy template in 4.13, but IIRC we decided against this the last time this issue came up.)

[2022-10-26 20:18] ausi commented on #5400
See #5437

[2022-10-26 20:18] #5400 closed, assigned to nobody

[2022-10-26 20:36] ausi commented on #5433
See #5438

[2022-10-26 20:36] #5433 closed, assigned to nobody

[2022-10-27 06:17] fkaminski commented on #4419
Thank you. I close this because in general it would not be so important and there are alternatives.

[2022-10-27 06:17] #4419 closed, assigned to nobody

[2022-10-27 06:49] fkaminski commented on #5367
Maybe the documentation PR »[List core twig function and filter #1087](https://github.com/contao/docs/pull/1087/files?short_path=fba03aa#diff-fba03aa418e36f4e35229ab0620f6cbaebe23075fe70674779e76bdd9561be8e)« (draft) would be the appropriate place for this.

[2022-10-27 06:56] aschempp commented on #5335
Imho any message that is different from "user not found" will give away that a user is already registered. But so does our registration form if a username is already taken. I think in the current setup it would be fine to show a "user not activated", because to really fix this we'd need to change a LOT more than just the message.

[2022-10-27 07:12] aschempp commented on #5256
isn't this still the case? Front end editing "works" because you _are_ in the front end and have the styling. But back end will not? _Someone_ would need to apply styling and javascript to these accordion elements in your mockup, otherwise they will never be functional.

[2022-10-27 07:19] aschempp commented on #4868
shouldn't we simply convert `readonly` to `disabled` for checkboxes?

[2022-10-27 07:36] #5113 closed, assigned to nobody

[2022-10-27 08:41] leofeyer commented on #5305
@ausi Any idea why this is?

[2022-10-27 09:10] AlexanderWillner commented on #5316
Isn't this still open until #5339 or #5415 got merged?

[2022-10-27 09:10] AlexanderWillner commented on #5414
Indeed, not reproducible at demo.contao.org - might be related to #5316 though...

[2022-10-27 09:19] ausi commented on #5305
I think it is because this code does not get executed: https://github.com/contao/contao/blob/678bc53e46bc65c0c08214a4200743b15323d24d/core-bundle/src/Resources/contao/themes/flexible/hover.js#L272 we should probably remove this check: https://github.com/contao/contao/blob/678bc53e46bc65c0c08214a4200743b15323d24d/core-bundle/src/Resources/contao/themes/flexible/hover.js#L248

[2022-10-27 09:58] ausi commented on #4868
IMO no, `readonly` has a different meaning (the input field can still be focused for example)

[2022-10-27 13:23] Toflar commented on #5426
As discussed on 27th October 2022:
Make sure the `DefaultIndexer::delete()` does not boot the framework but instead we use the DBAL connection directly. Ideally by not duplicating the code.

[2022-10-27 13:26] leofeyer commented on #5357
As discussed in the Contao call, we want to add the scope check to the `TemplateInheritance` trait to be able to distinguish between `.html5` templates and `.twig` templates. Then the old templates can behave consistently in Contao 4 and 5.

[2022-10-27 13:52] ausi commented on #5357
See #5441

[2022-10-27 13:52] #5357 closed, assigned to ausi

[2022-10-27 14:17] leofeyer commented on #5335
As discussed in the Contao call, we could add a checkbox to the login module to enable a more user-friendly error message for not yet activated account. For security reasons, however, the checkbox should be disabled by default.

[2022-10-27 15:26] leofeyer commented on #5003
As discussed in the Contao call, we want to

1. strip the tags in the next bugfix release (so it is consistent everywhere) and
2. change all occurrences to replace insert tags in the next minor version.

[2022-10-28 07:36] #5426 closed, assigned to nobody

[2022-10-28 08:00] Toflar opened #5443 "File hash on file downloads"
### Description

Currently, Contao generates Links that look a bit like this in the URL:

https://www.domain.com/downloads.html?file=files/content/whatever.pdf&cid=42

The browser caches this file so whenever I replace `whatever.pdf` and I ask the users to redownload the new version, they still get the old one because of the browser cache.

Would it be possible, now that we have a nice `FileDownlo

[2022-10-28 08:33] fritzmg commented on #5443
Are you sure? We are sending `Cache-Control: must-revalidate, private` and the browser does not cache the file as far as I tested.

[2022-10-28 08:38] Toflar commented on #5443
I know we do. I think it might be some over-aggressive (and thus not adhering to standards) caching on some browsers. Sometimes I have the feeling that e.g. Safari has a tendency to ignore cache headers for e.g. PDF files...
I mean, I wouldn't invest too much time and effort but e.g. for files coming from the DBAFS we already have the file hash and it might be a 10min investment to add this to the

[2022-10-28 09:10] leofeyer commented on #5305
@exscorp Can you please verify that the changes from #5445 fix your issue?

[2022-10-28 09:10] #5305 closed, assigned to nobody

[2022-10-28 09:59] leofeyer commented on #5003
See #5447 for the first part. I am going to move the issue to the `5.1` milestone now as a reminder to replace the `stripInsertTags()` calls with `replaceInsertTags()`.

[2022-10-28 10:14] exscorp commented on #5305
Der Fehler besteht immer noch. Sowie @ausi schreibt, wird die class "down" nicht entfernt bzw. beim klick auf das Logo (und anderen Funktionen s.o.) wird diese class gesetzt, was keinen Sinn macht.

Ich habe in der main.css folgendes css entfernt, dann tritt der Fehler nicht auf.

https://github.com/contao/contao/blob/0bde27d5f52b343da0419e741c197bc64a09d960/core-bundle/src/Resources/contao/themes

[2022-10-28 10:23] fritzmg opened #5448 "Save & duplicate keyboard shortcut not working in debug mode"
### Affected version(s)

4.9+

### Description

When using the debug mode the keyboard shortcut for "Save & duplicate" is not working directly (at least in Firefox), i.e. you have to hit the shortcut and then space or enter to execute. This is because the Symfony toolbar uses the same shortcut for its button to open/close the toolbar and thus the shortcut only jumps between the two buttons without

[2022-10-28 10:27] exscorp commented on #5305
Hier noch ein kurzes Video aus der Contao Demo. Beim klick auf das Logo wird die class "down" gesetzt".

https://user-images.githubusercontent.com/3008649/198566012-18eed511-31f8-40a5-a686-de5b6c95befd.mp4

[2022-10-28 10:35] fritzmg commented on #5305
@exscorp the demo does not have the fix yet. Did you test the changes from the PR?

[2022-10-28 10:40] exscorp commented on #5305
Ja habe die Änderungen aus dem PR getestet. Oder funktioniert die Änderung bei euch?

Das Video aus der Demo bezieht sich auf die gesetzte "down" class, passiert auch mit den Änderungen aus dem PR.

[2022-10-28 10:56] leofeyer commented on #5305
Die Änderungen in #5445 sollten dafür sorgen, dass diese Klasse beim Hochscrollen wieder entfernt wird.

[2022-10-28 11:19] ausi commented on #5305
Ich habe eine neue Änderung vorgeschlagen: https://github.com/contao/contao/pull/5445#issuecomment-1294871949
Dieser Fix hat in meinen tests das Problem behoben.

[2022-10-28 11:32] masudewucse opened #5449 "Contao backend feature 'Wiederherstellen' is broken although tl_undo contains entries"
### Affected version(s)

4.13.8

### Description

Hello,
Once I try to access 'Wiederherstellen' in Contao backend : (/contao?do=undo&ref=xyz)
It always
![error](https://user-images.githubusercontent.com/7643261/198577338-35d14c1b-8940-484f-a666-1f5a157b8dde.png)
 triggers the following error:
`Contao\CoreBundle\EventListener\DataContainer\Undo\LabelListener::getTemplateData(): Argument #3 ($origi

[2022-10-28 11:51] exscorp commented on #5305
Kann ich bestätigen das es jetzt funktioniert aber nur auf touch Geräten.
Könnte man diese Abfrage nicht auf "touch" sondern "Fensterbreite" abfragen?

Wenn man das Browserfenster zusammenzieht bis zu dem Punkt wo nur die Icons in der Navi angezeigt werden, ist dieser Bug noch vorhanden. Sobald man in den Toggle Device (DevTools) Modus wechselt, dann funktioniert es richtig.

[2022-10-28 11:54] ausi commented on #5305
Das kann ich nicht reproduzieren.

[2022-10-28 11:58] exscorp commented on #5305
Browserfester ohne DevTools

[2022-10-28 12:03] ausi commented on #5305
Auch im Inkognito-Modus? (Um sicherzustellen dass es nicht am alten JavaScript im Browser-Cache liegt)

[2022-10-28 12:06] exscorp commented on #5305
Ja, weil es nur auf "touch" im script prüft. Hier ein Video dazu:

https://user-images.githubusercontent.com/3008649/198583046-e1422ade-0d89-4db8-959b-45799e46d684.mp4

[2022-10-28 12:09] ausi commented on #5305
Das Video zeigt eine falsche Contao-Version. Du musst die Version aus #5445 testen die den Fix enthält.

[2022-10-28 12:22] exscorp commented on #5305
Ja, der fix funktionert.

Falsche Version habe ich nicht. Die Änderungen habe ich local, manuell gemacht und beim zweiten Test hatte ich noch diese Zeile drin `if (!('ontouchmove' in window)) return;` . Habe diese jetzt auch gelöscht und alles funktioniert wunderbar.

[2022-10-29 12:01] ausi commented on #5136
In this case we could simply change https://github.com/contao/contao/blob/5e17a4acbc0370e8c956f2d3f8db94d4e9648cbb/core-bundle/src/Resources/public/core.js#L2700 to something like:

[code]

[2022-10-29 15:27] #4180 closed, assigned to nobody

[2022-10-29 15:28] #4863 closed, assigned to nobody

[2022-10-29 15:28] #5107 closed, assigned to nobody

[2022-10-29 15:55] OMOSde commented on #5184
I would be in favor of removing the limit. We often have projects with customer access to the preview that take much longer than 30 days.

Sending new preview links to the customer is always problematic because they quickly get confused with the links.

Alternatively, extending the preview links might be an option, but then they should not be removed when they expire.

The intervals could be adjus

[2022-10-29 17:09] ausi commented on #5232
See #5455

[2022-10-29 17:09] #5232 closed, assigned to nobody

[2022-10-29 17:29] ausi commented on #3921
Just tested the two implementations and `StringUtil::encodeBase32()` seems to be way faster, so I think we should keep this method.

[2022-10-29 17:29] #3921 closed, assigned to ausi

[2022-10-29 19:53] CMSworker opened #5456 "Error when editing multiple files"
### Affected version(s)

5.0.4

### Description

I'm currently testing 5.0.4 (local installation in XAMPP, only Core bundle and News bundle installed)

I added some images in the **files** folder. When I try to **edit multiple** I get a error message.

Debug Mode - Stack Trace:

[code]

Test 1: Checkboxes "name" and "metadata" both activated
Test 2: Only checkbox "name" activated
Test 3: Only chec

[2022-10-30 08:17] m-vo commented on #5443
We could add the hash here (and probably to the public URI a few lines above): https://github.com/contao/contao/blob/ecaacfc4f6a2c1ae325be60f455d14d6ba62bb7a/core-bundle/src/Controller/ContentElement/DownloadsController.php#L169

We would probably need to make the Dbads service add the hash to the 'extra metadata' like we did with the UUID. The hash is kind of an implementation detail but in the m

[2022-10-30 08:44] m-vo commented on #5449
/cc @bezin

[2022-10-30 09:09] bezin commented on #5449
@masudewucse Could you check if all rows in `tl_undo` have a serialized array in `data`?

[2022-10-30 09:20] Aybee commented on #5090
Yes. Schaue ich mir gerade an.

[2022-10-30 13:33] ausi commented on #5100
Closed in favor of #5457

[2022-10-30 13:33] #5100 closed, assigned to ausi

[2022-10-31 11:17] stefansl commented on #5456
Same here

[2022-10-31 13:07] masudewucse commented on #5449
@bezin  Yes they all are serialized arrays.
Some are a:0:{} and once I manually delete these (a:0:{}) the problem is getting fixed!

[2022-10-31 13:47] bezin commented on #5449
Well this is interesting as it means, there is no data to be restored. Which datasets have you deleted? Is it pages, articles or from other core tables, or custom or extension tables?

[2022-10-31 14:30] masudewucse commented on #5449
@bezin I am deleting it from the tl_undo table:
![Screenshot from 2022-10-31 15-28-06](https://user-images.githubusercontent.com/7643261/199032337-d394da52-d741-41e9-893e-82c214c14138.png)

[2022-10-31 15:08] bezin commented on #5449
That is odd. The page was deleted, but the data was not saved. Can you reproduce under which circumstances this happens? Because I don't know about a situation where this is supposed to happen (I may me mistaken though).

[2022-11-01 09:40] falkgeist commented on #4769
I can confirm this error for Contao 4.13.12.

The plain and simple 404 page (no content) throws the RouteNotFoundException, preceded by the ResourceNotFoundException "Page ID XX is not routable" (whereas "XX" is the ID of the 404 page).

Of course the server 404 page is a workaround solution, but as already stated, not really pretty. If it wasn't for the status code, it would even be better to get

[2022-11-01 19:53] aschempp commented on #4769
I think this might be fixed by https://github.com/contao/contao/pull/3540

[2022-11-01 20:04] aschempp commented on #5456
see https://github.com/contao/contao/pull/5463 (and https://github.com/contao/contao/pull/5462 for Contao 4)

[2022-11-01 20:04] #5456 closed, assigned to nobody

[2022-11-01 20:16] aschempp commented on #4180
I just tested this in Contao 3.5, 4.4, 4.7 and 4.9, it was never translated. Still could be improved though.

[2022-11-01 20:21] aschempp commented on #4868
yes, for input fields that **do** support `readonly`. But for the ones that do not (like a checkbox), converting it to `disabled` would solve the issue?

[2022-11-01 20:21] aschempp commented on #5316
we usually close issues when a pull request is made, simple because there is another place to keep track of the issue 😊

[2022-11-02 06:25] aschempp commented on #5396
see https://github.com/contao/contao/pull/5464

[2022-11-02 06:25] #5396 closed, assigned to nobody

[2022-11-02 06:31] aschempp commented on #4759
I don't think we can usefully apply multiple labels anywhere in the DCA, since you can never know what has been added before. It would probably work in this edge case where you just want to append something, but that might not always be the case.

This is a special case for page titles, the label should be rendered individually for each page type. We already have a hook for the icon, maybe we shou

[2022-11-02 13:04] rustykowski opened #5469 "MariaDB: Access denied for user 'root'@'localhost'"
### Affected version(s)

4.13.12

### Description

PHP: 8.1.2
DB-Server-Version: 10.6.7-MariaDB-2ubuntu1.1 - Ubuntu 22.04
Fresh Installation with no extension and no contents.

When switching to debug-mode, i get 3 exceptions:
<img width="1056" alt="image" src="https://user-images.githubusercontent.com/1775048/199495294-8a5db3cc-2b9f-4a92-a4fa-4720051a3d07.png">

**Stack Trace 1:**
[code]

**Stack

[2022-11-02 13:11] m-vo commented on #5469
Looks like invalid database credentials to me. Did you verify these are correct? Did you clear the cache after making changes to them?

[2022-11-02 13:14] rustykowski commented on #5469
How can i verify them? Which kind of cache? What can i tell the hoster?

[2022-11-02 13:17] rustykowski commented on #5469
oh, the login date for the db.
Hm, everything is fine and operational, except in debug mode.

[2022-11-02 13:19] rustykowski commented on #5469
the prod cache is cleared

[2022-11-02 13:27] m-vo commented on #5469
You need to clear the cache in the appropriate environment, for example: `cache:clear --env=dev` or by removing the cache directory completely.

Please use one of the many support options for these kind of questions: https://contao.org/de/support.html

[2022-11-02 13:27] #5469 closed, assigned to nobody

[2022-11-02 14:27] rustykowski commented on #5469
Thank you, that helped. I had suspected a context with the MariaDB version, that's why I posted here.

[2022-11-03 11:12] ausi commented on #4868
I don’t think so. `disabled` is just too different to me, as it would for example also not be sent by the browser anymore.

I think we should either fully support it for all fields, or not support it for non-text fields (including the save mechanism).

[2022-11-03 11:56] m-vo commented on #3834
This functionality was implemented in https://github.com/contao/contao/pull/4657.

[2022-11-03 11:56] #3834 closed, assigned to nobody

[2022-11-03 18:41] xApep commented on #4793
@leofeyer I can confirm that with Contao 4.13.12 I can install Contao with also db install tool without the problem.

[2022-11-03 20:49] larsk007 opened #5476 "Corrupt zip and exe files after downloading"
### Affected version(s)

4.13.12

### Description

**PHP 7.4.32, nginx**
![image](https://user-images.githubusercontent.com/117398076/199828677-27eb5056-febe-4d87-9f62-b584a4e6a042.png)
![image](https://user-images.githubusercontent.com/117398076/199828924-2d6bd233-8a95-420c-974f-2ce6ed01fdb5.png)
Empty line in zip and exe files after downloading.

### Solution
(from [Symfony BinaryFileResponse cu

[2022-11-04 09:26] ausi commented on #5476
You probably have a newline in the beginning of one of your own PHP files.

[2022-11-04 09:35] koertho opened #5477 "News images in reader are linked when no content elements"
### Affected version(s)

4.9.35, 4.13.12

### Description

Images (through singleSRC field) in news are always get linked to the news reader page. This also happens in the news reader (detail page) when no content element are available for the news article and fullsize is not set. Since we are already on the detail page, the images is linked to the current page, which is not ideal.

The problemati

[2022-11-04 09:36] larskersting commented on #5476
Could reproduce it in a new installation.  I will test it again without extensions. I not have own PHP files.

composer.json
[code]

[2022-11-04 09:38] ausi commented on #5477
Related: https://github.com/contao/news-bundle/issues/30#issuecomment-403739475

[2022-11-04 10:21] fkaminski commented on #3235
Close this then (see previous posts)

[2022-11-04 10:24] fkaminski commented on #5256
Close this then (see previous posts)

[2022-11-04 10:27] fkaminski commented on #3236
Maybe duplicate: See #5378

[2022-11-04 10:28] fkaminski commented on #4526
Close this then (see previous posts)

[2022-11-04 10:28] #4526 closed, assigned to nobody

[2022-11-04 10:30] #154 closed, assigned to nobody

[2022-11-04 14:20] Metis77 opened #5479 "User Group Seetings too many entries"
### Affected version(s)

4.13.12

### Description

Editing Contao user groups works as intended, until you need to check a lot of checkboxes.

for example with the "rocksolid" plugins and the "notificatoin center" there are too many ceckboxes.
Checking them all will not be work. saving works, but the ceckboxes that where too much, keep empty.

removing one or two already checked checkboxes above a

[2022-11-04 14:29] ausi commented on #5479
Probably a duplicate of #1161

[2022-11-04 14:31] asaage commented on #5479
you need to raise ```max_input_vars``` until there is a better solution

[2022-11-04 16:14] Metis77 commented on #5479
indeed solved by increasing the `max_input_vars` in the php.ini.
Should we close this as duplicate of #1161?

[2022-11-04 16:55] katgirl opened #5480 "Unzip ZIP files in the file manager"
### Description

Due to the current wave of Google Fonts warnings we had to upload several fonts and migrate projects from Wordpress to Contao in the last weeks.
It would have helped if we had uploaded the fonts, images, ... that were delivered to us as ZIP directly to the server and unpacked them there.

[2022-11-04 18:20] fritzmg commented on #5480
If `ZipArchive` is available, it would be straight forward to implement this. However, depending on the size of the archive it could potentially take a long time and thus exceed the `max_execution_time` when extracting an archive via the web process.

[2022-11-04 18:35] aschempp commented on #5480
you're aware you can upload multiple files and folders through drag&drop in the latest Contao version?

[2022-11-05 15:53] markocupic commented on #5264
Hi Leo
No, unfortunately my customized **Twig template** `template_cust.html.twig` is still not selectable in the module settings. Contao version: 5.0.4

Where should I store it?
I've tried it (under Contao 5.0.4) in these folders:
 `templates/template_cust.html.twig`
 `templates/frontend_module/template_cust.html.twig`
 `contao/templates/template_cust.html.twig`
 `contao/templates/frontend_module

[2022-11-05 23:10] AlexanderWillner opened #5481 "PHP 8: Warning: Undefined array key "inputType" in ModulePersonalData.php"
### Affected version(s)

4.13.12

### Description

Version: PHP 8.x

Steps that will reproduce the problem?
1. Login as a login user
2. Show personal data

What is the expected result?
Show the personal data

What happens instead?
`Warning: Undefined array key "inputType"` in https://github.com/contao/contao/blob/c79ab75e51aee332a28822923adc70603d0b0872/core-bundle/src/Resources/contao/modules/Mod

[2022-11-06 09:12] aschempp commented on #5481
did you adjust your `tl_member` DCA?

[2022-11-06 09:14] aschempp commented on #5264
I'm not expert on the topic, but I think it should be `/templates/frontend_module/template/custom.html.twig`

[2022-11-06 09:15] aschempp commented on #5479
I think so, yes. Unfortunately there's nothing (easy) we can fix on our side.

[2022-11-06 09:15] #5479 closed, assigned to nobody

[2022-11-06 09:25] aschempp commented on #4868
How can we _fully support it for all fields_ if the HTML standard does not?

[2022-11-06 09:34] asaage commented on #5479
But #1161 is a closed issue as well.?

Thoughts:

- If every panel would get it's own submit button or be placed on a separate sub-page of do=group&act=edit that should work. (but there is no UI pattern like tabs for it)
- if we could remove collapsed items from the dom and add them back on demand this could at least be configured in chunks.
- JS toggle the ```disabled``` attribute for every check

[2022-11-06 09:37] AlexanderWillner commented on #5481
Very likely. I've a number of shop instances here with many modifications/modules/themes/... and identified a couple of PHP 8 related issues in Contao Core similar to this one (i.e., non-checked array keys).

[2022-11-06 09:52] markocupic commented on #5264
@aschempp

This is it! Thank you. 👍

[2022-11-06 09:52] #5264 closed, assigned to nobody

[2022-11-06 16:42] fritzmg commented on #5481
Then it needs to be fixed there, not in the core. You must not set a field to editable, if it does not have an `inputType` defined.

[2022-11-06 21:00] AlexanderWillner commented on #5481
Okay, if this is a deliberate design choice - I should debug more on the caller side anyways.

But I assumed that a core framework should be as resilient/robust as possible to input, i.e. not throw exceptions on unexpected input. That's what this proposal is about, and there are a few other places where exceptions are thrown in Contao Core with PHP 8 when running more complex/modified/non-trivial

[2022-11-07 06:31] marcfunkDE opened #5482 "Editing of multiple image files caught an error "Argument #2 ($field) must be of type string, null given""
### Affected version(s)

5.0.4
PHP 8.1.7

### Description

`Internal Server Error
Was ist das Problem?
Contao\DataContainer::isFieldExcluded(): Argument #2 ($field) must be of type string, null given, called in /www/htdocs/xxx/vendor/contao/core-bundle/contao/drivers/DC_Folder.php on line 1730`

File structure:
img/kunst/

I selected multiple files for editing and select "name" and "meta" as field

[2022-11-07 09:34] Samson1964 opened #5483 "generateFrontendUrl funktioniert nicht mit Contao 4.13"
### Affected version(s)

4.13

### Description

Bis Contao 4.12 funktionierte der generateFrontendUrl-Hook problemlos. In der Version 4.13 wird von Contao ein Fehler ausgegeben:
`Return value of Contao\CoreBundle\Routing\Page\PageRoute::getUrlSuffix() must be of the type string, null returned`

Hier der seit 4.13 "fehlerhafte" Aufruf:
[code]

Die übergebenen Parameter sehen dabei z.B. so aus:
$obj

[2022-11-07 09:37] m-vo commented on #5482
I can confirm this.

[2022-11-07 09:38] fritzmg commented on #5483
Please use the debug mode and post the complete stack trace.

[2022-11-07 09:41] m-vo commented on #5482
This was introduced with https://github.com/contao/contao/pull/4709 (`DC_Folder` L1730).
/cc @aschempp

[2022-11-07 09:43] Samson1964 commented on #5483
[code]

[2022-11-07 09:53] fritzmg commented on #5483
Does the same error occur if you use

[code]

instead?

[2022-11-07 13:44] katgirl commented on #5480
thank you, I was not aware of this

[2022-11-07 14:05] #5480 closed, assigned to nobody

[2022-11-07 15:17] ausi commented on #4868
See https://github.com/contao/contao/issues/4868#issuecomment-1264333797 for checkboxes `onclick="return false"` should be sufficient.

[2022-11-07 15:29] ausi commented on #5482
Duplicate of #5456 and already fixed by #5463 ?

[2022-11-07 16:36] Samson1964 commented on #5483
Sorry, war wohl mein Fehler.
@fritzmg : Dein Beispiel mit der Funktion getFrontendUrl vom PageModel brachte mich auf die Spur. Es kam nämlich eine Meldung "Funktion nicht gefunden". Grund: $objNewsPage war bei mir ein Objekt aus einer Datenbanksuche und nicht vom PageModel. Nachdem ich das geändert habe, funktioniert sowohl mein Code als auch Dein Vorschlag. Also alles i.O. in der 4.13. Da scheint

[2022-11-07 16:36] #5483 closed, assigned to nobody

[2022-11-08 10:14] bezin commented on #5293
Ist dank @bytehead in Contao 5 schon möglich: https://github.com/contao/contao/pull/1465

[2022-11-08 10:23] fritzmg commented on #5293
@bezin that's a different feature. The _Show featured events first_ setting is not implemented for event lists.

[2022-11-08 11:12] JensB74 opened #5484 "Individual Template: Presets in template file"
### Description

The custom template module reminds me a lot of Rocksolid's Custom Content Elements.
Maybe it's possible to preset the key/value settings already in the template. Maybe even with different field types like select, text, radio, etc.
It would then be a simpler version of Rocksolid's Custom Content Elements.
And it would also be easier for users to understand if they only saw the vari

[2022-11-08 11:16] m-vo commented on #5484
IMHO there is no point in doing this. If you need a custom element, create a fragment controller (+ DCA definition for the palette/fields). See https://docs.contao.org/dev/getting-started/content-elements-modules/.

[2022-11-08 11:20] JensB74 commented on #5484
Yes this is surely a way, but if "you" are not a programmer, the way above could be a way easier IMHO. ;)

[2022-11-08 11:21] m-vo commented on #5484
You yourself did compare it to rocksolid custom elements, where you need to create PHP files in order to create elements?

[2022-11-08 11:25] JensB74 commented on #5484
yes and I have my problems with the module, hence the suggestion to change the individual template

[2022-11-08 12:24] m-vo commented on #5484
You would need to have a config somewhere that defines how the UI should look/behave. The DCA _is_ this config. (And the controller file to output the data can basically be empty as the abstract base class already adds all data to the context.)

I don't think we'll have a UI for this in the near future. Maybe we can further improve the current workflow, so that you can for instance define everythi

[2022-11-08 12:51] minstyle commented on #5400
@ausi Kurze Frage: Wird es diesen Fix auch für Contao 4.13 geben? Oder nur für Contao 4.9?

[2022-11-08 12:53] fritzmg commented on #5400
4.9 wird upstream gemerged.

[2022-11-08 13:11] minstyle commented on #5400
@fritzmg Ich danke dir für die Info 👍

[2022-11-08 13:42] fritzmg commented on #5479
See https://docs.contao.org/manual/en/installation/system-requirements/#php-configuration-php-ini

[2022-11-09 11:29] leofeyer commented on #5482
Indeed. 👍

[2022-11-09 11:29] #5482 closed, assigned to nobody

[2022-11-10 08:33] leofeyer commented on #5136
Why did you wrap the `document.querySelector()` call with `$()`?

[2022-11-10 10:44] ausi commented on #5136
Because it is used as a mootools element further down and `$()` ensures that all the mootools methods are available on that element. But this is only needed for Internet Explorer AFIAK, so we could probably get rid of it.

[2022-11-11 08:36] #5136 closed, assigned to nobody

[2022-11-11 21:15] Xendiadyon opened #5497 "Search index: Crawling endlessly, multiple redundant results"
### Affected version(s)

4.9 to 4.13.12

### Description

I have several problems with the Search Index / Crawler.

## Infinite Crawling due to nested news / comment pages:
When using a newslist (with several pages), combined with a comment module (with several pages), the number of pages rise exponentially and the crawler simply stops after a timeout (10 mins or so):
![grafik](https://user-images

[2022-11-12 04:35] #2895 closed, assigned to nobody

[2022-11-12 08:36] ausi commented on #5497
You can do that by activating _Enable rel="canonical"_ in the root page settings, see https://docs.contao.org/manual/de/layout/seitenstruktur/seiten-konfigurieren/#kanonische-url

[2022-11-12 08:38] ausi commented on #4937
@richardhj can you maybe provide a pull request to fix this? ☺️

[2022-11-13 11:46] chberger opened #5501 "PHP8.1 DcaLoader.php:151 TypeError: array_key_exists(): Argument #2 ($array) must be of type array, null given"
### Affected version(s)

4.9.35

### Description

After upgrading from PHP 7.4 to PHP 8.1 the following error occurred:

[code]
Affected code snippet:

[code]

Suggested fix:
[code]

[2022-11-13 12:08] fritzmg commented on #5501
You seem to have an invalid operation defined in your `tl_member` DCA. Either via an extension or via a DCA customisation in your application. An operation must always be an array.

[2022-11-14 09:02] chberger commented on #5501
Thanks I will look into it. Maybe it's some side effect from other changes I did while migrating to PHP 8.1. Interestingly, after handling the null case I get the expected output. I understood u assume that with some valid config this should never be null. However, wouldn't it be good coding practices to handle null cases anyway?

[2022-11-14 10:35] leofeyer commented on #5043
@m-vo @ausi @aschempp How do we proceed here?

[2022-11-14 10:38] #4157 closed, assigned to nobody

[2022-11-14 11:30] m-vo commented on #5043
As we cannot use stimulus controllers for this, I'd implement the fix as outlined in https://github.com/contao/contao/issues/5043#issuecomment-1236103398.

[2022-11-14 12:00] marcoheinz opened #5502 "Events: Check if URL-Parameter is valid"
### Affected version(s)

4.9

### Description

**Problem: Searchengines are indexing invalid URL-Parameters.**
To solve this problem Contao should check if the url parameter matches the entered date/time?
If the URL-Parameters (event_1.html?day=20221111&times=1668121200,1668380399) are wrong 404 or 301 to e.g. event_1.html should be returned.

[2022-11-15 07:49] #5029 closed, assigned to nobody

[2022-11-15 11:16] ausi commented on #4130
With #5454 there is now a Checkbox “Restrict access to specified URL” so you can decide how each shared link should behave.

[2022-11-15 11:16] #4130 closed, assigned to aschempp

[2022-11-15 11:17] ausi commented on #5089
Mit #5454 kann nun ein belibiger „Gültig bis“ Zeitraum festgelegt werden.

[2022-11-15 11:17] #5089 closed, assigned to nobody

[2022-11-15 11:19] ausi commented on #5184
With #5454 it is now possible to specify an arbitrary “Valid until” date.

[2022-11-15 11:19] #5184 closed, assigned to nobody

[2022-11-15 13:38] jedoCodes opened #5506 "Error after update to V5.0.5"
### Affected version(s)

5.0.5

### Description

After updating from 5.0.4 to 5.0.5 I get the following error message when I want to create a module.

`Contao\CoreBundle\EventListener\DataContainer\TemplateOptionsListener::__construct(): Argument #5 ($hierarchy) must be of type Contao\CoreBundle\Twig\Inheritance\TemplateHierarchyInterface, string given, called in  `

[2022-11-15 14:08] ausi commented on #5506
Looks like adding `- '@contao.twig.filesystem_loader'` was forgotten here: https://github.com/contao/contao/commit/0dfbd54cf26e2bb4168bfb038642b92255adbae0#diff-1ed02a947ba36ca7331ab438573363a620fc31d0ccd3f7e09c4c5b46e5574d54R361

[2022-11-15 16:12] m-vo commented on #5506
See #5507

[2022-11-15 16:12] #5506 closed, assigned to nobody

[2022-11-16 07:39] minstyle opened #5508 "Selection of important part of the image is incorrect"
### Affected version(s)

4.13.13

### Description

After updating to Contao 4.13.13, I now have the error that the important part of the image can only be defined via the menu item "System > File management (in german: Dateiverwaltung)".

For example, if I select an image in the Contao content element "Gallery" and want to define or change the important part of it, the mouse selection is not avail

[2022-11-16 08:27] tsarma opened #5509 "Frontend User groups check first if array is empty."
### Affected version(s)

4.13.12

### Description

Contao 4.13.12
PHP: 8.1

Please check if the member groups array is empty before accessing its 0th element.

![Screenshot 2022-11-15 at 17 47 45](https://user-images.githubusercontent.com/683894/202127490-c5a6beb0-d367-4ee0-90ef-7923e09495e6.png)

[2022-11-16 08:50] ausi commented on #5508
Seems to be caused by 241a69ccdd050e9f91f67f43eff830bcf1bcdcb5 because `$('header')` is null.

[2022-11-16 12:18] bytehead commented on #5509
See #5511

[2022-11-16 12:18] #5509 closed, assigned to bytehead

[2022-11-16 12:35] aschempp commented on #5043
I think https://github.com/terminal42/contao-conditionalformfields/commit/714e7e86a34a3f40659d6b0597dce40ce6bf7ea7 would be the correct fix. We should not initialize the whole script until the DOM itself is ready, only after that we should also add the mutation observer.

[2022-11-17 12:13] biowebfr opened #5512 "EFG: Send confirmation via e-mail not sent"
### Affected version(s)

4.13.13

### Description

EFG 1.0.36

(EFG) Send **confirmation** via e-mail is not sent.

Maybe it could help, I noticed errors when I try to send it from the Form Data by using the envelop button "Send confirmation mail for reccord X"
![image](https://user-images.githubusercontent.com/46192868/202442429-c6e8774a-c636-4024-ae0a-6ff4548864f2.png)
![image](https://user-imag

[2022-11-17 12:17] biowebfr opened #5513 "EFG: FORM DATA > SQL error when saving a reccord"
### Affected version(s)

4.13.13

### Description

EFG 1.0.36

`An exception occurred while executing a query: SQLSTATE[HY000]: General error: 1366 Incorrect integer`

when I save a reccord on the owner group.

![image](https://user-images.githubusercontent.com/46192868/202444151-d0f05bdd-3f61-4c91-ba1a-b55a4e0b4ead.png)

[2022-11-17 12:19] asaage commented on #5512
EFG is still a thing? 👀

[2022-11-17 12:20] bytehead commented on #5512
EFG is not part of the Contao core, you have to report this issue at the EFG repository.

[2022-11-17 12:20] #5512 closed, assigned to nobody

[2022-11-17 12:21] bytehead commented on #5512
Over here: https://github.com/pbd-kn/contao-efg-bundle

[2022-11-17 12:23] biowebfr commented on #5512
Ok sorry, I saw this :
![image](https://user-images.githubusercontent.com/46192868/202445504-94400dca-1de5-4742-abfc-b9c58c840fce.png)

I thought it could be reported here.

[2022-11-17 12:23] bytehead commented on #5513
This is also EFG related, please submit to https://github.com/pbd-kn/contao-efg-bundle.

[2022-11-17 12:23] #5513 closed, assigned to nobody

[2022-11-17 12:27] bytehead commented on #5512
If you click on `Issues / Bug Report` it will bring you to the right address :)

[2022-11-17 12:27] biowebfr commented on #5512
Do you know another extension like EFG for Contao 4 ?

[2022-11-17 12:28] bytehead commented on #5512
I can recommend [terminal42/contao-leads ](https://extensions.contao.org/?q=leads&pages=1&p=terminal42%2Fcontao-leads) instead 😎

[2022-11-17 12:30] biowebfr commented on #5512
Ok, thanks I did it.

[2022-11-17 12:33] biowebfr commented on #5512
Ok I'll try it right now. Thanks David.

[2022-11-17 12:51] biowebfr commented on #5512
So Contao Leads is good for reccording thing, but it can't do what EFG do. Sending notification emails for admin and user using templates. :'(

Contao is the best CMS solution for me. using it for 10 years. I decided to switch to version 4 and I think EFG should be part of the core. Miss EFG !!!

[2022-11-17 12:58] asaage commented on #5512
I always use that: https://github.com/terminal42/contao-notification_center

[2022-11-17 13:24] bytehead commented on #5512
Definitely go with the notification center!

[2022-11-17 15:44] biowebfr commented on #5512
Thank you @asaage
I installed this excellent notification_center extension and it's great !!!! Bybye EFG ;)

[2022-11-17 15:46] asaage commented on #5512
It will be part of contao_core in the future as far as i understand.

[2022-11-18 00:21] BugBuster1701 opened #5514 "PHP Warning: Undefined array key "HTTP_ACCEPT_LANGUAGE" in Contao/Environment.php on line 229""
### Affected version(s)

4.13.13

### Description

I find regular entries with it in my error.log
[code]

[2022-11-18 09:07] Samson1964 opened #5515 "Dropzone-Uploader funktioniert nicht mehr in 4.9.36"
### Affected version(s)

4.9.36

### Description

Nach dem Update von 4.9.35 auf 4.9.36 funktioniert der Dropzone-Uploader innerhalb von Popup-Boxen nicht mehr. Also z.B. in Nachrichten -> Teaser-Bild hinzufügen. In der Dateiverwaltung (ohne Popup) ist alles i.O.

Um das Ganze nachzuvollziehen (ein Redakteur hatte das Problem), habe ich das in meiner Entwicklungsumgebung unter 4.9.35 getestet. Dor

[2022-11-18 09:10] fritzmg commented on #5043
If you do it on domready, you won't really need a mutation observer anymore though in this case.

[2022-11-18 09:29] keved93 opened #5516 "Vorschau der Seite - Meta-Tag "viewport" fehlt für responsive Kontrolle der Seite"
### Affected version(s)

4.13

### Description

In der Vorschau der Seite wird zurzeit der Meta-Tag für den Viewport nicht gesetzt, um das responsive Verhalten der Seite zu überprüfen. Seite ist im Wartungsmodus, müsste aber jedes mal dafür aus dem Wartungsmodus raus.

[2022-11-18 09:56] ausi commented on #5516
Wie lässt sich der Fehler auf https://demo.contao.org/ reproduzieren?

[2022-11-18 09:58] ausi commented on #5515
Es könnte sich hier um denselben Fehler wie #5508 handeln.

[2022-11-18 09:59] ausi commented on #5514
We should probably use `$_SERVER['HTTP_ACCEPT_LANGUAGE'] ?? null` here: https://github.com/contao/contao/blob/f8c6ca565e92311bac1cb71a50e5c5ce92674237/core-bundle/src/Resources/contao/library/Contao/Environment.php#L229

[2022-11-18 10:01] Samson1964 commented on #5515
Stimmt. Mein Redakteur sprach auch von Problemen bei der Auswahl des wichtigen Teils.

[2022-11-18 10:29] keved93 commented on #5516
Wird geschlossen. Grund ist nicht das Contao, sondern ein fertiges Theme, das wohl irgendwie Einfluss darauf hat. Im Backend und zusätzliche Dateien konnte ich keinerlei Unterschiede finden, die das steuern könnten, finden. Bleibt wohl ein Mysterium.

[2022-11-18 10:29] #5516 closed, assigned to nobody

[2022-11-18 15:57] JNBG commented on #1939
Noch ein Hinweis, für alle die hier nach dem 4.13er Upgrade mal drüber stolpern und bei denen auch das  `<?= $this->mootools ?>` im fe_page.html5 Template steht.
Bei mir fehlte grade noch die Funktion `<?= $this->jsonLdScripts ?>` welche neben dem mootools noch exakt die json-ld daten ausgibt

[2022-11-19 11:21] aschempp commented on #5514
see https://github.com/contao/contao/pull/5517
FYI I reassigned this from 4.9 to 4.13 since we only fix these PHP8 issues in 4.13

[2022-11-19 11:21] #5514 closed, assigned to nobody

[2022-11-19 11:22] aschempp commented on #5043
yes you do, e.g. for tips loaded from subpalettes

[2022-11-19 11:25] aschempp commented on #4147
I'm happy to implement this using https://www.stimulus-components.com/docs/stimulus-clipboard once we have #5406 😎

[2022-11-19 11:38] aschempp commented on #5481
see https://github.com/contao/contao/pull/5518

[2022-11-19 11:38] #5481 closed, assigned to nobody

[2022-11-19 11:41] aschempp commented on #5502
you should probably configure canonical links (in Contao 4.13) to fix this issue for you.

[2022-11-19 11:53] aschempp commented on #5273
see #5465

[2022-11-19 11:53] #5273 closed, assigned to nobody

[2022-11-19 12:07] m-vo commented on #4147
I already implemented this as a stimulus controller + some CSS magic for my file manager prototype. Can contribute this 👍

[2022-11-19 12:14] fritzmg commented on #5502
@aschempp how would the canonical feature in Contao 4.13 help here? You can only define which parameter names are valid, but not which values are valid. Only the module knows if a parameter value is valid or not.

@marcoheinz however, the question is - where do these invalid parameters come from in the first place?

[2022-11-19 12:15] aschempp commented on #5502
Search indexes should ignore the date and time parameters.

[2022-11-19 12:20] fritzmg commented on #5502
Then the search index would never index the detail page of a repeating event with the respective date.

[2022-11-19 16:31] fritzmg opened #5519 "contao.intl.locales cannot be decorated without inheritance"
### Affected version(s)

4.13, 5.0, 5.x

### Description

In https://github.com/contao/contao/pull/3138 we deprecated the `getLanguages` hook:

[code]

However, the `contao.intl.locales` service cannot actually be decorated without inheriting from it, as it does not implement an interface and thus the type `Contao\CoreBundle\Intl\Locales` is needed for dependency injection everywhere else.

Though

[2022-11-19 16:38] fritzmg commented on #5519
Decorating the service may be does not work at all. Even with inheritance, I get the following error during cache warmup:

[code]

[code]

[2022-11-19 16:48] fritzmg commented on #5519
/cc @ausi

[2022-11-19 17:19] ausi commented on #5519
You have to overwrite all public methods, including the ones that you don’t want to change, they need to be forwared to the inner service too.

I think we could, but this should only fire once on initialization I think, not on every method call.
What is your use case to change the locales?

[2022-11-19 18:48] fritzmg commented on #5519
The point was that it is currently rather cumbersome to add new languages (or impossible).

In my case I wanted to add translated versions of additional regional locales that aren't otherwise available.

[2022-11-20 09:47] marcoheinz commented on #5502
Don't know where e.g. Google gets these invalid parameters... There are no existing links to these date/time parameters!

Canonical wouldn't help.

I think the best way to prevent the content from being manipulated by changing the date/time parameters would be 404 if invalid.

[2022-11-20 16:43] richardhj commented on #4937
Addressed all issues in #5520.

[2022-11-20 16:53] m-vo commented on #4147
[copytoclipboard.webm](https://user-images.githubusercontent.com/5305677/202914055-6e16a282-3878-4b37-95c1-6223a8ded1e6.webm)

When clicking three things happen:
1) the clipboard content is set
2) a CSS class is added to the element, which makes the icon change and plays a single shot animation (here: the green flash); if the class is already there, it is removed first, so that the animation is pl

[2022-11-20 18:34] h-e-l-i-x commented on #4160
@aschempp
(tested w/ contao 4.13.13)
re-adding the filter to only handle tl_ prefixed tables using the config.yml

[code]

preferred solution: ignore only specific table "mytable", as some extensions might not use the tl_ prefix.

[code]

[2022-11-21 11:36] #4937 closed, assigned to nobody

[2022-11-21 11:37] leofeyer commented on #4147
I like it. 👍

[2022-11-21 21:37] ausi commented on #5519
Dynamically? Because statically this should already be possible via `contao.intl.locales` and `contao.intl.enabled_locales`. Translations are handled by the Contao translator.

An event might still make sense though, but I’m not sure how exactly this should look.

[2022-11-22 08:36] fritzmg commented on #5519
True, that works 👍

[code]

[code]

I'll close this for now. We can reopen should the need arise.

[2022-11-22 08:36] #5519 closed, assigned to nobody

[2022-11-22 09:28] koertho opened #5521 "Crawl command job argument not working"
### Affected version(s)

4.9, 4.13

### Description

Using the `contao:crawl` command with an job id (existing in the queue or not) always lead to ` [ERROR] Could not find the given job ID. ` As already discussed on [slack](https://contao.slack.com/archives/CK4J0KNDB/p1668156880869559), the problem is, that the queue feature simply is not implemented in the crawl command.

There are two possible s

[2022-11-22 20:45] xApep opened #5522 "Install tool error"
### Affected version(s)

4.13.13

### Description

I have website locally which I want to transfer to production as many times before (different projects).

I exported local database and imported to production db.

Then went thru contao manager installation steps which leads me to Contao Install tool, which shows this:
![image](https://user-images.githubusercontent.com/1315340/203417691-838ad58a-5

[2022-11-22 23:08] #4040 closed, assigned to nobody

[2022-11-23 07:44] fritzmg commented on #5522
You need to remove or update the `server_version` parameter in your `parameters.yml` and then rebuild the Symfony Application Cache.

[2022-11-23 08:14] xApep commented on #5522
I can confirm that this solved the problem.

I somehow missed that parameter when moving. Thank you very much @fritzmg !

[2022-11-23 08:14] #5522 closed, assigned to nobody

[2022-11-23 09:35] theDyingMountain opened #5523 "No possibility to deactivate admin email, if "reg_activate" option is disabled in registration module"
### Description

Currently, there is no possibility to deactivate the info emails about user registration to the system admin, if the "reg_activate" option is disabled.

In my current project, I wrote an own activation email logic via `createNewUser` Hook. I need the possibility to deactivate the admin emails.

[2022-11-23 09:40] fritzmg commented on #5523
I think the plan is to incorporate the notification center into the core in the long run anyway.

In the mean time you could do the same thing that the notification center does: dynamically enabling `reg_activate` within the `createNewUser` hook so that the core does not send any email on its own: https://github.com/terminal42/contao-notification_center/blob/3415b79f545840817b70d9d02f5042a40b082fe

[2022-11-23 09:43] fritzmg commented on #5522
In theory the database update from within the Contao Manager (not the Install Tool) should have pointed you to the misconfiguration.

[2022-11-23 10:21] theDyingMountain commented on #5523
@fritzmg thx for the info and the tip with the `reg_active` option. It works for my case now.

[2022-11-23 15:14] xApep opened #5525 "$this->figure does not render options / class in .html5 templates"
### Affected version(s)

4.13.13

### Description

I have defined sizes in config.yml.

in my html5 template I print image as

`<?php echo $this->figure($item->singleSRC, [0,0, "_dummy"], ['options' => ['attr' => ['class' => 'css-class']]]);  ?>`

Now image does render correctly but there is not class.

[code]

when dumping $this in image.html5 I get this

![image](https://user-images.githubuserco

[2022-11-23 15:40] fritzmg commented on #5525
iirc this is unsupported by the default `image.html5` template. /cc @m-vo

[2022-11-23 18:03] m-vo commented on #5525
Yes. Duplicate of #5367.

[2022-11-23 18:03] #5525 closed, assigned to nobody

[2022-11-23 19:23] jedoCodes opened #5527 "Ajax Request"
### Affected version(s)

5.0.6

### Description

I get the following error message when running an Ajax Json

``

[2022-11-23 19:45] xApep commented on #5525
I have solved this by adding `<?= $this->attr['class']; ?>` to figure html tag in image.html5

Tnx for the feedback.

[2022-11-24 06:07] jedoCodes commented on #5527
This error occurs when you call a backend module without a table stored in the bundle's config.php

[2022-11-24 07:33] xApep commented on #5522
The Contao Manager did not offer any db update - in the "last step" it redirected me to install tool; which is odd since newer version updated db via "contao manager"?

[2022-11-24 10:06] #5523 closed, assigned to nobody

[2022-11-24 10:42] Toflar commented on #5527
Which is not supported I guess. Why is there an `action` there anyway? We cannot help you with this little information.

[2022-11-24 14:37] leofeyer commented on #5295
As discussed in the Contao call, we want to check `isVisible` in the `ContentProxy` class in 4.9 and implement #4407 in version 5.1 but only for article content elements.

[2022-11-24 14:41] leofeyer commented on #475
@bytehead Could you please take a look at this?

[2022-11-24 16:33] bildschirmartist opened #5529 "JS Error in Backend Popups"
### Affected version(s)

4.13.13

### Description

For example, if you want to edit include elements in the backend and the popup opens, a JavaScript TypeError is thrown.
This happens regardless of the content of the backend popup and can also be reproduced in the online demo (https://demo.contao.org/).
Probably this problem is also the cause for problems I have with some Contao extensions (e.g. j

[2022-11-24 16:54] fkaminski opened #5530 "CSS Class/ID Mapping / Preset"
### Description

With Contao 5 & Twig templates, new CSS classes/ID have been introduced and existing naming conventions, in this context, have been overwritten. Therefore, existing (4.x) theme/CSS layouts must be adapted.

It would be nice if there was some kind of "mapping feature" in this regard. On the one hand, to facilitate the change in this regard and on the other hand, if you could import

[2022-11-24 18:12] m-vo commented on #5530
Themes could simply support both classes in their CSS IMHO.

[2022-11-24 22:11] wallenium opened #5531 "Problem with database migration 4.13 to 5.0.6"
### Affected version(s)

5.0.6

### Description

The database migration tool detects 171 issues with the database. Once I try to update/solve them, there is an issue with the hash, and I do not know why. Is there any way to debug this issue?

I am not sure where the is a different hash. Maybe I did sth wrong during upgrade?

`{"type":"error","message":"Specified hash \"b1cedf3304853bf5b2a5ac9deafa

[2022-11-24 22:15] m-vo commented on #5531
Please provide some more background about how to reproduce the problem otherwise it's hard to guess.

[2022-11-24 22:23] wallenium commented on #5531
On my upgraded system, I need to log into contao manager. system check is passing. PHP 8.1 working well. The previous 4.13 worked w/o an problem.
then go to maintenance,Database Migrations - 171 pending schema updates
Start update. All updates fail with a Red Cross, I then check the database-migration.out.log and this one contains the errors.

Not sure where the hash are stored, if I borked them d

[2022-11-25 07:36] fkaminski commented on #5530
Okidoki. Just an idea.

[2022-11-25 07:36] #5530 closed, assigned to nobody

[2022-11-25 08:36] aschempp opened #5533 "Error in undo label listener"
### Affected version(s)

4.13

### Description

I get the following error message in our Sentry.io reporting. Not sure why original data can be empty, but I was unable to do a PR since I'm not sure how the system should behave then?

`Contao\CoreBundle\EventListener\DataContainer\Undo\LabelListener::getTemplateData(): Argument #3 ($originalRow) must be of type array, null given, called in vendor/c

[2022-11-25 08:52] m-vo commented on #5533
Is this the same issue as in https://github.com/contao/contao/issues/5449?

[2022-11-25 09:32] berecont commented on #4476
any news?

[2022-11-25 09:32] fritzmg commented on #5529
Yes, this is basically the same issue as #5508.

[2022-11-25 09:32] #5529 closed, assigned to nobody

[2022-11-25 09:35] fritzmg commented on #4476
No news. Feel free to create or hire a PR that implements the changes as outlined in https://github.com/contao/contao/issues/4476#issuecomment-1092619293

[2022-11-28 08:32] #5508 closed, assigned to nobody

[2022-11-28 08:52] leofeyer commented on #5515
Siehe https://github.com/contao/contao/pull/5534.

[2022-11-28 08:52] #5515 closed, assigned to nobody

[2022-11-28 15:11] doishub opened #5535 "Insert module "root page dependent modules" via content element does not merge css classes"
### Affected version(s)

4.13

### Description

When the Root Page Dependent Module is inserted via a content element, css classes are not merged.

### Reproducible by creating the following modules
- Module A: css class `module-a`
- Module B: css class `module-b`
- Module C (Root page dependent modules): with A and B
- Content Element (Module): Inserts module C and assigns css class `test`

Only

[2022-11-28 18:23] ausi commented on #5535
I don’t think so. I’d expect the css classes to be merged, same as it happens if you include a module as content element.

[2022-11-28 18:53] Schmidty2 opened #5538 "Fehler beim Update von 4.13.13 auf 4.13.14"
### Affected version(s)

4.13.14

### Description

Beim Update von Contao 4.13.13 auf 4.13.14 springt der Contao-Manager in den abgesicherten Modus.
Der folgende Fehler wird in der Konsole ausgegeben:

[code]

In var/logs wir kein Fehler dokumentiert.

PHP 8.1.7 bei All-Inkl
Contao-Manager 1.6.1
Contao 4.13.13 bzw. 4.13.14

[2022-11-28 18:56] planepix commented on #5538
Same here.
https://community.contao.org/de/showthread.php?84182-Update-4-13-13-auf-4-13-14-Fehler

[2022-11-28 18:56] bytehead commented on #5538
Can copy this after running `composer update` on CLI:

[code]

[2022-11-28 18:58] Schmidty2 commented on #5538
Hier noch meine composer.json

[code]

[2022-11-28 19:02] Shoekrates commented on #5538
I also ran in this issue while updating from 4.13.13 to 4.13.14, PHP 8.0.20, Hoster all-inkl.

[2022-11-28 19:07] sdahlmann commented on #5538
I have the same error with Contao update from 4.13.13 to 4.13.14 with Dogado Hosting with PHP 8.1.9.

[2022-11-28 19:24] bright-cloud-studio commented on #5538
I am having the same issue trying to set up a new Contao 4.13 install as of 30 minutes ago or so. PHP 8.1 on Namecheap.

[2022-11-28 19:26] ausi commented on #5538
Please try if https://github.com/contao/conflicts/pull/39 fixes the issue.

[2022-11-28 19:50] ausi commented on #5538
This should be solved by https://github.com/contao/conflicts/pull/39 temporarily.

What caused this issue needs further investigation.

[2022-11-28 19:52] bytehead commented on #5538
PR that introduced a slighty different behaviour: https://github.com/symfony/symfony/pull/48027

[2022-11-28 19:55] Schmidty2 commented on #5538
What do I have to do so that the update can be carried out?

[2022-11-28 19:55] bytehead commented on #5538
Run a `composer update` again :)

[2022-11-28 19:58] planepix commented on #5538
Adding the conflict into the composer,json fixed it. Thank you ausi and bytehead!!

Update to 4.13.14 runs well now.

[2022-11-28 20:23] bright-cloud-studio commented on #5538
I just tried a fresh install again and it is working as expected. Thanks so much!

[2022-11-28 20:38] ausi commented on #5538
Contao 5 was affected too, conflicts added in https://github.com/contao/conflicts/pull/40

[2022-11-29 07:24] Shoekrates commented on #5538
I can confirm that https://github.com/contao/conflicts/pull/39 solves the problem. I just added the line to the conflicts block in composer.json and did a composer update.
In a fresh install this morning without adding anything to the conflicts no problem occured, so I guess the problem is solved.
Thanks!

[2022-11-30 09:03] leofeyer commented on #5535
@bytehead /cc

[2022-11-30 09:39] ausi commented on #5538
Symfony ticket: ~~https://github.com/symfony/symfony/issues/48388~~ https://github.com/symfony/symfony/issues/48404

[2022-11-30 13:18] Toflar opened #5541 "Logged in member in FE preview not working"
### Affected version(s)

5.*

### Description

`$container->get('contao.security.token_checker')->hasFrontendUser()` returns `false` in `preview.php` even though I'm authenticated as a FE member.

Steps to reproduce:

1. Place a module that requires FE authentication on a page. E.g. the "Personal data" front end module.
2. Open the page using the FE preview.

Expected output:

Module should be ren

[2022-11-30 18:18] ausi commented on #5541
Changing https://github.com/contao/contao/blob/a07b562273b0bf94812ccdb99106260055db5c32/core-bundle/src/Security/Authentication/FrontendPreviewAuthenticator.php#L49 to:

[code]

fixed the issue in my test.

Not sure if this is correct though, @aschempp @bytehead ?

[2022-11-30 18:29] bytehead commented on #5541
Looks correct to me 👍 Should I provide a fix and a test?

[2022-11-30 19:49] bytehead commented on #5541
Closing in favor of #5543.

[2022-11-30 19:49] #5541 closed, assigned to bytehead

[2022-11-30 20:38] bytehead commented on #5535
Aside from the missing classes - does it make sense to have a root page dependent module as a content element (which itself is tied to a article on a page under a root page)?

[2022-11-30 22:29] ausi commented on #5535
I think it does because the article itself can be placed on several pages.