[2019-12-16 16:11] Toflar commented on #1088
What? We're talking `web/index.php` to `public/index.php` here, right? How is that related to `/app/Resources`?

[2019-12-16 16:29] Defcon0 commented on #1104
Because of line 72:

[code]

It calls contao:install-web-dir without any parameters. But I need to call it with --no-dev parameter so that app_dev.php isn't created in the live system.

[2019-12-16 17:32] leofeyer commented on #1088
Both are non-required changes that do not have to be done, because the "old" way works just fine. Still we now support the `config/` directory and we have deprecated `app/Resources/config/`, which has no benefit except adjusting to the Symfony standards.

But switching from `web/` to `public/` suddenly needs more benefits than that?

[2019-12-16 17:39] Toflar commented on #1088
`app/Resources/config` to `config` can be migrated automatically. The DirectoryIndex of the webserver cannot.

[2019-12-16 17:40] leofeyer commented on #1088
That's true. Still we should think of an upgrade path so we can change this in a future version, don't you think?

[2019-12-16 17:48] Toflar commented on #1088
I don't think we can. The only way that would work would be to have the `public` directory alongside the `web` directory and that again would mean we have to map everything that's generated into `web`  or `public` vice-versa.

The only option for me here is a hard break. Either we do that in 4.9 LTS or 4.10.

Also note that we cannot just rename a config value because unfortunately there's still q

[2019-12-16 19:35] aschempp commented on #1088
This cannot be changed in 4.9 because of lots of (potential) BC breaks. We can discuss this for 4.10 imho, maybe someone can come up with a clever way (like symlinking `web` to `public` 😉 )

[2019-12-16 19:36] aschempp commented on #1104
Have you tried executing that command after the regular callback? Will it remove the `app_dev.php`? Personally, I simply use deployment tools to remove the file afterwards 😈

[2019-12-16 20:02] aschempp commented on #1096
you're confusing it again 😂
Doctrine has it's own event dispatcher, because it is used outside Symfony as well. Contao uses the Symfony event dispatcher, therefore we use `kernel.event_listener` and not `contao.event_listener`. There is absolutely no benefit from using another event dispatcher.

[2019-12-16 20:05] contaoacademy commented on #1088
Is this change really strategically so great? A lot of blog posts, videos and forum posts would no longer fit.

Especially for inexperienced users there will be a lot of confusion...

[2019-12-16 20:41] Defcon0 commented on #1104
I could do that, but once the app_dev.php is created I have to delete it again afterwards. I try to avoid creating it in the first place. What kind of development tools do you mean?

[2019-12-16 21:10] leofeyer commented on #1096
I see. 👍

[2019-12-16 21:10] #1096 closed, assigned to nobody

[2019-12-16 21:11] leofeyer commented on #1088
+1 for a hard break in Contao 4.10 then.

[2019-12-17 07:13] aschempp commented on #1104
I mostly use https://deployer.org now but worked with https://www.magephp.com for a long time.

[2019-12-17 09:47] Defcon0 commented on #1104
Ah ok, I'll take a look into this tools.

For the sake of update safety, I added a new script after the core's one as you advised. This way the app_dev.php exists for some milliseconds which is ok I guess ;-)

Thanks!

[2019-12-17 09:47] #1104 closed, assigned to nobody

[2019-12-17 11:27] tixtrix commented on #809
Vielen Dank für die Mühe der Tester, auch wenn wir keine Erklärung gefunden haben (was unbefriedigend ist). Es ist schwierig, wenn das System (oder Symfony) zumindest bei einigen der größten Hoster (selbst mit sehr fetten Paketen) derartige Performanceprobleme hat, dass man es im Grunde nicht mehr verwenden kann.

[2019-12-17 11:39] Olli opened #1108 "Fehlendes endif"
**Affected version(s)**
4.8.6
**Description**
Das if für die Sizes hat kein endif in  contao/core-bundle/src/Resources/contao/templates/picture/picture_default.html5

` <?php if (!empty($this->img['sizes'])): ?> sizes="<?= $this->img['sizes'] ?>" `
**How to reproduce**
Eine ganz normale Bildausgabe sollte nicht klappen.

[2019-12-17 11:42] fritzmg commented on #809
Wieso das? Das Problem tritt ja nur für genau einen Request alle 24h auf. Oder hast du ein anderes Problem?

[2019-12-17 11:52] cliffparnitzky commented on #1108
Hier? https://github.com/contao/contao/blob/master/core-bundle/src/Resources/contao/templates/picture/picture_default.html5#L5

Ich meine, dass alles passt.

[2019-12-17 11:53] fritzmg commented on #1108
Ich zähle 11 `if` und 10 `endif` ;)

[2019-12-17 11:57] tixtrix commented on #809
In der Tat hatte ich gelegentlich das Gefühl, dass das Problem auch in kürzeren Intervallen auftritt. Und wenn der Kunde oder ein Besucher seiner Webseite 15 Sekunden warten muss, ist das ein Problem.

[2019-12-17 12:08] cliffparnitzky commented on #1108
Hmmm, frage ich mich wie das gezählt wird. Beim oben verlinkten Template im `master` komme ich immer auf korrekt Werte.

Bei dem Template im `4.8.6` Tag stimmt wirklich was nicht: https://raw.githubusercontent.com/contao/contao/4.8.6/core-bundle/src/Resources/contao/templates/picture/picture_default.html5

Allerdings zähle ich 10 `if` und 9 `endif`.

[2019-12-17 12:22] christianbarkowsky commented on #1108
Den Fehler kann ich bestätigen.

[2019-12-17 12:40] Anke commented on #1108
Ich auch. (Wäre ja nicht so schlimm, wenn dadurch in C4 nicht gleich die komplette Website lahm gelegt würde.)

[2019-12-17 12:42] contaoacademy commented on #1108
Als Workaround ein neues Template `picture_default.html5` anlegen und dann in Zeile 9 das `endif` ergänzen.

`<?php if (!empty($this->img['sizes'])): ?> sizes="<?= $this->img['sizes'] ?>"<?php endif; ?>`

[2019-12-17 12:51] christianbarkowsky commented on #1108
Oder hier komplett zum einfügen:

https://gist.github.com/christianbarkowsky/d65c5dca8ffb4c4089f76a0df382f967

[2019-12-17 12:51] frontendschlampe commented on #1108
Der Fehler ist in Commit 9cb3f27f6da19d87540e8e49161e33131e471c85 entstanden. Da wurde aus einem `elseif` ein `if` und somit fehlt nun jetzt das `endif`

[2019-12-17 12:55] Anke commented on #1108
Shit happens ;-)

[2019-12-17 13:26] Anke opened #1110 "BE-Login: Set focus on 2FA field"
**Description**
Just a comfort issue: Wouldn't it be nice to already have the cursor in the 2FA-field? (after login users are focused on their phones, blindly entering the displayed code - to no avail)

**Example**

[2019-12-17 13:40] leofeyer commented on #1108
See #1111

[2019-12-17 13:40] #1108 closed, assigned to leofeyer

[2019-12-17 13:56] michaelgawlik opened #1112 "Update to 4.8.6"
After update from 4..8.5 to 4.8.6 I got this error:

`[2019-12-17 14:44:18] request.CRITICAL: Uncaught PHP Exception ParseError: "syntax error, unexpected end of file, expecting elseif (T_ELSEIF) or else (T_ELSE) or endif (T_ENDIF)" at .../vendor/contao/core-bundle/src/Resources/contao/templates/picture/picture_default.html5 line 14 {"exception":"[object] (Symfony\\Component\\Debug\\Exception\\Fat

[2019-12-17 13:57] bytehead commented on #1112
See #1111

[2019-12-17 13:57] #1112 closed, assigned to nobody

[2019-12-17 16:45] BugBuster1701 commented on #994
Funktioniert. Perfekt wäre dann noch ein passendes iconWEBP.svg.

[2019-12-17 21:08] Tastaturberuf commented on #1024
Manchmal wünsch ich mir schon so 3-4 Felder in einer Reihe zu haben, vorallem bei "kleinen" Widget-Values.

[2019-12-17 21:17] Tastaturberuf commented on #975
Gute Idee.
Von der Syntax wäre ich für `{{insert_module::42|static//Kommentar}}` oder `{{insert_module::42|static#Kommentar}}`.

[2019-12-17 21:22] Tastaturberuf commented on #974
@leofeyer add Label `easy pick`

[2019-12-17 21:32] m-vo commented on #1088
I'd rather be able to configure it. So for new projects it would be `public` to be in line with the symfony docs but `web` for existing ones. I don't see any benefit in the BC break. :man_shrugging:

If we want to change the default, I'd still vote for a config option so that noone is forced to change their server and deployment settings.

[2019-12-17 21:50] Toflar commented on #1088
You can configure it already. Fixing the mentioned hardcoded ones should be an easy-pick.

[2019-12-18 14:25] fritzmg commented on #937
I did find a problem. Consider the following setup:

![Screenshot_2019-12-18 Themes › Contao Official Demo › Image sizes › Edit image size ID 1 demo contao org(2)](https://user-images.githubusercontent.com/4970961/71093994-82c00280-21aa-11ea-835a-2f5425a5dea5.png)

Before, the output of this image size was

[code]

Now, the output is

[code]

This causes the image to be shown like this:

![Screens

[2019-12-18 16:07] contaoacademy commented on #937
I also noticed the same behavior yesterday after the update to 4.8.7.

At the moment I have helped myself as follows:
![pixel](https://user-images.githubusercontent.com/23719181/71102453-d2a5c600-21b8-11ea-9ba8-85a90e4f11e8.jpg)

[2019-12-18 16:11] fritzmg commented on #937
@contaoacademy in your case there should be no problem, regardless of what you actually put into the density/scaling.

[2019-12-18 16:14] contaoacademy commented on #937
My old setting was "Breite" 320.

[2019-12-18 16:19] fritzmg commented on #937
Yes, that causes the problem in conjunction with your `sizes` attribute. The density/scaling is irrelevant.

[2019-12-18 17:00] leofeyer commented on #1088
I have removed the hardcoded paths in #1116.

[2019-12-18 17:04] leofeyer commented on #203
But it can be configured "else where", can't it? See https://github.com/contao/contao/issues/203#issuecomment-548348921

[2019-12-18 17:26] ausi commented on #937
@fritzmg If you set the width to `400` isn’t it correct if it is shown with that width in the front end? I think you have to set `width: 100%; height: auto;` for your image in that case.

Can you please also try if `width: auto; height: auto;` would fix your issue?

[2019-12-18 23:07] fritzmg commented on #937
Not if the `sizes` attribute says otherwise, at least that is what I would expect. The `width` and `height` attribute are supposed to give the browser the correct aspect ratio information of the image, but the actual size should be determined by a multitude of factors.

What does the specification say about an image with the following markup:

[code]

https://jsfiddle.net/v5xj9krz/

Should it be d

[2019-12-18 23:31] fritzmg commented on #203
But that's not really an argument. You can configure _all_ the (remaining) system settings via `contao.localconfig`. By that logic, we have to remove all system settings from the back end immediately?

The point is, it's a bad user experience that all of a sudden some settings cannot be configured either via the back end or the Contao Manager any more. What is the benefit of having to configure it

[2019-12-19 09:47] Toflar commented on #203
I guess the point here is the following: The Contao Manager will never be able to provide additional information for `contao.localconfig` configuration. This is an arbitrary array with no validation and info at all. It can contain any key-value combination. It's not there to be the only way to configure a value. It's just there so you can configure it without having a `localconfig.php`.

So I agre

[2019-12-19 09:49] fritzmg commented on #203
Exactly. But I also think this should not be done, as long as the Contao Manager is not able to actually change any of these settings yet, in order not to degrade the user experience.

[2019-12-19 10:09] Toflar commented on #203
Well that's another story. The Manager will very likely never have a UI with form fields but rather a way to support you writing the YAML configuration (showing e.g. the info from the configuration tree, validating etc.).
A UI with form fields would be a never-ending story and require huge development efforts which I don't think we'll be able to deliver. If you don't think about the simple key-val

[2019-12-19 10:27] fritzmg commented on #203
But what is the benefit of doing that for any of the aforementioned user groups? A lot of people in the forum were told for the past one or two years, that they would be able to change settings like `prepend_locale` or `url_suffix` (and now more) in the future with the Contao Manager, as that was something that was previously easily configured in the back end of Contao. And I think all of them exp

[2019-12-19 10:50] Toflar commented on #203
Configuration from within the app potentially kills the it and you're unable to fix it again. We cannot optimize caches, the container or performance. Nothing of all of that is possible and that's why the configuration of any app **must** happen outside of that app.
So this is something we dropped intentionally and for good reasons.

They are free to expect whatever they want to expect. At the end

[2019-12-19 10:59] fritzmg commented on #203
I don't see how settings like `editableFiles`, `allowedTags`, `allowedDownload`, `uploadTypes`, `maxFileSize` or the whole `chmod_legend` can be optimized for caching or performance in some way. But may be you can enlighten me ;)

In my opinion it is strongly related, as the configuration of a Content Management System like Contao is part of the user experience. At the very least, one should not b

[2019-12-19 12:37] fritzmg opened #1117 ""Illegal mix of collations" when creating/editing folders in the file manager"
**Affected version(s)**
4.8.7

**Description**
When creating or editing a folder in the file manager, an SQL error "Illegal mix of collations" will occur, in certain environments.

[code]

According to

[code]

the character set of the database is `utf8mb4` and the collation is `utf8mb4_unicode_ci`. According to

[code]

the table collation is `utf8mb4_unicode_ci`. According to

[code]

the _Colla

[2019-12-19 13:08] m-vo commented on #1117
This could also be replaced by a generator that does not rely on the database like `ramsey/uuid`. (Ideally the calling code would use a pattern like 'collision detection + retry' but in general it's ok to omit that.)

We should understand the error though.

[2019-12-19 13:10] fritzmg commented on #1117
I have tried with

[code]
(changed line 680 of `\Contao\Database::getUuid` accordingly) but still got the same error.

[code]

[2019-12-19 13:18] fritzmg commented on #1117
I was able to fix it the following way:

[code]
🤷‍♂

[2019-12-19 13:33] ausi commented on #937
It should work with the correct `srcset`: <https://jsfiddle.net/jmvq1sc8/>

So I think adding `img { width: auto; height: auto; }` to your CSS would be the correct solution for your use case. I’m not sure if we can or should inject this CSS automatically.

[2019-12-19 13:34] m-vo commented on #1117
Could you execute the following?
[code]

[2019-12-19 14:16] leofeyer commented on #203
The plan was to remove the "editable files" setting, but as discussed in Mumble on December 19th, we want to preserve it and move it to the bundle configuration.

[2019-12-19 14:23] leofeyer commented on #933
As discussed in Mumble on December 19th, we can ignore the initial problem, because normally you cannot be logged in with an empty database. We want to fix the method call in the `tl_article` DCA (and possible other DCAs) though.

[2019-12-19 14:26] leofeyer commented on #993
See #1087

[2019-12-19 14:26] #993 closed, assigned to nobody

[2019-12-19 14:30] aschempp commented on #894
the majority of the Mumble call participants agreed that there might be a use case, and therefore there's not valid/hard reason to remove it.

[2019-12-19 14:30] #894 closed, assigned to nobody

[2019-12-19 14:35] leofeyer commented on #1077
As discussed in Mumble on December 19th, we want to warm all languages.

[2019-12-19 15:01] leofeyer commented on #853
Wie am 19. Dezember auf Mumble besprochen, sollen zukünftig nur Benutzer Themes importieren und exportieren können, die Zugriff auf den Template-Editor haben.

[2019-12-19 15:06] leofeyer commented on #845
As discussed in Mumble on December 19th, we want to stick to the `TagAwareAdapter`.

[2019-12-19 15:06] #845 closed, assigned to nobody

[2019-12-19 15:38] Toflar commented on #809
Nur zur Info: Wir haben es auch am heutigen Mumble-Call wieder besprochen und wir haben mittlerweile Zugriff auf mehrere Systeme die betroffen sind. Das Ticket ist nicht vergessen, es ist nur halt extrem schwierig einzugrenzen und die Tatsache, dass es erst immer nach n Stunden wieder auftritt, hilft beim Nachstellen des Problems auch nicht gerade...

[2019-12-19 15:38] leofeyer commented on #820
As discussed in Mumble on December 19th, we agree that the two icons could be optimized. If you have any ideas, please upload your suggestions here.

[2019-12-19 15:44] tixtrix commented on #809
Top! Danke für die Info. Ist wirklich nicht einfach. Viel Erfolg.

[2019-12-19 15:50] leofeyer commented on #1015
As discussed in Mumble on December 19th, we want to allow numeric aliases in the future, however, if there is a page with the ID 404 and no alias and the user tries to add the alias "404" to a new page, Contao must throw a "duplicate alias, please add an alias to the page ID 404 to use the alias 404" error message.

[2019-12-20 07:00] zonky2 opened #1119 "Neue CSS-Klassen für "full screen mode""
mit dem neuen "full screen mode" ist die kleinste Aufteilung der Eingabemasken vom 50% immer noch recht breit - die Idee von https://github.com/OMOSde/contao-om-backend/blob/master/FEATURES.md#17-backend-css finden wir vom "MM-Team" sehr gut...

Bitte kurze Rückmeldung, ob sowas in Planung ist oder aus OMO übernommen wird - ansonsten würden wir das für MM in unser CSS + Stylepicker einbauen.

[2019-12-20 08:58] Toflar commented on #809
Okay, also meine ersten Erkenntnisse aus ein paar einfachen Debugging-Statements in der `index.php`:  `$kernel->handle()` braucht im Problemfall (also 1. Aufruf) 12 Sekunden. Wir können also ausschliessen, dass es sich um `terminate()` handelt. Auf dem Testserver läuft eh FPM, das war also zu erwarten.
Es wäre zu schön, wenn wir jetzt Blackfire hätten, aber nun gut, dann halt weiterhin alle paar x

[2019-12-20 09:43] leofeyer commented on #155
See #1121

[2019-12-20 09:43] #155 closed, assigned to leofeyer

[2019-12-20 09:54] jaennert commented on #809
Nach dem Umzug aus der Subdomain und die Hauptdomain jaennert24.de <http://jaennert24.de/> stelle ich fest, dass die Seite fST ohne Verzögerung aufgebaut wird. Allerdings habe ich auch das Sicherheitsupdate für 4.8. installiert und ein Update des ODD-Themes.

Für die Subdomain asv-nv.jaennert24.de wurde dann auch das Sicherheitsupdate und Themeupdate eingespielt. Hier beträgt die Startverzögerung

[2019-12-20 10:09] fritzmg commented on #937
Yeah, you are right 😃

Imho this change should be reverted and added to `4.9` instead. Plus a mention in the [UPGRADE.md](https://github.com/contao/contao/blob/master/UPGRADE.md).

[2019-12-20 10:38] leofeyer commented on #994
Siehe #1122

[2019-12-20 10:47] aschempp commented on #1119
🤷‍♂ der Link zeigt mir leider nichts

[2019-12-20 10:52] zonky2 commented on #1119
ich sehe da eine Beschreibung und zwei Screenshots - Du nicht?

ansonsten - das CSS: https://github.com/OMOSde/contao-om-backend/blob/master/src/Resources/public/css/om_backend.css#L130-L158

[2019-12-20 11:45] leofeyer commented on #618
See #1123

[2019-12-20 11:45] #618 closed, assigned to leofeyer

[2019-12-20 11:52] leofeyer commented on #695
Siehe #1124

[2019-12-20 11:52] #695 closed, assigned to leofeyer

[2019-12-20 12:40] zonky2 commented on #618
thx!

[2019-12-20 14:53] woluka commented on #809
Ein ähnliches Verhalten hab ich bei zwei Installationen (beide 4.8.5) auch bemerkt. Allerdings könnte es auch daran liegen, dass die Seiten seit dem going live auf der Hauptdomain regelmäßig aufgerufen werden.

[2019-12-20 17:23] leofeyer commented on #788
See #1128

[2019-12-20 17:23] #788 closed, assigned to leofeyer

[2019-12-21 13:35] ausi commented on #937
I’m not sure if we should revert it. IMO using `sizes` to set the width of an image is not recommended and probably doesn’t affect too much installations.

As the fix is very simple by adding `img { width: auto; height: auto; }` I think the improvement in performance outweighs the small behavior change, don’t you think?

[2019-12-21 13:37] fritzmg commented on #937
I use it all the time and I was unaware that this is not recommended. To be fair, it won't affect any of our installations, as our CSS base includes `img { width: auto; height: auto; }` anyway but still.

[2019-12-21 13:37] fritzmg commented on #937
Imho this change causes too many problems for a bugfix release and seems unnecessary with `4.9` right around the corner. At least with `4.9` we can properly advertise the change.

[2019-12-22 10:28] leofeyer commented on #937
@contao/developers What are your opinions on this one?

[2019-12-22 11:06] ausi commented on #937
I’m OK with both (keeping as is or revert the change) with a slight tendency to keeping it as is.

[2019-12-23 11:33] mlwebworker commented on #582
Ich habe heute diesen Fehler auch.
Contao 4.8.7
Provider DF
PHP 7.3

Der Fehler tritt nur auf wenn ich nicht im Backend eingeloggt bin

[2019-12-23 12:10] fritzmg commented on #582
@mlwebworker lässt du http auf https redirecten und example.org auf www.example.org (oder umgekehrt, je nach dem)?

[2019-12-23 12:41] mlwebworker commented on #582
Nein für die Version, die gerade in der Entwicklung ist kann mir der Kunde kein Zertifikat zur Verfügung stellen. DF stellt ja keine Lets Encrypt Zertifikate zur Verfügung und Umleitung auf www habe ich in der Version für die Entwicklung auch noch auskommentiert.
Habe mir aber auf Grund Deines Hinweises mal die .htaccess genauer angeschaut. Dort habe ich nämlich gestern Weiterleitungen aus der Liv

[2019-12-23 16:53] leofeyer opened #1133 "Content element access migration"
Provide a migration for #705 once #709 has been merged.

[2019-12-30 13:59] Toflar commented on #809
Weitere Erkenntnisse (teste noch immer mit einer 4.8):

1. Ich hab mal alle relevanten Verzeichnisse in ein git-Repo committet und vorher und nachher verglichen. Keine Veränderung. Also es liegt nicht daran, dass irgendwelche Cache-Dateien neu geschrieben werden, sie sind alle unverändert.
2. File I/O auf dem betroffenen Server scheint normal. Ist jetzt nicht der schnellste (wohl keine SSD's) aber

[2019-12-30 15:28] Tastaturberuf opened #1135 "No label keys in widgets if there is no translation"
**Affected version(s)**
4.8.x

**Description**
Since #953 , if you have no label-key definied in the DCA and there is no translation-file you can't see the label key in the widgets.

![image (1)](https://user-images.githubusercontent.com/1027521/71588014-39fc3800-2b20-11ea-890e-916c7ad51ea4.png)

Reproduce
---
- install contao
- delete all languages except of `en`
- delete/rename `tl_member.xlf`
-

[2019-12-30 21:59] Mynyx opened #1136 "Fehler bei Cache Warmup während Installation"
Fehlermeldung:
[code]
Vollständige Konsolenausgabe:
[code]

[2019-12-30 23:16] Mynyx commented on #1136
Contao ist offenbar nicht mit der heute Nachmittag erschienenen Version 1.11.0 von knplabs/knp-time-bundle kompatibel. Wenn explizit die Version 1.10.0 gesetzt wird, tritt der Fehler nicht auf.

[2019-12-30 23:22] xchs commented on #1136
Ich kann den Fehler ebenfalls bestätigen.

[2019-12-31 08:41] Tastaturberuf commented on #1136
Ist zumindest im Master-Branch schon gefixt: https://github.com/contao/contao/blob/master/core-bundle/src/Translation/Translator.php#L21. Muss mit 4.9 also wieder aus der `contao/conflicts` raus.

[2019-12-31 09:33] Mynyx opened #1137 "Sortierreihenfolge von Quelldateien in Inhaltselementen kann ohne Berechtigung für Feld Sortierreihenfolge geändert werden"
In einem Inhaltselement (beispielsweise Elementtyp Downloads) kann ein Benutzer, der die Berechtigung für das Feld Quelldateien (``multiSRC``) hat, auch die Sortierreihenfolge (``orderSRC``) der ausgewählten Dateien ändern ("Elemente können durch Ziehen umsortiert werden"), wenn er keine Berechtigung für das Feld Sortierreihenfolge (``orderSRC``) hat.

[2019-12-31 09:55] Mynyx opened #1138 "Bezeichnung für Feld Sortierreihenfolge im Versionsvergleich"
Wenn in einem Inhaltselement (beispielsweise Elementtyp Downloads) die Sortierreihenfolge der Quelldateien geändert wird, dann wird für das Feld Sortierreihenfolge (``orderSRC``) im Versionsvergleich als Bezeichnung lediglich "S" angezeigt:
![image](https://user-images.githubusercontent.com/1632642/71617276-a592e380-2bba-11ea-949e-32da2515d57e.png)

Der Fehler tritt nur in Contao 4.8 auf, in Conta

[2019-12-31 10:19] Mynyx opened #1139 "Übersetzung tl_user.amg.1"
Die Übersetzung ``tl_user.amg.1`` müsste statt ``Mitglieder dieser Gruppe können in der Frontend-Vorschau verwendet werden.`` korrekt ``Mitglieder dieser Gruppen können in der Frontend-Vorschau verwendet werden.`` lauten.

https://github.com/contao/contao/blob/cd84cd0079583c6cf965e9367a1325942abbc479/core-bundle/src/Resources/contao/languages/de/tl_user.xlf#L216-L219

[2019-12-31 11:10] Mynyx opened #1141 "Fehlende Bezeichnung für Versionen von tl_files"
In der Versionsübersicht auf dem Dashboard wird bei Versionen zur Tabelle `tl_files` keine Beschreibung angezeigt.

[2019-12-31 11:13] ausi commented on #1136
Contao 4.4 sollte nicht betroffen sein, da das time bundle nicht mit Symfony 3 kompatibel ist.
Contao 4.9 ist bereits kompatibel wie bereits angemerkt.
Für Contao 4.8 gibt es einen fix: #1140

[2019-12-31 13:56] Mynyx opened #1142 "Kein System-Log Eintrag bei fehlgeschlagener Zwei-Faktor-Authentifizierung"
Bei Eingabe eines falschen Bestätigungscodes für die Zwei-Faktor-Authentifizierung wird, im Gegensatz zur Eingabe eines falschen Passwortes, kein System-Log Eintrag erstellt.

[2019-12-31 14:28] Mynyx opened #1143 "Link Backend-Tastaturkürzel"
Der Link unter Backend-Tastaturkürzel auf dem Dashboard verweist noch auf die alte Dokumentation https://docs.contao.org/books/manual/current/de/02-administrationsbereich/backend-tastaturkuerzel.html statt https://docs.contao.org/manual/de/administrationsbereich/backend-tastaturkuerzel/.

[2019-12-31 19:36] Mynyx opened #1144 "Versionsvergleich Frontend-Modul Personendaten Feld "Editierbare Felder""
Wenn bei einem Frontend-Modul mit dem Modultyp Personendaten im Feld "Editierbare Felder" die Auswahl geändert wird, dann wird im Versionsvergleich nicht angezeigt, welche Änderungen konkret vorgenommen wurden:

![image](https://user-images.githubusercontent.com/1632642/71632100-e3b8f300-2c0c-11ea-88c8-fd483d4f8a90.png)

[2020-01-01 14:41] Mynyx commented on #920
Bei Wegnahme des Feldes könnten Redakteure aber gar keine Bilder mehr bearbeiten.

Es ist darüber hinaus ja auch nicht so einfach ersichtlich, wo das Problem herrührt, wenn zunächst mal nur festgestellt wird, dass Bildgrößeneinstellungen verloren gehen. Bis das Problem debuggt ist und herausgefunden ist, dass es an den Berechtigungen liegt, muss für die Fehlersuche erstmal einige Arbeitszeit aufge

[2020-01-02 13:50] jds1993cologne opened #1146 "Fehler bei cache:warmup ausgelöst durch Knp\Bundle\TimeBundle\DateTimeFormatter::__construct()"
**Affected version(s)**.
4.7

**Description**
Folgende Fehlermeldung:
13:42:55 ERROR     [console] Error thrown while running command "--ansi cache:warmup --env=prod". Message: "Argument 1 passed to Knp\Bundle\TimeBundle\DateTimeFormatter::__construct() must implement interface Symfony\Contracts\Translation\TranslatorInterface, instance of Contao\CoreBundle\Translation\Translator given, called in

[2020-01-02 13:54] fritzmg commented on #1146
Contao 4.7 has reached its end of life already. You need to update to Contao 4.8.7. See https://contao.org/en/release-plan.html

[2020-01-02 14:00] jds1993cologne commented on #1146
I updated the composer.json to 4.8, but the same error was thrown

[2020-01-02 14:10] fritzmg commented on #1146
What exactly did you do? You need to require `contao/manager-bundle` `4.8.*` and then run a full composer update.

[2020-01-02 14:24] jds1993cologne commented on #1146
this is the composer.json:

[code]

the command was `composer update`

[2020-01-02 14:33] fritzmg commented on #1146
Please post your `composer.json` in three back ticks.

You should also add
[code]
to your requirements and run a composer update again.

[2020-01-02 14:56] leofeyer commented on #697
Siehe #1148

[2020-01-02 14:56] #697 closed, assigned to leofeyer

[2020-01-02 15:02] leofeyer commented on #789
See #1149

[2020-01-02 15:02] #789 closed, assigned to leofeyer

[2020-01-02 15:10] leofeyer commented on #936
See #1150

[2020-01-02 15:10] #936 closed, assigned to leofeyer

[2020-01-02 16:32] zonky2 commented on #1024
@Tastaturberuf siehe https://github.com/contao/contao/issues/1119

[2020-01-02 16:35] zonky2 commented on #975
`#` würde ich ausschließen, da das z.B. für einen Anker in einer Parameterübergabe enthalten sein könnte z.B. `{{file::my_mod.html5?diesunddas.html#tab1}}`

[2020-01-02 16:43] jds1993cologne commented on #1146
works fine, thanks a lot

[2020-01-02 16:43] #1146 closed, assigned to nobody

[2020-01-02 17:02] fritzmg commented on #203
Shouldn't this stay open? :)

[2020-01-02 17:04] leofeyer commented on #203
Yes. It was closed automatically because I commented `Fixes #203` in the latest PR. 😁

[2020-01-02 19:36] xchs commented on #1146
Related: https://github.com/contao/contao/issues/1136

[2020-01-03 07:50] leofeyer commented on #1139
Ich habe die Übersetzung angepasst.

[2020-01-03 07:50] #1139 closed, assigned to nobody

[2020-01-03 07:56] leofeyer commented on #1143
Ich habe die deutsche Übersetzung angepasst. Die englische Übersetzung können wir aber erst anpassen, nachdem die englische Anwenderdoku veröffentlicht wurde.

[2020-01-03 08:03] leofeyer commented on #1144
Die SQL-Definition von `tl_module.editable` ist falsch, daher denkt die `Versions`-Klasse, dass es sich um ein Binary-Feld handelt. Es muss `text NULL` anstatt `blob NULL` sein.

[2020-01-03 09:45] fritzmg commented on #1144
Hm, but all `*Wizard` input types use `*blob NULL`, not just `tl_module.editable`.

[2020-01-03 09:59] leofeyer commented on #1144
Then we need to fix them all. 🤷‍♂ Unless they contain real binary data such as UUIDs of course.

[2020-01-03 11:27] leofeyer opened #1152 "Improve the contao:crawl output"
<img width="1129" alt="" src="https://user-images.githubusercontent.com/1192057/71721058-096c1500-2e24-11ea-8cc7-b737c16c6bb5.png">

I can see that the crawler has found three broken links, however, I have to look twice to actually find them in the exception text.

@contao/developers Do you think we should invest time to improve this?

[2020-01-03 12:30] Toflar commented on #1152
Not sure how this can be improved, really. I mean, I knew that a table might be better but these are log entries after all. So it's just a line of text for every error and it can contain arbitrary data. And subscriber A does provide different data than subscriber B. So there's not too much we can unify here which would be required to have a table.

[2020-01-03 12:32] Toflar commented on #1152
I do have a few ideas though. Imho the functionality is correct and we are talking about "smoothening" 4.9 so we have a bit more time here.

[2020-01-03 15:26] Toflar commented on #809
Weitere Fakten:
Ich bin mal den Erkenntnissen 3) und 4) vom letzten Mal weiter nachgegangen:

3) Also die 2 Aufrufe sind folgende: Einmal `/` und einmal `/home.html` und das obwohl ich explizit direkt `/home.html` requested habe. Das geschieht auch nur beim ersten Mal. Danach hab ich dieses Phänomen nicht mehr. Ich muss also noch immer davon ausgehen, dass vor diesem Server ein Proxy liegt der irg

[2020-01-03 16:49] leofeyer commented on #1081
See #1155 for the fix for the new parameters. We have also added "wrong" parameters in #537:

[code]

Shall I try to fix these as well?

[2020-01-03 16:55] Toflar commented on #1081
We have to keep them for BC but we can provide new ones and use `setDeprecated()` on the current ones.

[2020-01-04 12:42] fritzmg commented on #1117
@m-vo
[code]
[code]
[code]

[code]
[code]
[code]

[2020-01-04 12:55] fritzmg commented on #1117
If I execute
[code]
before, then I get the following results:
[code]
[code]
[code]

[code]
[code]
[code]

[2020-01-04 13:41] fritzmg commented on #1117
To me this looks like the defined character set is not set during the connection of the database. Prior to PHP `5.3.6` the `charset=…` parameter of the PDO Data Source Name (DSN) is ignored. Indeed, if I execute
[code]
directly after the connection has been established in `Doctrine\DBAL\Driver\PDOMySql\Driver::connect`, the error does not happen anymore.

The **PHP** version is `7.3.8`, the **PDO

[2020-01-04 16:27] aschempp commented on #1137
In welcher Contao Version? Das Feld `orderSRC` sollte in den Benutzerberechtigungen nicht erscheinen.

[2020-01-04 16:47] aschempp commented on #1136
Closed in favor of #1140

[2020-01-04 16:47] #1136 closed, assigned to nobody

[2020-01-04 19:33] Tastaturberuf commented on #975
Absolut korrekt, daran hatte ich nicht gedacht.

[2020-01-04 19:34] Tastaturberuf commented on #1024
Oh nice. Ich nutze ich OM-Backend eh relativ oft.

[2020-01-04 20:04] kroerig opened #1156 "Useragent für ausgehende Mails"
Beim Aufsetzen und Testen eines neuen Antispam-Gateways mit RSPAMd bin ich bei der Analyse der über die Webseite verschickten Mails auf einen Eintrag gestoßen:

XM_UA_NO_VERSION (0.01): X-Mailer/User-Agent has no version

Das bringt zwar nicht massig an Spampunkten, aber ich finde auch die 0.01 (default) müssen nicht sein. Lässt sich da was machen, dass Contao bei ausgehenden Mails einen Useragent

[2020-01-05 14:51] kroerig commented on #1088
Perhaps you could implement a migration tool in Contao-Manager.

[2020-01-06 14:47] leofeyer commented on #1117
If this indeed fixes the problem, you should report the issue in the Doctrine repository so they add the line to the MySQL driver.

[2020-01-06 14:49] fritzmg commented on #1117
Well, but this should not be necessary in the first place. Since the PHP version is somewhat outdated anyway, I'll ask the hoster first to update it, just to be sure that this is not a freak issue in this PHP version.

[2020-01-07 09:36] Toflar commented on #809
So, nach einigen Stunden Debugging kann ich nun mit Gewissheit sagen, **dass weder PHP, noch Symfony, noch Contao schuld ist**.

Im Falle von @xprojects-de (und ich glaube das ist All-Inkl) liegt es definitiv am Filesystem. Ich denke da wird auf ein Cluster Filesystem (NFS, virutelles FS, ...) gesetzt und File I/O ist einfach langsam (evtl. das Netzwerk, überlastete I/O Devices, hoher I/O Wait...w

[2020-01-07 09:43] fritzmg commented on #809
Nur um das nochmal zu verdeutlichen: das Problem betrifft ja grundsätzlich auch Contao 3, __oder jede andere Web Applikation auf dem selben Server__. Wie stark sich das Problem auswirkt, hängt einfach von der Komplexität der jeweiligen Web Applikation ab.

[2020-01-07 10:05] xprojects-de commented on #809
Danke @Toflar ! Super Arbeit!!! Finde es gut dass es nicht an Contao liegt! Mit diesen Erkenntnissen werde ich jetzt mal mit dem Hoster in Verbindung treten und ein wenig Druck machen! :-)

[2020-01-07 10:21] jaennert commented on #809
Danke für die ausführliche und nachvollziehbare Analyse.

Werde es an meinen Hoster weiterleiten

Gruß

Erich

🍃Please consider the environment before printing this mail.

[2020-01-07 10:29] tixtrix commented on #809
Vielen Dank @Toflar
Super. Mal sehen, was die Hoster da machen können.

[2020-01-07 14:22] leofeyer commented on #1081
Done in #1159.

[2020-01-07 14:22] #1081 closed, assigned to leofeyer

[2020-01-08 15:25] exscorp opened #1161 "Benutzergruppen » viele Erlaubte Felder = keine Rechte"
**Affected version(s)**
4.8.7 wahrscheinlich auch Versionen drunter

**Description**
Bei den Benutzergruppenrechten werden die Rechte (checkbox) nicht gechecked bei sehr vielen Erlaubten Feldern. Gibt es hier eine Limitierung (Anzahl)? Details siehe "**How to reproduce**".

****

**How to reproduce**
1. » frische Contao 4.8.7 installation
2. » eine Benutzergruppe erstellen
3. » überall "Alle auswä

[2020-01-08 15:32] fritzmg commented on #1161
https://docs.contao.org/manual/de/installation/systemvoraussetzungen/#php-konfiguration-php-ini

[2020-01-08 15:42] akroii commented on #1161
Stell die `max_input_vars` auf 1000 bzw. 1500. Dann sollte es funktionieren.

[2020-01-08 15:47] exscorp commented on #1161
ok, habe gerade auf 2000 erhöht und es funktioniert. danke euch.

wird ein höherer Wert nur zum Speichern benötigt (wie es in den Systemvoraussetzungen steht) und dann wieder runtersetzten oder sollte dieser dann auch aktiv bleiben (bei der Seite)?

[2020-01-08 15:52] #1161 closed, assigned to nobody

[2020-01-08 15:52] fritzmg commented on #1161
Wird grundsätzlich überall dort benötigt, wo viele Daten per POST Request gesendet werden (bspw. beim Speichern der Benutzerberechtigungen). Den Wert kannst du ruhig hoch eingestellt lassen. Kannst du auch auf 100000 setzen.

[2020-01-08 15:53] exscorp commented on #1161
ok, dann lasse ich den erstmal so.

danke dir

[2020-01-08 16:25] hoss-ps opened #1163 "Adding extra unique field in page module"
**Description**
Currently working with page module specially in some hooks like  '**getPageIdFormUrl**' need fixes Alias or Name to identify page which is not good idea, alias or name (in worst  case page id ) may need to change frequently from beginning of project until end specially for SEO purpose .
it will be nice to have an extra field for unique identification of the page in page backed modu

[2020-01-08 16:30] m-vo commented on #1163
Maybe I don't get your use case: Why exactly do you need to delete a page that needs to be referenced again later? The ID already is a stable identifier.

[2020-01-08 16:40] hoss-ps commented on #1163
let say in getPageIdFormUrl hook , i want to handle different levels of fragment in a unique page ,
or generate a page based on other page.
in this case let say we have many pages , how usually trace the page id?
looking page alias in db to find Page Id?
 is it good idea to use pageID as identifier ?

[2020-01-08 19:26] contaoacademy opened #1166 "Video/audio Element - add image size function to preview image"
**Description**
Contao 4.8.7

Add image size function to preview image for video/audio element.

There is only the option to select the image without the option to set the image dimensions and the resize mode.

[2020-01-08 19:39] contaoacademy opened #1167 "Video/Audio Element show no preview image when using chrome browser (Frontend)"
**Affected version(s)**
Contao 4.8.7
Chrome Browser

**Description**
If a preview image is used with a video element and the preloading is set to the default value of `Auto`, the image is not displayed in the frontend.

According to research, this is probably a special problem with Chrome.
Firefox works fine.

For this reason I recommend to set the default value of the preload to `none`.
Because t

[2020-01-09 09:07] fritzmg commented on #1167
Actually, `preload` should not be set at all by default. According to https://developer.mozilla.org/en-US/docs/Web/HTML/Element/video#attr-preload

[2020-01-09 12:43] Toflar commented on #1163
It really depends. I don't see an issue with having the page ID in the URL. It only allows people to understand that if the URL says `domain.com/166-foobar.html` that maybe `166` is the page ID and from that we can guess that there might be `167`, `168` etc. and that there's likely at least `166` pages. All of which is not dangerous information. If I'm able to guess a different existing page ID -

[2020-01-09 14:27] Wedego commented on #643
Hi all, the same Problem on Contao 4.8.7 today:
  Stack Trace
Stack Trace

InvalidArgumentException

InvalidArgumentException:
The Y coordinate plus the height must not be greater than 1

  at vendor/contao/image/src/ImportantPart.php:58
  at Contao\Image\ImportantPart->__construct(0.11846153846154, 0.63076923076923, 0.62538461538462, 0.73269230769231)
     (vendor/contao/core-bundle/src/Image/Ima

[2020-01-09 15:25] Wedego commented on #643
Erledigt:
ich habe von hier: https://github.com/ausi/contao-conta...ageFactory.php
die "ImageFactoty.php" genommen und bei mir ausgetauscht. Danach ist alles ok bis jetzt.
Danke fürs Lesen.

[2020-01-10 09:25] aschempp opened #1170 "Remove form action"
Generally speaking, echoing the current request URL into the page content is insecure, one of the issues we fixed in the latest security release.

Currently, the `Form` component does exactly that. The input is _protected_ through the `Input` class, but that class is kinda deprecated and the security/encoding wouldn't work with the `Request` class.

There is one very simple solution though: Simply

[2020-01-12 17:04] richardhj commented on #999
The error page gets rendered by the PrettyErrorScreenListener.
When placing a login form on the 404 page, another exception gets thrown: [the AuthenticationCredentialsNotFoundException](https://github.com/symfony/symfony/blob/fa358e61e735b335ae0a9815dd9955a019a3d01f/src/Symfony/Component/Security/Core/Authorization/AuthorizationChecker.php#L49) because no token is in the token storage.

I don't kn

[2020-01-13 08:53] #558 closed, assigned to aschempp

[2020-01-13 10:14] Toflar commented on #1152
Closing in favor of https://github.com/contao/contao/pull/1171

[2020-01-13 10:14] #1152 closed, assigned to nobody

[2020-01-13 10:14] leofeyer commented on #1077
See #1173.

[2020-01-13 10:14] #1077 closed, assigned to nobody

[2020-01-13 10:31] chriza opened #1174 "Datenschutz: fehlende Security-Header"
Der Datenschutzdienstleister einer meiner Kunden, hat fehlende Security Header angemahnt. Diese fehlen auch bei contao.org

https://securityheaders.com/?q=contao.org%2F&followRedirects=on

[2020-01-13 10:38] richardhj commented on #1174
Du kannst die Header manuell hinzufügen:

Folgender Event-Listener im App Bundle:
[code]

[2020-01-13 10:39] fritzmg commented on #1174
Die musst du selbst setzen. Das kann imho nicht pauschal vorgegeben werden.

Beides kannst du über das nelmio/security-bundle setzen lassen, afaik.

// Richard war schneller :)

[2020-01-13 11:05] akroii commented on #1174
`config.yml`

[code]

Danach musst du im Manager den Prod löschen. Danach musst du deine Seite testen ob in der browser Console die Seite noch läuft... oder ob es Fehler gibt.

[2020-01-13 11:10] leofeyer commented on #1133
See #1175

[2020-01-13 11:10] #1133 closed, assigned to leofeyer

[2020-01-13 12:03] Toflar commented on #1079
See https://github.com/contao/contao/pull/1176.

[2020-01-13 12:03] #1079 closed, assigned to nobody

[2020-01-13 17:31] aschempp commented on #967
Pretty sure this is fixed by https://github.com/contao/contao/pull/1178 😎

[2020-01-14 10:38] leofeyer commented on #473
See #1179

[2020-01-14 10:38] #473 closed, assigned to nobody

[2020-01-14 14:46] LinkingYou opened #1183 "Vorschau funktioniert nicht mehr bei Kombination Contao 4.8 und PHP 7.4.1"
**Affected version(s)**
4.8.7

**Description**
Wenn man Contao 4.8.7 unter PHP 7.4.1 verwendet, kommt es bei der Vorschau und anschließendem Klick auf den "Anwenden"-Button zu einem Error 500:

**Return value of Contao\CoreBundle\Security\Authentication\Token\FrontendPreviewToken::showUnpublished() must be of the type bool, null returned**

in vendor/contao/core-bundle/src/Security/Authentication/

[2020-01-14 15:01] Toflar commented on #967
Now that this is merged, can you check again @richardhj ?

[2020-01-14 16:28] richardhj commented on #967
Fixed :+1:

[2020-01-14 16:28] #967 closed, assigned to nobody

[2020-01-14 17:52] aschempp commented on #999
Can someone test if this still happens in the latest master branch?

[2020-01-14 18:15] gmpf opened #1185 "Residual file via frontend upload when server-side form validation fails because of other field"
**Affected version(s)**
4.4, 4.8

**Description**
If a file is uploaded via a frontend form, the upload is completed and the file is retained even when server-side form validation fails because of another field in the form.

**How to reproduce**
* Create a new form in the form generator.
* Create a file upload field. Check "Store uploaded files" and select a directory.
* Create a text field. For "

[2020-01-14 18:19] richardhj commented on #999
Yep, issue persists.
It is caused by https://github.com/contao/contao/blob/275dd6a65744c09547a7983688b9b269c11f4b21/core-bundle/src/Resources/contao/modules/ModuleLogin.php#L102 which will throw the AuthenticationCredentialsNotFoundException due to the missing token.

[2020-01-14 21:24] leofeyer opened #1186 "Wrong error message if the 2FA token is invalid"
If you enter an invalid 2FA token, the error message of the username/password step will be used:

<img width="572" alt="" src="https://user-images.githubusercontent.com/1192057/72383913-be53db00-371c-11ea-8edb-d357645df56d.png">

Maybe we can show a more suitable error message in this case?

[2020-01-14 21:50] andreheeke commented on #332
Due to the [announcement](https://www.tiny.cloud/blog/tinymce-4-support-window/) by the developers of the TinyMCE to stop developing version 4 by December 31, 2020, I suggest to upgrade directly to version 5 with the release of Contao 4.9. What do you think?

[2020-01-14 23:48] Funbug opened #1187 "HTML-Inhaltselemente im RSS-Feed"
**Affected version**
Contao 4.8.7

**Description**
HTML-Inhaltslemente von Nachrichten werden im RSS-Feed als Text ausgegeben. Aus `<div class="panel">` wird `<pre>&lt;div class=&quot;panel&quot;&gt;</pre>`
Beispiel: https://km-kd.de/share/news.xml

Erwartetes Ergebnis wäre, dass das HTML im RSS-Feed als solches ausgegeben wird.

[2020-01-15 08:45] leofeyer commented on #853
Leider haben wir nicht bedacht, dass das Recht für den Import bzw. Export von Themes bereits separat vergeben werden kann:

<img width="451" alt="" src="https://user-images.githubusercontent.com/1192057/72417956-32709c00-377a-11ea-9e5d-61f6f19ec418.png">

@contao/developers Wir bräuchten also tatsächlich eine Info wie beim Theme-Editor, oder?

[2020-01-15 09:17] #696 closed, assigned to nobody

[2020-01-15 09:19] #832 closed, assigned to nobody

[2020-01-15 09:20] #996 closed, assigned to nobody

[2020-01-15 09:29] #1174 closed, assigned to nobody

[2020-01-15 11:01] Toflar commented on #853
Scheint mir sinnvoll, ja.

[2020-01-15 12:08] fiedsch commented on #1183
Ich kann das Problem mit zwei identischen Installationen, eine PHP 7.4.1 und eine mit PHP 7.3.13 reproduzieren.

* Login ins Backend und bei einem Artikel auf Vorschau => OK
* Vorschau als ein bestimmtes Mitglied => Fehler in der PHP 7.4er Version

[2020-01-15 13:29] zonky2 opened #1192 ""magic keys" Details abändern"
siehe https://github.com/contao/contao/blob/1d68530e7899b6b2880cea5f9fa6fce0a9f9a3f3/core-bundle/src/Resources/contao/modules/ModulePersonalData.php#L377-L378

Für Contao 5 könnte man überlegen, das `Details` auf `_details` zu ändern um analog zu `_legend` arbeiten

[2020-01-15 14:47] bytehead commented on #1186
I'm pretty sure there was a different message before #1178 got merged: https://github.com/contao/contao/blob/master/core-bundle/src/Resources/contao/languages/en/default.xlf#L225

[2020-01-16 08:44] #1186 closed, assigned to nobody

[2020-01-16 10:19] leofeyer commented on #853
Siehe #1196.

[2020-01-16 10:19] #853 closed, assigned to leofeyer

[2020-01-16 10:51] leofeyer commented on #782
See #1197

[2020-01-16 10:51] #782 closed, assigned to leofeyer

[2020-01-16 10:57] MarkejN commented on #950
The problem might be a bug inside Maintenance > Purge the shared cache. This doesn't seem to actually purge the cache. Contao-Cache always stays on "fresh" even after clicking it. I tested this in a fresh Contao 4.8.7 instance.

If I understand correctly, changing CSS results in new paths to the assets folder. It is then necessary to purge the shared cache, because it now contains paths that are n

[2020-01-16 11:41] cliffparnitzky commented on #1187
Kann den beschriebenen Fehler in deiner Bespiel Datei nicht nachvollziehen.

[2020-01-16 11:56] Funbug commented on #1187
Ich auch nicht mehr. Interessant. Gestern war das noch definitiv so. Kann es sein, dass `Contao\News::generateFeedsByArchive` und `Contao\News::generateFeeds` das unterschiedlich handhaben? Die wurden seither nämlich ausgeführt.

[2020-01-16 12:00] Funbug commented on #1187
Wenn ich eine Nachricht unsichtbar schalte, wird der Feed mit o.g. Problem generiert. Ganz aktuell sieht man es wieder in o.g. Feed. Ich kann allerdings nicht nachvollziehen, welche Funktion auslöst, dass es wieder "normal" wird.

[2020-01-16 13:03] Toflar commented on #950
The problem is that clearing the shared cache does not work. But this is not a problem of Contao, it's a problem of multiple dependencies. Working on it.

[2020-01-16 13:12] cliffparnitzky commented on #1187
Ah ja, jetzt ist es drin.

[2020-01-16 13:38] Toflar commented on #950
Needed adjustments in my store implementation and still needs adjustments in the FOS HttpCache.
See the PR for more details: https://github.com/FriendsOfSymfony/FOSHttpCache/pull/475
Imho this issue can be closed once that PR is cleaned up, merged and we have a new release of FOS HttpCache.

[2020-01-16 14:54] leofeyer opened #1198 "Support the new Symfony config files"
As discussed in Mumble on January 16th, we want to support the new Symfony configuration files.

* `routing.yml` -> `routes.yaml`
* `config.yml` -> `config.yaml`
* `services.yml` -> `services.yaml`
* and so on

[2020-01-16 14:59] leofeyer commented on #1198
Also, do we want to change `config/config_prod.yml` to `config/prod/config.yaml`?

[2020-01-16 15:16] ausi commented on #1170
I will research how older browsers handle `action=""` for the case of customized templates.

[2020-01-16 15:39] leofeyer commented on #1022
As discussed in Mumble on January 16th, we want to try if `$strOption === (string) $varValues` fixes the issue and does not have any side effects.

[2020-01-16 15:41] ausi commented on #1022
[code]

[2020-01-16 15:45] leofeyer commented on #1022
Also, we should check thoroughly if this is really the only place where we need to adjust something.

[2020-01-16 15:52] leofeyer commented on #1135
As discussed in Mumble on January 16th, if there is no label (`null`), the key should be used. To have an empty label, it must be set to an empty string or `false`.

[2020-01-16 16:03] leofeyer commented on #809
Ich schließe das Ticket jetzt da sich herausgestellt hat, dass es kein Contao-Problem ist. Sollte jemand das Problem haben und der Meinung sein, dass es nicht am Filesystem liegt, können wir es ja wieder öffnen.

[2020-01-16 16:03] #809 closed, assigned to nobody

[2020-01-16 16:05] leofeyer commented on #908
Wie am 16. Januar auf Mumble besprochen, wäre es nicht verkehrt, ein entsprechendes Flag beim File-Picker zu haben, mit dem man die Auswahl auf veröffentlichte Dateien beschränken kann.

[2020-01-16 16:11] Toflar commented on #950
The PR has already been merged. Once https://packagist.org/packages/friendsofsymfony/http-cache version `2.8.1` is released, you may update your dependencies and see if it fixes your issue :)

[2020-01-16 16:40] Funbug commented on #1187
Jetzt wurde laut System-Log - warum auch immer - `Contao\News::generateFeeds` ausgeführt. Damit stimmt es dann vorübergehend wieder.

[2020-01-16 16:45] fritzmg commented on #1187
Das macht der Cron. Offensichtlich ist es über den Cron richtig - über die direkte Aktualisierung bei Änderung im Backend (oder Systemwartung?) falsch.

[2020-01-16 17:07] fritzmg commented on #1038
See https://github.com/contao/contao/pull/1202

[2020-01-16 17:14] leofeyer commented on #1198
See #1199

[2020-01-16 17:14] #1198 closed, assigned to nobody

[2020-01-16 17:16] ausi commented on #1170
`action=""` works as expected in all browsers I tested (including IE6)

[2020-01-16 17:48] Toflar commented on #962
During today's Mumble call we were able to identify that it does not seem to be related to the cache warmup stage.

[2020-01-16 21:13] #1038 closed, assigned to nobody

[2020-01-16 21:24] leofeyer commented on #1170
See #1201

[2020-01-16 21:24] #1170 closed, assigned to nobody

[2020-01-17 05:20] aschempp commented on #1163
Please also be aware that ** getPageIdFormUrl** is very much outdated! You should rather work with the Symfony routing.

[2020-01-17 10:54] netzarbeiter opened #1205 "Sortierreihenfolge beim Navigationspunkt «Inhalte»"
Früher war die Reihenfolge nach der Gewichtung, jetzt ist die Bundle-Reihenfolge ausschlaggebend.

Würde eine alphabetische Reihenfolge nicht für mehr Klarheit sorgen?

**Contao 4.8**
![content48](https://user-images.githubusercontent.com/1942550/72606957-e8291f80-391f-11ea-9a58-e7b830d6da9a.png)

**Contao 4.9**
![content49](https://user-images.githubusercontent.com/1942550/72607000-fecf7680-391f-

[2020-01-17 10:56] Toflar commented on #1205
Die Reihenfolge kann nie deterministisch bestimmt werden. Einzig eine alphabetische Sortierung würde aus UX funktionieren. Sollten wir imho tun @contao/developers

[2020-01-17 12:49] Samson1964 opened #1206 "Newsletter: Abonnenten-Import überspringt 1. Zeile"
Beim CSV-Import von Abonnenten im Newsletter wird die 1. Zeile immer als ungültig zurückgewiesen. Damit ich trotzdem alle Adressen reinbekomme, mache ich die 1. Zeile als Leerzeile. Dann ist wenigstens nur die Leerzeile ungültig.

[2020-01-17 12:54] Samson1964 opened #1207 "TinyMCE: Geschützte Leerzeichen werden ungewollt eingefügt"
Beim TinyMCE werden insbesondere nach Listen (ul) Leerzeilen eingefügt:

[code]

Die bekommt man nur raus, wenn man die Zeilen in der HTML-Ansicht rauswirft. Bearbeitet man später wieder das Element ohne HTML-Ansicht, sind diese Leerzeilen wieder drin. Das Phänomen tritt in der 4.8 an allen möglichen Stellen auf, wo der TinyMCE eingesetzt wird, z.B. Nachrichten-Teaser, leere Text-Elemente.

[2020-01-17 13:14] Ainschy opened #1208 "create new public folder but it isn't public"
**dev-master / 4.9 RC1**

**new root folder are not public by default**
if create a new root folder by file manager with option public this folder will create without public flag. After edit the folder and set public checkbox again then the folder is public.

testet on Windows 10 pro, Lavagon Stack, php 7.2.17

[2020-01-17 13:26] fritzmg commented on #1208
I can confirm the issue.

[2020-01-18 09:02] aschempp commented on #1207
Welche Contao Version verwendest du? Das sollte in neueren Versionen behoben sein.

/cc @ausi

[2020-01-18 11:44] aschempp commented on #1183
der Fehler wurde bereits in https://github.com/contao/contao/commit/b980cd1d0fc2fd761915674b5455d28192bc1a4d#diff-f666db4e4a80c10241a60085eded3c11 behoben (allerdings bisher nur für Contao 4.9)

[2020-01-18 15:27] planepix opened #1214 "Seitenlayout und andere Funktionen können nicht zugewiesen werden"
**Affected version(s)**
dev-master / 4.9 RC1

**Description**
Nach Installation via Konsole der dev-master und erfolgreicher Installation kann ein erstelltes Seitenlayout nicht zugeordnet werden.

**How to reproduce**
- Installation dev-master
- Anlegen eines Themes
- Anlegen eines Seitenlayouts
- Zuordnung des Seitenlayouts der Seite vom Typ „Startpunkt einer Website”
- Auswahl des Seitenlayouts

[2020-01-18 16:34] fiedsch commented on #1183
Gerade mit 4.9.0-RC1 ausprobiert. Funzt. Danke!

[2020-01-18 17:56] xchs commented on #1214
I can also reproduce this problem.

[2020-01-18 18:00] planepix commented on #1214
Nach dem Update von dev-master auf RC-1 kann ich nach einem Reload der Seite das Layout zuweisen.
Im Seitenlayout taucht das Phänomen ebenso auf , wenn ich z.B. jQuery aktivieren möchte. Das Lade-Icon wird angezeigt… Nach Abbruch durch Neuladen der Seite ist die Checkbox aktiviert.

[2020-01-19 10:24] srhinow opened #1216 "scope für Eventlistener (service-tags) in Verbindung mit dem "Personendaten"-Modul schlägt fehl"
**Affected version(s)**
Contao 4.8.7

**Description**
Es fehlt eine Möglichkeit den scope beim service tagging (https://docs.contao.org/dev/framework/dca/#using-service-tagging) mit anzugeben?
Denn ich habe ein onSubmitCallback für die Member-Tabelle angelegt. Im Backend klappt es wie gewohnt auch. Jetzt ist mir im Frontend beim Ändern der Email-adresse ein Fehler vor die Füße gefallen. Da ich in

[2020-01-19 10:45] bytehead commented on #1216
Das ist in 4.4 auch schon so (und wahrscheinlich auch in 3.x): https://github.com/contao/contao/blob/42a01480174f1d8672391e151db94ebd5d92809d/core-bundle/src/Resources/contao/modules/ModulePersonalData.php#L343-L357

Nur gab es da kein Service-Tagging wo dann PHP wegen typisierten Parametern ausruft :)

[2020-01-19 12:00] planepix commented on #1214
Wenn im Seitenlayout die Checkbox für die XML-Sitemap geklickt wird, erscheint ebenso eine Loading-Icon, welches nur durch Neuladen der Seite unterbrochen werden kann.
Die Checkbox ist danach nicht aktiviert.

Folgender Trace hilft ggf. weiter:

[code]

[2020-01-19 16:33] fritzmg commented on #1216
» https://github.com/contao/docs/pull/230

[2020-01-19 18:56] richardhj commented on #1216
Dies ist schon seit jeher so und kann in Contao 4 nicht geändert werden.
du kannst den ScopeMatcher verwenden oder auch `$dc instanceof DataContainer`.

[2020-01-19 22:58] srhinow commented on #1216
@richardhj kannst du das bitte noch mal für Dumme beschreiben. Wie kann ich das jetzt bei meiner Situation anders schreiben das es passt? Wie soll ich denn schon in der services.yml nen Scope zuweisen? Wenn ich es in der Methode behandele, ist es ja schon zu spät da der Methoden-Parameter nicht stimmt und schon in dem Moment ne Exception wirft.

zu "...Dies ist schon seit jeher so ..." könnte man

[2020-01-19 23:02] fritzmg commented on #1216
@srhinow du darfst keinen PHP 7 parameter type bei deiner Funktion angeben, weil je nach Context der Typ des Parameters dieses Callbacks anders sein kann. Innerhalb deines Callbacks kannst du dann mit `instanceof` abfragen, was du dann tatsächlich bekommen hast.

[2020-01-19 23:27] srhinow commented on #1216
jup @fritzmg deine Antwort hat geholfen.

Ich finde aber trotzdem das man in den "services tags" nen scope als Paramter mit aufnehmen könnte und im jeweiligen Callback zukünftig drauf reagiert je nach Scope. Mein Fall ist aktuell zwar exotisch aber wenn Contao sich weiter so entwickelt und sich Symfony anpasst und mehr als bundle als nur als reines CMS versteht, schätze ich mal das es nicht das le

[2020-01-20 08:08] fiedsch opened #1219 "Versions broken when using Doctrine Schema Representation to define DCA's sql"
**Affected version(s)**

Contao 4.8.7

**Description**

When comparing old and new version of a record while debug mode is switched on I get:

[code]

It however works when debug mode is switched off.

**How to reproduce**

Define a DCA field using Doctrine Schema Representation as described [in the documentation](https://docs.contao.org/dev/reference/dca/fields/#sql-column-definition), e.g.:

[co

[2020-01-20 09:45] m-vo opened #1220 "Asset loading fails for domains with underscores"
**Affected versions**
At least current master / 4.9. Probably all.

**How to reproduce**
* create a domain with underscores in the name (which is [perfectly legal](https://stackoverflow.com/a/2183140/3146819) btw):
e.g. `_a.domain.wip`
* open the Contao backend & look at the browser's network tab
* &rarr; the underscore is missing in the asset urls thus failing to load them

![underscore_domain](h

[2020-01-20 13:14] aschempp commented on #1216
Services haben nichts mit dem Request Scope zu tun, und Callbacks/Hooks auch nicht. Genau so wenig wie man einem Symfony Event Listener einen Scope taggen kann. Es ist einfach ein Fehler der Doku, welcher Fritz schon behoben hat 😊

[2020-01-20 13:14] #1216 closed, assigned to nobody

[2020-01-20 13:17] aschempp commented on #1220
can you debug who's generating the incorrect URL? This could be a bug in Symfony Asset

[2020-01-20 13:58] m-vo commented on #1220
Had a quick look at it. The backend templates sets `Environment::get('base')` which already contains the wrong url.

It's actually caused by this regex in the `Environment` class that removes the underscore from the `host` key:

https://github.com/contao/contao/blob/f1266ecd44dfb9cd40bffc1b6f0b3d151c7c0528/core-bundle/src/Resources/contao/library/Contao/Environment.php#L299

What's this regex for

[2020-01-20 14:49] Tastaturberuf commented on #1216
Geht nicht einfach das zu nullablen und dann zu prüfen? Hatte mir der @Toflar mal irgendwo so genannt. (Das wird nen Running-Gag :-) )
[code]

[2020-01-20 14:51] bytehead commented on #1216
Nein, wenn da ein String daherkommt, knallts.

Am besten machst du was wie `onSubmitCallback(...$arguments): void` und prüfst dann innerhalb der Methode das Array `$arguments` auf Datentypen.

[2020-01-20 14:54] Tastaturberuf commented on #1216
Wer schickt denn da nen String mit? Ich kenne bisher nur Callbacks die keinen DC liefern. Aber "falsche" Typen sind mir noch nicht begegnet.

[2020-01-20 14:56] bytehead commented on #1216
Im Frontend kommt z.B. als erstes Argument ein Objekt vom Typ `User` mit.

[2020-01-20 15:06] srhinow commented on #1216
sorum wie ich es jetzt mit @bytehead Vorschlag umgesetzt habe, das ich den Argument-Type DataContainer weglasse bekomme ich im Frontend keinen Fehler mehr. Aber was ist wenn es anders herum gebraucht wird? Sprich das man es im Frontend benötigt 2 Argumente übergibt ... das mosert er im Backend bestimmt rum das er ja nur 1 Argument (DataContainer) erwartet aber gleich 2 Argumente geleifert bekommt.

[2020-01-20 15:08] fritzmg commented on #1216
Du musst halt `= null` verwenden. Oder so wie @bytehead es beschrieben hat.

[2020-01-20 15:08] bytehead commented on #1216
Du kriegst in dem Fall die Argumente im Array `$arguments`:
Backend:
[code]

Frontend:
[code]

und mit `$arguments[0] instanceof DataContainer` kannst du das z.B. überprüfen.

[2020-01-20 15:09] bytehead commented on #1216
http://docs.php.net/manual/en/functions.arguments.php#functions.variable-arg-list

[2020-01-20 15:12] srhinow commented on #1216
das mit den drei Punkten kannte ich noch gar nicht. Dachte ddie ganze Zeit das du dein beispiel einfach nur vereinfacht schreiben wilst ;)

Wir könne gerne hier schluss machen -> hat sich ja jetzt erledigt. Danke an alle die mit drüber geschaut haben.

[2020-01-20 15:13] bytehead commented on #1216
Nene, PHP 5.6 Feature 😎

[2020-01-20 17:47] Toflar opened #1224 "FE preview redirect for pages inconsistent"
**Affected version(s)**

4.9 RC1

**Description**

The FE preview URL when clicking on the icon in the page tree looks as follows: `/contao?do=feRedirect&page=299`. That looks like the old format because when you edit a page and click on preview, you get to `/contao/preview?page=299`.
This should be unified. Imho the `do=feRedirect` is the old way and can be replaced.

[2020-01-21 07:13] leofeyer commented on #1214
Siehe #1225

[2020-01-21 07:13] #1214 closed, assigned to leofeyer

[2020-01-21 08:15] andreheeke opened #1226 "Replace the less.php dependency"
**Affected version(s)**
4.8.7 | 4.9.0-RC1

**Description**
The repository [oyejorge/less.php](https://github.com/oyejorge/less.php) has been archived by the owner. We should replace this with another package. Alternatively, [leafo/lessphp](https://github.com/leafo/lessphp) could be considered.

[2020-01-21 08:59] leofeyer commented on #1226
According to the [README](https://github.com/oyejorge/less.php/blob/master/README.md), the "official" successor is [wikimedia/less.php](https://github.com/wikimedia/less.php).

I am not sure whether [leafo/lessphp](https://github.com/leafo/lessphp) is still maintained or will continued to be maintained in the future, given that [leafo/scssphp](https://github.com/leafo/scssphp) has already been arc

[2020-01-21 09:02] andreheeke commented on #1226
You're right. I didn't read it in that much detail. I was only aware of this alternative.
We should use the Wikimedia fork as described in the README.

[2020-01-21 09:19] leofeyer commented on #1224
You are right that we do not need `do=feRedirect` in the page structure. 👍

It seems that the only purpose of `do=feRedirect` is to trigger `Controller::redirectToFrontendPage()`, which additionally adds the `/articles/` fragment to the URL. (Which is also why `do=feRedirect` is only used in `tl_article.php`.)

Maybe we should deprecate `do=feRedirect` altogether?

[2020-01-21 17:11] Toflar commented on #1224
I guess we should yes.

No, it's also used in `tl_page` or actually in `Backend::addPageIcon()`.

[2020-01-21 18:32] Samson1964 commented on #1207
Aktuell 4.8.7. Wenn das nicht die neueste ist, muß ich aktualisieren.

[2020-01-21 22:09] LinkingYou opened #1229 "Upload per Dropzone funktioniert nicht mehr (4.9.0-RC1)"
**Affected version(s)**
(4.9.0-RC1)

**Description**
Der Upload per Dropzone im Backend funktioniert nicht mehr. Auf der Console bekomme ich von der Dropzone den Fehler "No URL provided."

Lt. Doku von Dropzone https://www.dropzonejs.com/#usage, muss die Option "url" gesetzt sein, wenn kein Form-Tag mit Action-Attribute vorhanden ist. In Contao 4.8 war dort noch ein Action-Attribute vorhanden, das

[2020-01-21 22:18] planepix commented on #1229
Kann ich bestätigen. Auch die Darstellung ist anders.
Klick in die Fläche bleibt ohne Funktion.
![Dateiverwaltung-4 9-RC-1](https://user-images.githubusercontent.com/1823889/72848196-5d8c4b80-3ca4-11ea-983d-938f5c0bde2b.png)

[2020-01-22 07:25] leofeyer commented on #1224
Yes, but it is wrong there and needs to be removed.

[2020-01-22 07:47] LinkingYou opened #1231 "Auswahl der Weiterleitungsseite bei Modulen wird nicht übernommen (4.9.0-RC1)"
**Affected version(s)**
4.9.0-RC1

**Description**
Beim klick auf "Anwenden" erhalte ich von mootools.min.js:

`Cannot read property 'getParent' of undefined`

![image](https://user-images.githubusercontent.com/23259908/72874980-94d61900-3cf3-11ea-84b2-99a9ad39f0ba.png)

**How to reproduce**
Im Backend Themes / Frontend-Module bearbeiten / Modul bearbeiten (z.B. ein Modul "Suchmaschine"):
Dort dan

[2020-01-22 07:48] bytehead commented on #1229
Wahrscheinlich hängt das mit der (nun fehlenden) Form action zusammen, die in #1170 entfernt wurde.

[2020-01-22 07:58] leofeyer commented on #1229
Siehe #1232

[2020-01-22 07:58] #1229 closed, assigned to nobody

[2020-01-22 08:19] fritzmg commented on #1231
Duplicate of #1214

[2020-01-22 08:20] #1231 closed, assigned to nobody

[2020-01-22 09:13] Defcon0 opened #1233 "Add support for child_record_callback for DC_Folder"
Hello,

we recently have had problems with `DC_Folder` not being very customizable. In `DC_Table` we have `child_record_callback`. In `DC_Folder` we don't.

Would it be an option to have that in a future release?

Bye

[2020-01-22 09:20] Defcon0 opened #1234 "Add a new hook "preUpload" to DC_Folder"
Hello,

we recently have had the need for a "preUpload" hook so that we can do some business logic there.

Would it be an option to have that in a future release?

It would be something like:

[code]

Bye

[2020-01-22 11:14] MacKP commented on #1816
Ich kann mich hier auch nur noch mal anschließen. Das die Dateiauswahl die Ausgewählten Bilder vergisst, wenn man Filtert o.ä. ist bei größeren Installationen echt unschön. Und leider auch sehr schwer dem Kunden zu vermitteln ;-) Mit dieser Limitierung macht das Suchen/Filtern irgendwie nicht mehr so richtig Sinn ^^

[2020-01-22 15:05] hoss-ps commented on #1163
@aschempp 👍  thanks for your information , currently in contao 4.4 i have tested Symfony routing ( YML version) and work really fine even beside old Hooks loading  but it get some issues with annotation. hope can use it in later versions.

[2020-01-22 15:08] fritzmg commented on #1117
Updating to PHP `7.3.13` did not fix the problem unfortunately. May be it only occurs with that specific MariaDB version.

[2020-01-22 16:23] leofeyer opened #1236 "Invalid value of @context"
<img width="745" alt="" src="https://user-images.githubusercontent.com/1192057/72912252-a7744080-3d3b-11ea-97b4-7c8c0445d7ed.png">

To fix this, we either have to define the context inline

[code]

or link to a valid document which defines the context (e.g. https://json-ld.org/contexts/person.jsonld).

[2020-01-23 09:29] jochi44 opened #1240 "Replace dependency zendframework/zend-code"
**Affected version(s)**
4.9.0-RC1

**Description**
While updating the packages for V4.9.0-RC1 with the contao-manager the following message appears:

Package [zendframework/zend-code](https://github.com/zendframework/zend-code) is abandoned, you should avoid using it. Use [laminas/laminas-code](https://github.com/laminas/laminas-code) instead.

PS: This is my first issue-report on github. Hopefull

[2020-01-23 09:32] jochi44 opened #1241 "Replace dependancy zendframework/zend-eventmanager"
**Affected version(s)**
4.9.0-RC1

**Description**
While updating the packages for V4.9.0-RC1 with the contao-manager the following message appears:

Package [zendframework/zend-eventmanager](https://github.com/zendframework/zend-eventmanager) is abandoned, you should avoid using it. Use [laminas/laminas-eventmanager](https://github.com/laminas/laminas-eventmanager) instead.

[2020-01-23 09:54] m-vo commented on #1240
It's not required by contao but by it's dependencies.

If you run `composer why zendframework/zend-code` (or `composer why zendframework/zend-code --tree` for a more verbose output) you'll see that it's actually `ocramius/proxy-manager` requiring the dependency.

[2020-01-23 09:54] m-vo commented on #1241
see #1240

[2020-01-23 10:03] fritzmg commented on #1240
iirc it's already changed in `ocramius/proxy-manager`, but the change has no stable release tag yet.

[2020-01-23 10:23] timgatzky opened #1242 "Selektoren funktionieren nicht durch Ajax-Fehler"
Hi Leute,
unter 4.9 arbeiten derzeit die Selektoren nicht. Es fehlt anscheinend der url Parameter in der js-Klasse Request.Contao, damit läuft die anfragende Url auf HOST/null.

Viele Grüße, Tim

[2020-01-23 10:35] leofeyer commented on #1242
Duplicate of #1214

[2020-01-23 10:35] #1242 closed, assigned to nobody

[2020-01-23 10:35] #1241 closed, assigned to nobody

[2020-01-23 10:38] jochi44 opened #1243 "4.9.0-RC1: Two-factor authentication - error when entering wrong authentication-code"
**Affected version(s)**
4.9.0-RC1

**Description**
1. set up two-factor authentication (works fine)
2. login with username/pw
3. in the "two-factor-authentication" window enter a wrong confirmation code
--> a contao error-page is shown ("Es ist ein Fehler aufgetreten...")
--> the contao log file in /var/logs displays an error:

`[2020-01-23 11:20:34] request.INFO: Matched route "contao_backend_log

[2020-01-23 11:24] Anke opened #1245 "System-Log - deleting > 100 records leads to 500 error"
From time to time I have to delete a long list of error records (URL spamming) in the system log while needing to keep access and form data. So when I filter the error records, select "show all" and select them all (which are, by default, 500 records) to hit delete, I get an error 500.

I gradually had to drop the "show maximum number of records" value down to 100 to be able to delete a hundred sy

[2020-01-23 11:33] fritzmg commented on #1245
Please use the debug mode and post the complete Stack Trace, if available.

[2020-01-23 12:55] bytehead commented on #1243
See #1246.

[2020-01-23 12:55] #1243 closed, assigned to bytehead

[2020-01-23 12:55] bytehead commented on #1243
Thanks for reporting!

[2020-01-23 13:26] frontendschlampe commented on #962
I make some more tests and if you reload the white page again and again it will work after a few times without increasing the RAM.

[2020-01-23 13:34] fritzmg commented on #962
Interestingly I also noticed this problem recently in a Contao 4.4.46 installation, _without using the Contao Manager_ at all. After a package update, the Install Tool responded with a white screen (without any logged error anywhere) right before listing the SQL queries that should be executed later. After refreshing, the Install Tool worked normally and showed me the list of SQL queries.

[2020-01-23 13:48] Anke commented on #1245
I activated the debug mode and tried to delete ~260 system log entries which again resulted in a script error 500. Using the browser's back buttonshows my selected but not deleted records, but nothing seems to have changed in the debug bar.
I never used debug mode and don't really know how it works. Via PN I'd be willing to give you backend access, if that would help, as this site is not productiv

[2020-01-23 13:50] fritzmg commented on #1245
How much time did it take? You might be running into your `max_execution_time` limit.

[2020-01-23 13:56] Anke commented on #1245
Wouldn't I get a time out message? I just tried it again and they were deleted. I don't see any changes in the debug bar - is there a way to export an output?
During deletion I watched the browser console - not determining any errors.

[2020-01-23 13:58] Anke commented on #1245
GEThttp://.../contao?do=log&act=deleteAll&rt=6KYK5ZZcFdgcM4yuxu4vS7s4A9NHRkP3yDIpUXM12zg&ref=LMij1QYY
[HTTP/1.1 303 See Other **56425ms**]
Is this the execution time?

[2020-01-23 14:00] fritzmg commented on #1245
Yeah, that's the time it took. But according to that log entry, the request was successful.

[2020-01-23 14:02] Anke commented on #1245
Yes, the second attempt was successful - this time.

[2020-01-23 14:07] Anke commented on #1245
This is the dev.log content:
[code]

[2020-01-23 14:37] jochi44 opened #1247 "Darstellungsfehler des divs id=#paste_hint bei Neuanlage div. Elemente im Backend"
**Affected versions:**
4.8.7 | 4.9.0-RC1

**Description:**
Wie von [aasage](https://github.com/asaage) in [diesem Issue](https://github.com/contao/contao/pull/467#issuecomment-489598953) angeführt, befindet sich bei der Anlage eines neuen Elements (im Backend), welches eine notwendige Positionierung des neuen Elements erfordert (z.B. neuer Artikel, neue Seite),  der Hinweistext "Legen Sie als Näch

[2020-01-23 14:48] frontendschlampe opened #1248 "Contao 4.9-RC1: Subpaletten öffnen nicht"
Ich möchte eine Subpalette öffnen, z.B. Seitenlayouts > Seitenlayout bearbeiten > "jQuery laden" aktivieren, dann kommt das weiß-transparente Overlay mit dem Hinweis "Die Daten werden geladen ..." und das bleibt endlos stehen. In der Konsole kommt dann folgender Fehler:

`[Error] Failed to load resource: the server responded with a status of 404 () (null, line 0)`

@ainschy hat den Fehler ebenfall

[2020-01-23 17:36] planepix commented on #1248
Liest sich das Problem: https://github.com/contao/contao/issues/1214

[2020-01-23 18:00] frontendschlampe commented on #1248
you're right :-)

[2020-01-23 18:00] frontendschlampe commented on #1248
Siehe #1225

[2020-01-23 18:00] #1248 closed, assigned to nobody

[2020-01-23 18:24] frontendschlampe commented on #1208
I can confirm the issue, too.

[2020-01-23 20:51] #1240 closed, assigned to nobody

[2020-01-24 10:17] aschempp commented on #999
I was very confused by the fact that the `AuthorizationChecker` throws an exception without a token. Then I realized that we normally *always* have a token, at least an *Anonymous* one if a user is not logged in.

Unfortunately, the router has higher listener priority than the security firewall, and an exception throws in the router will bypass the firewall listener, so no anonymous token is set.

[2020-01-24 10:23] leofeyer commented on #999
I think I prefer the alternative.

[2020-01-24 11:15] frontendschlampe opened #1249 "4.9: Deaktivierung SERP-Vorschau"
Könnte man darüber nachdenken, die SERP-Vorschau optional zu machen? Also separat über eine Einstellung in der `config.yml` oder so?!

Grund: Ich weiß genau, was der erste Kunde sagen wird, der das nutzt: Das sieht ja gar nicht genauso aus, wie bei Google! Warum nicht?

[2020-01-24 11:29] fritzmg commented on #1249
[code]

[2020-01-24 11:31] frontendschlampe commented on #1249
ja ... der Weg ist mir bekannt. Wollte nur wissen, ob man es ggfs. nicht grundsätzlich konfigurierbar machen könnte. ;-)

[2020-01-24 11:32] fritzmg commented on #1249
Naja, es gibt grundsätzlich keine DCA Felder in Contao, die konfigurierbar sind bisher, oder? Fände ich etwas seltsam jetzt plötzlich eines (und nur eines) konfigurierbar zu machen.

[2020-01-24 11:36] frontendschlampe commented on #1249
Ja ... gebe ich Dir Recht.

Diese SERP-Vorschau ist halt ein "diskutierbares" Feature.

[2020-01-24 11:56] m-vo commented on #1249
Kannst du nicht einfach das Feld für die relevante Usergruppe entfernen? Das musst du ja sowieso für die meisten Felder machen.

[2020-01-24 12:22] frontendschlampe commented on #1249
In den meisten Websites haben die User sowieso einen Admin-Zugang (ist ja ihre eigene Website), aber alles gut ... ich deaktiviere es einfach, wie @fritzmg vorgeschlagen hat.

[2020-01-24 12:22] #1249 closed, assigned to nobody

[2020-01-24 13:32] leofeyer commented on #1249
Aber es sieht doch so aus wie bei Google?

[2020-01-24 17:53] frontendschlampe commented on #1249
Ich denke nicht ... Google verwendet zur Zeit nicht die Beschreibung als Ergebnistext, sondern die Passagen, wo die Suchbegriffe vorkommen. Dann gibt's gerade tolle Favicons und nächste Woche gibt's bestimmt ganz tolle andere Sachen. ;-) Aber alles gut ...

[2020-01-24 19:19] aschempp commented on #1185
I don't think this is a Contao issue, as Contao does not offer an ajax upload in the front end?

[2020-01-24 20:27] gmpf commented on #1185
@aschempp This has nothing to do with an AJAX upload. It's just the normal file upload field available in the form generator – this thing:
https://github.com/contao/contao/blob/4.8/core-bundle/src/Resources/contao/dca/tl_form_field.php#L109
https://github.com/contao/contao/blob/4.8/core-bundle/src/Resources/contao/config/config.php#L252
https://github.com/contao/contao/blob/4.8/core-bundle/src/Res

[2020-01-24 21:07] aschempp commented on #1219
siehe https://github.com/contao/contao/pull/1251

[2020-01-24 21:07] #1219 closed, assigned to nobody

[2020-01-25 22:00] ausi commented on #1207
Ich kann das Problem weder mit Firefox noch mit Chrome reproduzieren.

Welchen Browser in welcher Version hast du verwendet?
Lässt sich das Problem auf <https://demo.contao.org/> reproduzieren, falls ja wie sind die genauen Schritte?

[2020-01-26 17:51] ausi opened #1252 "Non-existent service error if search is disabled"
Setting `contao.search.default_indexer.enable` to `false` result in an `You have requested a non-existent service "contao.search.indexer.delegating"` error when building the container.

[2020-01-27 09:35] Defcon0 opened #1253 "Legends aren't searchable"
Hello,

affected version if Contao 4.4, but I think it has also been this way in Contao 3 ;-)

When I use Ctrl+F in Chrome e.g. in the Contao system settings, the collapsible legends are not searched by the browser search.

This seems to be a Chrome issue: https://support.google.com/chrome/thread/6256714?hl=en

Maybe we can change the legends to some other html element which is searchable?

Thanks

[2020-01-27 09:37] fritzmg commented on #1253
`<legend>` is the correct tag. If that is an issue in Google Chrome, Google needs to fix this.

[2020-01-27 09:38] Samson1964 commented on #1207
Online-Demo mit Firefox:

1. Eine der Nachrichten öffnen und z.B. ein Inhaltselement Text bearbeiten
2. ENTER hinter dem Text drücken, ein neuer Abschnitt erscheint
3. Abschnitt wieder löschen und Speichern
4. Nun erscheint ein neuer Abschnitt mit [nbsp]
5. Nun wieder Speichern klicken
6. Es erscheint wieder ein neuer Abschnitt mit [nbsp] usw. usf.

Dieses Verhalten tritt seit 4.8.x bei allen Form

[2020-01-27 09:40] fritzmg commented on #1207
I am unable to reproduce this with FireFox 72.0.2 on Windows 10 Pro x64.

[2020-01-27 09:42] Samson1964 commented on #1207
Bei mir auch FireFox 72.0.2 (64 Bit) mit Windows 10 Pro x64

[2020-01-27 09:55] #1253 closed, assigned to nobody

[2020-01-27 12:15] de-es commented on #1207
Es geht auch einfach (in der Demo) mit dem Einfügen eines leeren Absatzes mit ENTER und speichern. TinyMCE fügt den neuen Absatz als `<p>&nbsp;</p>` ein, Contao macht beim Speichern ein `<p>[nbsp]</p>` daraus. Konnte mit diversen Browsern (Win/Linux) keinen Unterschied im Ergebnis feststellen.

[2020-01-27 12:19] fritzmg commented on #1207
@de-es das ist soweit ich weiß normal. _Absichtlich_ generierte leere Absätze werden immer mit dem non-breaking space befüllt.

[2020-01-27 12:25] de-es commented on #1207
Ok, das hatte ich mir schon fast gedacht. Ich lösche die immer automatisch per Callback, da viele "Freizeitredakteure" mit dem nbsp nichts anfangen können und sich sonst fragen, wo das herkommt. :-)

[2020-01-27 12:59] Samson1964 commented on #1207
Ich füge keine leeren Absätze wissentlich ein. Die sind einfach da. Nach jedem Speichern wird ein neuer Absatz eingefügt. Es fängt immer mit `<p>&nbsp;</p>` an, gefolgt von `<p>[nbsp]</p>` und nach jedem Speichern kommt ein `<p>[nbsp]</p>` hinzu.
Ich habe auch leere Textelemente in meiner Installation, die ich per SQL eingefügt habe. Da ist im Text selbst absolut nichts drin. Jedenfalls früher. We

[2020-01-27 13:40] asaage commented on #1207
Ich denke, das war schon immer so.
1. leere Textelemente kannst du nicht speichern TinyMCE macht daraus automatisch ein ```<p>&nbsp;</p>``` wenn das wieder geladen wird wird daraus ein  ```<p>[nbsp]</p>```
2. machst du copy&paste aus Word&Co. werden Leerzeilen zu Leer-Absätzen (Ich find jedenfalls selten mal ein Worddokument mit manuellen Zeilenumbrüchen.
3. Ich trichter meinen Redakteuren permane

[2020-01-27 13:43] fritzmg commented on #1207
@asaage das ist aber nicht das, was @Samson1964 meint.

[2020-01-27 13:48] asaage commented on #1207
ja
- dass insbesondere nach Listen (ul) Leerzeilen eingefügt werden
- oder sich Leerzeilen durch speichern vervielfältigen

kann ich so jedenfalls nicht nachstellen.

[2020-01-27 14:24] Samson1964 commented on #1207
Es ist generell so, daß `<p>&nbsp;</p><p>[nbsp]</p>` überall eingefügt wird, wo der TinyMCE im Einsatz ist. Man bekommt das nur weg, indem man im Quelltext diese Zeichenfolge rauswirft und dann sofort speichert. Arbeitet man nicht mit dem Quelltext und löscht die Zeichenfolge im WYSIWYG-Modus läßt der TinyMCE offensichtlich ein `<p>&nbsp;</p>` drin. Im WYSIWYG-Modus kommt man aber mit dem Cursor n

[2020-01-27 15:57] fritzmg commented on #1117
The update to the newest MariaDB 10.2 version did not help either. In the mean time I have boiled it down to this simple test case, without any dependencies:

[code]

This results in

[code]

on the target hosting environment, while it works everywhere else.

Closing as it has nothing to do with Contao itself.

(btw. I am not sure why PDO::query sometimes throws a `PDOException` and sometimes just

[2020-01-27 15:57] #1117 closed, assigned to nobody

[2020-01-27 16:43] Defcon0 opened #1254 "Folder can get in public state unexpectedly"
Hello,

I think, I just found an issue concerning the public state of folders in the file manager.

## How to reproduce

1. Create a folder with some name, let's say "test" in the root of the files directory and set it to non-public (i.e. private).
1. Create a folder with the same name as a sibling to the first one (i.e. also in the root of the file manager) and set to public. You should get a val

[2020-01-27 20:57] ausi commented on #1207
@Samson1964 kannst du bitte testen ob der Fehler bei dir auch im Chrome-Browser auf demo.contao.org auftritt?
Und im Firefox bitte einmal im Inkognito-Modus (Neues privates Fenster) testen.

[2020-01-28 10:33] Samson1964 commented on #1207
Bingo. Firefox im privaten Modus und Chrome ist alles in Ordnung.

[2020-01-28 15:00] JulienSteininger opened #1258 "Member registration with mail activation causes problems when activating an account in the backend"
**Affected version**
Contao 4.4.45

**Description**
When registering with a mail that is already in use for another account activated in the contao backend the activation mail is not resent, no new member is registered, the form fields are not displayed and the submit button has no text.
In the file ModuleRegistration.php the function "resendActivationMail" is called after checking if the field "e

[2020-01-28 15:07] JulienSteininger commented on #996
Corrected version of the report here: #1258

[2020-01-28 15:48] fritzmg commented on #1117
The problem was caused because the hosting environment set the following parameters for the SQL server:
[code]
Also the MySQL server was run with `--skip-character-set-client-handshake`.

[2020-01-28 18:36] ausi commented on #1207
Eventuell liegt es an einer Erweiterung im Firefox die im privaten Modus nicht aktiv ist, oder am Browser-Cache.

[2020-01-29 08:23] koertho opened #1259 "Wrong parameter passed to Widget::getAttributesFromDca() in ModuleRegistration"
In ModuleRegistration a wrong parameter is passed to Widget::getAttributesFromDca(). Instead of an DataContainer object or null the own instand (Module object) is passed. Since this parameter is also passen to the `getAttributesFromDca` hook, this may throw an type exception if the hook parameters are typed (which they are in my case).

Code reference:
https://github.com/contao/contao/blob/feda301

[2020-01-29 08:30] Samson1964 commented on #1207
Danke, das war es! Als ich Cisco Webex, Empty Cache Button und OpenVideo deinstalliert habe, war der Spuk vorbei. Eine von diesen drei Erweiterungen war also schuld. Ich tippe auf OpenVideo, weil ich die erst vor ein paar Wochen hinzugefügt habe.
Sorry nochmal, das ich das als einen Bug in Contao/TinyMCE angesehen hatte.

[2020-01-29 08:30] #1207 closed, assigned to nobody

[2020-01-29 08:39] m-vo commented on #1259
You might want to check #1216 - maybe that was done intentionally and the hook's docs are wrong (saying you can't use type hints).

[2020-01-29 08:44] koertho commented on #1259
@m-vo But DataContainer is also expected in Widget:getAttributesFromDca():

https://github.com/contao/contao/blob/feda301a54a68920d2b5be38f6a13b8641aa211b/core-bundle/src/Resources/contao/library/Contao/Widget.php#L1230

The issue with typed hook listeners is just an follow-up problem.

[2020-01-29 09:20] fritzmg commented on #1259
No, that is the actual problem. All of the hooks and callbacks involved with the member front end modules cannot use a strict type. The documentation needs to be adjusted to that.

[2020-01-29 11:14] havutcuoglu opened #1260 ""Weiterlesen..." im Backend selbst definieren"
Hallo zusammen,

ich habe eine Frage bzw. eine Bitte.

Können wir es so machen, dass man den Text "Weiterlesen..." im Backend selbst definiert?

**Problem:**
Der Text "Weiterlesen..." lässt sich zwar über Template oder über default.php überschreiben, aber wenn man mehrere News-Archive hat vererbt sich die Umbenennung auf die andere Archive.

Bis jetzt bin ich so oft an solchen Problemen gestoßen u

[2020-01-29 11:18] fritzmg commented on #1260
Issues bitte im Mono Repository anlegen.

Zum Issue selbst: imho ist das nichts für den Core und sollte wenn dann mit einer Erweiterung gemacht werden. Geht relativ einfach mit einer DCA Erweiterung und einem [`parseArticles`](https://docs.contao.org/dev/reference/hooks/parseArticles/) Hook.

[2020-01-29 11:31] fritzmg commented on #1259
See https://github.com/contao/docs/pull/239

[2020-01-29 11:38] m-vo commented on #1259
The `@param` annotations are probably wrong nevertheless.

[2020-01-29 12:42] havutcuoglu commented on #1260
@leofeyer Danke dir!

Ich denke, das diese Texte vom Redakteur individuell editierbar sein sollten. Genauso wie beim Hyperlink- und Download-Element etc. Der Contra sollte dafür einen handfesten Grund liefern.

Man kann für solche grundsätzliche Dinger nicht immer Erweiterungen verwenden. Dann bleiben wir beim `Template` und `default.php` Lösung, was allerdings genauso schlimm ist.

[2020-01-29 12:46] fritzmg commented on #1260
Warum nicht als Erweiterung programmieren?

[2020-01-29 13:03] havutcuoglu commented on #1260
Weil es für eine Textänderung eine Erweiterung zu programmieren Overkill ist.

Was spricht dagegen, den Textfeld in den core auf zu nehmen?

[2020-01-29 13:05] m-vo commented on #1260
Templates und Translations musst du eh immer anpassen.

Es ist ein unnötiges Feld für die allermeisten User. Eine Extension ist imo der richtige Ansatz.

[2020-01-29 13:17] havutcuoglu commented on #1260
Wenn man aber verschiedene Texte haben möchte, weil der bedarf besteht, und nicht nur weiterlesen da stehen soll, macht so ein Feld imo schon Sinn.

News-bundle bietet sich sehr gut für Nachrichten, Blogs, Aktuelles, Angebote, Jobs ...
Hier wird eben vom Kunden oder Redakteure erwartet, das da nicht weiterlesen steht sondern zur Blogbeitrag oder Mehr über das Angebot erfahren oder oder...

Spreche

[2020-01-29 13:22] fritzmg commented on #1260
In den meisten Fällen reicht ja die Translation Änderung. Es ist ja ein Spezialfall von dir, dass du das nur für ein einzelnes Archiv anders haben möchtest

[2020-01-29 13:34] planepix commented on #1260
Es gibt diese Erweiterung:

https://extensions.contao.org/?q=More&pages=1&p=ngdot%2Fcontao-changenewsmore

Vielleicht löst das schon deine Wünsche

[2020-01-29 13:36] havutcuoglu commented on #1260
Was bringt es, wenn der Redakteur die Texte für die einzelne Beiträge nicht selbst definieren kann?

Wenn es so ist, dann sollte man die Texte für Hyperlink und Download ebenfalls rausnehmen. Kann man auch global definieren für Hyperlink reicht "Link folgen..." völlig aus und für Download auch "Herunterladen..." würde ausreichen.

Also die Argumente die Ihr liefert klink für mich so, als würde man

[2020-01-29 13:37] havutcuoglu commented on #1260
Wie es aussieht bin ich nicht der Einziger, der diesen einzelnen Fall hat.

[2020-01-29 13:43] fritzmg commented on #1260
Sorry, aber was soll diese Einstellung bitte? Wir diskutieren hier darüber, ob das eine sinnvolle Erweiterung für den Core ist - und das ist sie unseres (@fritzmg & @m-vo) Erachtens bisher nicht.

[2020-01-29 13:54] havutcuoglu commented on #1260
Sorry, nicht falsch verstehen. Vielleicht bin ich zu direkt.
In Contao-Forum gibt es so viele Threads und im Internet gibt es so viele Foren mit Fragen darüber, wie man den einen Text individuell gestalten kann, und ihr seid der Meinung das es keinen Sinn macht es in den Core aufzunehmen.
Da wird man eben etwas enttäuscht und misstrauisch.

[2020-01-29 13:54] fritzmg commented on #1260
Solche Anfragen gibt es - aber das was du vorschlägst ist mir im noch nirgendwo untergekommen.

[2020-01-29 14:06] pressi opened #1261 "Mailversand über Swiftmailer, Sendmail command ändern?"
Hallo,

seit Contao 4.8 funktioniert auf meiner Webseite der Emailversand nicht mehr.
Nach langer Suche und Zusammenarbeit mit dem Hosting Support bin ich auf den Fehler gestoßen.
Beim Swiftmailer SendmailTransport ist diese 'command' => **'/usr/sbin/sendmail -bs'** hinterlegt.
Damit es bei mir am Hosting funktioniert müsste aber  **'/usr/sbin/sendmail -t -i'** hinterlegt werden.

Meine Frage, wo

[2020-01-29 14:09] havutcuoglu commented on #1260
Wenn etwas öfter gefragt wird, dann ist da grundsätzlich was schief gelaufen.
Das ist für mich ein Indiz dafür, den Text manuell editierbar zu machen, und zwar so, dass jeder es editieren kann.

Was ich vorschlage ist nicht anderes als das was die User erwarten.

[2020-01-29 14:13] fritzmg commented on #1260
Ja, und wie bereits gesagt habe ich die Anfrage _Weiterlesen Link Label pro Nachrichtenarchiv definieren können_ noch nicht zuvor gesehen.

[2020-01-29 14:23] bytehead commented on #1261
Du müsstest wohl deinen eigenen Mailer (Service) konfigurieren:
[code]

[2020-01-29 14:29] havutcuoglu commented on #1260
Eigentlich nicht pro Nachrichtenarchiv sondern pro Beitrag.

Andere CMS bieten diese Möglichkeit. z.B. Joomla

[2020-01-29 14:36] pressi commented on #1261
OK, derzeit werden die Emails über das Notifictaion Center verschickt, wie stelle ich das hier ein?

Ich dachte es gibt eventuell eine globale Einstellung.
Da es über die Contao Email Klasse sowie über das Notification Center nicht funktioniert.

[2020-01-29 14:51] asaage commented on #1260
Also ich fahr' super damit den Link bei Bedarf im Template anzupassen.
Oft entfern' ich den sogar und nutz' das Bild und die Überschrift als Link.
Um Templateanpassungen bin ich in letzter Zeit sowieso nicht mehr herumgekommen.
Das pro Beitrag als extra Feld zu wollen ist doch echt nur eine winzige DCA-Anpassung die man machen kann wenn man's denn braucht.

[2020-01-29 14:51] bytehead commented on #1261
Du müsstest den Service `mailer` überschreiben/decoraten mit deiner angepassten Version: https://symfony.com/doc/current/service_container/service_decoration.html

[2020-01-29 14:54] sennamint opened #1262 "SPAM trotz Honeypot in Contao 4.4 (form_captcha.html5)"
Einer unserer Kunden berichtete uns von einer Welle an SPAM-Mails, die er in den letzten Tagen über das Kontaktformular seiner Contao-Website erhalten hat trotz verborgener Captcha-Rechenaufgabe mit Honeypot-Script, wie es in Contao 4.4 Standard ist.

Dieses Thema wurde u.a. schon einmal in diesem Ticket behandelt:
https://github.com/contao/core/issues/8874

Ich habe mir deshalb die im Template [f

[2020-01-29 15:00] pressi commented on #1261
Danke für die Info, kannst du mir bitte ein Beispiel geben, habe ein Service noch nie überschrieben in Contao.

[2020-01-29 15:51] V15 opened #1263 "Login führt zu einer Fehlermeldung"
Ich habe eine neue Installation von Contao 4.8.x bei Hetzner aufgesetzt und diese dann auf 4.9 RC1 upgedatet. Nach dem Login unter der Domain http://www.domain.de/contao/login erscheint die folgende Fehlermeldung:

` base64_decode() expects parameter 1 to be string, null given`

Wenn ich die Seite neulade, passiert nichts.
Wenn ich hinter der Domain bzw. hinter "login" in der Domain "Enter" drücke

[2020-01-29 15:54] bytehead commented on #1263
See https://github.com/contao/contao/pull/1246.

[2020-01-29 15:58] bytehead commented on #1263
Sorry, the issue is not related to the mentioned ticket! 🙈

[2020-01-29 16:05] bytehead commented on #1263
Kannst du den Pretty-Error-Screen deaktivieren und den Stacktrace vom Fehler hier posten?

[2020-01-29 16:12] V15 commented on #1263
Wenn du mir verräts wie ich das mache, gerne.

[2020-01-29 16:18] bytehead commented on #1263
Du müsstest in der `config/config.yml` oder `config/config.yaml` folgendes stehen haben:
[code]

[2020-01-29 16:18] bytehead commented on #1263
Oder vielleicht siehst du im Log-File unter `var/log/` was?

[2020-01-29 16:25] V15 commented on #1263
Mit dem Eintrrag in der config.yml erscheint nur eine Standardfehlermeldung:

Oops! An Error Occurred
The server returned a "500 Internal Server Error".
Something is broken. Please let us know what you were doing when this error occurred. We will fix it as soon as possible. Sorry for any inconvenience caused.

[2020-01-29 16:27] V15 commented on #1263
Log-File:
`[2020-01-29 17:25:31] request.INFO: Matched route "contao_backend_login". {"route":"contao_backend_login","route_parameters":{"_route":"contao_backend_login","_scope":"backend","_token_check":true,"_controller":"Contao\\CoreBundle\\Controller\\BackendController::loginAction"},"request_uri":"http://domain.de/contao/login","method":"POST"} []
[2020-01-29 17:25:32] security.INFO: User has

[2020-01-29 16:27] bytehead commented on #1263
Danke, das hilft schon mal.

[2020-01-29 16:45] fritzmg commented on #1263
Mit dem Debug-Modus von Contao bekommst du auch den Stack Trace ;)

[2020-01-29 16:51] havutcuoglu commented on #1260
Man kann für alles Erweiterungen schreiben.

Soll ich in Template etwa abfragen:
[code]
Das wird ja nie ein Ende haben. :)

Ich weiß immer noch nicht was dagegen spricht? Also den Grund habe ich nicht verstanden.

Die Aussage unten ist nicht plausible.

Meiner Meinung nach müsste/sollte man den Weiterlesen-Text von Nachrichtenbeitrag bzw. Nachrichten-Teaser individuell anpassen können.

Vielleicht

[2020-01-29 16:53] V15 commented on #1263
OT: Das wäre sooo praktisch, wenn es dazu einen einfachen Link (im Manager!?) geben würde mit einer kurzen Erläuterung wie man das macht.

Ich habe den schon mal verwendet, aber das kommt einfach zu selten vor, daher weiß ich nicht mehr was nötig ist um den Debug-Modus aufzurufen.

Das liegt aber auch an euch - normalerweise funktioniert alles, daher braucht man den Debug-Modus nicht häufig ;-)

[2020-01-29 16:54] fritzmg commented on #1263
https://docs.contao.org/manual/de/system/debug-modus/

[2020-01-30 06:57] aschempp commented on #1260
In den allermeisten Fällen sollte dieser Text vom Redakteur der News nicht bearbeitet werden können, es ist eine Aufgabe des Designs. Und aus UX-Sicht finde ich es auch sinnvoll es konsistent zu halten, damit die Besucher wissen was passiert.

Das Feld hinzuzufügen benötigt vermutlich eine Datei und 5 Zeilen Code in deinem System. Wir können nicht 1001 Funktionen einbauen welche nur für 1% der Anw

[2020-01-30 08:34] WebRoxx opened #1264 "[4.9] Subpalettes öffnen nicht"
Folgendes habe ich in der 4.9 RC1 festgestellt.

**Zum Beispiel:**

Seitenstruktur -> eine Seite wählen -> Checkbox: Seite schützen -> passiert nichts, nur Ladeanimation

Post-Request sendet da wohl "null"

[2020-01-30 08:35] bytehead commented on #1264
Siehe https://github.com/contao/contao/pull/1225.

[2020-01-30 08:35] WebRoxx commented on #1264
Oh Sorry

[2020-01-30 08:36] bytehead commented on #1264
Könnte damit zusammenhängen.

[2020-01-30 08:37] WebRoxx commented on #1264
Ja das wird vermutlich so sein.

[2020-01-30 08:42] bytehead commented on #1264
Definitiv: `No route found for "POST /null"` laut Inspector. Ist durch #1225 behoben.

[2020-01-30 08:42] #1264 closed, assigned to nobody

[2020-01-30 10:29] ausi commented on #1261
Contao überschreibt bzw. decorated z. B. den `translator` service von Symfony als Beispiel: https://github.com/contao/contao/blob/feda301a54a68920d2b5be38f6a13b8641aa211b/core-bundle/src/Resources/config/services.yml#L771-L776

[2020-01-30 10:37] ausi commented on #1262
Für Anregungen sind wir gerne offen denke ich.

Als Info, folgende Anforderungen haben zur aktuellen Lösung geführt:

- Soll auch ohne JavaScript (für Menschen) bedienbar bleiben.
- Soll möglichst keine Fehler mit Browser-Plugins verursachen die Formularfelder automatisch ausfüllen.
- Soll von den meisten Besuchern gar nicht bemerkt werden dass ein Schutz da ist.

Könntest du in deinem Projekt bit

[2020-01-30 11:59] fritzmg opened #1265 "Predefined image sizes do not work in some modules"
When using a predefined image size (https://github.com/contao/contao/pull/537), the teaser images of the `ModuleNewsList` will not be resized accordingly. Instead, only the original image will be shown.

The problem is this condition:

https://github.com/contao/contao/blob/feda301a54a68920d2b5be38f6a13b8641aa211b/news-bundle/src/Resources/contao/modules/ModuleNews.php#L178-L181

None of the condit

[2020-01-30 13:33] leofeyer commented on #1220
See #1266.

[2020-01-30 13:33] #1220 closed, assigned to leofeyer

[2020-01-30 13:35] #978 closed, assigned to nobody

[2020-01-30 14:57] ausi commented on #1265
I think so, yes. `$arrArticle['size']` should only get overwritten if `$this->imgSize` is a “real” size.

For backwards compatibility sizes like `[0, 0, 'proportional']` need to be handled the same way as if they are not set at all.

[2020-01-30 16:41] V15 commented on #1263
Daran hat es gelegen: Ich hatte noch ein be_login.html5 Template (mit einem Logo) von der 4.4 in dem Template Ordner liegen. Das habe ich nun gelöscht und der Login funktioniert einwandfrei.

Entschuldigt bitte das ich das nicht früher gesehen habe :-(

[2020-01-30 17:02] bytehead commented on #1263
Ah, ja das hat sich in 4.5 eigentlich schon geändert. Aber durch die Base64-Kodierung des Parameters erst in 4.9-RC1 zum Fehler geführt.

[2020-01-31 07:14] #1263 closed, assigned to nobody

[2020-01-31 08:48] pressi commented on #1261
Super Danke!
Jetzt hab ich es gecheckt und es funktioniert, wäre es nicht einfacher wenn diese Email 'command' über die Einstellungen (config.yml oder so) veränderbar wäre?
Oder wäre das gar nicht möglich?

Bei einem anderen Hostinganbieter funktioniert der Email versandt ohne das ich etwas ändern muss, auf diesem aber leider nicht.
Den Fehler zu finden war nicht einfach, da am Hosting auch in kei

[2020-01-31 11:21] sennamint commented on #1262
Danke, Martin, für Deine Informationen zu den Anforderungen. Das ist nachvollziehbar und absolut sinnvoll.

Danke Dir auch für die sehr clevere und simple Lösung mit dem Timeout. Wir haben das Timeout sicherheitshalber gleich auf 10 Sekunden festgelegt. Das ist eine Zeitspanne, bei der vermutlich kein Bot am Ball bleiben würde. Ein Mensch wird für das Ausfüllen eines Kontaktformulars mindestens 10

[2020-01-31 15:15] leofeyer commented on #909
Siehe #1268.

[2020-01-31 15:15] #909 closed, assigned to leofeyer

[2020-01-31 15:24] epsreps opened #1269 "tl_session missing"
In a fresh install of contao 4.8.7 the table tl_session is missing after running contao/install. is this the correct behavior? i've nothing found in the issues and forums.

[2020-01-31 15:32] bytehead commented on #1269
Yes, the session table got kicked with Contao 4.5 (introducing the Symfony security system): https://github.com/contao/core-bundle/pull/1232. It is the correct behaviour.

[2020-01-31 15:40] epsreps commented on #1269
i see. thanks

[2020-01-31 15:40] #1269 closed, assigned to nobody

[2020-01-31 15:54] leofeyer commented on #1061
Solving this is not trivial though, as the basis for highlighting words is the `matches` field from the search results object. If you e.g. search for `"the open source" awesome`, the search result object will look like this:

[code]

There is no way to distinct between single keywords and phrases anymore.

[2020-01-31 16:13] leofeyer commented on #937
I am with @ausi on this one.

[2020-01-31 16:31] havutcuoglu commented on #1260
Das möchte ich sehen, wie es mit 5 Zeilen Code umgesetzt wird. 😃

Klar ist Contao leicht anzupassen, aber dauert ewig, weil man – wie du bereit sagst – an 1001 Stellen Funktionen einbauen muss.

Aber trotzdem danke schön, das Ihr Zeit für mein Anliegen genommen habt. 👍

[2020-01-31 16:44] fritzmg commented on #1260
[code]
[code]

[2020-01-31 16:50] leofeyer commented on #1061
Turns out there is a way to fix this, however, it implies a BC break (see #1270).

[2020-01-31 16:50] #1061 closed, assigned to leofeyer

[2020-01-31 22:55] havutcuoglu commented on #1260
@fritzmg das mit dem `PaletteManipulator` wusste ich nicht. 😲

Das macht natürlich alles um vielfaches einfacher. 👍

[2020-01-31 22:55] #1260 closed, assigned to nobody

[2020-02-01 12:05] Mynyx opened #1271 "Newsletter-Verteiler Darstellung Feld Weiterleitungsseite"
Wenn bei einem Newsletter-Verteiler keine Weiterleitungsseite ausgewählt wurde, wird in der Parent View bei Weiterleitungsseite ``0`` angezeigt.

Stattdessen sollte bei Nichtauswahl einer Weiterleitungsseite ``-`` angezeigt werden oder keine Ausgabe erfolgen (wie in der Detailansicht des Verteilers).

[2020-02-01 12:22] Mynyx opened #1272 "Übersetzung "channel" im Newsletter Bundle"
Im Newsletter Bundle sollte die Übersetzung von "channel" stets "Verteiler" lauten.

https://github.com/contao/contao/blob/bf87609767e5623d9da8b98920683bef2d651997/newsletter-bundle/src/Resources/contao/languages/de/tl_newsletter.xlf#L56-L59

https://github.com/contao/contao/blob/bf87609767e5623d9da8b98920683bef2d651997/newsletter-bundle/src/Resources/contao/languages/de/tl_newsletter.xlf#L80-L83

[2020-02-02 22:39] Anke opened #1273 "BE: Sortierung der Kalender und Events"
**A. Events (contao?do=calendar):**

Wenn man eine Liste mehrerer Kalender hat wie z.B.

- Termine 2015
- Termine 2016
- Termine 2017  
- Termine 2018  
- Termine 2019  
- Termine 2020
-
wäre es schön, wenn man die Sortierung beeinflussen könnte. Bis jetzt gibt es nur eine Such- und Filter-Funktion.

**B. Events/[Kalendername]/Events (contao?do=calendar&table=tl_calendar_events):**

Hier kann man

[2020-02-03 14:24] Toflar opened #1276 "RFC: Command to generate a contao-templates.lock"
**Description**

I find myself missing template changes over and over again.
When I update to new Contao versions, I just run `composer update` to update to the latest packages. Then I execute migrations with the new `contao:migrate` command and I'm done.
However, when I have adjusted templates in my project and there were core template changes, I have to check manually to see if there were change

[2020-02-03 15:03] m-vo commented on #1276
Yeah, I feel the same way. I once had the idea to add tests to my toolchain, that fail as soon as there are changes to templates I'm using/extending (storing file hashes in the test).

[2020-02-03 15:15] ausi opened #1277 "Route 'contao_backend_switch' not found"
**Affected version** `4.9.x-dev`

Did we rename the route `contao_backend_switch` to `contao_backend_preview_switch` in #989 on purpose?

If so we need to update https://github.com/contao/contao/blob/68b47c6ccab103c8fd205bc1c9a7f105c293d86b/UPGRADE.md#L312 and probably mention the rename of the route in a `Version 4.* to 4.9` section in the *UPGRADE.md*.

/cc @richardhj

[2020-02-03 16:23] richardhj commented on #1277
The routes are not functional identical, I guess this is why I renamed the route 🤷‍♀️

[2020-02-04 10:07] loilo opened #1278 "Default table sorting is not applied"
**Affected version(s)**
< 4.8, including 4.4 LTS (only tested 4.4 upwards)

**Description**
Sortable tables are not sorted initially, although according to the sort index description they should be ("The number of the default sort column"). Since 4.4 is currently still LTS, this should probably be fixed.

**How to reproduce**
1. Create a table.
2. Make it sortable with the *Sortable table* checkbo

[2020-02-04 10:15] contaoacademy opened #1279 "Error thrown while running command contao:migrate"
**Affected version(s)**
Version 4.9.0-RC1

**Description**
Command `contao:migrate` throw error

**How to reproduce**
1. Install extension `terminal42/notification_center`
2. Execute `vendor/bin/contao-console contao:migrate`

The problem doesn't occur with every extension. I also tried with` terminal42/contao-easy_themes` which run fine.

**Stack-Trace**
[stack-trace-migrate.txt](https://github.c

[2020-02-04 11:45] saress opened #1280 "Crawler: Anzeige Frontend-Mitglied nur bei aktivierter Suche von geschützten Seiten"
**Affected version(s)**
C 4.9.x-dev

**Description**
Im Bereich Systemwartung sollte beim "Crawler" die Auswahlmöglichkeit eines Frontend-Mitglieds nur angezeigt werden, wenn die Suche für geschützte Seiten über die config.yml explizit aktiviert wurde.

Aktuell geht man davon aus, dass der Crawler nach der Auswahl eines Frontend Mitglieds auch geschützte Seiten indexiert, was aber nicht stimmt, da

[2020-02-04 12:46] ausi commented on #1279
Der Fehler scheint in der Datei *terminal42/notification_center/config/runonce.php* zu liegen. Die Fehlermeldung deutet darauf hin, dass darin eine Abfrage fehlt ob die Tabelle `tl_nc_language` existiert.

[2020-02-04 12:49] contaoacademy commented on #1280
Wäre super, wenn es einen kleinen Hinweis im Backend dazu gibt.
"Um geschützte Seiten zu indizieren, muss die Funktion in der `config.yml` aktiviert werden".
Oder so ähnlich

[2020-02-04 12:49] ausi commented on #1279
Die Zeile https://github.com/terminal42/contao-notification_center/blob/ef96a2af1f26ec66ae7b7b9947799556549caff3/config/runonce.php#L11 sollte vermutlich folgendermaßen erweitert werden:

[code]

[2020-02-04 12:53] contaoacademy commented on #1280
Wäre außerdem super, wenn das Ticket https://github.com/contao/contao/issues/754 gleich mit berücksichtigt wird :-)

[2020-02-04 13:15] contaoacademy commented on #1279
Danke. Kann ich das Ticket verschieben zum notification_center oder muss ich das neu erstellen?

[2020-02-04 13:24] ausi commented on #1279
Bitte ein neues Ticket erstellen.

Dieses hier würde ich noch offen lassen, da die *runonce.php*-Datei aus dem notification center schon 5 Jahre alt ist, könnte es sein dass sich an Contao hier etwas geändert hat.

[2020-02-04 13:48] fritzmg commented on #1279
Hm, dieser Fehler sollte aber auch ohne den neuen Migrations auftreten. Allerdings habe ich den Verdacht, dass vorher etwaige Fehler in der runonce.php einfach verschluckt wurden.

[2020-02-04 13:55] leofeyer commented on #1208
See #1282

[2020-02-04 13:55] #1208 closed, assigned to leofeyer

[2020-02-04 14:05] leofeyer commented on #1226
See #1283

[2020-02-04 14:05] #1226 closed, assigned to leofeyer

[2020-02-04 14:30] leofeyer commented on #1247
Siehe #1284

[2020-02-04 14:30] #1247 closed, assigned to leofeyer

[2020-02-04 15:28] aschempp opened #1285 ""Current Device" for Trusted Devices does not work"
**Affected version(s)**
4.9

**Description**
The current implementation to detect the current trusted device will not work reliably. We are storing the trusted device cookie data, but the data will change for ever user that has logged in (all users are stored in the same cookie).

There are only two options:
 1. remove "current device" for trusted devices
 2. duplicate probably 80% of the 2FA Trus

[2020-02-04 15:29] bytehead commented on #1285
I do have some working code laying around. But exactly with this issue, because you need to write your own `DeviceTokenStorage`.

[2020-02-04 15:39] bytehead commented on #1285
To keep it simple as it gets I personally vote for option 1.

[2020-02-04 16:00] leofeyer commented on #1224
See #1286.

[2020-02-04 16:00] #1224 closed, assigned to leofeyer

[2020-02-04 16:00] leofeyer commented on #1236
I am closing this in favor of #1250.

[2020-02-04 21:29] leofeyer commented on #1285
Can you point me to the problematic code please?

[2020-02-04 21:30] leofeyer commented on #1277
We should restore the original route name IMHO. @contao/developers WDYT?

[2020-02-04 22:54] Toflar commented on #1277
Doesn‘t really matter to me. I don‘t see why routes would be covered by a BC promise. That makes no sense to me.

[2020-02-05 07:41] leofeyer commented on #1277
They are not covered by the BC promise, but there is also no reason to change the route name, which then requires to adjust the documentation.

[2020-02-05 07:51] Toflar commented on #1277
Agreed

[2020-02-05 07:51] richardhj commented on #1277
Rolling back the route name is OK for me. But people who rely on the `contao_backend_switch` route will encounter problems nonetheless in Contao 4.9. So having a break here might seem reasonable.

[2020-02-05 08:01] leofeyer commented on #1277
In what way?

[2020-02-05 08:27] aschempp commented on #1285
Not sure what you mean. https://github.com/contao/contao/blob/master/core-bundle/src/Security/TwoFactor/TrustedDeviceManager.php#L72 stores the current cookie value, but the cookie value can contain multiple trusted device tokens.

[2020-02-05 08:27] netzarbeiter opened #1288 "Ausgabe in der Konsolen ab Contao 4.9 anpassen"
Wenn ich auf der Konsole ein `composer update` durchführe, wird mir am Schluss folgende Meldung ausgegeben:

`Done! Please open the Contao install tool and make sure the database is up-to-date.`

Da ich dank `contao:migrate` jetzt das Datenbank-Update auch direkt auf der Konsole anschieben kann, würde ich die Meldung wie folgt ändern:

`Done! Please open the Contao install tool or run contao:migra

[2020-02-05 08:29] Toflar commented on #1288
https://github.com/contao/contao/pull/1289

[2020-02-05 08:29] #1288 closed, assigned to nobody

[2020-02-05 08:34] netzarbeiter opened #1290 "Favicon kann beim Startpunkt nicht eingefügt werden"
Wenn ich im Backend einer 4.9 (neuste dev) beim Startpunkt ein Favicon auswähle und auf Anwenden klicke passiert nichts.

In der Browser-Konsole steht folgende Fehlermeldung:

[code]

[2020-02-05 09:02] fritzmg commented on #721
Imho this issue should stay open.

[2020-02-05 09:50] Toflar commented on #950
`2.9.0` has just been released. Can you guys update your dependencies and see if this solves the issue? We can close this one then :)

[2020-02-05 10:19] richardhj commented on #1277
I correct myself.
Both the old script and the new `BackendPreviewSwitchController` will return the toolbar on a GET request. I don't think, anyone utilizes this route, but we can change back the name :-)

[2020-02-05 12:20] netzarbeiter commented on #1143
Wir haben die englische Übersetzung für die Tastenkürzel eingepflegt.

https://docs.contao.org/manual/en/administration-area/back-end-keyboard-shortcuts/

[2020-02-05 12:37] fritzmg commented on #1143
Ich habe auch Redirects für beide alten URLs eingerichtet.

[2020-02-05 13:03] fritzmg commented on #203
Another candidate are the timeout settings which have been removed in 77b024a3051725909fda1b9d4f1f13870a532e71 . They aren't even part of the original list in https://github.com/contao/contao/issues/203#issue-384740170

No bundle configuration has been provided though. Again: I am strongly against removing anything from the back end settings, if:

* the setting itself is still used by the core
* n

[2020-02-05 16:53] ausi commented on #1277
I do 🙃 https://github.com/madeyourday/contao-rocksolid-frontend-helper/blob/519ed500a582069baaa1bb9456039f706f7b7ab0/src/FrontendHooks.php#L288

[2020-02-05 18:09] Tastaturberuf commented on #1183
Kann man auch einfach so fixen:
[code]

[2020-02-06 07:59] ausi commented on #1279
Dein Verdacht ist korrekt: https://github.com/contao/contao/blob/4.8/core-bundle/src/Resources/contao/classes/Backend.php#L259-L265

Bisher wurden alle Exceptions ignoriert und die Datei danach dennoch gelöscht. Sollten wir für Rückwärtskompatibilität das Verhalten so übernehmen?

Ich wäre dafür das Verhalten im Migrate Command so zu lassen wie es jetzt ist, also den Fehler zu werfen und den Proze

[2020-02-06 15:24] zonky2 commented on #721
here a screenshot from T3

![](https://user-images.githubusercontent.com/1192057/132835921-cd07b65e-a3f3-4c5d-8199-0cd726738091.png)

[2020-02-07 06:20] aschempp commented on #203
The `sessionTimeout` is actually obsolete in Contao 4.5, but the other ones are not. However, there have always been config flags that cannot be set in the back end, if they are not supposed to be changed ("expert only", e.g. `disableInsertTags`)...

[2020-02-07 06:36] aschempp commented on #1278
I don't know about that checkbox, can you please explain it?

[2020-02-07 06:43] loilo commented on #1278
Sure. I mean the checkbox in the "Sorting options" section when editing a table content element:

![Screenshot of the said checkbox in the Contao backend](https://user-images.githubusercontent.com/1922624/74006987-83d90900-497d-11ea-8267-fc2fa9a1a450.png)

[2020-02-07 06:52] aschempp commented on #1276
I like the idea of "seeing what templates changed". But for some reason I don't like the templates.lock, and I have no other clever idea how to fix this… I don't want git to tell me the hash has changed, I want to see the actual differences (and possibly without git?).

[2020-02-07 07:48] aschempp commented on #937
What are `sizes` recommended for then?

[2020-02-07 08:35] Toflar commented on #1276
The alternative would be to store all template contents in one file so you can see the diff. Not using git would mean you need to store two files which doesn't make sense to me.
VCS were invented for this.

[2020-02-07 09:09] fritzmg commented on #1276
👍 for the idea in general. I frequently have to tell people in the forum that they of course need to compare all their modified templates after each major or minor update at least. Knowing at least _which_ templates have changed would help a lot.

[2020-02-07 09:11] Toflar commented on #1276
We would leave those people behind because they don't use VCS. If we wanted that, we'd need to keep track of the changes somewhere else (aka the database). And I cannot even express how much I'm against such a solution. Use VCS. End of story.

[2020-02-07 09:12] saress commented on #997
Das Verhalten hat sich in der aktuellen C4.9-dev noch nicht geändert, wie ich gerade in einer Testinstallation festgestellt habe.

[2020-02-07 09:18] leofeyer commented on #1276
ACK.

[2020-02-07 09:23] fritzmg commented on #1276
I don't think _all_ of those people _don't_ use VCS :). I am not against your approach. And if we have something like this in Contao, then it will promote using a VCS to those that aren't.

[2020-02-07 09:41] fritzmg commented on #203
Hmm, then may be it makes sense after all to document all localconfig settings separately. Should this go into the manual or dev docs then? Imho it is sort of relevant for both ...

[2020-02-07 09:51] leofeyer commented on #1277
So what now?

[2020-02-07 09:55] leofeyer commented on #1290
Duplicate of #1214

[2020-02-07 09:55] #1290 closed, assigned to nobody

[2020-02-07 09:58] leofeyer commented on #1252
@Toflar Can you look into this please?

[2020-02-07 10:21] leofeyer commented on #1280
Siehe #1291

[2020-02-07 10:21] #1280 closed, assigned to Toflar

[2020-02-07 10:38] richardhj commented on #1277
#1292 :-)

[2020-02-07 10:40] Toflar commented on #1252
We're removing the `contao.search.indexer.delegating` if there's not a single search indexer. However, we also inject the search indexer into the `SearchIndexSubscriber` (the one that's indexing on crawling) and the `SearchIndexListener` (the one that updates the index on `kernel.response`).
In fact we would also need to remove both of them if there is no indexer. And if there's no crawl subscribe

[2020-02-07 10:44] leofeyer commented on #1272
Ich habe die deutsche Übersetzung angepasst.

[2020-02-07 10:44] #1272 closed, assigned to nobody

[2020-02-07 10:54] leofeyer commented on #1143
See #1293

[2020-02-07 10:54] #1143 closed, assigned to leofeyer

[2020-02-07 11:02] leofeyer commented on #1144
@ausi and @Toflar taught me better:

[2020-02-07 11:06] leofeyer commented on #1252
Depending on how much work it is, I lean towards removing the subscriber and the listener in case there is no search indexer.

[2020-02-07 11:20] Toflar commented on #1144
But we could check if it's all UTF-8 and in such a case deserialize for version comparison. Should be as easy as `preg_match('//u', $string)`. Or using the UTF8 lib.

[2020-02-07 11:30] leofeyer commented on #1144
See #1294

[2020-02-07 11:30] #1144 closed, assigned to leofeyer

[2020-02-07 11:31] Toflar commented on #1252
So it would look more or less like #1295?

[2020-02-07 11:59] leofeyer commented on #1252
Yes, #1295 looks correct (I have not tested the changes yet).

[2020-02-07 12:01] #1258 closed, assigned to leofeyer

[2020-02-07 12:31] samuelheer opened #1297 "Website Crawl on Valet Server"
**Affected version(s)**
Version 4.9-RC1

**Description**
In meiner lokalen Entwicklungsumgebung (Laravel Valet) ist es nicht möglich den Contao Crawl auszuführen.

[Contao\CoreBundle\Crawl\Escargot\Subscriber\BrokenLinkCheckerSubscriber] [[object] (Terminal42\Escargot\CrawlUri: URI: http://localhost/examplesite.html (Level: 0, Processed: yes, Found on: root, Tags: none))] Broken link! HTTP Status

[2020-02-07 13:13] aschempp commented on #1278
Thanks for the clarification. I wasn't aware you did mean the table content element, I assumed some PHP code in the back end 😂

[2020-02-07 13:14] loilo commented on #1278
That's a reasonable assumption I guess. 😅

[2020-02-07 13:27] aschempp commented on #1276
Unfortunately, noone of use uses VCS for the templates, because they are in the `vendor` folder. I _would_ use VCS if I could, but that would probably mean I need to exclude templates from `.gitignore`?

[2020-02-07 13:33] leofeyer commented on #1285
@bytehead has explained the issue to me (thank you again). Now that I understand it, I also vote for option 1, not showing "this device" in the device list.

[2020-02-07 13:39] Toflar commented on #1276
The goal is that we introduce a new command (we can add this to the default ones that are executed in the ME) which generates a `contao-templates.lock`. This lock file can contain all the template contents of all the third party (`vendor` and `system/modules`) templates. For example:

[code]

That means, whenever you run `contao:generate-templates-lock` it will just write this file again (meaning

[2020-02-07 14:10] Toflar commented on #1297
Das hat nichts mit Contao zu tun.

Heisst einfach, PHP kann keine Requests auf diese URL absetzen, weil dieser Host nicht existiert.
Ich weiss, dass Valet irgendwie mit DnsMasq funktioniert, ggf. musst du also dafür sorgen, dass die Crawler-Requests korrekt geproxy'ed werden.
Das wiederum kannst du natürlich bei Contao konfigurieren 😎

[code]

So funktioniert es dann z.B. mit dem Symfony Local Web

[2020-02-07 14:10] #1297 closed, assigned to nobody

[2020-02-08 10:16] ausi commented on #1277
Closed in favor of #1292

[2020-02-08 10:16] #1277 closed, assigned to nobody

[2020-02-08 10:20] ausi commented on #937
To tell the browser which resource to load.

[2020-02-08 17:05] ausi commented on #1252
Closed in favor of #1295

[2020-02-08 17:05] #1252 closed, assigned to Toflar

[2020-02-08 22:37] ausi commented on #997
Ich kann den Fehler reproduzieren:

<img width="392" alt="Bildschirmfoto 2020-02-08 um 23 32 17" src="https://user-images.githubusercontent.com/367169/74092948-b98c0800-4acb-11ea-8dba-d25b33b7a086.png">

Das Problem ist, dass sich mit dem Öffnen der Navigation der Body verbreitert und Chrome somit in einen anderen Darstellungsmodus wechselt wodurch fixierte Elemente anders angezeigt werden.

Sollt

[2020-02-10 07:02] zonky2 opened #1300 "Chosen bei CE Elementtyp sucht nicht auf Optgroup"
Chosen bei CE Elementtyp sucht nicht auf Optgroup - das hat zur Folge, dass z. B. "slid" nicht den "Slider" findet... man müsste "Umschlag" eingeben, was eher unlogisch ist...

btw: die Bezeichnungen, die im Select zu sehen sind, dürften für den "Gelegenheitsredakteur" nicht besonders aussagekräftig sein - "Umschlag Anfang" gibt es sowohl für Slider als auch für Akkordeon. Ggf. ändert sich das ja

[2020-02-10 07:27] MarkejN commented on #950
Sorry for the delay, I updated and tested it successfully and it solved the issue. Thanks for the effort!

[2020-02-10 07:42] Toflar commented on #950
Thanks for the feedback :)

[2020-02-10 07:42] #950 closed, assigned to nobody

[2020-02-10 08:22] aschempp commented on #1300
Ich fände es auch gut, die Namen entsprechend anzupassen. Z.B. "Slider – Umschlag Anfang" und "Slider – Umschlag Ende".

[2020-02-10 08:23] saress commented on #997
@ausi vielen Dank, hab ich gerade ausprobiert und bei mir am Handy werden die Icons nach dem Scrollen nach oben wieder an der richtigen Stelle angezeigt, scheint also zu funktionieren :-)

[2020-02-10 08:31] aschempp commented on #937
ah, well that was a synonym for "with of the image" to me. 👍

[2020-02-10 15:25] leofeyer commented on #997
Siehe #1302.

[2020-02-10 15:25] #997 closed, assigned to leofeyer

[2020-02-10 15:30] Cicco0 opened #1303 "Site structure options seems to be broken"
**Affected version(s)**
4.9.0-RC1

**Description**
The current implementation does not allow to set site structure options:
- XML sitemap
- Two-factor authentication
- Set cache timeouts
-  Assign access rights

If you click on the checkbox, only "Loading data" appears. The network manager shows that the POST request is delivered to NULL:
`https://test.contao.local/null`

**How to reproduce**
1. I

[2020-02-10 16:33] fritzmg commented on #1303
Duplicate of https://github.com/contao/contao/issues/1214

[2020-02-10 16:43] #1303 closed, assigned to nobody

[2020-02-10 17:06] leofeyer commented on #1183
Siehe #1305.

[2020-02-10 17:06] #1183 closed, assigned to leofeyer

[2020-02-11 09:46] Sascha07 commented on #809
Mich würde noch interessieren ob Ihr das Problem (durch die Analyse) bei den jeweiligen Hostern beheben konntet?

[2020-02-11 12:20] bennyborn opened #1307 "addWizardClass breaks compatibility with older versions"
**Affected version(s)**
4.9.0-RC1

**Description**
Any extension that uses any picker in a DCA which needed the `wizard` CSS-class will break the styling with 4.9 because of the new `addWizardClass` attribute. I've seen no way to be compatible with 4.4 and 4.9 without distinguishing between the versions within every `eval` of every field.

![image](https://user-images.githubusercontent.com/226890/

[2020-02-11 13:43] leofeyer commented on #1285
Closing this in favor of #1299.

[2020-02-11 13:43] #1285 closed, assigned to nobody

[2020-02-11 14:12] leofeyer opened #1309 "TODOs left for Contao 4.9.0"
- [x] Consistently use "backup codes" instead of "recovery codes" (see #1320)
- [x] Check if disabling 2FA clears the backup codes and trusted devices (see #1322)
- [x] Adjust the SERP widget to the new Google design (see #1323)
- [x] Fix rendering the picker preview (see #1327)

<img width="532" alt="" src="https://user-images.githubusercontent.com/1192057/74243895-d77e8600-4ce0-11ea-88de-223bb18

[2020-02-11 14:50] asaage commented on #1309
do you really want to keep up with googles designchanges?
they went from no-favicons, green-urls to favicons with breadcrumbs and no green at all and back to no favicons within a couple of weeks. And i assume the widget doesn't even consider richsnippets which google might find on the site.
Apart from that google often does not even use the meta-description but text that is more ~~appropiate and~~

[2020-02-11 15:27] contaoacademy commented on #1309
Ich fände es schön, wenn der Text der Checkbox beim Crawler "Nach kaputten Links suchen" noch anders benannt wird.
Das Wort "kaputt" ist umgangssprachlich.

Wie wäre es mit "Nach fehlerhaften oder defekten Links suchen"

[2020-02-11 15:28] aschempp commented on #1307
I think we should remove `'addWizardClass'=>false`. Instead of "removing" the wizard class, we should add CSS that "overrides" that class. For example, the class `dcawizard` should re-set the input width to 100%, which would already make the icon look good …

[2020-02-12 07:16] zonky2 opened #1310 "Tooltipps in Liste Benutzer für Icons links ergänzen"
Tooltipps in Liste Benutzer für Icons links ergänzen

[2020-02-12 07:56] Toflar commented on #1310
Bitte was?

[2020-02-12 08:00] zonky2 commented on #1310
Backend: Listenansicht Benutzer - die Icons links haben kein Tooltipp

[2020-02-12 10:02] bennyborn opened #1311 "addDefaultLabels breaks in tl_page when using extensions"
**Affected version(s)**
4.9.0-RC2 (reported by our users as low as 4.8)

**Description**
If any extension adds fields to `tl_page` and is still using the old way, setting the field label by reference, all core labels for `tl_page` are left empty.

As far as we've seen it seems that `tl_page` behaves a bit different to all the other DCA's. While in other DCA's the language files get loaded BEFORE t

[2020-02-12 10:48] netzarbeiter commented on #1310
![Bildschirmfoto 2020-02-12 um 11 46 55](https://user-images.githubusercontent.com/1942550/74328026-7bbe0680-4d8d-11ea-98c4-893ccf2e80f2.png)
Meinst du diese Icons ohne Funktion?

[2020-02-12 10:57] zonky2 commented on #1310
ja, mit dem Status als Tooltipp
Admin vs. Benutzer
aktiv vs. inaktiv
2FA

... für unbedarften User ist das m.E. nicht selbsterklärend - zumal es (nach meiner Durchsicht) auch im Manual nicht erklärt ist

[2020-02-12 11:03] fritzmg commented on #937
Can you elaborate on this? To me it seems like a perfectly valid use-case, and it is supported by the HTML standard as well, is it not?

[2020-02-12 11:53] bennyborn opened #1312 "Crawler usability"
**Description**
I was testing out the new crawler. Unfortunately it did not work at all (log reports `Couldn't resolve host name for http://foo.local/.....` but thats another story.

More interesting is the fact that the UI, although an error occured, does not state any problems at all. Everything is green and says `0 URL(s) erfolgreich indexiert. 0 fehlgeschlagen.`

If a user has a big installati

[2020-02-12 12:55] Toflar opened #1313 "Stop using document.write()"
**Affected version(s)**

4.4+

**Description**

We still use `document.write()` for our jQuery, MooTools fallbacks and we should use `document.createElement('script')`. Also see https://developers.google.com/web/updates/2016/08/removing-document-write.

I could also see usages in `be_ace.html5`, `be_tinyMCE.html5`, `core.js` etc.

[2020-02-12 13:52] bytehead commented on #1261
Eine weitere Möglichkeit wäre, die Standardkonfiguration des Services `mailer` zu ändern:
[code]

Laut https://symfony.com/doc/current/reference/configuration/swiftmailer.html#command müsste sich `command` anpassen lassen :)

[2020-02-12 15:28] contaoacademy commented on #1060
Perhaps the name of the default template could be listed in a label or note. This would be very helpful for usability to know which template to create to overwrite.
![ce-text](https://user-images.githubusercontent.com/23719181/74349528-a96a7600-4db4-11ea-9a81-07c6437d402c.jpg)

[2020-02-12 20:55] ausi commented on #937
[The spec writes](https://html.spec.whatwg.org/#sizes-attributes) *“The `<source-size-value>` gives the intended layout width of the image.”*

[The examples](https://html.spec.whatwg.org/#introduction-3:viewport-based-selection-2) in the spec state: *“In this example, a banner image takes up the entire viewport width (using appropriate CSS).”* and *“These sizes do not necessarily have to match up

[2020-02-12 21:58] m-vo commented on #1276
Sure, you could unignore the template folder on the application level. But you would need to do this manually for all extensions which imo is impractical.

[2020-02-12 22:13] lolohz opened #1314 "Static Layout of #wrapper is not working (4.8.7 API version 2)"
Contao 4.8.7 (API version 2)
PHP 7.3 API 20180731

Hello
Static Layout (Overall width and Alignment) of #wrapper is not working for me.

Themes > Any Theme > Page layouts › Edit page layout | Static layout

It seems the generated html always put the Static Layout style section before the tag that includes internal styles so "layout.min.css,responsive.min.css,grid.min.css,colorbox.min.css,...-62249

[2020-02-13 07:18] leofeyer commented on #1313
So the only problematic case would be if someone configures a completely different domain as assets URL, e.g. when using a CDN. Other than that, we are never loading external scripts via `document.write()` in Contao.

[2020-02-13 07:58] Toflar commented on #1313
`document.write()` also blocks rendering, so we should just not use it at all.

How come? I even mentioned other places where we use it.
https://github.com/contao/contao/blob/ce47fcbcf135f3cb98a74a8b11c94c404b5e9521/core-bundle/src/Resources/contao/pages/PageRegular.php#L402
https://github.com/contao/contao/blob/ce47fcbcf135f3cb98a74a8b11c94c404b5e9521/core-bundle/src/Resources/contao/pages/PageRe

[2020-02-13 09:05] leofeyer commented on #1313
Yes, but none of these calls are cross-origin requests. They are all eTLD+1.

[2020-02-13 09:06] Toflar commented on #1313
They are still blocking and should be replaced. We should not use `document.write()` anywhere.

[2020-02-13 09:11] fritzmg commented on #1060
Btw. why not simply restore the old behaviour (i.e. showing `ce_text` or `ce_text (global)`) and remove `includeBlankOption`? This way it's clear that the only option, that is shown, is the default template - or the overridden template within `templates/`, if applicable.

Then it would also be consistent with the "element" template select:

![Screenshot_2020-02-13 Themes › Default › Front end modu

[2020-02-13 09:15] leofeyer commented on #1313
Agreed.

[2020-02-13 09:20] leofeyer commented on #1060
Because then the database entry will be `ce_text` instead of a blank string.

But we can adjust the drop-down menu to show the default template name instead of the dash for the blank option: `<option value="">ce_text</option>`

Then the UX would be the same as before and the database entry would still be blank.

[2020-02-13 09:24] fritzmg commented on #1060
Sounds good to me :). Also with the `(global)` or `(themefolder)` indicator?

[2020-02-13 09:25] leofeyer commented on #1060
No, because `(global)` means "the template is in the `/templates` directory" and `(themefolder)` means "the template is in the `/templates/themefolder` directory" and neither one is correct.

[2020-02-13 09:27] fritzmg commented on #1060
Not sure what you mean, that is correct is it not? If there is a `templates/ce_text.html5`, then it should say

[code]

etc.

[2020-02-13 09:40] leofeyer commented on #1060
Ah, I see. 👍

[2020-02-13 10:41] leofeyer commented on #1278
See #1315

[2020-02-13 10:41] #1278 closed, assigned to leofeyer

[2020-02-13 10:51] leofeyer commented on #1313
I have just tried to implement this, however, neither ACE nor TinyMCE will load if the script is added in a non-blocking way, because their init script relies on the main script being loaded beforehand. 🤷‍♂

[2020-02-13 11:00] Toflar commented on #1313
Can't we load everything async and execute the init after it was loaded?

[code]

[2020-02-13 11:11] leofeyer commented on #1167
See #1316

[2020-02-13 11:11] #1167 closed, assigned to leofeyer

[2020-02-13 11:26] #1138 closed, assigned to leofeyer

[2020-02-13 11:28] leofeyer commented on #1110
How do I reproduce this? I just tried Safari, Chrome and Firefox on Mac OS and the 2FA field hat the focus in all three browsers.

[2020-02-13 11:44] aschempp commented on #1312
The stats are certainly corrrect. Be aware that this is a _Crawler_, it crawls your page and follows every link there is. That's not related to your page structure. For example, every news might have a detail page. Every calendar module possibly has 100 links to go forward and back in time to see different calendar items. A gallery content element might generate multiple pages of content with diff

[2020-02-13 11:51] bennyborn commented on #1312
I totally get the use behind the Crawler but crawling on external pages not belonging to your Contao installation seems unnecessary (afair Escargo seems to be aware if an page is external) and I can image it could quite cause some trouble on some standard hostings where this might also violate the Terms of use.

Nonetheless if an error occurs the user should be notified. Stating "everything is oka

[2020-02-13 12:01] aschempp commented on #1276
That's my point 😆

[2020-02-13 12:08] Anke commented on #1110
Leo, I'm sorry, it didn't work for me in FF a while ago, but it is now.

[2020-02-13 12:08] #1110 closed, assigned to nobody

[2020-02-13 12:11] #932 closed, assigned to leofeyer

[2020-02-13 12:27] #1135 closed, assigned to leofeyer

[2020-02-13 12:32] leofeyer commented on #1265
So how do we fix the issue?

[2020-02-13 13:51] leofeyer commented on #1307
@bennyborn Can you elaborate on your problem please? I fail to see how the `addWizardClass` attribute is causing the problem – the core only uses it for the `tl_files.name` field.

[2020-02-13 13:54] leofeyer commented on #1311
I cannot reproduce this issue. I have added `isotope/isotope-core` to my local Contao 4.9.0-RC2 installation and I have checked the site structure – all labels are there. 🤷‍♂

[2020-02-13 14:10] Toflar commented on #1312
It does not crawl external pages. It only requests the ones found on your page and only if you activated the broken link checker. You can see that from the debug log (on the top right, next to the progress bar).

[2020-02-13 14:23] ausi commented on #1265
As discussed on Mumble, yes.

`($size[2][0] ?? null) === '_'` should be the most performant way for the check, see https://3v4l.org/77aKk

[2020-02-13 14:37] leofeyer commented on #1205
Wie am 13. Februar auf Mumble besprochen, wollen wir die Menüpunkte, die [$user->navigation()](https://github.com/contao/contao/blob/68b47c6ccab103c8fd205bc1c9a7f105c293d86b/core-bundle/src/EventListener/Menu/BackendMenuListener.php#L85) zurück gibt, alphabetisch sortieren. Anschließend kann bei Bedarf mittels Event Listenern die Reihenfolge angepasst werden.

[2020-02-13 14:44] bennyborn commented on #1312
Please see the attached debug log. These are definitely pages that are not linked within the Contao installation.

[crawl_debug_log.zip](https://github.com/contao/contao/files/4198932/crawl_debug_log.zip)

[2020-02-13 14:59] aschempp commented on #999
As discussed on Mumble, each 404 page type should generate a catch all route for that domain. Only domains with 404 page types will generate the Contao 404 page, other domains will not.

[2020-02-13 15:08] Toflar commented on #1312
That log looks correct to me?

[2020-02-13 15:12] bennyborn commented on #1312
Okay, small example: The installation links to `https://policies.google.com/privacy` on the privacy policy page. Crawler crawls this page and finds the link `https://myaccount.google.com/privacycheckup?utm_source=pp` and the message says `Did not index because it was not part of the base URI collection.`. Clearly if the crawler does indeed not crawl any external page, how would it find that link?

[2020-02-13 15:18] ausi commented on #937
As discussed on Mubmle: We (I) should adapt the help text for the `sizes` attribute to point out that it should not be used for sizing the image, but only tell the browser which resource it should load.

[2020-02-13 15:29] leofeyer commented on #1313
As discussed in Mumble on February 13th, we cannot remove the `document.write()` in the front end, because we explicitly want the script to be loaded synchronously. In the back end, however, we could add the ACE/TinyMCE scripts via `$GLOBALS['TL_JAVASCRIPT']` and remove the `document.write()`.

[2020-02-13 15:39] leofeyer commented on #1313
[code]

[2020-02-13 19:58] bennyborn commented on #1307
@leofeyer The problem is simple. Prior to 4.9 you need to add `'tl_class=>'wizard'` in `eval` if your field is using one in order to get the item of the wizard correctly placed. With 4.9 having the wizard-class attached causes the wizard icon to be placed incorrectly (as shown in the OG post).

No wizard class < 4.9 => Icon placed incorrectly
With wizard class >= 4.9 => Icon placed incorrectly

Th

[2020-02-13 20:07] bennyborn commented on #1311
@leofeyer  Strange. Could you please give it a try with the current release of `numero2/contao-marketing-suite`?

It's the same setup as with all other extensions (simple DCA additions). Maybe it has something to do with the naming or the internal order of the modules being loaded (although we strictly load our module after the core modules).

I've managed to get this behaviour a couple of times a

[2020-02-13 21:51] #1205 closed, assigned to leofeyer

[2020-02-13 21:58] leofeyer commented on #1309
Ich habe die deutsche Übersetzung entsprechend angepasst.

[2020-02-14 01:11] lolohz opened #1325 "Image files of imported Themes are not been aplied in frontend (4.8.7 API version 2)"
Contao 4.8.7 (API version 2)
PHP 7.3 API 20180731
Linux 4.4.59+ #23824 SMP PREEMPT Fri Oct 26 18:34:33 CST 2018 x86_64 GNU/Linux apollolake

Hello
I imported a very simple Theme that contains images for text articles. As the images were not shown in the frontend I checked one of the articles that contained a image. It was not showed in the list, but in the selection window was fine.

Articles › Sl

[2020-02-14 09:11] chopsol opened #1326 "Fehler in Dateiverwaltung / Icons bei Ordner für eingeschränkter Nutzer fehlen"
In der aktuellen Version 4.9-RC2 werden bei einschränkten Benutzern die neu angelegt werden in der Dateiverwaltung die Icons bei den Ordnern nicht angezeigt. (in 3 Installationen getestet)

Anzeige beim eingeschränkten Nutzer:
![ordner-user](https://user-images.githubusercontent.com/12293848/74517322-32e38a80-4f12-11ea-8a85-a232d5d4993d.png)

Anzeige für Administrator:
![ordner-admin](https://user

[2020-02-14 09:50] #1309 closed, assigned to leofeyer

[2020-02-14 11:34] jochi44 opened #1328 "Backend: "Zurück"-Button im Bearbeitungsmodus sollte nie eine Speicherung von Änderungen auslösen"
**Affected version(s)**
getestet: 4.4, 4.8, 4.9-RC2

**Description**
Wird im Backend z.B. eine Seite oder ein Artikel bearbeitet und eine Änderung durchgeführt, der Bearbeitungsmodus dann jedoch ohne zu speichern (Buttons unten) mit "Zurück" (rechts oben) verlassen, werden die Änderungen (ungewollt) gespeichert.
Die "Zurück"-Schaltfläche sollte wirklich nur "zurück" gehen, ohne Änderungen zu speic

[2020-02-14 11:36] fritzmg commented on #1328
This is a known limitation. Any `submitOnChange` checkbox will cause the edit form to be submitted, on change, as the name suggests. And at that point, the changes are saved.

[2020-02-14 11:46] jochi44 commented on #1328
OK, I didn't find anything related on this subject via the github search function. I'll close this issue.

[2020-02-14 11:46] #1328 closed, assigned to nobody

[2020-02-14 12:19] jochi44 opened #1330 "Newsletter: add new recipient -> button "save & duplicate" leads to internal server error"
**Affected version(s)**
tested: 4.4, 4.8. 4.9-RC2

**Description & How to reproduce**
When adding a new newsletter-recipient manually, confirming the action with the button "save and duplicate" leads to an internal server error (Contao error page):

`An exception occurred while executing 'INSERT INTO tl_newsletter_recipients (`pid`, `tstamp`, `email`, `active`, `addedOn`) VALUES ('2', 0, 'test@tes

[2020-02-14 12:22] #1265 closed, assigned to leofeyer

[2020-02-14 12:23] #999 closed, assigned to aschempp

[2020-02-14 14:32] bennyborn commented on #1233
Also having a `paste_button_callback` analogue to `DC_Table` would be nice ;)

[2020-02-14 16:04] #1313 closed, assigned to leofeyer

[2020-02-14 16:07] leofeyer commented on #1060
Nope, that does not work, I'm afraid. The field is called **Custom element template** so UX requires it to be empty by default.

[2020-02-14 16:16] fritzmg commented on #1060
Even though the UX is now a little worse than before? 😁

[2020-02-14 16:28] CONTEGRA opened #1334 "Elementyp Artikel gibt umschließendes <div class=“mod_article”> mit aus"
Version:  4.9.0-RC2

Bei Verwendung des Elementyp Artikel wird das umschließende `<div class=“mod_article”>` des einzubindenden Artikels mit ausgegeben und nicht wie vorher nur die Inhaltselemente. Bug oder Feature?

[2020-02-14 17:17] zonky2 commented on #1334
hat es was damit zu tun?
https://community.contao.org/de/showthread.php?71069-insert_article-mit-und-ohne-container

[2020-02-14 17:50] xchs commented on #1325
Did you set the relevant folders to "Public"? Only then the resources get symlinked in the document root so that they are publicly available.

[2020-02-14 20:44] zonky2 opened #1337 "Überschrift "Migration" beim Install-Tool"
In das Polyfill-Bundle wird die Migration eingearbeitet - siehe https://github.com/contao-community-alliance/contao-polyfill-bundle/pull/2

Bei den Tests ist aufgefallen, dass eine Überschrift wie "Migration" o.ä. für das Ausgabefenster schön wäre - Meinung dazu?

![Migration](https://user-images.githubusercontent.com/1045318/74566183-34916a80-4f73-11ea-9382-579ea28b7d55.png)

[2020-02-14 23:13] CONTEGRA commented on #1334
Sorry es lag tatsächlich an der alten 3er mod_article.html5, die unverändert ist aber natürlich trotzdem geladen wurde.

[2020-02-14 23:13] #1334 closed, assigned to nobody

[2020-02-15 10:14] Metis77 commented on #332
As TinyMCE is one of the most often used tool while working / editing in Contao I would also suggest to use TinyMCE 5 right away for the upcoming Contao CTS 4.9.

Especially as TinyMCE comes with a fresh and modern look, that would further improve the look and feel of Contao.

[2020-02-16 23:43] lolohz commented on #1325
Hello xchs
Excuse me, I didn't understand your question. What did you mean when you asked about "set" relevant folders to public? Are you talking about some access attributes of the /contao/web/files folder?

Thanks and Regards.

[2020-02-16 23:57] xchs commented on #1325
No, I am talking about the corresponding option in the folder settings (Contao administration area > File manager > Edit the folder settings).

[2020-02-17 01:21] asaage commented on #1325
shouldn't the theme-export/import include the ```.public``` zerobyte-files?
Maybe just Recreate the symlinks under System->Maintenance

[2020-02-17 08:36] andreheeke commented on #332
I would offer to test if and which changes are needed for the TinyMCE version 5. We should especially keep an eye on the BC, because many developers will have changed the configuration.

[2020-02-17 08:56] leofeyer commented on #332
@andreheeke Your help is much appreciated. 🍻

[2020-02-17 17:27] leofeyer opened #1343 "Enter does not submit the user field in the preview bar"
**Affected version(s)**

4.9.*

**Description**

If you change the username in the preview bar and hit "Enter", the form is not submitted. I assume we have to adjust the dataliast JavaScript?

@richardhj @aschempp /cc

[2020-02-17 17:42] leofeyer commented on #1307
I think that this statement is wrong already, as @Toflar has changed the wizard CSS handling in Contao 4.4.3 (see https://github.com/contao/core-bundle/pull/1011). Since then, the `wizard` class is added automatically and the new `addWizardClass` option has only been added to disable this automatism.

Can you provide detailed instructions on how to reproduce the problem in the Contao Official Demo

[2020-02-17 20:33] lolohz commented on #1325
Hello
Uhm, I'm convinced there is an error managing that folder: "Contao Official Demo" package create that symlink (it is not only a Theme, but a package that is able to create that symlink).

I have no folders in the File Manager, even after synchronizing , so there is no options to do anything.
I cannot see any option for creating symlinks in System->Maintenance. I have only three options: Enab

[2020-02-17 20:36] xchs commented on #1325
Please refer to the [forums](https://community.contao.org/). There we can discuss the problem in more detail. You obviously have a problem with your installation.

[2020-02-17 22:10] leofeyer opened #1344 "Crawler does not work without domain name on CLI"
**Affected version(s)**

4.9.*

**Description**

If the root page in the site structure does not contain a domain name, the crawler assumes `localhost`, which is not correct on my system. I am missing a parameter to pass the correct domain name to the contao:crawl command in such a case.

@Toflar /cc

[2020-02-17 22:19] Toflar commented on #1344
Configure the domain? It makes no sense not to do so, we‘ve even discussed making it mandatory sometime.

[2020-02-17 22:53] Funbug commented on #1344
I leave it blank for almost every non-multidomain website. It's just one more thing I don't have to change when switching from dev to prod.

[2020-02-17 23:09] ben-eSM opened #1345 "Security encoder support in ^4.8 breaks extension"
**Affected version(s)**
^4.8
**Description**
Due to the change in a9d5000a89d93ab6f5ee79f83fe43f6c4f6a2f9f to use the Symfony security encoder, the registration module throws an empty password exception if used with the terminal42/contao-mailusername extension due to the following validation.
https://github.com/contao/contao/blob/c9e195891d08bdb26504c394775cf956f23bf719/core-bundle/src/Resources/c

[2020-02-18 00:00] lolohz commented on #1325
Hello again
I would like to discuss the problem there. I'm waiting my account to be activated. But I think I have good news and it are not be necessary.
I made a clean installation (4.8.8) to check all installation steps and all worked fine, even Contao-Manager package installation. I installed Contao Official Demo and it created the link. After that I created a folder in Folder Manger and check "

[2020-02-18 06:50] #1325 closed, assigned to nobody

[2020-02-18 06:53] leofeyer commented on #1344
I am doing it the same way as @Funbug.

It is not mandatory at the moment, therefore we should handle this case and add an argument to the command instead of forcing everyone to fill in the domain name – which may not be possible depending on the use case anyway.

[2020-02-18 07:34] Toflar commented on #1344
But maybe `localhost` is correct? We're just using `$pageModel->getAbsoluteUrl()`, how are we supposed to know if that's the desired host or just the fallback?
Would you check if `dns` was left empty and do this only on CLI?

[2020-02-18 07:37] leofeyer commented on #1326
Ich kann das Problem nicht reproduzieren. Folgendes habe ich gemacht:

* Einen neuen BE-Benutzer angelegt.
* Diesem Zugriff auf die Dateiverwaltung gegeben und einen Ordner gemountet.
* Wechsel zu dem neu angelegten Benutzer.
* Aufruf des Dateimanagers -> die Icons sind da.

[2020-02-18 07:38] leofeyer commented on #1344
IDK. Let's discuss this in the next call.

[2020-02-18 07:39] Toflar commented on #1345
I think you should report that issue in the mentioned extension because it doesn't look like the Contao core is related here. And I have no clue about that extension at all, I didn't work on it other than some tiny adjustments back in 2013 🤷‍♂

[2020-02-18 07:50] leofeyer commented on #1311
It is the same with `numero2/contao-marketing-suite`. All labels are there.

[2020-02-18 07:55] m-vo commented on #1344
I also leave this blank in nearly all installations for the said reasons.

However: In many scenarios the domain is also needed when deploying (in order to clear the opcache). So having this property accessible would be help there as well.

[2020-02-18 07:56] bennyborn commented on #1307
(https://github.com/contao/core-bundle/pull/1011))

I totally did not know about that. It seems leaving out the wizard class completely and adding `'addWizardClass'=>false` seems to work fine for 4.4 and 4.9.

[2020-02-18 07:58] bennyborn commented on #1311
Great. Fresh 4.9 RC2 here and all Core labels are missing :D
Can you tell me which PHP version you're testing this on? We're still on 7.3, maybe thats a clue...

Update: For Further investigation I just added composer.json and composer.lock as attachment - just to be on the safe side.

[composer.zip](https://github.com/contao/contao/files/4218051/composer.zip)

[2020-02-18 08:11] leofeyer commented on #1307
I think I found the issue though: If there is no `wizard` class, the icon has `vertical-align: baseline`, but if the class is added, it changes to `vertical-align: middle`. This should be fixed.

[2020-02-18 08:18] mrwhy-orig opened #1346 "Legacy Modules only working in Debug Mode"
**Affected version(s)**
4.9-RC2

**Description**
I'm trying to use a legacy backend module(3.5.*) in 4.9-RC2. It is working in Debug Mode. In production mode it isn't loaded.

**How to reproduce**
Put a legacy 3.5 Contao Module in the system/modules folder. In Debug Mode it is getting displayed in backend, with production mode it isn't.

Is there anywhere a config I'm missing to activate legacy mo

[2020-02-18 08:27] zonky2 opened #1347 "Dateiverwaltung: "Speichern und Neu""
In der Dateiverwaltung wäre "Speichern und Neu" als weiterer Button schön - insbesondere, wenn man mehrere Ordner anlegen muss... das wäre dann ein Klick - aktuell mit "Speichern - Neuer Ordner - Einfügen" drei

[2020-02-18 08:31] ben-eSM commented on #1345
All right then. To the extension the ticket goes. :)

[2020-02-18 08:31] #1345 closed, assigned to nobody

[2020-02-18 09:08] bennyborn commented on #1346
Besides #1311 I did not notice any problems with 3.5 modules in 4.9 yet...

[2020-02-18 09:10] #1307 closed, assigned to nobody

[2020-02-18 09:27] ausi commented on #1344
I used the `router.request_context.*` parameters for this use case in my projects: <https://symfony.com/doc/current/routing.html#generating-urls-in-commands>

[2020-02-18 09:38] mrwhy-orig commented on #1346
Ok. My problem was the prod cache. It's not getting deprecated as soon you use the cache clearing options. Is something like a dev mode planned? Or is the Debug Mode for this implemented? Do I have to manually clear the cache on production sites if I'm going to add legacy modules?

[2020-02-18 09:41] bytehead commented on #1346
After adding modules you'll always have to clear the cache, especially in production environment. Afaik the cache is disabled in dev.

[2020-02-18 10:02] fritzmg commented on #1344
I was about to suggest the same :)

[2020-02-18 10:46] aschempp commented on #1345
However, the core might want to catch that exception, and at least display a meaningful error message?

[2020-02-18 10:53] aschempp commented on #1337
Für welches Ausgabefenster? Für die gelbe Box? Gibt es die im Contao Core auch?

[2020-02-18 10:57] aschempp commented on #1310
@zonky2 für sowas könntest du doch einen PR machen, dann wär das schneller gefixt?

[2020-02-18 11:00] aschempp commented on #203
I'd say the same place you document the config options 😉

[2020-02-18 11:18] aschempp commented on #1326
@chopsol ev. hast du die Berechtigungen nicht korrekt konfiguriert?

<img width="574" alt="Bildschirmfoto 2020-02-18 um 12 18 26" src="https://user-images.githubusercontent.com/1073273/74731697-ce456a00-5248-11ea-8ebc-b68c7646a919.png">

[2020-02-18 11:26] zonky2 commented on #1310
kann ich probieren - wollte erstmal Meinungsbild haben :D

[2020-02-18 11:34] discordier commented on #1337
@aschempp hier: https://github.com/contao/contao/blob/master/installation-bundle/src/Resources/views/main.html.twig#L14

[2020-02-18 11:35] zonky2 commented on #1337
ja, die gelbe Box - die kommt von Contao 4.9 - wir befüllen die nur....

[2020-02-18 15:05] richardhj commented on #1343
When I select and mouse-click a username from the option list and hit enter, the form is submitted. If this does not work for you, what browser are you using?

Unfortunately, in Firefox hitting Enter when selecting a username with the keyboard, pressing enter does not select the option. But I think, this is a Firefox issue? In Safari and Chrome, I can select an option with the enter key and press

[2020-02-18 15:10] leofeyer commented on #1337
IMHO braucht es an der Stelle keine Überschrift.

[2020-02-18 15:20] baumannsven commented on #1337
@leofeyer Warum nicht? Gelbe Box was ist da drin. Wie bringst du das den Anwendern bei?

[2020-02-18 15:21] zonky2 commented on #1337
IMHO schon - insbesondere, da das Fenster neu ist und für "Verwirrung" sorgen könnte...

[2020-02-18 16:13] leofeyer commented on #1343
What happens if you enter a username manually and then hit Enter?

[2020-02-18 16:21] leofeyer commented on #1337
Keine Ahnung was Du damit meinst. Den gelben Kasten gibt es seit Contao 4.0. 🤷‍♂

https://github.com/contao/installation-bundle/blob/4.4/src/Controller/InstallationController.php#L382-L388

[2020-02-18 16:26] leofeyer commented on #1343
I think I found the issue. After manually entering the username, the first Enter will close the option list and only the second Enter will submit the form.

[2020-02-18 16:26] #1343 closed, assigned to nobody

[2020-02-18 16:29] zonky2 commented on #1337
o.k. - dann zumindest bisher noch nie (bewusst) gesehen... aber o.k. - Du bist der Chef...

[2020-02-18 16:30] #1261 closed, assigned to nobody

[2020-02-18 16:32] leofeyer commented on #1262
@sennamint Kann das Ticket dann erstmal geschlossen werden oder bleibt noch etwas zu tun bzw. zu beantworten?

[2020-02-18 16:36] #1279 closed, assigned to nobody

[2020-02-18 16:37] leofeyer commented on #1314
How do I reproduce this issue in the online demo?

[2020-02-18 16:38] #1346 closed, assigned to nobody

[2020-02-18 16:42] ausi commented on #1262
Wenn @sennamint bestätigen kann, dass das SPAM-Aufkommen durch die Änderung gesunken ist, sollten wir das Timeout in das Standard-Template übernehmen denke ich.

[2020-02-18 16:44] leofeyer commented on #1206
Die erste Zeile enthält bei einer CSV-Datei normalerweise die Feldnamen (siehe https://de.wikipedia.org/wiki/CSV_(Dateiformat)#Beispiel).

[2020-02-18 16:44] #1206 closed, assigned to nobody

[2020-02-18 16:45] leofeyer commented on #1234
What kind of business logic exactly?

[2020-02-18 16:51] Defcon0 commented on #1234
We're currently developing a bundle for drafting arbitrary records. The concept is quite simple (whereas implementation is quite hard...): When a non-admin user tries to edit a record, under the hood it is copied and the user works on this copy.

When uploading files it's the same, but because tl_files entries can't be duplicate in filename, we need to change (in our case *suffix*) the filename *b

[2020-02-18 17:08] leofeyer commented on #1090
@ausi WDYT?

[2020-02-18 17:09] leofeyer commented on #1091
Which HTTP status code does the Oops! page send?

[2020-02-18 17:11] leofeyer commented on #1137
@Mynyx /ping

[2020-02-18 17:15] leofeyer commented on #1142
This has been fixed in Contao 4.9.

[2020-02-18 17:15] #1142 closed, assigned to nobody

[2020-02-18 18:25] Defcon0 commented on #1091
It sends status code 500.

[2020-02-18 18:47] chopsol commented on #1326
@aschempp die Zugriffsrechte bei mir sehen exakt so aus.
Ich hatte es bisher nicht über die Zugriffsrechte des Benutzers sondern über Gruppenrechte realisiert, aber auch ein frischer Test mit einem Benutzer bei dem ich nur die Zugriffsrechte für die Dateiverwaltung und die von Andi im Screenshot gezeigten Rechte gesetzt habe, zeigt das gleiche Problem.
Ich werde es morgen mal mit der finalen 4.9 m

[2020-02-18 19:21] lolohz commented on #1314
Hi Leo
I'm attaching some screenshots.

Thanks and Regards.

![Layout1column-001](https://user-images.githubusercontent.com/36300963/74769818-5c424480-528b-11ea-96f7-3dd0b58f7f5d.png)
![Layout1column-002](https://user-images.githubusercontent.com/36300963/74769820-5cdadb00-528b-11ea-9261-80c74ea26276.png)
![Layout1column-003](https://user-images.githubusercontent.com/36300963/74769816-5c424480-528

[2020-02-18 20:15] sennamint commented on #1262
Ich habe soeben bei unserem Kunden noch einmal nachgehakt und hoffe auf baldige Antwort, ob das SPAM-Aufkommen abgenommen hat oder nicht. Ich gebe Bescheid, sobald ich Antwort habe.

[2020-02-18 21:24] leofeyer commented on #1091
Indeed, it seems that we are not checking the status code of the response. 🤔

https://github.com/contao/contao/blob/4.4/core-bundle/src/EventListener/AddToSearchIndexListener.php

@contao/developers Can this be true?

[2020-02-18 21:28] leofeyer commented on #1259
We should check if we need to adjust the phpDocs before closing this.

[2020-02-18 21:38] Mynyx opened #1352 "Übersetzung MSC.noTrustedDevices"
Die Übersetzung ``MSC.noTrustedDevices`` müsste statt ``Zurzeit sind keine vertrauenswürdige Geräte vorhanden.`` korrekt ``Zurzeit sind keine vertrauenswürdigen Geräte vorhanden.`` heißen.

https://github.com/contao/contao/blob/bf87609767e5623d9da8b98920683bef2d651997/core-bundle/src/Resources/contao/languages/de/default.xlf#L2644-L2647

[2020-02-18 21:48] Toflar commented on #1091
That‘s been like that ever since and has been reworked in 4.9.

[2020-02-18 21:48] #786 closed, assigned to nobody

[2020-02-18 21:49] leofeyer commented on #825
@contao/developers Könnt ihr das bei euch reproduzieren?

[2020-02-18 22:23] Mynyx opened #1353 "Crawler: Argument 2 passed to Symfony\Component\HttpClient\CurlHttpClient::createRedirectResolver() must be of the type string, null given"
Der über die Systemwartung gestartete Crawler bleibt nach einiger Zeit stehen und im Log ist folgende Fehlermeldung zu finden:

[2020-02-19 07:55] Znrl commented on #293
Should this be fixed?
I get this error in 4.9 when saving template folders as well as renaming templates (clicking "save").

[2020-02-19 08:06] leofeyer opened #1355 "Regression bug in the template editor"
323f8ec6f205d98f3fadbecdc26bec587c40a25d has re-introduced the problem described in #293.

[2020-02-19 08:06] leofeyer commented on #293
See #1355

[2020-02-19 08:29] christianbarkowsky opened #1356 "Crawler stops between 95 and 98%."
**Affected version(s)**

4.9

**Description**

On my website the new crawler stops between 95 and 98%.
The following error message can be found in the log files.

`[2020-02-19 09:02:23] request.CRITICAL: Uncaught PHP Exception InvalidArgumentException: "Unable to parse URI: http://" at /www/htdocs/vendor/nyholm/psr7/src/Uri.php line 51 {"exception":"[object] (InvalidArgumentException(code: 0): Una

[2020-02-19 08:46] Tastaturberuf opened #1357 "Migration loop"
**Affected version(s)**
Contao 4.9.0
PHP 7.4.2
MariaDB 10.4 (Strict Mode)

**Description**
Der Migrationsprozess bildet eine Endlosschleife.

**How to reproduce**
1. Wenn ich `contao:migrate` ausführe will er `tl_user_group.fields` und `tl_user_group.elements` löschen da sie nicht mehr im DCA vorhanden sind. Normales Verhalten.

2. Dann möchte er die Migration `Contao\CoreBundle\Migration\Version4

[2020-02-19 09:22] Toflar commented on #1356
Can you paste the complete stack trace?

[2020-02-19 09:36] christianbarkowsky commented on #1356
[code]

[2020-02-19 11:58] Mynyx opened #1358 "Meldung "Contao 4.x.0 Update executed successfully" im Installtool nicht übersetzt"
Wenn das Installtool nach einem Upgrade von Contao 4.4 auf Contao 4.9 erstmalig aufgerufen wird, erscheinen folgende Meldungen:

[code]

Die Meldungen sind nicht übersetzt.

[2020-02-19 13:09] pr1601com opened #1360 "Problem mit vordefinierten Bildgrößen"
**Contao 4.9/4.8**

Bei einer frischen Contao 4.9 oder 4.8 Installation werden die vordefinierten Bildgrößen nicht im Backend beim Einfügen eines Bildes im Select angezeigt. Die über config/config.yml erzeugten werden nach dem Leeren des Caches angezeigt.

[2020-02-19 13:15] Mynyx opened #1361 "Dev-Cache wird nicht automatisch erneuert"
Wenn  ``composer update`` aufgerufen wird, dann wird durch ``Contao\ManagerBundle\Composer\ScriptHandler::initializeApplication`` auch automatisch der Prod-Cache erneuert.

Der Dev-Cache wird jedoch nicht automatisch erneuert, sodass es beispielsweise bei Aktivierung des Debug-Modus im Backend zu unerwarteten Fehlern kommen kann.

[2020-02-19 13:32] bibib commented on #1262
Ich habe dieses Timeout auch bei einem Kunden eingebaut, der trotz Honeypot-Spamschutz ca. 50 Spammails pro Woche bekommen hat. Habe gerade nachgefragt, direkt nach dem Einbau (Ende Jänner) war erst einmal Ruhe, aber seit letzter Woche kommen doch wieder geschätzt so 15-20 Spammails pro Woche rein.

[2020-02-19 13:33] bennyborn opened #1362 "toggleVisibility in tl_page broken"
**Affected version(s)**
4.9.0

**Description**
When trying to toggle the visibility in tl_page console throws an JavaScript error. The toggling itself still works but it's not done via AJAX anymore, instead it redirects the user.

![image](https://user-images.githubusercontent.com/226890/74838919-b216fb00-5324-11ea-8932-2ac8d0946fae.png)

[2020-02-19 13:49] sennamint commented on #1262
Ich habe nun eine positive Rückmeldung unseres Kunden erhalten. Bei ihm ist seit der Änderung (Timeout) kein SPAM mehr eingegangen. Ob es am Timeout liegt oder möglicherweise daran, dass der SPAM-Bot einfach nicht mehr aktiv war seit der Änderung, kann ich nicht sagen. So oder so halte ich es für sinnvoll, den Timeout ins Standard-Template zu übernehmen.

[2020-02-19 14:18] leofeyer commented on #1362
Please clear the browser cache or try another browser.

[2020-02-19 14:22] leofeyer commented on #1357
Das ist kein normales Verhalten, da diese beiden Felder sehr wohl im DCA vorhanden sind.

https://github.com/contao/contao/blob/240d9868432754082109e14e24be74a42a6cb021/core-bundle/src/Resources/contao/dca/tl_user_group.php#L137-L158

Hast Du den Symfony-Cache nach dem Update geleert?

[2020-02-19 14:29] bennyborn commented on #1362
Thats a fresh installation, all Caches cleared.

[2020-02-19 14:29] Tastaturberuf commented on #1357
Ich guckte im `tl_membe_group`... 🙈

Nicht manuell, nein. Ich bin davon ausgegangen das der ScriptHandler das hier macht:

[code]

Wie so oft war es letztlich wieder mal der dumme Cache... bzw. nicht daran zu denken.

[2020-02-19 14:44] andreheeke commented on #1361
Wenn der Dev-Cache mit aufgebaut werden würde, dann würden Änderungen während des aktiven Debug-Modus im schlimmsten Fall nicht sichtbar sein (da schon gecacht). Der Modus soll ja den Symfony-Cache „umgehen“, um die Änderungen unverfälscht wiedergeben zu können.

[2020-02-19 14:47] andreheeke commented on #1362
I cannot reproduce the error. In my installation the AJAX request works fine.

[2020-02-19 15:07] michb commented on #1362
I've just setup a completly new and fresh Contao 4.9 without any other extension.
I have the same problem as described by @bennyborn, if I click on pages without children.
If I click on a page with at least one child AJAX works fine.

[2020-02-19 15:52] bytehead commented on #1362
I can confirm this:
[code]

Edit: It happens only on pages without children.

[2020-02-19 16:25] leofeyer commented on #1362
I can reproduce it for pages without child pages.

[2020-02-19 18:13] m-vo commented on #1357
Vielleicht sollten wir vor der Aussicht des migrate commands immer den Schema cache invalidaten/neu aufbauen. :thinking:  Das Install Tool macht ja stets ein cache:clear (IIRC).

[2020-02-19 19:01] Mynyx opened #1363 "Zwei-Faktor-Authentifizierung Gerätebezeichnung "Other" nicht übersetzt"
In der Tabelle "Vertrauenswürdige Geräte" wird in der Spalte "Gerät", die Bezeichnung "Other" angezeigt, wenn das Gerät nicht näher bestimmt werden konnte. Die Bezeichnung "Other" ist nicht übersetzt.

[2020-02-19 19:59] contaoacademy commented on #1326
Es sieht so aus, als ob die Icons nur auf der obersten Ebene (/files/xxx) fehlen.
(siehe Screenshot)
![files](https://user-images.githubusercontent.com/23719181/74870840-b2ca8400-535a-11ea-8cf0-7ab30ee2ec8d.jpg)

[2020-02-19 22:18] Tastaturberuf commented on #1357
Genau das hatte ich mir mal in irgendeiner Slack-Diskussion gewünscht, man will doch niemals die gecachte Migration haben. Das Install-Tool macht das auch nicht, sonst hätte es ja dort geklappt.

[2020-02-20 07:21] plandolt commented on #1236
Moving from `https://contao.org/` to `https://schema.contao.org/` has not made that any better regarding google search console.

![image](https://user-images.githubusercontent.com/922919/74910114-0ddf9380-53ba-11ea-919e-15f8161a47bd.png)

[2020-02-20 07:33] plandolt commented on #1236
I think its because of this:

Found on https://w3c.github.io/json-ld-syntax/#context-definitions

[2020-02-20 07:34] Toflar commented on #1236
It doesn‘t need to be fixed. The search console is wrong. It seems like it just analyzes the things it knows and reports everything else as an error which is not the idea of JSON-LD.

[2020-02-20 09:01] benfolds opened #1365 "The Database->prepare() statement can not be used more than once"
**Affected version(s)**
Tested in contao 4.8.8

**Description**
If you try to use da Database->prepare() statement more than once, you always get the result of the first query.

**How to reproduce**
[code]

The result is three times the database row ID 1.

[code]
This gives the results 1,2,3

If you compare this with PDO, this is not the desired behaviour: https://www.php.net/manual/de/pdo.prepare

[2020-02-20 09:23] jochi44 commented on #1236
I just received an email from "Google Search Console Team" regarding the wrong type "@context" for a recently updated Contao 4.9-website.

I understand the point of @Toflar, you can't please every checking tool.
In this case it's not just "some tool", it's Google.
If users/webmasters of every updated Contao 4.9-site receive an email and the email says "Fehler können verhindern, dass Ihre Seite ode

[2020-02-20 09:24] Toflar commented on #1365
Yes, that's different from PDO but we're not introducing or changing anything anymore in old legacy stuff. Don't use that class at all but use the Doctrine connection and you have your PDO behaviour :)

[2020-02-20 09:26] Toflar commented on #1236
Please, there's no point in commenting on this topic unless you actually know **how** it can be fixed. We'll happily fix it if anyone finds out how.

[2020-02-20 09:38] jochi44 opened #1366 "set up two-factor-authentication: description "verification code""
**Affected version(s)**
4.9

**Description**
There is a small issue when setting up the two-factor-authentication (user -> security) regarding the description of the field "Verification code".
Above and below the input field for the verification code the description says "Verification code" (case1):

![verification_code1](https://user-images.githubusercontent.com/60215157/74920291-38d2e300-53cc-11

[2020-02-20 09:42] Toflar commented on #1356
You have an empty `<a href="http://"></a>` link somewhere on your page which is invalid. Can you try to update all dependencies so `terminal42/escargot` is updated to `0.5.2`. It should be fixed with https://github.com/terminal42/escargot/commit/3b16bad749fb87d26035cf25ddb1cb3ef97ffa00. The debug log should then also tell you where that link was found and that it couldn't be added to the queue :)

[2020-02-20 12:44] andreheeke opened #1367 "Missing active state at debug mode button"
**Affected version(s)**
4.9.0

**Description**
If the debug mode is activated, the active state is missing at the debug mode button in the header.

[2020-02-20 14:58] #1365 closed, assigned to nobody

[2020-02-20 15:19] dmolineus commented on #1361
Erneuern ist hier wohl der falsche Begriff, der Dev-Cache sollte mit geleert werden. Da Symfony die Eigenart hat auch im Dev-Modus viel zu cachen, kommt es immer wieder vor, dass der Dev-Cache out of date ist.

Da Contao das Umschalten in den DEV-Modus per UI im Backend ermöglicht, gebe ich @Mynyx recht, dass der Cache auch automatisch geleert werden sollte.

[2020-02-20 15:46] Toflar commented on #1344
The fix is actually pretty simple. I think having `https?://localhost` is always wrong, isn't it? It can never be the desired domain. You always need to have some domain name even when working locally. The use case that you only ever have one Contao setup locally and it's the only one listening to port 80 on localhost is highly, highly unlikely.

So I would just add a check for that on CLI and if

[2020-02-20 16:18] fritzmg commented on #1344
Technically you can run several Contao installations under localhost. Contao specifically allows this. But I am all for emitting a warning :)

[2020-02-20 16:23] Toflar commented on #1344
Only if you have a port assigned.
I would emit a warning on `if (preg_match('@^https?://localhost(?!:).*$@'...`.

[2020-02-20 16:24] christianbarkowsky commented on #1356
After the update comes a new error.

`[2020-02-20 17:19:55] request.CRITICAL: Uncaught PHP Exception Doctrine\DBAL\Exception\DriverException: "An exception occurred while executing 'SELECT uri, level, processed, found_on, tags FROM tl_crawl_queue WHERE (job_id = ?) AND (processed = ?) ORDER BY id ASC LIMIT 1 OFFSET 508' with params ["c423a14e-233d-48a6-b291-155429e27422", 0]:  SQLSTATE[HY000]: Gen

[2020-02-20 16:24] Toflar commented on #1356
...

[2020-02-20 16:26] fritzmg commented on #1344
No, you can run them alongside each other:

* https://localhost/contao1/web
* https://localhost/contao2/web
* https://localhost/contao3/web
* …

[2020-02-20 16:27] Toflar commented on #1344
Not when leaving the `dns` field empty.

[2020-02-20 16:30] fritzmg commented on #1344
No, the `dns` field can stay empty. Just tried it, I can access all of my local Contao installations via `https://localhost/<foldername>/web/(app.php)`. Contao only disallows this, when the hostname is _not_ `localhost`.

[2020-02-20 16:31] christianbarkowsky commented on #1356
Where should the MySQL server be going?  ... the page is running ... the crawler rotates at 96%. 🎃

[2020-02-20 16:32] Toflar commented on #1344
It doesn't matter where you can access it? I'm talking about what `$pageModel->getAbsoluteUrl()` will give you on CLI because this is the problem we're talking about here.

[2020-02-20 16:34] Toflar commented on #1356
I can't help you anymore here without having a copy of the whole setup, sorry. The MySQL server shuts down, you have to debug on your own why that happens. Maybe there is some endless loop, maybe not.

[2020-02-20 16:41] fritzmg commented on #1344
Yes of course, I am simply commenting on this:

I am just showing that it is perfectly possible to develop several Contao installations accessible via `localhost:80`, not just one. Running all your Contao installations on `localhost` was probably very common at some point, but hopefully not anymore, after that long of a time since the release of Contao 4.

[2020-02-20 16:45] christianbarkowsky commented on #1356
On the command line, the crawler runs without problems.

[2020-02-20 17:06] christianbarkowsky commented on #1356
On command line the crawler crawls _web-freelancer-gesucht.de_, but i never link to this page.

<img width="489" alt="Bildschirmfoto 2020-02-20 um 18 01 03" src="https://user-images.githubusercontent.com/1230547/74959834-963a5480-540b-11ea-9364-1d58295d8d09.png">

[2020-02-20 18:45] christianbarkowsky commented on #1356
Now I have found the link.  💡
The link is behind a name in a comment.

https://brkwsky.de/blog-leser/diese-drei-tools-erleichtern-unseren-arbeitsalltag

`<p class="info">Kommentar von <a href="http://www.web-freelancer-gesucht.de" target="_blank" rel="nofollow noreferrer noopener">Mark</a`

_nofollow noreferrer noopener?!_

[2020-02-20 19:22] Mynyx commented on #1361
Symfony hat separate Caches für die Prod- und Dev-Umgebung. In welchem Umfang der Cache jeweils genutzt wird, ist in der Prod- und Dev-Umgebung unterschiedlich.

Auch bei Nutzung der Dev-Umgebung wird der entsprechende Cache im Laufe der Zeit sowieso automatisch befüllt, sodass dieser nicht leer bleibt. Insofern kann ich noch nicht nachvollziehen, welche konkreten Nachteile ein vorheriges Warmup d

[2020-02-20 19:46] Mynyx opened #1371 "Crawlvorgang startet nach Neuladen der Seite erneut"
Wenn in der Systemwartung ein Crawlvorgang durchgeführt wurde und die Ergebnisseite dann neu geladen wird, dann wird der Crawlvorgang mit derselben Jobid neu gestartet anstatt direkt die vorhandenen Ergebnisse darzustellen.

[2020-02-21 07:24] chopsol commented on #1326
Wie @contaoacademy schreibt fehlen die Icons nur für die Ordner in der obersten Ebene. Diesen waren bisher wie beiden Unterordnern grau / inaktiv - nur jetzt fehlen sie komplett und damit fehlt auch die Möglichkeit über das grüne + direkt beim Ordner den Upload für neue Bilder zu starten.
![screen](https://user-images.githubusercontent.com/12293848/75013019-a3932580-5483-11ea-906e-4e398565e34b.png

[2020-02-21 08:00] Toflar commented on #1344
Yes but that doesn't matter for this discussion. If you have this setup, you will still get `http(s)://localhost` for all of them on CLI, wouldn't you?

[2020-02-21 09:21] leofeyer commented on #1361
See #1369

[2020-02-21 09:21] #1361 closed, assigned to nobody

[2020-02-21 09:29] leofeyer commented on #1352
Ich habe die deutsche Übersetzung angepasst.

[2020-02-21 09:29] #1352 closed, assigned to nobody

[2020-02-21 09:31] fritzmg commented on #1344
Yes, of course. I am just saying it's possible - and the crawler would work fine in that case. But regardless, the warning should be emitted in that case, imho.

[2020-02-21 09:32] ausi commented on #1357
Aber wenn der ScriptHandler nach dem update den Cache geleert hat, muss es ja an etwas anderem liegen? Läuft der migrate command vielleicht nicht im prod environment und nur das wird beim update geleert?

[2020-02-21 09:48] #1355 closed, assigned to leofeyer

[2020-02-21 09:58] #1362 closed, assigned to leofeyer

[2020-02-21 10:07] leofeyer commented on #1363
Ich weiß nicht, ob wir das übersetzen sollten. Der String kommt direkt aus der Library und dort gibt es auch noch andere Fallback-Strings wie z.B. "Generic Smartphone" oder "Generic Tablet". IMHO macht es keinen Sinn, die alle zu übersetzen.

@contao/developers WDYT?

[2020-02-21 10:11] #1366 closed, assigned to leofeyer

[2020-02-21 10:14] Toflar commented on #1363
Das ist halt was die User erwarten. Ich würd's versuchen, auch wenn wir vielleicht nicht alle erwischen. Dann ergänzen wir die Liste eben nach und nach.

[2020-02-21 10:18] bennyborn commented on #919
Any update on this? We've just run into the same problem.
@leofeyer Also, please make sure that the issues for milestone 4.4 are transferred to 4.9 ;)

[2020-02-21 10:27] #1367 closed, assigned to leofeyer

[2020-02-21 11:05] leofeyer commented on #1326
Ich hab das gerade nochmal mit einer alten 3.5er-Installation verglichen und auch da werden mir keine inaktiven Buttons für die Folder-Mounts angezeigt. Einzig das grüne "Upload"-Icon scheint in Contao 4.9 zu fehlen.

<img width="745" alt="" src="https://user-images.githubusercontent.com/1192057/75029349-317e0900-54a2-11ea-802f-8c49b737849b.png">

Könnt ihr bitte mal einen Screenshot von Contao 4.

[2020-02-21 11:30] #1259 closed, assigned to nobody

[2020-02-21 11:32] leofeyer commented on #1254
I can confirm this issue. Which Contao version is affected?

@contao/developers Since the path of a file or folder is used as its ID, I am not sure whether we can fix this. Any ideas?

[2020-02-21 12:45] Tastaturberuf commented on #1357
Martin hat mich auf die Spur gebracht. Die Installation hat eine `.env` und die ist auf `APP_ENV=dev`. Der ScriptHandler berücksichtigt das Enviroment nicht, die `contao-console` schon.

[2020-02-21 12:49] Tastaturberuf commented on #1357
Dennoch würde ich es während der Entwicklung vorziehen die aktuelle Migration zu haben. Entweder durch z.B. `contao-migrate --no-cache` oder weil das Command das Enviroment checkt und bei `dev` den Cache invalidiert. Ja ich weiß man kann das chainen, is aber hässlich:
 `vendor/bin/contao-console cache:clear && vendor/bin/contao-console contao:migrate`.

Im Zweifel lebe ich aber damit.

[2020-02-21 12:53] fritzmg commented on #1357
Related: https://github.com/contao/contao/pull/1369

[2020-02-21 15:07] leofeyer commented on #1091
We should still check the status code in Contao 4.4, shouldn't we?

[2020-02-21 15:15] Toflar commented on #1091
We can, yes. But we haven't for 2.5 years, so I wonder why this only comes up now? 😄

[2020-02-21 15:15] leofeyer commented on #1091
Me too.

[2020-02-22 15:57] Mynyx opened #1379 "Crawler im Wartungsmodus deaktivieren"
Wenn der Wartungsmodus aktiv ist, kann der Crawlvorgang nicht erfolgreich durchgeführt werden.

Es wäre daher sinnvoll, wenn bei aktiviertem Wartungsmodus der Crawler gar nicht gestartet werden könnte sondern deaktiviert wäre und ein entsprechender Hinweis angezeigt werden würde.

[2020-02-22 16:33] Mynyx opened #1380 "Übersetzung MSC.twoFactorExplain"
In der Übersetzung ``MSC.twoFactorExplain`` sollte ``verification code``, wie dies in allen anderen Übersetzungen der Fall ist, auch mit ``Bestätigungscode`` statt ``Verifizierungscode`` übersetzt werden.

https://github.com/contao/contao/blob/bf87609767e5623d9da8b98920683bef2d651997/core-bundle/src/Resources/contao/languages/de/default.xlf#L2548-L2551

[2020-02-22 16:53] Mynyx opened #1381 "Fortschrittsanzeige nach erfolgreichem Abschluss des Crawlvorgangs bei 99 %"
Nach erfolgreichem Abschluss des Crawlvorgangs zeigt die Fortschrittsanzeige nicht 100 % sondern nur 99 % an.

![image](https://user-images.githubusercontent.com/1632642/75096071-f102b600-559b-11ea-8c41-fe692fd3c2c7.png)

[2020-02-23 13:03] chopsol commented on #1326
Bei meinen 4.4er Installationen ist es ebenso wie bei @leofeyer; es wird nur das grüne "Upload"-Icon und keine grauen/inaktiven Icons angezeigt. Es fehlt also nur das Upload-Icon.

[2020-02-23 15:31] ausi commented on #1090
I don’t think using the original image would be a good solution here.

How about a compiler pass that verifies that all image types from `contao.image.valid_extensions` can be handled by the Imagine service?

Sadly the Imagine interface doesn’t seem to have a method for that so we would need to use a test image for every format.

[2020-02-23 15:48] ausi commented on #825
Nein, nicht ohne den SQL-Dump.

[2020-02-23 16:00] ausi commented on #1254
I think we should change https://github.com/contao/contao/blob/04fd76118a55003a671df9fd7343a5e5bc47f696/core-bundle/src/Resources/contao/dca/tl_files.php#L815 to:

[code]

Because only if the old path (before the rename) does no longer exist, we know that the rename was successful.

[2020-02-23 18:20] ausi commented on #1360
Hat der Backend-Benutzer die entsprechenden Rechte um die Bildgrößen sehen zu können?

[2020-02-24 07:23] leofeyer commented on #1381
Kann ich bei mir nicht reproduzieren. @Toflar Könnte das ein Rundungsfehler im Skript sein?

[2020-02-24 08:04] qzminski opened #1383 "Missing Polish translation for core-bundle"
**Affected version(s)**
4.9 LTS

**Description**
It seems that there is no Polish translation for `core-bundle` in the latest stable version. I assume it is due to some threshold level but as of now `core-bundle` has 92.93% strings translated. All the other Contao bundles are translated at least in 93% and they are in fact included, so it seems the threshold level is at around 93%. Is that correct

[2020-02-24 08:18] aschempp commented on #1381
Könnte auch an den 18 übersprungenen liegen …

[2020-02-24 08:26] Toflar commented on #1381
Die sind nicht relevant, die Anzeige hat nichts mit den Resultaten zu tun, sie zeigt nur die Queue.
Ich habe mir entsprechende Stellen angesehen und kann mir nicht erklären, wie dieser Fall zu Stande kommen soll.

@Mynyx ist das bei dir reproduzierbar? Wenn ja, könntest du dir die Ajax-Requests ansehen und schauen, was die periodischen Updates zum Schluss für `pending` und `total` Werte enthalten?

[2020-02-24 08:27] aschempp commented on #1363
wäre aus meiner Sicht aber eine Aufgabe der entsprechenden Bibliothek, Übersetzungs-Möglichkeiten zu bieten. Ev. nutzen sie den Translator und wir müssen "nur" die Dateien bereitstellen?

[2020-02-24 08:32] Toflar commented on #1090
You would also need a real image of the respective types to test for that, wouldn't you? I mean, just because you give a zero byte image the `.jpeg` extension doesn't mean, the lib can actually handle it.

I had the same issue and debugging it is not that easy. Maybe we can log the actually issue and have a general placeholder image saying "check your log files" (maybe with svg `<text>` or so?)?

[2020-02-24 08:38] aschempp commented on #1344
That was added to allow local development of multiple Contao installations. Although I agree the crawler should always support that (as I don't see a reason why it should not), I can't think of a reason anyone would crawl the localhost (except for testing purposes 😆 )

[2020-02-24 08:39] Toflar commented on #1344
So? We leave it as is because it's just a misconfiguration and we cannot know if it is or if it's not?

[2020-02-24 08:54] Toflar commented on #1356
`nofollow` should be ignored. Check the debug logs.

[2020-02-24 08:58] aschempp commented on #1090
Not sure I like that this would show up in production …

[2020-02-24 08:58] Toflar commented on #1090
So you prefer having 500 server errors for image requests?

[2020-02-24 09:02] fritzmg commented on #1344
No, I am in favor of showing the warning anyway.

[2020-02-24 09:04] Toflar commented on #1344
Always? Or when? Can you guys please get a bit more specific in solutions?

[2020-02-24 09:06] fritzmg commented on #1344
Yes, always show the warning, if the crawler defaults to `localhost`. Unless someone has specifically used `localhost` in the `dns` settings, or in the `router.request_context.*` setting I suppose - but I think we can ignore that ...

[2020-02-24 09:07] aschempp commented on #6366
Ich denke schon dass das richtig ist. Die Felder sind ja de-facto unsichtbar, auch für nicht-Screenreader. Ein Screenreader muss nur *sehen* können dass es noch weitere Felder gibt. Dafür gibt es sicherlich Aria-Attribute.

[2020-02-24 09:08] ausi commented on #1090
I do. It is a server error, so it should be reported as such.

Yes. I’d use the image files from https://github.com/mathiasbynens/small for this.

[2020-02-24 09:20] leofeyer commented on #1383
Translations must be at least 95% complete to be included in the distribution.

[2020-02-24 09:28] leofeyer commented on #1090
ACK.

[2020-02-24 09:33] aschempp commented on #1064
I don't think there's much we can fix here. The original issue has been fixed in one of the later Contao versions (4.7 or later I'd say). So there's no bug to be fixed in latest Contao. If you update from an older version, the data might be _outdated_, but I don't think we can fix that for you…

[2020-02-24 10:17] aschempp commented on #727
is this fixed with Contao 4.9? Should we raise the minimum dependency?

[2020-02-24 10:22] aschempp commented on #855
sounds like a duplicate of https://github.com/contao/contao/issues/813 ?

[2020-02-24 10:23] aschempp commented on #871
wurden in 4.9 nicht die Theme Import- und Export-Optionen angepasst?

[2020-02-24 11:05] leofeyer commented on #727
We already did: https://github.com/contao/contao/blob/4.9/composer.json#L50

[2020-02-24 11:08] Schmidty2 opened #1384 "URL-Prüfung beim Formular funktioniert nicht"
**Affected version(s)**
4.4.47 und 4.9.0

**Description**
Wenn einem Formularfeld die Prüfung nach einer gültigen URL zugewisen wird, funktioniert die Prüfung im Frontend nicht (zum Test wurde die E-Mail-Prüfung aktiviert, diese funktioniert).
Zusatz-Info: Die HTML5-Prüfung in den Formulareinstellungen ist deaktiviert.

**How to reproduce**
Kann unter demo.contao.org nachvollzogen werden,
siehe Sc

[2020-02-24 11:20] asaage commented on #855
#813 was about the 404 Response #855 is about missing menu-items.
Probably there is one fix for both issues 🤷🏼‍♂️

[2020-02-24 13:12] discordier commented on #1064
Is there any changelog entry we can refer to? I failed to find one.

[2020-02-24 14:00] LIVID-Media commented on #1356
I have a similar problem. Only links that contain rel="nofollow" are correctly tagged with "rel-nofollow" in the table "tl_crawl_queue". With rel="nofollow noopener" it doesn't work.

[2020-02-24 14:09] Toflar commented on #1356
Indeed. Fixed in https://github.com/terminal42/escargot/commit/f01decbcd9789ae8e62d2ed788bf5268c4951d4f and released as 0.5.3. Update your dependencies so you get the latest `terminal42/escargot` version and this issue should be gone.

[2020-02-24 14:22] LIVID-Media commented on #1356
Great... thanks for the fast fix!

[2020-02-24 14:37] christianbarkowsky commented on #1356
Sorry. 0.5.3 does not fix my problem. :(

<img width="682" alt="Bildschirmfoto 2020-02-24 um 15 35 18" src="https://user-images.githubusercontent.com/1230547/75160989-54ffb880-571b-11ea-872c-c35fb7d60838.png">

[2020-02-24 14:39] Toflar commented on #1356
I fixed the problem @LIVID-Media was mentioning. I cannot fix your problem until I have proper instructions on how I can reproduce the issue.

[2020-02-24 14:46] christianbarkowsky commented on #1356
i can share my screen? @Toflar

[2020-02-24 18:24] Mynyx commented on #1381
Das sind die Responses der letzten vier XHR-Requests:

``{"pending":49,"total":738,"finished":false,"results":{"search-index":{"wasSuccessful":true,"summary":"389 URL(s) erfolgreich indexiert. 0 fehlgeschlagen.","warning":"18 URL(s) wurde(n) \u00fcbersprungen (wenn Sie eine URL vermissen, pr\u00fcfen Sie das Debug-Log).","info":{"stats":{"ok":389,"warning":18,"error":0}},"hasLog":true}},"hasDebugL

[2020-02-24 18:44] Mynyx opened #1386 "Crawler Log "Found on URI" robots.txt"
Sowohl im Debug-Log als auch im Suchindex-Log wird bei diversen Seiten, die auch erfolgreich indexiert wurde ("Forwarded to the search indexer. Was indexed successfully."), in der Spalte "Found on URI" statt der tatsächlichen URI "http://[...]/robots.txt" angegeben.

[2020-02-24 18:50] Mynyx commented on #1386
Zusätzlich ist mir noch aufgefallen, dass in der Spalte "Found on level" nur die Werte 0, 2, 3 und 4 vorhanden sind. Der Wert 1 fehlt.

[2020-02-24 19:49] Mynyx opened #1387 "Validierung Seitenstruktur Feld Domainname"
Wenn in der Seitenstruktur bei einer Seite des Typs "Startpunkt einer Webseite" im Feld Domainname eine vollständige URL eingefügt wird (http://example.com/), dann wird keine Fehlermeldung angezeigt.

Stattdessen wird das Protokoll entfernt, jedoch der Slash am Ende verbleibt (example.com/).

Dadurch kommt es beim Aufruf der Webseite zu einem Fehler.

[2020-02-24 20:07] Mynyx opened #1388 "Tooltip des Frontend-Vorschau Icons nicht übersetzt"
Der Tooltip-Text des Icons, das bei geschlossener Frontend-Vorschau Leiste angezeigt wird, ist nicht übersetzt.

![image](https://user-images.githubusercontent.com/1632642/75186896-2dbfe000-5749-11ea-824f-e3dee7cd02c2.png)

[2020-02-24 20:27] ausi commented on #1064
Changelog: https://github.com/contao/contao/blob/4.8/CHANGELOG.md#L156
Commit: https://github.com/contao/contao/commit/a6fcb2ab05bfca8dbeb6e83ba90b1583f786f87e

[2020-02-24 21:14] Mynyx opened #1389 "Default-Eintrag "-" aus datalist für Mitglieder in der Frontend-Vorschau Leiste entfernen"
Wenn die Frontend-Vorschau aufgerufen wird, enthält die datalist für das Eingabefeld Mitglied den Default-Eintrag ``<option value="-"></option>``.

Dieser Eintrag suggeriert fälschlich, dass keine Mitglieder für die Auswahl vorhanden wären.

Wenn nach einer Eingabe im Feld Mitglied keine passenden Mitglieder gefunden werden können, wird zudem schlicht keine Datalist angezeigt.

Daher wäre es konsi

[2020-02-24 21:22] Mynyx opened #1390 "SQL-Exception führt zu Verletzung des CSV-Formats in Debug-Log des Crawlers"
Wenn während des Crawlvorgangs eine SQL-Exception auftritt, wird diese im Debug-Log mit Zeilenumbrüchen dargestellt. Dadurch wird das CSV-Format des Debug-Logs verletzt.

[code]

[2020-02-24 21:49] Mynyx opened #1391 "Google Suchergebnis-Vorschau bei Robots-Tag noindex ausblenden"
Beim Bearbeiten einer Seite könnte die Google Suchergebnis-Vorschau ausgeblendet werden, wenn als Robots-Tag noindex ausgewählt ist.

[2020-02-24 22:20] Mynyx opened #1392 "SERP/Google Suchergebnis-Vorschau ignoriert Einstellung Title-Tag im Seitenlayout"
Die Google Suchergebnis-Vorschau beim Bearbeiten einer Seite ignoriert beim Anzeigen des Seitentitels die Einstellung Title-Tag im Seitenlayout.

[2020-02-24 22:39] Toflar commented on #1386
Die URI wurde ja auch in der robots.txt gefunden. Das ist gewollt.
Und für das Level bräuchten wir mehr Details. Da müsste ja stehen auf welcher URI sie gefunden wurden.

[2020-02-24 22:44] Toflar commented on #1390
Das sollte gar nicht erst auftreten. Das ist ein Fehler im Indexer. Kannst du versuchen nachzuvollziehen, welche beiden Einträge kollidieren und im besten Fall noch, welche Parameter dabei an die `Search::indexPage()` übergeben werden?

[2020-02-24 22:45] Mynyx commented on #1386
Wie meinst du das? Die Spalte "Found on URI" habe ich so aufgefasst, dass dort die URI der Seite stehen soll, auf der ein Link zur jeweiligen Seite, die in der Spalte "URI" steht, gefunden wurde. Und der befindet sich natürlich nicht in der robots.txt!?!

[2020-02-24 22:58] Toflar commented on #1386
Doch klar, in einer Sitemap die in der robots.txt gelistet ist. Dort hat sie der Crawler zuerst entdeckt. Das ist die Quelle für den Crawler und ob sie danach noch mal irgendwo gefunden wird, ist irrelevant.
Wir könnten auch die Sitemap URL als Quelle angeben, aber grundsätzlich ist die robots.txt schon die eigentliche Quelle.

[2020-02-24 23:14] Mynyx commented on #1386
Die Sitemap wurde in der robots.txt gefunden, aber die Seite/URI in der Sitemap. Ich denke es wäre sinnvoll, das zu ändern.

Optimal wäre es, wenn dann zusätzlich noch ein Eintrag mit URI der Sitemap im Debug-Log erfasst wird, bei dem als "Found on URI" die robots.txt angegeben wird.

[2020-02-25 00:23] Mynyx opened #1393 "Suchindex löschen bei deaktivierter Suche nicht möglich"
Wenn die Suche deaktiviert ist, tritt in der Systemwartung beim Löschen des Suchindex eine ``ServiceNotFoundException`` auf: ``You have requested a non-existent service "contao.search.indexer".``

config.yml:
[code]

[2020-02-25 01:01] Mynyx opened #1394 "Seiten mit abweichendem Canonical Tag nicht in den Suchindex aufnehmen"
Seiten, bei denen ein Canonical Tag vorhanden ist und auf eine andere URL verweist, sollten nicht in den Suchindex aufgenommen werden.

[2020-02-25 06:16] leofeyer commented on #1387
Welche Contao-Version betrifft das?

[2020-02-25 06:36] Mynyx commented on #1387
Festgestellt in 4.9.0.

[2020-02-25 07:07] fritzmg commented on #1394
Das wäre nicht Rückwärtskompatibel.

[2020-02-25 08:36] Toflar commented on #1386
Sollte dann in der nächsten `terminal42/escargot` Version (noch nicht published) entsprechend so sein. Du kannst den master Branch testen, wenn du möchtest. Ref: https://github.com/terminal42/escargot/commit/7e2bc9a56200e4ef51b9f0df4e33ea2478ccc3e7

[2020-02-25 08:36] #1386 closed, assigned to nobody

[2020-02-25 08:50] Toflar commented on #1381
Klassischer Floating Point Error.
Das JS macht folgendes (leicht abgeändert zur besseren Leserlichkeit):

[code]

Und in JS ergibt halt `100 / 738 * 738` einfach `99.99999999999999`, weil ja zuerst dividiert wird.

Easy Fix:

[code]

Zudem sollten wir noch abfangen, ob `response.total` `0` ist, um division by zero Fehler abzufangen.

[2020-02-25 10:35] volkerrichert commented on #1090
500 is fine.

[2020-02-25 12:23] Toflar commented on #1356
I couldn't spot any issues. The crawler finishes correctly and crawls through all the data.
The progress bar advances normally. The title (in your screenshot `http://www.web-freelancer-gesucht.de/`) is just not updated for all the requests. It only happens for all the requests that actually were fully completed (which is not the case for broken link checks).
So it might be that the title does not

[2020-02-25 12:53] christianbarkowsky commented on #1356
Ok, that's a good idea.

[2020-02-25 13:55] contaoacademy opened #1395 "Suchindex Crawler funktioniert bei geschützten Seite nur bei "index, follow""
**Affected version(s)**
Contao 4.9

**Description**
Bei meiner Website habe ich einen umfangreichen Mitgliederbereich und stelle eine Suche bereit. Bisher konnte ich die Seiten problemlos indexieren lassen.

Wenn ich die Seite jetzt indexieren will, dann muss ich das Robots-Tag auf _index_ stellen, sonst findet der crawler die Seiten nicht.

Allerdings möchte ich die Seiten nicht auf _index_ haben

[2020-02-25 14:12] Toflar commented on #1312
I've just released `terminal42/escargot` 0.5.5. Can you check if that improves your results?

[2020-02-25 14:14] Toflar commented on #1353
Wie kann das reproduziert werden? Imho kann das nur passieren, wenn eine komplett invalide URL requested wird. Ggf. kannst du schauen, was denn als 2. Argument übergeben wird?

[2020-02-25 14:15] Toflar commented on #1344
Closing in favor of https://github.com/contao/contao/pull/1385

[2020-02-25 14:15] #1344 closed, assigned to nobody

[2020-02-25 14:27] Toflar commented on #1356
PR is here: https://github.com/contao/contao/pull/1396
I've also found an issue and released Escargot 0.5.5 which should immensely reduce the number of URLs that are checked and speed up things quite a lot 😄
Please provide feedback.

[2020-02-25 14:41] Toflar commented on #1395
Was sagt denn das Debug-Log? Weil es ist eigentlich explizit **nicht** so :)

[2020-02-25 14:42] christianbarkowsky commented on #1356
Tadaaaa, now it works and the crawler was lightning fast. ❤️

[2020-02-25 14:43] #1356 closed, assigned to Toflar

[2020-02-25 15:00] AgenceUpMotion opened #1397 "News sorting doesn't work"
**Affected version(s)**
4.9
**Description**
Order by in NewsList
**How to reproduce**

When I make a news list, sorting doesn't work

[2020-02-25 15:03] AgenceUpMotion opened #1398 "Forms is not translated"
In French, Forms is not translated in the menu on the left.

Translate to: Formulaire de contact

[2020-02-25 15:21] fritzmg commented on #1397
Are you able to reproduce this in the Contao Online Demo?

[2020-02-25 15:21] fritzmg commented on #1398
What exactly do you mean?

[2020-02-25 15:30] AgenceUpMotion commented on #1398
The word in the contao menu "Forms" has not been translated into French

[2020-02-25 15:48] AgenceUpMotion commented on #1397
Humm. no ! I will search, thx

[2020-02-25 15:55] #1397 closed, assigned to nobody

[2020-02-25 16:42] netzarbeiter commented on #1398
![forms](https://user-images.githubusercontent.com/1942550/75267188-34586100-57f6-11ea-9f2e-62a442ee8c19.png)

[2020-02-25 16:59] AgenceUpMotion commented on #1398
Yes, it's not Forms but "Formulaire de Contact"

[2020-02-25 18:04] fritzmg commented on #1398
Why should it be "Formulaire de Contact"? Shouldn't it be "Formulaires"?

[2020-02-25 18:18] xchs commented on #1398
Translation are managed on transifex.com. You can join the French translation team and change the strings yourself: https://www.transifex.com/contao/dashboard/all_projects/fr/

[2020-02-25 18:21] fiedsch opened #1399 "Twig-Templates im Template-Editor bearbeiten"
**Description**

enstsprechend der Diskussion im Formum (https://community.contao.org/de/showthread.php?71102-Contao-4-Wartungsmodus/page2&p=520178&viewfull=1#post520178) und der Symfony-Dokumentation (https://symfony.com/doc/4.4/bundles/override.html#templates) sollte das service_unavailable.html.twig in einem Unterordner von templates/ liegen.

Abgesehen davon, daß wir das noch dokumentieren müs

[2020-02-25 18:45] Mynyx opened #1400 "Crawler: Fehler 500 während Aktualisierung des Suchindex wird nicht angezeigt"
Wenn der Crawler mit der Funktion ``Den Suchindex aktualisieren`` gestartet wird und während des Crawlvorgangs beim Zugriff auf eine Seite ein Fehler 500 auftritt, wird keine Fehlermeldung angezeigt, sondern nur die Erfolgsmeldung ``x URL(s) erfolgreich indexiert. 0 fehlgeschlagen.`` ausgegeben.

[2020-02-25 19:14] bennyborn commented on #1400
Würde ich zu #1312 dazuzählen.

[2020-02-25 19:38] contaoacademy commented on #1395
@Toflar Welches Log willst du? Das Standard-Crawling Log vom Backend?

[2020-02-25 20:23] Mynyx opened #1401 "Crawler folgt Weiterleitungen unmittelbar"
Der Crawler folgt Weiterleitungen (z. B. 301) unmittelbar, statt die Zielseite der Queue hinzuzufügen. Dadurch wird die Zielseite erneut ausgewertet, auch wenn diese bereits gecrawlt wurde.

[2020-02-25 20:27] Mynyx opened #1402 "Crawler ignoriert base-Tag"
Bei relativen Links wird das base-Tag nicht berücksichtigt.

[2020-02-25 23:30] Funbug opened #1403 "Link-Picker in Dateiverwaltung mit "mehrere bearbeiten" defekt"
**Affected version(s)**
4.9.0

**Description**
In der Dateiverwaltung funktioniert immer nur der erste Link-Picker wenn man "mehrere bearbeiten" verwendet.

**How to reproduce**
1. Dateiverwaltung
2. "Mehrere bearbeiten" (mehrere Bilder auswählen)
3. "Name" und "Metadaten" anklicken -> "Weiter"
4. Nur der 1. Link-Picker funktioniert. Die anderen öffnen nicht in der Lightbox, sondern als neue Seite

[2020-02-26 08:03] #1398 closed, assigned to nobody

[2020-02-26 08:05] Toflar commented on #1395
Das Debug-Log. Neben dem Fortschrittsbalken. Müsste deutlich mehr Informationen enthalten :)

[2020-02-26 08:20] Nightwing0815 commented on #1399
Meine (laienhafte) Frage wäre: kann man das nicht so einfach gestalten, wie die 401 / 403 / 404 Errorpages in Contao? Sprich: Auswahl bei Seitentyp, und dort dann gestalten.
Oder steht dem technisch gesehen das Symfony Routing im Weg?

ToM

[2020-02-26 08:26] ff1601com commented on #1360
@ausi Ja, die sollte er besitzen, weil es ein Admin-Benutzer ist.
Die Bildgrößen werden nach der Erstellung im Backend auch in der Tabelle `tl_image_size` abgelegt, nur sind sie im Backend-Select nicht sichtbar.

[2020-02-26 08:50] Mynyx opened #1404 "Crawler: Unvollständiger Debug-Log bei alleiniger Ausführung des BrokenLinkCheckerSubscribers"
Wenn der Crawler nur mit der Funktion "Nach defekten Links suchen" ausgeführt wird, enthält der Debug-Log keine Informationen zu den gecrawlten Seiten:

[code]