[2019-04-08 12:25] ausi commented on #410
Caused by b546be78e90c5289c5ce317f330b3d0821defa87
`Dbafs::shouldBeSynchronized()` returns `false` for non-existent files since that change.

Can be fixed by changing https://github.com/contao/contao/blob/2e98cb8a2458731d474b190d5bde9cc891e1f7b8/core-bundle/src/Resources/contao/drivers/DC_Folder.php#L679-L686 to:

[code]

But we should probably instead fix `Dbafs::shouldBeSynchronized()` I guess.

[2019-04-08 12:33] Vec7or commented on #416
You are absolutely right. I completely forgot to check the get and post parameters before opening the issue. Sorry for the inconvenience, works as expected.

[2019-04-08 12:33] #416 closed, assigned to nobody

[2019-04-08 12:49] JLBA commented on #424
I understand. I'm just discovering Contao 4 (transfering an "old" 3.5 website under 4.4) so I took a long moment before understanding where this `<strong>` was hidden.  :-)

[2019-04-08 12:53] xchs commented on #424
It is also mentioned in the `UPGRADE.md`: https://github.com/contao/contao/blob/master/UPGRADE.md#markup-changes

[2019-04-08 14:13] leofeyer commented on #420
Fixed in 2846b6a7d66b44380ce05d8bbf3256a54b210d3b.

[2019-04-08 14:13] #420 closed, assigned to leofeyer

[2019-04-08 14:39] leofeyer commented on #421
Fixed in 02fa1e126a438d1daf8694fd8cf58083e9155ab8.

[2019-04-08 14:39] #421 closed, assigned to leofeyer

[2019-04-08 16:11] Physiklehrer commented on #129
Nach meinen Tests tritt der Fehler in 4.4.36 nun nicht mehr auf. Das entsprechende Symfony-Ticket wurde am 25. Februar geschlossen. Von daher kann dieser Issue gerne geschlossen werden. Danke!

[2019-04-08 16:11] #129 closed, assigned to nobody

[2019-04-08 19:08] leofeyer commented on #410
@ausi Is this what you had in mind?

[code]

[2019-04-08 19:45] ausi commented on #410
`new Folder($strPath)` creates the folder if it doesn’t exist which is not what we want in this case I think. We should probably use a while loop with `dirname()` until `is_dir()` is true and then call `isUnsynchronized()` on that path.

[2019-04-09 00:08] JLBA commented on #424
Ok. Thanks.

Le 08/04/2019 à 14:53, Hannes a écrit :

[2019-04-09 06:22] leofeyer commented on #410
You are right.

[code]

[2019-04-09 07:10] plorenz-etes commented on #414
The following form rights have been configured:

- In `Back end modules`, `Content` / `Form generator` is selected
- In `Form permissions`, all available forms are selected under `Allowed forms`
- In `Form permissions`, both `Create` and `Delete` permissions have been granted
- In `Allowed fields`, all fields of the tables `tl_form` and `tl_form_field` have been selected

[2019-04-09 07:16] ausi commented on #410
Wouldn’t this be simpler?

[code]

[2019-04-09 07:18] markocupic opened #427 "Error when trying to copy events (copyAll-mode) from one calendar into another (empty!) calendar"
Contao throws an error when I'm trying to copy (copyAll-mode) **as a non admin** multiple events from one calendar into another **empty**! calendar.

https://github.com/contao/contao/blob/c0fc6315af73e8bef9d67e2f8ae952ac1ddda80b/calendar-bundle/src/Resources/contao/dca/tl_calendar_events.php#L662

When I'm escaping Line 662 everything works just fine.

Tested in contao 4.7.2 and the contao online

[2019-04-09 07:49] leofeyer commented on #410
Fixed in fb6db76a11ba0f402ea138aaaca5a9a01877feb6.

[2019-04-09 07:49] #410 closed, assigned to leofeyer

[2019-04-09 12:22] OMOSde opened #428 "DCA-Felder mit der rgxp = date (Eval) standardmäßig mit aktuellen Datum vorausgefüllt"
**Affected version(s)**
Contao 4.4.37 (4.4.36 war ok)
PHP 7.2
getestet in 2 Systemen

**Description**
DCA-Felder mit der rgxp = date (Eval) nun standardmäßig mit dem aktuellen Datum vorausgefüllt

Mögliche Ursache [dieser Commit](https://github.com/contao/contao/commit/2846b6a7d66b44380ce05d8bbf3256a54b210d3b)

**How to reproduce**
DCA-Feld:
`'eval'      => ['rgxp' => 'date',  'datepicker' => true

[2019-04-09 12:44] philvdb commented on #428
Denke da hast du ganz recht, der Commit geht ja von `!= ''` nach `!== ''`. Das SQL-Feld, das du definierst, kann aber gar nicht `''` werden, höchstens eben `null` oder `0`.

Vor besagtem Commit war also `null` oder `0` `!= ''` erfüllt, nach dem Commit ist das nicht mehr gleich.

Kürzer gesagt denke ich du solltest versuchen dein SQL-Feld umzudefinieren, wie du es im Core bei (manchen, nicht allen!

[2019-04-09 12:50] fritzmg commented on #428
`varchar(10) NOT NULL default ''` is used for `start` and `stop` - presumably so it can be `''`, yes. And I guess it needs to stay this way for BC reasons.

[2019-04-09 14:56] philvdb commented on #428
I'm not suggesting we alter `start` and `stop` - I'm suggesting the OP changes his field definition to match the Contao one for `start` and `stop`.

[2019-04-09 15:04] fritzmg commented on #428
I can confirm this issue within Contao (and its bundles). Prior to Contao 4.7.3 (including Contao 3) when creating a new event for example the start and end date (of the event, I don't mean the visibility settings) were empty. Since Contao 4.7.3 the start and end date are the current date.

@philvdb this was just a general comment of mine. And changing a regular timestamp field to a varchar should

[2019-04-09 15:10] philvdb commented on #428
@fritzmg ah okay, sorry. Didn't realize the change broke core functionality. In that case short of a rollback of the change I guess the definitions of `start` and `stop` would need to be changed, which may not be something for a bugfix release?

[2019-04-09 15:17] fritzmg commented on #428
The issue does not concern the `*.start` and `*.stop` fields, but any other date fields within Contao (or extensions. e.g. `tl_calendar_events.startDate`. The `start` and `stop` fields are unaffected.

[2019-04-09 15:25] philvdb commented on #428
I would expect it to affect all fields that are defined as integers in the database, as `tl_calendar_events.startDate` is. And not the ones that are strings. We currently have a mixture of strings, unsigned and signed integers in the database all used as dates or times. This bug may just make us have to decide for one variable type :)

[2019-04-10 07:03] fritzmg commented on #428
**Reproduction for the Online Demo**

1. Log into the Contao Online Demo.
2. Go to the calendar.
3. Simply edit _each_ event and then immediately save it.
4. Visit https://demo.contao.org/en/events.html

All (previously single day) events will now be multi day events - with the end date being the current date.

It's currently impossible to create an event with _no_ end date.

[2019-04-10 07:28] LinkingYou opened #429 "Fehler beim BE-Login für User wenn "Passwort-Änderung notwendig" festgelegt wurde"
**Affected version(s)**
Contao 4.4.37

**Description**
Wenn man im BE bei einem Benutzer die Option "Passwort-Änderung notwendig" aktiviert, dann wird dieser auch beim Login aufgefordert, ein neues Passwort festzulegen. Beim Speichern des neues Passworts erhält man dann aber:

Contao 4.4.37

Internal Server Error

Type error: Too few arguments to function tl_user::invalidateSessions(), 1 passed in

[2019-04-10 09:44] reluem opened #430 "Language redirect for regional codes ("de-at")"
**Affected version(s)**
4.7.2 & 4.7.3

**Description**
Since ~ Contao 4.7, the language redirect to /de is not working anymore in Safari on Mac or iOS, if the browser language is "de-at" or "de-de".

**How to reproduce**
Here are my headers according to https://www.whatismybrowser.com/detect/what-http-headers-is-my-browser-sending. No fancy alterations to my Safari headers, I tested this with seve

[2019-04-10 09:55] contaoacademy commented on #429
Ich kann den Fehler in der 4.4.37 bestätigen.
Unter Contao 4.7.3 tritt das Problem nicht auf.

[2019-04-10 11:28] Toflar opened #431 "Warnings in ContentDownloads"
**Affected version(s)**

4.4, 4.7

**Description**

We pass user input directly to `dirname()` which can cause e.g. open_basedir restriction warnings to be logged when some funny guys try to hack the system.

**How to reproduce**

Add a `Downloads` content element and then request it in the FE using something like that:
[code]

Not sure how to fix that though.

[2019-04-10 11:35] Toflar commented on #431
Nvm. Closing. Not related to Contao.

[2019-04-10 11:35] #431 closed, assigned to nobody

[2019-04-10 11:49] leofeyer commented on #430
Fixed in f1070fc74be3c356ebdcb26deb03b29727759ae5 (thank you @aschempp).

[2019-04-10 15:32] Funbug commented on #369
Das Problem besteht bei DF leider immer mal wieder. Erst wenn die Dateien im tmp-Verzeichnis älter als 3 Tage sind, werden sie gelöscht. Danach funktioniert das Schreiben der Symlinks wieder.

Eine mögliche Lösung seitens Contao könnte sein, den Hash der Datei (hier sf.default.N6juwc4.lock) bei jedem Aufruf anders zu gestalten. Dann würde Contao nicht versuchen dieselbe Datei wie zuvor zu lesen, s

[2019-04-10 15:52] leofeyer commented on #428
Fixed in e632fe36c42c62d77d1fe76cc2641e6badf017b4. @fritzmg @philvdb Can you please verify that the changes fix your issue?

[2019-04-10 15:52] #428 closed, assigned to leofeyer

[2019-04-10 15:59] leofeyer commented on #429
Behoben in a4a1dd89cceaea787507af692bcc95f224c4ba28.

[2019-04-10 15:59] #429 closed, assigned to leofeyer

[2019-04-10 16:43] fritzmg commented on #428
Yes, I that fixes it.

[2019-04-10 17:46] joehi opened #432 "Entering an event with Starttime but without Endtime does not work anymore"
**Affected version(s)**
Contao 4.7.3
Contao 4.4.37

**Description**
When you create or update an event with starttime and startdate but without endtime and enddate and save it, the event will have the actual time of the moment you saved it as the endtime.

**How to reproduce**
Just create or update an event with empty fields for endtime and enddate and save it.

**How to (temporarily) solve this p

[2019-04-10 18:35] OMOSde commented on #432
Duplicate of https://github.com/contao/contao/issues/428

[2019-04-10 18:38] #432 closed, assigned to nobody

[2019-04-10 18:42] contaoacademy opened #433 "Add support for lazy-loading (feature)"
**Description**
As described in this [article](https://addyosmani.com/blog/lazy-loading/) by Addy Osmani, there will soon be native support for lazy-loading in Chrome 75.

Is it possible to implement this in Contao 4.8, too?

[code]

[2019-04-10 19:01] netzarbeiter commented on #433
Not lazy-loading, but a performance boost.
https://github.com/contao/contao/pull/354

[2019-04-10 20:57] JLBA commented on #403
Hi,
Perhaps there could be default colors environnement if we don't want to reconfigure it for each new project.

[2019-04-10 21:16] JLBA opened #434 "(solved) ce_hyperlink : image link target disappears after saving"
**Affected version(s)**
Contao 4.4 (not tested under 4.7)
**Description**
In hyperlink content element, we first have 2 url fields :
- link target
- if checked, create an image link / overwrite meta data / image link target
I don't know the real difference between both but when saving, image link target field disappears.
**How to reproduce**

[2019-04-10 21:42] Funbug commented on #369
Das Problem ist wohl, dass die .lock-Datei **immer** denselben Namen hat, egal welcher Benutzer sie anlegt. Wir haben auf dem dedizierten Managed Server bei DF mehrere Nutzer mit unterschiedlichen Quotas. Natürlich kann Nutzer A dann nicht die tmp-Dateien des Nutzers B lesen.

[2019-04-11 05:11] cmartin6 commented on #316
@leofeyer Ich habe die Option "auto_items aktivieren" deaktiviert, und somit wurde der Fehler behoben. Bin mir aber nicht ganz sicher ob das wirklich sinnvoll bzw. richtig ist.

[2019-04-11 07:38] Toflar commented on #369
Gut, wenn die Userberechtigungen stimmen, dann passt das. Ich sehe den Use Case jetzt und wir sollten was dagegen unternehmen. @contao/developers ggf. up4discussion.

[2019-04-11 07:48] fritzmg commented on #369
Hm, sollte in so einem Setup nicht jeder Nutzer sein eigenes Temp Verzeichnis bekommen? Siehe auch https://github.com/contao/contao/issues/267#issuecomment-453941709

[2019-04-11 07:49] Toflar commented on #369
Nein, wenn die User so konfiguriert sind, dass sie die Files der anderen User nicht lesen können, ist ja alles gut. Es wäre nur problematisch, wenn dem nicht so wäre 😄

[2019-04-11 07:53] fritzmg commented on #369
True - aber dann ist es immer noch seltsam, dass verschiedene User die selbe Lock Datei benutzen wollen - das sollte ja nicht möglich sein.

[2019-04-11 08:00] aschempp commented on #369
Wir nutzen ja den Lock von Symfony - ich frage mich warum der das so macht …

[2019-04-11 08:27] Toflar commented on #369
Ja, so funktioniert einfach die Symfony Lock Framework-Integration. Du kannst mehrere "Lock Resources" angeben, standardmässig ist es einfach eine. Die nennt sich `default` und zeigt auf den `SemaphoreStore` wenn supported, ansonsten Fallback auf `FlockStore` wie im Beispiel hier.
Und die Stores generieren den Lock auf Basis des Resource-Namens, also `default`.
Beweis: `FlockStore` macht `strtr(su

[2019-04-11 08:31] leofeyer commented on #369
Das sehe ich genauso.

Übrigens hatten wir schon mal ähnliche Probleme: https://github.com/contao/core-bundle/issues/1551

[2019-04-11 08:44] fritzmg commented on #369
@Toflar früher hatte Contao das selbst gesetzt:

https://github.com/contao/contao/blob/19db0857fa5f39a1eaf052ce59322b797b0f105d/core-bundle/src/Command/AbstractLockedCommand.php#L60

Seit der Umstellung auf SemaphoreStore wird das nicht mehr gemacht. Ein Symfony Problem ist das imho nicht.

[2019-04-11 08:52] leofeyer commented on #414
Fixed in b3fb6806a25d1672cbb908825bf4b04caef2d9cf.

[2019-04-11 08:52] #414 closed, assigned to leofeyer

[2019-04-11 09:21] plorenz-etes commented on #414
Thanks! :)

[2019-04-11 09:21] leofeyer commented on #427
Fixed in d429be09b6e8d2cd6c9adbbcfe7f23999a948373.

[2019-04-11 09:21] #427 closed, assigned to leofeyer

[2019-04-11 09:25] Toflar commented on #369
Du meinst Umstellung auf die Symfony Lock Komponente. Mit Semaphore hat das nichts zu tun.

[2019-04-11 09:25] Toflar commented on #369
Doch. Weil es betrifft jede Symfony Applikation, nicht nur Contao.

[2019-04-11 09:36] leofeyer commented on #434
Fixed in 762b484c181705c150670a39d78cd4044ec65808.

[2019-04-11 09:36] #434 closed, assigned to leofeyer

[2019-04-11 09:47] leofeyer commented on #316
@mvscheidt Hier sind die Debug-Infos, die Du haben wolltest:

<img width="428" alt="" src="https://user-images.githubusercontent.com/1192057/55947694-40bfe380-5c4f-11e9-82c8-d7390f3b080a.png">

Das erste ist ein `dump($_GET)`. Ich kann das Problem bei mir leider nicht reproduzieren:

* news-redirect/new-contao-versions-in-short-intervalls -> news-reader/new-contao-versions-in-short-intervalls
* ne

[2019-04-11 09:52] fritzmg commented on #369
Genau, ja.

Ja - ich meine nur ob Symfony die Verwendung des FlockStore in dieser Form überhaupt vorsieht, ohne eben selbst den Pfad oder Namen zu setzen.

[2019-04-11 09:57] Toflar commented on #369
Du setzt nie einen Pfad. Es gibt je nach Store keinen Pfad. Du setzt einen Key und das FrameworkBundle selber setzt einen namens `default`. Und wenn 10 Systeme so konfiguriert sind, dass sie am gleichen Ort locken (das hat nichts mit dem Store zu tun, das kann bei jedem Store passieren), dann lockst du applikationsübergreifend. Das würde auch passieren, wenn wir nicht `default` sondern `foobar` ne

[2019-04-11 12:15] reluem commented on #430
Something is strange. Now with 4.7.4 the regional language is correctly converted.
Here are two dumps on the `$languages` array [here](https://github.com/contao/contao/blob/f1070fc74be3c356ebdcb26deb03b29727759ae5/core-bundle/src/Routing/RouteProvider.php#L380). One before the conversion showing only my regional language code, one after the conversion.
`array:1 [▼
  0 => "de_AT"
]
`
`
array:2 [▼

[2019-04-11 13:22] leofeyer commented on #417
As discussed in Mumble on April 11th, we want to remove "Print as PDF" option in the back end and hide the "Print as PDF" link in the front end if the bundle is not installed.

[2019-04-11 14:41] leofeyer commented on #400
As discussed in Mumble on April 11th, we want to open a Symfony issue and ask how they would solve this.

[2019-04-11 14:44] leofeyer commented on #399
As discussed in Mumble on April 11th, we want to adjust the "store form data" select menu to also show views.

[2019-04-11 14:53] leofeyer commented on #419
As discussed in Mumble on April 11th, the "show all" option should show all news and not just the past ones.

[2019-04-11 15:05] xchs commented on #399
Shouldn't this be set to the 4.4.39 milestone?

[2019-04-11 15:25] leofeyer commented on #369
Wie am 11. April auf Mumble besprochen, ist das Locking für die Commands nicht notwendig und kann entfernt werden. Dadurch löst sich auch dieses Problem. 😄

[2019-04-11 15:52] leofeyer commented on #400
https://github.com/symfony/symfony/issues/31078

[2019-04-11 15:56] leofeyer commented on #399
Yes. Fixed.

[2019-04-12 08:39] leofeyer commented on #430
I can confirm that it still does not work. 😢

[code]

Even though `$languages` contains `de`, I am redirected to `/en/`.

@aschempp This is how `$routes` looks like after sorting:

[code]

So the first route that matches is `tl_page.25.fallback` and it should redirect to `/de/`:

<img width="783" alt="" src="https://user-images.githubusercontent.com/1192057/56025830-36671d80-5d13-11e9-8c6f-caa4264

[2019-04-12 09:28] aschempp commented on #430
Can you check the web profiler routing information? It's not really accurate, but it might show why a page does not match.

[2019-04-12 09:32] leofeyer commented on #430
Oh yes, it does. 👍

<img width="1047" alt="" src="https://user-images.githubusercontent.com/1192057/56027607-a88d3180-5d16-11e9-9ddd-441f28d7af4b.png">

So we actually would need a `'{$page->rootLanguage}' in request.getLanguages() or request.getLanguages() matches '/{$page->rootLanguage}-[A-Z]{2}/'` here:

https://github.com/contao/contao/blob/0824f28770ba9273ac7695d7232290ab0c99b527/core-bundle/

[2019-04-12 09:35] leofeyer commented on #430
BTW, isn't the sorting of the fallback pages wrong?

- tl_page.25.fallback: regular, **de**
- tl_page.3.fallback: regular, en
- tl_page.23.fallback: root, **de**
- tl_page.1.fallback: root, en

Shoudn't the `de` routes come first?

[2019-04-12 09:46] mvscheidt commented on #316
@leofeyer habe ich moment leider kaum Zeit. Ich melde mich sobald ich mehr herausgefunden habe.

[2019-04-12 11:22] aschempp commented on #430
Regular pages always come first, because they can have a path. The fallback pages (not the root ones!) match all paths of that domain (and language).

[2019-04-12 15:21] leofeyer commented on #430
See #435.

[2019-04-12 15:21] #430 closed, assigned to leofeyer

[2019-04-14 20:57] Aybee opened #441 "Add class to .ce_player if it has video or audio"
**Description**
Wäre es möglich dem `div.ce_player` entsprechend des Inhalts die Klassen `video` bzw. `audio` zu vergeben?

**Example**
Der Wrapper für ein Video wird meist responsive gestaltet und benötigt daher z.B. so ein CSS
[code]
Momentan suche ich nach `video`s innerhalb von `.ce_player` und gebe dem `parent `die Klasse `video`
[code]

[2019-04-14 22:35] Aybee opened #442 "Remove width and height from audio in ce_player template"
**Affected version(s)**
4.4.36

**Description**
Das Template ce_player gibt das hier aus.
[code]
Mein Validator gibt diese Meldung aus:

Fehler: Attribute “height” not allowed on element “audio” at this point.

Im Template erfolgt die Ausgabe und sollte entfernt werden.
[code]
Der Audioplayer im Chrome/Opera hat übrigens eine Höhe von 54px, IE/EDGE 30px und der im FF eine von 40px, egal was in hei

[2019-04-15 10:31] fritzmg opened #436 "Cannot save news entries with start time 00:00 when using UTC greater than zero"
**Affected version(s)**
4.7.4

**Description**
If your configured time zone is greater than UTC and you try to save a news entry whose time is between 00:00 and whatever UTC time offset you have, you'll get the following error:
[code]

**How to reproduce**

1. Set your timezone in the system settings to Europe/Vienna for example.
2. Create a new news entry on any date, but with the time 00:00 for

[2019-04-15 11:32] joehi commented on #436
Contao 4.7.4

With php 7.3.4 and MariaDB 10.3.14 these errors occur.
With php 7.2.17 and mariaDB 10.1.37 there are no errors.

See also my forum [posting](https://community.contao.org/de/showthread.php?74662-Nachrichten-lassen-sich-nicht-mit-Zeitangabe-00-00-Uhr-anlegen&p=501468&viewfull=1#post501468).

[2019-04-15 13:03] Toflar opened #437 "Labels for min and max value in form field settings"
**Affected version(s)**

4.7.*

**Description**

I think the labels for minimum and maximum value in the form field generator are a bit misleading. See:
![grafik-20190415-120244](https://user-images.githubusercontent.com/481937/56134736-7afeed00-5f8f-11e9-8653-c985af73961f.png)

I think it's the same in English because we re-use the `minlength` and `maxlength` labels. Imho those should get adjuste

[2019-04-15 13:13] fritzmg commented on #437
I made the same mistake recently 😁

[2019-04-16 09:03] hoss-ps commented on #399
in case i need to access some tables of  3rd party database for same company which does not use any webservices and i have only limit access to some views of it .

in contao 3.x it works fine, and the issue is , once we update it to v4.x ,views exist in targetTable field in tl_form from previuse  version  but in backend we dont see it in table list, once we want to change it, errors appear.
it wou

[2019-04-16 13:31] tophcodes opened #438 "Revise table takes very long to run for large tables"
**Affected version(s)**
Unsure, but affected code was last changed 7 years ago, so it's been a while.

**Description**
We have models with the following (1:n) relationships:
Customer -> Project -> Participant

Each project can have tens of thousands of participants, in our live database the corresponding table has about 20 million entries. The `tl_participant` DCA defines a `ptable` relationship t

[2019-04-17 14:29] JLBA commented on #434
Thanks.

[2019-04-18 06:43] m-werk opened #440 "ua::class erzeugt nicht den gewünschten Inhalt"
**Affected version(s)**
4.7.x

**Description**
Wenn im Frontend die Seite mit "STRG + F5" aktualisiert wird, steht im Quellcode unter body bei `class="win firefox gecko fx66"`. Sobald ich aber NUR F5 drücke, steht folgendes unter Class
`<esi:include src="/_fragment?_hash=1o9ZvXcHbKdlbGmAwX8kU4lAqzuF4VcOvM9rjfcx5S4%3D&_path=insertTag..........`.
Dies ist bei jedem Browser so.
In der Versin 4.6.x ha

[2019-04-18 07:50] fritzmg commented on #440
I can confirm the problem on easyname. For some reason the esi tags re not replaced.

easyname offers a Varnish cache proxy to all shared hosting customers. However - it is disabled in our case.

[2019-04-18 07:50] fritzmg commented on #440
Huh, weirdly, once I logged out of the back end, it suddenly worked. Even after logging into the back end again.

// edit: ah - when I disable the browser cache via the developer tools, the esi tags are replaced

So it appears you cannot disable the cache proxy completely. And if the browser sends a `Cache-Control: no-cache` request header, the esi tags are replaced.

[2019-04-18 08:09] m-werk commented on #440
Ok, bei mir ist der Varnish chache auch deaktiviert.

Was heißt dies jetzt? Können wir was tun?

[2019-04-18 09:32] leofeyer commented on #419
Fixed in 2137caa4bac8073438da0be9562a5a1c83149a71.

[2019-04-18 09:32] #419 closed, assigned to leofeyer

[2019-04-18 12:57] leofeyer commented on #436
It seems we need to change

https://github.com/contao/contao/blob/85d8290a25bd796ff5c5c864e0c43d1b46537f8c/news-bundle/src/Resources/contao/dca/tl_news.php#L234

to `int(10) NOT NULL default '0'`. However, I wonder why the issue does not occur in Contao 4.4? Did you test it?

[2019-04-18 13:38] tophcodes commented on #58
I'm pretty sure @benfolds was not referencing clearing the session to be a workaround. He's referencing that a timed clear is not a very precise solution.

When I use a session variable to display a text after a form was submitted then that text will be displayed for every request that's made within the 10 (or however many it's configured to now) seconds. I submit a form, see the message. Go to an

[2019-04-18 13:56] joehi commented on #436
I just set up Contao 4.4.38 on the server with php 7.3.4 and MariaDB 10.3.14 and tested it. Same problem as with Contao 4.7.4. So the same issue also occurs with Contao 4.4.

[2019-04-22 16:00] kroerig opened #444 "Feature: ce_player default volume"
Hallo,

ich fände es schön, wenn man im Backend beim ce_player zusätzlich zu den Start/ Stoppstellen auch die initiale Lautstärke angeben könnte.
Aktuell starten alle Medienelemente immer auf 100% und der Zuhörer muss (je nach Inhalt) erst mal schnell den Regel runter drehen um aus dem Stuhl geblasen zu werden.

Und dann wäre es sehr schön, wenn auch bei der Wiedergabe eines Audiofiles bereits vor

[2019-04-23 05:50] Toflar commented on #58
That's true. However, there's no way to keep that backwards compatible other than the timed solution. Before, the values were kept in the session forever (for as long as the session was valid). Tehre's no way we can determine when to clear it. A better solution would be some special content element that outputs the form details again and then clears the session. But again, that would not have been

[2019-04-23 07:20] asaage commented on #444
das geht nicht weil ```preload="none``` für audio hartcodiert ist https://github.com/contao/contao/blob/master/core-bundle/src/Resources/contao/templates/elements/ce_player.html5#L13

Ich kenne den Grund dafür nicht aber wenn man das Template an dieser Stelle in ```preload="<?= $this->preload ?>"``` ändert kann man die Gesamtlaufzeit vorab anzeigen lassen.

Was das default-volume betrifft - halte

[2019-04-23 07:51] fritzmg commented on #440
See my answer on the forum. Ask easyname to disable the Varnish Cache Proxy completely, because otherwise the esi tags of your web application are not replaced.

[2019-04-23 08:17] bekanntmacher commented on #126
![Vorschau___www_schweizerag_com_und_Vorschau_und_Eingang__68_E-Mails__8_ungelesen__und_Transmit](https://user-images.githubusercontent.com/1622464/56565501-d6913200-65b0-11e9-9a58-9c64e9db4fb4.png)

[2019-04-23 09:43] tophcodes commented on #58
That reminds me of my suggestion [here](https://github.com/contao/core-bundle/issues/1230#issuecomment-421295831).

The issue was noticed by using the `{{post::}}` insert tag, so I thought it could make sense to add a modifier to that insert tag that just clears the session (or its one specific value) when set. That would remain backwards compatible as long as people haven't defined such a modifie

[2019-04-23 09:46] Toflar commented on #58
Nobody would use that new flag and the cache would always be disabled. That's not really an option.

[2019-04-23 12:05] leofeyer commented on #444
Ich auch ehrlich gesagt. Hab gerade mal bei YouTube, Vimeo, Spotify und Co nachgesehen und auch dort starten die Videos immer auf 100% Lautstärke.

Das sollten wir vielleicht ändern.

[2019-04-23 12:36] kroerig opened #445 "Feature: Ping-Attribut für Links"
Nicht das ich es wirklich brauche, aber der ein oder andere möchte vielleicht doch Tracking nutzen.
Sollte Contao das Attribut vielleicht auch unterstützen?
https://heise.de/-4404235

[2019-04-23 13:12] koertho opened #446 "Missing scope attribute in request object"
**Affected version(s)**
Occured in 4.7.4
Works in 4.4.38

**Description**
Scope Matcher can't be used to detect if frontend or backed, since `scopeMatcher->isFrontendRequest()` always returning false. The problem is, that the request object does not contain the _scope attribute. The TL_MODE variable still works, cause the ContaoFramework constructor has the variable already set.

**How to reproduc

[2019-04-23 16:05] joehi opened #447 "On multiple day events all days are marked as current"
**Affected version(s)**
Contao 4.7.4
Contao 4.4.38

**Description**
On multiple day events in the modules *** EVENT LIST *** (option Shortened view not activated) or *** CALENDAR *** all individual days are marked with the class 'current', even if the first days are already in the past and should be marked with the class 'bygone' or the last days are in the future and should be marked with the cla

[2019-04-23 17:05] fritzmg commented on #447
This is not an error imho. If you have an event, that occurs on multiple days, but does not span multiple days, then you should use recurrence.

[2019-04-23 17:13] joehi commented on #447
I am talking about an event that spans multiple days. For example an anniversary weekend that would start on Friday and ends on Sunday.

[2019-04-23 17:25] fritzmg commented on #447
Yes, then all days of the event should be marked as `current` in my opinion.

[2019-04-23 17:40] asaage commented on #444
Lautstärke als Attribut scheint auch nicht so wirklich die beste Browserunterstützung zu haben.
Ich hab diesen Link (https://html.com/attributes/audio-volume/) mit Chrome, Edge und Firefox getestet und hab immer 100%.

[2019-04-23 17:47] joehi commented on #447
That is the case as of now. And in some way I understand your opinion. But it results in a strange list.

I list all feature events and also the events from the last seven days by including two modules of the event-list with different settings (first: last 7 days, second: all future events) on my page.  Using just one module of the event-list where you chose to list all events would produce the sa

[2019-04-23 19:32] asaage commented on #447
A multiple-day-event is still **one** event and should be treated as a union. It can't be "bygone" until it's completely done.

[2019-04-24 08:22] hoss-ps opened #449 "Add GET parameter to generateFrontendUrl"
**Description**
Currently **'generateFrontendUrl'** accepts  $strParams , and encodes it same as URL. it means for question mark and ampersand its return encoded URL format (%3F,%26). conceptualy its wrong if we assume it as a GET parameter .in this case usualy we do hardcode URL if we need some format
like:  example.com?foo=bar&arg=val
it may have some useful result, for example **jumpToOrReload*

[2019-04-24 09:26] Aybee commented on #441
Thank you. Maybe the easiest way without BC break would be to add a DIV wrapper into the template.

[2019-04-24 12:08] Toflar commented on #449
`$strParams` is meant to be used for the path only, not for query parameters.

[2019-04-24 12:28] hoss-ps commented on #449
thats why i asked if possible to add  for query string too :)
since it use to generate frontend URL , will be fine if have query string aswell.

[2019-04-24 12:31] Toflar commented on #449
I don't think we're going to add new functionality to deprecated methods :) Just add them yourself using e.g. `. '?' . http_build_query($params, '', '&')`

[2019-04-24 12:34] hoss-ps commented on #449
i do the same, it was only suggestion. as mention erlier , we can use query string in jumpToOrReload  etc method aswell.
anyway thanks for reply.

[2019-04-24 14:22] joehi opened #451 "It is impossible to include content elements of events and news"
**Affected version(s)**
Contao 4.7.4

**Description**
It is not possible to include content elements which are part of news or events. It is only possible to include content elements which are not from news or events.

I have this effect on two different contao installations on two different servers and could reproduce it with the Contao online demo as well.

**How to reproduce**
Log in to the onl

[2019-04-24 14:38] xchs commented on #451
This is probably a known limitation: https://github.com/contao/contao/blob/master/LIMITATIONS.md#moving-content-elements-as-non-admin-user

[2019-04-24 14:51] joehi commented on #451
But it happens when I am logged in as admin user. And I am not trying to move or copy anything.

[2019-04-24 20:27] xchs opened #453 "Exception notices are now only displayed in English"
**Affected version(s)**

Contao 4.7.4

**Description**

In Contao 4.7.4, the exception notices are only displayed in English, and not according to the browser language.

**Contao 4.7.4:**

![01](https://user-images.githubusercontent.com/1218766/56691105-603f1d80-66df-11e9-99c9-1ada39842240.jpg)

**Contao 4.4.38:**

![02](https://user-images.githubusercontent.com/1218766/56691134-7816a180-66df-11e9

[2019-04-24 21:05] asaage commented on #451
I think this is more or less a limitation of the select-picker-widget.
If you urgently need to to do that i suggest you use a
**html-element** + **inserttag** ```{{insert_content::321}}``` or ```{{insert_content::88}}```
which does basically the same.

I guess the stylect is not suitable to add additional hierarchy (it's cluttered for me anyway most of the time). To fix this we would probably need

[2019-04-25 05:21] fritzmg commented on #335
I agree that any failure of processing the form data, be it saving it to the database, sending an email or any failure caused in hooks, should not show the success page.

[2019-04-25 12:24] leofeyer commented on #411
Fixed as discussed in Mumble in 432251d95c4db7c51e39378a93f7dce93dafe5f2.

[2019-04-25 12:24] #411 closed, assigned to leofeyer

[2019-04-25 12:38] leofeyer commented on #399
Fixed in 4874fc75ee5a96ed63e61efc3c5dddf4f00469aa.

[2019-04-25 12:38] #399 closed, assigned to leofeyer

[2019-04-25 12:38] contaoacademy commented on #126
I suspect this is related to the header "X-Frame-Options" in Contao.

See:
https://github.com/contao/standard-edition/issues/54
https://developer.mozilla.org/de/docs/Web/HTTP/Headers/X-Frame-Options

You can overwrite the setting normally with an entry in /app/config/config.yml
https://community.contao.org/de/showthread.php?72633-Contao4-Dieser-Inhalt-kann-nicht-in-einem-Frame-angezeigt-werden

Po

[2019-04-25 12:41] Toflar commented on #126
It's not related to the X-Frame-Options. Cookies are bound to a domain so when you log in, enable the FE preview and then switch to a different domain, that cookie is not sent to the server and thus you'll be a logged out user unknown to the application. You cannot just switch domains and remain logged in.

[2019-04-25 12:44] contaoacademy commented on #126
@Toflar thx

[2019-04-25 12:44] Toflar commented on #126
Well, the X-Frame-Options could also be an issue but we don't even get there 😄

[2019-04-25 12:50] leofeyer commented on #369
Behoben in a84e341de23d351c8d8e4975a2bad8d4750bf640.

[2019-04-25 12:50] #369 closed, assigned to leofeyer

[2019-04-25 12:53] leofeyer commented on #442
Behoben in 8ea14b33b7e3f4e828a5b86b9d60a3daefd73889.

[2019-04-25 12:53] #442 closed, assigned to leofeyer

[2019-04-25 12:59] leofeyer commented on #436
Fixed in f6a37e734e0c9d7245175d5db984b4b4a5ffa4ad.

[2019-04-25 12:59] #436 closed, assigned to leofeyer

[2019-04-25 14:56] leofeyer commented on #444
Behoben in 8d93ac5ede75d1e0b61b7e974f86b2e244f06564.

[2019-04-25 14:56] #444 closed, assigned to leofeyer

[2019-04-25 15:04] aschempp commented on #369
Sollten wir das "locked command" noch deprecaten?

[2019-04-25 15:14] leofeyer commented on #417
Fixed in 388edab7cad4d8bdd0218bd2586d32847a3beea9.

[2019-04-25 15:14] #417 closed, assigned to leofeyer

[2019-04-25 15:15] leofeyer commented on #369
Das ist es bereits:

https://github.com/contao/contao/blob/388edab7cad4d8bdd0218bd2586d32847a3beea9/core-bundle/src/Command/AbstractLockedCommand.php#L21-L25

[2019-04-25 15:22] leofeyer commented on #453
Does this affect the "no root page found" exception only? Because we have added a special routine for this case in Contao 4.7, which might lack proper language handling:

https://github.com/contao/contao/blob/388edab7cad4d8bdd0218bd2586d32847a3beea9/core-bundle/src/EventListener/ExceptionConverterListener.php#L58-L60

[2019-04-25 15:25] xchs commented on #453
No. I also get an English notice if, for example, I just create a root page and **no** regular pages.

[2019-04-25 15:33] leofeyer commented on #453
@aschempp It seems that the `RouterListener` has priority 32, whereas the `TranslatorListener` has priority 10. 🙄 That is why it works for e.g. the `NoLayoutSpecifiedException` but not for any exceptions thrown during routing.

[2019-04-25 15:52] leofeyer commented on #453
I have tested all exceptions that the `PrettyErrorScreenListener` class is supposed to handle:

| Class | Status | Behavior |
| --- | --- | --- |
| `ForwardPageNotFoundException` | **WRONG** | Shows the default "Oops! An Error Occured" page instead of a pretty error screen |
| `IncompleteInstallationException` | **WRONG** | Is ignored completely in the front end in production (WTF?) |
| `InsecureI

[2019-04-25 15:56] xchs commented on #453
Yes, but with Contao 4.4 the pretty error screen is rendered in German (under the same circumstances).

[2019-04-25 16:09] leofeyer commented on #453
Another thing we need to fix: If there are no pages at all and the "insecure installation" exception is thrown in the front end, the final exception will be the "resource not found" exception from the routing, because there is no root for `/`:

[code]

[2019-04-25 16:17] leofeyer commented on #453
The "insecure installation" problem is caused by ec82a9745ad8783799ec563878f4676b24be611e by the way, because the accept header is `application/vnd.t42.header-replay` in this case. It could be fixed by adding the following to the `InsecureInstallationListener` class:

[code]

Although then Contao behaves like this:

| Path | Status | Behavior |
| --- | --- | --- |
| `/` | **NOK** | Renders the pre

[2019-04-25 16:36] xchs commented on #453
Huh, it seems to be more complex than I actually thought. :see_no_evil:

[2019-04-26 03:23] bekanntmacher commented on #126
It's a `load denied by X-Frame-Options` issue.

I have now inserted these lines https://community.contao.org/de/showthread.php?72633-Contao4-Dieser-Inhalt-kann-nicht-in-einem-Frame-angezeigt-werden&p=487611&viewfull=1#post487611 into the config.yml. now it works.
1. now I have no idea what I have exactly configured
2. many others with multidomain installation probably have the same problem (depend

[2019-04-26 07:46] Toflar commented on #126
Well, of course it's an `X-Frame-Options` issue if you want to embed the site in an iframe like the FE preview does. What I was saying is that even if we did allow that, yes you could embed a page in the iframe but the FE preview (meaning "show hidden items") would still not work because you're not logged in on that page.
Speaking of the iFrame preview: It's planned to abandon this anyway and repl

[2019-04-26 08:27] Samson1964 opened #455 "Pfad in Seitenstruktur wird mehrfach angezeigt"
In der 4.7.4 wird der Pfad mehrfach angezeigt, wenn man in der Seitenstruktur eine Seite hinzufügt und danach "Speichern und neu" wählt. Nach der Rückkehr in die Seitenstruktur sind man dann das:

![Seitenstruktur](https://www.schachbund.de/files/contao-forum/seitenstruktur_multidomain.jpg)

Das Ganze läßt sich in der COD (4.7.4) nachvollziehen:

1. Neuen Startpunkt anlegen
2. In einen Seitenbaum

[2019-04-26 11:51] bytehead opened #456 "Language url parameter ignored, when requesting a page that does not exist"
**Affected version(s)**
4.7

**Description**
If you request a page that not exists in a multilanguage environment, e.g. `https://mydomain.tld/en/foobar`, the language parameter `en` is ignored and contao will deliver the 404 content based on your browser language.

`$_GET['language']` is not set here: https://github.com/contao/contao/blob/ed2fec5eaaa84875a9a14b5b90e803a65bccec7c/core-bundle/src/Re

[2019-04-26 12:44] kroerig opened #457 "Mails über Relay senden mit TLS"
**Affected version(s)**
4.7.x (und vermutlich auch älter)

**Description**
E-Mails können nicht verschickt werden, wenn das SMTP-Relay nur TLSv1.1 oder höher unterstützt.

siehe auch:
https://community.contao.org/de/showthread.php?74767-Mail-%C3%BCber-Relay-versenden

**How to reproduce**
Ein SMTP-Relay verwenden, das kein TLSv1 mehr unterstützt.

[2019-04-26 14:12] leofeyer opened #458 "Improve the Model::getRelated() method"
We could improve the `Model::getRelated()` method by returning `null` if the key is `0`. @backbone87 has suggested this in https://github.com/contao/core/issues/6161#issuecomment-24514290 some time ago:

Right now, we already return `null` if `$this->$strKey` is not set:

https://github.com/contao/contao/blob/ed2fec5eaaa84875a9a14b5b90e803a65bccec7c/core-bundle/src/Resources/contao/library/Contao/

[2019-04-26 14:14] Toflar commented on #458
Fine with me.

[2019-04-26 14:17] Toflar opened #459 "Get rid of cookies and use localstorage instead"
From a reverse proxy's point of view, cookies make a request private thus preventing it from caching the responses (or delivering from the cache for that matter). We have removed a lot of cookies already but they are still used way too much for things that really do not need a cookie at all.

Here are the ones I saw that have to be removed:

* `BE_CELL_SIZE` - stores the cell size in the table con

[2019-04-26 14:18] bytehead commented on #458
Fine with me.

[2019-04-26 16:08] Aybee opened #480 "Individual navigation active item is trail instead active when get params in URL"
**Affected version(s)**
4.4.36

**Description**
Auch bei einer individuellen Navigation wird der Menüpunkt der aktuellen Seite als `strong.active` genrendert. Dies funktioniert nicht mehr, sobald ein GET-Parameter in der URL vorkommt. Dieser Punkt wird dann als `a.trail` gerendert.

**How to reproduce**
Teste eine individuelle Navigation mit GET-Parametern in der URL. Z.B. mit einem angepassten na

[2019-04-26 16:38] ausi commented on #458
Is `$this->$strKey` always an integer? What about UUIDs?

[2019-04-26 22:07] Aybee commented on #442
Thank you .

[2019-04-28 17:39] xchs opened #460 "HTTP response headers are cached"
**Affected version(s)**

Contao 4.4.38
Contao 4.7.4

**Description**

HTTP requests that get an `Content-Disposition: attachment` HTTP response from the web server (indicating the file resource should be downloaded) unexpectedly generate a cache entry with the HTTP response headers, even if the server HTTP cache `var/cache/prod/http_cache` is completely disabled.

Contao 4.7.4 also creates additio

[2019-04-29 04:09] bekanntmacher commented on #126
Yes that's clear. I thought we were one step further because we moved the error from the browser to the contao and maybe there's the possibility to display an error template e.g. "to use the preview please log in".

1997! I can't know that, it was before our foundation... 😄

[2019-04-29 06:29] leofeyer commented on #458
You are right, `$this->$strKey` can be a UUID. Then what about `(int) $this->$strKey === 0`?

[2019-04-29 07:19] Toflar commented on #458
I'd rather add an `is_numeric()` check to prevent `false` from turning into a `0`. Sure, `false` makes no sense in `getRelated()` but still...we explicitly want to check for a `0` so we should make sure it is a number.

[2019-04-29 07:41] leofeyer commented on #458
In this case we could just replace `isset($this->$strKey)` with `!empty($this->$strKey)`, couldn't we?

[2019-04-29 08:04] Toflar commented on #459
Another one that has to be rebuilt using localstorage: `TS_TABLE_<id>` for the table sorter. The app absolutely doesn't need to know about the state, it's pure JS logic.

[2019-04-29 08:48] fritzmg commented on #460
I can confirm for Contao 4.4.38, that the first request of a session to a file download creates a `http_cache` entry (with no content).

I can also confirm for Contao 4.7.4, that the HTTP cache files are created in `var/cache/prod/http_cache/http_cache` instead of `var/cache/prod/http_cache`. Though you should create a separate issue for that I think.

[2019-04-29 08:58] xchs commented on #460
I'll do that. But I was unsure whether this behavior was intended or not. Also requests from the Contao back end (`tl_page`, `tl_article`, `tl_content` etc.) now seem to create a cache entry in `var/cache/prod/http_cache/http_cache`

[2019-04-29 09:18] Toflar commented on #460
The nested `http_cache` folder is not something you should be worried about. That's just a little blemish that doesn't affect the outcome.

[2019-04-29 09:22] Toflar commented on #460
The back end, however, should never create any cache entry (and I cannot reproduce that).

[2019-04-29 09:22] xchs commented on #460
No, it doesn't affect the caching. But should I still file a new ticket for it or not?

[2019-04-29 09:23] Toflar commented on #460
Why would you? Doesn't matter how the folder's named. It's not related to Contao anyway :)

[2019-04-29 09:49] xchs commented on #460
To reproduce:

* Log into the Contao back end (Contao 4.7.4)
* _System > Maintenance_: Run the _Purge the page cache_ job so that the `var/cache/prod/http_cache/http_cache` directory is empty (or clear the cache folder with `rm -rf …`)
* _Layout > Site structure_: Create a _New page_
* Check the cache directory `var/cache/prod/http_cache/http_cache`
* `var/cache/prod/http_cache/http_cache/G/A/vSWG

[2019-04-29 09:52] Toflar commented on #460
These are all cache tag entries, not real cache entries. I'll have to investigate this at some point.

[2019-04-29 10:16] Toflar commented on #460
So what's happening here is that when you save an entry in the back end, we invalidate the cache entries that are associated with it. That's why you get the tags `contao.db.tl_page` and `contao.db.tl_page.4` (because you edited ID 4). Now, the `TagAwareAdapter` of Symfony which `toflar/psr6-symfony-http-cache-store` is using, is a general abstraction not knowing about the cache storage back end (r

[2019-04-29 11:22] leofeyer commented on #460
That's correct. I still wonder why this is though.

[2019-04-29 11:23] Toflar commented on #460
Because we pass `var/cache/%kernel.environment%/http_cache` to my PSR-6 cache and this one defines another `http_cache` folder by default itself.

[2019-04-29 11:33] leofeyer commented on #460
I see. We should still fix this IMHO; probably in the `ContaoKernel` class (?).

[2019-04-29 11:34] Toflar commented on #460
I don't care at all to be honest. I won't provide any default path anymore when I release v2 of the `Psr6Store` once Symfony 4.3 has been released.

[2019-04-29 15:04] leofeyer commented on #455
Tritt das Problem auch in Contao 4.4 auf?

[2019-04-29 15:13] xchs commented on #455
In Contao 4.4.38 kann ich es nicht reproduzieren.

[2019-04-29 15:18] leofeyer commented on #455
Das Problem wird durch die Änderungen bezüglich Cache-Tagging (siehe https://github.com/contao/contao/pull/137/commits/d0fd9f4dd638e3045a89d66fa6c274b3bc2e797e#diff-e641f7127d9e8499138942f40dceafc3R3313) verursacht.

@Toflar Ich erinnere mich an die Diskussion auf Mumble bezüglich der Implementierung – scheint als hätte `$dc = new $dataContainer($this->strTable);` doch ein paar Side-Effects. Im Gr

[2019-04-29 15:20] leofeyer commented on #455
Dasselbe Problem tritt auch in der Klasse `BackendPassword` auf:

https://github.com/contao/contao/blob/5027ebcdf496f5560d320b0147aae952937b0aac/core-bundle/src/Resources/contao/controllers/BackendPassword.php#L96-L97

Dort merkt man es nur nicht, weil es kein Breadcrumb-Menü gibt. Aber die Änderungen am globalen Array durch den `onload_callback` werden auch hier doppelt ausgeführt.

[2019-04-29 16:16] Toflar commented on #460
@xchs and @fritzmg: If you want to test, you can now:

Update your `composer.json` as follows:

[code]

Note: This is **not** for production! The versioning is wrong and only there to fulfil the rest of the constraints.
When you then add a new page in the back end, nothing should happen. You should not get any tag related cache entries. However, if you do have caching enabled in the FE, it should

[2019-04-29 16:25] xchs commented on #460
Yeah, that works. Thanks 👍

[2019-04-29 16:32] xchs commented on #460
This, however, does not seem to work. I have enabled the FE cache (set to 1 year), but I'm getting neither this `tags` subdirectory, nor are the front end pages cached.

[code]

[2019-04-29 16:42] Toflar commented on #460
Well only if the response is cacheable and there are many reasons why it‘s not. Such as cookies on the request ;) No changes here.

[2019-04-29 16:44] xchs commented on #460
Yeah, thanks. That was actually the reason. Now it works. 👍

[2019-04-29 17:56] ausi commented on #458
~~As the primary key integers are stored as strings in `$this->$strKey`, I think we should use:~~

You are right, using `empty()` should be the right thing to do:

[code]

[2019-04-29 18:05] ausi commented on #455
Wäre ein dritter parameter für den `DC_Table` wie z. B. `$blnSkipLoadCallbacks = false` eine Option?

[2019-04-29 19:05] leofeyer commented on #455
Wollte ich eigentlich vermeiden, daher die Idee mit dem `static::$isLoaded`. Aber würde natürlich auch funktionieren.

[2019-04-30 08:49] max-admina opened #461 "Add extra field for copyright notices in file manager"
Editors often forget to add copyright notices to uploaded images. It would help a lot, if there's a field "copyright notice" in data meta-fields in the file manager.

In the frontend, this could be part of the caption:

`<figcaption class="caption">Some text about the image <span class="copyright-info">Photo: Max Mustermann</span></figcaption>`

[2019-04-30 08:56] asaage commented on #461
https://github.com/contao/core-bundle/issues/1297

[2019-04-30 08:59] jommbee commented on #299
Heute in der 4.4.39 nach Serverumzug gleicher Fehler.
Nach manuellem Fix in der Zeile:
https://github.com/contao/contao/blob/4.4/core-bundle/src/Resources/contao/library/Contao/Automator.php#L400
geht alles wunderbar.

[2019-04-30 09:10] ghost opened #462 "Symlinks neu erstellen"
<a href="https://github.com/jommbee"><img src="https://avatars3.githubusercontent.com/u/4679889?v=4" align="left" width="42" height="42"></img></a> [Comment](https://github.com/contao/contao/issues/299#issuecomment-487871058) by @jommbee
April 30th, 2019, 10:59 GMT

Heute in der 4.4.39 nach Serverumzug gleicher Fehler.
Nach manuellem Fix in der Zeile:
https://github.com/contao/contao/blob/4.4/core

[2019-04-30 09:10] ghost commented on #299
Ein neues Ticket dazu wurde unter contao/contao#462 angelegt.

[2019-04-30 09:13] leofeyer commented on #455
Wobei die Änderungen am globalen DCA dann immer noch ausgeführt würden, wenn jemand den dritten Parameter vergisst. Das würde mit `static::$isLoaded` nicht passieren.

[2019-04-30 09:15] Toflar commented on #455
Aber es ist doch richtig, dass der Callback zweimal ausgeführt wird? Ich mach ja ggf. im onload_callback sowas wie `$dc->table = 'foo'` dann müsste es ja da auch ausgeführt werden.

[2019-04-30 09:21] leofeyer commented on #455
Das ist eben die Frage, die wir diskutieren sollten. Ggf. müssen wir auch einen neuen `view_callback` oder so einführen, damit wir Dinge wie das Breadcrumb-Menü, die nur einmal ausgeführt werden sollen, an anderer Stelle hinzufügen können.

[2019-04-30 09:24] jommbee commented on #299
Ok. Danke.

[2019-04-30 09:39] m-vo opened #463 "Improve FK support"
When implementing data structures I heavily use foreign key constraints as it's the only sensible way to guarantee consistency across relations as well as having a defined strategy what should happen if an entry is removed. (I usually define my entities with doctrine and add DCAs without SQL definitions on top where a BE interaction is needed.)

I typically run into multiple problems when using th

[2019-04-30 10:42] m-vo opened #464 "Picker: add event after value is updated / modal closed"
**Description**
I'd like to (visually) enhance the results of a picker selection - e.g. by resolving the title or other attributes for a list of ids and displaying them in the DOM. It's however really hard to get notified on when the value of the underlying text field is changing because it is set programmatically ( `field.value = ...`) and therefore no DOM events are happening.

What about adding

[2019-04-30 11:18] asaage commented on #464
The modal/picker should probably just fire (trigger) the ordinary ```'change'``` Event of its underlying field.

[2019-04-30 11:19] leofeyer commented on #480
Wie genau sieht Deine URL aus?

[2019-04-30 13:45] #381 closed, assigned to nobody

[2019-04-30 13:46] leofeyer commented on #418
Does the issue still occur in Contao 4.7.5?

[2019-04-30 13:47] Toflar commented on #418
No reports in Sentry anymore. So I guess this is fixed. I'll reopen if it happens again.

[2019-04-30 13:47] #418 closed, assigned to nobody

[2019-04-30 13:50] leofeyer commented on #437
What is wrong with that?

[2019-04-30 13:52] Toflar commented on #437
It won't work. The `minlength` and `maxlength` fields are abused for `min` and `max` attributes. The other two have no effect on `input type="number"` fields. So what they should enter instead is `1000` and `99999`.

[2019-04-30 14:05] leofeyer commented on #440
Das sehe ich auch als die beste Lösung. Alternativ könntest Du folgende Zeilen in der `app.php` anpassen:

[code]

Die if-Bedingung ist im originalen Code nicht auskommentiert und sorgt dafür, dass der Symfony Reverse-Proxy deaktiviert wird, wenn der Request bereits von einem ESI-fähigen Proxy wie z.B. Varnish kommt. Das kann aber nur funktionieren, wenn Varnish auch für Contao konfiguriert ist – 

[2019-04-30 14:05] #440 closed, assigned to nobody

[2019-04-30 14:08] leofeyer commented on #446
How exactly are you using the scope matcher?

[2019-04-30 14:10] #449 closed, assigned to nobody

[2019-04-30 14:32] leofeyer commented on #457
SwiftMailer unterstützt TLSv1.1 und TLSv1.2 ab Version 5.4.14; Du hast vermutlich noch eine ältere Version. Am besten aktualisierst Du mal Deine Pakete im Contao Manager bzw. über Composer.

[2019-04-30 14:32] #457 closed, assigned to nobody

[2019-04-30 14:33] leofeyer commented on #460
Since this issue will be resolved once the new versions of `symfony/cache` and `toflar/psr6-symfony-http-cache-store` have been released, I am closing it now.

[2019-04-30 14:34] #461 closed, assigned to nobody

[2019-04-30 14:35] leofeyer commented on #437
Ok, that is wrong for sure. 😄

[2019-04-30 14:36] Toflar commented on #437
4.7.* only ;)

[2019-04-30 14:36] xchs commented on #460
I'm not sure, but the initial problem is still an issue.

[2019-04-30 14:36] Toflar commented on #460
What's the initial issue?

[2019-04-30 14:37] xchs commented on #460
This one:

[2019-04-30 14:37] Toflar commented on #460
I couldn't reproduce it. Are you sure the entry is an actual cache entry and not a tag?

[2019-04-30 14:38] xchs commented on #460
I'm gonna check it again.

[2019-04-30 14:53] kroerig commented on #457
Habe ich, bin laut Composer bei Version 6.2.1

[2019-04-30 14:54] leofeyer commented on #457
Dann sollte es auch gehen. Mein Mail-Server unterstützt auch kein TLSv1 mehr und ich kann problemlos mit Contao 4.7 Mails darüber versenden.

[2019-04-30 14:55] kroerig commented on #457
Kann ich den SMTP-Dialog von Swiftmailer irgendwie mitschneiden?
Auf dem Mailserver sehe ich nur, dass er nach STARTTLS abbricht.

[2019-04-30 15:08] leofeyer commented on #457
Ja, mit dem [Logger Plugin](https://swiftmailer.symfony.com/docs/plugins.html#logger-plugin).

[2019-04-30 15:09] xchs commented on #460
This is what happens now (with HTTP cache disabled via website root):
* Loading a front end page --> no caching (`var/cache/prod/http_cache` remains completely empty)
* Initiate a file download --> several tags are created (also the HTTP response headers are saved):

`var/cache/prod/http_cache/2/Y/ebNiqWowbBNfk8jSoyYg`:
[code]

`var/cache/prod/http_cache/R/O/CEeN5ycWEdpVAJ2NCBcQ`:
[code]

`var/cac

[2019-04-30 15:11] kroerig commented on #457
Wo muss ich das denn in Contao einbauen, damit das greift?

[2019-04-30 15:14] leofeyer commented on #457
In Contao bzw. Symfony kannst Du das Logging in Deiner `config.yml` konfigurieren:

https://symfony.com/doc/current/reference/configuration/swiftmailer.html#logging

[2019-04-30 15:55] Toflar commented on #460
The inodes are just fine as explained before. However, the file should not be cached. Damn, the `BinaryFileResponse` makes downloads `public` by default. What the heck.

Can you try chainging the code here: https://github.com/contao/contao/blob/master/core-bundle/src/Resources/contao/library/Contao/File.php#L772

Do this:

[code]

[2019-04-30 16:12] xchs commented on #460
Thanks for tracking it down. That did the trick. No cache entries anymore.

[2019-04-30 16:28] Toflar commented on #460
@leofeyer, this needs to be reopened and assigned to 4.4 then :)

[2019-04-30 18:55] rustykowski opened #465 "mod_article wird nicht ausgegeben, wenn es das einzige sichtbare eingebundene Modul ist."
**Affected version(s)** 4.4.39, 4.7.5

**Description**  Sind im Seitenlayout mehrere Module angelegt aber deaktiviert, und Artikel ist das einzige aktive Modul, so wird dieses nicht ausgegeben.
In welcher Spalte der Artikel eingebunden wird, ist dabei unerheblich
Das Template fe_page ist unverändert.
Löscht man alle deaktivierten Module, wird der Artikel wieder ausgegeben.

[2019-04-30 20:48] Aybee commented on #480
Online Demo:

1. Erstelle ein individuelles Navigations-Menü
2. Wähle eine Seite (content-elements)
3. Füge das Modul im Layout "2 columns - [ default ]" als erstes oben hinzu (Kopfzeile)
4. Gehe auf die Seite https://demo.contao.org/en/content-elements.html
5. Die Navigation ist oben sichtbar, der Punkt ist `strong.active`
6. Ergänze die URL in der Address-Bar mit `?key=value`
7. Der Punkt ist je

[2019-05-01 07:06] Toflar commented on #460
BTW: Here's the reasoning behind what I did

* `setPrivate()` - well that one is the bug
* `setAutoEtag()` - generates an ETag so that when you have already downloaded the exact same file, it's not transferred anymore (`304 Not Modified`)
* `post-check` and `pre-check` are some IE left-overs. Go search the internet, I couldn't find what the purpose of those were
* `Connection: close` is not needed

[2019-05-01 08:28] leofeyer commented on #480
Naja, theoretisch ist `/en/content-elements.html` ja auch eine andere URL als `/en/content-elements.html?key=value`. @contao/developers Wie seht ihr das?

[2019-05-01 08:29] Toflar commented on #480
Ich glaube nur der Pfad sollte relevant sein 🤔

[2019-05-01 08:35] fritzmg commented on #480
Hm, ich finde eigentlich, dass `trail` hier richtig ist.

@Aybee war es bspw. in Contao 3 anders?

[2019-05-01 09:34] asaage commented on #480
Wenn ich mal von einem News-Listing ausgehe und ```?key=value``` = ```?page_nxy=2``` als Beispiel nehme würde ich eigentlich ein ```.active``` erwarten und die Breadcrumb-navigation verhält sich auch so

**mod_customnav** und **mod_navigation** hingegen liefern ```.trail```.
Das war in in Contao 3 auch schon so.
Ich würde eher dazu tendieren es als Bug zu bezeichnen.

[2019-05-01 09:37] Toflar commented on #480
Die Definition einer Seite ist der Pfad. Query-Parameter sind dazu da, Filterungen vorzunehmen.
Für mich ist der Fall ziemlich klar, alles was den gleichen Pfad hat, sollte `active` sein, weil es die gleiche Seite ist.

[2019-05-01 11:45] joehi opened #466 "Pages of type "Internal redirect" missing in navigation with set stop level"
**Affected version(s)**
4.7.5

**Description**
Pages of type "Internal redirect" do not show up in the navigation when they appear on the same level which is set as stop leven in the navigation module. Normal pages appear in the navigation as expected.
This happened after upgrading to contao version 4.7.5. Up to version 4.7.4 everything was okay. Version 4.4.39 is not affected either.

**How to re

[2019-05-01 11:49] fritzmg commented on #466
I can confirm the issue. I think it only happens if the _target page_ is excluded by the stop level.

[2019-05-01 13:13] Toflar commented on #459
PR for the hardest of these ones (the `BE_PAGE_OFFSET`): https://github.com/contao/contao/pull/467

[2019-05-01 13:20] Toflar commented on #459
PR for `BE_CELL_SIZE`: https://github.com/contao/contao/pull/468

[2019-05-01 21:39] ausi commented on #460
But adding `setPrivate()` would also bypass the cache for sites with an active cache, wouldn’t it?

[2019-05-01 21:55] Toflar commented on #460
Which is good imho. I don‘t see why - in our case - we would want to store the files in the reverse proxy.

[2019-05-02 06:42] koertho commented on #446
@leofeyer As I wrote, like in the DEPRECATE file. Here is the code:

[code]
Source: https://github.com/heimrichhannot/contao-utils-bundle/blob/master/src/Container/ContainerUtil.php

[2019-05-02 11:40] leofeyer commented on #459
The cookie is only used to set an initial sorting order – however, I wonder how this has ever worked given that the [`ContentTable`](https://github.com/contao/contao/blob/947b6254e4420a22ba58f6baffb125da561dd459/core-bundle/src/Resources/contao/elements/ContentTable.php#L53
) class sets a `TS_TABLE_<id>` cookie but the [`tablesort.js`](https://github.com/contao-components/tablesort/blob/b4e2ebed22

[2019-05-02 11:42] leofeyer commented on #459
Note that 1) can lead to inconsistencies IMHO if the `tablesort.js` script is not included properly.

[2019-05-02 11:42] fritzmg commented on #459
https://github.com/contao/core/issues/8118 :)

[2019-05-02 12:05] Toflar commented on #459
I've noticed that too yesterday 😄 Imho 2) but the initial sorting order should be an argument where it's initialized:

[code]

[2019-05-02 12:52] leofeyer commented on #459
I like it. 👍

[2019-05-02 14:57] Aybee commented on #480
War mir gar nicht bewusst, dass das bei der normalen Navigation auch so ist. Evtl. hätte ich es dann nicht gemeldet, sorry. `.trail` kann ja auch seine Vorteile haben, weil man darüber ja z.B. die Paginierung wieder entfernen kann.
https://demo.contao.org/en/applications.html?page_l62=2

In meinem Usecase war es kontraproduktiv, sodass ich es im Template geändert habe, aber ich musste das Template

[2019-05-02 18:37] asaage commented on #480
Stimm - das hab ich nicht bedacht - wenn ich nach einer Umstellung darauf verzichten müsste mit einer Hauptnavigation auf die erste Seite springen zu können wäre das denke ich schon ziemlich ärgerlich.
Dann vielleicht doch lieber alles so lassen, wie es ist? oder clickbares ```.active``` einführen? 😕

[2019-05-03 08:34] ausi opened #470 "Session isn’t started inside ESI requests if it was startet in the main request"
If the main request starts the session and there is no previous session (there is no session cookie in the request) then inside ESI requests (e.g. `{{request_token}}`) both `$session->isStarted()` && `$request->hasPreviousSession()` returns `false`.

[2019-05-03 08:59] Toflar commented on #470
Ping @aschempp

[2019-05-03 11:00] leofeyer commented on #459
PR for tablesort.js: #471

[2019-05-03 11:20] leofeyer commented on #458
Implemented in fbc056e5b3dd2e645bfe7812cb997ece8ff6b578.

[2019-05-03 11:20] #458 closed, assigned to leofeyer

[2019-05-03 17:14] xchs opened #473 "Entities are not decoded in news/event titles"
**Affected version(s)**

Contao 4.4.39

**Description**

If the **news title** contains special characters, the corresponding HTML entities are written into the HTML `<title>` element.

**How to reproduce**

* Create a new news item
* Insert a news title with special characters (e.g. `Lorem ipsum (foobar)`)
* Save and close the news item
* Open the news item in the front end and check the `<title>

[2019-05-03 17:17] fritzmg commented on #473
That's how it should be, isn't it?

[2019-05-03 17:21] xchs commented on #473
But the behavior differs between **regular pages** and **news articles**:

* **Regular page** with page title `Lorem ipsum (foobar)`:
[code]
* **News item** with news title `Lorem ipsum (foobar)`:
[code]

[2019-05-03 17:25] xchs commented on #473
By the way, the same behavior also applies to **event titles**.

[2019-05-03 18:47] Aybee commented on #480
Klickbares `.active`? Och nö, `strong` ist schon OK - ohne Verlinkung.

Von mir aus kann man das jetzt dann auch so lassen, wie es ist. Die Situation mit nem GET-Parameter auf ner individuellen Navigation ist doch ziemlich ungewöhnlich. Entschuldigt den Aufstand, den ich verursacht habe. Ich schließe das Ticket erstmal noch nicht, falls noch weiter drüber diskutiert wird.

[2019-05-04 06:02] Kahmoon commented on #466
Is there a hotfix until 4.7.6 is released. A pretty big site from me is using many forward navigation elements and almost half of the navigation is actually not shown :-(.

Frank

[2019-05-04 10:13] fritzmg commented on #466
@Kahmoon well the short term solution is to switch back to Contao 4.7.5.

[2019-05-04 10:37] fritzmg commented on #466
The problem is caused by these changes in `Module`:

https://github.com/contao/contao/commit/868a114bc3ca9bb3b98f11b85d59191bbffaf84c#diff-23a51a86d2ad053ad93aa675360288c8L341

The `isPublic` property of the `PageModel` will only be set in the `loadDetails()` function. Thus we need something like this:
[code]
It works without stop levels, because then all the sub pages are loaded with details - be

[2019-05-06 11:15] leofeyer commented on #466
Fixed in ba1e039fe86bcd97d1a8f2757e9a4c365be2a86b.

[2019-05-06 11:15] #466 closed, assigned to leofeyer

[2019-05-06 11:24] fritzmg commented on #466
Btw. @leofeyer wouldn't it make sense to overwrite `__get()` in the PageModel and execute `loadDetails()` for any non-database properties?

[2019-05-06 11:30] leofeyer commented on #466
Interesting idea. @contao/developers WDYT?

[2019-05-06 14:18] CMSworker commented on #375
I'm having the same problem I guess (Contao 4.4.39 LTS) and think this issue should be reopened:

When using **ce_download** (singular for one single download, not plural), the **meta titel** of the file (entered manually in file manager) is ignored.

https://github.com/contao/contao/blob/945fd7ed1b90f5d97916abb380dd2c54de0a57e4/core-bundle/src/Resources/contao/templates/elements/ce_download.html5

[2019-05-06 18:52] aschempp commented on #466
I like the idea as well, but I would probably hardcode for the "loadDetails" fields.

[2019-05-06 19:15] aschempp commented on #470
what Symfony version are you on? Maybe related to https://github.com/symfony/symfony/pull/30620

[2019-05-06 20:03] aschempp opened #475 "Use DeauthenticatedEvent"
https://github.com/symfony/symfony/pull/31138

Should we use this to delete all related `tl_remember_me` items?

[2019-05-06 20:06] aschempp commented on #455
Warum machen wir in https://github.com/contao/contao/commit/d0fd9f4dd638e3045a89d66fa6c274b3bc2e797e#diff-e641f7127d9e8499138942f40dceafc3R3313 ein `new` und nicht einfach ein `clone`? Bzw. an Stellen wie dem Edit-Multiple nutzen wir ja auch den bestehenden DC_Table für jedes `save_callback` und ändern die bestehende ID?

[2019-05-07 06:25] leofeyer commented on #466
Do you mean the "isPublic" field?

[2019-05-07 07:06] aschempp commented on #466
I mean any field that is inherited. However, that might not work as there is also a hook…

There are fields that are database properties but are still inherited. Those need to be handled as well…

[2019-05-07 07:44] fritzmg commented on #466
Yeah, it would need to be a maintained list of properties.

Hm, which hook are you referring to?

[2019-05-07 07:53] Toflar commented on #466
The new one we've introduced in master. We could also revert that and have a list of properties one can extend. Would maybe also be a good idea because those are the fields that in theory could be stored in a field in the back end instead of loaded on demand on every page impression.

[2019-05-07 08:00] fritzmg commented on #466
Ah, I see. Hmm... well the hook is only executed anyway, if `loadDetails()` is executed. Hence it relies on the correct usage of `loadDetails()`. And this proposed change would ensure, that at least for maintained properties, the `loadDetails()` function is always executed.

So - don't we need both? The hook plus an extensible list of `PageModel` properties that are loaded via `loadDetails()`? The

[2019-05-07 09:19] arno1979 opened #496 "Eventlist: running events are only shown if option "Shortened view" is active"
**Affected version(s)**
Contao 4.4.39
Conteo 4.7.5

**Description**
An eventlist module configured to show all upcoming events only shows running events if the seemingly unrelated option "Shortened view" is activated.
Since there is a checkbox "Hide running events" with the description "Do not show running events in the list of upcoming events." one would expect this option to determine if running

[2019-05-07 23:22] Aybee opened #476 "Member login throws error when field language is eval multiple true"
**Affected version(s)**
4.4.39
not in 3.5.40

**Description**
Die Fehlermeldung:
[code]
Verweis auf diese Code-Zeile
https://github.com/symfony/symfony/blob/3.4/src/Symfony/Component/Translation/Translator.php#L431

Die Mitglieder sprechen mehrere Sprachen. Deswegen habe ich das Feld auf multiple gesetzt und die Speichermöglichkeit angepasst.
[code]
Das klappt auch wunderbar. Man kann im BE mehrer

[2019-05-08 05:43] fritzmg commented on #476
Neue Tickets bitte im mono repository verfassen.

[2019-05-08 10:39] ngdot commented on #406
In my opinion, this bug should also be fixed in the 4 LTS! We have the same problem with a Contao 4 LTS installation with 3 major websites. It is also unfortunate that you always have to clear the cache for all pages, especially when working with multidomains or multiple websites in one installation. Partly I'm not be able to see the "System maintenance" because the calculation of the cache files

[2019-05-08 11:11] leofeyer commented on #237
I have implemented a POC of solution no. 2 and it works quite well. However, I am unsure what to do with the onsubmit_callback?

@contao/developers Do we only trigger the onsubmit_callback if the form has been submitted without errors (current behavior) or every time the form is submitted (because now we are generating a new version upon every submit)?

And the same question applies to `$this->inv

[2019-05-08 16:30] leofeyer opened #478 "Picker – 414 Request-URI Too Large"
**Affected version(s)**

Contao 4.4+

**Description**

If an image gallery contains enough images (300 in my test), the picker URL gets too long and the server throws a "414 Request-URI Too Large" error. This is due to the UUIDs being added to the URL as GET parameter:

`
Request URL: /contao/picker?context=file&extras%5BfieldType%5D=checkbox&extras%5Bfiles%5D=1&extras%5Bextensions%5D=jpg%2Cjpeg%2

[2019-05-09 08:42] leofeyer commented on #361
Fixed in f7603033de6296758a0d8a0e8af735b4c9b7dd89.

[2019-05-09 08:42] #361 closed, assigned to leofeyer

[2019-05-09 09:18] aschempp commented on #237
How does your POC work? Does it only store in the version table or in the DC table as well? Be aware there's also a `onversion_callback`.

[2019-05-09 09:26] leofeyer commented on #237
Of course it stores in the DC table as well. That is the problem in the first place. 😄

[2019-05-09 09:42] aschempp commented on #406
A much easier solution than implementing @Toflar's store implementation would be to run a nightly/weekly/monthly `cache:clear` cron job or even an `rm -rf /var/cache/http_cache`

[2019-05-09 10:42] leofeyer commented on #231
So basically if the page does not have the `includeCache` flag enabled, we have to reset the cache timeouts:

[code]

@contao/developers Why is this issue assigned to the 4.8.0 milestone? Isn't this a bugfix?

[2019-05-09 10:58] leofeyer commented on #466
I had already added this to the `PageModel` class:

[code]

However, since it is a behavior change, I did not commit the changes. We could use the routine to automatically execute `loadDetails()` though, couldn't we?

[2019-05-09 11:01] leofeyer commented on #455
Gute Frage. Das werde ich mir ansehen.

[2019-05-09 11:02] Toflar commented on #466
It needs to be extensible anyway.

[2019-05-09 11:06] leofeyer commented on #375
@CMSworker I cannot reproduce your issue.

<img width="510" src="https://user-images.githubusercontent.com/1192057/57448983-0bf97900-725b-11e9-8d18-ce3f37636378.png">

Now if I add a title in the file manager, it is used instead of the file name:

<img width="613" src="https://user-images.githubusercontent.com/1192057/57448993-1156c380-725b-11e9-96f5-09cb3021db35.png">

<img width="470" src="https

[2019-05-09 11:13] leofeyer commented on #446
I assume that you are using the scope matcher in a listener, which runs before the routing. Can you provide a stack trace?

[2019-05-09 11:33] aschempp commented on #231
is `$objPage->includeCache` not inherited from parent pages?

[2019-05-09 11:33] leofeyer commented on #231
Nope.

[2019-05-09 11:35] aschempp commented on #466
Should we not run `loadDetails` automatically?

However, nothing will work automatically. The field `domain` can have a value if the page was previously a `root` type, but now it should be inherited…

[2019-05-09 11:38] aschempp commented on #231
Sounds legit. We must also prevent the model from being stored in the DB now though.

[2019-05-09 13:06] koertho commented on #446
@leofeyer We're using it in the bundle contao config.php file. I think thats enough stacktrace? :)

[code]

Here is the original:
https://github.com/heimrichhannot/contao-slick-bundle/blob/5f1b4cc4cc8fc07f395db7140018b87cb071ac9e/src/Resources/contao/config/config.php#L90

Error still exists in 4.7.5.

[2019-05-09 13:22] leofeyer commented on #406
As discussed in Mumble on May 9th, we want to try to backport the changes.

[2019-05-09 13:36] leofeyer commented on #237
As discussed in Mumble on May 9th, we only want to execute the `onsubmit_callback` and the `invalidateCacheTags()` method if the form has been submitted without errors. This way, a new version is also created if the module type changes or an autosubmit checkbox is checked.

[2019-05-09 13:45] ngdot opened #479 "File manager: select & search files"
**Affected version(s)**
4.*

**Description**
If you selecting files from the file browser that are filtered, files that were picked before are not chosen anymore.

**How to reproduce**
Go to a downloads element that contain picked files, search for a new file to pick, pick it. Now the downloads element contain only the last picked.

I don't know if it's really a bug, but its really unhandly if you

[2019-05-09 13:50] leofeyer commented on #455
Wie am 9. Mai auf Mumble besprochen, wollen wir versuchen, die ID und den Active-Record des vorhandenen DCs zu überschreiben und anschließend zu resetten anstatt einen neuen DC zu erstellen.

[2019-05-09 13:53] fritzmg commented on #479
Duplicate of https://github.com/contao/core-bundle/issues/1487

[2019-05-09 13:59] leofeyer commented on #445
Wie genau würdest Du Dir die Integration in Contao denn vorstellen?

[2019-05-09 14:05] leofeyer commented on #438
Can you please show us how your tables look like?

[code]

[2019-05-09 14:05] ngdot commented on #1816
Ich push das Thema mal! Bin definitiv für das Feature.

[2019-05-09 14:11] tophcodes commented on #438
[code]

[code]

[2019-05-09 14:15] leofeyer commented on #438
You are mixing `ENGINE=MyISAM` and `ENGINE=InnoDB`. Is this intended?

[2019-05-09 14:18] leofeyer commented on #480
Wie am 9. Mai auf Mumble besprochen, dürfen die GET-Parameter nichts am `.active`-Status des Links ändern.

[2019-05-09 14:20] tophcodes commented on #438
That's our development database, the live system's tables are all MyISAM. A while ago I switched one of the tables to InnoDB to see if that improves performance for some more expensive queries but haven't switched it back yet. Other than the engine the tables between the development and live database are identical though.

It doesn't matter for this case I'm pretty sure, the `DELETE` query is equa

[2019-05-09 14:22] Toflar commented on #438
Can you share the `EXPLAIN` result of the query in question?

[2019-05-09 14:24] kroerig commented on #445
Wenn ich das Prinzip dies Attributs richtig verstanden habe, dann müssten die Optionen für Hyperlinks um einen Eintrag erweitert werden, in den man dann eine URL eintragen kann, also wie das alt- und title-Attribut.

Ggf. stellt man es auch nur als Bundle bereit, dass diejenigen nachinstallieren können, die die Funktion benötigen.

[2019-05-09 14:24] leofeyer commented on #475
Also see https://github.com/symfony/symfony/pull/31172

[2019-05-09 14:26] Toflar commented on #445
Dann müsstest du ja für jeden Link einen eigenen Tracking-Endpoint bauen. Du würdest ja wissen wollen, welcher Link geklickt wurde. Mal angenommen du willst 50 Links tracken und jetzt ändert sich die URL, müsstest du 50 Einträge aktualisieren. Ich halte das nicht für sonderlich praktisch und würde eine JS-Lösung immer vorziehen. Zumal Tracking ja schon auch sehr individuell sein kann.

[2019-05-09 14:29] tophcodes commented on #438
Do you mean
[code]
?

| id | select_type | table | partitions | type | possible_keys | key | key_len | ref | rows | filtered | Extra |
|---|---|---|---|---|---|---|---|---|---|---|---|
| 1 | DELETE | tl_participant | `NULL` | ALL | `NULL` | `NULL` | `NULL` | `NULL` | 6937079 | 100.00 | Using where |
| 2 | DEPENDENT SUBQUERY | tl_customer_project | `NULL` | eq_ref | PRIMARY | PRIMARY | 4 | dev_db.t

[2019-05-09 14:34] kroerig commented on #445
Ich bin kein Freund von Tracking und brauche es auch nicht.
In dem Artikel steht ja, dass diese Methode auch funktioniert, wenn der Anwender JS blockiert. Wer es dann auf diese Art nutzen will, müsste sich dann halt die Mühe machen. Kommt wohl auch darauf an, wie das Tracking-Tool arbeitet.

Übermittelt werden laut Artikel Quelle und Ziel des Aufrufs. Also könnte auch eine globale Ping-URL im Star

[2019-05-09 14:35] Toflar commented on #445
Okay. Also ich sehe hier absolut keinen Mehrwert und bin daher gegen eine Integration im Core.

[2019-05-09 14:37] kroerig commented on #445
Ich denke mir es könnte vielleicht von dem ein oder anderen Entscheider positiv bewertet werden.
Es soll ja Firmen geben, die Tracken wollen, was das Internet hergibt.

[2019-05-09 14:39] leofeyer commented on #373
As discussed in Mumble on May 9th, we actually do not need to store the URL in the database, because we can always use the current URL (on which the comments form has been submitted).

However, we cannot fix the case that someone has an old e-mail with a wrong link. You have to set up a 301 redirect page to cover this.

[2019-05-09 14:42] Toflar commented on #438
And how long does that query take?

[2019-05-09 14:48] leofeyer commented on #360
As discussed in Mumble on May 9th, we need to convert `&#40;` to `(` in the diff view as suggested by @Toflar:

[2019-05-09 15:02] leofeyer commented on #401
As discussed in Mumble on May 9th, we cannot think of a better way to group the allowed fields than grouping them by table.

Since there are separate tickets for no. 2 (see https://github.com/contao/core-bundle/pull/1560) and no. 3 (see https://github.com/contao/contao/issues/402), I am closing this ticket.

[2019-05-09 15:02] #401 closed, assigned to nobody

[2019-05-09 15:11] tophcodes commented on #438
The explain query takes 0.001 seconds. The actual `DELETE` query takes between 23 and 24 seconds.

[2019-05-09 15:34] leofeyer commented on #470
As discussed in Mumble on May 9th, @ausi will further debug this issue.

[2019-05-09 15:36] m-vo commented on #438
24s sounds way too long for that (even with lots of entries). :thinking:  Can you check if using a joined query improves performance?

sth like
[code]

[2019-05-09 15:51] leofeyer commented on #400
As discussed again in Mumble on May 9th, we want to try to fix this by reloading the page after a successful remember me authentication.

[2019-05-09 18:28] m-vo commented on #445
Das lässt sich auch gut als Erweiterung umsetzen. Ich sehe derzeit auch keinen Grund das im Core zu haben.

[2019-05-09 19:11] #479 closed, assigned to nobody

[2019-05-10 07:28] tophcodes commented on #438
The joined query takes 22 seconds, so not much better.

[2019-05-10 07:55] m-vo commented on #438
Can you please post an explain for that as well? I've got the strong feeling the index on `pid` (`tl_participant`) isn't used and a table scan occurs instead. (You could also try to force using it with `USE INDEX` / `FORCE IDEX` and see if this changes something, allthough it's super unlikely that the planner is misjudging in such a simple query.)

Having lots of rows in a `DELETE` is insanely slo

[2019-05-10 07:58] Toflar commented on #438
Can't we invert the query? Revise table revises 22 million rows by saying `WHERE NOT EXISTS <valid relation>`. But 99.9% are valid so the result set is huge (`6937079` rows).
Can't we do `WHERE EXISTS <invalid relation>`.?

[2019-05-10 08:04] Toflar commented on #438
`DELETE FROM tl_participant WHERE EXISTS (SELECT * FROM tl_customer_project WHERE tl_participant.pid != tl_customer_project.id)` - should be the same or is it too early and I'm still asleep?

[2019-05-10 08:14] m-vo commented on #438
In the end you'll have to check for each child if the parent exists. Fastest way is probably to have a sorted set (or rather sorted index) on each relation and walk along in both sets simultaneously. In that case it's `O(n)`. But that is basically what the execution plan should look like in any way. (And if the set only contains a key the size shouldn't be the bottleneck...)

It could be - however

[2019-05-10 08:17] kroerig commented on #445
Hatte ich ja oben geschrieben, wobei der Aufwand vermutlich der selbe sein wird. Und vermutlich muss auch das ein oder andere Template angepasst werden, oder?

[2019-05-10 08:18] Toflar commented on #438
I don't think we have to change a lot of it here, just invert the logic. What it does now is this:

- SELECT all valid entries -> DELETE everything that is not inside this result set.

But it's the vast majority that is valid. Maybe the very, very first time `reviseTable()` is executed it's not. But afterwards the table is clean and maybe there are one or two invalid rows.

- SELECT all invalid en

[2019-05-10 08:33] Metis77 opened #509 "Naming of labels for settings / for edit"
**Description**
My customer always are completely confused about the difference of those editing settings and editing content label names.
I also think, that the naming is far from self-explanatory.

Therefor I suggest to change the naming of those icons simply to:
- edit content / settings
or in german
- Inhalte bearbeiten / Einstellungen

This means, drop the ID and the name of the thing like "e

[2019-05-10 08:36] m-vo commented on #438
Yeah but these are transformations the execution planner should normally apply anyway when resolving the order / indices. So I would assume there shouldn't be a difference in speed. But it's worth a try of course. 😃

[2019-05-10 08:36] bytehead commented on #509
I do like to see the ID of an element quickly on hover (e.g. for referencing in an insert tag or the like).

[2019-05-10 08:50] Toflar commented on #438
In fact

should be the fastest imho. That should be extremely fast because of the index. So I think there's something wrong with @padarom's database here.
Alternatively you could try

Which is basically the same as the first query but who knows...

[2019-05-10 09:03] m-vo commented on #438
Check out this fiddle: https://www.db-fiddle.com/f/iEHya3Ry4mS6qWXvAbscdH/0
Looks like `DELETE` does in fact ignore the index...

[2019-05-10 09:08] Toflar commented on #438
Okay, then we need to select the invalid ID's first and then only delete those with `WHERE id IN()` in a separate query (you cannot do this in the same as you would be selecting and deleting from the same table in the same query). That should definitely work then.

[2019-05-10 10:47] tophcodes commented on #438
Does it really make sense to just optimise the query? I mean sure it might work and be faster, but at 20 million entries it could still take a second.

As far as I understand it the query resolves an issue that rarely ever happens, and if it does it's not at all time critical to resolve it as there's just some dead database entries lying around. Doesn't it make more sense to find another place for

[2019-05-10 10:53] leofeyer commented on #438
The revise table method does two things:

1) Remove new records that have not been completed.
2) Purge orphan records that are no longer related to an element.

@contao/developers No. 1 needs to be executed always but no. 2 could indeed be moved to a daily cronjob, couldn't it?

[2019-05-10 11:00] m-vo commented on #438
Did you profile or is this a guess?

---

Sure 1. could be done by checking `tstamp = 0` / `pid = 0` for instance and 2. could be outsourced. But If doing so then I would opt for a (`InnoDB` only) FK + `ON DELETE CASCADE` solution. The cronjob then only needs to run for relations without FK.

[2019-05-10 12:43] Metis77 commented on #509
@bytehead
You are right, but those infos are available anyway:
![id](https://user-images.githubusercontent.com/1408361/57527905-2140d700-7331-11e9-9408-01c3b8ee775f.png)

The usual user does not even know, what IDs are and is simply confused by all the info and the naming of the edit and setting icons.

This makes my customers often use those completely wrong.
For example they often just use the t

[2019-05-10 13:00] fritzmg commented on #509
@Metis77 please create new issues in the mono repository.

There is a related discussion (can't find the issue right now) about the edit button. Currently, the pen icon is used sometimes for "edit settings" and sometimes for "edit child elements". Imho that's the main problem, not the wording of the tooltip.

[2019-05-10 13:19] xchs commented on #509
https://github.com/contao/core/issues/8821

[2019-05-10 13:20] fritzmg commented on #509
Actually https://github.com/contao/core-bundle/issues/1022 :)

[2019-05-10 13:35] asaage commented on #480
Unter der Vorraussetzung, dass ```.active``` nicht klickbar ist und bleibt sehe ich bei einer Änderung eigentlich nur Usability-Nachteile wenn sich paginierte News- oder Event-Seiten, mp_forms oder auch [Suchergebnisse](https://demo.contao.org/en/search.html?keywords=Welcome&query_type=and) nicht mehr mit Navigationsmodulen auf ihren Ausgangszustand zurücksetzen lassen.

[2019-05-10 18:58] TB1234 opened #484 "Syndication: remove Google+"
Description: Remove Google+ from Syndication of the sites.

Reason: Google+ is dead ;-)

[2019-05-11 12:42] andyKempf commented on #332
Hi leofeyer,
first of all many thanks for this great CMS!

My suggestion would be to implement all components in the frontend (like accordion or colorbox) with Vanilla JS to resolve the dependency on jQuery. More and more apps and websites do without jQuery to save resources and achieve more pagespeed. (Github also does without jQuery in the meantime)

Of course, it would still be possible to incl

[2019-05-13 09:17] leofeyer commented on #455
Pull-Request: https://github.com/contao/contao/pull/485

[2019-05-13 09:17] #455 closed, assigned to nobody

[2019-05-13 09:26] leofeyer commented on #231
Fixed in 888743ea7b002e8792155b9b9b68bb1f2397dfef.

The model instance is already detached because of `loadDetails()`.

[2019-05-13 09:26] #231 closed, assigned to leofeyer

[2019-05-13 10:09] leofeyer commented on #462
Behoben in 46180e9238288a3e6ed6cda5b0d9c4ba1ae74d79.

[2019-05-13 10:09] #462 closed, assigned to leofeyer

[2019-05-13 10:23] leofeyer commented on #460
I think we should keep the `Connection: close` header so we do not run into problems like this: https://github.com/guzzle/guzzle/issues/1977

[2019-05-13 10:39] leofeyer commented on #360
Pull-Request: https://github.com/contao/contao/pull/486

[2019-05-13 10:39] #360 closed, assigned to nobody

[2019-05-13 11:07] leofeyer commented on #438
Pull request: https://github.com/contao/contao/pull/487

@padarom Can you please test the changes and see if they make a difference on your system?
@m-vo Can you please review the changes and make sure I got things right?

[2019-05-13 11:07] #438 closed, assigned to nobody

[2019-05-13 11:26] leofeyer commented on #480
Da hat @asaage allerdings Recht.

[2019-05-13 11:30] leofeyer commented on #373
Unfortunately, this does not work as intended. If you subscribe to a comment, you will also be notified of author replies, which are added in the back end.

[2019-05-13 12:24] leofeyer commented on #335
I am not sure of what is the best way to fix this. We are currently catching Swift errors here:

https://github.com/contao/contao/blob/46180e9238288a3e6ed6cda5b0d9c4ba1ae74d79/core-bundle/src/Resources/contao/forms/Form.php#L450-L457

We could remove the try-catch block so the exception is thrown. Or we could keep catching the exceptions and show an error message above the form. However, the latte

[2019-05-13 12:28] leofeyer commented on #406
@Toflar I have to backport d5c8305900b5c02a53f379da17e3d9a7da7f44ba, don't I?

[2019-05-13 12:29] fritzmg commented on #335
I would treat it the same way as storing the data in the database: if the target table does not exist, or a field does not exist, or the database connection is somehow lost, then an error would be thrown.

if we instead show an error in the front end form for any email related errors, then we should do the same with database related errors as well. But I am not really for that.

[2019-05-13 12:31] leofeyer commented on #460
Fixed in 04112467be89fce78b375bebe329d80e3e968f2e. Thank you @Toflar.

[2019-05-13 12:31] #460 closed, assigned to leofeyer

[2019-05-13 12:41] tophcodes commented on #438
Query runtime is now 3525.93 ms. Still not ideal but at least it's now usable.

[2019-05-13 15:19] leofeyer commented on #437
I would suggest reverting f7a5ff7afcbda38b186db87ed47a5eff060c2ff4 and adding two fields `tl_form_field.minval` and `tl_form_field.maxval`. Then we can translate them separately and we do not have any "changes its meaning depending on the field type" magic. WDYT?

[2019-05-13 15:21] leofeyer commented on #456
@aschempp /cc

[2019-05-13 15:22] leofeyer commented on #453
@aschempp Could this be related to #456?

[2019-05-13 15:28] bytehead commented on #456
Quick (and dirty) fix for existing projects:
[code]

[code]

[2019-05-13 16:14] Toflar commented on #437
Sounds good to me, wdyt @qzminski ?

[2019-05-13 16:15] qzminski commented on #437
Yep, agreed :+1:

[2019-05-13 17:18] aschempp commented on #456
How can we know a language if there is no valid page? I mean we don't know if the first two chars are supposed to be a language?

[2019-05-13 17:45] gmpf opened #488 "Calling unpublished sibling page of forward target causes redirect instead of immediate 404"
Tested in Contao 4.4.39

## How to reproduce

* Activate `folderUrl`

* Create a page structure like this:
[code]

* Make `foo` an internal redirect (page type `forward`) to `foo/bar`.

* Unpublish `foo/baz`.

* Call `example.test/foo/baz.html`

Result: Redirect to `example.test/foo/bar/baz.html` (404).
Expected: Immediate 404.

## Cause

In `Frontend::getPageIdFromUrl()`, `PageModel::findByAliase

[2019-05-13 19:11] leofeyer commented on #456
We could check if there is a root page which uses the two chars as language.

[2019-05-14 06:47] Toflar commented on #406
Not exactly all of it. The purge listeners are irrelevant because there's no cache tagging in Contao 4.4.
Also, I would not add `http_cache` there in the directory structure. I'd wait for end of May and Symfony 4.3 anyway, you could then rely on my version 2 of the store directly. That would simplify things I think.

[2019-05-14 06:49] leofeyer commented on #406
I don't think we can drop Symfony 3.4 compatibility for Contao 4.4 in a bugfix release though.

[2019-05-14 06:50] Toflar commented on #406
Nobody was talking about dropping compatibility. It will be compatbile with 3.4.

[2019-05-14 06:52] leofeyer commented on #406
I see. You mentioned Symfony 4.3, so I figured version 2 of your store would only be compatible with that. My bad. 😄

[2019-05-14 06:53] Toflar commented on #406
No, I just want to change the default directory path which is why I'm going to release v2 😄

[2019-05-14 06:56] Toflar commented on #480
Das sehe ich anders. Paginierte Seiten werden über die Pagination erreicht. Dort findet sich auch der Link zurück auf die 1. Seite (welche nicht `page=1` enthalten sollte). `mp_forms` bietet ebenfalls einen eigenen `zurück`-Button. Die Navigation ist nicht dazu da, Filter von anderen Modulen zurück zu setzen, das muss jedes Modul selber machen.

[2019-05-14 10:30] asaage commented on #480
Das machen sie ja auch seit jeher.
Ich würde auch die These unterstützen, dass ```.active``` Seiten durch einen Queryparameter nicht zu ```.trail``` Seiten werden sollten.
Vielleicht kann jemand mal eruieren, warum ein ```.active``` Navigations-Item nicht mehr klickbar sein soll (vielleicht eine SEO-Fachkraft) - dieses Pattern sehe ich nämlich auf einem Großteil der Seiten, die ich besuche nicht.

[2019-05-14 15:53] leofeyer commented on #480
Eine SEO-Fachkraft wird Dir hier wohl nicht weiterhelfen können; eher jemand, der sich mit der Barrierefreiheit auskennt. Siehe z.B.: https://www.einfach-fuer-alle.de/artikel/menues/tag2/

@MacKP @kikmedia Trotzdem wäre es interessant zu wissen, warum das die Navigation  barrierefreier macht. Wisst ihr das zufällig?

[2019-05-14 15:59] leofeyer commented on #484
Removed in 452e4405602146543cbba38bba2bcb5b2d3f81c1.

[2019-05-14 15:59] #484 closed, assigned to leofeyer

[2019-05-14 15:59] fritzmg commented on #480
Erst dadurch ist ja tatsächlich semantisch festgelegt, welcher Menüpunkt gerade aktiv ist. Die CSS Klasse alleine ist ja dahingehend nicht aussagekräftig.

[2019-05-14 16:52] MacKP commented on #480
Da muss ich @fritzmg zustimmen. Zusätzlich ist es eigentlich auch noch so, dass man aus Sicht der Orientierung nicht auf die eigene Seite verlinken sollte (man geht über den Link auf den selben Inhalt und wundert sicht). Deswegen mach ich den Link um das Logo auch nicht auf der Startseite ;-)
Inzwischen gibt es zwar auch noch weiter möglichkeiten die aktuelle Seite zu kennzeichnen -> [aria-current

[2019-05-14 16:57] fritzmg commented on #480
Ich denke wir sollten, wie @Toflar vorgeschlagen hat, den active state beibehalten, wenn GET Parameter vorhanden sind.

Den Rest kann sich ja jeder selbst im Template anpassen, nach Belieben.

[2019-05-14 17:58] kikmedia commented on #480
Sehe ich exakt so wie @MacKP - und ich bin ebenfalls der Meinung, das bei Verlinkung eigentlich die Orientierung schlechter wird, weil ich dort, wohin ich navigieren kann, ja bereits bin.

[2019-05-15 12:42] leofeyer commented on #480
Wir haben das Thema übrigens schon einmal diskutiert. Vor Contao 3.4 war es offenbar schon so, wie wir es jetzt neuerdings wieder haben wollen: https://github.com/contao/core/issues/7189

[2019-05-15 13:11] asaage commented on #480
Abstimmung durch Münzwurf... 😄 ich glaub ich bin raus.

[2019-05-15 13:13] MacKP commented on #480
Und ich bin da immer noch ganz bei @NinaG ^^

[2019-05-15 14:09] leofeyer commented on #480
Wir müssen also `$href == Environment::get('request')` durch einen neuen Check ersetzen, der nur den Pfad ohne Query-String vergleicht. Dann sollte es passen.

[2019-05-15 14:15] Toflar commented on #480
Richtig.

[2019-05-15 14:19] leofeyer commented on #480
Dann sollte dies jetzt in 7a4cd8404a1ec0c4b701de501f738959042fd304 behoben sein.

[2019-05-15 14:19] #480 closed, assigned to nobody

[2019-05-15 14:21] Toflar commented on #480
`Environment::get('path')` wäre wohl die elegantere Variante gewesen anstatt zu exploden, nicht? 😄 Oder gibt die nicht das zurück was sie sollte (den Pfad 😄 )?

[2019-05-15 14:23] leofeyer commented on #480
`Environment::get('path')` ist nicht dasselbe wie `Environment::get('request')` ohne Query-String!

[2019-05-15 14:24] Toflar commented on #480
I see, also wäre die Antwort auf meine Frage ein "Nein" gewesen 😄

[2019-05-15 14:28] asaage commented on #480
Wie oben bereits erwähnt ist nicht nur mod_customnav sondern auch mod_navigation davon betroffen.

[2019-05-15 14:31] Toflar commented on #480
Und? Der Fix ist ja auch in `ModuleCustomnav`? Oder was meinst du?

[2019-05-15 14:34] asaage commented on #480
In ```ModuleCustomnav``` ja - hatte mich nur gewundert warum nicht auch in ```ModuleNavigation```

[2019-05-15 14:35] Toflar commented on #480
`ModuleNavigation` erbt von `Module` und nutzt die parent Methode für die Navigation. Passt schon alles so 😄

[2019-05-15 19:15] leofeyer commented on #465
See #492.

[2019-05-15 19:15] #465 closed, assigned to nobody

[2019-05-16 09:00] dmolineus commented on #466
Calling `loadDetails` automatically would prevent that the model could be saved. This might cause some unexpected side effects.

https://github.com/contao/core-bundle/blob/8a6bcd28e54c1ab6bea5d35be3f328146b399a41/src/Resources/contao/models/PageModel.php#L1025

[2019-05-16 09:02] fritzmg commented on #466
@dmolineus yes, but `loadDetails` should only be called if you want to access the details anyway. And then you will not be able to save the model anymore, no matter if it was called automatically for you or if it was called by you.

[2019-05-16 13:35] zonky2 commented on #462
@leofeyer wann kommt 4.4.40?

[2019-05-16 16:00] andyKempf commented on #5649
Erstmal vielen Dank schonmal für die Überlegungen und Ansätze, eine Content API zu entwickeln! Ist das Thema noch für kommende Versionen aktuell?

[2019-05-16 16:13] zonky2 commented on #5649
vielleicht gibt es am Wochenende zum CC19 (aktuelle) Infos :D

[2019-05-17 09:21] Toflar commented on #5649
Soweit bekannt, finden keine aktiven Arbeiten an einer API statt. Es gibt einige Drittanbieter-Bundles aber im Core-Team auf jeden Fall im Moment nicht.

[2019-05-17 09:22] zonky2 commented on #5649
Dank für die Info!

[2019-05-17 09:34] Toflar commented on #400
Update: Reloading is not going to work either because fragments cannot reload ;-)
We need to adjust the series handling.
@fritzmg can you test if things work for you again with the latest header-replay-bundle? It might work now but in fact only by chance (because Symfony's ESI handling executes sub requests and thus the firewall is not initialized multiple times). So we still need to fix the serie

[2019-05-17 21:39] Jidoka1902 opened #493 "SymlinksCommand missing ContainerAware capability"
**Affected version(s)**
4.4.39
**Description**
SymlinksCommand misses the capability of ContainerAwareness.

Either extending the ContainerAwareCommand or implementing the ContainerAwareInterface and using the ContainerAwareTrait (which is the new symfon way) will fix this.
**How to reproduce**
try to create a new folder within the filsystem backend

[2019-05-17 21:48] xchs commented on #493
Duplicate of https://github.com/contao/contao/issues/462

[2019-05-17 23:52] asaage opened #494 "ModuleNewsletterList requires Channels with redirect page"
**Affected version(s)**
4.7.5 and probably older

**Description**
[code]

**How to reproduce**
Create a Newsletter channel without redirect page and use it in a Newsletter list.

The easiest way i can think of is to make the redirect page of channels a mandatory field and/or skip channels without redirect page in ModuleNewsletterList.

[2019-05-18 08:48] #493 closed, assigned to nobody

[2019-05-19 08:22] leofeyer commented on #126
We have discussed this topic at the Contao Camp 2019. Our idea was to use an Open ID like token to log in a user on all existing domains by sending Ajax requests either when a user logs in or when a user first opens the `preview.php` route.

If we go for the login variant, the back end login screen would show a "log in on all domains" checkbox and a "you are being logged in" screen which is shown

[2019-05-20 05:36] contaoacademy commented on #126
The checkbox should only appear if more than 1 domain is active.

[2019-05-21 13:39] xchs commented on #462
Da sich die Milestones alle geändert haben (und nur noch Major und Minor Version beinhalten), ist es nun leider nicht mehr möglich, die für ein bestimmtes Release relevanten Tickets zu filtern, z. B. https://github.com/contao/contao/issues?q=milestone%3A4.4.40+is%3Aclosed

Es gibt zwar auch ein [Changelog](https://github.com/contao/contao/blob/4.4/CHANGELOG.md) für Contao 4.4.40; allerdings werden

[2019-05-21 14:56] leofeyer commented on #462
Das ist richtig. Die Tickets sind aber weiterhin in der Git-Historie verlinkt: https://github.com/contao/contao/compare/4.4.39...4.4.40

[2019-05-21 15:10] #445 closed, assigned to nobody

[2019-05-21 15:10] #447 closed, assigned to nobody

[2019-05-21 15:12] leofeyer commented on #451
I also think that this is a known limitation. @contao/developers WDYT?

[2019-05-21 15:13] leofeyer commented on #464
@contao/developers Is this a bugfix or a new feature?

[2019-05-21 15:17] leofeyer commented on #476
@contao/developers Is this a supported use case?

[2019-05-21 15:19] Toflar commented on #451
I don't think it's a limitation at all. The content element `Include` just only provides the ones that have no parent (= `tl_article`). That's just how it works. It doesn't make sense to support anything else imho. The list would grow endlessly. Personally, I never ever use the `Include` element anyway because I can't find anything anymore.
I rather manage content at some central place and then re

[2019-05-21 15:20] Toflar commented on #464
Feature.

[2019-05-21 15:24] leofeyer commented on #494
The target page is only required if you plan to publish the newsletters on the website, because then we need a reader page to generate the URLs. However, if you only use a channel to send newsletters via e-mail, the field is not required and therefore not mandatory by default.

@contao/developers Should we remove the exception and just skip the channel instead?

[2019-05-21 15:25] Toflar commented on #476
No, certainly not. A member cannot have multiple languages. We use this at various places e.g. to build the cache and more. Also there are possibly hundreds of extensions that expect a string there.
Just add a new field and maybe update the description of `language` to `Preferred language` or whatever.

[2019-05-21 15:26] Toflar commented on #494
No opinion here, I never use that module so I'm fine with whatever you decide :)

[2019-05-21 15:31] #476 closed, assigned to nobody

[2019-05-21 16:13] ausi commented on #451
Can we use the new picker here?

[2019-05-21 16:14] Toflar commented on #451
There's no view where you can see all the content elements. You would need to switch between News and Article which you cannot. Well you could technically but still...

[2019-05-21 16:41] ausi commented on #494
I think we should skip the channel in the frontend.

And we should probably also validate the selection of the channel in the newsletter list in the backend so that only channels with redirect pages can be selected.

[2019-05-21 18:21] asaage commented on #391
https://github.com/contao/contao/issues/451#issuecomment-494436980
Haven't tried it myself but contao-node might be a decent drop-in solution without start and stop elements.

[2019-05-22 16:04] fritzmg commented on #400
~~Yeah, with terminal42/header-replay-bundle 1.5.3 this seems to work now :)~~

[2019-05-22 16:09] MDevster commented on #402
We have a budget which we would like to put into a uuid concept for content elements and the page structure. We would like to sync multiple installations in either direction, or just certain elements or parts of the page structure. In an old news on contao.org I found a database model https://contao.org/en/news/contao-core-database-table-relations.html
Is there a current version of the model avail

[2019-05-22 16:25] fritzmg commented on #400
Sorry, got confused - no, the latest version did not fix the issue. Or did you mean dev-master?

[2019-05-24 12:48] bennyborn opened #498 "File manager wrong way to determine max upload size"
**Affected version(s)**
At least from 4.4.39 upwards

**Description**
When trying to upload a file the file manager determines the maximum allowed file size mainly by looking at the the value set in the localconfig. In fact there are 4 values that need to be checked to determine the real limit:

- php.ini `memory_limit`
- php.ini `post_max_size`
- php.ini `upload_max_filesize`
- Setting from local

[2019-05-24 13:00] bennyborn commented on #496
Same as #383?

[2019-05-24 13:09] Defcon0 opened #499 "strId vs. strName in FileTree"
**Affected version(s)**
Contao 4.4

**Description**
In the following line in FileTree `$this->strId` is passed into the AJAX post request where it should be `$this->strName`. This leads to problems when having multi dimensional field names like `field[0][image]`.

https://github.com/contao/contao/blob/c1026282f5e53046501b0b07b578ad722fceab80/core-bundle/src/Resources/contao/widgets/FileTree.php#L4

[2019-05-29 12:08] wschwaiger opened #500 "{{insert_module::|uncached}} not working"
**Affected version(s)**
4.4.40

**Description**
Possible duplicate to https://github.com/contao/contao/issues/48 and https://github.com/contao/contao/issues/154. This happens in combination with the Isotope Shop using a cart module in my navigation. {{insert_module::|uncached}} is used to insert the cart module into the heading of the site. When caching is enabled the number of items in the cart i

[2019-05-31 06:45] aschempp commented on #498
I don't think `memory_limit` is related to uploads?

[2019-05-31 06:51] bennyborn commented on #498
Not to the upload itself of course but the handling afterwards. TBH I haven't looked into this so I'm not sure if the core does anything other than just copying the file to it's new destination.

[2019-05-31 13:20] tabcontao opened #501 "Page visibility in XML-Sitemap and frontend module should be separate settings"
If I decide not to include a page in "the" XML sitemap used for search engines, it will not appear in the frontend module sitemap either. There should be a possibility to choose the visibility in both sitemaps separately, because XML sitemap and sitemap frontend module are different matters IMHO.

In a project we decided to set the Robots-Tag for the privacy statement page to "noindex, nofollow",

[2019-05-31 14:25] kikmedia opened #502 "Maximum upload file size for images will be ignored"
**Affected version(s)**
4.4.40, 4.6.14, 4.7.5

**Description**
If one sets a maximum size for images in system settings, this setting will be ignored in file manager

**How to reproduce**
Set the values for uploads to a reasonable amount, i.e. 3.500 x 3.500 pixels and 8 MB. Goto file manager and upload an image with more than 3.500 pixels. The upload will be finished, and afterwards the too-large-

[2019-05-31 19:12] fritzmg commented on #502
Which settings exactly are you referring to?

[2019-06-01 03:31] kikmedia commented on #502
I‘m referring to the backend system settings regarding file uploads. Sorry if this wasn‘t clear enough.

[2019-06-01 11:16] ausi commented on #502
I was not able to reproduce this issue. I uploaded a 5000 by 5000 pixel large image and it got correctly resized down to 3500.

If you are using GD on your webspace please make sure that the maximum GD image width and height are set high enough to handle your uploaded image.

Possibly related: contao/core#6726

[2019-06-02 07:39] fritzmg commented on #502
Plus the feature of preventing large file uploads has been implemented in Contao 4.6 https://github.com/contao/core-bundle/pull/1507

[2019-06-02 16:05] xcy7e opened #503 "contao-manager.phar.php must be deleted?"
**Affected version(s)**
4.4.* LTS
**Description**
Installation File requires to be deleted as stated in 500-error message overlay
**How to reproduce**
Download contao-manager.phar (4.4.*LTS) and rename to contao-manager.phar.php;
Access it (only possible in website root directory, which requires one to empty the whole webserver-root on a server without a domain!!) and do all the checks.
If everyth

[2019-06-02 16:10] #503 closed, assigned to nobody

[2019-06-02 16:11] xcy7e commented on #503
Does not occur when putting everything in /web and making /web the root directory.

It seems however this is not the best solution for anyone without domains, therefor the ability to make subdomains.

[2019-06-02 17:01] zonky2 opened #504 "add "user group restriction" at page type "logout""
add "user group restriction" at page type "logout" to show this page only if you logged in

[2019-06-02 17:14] zonky2 opened #505 "asterisk is missing at confirming password"
**Affected version(s)**

C 4.4

**Description**

when entering the new password form (password forgotten), the asterisk is missing at confirming input

![2192113993](https://user-images.githubusercontent.com/1192057/58765680-ac4e6f00-8575-11e9-8291-baa4d8d03100.png)

[2019-06-02 17:55] fritzmg commented on #503
The instructions clearly say to put the phar in the web sub directory of your (future) Contao 4 installation and set the document root to that directory.

This requirement is part of Contao itself, not from the Contao Manager.

[2019-06-04 15:52] Toflar commented on #406
v2 has been released, you're cleared to go (make sure to configure the `composer.json` to `         "toflar/psr6-symfony-http-cache-store": "^2.0"` which is the only thing that needs to be merged upstream).

[2019-06-04 19:31] Aybee commented on #476
Jetzt bin ich verwirrt. Werden Contao Tickets nicht mehr hier erstellt? Was und wo ist das "mono repository"?

[2019-06-04 19:33] Aybee commented on #476
Oh that's a pity.

[2019-06-04 20:23] leofeyer commented on #476
Damit ist `contao/contao` gemeint und nicht mehr `contao/core-bundle`. Ich hatte Dein Ticket aber schon hierher verschoben.

<img width="573" alt="" src="https://user-images.githubusercontent.com/1192057/58911058-51ed1400-8717-11e9-9d39-992f5bfe152d.png">

[2019-06-04 20:49] Aybee commented on #476
Ah, ok, danke.

[2019-06-05 06:52] arboc opened #506 "new version of leafo/scssphp"
**Affected version(s)**
all 4.4 and above

**Description**
there is a new version for leafo/scssphp v0.8.2 which fixes some major issues...
could you please update the requirements

[2019-06-05 09:40] leofeyer commented on #505
Are you sure? Because the code is in the template:

https://github.com/contao/contao/blob/c1026282f5e53046501b0b07b578ad722fceab80/core-bundle/src/Resources/contao/templates/forms/form_password.html5#L27

[2019-06-05 09:41] leofeyer commented on #504
What exactly do you mean?

[2019-06-05 09:43] leofeyer commented on #501
How exactly did you do this?

[2019-06-05 10:22] tabcontao commented on #501
Actually, I didn't. If I would do it, then I would do it in the properties of the page by setting "In der Sitemap anzeigen" to "Nie anzeigen" or "Standard". But then it wouldn't show up any more in the frontend module as well.

My settings at the moment are:
Im Menü verstecken: Activated/Checked
In der Sitemap anzeigen: Immer anzeigen

The privacy statement page is not to be included in the main n

[2019-06-05 10:31] leofeyer commented on #398
See #425.

[2019-06-05 10:31] #398 closed, assigned to aschempp

[2019-06-05 11:14] zonky2 commented on #505
hmm... I`ll check this

[2019-06-05 11:17] zonky2 commented on #504
sorry - too short...
I miss a checkbox "only for guests" - so that the page is only displayed in the navigation when you are logged in

[2019-06-05 11:46] leofeyer commented on #459
Since all PRs have been merged, I am closing this ticket.

[2019-06-05 11:46] #459 closed, assigned to nobody

[2019-06-05 11:57] leofeyer commented on #504
But "only for guests" means "show it when you are **not** logged in".

[2019-06-05 12:02] zonky2 commented on #504
JESS :D

Edit: NO!

[2019-06-05 12:04] leofeyer commented on #504
Sorry, but that does not make any sense at all. Why would you want to hide the login page from logged in users and show it to guests only? Guests are not logged in, so they cannot log out, either.

[2019-06-05 12:07] zonky2 commented on #504
sorry - too hot this day...

I meant, of course, "only visible when I'm logged in."

[2019-06-05 12:12] zonky2 commented on #505
sorry - Bug at contao bootstrap

[2019-06-05 12:12] #505 closed, assigned to nobody

[2019-06-05 20:23] Funbug opened #507 "Punycode in backend meta title"
**Affected version(s)**
Contao 4.7.6

**Description**
Die Meta-Title im Backend zeigen ja nun die Domain an. Es wäre schön, wenn hier bei Umlaut-Domains nicht der Punycode angezeigt werden würde, also "köstlichfein.de" stat "xn--kstlichfein-rfb.de".

**How to reproduce**
Backend unter einer Umlaut-Domain aufrufen.

[2019-06-06 08:56] leofeyer commented on #504
Just protect the page like you do with any other "members only" page.

<img width="511" alt="" src="https://user-images.githubusercontent.com/1192057/59020131-abedf680-8849-11e9-9130-373ff239653f.png">

[2019-06-06 08:56] #504 closed, assigned to nobody

[2019-06-06 09:05] zonky2 commented on #504
sorry - anscheinend nicht meine "hellste" Woche ;-)

[2019-06-06 10:29] leofeyer commented on #446
The `config.php` file is loaded when the Contao framework is initialized and this happens before the routing (actually the routing first initializes the framework). You therefore cannot use the scope matcher in the `config.php` file. Maybe you can use an event to add the assets?

[2019-06-06 10:33] fritzmg commented on #446
Hm, may be we should add that to UPGRADING under __Version 4.* to 4.7__?

[2019-06-06 10:37] leofeyer commented on #446
Only if @aschempp confirms that I'm right. 😄

[2019-06-06 10:43] Toflar commented on #446
That's not something that needs to be documented, imho. The `config.php` is configuration. It configures things. It doesn't know about anything and should not be dependent on runtime. I know it was possible to do some `TL_MODE` comparisons etc. back in the day and many extensions did it or still do it. But technically, it has always been wrong.
If you want to decide something at runtime, the confi

[2019-06-06 13:34] leofeyer commented on #478
As discussed in Mumble on June 6th, here are some possible solutions:

1. We could use IDs instead of UUIDs if both are present.

2. We could send the selection as Ajax POST request that returns a token to be added to the URL instead of the UUID list.

Generally, however, it seems odd to select 300 single images instead of the parent folder.

[2019-06-06 14:06] leofeyer commented on #400
This will eventually be fixed by #483.

[2019-06-06 14:06] #400 closed, assigned to nobody

[2019-06-06 14:08] #470 closed, assigned to nobody

[2019-06-06 14:39] bitit-it commented on #337
is possible a installation by ftp with out Symlinks ?

Thank you

[2019-06-06 14:47] leofeyer commented on #335
As discussed in Mumble on June 6th, we want to remove the try-catch block, so the request ends in an error 500.

[2019-06-06 14:58] leofeyer commented on #509
As discussed in Mumble on June 6th, we want "Einstellungen bearbeiten" and "Element ID … bearbeiten" as default label, so the `label` key can be omitted in the DCA. (If the label is defined, it shall still be used.)

[2019-06-06 15:10] leofeyer commented on #383
As discussed in Mumble on June 6th, we think that this is a bug. The module most likely does not consider the "hide running events" option.

[2019-06-06 15:23] leofeyer commented on #395
Wie am 6. Juni auf Mumble besprochen, sollten wir das "Konto schließen"-Modul so erweitern, dass der Admin festlegen kann, dass beim Schließen eines Kontos auch das Home-Verzeichnis gelöscht wird. Optionen:

* Home-Verzeichnis nicht löschen
* Home-Verzeichnis löschen, wenn nicht geshared
* Home-Verzeichnis immer löschen

[2019-06-06 15:34] zonky2 commented on #395
Ergänzung: als Radio oder Select

[2019-06-06 15:51] leofeyer commented on #373
As discussed again on June 6th, we still have to store the URLs for the author replies in the back end, but we can use the "live" URL if someone comments in the front end.

[2019-06-06 15:52] aschempp commented on #446
Agreed with @Toflar. Also, if you write "old" stuff in `config.php`, simply use `TL_MODE`.

[2019-06-06 15:57] leofeyer commented on #250
Wie am 6. Juni auf Mumble besprochen, wäre das entfernen des `.min`-Fragments wahrscheinlich die beste Lösung.

[2019-06-06 15:58] ausi commented on #470
Not having access to a just started session inside the ESI request seems to be correct, so this is not a bug. See https://github.com/symfony/symfony/issues/31078#issuecomment-482173486

The related issue with the CSRF token will be solved differently.

[2019-06-06 16:10] leofeyer opened #510 "Make 9999-12-31 the end for unlimited recurrences"
As discussed in Mumble on June 6th, we want to increase the end for unlimited recurrences from 2038-01-01 to 9999-12-31 (see https://github.com/contao/contao/commit/2137caa4bac8073438da0be9562a5a1c83149a71#r33274917).

[2019-06-06 20:15] xchs commented on #506
Should be fixed with https://github.com/contao/contao/pull/508

[2019-06-07 06:37] baumannsven commented on #250
Warum wird für dies die schon vorhandene Asset unterstützung nicht genutzt?

Man legt im contao/core-bundle folgende Datei an src/Resources/public/manifest.json

[code]

Danach kann man z.B. im Template be_main.html5 folgendes machen:

[code]

Wenn man im Develop Modus ist wird zur Übergabe an die asset Funktion ein Slash vor den Namen gesetzt und es kommt danach `bundles/contaocore/core.js` zurüc

[2019-06-07 11:36] leofeyer commented on #464
Implemented in be4aeccc9d794cd6c0aa768f8c3d52be8c7efd06.

[2019-06-07 11:36] #464 closed, assigned to leofeyer

[2019-06-07 14:57] pw17l008 opened #576 "Comment author and Blog title"
**Description**
Hi there!

I am using the listing bundle to get a list of the newest commments in a blog, and I notices I am only able to put information regarding the commment, i.e. name, author, date, commment! I was wondering if its possible also get the headline of the blog where it was commented?
**Example**

Say Author Tom, commented on on a blog titled "Lorem Ipsum", along with the list of

[2019-06-07 18:46] m-vo commented on #463
Short update on 1.

With some minor changes to ``DC_Table`` the `pid` can also be nullable (with `NULL` as default instead of 0) and the tree itself works fine with a FK constraint. But unfortunately right now this breaks the sorting. :cry:

(The sorting logic in and around ``getNewPosition()`` depends on the internal value for `pid` (numeric or `null`, which sometimes has a special meaning other

[2019-06-12 09:07] aschempp commented on #250
Die Nutzung der `manifest.json` finde ich generell gut. Das `$this->Config->get('debugMode')` im Template allerdings unschön, das würde ich irgendwie schlauer lösen. Erschwerend hinzu kommt dass wir ja (noch) kein Webpack für die Assets benutzen, das sollte man zuerst entsprechend umbauen.

[2019-06-12 09:10] baumannsven commented on #250
@aschempp Schon klar. Dies war ja einer der ersten Versuche. Im Prinzip nur zum verdeutlichen. Falls es so umgesetzt wird, kann man das ja dann schön machen. Ihr müsst mir nur bescheid geben, dann würde ich den PR dazu programmieren.

[2019-06-12 18:27] Aybee opened #514 "Visible fieldset and empty legend with template member_grouped on captcha field"
**Affected version(s)**

4.4.40

**Description**

Das Template member_grouped erzeugt folgende Ausgabe bei dem Captcha
[code]
Das oberste `DIV` ist `display:none`, aber die Elemente `fieldset` und `legend` nicht. Das sieht schlecht aus, wenn man `fieldset` und `legend` formatiert hat, wie z.B. in der Online-Demo.

Eine Änderung des Core-Templates https://github.com/contao/contao/blob/master/core-b

[2019-06-12 21:08] Aybee commented on #514
Hat @ausi auf slack.com beantwortet: Weil Besucher/Bots ohne JS somit den Value nicht gesetzt bekommen und damit das Feld zum Ausfüllen sehen müssen.

[2019-06-13 06:15] leofeyer commented on #514
Ich sehe das Problem, allerdings finde ich die vorgeschlagene Lösung nicht gut, das `<fieldset>` wegzulassen. Das Captcha-Widget müsste dann gesondert formatiert werden, für den Fall, dass es doch mal angezeigt wird.

* Ich stimme zu, dass wir `<legend>` nicht ausgeben sollten, wenn es leer ist.
* Außerdem würde ich das JS so anpassen, dass `style.display = 'none'` zum `<fieldset>` hinzugefügt wir

[2019-06-13 06:46] fritzmg commented on #514
Theoretisch könnte es jedoch sein, dass im selben Fieldset (leere `feGroup`) auch noch andere Felder ausgegeben werden.

[2019-06-13 11:38] Aybee commented on #514
Ich hatte gehofft, dass du mit ner bessere Lösung kommst 😉. Das von mir und fritzmg war erstmal nur quick and dirty. Das mit dem JS hatte ich auch bereits im Hinterkopf, war mir aber unsicher, was es mit diesem JS auf sich hat.

Das JS betrifft dann ja nur das Captcha.

Dass keine leere `legend` ausgegeben werden soll beträfe allgemein das komplette Template mit allen Gruppen und kann dann im Temp

[2019-06-13 11:40] fritzmg commented on #514
Ja, aber @leofeyer Lösungsvorschlag ist ja, dass das gesamte `<fieldset>` auf `display: none;` gesetzt werden sollte. Und theoretisch könnte es wie gesagt sein, dass sich in diesem `<fieldset>` auch noch andere Felder befinden, die natürlich nicht ausgeblendet werden sollten. Praktisch wird das natürlich kaum vorkommen.

[2019-06-13 11:44] Aybee commented on #514
Ob ein `fieldset` ohne `legend` überhaupt Sinn macht, wäre auch noch zu überdenken. Ich für meinen Teil bräuchte das nicht. Ein `fieldset` ist ja eigentlich dazu da um **mehrere** Felder zu umschließen. Für ein einzelnes Feld bräuchte man IMHO kein `fieldset`. Und wenn ein `fieldset` gerendert wird, sollte es auch eine `legend` haben. Oder?

[2019-06-15 11:57] zonky2 opened #519 "<strong> aus Navigationstemplate entfernen"
siehe https://github.com/contao/contao/blob/master/core-bundle/src/Resources/contao/templates/navigation/nav_default.html5#L5

m.E. gehört eine Auszeichnung per `<strong>` nicht per Default in das Template - das sollte per CSS gemacht werden. Statt strong könnte man ein `<span>` verwenden.

[2019-06-15 12:24] xchs commented on #519
Es geht hier v. a. um Semantik (siehe https://github.com/contao/core/issues/6336).

[2019-06-15 12:41] zonky2 commented on #519
thx - den hatte ich nicht gefunden

[2019-06-15 12:41] #519 closed, assigned to nobody

[2019-06-17 20:53] andyKempf commented on #3387
Ist schon bekannt, ob in naher oder ferner Zukunft Frontend-Templates mit Twig ausgeliefert werden? Das wäre einfach großartig für eine professionelle Frontend-Entwicklung. Auch im Zusammenhang mit dem neuen Symfony 4.

[2019-06-18 08:13] koertho commented on #446
I think this must be documented, since the config.php is still needed for some cases, especially in 4.4. So when something is deprecated, the replacement must work everywhere, where the deprecated thing was used before (my opinion). At least a short note about this would be helpful for a lot of developers I think.
I know that the config.php is not the best place for comparisons like this, but that

[2019-06-18 08:34] Toflar commented on #446
I don't think we need to document anything here, no. There is no "replacement" and we did not "deprecate" anything. It just used to work by chance but the `config.php` always was a configuration file and you are not supposed to add if statements to a configuration file. Just don't do it and it will work in all versions.

It's just the fact that `config.php` is a php file so you can do whatever you

[2019-06-18 10:59] Toflar commented on #3387
In ferner Zukunft, vielleicht. Wie hier erklärt, in Contao 4 wird es wohl nie der Fall sein.

[2019-06-18 12:07] fritzmg commented on #3387
@m-vo und ich haben damit am Contao Camp nochmal ein wenig experimentiert. Als PoC hatte ich die `fe_page` komplett über twig aufgebaut, was dann auch funktioniert hat. Ob es das Wert ist, alle notwendigen Änderungen in das aktuelle Template System von Contao einzubauen und ob wir das wirklich wollen ist natürlich eine andere Frage ;). Möglich wäre es.

[2019-06-18 23:12] andyKempf commented on #3387
@fritzmg @m-vo das hört sich großartig an! 👍🏼 Wie aufwändig waren die Änderungen? Könnte ich mehr darüber erfahren? 🙂

Ansonsten verstehe ich schon, dass eine Umstellung auf Twig ein gewagter Schritt sein könnte, da sich Contao ja auch bei „kleineren“ Webdesignern großer Beliebtheit erfreut, diese sich aber bestimmt in der Vergangenheit nie mit einer Template-Engine wie Twig beschäftigt haben. And

[2019-06-19 06:35] bytehead commented on #3387
@andyKempf das Problem liegt ja auch nicht bei den "kleineren" Webdesignern oder anderen Zielgruppen - es ist technischer Natur: https://github.com/contao/core-bundle/issues/1215#issuecomment-348753597

[2019-06-20 11:09] dmolineus opened #527 "Picker url broken on custom backend route"
**Affected version(s)**

- Contao 4.4
- Contao 4.7

**Description**

I use the Contao TinyMCE on a custom backend route `/contao/custom/route`. Opening the picker, triggered by `Backend.openModalBrowser` try to locate the picker at  `/contao/custom/route/picker` which results in a 404.

**How to reproduce**

- Create a custom route
- Create a backend form with the TinyMCE
- Try to open the picker

[2019-06-20 12:10] dmolineus opened #528 "BackendCustom handling ajax requests with redirect broken"
**Affected version(s)**

- Contao 4.7
- Contao 4.4? (not tested)

**Description**

I use a custom contao backend route with the backend twig template and an form inside which triggers the `Backend.toggleFieldset` js handler. Since it triggers an ajax request on the current page which returns on a redirect, the redirect exception is thrown.

This exception is converted by the exception converter li

[2019-06-21 11:45] leofeyer commented on #221
@contao/developers I'm not 100% sure how to implement this. In the FAQ list and FAQ page modules, `$this->Template->faq` is an array of arrays:

[code]

Which of the following would you prefer?

[code]

[2019-06-21 11:50] leofeyer commented on #228
I have added "other" as third gender option in 9d5aed9279cba9237e8e1f947338ad7a50bf2a25.

[2019-06-21 12:27] leofeyer commented on #441
I just realized that this can already be accomplished by adding the CSS class in the back end settings:

<img width="609" alt="" src="https://user-images.githubusercontent.com/1192057/59922281-b9ea6c80-9430-11e9-8bf2-1531c82e9641.png">

[2019-06-21 12:48] leofeyer commented on #510
@contao/developers I just realized that this would require to change all event related database fields from `int` to `bigint`, so why don't we use `4294967295` instead? It is the maximum value for unsigned integer columns in MySQL and translates to `2106-02-07 07:28:15`. Should be enough for the next couple of decades, shouldn't it?

[2019-06-22 10:49] asaage commented on #441
I think here was asked for an automated css-class.
Css-classnames which you put into the expert-settings don't have any relation to the media/mime-type.
Maybe using a definite class at the figure-element would make sense.
https://github.com/contao/contao/blob/master/core-bundle/src/Resources/contao/templates/elements/ce_player.html5#L5

[code]

[2019-06-24 06:56] gtwone opened #531 "Form rights wont be inherited"
**4.4.40**

**A user with the right to create a form is not able to edit the form after creation.**

Also metioned [here](https://community.contao.org/de/showthread.php?28174-Benutzerrechte-Anlegen-neuer-Formular-%E2%80%93-k%C3%B6nnen-danach-nicht-ge%C3%A4ndert-werden)

[2019-06-24 07:52] leofeyer commented on #317
It seems we have to adjust the [`translator.data_collector`](https://github.com/symfony/symfony/blob/4.2/src/Symfony/Bundle/FrameworkBundle/Resources/config/translation_debug.xml) service so it passes our translator object instead of the default Symfony one. Not 100% sure though.

[2019-06-24 08:14] aschempp commented on #527
That's most likely because we're not correctly generating the picker route but just appending `/picker` to the current `/contao` route in the javascript. I guess we either need to pass the URL or set something like a global variable?

[2019-06-24 08:26] dmolineus commented on #527
Yes, the current solution uses `document.location.pathname` and just append `/picker` to it. I also suggest using a property of the global `Contao` object. Hardcoding the path to `/contao/picker` would not regarding if the backend is visited within the `app_dev.php` context.

[2019-06-24 08:28] aschempp commented on #527
Exactly. Can you maybe create a pull request?

[2019-06-24 08:43] fritzmg commented on #441
Yeah, it's wrong that the player currently always uses a `video_container` class, since it can be an audio player as well.

[2019-06-24 09:19] fritzmg commented on #221
Imho 1 or 3

[2019-06-24 09:58] ausi commented on #221
I would prefer 3 (`$objFaq->row()`)

[2019-06-24 13:28] leofeyer commented on #509
See #532.

[2019-06-24 13:28] #509 closed, assigned to nobody

[2019-06-24 13:48] aschempp commented on #317
can you explain?

[2019-06-25 06:55] dmolineus commented on #527
Done, see #534.

[2019-06-25 07:28] dmolineus opened #535 "Github used by information"
The Github used by feature shows invalid information because in the `package.json` the name is set to `core-bundle`. Apart from the fact that Github probably should implement a better way to indentify packages, the package name could also be improved by Contao.

My suggestion `@contao/contao`.

https://github.com/contao/contao/blob/2fba9dc85858dc0f7e64631c84b795852f4ff362/package.json#L2

[2019-06-25 07:33] ausi commented on #535
Can’t we remove the `name` field completely?

And/or add `"private": true`?

[2019-06-25 08:06] ausi commented on #433
The lazy-loading feature is not enabled by default in Chrome 75. So there is currently no browser supporting this, see <https://caniuse.com/#feat=loading-lazy-attr>

But I agree that this is an important feature and we should probably use it once one of the major browsers supports it.

Any ideas on how we should implement it?
Should it be a setting of the image size?
Or just a global or a theme se

[2019-06-25 08:24] leofeyer commented on #433
I'd vote for "setting of the image size".

[2019-06-25 09:07] Toflar commented on #433
This is the spec PR: https://github.com/whatwg/html/pull/3752
I think we should wait until there‘s something official.

[2019-06-25 09:39] #527 closed, assigned to nobody

[2019-06-25 14:39] leofeyer commented on #195
Since there is no clear majority for removing the disabled icons, I am closing this issue. If you prefer hiding the disabled icons, you can adjust your `be_main.html5` template as mentioned [here](https://github.com/contao/contao/issues/195#issuecomment-441254677).

[2019-06-25 14:39] #195 closed, assigned to nobody

[2019-06-25 14:50] leofeyer commented on #510
Implemented in 8befee845bd83a1fe10f317d1e0bebcc977b6766.

[2019-06-25 14:50] #510 closed, assigned to leofeyer

[2019-06-26 09:09] #362 closed, assigned to leofeyer

[2019-06-26 09:44] leofeyer commented on #370
Partly fixed in 70d5629320f24f7a5abc3d4a6a1c3e871e0343f5.

1. I have tried to remove the `/preview.php` fragment in the back end, but it did not work without it. Did we plan to adjust the `index.php` entry point so it optionally boots the kernel in debug mode? Because that would mean to parse the JWT cookie upon every request.

2. <del>The FE preview can still be accessed via `/contao/preview` in

[2019-06-26 09:55] leofeyer commented on #370
How do you want me to implement this? Do I adjust the `TokenChecker::isPreviewMode()` method or just the `BE_USER_LOGGED_IN` constant?

[code]

[2019-06-26 19:29] aschempp commented on #370
Not really sure, but sounds like we need to do both?

[2019-06-27 11:43] leofeyer commented on #370
Agreed. Fixed in 6aa4c398c46196d0263dbef55a3ab06811140357 then.

[2019-06-27 11:43] #370 closed, assigned to Toflar, aschempp

[2019-06-27 14:28] leofeyer opened #538 "Re-add password rehashing"
As discussed in #536, password rehashing needs to be re-added in Contao 4.9.

[2019-06-28 07:50] #374 closed, assigned to nobody

[2019-06-28 08:24] leofeyer commented on #326
Pull-Request: #539

[2019-06-28 08:24] #326 closed, assigned to nobody

[2019-06-28 08:27] leofeyer commented on #317
Symfony uses a special data collector, which adds missing translations to the profiler. It currently does not handle Contao translations, which I assume is because it gets the default translator object injected instead of our decorated one.

[2019-06-28 08:30] leofeyer commented on #274
On second though, we should probably not even index words that deceed the minimum length in the first place. So the DB is not bloated with keywords that will never be found.

@contao/developers WDYT?

[2019-06-28 08:32] Toflar commented on #274
Indexing and searching are two separate disciplines so I think we should keep that as is for now.
Might be that you want to have different configurations for different root pages but the index stays the same.

[2019-06-28 10:35] leofeyer commented on #237
Implemented in d95d1cc11a7d4ac4ffab4a9fb1c6d30059f24ba9.

[2019-06-28 10:35] #237 closed, assigned to leofeyer

[2019-06-28 10:44] leofeyer commented on #221
Implemented in 1caf237e78691ed12a823efd8a62f66ae0b9fffd.

[2019-06-28 10:44] #221 closed, assigned to leofeyer

[2019-06-29 13:17] xchs commented on #286
Unfortunately, for some reason, that doesn't seem to work anymore.

To reproduce (in Contao 4.4.40 and Contao 4.7.6):

- Create a file `.public` in the root files directory (i.e. `files/.public`)
- Open the _File manager_ and create a _New folder_
- The _Public_ checkbox is already selected (but grayed out)
- The folder icon still shows the lock indicator
- No symlink is created in `web/files` for

[2019-06-30 11:05] ausi commented on #286
As `files/.public` should not be supported, you have to remove the `.public` file to fix your issue I think.

[2019-06-30 12:46] fritzmg commented on #286
But https://github.com/contao/contao/commit/02bebafb1f233b22e999a45e8bb9c5209e1805c2 should prevent that.

[2019-06-30 15:25] xchs commented on #286
Yeah, I know.

But that's exactly what this ticket here is about, i.e. Contao should actually ignore a `.public` file in the root files directory.

[2019-06-30 16:27] aschempp opened #541 "Frontend link broken in preview.php"
**Affected version(s)**
4.8

**Description**
If the new preview.php endpoint is used, the user is forced to the back end log in page. There's a "To Frontend" link there, but it does not work. It redirects to the root page on the same entry point (`preview.php` again), which forces back to back end login.

[2019-07-01 14:59] aschempp opened #542 "Disable 2FA on password recovery"
Should 2FA be disabled if a user resets his password? Otherwise he can likely still not log in…

[2019-07-01 19:12] leofeyer commented on #542
Very good question. What happens if you request a new password for GitHub or any other service with 2FA enabled?

[2019-07-01 20:48] Toflar commented on #542
https://security.stackexchange.com/questions/30083/if-multi-factor-authentication-is-enabled-how-should-that-affect-self-service-p

[2019-07-02 06:22] aschempp commented on #542
Very good read! As we do not recognize devices, that means a PW reset with 2FA enabled is only ever useful if we have reset/backup codes?

[2019-07-02 06:51] Toflar commented on #542
As long as we do not support recognizing devices, I think that's the case yes. So as of now we don't support resetting the 2FA. We'd also need to implement that for BE users anyway. Imho that's just a new feature on top of the current implementation.

[2019-07-02 07:41] leofeyer commented on #542
I just checked how GitHub handles this. Before I can set a new password, I have to enter a 2FA code.

[2019-07-02 11:00] cmichael-de opened #543 "Icon to open template for editing in warning message"
**Description**
Icon to open template for editing in warning message. For further description please see screenshot below.

![](https://user-images.githubusercontent.com/1192057/60508086-eff9dd00-9cc9-11e9-9319-155d5f8ca9d6.png)

[2019-07-02 11:49] aschempp commented on #317
see https://github.com/contao/contao/pull/544

[2019-07-02 14:04] #317 closed, assigned to nobody

[2019-07-03 07:50] aschempp commented on #542
Btw, I just realized that the 2fa bundle we use actually does support trusted devices (using cookies). It's currently not enabled though.

[2019-07-03 07:55] leofeyer commented on #542
Yes, we are trying to get all this set up in Contao 4.9 (see https://github.com/contao/contao/issues/265#issuecomment-453498815).

[2019-07-03 08:32] leofeyer opened #545 "Define the lightbox size in the image size settings"
In #529, we have added the `tl_layout.lightboxSize` field, which allows us to define an image size for lightbox images. As briefly discussed in Slack, I think that the field does not belong to the page layout and might be better placed in the content element or module where it is used.

![](https://user-images.githubusercontent.com/1192057/60576472-c4382f00-9d7d-11e9-8385-f4ce39825453.png)

[2019-07-03 08:38] fritzmg commented on #545
Hm, but then an editor would need to do define that for _every_ content element, which, I am assuming, will largely be always the same setting.

Sure, you could define a default via your own DCA configuration. But it seems rather cumbersome.

On that note: we frequently have the use case, that consumers always want a default image size for certain section or elements. May be Contao could integrate

[2019-07-03 08:46] Toflar commented on #545
I don't think that really makes sense. It can though but still it should work with some fallback implementation which would be fairly easy to integrate: Provide the option in the content element and if that's not there, fall back to the layout 🤷‍♂

[2019-07-03 08:55] leofeyer commented on #545
Just like they need to define the image size for every content element. I fail to see a difference here.

[2019-07-03 08:59] fritzmg commented on #545
I know - most of our customers never need that though and thus it is always a default image size (or a dynamic one that we programmed). Having the lightbox image size setting for every content element is overkill in my opinion and just adds to this nuisance.

[2019-07-03 09:01] leofeyer opened #546 "Always optimize images even if the dimensions match"
In #529 we have added an option to optimize images even if they do not have to be resized. The option is disabled by default, which means that the original, potentially unoptimized image is used if the dimensions match. While I understand that this maintains the previous behavior, I still think we should enable the option by default. It never makes sense to use unoptimized images, does it?

[2019-07-03 09:03] leofeyer commented on #545
You realize that the field is only visible if the user has checked the "Full-size view" checkbox?

[2019-07-03 09:15] asaage commented on #545
If at all It should be in **Theme->image-sizes** i think.
Maybe we could check for an entry named lightboxSize and use this otherwise fallback to Full-size - so we don't need a select there.

[2019-07-03 09:27] m-vo commented on #545
I think people that want to have more finegrained control over a 'per theme' setting are misusing lightboxes already (UX). :wink:

I second that. That's why I'm using lots of custom elements instead of the system ones so that the element itself can decide which image sizes to pick.

We could also follow such a route (I know this is a way bigger scope than this issue but think about it):

* allow t

[2019-07-03 10:22] leofeyer commented on #441
Implemented in 6b12366f143a87318ca761e004c31b815e9dc0cf.

[2019-07-03 10:22] #441 closed, assigned to leofeyer

[2019-07-03 10:37] leofeyer commented on #541
My initial approach (adding an option to remove the `/preview.php` fragment) was probably wrong. Preview mode can only be enabled if you are logged in, sou should never be able to open the login screen in preview mode, should you?

[2019-07-03 10:42] aschempp commented on #541
Well if you open `/preview.php` you will be redirected to the back end login screen if you do not have a valid JWT token. So that route is totally valid to me…

[2019-07-03 10:52] leofeyer commented on #541
You should be redirected to `/contao/login` though, not to `/preview.php/contao/login`.

[2019-07-03 11:39] ausi commented on #545
I don’t see the use case for setting the lightbox size in a content element. In 99.99% of cases this is not necessary and the 0.01% can easily extend the content element for their own needs. It is also not possible in the content element settings to select which lightbox should get used (colorbox or mediabox).

The look (CSS) and feel (JavaScript) of the lightbox is defined in the page layout and

[2019-07-03 11:40] Toflar commented on #545
I'm with @ausi here.

[2019-07-03 11:42] ausi commented on #546
It does, if your images are already optimized. In this case (re-)processing the image would decrease the quality and might even increase the file size.

[2019-07-03 11:59] leofeyer commented on #545
That's true, the lightbox itself is defined in the page layout. But you can use this one lightbox in many different content elements and define multiple image sizes for the preview images. So why can we only have one fixed size for the full-size images? Makes no sense to me.

[2019-07-03 12:02] leofeyer commented on #546
Good point. However, experience shows that the majority of images will not be optimized, therefore I still think we should enable the option by default.

[2019-07-03 12:18] Toflar commented on #546
There are arguments for both sides which is why it is configurable. I'd leave it as is because it makes sure there are no sudden surprises.

[2019-07-03 12:20] leofeyer commented on #546
@ausi has suggested to enable it for all existing image sizes during the version 4.8 update (BC) but to disable it by default for new image sizes. That sounds like a good compromise to me.

[2019-07-03 12:26] Toflar commented on #546
We can do that too, I'm okay with that.

[2019-07-03 14:00] ausi commented on #546
Then I should probably also invert the default value in [contao/image src/ResizeOptions.php:37](https://github.com/contao/image/blob/5f1c5bea31f9b82886af647a889012f122b1fb3e/src/ResizeOptions.php#L37)

[2019-07-03 14:01] leofeyer commented on #546
Yes please. 👍

[2019-07-03 14:06] ausi commented on #545
Because they should all be “full-size”. Just as they currently are in Contao 4.7.

The lightbox image size would mostly be used to set a maximum width/height, like `[2048, 2048, 'box']` and to configure resize options like the new skipIfDimensionsMatch flag.

[2019-07-03 14:31] leofeyer commented on #541
Fixed in bb6f4cb06f1847a62d84d296f20da62fe47edba1.

[2019-07-03 14:31] #541 closed, assigned to leofeyer

[2019-07-03 14:38] leofeyer commented on #545
There are several legit use cases for using different full-size sizes:

* I want the full-size images of gallery 1 to be 1280x720 (crop) and the ones of gallery 2 to be 1280x1280 (fit the box).
* I have a gallery that is supposed to show only the important parts of its images (thumbnails and full-size images). My other galleries shall render normally.

[2019-07-03 14:58] asaage commented on #545
this should definitely be called different then.
Having it on the content-element-level could be useful.

[2019-07-03 16:46] ausi commented on #545
I never came across any of those use cases in my lifetime so far, and I don’t remember any feature request for such a functionality.

I don’t say that this will never be needed in a single project, but I don’t want to bloat the settings of every content element that has the “Full-size” checkbox, just to support a use case for 0.01% of users.

It would probably be called “Lightbox image size” as yo

[2019-07-03 17:17] ausi commented on #546
Done: https://github.com/contao/image/blob/7de1bea6c17fe8584f1e742dc46bcc5053b06d69/src/ResizeOptions.php#L37

[2019-07-03 18:29] aschempp opened #547 "{{link}} insert tag does not generate CSS class"
The `{{link}}` insert tag generates a `<a href="…">Name</a>` link to the given site. If I enter a CSS class in the back end page settings, I would expect the class to be present in the generated insert tag. The class is also present in navigation modules etc.

[2019-07-03 19:21] aschempp commented on #545
I don't like *Lightbox image size*. It actually is the "full size" or kinda "maximum size". If I don't enable a lightbox, the respective image will be shown in a (new) browser tab.

[2019-07-04 07:56] Samson1964 opened #548 "Neues Element einfügen arbeitet nicht korrekt"
In der COD muß man eine Nachricht öffnen und dort mehrere Elemente einfügen, bis man mehr als 30 hat. Nun geht man auf Seite 2 der Elemente-Anzeige, also Element 31-x. Dort fügt man ein neues Element oben ein. Erwarten würde man jetzt, das das neue Element zwischen 30 und 31 eingefügt wird. Es wird aber vor dem 1. Element eingefügt!

Ob sich dieses etwas widersprüchliche Verhalten auch auf andere

[2019-07-04 08:03] Samson1964 opened #549 "Maximale Frontend-Breite für Bilder"
Die sehr sinnvolle Funktion "Maximale Frontend-Breite" ist in der 4.7 (und wohl auch schon vorher) leider aus System -> Einstellungen verschwunden und muß jetzt per FTP in der localconfig.php direkt geändert werden. Hier hilft wohl vorerst ein Patch, der das Feld wieder der Palette hinzufügt.

Ich hätte jetzt erwartet, das die maximale Frontend-Breite in das Seitenlayout aufgenommen wird, wo es ja

[2019-07-04 08:16] fritzmg commented on #549
Ich denke das wurde übersehen, ja. Sollte in das Seitenlayout wandern.

[2019-07-04 08:28] leofeyer commented on #546
Changed in 0ad6d24830c0dc8a581bff8f411059020945ac59.

[2019-07-04 08:28] #546 closed, assigned to leofeyer

[2019-07-04 08:35] ausi commented on #549
Die maximale Frontend-Breite ist deprecated seit Contao 4.6: https://github.com/contao/contao/blob/0ad6d24830c0dc8a581bff8f411059020945ac59/core-bundle/src/Resources/contao/library/Contao/Controller.php#L1506

[2019-07-04 08:36] fritzmg commented on #549
Achja :grin:

[2019-07-04 08:51] #549 closed, assigned to nobody

[2019-07-04 09:05] paddibr opened #550 "404 page error im Wartungsmodus"
**Affected version(s)**
4.7.6

**Description**
404 Page gibt im Wartungsmodus auf der Rootebene (also z.B. domain.tld/root) einen Skriptfehler aus. Kein Eintrag im Error-log. Auf zweiter Wurzelebene scheint es zu funktionieren.

**How to reproduce**
404 Page, im Wartungsmodus, domain.tld/cannotfound

[2019-07-04 11:28] leofeyer commented on #274
Implemented in a16279bcfb240af64f27c8b519ef4da91731bfba.

[2019-07-04 11:28] #274 closed, assigned to leofeyer

[2019-07-04 12:11] Toflar opened #551 "Session and CSRF cookie not being deleted when logging out"
**Affected version(s)**

4.8

**Description**

When I log out the back end, I'd expect the cookies `SESSIONID` and `csrf_https-contao_csrf_token` cookies to be deleted but they remain valid.

**How to reproduce**

Log in and log back out 😄

[2019-07-04 12:53] leofeyer commented on #551
Isn't this because the session is only being regenerated and not terminated? And the CSRF cookie is probably there for the login form.

[2019-07-04 12:54] Toflar commented on #551
CSRF: No it's there because there is another cookie = probably personal information = needs protection.

But the session cookie should be killed if log myself out.

[2019-07-04 12:55] leofeyer commented on #551
Agreed.

[2019-07-04 13:33] leofeyer commented on #545
As discussed in Mumble on July 4th, we want to keep the lightbox settings in the page layout. Additionally, we want to move the `tl_theme.defaultImageDensities` field to `tl_layout` so we have the default image settings in the same place.

[2019-07-04 14:04] leofeyer commented on #542
As discussed in Mumble on July 4th, we do not want to ask for the 2FA token during password reset. Even if an attacker sets a new password, they will not be able to log in without the 2FA token.

[2019-07-04 14:26] Toflar opened #554 "{{request_token}} still generates an ESI request even if it's not needed"
**Affected version(s)**

4.8

**Description**

When I use `{{request_token}}` it still generates an ESI request even though it's not needed (= same logic as in the CsrfTokenCookieListener). In that case, we can just replace the tag with an empty string.

[2019-07-04 18:53] m-vo commented on #548
Die Anzeigereihenfolge hat mit der im DCA definierten oder vom User eingestellten Sortierung zu tun. Wo ein neues Element angezeigt wird, hängt natürlich auch nur davon ab und nicht von einem frei gewählten Offset.

[2019-07-05 06:44] dmolineus commented on #548
@Samson1964 Geht es um die Nachrichten oder Inhaltselemente? Bei den Inhaltselementen sollte das Problem gehoben worden sein siehe https://github.com/contao/core/issues/7895

[2019-07-05 08:39] Samson1964 commented on #548
Um Inhaltselemente in Nachrichten. Ob das Problem auch bei Inhaltselementen in Artikeln usw. auftritt, habe ich nicht getestet.

@m-vo: "Neues Inhaltselement oben erstellen" heißt für mich oben in der auf der Seite (Pagination) meiner eingestellten Sortierung. Wenn mir die Elemente 61-90 angezeigt werden oder auch 43-48 (kann ja jeder frei wählen), dann ist oben für mich vor dem 61. bzw. 43. Eleme

[2019-07-05 08:45] fritzmg commented on #548
Du kannst ja das Element gleich nach dem 30. Element einfügen.

[2019-07-05 08:49] Samson1964 commented on #548
Dazu müßte ich auf der Seite mit den Elementen 1-30 sein, es unten einfügen und dann wieder zu 31-60 wechseln. Oder ich füge es nach Element 31 ein und schiebe es dann an Position 31. Hätte ich das vorher gewußt, hätte ich es auch so gemacht.

[2019-07-05 09:21] m-vo commented on #548
Jetzt versteh ich was du meinst.

Wie soll es sich deiner Meinung nach verhalten, wenn Elemente gefiltert sind? Wenn also ein Filter die obersten 3 Elemente ausblendet - was bedeutet dann *vor* dem obersten sichtbaren Element? MMn ist "oben einfügen" eher ein Labeling Problem und die Funktion an sich schon richtig.

[2019-07-05 09:36] Samson1964 commented on #548
Mit "oben einfügen" verstehe ich: Oben von dem, was man sieht - also aus menschlicher Sicht. Und nicht von dem, was man nicht sieht - was Computer glauben, wo oben ist.

[2019-07-05 12:11] leofeyer opened #556 "Use the "resname" attribute in .xliff files"
As described in the [Xliff wiki](https://wiki.oasis-open.org/xliff/FAQ#IdvsResname), the original identifier of a text item should be stored in the `resname` attribute of the `<trans-unit>` tag. We are currently (ab)using the `id` attribute, which is why the Contao .xliff files are not compatible with the Symfony translator (see https://github.com/symfony/symfony/issues/12241).

We should adjust o

[2019-07-05 14:18] leofeyer commented on #545
Fixed in ed1d67e8f3a9ffadcfa6c6c51d4cd0bdefdc1446.

[2019-07-05 14:18] #545 closed, assigned to leofeyer

[2019-07-05 16:48] leofeyer opened #557 "Add "webp" to the valid image types"
I think we should re-discuss our decision not to add "webp" to the valid image types by default. The feature will work for the majority of users, so we should not force people to overwrite the `contao.image.valid_extensions` settings – especially because they will have to re-adjust the setting if we change it in the future.

If we really want to hide the options when WEBP is not supported, we shou

[2019-07-06 10:41] ausi commented on #557
Should we use feature detection to add `webp` to the `contao.image.valid_extensions` configuration?

Or should we add `webp` by default and only hide the formats-setting based on feature detection?

[2019-07-06 15:48] richardhj opened #558 "useRawRequestData leads to empty data"
**Affected version(s)**
4.7.x

**Description**
When validating a form, it repeatedly occurs for me, that the password `$varValue` is `null`.
All other form data is present and will be fetched correctly.

The `FormPassword` uses `useRawRequestData`.
https://github.com/contao/contao/blob/a0057c0bbfa8b85912ca7800af42208f82dc4fd2/core-bundle/src/Resources/contao/forms/FormPassword.php#L61-L66

Widgets

[2019-07-08 06:23] leofeyer commented on #557
The latter IMHO. This way the admin can still disable WEBP images completely.

[2019-07-08 07:46] Toflar commented on #557
I agree with @leofeyer. Enabling and disabling explicitly is needed.
Also, the check in the image size should include both. So feature detection but also check if `webp` is present as a valid extension. Otherwise an admin disables `webp` because they explicitly do not want to have support but one can still choose it in the image size settings. That feels strange to me.

[2019-07-08 08:33] leofeyer commented on #557
So how do we detect this feature? 😄

[2019-07-08 09:17] ausi commented on #557
I will create a PR

[2019-07-08 10:13] ausi commented on #557
#560

[2019-07-08 10:37] Toflar commented on #557
Closing in favor of #560

[2019-07-08 10:37] #557 closed, assigned to nobody

[2019-07-08 11:08] Toflar commented on #554
After a brief discussion with @ausi, I think there's actually not much we can do about this because at the time we render the token we don't know for sure if the next request is going to need a token. So the only thing we can do here to optimize this case (if you have 5 forms on the page, we have 5 ESI requests) is to maybe switch to a JS solution. I'll make it a feature and assign it to 4.9.

[2019-07-08 16:06] richardhj commented on #542
Anything up for work? @leofeyer This is the current behavior, isn't it? Otherwise, this ticket can be marked as resolved.

[2019-07-08 16:18] leofeyer commented on #542
I have left it open as a reminder to check again after #363 has been merged.

[2019-07-08 17:13] JLBA opened #563 "Forms generator : Add cancel button CE"
Hello,
As the submit button, there could be a Cancel button/link with a link to a specific page.
Or an option to activate a cancel button next to  the submit one in the same CE.

[2019-07-08 17:24] JLBA opened #564 "Forms generator : content element for personnalized redirect page"
Hello,
When you want to personnalize "well sent and thanks" message, you must create a specific redirect page for each form. We could improve it this way.

In each form, a text field for the personnalized message.
And a CE to display the personnalized message or a default message you write in the CE if no personnalized.

So only one redirect page for all forms.

[2019-07-08 18:33] asaage commented on #563
You can add a form-field type **Explanation** or type **html-code** an paste sth. like ```<input type="reset" value="cancel">``` to reset your field-values or any link to a specific page.

[2019-07-08 19:28] leofeyer commented on #564
Duplicate of #204.

[2019-07-08 19:28] #564 closed, assigned to nobody

[2019-07-08 22:04] JLBA commented on #564
Thanks @leofeyer. Sounds great too.

[2019-07-08 22:06] JLBA commented on #563
Yes @asaage I did it sometimes. But I think it more useful if there is a little CE.

[2019-07-08 22:08] JLBA commented on #204
Finally : some {insert-tags} we can modify the content ?

[2019-07-09 09:16] Toflar commented on #551
It's pretty much super complex 🙈 @aschempp and I worked on a possible solution, let's see what the Symfony folks think about it: https://github.com/symfony/symfony/pull/32455

[2019-07-09 13:30] leofeyer opened #567 "Two-factor front end listener incomplete"
There are two issues with the `TwoFactorFrontendListener` class:

https://github.com/contao/contao/blob/43b4a54e1accf926b24a975019f8b2e6884402f1/core-bundle/src/EventListener/TwoFactorFrontendListener.php#L116

1. `$unauthorizedPage->redirect` is either `permanent` or `temporary`. @bytehead I assume you meant `autoforward`?

2. If 2FA has been set up and the 401 page has an auto-forward page, the

[2019-07-09 13:39] leofeyer commented on #567
This also seems wrong:

https://github.com/contao/contao/blob/43b4a54e1accf926b24a975019f8b2e6884402f1/core-bundle/src/EventListener/TwoFactorFrontendListener.php#L116-L118

If the 401 page does not forward to another page, we return and **bypass the 2FA check**. Is this intended?

[2019-07-09 13:47] leofeyer commented on #567
@bytehead Can you elaborate on what exactly the `TwoFactorFrontendListener` listener is supposed to do?

[2019-07-09 13:52] bytehead commented on #567
Afaik this is a change from @aschempp - isn't it?

[2019-07-09 13:53] leofeyer commented on #567
And there is an unresolved comment from you regarding these lines:

https://github.com/contao/contao/blob/43b4a54e1accf926b24a975019f8b2e6884402f1/core-bundle/src/EventListener/TwoFactorFrontendListener.php#L72-L74

What about it?

[2019-07-09 13:55] bytehead commented on #567
You can ignore this comment, I didn't get the intended behaviour of @aschempp's change of this.

[2019-07-09 14:02] leofeyer commented on #567
It seems so: 11e2d7dd3b57fbb458d49dcbc79bc3792a1b4f21

I cannot judge if the commit needs to be reverted, though, unless I know what exactly the `TwoFactorFrontendListener` listener is supposed to do. Can you explain?

[2019-07-09 14:03] bytehead commented on #567
as far as I can see - it possibly should be `autoforward` (makes more sense).

[2019-07-09 14:04] aschempp commented on #567
Sorry to say, but the breaking changes are all from @bytehead. I think this one is the problem: https://github.com/contao/contao/pull/363/commits/884db46498fc09254bc55c91ac5c39488be83144#diff-cc3ec0911c6de9447bc74fb5e984923fL113

[2019-07-09 14:05] aschempp commented on #567
but it sure should have been `autoforward`, that's my mistake 🙃

[2019-07-09 14:05] bytehead commented on #567
My change just gets rid of the superfluous `else`.

[2019-07-09 14:09] aschempp commented on #567
The listener does two things:

1. If you are logged in, 2FA is enforced but not configured for your user, it will force redirect you to the 2FA setup page
2. If you are in the 2FA authentication process (username+pw valid but 2FA not given), it will make sure you enter the code and don't navigate away. That's done with two approaches
    - if there is a 401 page, we assume there must be a login mo

[2019-07-09 14:09] aschempp commented on #567
yeah, but now the second process is also taken into account if the user has a `UsernamePasswordToken`

[2019-07-09 14:11] bytehead commented on #567
True that. 🙈

[2019-07-09 14:53] #547 closed, assigned to nobody

[2019-07-09 14:53] leofeyer commented on #547
See #562.

[2019-07-09 15:37] Aybee commented on #441
Thank you very much.

[2019-07-09 16:14] leofeyer opened #569 "Redirect to last page visited is broken"
The idea behind the "redirect to last page visited" feature is that when a visitor opens a protected page without being logged in, they are redirected to the login page and then back to the page they initially wanted to open. However, the error 401 page does not store the referer, so the redirect cannot work.

[2019-07-09 16:32] Toflar commented on #569
Sounds like `login.html?referrer=/en/protected.html` just like in the back end?

[2019-07-09 16:33] leofeyer commented on #567
So this is still a major issue:

https://github.com/contao/contao/blob/29771bad558ff39dc8ad02fc7c52cfcff9539707/core-bundle/src/EventListener/TwoFactorFrontendListener.php#L117-L120

If the error 401 page does not have the "autoforward" option enabled, the 2FA check is bypassed. Here is how you can test it:

1. Use the COD with an error 401 page that has an autofoward page.
2. Set up 2FA for a mem

[2019-07-09 16:41] bytehead commented on #567
Confirmed, I'm on it.

[2019-07-09 17:01] bytehead commented on #567
See #570.

[2019-07-09 19:08] leofeyer commented on #567
Thanks. ❤️

[2019-07-10 08:46] leofeyer commented on #542
Resetting the password with 2FA enabled works as discussed. 👍

[2019-07-10 08:46] #542 closed, assigned to nobody

[2019-07-10 08:48] #567 closed, assigned to bytehead

[2019-07-10 10:02] leofeyer commented on #332
We are planning to integrate [PhotoSwipe](https://photoswipe.com/) in Contao 4.9, because it supports [responsive-images](https://photoswipe.com/documentation/responsive-images.html).

[2019-07-10 13:44] richardhj opened #572 "User groups: relation table instead of serialized value"
**Description**

The member's group memberships are currently persisted as serialized value (`a:1:{i:0;s:1:"1";}`). A relation table should be used instead.

- Introduce `tl_member_to_group` and `tl_user_to_group`.
- Keep `groups` for backwards compatibility
- Implement `MemberModel::findByGroup()`

[2019-07-10 16:51] aschempp commented on #569
Isn't that exactly what the login module does? https://github.com/contao/contao/pull/565

[2019-07-10 19:42] leofeyer commented on #569
No.

[2019-07-10 20:26] aschempp commented on #569
The 401 page does not store the referrer, but the login module on that page does. So if the user submits the login information, the `_target_path` will contain the referrer. And the firewall success handler will redirect back to that page (if the user enabled `redirectBack` in the login module).

[2019-07-10 21:25] k-webdesign opened #573 "Password visibility toggle"
**Description**
Hey ho,

könnten wir beim Login Modul (Backend & Frontend) einen Passwort Toggle einbauen?
Ich find den einfach super praktisch, gerade wenn man sich mobil anmeldet oder ein gespeichertes Passwort kurz mal mit einem Klick überprüfen möchte 👀

Ob das nun ein Auge, der Text "Show" und "Hide" oder eine Checkbox unterhalb des Inputs ist, da bin ich flexibel. Ich denke, das Augen-Icon w

[2019-07-10 21:39] ausi commented on #573
Ich bin mir nicht sicher ob wir das einbauen sollen.

Es gibt bereits Browser die das selbst machen (IE, Edge) sowie Erweiterungen für die restlichen Browser. Diese würden das Auge dann doppelt haben, einmal von Contao und einmal nativ.

Und speziell im Fall des gespeicherten Passworts ist es fraglich ob es aus Security-Sicht richtig ist. Was wenn du z. B. dein mobiles Gerät kurz aus den Augen läs

[2019-07-11 06:15] leofeyer commented on #569
No.

* Open `my-account.html` without being logged in
* You will be redirected to `login.html`
* The `_target_path` will **not** contain `my-account.html`

[2019-07-11 06:21] aschempp commented on #573
Ich sehe das auch eher als Aufgabe des Browsers, und nicht der Applikation. Ich möchte sowas bei mir nie haben, ich verwende einen Passwort-Manager der sich darum kümmert. Wenn dann müsste das Feature manuell aktivierbar sein, aber ich bezweifle dass es dann jemand überhaupt nutzen würde?

[2019-07-11 07:20] aschempp commented on #569
Sounds like https://github.com/contao/contao/pull/565 is not working then?

Did you use 2FA while testing this?

[2019-07-11 07:32] leofeyer commented on #569
#565 relies on the referer being stored in the session, so `$this->getReferer()` can read it. However, due to the early redirect, the referer is never stored in the session.

[2019-07-11 07:53] aschempp commented on #569
The whole `System::getReferer()` method seems related to the back end. I don't know why this was ever used in the front end modules and page. Maybe it would be fixed by simply using `Environment::get('httpReferer')` ?

[2019-07-11 07:55] leofeyer commented on #569
Nope, the referrer management was always BE and FE.

If there are no security implications (however, I think there are), this could solve the problem. @ausi /cc

[2019-07-11 08:10] Toflar commented on #573
Von mir auch 👎 , nicht unsere Aufgabe.

[2019-07-11 08:17] k-webdesign commented on #573
Ok. Es setzt sich auf immer mehr Websites durch, daher mein Gedanke, das auch zu integrieren. Es ist gerade bei langen Passwörtern, Mobilgeräten und zum Abgleich der doppelten Eingabe des PWs bei einer Registrierung hilfreich. Natürlich könnte man das Formular auch abschicken und es eben noch mal eingeben, nur ist das ärgerlich, wenn das durch den Toggle verbessert werden kann.
Und bis das letzten

[2019-07-11 08:40] ausi commented on #573
Aber ein deutlich kleineres. Es ist ein Unterschied ob jemand sich einmalig kurz einloggen kann auf deinem Gerät oder aber das Passwort kennt und sich auf ewig auch von einem anderen PC aus einloggen kann.

Genau das ist der Punkt, der Browser kann für die Anzeige des Passworts extra Sicherheitsvorkehrungen setzen die er für das Ausfüllen des Passworts nicht braucht.

[2019-07-11 09:31] asaage commented on #573
Hab das nicht selbst probiert aber mit ein bisschen JS kann man sich das einfach dazubauen.
Wen's interessiert: https://www.w3schools.com/howto/howto_js_toggle_password.asp
Denke mal, den Toggle nicht unbedingt als Input definieren und dann sollte es gehen.

[2019-07-11 12:59] leofeyer opened #575 "Logout should not remove the preview cookie"
**Affected version(s)**

4.8

**Description**

When logging out of the back end, the `_contao_preview` cookie is removed, so the only way to debug the login page is:

* Log into the back end
* Enable the debug mode
* Manually remove the `PHPSESSID` cookie
* Reload the page

We should not remove the `_contao_preview` cookie if the debug mode is enabled IMHO.

**How to reproduce**

Log into the back

[2019-07-11 14:06] baumannsven commented on #250
@aschempp @leofeyer ?

[2019-07-11 14:55] leofeyer commented on #573
Wo finde ich es denn noch, außer bei Adobe?

[2019-07-11 14:58] leofeyer commented on #572
I doubt that we will be able to change this in a minor version update, but we can certainly discuss it again.

[2019-07-11 15:00] leofeyer commented on #558
@Toflar I think you have implemented this in contao/core-bundle#708. Can you confirm the issue?

[2019-07-11 15:02] leofeyer commented on #550
Auf der Rootebene lassen sich bei mir nur Seiten vom Typ "Startpunkt einer Webseite" anlegen und keine 404er-Seiten. Oder was genau meinst Du mit "Rootebene" und "Wurzelebene"?

[2019-07-11 15:03] leofeyer commented on #531
How do I reproduce this in the [online demo](https://demo.contao.org/contao)?

[2019-07-11 15:08] leofeyer commented on #502
@kikmedia Were you able to resolve your issue?

[2019-07-11 15:10] #446 closed, assigned to nobody

[2019-07-11 15:15] Toflar commented on #558
Well, how does that fragment look like? We have introduced the `forward` renderer for exactly that reason (https://github.com/contao/contao/blob/master/core-bundle/src/Fragment/ForwardFragmentRenderer.php) but if you configure your fragment e.g. to be an ESI fragent you cannot handle POST data by design.

[2019-07-11 15:24] leofeyer commented on #451
I agree that using the contao-node bundle or something similar is the best way to manage reusable content. Still we could improve things here:

1. Use the picker to select the include element and see if we can work around the limitation this way.
2. Otherwise at least allow to include elements of the same parent table, so you can include other news content elements in news and other event content

[2019-07-11 15:25] leofeyer opened #577 "Remove the password option in the install-web-dir command"
By the way, did we drop support for the password argument on `contao:install-web-dir` 😆

_Originally posted by @aschempp in https://github.com/contao/contao/pull/574#issuecomment-510530011_

[2019-07-11 15:34] richardhj commented on #558
You can reproduce the issue in the Contao demo without custom extensions involved as stated above by placing the registration module on a 401 page.

[2019-07-11 15:41] richardhj commented on #572
IMHO we can easily introduce this and keep BC by also keeping the groups column.

IMHO we should also introduce uniqids in Contao 4.9 and can achieve it by keeping track of two simultaneous id columns (stating here as it is the same approach of a progressive enhancement).

[2019-07-11 19:11] leofeyer commented on #496
@arno1979 Is this the same as #383?

[2019-07-12 06:48] zonky2 opened #589 "app_dev in Contao 4.4 bei 1und1 IONOS"
**Affected version(s)**
Contao 4.4

**Description**
Ruft man die Seite mit app_dev.php auf kommt der htaccess-Schutz zum Login - auch bei Eingabe der richtigen Logindaten kommt diese Meldung immer wieder.

**How to fix**
Verwenden der app_dev.php aus dem Branch 4.5 - siehe https://github.com/contao/contao-manager/wiki/1und1-IONOS

[2019-07-12 07:12] leofeyer commented on #535
Fixed in 01ee272987adfdd4e2ea4c36a82c1588f6a508b8.

[2019-07-12 07:12] #535 closed, assigned to leofeyer

[2019-07-12 07:27] aschempp commented on #575
I don't think that's a good idea. The JWT setup is mean to only work if you are logged in to the back end. If you want to debug the login page, we should better implement something like https://github.com/contao/contao/pull/574

[2019-07-12 07:31] aschempp commented on #576
I don't think this will easily work, because the listing module lists only one table, and the respective information is in a related table. I guess your best shot would be to have an extension developed that does what you want. Maybe such a feature could be integrated into the comments module, but I haven't used that for a long time so I can't tell you personally.

[2019-07-12 07:40] aschempp commented on #589
An der Datei hat sich doch nicht (relevantes) geändert?

[2019-07-12 07:42] aschempp commented on #577
Imho depends on https://github.com/contao/contao/pull/574#issuecomment-510466430

[2019-07-12 07:44] zonky2 commented on #589
der Tipp kam von xtra - er meinte, er hätte mal ein Issue/PR ö.ä. gemacht, konnten das gestern aber nicht mehr finden...

... kann ihn nachher nochmal fragen

[2019-07-12 07:44] aschempp commented on #451
The picker sure will be the correct solution. But please implement a universal picker instead of just a content element picker 😂

[2019-07-12 07:47] asaage commented on #576
Not the prettiest solution but i think you could customize the listingTemplate and use ```{{news_title::*}}``` with the ```parent``` field.

[2019-07-12 08:10] asaage commented on #451
I think the 2nd option (to include elements of the same parent table, so you can include other news content elements in news and other event content elements in events etc.) does not provide any improvement.
The picker sounds like the correct solution but in the process of drilling-down to find your desired content element you might get lost - whereas the current solution at least provides some ki

[2019-07-12 08:55] leofeyer commented on #514
Das Captcha ist standardmäßig in einem eigenen Fieldset, daher dürfte das ein theoretischer Fall bleiben. Aber um sicher zu gehen, habe ich ein Prüfung eingebaut, die das Fieldset nicht ausblendet, wenn mehr als ein Kindknoten enthalten ist.

[2019-07-12 09:14] leofeyer commented on #514
Behoben in a9140418efb52e3cf3a05fa6ef9817a14f38a70c.

[2019-07-12 09:14] #514 closed, assigned to leofeyer

[2019-07-12 09:14] leofeyer commented on #575
Agreed.

[2019-07-12 09:24] leofeyer commented on #506
Fixed in 20aac94744211750a7418e6fa78d92acaaa1934d.

[2019-07-12 09:24] #506 closed, assigned to leofeyer

[2019-07-12 09:47] leofeyer commented on #499
Fixed in 279f94c74d820b8717a2e7a7672e67786646563e.

[2019-07-12 09:47] #499 closed, assigned to leofeyer

[2019-07-12 09:55] Aybee commented on #514
Vielen Dank

[2019-07-12 09:57] leofeyer commented on #494
Changed in 95ab03646970fcf06e5d135dadce4ef895028e79.

[2019-07-12 09:57] #494 closed, assigned to leofeyer

[2019-07-12 10:00] leofeyer commented on #488
Since this does not do any harm other than adding one unnecessary redirect, and given that we have switched to the Symfony CMF router in Contao 4.7, I would not fix this at all. Or does the issue occur in Contao 4.7 as well?

@aschempp /cc

[2019-07-12 10:03] arno1979 commented on #496
@leofeyer Honestly: I am not sure. I read through #383 and my best guess that the issues are related and maybe by fixing #383 this will be fixed as well.

[2019-07-12 10:06] leofeyer commented on #473
This is because `tl_page.pageTitle` has the `decodeEntities` flag set and `tl_news.headline` does not.

@contao/developers Any objections against adding the `decodeEntities` flag to the headline fields as well?

[2019-07-12 10:08] gmpf commented on #488
If the redirect is a 301, the visitor gets stuck with a 404 even when the actual page (`foo/baz` in the example) gets re-published, because the redirect to `foo/bar/baz.html` is cached.

[2019-07-12 11:00] leofeyer commented on #451
There once was a PR for that, wasn't it?

[2019-07-12 11:29] leofeyer commented on #406
Backported in e6b8d1475f20951b7b98b9387ef0eebb73425628.

[2019-07-12 11:29] #406 closed, assigned to leofeyer

[2019-07-12 12:12] Toflar commented on #473
Fine for me :)

[2019-07-12 13:24] leofeyer commented on #473
Although – what exactly is wrong with the entities being encoded in the `<title>` attribute? Seems perfectly fine to me.

[2019-07-12 16:09] aschempp commented on #577
see https://github.com/contao/contao/commit/64b055a331755781a0a590f037e677d35a4ef4fe#diff-36267bc77d2718a6fe1d3874ed888294

[2019-07-12 16:09] #577 closed, assigned to nobody

[2019-07-12 23:42] Aybee opened #583 ""Select all" does not work with click on LABEL"
**Affected version(s)**
4.4.40

**Description**
Die Checkbox "Alle auswählen" hat einen `onclick `event. Dieser wird nicht gefeuert, wenn man auf das LABEL klickt.
[code]
Damit es mit LABEL **und** INPUT funktioniert müsste der `onclick` gegen `onchange` ausgetauscht werden.

**How to reproduce**
Mehrere bearbeiten und dann auf das LABEL "Alle auswählen" klicken.

[2019-07-13 14:46] ausi commented on #558
I was able to reproduce the issue as described above.

The master request points to the page to which the POST data was sent (`/members-area.html` in this example), the current request points to the `contao_frontend_login` route (`/_contao/login`).

But I’m not sure if using a registration form on a 401 page is a supported use case?

[2019-07-13 15:22] ausi commented on #473
`tl_news.headline` also gets used in the HTML body where we need the entities to be encoded. Setting `decodeEntities` doesn’t seem to be the right solution here I think.

Encoded entities in the `<title>` seem fine to me too.

[2019-07-15 08:05] thecompix opened #582 "MemoryTokenStorage must not be accessed before it was initialized."
Hey Guys,
i use Contao Version 4.7.6 and i get this error msg:

[2019-07-15 10:01:58] request.CRITICAL: Uncaught PHP Exception LogicException: "MemoryTokenStorage must not be accessed before it was initialized." at /is/htdocs/wp1009504_JLFFFN68HQ/contao-2019/vendor/contao/core-bundle/src/Csrf/MemoryTokenStorage.php line 109 {"exception":"[object] (LogicException(code: 0): MemoryTokenStorage must n

[2019-07-15 09:46] k-webdesign commented on #573
Aus dem Stegreif, mehr müsste ich jetzt auch gezielt nachschlagen:

- Paypal
- Google
- Zooroyal

![jdkbrpTZ](https://user-images.githubusercontent.com/4130440/61207716-18380180-a6f6-11e9-9cf1-418cc9e1e808.png)

![Bildschirmfoto 2019-07-15 um 10 56 33 AM](https://user-images.githubusercontent.com/4130440/61207761-300f8580-a6f6-11e9-8000-8a38802432a7.png)

[2019-07-15 11:59] leofeyer commented on #583
@ausi Can you confirm this?

[2019-07-15 12:03] leofeyer commented on #558
I'm not sure about this, either. Normally the 401 page redirects to the login page.

[2019-07-15 13:14] ausi commented on #583
No, works fine for me in Firefox and Chrome.

[2019-07-15 14:31] Aybee commented on #583
Please check this with page layouts. Sorry, I assumed that this does not work anywhere.

[2019-07-15 15:03] Aybee commented on #583
Scheint mit dem Event auf dem Element `#tl_listing > div.tl_header.click2edit.toggle_select.hover-div` zusammenzuhängen. Stelle gerade fest, dass es auf dem kompletten obigen Element funktioniert, außer dem LABEL.

Könnte hiermit zusammenhängen https://github.com/contao/contao/blob/4.4/core-bundle/src/Resources/contao/themes/flexible/src/hover.js#L66-L73

[2019-07-15 15:23] Aybee commented on #583
Try with this selector, this works for me.
[code]

[2019-07-15 21:06] richardhj commented on #558
401 Unauthorized. The user can log in or register. No?

[2019-07-16 06:52] leofeyer opened #584 "Generate system messages on GET requests only"
Besides my objection I would still vote for applying fc0ddec to restore the former behaviour, because d172351 would just cover session purging.

Messages added by callbacks in custom DCA-configs would still get prematurely consumed upon submits. The current use case I discovered this is a backend palette with two inputs of type `fileUpload` followed by more inputs. The file content is passed to ex

[2019-07-16 07:47] ausi commented on #583
Kannst du das Problem auf demo.contao.org reproduzieren?
Falls ja, beschreib bitte kurz die Schritte die durchzuführen sind damit man den Fehler sieht und welchen Browser und Browser-Version du einsetzt.

[2019-07-16 09:35] leofeyer commented on #507
Behoben in c7e27265d346f6003af1324a00becd6da9528750.

[2019-07-16 09:35] #507 closed, assigned to leofeyer

[2019-07-16 09:50] leofeyer commented on #456
Fixed in a5800915ddedfe7fc16aebb2457e045c99b3b681.

[2019-07-16 09:50] #456 closed, assigned to leofeyer

[2019-07-16 11:26] fritzmg opened #585 "decodeEntities Insert Tag flag removed"
The `decodeEntities` Insert Tag flag was removed for Contao `3.5.16` in this commit: https://github.com/contao/core/commit/f5ad1d00a3a7ea6e382ad1d7cd7589f7d5df35e9#diff-e9b31257c5a1b6da1d5a32af792a67e3L1178 (along with 2 other flags).

Any particular reason why? The commit message doesn't really say.

[2019-07-16 11:35] Acta2000 commented on #585
I tried to use this in a form.

Formfield -> Name = test  ->Type = Select -> Value `"Fachgebiet<br>Fachbereich"`
Used the select value on the redirect page with {{post::test}}

Output: `Fachgebiet<br>Fachbereich `
What i like to have:
Fachgebiet
Fachbereich

Debugger says: `&lt;br&#62; `

decodeEntities doesnt work anymore.

[2019-07-16 12:37] leofeyer commented on #585
Because it is a potential security risk. Think about replacing the `<br>` with `<script>` in @Acta2000's example.

[2019-07-16 12:53] Acta2000 commented on #585
But first you have to enable HTML tags? Without this no security risk? Is there any solution for my example?

[2019-07-16 13:39] Aybee commented on #583
Nein, dort in der 4.7.5 Demo habe ich das Problem nicht. Nur in all meinen 4.4.x Installationen. Windows mit FF, Chrome, Edge, Opera, IE (alle aktuell). Kann das mal jemand in einer 4.4.40 testen?

Gehe zu den **Layouts**, klicke "Mehrere bearbeiten", dann auf das Label der Checkbox "Alle auswählen" klicken. Wenn man daneben klickt geht es.

[2019-07-16 14:05] zonky2 opened #586 "Manage template files with DBAFS"
**Description**

Would it be possible to manage the template files with DBAFS ?

Currently individual templates are saved with the file name - if you change the template file e.g. for a better differentiation or description, you have to select the template again in the module.

With DBAL an update of the file name would be easier.

[2019-07-16 14:44] leofeyer commented on #473
I wonder why we decode entities in the page title (see https://github.com/contao/contao/issues/473#issuecomment-489173414)?

[2019-07-16 14:47] leofeyer commented on #383
@bennyborn I'm not able to reproduce the issue in Contao 4.4.41 and Contao 4.7.7. Can you check again and maybe provide detailed instructions how to reproduce the issue without having to do it between 0:00am and 3:00am. 🤣

[2019-07-16 15:21] leofeyer commented on #437
Changed in 0da382f396195f6b99316e73ecd64067b59528a2.

[2019-07-16 15:21] #437 closed, assigned to leofeyer

[2019-07-16 15:24] Toflar commented on #586
I guess you mean DBAFS (DataBase Aided FileSystem). DBAL stands for DataBaseAbstractionLayer.
That's impossible. Everything in Contao uses a template **name**. With file system support we would need to translate a UUID into a template name which means everywhere where you selected a template (module settings, page layout, content elements and thousands of extensions) we would need to store a UUID

[2019-07-16 15:35] zonky2 commented on #586
right!

... o.k.

[2019-07-16 15:44] bennyborn commented on #383
@leofeyer There is actually no way to reproduce it without having a day change. If you're on a local webserver like "LAMP" you could adjust your system clock to see it happen during daytime 😉

[2019-07-16 15:52] leofeyer commented on #383
What about an event that starts on day one at 10pm and ends on day two at 2pm?

[2019-07-16 15:55] bennyborn commented on #383
Haven't tried that but I guess it would behave the same.
As stated initially it only occurs if the event starts on one day and end on the other.

[2019-07-16 20:32] rburch opened #587 "File manager issue when deleting folders that you are in."
**4.4.40**

**File manager**

Probably not a use case that often happens but, when drilled down into a folder in the file manager, if you delete the folder you are in, Contao doesn't know where to put you when the backend refreshes. It sent me to the backend home page. When I click file manager again it tries to find the folder I was in from cache but is now deleted so I get an execute script time

[2019-07-16 21:29] discordier commented on #589
@aschempp es geht um den Fix in contao/manager-bundle#45:
4.4LTS hat da seit Anbeginn:
https://github.com/contao/manager-bundle/blob/09cf7162d910854b13d062699de8f6cff92b79b1/src/Resources/web/app_dev.php#L47-L50
In 4.5 wurde eingebaut:

https://github.com/contao/manager-bundle/blob/1823de32866b56b454491ccf908722af50b99511/src/Resources/skeleton/web/app_dev.php#L48-L51

Da ~dieser bugfix~ dieses fe

[2019-07-17 05:37] zonky2 commented on #589
dann wäre ein "Backport" für die LTS prima...

[2019-07-17 09:54] leofeyer opened #593 "Remove the "no root page found" exception"
We are throwing a "no root page found" exception in the exception converter listener if there are no root pages. However, based on the exception message, the exception should be thrown if

We are not checking all these requirements here:

https://github.com/contao/contao/blob/2a33cd4e7bb8e6bb9fc2dbb4b81d6124547468b4/core-bundle/src/EventListener/ExceptionConverterListener.php#L130-L141

Of course,

[2019-07-17 09:55] leofeyer commented on #453
Fixed in 2a33cd4e7bb8e6bb9fc2dbb4b81d6124547468b4. I have opened a separate issue regarding the "no root page found" exception: #593

[2019-07-17 09:55] #453 closed, assigned to leofeyer

[2019-07-18 15:35] leofeyer commented on #593
See #596.

[2019-07-18 15:35] #593 closed, assigned to nobody

[2019-07-18 15:47] #575 closed, assigned to nobody

[2019-07-19 13:54] dmolineus opened #598 "Support autocompete attribute on form controls"
**Description**

According the html standard the autocomplete field supports a number of options to map autocomplete data to a form field (https://html.spec.whatwg.org/multipage/form-control-infrastructure.html#autofilling-form-controls:-the-autocomplete-attribute).

It would be nice if

 - forms in modules (registration, comment and so on) would support it
 - form fields in the form generator hav

[2019-07-19 17:14] mlwebworker opened #599 "Overwrite metadata"
Wenn z.B. bei Textelementen die Checkbox "Overwrite meta date" verwendet wird. Müssen alle Metadaten eingetragen werden, die erscheinen sollen. Auch die, die gegenüber den Metadaten in der Dateiverwaltung gar nicht verändert werden sollen. Das führt dann gern zu leeren alt-Attributen, obwohl diese in der Dateiverwaltung gepflegt werden.
Es wäre schön, wenn hier tatsächlich nur die Daten, gepflegt

[2019-07-19 17:40] planepix opened #600 "Add tokens for css grid"
**Description**
Bei einer Website arbeite ich mit CSS Grid. In der Regel mit einem externen Editor.
Ruft man diese CSS-Datei in der Dateiverwaltung auf, werden Eigenschaften von CSS Grid in der Dateiverwaltung markiert mit „Unexpected token” und „Unknown property”.

Kann man das für künftige Versionen ergänzend, so das die Hinweise obsolet werden?

**Example**
![css-grid-backend](https://user-imag

[2019-07-20 10:25] asaage commented on #599
Ich glaube das wurde explizit so gemacht um Felder auch leeren zu können.
Related Issues:
- https://github.com/contao/contao/issues/6369
- https://github.com/contao/contao/issues/6374

[2019-07-20 16:32] mlwebworker commented on #599
Danke für die Info. Dann schauen wir mal, wie das in der Zukunft gelöst wird

[2019-07-22 06:47] gtwone commented on #531
It is not reproduceable in online demo (4.7.7) but in contao 4.4.40

[2019-07-22 07:50] aschempp commented on #488
Shouldn't a 301 cache the redirect location, but not the resulting page?

[2019-07-22 08:21] gmpf commented on #488
Yes, that's what it does, but the location in this scenario is always a page that does not ever exist. Follow the reproduction steps and then do this:

- Re-publish `foo/baz`.
- Call `example.test/foo/baz.html` again.

The result remains the same.

This comes up every now and then when an editor edits a new, unpublished page in the back end, then opens it from there, forgetting to publish it befor

[2019-07-22 14:52] leofeyer commented on #600
Das müsstest Du direkt bei [ajaxorg/ace](https://github.com/ajaxorg/ace) melden. Dort fehlen die Tokens in den CSS rules:

https://github.com/ajaxorg/ace/blob/master/lib/ace/mode/css_highlight_rules.js

[2019-07-22 18:23] Physiklehrer commented on #569
please fix it in 4.4 as well, see https://community.contao.org/de/showthread.php?75086-quot-Zur%C3%BCck-zur-zuletzt-besuchten-Seite-quot-nach-403-401-quot-Zugriff-verweigert-quot&p=504666#post504666

Thanks a lot!

[2019-07-22 19:44] ausi commented on #569
Using `Environment::get('httpReferer')` will not work as expected, because if a redirect happens the browser preserves the referrer of the previous page. For example:

1. You go to `/foobar.html` and klick on a link to `/my-account.html`
2. Browser sends the request to `/my-account.html` with referrer `/foobar.html` and gets a redirect response to `/login.html` back
3. Browser sends the request to

[2019-07-22 20:08] planepix commented on #600
Done: https://github.com/ajaxorg/ace/issues/4025

[2019-07-23 08:14] leofeyer opened #601 "Guided tour for new users"
As further discussed in Slack, we want to replace the pretty error screens, which have been removed in #596, with more user-friendly solutions.

### 1. Forward page not found

We could show a warning in the back end in this case, either above the site structure or directly in it.

<img width="762" alt="" src="https://user-images.githubusercontent.com/1192057/61543445-c9ff6700-aa43-11e9-9dd8-60b52d

[2019-07-23 08:30] fritzmg commented on #601
I like the idea of a guided tour within the back end.

As a side note: @netzarbeiter and I are planning to include a step-by-step guide into the official documentation as well, explaining all the necessary, basic steps that you always have to do, when first setting up a website in Contao, i.e.:

1. create theme
2. create page layout
3. (optional, depending on website) create non-page dependent mod

[2019-07-23 08:33] leofeyer commented on #601
In this case we probably do not need the guided tour at all.

[2019-07-23 08:36] fritzmg commented on #601
I'd still find it neat 😁

[2019-07-23 09:17] leofeyer commented on #383
Please let me know how to reproduce it as soon as you have tried.

[2019-07-23 09:28] leofeyer commented on #498
We are using the Symfony file size check in combination with the localconfig setting:

https://github.com/contao/contao/blob/6742d9ef116a2c2bcc3c150188f8119f501f8cc7/core-bundle/src/Resources/contao/classes/FileUpload.php#L278-L281

And the Symfony check is based on `upload_max_filesize`:

https://github.com/symfony/symfony/blob/2ab152138870b9eead8bed01606605da043f1a14/src/Symfony/Component/HttpFo

[2019-07-23 09:30] #502 closed, assigned to nobody

[2019-07-23 09:35] leofeyer commented on #563
I agree that a "cancel" button, which takes the visitor to another page, can make sense. But I never ever needed an `input type="reset"` button. What is the use case?

[2019-07-23 09:39] leofeyer commented on #573
Jetzt wo ich mal darauf geachtet habe, muss ich feststellen, dass das doch ein verbreitetes Feature ist. Ich stimme daher für das Feature.

[2019-07-23 10:01] leofeyer commented on #582
Please refer to the [forums](https://community.contao.org/en/) or our [Slack channel](https://join.slack.com/t/contao/shared_invite/enQtNjUzMjY4MDU0ODM3LTc0Nzg5ZWJmZTBlNGFjODhlNjIxNTYxMTYzNWYxYTc0ZDQ4OWVjYmVhNDIwOTBjOWIxZDhkMTE2ZTQyMDMyZjc) for this kind of questions. If it turns out to be a bug in Contao, please report back here.

[2019-07-23 10:01] #582 closed, assigned to nobody

[2019-07-23 10:02] leofeyer commented on #585
I don't think so. @ausi /cc

[2019-07-23 10:05] #600 closed, assigned to nobody

[2019-07-23 10:09] Acta2000 commented on #585
Now i used this:

Template decode.html5

[code]

[2019-07-23 10:11] leofeyer commented on #587
What exactly do you mean by "drilled down into a folder"? How can I reproduce this?

[2019-07-23 10:13] leofeyer commented on #586
Related issue: #402 (UUIDs everywhere)

[2019-07-23 10:17] leofeyer commented on #531
This has been fixed in ac6376bb5b882162d6a8559e348187386aac3856 (Contao 4.6) after discussing it in contao/core-bundle#1450. Since we had to add new DCA callbacks, the changes cannot be backported to a bugfix version (new features can only be added in minor or major versions).

[2019-07-23 10:17] #531 closed, assigned to nobody

[2019-07-23 10:21] leofeyer commented on #585
You really should not! You are making the website vulnerable to XSS attacks this way.

Imagine if someone enters `<script>alert("XSS")</script>` into the `bereich` field. The code will be executed after the form has been submitted.

[2019-07-23 10:44] Acta2000 commented on #585
"bereich" is a select-field - on a website which only can be used by members.

[2019-07-23 10:45] gtwone commented on #531
Thanks a lot!
Cheers

[2019-07-23 12:13] leofeyer commented on #585
That does not make it any better! First of all, can you really trust all your members? And second of all, what if one of your members is hacked and their account is abused?

[2019-07-23 12:35] rburch commented on #587
Sorry, yes that is a bit confusing. So say I'm in Files/subfolder1/subfolder2. I've pressed the file name of subfolder2 so I only see subfolder2 contents. If from there I delete subfolder2 Contao doesn't know what view to load after it is deleted because where I had navigated to is now gone. Does that make more sense?

[2019-07-23 12:52] leofeyer commented on #587
Yes, now I know what you mean. 👍

[2019-07-23 12:57] Acta2000 commented on #585
You may be right.
So there is no "save" option to use `<br>` tags ?

Whats about the Contao backend option. You have to set allowed HTML-Tags to used it on the website.
If <script> ist not allowed i cant be used in form?

[2019-07-23 12:59] leofeyer commented on #585
There are plenty of ways to execute JavaScript without a `<script>` tag. Think of `<img src="…" onload="alert('XSS')">` for example.

[2019-07-23 16:17] m-vo commented on #585
Well you can safely pipe your output through a string replacement function in the template, just never ever blindly trust any user data (this includes all post data). And if you're at it, you could also use another token; like `[br]` or `\n`.

[2019-07-23 16:47] Acta2000 commented on #585
This Sounds  like an good idea. Using [br] and replacing it wird <br>

M. Vondano <notifications@github.com> schrieb am Di., 23. Juli 2019, 18:17:

[2019-07-23 18:05] Acta2000 commented on #585
`<?php echo str_replace('[br]', '<br>', \Input::post("bereich")); ?>`

This shouldnt be a sercurity risk anymore.

[2019-07-24 03:33] asaage commented on #585
Why not use standard-insert-tags?
**{{br}}** - This tag will be replaced with the HTML ```<br>``` tag (line break).
If it's just for the linebreak you can check if this works - then there is no manual replacing necessary.

[2019-07-24 05:23] Acta2000 commented on #585
Because of the error "Ungültige Auswahl" if you used it in an select field!

[2019-07-24 06:53] aschempp commented on #473
maybe because we use the title in XML sitemap etc. as well? 🤷‍♂

[2019-07-24 07:14] aschempp commented on #589
@discordier kannst du dir erklären warum der Symfony Request den User + Pw nicht korrekt zurück gibt?

[2019-07-24 18:36] discordier commented on #589
Haeh? tut er doch? Genau darum geht es doch...
nur das in 4.4 NIE der request verwendet wird sondern erst ab 4.5.

[2019-07-25 07:18] leofeyer opened #606 "Use an Sqlite DB for cache tags"
Since the number of cache tags is very high in Contao, purging tags can take a long time (see https://github.com/symfony/symfony/issues/32701). We should therefore consider using an Sqlite database to manage the cache tag pool.

@Toflar /cc

[2019-07-25 08:37] netzarbeiter opened #607 "Sicherheitsfrage deaktivieren im Modultyp Registrierung entfernen"
4.8

Im Modultyp «Registrierung» wird in der 4.8 dem Formular der Honeypot hinzugefügt. Deshalb würde ich für diese Version die Einstellung «Sicherheitsfrage deaktivieren» entfernen.

[2019-07-25 09:40] leofeyer commented on #606
Based on Nicolas' explanation [here](https://github.com/symfony/symfony/issues/32701#issuecomment-514944655) and [here](https://github.com/symfony/symfony/issues/26178#issuecomment-365678036), the best thing to improve our situation is to not use the `FilesystemTagAwareAdapter` in the `Psr6Store`.

[2019-07-25 12:14] fritzmg commented on #3387
Es war nur ein quick & dirty PoC. Die nötigen Änderungen wären schon etwas umfangreicher, damit das mit dem automatischen Template Resolving von Contao funktionieren würde beispielsweise. Und dann bleibt immer noch das von @bytehead erwähnte Problem.

(Ich kann mich aber nicht mehr erinnern, wie wir das gehandhabt haben - leider habe ich den Code schon verworfen 😬 @m-vo kannst du dich noch erinner

[2019-07-26 05:41] zonky2 opened #608 "back remove email priority"
Currently, the e-mail priority of extensions like the Notification Center can be set, but this is not passed on by the Contao core. The priority was removed in 2016.
* https://github.com/contao/core/issues/8298
* https://github.com/contao/core/commit/ee4b7f495a7207cb9e30ed7f156ddf0f375eb516

I can't see that the priority setting theme has a devaluation in the spam filters - According to PHPmailer,

[2019-07-26 06:52] fritzmg commented on #608
I think it would be fine to add the priority setting back in and only set it if it's not the default.

[2019-07-26 10:23] Toflar commented on #606
Okay, so here are my findings of today's 3h debugging session:

1. Our initial attempts using the `PdoAdapter` did not work because we did not create the table. The table is automatically created by Symfony if a `TableNotFoundException` is thrown. However, that's a Doctrine specific exception and so it's only the case in Doctrine. If you use native `Pdo` it does not work. You'd need to pass the `C

[2019-07-26 11:06] Toflar commented on #606
Regarding the performance of fetching tag versions: sqlite will definitely be faster. Again, the `TagAwareAdapter` is fetching all tag versions which for the `FilesystemAdapter` means reading n files (so opening an closing n file handles). For the `PdoAdapter` and sqlite it will be just one file where it can fetch all the data from.

[2019-07-26 11:20] Toflar commented on #606
The other question regarding performance optimization is whether or not we should use the `PhpFilesAdapter` instead of the `FilesystemAdapter` for cache **items**. In contrast to the `FilesystemAdapter` it stores the data as PHP value (`var_export()`) rather than serialized (marshalled to be technically correct) thus leveraging opcode.
Also, I think we should increase the purge threshold. So all i

[2019-07-26 12:40] ngdot opened #610 "Searching files for meta informations and own fields"
**Description**
It would be nice if we could search files for meta information and custom fields instead of just the name.

**Example**
Not needed.

[2019-07-26 13:15] leofeyer commented on #606
The code is now running on contao.org.

[2019-07-26 13:52] Toflar commented on #606
PR: https://github.com/contao/contao/pull/611

[2019-07-26 14:11] #606 closed, assigned to nobody

[2019-07-28 06:07] aschempp commented on #607
Wenn die Checkbox aktiv ist, wird der Honeypot aber nicht ausgegeben, oder? Die Sicherheitsfrage ist durch den Honeypot ja nicht weg, sie erscheint weiterhin bei falscher Honeypot-Eingabe.

[2019-07-28 06:13] aschempp commented on #589
Ah, also müssen wir Contao 4.4 um den Symfony Request in der app_dev.php erweitern 😊 👍

[2019-07-28 06:42] aschempp commented on #586
I don't think this is feasible either. Templates are mostly used in Code, and the code must not access the DB for that. The only thing we _could_ do is a mapper for the dropdown menus, but then again I don't see how this should work if a developer moves the file around on the server…

[2019-07-28 06:48] aschempp commented on #563
Which is essentially a link, which can be added with the explanation field type 🤷‍♂

[2019-07-28 06:53] aschempp commented on #498
I'm assuming this issue should be reopened then until the Symfony issue is fixed? Who'll create the Symfony PR?

[2019-07-28 10:07] ausi commented on #607
Ich wäre dafür die „Sicherheitsfrage deaktivieren“ Checkbox zu behalten. Zum einen ist sie ein Hinweis darauf, dass überhaupt eine Sicherheitsfrage angezeigt werden kann und zum anderen kann es sinnvoll sein sie zu deaktivieren wenn man einen anderen Mechanismus zur Spam-Bekämpfung nutzt.

[2019-07-28 10:11] bennyborn commented on #498
Looking into it...

[2019-07-28 19:07] #586 closed, assigned to nobody

[2019-07-28 19:08] #607 closed, assigned to nobody

[2019-07-28 19:09] leofeyer commented on #498
Why? There is nothing to do on our side.

[2019-07-29 06:37] aschempp commented on #498
I thought this is? And have a reference about this issue in Contao until it's fixed in Symfony?

[2019-07-29 13:05] discordier commented on #589
korrekt.

[2019-07-29 18:05] christianbarkowsky opened #614 "New eventsListFetchItems Hook"
**Description**
An eventsListFetchItems hook would be great - similar to the News.

**Example**

* eventsListFetchItems

[2019-07-29 19:17] fritzmg commented on #614
There is already the `getAllEvents` hook, which should be suitable for any case. Events work differently than news because all the events always have to be loaded and generated.

[2019-07-29 20:19] christianbarkowsky commented on #614
I know the Hook and know how it works. But the News solution is more sexy.

[2019-07-29 21:24] bennyborn commented on #573
Käme darauf an wie man es implementiert. Bei unseren Seiten verzichten wir immer auf sämtliche Stylesheets oder JavaScripts aus dem Core da wir unsere Installationen so "schlank" wie möglich halten wollen. Wenn es sich also nur um eine reine JS-Lösung handelt die über das Theme gesteuert wird fände ich es nicht weiter schlimm. Persönlich brauch ich so etwas nicht ^^

[2019-07-29 21:39] bennyborn commented on #155
I second this. Not being able to determine in which exact module we're in (talking about e.g. `nav_default.html5`) can sometimes be a big problem. Had this problem many times and had to solve it by adding a specific CSS class to the module (not very prectical).

[2019-07-30 11:11] leofeyer opened #617 "Custom console breaks deployer"
**Affected version(s)**

4.8.0-RC2

**Description**

The changes from #602 break Deployer and any other script that passes the `--no-debug` flag to <del>Composer</del> the console. So instead of unsetting the option, we should only ignore it.

[2019-07-31 15:59] aschempp commented on #617
We already do ignore the `--no-debug` flag anyway, the intent was to just remove it from the options list. But how is that related to Composer?