[2020-07-06 10:23] fritzmg commented on #1245
My test results for deleting 200 log entries:

* no `open_basedir` set: ~**3.3** seconds
* `open_basedir` set: ~**29.7** seconds
* `open_basedir` set + current `4.9` branch: ~**30.0** seconds
* `open_basedir` set + `DC_Table.php#1571` disabled: ~**27.4** seconds
* `open_basedir` set + [transactions](https://github.com/contao/contao/issues/1245#issuecomment-654174540): ~**25.4** seconds
* `open_bas

[2020-07-06 11:23] m-vo commented on #1245
So the time is spent inside `DataContainer#invalidateCacheTags`, right?

(To improve db performance we could wrap this:
https://github.com/contao/contao/blob/d864d120c96257179f15b35bcb2b8da188b9ec8f/core-bundle/src/Resources/contao/drivers/DC_Table.php#L1617-L1621

with `$this->Database->beginTransaction()` / `$this->Database->commitTransaction()`.)

[2020-07-06 11:38] fritzmg commented on #1245
I have updated my test results (/cc @m-vo). Previous tests were done with profiling in the `dev` environment, these tests were done in the `prod` env, measuing the ttfb in the browser. _Note:_ I did not do averages of multiple runs of each test.

[2020-07-06 12:59] Toflar commented on #1856
Das wäre ein OAuth-Server. Das sehe ich für Contao eh nicht als ein valider Use Case. Als OAuth-Client schon. Dann kann man selber einen separaten OAuth-Server aufsetzen.

[2020-07-06 13:30] math-GH opened #1913 "file manager: webp thumbnail not shown"
**Affected version(s)**

Contao 4.9.3

**Description**
webp pictures cannot shown as thumbnail in file manager.

![grafik](https://user-images.githubusercontent.com/1645099/86597505-21bc1880-bf9c-11ea-87aa-85ffddd05b11.png)

The picture can shown in the full view of the file manager
![grafik](https://user-images.githubusercontent.com/1645099/86598517-875cd480-bf9d-11ea-9d6e-fd99bc9f795c.png)

But

[2020-07-06 14:26] ausi commented on #1913
Please post the html source code of such a WEBP thumbnail.

[2020-07-06 14:52] math-GH commented on #1913
Edit mode

![grafik](https://user-images.githubusercontent.com/1645099/86607025-0f94a700-bfa9-11ea-9211-899e3d9986e6.png)

[2020-07-06 14:55] math-GH commented on #1913
file manager
![grafik](https://user-images.githubusercontent.com/1645099/86607418-8336b400-bfa9-11ea-8df7-da7b8426c36b.png)

file cannot found

![grafik](https://user-images.githubusercontent.com/1645099/86607924-2d164080-bfaa-11ea-8ef2-52705fc831b7.png)

[2020-07-06 15:54] rabauss commented on #1816
Wir haben das über einen Ajax-Callback auf das [x] im Listen-Eintrag gelöst - eigentlich könnte ich das auch mal im Projekt raussuchen und in einem Pull Request anfangen für den Core zu liefern ;-)

EDIT:
Okay ich könnte das wohl wirklich aus unserem Projekt übernehmen, v.a. könnten wir dann dort auch den eigenen Picker ablösen :-) Hierzu aber noch ein paar Fragen zur Namensgebung:
1. Wie würdet i

[2020-07-06 16:13] leofeyer commented on #6356
I guess @aschempp has created the functional test case as a child class of `WebTestCase` so we can use `$this->createClient()`.

I doubt that there is a huge difference between extending `WebTestCase` without using the `createClient()` method and extending `KernelTestCase`. Did you notice a performance gain?

[2020-07-06 16:50] m-vo commented on #6356
No. It just felt wrong. :slightly_smiling_face:

btw.: Now I migrated all new functional tests to unit tests anyway, so maybe we want to postpone this until there is a use case again.

[2020-07-06 20:48] aschempp commented on #6356
If your functional test is not a `WebTestCase`, its not a functional test 😉

[2020-07-06 21:16] m-vo commented on #6356
That's by no means my definition of a functional test. :man_shrugging:  But I'm fine if we call those tests 'functional tests' in the Contao ecosystem.

Thinking about it again it would still be nice if I could use the fixture loading in my 3rd party code extending from other base classes.

[2020-07-07 06:15] theDyingMountain commented on #1856
@Toflar Danke für die Erklärung. Ja die Möglichkeit als OAuth-Client wäre für meine Zwecke dann ausreichend.

[2020-07-07 07:55] ausi commented on #1913
Which browser and browser version are you using?
What happens if you open *assets/images/2/header-8ecd4f77.webp* directly in the browser, does the network-tab show an error 500 then?

[2020-07-08 13:47] #1804 closed, assigned to nobody

[2020-07-09 11:07] rabauss opened #1925 "Add missing translation for Czechia in cs-CZ"
**Affected version(s)**

Contao 4.4 and Contao 4.9

**Description**

The cs-CZ translation for `CNT.cz` is missing - see:
https://github.com/contao/contao/blob/4.4/core-bundle/src/Resources/contao/languages/cs/countries.xlf#L224

Should be replaced by:
[code]

[2020-07-09 12:59] #1851 closed, assigned to bytehead

[2020-07-09 17:48] xprojects-de commented on #962
Hallo zusammen,

**kurzes Feedback:**
Nach Update auf 4.9.4 funktioniert alles wunderbar (auch bei ALL-Inkl! :-)) Nun ist keine Erhöhung des PHP-Limits mehr von Nöten (siehe Fix in https://github.com/contao/contao/pull/1840 )

Danke an das Core-Team!

Grüße

[2020-07-10 06:36] ausi commented on #1804
Why is this issue closed now?

Didn’t we

[2020-07-10 06:59] fritzmg commented on #1804
#1706 is still open

[2020-07-10 13:05] fritzmg opened #1928 "No cache headers in back end responses"
**Affected version(s)**

Contao 4.9

**Description**

In Contao 4.4, any back end request also returned the following headers:

[code]

(`Expires` will always be the current time). In Contao 4.9 however, this is not the case any more. This in itself is not problematic, but it breaks the back end, if someone happens to have

[code]

in their `.htaccess`, since this causes the back end requests to b

[2020-07-10 13:15] Toflar commented on #1928
I don't think this makes sense. We do disallow caching by setting `max-age=0` and `private` but `Expires` takes precedence for BC reasons. That's why browsers correctly take the `Expires` setting in this case.
Adding
[code]

to your `.htaccess` is pretty nonsense anyway. It will also affect the FE caching. Basically it affects everything.
Make sure you get your server settings right - it's a serve

[2020-07-10 13:38] fritzmg commented on #1928
We do? I don't see it in the responses from the back end.

[code]

But since `Expires` takes precedence, it wouldn't matter anyway.

I do agree with that. It's just that the issue is fairly common, so may be this is just an issue of documentation.

[2020-07-10 13:48] Toflar commented on #1928
The back end controller should of course send `max-age: 0`. That should be fixed but not sure this would solve the misconfiguration anyway.

[2020-07-10 13:58] fritzmg commented on #1928
I think we currently do not set any `Cache-Control` header for the back end actually. Not sure why I had `Cache-Control: private` in my example.

[2020-07-10 13:59] Toflar commented on #1928
Because Contao turns all responses with cookies into `private` ones.

[2020-07-10 14:00] fritzmg commented on #1928
Ah yes, but only in `prod` it seems, not in `dev`.

[2020-07-10 15:00] webdecker opened #1929 "Model::createModelFromDbResult beachtet nicht $GLOBALS['TL_MODELS']"
**Affected version(s)**

Contao 4.4 (Contao 4.9?)

**Description**

Von Model::createModelFromDbResult(Database\Result $objResult) wird zurück geliefert:
new static($objResult);

Konsequenterweise müsste m.E. etwas zurück geliefert werden wie:

$strClass = \Model::getClassFromTable(static::$strTable);
return new $strClass($objResult);

Denn sonst nützt es nichts, wenn ich z.B. via $GLOBALS['TL_MOD

[2020-07-10 19:16] math-GH commented on #1913
Firefox 78 (current version), Windows 10

Error 404
![grafik](https://user-images.githubusercontent.com/1645099/87190365-9e2f5e00-c2f2-11ea-9073-73635c764e6b.png)

[2020-07-11 09:25] fritzmg commented on #1527
I have actually observed this as well, as did someone else on Slack and [on the forum](https://community.contao.org/de/showthread.php?76125-wo-befindet-sich-die-error-log-datei). When looking into it, I noticed that the `fingers_crossed` logger is buffering the log entries, i.e. it does not write the log immediately. But I couldn't figure out the exact logic behind it.

[2020-07-11 09:47] ausi commented on #1913
Please update to Contao 4.9.4. This should show a 500 error instead of the 404 and show up in the error log.

[2020-07-11 13:05] math-GH commented on #1913
ok. In Contao 4.9.4 the error code changed to 500.
But it is a technical solution.

The back end GUI shows the same problem: it does not show the webp-image. only the border.

I as user expect: a working thumbnail or no thumbnail (like a pdf file)

[2020-07-11 13:07] ausi commented on #1913
What does the error log say?

[2020-07-11 13:17] math-GH commented on #1913
Which error log?

System log: nothing.

Symphony log:
![grafik](https://user-images.githubusercontent.com/1645099/87224941-8525bc00-c389-11ea-8a5f-4c66ddcd2475.png)

[2020-07-11 13:22] fritzmg commented on #1913
If you use the profiler, you need to show the profile of the request responding with the `500` status. Otherwise you need to look into `var/logs`.

[2020-07-11 13:47] math-GH commented on #1913
[code]

[2020-07-11 14:47] fritzmg commented on #1913
Btw. if you do use the debug mode, you can go into the profiler and then click on "Last 10" in the top left, to get a list of the last 10 profiled requests. There you can select the one with the `500` status and access its stack trace, which you then can post here.

Also, please post error messages etc. in three back ticks, not just one :)

[2020-07-11 15:58] ausi commented on #1913
It looks like something is wrong with your ImageMagick setup.

Please create a php file on your webspace with the following contents (replacing `/xxx/yyy/` with the actual path):

[code]

And post the output here.

[2020-07-11 22:10] math-GH commented on #1913
I put it in test.php.

The results:

[code]

[2020-07-11 22:14] math-GH commented on #1913
Hoster: Alfahosting.

cut out of phpinfo():
![grafik](https://user-images.githubusercontent.com/1645099/87234763-b11a5f00-c3d4-11ea-9b82-0db3fd9f5ecf.png)

[2020-07-11 22:15] math-GH commented on #1913
in "gd" the webp support is enabled

![grafik](https://user-images.githubusercontent.com/1645099/87234782-d73fff00-c3d4-11ea-81d7-4246cdd26210.png)

[2020-07-12 07:32] ausi commented on #1913
So it looks like WEBP is not supported with ImageMagick on your webspace.

In this case you could switch to GD to get WEBP support:

[code]

[2020-07-12 08:56] ausi commented on #1913
I created a pull request #1932 to make it easier in the future to debug such errors.

[2020-07-12 09:24] fritzmg commented on #1517
I think it would be nice to have the same concept as in Magento 2 for example. In Magento you can have multiple Websites, Stores and Store Views (kinda akin to multiple website roots in Contao) and you can override the stored database configuration via `config.php` and `env.php` configuration files. Any overridden config is then read-only in the back end. And then there is also a command `app:conf

[2020-07-12 13:50] hamidpeywasti opened #1933 "Add an option to prevent double submission of forms"
Currently users can submit a form more than once by clicking "Submit button" (in comments or forms) continuously and fast. Hence there was problem with multiple request from a form (i.e. 3 same comments at same time ). So I figure out that it happens in mobile Phones (maybe touch screen!) not desktop.

My instant solution was adding a javascript code to submit button:

`onclick="this.disabled=true

[2020-07-12 16:09] math-GH commented on #1913
In which file do I have to write that configuration?
config/parameters.yaml?

[2020-07-12 16:33] fritzmg commented on #1913
`config/config.yml`

[2020-07-12 16:45] math-GH commented on #1913
Perfect. It works after I refreshed the Symphony cache (in contao manager).

In the same time I asked the support of Alfahosting to enable Webp in ImageMagick (yet waiting for answer)

[2020-07-13 06:06] dmolineus commented on #528
Not stale. gonna provide requested information soon.

[2020-07-13 09:37] Toflar commented on #1929
Du sollst auch nicht `Model::createModelFromDbResult()` aufrufen, sondern eben `FoobarModel::createModelFromDbResult()`.

Du bist für die Wahl des korrekten Models zuständig. Models lassen sich ja auch aus Arrays bilden, die Klasse kann nicht selber entscheiden, was du haben möchtest.

[2020-07-13 11:45] hamidpeywasti commented on #1933
This code simply can prevent submitting a form twice and work for all Contao forms with HTML5 validation.

[code]

[2020-07-13 12:07] ausi commented on #1933
I don’t think we should add such a prevention by default. Double submition has use cases and in cases where it creates an actual problem it has to be prevented on the server side anyways.

See also https://github.com/whatwg/html/issues/5312

[2020-07-13 14:11] fritzmg commented on #1933
Yeah but isn't that something the `Form` class could (optionally) do in that case?

[2020-07-13 19:59] math-GH commented on #1913
Alfahosting will not and does not want change the ImageMagick configs.

[2020-07-14 07:34] xx81 opened #1934 "Contao - Installation-Bundle - Database - Installer vs. MySQL VIEWs"
**Affected version(s)**

Contao 4.4 or Contao 4.9?

**Description**

Hi everybody, this is not mainly a bug, but something that may be occur if you are using MySQL VIEWS for Sharing Tables.

What has happend:
On an Installation there are 2 Contao Installations which sharing specific tables. This is done by a MySQL VIEW, so that both installations have access to the same data.

What is the Problem:

[2020-07-14 07:39] fritzmg commented on #1934
I'd just do this:

[code]

// edit, that won't work, the whole if/else needs to be skipped for a view

[2020-07-14 07:46] xx81 commented on #1934
I made a quick change with a "continue statement" for our installations, so that the Installer runs again ... but this is resulting in the following: the installer tries to create the "missing tables" which exists as a view, so you have to do the database update carefully and deselect the CREATE TABLE statements.

[2020-07-14 08:26] m-vo commented on #1934
possibly related to #1664

So you want to e.g. have `tl_foo` as a read-only table/view that got created outside the application and use it like a regular table.  Do I get your use case right? And is `tl_foo` a DCA/Entity, custom/core?

[2020-07-14 08:29] xx81 commented on #1934
@m-vo Yes you are right ...

In Contao Installation 1 - its a innoDB Table in DB1 so it worked as expected
In Contao Installation 2 - its a VIEW of the Table in Database 1

[2020-07-14 08:33] m-vo commented on #1934
And is the table in question from the core or from your code? (And from a DCA or Entity?)

[2020-07-14 08:43] m-vo commented on #1934
In general I think we could/should support views in the schema diff. That's something that also works if you set up a doctrine entity and later (e.g. for performance reasons) switch out the table for a view.

You would however want to set it up as read-only (`@ORM\Entity(readOnly=true)` and possibly with a private constructor) as a contract to guarantee this *is* actually read-only. We do not have

[2020-07-14 08:45] m-vo commented on #1934
(btw.: if your second installation is just a read-only copy you could also setup a second database user with read rights only and use that with the same database)

[2020-07-14 10:56] xx81 commented on #1934
@m-vo

About your question:
The Table itself is from the DCA ... We created a complete Module and configured / created the table and its fields by the DCA.

Cause we are using the Contao Database-Class/Models we have to use a VIEW so for Contao Core its a "real table".

BTW: Both Contao Installations use CRUD Operations, so there is no need for readonly.

Do u need further information ?

[2020-07-14 12:58] ausi commented on #1913
I think this issue can be closed then. Do you agree @mathContao​?

[2020-07-16 17:55] rburch opened #1939 "Search not working"
**Affected version(s)**
Contao 4.9.3 and 4.9.4

**Description**
I've done about 6 upgrades to Conato 4.9 and I've noticed that none of the searches work anymore. They seem to index when I use the crawler, but none of the pages set to being searchable seem to actually get indexed.

After running it I get:
indextl_search: 0 entries, 48 KiB
tl_search_index: 0 entries, 48 KiB

In the log for the pages

[2020-07-16 20:20] aschempp commented on #1939
Did you adjust the front end template(s) (fe_page)?

[2020-07-16 20:40] rburch commented on #1939
I'm using the default fe_page. Do I have to add something to the template for the search to work?

[2020-07-16 20:48] rburch commented on #1939
Here's the log. Maybe that will help.
[crawl_debug_log.zip](https://github.com/contao/contao/files/4934085/crawl_debug_log.zip)

[2020-07-16 21:12] ausi commented on #1939
The JSON-LD information (from https://github.com/contao/contao/blob/4.9.4/core-bundle/src/Resources/contao/pages/PageRegular.php#L837 ) is missin on your pages.

Are you sure you did not remove the following line from your `fe_page` template? https://github.com/contao/contao/blob/4.9.4/core-bundle/src/Resources/contao/templates/frontend/fe_page.html5#L95

[2020-07-16 22:48] rburch commented on #1939
Yes, I'm sure. It's in there. It's the default template. I just turned mootools on in my page layout and turned on moo accordion to make sure. I'm not the only one who has had this issue I think. It's been on every site for me sense the search crawler switched. 6 or 7 sites.

https://community.contao.org/de/showthread.php?78311-Suchindex-baut-nicht-auf-No-Jason-ID-found-!

[2020-07-17 00:27] rburch commented on #1939
Did a fresh Contao 4.9.4 install and set up a few pages and I'm getting the same issue.
Forwarded to the search indexer. Did not index because of the following reason: No JSON-LD found.

[2020-07-17 05:23] ausi commented on #1939
Please add the following line here: https://github.com/contao/contao/blob/4.9.4/core-bundle/src/Resources/contao/pages/PageRegular.php#L845 and tell us what it outputs.

[code]

[2020-07-17 08:09] #1746 closed, assigned to nobody

[2020-07-17 11:35] leofeyer opened #1940 "Use generics in the Model classes"
Right now, we are using inline `@var` comments to make PHPStan understand the return value of a model collection. E.g. here:

https://github.com/contao/contao/blob/d4adea42691cde07f813ed3099f6dd13a3740ad7/core-bundle/src/Routing/RouteProvider.php#L493-L494

As discussed in https://github.com/contao/contao/pull/1924#discussion_r455825192, we could improve this with generics, however, we first have

[2020-07-17 12:19] m-vo commented on #1940
On a sidenote: we might also want to discuss if we want to settle on `phpstan-` or `psalm-` prefixed `@var`/`@return`/`@param` annotations.

Because (as of now) just replacing the existing annotations with generic/complex ones would degrade most IDE's type inference capabilities.

[2020-07-17 12:24] rburch commented on #1939
string(24) "[[TL_JQUERY]][[TL_BODY]]" NULL
https://gsssi.brightcloudstudioserver.com/

[2020-07-17 12:47] fritzmg commented on #1939
Are you using a theme or extensions? If yes, which ones?

[2020-07-17 12:49] fritzmg commented on #1939
Ah, I already see the problem. You are using the following extension: https://github.com/asconsulting/zyppy_popup

This extension replaces Contao's own regular page type with a new page type - which in turn causes this information to be missing (may be amongst other things). This needs to be fixed in the extension.

[2020-07-17 12:55] rburch commented on #1939
Wow, thank you so much! I removed that extension and it seems to be working. That was a great help.

[2020-07-17 16:19] leofeyer commented on #1889
Regarding the last step – namely making Contao itself compatible with Symfony 5.1 – I have begun a PR in #1941. I am therefore closing this ticket now.

[2020-07-17 16:19] #1889 closed, assigned to nobody

[2020-07-17 20:34] math-GH commented on #1913
yes. Thank you for your help

[2020-07-18 06:31] #1913 closed, assigned to nobody

[2020-07-18 09:36] #1550 closed, assigned to nobody

[2020-07-18 20:22] webdecker commented on #1929
Hallo,

bitte noch mal genauer anschauen und dann wieder aufmachen... ;-)

Kurz gesagt, es ist m.E. ein Bug im Core, der verhindert, dass ich  `$GLOBALS['TL_MODELS']['tl_news']` sinnvoll nutzen kann.

Es geht nicht darum, dass **ICH** `Model::createModelFromDbResult` aufrufe, sondern dass **Contao** es tut.

Konkret:

Contao `ModuleNewsReader `ruft `\NewsModel::findPublishedByParentAndIdOrAlias()`

[2020-07-19 08:11] fritzmg commented on #1929
I do find it inconsistent, that `Model::findBy` (which calls `Model::createFromDbResult`) and `Model::findOneBy` (which calls `Model::createModelFromDbResult` return _different_ model instances. I agree that `Model::createModelFromDbResult` should also consider the registered model type, just like `Model::createFromDbResult` does. However, I suppose this isn't something we can fix in Contao 4 for

[2020-07-19 08:36] fritzmg commented on #1929
It could also be argued, that it is a bug that `Model::findBy` returns a different model instance than the class it is called for. May be `Model::findBy` should in fact not consider `TL_MODELS`. I think the primary use case of registering model classes in `TL_MODELS` is to figure out the correct model class when you only have the table name.

But within the newslist or newsreader module for exampl

[2020-07-19 12:25] aschempp commented on #1929
I think the issue would be that the news module(s) do not use the class from the global registry in the first place?

[2020-07-19 15:02] fritzmg commented on #1929
@aschempp they don't do themselves, but the news list module will return instances of the registered model, while the newsreader does not. Simply because that's how the model methods `findBy` and `findOneBy` currently work. The former will always return the registered model while the latter will not.

[2020-07-20 06:54] #1939 closed, assigned to nobody

[2020-07-20 09:24] #1404 closed, assigned to nobody

[2020-07-20 12:35] webdecker commented on #1929
Thank you for re-opening and discussing.
Yes, I think as well, it is inconsistent, that findBy and findOneBy (may) return different model classes.
The most consequent solution would be that createModelFromDbResult() respects TL_MODELS - or, as @fritzmg states, that no method except from getClassFromTable() would respect it.
But that would be sad because it is such a cool feature!
I understand that

[2020-07-20 16:03] vasttobi opened #1947 "ContentModule: custom cssID not applied"
Custom cssID is set to ModuleProxy class but gets never applied to the fragment controller. As a quick fix move line 50/51 after line 67. So the custom cssID is directly changed on the ModuleModel like the typePrefix.

https://github.com/contao/contao/blob/f2651755fce858d40d298ec59dab148bb8af166d/core-bundle/src/Resources/contao/elements/ContentModule.php#L50-L77

[2020-07-21 12:02] #862 closed, assigned to nobody

[2020-07-21 13:13] leofeyer opened #1955 "Remaining TODO in the PageUrlListener"
https://github.com/contao/contao/blob/6ddc60d514e14ed4a198cd1c84d3af1621bbf439/core-bundle/src/EventListener/DataContainer/PageUrlListener.php#L263-L266

[2020-07-21 17:12] Funbug commented on #1791
@Toflar
With "migrate it to custom head tags" you mean the update will take care of it, right?

[2020-07-21 19:13] Toflar commented on #1791
It should, yes :)

[2020-07-21 19:30] fritzmg opened #1956 "Array to string conversion error in ScriptHandler::initializeApplication"
**Affected version(s)**

Contao 4.10.0-RC1

**Description**

The execution of the ScriptHandler of the manager-bundle in the Managed Edition is currently broken due to the changes introduced in https://github.com/contao/contao/pull/1917.

The code inspector probably wrongly assumes, that the version of `symfony/process` in use for the ScriptHandler is the one from the Contao dependencies. However,

[2020-07-21 19:37] aschempp commented on #862
FYI this has been closed because in Contao 4.10 the URL prefix can be configured independently of the page language 😎

[2020-07-21 19:39] aschempp commented on #1957
@leofeyer can you either
1. move this to contao/contao
2. assign it to me and 4.11
3. or give us issue access in this repo as well? 😊

[2020-07-22 07:40] fritzmg commented on #1956
Stack Trace:

[code]

This seems to be a pretty interesting case. Obviously the `contao/manager-bundle` requests `"symfony/process": "4.4.*"` in its dependencies. However, since the Composer Phar comes with its own `symfony/process` dependency, it seems to take precedence over the one in `vendor/` then? If that's the case, how can you be sure of any dependencies for composer script handlers?

[2020-07-22 08:13] bytehead opened #1958 "Argument 2 passed to Contao\CoreBundle\EventListener\DataContainer\PageUrlListener::stripPrefixesAndSuffixes() must be of the type string, null given,"
**Affected version(s)**

Contao 4.10-RC1

**Description**

Go to pagetree, edit page and save.
[code]

[2020-07-22 08:16] aschempp commented on #1958
https://github.com/contao/contao/blob/master/core-bundle/src/EventListener/DataContainer/PageUrlListener.php#L259-L267

This happens because prefix/suffix are `null` (not submitted in post data) in legacy mode.

[2020-07-22 14:03] Toflar opened #1959 "contao-merge-cache-control header is exposed"
**Affected version(s)**

4.9?

**Description**

Not a big deal but that info shouldn't be public so we should remove that.

[2020-07-22 15:11] #1958 closed, assigned to aschempp

[2020-07-22 15:17] #1956 closed, assigned to nobody

[2020-07-22 15:25] leofeyer opened #1965 "URL prefix check fails if there are pages without alias"
**Affected version(s)**

Contao 4.10

**Description**

If there are multiple pages without an alias, the URL prefix check fails:

<img width="586" alt="" src="https://user-images.githubusercontent.com/1192057/88195283-26412c00-cc40-11ea-91c9-ef1ed2494266.png">

[2020-07-23 09:00] leofeyer opened #1968 "Preview link does not open FE preview"
**Affected version(s)**

Contao 4.10

**Description**

- Back end home page → Preview → **no preview bar** (and no `preview.php` fragment)
- Site structure → edit page → Preview → preview bar is shown
- Articles → edit article → Preview → preview bar is shown
- Members → Preview front end as member → **no preview bar**

So it seems that the `/contao/preview` route with anything but `?page=` is bro

[2020-07-23 09:30] aschempp commented on #1968
I'm pretty sure that's the same behavior in Contao 4.9 😂 Preview is only if you click the preview in the header. Not any other links…

[2020-07-23 09:39] m-vo commented on #1968
I can reproduce this by clicking exactly this button.

[2020-07-23 09:54] m-vo commented on #1968
This happens because the `PreviewURLConvertListener` won't set the preview URL (because `$request->query->has('page')` is `false`) and therefore the `BackendPreviewController` redirects to `/`.

Edit: It should probably just return this instead, does it?
[code]

[2020-07-23 10:01] richardhj commented on #1968
In my Contao 4.9, it correctly redirects to /preview.php, which is correct. The `BackendPreviewController` defaults to redirecting to the contao_root route.
So I guess it broke in 4.10. @aschempp you deprecated the `contao_root` route, didn't you?

[2020-07-23 10:04] m-vo commented on #1968
@richardhj When is it correct to redirect to `/` here https://github.com/contao/contao/blob/master/core-bundle/src/Controller/BackendPreviewController.php#L93 ?

[2020-07-23 10:05] richardhj commented on #1968
In 4.9 the line looked like this:
[code]

[2020-07-23 13:22] leofeyer commented on #1968
IMHO the bigger issue is that the "open frontend as member …" feature is broken. Not sure whether these two are related?

[2020-07-23 14:25] leofeyer commented on #1968
It seems they are: #1972 🎉

[2020-07-23 14:25] #1968 closed, assigned to nobody

[2020-07-23 16:07] leofeyer opened #1974 "Class property annotations"
While reviewing https://github.com/contao/contao/pull/1973/files#r459559277, I realized that Symfony does not use `@var` annotations for class properties, e.g. here:

https://github.com/symfony/symfony/blob/4.4/src/Symfony/Component/Routing/Annotation/Route.php

What would you prefer for the future? Keeping them as is, switching to PHP 7.4 and using types, or removing them altogether if the type c

[2020-07-23 16:25] m-vo commented on #1974
If we need a general rule, I'd keep them.

1) Variables that aren't set from within the constructor likely cannot be inferred by the IDE.

1) As long as it's statically analyzed for consistency hints at properties add another level of sanity checking: You should define the type when defining the variable. That's the same what you do in function signatures and with typed properties and hopefully so

[2020-07-24 03:52] aschempp commented on #1974
We should either have type annotations or real types on properties. As we do not use PHP 7.4 only, we can't do the later. But as soon as we switch (maybe in 4.11) we can. However, I don't think we should "automatically" rewrite everything. 1: it's not worth the effort and 2: probably error-prone ?

[2020-07-24 05:47] contaoacademy opened #1979 "Beschriftung ändern: "Nach kaputten Links suchen" zu "Nach defekten Links suchen""
**Affected version(s)**
Contao 4.10 RC1

**Description**
Die Beschriftung der Checkbox in der Systemwartung lautet unter Contao 4.9 `Nach defekten Links suchen`.
Unter Contao 4.10 RC1 lautet diese jetzt wieder `Nach kaputten Links suchen`.
Das wurde schon mal geändert, siehe auch: https://github.com/contao/contao/issues/1309#issuecomment-584691187
Außerdem steht während des Crawlvorgangs ebenfalls

[2020-07-24 06:34] leofeyer commented on #1979
Die Sprachdateien werden erst in der RC2 aktualisiert sein (siehe #1977).

[2020-07-24 06:34] #1979 closed, assigned to nobody

[2020-07-24 07:46] oikodomo opened #1981 "Included Element has "inColumn" set to "main" even when both articles are in footer-column"
Version: 4.9.3
Example:
In the ce_text template I var_dump the variable"$this->inColumn" for testing.
Then I created a standard text element in the footer of page A.
After that I create in the article for page B a new element with the  elementtype "include-elements" as a reference to the text element that I created for page A.  On page A "inColumn" is set correctly with the value "footer".
On the

[2020-07-24 08:01] fritzmg commented on #1981
The last parameter is missing here:

https://github.com/contao/contao/blob/737136844176870077d8e8f5f1734e8470c8a0c2/core-bundle/src/Resources/contao/elements/ContentArticle.php#L27

Should probably be

[code]

(or it should be fetched from the article itself?)

But we probably cannot change this due to BC.

[2020-07-24 08:39] oikodomo commented on #1981
I tried it and it works - thank you!

[2020-07-24 09:18] leofeyer commented on #1981
Why do you think so?

[2020-07-24 09:22] fritzmg commented on #1981
Because then suddenly content elements that are included via an `article` content element will have a different column, while they always had `main` previously. May be someone relies on that? Who knows ;).

Also it's not clear to me what the column should actually be. Should it be the column of the _original_ article or should it be the column of the including element? Probably the latter, since t

[2020-07-24 10:07] leofeyer commented on #1901
Der CSS-Editor ist veraltet und wird nicht mehr weiter entwickelt.

<img width="1026" alt="" src="https://user-images.githubusercontent.com/1192057/88381141-1f342e00-cda6-11ea-8f95-6489c19b33c8.png">

[2020-07-24 10:07] #1901 closed, assigned to nobody

[2020-07-24 10:10] leofeyer commented on #1878
Is this a duplicate of #736?

[2020-07-24 10:13] leofeyer commented on #1842
@ausi /cc

[2020-07-24 11:11] minstyle opened #1983 "Interne und externe Weiterleitung zusammenfassen"
Bei der internen Weiterelitung einer Seite wäre es schön, wenn man als Weiterleitungsseite auch auf einzelne Nachrichten-Artikel verlinken könnte.

![image](https://user-images.githubusercontent.com/2649562/88385450-a2f21880-cdae-11ea-8ec9-8ffe2907249c.png)

[2020-07-24 11:22] aschempp commented on #1983
das kannst du doch über die externe Weiterleitung?

[2020-07-24 11:46] oikodomo commented on #1981
IMHO:
My expectation is that if I inlcude an element, I get the content of the _original_ article, but in the environment of the _current_ article -> that would mean the inColumn variable gets the value from wherever the element is implemented, not from the _original_ source/article.
Otherwise this has a great potential to mislead/confuse many, for example by getting "header" as a value of inColum

[2020-07-24 11:54] ausi commented on #1842
The feature would be an image size field in the `tl_news_feed` DCA?
But the image sizes of the content elements in the news article would stay as configured in the content elements?

[2020-07-24 12:03] asaage commented on #1981
Why would a content-element (ce_text) have a *inColumn* property in the first place? That is only of interest for the containing article.

[2020-07-24 12:10] oikodomo commented on #1981
I think it definitly has a right to exist.
This is how we use it:
A standard ce_text has different looks in a design, depeding in which column(header/main/footer) the user creates an element.
And with that knowledge we add the template ce_text in templates and add the condition:
`if($this->inColumn == "footer")
   $this->class .= " [here goes a special css class]";`
with that change you can create

[2020-07-24 12:20] fritzmg commented on #1981
So that you can query in which column the element resides. See the second argument for the `\Contao\ContentElement` constructor.

[2020-07-24 12:21] m-vo commented on #1981
Thinking about includes/insert tags I don't like the fact that this creates a context. But not sure if this is a problem already.

[2020-07-24 12:21] asaage commented on #1981
@PhillipK12 i see...
but if it's only for looks it would be way easier to use css

[code]

[2020-07-24 12:22] fritzmg commented on #1981
It's something you can already do yourself, with the 4th parameter of `\Contao\Controller::getArticle` for example.

[2020-07-24 12:24] oikodomo commented on #1981
You are right with "if it only for looks", but sometimes thats not the case.

[2020-07-24 12:37] minstyle commented on #1983
Ja, das stimmt. Wenn sich allerdings mal der Nachrichtenalias ändern sollte, dann erzeugen alle externen Links einen 404-Fehler.

[2020-07-24 12:38] bytehead commented on #1983
Hab mich auch schon gefragt, warum hier der Newspicker nicht auftaucht?

[2020-07-24 12:43] fritzmg commented on #1983
If you use the link wizard, you will be able to select all sorts of resources. This will then insert an appropriate insert tag. The link will then be always correct, even if you change the news alias.

[2020-07-24 12:56] leofeyer commented on #1842
Since the only purpose of this is to prevent the large source image to be used in the RSS feed, we might as well either

a) use the fallback image size from the page layout or
b) hardcode a reasonable default format for images in RSS feeds.

I doubt that the image size will be different per feed.

[2020-07-24 12:58] minstyle commented on #1983
Geniale Lösung. Ich wusste garnicht das das geht.

Hier meine Lösung:

![image](https://user-images.githubusercontent.com/2649562/88393670-54e51100-cdbe-11ea-976f-05aa883bb1ec.png)

Trotzdem wäre es schön, wenn es an dieser Stelle auch einen Newspicker geben würde, um die Pflege für Redakteure zu erleichtern.

[2020-07-25 08:16] danielkochengineer opened #1989 "DCA: foreignKey and relations doesn't work with showColumns"
**Affected version(s)**

Contao 4.9

**Description**

I am not sure if this is the desired functionality or a bug. If this is the desired functionality, then just let me know.

When I use a _foreignKey_ and a _relation_ like the following in the DCA:

`
'foreignKey'            => 'tl_law_monitoring_users.firstname',
'relation'  => ['type' => 'hasOne', 'load' => 'eagerly'],
`
or a more complicated

[2020-07-25 08:25] fritzmg commented on #1989
Apparently there is a feature to "map" these values: https://de.contaowiki.org/DCA_Field_Mapping - which I didn't even know about (noted for documentation: https://github.com/contao/docs/issues/489).

However, imo it would be nice if the listing also takes the `foreignKey` information into account automatically.

[2020-07-25 08:37] danielkochengineer commented on #1989
@fritzmg Yes, I tried the _DCA Field Mapping_, but it seems to be limited. For example it doesn't work if you want to combine multiple attributes using the mysql function `CONCAT`. Or am I wrong at this point? Is there a way to do that?

[2020-07-25 12:01] fritzmg opened #1993 "Introduce dedicated config variable for legacy routing"
Currently, the legacy routing is automatically enabled, if either the `contao.prepend_locale` or `contao.url_suffix` config is set (no matter what value). This is fine for setups that already use this config - however, in setups where legacy routing is needed, but neither the language parameter in the URL nor a different URL suffix is needed, it seems counter intuitive to have to set either. For t

[2020-07-26 10:20] aschempp commented on #1993
I don't think this will help against the confusion. What if I set `legacy_routing: false` and `prepend_locale: true` 😉

[2020-07-26 11:07] aschempp commented on #1989
If you have special needs for the list view (like combining values), you should use the `label_callback`.

[2020-07-26 11:20] aschempp commented on #1981
Fixing a bug is always a BC break, bit that should be Ok

I think it should be the current column

[2020-07-26 11:34] danielkochengineer commented on #1989
@aschempp Thanks, I tried that and it worked for my needs. Should we close this issue then or does it still make sense to change something here?

[2020-07-26 11:36] fritzmg commented on #1993
This is something we can validate in the `Configuration`.

[2020-07-26 11:54] planepix opened #1994 "Seitengenerierung ohne automatischer Artikelerstellung"
**Affected version(s)**

Contao 4.10-RC2

**Description**

Eine neue 4.9.4 installiert. Dann im Manager auf die 4.10.*@RC umgestellt und das Update auf die 4.10-RC-2 ausgeführt.
Nach der Basiseinrichtung wie Theme, Layout und Seiten fiel mir auf, dass beim Erstellen von Seiten nicht mehr gleichnamige Artikel dazu erstellt werden.

[2020-07-26 12:13] ausi commented on #1994
I can confirm the issue.

I think this can be fixed by changing the line https://github.com/contao/contao/blob/1933140d88d134e0e38a690ea13016c8ed996f16/core-bundle/src/EventListener/DataContainer/ContentCompositionListener.php#L135 to:

[code]

[2020-07-26 12:24] aschempp commented on #1994
In Contao 4.10, articles for the current page are only created if
 1: the page type allows for content composition (= can have articles and content, e.g. a redirect page does not)
 2: the assigned or inherited page layout allows for an article in the module configuration.

If the layout has articles in the `main` section, it will be added to that, otherwise to the first one found in the page layou

[2020-07-26 12:33] xchs commented on #1994
I did that, yes. Doesn't change anything, though.

[2020-07-26 12:33] ausi commented on #1994
@aschempp the issue is that the array cast `(array) $dc->activeRecord` doesn’t work on `Result` objects, see my fix from above.

[2020-07-26 12:38] aschempp opened #1995 "Missing images do not generate 404 page"
**Affected version(s)**

Contao 4.9

**Description**

If I request an image file that does not exist on the server, I get the following in my log: `InvalidArgumentException: "files/example.jpg does not exist" at vendor/contao/image/src/Image.php line 61`

Shouldn't we throw a 404 error instead or convert this somewhere in the deferred image controller?

[2020-07-26 13:09] planepix commented on #1994
@aschempp to the root page

[2020-07-26 14:31] leofeyer commented on #1993
What setups exactly? Because if you just need to enable legacy routing for an extension subscribing to the old hooks, we might be able to check this automatically.

[2020-07-26 15:33] fritzmg commented on #1993
Default ones. Default URL suffix, no language parameter.

I thought we _don't_ want to automatically enable it?

[2020-07-26 15:52] leofeyer commented on #1993
Any why do you need legacy routing in this setup?

[2020-07-26 15:56] fritzmg commented on #1993
Legacy Routing needs to be enabled, if any extension uses the `getPageIdFromUrl` or `getRootPageFromUrl` hook. There is no further distinction.

[2020-07-26 16:43] ausi commented on #1995
How do I reproduce that? In my test the exception got correctly converted to a `NotFoundHttpException` in https://github.com/contao/contao/blob/87cc286a198e04709757a59239e36e91f4215339/core-bundle/src/Controller/ImagesController.php#L65

[2020-07-26 18:19] richardhj commented on #1993
Can't we just enable legacy routing when one of those hooks is present without any configuration? (This is how legacy matching was activated in the improved routing introduced in 4.6 or so)

[2020-07-27 11:31] contaoacademy opened #2006 "Update Matomo Tracking code"
**Affected version(s)**
all

**Description**
Since Matomo 3.14.0 there are minimal changes to the tracking code.
Maybe this should be updated.

See:
https://matomo.org/changelog/matomo-3-14-0/

**OLD**
`var _paq = window._paq || [];`

**NEW**
`var _paq = window._paq = window._paq || [];`

[2020-07-27 14:17] Anke commented on #1785
I just updated a site from 4.8.7 to 4.9.4. with the maintenance mode on. Checking the updated website I saw that some preview pictures were not shown in the Isotope shop. Clicking on one of their placeholders I got the Contao error page. The log file says:

[code]
With the maintenance mode disabled there are no errors. I'm aware that these might be two different issues, but I don't know which migh

[2020-07-27 14:34] fritzmg commented on #1785
@Anke your issue is unrelated. And the error message you posted is unrelated to your issue.

[2020-07-27 19:35] may17 commented on #1793
From the official chromium blog about this Change:

If you run into a scenario where the focus ring is hard to perceive, or if the new focus indicator does not match the design of your site, there are ways to style focus including the new :focus-visible pseudo-class, which provides fine-grained control over when the focus indicator is displayed.

Source: https://blog.chromium.org/2020/03/updates-t

[2020-07-27 19:48] may17 commented on #332
As i mentioned in the slack channel today, @leofeyer successfully updated the tinymce!? Am i right?

What ist the status for the other components?

[2020-07-27 20:24] math-GH opened #2010 "Search engine: forwading page"
**Affected version(s)**

Contao 4.9.3

**Description**
If the forwarding page (Weiterleitungsseite) is empty

![grafik](https://user-images.githubusercontent.com/1645099/88588174-6bf26000-d057-11ea-8fb2-9d50d4d5b6eb.png)

the search engine works fine
https://demo.contao.org/en/search.html?keywords=jones
![grafik](https://user-images.githubusercontent.com/1645099/88588257-8b898880-d057-11ea-9823-e3

[2020-07-27 20:36] fritzmg commented on #2010
That's the intended behaviour.

[2020-07-27 20:55] math-GH commented on #2010
It not a bug - it is a not documented feature?

![grafik](https://user-images.githubusercontent.com/1645099/88591163-3603aa80-d05c-11ea-8261-eb4de969e691.png)
https://docs.contao.org/manual/de/layout/modulverwaltung/website-suche/

[2020-07-28 01:43] Ernestopheles opened #2011 "Memberlist in Backend: Filter für newsletter-recipients"
Feature request:

The member list in the Backend should please show the information, which members subscribed to which newsletters. A filter would do: filter by newsletter-channel.

We need to know this, as we use newsletters for internal (one-way) communication. So if we find anybody not subscribed, we could remind him.

[2020-07-28 06:24] aschempp commented on #1995
The exception seems to be thrown on line 71: https://github.com/contao/contao/blob/87cc286a198e04709757a59239e36e91f4215339/core-bundle/src/Controller/ImagesController.php#L71

[2020-07-28 06:25] aschempp commented on #1995
Probably because the deferred image config file is there, but the source image is not (anymore).

[2020-07-28 06:27] aschempp commented on #1993
This was our first attempt, but the problem is that the system _automatically_ falls into the legacy mode without a user noticing, e.g. after installing an extension. We discussed the topic and agreed that a manual configuration is best.

[2020-07-28 06:27] aschempp commented on #1989
I think it should be closed 😊

[2020-07-28 06:27] #1989 closed, assigned to nobody

[2020-07-28 06:37] fritzmg commented on #2010
See https://github.com/contao/docs/pull/495

[2020-07-28 06:44] #1965 closed, assigned to aschempp

[2020-07-28 08:07] ausi commented on #1995
This is an error than IMO. Why does the config file exist but the source image does not?

I’m not sure if we should remove the config file if we run into this issue. What if the image is only missing temporarily?
Also, if you get this error in your logs, doesn’t that mean that someone still tries to access this image which probably is an actual error?

[2020-07-28 08:17] asaage commented on #2010
So the use-case of this is basically if you only need the search-form of the search-engine and want to display the results on another page? But you would still need a(nother) search-engine without a redirect-page on the page you are being directed to?
That looks a bit wonky... i tend to use a GET-form in this case.

[2020-07-28 08:50] fritzmg commented on #2010
You can do whatever you want of course ;)

[2020-07-28 10:24] leofeyer commented on #1993
Maybe we should re-evaluate? We could automatically enable legacy routing if there are subscribers to the hooks and show a warning in the back end: "You have installed a third-party extension that automatically enables legacy routing!"

Or is there a use-case in which you want to install a third-party extension that requires legacy routing but you still do not want to enable legacy routing?

[2020-07-28 10:39] philvdb opened #2022 "Controller->getContentElement() does not support FragmentControllers"
**Affected version(s)**

Contao 4.9

**Description**

Hey Team,

maybe I am missing something here but I was in the mood to refactor our custom content elements to Fragment Controllers as [shown in the docs](https://docs.contao.org/dev/guides/fragment-controllers/).

I have new content element types within new content element types, so I have been getting/rendering these via `Controller->getConten

[2020-07-28 10:43] fritzmg commented on #2022
What kind of issue happens, when you use `\Contao\Controller::getContentElement`? For any fragment content element Contao also registers a `\Contao\CoreBundle\Fragment\Reference\ContentElementReference\ContentProxy`, which should get rendered within `\Contao\Controller::getContentElement`.

[2020-07-28 10:56] richardhj commented on #1993
In the end, with `contao.legacy_routing` we would introduce a new configuration that is deprecated from the beginning.

👍

[2020-07-28 11:18] hamidpeywasti opened #2023 "A little Typo in language file tl_user_group.xlf"
**Affected version(s)**

Contao ^4.9?

**Description**

The context of tl_user_group.stop.1 seems be wrong. "before" must be "after".

https://github.com/contao/core-bundle/blob/0ec16d785a6f2db4ed1ddc1e52d9324bc9c5ea05/src/Resources/contao/languages/de/tl_user_group.xlf#L41

[2020-07-28 11:52] philvdb commented on #2022
First of all, thank you guys for replying so quickly, I really appreciate having the developers' ear like this.

My current issue is that the model is not available in the content element which from my understanding stems from the fact that the CustomContentElement now has a constructor that expects (and utilizes) no arguments and the `__invoke` method is never used.

From your answer I understand

[2020-07-28 12:09] philvdb commented on #2022
Ooh. The example in the docs was just extending `ModuleNewsList` and there was no mention of `AbstractContentElementController` so I guess I inferred that all ContentElements would be descendants of that ContentElementController, which they're obviously not.

We already had an abstraction of regular Contao elements, an `AbstractTwigContentElement` that uses Twig in the Frontend, but it extends the

[2020-07-28 12:21] philvdb commented on #2022
Okay, I'm not sure whether we are actually going to use the fragments for now as there is a lot of logic dealing with Contao html5 templates, we have switched to Twig for our content elements in the Frontend though.

Thank you again for pushing me in the right direction!

[2020-07-28 12:21] #2022 closed, assigned to nobody

[2020-07-28 13:35] philvdb commented on #2022
By the way it is still not working even though now my `AbstractTwigContentElement` extends `AbstractContentElementController`:

![Bildschirmfoto von 2020-07-28 15-30-44](https://user-images.githubusercontent.com/1567784/88672276-90961880-d0e7-11ea-9a1d-4746f06bfdc1.png)

We are still calling the literal class and not any proxy class within `getContentElement()`.

So I am giving up on Fragments for

[2020-07-28 13:40] fritzmg commented on #2022
I am not really sure what you are trying to do from your description ;)

May be you should seek consultation on the community forum and post your code there.

[2020-07-28 13:43] m-vo commented on #2022
I use Twig exclusively in most of my projects. This *does* play well with the fragment concept. Just ignore the `$template` argument from `getResponse()` and render your Twig template instead.

[2020-07-28 13:49] philvdb commented on #2022
I was excited by the idea of Controller Fragments from the docs and followed the instructions as closely as I could but found the way it was set up in `Controller->getContentElement()` couldn't work. So I thought it was a bug, but I guess it's a feature ;)

It seemed inefficient to me to instantiate the Contao template all the way and then throw it away, so I have overwritten the `__invoke()` func

[2020-07-28 14:02] richardhj opened #2025 "Always try to find the root page getRootPageFromUrl()"
**Affected version(s)**

Contao 4.10

**Description**

When the request attribute does not have a `pageModel`, it should fall back to the legacy logic.

https://github.com/contao/contao/blob/75c4c7b41f8e4843c090953c8c10caa0d8707607/core-bundle/src/Resources/contao/classes/Frontend.php#L320

When you define routes in your application manually, those routes do not have a `pageModel` attached. Contao

[2020-07-28 14:11] fritzmg commented on #2022
I still don't get why you want to call `\Contao\Controller::getContentElement`, you'd need to show an example of what you are trying to do.

You don't have to use the Abstract class, you can do whatever you want within your fragment controller ;). As long as you use the correct interfaces and service tags and return a response, everything is fine :)

[2020-07-28 14:24] philvdb commented on #2022
If you look at the screenshot I posted closely, I'm not even the one calling `getContentElement()` in this instance - `\Contao\ModuleArticle` is. It is the standard way to retrieve a rendered Content Element as far as I know so I was using it in my code as well. But this function fails to render a Fragment Controller, as these (as you know) have to be `__invoke`d, not `__construct`ed and `generate

[2020-07-28 18:36] fritzmg opened #2029 "Cannot create text field with default '' using doctrine schema"
**Affected version(s)**

Contao 4.9.4

**Description**

If you use the following DCA

[code]

and execute

[code]

then resulting SQL will be

[code]

i.e. the definition of the `default` value is ignored. It should have been

[code]

Shouldn't it be possible to define a `default` for _any_ database field this way?

[2020-07-28 19:06] m-vo commented on #2029
A MySQL `text` column cannot have a default value.

See https://dev.mysql.com/doc/refman/5.7/en/data-type-defaults.html

[2020-07-29 05:14] aschempp commented on #2029
You're probably looking for `string` type? 😉

[2020-07-29 07:08] fritzmg commented on #2029
Right 🤦

[2020-07-29 07:08] #2029 closed, assigned to nobody

[2020-07-29 10:09] richardhj commented on #2025
**The underlying questions are:**
How do you add custom routes that do not have a corresponding page model? What other side effects might occur when using custom routes in the front end scope?

[2020-07-29 10:09] aschempp commented on #1993
I don't see why we should discuss this again, it already took like an hour to find the current consent. Legacy routing must be manually enabled, because we want people to _notice_. They must be aware what they are doing, we can't just enable it randomly because it might break all existing pages. If I install an extension that requires legacy routing, I must decide whether it's ok to change all my

[2020-07-29 10:57] leofeyer commented on #1993
Yeah, you are right. Then we should go for the initially suggested solution:

[code]

[2020-07-29 12:14] Anke opened #2033 "Autoresize for backend textareas"
In Contao 4.9.4 I notice that html/code textareas are just one row high, if used without code editor. Is this intended to be that way?

Also, TinyMCE textareas are quite small in height, which is why I'd like to propose to implement the autoresize plugin as a default feature.

Having to resize the editor windows each and every time an editor wants to edit content is making their work harder than n

[2020-07-29 12:16] bytehead commented on #2033
See #2004, will be fixed in 4.9.5.

[2020-07-29 12:20] Anke commented on #2033
That's why I didn't find it under "issues". Thanks.

[2020-07-29 12:20] #2033 closed, assigned to nobody

[2020-07-29 12:37] bennyborn commented on #1993
I disagree. The proposed 4.10 way breaks all existing pages. If I have an existing page with extensions utilizing the `getPageIdFromUrl` or `getRootPageFromUrl` hooks (Isotope anyone?) the installation of 4.10 will fail with an exception which no "non-developer" will be able to understand.

From our own customers I can say that > 90% of all our pages have `url_suffix` nor `prepend_locale` set in a

[2020-07-29 12:41] leofeyer commented on #1925
The missing translation needs to be added on transifex.com and will then be included in the next release.

[2020-07-29 12:41] #1925 closed, assigned to nobody

[2020-07-29 12:52] fritzmg commented on #1993
https://github.com/contao/contao/pull/2016 might make things more clear.

[2020-07-29 13:22] #1141 closed, assigned to nobody

[2020-07-29 13:28] michb commented on #1993
I am mostly confused by the fact that explicitly setting at least one  of `url_suffix` or `prepend_locale` settings to its default value will change the behaviour of  Contao.
For me at most 1 out of 10 installations has the mentioned settings set. As setting the default value explicitly will not change anything.

[2020-07-29 13:30] leofeyer commented on #1330
This one is tricky actually, because we do want to be able to copy recipients into another channel, therefore we cannot set the `notCopyable` flag. Also, we cannot add the `doNotCopy` flag to the `email` field, because then there would be no point in copying recipients anymore.

@contao/developers Any idea how to fix this?

[2020-07-29 13:35] #1723 closed, assigned to nobody

[2020-07-29 14:00] #1811 closed, assigned to nobody

[2020-07-29 14:10] #1887 closed, assigned to nobody

[2020-07-29 14:30] leofeyer commented on #1627
@ausi @bytehead /cc

[2020-07-29 16:08] #1645 closed, assigned to Toflar

[2020-07-29 16:08] #1641 closed, assigned to Toflar

[2020-07-29 16:17] aschempp commented on #1993
Any suggestion for an alternative approach? Explicitly enabling _the new mode_ would be another way, but then new installations would not get that feature by default. It also does not fix the fact that you can install extensions at any time that require to change the mode 🤔

[2020-07-29 16:27] bennyborn commented on #1993
I know the long term solution is to get rid of the Legacy Routing all together but there should be a grace period for developers and users to prepare for this (like all other things that are already marked deprecated for Contao 5).

How about instead of throwing an exception just enable legacy mode automatically, using the new setting as  @leofeyer suggested, if the use of any of these two hooks i

[2020-07-30 09:12] heimseiten commented on #1878
Yes I think so. With rawValue I get the correct value with HTML tags. But because I don't know how to save the value with HTML tags I switched to 'inputType' => 'text'.

[2020-07-30 10:18] leofeyer commented on #1878
Duplicate of #736

[2020-07-30 10:18] #1878 closed, assigned to nobody

[2020-07-30 11:35] leofeyer opened #2043 "debug:router throws "No root page found""
**Affected version(s)**

Contao 4.10

**Description**

[code]

The exception is thrown here:

https://github.com/contao/contao/blob/75c4c7b41f8e4843c090953c8c10caa0d8707607/core-bundle/src/Resources/contao/models/PageModel.php#L1044-L1049

I wonder why `TL_MODE == 'FE'` is true when running `debug:router`?

[2020-07-30 11:37] leofeyer opened #2044 "Return value of RouteProvider::getRouteByName() must be an instance of Route"
**Affected version(s)**

Contao 4.10

**Description**

[code]

This is the output of `debug:router`:

[code]

[2020-07-30 11:47] leofeyer opened #2045 "All routes are registered twice?"
**Affected version(s)**

Contao 4.10

**Description**

[code]

IIRC, there is a redirect route "no locale → locale" for every single page now, which was not the case in Contao 4.9 (routes look like `/{_locale}/content-elements/text-elements{parameters}.html` there). IMHO, we only need the "no locale → locale" redirect for the empty domain. Otherwise we will end up with a large number of routes (nu

[2020-07-30 11:58] aschempp commented on #2043
This should only happen if you have a misconfigured page (not belonging to a root page)?

[2020-07-30 12:03] aschempp commented on #2045
Yes, every page can have multiple routes, depending on your configuration. If you have a url prefix, every route exists again with a redirect if the user does not enter the language. Thats how `www.contao.org/partners.html` will/might redirect you to `www.contao.org/de/partners.html`. Every root/index page has a route with and without url prefix and/or alias etc.

However, please be aware that the

[2020-07-30 12:05] aschempp commented on #2044
You can't really debug the dynamic routes, as the name is generated from path, and not vise-versa. But I might be able to improve that.

[2020-07-30 12:16] sietsevandreven opened #2046 "Content element selector doesn't let you select elements, only pages and articles"
**Affected version(s)**

Contao 4.9.2

**Description**

The content element selector in backend doesn't let you pick an element. Only lets you pick pages or articles.

[2020-07-30 12:42] fritzmg commented on #2046
The latest version is 4.9.4, did you verify it there?

[2020-07-30 12:48] leofeyer commented on #2043
I do not have such a page. But I have added `dump($this->title);` in line 1047 and here is the output:

[code]

The exception is only thrown the second time the "Text elements" page is processed. Does this help?

[2020-07-30 12:52] sietsevandreven commented on #2046
The problem is a bit different in 4.9.4. In some cases the content element selector opens a popup backend. I then can browse the backend like normal, but unable to select a content ekement. In other cases the popup shows all elelments in the article I placed the content element selector in. Getting out of that article is no option.

[2020-07-30 13:35] leofeyer commented on #1993
As discussed in Mumble on July 30th, we want to enable legacy routing by default. If you want to use the new routing (with URL prefix and suffix per root page), you have to set `contao.legacy_routing: false`.

[2020-07-30 13:38] leofeyer commented on #1981
As discussed in Mumble on July 30th, the is a bugfix and therefore ok.

[2020-07-30 14:01] leofeyer commented on #1955
As discussed in Mumble on July 30th, this is a known limitation that we currently cannot fix. However, we can improve the routine by checking if the POST data exists:

[code]

[2020-07-30 14:08] leofeyer commented on #1933
As discussed in Mumble on July 30th, the double submission should be prevented server-side and it should be disabled by default.

[2020-07-30 14:22] leofeyer commented on #1929
As discussed in Mumble on July 30th, we want to adjust the `Model::createModelFromDbResult()` method and replace `return new static($objResult)` with

[code]

[2020-07-30 14:45] leofeyer commented on #1873
As discussed in Mumble in July 30th, we could change the delimiter based on the page language.

[2020-07-30 14:47] #2045 closed, assigned to aschempp

[2020-07-30 14:59] leofeyer commented on #1852
Wie am 30. Juli auf Mumble besprochen, wollen wir das Deaktivieren der Backup-Codes ermöglichen.

[2020-07-30 15:06] leofeyer opened #2047 "Store 2FA backup codes hashed"
To increase the 2FA security, we could hash the 2FA backup codes and store the hashes in the DB. This would imply that backup codes are only visible once and can only be regenerated when lost.

Related: #1852

[2020-07-30 15:08] leofeyer commented on #1764
As discussed in Mumble on July 30th, this is the intended behavior. We will adjust the documentation to clarify.

[2020-07-30 15:08] #1764 closed, assigned to nobody

[2020-07-30 15:11] leofeyer commented on #1758
As discussed in Mumble on July 30th, we want to use `default` and `global`.

[2020-07-31 07:31] fritzmg commented on #203
I still think that _getting rid_ of the back end settings (or a version of it) is _not_ something we should pursue. Yes, of course it makes sense to move some settings to other places (like discussed above) or move them to the bundle configuration.

But as a whole, I still think it makes sense from a UX _and_ DX perspective to have some sort of general back end settings.

Take the _Valid Slug Char

[2020-07-31 07:33] fritzmg commented on #203
That's not true, the `sessionTimeout` configuration value is still used in Contao 4.5+ to automatically log out users due to inactivity. In order to increase the session timeout, you still have to increase _both_ the session timeout configured in PHP _and_ the one in Contao. The one in Contao has been removed from the back end settings.

[2020-08-01 14:16] math-GH opened #2052 "Update Dropzone: Release 5.7.2"
**Affected version(s)**

Contao 4.9

**Description**

Dropzone 5.7.2 released on July 23rd.

https://github.com/enyo/dropzone/tree/v5.7.2

[2020-08-03 08:31] Aybee opened #2058 "Missing CSS property for pre.sf-dump"
**Affected version(s)**

Seen in 4.9.4

**Description**

There's a Rocksolid theme with this CSS rule.
[code]
This makes the output of `$this->dumpTemplateVars();` unreadable.

Following rule will correct this.
[code]

[2020-08-03 08:38] fritzmg commented on #2058
Not sure this is something that should be fixed in Contao, since neither of these things originate directly from Contao.

[2020-08-03 15:04] leofeyer commented on #1664
See #2049

[2020-08-03 15:04] #1664 closed, assigned to m-vo

[2020-08-03 15:09] leofeyer commented on #2052
The correct repo is here: https://github.com/contao-components/dropzone And it already has version 5.7.2.

[2020-08-03 15:09] #2052 closed, assigned to nobody

[2020-08-03 17:46] aschempp commented on #2044
see https://github.com/contao/contao/pull/2064

[2020-08-03 17:46] #2044 closed, assigned to aschempp

[2020-08-04 04:34] aschempp commented on #1993
see https://github.com/contao/contao/pull/2065

[2020-08-04 04:34] #1993 closed, assigned to aschempp

[2020-08-04 08:04] ausi opened #2067 "Favicon response delete CSRF cookie"
On demo.contao.org the login sometimes results in an `Invalid request token` error.

The error seems to occur when there is a session cookie. In this case the `favicon.ico` response deletes the CSRF cookie which results in the error.

<details>
<summary>Request</summary>

[code]

</details>

<details>
<summary>Response</summary>

[code]

</details>

Related: #1627

[2020-08-04 09:32] #1643 closed, assigned to Toflar

[2020-08-04 09:32] #1644 closed, assigned to Toflar

[2020-08-04 09:44] #1955 closed, assigned to aschempp

[2020-08-04 09:47] #1994 closed, assigned to nobody

[2020-08-04 11:17] bennyborn opened #2070 "Children of unpublished parent page not added to sitemap"
**Affected version(s)**

Tested on 4.9.2, seems to be the same in 4.4

**Description**

If we have a site structure like this
[code]
and all child pages are set to `index, follow` but their parent (subpage) is set to "not published"
they will no be added to the sitemap. This is due to the fact that `Backend::findSearchablePages` follows the site structure tree and only scans for published pages.

[2020-08-04 13:06] ausi commented on #2067
Closed in favor of #2074

[2020-08-04 13:06] #2067 closed, assigned to ausi

[2020-08-04 15:53] #1929 closed, assigned to nobody

[2020-08-04 15:56] #1981 closed, assigned to nobody

[2020-08-04 16:10] leofeyer commented on #1785
@Defcon0 I actually cannot reproduce the issue. Chrome shows a 404 response for the `/favicon.ico` route, however, there are no log entries neither in `var/log` nor in the system log in the back end. Did you modify the logger configuration? Because 404 error are excluded from logging by default:

https://github.com/contao/contao/blob/de2a224239fbfae3cfd85b1aa76383e7e233dfdc/manager-bundle/src/Reso

[2020-08-04 16:19] #1786 closed, assigned to nobody

[2020-08-04 16:30] #1796 closed, assigned to nobody

[2020-08-05 06:48] leofeyer opened #2079 "Use input event instead of keyup in the preview toolbar"
On a side note unrelated to this PR: We probably want to use the [*input* event](https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement/input_event) instead. Afaik *keyup* isn't triggered when pasting for instance.

https://github.com/contao/contao/blob/de2a224239fbfae3cfd85b1aa76383e7e233dfdc/core-bundle/src/Resources/views/Frontend/preview_toolbar_base_js.html.twig#L258

_Originally posted

[2020-08-05 06:49] leofeyer commented on #2079
@ausi @richardhj WDYT?

[2020-08-05 06:55] ausi commented on #2079
👍

[2020-08-05 06:59] leofeyer opened #2080 "Add @phpstan-var to inline phpDoc comments"
See https://github.com/contao/contao/pull/2075#discussion_r465509239

<img width="812" alt="" src="https://user-images.githubusercontent.com/1192057/89381767-f1ca7700-d6f9-11ea-8544-4821da3f7bec.png">

[2020-08-05 07:06] leofeyer commented on #1805
I could not reproduce this in Contao 4.9, either. 🤷🏻‍♂️ @berecont Which Contao version are you using?

[2020-08-05 07:09] Defcon0 commented on #1785
Strange. I only get it in prod mode (contao 4.4.49):

[code]

I didn't change the logger config. Here's my project's config.yml:

[code]

[2020-08-05 07:09] leofeyer commented on #1809
So you did enable the password field but not the username field? What is the use-case here?

[2020-08-05 07:21] richardhj commented on #2079
👍

[2020-08-05 07:24] fritzmg commented on #1785
@leofeyer this is for Contao 4.4, not 4.9. In Contao 4.4, 404 requests are logged.

@Defcon0 please always provide the minimum amount of information required when posting a new ticket.

[2020-08-05 07:25] #1835 closed, assigned to nobody

[2020-08-05 07:25] koertho commented on #1809
@leofeyer A use case would be setting username automatically by email address. Like in our email2username bundle (https://github.com/heimrichhannot/contao-email2username-bundle)

[2020-08-05 07:28] fritzmg commented on #1805
I am able to reproduce this in Contao 4.9.4, Firefox 79.0, Windows 10 x64:

<img src="https://user-images.githubusercontent.com/4970961/89384125-88486980-d6f5-11ea-9745-c4021396e3d2.png" width="326">

[2020-08-05 07:31] fritzmg commented on #1809
@koertho does the problem also occur with https://packagist.org/packages/terminal42/contao-mailusername for example?

[2020-08-05 07:38] berecont commented on #1805
I have just tested 4 installations - all in Contao 4.9.3
I can reproduce the issue in one installation - three of them are OK
all on Firefox 79.0

[2020-08-05 07:44] leofeyer commented on #1959
Can we remove it here or do we need a separate method?

https://github.com/contao/contao/blob/51e84537ccbe8d031c87f0c1bf3e8ecec7117f75/core-bundle/src/EventListener/SubrequestCacheSubscriber.php#L83-L85

[2020-08-05 07:47] #2006 closed, assigned to nobody

[2020-08-05 07:47] Toflar commented on #1959
/cc @aschempp

[2020-08-05 07:48] fritzmg opened #2084 "Language redirect uses 301"
**Affected version(s)**

Contao 4.4 & 4.9

**Description**

In a multi-language setup with

[code]

the redirect from `https://example.org/` to `https://example.org/<LANGUAGE>/` uses a redirect response with a status code of `301`.

However, since the actual response is dependent on the `Accept-Language` request header, shouldn't it be a temporary redirect? Or do we assume that the `Accept-Languag

[2020-08-05 07:50] #2023 closed, assigned to nobody

[2020-08-05 08:27] #1758 closed, assigned to nobody

[2020-08-05 08:38] #1783 closed, assigned to nobody

[2020-08-05 08:42] #1805 closed, assigned to nobody

[2020-08-05 08:58] m-vo commented on #2079
see #2089

[2020-08-05 09:07] m-vo commented on #2080
Btw.: I'm pretty sure PHPStorm will understand the psalm/phpstan annotations in the near future. They announced to support the tools out of the box last month: https://blog.jetbrains.com/phpstorm/2020/07/phpstan-and-psalm-support-coming-to-phpstorm/

[2020-08-05 09:07] #2079 closed, assigned to nobody

[2020-08-05 09:16] koertho commented on #1809
@fritzmg With this extension it works. I will add the fix to our bundle, thanks! But for the core I think there should be at least a check if the post variable is set. Even better would be an event before to evaluate the input variables :grinning: :wink:

[2020-08-05 09:19] fritzmg commented on #1809
And what should happen, if it is not set? Then another exception would need to be thrown anyway. I think it is not necessary to add such a check, since the functionality of the module depends on a username being present.

[2020-08-05 09:29] leofeyer commented on #1809
I think we should skip the "password matches username" check if there is no username.

[2020-08-05 09:32] koertho commented on #1809
@fritzmg Shure, an exception would be better then a warning only visible in dev mode and an always invalid password in prod mode. But @leofeyer's idea sounds also a good idea. Then the bundles are responsible for the match check.

[2020-08-05 09:38] #1809 closed, assigned to nobody

[2020-08-05 11:34] ausi commented on #2084
Yes, I think a temporary redirect is what most websites use.

In this case we should set `Vary: Accept-Language` I think.

[2020-08-05 12:07] ausi commented on #1627
As far as I understand it, the `last_username` only gets removed once a successful login occurs, see https://github.com/symfony/symfony/blob/bfc0351da6c6d3af229228c27910f7f605638230/src/Symfony/Component/Security/Http/Firewall/AbstractAuthenticationListener.php#L205

[2020-08-05 12:09] leofeyer commented on #2084
When I open https://www.apple.de in my browser, I am being redirected to https://www.apple.com/de/ with a 301 status code.

<img width="399" alt="" src="https://user-images.githubusercontent.com/1192057/89411158-3d464a80-d725-11ea-9ae3-c64c62c23023.png">

[2020-08-05 12:10] leofeyer commented on #1627
Thank you for checking. Then this is indeed the intended behavior.

[2020-08-05 12:20] fritzmg commented on #2084
But that's not the same. That's just a redirect from one domain to another.

[2020-08-05 12:23] fritzmg commented on #2084
See this more suitable example where you stay on the same domain:

[code]

In this case microsoft.com redirects according to the client IP.

[2020-08-05 12:27] leofeyer commented on #2084
@Toflar WDYT?

[2020-08-05 12:29] Toflar commented on #2084
Temporary redirects are not stored in cache so the `Vary` header is pointless imho

[2020-08-05 12:33] fritzmg commented on #2084
I think @ausi meant in case the response status stays at `301`, then the response should include `Vary: Accept-Language`.

[2020-08-05 12:51] Toflar commented on #2084
That's correct then. However, I don't really like that because `Accept-Language` can take on arbitrary values, causing the cache to get flooded. That's why it should be a temporary redirect imho.

[2020-08-05 13:35] aschempp commented on #1627
I don't think it is. It obviously has to be removed on a successful login, because it wouldn't be shown in the login screen anymore. But we should also remove it after displaying it to the user - just so the session can be cleaned up as well.

[2020-08-05 13:38] aschempp commented on #2084
I think it should be permanent, but to the client only. So I assume the response is not cacheable?

[2020-08-05 13:43] Toflar commented on #2084
That would be a cacheable `301` and `Cache-Control: private` then :)

[2020-08-05 13:50] leofeyer commented on #1627
I am not sure if we should mess with Symfony's logic here. 🤷🏻‍♂️

[2020-08-05 13:51] aschempp commented on #1627
Symfony is not very consistent with that stuff anyway, believe me I messed with it already 😆

[2020-08-05 13:56] aschempp commented on #1959
I think we can, yes

[2020-08-05 14:19] #1934 closed, assigned to nobody

[2020-08-05 14:25] ausi commented on #2084
mozilla.org uses a `301` with a `vary` header, microsoft uses a `302` without `vary`.

I think both versions are fine but I’d vote for using `302`.

[2020-08-05 14:31] ausi commented on #1627
In this case we could remove it from the session in our existing `ClearSessionDataListener` for GET requests with `200` responses. This should be late enough I think.

[2020-08-05 14:52] aschempp commented on #2058
It should actually be fixed in Symfony the same way we fixed Contao: #1978
@aybee to you want to create a pull request for Symfony or should I do that?

[2020-08-05 14:52] #2058 closed, assigned to nobody

[2020-08-05 16:15] netzarbeiter opened #2099 "URL prefix cannot be removed"
**Affected version(s)**

Contao 4.10.0-RC2

- Set URL prefix and klick save
- Delete the URL prefix and klick save

`Error message: The URL prefix "" is already used by another root page with the same domain name!`

![url-prefix](https://user-images.githubusercontent.com/1942550/89437233-9c1cbb80-d747-11ea-9d1f-6863d4140d38.png)

I only use one root page in my setup.

[2020-08-05 16:16] fritzmg opened #2100 "Change offered redirect statuses for redirect pages to 301, 303, 307"
Currently, internal and external redirect pages offer the following redirect statuses:

* `301`
* `302`

It would make sense to replace `302` with `303` and additionally offer `307`. This way you can better control whether the client should always switch to a `GET` request for the new URL (» `303`) or if the original request type (e.g. `POST`) should be used again (» `307`).

[2020-08-05 18:48] leofeyer commented on #2084
See https://kinsta.com/knowledgebase/307-redirect/

So is `303` without `vary` ok as well?

[2020-08-05 18:58] Toflar commented on #2084
So you'd need to make sure we have `Cache-Control: no-store`.

[2020-08-06 06:12] timgatzky commented on #1706
The backend user rights could use a sortable checkboxWizard instead of the normal checkboxes to also define the positions of each module along to the access rights. The sorting can then be applied with a simpel array_insert method based on the sorting of the widget. Pretty much the way Contao did it before it changed to the strict alphabetically order (now reverted).

The array insert method is ho

[2020-08-06 06:16] zonky2 commented on #1706
@timgatzky
What do we do with the admins who are not in any user group?

What happens if there are several user groups - is the first group the decisive one?

[2020-08-06 06:24] leofeyer commented on #1706
The alphabetical sorting has already been reverted (see #1919), therefore this ticket is no longer relevant.

[2020-08-06 06:24] #1706 closed, assigned to dmolineus

[2020-08-06 06:30] timgatzky commented on #1706
Groups and user rights merge. Admins can be defined on user level.

Big question is. Is anybody really using or even needing this feature in the Contao core?
From the agency point of view: The backend is straight forward and easy enough to explain to new user/editors. There is no need for a custom order of the core modules. Also the whole Contao interface might vary from installation to installati

[2020-08-06 06:41] leofeyer commented on #2084
I lean towards `301` with `vary`, however, the Symfony redirect controller does not provide such an option:

https://github.com/contao/contao/blob/a786424a602615889b7c090de63bd3ecade656a0/core-bundle/src/Routing/RouteProvider.php#L231-L233

It neither provides a `303` with `Cache-Control: no-store` option, so our choices seem to be `'permanent' => false` or adding a custom redirect controller.

[2020-08-06 07:13] ausi commented on #2100
But then we would need to offer a `308` too, right?

I think offering 301 and 303 should be enough. Most users would not understand what “keep the HTTP method” means anyway.

[2020-08-06 07:15] ausi commented on #2099
I think this was already fixed in #2042

[2020-08-06 07:35] leofeyer commented on #2100
Yes.

[2020-08-06 09:11] Aybee commented on #2058
Andreas, das wäre sehr nett, wenn du das machen könntest. Weiß nicht, ob ich da die richtige Stelle finden würde.

[2020-08-06 09:31] leofeyer commented on #2099
@netzarbeiter Does the issue still occur in Contao 4.10.0-RC3?

[2020-08-06 10:17] netzarbeiter commented on #2099
I have disabled the legacy routing and now it works.

Thank you very much.

[2020-08-06 10:17] #2099 closed, assigned to aschempp

[2020-08-06 14:03] bennyborn opened #2108 "Password modules do not respect onload_callback of tl_member"
**Affected version(s)**

Contao 4.4, 4.9, 4.10

**Description**

Both `ModuleRegistration` and `ModulePersonalData` check for onload_callbacks in tl_member since they use fields from the DCA. `ModulePassword` and `ModuleChangePassword` also loads `username` and `email` from the DCA but do not respect any onload_callbacks which imho is an inconsistency.

https://github.com/contao/contao/blob/a4dffd

[2020-08-06 14:10] leofeyer commented on #2108
FYI, `ModuleChangePassword` does not trigger the onload callbacks, either.

[2020-08-06 14:18] #1859 closed, assigned to nobody

[2020-08-06 14:29] #2010 closed, assigned to nobody

[2020-08-06 14:31] leofeyer commented on #2046
How do we reproduce the issue in the [online demo](https://demo.contao.org/contao)?

[2020-08-06 14:37] ghost opened #2109 "TinyMCE funktioniert nach Update 4.10.0-RC2 > 4.10.0-RC3 nicht mehr (Problem 1)"
Nach dem Update 4.10.0-RC2 > 4.10.0-RC3 via Manager funktioniert TinyMCE nicht mehr. Wenn ich es recht gesehen habe, ist mit dem Update auch eine Wechsel TinyMCE4 > TinyMCE5 verbunden. In .../assets steht immer noch der Ordner TinyMCE4. Im BE > Profil ist "Rich Text Editor verwenden" aktiviert. Das Datenbankupdate ist gemacht, ebenso die Systemwartung.

Beim Klick auf "Seitenstruktur" im BE bekam

[2020-08-06 14:54] planepix opened #2111 "Update RC2 to RC3: An exception occurred while executing 'SELECT DISTINCT `type` FROM tl_page WHERE…"
**Affected version(s)**

Contao 4.10. RC3

**Description**

This error occurs after updating RC2 to RC3.
No additional bundle are installed.
PHP 7.4
allinkl

The error ist shown when:
- articles
- page structure
is clicked on the left menu.

3 StackTraces:
**PDOException (1/2)**

[code]

**PDOException (2/2)**
[code]
**SyntaxErrorException**
[code]

[2020-08-06 15:05] aschempp commented on #2111
This should be fixed by https://github.com/contao/contao/pull/2105. Too bad this hasn't made it into RC3. Can you try to delete your user session (go to user profile in top right menu and clear the session data from there)?

[2020-08-06 15:06] asaage commented on #1859
alright...
🤦‍♂️
I still think it's bit weired to present a "Reset Selection" radio-btn - then you can hit "Apply" but then you cannot "Save".

[2020-08-06 15:07] ghost opened #2112 "TinyMCE funktioniert nach Update 4.10.0-RC2 > 4.10.0-RC3 nicht mehr (Problem 2)"
**var/logs:**

[2020-08-06 15:39:02] request.CRITICAL: Uncaught PHP Exception Doctrine\DBAL\Exception\SyntaxErrorException: "An exception occurred while executing 'SELECT DISTINCT `type` FROM tl_page WHERE id IN()': SQLSTATE[42000]: Syntax error or access violation: 1064 You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to u

[2020-08-06 15:07] aschempp commented on #2112
Duplicate of https://github.com/contao/contao/issues/2111

[2020-08-06 15:07] #2112 closed, assigned to nobody

[2020-08-06 15:08] aschempp commented on #2109
see https://github.com/contao/contao/issues/2112

[2020-08-06 15:08] #2109 closed, assigned to nobody

[2020-08-06 15:12] planepix commented on #2111
@aschempp This hint made it. Also editing CE text with TinyMCE works well.

[2020-08-06 15:12] #2111 closed, assigned to nobody

[2020-08-06 15:30] leofeyer opened #2113 "Empty URL in getCandidates()"
The following exception will be thrown if there is a double slash in the URL, e.g. `https://domain.com//`:

https://github.com/contao/contao/blob/a4dffd5495cace44948096d0e9481a32617b4d21/core-bundle/src/Routing/Candidates/AbstractCandidates.php#L88-L90

This causes a lot of useless log entries and/or Sentry notifications, because there is nothing I can do about it. Therefore, can we either

- not

[2020-08-06 15:31] aschempp commented on #2113
well what should happen in that case? Should we show a 404 page (because that route can't exist) or should we redirect or should we threat it as the root page?

[2020-08-06 15:39] leofeyer commented on #2113
Maybe throw a `ResourceNotFoundException` like we do here?

https://github.com/contao/contao/blob/a4dffd5495cace44948096d0e9481a32617b4d21/core-bundle/src/Routing/Enhancer/InputEnhancer.php#L74-L77

[2020-08-06 15:40] aschempp commented on #2113
I'd rather like to know how a normal webserver behaves if you request that URL. Would it serve the index.html ?

[2020-08-06 15:44] leofeyer commented on #2113
That depends on the web server. Apple's server normalizes double slashes: https://www.apple.com//

[2020-08-06 15:44] leofeyer commented on #2113
So does GitHub: https://github.com//contao/contao

[2020-08-06 15:54] aschempp commented on #2113
Thats funny… https://github.com/////contao/contao should we do the same?

[2020-08-06 16:02] leofeyer commented on #2113
Not sure. Right now, we are responding with a 404 status if there is a double slash in the URL, e.g. https://contao.org/de//download.html. I consider this more reasonable that normalizing double slashes.

@contao/developers /cc

[2020-08-06 16:25] fritzmg commented on #2113
Apache normalizes it too: https://docs.contao.org/dev/////getting-started//////

// edit: but I am also in favor of responding with 404 🤷

[2020-08-06 17:09] math-GH opened #2114 "Insertag {{env::request}} + Event full view: &times -> ×"
**Affected version(s)**

Contao 4.9.4

**Description**
If you put the insert tag

`{{env::request}}`

into the template of a event full view module it parse the `&time=` parameter to × (=> `&time;`)

Example:

Page url: domain.tld/details/event-sept-dez-2020.html?day=20200922&times=1600725600,1608245999

result of `{{env::request}}`:

![grafik](https://user-images.githubusercontent.com/1645099/895

[2020-08-07 04:59] contaoacademy opened #2116 "Disable language redirect not working"
**Affected version(s)**
Contao 4.10.x-dev (06.08.2020, 09:09)

**Description**
I'd like to test the new feature "Disable language redirect". But in my configuration it doesn't work as expected.

**Configuration**
Root-Page A:
- URL_prefix: deutsch
- Language: de
- Language fallback: check
- Disable language redirect: empty

Root-Page B:
- URL_prefix: englisch
- Language: en
- Language fallback: em

[2020-08-07 08:00] leofeyer commented on #1785
That does not make sense, either, because in Contao 4.4, we do not have a dynamic route for `/favicon.ico`, hence the request should not be handled by Contao at all.

[2020-08-07 08:05] leofeyer commented on #2113
Ok, so as a first step, we should send a 404 response so the handling of `https://domain.com//` is consistent with the handling of `https://domain.com/de//download.html`. Then, in a second step, we can discuss whether we want to normalize double slashes or not. Agreed?

[2020-08-07 08:17] leofeyer commented on #1760
PR for Contao 4.4: #2117

[2020-08-07 08:22] leofeyer commented on #1760
PR for Contao 4.9: #2118

[2020-08-07 08:43] fritzmg commented on #1785
Any request, that does refer to a physical location, is handled by Contao. And since the resource at `https://example.org/favicon.ico` does not physically exist, the request is handled by PHP, i.e. Contao, due to the `.htaccess` (or nginx) rules. And since Contao will not find a resource/page under this URL, the 404 page is generated and the 404 response is logged.

[2020-08-07 09:14] Seefahrer opened #2119 "Cannot insert url_prefix/suffix in root page"
Affected version: Contao 4.10.0-RC3 only (RC2 is ok).

Despite removing the parameters
`
prepend_locale: false
url_suffix: ''
`

in "/config/config.yml" I cannot insert the corresponding parameters in the websites root-page setup.
The input fields are greyed out with info that I need to disable the legacy routing before I'm allowed to set up any parameter in this respect. Under RC2 it was working

[2020-08-07 09:16] aschempp commented on #2119
Yes, this has been changed in #2065
You need to set the following in your `config.yml`:
[code]

[2020-08-07 09:16] #2119 closed, assigned to nobody

[2020-08-07 09:36] ausi commented on #2114
Does it work with `{{env::request|specialchars}}` ?

[2020-08-07 09:43] math-GH commented on #2114
`{{env::request|specialchars}}` works fine.

![grafik](https://user-images.githubusercontent.com/1645099/89632822-24fc3a00-d8a3-11ea-83a2-b678fe5280f1.png)

[2020-08-07 09:59] math-GH commented on #2114
`$_SERVER['REQUEST_URI'];` does the same result like `{{env::request}}`.

The `&times` (without ";" ) makes more problems: https://stackoverflow.com/questions/16834320/using-times-word-in-html-changes-to-%C3%97

[2020-08-07 10:09] leofeyer commented on #1535
So, after all, I think your workaround is the correct solution.

[code]

Since the value is not actually saved, it would be wrong to tigger the save_callback IMHO. @contao/developers WDYT?

[2020-08-07 10:21] leofeyer commented on #1845
Ich konnte die Schritte anhand Deiner sehr guten Anleitung nachvollziehen, allerdings ist der Fehler bei mir nicht aufgetreten. Kannst Du das Problem in der [Online-Demo](https://demo.contao.org/contao) reproduzieren?

[2020-08-07 10:40] #1905 closed, assigned to nobody

[2020-08-07 10:50] #1959 closed, assigned to nobody

[2020-08-07 12:30] plorenz-etes commented on #1527
I also experience this issue in various installations. While some seem to work fine, others don't write prod log files at all (only in debug mode, dev log files will be written). It is also not dependent on the error code - even 50x error codes don't create log entries. In Contao 4.4 this was working fine.

[2020-08-07 14:30] leofeyer opened #2123 "Exception cannot be caught?"
**Affected version(s)**

Contao 4.9+

**Description**

According to Psalm, the exception in the following two methods cannot be caught, because it does not extend `Exception` or implement `Throwable` (see https://github.com/avalanche123/Imagine/blob/master/src/Exception/Exception.php):

https://github.com/contao/contao/blob/4b882d86b9bc8a74e4c8282bf53254cd5827cebf/core-bundle/src/Image/LegacyResiz

[2020-08-07 14:33] leofeyer commented on #2123
Forgot to mention: You have to set the Psalm error level to `6` to see the error.

[2020-08-07 14:38] fritzmg commented on #2123
`Imagine\Exception\Exception` is an interface that Imagine implements for all its exceptions. Catching exceptions via an interface works:

https://3v4l.org/3H9rn

[2020-08-07 16:48] ausi commented on #2123
Would `/** @var \Throwable&ImagineException $exception */` help?

[2020-08-07 16:50] ausi commented on #2123
We clould also replace the type `\Throwable` for the return value and the parameter in `enhanceImagineException()` to `ImagineException`. The `\RuntimeException` needs to be replaced with a `RuntimeException` from Imagine then.

[2020-08-08 12:31] aschempp commented on #2123
I don't think changing this for a code validation tool is correct. It's correct to catch an interface, therefore `psalm` is wrong here, not our code.

[2020-08-08 16:18] BugBuster1701 opened #2125 "Update RC2 to RC3: An exception occurred while executing 'SELECT DISTINCT `author` FROM tl_article WHERE id IN()'"
**Affected version(s)**

Contao 4.10. RC3

**Description**

This error occurs after updating RC2 to RC3.
PHP 7.4
MySQL 8.0.21

The error ist shown when:

- articles
is clicked on the left menu

Deleting the user session was not successful.

 **PDOException 1:**
[code]

 **PDOException 2**
[code]
**SyntaxErrorException**
[code]

[2020-08-08 17:38] dayceegiordan commented on #2125
Try replacing your opening and closing hypens from ' to " and also : with ;

[2020-08-08 20:36] BugBuster1701 commented on #2125
Huh? The Problem ist `IN()` , not any hyphens. The code output is the trace in debug mode.

[2020-08-08 21:40] math-GH opened #2126 "Template renaming back to original name: error"
**Affected version(s)**

Contao 4.9.4

**Description**

I tried to rename the template "event_list_xx.html5" (on "root" level) back to the origial name "event_list.html5" but I get this error
![grafik](https://user-images.githubusercontent.com/1645099/89720188-e2844b80-d9cf-11ea-82b9-471459d390fc.png)

but there is no another "event_list.html5"
![grafik](https://user-images.githubusercontent.com/1

[2020-08-08 22:13] BugBuster1701 commented on #2125
Same Problem with click on "Site structure":
[code]

[2020-08-08 22:16] math-GH opened #2127 "Module Events: List: Teaser pic (full view = true) opens lightbox"
**Affected version(s)**

Contao 4.9.4

**Description**
pre conditions in backend:
An event with a picture in the teaser.
Full view = checked

Event module: Event list. Template: event_list.html

Frontend:
If you click on the picture it does not open the event nor the picture itself in the lightbox.
It opens the event full view in the lightbox.

Template:
[code]

The same snippet works fine in news

[2020-08-08 22:19] BugBuster1701 commented on #2125
The problem is this commit:
https://github.com/contao/contao/commit/a93f2049fa4bb896f052dc5a0ca1c43933c455a4#diff-e641f7127d9e8499138942f40dceafc3

If I reverse that, it'll work again.

[2020-08-08 23:17] BugBuster1701 commented on #2125
Sorry.
https://github.com/contao/contao/issues/2111
I try the fix shortly. (not yet in 4.10.x-dev)

[2020-08-08 23:17] #2125 closed, assigned to nobody

[2020-08-09 09:02] BugBuster1701 commented on #2125
Fix is ok , tested in 4.10.x-dev
https://github.com/contao/contao/pull/2105

[2020-08-09 21:27] ausi commented on #2123
Fix: #2128

[2020-08-09 21:35] ausi commented on #1535
As far as I understand the issue, it is not about triggering the save_callback but to respect changes from the save_callback on the `name` field in the `tl_files::protectFolder()` method.

We could check if `$dc->activeRecord->name` holds the correct value in this case and use it instead of `Input::post('name')`?

[2020-08-10 07:09] #1760 closed, assigned to nobody

[2020-08-10 07:17] #1775 closed, assigned to nobody

[2020-08-10 07:28] contaoacademy opened #2130 "Exception while using new Feature Expression Syntax"
**Affected version(s)**
Version 4.10.x-dev (06.08.2020)

**Notice:**
I added the extension "Notification Center", maybe this is not a Contao core error.

**Description**
I tested the new feature "Simple Token with Expression Syntax" added by @Toflar
https://github.com/contao/contao/pull/1509

**Setup**
Simple Contao form with 2 numeric fields

Here's my Expression:
[code]

After submitting the for

[2020-08-10 07:32] fritzmg commented on #2130
That's an issue with Contao Haste, not Contao itself. The Notification Center uses `\Haste\Util\StringUtil::recursiveReplaceTokensAndTags` which in turn replaces all intances of `<` and `>` with `HASTE-TAG-OPEN-…` and `HASTE-TAG-CLOSE-…` respectively, before the simple tokens are parsed. Therefore you cannot use such comparisons in the Notification Center currently.

[2020-08-10 07:37] contaoacademy commented on #2130
@fritzmg Thx. Should I close this ticket or should this ticket moved to Haste or Notifification Center?

[2020-08-10 07:39] fritzmg commented on #2130
It needs to be changed within Haste - or Notification Center should stop using `\Haste\Util\StringUtil` (though that's unlikely I guess).

[2020-08-10 07:51] contaoacademy commented on #2130
I closed the ticket and have opened a new one.
https://github.com/codefog/contao-haste/issues/150

[2020-08-10 07:51] #2130 closed, assigned to nobody

[2020-08-10 07:55] contaoacademy opened #2131 "Disable "Disable language redirect" in legacy routing mode"
**Affected version(s)**
Version 4.10.x-dev (06.08.2020)

**Description**
I think the option "Disable language redirect" must be disabled if routing uses the legacy mode.

![screen-20200810_G7O9mE3q@2x](https://user-images.githubusercontent.com/23719181/89761829-90d2e280-daef-11ea-9fe1-218c6e728953.jpg)

[2020-08-10 08:10] ngdot opened #2132 "Cant disable the legacy routing mode"
**Affected version(s)**

4.10.0-RC3

**Description**

Can't disable the legacy routing mode. I don't have `contao.prepend_locale` or `contao.url_suffix` defined in my `config/config.yml`.

With 4.10.0-RC2 it worked fine!

[2020-08-10 08:19] ausi commented on #2132
See https://github.com/contao/contao/issues/2119#issuecomment-670420255

[2020-08-10 08:23] #2132 closed, assigned to nobody

[2020-08-10 08:36] ngdot commented on #2116
Try to remove the prefix from Root-Page A.

[2020-08-10 08:50] #2123 closed, assigned to nobody

[2020-08-10 09:05] aschempp commented on #2131
This technically works in any mode, you can use it to exclude the user from being redirected to certain languages. I think it _could_ still be useful if you want all users to always go to `/en/` and never detect the browser language?

[2020-08-10 09:39] contaoacademy commented on #2131
@aschempp Ok, I didn't test this feature under legacy mode. If this works as well, we could close the ticket

[2020-08-10 09:45] contaoacademy commented on #2116
If I remove the prefix from Root-Page A I get always page A. Also if I don't check the option in my Root-Page B.

@aschempp
Could you explain the correct settings. Does this option only work, if I remove the prefix from the preferred main Root-Page?

[2020-08-10 09:47] Toflar commented on #1684
/ping

[2020-08-10 10:17] bytehead opened #2135 "Missing skin in contao-components/tinymce4: ^5.0"
**Affected version(s)**

Contao 4.10-RC3

**Description**

If you want to edit comments or answer to comments, the textareas are broken.

Missing skin in `contao` in `contao-components/tinymce4`: `^5.0`:
https://github.com/contao-components/tinymce4/blob/5.x/js/skins/contao/skin.min.css

[2020-08-10 10:19] leofeyer commented on #2135
You have to adjust your `be_tinyMCE.html5` template accordingly.

https://github.com/contao/contao/blob/4.10/core-bundle/src/Resources/contao/templates/backend/be_tinyMCE.html5

The `skin` option is no longer available in TinyMCE 5.

[2020-08-10 10:19] #2135 closed, assigned to nobody

[2020-08-10 10:20] bytehead commented on #2135
🙏

[2020-08-10 10:20] leofeyer commented on #2135
Or even better, make use of template inheritance when adjusting TinyMCE templates:

https://github.com/contao/contao/blob/4.10/core-bundle/src/Resources/contao/templates/backend/be_tinyNews.html5

[2020-08-10 10:54] bytehead commented on #2135
Perfect, thanks!

[2020-08-10 11:27] leofeyer opened #2137 "Cache tag invalidation"
As discussed in https://github.com/contao/contao/pull/2103#issuecomment-671283944, we are currently always invalidating both the specific tag and the general "category" tag (e.g. `contao.db.tl_news.61` and `contao.db.tl_news`), which kind of renders the specific tag useless. Maybe we can improve this?

[2020-08-10 11:28] ausi opened #2138 "Disable SchemaManager cache during migrations"
**Affected version(s)**

Contao 4.9

**Description**

It seems that the `SchemaManager` uses a cache (cc @aschempp) which creates problems when running migrations because the table structure will most likely be changed in most migrations. We should disable this cache in the migrations command and in the install tool.

[2020-08-10 11:50] leofeyer commented on #2137
We also need to discuss and fix this:

[2020-08-10 11:51] hjotto commented on #1845
Hallo Leo,
ich habe eine Videoaufzeichnung von dem Fehler in der Online-Demo gemacht.
Unter dem Link https://1drv.ms/v/s!Ao32NkNStjqMkFzDy4htAO_Wlz2X?e=p6WP22 findest du die Mp4-Datei.

[2020-08-10 12:13] ausi commented on #1845
Ich vermute das Problem liegt an der `DC_Table::reviseTable()`-Methode. Eventuell sollten wir dort prüfen ob wir uns in einem Picker befinden und in diesem Fall die Methode nicht ausführen?

[2020-08-10 13:50] leofeyer commented on #2116
Yes, I think so. This feature is the "apple.com" case, where you have your main website without language prefix and the translations with language prefix.

* https://www.apple.com
* https://www.apple.com/iphone/
* https://www.apple.com/de/
* https://www.apple.com/de/iphone/

[2020-08-10 13:51] leofeyer commented on #2131
We should not add new features to the legacy routing, therefore I prefer to disable the checkbox.

[2020-08-10 14:06] contaoacademy commented on #2116
Ok, maybe we should add a small notice in the description, that the primary Page-Root must have an empty prefix.
What do you think?

[2020-08-10 14:09] fritzmg commented on #2116
That seems counter-intuitive though.

[2020-08-10 14:58] rorych opened #2142 "Sitemap generation runs twice"
**Affected version(s)**
Contao 4.9.4 (untested on <4.9)

**Description**
If you run the "generate XML Files" command via the backend, contao does two loops of all root-pages - or at least it seems like it. As visible in this screenshot and also tested with the getSearchablePages-Hook, the sitemap is being generated twice.

Here i ran the "generate XML Files" once and the root-Page-Structure has 3

[2020-08-10 15:03] fritzmg commented on #2142
I can confirm the issue in 4.9.x-dev

[2020-08-10 15:12] #2113 closed, assigned to nobody

[2020-08-10 15:24] leofeyer commented on #2126
I was not able to reproduce this issue. Does it occur with any template or just `event_list`?

[2020-08-10 19:53] math-GH commented on #2126
cannot reproduce it anymore.... mhm... strange..

[2020-08-10 19:53] #2126 closed, assigned to nobody

[2020-08-11 12:12] contaoacademy commented on #2116
@fritzmg The best way would be to add this specific configuration to the docs :-)

[2020-08-11 12:17] fritzmg commented on #2116
Well yeah but even then, why should this only work for when the website root has no prefix? We might as well implement an error message saying that you can't enable this option together with having a prefix. But then again, I would expect this option to work with or without prefix.

[2020-08-11 15:05] aschempp commented on #2116
No, it's supposed to work in either case. Are you sure the redirect is not a cache from your browser? I just tried it locally, and it seems to work correctly. Be aware that you are still redirected to the fallback language, if none of the root pages have the language redirect enabled.

You can also get more information by enabling the debug mode in Contao. The Symfony inspector will show you the c

[2020-08-11 15:05] leofeyer commented on #2043
Turns out I really had pages with an invalid PID that have not been purged automatically. 🙃

[2020-08-11 15:05] #2043 closed, assigned to aschempp

[2020-08-11 15:28] aschempp commented on #2131
see https://github.com/contao/contao/pull/2145

[2020-08-11 15:28] #2131 closed, assigned to nobody

[2020-08-11 20:05] dmolineus opened #2147 "Rerendering of articles might lead to unexpected behaviour"
**Affected version(s)**

- `~4.4.50`
- `^4.9.4`

**Description**

Since #1803 an article might be rendered twice which causes several issues.

1. Content elements, modules might be rendered twice. Error messages, e.g. of a login form get lost because it get's overriden
2. Frontend modules which might trigger some actions (sending mails, making api calls for some tracking/logging services etc.) wil

[2020-08-12 05:48] aschempp commented on #2147
Good idea with the placeholders!

[2020-08-12 05:51] aschempp commented on #813
We don't need to find page 11, we just need to allow any page except errors when forwarding. The target page will issue the appropriate redirect.

[2020-08-12 11:38] fritzmg opened #2149 "Cannot save mailto: URLs with more than 88 characters"
**Affected version(s)**

Contao **4.4.51**, Contao **4.9.5**

**Description**

If you create a new hyperlink content element and use the following as the **Link target**:

[code]

the field will be blank after saving. However, if you remove one character from the subject, e.g.

[code]

it works. As far as I tested it, it only depends on the length, not the contents of the query parameters.

Slack

[2020-08-12 12:42] fritzmg commented on #2149
_Note:_ the value _is_ saved and displayed in the front end. It's just not displayed in the text field in the back end.

[2020-08-12 13:46] contaoacademy commented on #2116
I did some more tests and found out the following.

If I configure the homepage from DE and EN both with alias "index", then it does not work.

As soon as I change the alias to "home-de" and "home-en" for both homepages, the redirect works as expected.

So it looks like a problem with the alias "index".
Can somebody confirm this?

[2020-08-12 14:50] ausi commented on #2147
I don’t like a string replacement of the template output as we cannot know what the template does with `$this->class`. It might need context specific escaping or the template-code could check if `last` is included in the class names.

An alternative would be to iterate through the rows array backwards as soon we got our `first` element. But this would still have issues for articles with only one s

[2020-08-12 14:54] leofeyer commented on #2147
IMHO, we should revert the changes from #1803 and remove the classes entirely, as @Toflar has suggested in https://github.com/contao/contao/issues/239#issuecomment-454016655.

[2020-08-12 14:54] dmolineus commented on #2147
I suggest to remove the classes at all as suggested by @Toflar here https://github.com/contao/contao/issues/239#issuecomment-454016655.

Edit: @leofeyer was faster. :-)

[2020-08-12 14:55] fritzmg commented on #2147
I also agree with @Toflar 's original [comment](https://github.com/contao/contao/issues/239#issuecomment-454016655).

[2020-08-12 14:58] Toflar commented on #2147
I also agree with @Toflar 's original [comment](https://github.com/contao/contao/issues/239#issuecomment-454016655).

[2020-08-12 15:12] aschempp commented on #2116
This was it! The property was not inherited to the child pages, therefore the redirect was added for the `index` page. Fixed in https://github.com/contao/contao/pull/2151

[2020-08-12 15:12] #2116 closed, assigned to aschempp

[2020-08-12 16:21] ausi commented on #2147
Agree. Removing the classes will go into version 4.11?

[2020-08-12 16:24] fritzmg commented on #2147
I'd be fine with removing it in 4.10 already and restoring the old behavior in 4.4 and 4.9.

[2020-08-12 18:35] leofeyer commented on #2147
Me too. 👍🏻

[2020-08-12 21:51] aschempp commented on #1845
Das tun wir eigentlich schon...

[2020-08-13 07:36] dmolineus opened #2152 "System::import() may return unexpected instances"
**Affected version(s)**

- `^4.9.4`

**Description**

Since #1840 a `System#import()` or `System::importStatic()` may return an unexpected instance. This is the case for the `User` import in Contao. How to reproduce it:

[code]

If a third party extension imports the backend user before the frontend user is imported (e.g. through a hook), the frontend user is not used in all legacy classes. Which

[2020-08-13 07:39] aschempp commented on #2152
I understand the problem, but I would assume it does not happen with `System::importStatic()` but only `System::import()`. Can you confirm that?

[2020-08-13 07:44] dmolineus commented on #2152
It also happens when `System::importStatic()` is used. It also accesses the static cache, see https://github.com/contao/contao/pull/1840/files#diff-29552df618c525c0eb4fd5126fbe4e6fR234

[code]

[2020-08-13 08:00] aschempp commented on #2152
yes, but isn't that how `importStatic()` always worked? The "services" are shared across class instances?

[2020-08-13 08:31] leofeyer commented on #2152
I think we can fix this by using both `$strClass` and `$strKey` as cache key. Then `$this->import('FrontendUser', 'User')` will be stored separately from `$this->import('BackendUser', 'User')`. @Toflar WDYT?

[2020-08-13 08:57] ausi commented on #2152
This happens only with classes that have a `getInstance()` method, right?

I think the correct fix would be to use `static::$arrSingletons[$strClass]` instead of `static::$arrSingletons[$strKey]` and keep using `$this->arrObjects[$strKey]`. So using the class name for the static cache and the instance name for storing the object in the local array.

[2020-08-13 09:23] aschempp commented on #2025
Technically, a custom route does not belong to a Contao page, so there can't really be a (root) page assigned.

Maybe you can answer the question first why you would use that function at all? And then maybe you should use a page controller in that case?

[2020-08-13 09:49] #2152 closed, assigned to nobody

[2020-08-13 09:50] leofeyer commented on #2138
I could not find a schema cache. Can you point me to it, please?

[2020-08-13 10:18] leofeyer commented on #2142
Here is what happens:

* `Automator::generateXmlFiles()` calls `Automator::generateSitemap()`
* `Automator::generateXmlFiles()` then dispatches the `generateXmlFiles` hook
* Both `Calendar::generateFeeds()` and `News::generateFeeds()` are subscribed to the hook
* Both methods run `Automator::purgeXmlFiles()` and `Automator::generateSitemap()`

So when rebuilding the XML files in the maintenance mo

[2020-08-13 12:29] ausi commented on #2138
I didn’t find one either. @aschempp ?

[2020-08-13 13:47] leofeyer commented on #2142
@contao/developers Any ideas how to fix this?

[2020-08-14 12:25] Toflar commented on #2142
Nope.

[2020-08-14 14:02] richardhj commented on #2025
Prior it was possible to find the root page by the current domain name. This way, it was possible to load the correct layout and output the proper layout, etc.

I guess I will replace all those routes by pages with a custom page controller each, even though those pages do not need to be managed by the CMS.

[2020-08-14 21:17] bennyborn commented on #1791
I just wanted to add, even if you remove the Google Fonts: The only GDPR compliant way is to host the fonts locally. This also applies to loading Mootools or jQuery from a CDN. Maybe there should be a discussion about removing CDNs from the core entirely.

[2020-08-16 11:56] #1630 closed, assigned to nobody

[2020-08-16 11:56] #1632 closed, assigned to nobody

[2020-08-16 14:11] aschempp commented on #2025
I know, though I never really understood. How is that supposed to know your language etc? You can easily find the current fallback root by querying the database.

However, why would the root page layout apply to your page? Apart from the fact that the root page does not _need_ a layout at all. Wouldn't that be the perfect reason for your routes to **be** pages?

[2020-08-16 18:20] asaage commented on #2025
I guess it's needes so pages can inherit the layout of their parent.?

[2020-08-16 19:49] math-GH opened #2157 "Event/News publishing - header view"
**Affected version(s)**

Contao 4.9.5

**Description**
in this view you can publish/unpublish the event/news via eye-icon. But the text in the header does not change (you have to reload the page).
![grafik](https://user-images.githubusercontent.com/1645099/90342626-e0427280-e009-11ea-8133-2e196ba46782.png)

in my opinion: the text information is not necissary. It doubles the eye-icon-information.

[2020-08-17 07:32] fritzmg commented on #1791
The GDPR does not prevent you from using any external services on your site. Removing such features is not necessary as you are always responsible for implementing a website according to your local law.

[2020-08-17 08:02] bennyborn commented on #1791
That's correct. But if you can waive such external resource with reasonable effort (which would totally be the case with Webfonts, jQuery or Mootools) you should host them locally or ask the user for his permission prior to loading them.

I was under the impression that Contao went for a GDPR compliance out of the box some time ago but if that's the position of the team I'm totally fine with that.

[2020-08-17 08:14] fritzmg commented on #1791
Google Fonts and jQuery/Mootools via CDN are not enabled by default. Also using Google Webfonts or jQuery/Mootools via CDN does not mean you are not GDPR compliant.

[2020-08-17 11:02] plorenz-etes opened #2158 "Workaround for cookie SameSite attribute doesn't seem to work"
**Affected version(s)**

Contao 4.4.51
Contao 4.9.5

**Description**

The workaround introduced in #2117 and #2118 doesn't seem to work correctly.
After upgrading to the new Contao versions, Firefox still shows this message:

[code]

When viewing the cookie list, the following can be seen in Contao 4.4:

![contao44](https://user-images.githubusercontent.com/43336309/90389001-0eb36280-e089-11ea-953

[2020-08-17 11:11] richardhj commented on #2025
Not necessarily, pages can have a layout defined, so you do not have to define one at root level.

[2020-08-17 11:24] fritzmg commented on #2025
I usually only ever define the page layout in the root page.

[2020-08-17 11:27] fritzmg commented on #2158
According to your output, the changes in #2118 work. As you can see, the cookie does have the _Secure_ flag now.

Regarding the changes in Contao 4.4: try to manually delete the app.php and app_dev.php and then run `composer install` again.

[2020-08-17 11:37] plorenz-etes commented on #2158
Thank you for the reply.
Your hint for Contao 4.4 is working, the "Secure" flag is set now. Is there a way to automate this procedure so other people don't run into this issue?

For some reason, the warning now also disappeared in Firefox.

[2020-08-17 11:40] fritzmg commented on #2158
@contao/developers should we implement some sort of Migration for this? Currently `contao:install-web-dir` won't update the `app.php` or `app_dev.php` (in case you made changes to it).

What do you mean "for some reason"? It disappeared, because you fixed it 😁

[2020-08-17 11:45] plorenz-etes commented on #2158
I mean, because the warning was also present in my Contao 4.9 installation which I didn't touch ;)

[2020-08-17 12:37] sitenzo opened #2159 "External Js / global tl_body order."
**Affected version(s)**

Contao 4.9

**Description**

In the [documentation](https://docs.contao.org/dev/framework/asset-management/) it states _$GLOBALS['TL_BODY']_ : _Contains HTML code to be included before < /body>._

When i add for example
`$GLOBALS['TL_BODY'][] =
\Contao\Template::generateScriptTag('bundles/mybundle/datatables/media/js/jquery.dataTables.min.js', false, null);`

It will outpu

[2020-08-17 12:40] fritzmg commented on #2159
You mean your script depends on another script that is included via a JavaScript template? I think you should restructure that as I find it not safe to rely on that.

[2020-08-17 12:53] sitenzo commented on #2159
In my page layout i have some JS files including Jquery and other dependence.
My custom bundle needs those dependence.

Is there a way to hook into $objLayout->script to add my scsripts.

[2020-08-17 12:59] fritzmg commented on #2159
If you enable jQuery in your page layout, then it is added to the `<head>` by Contao. If your script only depends on jQuery, then it does not really matter where you include it, as jQuery will always be loaded first.

You could do it with a `getPageLayout` hook, but I am not sure that's really necessary for you.

[2020-08-17 21:21] math-GH opened #2160 "Comments module: abo mail confirmation"
**Affected version(s)**

Contao 4.9.5

**Description**
The author of a comment can subscribe to the following comments. He/She has to confirm it and gets an email.

I think, that the default (German) email subject is not correct:

"Ihr Newsletter-Abonnement"

I think it is NOT an newslette subscription. It is just a subscribtion or a comments subscribtion, because it is not the newsletter module.

[2020-08-18 07:33] sietsevandreven commented on #2046
Edit an article, doesn't matter which one... If you add a content element (Inhaltselemente) you are able to link to an element in whatever article... When you click on Change Selection a pop-up opens. In it the content of the article you are working in. If you want to choose an element of an other article you have to open the menu (in previous Contao versions you could just click on the back butto

[2020-08-18 08:10] ausi commented on #2158
This is only the case in Contao 4.4, right? AFAIK the files get replaced in the install-web-dir command of Contao 4.9.

[2020-08-18 08:32] fritzmg commented on #2158
Yes, the files are replaced in Contao 4.9, but not in 4.4.

[2020-08-18 09:11] frontendschlampe opened #2162 "Non-existent service "contao.search.indexer""
**Affected version(s)**

Contao 4.10.0

**Description**

I've deactivated the search indexer in my Contao 4.9.5 Installation via `config.yml`:

[code]

After update to 4.10.0 with Contao Manager the following error occurs:

[code]

After making a repair via Contao Manager I'm back on 4.9.5.

I activate the search indexer in my `config.yml` and run the update to 4.10 again without any problems.

[2020-08-18 09:14] frontendschlampe commented on #2162
After update I try to deactivate the search again and the same error occurs after rebuilding the cache. So I can't deactivate the search.

[2020-08-18 09:28] leofeyer commented on #2162
@aschempp I guess the `$searchIndexer` argument of the `PageUrlListener` should be nullable.

[2020-08-18 10:25] fritzmg opened #2164 "Set MAILER_DSN default to native://default"
This is a reminder issue for myself in order to set the `MAILER_DSN` env var by default to `native://default`, once Symfony 5.2 has been released: https://github.com/symfony/symfony/pull/36131

This will configure the Mailer to use the "native configuration" from the `php.ini` - which in turn will reduce the likeliness of having to define an SMTP server yourself on some hosting environments. The r

[2020-08-18 10:33] hinzke opened #2165 "TinyMCE5 is not working correctly"
**Affected version(s)**

Contao 4.10

**Description**

TinyMCE5 is not working correctly after Update from Version 4.9.5

![grafik](https://user-images.githubusercontent.com/36923405/90502997-07568c80-e14f-11ea-8b3b-f0548b1f7fde.png)

[2020-08-18 10:36] fritzmg commented on #2165
Are you using a custom `be_tinyMCE` template? If yes, then you need to delete/adjust that.

[2020-08-18 10:38] hinzke commented on #2165
No, this is a clean installation without extra templates

[2020-08-18 11:25] #1030 closed, assigned to nobody

[2020-08-18 12:13] leofeyer commented on #2165
Looks like a browser cache issue to me. Please try purging the browser cache or using a different browser.

[2020-08-18 12:20] hinzke commented on #2165
Omg, that's it
Thanks

[2020-08-18 12:20] #2165 closed, assigned to nobody

[2020-08-18 13:57] richardhj commented on #2025
I assume the new routing/matching works as expected. No bug here 😄

[2020-08-18 13:57] #2025 closed, assigned to aschempp

[2020-08-18 15:19] denniserdmann opened #2168 "tinyMCE: overwriting block('content_css') not possible"
**Affected version(s)**

Contao 4.10

**Description**

I tried to change my tinyMCE.html5 template according to https://github.com/contao/contao/pull/2021
While other blocks can be overwritten, block('content_css') can not.

Code example:

[code]

[2020-08-18 15:23] frontendschlampe commented on #2168
see https://github.com/contao/contao/pull/2167 :-)

[2020-08-18 15:23] leofeyer commented on #2168
Duplicate of #2167

[2020-08-18 15:23] #2168 closed, assigned to nobody

[2020-08-18 16:09] fritzmg commented on #1819
Still on my radar ;)

[2020-08-18 20:18] math-GH opened #2170 "Image sizes: Options PNG to WEBP and JPEG to WEBP -> errors"
**Affected version(s)**

Contao 4.9.5

**Description**

image size. Options PNG to WEBP and JPEG to WEBP are enabled.
![grafik](https://user-images.githubusercontent.com/1645099/90560800-f2561980-e19f-11ea-9d52-d2f0f85588b1.png)

result:
errors in error log
![grafik](https://user-images.githubusercontent.com/1645099/90560657-b9b64000-e19f-11ea-99ee-4ca4430a8d5b.png)

and the src="" in the <img> is

[2020-08-19 06:22] leofeyer commented on #2160
I have adjusted the German translation accordingly.

[2020-08-19 06:22] #2160 closed, assigned to nobody

[2020-08-19 06:27] ausi commented on #2170
Can you give more details about where this error occurs?
The log details should show in which function the error got triggered.

[2020-08-19 09:22] bennyborn opened #2171 "{{link_url}} Insert-Tag broken on roots with different domains"
**Affected version(s)**

Contao 4.10

**Description**

When creating a link to a page from another root with a different domain the link generated by e.g `{{link_url::1}}` should be an absolute but Contao generates a relative one.

**Steps to reproduce**

- Create two roots with domain `a.com` and `b.com`
- Create a link on `a.com` which links to a site on `b.com` using e.g `{{link_url::1}}`
- The

[2020-08-19 11:44] denniserdmann opened #2174 "Add List-Unsubscribe Header to decrease SPAM detection"
I'm using the contao newsletter in combination with amazon SES and found out, that some email providers like United Internet (GMX, web.de) block my newsletters, when the List-Unsubscribe Header is missing. Furhermore, some email clients like thunderbird detect the newsletter as spam.

**My quick and dirty solution:**
i added the List-Unsubscribe Header by myself
[code]

[here](https://github.com/c

[2020-08-19 12:50] Ernestopheles commented on #2174
I added an unsubscribe link at the bottom of the newsletter via the email-template, will this not be sufficient?
I know there are some good reasons to have an unsubscribe-header but this does not convince me that much.

[2020-08-19 13:17] denniserdmann commented on #2174
No, it wasn't (i have one too). I tested my newsletter with [mail-tester.com](https://mail-tester.com) and had a 10 out of 10 rating. There were only 2 things that were not perfect:

1. no DMARK
2. no List-Unsubscribe-Header

As i added the second, all mails got through the spam filter. When i removed it some days later, my newsletters got blocked again.

[2020-08-19 14:32] leofeyer commented on #2174
@contao/developers Any objections against adding the header?

[2020-08-19 14:49] fritzmg commented on #2174
Sounds like a good feature to me 👍

However I am unsure how this should be implemented? The Newsletter itself has no information about where the unsubscribe module is located, does it?

[2020-08-19 14:54] frontendschlampe commented on #2174
Maybe you can add an unsubscribe page picker in newsletter settings?!

[2020-08-19 14:56] Toflar commented on #2174
No objections.

[2020-08-19 15:03] ausi commented on #2174
No objections. But I think the unsubscribe URL should be configurable or directly link to the unsubscribe page/module (if technically possible).

[2020-08-19 17:53] math-GH commented on #2170
![grafik](https://user-images.githubusercontent.com/1645099/90671961-b4b3c800-e255-11ea-9733-6dfd61705bde.png)

[2020-08-19 18:02] MariaEngelold commented on #2043
Hey @leofeyer just switched from contao 4.5 to 4.10 and run into an issue with _(probably)_ misconfigured pages.
Could you tell me how you found out what pages of your installation caused the problem?
I'm also wondering what in general causes the error message `Page ID "35" does not belong to a root page` when clearly the page is a child of the root page?

![image](https://user-images.githubuserco

[2020-08-19 21:40] ausi commented on #2158
I’m not sure if we should change this in a bugfix release.

[2020-08-19 21:49] ausi commented on #2170
Please add `dump($size);` to this line: https://github.com/contao/contao/blob/95084f3a4f9b5fb1912d2af0c3d06b0d01f8c333/core-bundle/src/Resources/contao/library/Contao/Controller.php#L1555 and open the frontend in debug mode. The symfony toolbar should then show a dump section with the contents of `$size`.

[2020-08-20 06:28] leofeyer commented on #2043
You can use the following SQL query to find pages with an invalid PID:

[code]

If you want to delete the pages, use this SQL query:

[code]

Note that you might have to run the query multiple times, because after each deletion, there can be new orphan records.

[2020-08-20 06:32] leofeyer commented on #2158
If it is OK to overwrite the files in Contao 4.9, it should be OK to overwrite them in Contao 4.4 as well, shouldn't it?

[2020-08-20 07:10] fritzmg commented on #2158
I think not, because in Contao 4.4 you need to edit your `app.php` in order to add trusted proxies for example. At least I assume that's why we don't overwrite it in Contao 4.4.

[2020-08-20 07:27] Toflar commented on #2158
All good then, just leave it as is. 4.4 users need to adjust their entry point. Users of later versions benefit from having things done automatically for them.

[2020-08-20 07:37] madmaharaja opened #2175 "Verwenden eines Insert-Tags beim Einfügen von Bildern im TinyMCE"
Diese Anfrage ist im Grunde genommen ein Duplikat von https://github.com/contao/core/issues/5965 (beim Einfügen eines Bildes via TinyMCE sollte keine absolute Pfadangabe mehr, sondern ein Inserttag verwendet werden). Wenn ich den alten Thread richtig verstehe, gab es zum Schluss konsens darüber, dass die Umsetzung sinnvoll wäre, sodass es einen commit und angeblich auch eine Implementierung gab: h

[2020-08-20 07:45] fritzmg commented on #2175
Das wurde nicht rückgängig gemacht. Die Pfadangabe wird beim Abspeichern in einen Insert Tag und beim Laden wieder zurück in einen Pfad verwandelt. Deshalb siehst du diesen Insert Tag im Backend auch nie. Den siehst du praktisch nur in der Datenbank.

[2020-08-20 08:26] madmaharaja commented on #2175
Aha! Danke für die Rückmeldung, @fritzmg!
Quasi ein WYSIWYG-Editor mit What-you-see-is-not-what-you-get-Feature ... ;-)

[2020-08-20 08:26] #2175 closed, assigned to nobody

[2020-08-20 08:36] fritzmg commented on #2175
Eigentlich nicht. Du fügst ein Bild ein, siehst das Bild im Backend und auch im Frontend. Wenn du den Insert Tag sehen würdest, dann wäre es "what-you-see-is-not-what-you-get" ;) (da der Insert Tag im Frontend dann ja ersetzt wird).

[2020-08-20 08:53] #2158 closed, assigned to nobody

[2020-08-20 09:43] Toflar opened #2176 "Issue with subprocesses in ResizeImagesCommand"
**Affected version(s)**

4.9

**Description**

Stacktrace:

[code]

`11` is segfault. I think we should catch those because if one subprocess fails all that happens is that the respective image is not created which is no big deal. However, right now it stops the parent process from continuing to work on all the other images. I think we should try-catch-wrap those.
However, I'm not sure if we shoul

[2020-08-20 10:57] steadyyyyy commented on #1273
Love to help but please write it in english :(

[2020-08-20 11:07] fritzmg commented on #1273
@steadyyyyy basically @Anke is requesting two features for the _Events_ back end module:

1. The ability to sort calendars on demand.
2. The ability to define the sort direction of events within a calendar.

[2020-08-20 15:01] math-GH commented on #2170
aus unbekannten Gründen kann ich den Fehler nicht mehr reproduzieren.

Damit würde ich den Bug schließen wollen. Falls er wieder auftritt melde ich mich

[2020-08-20 15:01] #2170 closed, assigned to nobody

[2020-08-20 17:22] Znrl opened #2177 "Datei ersetzen"
Hallo zusammen.

**Problem:**
Eine Datei ist an mehreren Stellen auf der Website, vtl. auch in News/Veranstaltungen eingebunden (z.B: ein Flyer).
Irgendwann muss diese ersetzt werden.
Es gibt natürlich mehr oder weniger praktikable Lösungen.
Über die Datenbank, ersetzen per FTP, etwas bastelei und mit fixem Pfad einbinden, ...

Fehlt aber entsprechender Zugriff o.ä. muss man wissen oder suchen, wo

[2020-08-20 17:52] fritzmg commented on #2177
Einfach die Datei mit einer anderen Datei ersetzen, die den selben Namen hat? ;)

[2020-08-20 17:59] Znrl commented on #2177
Ja per FTP (wenn man "schneller" als die Synchronisation durch Contao ist) geht das aber im Dateimanager hat man doch das Problem, dass die Datei nicht die selbe UUID hat. Der TinyMCE und Filepicker speichert ja die UUID.
Oder nicht? Das hat ja wieder Vorteile aber eben, dachte ich bisher, den Nachteil, dass ein Ersetzen über die Dateiverwaltung nicht geht.

[2020-08-20 18:05] fritzmg commented on #2177
Nein, du kannst die Datei direkt im Dateimanager ersetzen. Die UUID ändert sich dadurch nicht soweit ich weiß.

[2020-08-20 18:15] JLBA opened #2178 ""Fake pages" in structure for being titles in menu"
Hello,
When creating a page in structure, it can be a simple page, an internal or external url. So each page is always a link.
But when a page has subpages, it's often like in computers menus : you click on it only to dropdown menu items, not to go to the page. So this could be useful if we can choose if a "page" has a link or is only a title for dropdown menu.

Could this be a checkbox in page pa

[2020-08-20 18:22] fritzmg commented on #2178
Just use https://github.com/terminal42/contao-folderpage

[2020-08-20 18:32] Znrl commented on #2177
Interessant, jetzt frage ich mich warum ich so felsenfest davon überzeugt war, dass das mir die Datei nicht ersetzt sondern "dateiname-1" mäßig umbennent, dass ich schon seit je her die alten Dateien lösche und die neuen dann hochlade...
Vielleicht Windows und Wordpress (dort braucht man dazu meine ich ein Plugin) geschädigt?

Bzw. beim ersten Test hat es nicht funktioniert. Da musste ich zuerst n

[2020-08-20 20:19] ausi commented on #2177
Eine explizite Funktion um eine Datei zu ersetzen fände ich aber schon gut. Jetzt muss ich die Datei zuerst lokal genau so benennen wie die Datei in der Dateiverwaltung heißt damit sie beim Upload ersetzt wird.

Ein Button beim editieren der Datei mit dem sie sich durch einen Upload ersetzten lässt unabhängig vom Dateinamen der lokalen Datei wäre deutlich selbsterklärender denke ich.

[2020-08-20 20:35] Znrl commented on #2177
Es hat tatsächlich ein wenig was von einem hidden feature. Da die Funktionalität grundsätzlich ja schon da ist und solange man da nicht noch was ändert, wäre es wohl auch deutich einfacher umzusetzen, als meine Überlegungen.
Nachdem ich da jetzt zig Jahre nicht drauf gekommen bin, hättest du da meine Stimme ;)

[2020-08-20 20:49] m-vo commented on #2177
bzw. drauf droppen = ersetzen (ggf. mit vorherigem Dialog)

[2020-08-20 21:38] fritzmg commented on #2177
@ausi draggy droppy task für's Entwickler Treffen 😁

[2020-08-21 08:19] paddibr opened #2179 "No articles in a new contao 4.10 installation"
**Affected version(s)**

Contao 4.10

**Description**

Hi, i have a new complete contao installation over the contao manager.

I set some new pages but there are no articles:

![contao4_10](https://user-images.githubusercontent.com/9463756/90868910-c7ceb100-e397-11ea-8d9f-601d151bfdd6.jpg)

[2020-08-21 08:38] aschempp commented on #2179
see https://github.com/contao/contao/issues/1994#issuecomment-663981471

However, we could improve that by creating articles if there is no page layout assigned yet, what do you think @contao/developers ?

[2020-08-21 08:42] paddibr commented on #2179
Ah okay, i created a page layout and added a article. But i got the following errors:

![contao4_10_2](https://user-images.githubusercontent.com/9463756/90871235-06199f80-e39b-11ea-88fb-9bde434ff500.jpg)

[2020-08-21 08:54] leofeyer commented on #2174
We cannot use the unsubscribe URL, as most mail clients do not support it. We will have to use the `mailto:` link.

https://blog.mailtrap.io/list-unsubscribe-header/#Which_email_clients_support_list-unsubscribe_header

[2020-08-21 09:02] m-vo commented on #2179
@paddibr see https://github.com/contao/contao/issues/2165

I think we should. You already have to have a lot of implicit knowledge about the order things should be done in the BE if you want to be effective or not run into dead ends. This would kind of add to this if your workflow was creating the structure first.

[2020-08-21 20:49] ausi commented on #1780
Closed in favor of #2180

[2020-08-21 20:49] #1780 closed, assigned to ausi

[2020-08-21 21:08] ausi commented on #2176
Closed in favor of #2182

[2020-08-21 21:08] #2176 closed, assigned to ausi

[2020-08-24 08:07] JLBA commented on #2178
Perfect. Thanks fritzmg. (Should be integrated to core...)

[2020-08-24 09:04] HenryVolkmer opened #2185 "CSRF: Cookie-Deletion and unsecure connections causes Browser-Warnings (SameSite=none without secure)"
**Affected version(s)**

contao >= 4 till dev-master

**Description**

as discussed [here](https://github.com/isotope/core/issues/2154), Symfony removes Cookies by fulfill the correlate Cookie-Value with the string `deleted`. The result is a Cookie with SameSite-Attribute `none` which leads in a Browser-Warning (on unsecured connections). Since Symfony 4.4, it is possible to set the SameSite-Attri

[2020-08-24 15:50] leofeyer commented on #2147
Moving the issue to the 4.10 milestone as a reminder to remove the CSS classes entirely in Contao 4.10.

[2020-08-24 16:01] #2174 closed, assigned to nobody

[2020-08-24 16:25] #2149 closed, assigned to nobody

[2020-08-25 10:02] leofeyer commented on #1785
This is not limited to `favicon.ico` request, is it? Basically any request for an unknown resource (e.g. `foo.jpg`, `foo.bar`, etc.) will end up in a 404 response that gets logged, as long as every request is routed through the application. So I do not think that we can do much about this, except agreeing not to log 404 responses anymore. @contao/developers WDYT?

[2020-08-25 10:09] Defcon0 commented on #1785
I‘d prefer to add a yml option not to log 404s anymore. In most cases 404s from bots or MS exchange and so on are stored in the logs hiding the more relevant things like exceptions.

The option should be to log them per default still for BC reasons.

[2020-08-25 10:13] fritzmg commented on #1785
Which is already the case in Contao 4.9 anyway. However, the Monolog option [`exclude_http_codes`](https://symfony.com/doc/4.4/logging/monolog_exclude_http_codes.html) is only available in Symfony 4.4+, thus we cannot use it in Contao 4.4.

[2020-08-25 10:26] ricowe commented on #1356
Is there an update or fix for this? Everytime i update Contao, I get this error every minute (by cron) until I insert the hotfix by @rorych .

`PHP Fatal error:  Uncaught InvalidArgumentException: Unable to parse URI: http://:/ in /var/www/vhosts/mydomain/httpdocs/vendor/nyholm/psr7/src/Uri.php:53
Stack trace:
#0 /var/www/vhosts/mydomain/httpdocs/vendor/contao/core-bundle/src/Search/Document.php(1

[2020-08-25 10:26] #1535 closed, assigned to nobody

[2020-08-25 10:39] fritzmg commented on #1637
See https://github.com/contao/contao/issues/1356#issuecomment-679941392

[2020-08-25 14:59] theDyingMountain opened #2196 "Nachrichten: Weiterleitung auf Event"
Es ist aktuell nicht möglich von einer Newsmeldung auf ein Event weiterzuleiten. Dies kann ich aktuell nur umgehen, wenn ich im Teaser im TinyCME Editor einen Link setze oder bei Individuelle Url den Url der Veranstaltung eintrage.
![grafik](https://user-images.githubusercontent.com/4446224/91190572-03e57700-e6f4-11ea-9e17-87538d7f09b5.png)

[2020-08-25 15:15] fritzmg commented on #2196
If you choose "Individuelle URL", you can choose an Event in the picker.

[2020-08-25 15:19] m-vo commented on #2196
Is there any benefit from being able to select 'articles' as this could be selected in the picker well? Maybe we should remove this for consistency?

[2020-08-25 15:21] fritzmg commented on #2196
Same with 'page' as well :)

[2020-08-25 15:28] m-vo commented on #2196
True :slightly_smiling_face:

[2020-08-25 16:26] leofeyer commented on #2070
I agree. It is quite a behavior change though. @contao/developers WDYT?

[2020-08-25 16:28] fritzmg commented on #2070
Definitely a bug. Any published page that is set to `index,…` should appear in the sitemap.

[2020-08-26 06:04] #2178 closed, assigned to nobody

[2020-08-26 06:13] leofeyer commented on #2185
Closing this issue in favor of #2186.

[2020-08-26 06:13] #2185 closed, assigned to nobody

[2020-08-26 06:23] leofeyer commented on #2196
We would save two DB columns by removing the options, so +1 I guess.

[2020-08-26 06:42] theDyingMountain commented on #2196
Oh sorry for not checking the picker... But glad to see, that some optimizations are detected by the way.

[2020-08-26 06:55] leofeyer commented on #2046
I cannot reproduce this issue. Here is what I have done:

* Edit the article "Include Elements" in the online demo.
* Add a new content element and change the type to "Inhaltselement".
* Click on "Auswahl ändern", which opens the picker.
* Go to the articles module either via the tab menu or via the back button.
* Edit the article "Home" and pick a content element.
* Click on "Anwenden".

The elem

[2020-08-26 08:12] jochi44 opened #2197 "HTML-tags in the field "Bildunterschrift" are not converted in HTML in Contao 4.10"
**Affected version**

Contao 4.10

**Description**

In Contao 4.10 HTML-tags in the field "Bildunterschrift" (Inhaltselement "Text" -> "Ein Bild hinzufügen" -> "Metadateien überschreiben") are not converted in HTML anymore.

For example do I use something like this quite often for a "Bildunterschrift":
`Quelle: <a href="https://abc.to" target="_blank">abc.to</a>`

Unfortunately in Contao 4.10 the

[2020-08-26 09:31] ausi commented on #2197
Independent from the issue itself: You can use `{{link::https://abc.to}}` for this kind of use cases.

[2020-08-26 09:43] chriza commented on #2177
Die Extension hh-com/contao-filereplace löst die Fragestellung

[2020-08-26 09:44] m-vo opened #2198 "Default values for contao:image:sizes config"
Our image config allows defining individual sizes with lots of specific options. But often times these sizes share some common settings that are repeated over and over in the config.

Example (see `formats`, `sizes`, `lazy_loading`, `resize_mode` for instance):

[code]

Yaml allows reusing config with anchors (`key: &anchor` + `<<: *anchor`) but this concept is very limited (recursive merging?, ne

[2020-08-26 09:47] asaage commented on #2197
I was not aware, this was even allowed by defaut - but it is...
https://github.com/contao/contao/blob/master/core-bundle/src/Resources/contao/dca/tl_content.php#L300

[2020-08-26 10:11] ausi commented on #2198
Agree.

[2020-08-26 16:02] #2197 closed, assigned to nobody

[2020-08-26 16:57] monxoom opened #2201 "Restricted users cannot use "save and new" in the news module"
**Affected version(s)**

Contao 4.8+ (maybe older ones, too)

**Description**

Create a news item and then a CE 'text'. Write some text and then use the editor's 'insert link' feature to link to another news item. Try to save the CE with the button "Save and new" – works (if logged in as admin). Try the same but as restricted user – and it fails.

What I've found out:
- It fails because checkAcces

[2020-08-26 20:27] jochi44 commented on #2197
Thank you, @ausi , for this information.
Unfortunately I don't see a possibility to add the "target=_blank"-argument when using this insert tag.
The insert tag `{{link_target::*}}` does only work when linking a Contao intern site (if I read the Contao docs correctly).

[2020-08-27 07:10] xstable commented on #1261
@pressi Könntest du kurz genauer beschreiben, wie du das Problem nun gelöst hast?
Welche Datei hast du wie angepasst?

[2020-08-27 07:31] fritzmg commented on #1261
@xstable in Contao **4.4** und **4.9** zB so:

[code]

In Contao **4.10** geht das aktuell leider nicht. Siehe https://github.com/symfony/symfony/pull/37432

In Symfony 5.2 wird es aber einen `native://default` Mailer Transport geben, mit dem die PHP Konfiguration genommen wird. Also das `sendmail` Kommando, welches in der `php.ini` eingetragen ist (bzw. unter Windows die entsprechende SMTP Konfig

[2020-08-27 10:16] Kahmoon opened #2202 "Usergroup Setting "allowed member groups" gets ignored"
**Affected version(s)**

Contao 4.9.5

**Description**
When i set for example 1 of 3 membergroups in usergroup settings, the user still can see/choose all 3 existing member groups when creating a new member. He should only see the one i set in his usergroup settings.

I can reproduce this behaviour in the contao demo, so this should not be an issue caused by an extension.

VG Frank

[2020-08-27 13:06] leofeyer commented on #2084
As discussed in Mumble on August 27th, we want to change `'permanent' => true,` to `'permanent' => false,`.

[2020-08-27 13:20] leofeyer commented on #2137
As discussed in Mumble on August 27th, these tags should be set for e.g. a news item:

- news reader: `tl_news.61`, `tl_content.11`
- news list: `tl_news_archive.1`, `tl_news.61`, `tl_news.62`, `tl_content.11`, `tl_content.12`

Then:

- Case 1: A news archive is created /edited/unpublished/resorted/removed -> invalidate `tl_news_archive`, `tl_news_archive.1`, `tl_news.61`, `tl_news.62`, `tl_conten

[2020-08-27 13:22] netzarbeiter opened #2203 "CSS-Klasse wird mehrfach ausgegeben"
**Affected version(s)**

Contao 4.9.5

**Description**

- Ein neues Inhaltselement vom Typ Modul einfügen und in den Experteneinstellungen die Klasse `test-01` hinzufügen.
- Ein zweites Inhaltselement vom Typ Modul einfügen und in den Experteneinstellungen die Klasse `test-02` hinzufügen.

CSS-Ausgabe im Frontend beim ersten Element:
`mod_listing test-01 ce_table listing block`

CSS-Ausgabe im Fro

[2020-08-27 13:54] leofeyer commented on #1330
As discussed in Mumble on August 27th, this should generally be handled by adding a suffix (e.g. `(copy)`) if the unique constraint is violated. In the particular case, however, we should disable the paste button so the copied recipients cannot be pasted into the same channel as the original recipients.

[2020-08-27 14:00] leofeyer commented on #1434
As discussed in Mumble on August 27th, we cannot add this into the `config.yml`, because it will fail if there is no `Entity` folder. However, we could add a compiler pass that checks the existing configuration and dynamically adds the mapping if the `Entity` folder exists.

[2020-08-27 14:06] Toflar commented on #1434
I don't think we can do this. See https://github.com/symfony/doctrine-bridge/blob/4e6cfe4c9a1e6e3b7ff8f1e0e0996bf138ee1205/DependencyInjection/AbstractDoctrineExtension.php#L226

[2020-08-27 14:11] leofeyer commented on #1793
As discussed in Mumble on August 27th, we do not want to mess with this – unless there was a real accessibility/usability problem, which is not the case.

[2020-08-27 14:11] #1793 closed, assigned to nobody

[2020-08-27 14:15] leofeyer commented on #1187
Wie am 27. August auf Mumble besprochen, sollten wir `TL_MODE` durch den Scope-Matcher ersetzen, damit wir den Scope entsprechend setzen können.

[2020-08-27 14:18] Defcon0 commented on #1793
Ok, I understand this. Thanks for taking it into account though!

[2020-08-27 14:19] leofeyer commented on #1527
As discussed in Mumble on August 27th, we would need to debug this in an installation where the problem occurs.

[2020-08-27 14:20] #962 closed, assigned to nobody

[2020-08-27 14:24] leofeyer commented on #2142
As discussed in Mumble on August 27th, this will be fixed when we add a SitemapController in Contao 4.11, because then the controller will generate the sitemaps.

[2020-08-27 14:27] leofeyer commented on #1974
As discussed in Mumble on August 27th, if we can use typed properties, we can remove the phpDoc comment.

[2020-08-27 14:34] bezin commented on #1842
Hello, I totally missed out on this discussion due to my holidays 🙈

But the image sizes of the content elements in the news article would stay as configured in the content elements?

Yes, that was the initial idea. But for my use case, one would of course need to overwrite every image content element sizes (as well as maybe filter out some content management at all). So maybe my initial proposal

[2020-08-27 14:39] leofeyer commented on #733
Wie am 27. August auf Mumble besprochen, sollten wir prüfen, wie aufwändig es ist, für jeden Datensatz die Berechtigungen zu prüfen. Falls dies nicht möglich ist, wäre das eine known limitation.

[2020-08-27 14:48] leofeyer commented on #920
Wie am 27. August auf Mumble besprochen, sollte in diesem Fall der aktuelle Wert als unbekannte Option zum Select-Menü hinzugefügt werden, damit dieser beim Speichern erhalten bleibt.

[2020-08-27 14:59] leofeyer commented on #1703
As discussed in Mumble on August 27th:

That is correct. We could remove the roles in the `moo_accordion` template, however, the jQuery script adds the roles dynamically, so we either need to use a more current version or another JS library – preferably not depending on jQuery or MooTools (e.g. https://github.com/oncode/handorgel).

[2020-08-27 15:24] richardhj commented on #1703
Adding `aria-controls=""` to the toggler and `aria-expanded="" aria-labelledby=""` to the div should be sufficient, no?
We may add `role=button` to the toggler.

[2020-08-27 15:33] leofeyer commented on #1725
As discussed in Mumble on August 27th, the best way to accomplish this is to remove the "show to guests only" field and add a "virtual" member group with the ID 0 for guests that can be selected in the "allowed member groups" field.

[2020-08-27 15:43] leofeyer commented on #1725
We have to consider, though, that the "show to guests only" checkbox is only available in the site structure and the "allowed member groups" feature everywhere.

[2020-08-27 15:48] leofeyer commented on #2203
Zeigen beide Inhaltselemente auf dasselbe Modul?

[2020-08-27 15:50] netzarbeiter commented on #2203
Ja, beide auf `Applications - Listing [Auflistung]`.

[2020-08-27 15:59] fritzmg commented on #1530
I cannot reproduce the problem in Contao 4.9.5.

[2020-08-27 15:59] leofeyer commented on #1530
We have tried to reproduce this during our Mumble call on August 27th, however, we could not (tested with Contao 4.9.4, 4.9.5 and 4.9.x-dev). The InsertTags class prevents endless recursions if the content does not change anymore.

@bennyborn How do we reproduce this in Contao 4.9.5?

[2020-08-27 16:27] bennyborn commented on #1530
@leofeyer The bug occured in 4.9.0, I also wasn't able to reproduce it in the 4.9.5 in the online demo. Seems like it was fixed then.

[2020-08-27 19:08] stefan-at-work commented on #1703
Take a look at the solution from Matthias Ott: https://github.com/matthiasott/a11y-accordion-tabs

[2020-08-28 10:39] leofeyer commented on #2203
Das Problem wird von der Änderung in #2082 verursacht.

[2020-08-28 10:44] leofeyer commented on #2203
The PR also only changed the `ContentModule` class and not the following two, so besides this bug, it also caused inconsistencies.

https://github.com/contao/contao/blob/33841159b9b653e386a3fbecddb8d5336a743351/core-bundle/src/Resources/contao/elements/ContentAlias.php#L41-L48

https://github.com/contao/contao/blob/33841159b9b653e386a3fbecddb8d5336a743351/core-bundle/src/Resources/contao/library/C

[2020-08-28 12:04] Total-Reality opened #2205 "TinyMCE Bug in der Console - DevTools failed to load SourceMap"
**Affected version(s)**
Contao 4.9.5

**Description**
Bearbeitung eines Inhaltselements mit Textarea und TinyMCE Editor im Google Chrome Browser.
Fehler tritt laut Aussage eines Kollegen im Firefox nicht auf.

Das sieht man auf jeden Fall auch in der offiziellen Demo:
https://demo.contao.org/contao?do=article&table=tl_content&id=1&act=edit&rt=hkCiqHOWe4G8zJozWZyJOQ0aDGHqsrnkBvIBv8sihCg&ref=2pectHR

[2020-08-28 13:01] #1187 closed, assigned to nobody

[2020-08-28 15:02] leofeyer opened #2210 "Disabled settings trigger errors upon saving"
**Affected version(s)**

Contao 4.10

**Description**

Since #1382, settings defined in the app configuration are disabled in the back end. When trying to save the form, however, these fields trigger errors:

<img width="709" alt="" src="https://user-images.githubusercontent.com/1192057/91582314-eb719880-e94f-11ea-8a92-8f1f9a230ed1.png">

[2020-08-28 21:30] Sigma-90 opened #2212 "Script tag for JSON-LD schema is not closed properly"
**Affected version(s)**

Contao 4.9.3

**Description**

Today I was linking a news feed to the reader page for the first time in this Contao version and was stumped to see that the web page's fonts reverted to ugly Times New Roman when I opened an article.
The cause of the issue was quickly identified:
The theme I'm using is adding another script tag to the header (which handles theme initializati

[2020-08-28 22:03] fritzmg commented on #2212
You need to report bugs that affect a current version of Contao. Update to Contao 4.9.5 and test again.

[2020-08-28 22:05] Sigma-90 commented on #2212
Apologies Leo & Co., it seems I posted this issue too hastily.
After modifying my search term a bit in my IDE, a new file showed up in the list which actually contained the cause of the bug. And it turned out to belong to the theme as well, so it actually wasn't Contao's fault. My bad. I will contact the theme devs as soon as possible so they can fix it on their end.

[2020-08-28 22:05] #2212 closed, assigned to nobody

[2020-08-29 18:17] ausi commented on #2210
Adding `$GLOBALS['TL_DCA']['tl_settings']['fields'][$field]['eval']['mandatory'] = false;` to https://github.com/contao/contao/blob/5324c34972dbabe6c439cd2ff6f01cde974f1a36/core-bundle/src/EventListener/DataContainer/DisableAppConfiguredSettingsListener.php#L55-L57 fixed the issue in my test.

[2020-08-29 18:40] fritzmg commented on #2210
But that's not really how `disabled` fields are supposed to work, is it? 🤔

[2020-08-29 22:34] ausi commented on #2210
I don’t know. Setting a `disabled` field to `mandatory` could be seen as a misconfiguration I guess?

[2020-08-30 09:00] fritzmg commented on #2210
Yeah, I guess you are right.

[2020-08-30 11:37] ausi commented on #2210
But intuitively I would also expect the `disabled` option to take precedence over all other settings.

To make this work we could change https://github.com/contao/contao/blob/af6fbee47ea5375deefcf4dca6d4362d584a7ff4/core-bundle/src/Resources/contao/library/Contao/Widget.php#L809-L812 to `if (!$this->mandatory || !$this->blnSubmitInput)`

[2020-08-31 10:07] #2203 closed, assigned to nobody

[2020-08-31 11:19] dmolineus opened #2214 "Generated page urls contains host information twice"
**Affected version(s)**

Contao 4.10.0

**Description**

I have a Contao setup where a custom port is used and as part of the root page dns (`PageModel::domain`). Contao isn't able to generate valid page urls anymore. A generated page url for the root page dns setting `localhost:8080` looks like `http://localhost:8080/localhost:8080:8080/example.html`

The issue seems to be be related to the host

[2020-08-31 11:21] #316 closed, assigned to nobody

[2020-08-31 11:21] #1847 closed, assigned to nobody

[2020-08-31 13:00] #920 closed, assigned to nobody

[2020-08-31 14:15] leofeyer commented on #2084
PR for Contao 4.4: #2216

[2020-08-31 14:43] #2070 closed, assigned to nobody

[2020-08-31 14:59] leofeyer commented on #733
Also ohne Permission-Voter ist es quasi unmöglich, die Berechtigungen zu prüfen. Bis wir die haben, bleibt das also auf jeden Fall eine known limitation.

[2020-09-01 09:42] Grasuzu commented on #871
Aber wenn ich mich nicht irre, löst das das Problem feinerer Benutzerrechte nicht, oder?
Eine Art Pagemount für "Erlaubte Themes" fehlt mir gerade.

[2020-09-01 10:47] #1876 closed, assigned to nobody

[2020-09-01 15:57] RoflCopter24 commented on #1527
I have a similar problem, where there are __no__ Exceptions logged at all, only debug and info messages

What I noticed is, that in my case there is never an EventListener for the event "kernel.exception" registered, that actually writes an exception to the Logger (you can see them using `vendor/bin/contao-console debug:event-dispatcher kernel.exception`)

In a Contao 4.4.* and a 4.6 version I tes

[2020-09-01 21:16] math-GH opened #2218 "user icons: mouseover + better lock icon"
In Contao 4.9 the backen user icons looks like
![grafik](https://user-images.githubusercontent.com/1645099/91906382-62889300-eca8-11ea-9dd2-68a016c1b403.png)

I am honest: I am not really lucky with them in some little points:
1) there is a little orange lock on the corner if 2FA is used
![grafik](https://user-images.githubusercontent.com/1645099/91906514-982d7c00-eca8-11ea-845d-7ffd429ba9b8.png)

[2020-09-02 06:41] #2157 closed, assigned to nobody

[2020-09-02 08:25] leofeyer commented on #2084
PR for Contao 4.9: #2221

[2020-09-02 09:12] madmaharaja opened #2222 "Hinweis "fehlender Sprachen-Fallback Website-Startpunkt" nur für Benutzer mit entsprechenden Zugriffsrechten"
Ich administriere eine Contao-Installation mit über 100 Redakteuren/Benutzern. Jedoch hat bis auf mir kein anderer Benutzer die Benutzerrechte, um die DNS-Einstellungen in einer Rootseite in der Seitenstruktur zu bearbeiten. Dennoch wird allen Benutzern in Contao der Warnhinweis eingeblendet: "_Keiner der aktiven Website-Startpunkte für foo.bar wurde als Sprachen-Fallback definiert._"
Das führt sc

[2020-09-02 09:15] fritzmg commented on #2222
Hm, why is that important to you? Regardless of who sees or does not see this warning - it shouldn't be something that stays for a long time anyway.

[2020-09-02 10:32] madmaharaja commented on #2222
It is not super important -- but I already mentioned why I think it makes sense.
The warning mainly has popped up for test sites that I set up within our installation under dedicated subdomains. In these cases I have sometimes forgoten or neglected the fallback setting and warning for a while because it wasn't really relevant for any public websites. However, it did confuse some people. So, one co

[2020-09-02 10:49] fritzmg commented on #2222
I would argue that a misconfiguration is also relevant for back end users who cannot do anything about it, since they then will know what's wrong if they run into an error related to said misconfiguration. And they can contact the site's administrator about the warning.

[2020-09-02 13:27] leofeyer commented on #2210
Should we not return immediately if we know that the widget does not submit anything?

[code]

[2020-09-02 13:29] leofeyer commented on #2210
And is this not the actual cause of the error?

https://github.com/contao/contao/blob/af6fbee47ea5375deefcf4dca6d4362d584a7ff4/core-bundle/src/Resources/contao/classes/DataContainer.php#L375-L388

Why validate a widget that does not submit any input?

[2020-09-02 14:54] #2147 closed, assigned to nobody

[2020-09-02 15:04] leofeyer commented on #2084
PR for Contao 4.10: #2227

[2020-09-02 15:04] #2084 closed, assigned to nobody

[2020-09-02 20:25] ausi commented on #2210
I honestly don’t know for what `submitInput()` is meant to be used for. Maybe the widget could get the value from somwhere else but still needs to be validated and saved?

I think I would just extend the check in https://github.com/contao/contao/blob/af6fbee47ea5375deefcf4dca6d4362d584a7ff4/core-bundle/src/Resources/contao/library/Contao/Widget.php#L809 this should most likely not break existing c

[2020-09-03 08:08] Kahmoon opened #2230 "Variable for newsletter reader view link"
Hi,

this time i hit the right place for a request :-P.

Can we get a variable for "view at website" link in a newsletter? Actually there is no such variable. You have to build an almost static link to archive this.

replaceInsertTags( '{{env::url}}/' ); ?>intern/newsletter/alias ?>.html
Greetings Frank

[2020-09-03 08:10] Kahmoon commented on #2202
Is this issue at the right place?

[2020-09-03 09:26] AndreasMuellerLiving opened #2231 "Time control wrong / counter-intuitive"
**Affected version(s)**
Contao 4.4.24 (maybe other versions too)

**Description**
Time control of the elements to the minute is counter-intuitive. The value in the "From" field is OK, the value in the "To" field is intuitively "-2 minutes".

**What I've found out:**
If you want to show elements to the second, the system behaves strangely. E.g. if you want to display an element from "10:00:00" to "

[2020-09-03 09:29] fritzmg commented on #2231
As already mentioned on the forum, you first need to update to the most recent Contao version, e.g. Contao **4.4.51** in your case at the time of writing.

[2020-09-03 09:35] ausi commented on #2202
Yes 👍

Do you mean the “Allowed member groups” setting in the settings of a user group?

The help text of that field says “Members of these groups can be used in the front end preview.”.
This setting does not affect creating new members, it only affects the front end preview.

[2020-09-03 09:41] Kahmoon commented on #2202
Hmm that makes sense....

Is there any way to set this when creating new members?

[2020-09-03 11:07] leofeyer commented on #2231
That is correct and intended. The input field accepts the time in the HH:MM format and rounds timestamps to the full minute:

https://github.com/contao/contao/blob/e09d6df8b7ab00c63a80f21dcd906e073e70bb01/core-bundle/src/Resources/contao/library/Contao/Date.php#L625-L633

[2020-09-03 11:40] AndreasMuellerLiving commented on #2231
OK, understood, thanks @leofeyer.

Still, was able to repoduce the behaviour of the system for the value in the "To" field for Contao 4.4.51.
Adding "03.09.2020 13:38" results in not showing the content as from "03.09.2020 13:37:00" on.

[2020-09-03 11:49] ausi commented on #2202
That should be possible with a custom DCA configuration for `$GLOBALS['TL_DCA']['tl_member']['fields']['groups']['options_callback']`.

[2020-09-03 11:54] Kahmoon commented on #2202
Thanks. At which file should i place this?

Path probably contao/dca

[2020-09-03 12:01] fritzmg commented on #2202
See the [dev docs](https://docs.contao.org/dev/) on how to implement DCA callbacks.

[2020-09-03 12:06] Kahmoon commented on #2202
Thanks. To much coding for me. Sorry

[2020-09-03 12:06] #2202 closed, assigned to nobody

[2020-09-03 14:39] #1885 closed, assigned to nobody

[2020-09-04 11:58] leofeyer commented on #2231
@ausi /cc

[2020-09-04 12:29] m-vo opened #2235 "Search indexer performance penalty/glitches"
**Affected version(s)**

(only tested with current master so far, probably at least 4.10)

**Description**

The search indexer locks and updates the search tables on every call even if nothing has changed (case A) with the exception of one scenario where the page was visited in preview mode first and therefore contains the wrong url (case B). When fixing this we should also make sure the lock only

[2020-09-04 17:09] hamidpeywasti opened #2237 "How do pages not added to sitemap.xml?"
**Affected version(s)**

Contao 4.*

**Description**

Why only for `Robots tag = "noindex,nofollow"`, the page will be eliminate from sitemap.xml? I mean; if `Robots tag = "noindex,follow"`, the page is added to sitemap.xml and Google Search Console throws error: "Submitted URL marked ‘noindex’".

This is what it should be?

[2020-09-04 17:11] Ernestopheles opened #2238 "Select members as newsletter-recipients"
Quite often one wants to write to a selected set of members (select these from member list by filter or manually).
A new icon with a row in the member list would be fine, selecting these members for a special newsletter channel "write to selection". And/or another button after clicking "process many" doing this job.

[2020-09-04 17:12] fritzmg commented on #2237
See the discussion in #501.

[2020-09-04 17:23] hamidpeywasti commented on #2237
Thanks, but this is a bit confusing.

[2020-09-04 17:23] #2237 closed, assigned to nobody

[2020-09-04 22:22] ausi commented on #2231
The input field is not limited to minutes, you can set the time format to HH:MM:SS and enter seconds too. The `start` and `stop` columns of `tl_content` do not get rounded to the minute.

There are two checks in place for the published/unpublished logic. The first one is in https://github.com/contao/contao/blob/1bfa560b95d8d6e5402e9d8c5cc0575cec1c6e34/core-bundle/src/Resources/contao/models/Conten

[2020-09-04 23:14] rabauss commented on #1816
oh das wollte ich mir ja ansehen /cc myself

[2020-09-05 11:17] Babelfisch opened #2239 "IDN Domain wird nicht erkannt"
Contao 4.9.5

Lege ich einen neuen Startpunkt einer Webseite an und trage die IDN-Domain `www.übungsgrammatik.de` als Domainnamen ein, steht nach dem Speichern nur noch `www.` im Textfeld drin. Entsprechend kann der Startpunkt nicht aufgerufen werden.

Trage ich nur `übungsgrammatik.de` für den Domainnamen ein, bleibt die Domain korrekt im Textfeld stehen. Allerdings bekomme ich beim Aufruf der We

[2020-09-05 12:04] fritzmg commented on #2239
May be the `url` `rgxp` should also automatically use `Idna::encode` and `Idna::decode`? The `email` `rgxp` does the same (although it does not decode).

[2020-09-05 13:40] SGehle opened #2240 "\Controller::redirect() not working in save_callback in ModuleRegistration"
**Affected version(s)**

Contao 4.9.5

**Description**

If i use the \Controller::redirct()-Method in a DCA save_callback in ModuleRegistration, the Widget shows "This exception has no message. Use $exception->getResponse() instead."
I think its because of the thrown RedirectResponseException.

[2020-09-05 13:42] m-vo commented on #2240
Why would you want to do this?

[2020-09-05 13:49] aschempp commented on #2239
Does it work in Contao 4.4?

[2020-09-05 13:55] SGehle commented on #2240
I have to use it, because if a special value is entered, if have to cancel the registration process and redirect to another page. I can also not use the createUser Hook because when its triggered, the new user is already created.

[2020-09-05 13:56] fritzmg commented on #2240
We have to add

[code]

In `ModuleRegistration::compile`, just as we do in `DataContainer::row`.

[2020-09-06 13:29] #1888 closed, assigned to nobody

[2020-09-06 15:43] HenryVolkmer opened #2245 "TypeError when trying to base64_decode a null value"
**Affected version(s)**

Contao 4.9 till master

**Description**

in scenarios, where no Querystring is set, [this](https://github.com/contao/manager-bundle/blob/master/src/EventListener/BackendMenuListener.php#L105) causes a TypeError.

Such a Scenario is given, if the `do=`-Param is not available.
All tests passed false-positive, because the `do=`-Param is [hardcoded in Test itself](https://gith

[2020-09-07 06:00] #2240 closed, assigned to nobody

[2020-09-07 06:02] #2198 closed, assigned to nobody

[2020-09-07 07:22] volkerrichert opened #2246 "CSRF-Token kommt durcheinander und ein Login ist nicht mehr möglich"
**Affected version(s)**

Contao 4.9

**Description**

In einem Projekt ist uns jetzt aufgefallen, dass der CSRF-Mechanismus durcheinander gebracht werden kann, so dass kein Login für mit Mitglieder mehr möglich ist. Aufgefallen war uns das beim IE11, das lässt sich aber auch bei anderen reproduzieren, wenn auch nicht so einfach. Ausgangspunkt:

- Eine Site mit Mitgliedern.
- eine 404-Umleitung auf

[2020-09-07 07:49] fritzmg commented on #2246
Which Contao version exactly?

[2020-09-07 08:23] aschempp commented on #2210
I don't think returning on empty content is correct (as suggested by @ausi). We must not validate a widget that does not submit input (which is the case if it is disabled, or the widget has only presentational purpose).

[2020-09-07 09:05] aschempp commented on #1527
Does that mean you're not using the Contao Managed Edition (`contao/manager-bundle`)?

[2020-09-07 09:14] aschempp commented on #2218
what would be your proposed solution?

[2020-09-07 09:19] aschempp commented on #488
Is there an actual reason to redirect with parameters at all?

[2020-09-07 09:20] RoflCopter24 commented on #1527
No, sorry that was probably not clear enough. I was trying to say that it was not freshly installed using the Contao Manager. The composer.json is based on the Managed Edition but has been copied from another project and modified, then installed using the command line :-)

Unfortunately I did not have time to pursue this issue further, so no news from me just yet.

For reference, here is the compo

[2020-09-07 09:23] aschempp commented on #1434
see #2232

[2020-09-07 09:23] #1434 closed, assigned to nobody

[2020-09-07 09:30] aschempp commented on #933
I did look into this a while ago, and its not as easy as it seems. I would agree to @leofeyer (therefore closing this for now).

[2020-09-07 09:30] #933 closed, assigned to nobody

[2020-09-07 09:38] aschempp commented on #2222
I agree it could be confusing, but I think it's a good thing the confused user will contact the site administrator, which should fix the issue.

[2020-09-07 09:38] #2222 closed, assigned to nobody

[2020-09-07 09:40] gmpf commented on #488
I was thinking about short URLs. E. g. you have a page `news` that redirects to a page with a longer alias `somewhere/in/page-tree/news-reader-page`, and that page contains a reader module. So you can link to `example.com/news/alias-of-news-article` instead of `example.com/somewhere/in/page-tree/news-reader-page/alias-of-news-article`. I've never done something like that, but it seems like a valid

[2020-09-07 10:21] volkerrichert commented on #2246
LTS 4.9.5

[2020-09-07 10:22] leofeyer commented on #2210
That is what I think, too.

[2020-09-07 10:27] fritzmg commented on #2246
So, just to be clear:

* In your site structure you have configured a 404 page.
* In the settings of that 404 page you have configured a redirect to a page with the alias `startseite`.
* Under a specific front end URL, which also contains a form, missing assets were included.
* The URL for these assets then generated the 404 page, which redirected to `startseite.html`.

Question: does `startseite.

[2020-09-07 10:34] HenryVolkmer commented on #2246
Did you use a https or an unsecure http-connection?
Can you confirm your Bug with forced https?

[2020-09-07 11:05] #1813 closed, assigned to nobody

[2020-09-07 11:11] leofeyer commented on #2114
@ausi Should we apply `specialchars()` to the request insert tag by default?

[2020-09-07 11:22] aschempp commented on #2164
That would also be the minimum requirement though, right?

[2020-09-07 11:28] fritzmg commented on #2164
Well if we allow lower Symfony Versions we can check for the version and only set the default to `native://default` accordingly.

[2020-09-07 11:30] ausi commented on #2114
Using `{{env::request}}` inside CSS or JS code would break then.

I think using `{{env::request|specialchars}}` for outputting the URL in an HTML context is the correct solution for this issue.

[2020-09-07 11:30] aschempp commented on #1995
I would assume:
 1. The image was uploaded and added to a content element
 2. The front end was viewed and the page cached, but obviously not all image sizes created because they are deferred
 3. The source image was deleted afterwards

Is there a reason not to catch (and probably ignore) that error? A 500 seems worse that a 404 to me?

[2020-09-07 11:42] ausi commented on #1995
So, we should ignore that error, but keep the deferred JSON file in place?
I guess that would be OK with me.

[2020-09-07 12:08] #2114 closed, assigned to nobody

[2020-09-07 12:16] volkerrichert commented on #2246
yes

yes

yes, it was a sourceMap.

yes

yes, every page contains the login form (or logout)

it's https only. The csfr-cookie is changed

[2020-09-07 12:29] fritzmg commented on #2246
Hm, I am unable to reproduce the problem in Firefox or IE 11. I tried the following reproduction:

* Create a login form.
* Integrate login form into your page layout.
* Create 404 page, enable the redirect setting and choose a page to redirect to.
* Add a non existent asset, e.g. via an event listener where you execute: `$GLOBALS['TL_JAVASCRIPT'][] = 'does/not/exist.js';`.
* Open the front end an

[2020-09-07 12:35] leofeyer commented on #2231
Well that is a bug then. We have agreed on rounding to minutes (see 9d1073a03aebd5f8ca9e15f44417a3310b2bb9bc), so we should do this for content elements, too.

[2020-09-07 12:39] leofeyer commented on #1995
Fine with me, too.

[2020-09-07 13:05] ausi commented on #2210
I just looked at this again: If `$objWidget->submitInput()` is false the save method is never called. So I think @aschempp is right *“We must not validate a widget that does not submit input”* 👍

[2020-09-07 13:08] ausi commented on #2231
AFAIK we are rounding to minutes only for database queries (so that the queries don’t change every second). But we are not rounding to minues for storing time values or for other checks that don’t involve the database.

[2020-09-07 14:41] leofeyer commented on #2231
Ok, but that implies that the code in the `ContentModel` class is correct, doesn't it?

[2020-09-07 15:46] #2245 closed, assigned to nobody

[2020-09-07 15:56] volkerrichert commented on #2246
ok, i try to create a minimal setup to repoduce.

- normal CTO 4.9.5
- create a minimal website mit theme, etc
- add a login form to the startpage
- add 404 redirect to that page

-> everything works fine

add a js to the files and link it inside the theme / layout. I used that one to have something "relevant"
`function test (test) {
	console.log(test)
}

test('hallo')
//@ sourceMappingURL=jquery.

[2020-09-07 16:01] fritzmg commented on #2246
I see. Possibly related to #2186 as well? I'll do some further testing when I have the time.

[2020-09-07 16:07] leofeyer commented on #2235
I have fixed case A in #2249. I am not sure about case B though; what exactly would you expect? That Contao removes the `/preview.php` fragment from the URL?

[2020-09-07 16:10] leofeyer commented on #2235
We will most likely need a separate PR for Contao 4.10, because @ausi has reworked the search logic (e.g. there is no table locking in Contao 4.9).

[2020-09-07 16:13] volkerrichert commented on #2246
maybe. I'll try the fix

[2020-09-07 16:28] ausi commented on #2235
Done: #2250

[2020-09-07 16:36] ausi commented on #2231
No, regardless of where we want to round to minutes the code in `ContentModel` is wrong, as written in https://github.com/contao/contao/issues/2231#issuecomment-687428831 :

`$time` is already rounded to minutes there, but the addition of 60 seconds is wrong.

[2020-09-07 19:51] leofeyer commented on #2231
Sorry if I am missing the point, but the code looks exactly like everywhere else, e.g. here:

https://github.com/contao/contao/blob/426f156f0b871adfbe1c560da44771dde6fceab6/core-bundle/src/Resources/contao/models/PageModel.php#L644-L645

`Date::floorToMinute()` strips the seconds, so the query is "where start is less than minute or stop is more than minute + 60 seconds". It is intended to use `$ti

[2020-09-07 20:01] fritzmg commented on #2246
I am able to reproduce the problem now.

1. Create a login form and a member with login details.
2. Add login form to the start page via a `module` content element.
3. Create 404 page, enable the redirect setting and choose the start page to redirect to.
4. Create a new template called `ce_html_test.html5` with the following content (assuming that `foobar` is an invalid URL in your setup):
[code]

[2020-09-07 20:50] math-GH commented on #2218
I won't mix up the user icon (user or admin) with the type of login (PW or PW+2FA).
For the type of login I would use a second icon:
The second icon could look like:
no 2FA required or no 2FA set up: no icon or 3 points in a row (like a password input)
2FA required, but not set up: open lock or just the borders of a lock or a grey lock
2FA set up: closed lock

[2020-09-07 21:17] ausi commented on #2231
If we go with a simplified example:

1. Start is at 60s
2. Stop is at 180s

As soon as the current time passes 60 seconds the start condition `60 <= 60` matches. When the current time reaches 179 it is floored to 120 and the stop condition `180 > 120` still matches so at 179 it would still be visible. In the next second 180 is floored to 180 and the stop condition `180 > 180` doesn’t match anymore

[2020-09-08 07:41] leofeyer commented on #2231
Hm, `$time + 60` really does not make sense. But why did we add it then?

[2020-09-08 07:44] leofeyer commented on #2231
Found this: https://github.com/contao/core/issues/7450#issuecomment-85677446

[2020-09-08 07:45] ausi commented on #2231
If you would want an element with a stop time of 12:30 to be shown until the end of 12:30 (meaning 12:30:59) you would use `($time - 60)` (minus instead of plus).

[2020-09-08 08:11] qzminski opened #2254 "Automatically add absolute flag for external redirects"
When you create a new page of external redirect type, choosing a page in picker generates a `{{link_url::ID}}` insert tag. This is wrong as then the generated URL is relative and the redirect will point in fact to a 404 page (i.e. visitor is taken to `https://domain.tld/$redirectPageAlias/$redirectUrlTarget`). This is easily fixed by making the URL absolute `{{link_url::ID|absolute}}`, yet regular

[2020-09-08 08:16] fritzmg commented on #2254
Why does it point to a 404 page? Any relative URL is prepended by the `<base href>` by the browser.

[2020-09-08 09:05] qzminski commented on #2254
@fritzmg I forgot to mention, it happens when you access the page URL directly. Then the redirect response being thrown/returned contains an invalid URL.

[2020-09-08 09:05] #2231 closed, assigned to nobody

[2020-09-08 09:06] fritzmg commented on #2254
I see, makes sense now :)

[2020-09-08 10:35] ausi commented on #2254
I think instead of the `|absolute` flag we should resolve all relative URLs (after replacing the insert tag) so that manually entered relative URLs (and other/custom insert tags) also get absolutized.

[2020-09-08 10:42] fritzmg opened #2258 "Use version strategy for contao-components assets"
When updating to Contao 4.10 a lot of users and editors stumble over the problem that they still have old assets cached in their browser and thus they need to clear their browser cache in order to get the TinyMCE working again for example.

Since the `be_tinyMCE` template for example uses `$this->asset` anyway, wouldn't it make sense to define a version strategy for these assets, so that the cache

[2020-09-08 11:24] fritzmg commented on #2258
Though the same problem applies when there are any changes to the back end layout or JavaScript - but for that the version strategy would have no effect.

[2020-09-08 12:10] leofeyer commented on #2258
Using `$this->asset()` ensures that the `js/tinymce.min.js` file has a version parameter, however, the different `plugin.min.js` files are loaded by TinyMCE itself and I doubt that we can influence that.

[2020-09-08 12:20] fritzmg commented on #2258
True, I haven't thought of that.

[2020-09-08 13:22] philvdb commented on #2022
Just a final follow-up: Mea culpa (as was to be expected).

Turns out I messed up in `services.yml`. Fragment Controllers are running fine, using Twig and with on-demand provision of Twig template values - everything A-OK.

Apologies again for having mistaken my ineptitude for a bug. That one is obviously a feature :laughing:

[2020-09-08 13:35] m-vo commented on #2235
I think so. The `/preview.php` fragment never makes sense in the index, does it?

[2020-09-08 13:37] m-vo commented on #2235
And by the way: :hearts: for your two super quick PRs/fixes!

[2020-09-08 13:43] ausi commented on #2235
But just removing `/preview.php` from the URL would not work as the potentially wrong content would then get indexed. I think `Search::indexPage()` should not get called in the first place for `/preview.php`.

[2020-09-08 14:40] leofeyer commented on #2235
IMHO, the if condition in the following code is incomplete:

https://github.com/contao/contao/blob/989d8986989a818973bbb814ba80ed97004b6485/core-bundle/src/Resources/contao/library/Contao/Search.php#L201-L224

**if → Use the new URL if**

* the new URL does not have a query string but the current one does

**elseif → Use the current URL if**

* the new URL has more slashes than the current one or

[2020-09-09 06:31] #2210 closed, assigned to nobody

[2020-09-09 06:52] ausi commented on #2235
Why does the code delete existing entries? This doesn’t make sense IMO.

As far as I understand the purpose of this code: If an index for the same page ID with the exact same content (checked via checksum) exists we want to use the shorter/more canonical URL of both entries.

I think we should rewrite the code to:

1. Check which URL is more canonical, `$objIndex->url` or `$arrSet['url']`.
2. If `

[2020-09-09 06:59] aschempp commented on #2162
I investigated this, but I find that rather confusing. The `contao.search.indexer` is an alias to the delegating indexer, which is supposed to forward the content to multiple indexers. If the default indexer is disabled, the respective service is removed. Which results in _no indexers available_ so the `contao.search.indexer` alias is not created.

I think it would be better to always have the `co

[2020-09-09 06:59] leofeyer commented on #2171
@aschempp The `UrlGenerator` in Contao 4.9 automatically sets the reference type to `URL_ABSOLUTE` if the hostname does not match the context hostname:

https://github.com/contao/contao/blob/de1d4b9342fac7ac1df8f614ce36969de45579e8/core-bundle/src/Routing/UrlGenerator.php#L169-L174

Do you want me to adjust the `PageUrlGenerator` accordingly?

[2020-09-09 07:07] leofeyer commented on #2235
Did you probably forget to remove these lines in your PR? Or are they still in because of a merge conflict?

[2020-09-09 07:08] aschempp commented on #2171
That shouldn't be necessary. The (default) routes in Contao 4.9 do not have a host, we manually create them. In Contao 4.10, routes _always_ have a host based on their page settings, as far as I know the system should automatically add the host if the current context does not match it. But I don't know (yet) why this does not happen here …

[2020-09-09 07:12] leofeyer commented on #2171
I can tell you. The Symfony UrlGenerator sets the reference type to `NETWORK_PATH` if it is not `ABSOLUTE_URL` and the host does not match the route host:

[code]

https://github.com/symfony/symfony/blob/4.4/src/Symfony/Component/Routing/Generator/UrlGenerator.php#L264-L269

[2020-09-09 07:15] Toflar commented on #2162
Nope. We've explicitly removed it. It's just possible to not have an indexer at all if search is disabled. That's very normal in Symfony.
You should make the dependency optional.

[2020-09-09 07:17] ausi commented on #2235
I did not change this logic, it’s the same in 4.9 (besides the deletion queries adapted for the new table structure).

[2020-09-09 07:28] Toflar commented on #2162
If you want the service to always exist, we have to introduce a `NullIndexer` that fulfills the interface to which we can alias.

[2020-09-09 07:31] leofeyer commented on #2171
@bennyborn Until the issue is resolved, you can add the `|absolute` flag to the insert tag, so it generates the correct URL.

[2020-09-09 07:38] aschempp commented on #2171
@bennyborn can you please also check if you enabled the `https only` flag in the root page? If you do that (and assuming your website uses https), I would think the protocol is appended automatically.

[2020-09-09 08:49] ausi opened #2263 "PHP 8.0 Roadmap"
The planned release date for PHP 8.0 is December 3rd.
8.0.0-RC1 is planned for September 17th.

Contao 4.9, 4.10 and 4.11 will be compatible with PHP 8.0.
Contao 4.4 will not be compatible.

### ToDos (to be extended):

- [x] Agree on `^7.2 || ^8.0` vs. `>=7.2` (see https://github.com/sebastianbergmann/phpunit/commit/fa50b8949b6f2f98a614fe66f54c5e6ea6a0f078 for example). Result: `^7.2 || ^8.0`
- [

[2020-09-09 08:52] ausi commented on #2263
@contao/developers At which point is it OK to release PHP 8 compatible versions?
I think as soon as `8.0.0-RC1` got released we can start releasing compatible versions.

[2020-09-09 09:35] aschempp commented on #2263
The sooner the better, but it depends a lot on the environment and lots of packages, so I guess it will take a while…

[2020-09-09 09:36] aschempp commented on #2162
see https://github.com/contao/contao/pull/2265 (and https://github.com/contao/contao/pull/2264)

[2020-09-09 09:36] #2162 closed, assigned to nobody

[2020-09-09 09:40] ausi commented on #2263
I think we should start releasing our own depenencies early and only release `contao/contao` itself with php 8 support once all dependencies work with it too.

[2020-09-09 09:41] jxns opened #2266 "Sorting in Theme-Editor breaks when adding new elements (Page Layout)"
**Affected version(s)**

Contao 4.10.0?

**Description**

When adding external stylesheets (and also external JavasScripts) into the themes page layout, the sorting breaks and all previously added (and sorted) stylesheets are resorted.

I was able to reproduce this issue on all my 4.10.0 versions.

[2020-09-09 10:00] m-vo commented on #2263
Shouldn't composer handle this? Or do you think about possibly (wrong because incompatible) open php version constraints in 3rd party code that will break with php 8?

[2020-09-09 10:06] ausi commented on #2263
Yes, but IMO it doesn’t make sense to confuse everybody by stating that Contao is php 8 compatible even if our dependencies are not.

[2020-09-09 11:21] Toflar commented on #2266
See https://github.com/contao/contao/pull/2267

[2020-09-09 11:21] #2266 closed, assigned to nobody

[2020-09-09 13:39] leofeyer commented on #2235
Then we should probably rework this. 🙈

[2020-09-09 13:49] jxns opened #2269 "Using "/" in page alias"
**Affected version(s)**

Contao 4.10.0

**Description**

When entering a page alias for a page, using "/" throws an error ("Ein Fehler ist aufgetreten!"), although "/" belongs to the allowed special characters (".", "-", "/", and "_").

[2020-09-09 13:57] ausi commented on #2235
I will make PR

[2020-09-09 13:58] #2269 closed, assigned to nobody

[2020-09-09 18:10] bennyborn commented on #2171
@aschempp Just tried it. Enabling `https only` does not seem to have any effect.

[2020-09-09 18:13] bennyborn commented on #2214
Seems related to #2171

[2020-09-09 18:21] bennyborn commented on #2254
Haven't been able to reproduce this in the online demo. Using the Inser-Tag `{{link_url::xx}}` as well as opening the page directly leads to the desired url...

[2020-09-10 06:32] leofeyer commented on #2254
The online demo is still at version 4.9.5. 🙈

[2020-09-10 06:46] bennyborn commented on #2254
So? @qzminski  said he tested it on 4.9.5 ;)

[2020-09-10 06:50] zonky2 opened #2271 "Bug in SelectMenu.php when creating the name for active attribute multiple"
**Affected versions**

Contao 4.4 and Contao 4.9

**Description**
Bug in SelectMenu.php when creating the name for active attribute multiple - see https://github.com/contao/core-bundle/blob/d6a89/src/Resources/contao/widgets/SelectMenu.php#L158

rtrim does not cut the "block" `[]`, but treats the characters as an array - thus turning `mcwtest[0][multi_select][]` into `mcwtest[0][multi_select`... t

[2020-09-10 06:50] leofeyer commented on #2254
You are right. My bad.

[2020-09-10 08:02] aschempp commented on #2214
🤣 🤣 🤣
I guess you mean clue (*Idee/Ahnung*) not glue (*Leim/Kleber*) 😂

Yes, and https://github.com/contao/contao/pull/2262 might fix (parts of) it. @dmolineus can you try that patch?

[2020-09-10 08:06] aschempp commented on #2254
I generally wonder why we should not always use absolute URLs? I can't imagine it to ever harm and it would solve millions of issues (including https://github.com/contao/contao/pull/2262) 🤷

[2020-09-10 08:11] leofeyer commented on #2254
I am for it. @contao/developers Any objections?

[2020-09-10 08:11] aschempp commented on #2271
Looks like a bug to me. But why do we strip that at all? 🤔

[2020-09-10 08:12] Toflar commented on #2254
That would mean removing the flag and just always generate absolute URL's intstead then? I actually never understood why there are relative ones in the first place either but 🤷‍♂️

[2020-09-10 08:20] zonky2 commented on #2271
this happens only for the hidden field - maybe so that `null` comes as value and not an empty array?

see https://github.com/contao/core-bundle/commit/0392221ad9bfa5bc061dd710ca2c7ea2a2156962#diff-ecee54532cf6f0f1d798676d36f7961d

[2020-09-10 08:28] aschempp commented on #2271
see https://github.com/contao/contao/pull/2275

[2020-09-10 08:28] #2271 closed, assigned to nobody

[2020-09-10 08:33] fritzmg commented on #2254
Are we talking about `UrlGeneratorInterface::ABSOLUTE_URL` or `UrlGeneratorInterface::ABSOLUTE_PATH`?

[2020-09-10 08:52] ausi commented on #2235
Done: #2276

[2020-09-10 09:47] #2235 closed, assigned to nobody

[2020-09-10 10:08] ausi commented on #2254
For `{{link_url}}` only? That would then generate different type of URLs than the navigation module.

If we want to change how URLs work in Contao, we should IMO develop a consistent concept (and drop `<base>` for example) and change all URLs togehter (where possible) in a minor release.

[2020-09-10 10:13] aschempp commented on #2254
Can you explain that? You mean if the URL is accessed from the back end? This should be solved by https://github.com/contao/contao/pull/2262 as well.

[2020-09-10 11:40] Defcon0 opened #2278 "Frontend preview for events not working"
**Affected version(s)**

tested in Contao 4.4

**Description**

To my knowledge it's possible to use the frontend preview to show events if their edit form is opened in contao.

I tried to click on frontend preview on a page like this:

[code]

If the domain I'm currently logged in in contao differs from the one specified in the calendar, the link of the frontend preview iframe is

[code]

The dom

[2020-09-10 11:43] aschempp commented on #2258
We already use cache busting for assets (I think that's what @leofeyer meant). But yeah, the loaded scripts are the issue, maybe we should adjust them in the `contao-components/tinymce` repo?

[2020-09-10 11:44] aschempp commented on #2218
I like the idea of having two icons. I'm not sure we need a separate one for _2FA enforced but not enabled_. We could simply use a grey or colored lock. @contao/developers wdyt?

[2020-09-10 12:05] leofeyer commented on #2258
That will not help, because this repo is also one of ours. If at all, you should report it to the TinyMCE devs.

[2020-09-10 15:06] aschempp commented on #2258
Thats what I mean. We could patch our files.

[2020-09-10 15:12] leofeyer commented on #2258
We cannot, because `contao-components/tinymce` is simply a distribution repository. The existing `.min.js` files are copied, some resources are removed and some are added. No code is changed.

I am not interested in increasing the effort by fetching the source files, patching them and then running the Grunt task to rebuild the minified files. I used to do this in the past when we added our stripnb

[2020-09-11 08:35] ausi opened #2282 "Get rid of phpunit/php-token-stream"
We should replace `phpunit/php-token-stream` with something else because it is abandoned.

***

https://github.com/contao/contao/pull/2281#issuecomment-690348360 @leofeyer Can we maybe rework the class so it works without the package? Maybe using the PHP function `token_get_all()`?

https://github.com/contao/contao/pull/2281#issuecomment-690352583 @m-vo That's what `PHP_Token_Stream` is doing as w

[2020-09-11 08:38] m-vo commented on #2282
👍 I'll have a look if Nikita's package works for us.

[2020-09-11 09:23] Toflar opened #2283 "Add support for AVIF image format"
I guess we can just implement it the same as for webp?
I quickly checked locally for `var_dump(Imagick::queryFormats('AVIF'));` and I do get a result 😄

/cc @ausi

[2020-09-11 09:31] m-vo commented on #2282
The stable channel of `nikic/php-parser` requires at least PHP 7.0 - would we still use this in Contao 4.4?

[2020-09-11 09:38] leofeyer commented on #2282
Contao 4.4 will not be compatible with PHP 8 anyway, so we only need to fix things in Contao 4.9+.

[2020-09-11 09:42] m-vo commented on #2282
Alright. The package is still abandoned, though.

[2020-09-11 09:44] leofeyer commented on #2282
You cannot avoid this with a long term package that lives 4 years. 🤷🏻‍♂️

[2020-09-11 11:05] ausi commented on #2283
This needs to be added in Imagine first I think in https://github.com/avalanche123/Imagine/blob/develop/src/Imagick/Image.php#L941 and in https://github.com/avalanche123/Imagine/blob/develop/src/Imagick/Image.php#L819

Did you check if `‌Imagick::setImageCompressionQuality()` works for AVIF images?

[2020-09-11 11:14] Toflar commented on #2283
Nope, I did not.

[2020-09-11 12:03] m-vo commented on #2282
see #2284

[2020-09-11 14:22] ausi commented on #2263
It looks like Symfony and PHPUnit are in favor of using `>=` for the PHP requirement.

WDYT? Please use 👍 for `>=7.2` and 👎 for `^7.2 || ^8.0`

__EDIT:__ We agreed on using `^7.2 || ^8.0`

[2020-09-11 14:35] leofeyer opened #2288 "Remove outdated dependencies"
<img width="841" alt="" src="https://user-images.githubusercontent.com/1192057/92938561-fac30c80-f44c-11ea-830e-1ea24cd6eed0.png">

_Originally posted by @ausi in https://github.com/contao/contao/pull/2281#discussion_r487060327_

[2020-09-11 14:39] leofeyer commented on #2263
Make sure to also watch https://www.youtube.com/watch?v=c3bpTBjhK2Y&t=363s

[2020-09-11 14:43] fritzmg commented on #2254
I think he means accessing the external redirect page with its alias in the front end, which will generate a redirect response to the external URL. But yes, this is also fixed by #2279.

[2020-09-11 15:02] qzminski commented on #2254
Yes, either via front end preview or the page URL directly. Could be solved in 4.10 but the "issue" remain in 4.9. Steps to reproduce on demo:

1. Create a page of "external redirect" type.
2. Name it "Redirect test" for instance.
3. Launch page picker and pick "About Contao" page with ID 50.
4. Tests:
4a. Open the page directly `https://demo.contao.org/en/redirect-test.html` and you are taken to

[2020-09-11 15:13] fritzmg commented on #2254
Right, forgot that this is for 4.9.

[2020-09-11 17:24] fritzmg commented on #2254
I was actually unable to reproduce the problem. The redirect was always correct in Contao 4.9.5 (and 4.9-dev).

[2020-09-11 19:45] temran opened #2289 "Bei der Ausführung des Skriptes ist ein Fehler aufgetreten. Irgendetwas funktioniert nicht richtig."
**Affected version(s)**

Contao 4.4 or Contao 4.9?

**https://delingsdorf.glantz.de/galerie-delingsdorf/v-tour-hoffest-2017-luftpanorama.html

Was ist das Problem?
Bei der Ausführung des Skriptes ist ein Fehler aufgetreten. Irgendetwas funktioniert nicht richtig.

Wie kann ich das Problem lösen?
Öffnen Sie die aktuelle Log-Datei im Ordner var/logs und suchen Sie die zugehörige Fehlermeldung (norma

[2020-09-11 20:36] m-vo commented on #2289
Please refer to the Contao forum or slack channel for these kind of support questions.

It would also be helpful if you open the page in debug mode and look at the actual error message (or in the log as stated in your posted error message).

[2020-09-11 21:11] leofeyer commented on #2289
https://contao.org/de/support.html

[2020-09-11 21:11] #2289 closed, assigned to nobody

[2020-09-11 21:18] temran commented on #2289
Thank you, I have informed the site owner. His webmaster will be solving this problem.

[2020-09-14 13:19] gmpf commented on #1015
I've just come across this issue in the wild and it sent me down a bit of a rabbit hole.

4.4.50 and 4.9.5 are also affected by the bug described in the initial message.

I've tried to follow the decisions in this thread, but I'm confused as to why the fix suggested by @leofeyer in the initial message ("trigger an error if someone enters a numeric alias") was not adopted until Contao can work with

[2020-09-14 16:09] bytehead commented on #2047
Closed in favor of #2293.

[2020-09-14 17:18] fritzmg commented on #1816
@rabauss nicht mehr notwendig :) #2296

[2020-09-14 18:57] #1816 closed, assigned to nobody

[2020-09-14 18:58] #2047 closed, assigned to bytehead

[2020-09-15 09:25] Aybee commented on #501
A long time ago I read somewhere that `nofollow` is only intended for the case when you present links to "bad" sites. So that they are not crawled. Or in a guest book, which allows visitors to show external links. I would really have problems setting a site to nofollow that I don't want Google to index if the other links on that site are all "good" pages.

[2020-09-15 09:39] ausi commented on #501
You should set it to `noindex,follow` in that case.

Can you link to the article where you read that?

[2020-09-15 12:42] bytehead commented on #1392
Closed in favor of #2299.

[2020-09-15 12:42] #1392 closed, assigned to bytehead

[2020-09-15 20:12] Aybee commented on #501
Did I get something wrong? I thought I had to use the combination `noindex, nofollow` so that a page does not appear in the sitemap.xml.

Oops, that was years ago, I no longer have the source. But I found a post about it.
https://moz.com/blog/nofollow-sponsored-ugc
https://webmasters.googleblog.com/2019/09/evolving-nofollow-new-ways-to-identify.html

If I interpret that correctly, then the `nofoll

[2020-09-15 20:41] ausi commented on #501
If Google (or any search engine) should not index your page you should use `noindex`. If you want that the page is not included in your sitemap.xml you have to use `noindex, nofollow`. With `noindex,follow` the page will still show up in the sitemap.xml because it has to in order to be able to “follow” the links on that page.

I was not able to find something that would suggest this on the linked

[2020-09-15 20:59] Aybee commented on #501
Das war nur das, was ich seit Jahren im Hinterkopf behalten habe. Auf der ersten verlinkten Seite finde ich z.B.

Aus diesem Grund habe ich noch nie eine Seite auf `nofollow` gesetzt. @fritzmg kennt ja auch keinen Usecase dafür.

Aber ich habe da wohl einen Denkfehler, was die sitemap.xml betrifft. Ich dachte, diese wäre für die Indexierung verantwortlich. Aber nachdem ich jetzt nochmal alle eure

[2020-09-15 21:14] fritzmg commented on #501
It won't be indexed by Google, but it will be indexed by Contao, if not disabled.

[2020-09-16 07:56] madmaharaja opened #2302 "Rights management: Limit which members & users each user can see/edit"
We are using Contao in an organization that has around 70 locations in Germany which each have their own website (all in one installation). There are around 100 users with dedicated user rights for their location website. A few of these locations make use of "members" in Contao -- e.g. some have a password-protected section on their website, some send personalized newsletters to members.

The prob

[2020-09-16 08:40] m-vo opened #2303 "Allow using Twig templates to implement/replace Contao templates"
Some time ago I created a [bundle](https://github.com/m-vo/contao-twig) that allows using Twig templates instead of or to overwrite Contao PHP templates. This concept really works out nicely if you want a 'twig-only' approach without having to change every single template.

One thing that bothers me, though, is that a [proxy PHP template](https://github.com/m-vo/contao-twig/blob/master/src/Resourc

[2020-09-16 09:05] aschempp commented on #2303
We've discussed Twig a few times, but there are a few more obstacles than "just" using it in modules.

[2020-09-16 09:13] m-vo commented on #2303
This is not about replacing our templates but enabling users that know how to deal with it to use them (like #1399). Or do you see any specific problems with this?

[2020-09-16 19:07] Aybee commented on #501
What does that mean? Indexed for the Contao search engine? If so, does that mean I additionally have to exclude the page from search?

[2020-09-17 08:23] aschempp commented on #2302
I like that idea. It would be a slight behavior change, but if I can preview the front end for a user, I can likely also edit the user data. I think @frontendschlampe came up with the idea to limit/allow the front end members?

[2020-09-17 08:34] aschempp opened #2306 "Numeric alias in Symfony routing"
_Originally posted by @gmpf in https://github.com/contao/contao/issues/1015#issuecomment-692046902_

[2020-09-17 08:34] aschempp commented on #2306
Good catch! You mean we should use `preg_match('/^[1-9]\d*$/', $varId)` in the Symfony router as well?

However, you said this also affects Contao 4.4, and that version does not use CMF Routing?

[2020-09-17 09:16] frontendschlampe commented on #2302
Maybe you mean this issue https://github.com/contao/contao/issues/331?

[2020-09-17 09:17] gmpf commented on #2306
I do, because it looks like that was the intent of making that change as a part of d3839c398db358d029ea8ca0f3ec7308d25cf043. @ausi would likely have a definitive answer on that.

It kind of depends on what you mean by "this", but it also doesn't matter because both versions are affected by both things. :D

The main issue in #1015 was that you could give a page an ID-like alias, which doesn't work

[2020-09-17 14:35] hwit-biz opened #2308 "Using calendars with different domains: Events containing wrong combined event urls - somehow related to #2171"
**Affected version(s)**

Contao 4.10

**Description**

Contao calendar module generates wrong combined event urls when using calendars on different domains.

How to duplicate:

1. Create two roots with domain a.com and b.com
2. Create two calendars, assigning the forwarding page of the first to a target on a.com and the other one to b.com
3. Insert event list (e.g. formatted with event_teaser) in

[2020-09-17 21:52] philvdb commented on #2302
If it won't be accepted into core, I think I remember doing these kinds of things by creating a child class of DC_Table and manipulating functions like `listView()` by prepending some code that will edit `$this->procedure`.

Somewhat like this (untested):

[code]

This way, what you are asking could probably be done in a rather small extension, just set `$GLOBALS['TL_DCA']['tl_member']['config']['

[2020-09-17 22:08] madmaharaja commented on #2302
I am not sure if I understand that issue correctly -- but aren't you talking about the visibility of certain items for _members in the front end_? I am talking about which members and users are visible to a _user in the backend_. My suggestion to solve this is with adding user rights settings (or user group rights settings), e.g.:
- In the backend, the user "Piano Teacher" (or user group "Piano Te

[2020-09-18 08:23] #528 closed, assigned to nobody

[2020-09-18 11:56] leofeyer opened #2309 "Do not prolong unconfirmed opt-in tokens"
**Affected version(s)**

Contao 4.9

**Description**

Unconfirmed opt-in tokens should not be prolonged for 3 years. Instead, they should be removed after three days even if the related record still exists.

https://github.com/contao/contao/blob/5aae3bff5772702db67a8d6588c39629da419845/core-bundle/src/OptIn/OptIn.php#L109-L111

[2020-09-19 06:25] contaoacademy opened #2310 ""Edit comment" links without token check"
**Affected version(s)**
4.4, 4.9, 4.10

**Problem**
If someone adds a new comment, I correctly get a notification by email.
If you click to the edit-link you become a stop-message (see attachment)

Is there an option to generate a notification that doesn't show this stop-message?
Maybe by adding a token to the link?
My customers feel insecure with this message.

**Steps**
1. Add Comment
2. Open em

[2020-09-19 11:11] ausi commented on #2310
Backend URLs that have the `act` parameter set, require to have the request token parameter `rt` too.

Maybe we could exclude `act=edit` from that check? I think `act=edit` should not cause any changes so it should not require a request token. But I’m not sure if we can guarantee that this is the case everywhere in Contao.

[2020-09-19 17:50] zonky2 commented on #1022
what are we waiting for?

[2020-09-19 18:33] dp-designpilot opened #2312 "Palette "default" not found in table "tl_newsletter_channel""
Hallo

Ich habe folgendes Problem, wenn ich die Version 4.9.4 probiere auf die 4.9.5 zu aktualisieren erhalte ich folgende Fehlermeldung (beim Testlauf ging alles wunderbar durch) nur wenn ich auf **Änderungen anwenden** klicke kommt es zu diesem Fehler.

Könnte mir da jemand helfen?

[code]

[2020-09-19 18:41] m-vo commented on #2312
Please refer to the [support channels](https://contao.org/de/support.html) for these kind of questions.

You probably have an extension or application config altering the `tl_newsletter_channel` dca as the default palette is oc there:
 https://github.com/contao/contao/blob/5aae3bff5772702db67a8d6588c39629da419845/newsletter-bundle/src/Resources/contao/dca/tl_newsletter_channel.php#L106-L109

[2020-09-19 19:10] ausi commented on #2306
I agree, aliases that match `/^[1-9]\d*$/` are considered page IDs in Contao, everything else is considered to be an alias string.

I think this should be fixed by prepending the following code to https://github.com/contao/contao/blob/5aae3bff5772702db67a8d6588c39629da419845/core-bundle/src/Resources/contao/dca/tl_page.php#L1153

[code]

[2020-09-19 19:45] ausi commented on #1022
For someone to fix the bug, check if the fix does not have any side effects and check if this is really the only place where we need to adjust something.

[2020-09-19 19:54] #2312 closed, assigned to nobody

[2020-09-19 22:21] Toflar commented on #2310
This message is there because we have links that incorrectly execute actions despite being GET request (e.g. `act=delete`). We‘ve thus added this token protection a very long time ago and we can‘t fix this properly for Contao 4.x as this would be a major BC break.
In theory, edit links are unproblematic but we just don‘t know. Extension developers might also execute actions (which is wrong but wel

[2020-09-20 08:24] SimonSpi opened #2315 "Simple tokens evaluation behaviour different between Contao 4.10 and <4.10"
**Affected version(s)**
Contao 4.10

**Description**
There is an incompatibility in simple token evaluation in Contao 4.10 and earlier versions. When a simple token value is non-existent in prior versions this evaluated to NULL however starting from Contao 4.10 this will throw an exception. The root cause seems to be the switch to using Symfony Expression Language for simple token evaluation.
The

[2020-09-20 08:47] m-vo commented on #2315
Are we talking about the `InvalidArgumentException` being thrown here?

https://github.com/contao/contao/blob/321062bd8b25cb09c09f11afc79ce2c19940521b/core-bundle/src/Util/SimpleTokenParser.php#L141-L145

/cc @Toflar