[2019-01-03 16:46] aschempp opened #262 "Add HTTPS only flag to root page"
Once https://github.com/contao/contao/pull/95 is implemented, we can add a feature to only allow https URLs. This can be added in `RouteProvider` on every call to `new Route(…)`. We might need to add HTTP redirects in this case.

[2019-01-03 17:22] aschempp opened #263 "Incorrect routing behavior with multiple slashes"
**Affected version(s)**
3.* (probably any) & 4.*

**Description**

While implementing https://github.com/contao/contao/pull/95 I noticed a strange behavior. A URL with alias `foo` and path `foo//bar` ignores the `//bar` part, because the key to `bar` is not given. This does not really make sense, it should be redirected to one slash or render a 404.

The case is handled by `Frontend::getPageIdFrom

[2019-01-03 17:36] aschempp opened #264 "Routing allows for empty path value"
**Affected version(s)**

3.* (probably any), 4.*

**Description**

While implementing #95 I stumbled upon a strange behavior of the routing implementation. If `useAutoItem` is disabled, a path of `foo/bar` will parse as alias `foo`, and an Input key `bar` without a value of *empty string* (due to `urldecode` converting `null` to string). I think thats not a correct behavior, the URL should not be

[2019-01-03 17:43] biwerr commented on #260
Yes, this is the only Documentation i've found. But sadly the parameters and default values are missing for the config files.

[2019-01-03 18:11] planepix commented on #260
Ok, dann hab ich noch BugBusters Tipps:
https://contao.ninja/tipps-und-tricks-filter-ergebnis.html?af_filter[2][]=26
https://contao.ninja/tipps-und-tricks-filter-ergebnis.html?af_filter[3][]=28

[2019-01-03 18:14] fritzmg commented on #260
It used to be in the README of the core-bundle, but now it's gone (though still present in the 4.4 and 4.5 branch).

[2019-01-03 18:21] planepix commented on #260
@fritzmg this one? https://docs.contao.org/books/manual/4.4/de/01-installation/contao-installieren.html

[2019-01-03 18:41] fritzmg commented on #260
No, this: https://github.com/contao/contao/blob/4.4/core-bundle/README.md

[2019-01-03 18:57] kroerig opened #265 "2FA mit Rückfallebene"
Ich habe testweise mal bei einer Installation 2FA für mein Admin-Konto aktiviert. Klappt auch wunderbar, aber... wenn ich mal keinen Zugriff (mehr) auf meinen Tokengenerator habe, dann habe ich mich ausgesperrt.
Dann hilft nur noch ein beherzter Eingriff in die Datenbank. Für einen Admin machbar, für einen einfachen Redakteur mit Sicherheitsverständnis (ja, schwer zu finden) nicht. Der muss dann e

[2019-01-04 08:01] leofeyer commented on #260
[code]

We have tried to name the parameters in a way that you know what they do. Some parameters also haven an additional description.

If you feel like there had to be more descriptions, you can create a pull request and add them [here](https://github.com/contao/contao/blob/master/core-bundle/src/DependencyInjection/Configuration.php).

[2019-01-04 14:49] Schneetiger commented on #232
Hi Leo, thanks a lot your work, support and developing Contao.

Well, after installing the updates 4.4.31 and 4.4.32 the database still wasn´t able to get updated. And yes I tried other browsers like Opera and Chrome before I deleted the first installation. The results were all the same; so I decided to start new and I think this was the right decision.
Therefore I deleted this installation and st

[2019-01-06 14:23] aschempp commented on #284
I think this is a bug, the page title should not contain the name of the alias, because that page is actually not matched?

[2019-01-07 10:51] Paddy0174 commented on #265
BackupCodes wären sicherlich eine gute Verbesserung, zumal das verwendete Paket (scheb/two-factor-bundle) diese Funktion ohnehin schon inkludiert hat. Man müsste "nur noch" die Implementierung in Contao machen...

👍 von mir

[2019-01-07 12:04] Toflar commented on #265
Feel free 😄

[2019-01-07 12:51] Paddy0174 commented on #265
@Toflar Der war so klar, ich verkneife mir seit Samstag deshalb einen Kommentar... :-D

Wenn ich Dich im Zweifel mit Fragen nerven darf, dann JA, sonst stehe ich da ziemlich schnell an, vermute ich. Timeframe bei mir: zum Ende Januar hin, vorher nur bei Terminabsagen

[2019-01-07 13:13] kroerig commented on #265
Schön, dass meine Idee Anklang findet.

Ich bin leider was Softwareentwicklung angeht komplett raus. Stelle mich aber gerne als Testkandidat zur Verfügung.

[2019-01-07 16:56] leofeyer opened #266 "Model::findMultipleByIds() always returns a collection"
**Affected version(s)**

Contao 4.4+

**Description**

As noticed by @aschempp, the `Model::findMultipleByIds()` method always returns a collection, even if there are no models and the method should return `null`. All derived methods such as `FilesModel::findMultipleByIds()` behave correctly and return `null` if there are no models.

@contao/developers Any objections against fixing this in Contao

[2019-01-07 16:58] Toflar commented on #266
Yes, it's a BC break.

[2019-01-07 17:03] leofeyer commented on #266
But it is also a bug.

[2019-01-07 17:04] Toflar commented on #266
No it's not a bug. It's just not consistent but we're not going to break BC here just for the sake of consistency.

[2019-01-07 17:10] fritzmg commented on #266
@Toflar the doc says
[code]
If it doesn't do what the doc always said, it's a bug, isn't it?

[2019-01-07 19:09] aschempp commented on #266
It is also very unlikely that someone queries for multiple IDs and none of them are found in the DB, so I'm all for fixing this as well.

[2019-01-08 09:01] Toflar commented on #266
Then the docs are wrong and should be fixed. What the method does is more important than the docs.
So I'm against it.

[2019-01-09 12:35] fritzmg opened #267 "potential problem of AbstractLockedCommand in certain hosting environments"
Currently, the location of the lock files for the `AbstractLockedCommand` is created like this:

https://github.com/contao/contao/blob/19db0857fa5f39a1eaf052ce59322b797b0f105d/core-bundle/src/Command/AbstractLockedCommand.php#L60

This could be a problem in shared hosting environments, where websites are located within the user's `/home` directory.

For example user A creates a Contao 4 website in

[2019-01-09 17:09] leofeyer commented on #245
Implemented in 559f3cf9984e1abdeb1971d6a9b802b8258fdb61. Thank you @dmolineus.

[2019-01-09 17:09] #245 closed, assigned to leofeyer

[2019-01-10 14:52] Bigga63 opened #268 "Element Tabelle mit "Auge""
Von einem Kunden kommt die Frage, ob man nicht auch bei dem Tabellenelement dies praktische "Auge" haben könne, mit dem einzelne Zeilen dann zeitweilig unsichtbar geschaltet werden.
Ich würde mich freuen, wenn daran reges Interesse besteht!

[2019-01-10 15:17] leofeyer commented on #224
Ich wollte die Änderungen gerade umsetzen, stelle aber fest, dass das Bearbeiten von Templates nicht an die Dateirechte gebunden ist. Es gibt in der `tl_templates.php` weder eine Methode `checkPermission()` noch eine Prüfung auf `$this->User->hasAccess('f5', 'fop')`. 🤔

@derastronaut Kannst Du bitte nochmal prüfen, ob Deine Benutzer wirklich keine Templates mehr bearbeiten dürfen, wenn Du die Chec

[2019-01-10 15:22] rabauss opened #269 "Sorting of root nodes in Backend-TreeView is ignored with filters"
**Affected version(s)**
4.x

**Description**
If filters have been activated in the Backend-TreeView the sorting of the root nodes is ignored.
Without filters everything is fine!

**How to reproduce**
For example if you activate the published-filter in pageTree the root nodes won't be shown sorted anymore.

**Possible Solution**
https://github.com/contao/contao/blob/4b73fdd80c7c2c82906893a1ffb132d5

[2019-01-10 15:29] derastronaut commented on #224
Ja, nehme ich das Häkchen raus und speichere, bekommt der betroffene Benutzer die Meldung, dass er nicht genug Berechtigungen zum Bearbeiten des Quelltextes der Datei foo/bar.html5 hat (auf Englisch).

[2019-01-10 16:00] asaage commented on #268
Ich glaube, das ist ein bisschen zuviel für das kleine einfache Tabellenelement :)
Bei Zeilen hört's ja dann nicht auf - der Nächste mag gern Spalten oder Zellen unsichtbar haben und der übernächste einen Richtext-Editor pro Zelle mit Berechtigungsprüfung und zeitgesteuerter Veröffentlichung.
Eventuell ist das Tabellenelement nicht die richtige Wahl für das, was dein Kunde braucht - oder eine unve

[2019-01-10 17:07] zonky2 opened #270 "checkbox wizard starts an event to reload the page"
**Affected version(s)**
in Contao ^4.4.21 - also in Contao-Demo 4.6.12

**Description**
the checkbox wizard starts an event to reload the page

**How to reproduce**
Test e.g. with the layout settings > CSS files ... move a checkbox...

![screenshot_356](https://user-images.githubusercontent.com/1045318/50984830-0e450400-1503-11e9-922e-fa22b52d07c9.jpg)

[2019-01-10 17:32] discordier commented on #270
The problem is, that the "burgers" are `<button>` elements contained within a `<form>`.
Additionally, the event listeners do not prevent the default and as the `<button>` additionally lacks a `type` attribute, it defaults to `type="submit"` and this causes the form to submit.

Suggested change: Add `type="button"` to the burger buttons.
Code location: https://github.com/contao/contao/blob/dda481ec

[2019-01-10 17:35] leofeyer commented on #134
Implemented in e9c3279b8f81a9b1a59c3c45d52e5ae2373f7a11.

[2019-01-10 20:19] leofeyer commented on #224
Wie kann ich das denn in meiner Entwicklungsumgebung (mit der COD) reproduzieren?

[2019-01-11 08:16] leofeyer commented on #252
Implemented in 6a13309f1b28a0df0afcba324c308f7920e3ed9b.

[2019-01-11 08:16] #252 closed, assigned to leofeyer

[2019-01-11 09:13] derastronaut commented on #224
Anscheinend geht das in der Demo nicht, da der Punkt **Templates** nicht zur Auswahl als mögliche Rechtevergabe steht. Leider kann ich auch keinen neuen Benutzer in der Demo anlegen, da ich jedes Mal, wenn ich speichern will, die Meldung **Cannot load record "tl_user.id=4".** erhalte.

Sowohl in meiner produktiven als auch in meiner Testinstallation hatte ich einen Benutzer angelegt, diesem die Re

[2019-01-11 09:27] leofeyer commented on #224
Ich hatte ja auch "in meiner Entwicklungsumgebung" geschrieben und nicht "in der Online-Demo". 😄

Kannst Du mir eventuell einen Backend-Zugang für Deine Installation anlegen, damit ich es dort nachvollziehen kann?

[2019-01-11 11:52] leofeyer commented on #154
Ich habe es gerade nochmals in meiner Test-Umgebung nachgestellt und konnte das Problem nicht reproduzieren. Kannst Du nochmal ausführlich beschreiben, wie man das Problem in der [Online-Demo](https://demo.contao.org) reproduziert?

[2019-01-11 11:58] leofeyer commented on #172
You could just unset `$_POST['saveNclose']` in your onsubmit_callback. It is a little hacky but it should prevent Contao from redirecting. 🙈

**Edit:** This would still generate a new version though.

[2019-01-11 12:04] #260 closed, assigned to nobody

[2019-01-11 12:06] leofeyer commented on #261
Doctrine DBAL 2.9.2 has been released, so a `composer update` should fix the problem now.

[2019-01-11 12:06] #261 closed, assigned to nobody

[2019-01-11 12:13] leofeyer commented on #265
Wir werden die 2-Faktor-Authentifizierung auf dem nächsten Entwicklertreffen weiter ausbauen.

In Contao 4.7 haben wir bereits die Möglichkeit nachgerüstet, das Einmalpasswort ohne QR-Code einzurichten (siehe contao/contao#86). Jetzt fehlt aus meiner Sicht noch:

- 2FA im Frontend
- Recovery-Codes (also "Notfallpasswörter")
- Vertrauenswürdige Geräte (auf denen nicht mehr nach einem Einmalpasswort

[2019-01-11 12:17] leofeyer commented on #267
How can the installation path of two different users ever be the same? Would it not be `/home/www/userA/contao4` and `/home/www/userB/contao4`?

[2019-01-11 12:26] bytehead commented on #265
2FA im Frontend habe ich bereits angefangen, alles was Backend-2FA betrifft ist einfacher 😉

[2019-01-11 12:43] fkaminski commented on #154
1. Eine normale Seite für die Formular Weiterleitung erstellen
2. Diese Seite als Weiterleitung im Formular "Contact" eintragen
3. Unter Themes ein Modul "Eigener HTML-Code" anlegen
4. Hier {{insert_form::5|uncached}} eintragen
5. Im Seitenlayout "1 column" in "Frontend-Module" dieses Modul für Spalte "Fußzeile" hinzufügen
6. Die Startseite aufrufen und das Formular absenden

Ohne das "|uncached"

[2019-01-11 12:46] BugBuster1701 commented on #267
Both have the same Temp directory "/tmp".
Directory "51d08576c1a6c36f0b6b9881a08042ec" was created by user A. Now user B wants to create it with the same name.

But right, shouldn't "kernel.project_dir" be different?

[2019-01-11 13:14] derastronaut commented on #224
Zur produktiven Installation nicht, aber ich kann dir Zugang zur Testinstallation geben.

Soll ich dir die Zugangsdaten an die hier hinterlegte E-Mail-Adresse schicken?

[2019-01-11 13:38] leofeyer commented on #267
Yes, but how can the md5 hash be the same? The cannot both use `/home/www/contao4` for their installation, can they?

[2019-01-11 13:42] leofeyer commented on #224
Ja bitte.

[2019-01-11 14:01] leofeyer commented on #224
@derastronaut Danke, jetzt konnte ich das Problem endlich reproduzieren. 👍

Das eigentliche Problem ist, dass im `DC_Folder` in zwei Methoden `$this->User->hasAccess()` geprüft wird. Das ist insofern falsch, als dass die DCs keine Annahme über Berechtigungen machen sollen – dafür gibt es nämlich die onload_callbacks. Insofern ist das ein Bug, der ab Contao 4.4 gefixt werden muss.

[2019-01-11 14:15] fritzmg commented on #267
They can. I am no expert in Linux administration so I don't know how this is done, but at least on the shared hosting servers of webgo, the user home directory is simply
[code]
Thus `kernel.project_dir` will not contain the username.

Though may be webgo uses virtualisation? If so, then it would not be an issue there.

[2019-01-11 14:43] leofeyer commented on #224
Diesen Teil habe ich in a9dc17c4d2b104245825b78ed235c6c32b6a8445 implementiert.

<img width="769" alt="" src="https://user-images.githubusercontent.com/1192057/51040383-a43a6680-15b7-11e9-96cb-50e15ad080d3.png">

[2019-01-11 14:48] leofeyer commented on #267
I see. They are using a chroot environment but apparently they are not mapping the php.ini parameter `sys_temp_dir` into this chroot environment? Can you check with them if this is intended?

[2019-01-11 14:49] ben-eSM opened #271 "Add BE user setting for number format"
**Description**
Since the settings are currently undergoing an overhaul already, I'd like to request a per user setting for number format throughout the BE, which is applied to all fields which have a numeric rgxp eval setting (e.g. rgxp=>digit). It should convert all inputs from or to the specified format.
Empty fields could show a placeholder with the required format.

**Example**
The setting sh

[2019-01-11 15:13] xchs commented on #261
Isn't this fixed with version **2.9.3** only? In any case, the PR was added to the 2.9.3 milestone and meanwhile merged into the master branch.

[2019-01-11 15:22] leofeyer commented on #261
Ah, you are right. It will be fixed once Doctrine DBAL 2.9.3 has been released.

[2019-01-11 15:49] fritzmg commented on #267
webgo might, I was using webgo just as an example. But a user had the problem mentioned above ("The directory "/tmp/51d08576c1a6c36f0b6b9881a08042ec" is not writable.") on a different hoster. The hoster said that directory already belonged to another user. I wondered how that could be, hence the investigation and issue. May be that hoster is not properly mapping the temp directory into that chroot

[2019-01-11 15:53] m-vo commented on #267
Just wondering if `realpath(sys_get_temp_dir())` would return anything different? (resolving the symlink to the real path)

[2019-01-12 17:52] sdahlmann opened #272 "Contao 4.6.12 and doctrine/dbal version 2.8.1, 2.9.0, 29.1, 2.9.2"
When I install Contao 4.6.12 with doctrine / dbal version 2.8.1, 2.9.0, 29.1 or 2.9.2, I can not update the MySQL database in Contao.
If I mark doctrine / dbal version 2.9.0, 29.1 or 2.9.2 as a conflict, only version 2.8.1 will be installed and at the same time Contao 4.6.11 will be installed. Then I make a clean database update.
Question I have: Is the problem fixed, if doctrine / dbal version 2.

[2019-01-12 18:33] xchs commented on #272
Duplicate of https://github.com/contao/contao/issues/261

[2019-01-12 18:39] xchs commented on #272
A conflict entry for `"doctrine/dbal": "2.9.1 || 2.9.2"` should be sufficient to fix the problem in the meantime until Doctrine DBAL 2.9.3 is released.

[2019-01-13 09:43] #272 closed, assigned to nobody

[2019-01-13 16:50] Dancger opened #273 "Stylesheet media-query missing after css import"
**Affected version(s)**
Noticed in contao 4.6

**Description**
Stylesheet media-queries are missing if css is imported

**How to reproduce**
- Create a new stylesheet with media query => (max-width: 979px)
- Export stylesheet
- Delete stylesheet
- Import previous exported stylesheet
- Media-query gone

[2019-01-14 08:35] Toflar commented on #267
`sys_temp_dir` just must be configured correctly. We have to be able to rely on that. And `/tmp` is certainly not correct on a shared hosting.

[2019-01-14 09:21] fritzmg commented on #267
It isn't? Haven't seen anything else so far :)

[2019-01-14 09:23] Toflar commented on #267
It must be a temporary dir per user, otherwise that's a potential security issue. Uberspace also had to fix that lately (https://blog.uberspace.de/2019-php-sicherheitslucke/ - in German).

[2019-01-14 11:31] leofeyer commented on #108
Implemented in 9a7ae410540b6a946e2c6a25d5fbbe1069049f14.

[2019-01-14 11:35] leofeyer commented on #249
It seems we are already checking this: https://github.com/contao/contao/blob/4.4/core-bundle/src/EventListener/PrettyErrorScreenListener.php#L121

**Edit:** As explained by @ausi, the `getFormat()` method checks the `_format` route attribute and not the accept headers.

[2019-01-14 11:43] leofeyer commented on #266
Fixed in fcd21f8003022c899d9ff01d8b0c32825df18672.

[2019-01-14 11:43] #266 closed, assigned to leofeyer

[2019-01-14 11:51] leofeyer commented on #270
Fixed in 681f5c43c84787b31c53aca08f743f649905c407.

[2019-01-14 11:51] #270 closed, assigned to leofeyer

[2019-01-14 11:55] zonky2 commented on #270
thx

[2019-01-14 12:03] leofeyer commented on #269
Fixed in 00b89193021b2a787c5c8f2ba99039bb16e1ecf3.

[2019-01-14 14:05] leofeyer commented on #239
Das ist leider ein kleines Henne-Ei-Problem, denn wir müssen die CSS-Klasse setzen, bevor wir [Controller::getArticle()](https://github.com/contao/contao/blob/master/core-bundle/src/Resources/contao/library/Contao/Controller.php#L273) aufrufen, wissen aber erst anhand des Return-Wertes, ob der Artikel angezeigt wird oder nicht.

@contao/developers Wie lässt sich das sinnvoll (ohne Code Duplication

[2019-01-14 14:08] Toflar commented on #239
Die Klasse ersatzlos streichen. Sie liefert ja offentsichtlich nicht konstante Ergebnisse und ist somit nutzlos. Die Artikel wissen nichts voneinander und sollten es auch nicht. Mit `:first-child` und `nth-child()` haben wir ja genügend Möglichkeiten, die Probleme per CSS zu lösen.

[2019-01-14 14:39] leofeyer commented on #249
Fixed in ec82a9745ad8783799ec563878f4676b24be611e.

[2019-01-14 14:39] #249 closed, assigned to leofeyer

[2019-01-14 15:58] leofeyer commented on #231
I wonder if our fix is correct, as [Varnish caches 404 pages as well](https://www.section.io/blog/varnish-cache-404-errors/#what-should-happen-when-varnish-cache-sees-a-404-error) unless explicitly told otherwise. If we removed the "server cache timeout" dropdown and always set the cache timeout value to `0`, we would take away the possibility to cache error pages if someone wants to.

[2019-01-14 16:01] Toflar commented on #231
None of our users will ever get this right. In Contao, it makes no sense to do so.

[2019-01-14 16:05] leofeyer commented on #231
We do have some pretty advanced users as well. 😄

[2019-01-14 16:09] fatcrobat opened #274 "Search should only work for keywords longer than 2/3 characters"
**Affected version(s)**

3.5-4.6

**Description**

Contao search currently does not have a declared minimum character length for search keywords. On websites with a large amount of news and pages (big tl_search and tl_search_index tables) a search for keyword with less than 3/4 characters will slow down the database. Elasticsearch for instance also has a 4 character minimum limit by default. (http

[2019-01-14 18:02] rabauss commented on #269
First I also just added the ORDER-Statement, but then I got a SQL-Error.
I guess it depends on SQL-Mode - because of that I also added the sorting row in SELECT.
At the moment I don't know, which SQL-Mode is prefered by contao...

[2019-01-14 19:11] contaoacademy commented on #239
Die Klasse dürfte aber dann erst in einer 4.7 entfernt werden und nicht 4.4.33.

[2019-01-14 19:16] contaoacademy commented on #231
I think the problem is that normal users make the settings on the root page and it is simply inherited.

Possibly it could be programmed, that the 404-page is excluded from inheritance and the settings can only be set explicitly.

[2019-01-14 20:14] tarun-uwe opened #275 "Errors are not displayed - display_errors"
**Affected version**
Contao 4.6.9

**Description**
We don't get error messages shown. When we display our `phpinfo()` via Contao Manager Popup or via File on any Contao page, we get the info, that `display_errors = Off`. The option in our php.ini is activated and if we view `phpinfo()` in a separate file we get the expected `display_errors = On`.

Initially, I thought this issue https://github.com

[2019-01-15 05:58] fabcocco commented on #6357
push, we are looking for the same feature :-)

[2019-01-15 08:52] leofeyer commented on #269
Interesting. Which SQL mode are you using?

MySQL 5.7 uses

[code]

MariaDB as of version 10.2.4 has

[code]

[2019-01-15 10:51] leofeyer commented on #224
Behoben in f06a65fbe9eaa3df447ab13b71ca62822be33ce0.

[2019-01-15 10:51] #224 closed, assigned to leofeyer

[2019-01-15 12:08] leofeyer commented on #257
Fixed in b8dfbb1f2739b7b48b8e8ccdbdd8c95172e90f25.

[2019-01-15 12:08] #257 closed, assigned to leofeyer

[2019-01-15 12:47] leofeyer commented on #221
We should discuss how to handle this case in general. Maybe we can set `$this->Template->model = $objElement` or something similar.

[2019-01-15 13:05] asaage commented on #239
Also für mich klingt das logisch.
Mit CSS ```:first-child``` und ```nth-child()``` zu arbeiten macht natürlich Sinn wenn es die Optik betrifft.
Ich glaube ich hab das hin und wieder im Template als Kondition für bestimmte Ausgaben genutzt und bin erstmal dagegen.
Das gleiche Phänomen tritt im Übrigen auch auf ContentElement-Ebene auf.

[2019-01-15 13:06] Toflar commented on #239
Hilft ja nix, dagegen zu sein. Es lässt sich nicht fixen. Und ich denke eine falsche `first` Klasse ist schlechter als gar keine.

[2019-01-15 13:24] rabauss commented on #269
Well, the problem is ``ONLY_FULL_GROUP_BY`` - then you get the error: ``ORDER BY clause is not in SELECT list``

[2019-01-15 13:33] leofeyer commented on #174
@Defcon0 How did you set up your event to get the wrong output?

[code]

Because I have tried it this way:

<img width="764" alt="" src="https://user-images.githubusercontent.com/1192057/51183726-63ea2980-18d2-11e9-9ff5-b57f52090f1a.png">

And the output seems correct to me:

<img width="332" alt="" src="https://user-images.githubusercontent.com/1192057/51183743-75333600-18d2-11e9-9c0b-091eed89f40

[2019-01-15 13:59] leofeyer commented on #269
Well, I do not (get this error).

<img width="1194" alt="" src="https://user-images.githubusercontent.com/1192057/51184932-0b1c9000-18d6-11e9-964b-e60af9b86632.png">

And this is the query:

<img width="840" alt="" src="https://user-images.githubusercontent.com/1192057/51184940-12439e00-18d6-11e9-9989-6cd313a70d36.png">

[2019-01-15 14:13] Toflar commented on #269
Sure it's this query that is affected?

[2019-01-15 14:16] asaage commented on #239
Die Klasse im FE mag in einigen Fällen falsch sein.
Aber wenn's ersatzlos gestrichen werden soll dann bitte konsequent - also auch ```class="last"``` und bei den ContentElementen.
Ich möchte lieber nicht mutmaßen wie-viele Layouts das entfernen der Klasse zerschießen wird.
Interessanterweise gibt's das Problem bei Seiten nicht ( - da kommen die ```first``` und ```last``` Klassen wohl aus dem knpMe

[2019-01-15 18:30] fritzmg commented on #259
Current issue: https://github.com/KnpLabs/KnpTimeBundle/issues/112

[2019-01-15 20:16] rabauss commented on #269
Attention: there is a ``DISTINCT`` in the query!
I get an error for ``SELECT DISTINCT published FROM tl_page ORDER by sorting`` and of course not for ``SELECT published FROM tl_page ORDER by sorting`` with SQL-Mode ``ONLY_FULL_GROUP_BY``!
If I remove ``ONLY_FULL_GROUP_BY`` both queries can be executed without errors.

![image](https://user-images.githubusercontent.com/14016098/51207568-7896e380-19

[2019-01-15 23:01] richardhj opened #277 "TL_MODE is undefined since #95"
**Affected version(s)**

4.7.-RC.1

**Description**

Since #95, `TL_MODE` is not defined necessarily and therefore under some circumstances the following error occurs:

[code]

A fix would be to check for the definition of TL_MODE before utilizing it.

[code]
This fix was applied already in some files within #95.

I aimed to replace the fragments as stated above – however I found incompatibilites

[2019-01-15 23:15] richardhj commented on #277
Maybe I was hasty. And this error is just an indication.

I cannot access the page anymore as it terminates with **No route found for "GET /"** (or /subpage respectively).
It is worth mentioning that I do not use any url_suffix, however, switching to the default setting does not work out either.

[code]

EDIT: `$this->request` is null in the ContaoFramework. The corresponding event_listener was fi

[2019-01-16 06:50] leofeyer commented on #277
We are working on this already (see #276).

[2019-01-16 06:50] #277 closed, assigned to nobody

[2019-01-16 08:47] Defcon0 commented on #174
Ah, you're right. I had an error in reasoning ("Denkfehler"). If the `$span` is > 0 the time is simply empty. Sorry for that one.

[2019-01-16 08:47] #174 closed, assigned to nobody

[2019-01-16 09:15] leofeyer commented on #259
I have added a conflict in 5fc3740601837cedde36674ae3abfed53fe619c8.

[2019-01-16 09:15] #259 closed, assigned to leofeyer

[2019-01-16 09:19] fritzmg commented on #267
Agreed :)

[2019-01-16 09:19] #267 closed, assigned to nobody

[2019-01-16 09:19] leofeyer commented on #269
Nope, still no error here.

<img width="462" alt="" src="https://user-images.githubusercontent.com/1192057/51238794-12947580-1978-11e9-85cf-999e1e9af875.png">

Can anyone else reproduce this?

[2019-01-16 10:39] Toflar commented on #269
Well, I don't have to reproduce, I can see that the query is wrong. `SELECT DISTINCT` is essentially a `GROUP BY`. So it groups by `published` but it cannot order by `sorting` because it cannot determine which `sorting` value of all the rows with the same `published` it should take. You need an aggregate function there.

Grouping happens before ordering.

So to put that query in words it says: "Ta

[2019-01-16 11:12] plorenz-etes opened #278 "Previewing news entries causes logout from the backend"
**Affected version(s)**

Tested with Contao 4.4.32

**Description** / **How to reproduce**

When editing news entries in the backend, pressing the "preview" button on the top opens a new tab showing a preview of the news article (as expected). However, this also logs you out of the backend, so if you reload the preview, change preview settings or click any link in the backend, you will get redirec

[2019-01-16 12:07] #108 closed, assigned to leofeyer

[2019-01-16 13:34] richardhj commented on #277
I am currently on contao/core-bundle@f20e696ba4c49486731ae138ab10b31c3618d990 and the error persists:
No route found for "GET /"
Pls inform me, if this is not intended.

[2019-01-16 14:00] leofeyer commented on #269
I absolutely agree with you, however, I would still like to know why it works on my system.

[2019-01-16 14:02] Toflar commented on #269
Well, your query does not return any row at all, I think that's why it works, because there are no multiple rows that can be grouped 😄

[2019-01-16 14:23] leofeyer commented on #269
Good idea, but still no, unfortunately.

<img width="479" alt="" src="https://user-images.githubusercontent.com/1192057/51254996-9f542900-19a2-11e9-81e3-8996dfa291ec.png">

[2019-01-16 14:30] leofeyer commented on #58
#251 has been merged. @benfolds Can you please check if the changes fix your problem?

[2019-01-16 14:30] #58 closed, assigned to Toflar

[2019-01-16 14:36] Toflar commented on #269
This setup is still not correct, you need multiple results **per group**. So e.g. two or more where published=1.

[2019-01-16 14:40] leofeyer commented on #269
I have. It is a distinct query, so it returns only two rows. There are 37 pages though in `tl_page`.

[2019-01-16 14:40] Toflar commented on #269
Cannot tell you why it's not working for you. The only thing I can say is that the query is wrong.

[2019-01-16 15:28] leofeyer commented on #261
I have added a conflict in bc2f9aef7305b2a066c369d7f0e8fd28b879298d.

[2019-01-16 15:56] leofeyer commented on #277
I have just updated contao.org to contao/core-bundle@36927c5516c84c5333a4f9002d6bed8973fc4713 and I can confirm that this issue has been fixed. (There are some others though.)

[2019-01-16 18:14] xchs commented on #278
I cannot reproduce this in my demo installation (running Contao 4.4.33).

[2019-01-17 08:13] mktcode commented on #273
Confirmed. The exported file is lacking the `@media` keyword in the beginning. This is what the export gave me:

[code]

Should be easy to fix. I'll give it a try...

[2019-01-17 08:37] mktcode commented on #273
Also, if I manually add the `@media`, the import does not recognize it properly, putting all the css in one format definition, instead of adding all the definitions separately and setting the media query as the global setting for all definitions.

![image](https://user-images.githubusercontent.com/6792578/51305538-7a5fc480-1a3b-11e9-9d81-61628b804ead.png)

![image](https://user-images.githubuserco

[2019-01-17 08:52] mktcode commented on #273
See: https://github.com/contao/core/issues/7560 and https://github.com/contao/core/commit/a5427f7709826d93b5ad7dcc741ebfdfa8016104

This didn't really fix the issue, if it was expected to enter the media query without the @media keyword back then, as it is the case now.

https://github.com/contao/contao/pull/281 should fix that part of the problem... now to the import.

btw @leofeyer shall I submi

[2019-01-17 09:51] bekanntmacher commented on #239
Ich habe es viel benutzt weil es da war. Bei den Artikeln vor allem auch zu gestalterischen Zwecken...
Eigeführt wurde es Ende 13: https://github.com/contao/core/issues/2583

Wenn man es streicht, dann müsste man es doch konsequent machen?
Also auch bei:
- Newsliste
- Eventliste
- FAQliste
- Content Elemente
- Formular
- Galerie
- Navigation
- etc.

Grad bei Newslisten ist es halt schon praktisch:

[2019-01-17 09:56] fritzmg opened #282 ""specified key was too long" error in Install Tool"
**Affected version(s)**
4.6.13

**Description**
After updating to Contao 4.6.13, the following database queries will be executed in the Contao Install Tool:
[code]
(and first there is also a drop query for those indexes).

However, the following error will occur:
[code]
Same error with only the `tl_search` index:
[code]

**How to reproduce**
Not sure if this happens with a clean installation as we

[2019-01-17 09:58] leofeyer commented on #282
Which version did you have before the update?

[2019-01-17 09:59] fritzmg commented on #282
4.6.12

[2019-01-17 09:59] Toflar commented on #239
Ich glaube ihr habt da etwas nicht ganz verstanden. Die Newsliste, Eventliste, FAQ-Liste, Galerie und Navigation sind Listenelemente. Das Element selber weiss von den Einträgen und kann denen daher die korrekten CSS-Klassen vergeben.
Ein Artikel ist kein Listenelement, genau das ist das Problem.
Und um konsistent zu bleiben, müssten die Klassen auch beim Content Element und Formular wegfallen, wei

[2019-01-17 10:00] fritzmg commented on #282
May be related to https://github.com/contao/contao/pull/256 ? Contao 4.6.13 has a conflict for `"doctrine/dbal": "2.9.* <2.9.3"`. May be in its current state it is incompatible with doctrine/dbal <2.9.0?

Btw. doctrine/dbal 2.9.0 would work (in 4.6.12).

[2019-01-17 10:16] frontendschlampe commented on #282
I made an update to 4.6.13 and have the same problem

[2019-01-17 10:20] xchs commented on #282
I just did an update from 4.6.12 to 4.6.13. I did **not** have an conflict entry for `"doctrine/dbal": "2.9.1 || 2.9.2"` before. The update has downgraded Doctrine DBAL from version 2.9.2 to 2.8.1:

[code]

The Contao install tool does not offer me a database update and runs through without an error message.

[2019-01-17 10:54] leofeyer commented on #282
Then you **do** actually have the conflicts. 😄 @fritzmg refers to conflict entries in the `composer.json`, which shall prevent the installation of Doctrine DBAL 2.9.0, 2.9.1 and 2.9.2.

[2019-01-17 11:05] frontendschlampe commented on #282
The error also occur with DBAL 2.8.1 and Contao 4.6.13

[2019-01-17 11:10] xchs commented on #282
I know. I was referring to the fact that I have **no** conflict for
[code]
in my root `composer.json`. And the update went through without problems (so far).

[2019-01-17 11:22] leofeyer commented on #282
I have just updated several installations from Contao 4.6.12 to 4.6.13 and the mentioned error did not occur. Is there a way to reproduce it?

**Edit:** It was actually an update from Contao 4.6.11 to 4.6.13.

[2019-01-17 11:26] fritzmg commented on #282
Hm, try installing Contao 4.6.12, but before opening the install tool, add the
[code]
conflict and downgrade doctrine/dbal to 2.9.0. Then open the install tool, create the database tables and afterwards update to Contao 4.6.13.

[2019-01-17 11:30] frontendschlampe commented on #282
Problems in Installtool:
Contao 4.6.11 and DBAL 2.9.2
Contao 4.6.12 and DBAL 2.9.0
Contao 4.6.12 and DBAL 2.9.2

NO problems in Installtool:
Contao 4.6.11 and DBAL 2.8.1
Contao 4.6.11 and DBAL 2.9.0

Update Contao 4.6.11 and DBAL 2.8.1 to Contao 4.6.13 and DBAL 2.8.1:

Installtool:
[code]
ERROR:
[code]

[2019-01-17 11:55] frontendschlampe commented on #282
last ~working~ Contao-Version for me is Contao 4.6.11 with conflict for DBAL > 2.9.0

EDIT: Contao itself is working, but the installtool has errors

[2019-01-17 12:00] mopic810 commented on #282
I do not know if it helps you, but I have these problems only with MariaDB server type.
Everything runs smoothly on MySQL server type.

For example, in a new installation of Contao 4.6.13.

[2019-01-17 13:30] leofeyer commented on #282
Contao is currently not compatible with Doctrine DBAL 2.9. The first compatible Doctrine DBAL version will be 2.9.3, which is why we have added the `2.9.* <2.9.3` conflict.

However, both Contao 4.4.33 and 4.6.13 are compatible with Doctrine DBAL 2.8, therefore Composer should downgrade the package to version 2.8.1 as described by @xchs.

Working combinations:

- Contao 4.4.33 and Doctrine DBAL 2.

[2019-01-17 13:38] fritzmg commented on #282
@leofeyer just to clarify: my DBAL version was also downgraded to 2.8.1 when updating to 4.6.13 (wouldn't be possible otherwise). I am checking MariaDB versions now.

[2019-01-17 13:53] fritzmg commented on #282
I was unable to reproduce it with
[code]
Currently I do not have access to the MySQL server, where it failed. I can test tomorrow.

@frontendschlampe @mopic810 please post the output of
[code]

[2019-01-17 13:59] ausi commented on #269
I think this can be fixed either by using

[code]

or:

[code]

or:

[code]

[2019-01-17 14:25] leofeyer commented on #263
As discussed in Mumble on January 17th, we want to fix this in Contao 4.4 by adding `return false` [here](https://github.com/contao/contao/blob/ef0dae7c933477932e902af1e2e56ffc8014f4e0/core-bundle/src/Resources/contao/classes/Frontend.php#L246) and in Contao 4.7 additionally (!) by throwing a `ResourceNotFoundException` [here](https://github.com/contao/contao/blob/e23259b877df5b16f35e7cce4b468d794

[2019-01-17 14:30] leofeyer commented on #264
As discussed in Mumble on January 17th, we want to support `foo/bar/.html` but return a 404 error for `foo/bar.html`.

[2019-01-17 14:32] aschempp commented on #264
We could also solve it like this:

[code]

[2019-01-17 14:37] leofeyer commented on #262
As discussed in Mumble on January 17th, we want to allow only HTTPS URLs if the checkbox is enabled and redirect HTTP requests.

[2019-01-17 14:47] Toflar commented on #269
First query won't work:

Both, the second and third would work. The third would also add `sorting` to the result set, in case that's relevant.

[2019-01-17 15:03] leofeyer commented on #248
As discussed in Mumble on Januar 17th, we do not want to use asset-packagist.org, because we do not see a use-case at the moment. Maybe one day when the service has grown and more projects have adopted it, we will adopt it, too.

[2019-01-17 15:03] #248 closed, assigned to nobody

[2019-01-17 15:16] leofeyer commented on #231
As discussed in Mumble on Januar 17th, we want the error pages to no longer inherit the cache timeouts from their parent pages as proposed by @contaoacademy.

[2019-01-17 15:30] frontendschlampe commented on #282
MySQL 5.6.38 - Problems with Contao 4.6.13 and DBAL 2.8.1
MariaDB Ver 15.1 Distrib 10.2.14-MariaDB - no problems with Contao 4.6.13 and DBAL 2.8.1

[2019-01-17 15:37] leofeyer commented on #221
As discussed in Mumble on January 17th, we want to add [`$this->Template->faq`](https://github.com/contao/contao/blob/ef0dae7c933477932e902af1e2e56ffc8014f4e0/faq-bundle/src/Resources/contao/modules/ModuleFaqList.php#L126) in the `ModuleFaqReader` class as well.

Does anyone know about other templates that miss the original record?

[2019-01-17 15:40] aschempp commented on #262
Closing in favor of https://github.com/contao/contao/pull/283

[2019-01-17 15:40] #262 closed, assigned to aschempp

[2019-01-17 15:47] leofeyer commented on #237
As discussed in Mumble on January 17th, there are two possible solutions:

1. Use transactions (not available on MyISAM)
2. Always generate a new version if something changes

[2019-01-17 15:58] leofeyer commented on #218
As discussed in Mumble on January 17th, @aschempp will add an option to unlock the install tool in the manager. Then we can adjust the message saying

[2019-01-17 16:11] leofeyer commented on #284
As @Toflar explained, the bug can be seen here: https://demo.contao.org/en/content-elements/somethingstupid.html (the `<title>` attribute still contains "Content Elements")

This seems to be a problem with the unused GET logic.

[2019-01-17 16:34] leofeyer commented on #228
As discussed in Mumble on January 17th, we want to add the "other" option to the gender field (the "unspecified" option is already covered by the blank option) and deprecate the field to be removed in Contao 5. In addition, we want to add a "salutation" free text field (e.g. with datalist suggestions) in which everyone can add their preferred salutation such as "Lieber Martin", "Sehr geehrter Herr

[2019-01-17 16:39] mopic810 commented on #282
MySQL 5.7.24 - No Problems (Contao 4.6.13 and DBAL 2.8.1)
10.1.36-MariaDB - Problems (Contao 4.6.13 and DBAL 2.8.1)

@frontendschlampe
Are your information reversed?

[2019-01-17 16:41] frontendschlampe commented on #282
@mopic810 no ... they are correct ... the newer versions are working ;-)

[2019-01-17 16:45] Ainschy commented on #282
MySQL 5.7.21 Contao 4.6.12 auf all-inkl.com

[2019-01-17 17:07] leofeyer commented on #282
If you do not have MySQL 5.7, you have to configure MyISAM and utf8_unicode_ci as documented [here](https://github.com/contao/managed-edition#innodb-large-prefix).

[2019-01-17 17:07] #282 closed, assigned to nobody

[2019-01-17 17:11] frontendschlampe commented on #282
thank you @leofeyer :-)

@fritzmg will you provide the information and documentation link to the community forum?

[2019-01-17 17:13] leofeyer opened #285 "Detect old database setup"
The changes from https://github.com/contao/contao/commit/51134b52ccef0140417b2d3ab827ff91b00741cf need to be re-added (and adjusted) to prevent the issue from #282. If the MySQL version is lower than 5.7.7, there are only two options to run Contao:

- Enable large prefixes
- Use MyISAM and utf8

[2019-01-17 17:21] fritzmg commented on #282
In my case the system where the error happened also uses
[code]
However, none of the required `innodb` options were set (they were left at the defaults from XAMPP and I simply hadn't noticed yet).

// ah I think those options are the defaults only with MariaDB 10.2, aren't they? I don't remember anymore 😁

[2019-01-17 17:21] fritzmg commented on #285
Agreed. Why was it removed in the first place?

[2019-01-17 17:25] leofeyer commented on #285
Silly me…

[2019-01-17 17:26] fritzmg commented on #282
Well usually the Contao Install Tool should tell you what to do. But that was removed apparently (see #285).

[2019-01-17 18:35] fritzmg opened #286 "files/.public is not ignored"
**Affected version(s)**
4.4.33, 4.6.13

**Description**
Usually, only sub folders of `files` can be made public by putting a `.public` file there. However, if you manually create a `files/.public` file and run `contao:symlinks`, `files/` will by symlinked to `web/files` and you'll get the following error for every sub folder that was already "public" before:
[code]

**How to reproduce**
1. Create

[2019-01-17 20:05] sdahlmann commented on #282
On IONOS 1&1 Webhosting at the moment only works Contao 4.6.11 and DBAL 2.8.1 for Database Update.
Contao 4.6.11 not works with DBAL 2.9.0, 2.9.1, 2.9.2.
Contao 4.6.12 or 4.6.13 not works with DBAL 2.8.1, 2.9.0, 2.9.1, 2.9.2 by Contao Update from 4.6.11 or by a Contao clean installation with Contao Manager.
In the MySQL use I the utf8mb4_unicode_ci.
I can update Contao Installation from Contao 4.6

[2019-01-18 07:06] leofeyer commented on #269
@rabauss Does `SELECT published FROM tl_page GROUP BY published ORDER BY MIN(sorting)` fix your issue as well?

[2019-01-18 07:08] leofeyer commented on #286
Well, there are many ways to break the system if you manually do things you are not supposed to do. @contao/developers Do we really need to fix this?

[2019-01-18 09:08] Toflar commented on #286
Imho the one directly in `files` should be forbidden because otherwise it's impossible to have private folders.

[2019-01-18 10:15] mktcode commented on #286
https://github.com/contao/contao/blob/master/core-bundle/src/Command/SymlinksCommand.php#L264

![image](https://user-images.githubusercontent.com/6792578/51380611-66d35d00-1b12-11e9-92c5-060cd28855e1.png)

Already in place! Seems it just doesn't work for the root directory.

[2019-01-18 10:34] mktcode commented on #286
@Toflar Everything is private by default. If someone decides to make the whole directory public... why not?
The backend could even offer that in the form of a checkbox. "Make all files public?"

[2019-01-18 10:41] Toflar commented on #286
Because I think it's wrong :) Just add a folder named `public` and put all of the public stuff you want to make public in there. You never know what the future holds, at some point you suddenly need private data and then you have to move everything if you did not add a `public` folder in the first place. We should enforce best practice and making `files` public is definitely not a good practice.

[2019-01-18 10:50] mktcode commented on #286
I don't think this is about right or wrong or best practices. It's just a matter of convenience in case a user wants the files directory to be public for whatever reason.

[2019-01-18 10:52] Toflar commented on #286
Sure. I'll still give it a downvote.

[2019-01-18 11:01] mktcode commented on #286
I'm just a friend of giving user's a choice and I don't understand your argument against it.

Yes, of course... if you decide to make everything public, you'll not have private directories. If you want private directories, don't make everything public. But if you want everything to be public, why can't one checkbox be enough for that, instead of setting the flag every time  you create a new direct

[2019-01-18 11:02] rabauss commented on #269
Yes, this query will work with ``ONLY_FULL_GROUP_BY``!

Although the correct generated Query would be something like `SELECT id FROM tl_page WHERE published = 1 GROUP BY id ORDER BY MIN(sorting)` or `SELECT pid FROM tl_page WHERE published = 1 GROUP BY pid ORDER BY MIN(sorting)` - so the GROUP BY is only necessary for the pid case. I mention this only because I had in between wondered why grouping

[2019-01-18 11:06] m-vo commented on #286
Just create a subdirectory and set the flag there once? You'll probably need those anyways to distinguish between files that are mounted for certain backend users (e.g. content) and those that shouldn't (e.g. layout).

(Btw.: I'll usually just create the basic 'public structure' with .public files on the filesystem first (check these in as well) and then recreate the symlinks on deployment.)

[2019-01-18 11:08] m-vo commented on #286
@fritzmg  Does the message from your initial post ("The path "web/files/public" exists and is not a symlink.") happen even though it's a symlink?

[2019-01-18 11:17] fritzmg commented on #286
It's not a symlink anymore at that point. The path does not actually exist, so the error message is misleading.

[2019-01-18 12:06] mktcode commented on #286
https://github.com/contao/contao/pull/288

This PR fixes the problem when having a `.public` file in the `files` directory AND in subdirectories.

![image](https://user-images.githubusercontent.com/6792578/51386177-db61c800-1b21-11e9-92a7-c4b1be75a786.png)

[2019-01-18 12:28] leofeyer commented on #285
Re-added in e8d634947be528585c72aac9281b2f9c9d3581c3. I have also extended the unit tests to check different database versions.

[2019-01-18 12:28] #285 closed, assigned to leofeyer

[2019-01-18 12:38] fritzmg commented on #285
Since you re-added the variable index length depending on the database configuration, is the message in the install tool still strictly necessary?

[2019-01-18 12:41] leofeyer commented on #285
What exactly do you mean?

[2019-01-18 12:55] fritzmg commented on #285
May be I am misunderstanding this, but the main problem of #282 was the too long index length, that Contao wanted to create. In e8d6349 you have made some changes to `getDefaultIndexLength` - I am assuming this would actually fix it, without setting
[code]
or
[code]
?

[2019-01-18 13:31] leofeyer commented on #285
Nope, it does not.

[2019-01-18 14:17] ausi commented on #285
@fritzmg `getDefaultIndexLength()` can only be used for regular indexes. The issue stays for `UNIQUE` indexes because they cannot have a length limit.

[2019-01-18 14:18] fritzmg commented on #285
I see, thank you for the explanation :)

[2019-01-18 15:26] leofeyer commented on #218
Fixed in e0029a39c5e26ea50f68ffd6abf56cde6ef14bca.

[2019-01-18 15:26] #218 closed, assigned to leofeyer

[2019-01-18 15:29] leofeyer commented on #263
Fixed in Contao 4.4 in 037689be2fb97a2f3db1d671137e9bdc07349d6a.

[2019-01-18 15:37] leofeyer commented on #264
Fixed in Contao 4.4 in ecd00b8b3babc534bf7bc2521e1ee5a89eff0aa3.

[2019-01-18 16:25] leofeyer commented on #269
It seems there is even more wrong here, because `sorting` is actually `tl_child.sorting` and not `tl_parent.sorting`.

<img width="1204" alt="" src="https://user-images.githubusercontent.com/1192057/51399303-ed556200-1b45-11e9-94c9-6d632facbd96.png">

Therefore this is how I think the code should be:

[code]

<img width="1202" alt="" src="https://user-images.githubusercontent.com/1192057/51399276-

[2019-01-18 16:39] leofeyer commented on #273
@mktcode Thank you for your contribution! 👍

No, the changes will be merged upstream.

I am undecided whether importing the media query is a new feature or a bug fix, because if it was a new feature, we would not add it, as the internal CSS editor is deprecated and does not receive new features anymore.

[2019-01-18 16:47] leofeyer commented on #191
See #289.

[2019-01-18 16:47] #191 closed, assigned to nobody

[2019-01-18 16:50] leofeyer commented on #269
Fixed in f20e47f2829e93eec029b4b3b7f1c4e3f6c277ea. @rabauss Can you please test my changes?

[2019-01-18 16:50] #269 closed, assigned to leofeyer

[2019-01-18 17:17] leofeyer commented on #284
@contao/developers Turns out this is caused by the insert tag cache. The following solutions come to my mind:

1. Exempt the `page` insert tag from caching

2. Add `|refresh` to the default title so it becomes `{{page::pageTitle|refresh}} - {{page::rootPageTitle|refresh}}`

3. Add a static `reset()` method to the `InsertTags` class

[2019-01-19 13:12] ausi commented on #284
I think we should go with 1. because the caching isn’t really necessary for the `page` insert tag. Maybe there are other tags that don’t need to be cached too?

[2019-01-19 14:03] rabauss commented on #269
Now, I realized that the pid case is used in the articles treeview ;-)

Okay I did some tests with official demo database (+ copied root page):
a) in 4.4.32 the roots are not sorted
b) in 4.4.33 I get error because of ``ONLY_FULL_GROUP_BY``
c) in 4.4.x-dev everything is fine in the pageTree but in articleTree I'm not sure!

Just wondered while testing, why the root nodes are not shown anymore in t

[2019-01-19 15:39] xchs opened #290 "The alert icon tooltip is not aligned correctly"
**Affected version(s)**

Contao 4.4 – 4.7

**Description**

The tooltip shown on mouseover the alert icon is not aligned properly:

![tt_alert](https://user-images.githubusercontent.com/1218766/51428823-7503a500-1c08-11e9-8b61-cc76506ab67a.png)

**How to reproduce**

* Log into the Contao back end
* Mouseover the alert icon

[2019-01-19 15:39] xchs opened #291 "The confirmation icon is not displayed correctly"
**Affected version(s)**

Contao 4.7.0-RC2

**Description**

The icon (`ok.svg`) for the 2FA confirmation message is not shown correctly:

![2fa](https://user-images.githubusercontent.com/1218766/51428688-dcb8f080-1c06-11e9-9269-d1bf2deb68a6.png)

That's due to this change: https://github.com/contao/contao/commit/a9dc17c4d2b104245825b78ed235c6c32b6a8445#diff-03b082bb15add2cde9485b9a27924578R359

**

[2019-01-19 16:24] xchs opened #292 "Cancel the two-factor authentication"
**Affected version(s)**

Contao 4.6 – 4.7

**Description**

The route `contao/logout` for the 2FA **cancel** operation does not switch back to the Contao back end login screen. The page simply reloads. So you can't cancel the authentication process.

![2fa_cancel](https://user-images.githubusercontent.com/1218766/51429209-bf872080-1c0c-11e9-9a01-bca3a137d4d8.png)

**How to reproduce**

* Enable th

[2019-01-19 20:14] leofeyer commented on #269
Is that another issue?

Yes, that is another issue. The root nodes do not have articles, therefore they do not show up in the results. And since the tree structure is no longer intact, the nodes cannot be sorted as tree anymore.

[2019-01-19 20:15] leofeyer commented on #291
Good catch. 👍

[2019-01-19 22:21] xchs opened #293 "Issue when saving a new template folder"
**Affected version(s)**

Contao 4.7.0-RC2

**Description**

When saving a new template folder, Contao displays the following error message if the folder is created using the "_**Save**_" button only:

[code]

**How to reproduce**

* Log into the Contao back end
* Open "_Layout_" > "_Templates_"
* Create a "_New folder_"
* Paste the new folder somewhere
* Insert a name for the new folder (e.g. `foo

[2019-01-19 22:46] xchs commented on #291
Affects also the other message types, e.g. when the maintenance mode is activated:

![maintenance](https://user-images.githubusercontent.com/1218766/51433121-10fed200-1c44-11e9-9bd4-daf79d212e37.png)

[2019-01-20 00:32] xchs commented on #134
Is it intended that this note is only displayed for forms created with the Contao form generator?

Because I can still submit **comment forms** without being notified that cookies are disabled in the browser.

[2019-01-20 09:16] leofeyer commented on #134
It actually affects all forms that generate POST requests (login, registration, etc.). But do we really want to clutter the HTML code with multiple warnings that is never shown to 99.999% of the users?

[2019-01-20 12:32] xchs commented on #134
I tested this new feature in the Contao Official Demo and was just wondering why this warning is only displayed for the contact form and not for the comment form as well.

No, not really!

[2019-01-21 08:26] mktcode commented on #273
Furthermore it is a bit more complicated to do... so I'll focus on other things.

[2019-01-21 08:38] mktcode commented on #290
Same for Preview...

![image](https://user-images.githubusercontent.com/6792578/51462198-54e6f980-1d60-11e9-94c0-de2463a868a1.png)

[2019-01-21 09:16] Toflar commented on #134
What about extracting that info in a JS template that searches for forms containing an input with name `REQUEST_TOKEN`. It can generate the `div` on the fly above every `form`. It would then be completely optional (enable it in the page layout if you want to) and it can be hidden using CSS in the forms you don‘t want to show it.

[2019-01-21 09:26] benfolds commented on #58
Yes, the {{post::}} will now be replaced on the next page - working - with v4.6.13.
The behaviour now is a bit wierd that it will be replaced over some time. Seems more than a workaround than a real fix for me, but it's better than not replacing the tags 👍

[2019-01-21 09:28] mktcode commented on #292
Maybe this has something todo with the different token (`TwoFactorToken`) that is set in that step...

![image](https://user-images.githubusercontent.com/6792578/51465030-3f290280-1d67-11e9-8857-1c9359ec6822.png)

I'm not sure but I see code like
[code]
in different places. This check would be true for that `TwoFactorToken` and just return. Maybe it has something to do with the issue.

[2019-01-21 09:31] fritzmg commented on #134
I like the `js_` template approach :)

[2019-01-21 10:47] leofeyer commented on #134
I have thought about this as well, however, this only works if people enable the template in their page layout, which should not be required for a warning that applies to all installations.

[2019-01-21 11:06] benfolds opened #294 "The {{news_url::ID}} insert tag will not be replaced"
**Affected version(s)**
4.6.13

**Description**
The insert tag will only be replaced with the url of the current page. The news archive and modules are set correctly with a reader page. Also, {{news::ID}} and {{news_open::ID}} do not work. The {{news_title::ID}} IS working.

**How to reproduce**
Insert a news archive and add a news. Then use the {{news_url::ID}} insert tag to link to this news

[2019-01-21 11:44] Toflar commented on #134
Then do not make it configurable. The JS only solution would not clutter the HTML and work for all forms on the page :)

[2019-01-21 13:25] benfolds commented on #294
Sorry for that.. can be closed.. dumb am i

[2019-01-21 13:25] #294 closed, assigned to nobody

[2019-01-21 16:16] Toflar commented on #284
I agree with @ausi here :)

[2019-01-21 19:06] aschempp commented on #218
The respective option will be added in the next Manager release (see https://github.com/contao/contao-manager/commit/63d10e4d3d17046a719952495c1ce448312dda73)

[2019-01-21 19:12] aschempp commented on #134
I think the comments form would really make sense, too. But not stuff like the login form…

[2019-01-22 08:14] plorenz-etes commented on #278
I finally had the time to try reproducing the issue on a clean installation, but it seems that this issue is not reproducible. I'll try to further investigate the affected installation and report back what I found.

[2019-01-22 08:35] leofeyer commented on #284
Fixed in 7e5ce6bd78fbd3fa12b30497fb2582ed0a95f7a9 then.

[2019-01-22 08:35] #284 closed, assigned to leofeyer

[2019-01-22 08:38] leofeyer commented on #290
It works for me though:

<img width="336" alt="" src="https://user-images.githubusercontent.com/1192057/51522340-6cd68000-1e29-11e9-9a54-0e5c0e5dbfd9.png">

Which browser and OS are you using?

[2019-01-22 08:46] leofeyer commented on #286
Just to clarify: @Toflar's explanation in https://github.com/contao/contao/issues/286#issuecomment-455503554 is correct; the `files` directory is not meant to be made public.

[2019-01-22 09:21] leofeyer commented on #273
This is complicated indeed, because we would have to distinct the following cases:

**Case A**

[code]

**Case B**

[code]

Therefore – and because of the internal style sheet editor being deprecated – I consider this a known limitation. See 58e17e7451341dde90c6a8683fdb75ce39040bea.

[2019-01-22 09:21] #273 closed, assigned to leofeyer

[2019-01-22 10:03] #278 closed, assigned to nobody

[2019-01-22 10:04] leofeyer commented on #278
Closing the ticket for now then.

[2019-01-22 10:08] leofeyer commented on #275
That was my initial thought as well. Have you tried removing the following line?

https://github.com/contao/contao/blob/e8d634947be528585c72aac9281b2f9c9d3581c3/manager-bundle/src/Resources/skeleton/web/app.php#L19

Then there is also the `contao.error_level` parameter. Did you modify it?

https://github.com/contao/contao/blob/e8d634947be528585c72aac9281b2f9c9d3581c3/core-bundle/src/DependencyInje

[2019-01-22 10:12] leofeyer commented on #271
We already have a method that formats numbers based on the language defaults:

https://github.com/contao/contao/blob/935fa8154ebf064af041e0b01b398d78b81ec00f/core-bundle/src/Resources/contao/library/Contao/System.php#L687-L690

What would be the benefit of an additional per user setting?

[2019-01-22 10:13] #200 closed, assigned to nobody

[2019-01-22 10:16] asaage commented on #290
I can confirm this for Chrome and FF on Windows and Chromium and FF on Linux.
If the Browserwindow-width however is below ~1600px the Preview Tooltip is aligned correctly and only the alert one is not.

[2019-01-22 10:24] leofeyer commented on #154
Hier ist die Fehlermeldung aus dem Log:

`[2019-01-22 11:18:58] request.CRITICAL: Uncaught PHP Exception RuntimeException: "Error when rendering "https://demo.contao.org/_fragment?_hash=…&_path=insertTag%3D%257B%257Binsert_form%253A%253A5%257Cuncached%257D%257D%26_scope%3Dfrontend%26_format%3Dhtml%26_locale%3Den%26_controller%3Dcontao.controller.insert_tags%253ArenderAction&clientCache=0&pageId=2&

[2019-01-22 10:32] ben-eSM commented on #271
I am aware of the above mentioned method. But I was referring to a setting which affects the widgets in the Backend. Currently, all numeric, float text inputs will show the value in the English format with a dot as decimal separator. I have a few clients who struggle with this as they are used to the German format and some also do copy paste the values, so they have to edit the values by hand afte

[2019-01-22 10:47] biwerr commented on #200
I have a similar szenario with one of my customers. They had worked on an Newsarticle for about 2 hours, within these time the session expired. After they hit the save button they ended up with the login screen, after login the changes where gone.

**Step to reproduce:**

- Set in `system/config/localconfig.php` the Value for `$GLOBALS['TL_CONFIG']['sessionTimeout']` to 30 Seconds (for test case o

[2019-01-22 14:15] leofeyer commented on #292
It works with  `symfony/symfony` and `symfony/security-bundle` in version 4.1.3 and it no longer works with version 4.1.4, therefore one of the following changes must cause the issue:

- https://github.com/symfony/security/compare/v4.1.3...v4.1.4
- https://github.com/symfony/security-bundle/compare/v4.1.3...v4.1.4

I assume it is this one: https://github.com/symfony/symfony/pull/28100

[2019-01-22 15:44] bytehead commented on #292
Adding this line to the security config works in my demo installation:
[code]

[2019-01-22 15:52] leofeyer commented on #292
That is true, but most likely not the correct fix. The logout path has been exempt from `access_control` in Symfony ever since and even though this behavior was accidentally changed in https://github.com/symfony/symfony/pull/24805, it has been restored in https://github.com/symfony/symfony/pull/28100 (also see the discussion in https://github.com/symfony/symfony/issues/28058).

[2019-01-22 16:11] bytehead commented on #292
You're right. Need to dig deeper.

[2019-01-22 16:14] leofeyer commented on #210
Behoben in b9c192a2424d4dd0c208f2eea3671b3006f22c9b.

[2019-01-22 16:14] #210 closed, assigned to leofeyer

[2019-01-22 16:48] tarun-uwe commented on #275
Thanks for answers, we tried it and figured out that it wasn't a Contao problem but the server itself crashed and couldn't generate an error.

Thanks again and Sorry for the trouble.

Additional Info: When we made an error by choice we got an error message.
But even with that line removed, phpinfo() was showing display_error = Off. Strange but not important.

[2019-01-22 16:50] leofeyer commented on #263
Fixed in Contao 4.7 in 9f887cfdb2dcf83559ef95b183f6181097576b58.

[2019-01-22 16:50] #263 closed, assigned to leofeyer

[2019-01-22 16:51] leofeyer commented on #264
Fixed in Contao 4.7 in 9f887cfdb2dcf83559ef95b183f6181097576b58.

[2019-01-22 16:51] #264 closed, assigned to leofeyer

[2019-01-22 16:52] leofeyer commented on #275
You are welcome.

[2019-01-22 16:52] #275 closed, assigned to nobody

[2019-01-22 20:57] xchs commented on #290
Chrome / Windows 10

[2019-01-23 11:43] leofeyer commented on #291
Fixed in b735737fc58c1c0944a85d50c86e4f8767d2e953.

[2019-01-23 11:43] #291 closed, assigned to leofeyer

[2019-01-23 12:20] leofeyer commented on #293
This can be fixed by replacing

[code]

with

[code]

in `DC_Folder` at line `1567`. However, it seems that this bug occurs in Contao 4.4 and 4.6 as well, doesn't it?

[2019-01-23 13:43] xchs commented on #293
The problem only occurs in Contao 4.7 (at least in my demo installations).

[2019-01-23 13:46] leofeyer commented on #293
I was able to reproduce it in Contao 4.6 as well.

[2019-01-23 13:57] xchs commented on #293
Interestingly, it works for me in Contao 4.6.13. :

[2019-01-23 15:25] leofeyer commented on #134
I have added a `js_` template in f85d810376eb12a8ad07aa475be714c050e7fd11.

[2019-01-23 15:25] #134 closed, assigned to leofeyer

[2019-01-23 21:05] bytehead commented on #292
After some hours of debugging I've ended up with the following: to use `access_control` for the logout path seems to be the correct solution. It's also used in the test application for the two-factor-bundle:
https://github.com/scheb/two-factor-app/blob/863c5d153c4780e9be77e84484207bb04933eef6/config/packages/security.yaml#L31-L33

[2019-01-24 08:36] leofeyer commented on #290
Fixed in de175e4dbe8f183bf685be3fe1ba8a8dad8dfb4a.

[2019-01-24 08:36] #290 closed, assigned to leofeyer

[2019-01-24 08:50] leofeyer commented on #293
Hm, now I cannot reproduce it in Contao 4.6 anymore, either. 🤔

[2019-01-24 08:53] leofeyer commented on #292
Yeah, Christian also mentions it here: https://github.com/scheb/two-factor-bundle/issues/183#issuecomment-441702428 Thank you for your help anyway! 🙏

[2019-01-24 09:20] xchs commented on #292
Thanks a lot for all the time spent debugging the issue. 👍

[2019-01-24 09:48] leofeyer commented on #292
Fixed in 29e9eadb72cb14c02aa9ce4407f9d3357b1614f0.

[2019-01-24 09:48] #292 closed, assigned to leofeyer

[2019-01-24 10:06] leofeyer commented on #293
It seems I had accidentally changed it in b546be78e90c5289c5ce317f330b3d0821defa87. Reverted in cd012300d4f66a9a0ce53ab63d0601b52f1d0394.

[2019-01-24 10:06] #293 closed, assigned to leofeyer

[2019-01-24 13:59] hinzke commented on #1957
Hey Leo, are there some news?

[2019-01-24 19:02] biwerr commented on #200
@leofeyer could you please reopen the issue, mabye with lable feature?

[2019-01-24 20:02] leofeyer commented on #200
Your comment reads more like a feature request and does not seem to be related to the reported problem, therefore please open a new ticket.

[2019-01-24 20:11] biwerr opened #296 "Prevent dataloss due Session expires while working editmode"
The scenario is from one of my customers. They had worked on an Newsarticle for about 2 hours, within these time the session expired. After they hit the save button they ended up with the login screen, after login the changes where gone.

**Step to reproduce:**

- Set in `system/config/localconfig.php` the Value for `$GLOBALS['TL_CONFIG']['sessionTimeout']` to 30 Seconds (for test case only)
- Ope

[2019-01-25 10:46] patrickjDE commented on #296
Imho a combination of the first 2 approaches would be ideal.

A heartbeat is the most convenient solution as it prevents logout, but it fails when network connection is interrupted for a long enough time (wifi outage, device going to sleep, ...). In that case the first approach would serve as a fallback.

[2019-01-25 14:42] Defcon0 opened #298 "The model class defined in $GLOBALS['TL_MODELS'] is not used in Controller::getContentElement()"
**Affected version(s)**
4.x (we're coding on 4.4.x)

**Description**
We're currently trying to get `DC_Multilingual` working for tl_content. The problem is that when content elements are generated in `Controller::getContentElement()`, the following call is made:

`$objRow = \ContentModel::findByPk($intId);`

But we need to use our own `ContentModel` inheriting from the class `Multilingual`. Theref

[2019-01-26 11:45] squidi opened #299 "c4.7.0-RC3 Backend Symlinks neu erstellen"
Contao Version 4.7.0-RC3

Symlinks neu erstellen über das BE/systemwartung ergibt einen Internal Server Error mit der Meldung => Attempted to call an undefined method named "setContainer" of class "Contao\CoreBundle\Command\SymlinksCommand"

Systemwartung -> Daten Bereinigen -> Symlinks neu erstellen

[2019-01-26 15:38] Mediazept opened #301 "defining a custom section and setting a system default id for it breaks the according default section"
**Affected version(s)**
4.4.34, still present in 4.6.12 (Contao demo)

**Description**
If a custom layout section is using a system default id, the according default section is broken.
Any content you put into this custom section won't display (the section doesn't render).
Furthermore you won't be able to delete the custom section anymore and you won't see the according default section area in fro

[2019-01-26 20:08] leofeyer commented on #299
Behoben in d9f048abd54eeb4a62a2dc19bbb61e22a6d4d745.

[2019-01-26 20:08] #299 closed, assigned to nobody

[2019-01-27 15:35] aschempp commented on #154
Der normale Symfony Inline Renderer akzeptiert keinen Status Code ausserhalb von 2xx als Fragment. Unter anderem aus diesem Grund haben wir (ich glaube in der 4.6) den Forward-Renderer eingeführt. Allerdings sollte das Fragment auch keine Response zurück geben, sondern eine `RedirectException` werfen, denn diese sollte dank `ignore_errors = false` beim `ResponseExceptionListener` ankommen.

[2019-01-28 07:52] markocupic opened #302 "CHMOD Problem im Verzeichnis assets/images"
Contao 4.6.14
PHP 7.2
Cyon Webhosting

Auf einer nackten Contao 4.6.14 Installation werden verkleinerte Bilder (jpg) nur mit CHMOD 0600 anstatt mit den nötigen 0644 abgespeichert. Daraus resultieren massenhaft Error 403.

Siehe  https://test.kletterkader.com/home.html

Liegt das an der Server Konfiguration von Cyon?

[2019-01-28 09:42] minstyle commented on #302
Contao 4.4.34
PHP 7.2
Kein Cyon Webhosting

Nach einem Update von Contao 4.4.33 zu 4.4.34 habe ich genau das gleiche Problem.

![image](https://user-images.githubusercontent.com/2649562/51828748-917c9d00-22ec-11e9-9677-313212c2b7d1.png)

Alle Bilder auf der Website werden nicht mehr angezeigt. Auch funktioniert die Bildvorschau in der Contao-Dateiverwaltung nicht mehr.

@leofeyer Bitte zeitnah fix

[2019-01-28 09:51] cmartin6 opened #303 "Modul-Inserttag funktioniert in Kombination mit boxes4ward nicht"
Contao 4.4.34

Der Inserttag {{insert_module::ID}} funktioniert seit Version 4.4.34 nicht mehr in Kombination eines "Inhaltsbox"-Moduls von psi/boxes4ward.

Reproduzierbar wie folgt:
- Contao 4.4.34 aufsetzen
- Boxes4ward-Extension installieren
- in einem Template das angelegte Inhaltsbox-Modul mit {{insert_module::ID}} ausgeben

[2019-01-28 11:11] fritzmg commented on #302
I don't think this has anything to do with Contao. Contact your hosting provider and check the default umask with them.

[2019-01-28 11:15] minstyle commented on #302
Vorher hat es noch funktioniert. Erst nach einem Update auf die neueste Contao-Version führt zu diesem Problem ...

[2019-01-28 11:16] fritzmg commented on #302
Das heißt, nach einem Downgrade besteht das Problem nicht mehr?

[2019-01-28 11:19] minstyle commented on #302
Nach einem Downgrade auf Contao 4.4.33 besteht das Problem komischerweise immer noch. Habe via Konsole den Contao-Cache geleert.

Wenn ich den Befehl "umask" in der Konsole eingebe, erhalte ich den Wert "0022" (siehe z. B. https://community.contao.org/de/showthread.php?17634-Probleme-mit-Dateirechten).

[2019-01-28 11:19] fritzmg commented on #302
Dann hat es, wie gesagt, vermutlich nichts mit Contao zu tun. Kontaktiere den Hoster.

[2019-01-28 11:45] ausi commented on #302
Bitte versucht einen Downgrade von contao/image auf 0.3.7. eventuell lässt sich dadurch das Problem beheben.

[2019-01-28 11:47] ausi commented on #302
Falls das hilft liegt das Problem vermutlich an
https://github.com/contao/image/commit/7460eee279c71eb99b545f3d60ce889a2d1f9b29

[2019-01-28 11:50] minstyle commented on #302
@ausi

_Bitte versucht einen Downgrade von contao/image auf 0.3.7. eventuell lässt sich dadurch das Problem beheben._

So sieht derzeit meine composer.json aus:

[code]

Was muss ich hier genau machen?

[2019-01-28 12:00] Wusch commented on #302
Du kannst `"contao/image": "0.3.8"` bei conflict ergänzen:

[code]

Bei mir funktioniert es damit wieder. Contao 4.6. Hoster Mittwald.

[2019-01-28 12:02] minstyle commented on #302
@Wusch
Jetzt funktioniert es wieder! Aber was bedeutet das nun für die Zukunft? Handelt es sich hier um einen Contao-Bug?

[2019-01-28 12:20] markocupic commented on #302
@all
Ja, das kann ich bestätigen.
Nach dem Downgrade auf contao/image 0.3.7 funktioniert alles wieder.
Besten Dank @ausi

[2019-01-28 13:46] #303 closed, assigned to nobody

[2019-01-28 13:47] cmartin6 commented on #303
Habe nun psi/boxes4ward in der Version master-dev installiert. nun funktioniert alles wieder wie gehabt

[2019-01-28 15:11] frontendschlampe commented on #302
selbes Problem - aber nach ```"contao/image": "0.3.8"``` geht alles wieder

[2019-01-28 15:36] srhinow commented on #302
Bei mir auch der selbe Fehler nach dem Update auf Contao 4.4.34 und Es geht wieder wenn ich wie beschrieben die Zeile
[code]
in der composer.json einfüge und ein "`composer update`" behebt das Problem dann wieder.

Danke nochmal an @frontendschlampe für den Tipp des Issues hier.

[2019-01-28 20:03] ausi commented on #302
Der Fehler sollte mit https://github.com/contao/image/commit/21bb29b4f15fbab0d36218df95dbd9702e1595e8 behoben sein. Kann bitte jemand testen ob sich das Problem mit `"contao/image": "dev-master as 0.3.9",` im `require` Block jetzt lösen lässt?

[2019-01-28 20:27] markocupic commented on #302
@ausi
Danke dir für das bugfixing.

Bei mir hat es funktioniert. Super! Bin froh.

[2019-01-28 20:32] ausi commented on #302
Vielen Dank fürs testen!
Version [0.3.9](https://github.com/contao/image/releases/tag/0.3.9) wurde soeben released.

[2019-01-28 20:38] #302 closed, assigned to nobody

[2019-01-28 20:44] srhinow commented on #302
ja der Fix hat bei mir auch geholfen. Vielen Dank @ausi

[2019-01-28 21:14] richardhj opened #305 "Unable to generate a logout url for an anonymous token."
**Affected version(s)**

gte 4.5.0

**Description**

I regularly have "**Unable to generate a logout url for an anonymous token.**" errors. A lot within app_dev, but also in production, see https://sentry.io/share/issue/cca22dc4019a487095cce3da09b4ec52/.

The reason:
If a user is logged in, the login module has the logout action.
When the token is an instance of `AnonymousToken`, however, no logou

[2019-01-29 14:25] aschempp opened #307 "Check for tables before running database updates"
**Affected version(s)**
4.7.x-dev

**Description**

You cannot run a database migration for additional bundles in the core, `comments-bundle` is not installed on my system.
https://github.com/contao/contao/blob/master/installation-bundle/src/Database/Version470Update.php#L69-L83

[2019-01-29 15:53] leofeyer commented on #305
Can this be reproduced somehow?

[2019-01-29 17:01] bekanntmacher commented on #239
ja das wäre so konsistent, schätze aber, dass wirft hohe Wellen.

NB: zu styling-Zwecken braucht es theoretisch bei den Listen auch keine Klassen. Beim responsiv nützt ein `row_first` oder ein `col_last` nicht viel...

[2019-01-29 18:19] vstuber opened #308 "JavaScript-Template "js_mediaelement" scheint Konflikt mit Mootools zu verursachen"
In einem Contao-Projekt (Contao 4.4.34) wird das Verhalten von Mootools gestört, wenn im Layout das Javascript-Template "js_mediaelement" aktiviert wird.

Die Sache ist zumindest in meinem Projekt ganz einfach zu reproduzieren und zu testen:

Mit der folgenden Einstellung im Layout

![grafik](https://user-images.githubusercontent.com/1235606/51930163-320cb300-23fa-11e9-8b43-26e1d69671cb.png)

pass

[2019-01-29 18:21] xchs commented on #308
Kannst Du das Problem auch in der Contao Official Demo reproduzieren?

[2019-01-29 18:23] vstuber commented on #308
Habe ich noch nicht probiert, weil ich zugegebenermaßen nicht weiß, was Du mit "Contao Official Demo" meinst. Wenn Du mir das kurz erklärst, probiere ich es sofort aus!

[2019-01-29 18:24] xchs commented on #308
Das wäre eine neue Contao 4.4.34 Installation mit diesem Paket: https://packagist.org/packages/contao/official-demo

[2019-01-29 18:28] vstuber commented on #308
Okay, das probiere ich mal eben aus...

[2019-01-29 20:24] ausi commented on #308
Hast du in den Layouteinstellungen nur „MooTools laden“ aktiviert, oder auch „jQuery laden“?

[2019-01-29 20:25] cliffparnitzky commented on #308
oder Live hier: https://demo.contao.org/contao/login

[2019-01-29 20:34] ausi commented on #308
Wenn beide Frameworks aktiviert sind, überschreibt das MediaElement.js die globale `$()` Funktion mit der jQuery-Funktion, siehe [MediaElement.js 4.2.9 src/js/player/library.js:8](https://github.com/mediaelement/mediaelement/blob/4.2.9/src/js/player/library.js#L8)

Die MooTools-Skripte können somit nicht mehr auf `$()` zugreifen und müssten stattdessen `document.id()` verwenden.

[2019-01-29 23:19] vstuber commented on #308
Jetzt kam mir etwas dazwischen und ich konnte es noch nicht in der Official Demo ausprobieren aber dank der Aussage von @ausi ist das ja auch gar nicht mehr nötig, denn der Fehler ist jetzt bestätigt und begründet.

Zu der Frage

Auch jQuery ist aktiviert. Deaktiviert man jQuery, verschwindet das Problem auch, aber jQuery selbst ist ja nicht wirklich die Ursache.

Aber was nun? jQuery und Mootools

[2019-01-30 07:12] fritzmg commented on #308
MediaElement.js scheint nicht mehr so aktiv entwickelt zu werden: https://github.com/mediaelement/mediaelement/issues/2607#issuecomment-455823904

Contao benutzt aber eigene Versionen von Paketen wie diesen - teilweise sind diese auch extra angepasst. Es wäre daher möglich auch für MediaElement.js eine angepasste Version bereit zu stellen.

[2019-01-31 08:06] ausi commented on #308
Für diesen Bug gibt es auch bereits einen Pull Request: mediaelement/mediaelement#2598

[2019-01-31 12:22] arboc opened #310 "add autoprefixer to leafo/scssphp compiled scss-files"
**Description**
Es wäre hilfreich, wenn die CSS- Styles, die aus den SCSS-Datein generiert werden, automatisch mit
 einem entsprechenden vendor-prefix versehen werden.

Dazu gibt es ein Issue bei leafo/scssph mit einer Lösung:
https://github.com/leafo/scssphp/issues/610#issuecomment-459274640

Lässt sich das nicht in Contao einbinden?

[2019-01-31 13:49] leofeyer commented on #307
Fixed in 089ce9f76eb8646d549d56bfa5ccfe54414d92b8.

[2019-01-31 13:49] #307 closed, assigned to leofeyer

[2019-02-01 16:45] thescrat opened #313 "Logout nach Änderung von "username" oder "groups""
Betroffen/Getestet in Contao 4.6.13 / Contao-Online Demo

Im Modul Personendaten (ModulePersonalData) wird das Mitglied im Frontend ausgeloggt, wenn der "username" oder "groups" geändert wird.

Hooks "updatePersonalData" werden dann ebenfalls nicht ausgeführt. Erst nach dem erneuten Login (mit neuem username) und einem erneuten speichern werden diese dann ausgeführt.

[2019-02-01 18:25] xchs commented on #313
Es geht um Contao 4.6.13 (jedenfalls laut Forum).

[2019-02-01 22:08] fritzmg commented on #313
It also affects the Contao Online Demo.

[2019-02-04 09:39] thescrat opened #314 "Internal Server Error nach 2. Benutzerwechsel"
**Affected version(s)**
4.6.13 / Online-Demo

**Description**
Man landet in einem "Internal Server Error" wenn man im Backend unter Benutzer zu einem Benutzer wechselt und dies ein weiteres Mal probiert. Im Profilmenü wird zwar angezeigt "zurück zu [benutzername]" jedoch wird in der Benutzerliste weiterhin das Wechsel-Icon angezeigt, was man ausblenden sollte.

**How to reproduce**
Wechsel im Back

[2019-02-04 10:35] ben-eSM commented on #308
Eventuell könnte man auch aufgrund der Tatsache, dass MediaElement.js nicht mehr so aktiv entwickelt wird, für die Zukunft einen Wechsel auf https://github.com/sampotts/plyr ins Auge fassen.

[2019-02-04 11:00] asaage commented on #308
Picture-in-Picture und speed-controls....  nice.
Schade, dass i18n noch nicht's mitkommt.

[2019-02-04 12:30] cliffparnitzky commented on #313
Same with Contao 4.6.14

[2019-02-04 12:33] cliffparnitzky commented on #314
**Can not** confirm with my Contao 4.6.14.

[2019-02-04 12:41] thescrat commented on #314
**Getestet in Contao 4.6.14.** Fehler besteht weiterhin!

1. Klick im Backend auf Benutzer
2. Wechsle von Benutzer 1 auf Benutzer 2
3. Klicke erneut im Backend auf Benutzer
4. Wechsle von Benutzer 2 auf Benutzer 1 (oder auf anderen Benutzer).

Resultat: Internal Server Error
"You are already switched to "[benutzername]" user."

[2019-02-04 12:53] fritzmg commented on #314
Are you able to reproduce it in the Contao Online Demo?

[2019-02-04 12:54] thescrat commented on #314
Ja! Hab ich doch im 1. Kommentar geschrieben

Affected version(s)
4.6.13 / **Online-Demo**

Dazu muss man einen Backend-Benutzer halt noch zum Admin machen, damit man von dem wieder "zurückwechseln" kann. Landet dann aber direkt im Fehler

[2019-02-04 13:00] asaage commented on #314
I would confirm this.
Might be an unsupported usecase. Why would anyone want to impersonate in multiple layers?
Disabeling impersonation when already impersonating a user should suffice.
You would always have to switch back to your original user on the top right in between then but that's ok i guess.

[2019-02-04 13:08] thescrat commented on #314
Also war froh über die Funktion, dass ich zwischen unzähligen Backendbenutzern wechseln konnte. In Contao 3 war das kein Problem, dort konnte ich hin und herwechseln wie ich wollte. Letztlich ist der "Fehler" nur das Icon, was noch angezeigt wird nach dem Benutzerwechsel. Wenn ich erst zum Originalaccount zurück muss um von dort wieder auf einen weiteren Benutzer zu springen, ist das auch ok

[2019-02-04 13:24] cliffparnitzky commented on #314
Das kann ich nicht bestätigen.

Das kann ich bestätigen.

[2019-02-04 13:38] thescrat commented on #314
Die Reihenfolge 1-4 ist doch der Wechsel von Benutzer 1 auf Benutzer 2 zurück auf Benutzer 1. Nur halt über die Benutzerliste. Nicht über das Profilmenü.
![userswitch](https://user-images.githubusercontent.com/1240007/52211565-83012900-288a-11e9-9503-e8c52ee40b3d.gif)

[2019-02-04 15:49] cliffparnitzky commented on #314
ja

[2019-02-05 14:09] koertho opened #315 "Small image size leads to wrong format selection in imagesize widget"
**Affected version(s)**
Encountered it with 4.4.34

**Description**
If you set an an image size (for example 6) and you have an predefined image format with the id 6, the imageSize widget will use the last one and also the image format will be used to display the image.

The error lays in the option "select" handling, where all array values and the current option are compared and select is returne

[2019-02-05 16:13] kroerig commented on #265
Wie funktioniert das denn dann mit den "vertrauenswürdigen" Geräten?

Wird ein Cookie gesetzt? Dann könnte sich ja jeder ohne 2FA von diesem Gerät anmelden.
Oder ein Fingerprint vom System/Browser in Conato gespeichert?
Und wie lange ist dieses Gerät dann vertrauenswürdig?

Dann sollte vllt. auch, wie z.B. Google es macht, eine Mail an den Benutzer gehen mit "Du hast dich gerade von einem neuen Ge

[2019-02-05 20:21] bekanntmacher commented on #241
https://github.com/contao/contao/issues/5391

[2019-02-06 07:14] cmartin6 opened #316 "Interne Weiterleitung leitet falsch auf Unterseite um"
**Affected version(s)**
Contao 4.4.28

**Description**
Ich habe auf der Seite eines Kunden eine Interne Weiterleitung von einer Hauptseite auf eine Unterseite eingerichtet, funktioniert soweit auch ganz gut. Wenn jedoch nach der Hauptseite noch ein "Slash" (/) eingefügt wird, wird doppelt auf die Unterseite weitergeleitet.

**How to reproduce**
Beispiel:
http://moosleerau.ch/willkommen -> leitet a

[2019-02-06 07:23] fritzmg commented on #316
You always need to test with the newest Contao Version first (LTS or otherwise).

[2019-02-06 08:41] ausi commented on #315
I can confirm the issue in Contao 4.4.

Contao 4.6 is not affected because we changed the order of the image size groups in d2bf981c03ec133d1fc47544c58bc37bbee40a0b and the later option always wins.

Can be fixed by updating https://github.com/contao/contao/blob/a52821a8bb760a2e4a77fe51ac4dc6f294294aed/core-bundle/src/Resources/contao/widgets/ImageSize.php#L171-L191

[code]

[2019-02-06 10:52] dmolineus opened #317 "Handling missing messages in the contao translator"
**Description**

I've struggled working with the custom translation message domain named `contao_example`. I just wondered why the message wasn't neighter translated nor any debug entry in the symfony console was created for a missing translation message.

@ausi revealed that all message domains starting with `contao_` are mapped to the legacy translator reading translations from `$GLOBALS['TL_LAN

[2019-02-06 11:04] ausi commented on #317
I’m not sure if this is the best way to improve this. It could lead to even more confusing behavior if some messages come from `$GLOBALS['TL_LANG']` and others from the Symfony translator for the same message domain. This would be way harder to debug IMO.

It would probably be better to add debug information similar to the Symfony translator which also explains that the message was tried to load f

[2019-02-06 11:26] chamisso opened #318 "Loading mootools via CDN fails"
Affected versions: Contao 4.4.34, Mootools 1.6.0.5

Mootools can be loaded locally but not via CDN. Firefox console reports that the script `https://ajax.googleapis.com/ajax/libs/mootools/1.6.0.5/mootools.min.js` can not be found. The sub-directory should be 1.6.0, not 1.6.0.5.

[2019-02-06 11:38] xchs commented on #318
See https://github.com/contao/core-bundle/issues/1371 and https://github.com/contao/core-bundle/pull/1391.

[2019-02-06 16:56] pgerundt opened #320 "Wrong object permissions in adjustPermissions()"
Is there a copy&paste typo in some of the dca files?
The method `adjustPermissions()` checks user permissions for the requested `$insertId` but it loads the form ids instead of the object ids:

For example [tl_calender_feed.php](https://github.com/contao/contao/blob/80355f3f7e2fa95759008f28d6ea3293ed210dea/calendar-bundle/src/Resources/contao/dca/tl_calendar_feed.php) in lines 345 and 351:

[code]

[2019-02-06 17:14] leofeyer commented on #320
You are right. 😞

[2019-02-06 21:45] asaage commented on #316
Mir kommt das irgendwie bekannt vor...
Das TitleTag deiner Seite Stimmt zumindest ```<title>Porträt - Gemeinde Moosleerau</title>```
Mein Ticket dazu war hier: https://github.com/contao/contao/issues/284
Falls das eine Option ist nutz das Standard-```url_suffix: 'html'```
```''``` und ```'/'``` haben bei mir auch immer mal wieder solche Probleme verursacht.
Wo kommt denn der letzte Slash in deiner

[2019-02-07 16:04] leofeyer opened #321 "Fragments are double encoded"
**Affected version(s)**

Contao 4.4+

**Description**

The changes from d13b832578ba9826fce7a0d9970786d7b79d8f3e (see #7829) cause problems. We first urldecode here:

https://github.com/contao/contao/blob/a52821a8bb760a2e4a77fe51ac4dc6f294294aed/core-bundle/src/Resources/contao/classes/Frontend.php#L70-L71

And then again here:

https://github.com/contao/contao/blob/a52821a8bb760a2e4a77fe51ac4dc6f

[2019-02-07 16:33] leofeyer commented on #314
@contao/developers I don't think we want to support multiple nested impersonations, do we?

[2019-02-07 16:35] Toflar commented on #314
Sounds super weird to me. If you're an admin, you can impersonate to a certain user. The only thing you can do then is go back to your real account, that's it. In my opinion you cannot continue to impersonate to yet another user that's not the idea of impersonation.

[2019-02-07 17:02] m-vo opened #322 "Newsletter cannot be instantiated"
**Affected version(s)**
at least >= 4.4

**Description**
The newsletter bundle registers a `getSearchablePages` hook like so:
``$GLOBALS['TL_HOOKS']['getSearchablePages'][] = array('Newsletter', 'getSearchablePages');``

The `Newsletter` class, however, cannot be instantiated because it has no explicit constructor and inherits the protected constructor from `Backend`. That's however needed to exec

[2019-02-07 17:04] cliffparnitzky commented on #314
I agree with @Toflar . The function should be disabled in the backend view, if you impersonated once.

[2019-02-07 17:55] aschempp commented on #321
It looks like `rawurldecode` was added first (in https://github.com/contao/core/issues/6232) and that fix actually removed `urldecode` from the fragments (https://github.com/contao/core/commit/33cee3ba76df184217f7e9c04cb3e055c65bbeb1). So not sure why https://github.com/contao/core/pull/7829 was ever necessary/relevant 🤔

[2019-02-07 18:00] aschempp commented on #314
This is actually an issue in Symfony and not Contao, because the impersonation is a default feature of Symfony security. I wonder if this works:
 1. User A impersonates as User B
 2. User B impersonates as **User C**

As far as I could see, the error appears because User B tries to impersonate as User A again, but that user is already in the parent tokens. If so, we should forbid login as all pare

[2019-02-07 18:15] thescrat commented on #314
@aschempp
Der Fehler passiert ebenso wenn User A zu User B wechselt und anschließend zu User C wechseln möchte. Es spielt also keine Rolle ob User B "zurück" auf A will oder zu einem dritten User wechselt.

User A => User B (funktioniert)
User A => User B => User A (funktioniert nicht)
User A => User B => User C (funktioniert nicht)

User A => User B => zurück über Profil (User A)  => User C (funk

[2019-02-09 11:18] m-vo commented on #322
closing in favor of #324

[2019-02-09 11:18] #322 closed, assigned to nobody

[2019-02-09 12:05] Mediazept commented on #301
Another aspect of the bug:
Changing the name of a custom section will also break a layout configuration.

[2019-02-10 12:33] itcbchris opened #325 "Add Option to Video Modul for Youtube "Erweiterte Datenschutz Option""
**Description**

As of GDPR is mandatory in the EU it is recommended to use "Erweiterte Datenschutz Option" by Youtube when embeding videos from there plattform into your website.

so i thin it should be usefull to have this option implemented into the module itself.

**Example**
Checkbox:
"Erweiterter Datenschutz Modus von Youtube".

Add: -nocookie to URL (maybe some other options? dont really kn

[2019-02-10 13:09] fritzmg commented on #325
This is already implemented.

[2019-02-10 18:21] itcbchris commented on #325
As i See in 4.6?

is there no way to get it in  4.4.* there i only have:

Video ID, Player-Size, and Autoplay in Youtube  Module?

[2019-02-10 19:07] contaoacademy commented on #325
For Contao 4.4 LTS you don't get any new features.
But you could replace the YouTube-URL in the template "ce_youtube.html5" by yourself.

[2019-02-10 20:03] #325 closed, assigned to nobody

[2019-02-11 06:35] WebRoxx opened #326 "Bildgrößen definieren (Multi-CMS)"
In den Theme-Einstellungen (Bildgrößen) wäre es schön wenn man in den Inhaltelementen bei Bildgröße eine Zuordnung zu den Themes hat. Derzeit werden bei Multi-CMS Seiten alle Bildgrößen fortlaufend angezeigt so das ein Nutzer der über alle Seiten adminstrieren kann nicht weiß welche Bildgröße zu welcher Seite gehört.

--------------------------------------------------------------------------------

[2019-02-11 16:17] Toflar opened #327 "Update PHP versions to test against on travis"
PHP 7.4 is now available on travis through "7.4snapshot", and "nightly" provides PHP 8.0.

We might want to update our travis config so we can test early against the upcoming versions 😎

[2019-02-12 09:43] jankout commented on #74
Hello. I would like to ask if it will be improved?

[2019-02-13 16:26] fritzmg commented on #79
This is still a problem in `4.7.0-RC4`:

![screenshot_2019-02-13 nachrichten blog artikel beitrag id 8 bearbeiten - contao open source cms](https://user-images.githubusercontent.com/4970961/52726907-695f9000-2fb4-11e9-9031-d3c6dad9e987.png)

Chaging the `min-height` to `81px` would fix the issue.

* Windows 10 x64
* Firefox 65.0.1

[2019-02-14 14:53] ausi commented on #321
As discussed on Mumble this should work correctly:

1. Split the request into fragments by `/`
2. `urldecode()` all fragments
3. when building the alias replace `/` by `%2F` for the affected fragments

[2019-02-14 15:08] leofeyer commented on #317
As discussed in Mumble on February 14th, we want to add a debug message in line 58 with the same text as used in the Symfony translator.

[2019-02-14 15:41] leofeyer commented on #274
As discussed in Mumble on February 14th, we want to strip keywords that deceed a configurable minimum length. Also, the search results shall show a hint if keywords have been stripped.

[2019-02-14 16:38] leofeyer commented on #313
We need to update the security token in the personal data module (FE) and in the user manager (BE).

[2019-02-14 19:54] leofeyer commented on #79
Did you make sure that the new format definitions are applied?

[2019-02-15 11:10] frontendschlampe opened #331 "Add possibility to protect pages, article, modules etc. for members"
At the moment we have the possibility to protect nearly everything, but we have to select a member group, for which one the item should be protected. But I think, it would be great, if there's a possibility to protect an item for every logged-in member unattached his member group.

The problem: if you add a new member group, you have to go through all protected items and activate the new group oth

[2019-02-15 12:01] asaage commented on #331
You could easily work around this by creating a group like ```known``` or ```logged-in``` and assign this group to every member by default (in addition to whatever other memberships you need) right?

[2019-02-15 12:05] aschempp commented on #321
Unfortunately, it's a little more complicated. Symfony apparently fixed a similar issue a while ago (https://github.com/symfony/symfony/blame/master/src/Symfony/Component/Routing/CHANGELOG.md#L234) and use `rawurldecode`. They also do decode slashes in the path.

In regards to Contao, this means changing this in Contao 4.4 is not really useful, because in Contao 4.7 we use Symfony and therefore ca

[2019-02-15 12:32] frontendschlampe commented on #331
You're right, this is a workaround. But a little bit more comfortable would be, if I could activate the protected-checkbox without checking a member group and the item is visible for every logged-in member. If a member group is checked, the item is visible just for the activated member group. :-)

[2019-02-15 13:18] leofeyer commented on #79
We found out the issue was caused by the changes from #501. Eventually fixed in 98a82d43689e9b5874ef72070060c2ff309df739.

[2019-02-15 13:47] leofeyer opened #332 "Revise the Contao components"
We should check which Contao components have become obsolete and remove or deprecate them.

## KEEP

| Component | Evaluation |
| --- | --- |
| **ace** | ACE editor used in the back end |
| **dropzone** | Drag and drop file uploads |
| **stylect** | Cross-browser select menu support |
| **tinymce4** | TinyMCE 4 – there is TinyMCE 5 meanwhile though |

## KEEP or REPLACE

| Component | Evaluation |

[2019-02-15 15:38] Kahmoon opened #333 "Inactive member groups are listed on protecting elements"
**Tested version(s)**
4.6.14

**Description**
When i want to protect certain elements, all existing member groups are shown. Even the inactive ones. This becomes pretty uncomfortable when you have many groups (in my scenario 48 - monthly growing)

I deactivated some groups from 2015 to 2018 but they are still shown on the list. Are they displayed intentionally?

Any solution to hide them?

Greetin

[2019-02-15 16:04] leofeyer opened #334 "Language redirect does not consider browser preferences"
**Affected version(s)**

4.7.0

**Description**

If I open the URL https://themes.contao.org/ I am redirected to `/en/` even though my preferred browser language is `de` and there is a `/de/` root page in the site structure.

Strange enough, this is not the case on contao.org. 🤔

[2019-02-15 16:07] leofeyer commented on #334
Ah, the fallback language is `de` on contao.org and `en` on themes.contao.org .

[2019-02-15 17:24] leofeyer commented on #334
I have adjusted the unit tests in 0838deda8567fd6bc99d8ef246aa5f2f4143a4c0 so the problem becomes visible.

[2019-02-16 12:59] j-schroeder-schetelig opened #335 "Form redirects to "Redirect page" although email could not be sent"
**Affected version(s)**
Version 4.6.14 and possibly older

**Description**
I am currently struggling to setup Contao that emails are sent correctly by a test form.
However I noticed the following bug.
Upon submission of the test form (with all data fields entered correctly) the visitor will be redirected to the page selected under "Redirect page", although the email could not be sent by the system

[2019-02-16 13:37] asaage commented on #335
Either sendmail is not available https://github.com/contao/core-bundle/issues/1613
or something else is wrong with your mailer configuration.
I guess we really need the Test-Mail Feature in the contao-manager https://github.com/contao/contao-manager/issues/254

The Redirect-page will be triggered as soon as the form has successfully been submitted - it doesn't  care about successfull delivery of e

[2019-02-16 14:09] j-schroeder-schetelig commented on #335
Thanks for the information. I didn't know about notification-center or hooks.
But, the bug that I still see here, is that the user should be informed that their data was lost in nirvana, when the only configured method of delivery is email.
And what happens in the other cases, i.e. if the form is set up to only store data in a db, but there is an error? Will the user be informed?

Maybe the redire

[2019-02-16 18:45] aschempp commented on #334
see https://github.com/contao/contao/pull/336

[2019-02-16 19:42] Funbug opened #337 "Symlinks neu erstellen: Semaphore extension (sysvsem) is required"
**Affected version(s)**
Contao 4.7 / PHP 7.2.11 / Ubuntu

**Description**
Symlinks im Backend neu erstellen führt zu einem Internal Server Error:
_Semaphore extension (sysvsem) is required_

**Log**
[code]

**How to reproduce**
Contao-Backend -> Systemwartung -> Symlinks neu erstellen

[2019-02-16 21:46] fritzmg commented on #337
Hm, it seems symfony/lock is missing an `ext-sysvsem` dependency in its composer.json (unless that's invalid).

[2019-02-17 09:04] Toflar commented on #337
No, that‘s not correct. It will take Semaphore if supported, otherwise fall back to flock. So somewhere during your cache build apprently PHP is configured so that it provides Semaphore (`sysvsem` extension enabled) but in your web process it‘s not.
That should be fixed on the server then.

[2019-02-17 09:29] ausi commented on #321
Couldn’t we use the fix from #330 and replace `urldecode` with `rawurldecode`?
Not supporting the `+` char as a replacement for space shouldn’t be a problem if we use `rawurlencode` when outputting the URL IMO. And in Contao 4.7 we cannot support the `+` anyways because of Symfony, right?

[2019-02-17 11:09] wiphi opened #339 "Login Page Title starts with "-""
**Affected version(s)**
Contao 4.7
[Ubuntu 18.10]
Browser: Firefox, Vivaldi, (but  I think it doesn't matter.)

**Description**
Just a little, little minor bug:
The title attribute looks a little bit unlikely, since the Contao page title in the backend settings is gone. The `-` seems to be wrong.

![screenshot_contao_login](https://user-images.githubusercontent.com/25878910/52911968-1d119a00-32ab-

[2019-02-17 11:34] de-es commented on #339
Mit dem Wegfall des websiteTitle (#203), wodurch es auch zu diesem Anzeigefehler hier kommt, gibt es keine einfache Möglichkeit mehr, sich mit Keepass & Co. projektspezifisch anzumelden, da nun alle Installation denselben Titel haben. Auch Bookmarks vom Backend-Login heißen nun erstmal alle gleich beim Anlegen. Ich würde mir wünschen, dass es optional vielleicht doch noch einen websiteTitle gibt.

[2019-02-17 11:37] aschempp commented on #321
Not really. Symfony decodes the whole path, which means we should keep the first `rawurldecode` and remove it from the `Input::setGet`. It will also mean that an encoded slash will become a slash (and therefore a fragment), but that's how Symfony behaves… although it is also how Contao always behaved (since that line was added)

[2019-02-17 11:45] ausi commented on #339
We could display the domain instead of the websiteTitle: `example.com - Contao Open Source CMS`. @de-es would that solve your issues with Keepass?

[2019-02-17 11:48] de-es commented on #339
Ja, das hört sich gut an.

[2019-02-17 12:02] Funbug commented on #337
Should I provide a phpinfo()? There is no mentioning of sysvsem oder Semaphore. Or could you tell how to fix it on the server?

[2019-02-17 12:16] Toflar commented on #337
Are you using the Contao Manager to install Contao?

[2019-02-17 12:20] wiphi commented on #339
Was würde dann bei Multi-Domain Installationen passieren? Je nach Domain mit der man die Seite aufruft, hätte man dann einen anderen Titel? 🤔

[2019-02-17 12:20] Funbug commented on #337
Yes. In this case a 4.6 was updated to 4.7.

[2019-02-17 12:52] de-es commented on #339
Ich persönlich würde das auch Keepass-Sicht sogar als Feature verstehen: Je nach Domain habe ich automatisch andere Zugangsdaten zugeordnet.

[2019-02-17 13:35] wiphi commented on #339
Von meiner Seite her ist das auch kein Problem, da ich kein Keepass verwende. War nur aus Interesse gefragt, wie das dann aussieht.

[2019-02-17 15:53] Toflar commented on #337
I think your command line PHP does have the `sysvsem` extension loaded but your web PHP does not. Your hosting provider has to fix this.

[2019-02-17 16:19] Funbug commented on #337
This is on my local server. I just recompiled PHP 7.2.11 with:

`--enable-sysvsem --enable-sysvshm --enable-sysvmsg`

No more internal server error. Thank you! :)

[2019-02-17 16:19] #337 closed, assigned to nobody

[2019-02-17 16:32] leofeyer commented on #334
Thank you @aschempp.

[2019-02-17 16:32] #334 closed, assigned to aschempp

[2019-02-17 21:46] Znrl opened #341 "Eigene Layoutbereiche - Titel/ID - Inkonsistent?"
**Affected version(s)**
Vermutlich alle ab 4, definitiv 4.6.12 (Demo) und 4.7

**Description**
Während bei 3.5 die Bezeichung = id war hat man jetzt zwei Felder dafür.
Man kann einen eigenen Layoutbereich "anlegen" (ohne Fehlermeldung speichern) und eines der Felder(Titel/ID) leer lassen.
Lässt man den Titel leer, wird der Bereich angelegt und man erhält unter Frontend-Module (Themes -> Seitenlayo

[2019-02-18 09:41] patrickjDE commented on #333
It makes sense, as they might only be temporarily disabled.

To improve usability a note indicating that the group is disabled could be added, additionally the sorting could be changed to group the disabled groups at the bottom of the list.

[2019-02-18 11:20] leofeyer commented on #219
See #344.

[2019-02-18 11:20] #219 closed, assigned to nobody

[2019-02-18 14:00] daniel-nemeth opened #346 "Member gets logged out when member group is changed"
Hey guys,
I have the following issue.
Cheers for feedback.

**Affected version(s)**
4.6

**Description**
- The frontend member gets logged out if the member group gets changed via frontend or backend.
- See also: [Contao forum](https://community.contao.org/de/showthread.php?73740-Automatischer-Logout-nach-Speichern-von-Mitgliedergruppen-mit-Modul-quot-Personal-data-quot)
- Reproduce-able in Contao

[2019-02-18 14:09] fritzmg commented on #346
Duplicate of https://github.com/contao/contao/issues/313 :)

[2019-02-18 14:14] daniel-nemeth commented on #346
I am sorry!
Want me to delete it?

[2019-02-18 14:14] #346 closed, assigned to nobody

[2019-02-18 15:37] fritzmg opened #349 "invalid characters break insert tag replacement"
**Affected version(s)**
4.4.34, probably 4.7.0 too

**Description**
If the `preg_replace` for insert tag replacement

https://github.com/contao/contao/blob/51f3d79ae100d91423c89c5e7338c0d56b63692d/core-bundle/src/Resources/contao/library/Contao/InsertTags.php#L78

gets fed with an invalid character _somewhere_ in `$strBuffer`, no insert tag will be matched, and thus potentially _no_ insert tags wi

[2019-02-19 00:32] Znrl commented on #341
Noch ein kurzer Nachtrag.
Es ist auch möglich den exakt gleichen Layoutbereich (gleiche Bezeichnung und gleiche ID) Mehrfach anzulegen.
In der Datenbank wird das auch gespeichert, hat ansonsten aber wohl kaum Auswirkungen.

[2019-02-19 06:20] cmartin6 commented on #316
Der letzte Slash ist natürlich nur Formsache, d.h. das man in manuell eingeben muss - geschieht bei unserem Kunden jedoch relativ häufig...
.html-Suffix ist für uns leider keine Option

[2019-02-19 06:23] cmartin6 commented on #316
Just updated to Contao 4.4.34 but the problem persists...

[2019-02-19 07:56] ausi commented on #349
If we want to support unicode characters at the beginning of insert tags (as we currently do) the regex should be `/{{([a-zA-Z0-9\x80-\xFF][^{}]*)}}/` IMO. Otherwise we could use `/{{([a-zA-Z0-9][^{}]*)}}/`

[2019-02-19 08:58] leofeyer commented on #314
Siehe #345

[2019-02-19 08:58] #314 closed, assigned to nobody

[2019-02-19 11:38] leofeyer commented on #349
Fixed in de8245278ddb34c77f65108278a01db7abc2f723. Thank you @ausi.

[2019-02-19 11:38] #349 closed, assigned to leofeyer

[2019-02-19 11:40] leofeyer commented on #321
Fixed in 3327de1a49f617df48a887ffe1c4c81d3c31592e then.

[2019-02-19 11:40] #321 closed, assigned to leofeyer

[2019-02-19 14:55] Kahmoon opened #356 "Crossorigin="anonymous" since update Contao 4.7"
**Affected version(s)**
4.7

**Description**
Due to some changes in 4.7 for example google maps doesn´t work anymore. Maybe other modules are affected too.

`<script src="https://maps.googleapis.com/maps/api/js?key=XYZ&language=de"></script>`

became

`<script src="https://maps.googleapis.com/maps/api/js?key=XYZ&language=de" crossorigin="anonymous"></script>`

**Error:**
`Access to script at 'http

[2019-02-19 15:02] fritzmg commented on #356
This was added in https://github.com/contao/contao/commit/65a878ddbd7e156c1e1dd1056cb900d2d5ac2e28

[2019-02-19 16:08] Exotelis opened #357 ""Access protection" and "Show to guests only" aren't working with modules"
This might be more a usability improvement than an actual bug.

**Affected version(s)**
Tested with
4.4.36
4.6.12

**Description**
I tried to hide a module for guests by enabling the access protection option and selecting any member group. This works perfectly fine with elements such as headers, text etc. but not with modules. Unless, I enable the access protection of the element, which includes t

[2019-02-19 19:11] Kahmoon opened #360 "Problem with special characters in backend startpage "last edited""
**Affected version(s)**
4.6 & 4.7

**Description**
In the compare view of last edited (contao backend startpage), special characters are not shown correctly.
`Jagdpraxis Teil 4 mit Nico(M-1811) `

becomes

`Jagdpraxis Teil 4 mit Nico &#40;M-1811&#41; `

Greetings

[2019-02-19 21:45] leofeyer commented on #327
Implemented in 8b4b00d73f1e95c9a957b657fcd5ca9ea5d3543f.

[2019-02-19 21:45] #327 closed, assigned to nobody

[2019-02-19 22:09] leofeyer commented on #298
I guess it should be

[code]

@contao/developers Do you agree? And is this a bug fix or a new feature?

[2019-02-19 22:10] Toflar commented on #298
This is a bugfix.

[2019-02-19 23:31] leofeyer opened #361 "Mock method naming"
Methods in tests that do not return a mock object should not be called `mock*()` but `get*()`.

[2019-02-19 23:52] leofeyer opened #362 "Fix issues with #152"
The following issues from merging #152 need to be resolved:

* [x] The `InitializeController` still uses `app.php` (possibly others as well)
* [x] The `contao:install-web-dir` command needs to copy the new entry points
* [x] The preview bar needs to be compressed so it fits in one line
* [x] Move the `JwtManager` class into the core bundle (see [179544473](https://travis-ci.com/contao/contao/jobs/

[2019-02-20 08:52] asaage commented on #357
That is for usecases where
**A)** you include modules inside articles
vs
**B)** you include them directly in layout
if i remember that correctly.

[2019-02-20 09:17] Exotelis commented on #357
Good to know, just tested this and yes you are right. Thank you for the clarification

[2019-02-20 09:17] #357 closed, assigned to nobody

[2019-02-20 14:15] Toflar opened #364 "Reverse proxy cache does not seem to work for comments yet"
**Affected version(s)**

4.7

**Description**

Configure the reverse proxy cache to e.g. 30 minutes for the news detail page. Allow comments for the news but require them to be published by the admin.
If I go to the back end and publish that comment, the news detail page in the cache should be invalidated but apparently that's not the case at the moment.

[2019-02-20 14:27] Toflar commented on #364
Ah, wrong. My bad, it works! 😄

[2019-02-20 14:27] #364 closed, assigned to nobody

[2019-02-21 08:12] Defcon0 commented on #298
I guess there are many points in the code where this situation is given (especially old code). Maybe we should scan the code for these occurences, I mean directly called model classes?

[2019-02-21 08:58] arboc opened #366 "New-Erweiterungs: Fehler in der RSS-Datei, wenn Teaser ein <br> enthält"
**Affected version(s)**
4.4.34

**Description**
Wenn ich im Teaser einer News einen Text mit einem Zeilenumbruch eintrage, wird eine Fehlerhafte RSS-XML-Datei erstellt.

**How to reproduce**
Bsp eines Teasers (Quelltext):
[code]
Fehler Hinweis, z.B. beim Öffnen der XML mit Chrome
[code]

[2019-02-21 09:04] booh111 opened #367 "problem copying content elements to events or news"
**Affected version(s)**
bemerkt in 4.4.32, tritt auch in 4.4.34 auf. Auch in der Contao-Demo 4.6.12 als h.lewis reproduzierbar.
**Description**
Kopieren von Inhaltselementen aus Artikeln nach News-/Event-Details durch Redakteure bringt Fehlermeldung:
_Invalid news/event content element ID ###._

[2019-02-21 09:12] leofeyer commented on #367
https://github.com/contao/contao/blob/master/LIMITATIONS.md#moving-content-elements-as-non-admin-user

[2019-02-21 09:12] #367 closed, assigned to nobody

[2019-02-21 09:36] booh111 commented on #367
Ok, danke!

[2019-02-21 10:32] leofeyer commented on #318
Fixed in 41ad3a6e06fcbb9ed5caf96256e99c384aa21d11.

[2019-02-21 10:32] #318 closed, assigned to leofeyer

[2019-02-21 10:53] dmolineus commented on #298
I wonder if `$GLOBALS['TL_MODELS']` is really designed to make model classes exchangeable? Then basically every single method call on a specific model would be wrong as @Defcon0 pointed out.

Afair the registry was introduced to allow custom namespaces for own models and not to exchange core models.

[2019-02-21 10:56] Defcon0 commented on #298
Even if wasn't designed to do so it should in the future. Modules like DC_Multilingual wouldn't make any sense for existing DCAs if we couldn't replace the Model with the one inheriting from `Multilingual.php` (in this case).

[2019-02-21 11:16] leofeyer commented on #286
Fixed in 02bebafb1f233b22e999a45e8bb9c5209e1805c2.

[2019-02-21 11:16] #286 closed, assigned to leofeyer

[2019-02-21 11:21] leofeyer commented on #298
Actually it is not. Its purpose is to allow the `Model::getClassFromTable()` method to find models that cannot be mapped by their class name.

@contao/developers WDYT about enhancing this in a future release?

[2019-02-21 11:26] leofeyer commented on #315
Fixed in 5fae7e7ebb1ed0ddf92971dee7057e15029bc533. Thank you @ausi.

[2019-02-21 11:26] #315 closed, assigned to leofeyer

[2019-02-21 11:36] Toflar commented on #298
Thinking about it again, I don't think that should be done really. Models are not extensible by design. If we would do that, people would maybe start doing this in their extensions and as soon as two extensions do it for the same model, nothing will work anymore.

[2019-02-21 11:38] Defcon0 commented on #298
Mhm, then https://github.com/terminal42/contao-DC_Multilingual would be invalid, i.e. unusable, no :-(? Because here I *must* override the core model in order to benefit from this module in core modules.

[2019-02-21 11:38] Toflar commented on #298
Yeah, it's designed to be used in your own models. You cannot use it for any other model you have no control over.

[2019-02-21 12:07] leofeyer commented on #320
Fixed in b403e430da114d9af5fcc9c85712d5348ea4e9f8.

[2019-02-21 12:07] #320 closed, assigned to leofeyer

[2019-02-21 12:12] leofeyer commented on #339
Fixed in 21ff8c2efbc6e4e5ea650d05f582b7b411cc2083.

[2019-02-21 12:23] leofeyer commented on #356
Fixed in a065797c9c0d9a03defee79f8c66ef3c6e5d964c.

[2019-02-21 12:23] #356 closed, assigned to leofeyer

[2019-02-21 13:49] leofeyer commented on #313
It seems that the changes from f7340abe4eade7319fb953b0518205576876ff07 fix this issue as well, so thank you @bytehead. 😄

[2019-02-21 13:49] #313 closed, assigned to leofeyer

[2019-02-21 14:11] Defcon0 commented on #298
Mhm, this is sad. So no multilanguage support for events, news, content :-( I don't think this is a good decision for the future. Would've been better to have this functionality built into the core.

I understand the example with multiple extensions manipulation the model. I've had this issue in several older extensions. I solved it by taking the situation into account and building a Model that co

[2019-02-22 07:02] Xirdion commented on #366
In XML every tag needs a closing tag.
So would changing the `<br>` to a `<br />` fix this problem?

[2019-02-22 08:44] Toflar commented on #366
Ich möchte bitte gern die gesamte XML sehen, die generiert wird. Wenn ich den Code lese, dann müsste der Teaser zur `<description>` hinzugefügt werden und die liegt innerhalb eines `<![CDATA[]]`, darf also beliebige Tags enthalten.

[2019-02-22 09:12] arboc commented on #366
Feed-Einstellungen: ATOM und nur Teaser-Texte:
![image](https://user-images.githubusercontent.com/4447843/53231947-53c02980-368a-11e9-923e-5c24a5ad45a9.png)

Die von Contao genereite XML: Zeile 14 enthält den `<br>`

[code]

[2019-02-22 09:16] Toflar commented on #366
Ah, das ist das Problem. RSS scheint zu passen, aber Atom nicht.
Muss [hier](https://github.com/contao/contao/blob/master/core-bundle/src/Resources/contao/library/Contao/Feed.php#L214) analog von RSS geändert werden.
@leofeyer Bug 👍

[2019-02-22 09:38] arboc opened #368 "TL_MODE undefined"
**Affected version(s)**
4.4.35

**Description**
Wir verwenden den HOOK `initializeSystem`.
Bis zur Version 4.4.34 war im Callback TL_MODE verfügbar.
Mit dem Update zu 4.4.35 nicht mehr.

siehe auch #277

[2019-02-22 11:10] Funbug opened #369 "Symlinks neu erstellen: Failed to acquire the "default" lock."
**Affected version(s)**
Contao 4.7.1, PHP 7.2.11

**Description**
Ich bin's mal wieder mit einem weiteren Internal Server Error (Failed to acquire the "default" lock.) beim Erstellen der Symlinks aus dem Backend heraus. Das Kuriose: ich habe gestern drei Seiten auf demselben Server von 4.7.0 auf 4.7.1 aktualisiert (via Contao-Manager) und nur eine davon hat das Problem. Aus meiner Sicht sind alle

[2019-02-22 11:14] fritzmg commented on #369
Laut Fehlermeldung bestehen keine Schreibrechte auf dein `/tmp` Directory.

[2019-02-22 11:19] Funbug commented on #369
Hat aber 750. Genau wie das der anderen beiden Installationen. Selbst mit 777 ändert das nichts an der Fehlermeldung.

[2019-02-22 11:22] fritzmg commented on #369
Existiert die Datei `/tmp/sf.default.N6juwc4.lock`?

[2019-02-22 11:23] Funbug commented on #369
Nein. Du meinst aber schon /system/tmp, richtig?

[2019-02-22 11:53] fritzmg commented on #369
Nein, `/tmp`.

[2019-02-22 15:02] leofeyer opened #370 "Remove preview.php fragment from URL again"
**Affected version(s)**

4.8.x-dev

**Description**

When the debug mode is activated, the `preview.php` fragment is added to the URL, however, when the debug mode is deactivated again, the `preview.php` fragment is not removed.

@aschempp /cc

[2019-02-22 15:37] Funbug commented on #369
Ok. `/tmp` hat 773 und beinhaltet die o.g. Datei **nicht**. Ich denke, dass das nicht der Knackpunkt sein kann, da auf demselben Server (DomainFactory Managed Server) zwei andere Contao 4.7.1-Installationen (die logischerweise auch in `/tmp` speichern) problemlos funktionieren und hier der Fehler nicht auftritt.

[2019-02-22 17:09] Toflar commented on #369
Fehlkonfiguration beim Hoster. `sys_get_temp_dir()` muss den Pfad zu einem temporären Verzeichnis zurückgeben, das durch PHP-Applikationen beschreibbar ist.

[2019-02-22 17:13] Funbug commented on #369
`sys_get_temp_dir()` gibt korrekt `/tmp` zurück.

[2019-02-22 17:14] Toflar commented on #369
Ja, aber dein User hat keine Rechte da drauf. Sprich, falsch konfiguriert.

[2019-02-22 17:17] Funbug commented on #369
Hm, wie erklärt sich dann, dass zwei andere Installationen auf demselben Server die Symlinks problemlos erstellen können?

[2019-02-22 17:17] Toflar commented on #369
Das kann ich dir nicht sagen, das musst du den Hoster fragen :)

[2019-02-22 17:23] Funbug commented on #369
Danke für euren Input. Ich frage beim Hoster parallel an.

Ich verstehe es aber trotzdem nicht, weil das Verzeichnis `/tmp` hat für **alle** Gruppen und Nutzer auf dem Server Lese- und Schreibrechte. Das ist auch eine ganz normale Kiste bei DomainFactory. Bisher gab es da mit Lese-/Schreibrechten noch nie irgendwelche Probleme.

[2019-02-23 10:26] leofeyer commented on #368
Wir haben aber eigentlich nichts an TL_MODE geändert von der 4.4.34 auf die 4.4.35:

https://github.com/contao/contao/compare/4.4.34...4.4.35

[2019-02-23 10:34] leofeyer commented on #331
Having a general group named "members" or "logged-in", to which all members are assigned by default, is the recommended best practice.

[2019-02-23 15:14] arboc commented on #368
mmm, nagel mich nicht drauf fest
Jedenfalls in der 4.4.35 ist das wie beschrieben.

[2019-02-23 16:48] ausi commented on #368
Was genau bedeutet *„TL_MODE ist nicht verfügbar“*?
Bekommst du eine PHP-Warnung `Use of undefined constant TL_MODE` oder ist `TL_MODE` auf `null` gesetzt?
Tritt der Fehler bei jedem Request auf, sowohl Backend als auch Frontend?

[2019-02-23 19:25] Funbug commented on #369
Aus mir unbekannten Gründen funktioniert es nun. Sollte ich von der DF-Technik noch Info bekommen, ob und was sie verändert haben, poste ich das hier noch mal.

Danke für eure Hilfe und sorry für das zweite Issue zu dem Thema, das letztendlich erneut server-seitig war.

[2019-02-24 11:23] fritzmg commented on #203
Some extensions like BackupDB rely on a `websiteTitle` being present. It is used to have a human readable identifier for individual Contao _installations_. May be the `websiteTitle` shouldn't have been removed and instead it should have been "rebranded" as an "Installation Title"?

[2019-02-25 01:35] lobebe opened #372 "Page not found at update"
**Affected version(s)**
Contao 4.4
**Description**
Hello Leo,

I have just migrated to contao 4 and I have this issue after importing the theme:

**How to reproduce**

[2019-02-25 07:13] xchs commented on #372
Please refer to the [forums](https://community.contao.org) for this kind of question.

[2019-02-25 08:03] arboc commented on #368
hat sich erledigt, ich hatte einen Fehler im Code.

[2019-02-25 08:03] #368 closed, assigned to nobody

[2019-02-25 12:20] contaoacademy opened #373 "Notification of new comments - Invalid URL after changing alias"
**Affected version(s)**
4.4.x & 4.6.x

**Description**
If someone has activated the notification for new comments and I later changes the alias of the page or news, then the wrong URLs are sent.

**How to reproduce**
Tested with the news.

1. Write a new comment
2. Activate notification
3. Change the alias of the news article
4. Add new comment
5. Notification is sent from Contao
6. This mail cont

[2019-02-25 12:56] wiphi opened #374 "Vorschau einer unveröffentlichten Seite endet in Page not found"
**Affected version(s)**
Contao 4.7.0
Contao 4.7.1

**Description**
Eine derzeit nicht veröffentlichte Seite kann nicht über die Vorschau Funktion "Unveröffentlichte Elemente anzeigen" angezeigt werden.

Es erscheint ein `Page not found` Error.

**How to reproduce**
Reproduziert mit der Online-Demo:

- eingeloggt im Backend
- in der Seitenstruktur die Seite "Text elements" die Seite unveröffentlich

[2019-02-25 13:20] aschempp commented on #370
It is not supposed to be removed. The `preview.php` is for *front end preview without cache*, and later on it should probably also add the preview bar (once it is JavaScript and not an iframe anymore). It is not strictly related to the debug mode.

[2019-02-25 13:27] leofeyer commented on #370
So it is added automatically but has to be removed manually?

[2019-02-25 13:29] aschempp commented on #370
yes, but there's really no reason to ever not use `preview.php` if you're logged in to the back end…

[2019-02-25 13:42] leofeyer commented on #370
That seems a little odd to me. If none of the preview features are used, the `preview.php` fragment should be removed IMHO.

[2019-02-25 17:24] aschempp commented on #370
Whenever you visit the website while logged in, you *are* using a preview feature, you are (and need to) bypass the cache. Whether hidden elements are shown or the debug mode is enable are just *additional*.

[2019-02-25 17:27] leofeyer commented on #370
Yes, but that does _not_ include the back end.

[2019-02-25 19:20] frontendschlampe opened #375 "Why using meta "link" for download elements?"
What is the reason using meta information "link" for download elements (CE Download and Downloads) and not the "title"?

I have the case, that an image is used as a normal image within ce_text and the meta info "link" is filled with a website link, so you can click on the image to follow the link. The same image is used within a ce_downloads and the title of the download is the website address but

[2019-02-25 21:14] JLBA opened #376 "Form recipient mail"
**Description**
Add a form recipient option to selct a form field as answering to mail field.

**Example**

[2019-02-26 04:00] lobebe commented on #372
Yes, I have been trying to do that since morning but it won't allow me add my complaint.

[2019-02-26 07:22] aschempp commented on #370
That's correct. That's just a convenience-feature to me. That's why one idea was to name it *admin.php* and only allow backend login to that URL (which helps with people being aware about the entry point).

[2019-02-26 08:44] fritzmg commented on #372
Yeah, the english forums need some serious maintenance …

Regarding your problem: you still have your files in `tl_files` rather than `files`. You need to rename the folder to `files` and then manually update your database. Use the following query at your own risk (make sure you have a backup before executing this):
[code]
After that, execute `composer install -o`.

[2019-02-26 09:08] asaage commented on #375
I dont't see where ```meta->link``` is used in the ce_download template at all.

https://github.com/contao/contao/blob/master/core-bundle/src/Resources/contao/elements/ContentDownload.php#L110
https://github.com/contao/contao/blob/master/core-bundle/src/Resources/contao/elements/ContentDownload.php#L133

may be it's a flaw in the extension you referenced?
https://github.com/hofff/contao-recursive-

[2019-02-26 09:31] asaage commented on #376
You can use special fieldnames to accomplish this

https://github.com/contao/contao/blob/master/core-bundle/src/Resources/contao/forms/Form.php#L381

***name*** and ***email*** will be used as "replyTo"
if you want to send a carbon copy use a field named ***cc***

[2019-02-26 09:38] frontendschlampe commented on #375
It's used in the template: https://github.com/contao/contao/blob/9874b3009644746fd09a7acfeaa0c91b7f35a9da/core-bundle/src/Resources/contao/templates/elements/ce_download.html5#L6

And you can check in your own installation: fill out meta title or link for a file and see, what's used in download elements.

Meta title is just used for the link title.

[2019-02-26 09:44] fritzmg commented on #375
So instead of
[code]
you want
[code]
?

Imho the current way is better, because I would expect the meta title to be displayed for the download link, when present (and otherwise just the filepath).

[2019-02-26 09:57] frontendschlampe commented on #375
No ... actually the meta link attribute is used for the link of the file. And if meta link is empty, the file name is used. So if the meta link is filled with an URL to a website, the website-URL is used for the name.

Current usage in Contao:
title tag of download link: meta title, if empty just filename
name of download link: meta link, if empty just filename

[code]

I think it's better to use

[2019-02-26 11:13] lobebe commented on #372
Thank you Fritzmg, I have done that but the images are still not showing and I notice when I click to open image in a new tab, it redirects to home. Is there something that I am missing?
Please help. Thank you again.

[2019-02-26 11:15] fritzmg commented on #372
Did you make the folder of the images public?

I am guessing you added a 404 page to your site structure and enabled a redirect there.

[2019-02-26 11:19] xchs commented on #372
`tl_files/standard/container-bg.gif` could be an image reference path in one of your style sheets. Did you check that?

[2019-02-26 11:23] lobebe commented on #372
Thank you, I got the container-bg.gif sorted out

[2019-02-26 11:26] fritzmg commented on #375
I still don't quite get what you mean - or I cannot reproduce it at least. This is the HTML output of a link of the `ce_downloads` element of a file without any meta information in the file manager:
[code]
This is the HTML output of a link of the `ce_downloads` element of a file with all meta information in the file manager:
[code]
![screenshot_2019-02-26 file manager files test file-with-meta jpg

[2019-02-26 11:26] lobebe commented on #372
I have made the images public but still not showing.

Please see my htaccess here:

[2019-02-26 11:27] fritzmg commented on #372
Please edit your post and put your `.htaccess` on [Pastebin.com](https://pastebin.com) instead.

[2019-02-26 11:33] frontendschlampe commented on #375
I think, you have an individual download template in your example, because the original Contao template uses meta link and not meta title for the name of a-tag?!

[2019-02-26 11:33] fritzmg commented on #375
No, this is a vanilla Contao 4.7.1 installation.

[2019-02-26 11:33] lobebe commented on #372
Here is it:
[https://pastebin.com/embed_iframe/4E7BT9VX](url)

[2019-02-26 11:37] fritzmg commented on #372
So you went into the file manager in the Contao backend, edited the folder, in which the images reside, and selected _Public_?

Your .htaccess has nothing to do with that. I mean in your _site structure_ in the Contao back end.

Please edit your post, you just need to post the link to the pastebin - not an iframe embed.

This is an old `.htaccess` from Contao 3. The `.htaccess` of Contao 4 should

[2019-02-26 11:40] fritzmg commented on #375
This is the output in Contao 4.4.35:
[code]
[code]
The meta "link" attribute is never used, as expected.

[2019-02-26 11:41] xchs commented on #372
This is probably an old Contao 3 `.htaccess` that you have placed in your Contao root directory. For Contao 4 there must be a `.htaccess` in the `web/` subfolder.

Nevertheless, your `.htaccess` seems to work, otherwise you wouldn't be able to open the [back end login mask](http://horse-sales.com/contao/login) and the front end pages.

[2019-02-26 11:44] lobebe commented on #372
Yes,, there is .htaccess in the web folder. Should I delete the one in the root?

[2019-02-26 11:46] xchs commented on #372
You could rename that `.htaccess` in the root directory to something like `.htaccess.contao35`

[2019-02-26 11:54] lobebe commented on #372
Thank you

[2019-02-26 11:55] frontendschlampe commented on #375
*wtf ... here https://github.com/contao/contao/blob/9874b3009644746fd09a7acfeaa0c91b7f35a9da/core-bundle/src/Resources/contao/templates/elements/ce_download.html5#L6

```<?= $this->link ?>``` is used, but I think there's somewhere any magic, that link is not meta link. I don't know, why I had the problem. :-(

[2019-02-26 11:55] #375 closed, assigned to nobody

[2019-02-26 11:56] fritzmg commented on #375
This is just a template variable name ;). The variable is filled in the corresponding content element class. See @asaage 's [comment](https://github.com/contao/contao/issues/375#issuecomment-467357155).

[2019-02-26 11:59] frontendschlampe commented on #375
I was confusing here about the variable name, I think. I should take the time to check carefully. ;-) But now we know it already. :-D I'm sorry for confusing.

[2019-02-26 12:33] lobebe commented on #372
I added /files to the Files URL but still images are not showing.

[2019-02-26 13:31] xchs commented on #372
We should really discuss this in the forum and not here.

Are you registered in the [English](https://community.contao.org/en/) or [German](https://community.contao.org/de/) forum?

[2019-02-26 13:35] lobebe commented on #372
I registered on the English forum but it won't allow me to post on it.

[2019-02-26 13:38] xchs commented on #372
Would you mind registering in the [German forum](https://community.contao.org/de/), too? You can also write there in English if you want.

[2019-02-26 16:19] mvscheidt commented on #316
@cmartin6

Könntest du ggf. mal prüfen was der Inhalt von `$strGet` an dieser Stelle

https://github.com/contao/contao/blob/master/core-bundle/src/Resources/contao/pages/PageForward.php#L106

und an dieser Stelle

https://github.com/contao/contao/blob/master/core-bundle/src/Resources/contao/pages/PageForward.php#L115 (also in der Zeile nach der Else Condition)

ist?

Ich will abgleichen ob wir ggf

[2019-02-26 17:02] maettyhawk opened #377 "Error message appears above wrong form on pages with multiple login forms"
**Affected version(s)**
4.4.28

**Description**
On pages with multiple login forms error messages always seem to be displayed in the first form.

**How to reproduce**
1.) Build page with two login forms
2.) Login with wrong credentials using the second form
3.) Error message appears in first form

[2019-02-26 17:44] fritzmg commented on #377
Before reporting a bug, you should always update to the latest version and test there.

[2019-02-26 20:40] asaage commented on #377
Can be reproduced on 4.7.1
But having multiple login-forms on one page seems to be a weird thing to do.

[2019-02-27 12:43] dmolineus opened #378 "[4.7.*] BC break - Palette exceptions got moved to new namespace"
**Affected version(s)**

Contao 4.7.*

**Description**

Since 68b0919cdd8be37a1953f18d40a57abe21429e40 the palette related exceptions to removed from namespace `Contao\CoreBundle\Exception`. This is a huge BC break because the class now doesn't exist anymore. Furthermore catch blocks might fail because exception is not caught anymore.

For backward compatibility reasons the new classes should exte

[2019-02-27 14:16] leofeyer commented on #378
Seems we got the inheritance wrong. The new exception needs to inherit from the old one of course.

[2019-02-28 14:40] asaage commented on #339
Please add this for the [installtool](https://github.com/contao/contao/blob/master/installation-bundle/src/Resources/views/layout.html.twig#L6) as well!

[2019-02-28 15:02] dmolineus opened #381 "Sorting flags for descending direction not recognized in parent view"
**Affected version(s)**

 - 4.4
 - 4.7

**Description**

When I set the sorting flag (f.e. 6) I expect that the records are sorted in descending order. The flag isn't recognized for sorting items itself

**How to reproduce**

1. Create a data container in parent mode `4`
2. Set sorting flag to `6`
3. Set sorting fields to a time stamp field

[2019-03-01 20:00] lobebe commented on #372
I have registered both on German and English but no luck. With German I am still yet to receive the confirmation code while on the English, I cannot lay my complaints because there is no option to do that.

[2019-03-01 20:02] lobebe commented on #372
I need help with a replacement for module. I was using catalog by xtra on Contao2. I have upgraded to 4.7 and now catalog is not compatible, I tried to install metamodel which I see it is the replacement for catalog but it doesn't seem to be compatible with 4.7. Is there any replacement for Catalog that is compatible with Contao 4.7?

Thank you in advance.

[2019-03-01 20:02] xchs commented on #372
What is your username on the German forum? We have had some problems with the e-mail notifications for the last few days.

[2019-03-01 20:02] lobebe commented on #372
I used lobebe

[2019-03-01 20:04] xchs commented on #372
There is currently no open registration request for this username. Can you please try again?

[2019-03-01 20:07] lobebe commented on #372
The e-mail address you entered is already in use. Did you forget your password?

[2019-03-01 20:09] xchs commented on #372
What email address did you use?

[2019-03-01 20:12] lobebe commented on #372
So sorry, my username is adeola.

[2019-03-01 20:13] xchs commented on #372
Ok. I just sent you the activation mail again.

[2019-03-01 20:15] xchs commented on #372
Your account is now activated.

[2019-03-01 20:17] lobebe commented on #372
Thank you

[2019-03-01 20:17] xchs commented on #372
@leofeyer You may want to delete the ticket since we can discuss the problem in the forum now.

[2019-03-02 09:30] #372 closed, assigned to nobody

[2019-03-02 10:34] asaage opened #382 "Display the headline of YouTube-ContentElements in the BE"
I think every other CE does it except this one.
If you are only provided the url and you need to sort a handfull of clips in an article this can be a little cumbersome.

https://github.com/contao/contao/blob/master/core-bundle/src/Resources/contao/elements/ContentYouTube.php#L39-L42

[code]

[2019-03-02 23:51] bennyborn opened #383 "Eventlist skipping events that span multiple days"
**Affected version(s)**
Seems like all since 4.4 up to latest 4.7

**Description**
I have a site which has events usually starting at 22:00 and ending early in the morning the next day.
So the event spans at least two days. I've found out that if I have an event list with such an event the module will skip to the next event as soon as the starting time of that event has come.

I have list that jus

[2019-03-03 00:19] bennyborn commented on #1818
Any update on this? I would rather classify that as a "bug" than a "feature" since the CalendarModule is working with wrong data.

[2019-03-03 07:57] m-vo commented on #383
I guess this depends on what 'upcoming' means. Perhaps we need to distinguish if currently occurring ones should be included or not?

[2019-03-03 08:01] fritzmg commented on #383
This is a setting in the event list module. Did you enable it?

[2019-03-03 10:58] bennyborn commented on #383
Since there is an option to hide already running events I guess it was decided years ago that "upcoming" should also include events from the past still running.

Are you talking about the "Shortened view" option? Of course enabling it fixes it in this case but it's intended purpose is something else.

[2019-03-03 11:04] fritzmg commented on #383
No, I mean the setting __Hide running events__, which is available in Contao 4.7.

[2019-03-03 11:08] bennyborn commented on #383
I know about this option but that would be exactly the thing I would NOT want to do :)

[2019-03-03 11:53] fritzmg commented on #383
Hence the question whether you enabled it or not ;). So, if you are using Contao 4.7 and did not enable this option, yet running events are not shown in upcoming events, then there is a bug.

[2019-03-03 11:56] bennyborn commented on #383
Not using 4.7 but if so I'd not have enabled. It is a bug ;)

[2019-03-03 12:39] fritzmg commented on #383
No, iirc the behavior was changed in Contao 4. But since some users do want to show running events and some do not, the aforementioned option was introduced in Contao 4.5.

In your original post you wrote this problem also occurs in Contao 4.7 - but now you are saying you are not using Contao 4.7.

Please update your original post and also post reproduction steps for the Contao Online Demo, if you

[2019-03-03 15:18] bennyborn commented on #383
It occurs since 3.5.30 up to 4.7 because the line of code in question remained the same since then.

Updated it, also was able to reproduce it in the online demo.

[2019-03-05 13:20] hoss-ps opened #384 "jumpTo page not works in delete or signout ."
**Affected version(s)**
  4.5
**Description**
in ModuleCloseAccount class line 122, log out comes before jumpTo and  it couse 403 error.
is it correct or should be before reload ?
beside it, we have same code for sign out module.
[code]
**How to reproduce**

[code]

[2019-03-05 19:44] contaoacademy commented on #384
Contao 4.5 is not supported any more.
Please update to Contao 4.6 or better 4.7.

I think this problem was fixed here: See https://github.com/contao/contao/pull/162

[2019-03-06 09:15] fritzmg opened #385 "cannot use route in button_callback"
**Affected version(s)**
4.7.0, 4.7.1

**Description**
In 0d6dcdbf6c1c221147e208234c5e8bf14818d13f a new feature was introduced to allow routes to be defined for table record operations. This was done with a new `route` property in the operation definition.

However, this cannot be used in the [`button_callback`](https://github.com/contao/contao/blob/9874b3009644746fd09a7acfeaa0c91b7f35a9da/core-bu

[2019-03-07 09:05] LBeckX opened #386 "executeResize - getCacheName() falscher Cache-Pfad"
**Affected version(s)**

Contao | 4.4.33
--------|-------

**Description**

* Forum: https://community.contao.org/de/showthread.php?73743-Bilder-assets-Pfad-aus-Hook&p=493955

Es gibt die Möglichkeit auf über die Hook `executeResize` auf den Bilder-Cache-Name zuzugreifen um  in die Resize-Funktion einzugreifen.
Dieser ist allerdings nicht der richtige Cache-Name (hat nach Ausführung kein reales Bi

[2019-03-07 09:42] ausi commented on #386
Die Image-Hooks sind veraltet und sollten nicht mehr verwendet werden. Stattdessen kannst du in Contao 4.4 z. B. den Service `contao.image.picture_factory` decoraten.

Wie das geht ist in der Symfony Dokumentation beschrieben: <https://symfony.com/doc/current/service_container/service_decoration.html>

Unabhängig davon bleibt natürlich die Frage ob es ein Bug ist, dass `$image->getCacheName()` nic

[2019-03-07 09:53] LBeckX commented on #386
Vielen Dank für die schnelle Antwort. Werde ich mir anschauen 👍

[2019-03-07 13:55] #384 closed, assigned to nobody

[2019-03-07 14:06] zonky2 commented on #268
ggf. wäre die Möglichkeit CSS-Klassen für Spalten und Zeilen eintragen zu können ein Kompromiss - man könnte eine Formatierung angeben und das Ein/Ausblenden über Klassen regeln ....

ohne den Kunden an den CSS-Enditor zu hängen und mit "nth" arbeiten zu lassen :D

[2019-03-07 14:31] leofeyer commented on #331
As discussed in Mumble on March 7th, we do not want to add such an option at the moment. You can solve the problem by adding a general group to which all members are assigned by default.

[2019-03-07 14:31] #331 closed, assigned to nobody

[2019-03-07 14:43] leofeyer commented on #298
As discussed in Mumble on March 7th, the `$GLOBALS['TL_MODELS']` array is not meant to be used this way, therefore we are not going to support this use case.

[2019-03-07 14:43] #298 closed, assigned to nobody

[2019-03-07 14:47] leofeyer commented on #310
Wie am 7. März auf Mumble besprochen, wollen wir das nicht hinzufügen, da bei der [verlinkten Library](https://github.com/padaliyajay/php-autoprefixer) noch einige Features fehlen und bei nur 16 Commits nicht sicher ist, ob die Library zukünftig weiter entwickelt wird.

[2019-03-07 14:47] #310 closed, assigned to nobody

[2019-03-07 14:52] Defcon0 commented on #298
Too bad :-( Maybe we can have such a feature in an upcoming rewrite of the models in doctrine (if planned) via service tag.

[2019-03-07 15:24] leofeyer commented on #271
As discussed in Mumble on March 7th, this is not trivial to fix, because Contao should actually determine the number and date format from a user's [locale ID](https://developer.apple.com/library/archive/documentation/MacOSX/Conceptual/BPInternational/LanguageandLocaleIDs/LanguageandLocaleIDs.html) (which we do not have). However, we could add some additional fields in the back end user settings to

[2019-03-07 16:25] leofeyer commented on #370
As discussed in Mumble on March 7th:

- Only use the `preview.php` fragment in the front end
- Never show any previews if the `preview.php` fragment is not there

@Toflar is going to implement:

- Remove "always bypass private requests"
- If there is no cookie, add `vary: cookie` to the response
- New site checkbox: "always load from cache" (even if there is a logged in user)

[2019-03-07 16:32] leofeyer commented on #268
Wie am 7. März auf Mumble besprochen, sind wir auch der Meinung, dass das Overkill wäre. Neben dem Deaktivieren von Zeilen müsste man dann ja auch noch Spalten deaktivieren können und dasselbe dann für das Listen-Element und so weiter.

[2019-03-07 16:32] #268 closed, assigned to nobody

[2019-03-07 16:35] #386 closed, assigned to nobody

[2019-03-07 16:42] leofeyer commented on #296
As discussed in Mumble on March 7th, we could implement an XHR heartbeat in a first step. In the long run, we could store the changes in the local storage of the browser on submit, so we can restore them in case the session has expired or the server throws an error 500.

[2019-03-07 21:43] arboc commented on #310
@leofeyer
gibt es denn eine Alternative zu leafo/scssphp?

[2019-03-07 21:46] m-vo commented on #310
Du kannst/solltest scss Dateien lokal kompilieren.

[2019-03-07 22:03] arboc commented on #310
geht leider nicht immer.
Wir haben Projekte, bei denen der User bestimmte Variablen selbst setzen kann. Danach muss compiliert werden.

[2019-03-07 22:15] m-vo commented on #310
(Vlt kannst du Node auf dem Server einsetzen?)

MMn liegt das außerhalb dessen was Contao können soll.

[2019-03-07 22:28] arboc commented on #310
nicht alle Server unterstützen nodejs, leider.
Außerdem ist das Paket nun mal in Contao integriert und kann / soll scss-Dateien verarbeiten.  Sich von dieser Funktion zu verabschieden wäre ein Rückschritt.

Das Problem hat ja nicht nur Contao. Alle CMS (z.B WP, Typo3, etc. ) nutzen leafo/scssphp, wenn es um scss-Dateien geht.

[2019-03-07 22:38] m-vo commented on #310
Das sehe ich wirklich anders. Wir haben wie du richtig sagst nunmal idR kein Node auf dem Server. Niemand sollte scss unkompiliert einbinden, wenn die Möglichkeit besteht es lokal zu bauen (& dann z.B. durch postcss samt Plugins zu jagen - je nachdem was deine jeweilige Applikation gerade braucht). Das Feature gibt es aus BC Gründen noch, früher hat das vlt. mal Sinn gemacht.

Dein Anwendungsfall

[2019-03-07 22:54] arboc commented on #310
also ich kenne auf anhieb 5 Erweiterungen, die diese Funktion nutzen.

Die Aussage:

kann ich beim besten Willen nicht unterstützen.

scss zeichnet sich gerade durch seine Fkexibilität aus. Und wenn man anpassbare Themes entwickelt, dann kommt man nicht um scss herum.  Und anpassbar heißt, durch den User anpassbar. Und das ist jetzt kein Spezialfall von mir.

Ich könnte noch weitere Bsp. nennen, z

[2019-03-08 07:00] Xirdion commented on #310
@arboc Wenn man **keine** Vorgabe an bestimmte **Browser-Versionen** hat, könnte man für deinen Fall, wenn der User Variablen setzen kann, auch die [Custom properties](https://developer.mozilla.org/en-US/docs/Web/CSS/--*) (variables) von CSS verwenden. Dann müsste man nichts neu kompilieren.

[2019-03-08 07:15] arboc commented on #310
@Xirdion
damit lassen sich aber keine Berechnungen durchführen.
SCSS ist ja mehr, als nur variablen setzen. Das könnte ich auch mit den Contao Bordmitteln, z.B. in den Theme Einstellungen.

Ich kann verstehen, wenn das Paket von leafo raus fliegt, weil es offensichtlich nicht gut / nicht mehr gepflegt wird. Ich bin darüber auch nicht glücklich.
Wie oben ausgeführt gibt es aber im Berech Themeing u

[2019-03-08 07:20] leofeyer commented on #310
Das haben wir auch gar nicht vor.

[2019-03-08 07:25] arboc commented on #310
@leofeyer
Danke für die Klarstellung.
Der Kollege @m-vo scheint da ja eine andere Ansicht zu vertreten.

[2019-03-08 08:17] dmolineus opened #390 "Allow to customize pagination parameter"
**Description**

At the moment each module which supports pagination creates a unique url parameter. This is a good generic solution to avoid conflicts between modules. However customers want to create pretty looking urls like `news/example-category/page/2`.

It would be nice to have

 * an option to override the default pagination parameter in the module settings
 * a configuration to add the pag

[2019-03-08 08:45] Toflar commented on #390
The idea here is that we want to have a different page type concept. Everything in the core that wants to modify the URL path (not the query, the path!) should be a page type. E.g. the news reader should actually become a page type. That way, it knows what placeholders it can possibly take and it can even allow the users to place the placeholders wherever they want to in the path.

So what we need

[2019-03-08 12:42] aschempp commented on #370
What if a user opens the backend via `preview.php`?

Note to self: That also means ALL back end links need to have the `preview.php` fragment.

[2019-03-08 12:59] Toflar commented on #370
Imho it should be redirected to `/contao` for the sake of consistency?

[2019-03-08 13:05] bezin opened #391 "Nested content elements"
Hello there,

I struggle with the possibilities to structure content in Contao once in a while. Pages, articles an content elements are already great and give us many possibilities to structure our content. However, many times I am missing another level of detail, namely grouping or nesting content elements.

This is partly implemented with the wrapper content elements of course, but they feel mor

[2019-03-08 19:32] planepix commented on #391
Hi bezin,
have a look at this bundle ( https://gitlab.com/tricksiebzehn/trk17columns ) for have a better visualisation of grids in backend.
![backend-view-bootstrap](https://user-images.githubusercontent.com/1823889/54051084-37230600-41e1-11e9-93b1-e4e71658a18d.png)

![backend-view-bootstrap2](https://user-images.githubusercontent.com/1823889/54051145-646fb400-41e1-11e9-9e80-a86d381eda90.png)
You

[2019-03-08 21:27] asaage commented on #391
I think Wrapper-elements like *Accordion (Wrapper start/stop)* & *Content slider (Wrapper start/stop)*
are a pretty fine solution - i'm just **missing a generic one in the core** to just wrap elements and attach a class/id.
An Improvement would definitely be:

- auto-creation of the stop-Element
- synced un/publishing of start&stop Elements
- some kind of feedback in case the nesting got messed up

[2019-03-11 08:36] bezin commented on #391
@planepix thanks for sharing, i did not know about this extension. However, grids are only one example…

@asaage

I guess there is no usecase for your example (or is there, anyone?) ;-) But this is not what this issue is about, because I am absolutely talking about the necessary ("stupid") container elements. For example, it would be nice to have a single slideshow element, but still be able to co

[2019-03-11 09:01] fritzmg commented on #391
I like the visual concept of this extension.

[2019-03-11 15:21] baslerbikes commented on #58
Ich habe ebenfalls ein Problem mit der Weiterleitung von Formulareingaben, unter 4.7.1. Dies
dauert solange  - >10sec.- das Inserttags nicht mehr genutzt werden
können. Ich habe zu dem Zweck schon eine Portzuweisung vorgenommen, bin
mir aber gar nicht sicher ob diese überhaupt greift.
Bei 5-6 Formularfeldern funktioniert die gesamt Routine, sobald es mehr
Felder werden, dauert der Vorgang zu lange

[2019-03-11 15:28] Toflar commented on #58
It's not a workaround at all. The session needs to be cleaned after some time. Right now, it remains in in there forever.

Was das mit einen Port zu tun hat, habe ich jetzt noch nicht ganz verstanden aber was du sagst ist, dass es bei dir länger als 10 Sekunden dauert von dem Moment indem du das Formular abschickst bis du auf der Weiterleitungsseite landest?!

[2019-03-11 15:45] baslerbikes opened #393 "Problem mit der Weiterleitung von Formulareingaben & Inserttags unter 4.7.1"
Hallo!
Ich habe ein Problem mit der Weiterleitung von Formulareingaben. Dies
dauert solange  - >10sec.- das Inserttags nicht mehr genutzt werden
können. Ich habe zu dem Zweck schon eine Portzuweisung vorgenommen, bin
mir aber gar nicht sicher ob diese überhaupt greift.
Bei 5-6 Formularfeldern funktioniert die gesamt Routine, sobald es mehr
Felder werden, dauert der Vorgang zu lange. Auch wenn ich

[2019-03-11 17:01] contaoacademy commented on #58
Er spricht vom "Port" seiner SMTP-Daten. Das hat meiner Meinung damit aber nichts zu tun.
Das Problem ist, dass es zu lange dauert, bis die Weiterleitungsseite geöffnet wird.

[2019-03-11 17:19] Toflar commented on #58
Würde es denn helfen wenn es 30 Sekunden wären?

[2019-03-11 18:59] contaoacademy commented on #58
In dem Fall schon. Ich glaube es dauert ca. 14 oder 15 Sekunden nach meinem letzten Test.

[2019-03-11 19:00] contaoacademy commented on #58
Könnte man den Wert nicht per Default auf 30 Sek einstellen und dann über die config.yml diesen evtl. sogar manuell überschreiben lassen? Oder wäre das ein Sicherheitsrisiko?

[2019-03-11 21:53] baslerbikes commented on #58
Hallo!
Wenn ich das komplette Formular mit allen Abfragen nutzen möchte, sowie ich es früher im EFG hatte incl. Speicherung der Daten mit leads kann die Übersendung der Abfrage sogar fast 59sec. dauern.

Die Speicherung der Daten (die ich aber zwingend brauche) habe ich selber als erstes als "Problem" erkannt. Schalte ich diese ab wird die Wahrscheinlichkeit höher dass der Prozess schnell genug wi

[2019-03-11 21:57] m-vo commented on #58
Selbst ein Formular mit hundert Feldern wird nicht so lange dauern. Das ist keine Komplexität. Du hast vermutlich ein ganz anderes Problem.

(Und vermutlich wird eh kein Besucher 1 min warten, bis die Weiterleitungsseite angezeigt wird. Da sind 10s schon deutlich zu viel.)

[2019-03-11 21:59] baslerbikes commented on #58
Da sehe ich auch so, bin aber bei der Lösung komplett überfordert

Es wurde gerade folgende Frage an mich gerichtet mit der ich ebenfalls schon überfordert bin

"Läuft die Verifizierung der Eingaben denn clientseitig - sprich über JavaScript etc. oder serverseitig über PHP ab"

[2019-03-11 22:01] baslerbikes commented on #58
Mit 3-4 Feldern klappt es aber
siehe hier
http://test.droplimits.de/academy.html

[2019-03-12 07:44] Toflar commented on #58
@contao/developers we might want to increase the limit then. It shouldn't really harm, it just disables any reverse proxy cache for you for `n` seconds. I'd propose the following solution:

[code]

It will take the `max_execution_time` of the server (which might be configured to 60 seconds, otherwise that form could've never been submitted) if available (otherwise fallback to 30) and multiply this

[2019-03-12 08:22] aschempp commented on #58
I like the solution, but be aware that `ini_get` can be disabled…

[2019-03-12 08:34] dmolineus commented on #391
I invested some time in the idea of nested content elements some time ago (see [netzmacht/contao-content-node](https://github.com/netzmacht/contao-content-node) and [contao-bootstrap/grid-element](https://github.com/contao-bootstrap/grid-element)).

**Current situation**

 * Sometimes another level wrapper element is required to organize content
 * Current wrapper elements are irritating for most

[2019-03-12 09:52] contaoacademy commented on #58
Ich finde die Lösung von @Toflar eine gute Idee und das wird für die meisten sicher ausreichen.

Wenn du bei dem Thema überfordert bist, dann solltest du einen Experten kontaktieren. Jeder hat irgendwo seine Grenzen.
Wenn es ein Contao-Problem ist, dann finden die Core-Entwickler sicher eine Lösung :-)

[2019-03-12 10:38] Toflar commented on #58
Pull request for 4.7 can be found here: https://github.com/contao/contao/pull/394
4.6 won't get any fixes as it is not maintained anymore.

[2019-03-12 11:13] ngdot commented on #391
I think the first step should be improving the usability of the existing wrapper elements, before changing the current look & feel of creating content.

The above suggestions by @dmolineus @asaage & @bezin sounds great for me!

Also the illustration from @bezin looks good for me.

In my current solution I added some bigger spacing to the wrapper elements and some colors, so it's much easier to see

[2019-03-12 13:28] zonky2 opened #395 "Löschen des Home-Verzeichnis beim Löschen des Users (Optional)"
**Description**
Wenn ein User gelöscht wird (FE oder BE) wäre es schön, wenn sein vorhandenes Userverzeichnis (Home-Verzeichnis) mit gelöscht wird. Das dürfte im Sinne der DSGVO sogar Pflicht sein - Plattenplatz spart es auch :D

Eine zus. Checkbox bei den Moduleinstellungen "Registrierung" wäre prima z.B. "Userverzeichnis bei Kontoauflösung mit löschen"

Prima wäre, wenn die Checkbox "Ein Home-Ve

[2019-03-12 13:45] poldixd opened #396 "An error occurred while executing the "cache:warmup" command after twig 2.7 update"
**Affected version(s)**
4.7.1

**Description**
After a `composer update` `twig` was updated from v2.6.2 => v2.7.0. Now i got on two systems this error:

[code]

**How to reproduce**

Simply run `composer update` or `contao-console cache-clear`.

[2019-03-12 13:57] Toflar commented on #396
Yep, we're not compatible with Twig 2.7.0. If you use our new `contao/conflicts` repository as introduced on contao.org (https://contao.org/en/news/recap-of-the-first-contao-core-developers-meeting-2019.html), you would've not had this issue because we've already noticed it (see https://github.com/contao/conflicts/commit/0e87f56622e8a6857f0f408627ba5d1c8e449136) :sunglasses:

Just run`composer req

[2019-03-12 15:43] zonky2 opened #397 "Chosen und CSS-Inline-Style bei [foobar]"
wenn in den Chosen-Selects `[foobar]` steht, kommt bei der Suche nach Buchstaben, die im vom Chosen generierten CSS-Inlinse-Style wie `t` eine "zerwürfelte Ausgabe" :D

![choosen](https://user-images.githubusercontent.com/1045318/54214000-b8321400-44e5-11e9-9813-da6f0011c5ee.jpg)

das ist schon mind. seit 3.5.31 so in 4.4 dito

[2019-03-12 16:21] m-vo commented on #391
I think two things are important when trying to improve on the current wrapper elements: a UI that restricts invalid configurations (e.g. no stop element but a visual nested block) and a true relation of the elements when rendering (e.g. the wrapper knows it's children), so that I could have a single wrapper template.

I like the abstract way: grouping things should be a semantic decision, how the

[2019-03-13 10:00] leofeyer commented on #397
Wie genau kann ich das reproduzieren?

[2019-03-13 10:01] #396 closed, assigned to nobody

[2019-03-13 10:04] leofeyer commented on #395
Wir sollten die Option zum Modul "Konto schließen" hinzufügen, damit das Home-Verzeichnis mit gelöscht wird, wenn ein Mitglied sein Konto schließt. Wenn Du als Admin ein Mitglied entfernst, musst Du vermutlich selbst daran denken.

[2019-03-13 10:05] zonky2 commented on #397
Theme > Layout >eingebundene Module > "t" eingeben

https://demo.contao.org/contao?do=themes&table=tl_layout&id=15&act=edit&rt=s5sps1b1cKpPD2HCibBeGaXVp6NX9OoYBO4zMJq8sDk&ref=qhWkMyyM

[2019-03-13 10:07] #393 closed, assigned to nobody

[2019-03-13 10:09] zonky2 commented on #395
o.k. - wäre ein Anfang...

Mein "off-topic" sollte ggf. für C5 irgendwo vorgehalten werden - den BC-Break könnte man sicher erst dann machen.

[2019-03-13 10:12] leofeyer commented on #385
@aschempp I would solve this by checking if `$v['route']` is set and resolving the route to `$v['href']`. Do you have a better idea?

[2019-03-13 10:13] leofeyer commented on #383
How exactly did you do it?

[2019-03-13 10:14] leofeyer commented on #381
The parent view always sorts records by the `sorting` column, doesn't it?

[2019-03-13 10:16] bennyborn commented on #383
@leofeyer What do you mean? Instructions can be found in the first post.

[2019-03-13 10:21] #376 closed, assigned to nobody

[2019-03-13 10:21] leofeyer commented on #374
@aschempp Could this be a routing issue?

[2019-03-13 10:26] leofeyer commented on #333
I second this.

IMHO this would worsen the usability, because it would change the order of groups and force me to search then entire list every time I am looking for a certain group (in contrast to knowing that the group is always the third one from above).

[2019-03-13 10:26] #333 closed, assigned to nobody

[2019-03-13 10:26] #172 closed, assigned to nobody

[2019-03-13 10:36] leofeyer opened #398 "Debug mode cannot be enabled"
**Affected version(s)**

4.8.x-dev

**Description**

When there is no `_contao_preview` cookie yet, enabling the debug mode will cause an `ERR_TOO_MANY_REDIRECTS` failure.

**How to reproduce**

Make sure to delete all cookies for your test domain, then log into the back end and click on "Enable debug mode".

[2019-03-13 10:41] leofeyer commented on #383
You are right, my bad.

[2019-03-13 11:07] baslerbikes commented on #58
Hetzner hat sich das Problem mal auf dem Server angesehen und mir diese Info geschickt:
„Wir haben nun Ihr Skript getestet und zeitgleich auf die Datenbank geschaut, um zu prüfen, welche Verbindungen offen sind. Scheinbar mach Ihr System auch während der Ladezeit eine Verbindung auf, diese befindet sich aber zumeist im Sleep-Modus, es wird also zum Großteil der Zeit keine Anfrage an den SQL-Server

[2019-03-13 11:32] Toflar commented on #58
Der Core braucht sicher nicht so lange. Das hätten wir längst entdeckt. Also muss es ein Plugin sein. Hast du mal alle Erweiterungen deaktiviert?

[2019-03-13 12:06] baslerbikes commented on #58
Da ich nur Erweiterungen geladen hab die ich brauche, hab ich das noch nicht getestet ... wird nachgeholt, aber frühestens in der Nacht von DO-FR

[2019-03-13 12:49] dmolineus commented on #381
No, it doesn't:

https://github.com/contao/contao/blob/e7486e952d0b54843d3a899d872cffa6413de0ee/core-bundle/src/Resources/contao/drivers/DC_Table.php#L4309-L4313

[2019-03-13 14:40] aschempp commented on #374
Sounds like it, but it shouldn't be. See https://github.com/contao/contao/blob/master/core-bundle/src/Routing/Matcher/PublishingFilter.php

[2019-03-13 14:41] aschempp commented on #374
However… now that I look at it: Security is not available during routing, because security is based on the matched URL 🤦‍♂️

[2019-03-13 14:44] aschempp commented on #385
How about just accessing the DCA in your callback? 🙈

[2019-03-13 14:56] fritzmg commented on #385
Hm, yeah 😁 since the `button_callback` is done for a specific button, I can indeed just look at the DCA …

[2019-03-13 14:56] #385 closed, assigned to nobody

[2019-03-13 14:59] leofeyer commented on #385
Ha, that is a surprisingly simple solution indeed. Didn't think of it, either. 😄

[2019-03-13 16:13] patrickjDE commented on #391
This simply won't work with the current approach of start and stop elements.

I've also been experimenting with a simple way to nest arbitrary elements. It's just a rather hacky POC abusing dynamic ptables, but if anyone's interested to take a look: https://gitlab.com/patrickjDE/contao-megalements

[2019-03-13 19:21] m-vo commented on #391
Of course it does not. But that's the point of this discussion, isn't it? 🙃

[2019-03-14 09:05] hoss-ps opened #399 "Contao symfony based version,doesn't show views in backend"
**Affected version(s)**
4.5 and 4.7.1
**Description**
in contao backend , "Target' table" for "store form data" doesn't list mysql views .
in older version like 3.5 we could have it in the list.

[2019-03-14 09:25] fritzmg commented on #399
Contao 4.5 has reached its end of life. Before reporting bugs, you must always first update to the most recent actively developed Contao version and test your bug there again. Currently that would be Contao 4.4.35 or 4.7.1.

[2019-03-14 10:26] mlwebworker commented on #26
Im Forum wurde heute über einen Link zum Manager im Backend diskutiert. Einige haben den Link in der 4.7 gesichtet. Wahrscheinlich aber in der dev-Variante. In meinen stable-Versionen 4.7.1 ist keiner. Sollte der dasein oder kommt er doch erst in der 4.8. Hier noch der Link zum Forum https://community.contao.org/de/showthread.php?67084-Hinweise-zum-Contao-Manager&p=498583&viewfull=1#post498583

[2019-03-14 10:38] netzarbeiter commented on #26
Bei mir ist der Link in einer 4.7.1 vorhanden.

![manager](https://user-images.githubusercontent.com/1942550/54350470-b4210600-464d-11e9-8b4d-65fbbd8cd6dc.png)

[2019-03-14 10:41] mlwebworker commented on #26
Dann werde ich heute mal eine Neuinstallation testen. Die Installationen sind alle Updates einer 4.4 bzw. 4.6

[2019-03-14 11:24] mlwebworker commented on #26
Das Problem hat sich erledigt. Es tritt nur deshalb auf, weil ich meinen Contao Manager immer mit cm.phar.php benenne https://community.contao.org/de/showthread.php?67084-Hinweise-zum-Contao-Manager&p=498677&viewfull=1#post498677

[2019-03-14 12:14] hoss-ps commented on #399
i have test in in version 4.7.1 and its the same.
does  it need to set some parameter for doctorin ?
seems in code bellow , **listTableNames**  wont return Views besid Tables
[code]

[2019-03-15 08:17] baslerbikes commented on #58
Gibt es keine elegantere Lösung eine Erweiterung zu deaktivieren, als sie zu löschen?

[2019-03-15 08:22] Toflar commented on #58
Nein. Aber du musst ja die dazugehörigen Datenbank-Daten nicht löschen. Einfach nur die Erweiterungen entfernen und dann wieder hinzufügen.

[2019-03-15 09:26] baslerbikes commented on #58
Okay ... bin dabei ... geschmeidig würde ich diesen Workflow aber nicht nennen. Das ging in Contao 3 irgendwie fluffiger.
Nach dem Entfernen von 3 Erweiterungen dachte ich "Leads" wäre es. Weil nach dem Entfernen die Inserttags angezeigt wurden. Nächster Versuch war dann leider wieder negativ.
Werde diese doch recht zeitintensive Suche aufs Wochenende verschieben müssen.
Bei mir dauert 1 Durchlauf

[2019-03-15 14:21] fritzmg opened #400 "REMEMBERME only works once"
**Affected version(s)**
4.7.1

**Description**
The "Remember me" option at the login always only works for exactly _one_ auto login. When you auto logged in once, you will not be able to do so any more.

**How to reproduce**

1. Go to https://demo.contao.org/en/login.html.
2. Klick on "Remember me" in the login form.
3. Log in as `j.smith` or `d.evans`.
4. Close the browser.
5. Go to https://demo.

[2019-03-17 09:02] planepix opened #401 "Improve backend usergroups settings - allowed fields"
**Description**
As discussed at Contao Agenturtag it would be helpful to have:
1. a better grouping of allowed fields to get faster all necessary fields for individual usergrup setups
2. check if it possible to add "ce_access" ( https://github.com/terminal42/contao-ce-access ) into the core.
So may be 3. have an option to export usergroup settings and import them into another installation

**Examp

[2019-03-17 09:06] planepix opened #402 "Add an option to export forms and more…"
**Description**
As discussed at Contao Agenturtag it would be helpful to have an option to export defined forms and import them into another installation.

**Example**
Add an export and import button in the form settings so setup can be easily exchanged between serveral installations.

[2019-03-17 09:38] fritzmg commented on #402
Why just forms? This would be helpful for... well... _everything_ ;).

[2019-03-18 08:44] contaoacademy commented on #402
@fritzmg Yes, it would be great for much more things! I would prefer permissions, site-structure and settings for responsive-images ;-)

[2019-03-18 08:47] contaoacademy commented on #401
Maybe it would be great, if there are some default-groups for often used permissions.

[2019-03-18 08:57] fritzmg commented on #402
I briefly talked with @aschempp at the developer meeting that I would like to have something similar to the `drush config-export/import` functionality of Drupal. This wouldn't just be an export - you should be able to synchronize a remote installation with that. This would require every database entry to have an UUID and ideally Contao would also internally only use those UUIDs.

[2019-03-18 09:47] Toflar opened #403 "Allow to display different environments to the back end users"
**Description**

Very often we use different environments for our customers such as `production`, `staging`, `test`, `demo` etc.
It's true that they are all on separate domains and you *should* be able to tell from the subdomain. However, apparently sometimes customers just don't get it.
What do you think about introducing something like

[code]

If it's not defined, nothing happens, we just don't

[2019-03-18 10:03] m-vo commented on #403
Yeah, maybe we could also add the environment name as css class (to the BE root container). Then you could e.g. colorize the top bar to stand out even more.

[2019-03-18 10:17] Toflar commented on #403
That would be easy to do, yep. This whole issue is an easy-pick 😄

[2019-03-18 11:13] bezin commented on #403
Sounds good and I feel your customers. Even though the subdomain differs, 99% of what's on the screen looks the same, so even I get confused sometimes when switching between locale dev environment and production.

+1 to the css class to allow minimal different styling.

[2019-03-18 11:21] leofeyer commented on #402
What we have discussed at the Agenturtag was an option to export one or more records and to re-import them in another installation – similar to a clipboard. Since it is basically copy and paste, the imported records are always appended and do not require UUIDs.

[2019-03-18 11:22] leofeyer commented on #401
There are separate tickets for no. 2 and 3, therefore we only need to discuss 1 here. How would a "better grouping" look like? The fields are grouped by table at the moment.

[2019-03-18 11:23] leofeyer commented on #400
Are you sure that the issue did not occur in Contao 4.6?

[2019-03-18 11:25] fritzmg commented on #400
No, I only tested it in Contao 4.7.1 (since 4.6 is EOL).

[2019-03-18 11:27] leofeyer commented on #400
Correct, although in this case it would have been interesting to know if we have introduced the defect in Contao 4.7, because then it might be cache or routing related. But we will figure it out anyway. 😄

[2019-03-18 11:29] fritzmg commented on #402
I know that the pure export from one installation to another unrelated installation would be rather simple. But since we are discussing such a thing anyway, I would like to discuss the next evolution of this as well ;).

Sure - this would be something for the distant future. But if we are already implementing some sort of export functionality for database records, I'd like to keep the next step in

[2019-03-18 11:30] fritzmg commented on #400
I know, I just did not have the time to test it everywhere :)

If I get around to it, I'll report of course.

[2019-03-18 11:41] m-vo commented on #401
The related issue discussed at Agenturtag was: 'Could we have a way to restrict content elements / access per page tree?'. So that it would e.g. be possible to have one tree with the common text elements and another one that only contains certain custom elements.

[2019-03-18 11:47] xchs commented on #400
If it helps, I could test it in the afternoon with Contao 4.6.

[2019-03-18 12:08] leofeyer commented on #308
@ausi Kannst Du bitte kurz schauen, ob contao-components/mediaelement@b3b7b802ccab9f5514400bb4f99eaf24ef6d49e2 für Dich auch Sinn ergibt? Unser Code sieht irgendwie anders aus als der im verlinkten PR. 🤔

[2019-03-18 12:10] leofeyer commented on #360
What record did you change? A page? Or a content element?

[2019-03-18 12:12] leofeyer commented on #366
Ich denke nicht, dass `<![CDATA[` das Problem ist. Das Markup

[code]

liest sich so, als würde hier valides XHTML erwartet werden, oder?

[2019-03-18 12:12] Kahmoon commented on #360
An event title.

greetz

[2019-03-18 12:23] leofeyer commented on #360
@contao/developers Strictly speaking, the diff view is correct, because `&#40;` is what has actually been stored. It seems to confuse some users though. Should we handle this? (And if yes, how do you distinct between `(` and `&#40;` in the diff view then?)

[2019-03-18 12:27] arboc commented on #366
sehe ich auch so...
das `<br>` müsste `<br />` heißen.

[2019-03-18 12:32] leofeyer commented on #382
Fixed in 4d8077eeebccb884b710eec97ff8e5deaa9b9334.

[2019-03-18 12:32] #382 closed, assigned to leofeyer

[2019-03-18 12:34] Toflar commented on #360
Imho if `decodeEntities` isn't configured to `true` then decode the content.
The output should be encoded for security reasons again though.

[2019-03-18 12:51] rabauss commented on #403
i can recommend my extension for that: https://github.com/bwein-net/contao-backend-customizer

but if some settings would become core, would be better for manager-users etc.

a setting for header color in core would also be nice, so you can recognize immediatelly the right client system as agency.

[2019-03-18 13:41] m-vo opened #404 "Steps to get rid of the installation bundle (possibly)"
The installation bundle's concerns are somewhat overlapping with the core and the manager. I'd like to see if we could get rid of it and - while doing so - improve on some things. To be clear, there are quite a few things to it and I'd like to hear what you think about it.

## InstallationBundle
Currently the installation bundle does/allows the following (Am I missing something?):
1. Set password

[2019-03-18 13:44] aschempp commented on #360
That should never happen, because the field contains one or the other, right? But what if the user entered `&#40`?

[2019-03-18 14:14] xchs commented on #400
I cannot reproduce it in Contao 4.6.

[2019-03-18 14:17] leofeyer commented on #397
Behoben in contao-components/chosen@ea040f6c9a217f3a3d5253634467dc2ac3434485.

[2019-03-18 14:17] #397 closed, assigned to leofeyer

[2019-03-18 14:28] zonky2 commented on #397
thx

[2019-03-18 17:08] leofeyer commented on #366
Ich habe soeben Deinen Teaser-Text in eine News der COD eingefügt. Im Frontend wird der Zeilenumbruch als `<br>` ausgegeben und in der XML-Datei als `<br />` – also alles korrekt. Ich kann das Problem nicht reproduzieren.

[2019-03-18 17:08] #366 closed, assigned to nobody

[2019-03-18 17:18] leofeyer commented on #373
We need to discuss this. Comments can be everywhere (pages, articles, news, events, etc.), therefore generating the URL at runtime is not trivial.

BTW, should you not set up a 301 redirect if you change a page alias?

[2019-03-18 20:13] arboc commented on #366
@leofeyer
Ich habe es eben noch mal getestet.
Bei mir tritt der Fehler immer noch auf.

Hier die URL zur XML https://www.medinizer.de/share/test.xml.

scheint an der Installation zu liegen. Evtl eine Erweiterung, die hier stört.

[2019-03-18 20:14] contaoacademy commented on #373
Yeah, from an SEO point of view, you're absolutely right. And it won't happen that often.
Nevertheless there are now incorrect URLS in the database ;-)

[2019-03-19 07:20] hella-schu commented on #403
+1

[2019-03-19 07:36] leofeyer commented on #301
I cannot confirm this. I assume you mean that you cannot delete the last row (which is correct), however you can delete the "title" and "ID" fields, which will remove the custom section.

Yes, seems reasonable.

[2019-03-19 09:18] leofeyer commented on #301
Fixed in e4f933c2a99c318ed3ab281d0d0eddc637c61984.

[2019-03-19 09:18] #301 closed, assigned to leofeyer

[2019-03-19 10:47] leofeyer commented on #308
Behoben in contao-components/mediaelement@b3b7b802ccab9f5514400bb4f99eaf24ef6d49e2.

[2019-03-19 10:47] #308 closed, assigned to leofeyer

[2019-03-19 10:58] leofeyer commented on #383
It seems there was a good reason to revert the changes: https://github.com/contao/core/issues/8792

I am not sure if this is not the intended purpose. But maybe we should consider the "hide running events" option in this case, too? @bennyborn Did you enable the "hide running events" option?

[2019-03-19 10:58] #377 closed, assigned to nobody

[2019-03-19 11:14] bennyborn commented on #383
At least, according to it's description in the backend, it was just meant to display an event only once, even if it spans multiple days. In my opinion this should have nothing to do with the decision if the event should be shown at all.

Nope, not enabled since it would be the exact opposite of what I'd tried to achieve :)

[2019-03-19 11:18] leofeyer commented on #381
Have you tried the following?

[code]

This is how we accomplish the sorting of events in the [tl_calendar_events](https://github.com/contao/contao/blob/master/calendar-bundle/src/Resources/contao/dca/tl_calendar_events.php#L60) DCA.

[2019-03-19 11:54] leofeyer commented on #339
Added in 6eff7bc70f50dfc0534f2e863ab1c95c3ffb7909.

[2019-03-19 11:54] #339 closed, assigned to leofeyer

[2019-03-19 12:10] leofeyer commented on #378
Fixed in e2944c7cf105430508df4c1965ea03997be05b98.

[2019-03-19 12:10] #378 closed, assigned to leofeyer

[2019-03-19 14:58] leofeyer commented on #400
@Toflar: The issue does not occur in debug mode, therefore could be a header replay issue?

[2019-03-19 15:03] Toflar commented on #400
Who knows...I haven't got the time to debug that atm.

[2019-03-20 09:31] dmolineus commented on #390
Thanks for hijacking my post to promote the idea of the page registry. :smiley:

As far as I understand the page type would work like a regular page (keeping structure with content elements, articles and ces) but also determine the news model, enhances the current request attributes. Then additional modules like the news reader and or a news related module could get the news model from the request

[2019-03-20 09:50] Toflar commented on #390
Not exactly. I mean, it's one of those things we have to figure out how it works best but this is how I imagine it:
In my opinion, yes it should just work the same as every other page and yes you can place whatever content element/articles you want to on that page. However, I'm not sure if we still need a front end module for the readers because they should not have any settings anymore. All the s

[2019-03-20 09:58] dmolineus commented on #390
I thought about that solution before. Imho it would limit the flexibility too much, that's why I prefer the approach as I mentioned above. It would have following advantages for me:

- You are able to position the page content between any content elements
- You don't have to create dozens of page layout type
- You are able to place different modules which depends on the page content. Following the

[2019-03-20 10:06] Toflar commented on #390
I see. My main concern really is that I would like to Contao to restrict developers to certain possiblities. If you just set the model on the page type you allow developers to build front end modules that do whatever fancy thing. Flexibility is good in a way but then I just care about the users. I would like to prevent the situation where e.g. for the news-bundle you have to configure the reader l

[2019-03-20 14:18] leofeyer commented on #374
As briefly discussed with @aschempp, we have to get rid of the `PublishingFilter` and check the publishing status in the controller (see #405).

[2019-03-20 14:24] leofeyer commented on #374
I am re-assigning this to the 4.8 milestone as a reminder to revert the changes in Contao 4.8 (where we have a different entry point for the front end preview).

[2019-03-20 16:51] leofeyer commented on #400
This is the corresponding log entry:

`security.WARNING: The token storage was not populated with remember-me token as the RememberMeServices was not able to create a token from the remember me information. { "exception":"[object] (Symfony\\Component\\Security\\Core\\Exception\\CookieTheftException(code: 0): This token was already used. The account is possibly compromised.
`

So I guess it is a he

[2019-03-20 17:02] leofeyer commented on #400
Nope, it turns out that the ESI request to replace the `{{ua::class}}` insert tag causes the problem. This is due to the changes from #199, where we have added the missing `_scope` attribute to the controller reference in the `InsertTags` class (see #176).

[2019-03-20 17:52] aschempp commented on #400
This could be because the new `forward` renderer that passes the cookies to the subrequest, which in turn then cause authentication to invalidate the token for security reasons. Can you check that path?

[2019-03-20 21:59] ausi commented on #390
My first thought would be a list filtered by a category with a different URL for every category. But that would probably be just a “reader page” for the category with the category being the domain model?

But the reader page for such a list might need both domain models for the URL, like `/news/{category.alias}/{news.alias}.html`?

[2019-03-21 08:09] dalley-it opened #406 "Cache is not cleared after TTL-time"
**Affected version(s)**
4.4.18 - 4.4.35

**Description**
It seems that some pages cached in http_cache (i have just examined files in folder 'en') are not deleted, even when they are older than the TTL-time that was given in website root.

By this the cache grows permanently. In huge installation with many sites to cache this can be problematic, as we have experienced. We ran into a disk space err

[2019-03-21 08:17] dmolineus commented on #390
It would work if only the category is set. But maybe I also want to filter with tags? When I would have two different models or a collection of news. `/news/{category.alias}/{tag.alias}.html`

Not really, is there? I guess lists are never a problem, it's just really about our current readers thinking

I'm not sure if we the page type should limit to only one domain model. What about a regular page

[2019-03-21 08:19] Toflar commented on #390
Agreed.

I agree, which is why I don't like an arbitrary attribute on the request :)

[2019-03-21 08:24] Toflar commented on #406
This is the default behaviour of the built-in Symfony HttpCache.
We've switched to an alternative cache implementation in Contao 4.6.
In theory I guess it would be possible to backport these changes but we would introduce a new dependency in a bugfix release which is not usually something you do.

[2019-03-21 08:41] dalley-it commented on #406
So if want to stay with the LTS we need to clear the cache manually or by a cronjob until 4.9 is released, right?

[2019-03-21 08:46] Toflar commented on #406
Yes. You can also backport the changes in your local Contao 4.4 but it will be replaced with every update so I only consider this a good idea if you put your whole project under version control and are not using the Contao Manager and the like.
@contao/developers I don't know why we did not include it in Contao 4.4. Imho it should be fairly simple (it's adding my store implementation plus https://

[2019-03-21 08:54] dalley-it commented on #406
Practically it is a bug as well. When we first ran into this problem (after Update to 4.4) the disk full error caused mysql to die and we had the page offline (meaning the GAU situation).

[2019-03-21 08:55] Toflar commented on #406
Yes. But still, that's the default behaviour and if fixing it means too much new code which potentially breaks other stuff then we rather live with it.

[2019-03-21 09:19] dalley-it commented on #406
Yes i understand. However if your implementation could be included to a newer 4.4.x, as you suggested before, it would be highly appreciated. Thank you very much.

[2019-03-21 11:09] leofeyer commented on #400
Correct. And the reason why it has worked before was the missing `_scope` attribute, which caused the `contao.routing.frontend_matcher` not to match the insert tag ESI request, so the firewall did not trigger the login routines.

Now that there is a `_scope` attribute, we need to find a way to either prevent rememberme logins in ESI requests or the ESI request has to use the updated cookie with th

[2019-03-21 11:54] Toflar commented on #400
Okay, so not related to header-replay. The fact that it does work in `app_dev.php` is related to having no ESI at all :)

[2019-03-21 14:07] leofeyer commented on #400
Correct.

[2019-03-22 08:45] Toflar commented on #400
@aschempp why does the forward renderer handle ESI fragments anyway? It should only be able to handle regular fragments. You cannot expect other reverse proxies to handle ESI in such a way that they pass on request information. Or well the core one of Symfony should pass on the data according to the spec (https://www.w3.org/TR/esi-lang <-- scroll to "4 ESI Variables"). So you get cookies but you n

[2019-03-22 08:56] leofeyer commented on #400
I have added the "up for discussion" label.

Since the next call is on April 11th, there will be a new Contao release (version 4.7.2) before we can discuss this. @contao/developers We should think about what is more important: a working rememberme implementation or a working maintenance mode implementation? Because we can only have one in Contao 4.7.2.

[2019-03-22 08:57] Toflar commented on #400
Just leave it as is for now. Remember me is just broken.

[2019-03-22 19:21] discordier opened #407 "FormCheckbox::validate() breaks with inputCallback"
**Affected version(s)**
All

**Description**
in [FormCheckbox](https://github.com/contao/contao/blob/037df49e9fdc1445e7abb316f16493e2bce17ca6/core-bundle/src/Resources/contao/forms/FormCheckBox.php#L140) there is a check if the global `$_POST` is empty.
https://github.com/contao/contao/blob/037df49e9fdc1445e7abb316f16493e2bce17ca6/core-bundle/src/Resources/contao/forms/FormCheckBox.php#L140-L143

[2019-03-22 19:28] zonky2 commented on #407
important issue!

[2019-03-23 06:42] aschempp commented on #400
I think you are right, it does not. It "replaces" the `inline` renderer, not ESI.

That's what we already built into header-replace

How are these related? Did we add the scope attribute to support maintenance mode?

[2019-03-23 19:25] baslerbikes commented on #58
Ich habe jetzt endlich die nötige Zeit gefunden und folgende Erweiterungen in meiner Umgebung als Fehlerquelle eingekreist

Ich komme immer noch über 10sec bei der Übertragung, bleibe aber unter den anscheinend kritischen 11sec, nach denen die Insertags nicht mehr übertragen werden

RockSolid Columns
RockSolid AntiSpam
RockSolid Theme Assistant

verzögern in meiner Konstellation zu stark

mehrfach

[2019-03-23 19:58] leofeyer commented on #400
Yes, we did: #176

[2019-03-24 09:53] contaoacademy commented on #58
Diese Erweiterung solltest du seit Contao 4.4 gar nicht mehr benötigen. Da die Erweiterung bereits in Contao 4 enthalten ist.

[2019-03-25 09:06] aschempp commented on #400
This, again, could easily be solved with the JWT 😞

[2019-03-25 10:17] bezin commented on #403
Just to persist two more ideas from [this twitter thread](https://twitter.com/toflar/status/1107579503121977344):

* Also output environment in Preview bar
* Add a class to body element

[2019-03-25 10:51] leofeyer commented on #341
Behoben in 2c6727b36d5f4b07886b9b365eea5abfa15b0425.

[2019-03-25 10:51] #341 closed, assigned to leofeyer

[2019-03-25 11:20] leofeyer commented on #407
I assume it has to do with multi-page forms. `Widget::getPost()` uses `Input::findPost()` and the latter loads the value from `$_SESSION['FORM_DATA']` if it exists there and does not exist in `$_POST`. However, I do not recall why the value needs to be unset; it seems the code snippet has been in there since TYPOlight 2.

@contao/developers What do we do about this? Shall I remove the code snippet

[2019-03-25 11:22] Toflar commented on #407
I don't know what this check is supposed to do there.

[2019-03-25 13:08] aschempp commented on #407
I can't reason for it either, I'd propose to just remove it…

[2019-03-25 13:12] leofeyer commented on #399
@contao/developers It seems this is an unnoticed BC break. Should we fix it and risk that some people have relied on the default Doctrine behaviour (`listTables()` separate from `listViews()`) or should we add it as known limitation?

[2019-03-25 13:25] leofeyer commented on #407
I vaguely remember that we have changed the checkbox markup a long time ago:

[code]

I think the code snippet was used to set the default value if the checkbox had not been enabled, therefore we should have removed it when we changed the markup.

So it should be save to remove it now. I guess. 😄

[2019-03-25 13:28] leofeyer commented on #407
Removed in 799b65cfec4eb8d689833ce470a6b15e32ac8b56.

[2019-03-25 13:28] #407 closed, assigned to leofeyer

[2019-03-25 13:34] zonky2 commented on #407
thx

[2019-03-25 14:14] Toflar commented on #399
Maybe @hoss-ps can give us a bit more insight on why he needs the views to be present in the `listTables()` result?

[2019-03-25 19:21] baslerbikes commented on #58
Nachdem ich jetzt nochmal alle Rocksolid Anwendung eine nach der anderen gelöscht habe und keine nennenswerte Veränderung der Zeit, bis die Weiterleitungsseite angezeigt wird, feststellen konnte, immer knapp über 10 sec, blieb nur noch das Notification Center als "Fremdlösung" übrig.
Notification Center gelöscht, Übertragung bei knapp über 3 sec. ... nur ohne NotificationCenter ist meine Website n

[2019-03-25 19:32] baslerbikes commented on #58
Lade ich das NotificationCenter neu bin ich wieder bei knapp über 10sec bis die Weiterleitungsseite erscheint

[2019-03-25 19:33] Toflar commented on #58
Was hast du denn eingestellt? Als Gateway? Einen eigenen SMTP-Server?

[2019-03-25 19:36] baslerbikes commented on #58
Standard E-Mail-Gateway
"SMTP- Einstellungen überschreiben" NICHT ausgewählt

[2019-03-25 19:53] Toflar commented on #58
Ich glaube dein Server hängt einfach ewig beim Mailversand.

[2019-03-25 19:58] baslerbikes commented on #58
Danke für Deine schnelle Reaktion!
Hetzner hat das ja schon überprüft. Was schlägst du vor. Was kann ich tun?

[2019-03-25 20:09] fritzmg commented on #58
Dauert das Abschicken des Formulares auch ohne Notification Center lange, wenn du die Email über die reguläre Contao Funktionalität verschicken lässt?

[2019-03-25 20:21] baslerbikes commented on #58
wenn ich z.B. einen Newsletter verschicke dauert es in der Tat auch fast 10sec bis der raus ist

Wie ich das Formular ohne NFC sende ist mir nicht klar

[2019-03-25 20:39] fritzmg commented on #58
Naja - teste es zuerst mal mit dem Formular ;)

[2019-03-25 20:55] baslerbikes commented on #58
Ich verstehe nicht wirklich was ich machen soll?
Ich sende das Formular mit "Anmelde" Button ab.
Habe ich das NFC installiert dauert es knapp über 10sec.
Ist das NFC gelöscht dauert es knapp über 3sec.
Sehe ich gerade den Wald vor Bäumen nicht ... ?
Bin, an dieser Stelle leider, Fahrradprofi nicht Websiteprofi ...

Kann ich das NFC auch irgendwo "abschalten", ohne zu löschen?

[2019-03-25 21:07] fritzmg commented on #58
Die Contao-eigene Funktionalität zum Versenden der Formulardaten via Email benutzen, ohne Notification Center. Einfach nur zum zu bestätigen, dass es am SMTP liegt.

[2019-03-25 21:18] baslerbikes commented on #58
Die Idee habe ich schon verstanden, nur wie halte ich das NFC dabei raus.
Bzw. tue ich das nicht durch absenden des Formulars.
Ich verstehe es nicht ...tut mir leid
Ich habe hier noch ein einfaches Formular
http://test.droplimits.de/academy.html
Das hat die ContaoAcademy angelegt.
Nutze ich das, dauert der Aufruf der Weiterleitungsseite 2,7sec

[2019-03-25 21:20] fritzmg commented on #58
Einfach deinstallieren.

Und damit wird auch eine Email über den SMTP versendet?

[2019-03-25 21:31] baslerbikes commented on #58
Okay NFC gelöscht.

Aufruf der Weiterleitungsseite dauert jetzt mehr als 16sec, teilweise 20sec .. also noch länger :-(
email kommt an
und erstaunlicher Weise werden die Inserttags weitergegeben ... aber da ist ja vielleicht die weiter oben erwähnte Anpassung schon am Werk?

[2019-03-25 21:37] baslerbikes commented on #58
Beim ContaoAcademy Formular verlängert sich die Zeit auf 24 sec
wenn ich den Formularversand per eMail einstelle

[2019-03-25 21:45] baslerbikes commented on #58
die parameters.yml sieht so aus

    database_host: sql635.your-server.de
    database_port: 3306
    database_user: JB_Contao
    database_password: xxx
    database_name: JB_Contao
    secret: xxx
    mailer_host: mail.your-server.de
    mailer_user: jb@droplimits.com
    mailer_password: xxx
    mailer_port: 587
    mailer_encryption: tls

fehlt da nicht noch sowas wie
 mailer_transport: smtp

[2019-03-26 10:20] contaoacademy commented on #58
Ergänze den Eintrag um
`mailer_transport: smtp`

Was passiert dann?

[2019-03-26 10:37] baslerbikes commented on #58
Ich habe das mal unten drunter geschrieben und keinen Unterschied festgestellt.
Mit "mail" habe ich es auch schon probiert.
Ich vermute, dass ich wieder irgendeine Form/ richtige Platzierung nicht beachtet habe in der das eingetragen werden muss

[2019-03-26 10:41] fritzmg commented on #58
Hast du danach auch den Symfony Application Cache neu aufbauen lassen? Ohne dieser Angabe hattest du eigentlich bisher nie einen SMTP Server benutzt.

[2019-03-26 12:56] baslerbikes commented on #58
Beim Deinstallieren habe ich den Cache aufgebaut. Hier bin ich mir jetzt nicht sicher. Vielleicht komme ich heute Nacht nochmal dazu es zu probieren. Dazu aber nochmal die Frage:
Muss ich in der Form/ Schreibweise und/ der Position etwas zwingend beachten?

[2019-03-26 13:20] leofeyer commented on #399
Turns out this is a duplicate of contao/core-bundle#1250.

[2019-03-27 14:07] Vec7or opened #410 "Backend file move error"
**Affected version(s)**
Contao-Version: 4.7.2
PHP-Version: 7.2.16

**Description**
When moving files in the file-manager inside the back-end, the move is not detected correctly.
Instead of detecting a file move a removal is detected as shown in Screenshot01.
![Screenshot01](https://user-images.githubusercontent.com/43302112/55082137-6a024080-50a1-11e9-8c42-9d245181e604.png)
Front-end articles and

[2019-03-28 10:58] kikmedia opened #411 "Prevent users from entering large session lifetimes"
**Affected version(s)**
4.4.x, all (and probably all later versions including 4.7.)

**Description**
If an user enters a very long session lifetime in backend, he will furthermore not be able to log in again.
**How to reproduce**
Go to backend -> settings and enter a unusually large value für session expiration, for example 360000000000 seconds. Log out. Try to log in again.

IMO, this setting sho

[2019-03-28 11:02] fritzmg commented on #411
May be it needs to be checked against `PHP_INT_MAX`?

[2019-03-28 14:25] theDyingMountain opened #412 "Update imagine/imagine for webp support"
**Description**
At the moment an old version(0.7) of the imagine/imagine library is used. I write a bundle for webP conversation ([contao-webp-bundle](https://github.com/postyou/contao-webp-bundle)), but can't use the image lib. Webp support was introduced in version v1.0.0-alpha1.

[2019-03-28 15:48] Paddy0174 commented on #411
~~Should only affect 4.4.x, as the setting is no more present in 4.7.  As I understand, right now in 4.7 it is no more existent in the BE, but so far not implemented in CM.~~
Do we already check these type of files (config) in any way, if they are manualy changed? Because checking the setting in the BE seems not enough for 4.7.x (because it doesn't have this setting).

[2019-03-28 20:16] ausi commented on #412
Pull request: #413

[2019-03-28 22:51] baslerbikes commented on #58
Kleiner Fehler, große Wirkung!
Jetzt erfolgt die Weiterleitung unter 3 sec und die inserttags werden weitergegeben.

Danke an die Helfer und Tippgeber!

bei mir bleibt aber eine Frage:
Ich hatte das Problem hier schon einmal besprochen und die Änderung durchgeführt
https://community.contao.org/de/showthread.php?74243-NotificationCenter-inserttags&p=498065&viewfull=1#post498065

Wie und warum wurde

[2019-03-29 07:23] #412 closed, assigned to nobody

[2019-03-29 08:01] fritzmg commented on #58
Die `parameters.yml` wird wenn dann nur vom Contao Install Tool verändert - beim Eintragen der Datenbank Zugangsdaten. Alle anderen Änderungen müssen von dir (oder jemand Anderen) kommen.

Versuche es nochmal mit `mailer_transport: sendmail`, nur um zu bestätigen, dass der Email Versand über `sendmail` so lange dauert - und nicht wie von Hetzner vermutet durch Datenbankabfragen.

[2019-03-29 08:47] plorenz-etes opened #414 ""Save and new" action for form fields only works for admin users"
**Affected version(s)**

4.4.36, but probably all versions until now

**Description**

Creating a form field as a non-administrative user using the "Save and new" feature produces a "Forbidden" error

**How to reproduce**

-Log in using a non-admin account
-Open the form generator
-Go to the list of form fields of an existing form or create a new one and edit its fields
-Add a new form field of an

[2019-03-29 13:35] thescrat opened #415 "Mitgliederaktivierung nicht möglich (Token leer)"
Affected version(s)
4.7.*

Description
Mitgliederregistrierung mit Aktivierung ist ab Contao 4.7 nicht mehr möglich, da in der Bestätigungsmail nur ein "token=" ankommt. In der Datenbank ist das Feld "activation" welches den Token speichert, leer!

Ich habe jetzt wieder die 4.6.14 eingespielt, damit läuft es!

[2019-03-29 17:52] #415 closed, assigned to nobody

[2019-03-29 19:24] baslerbikes commented on #58
Danke dass du mir auch noch den Tipp gegeben hast wie man das Ergebnis verifizieren kann!

Ist positiv verlaufen.
Mit "SMTP" gewünscht Geschwindigkeit, mit "sendmail" wieder elend langsam - allerdings wurden die Insertags trotzdem weitergegeben, was zu Anfang ja auch nicht klappte.
Zurück auf "smtp" ist die Geschwindigkeit wieder in Ordnung!

Vielen, vielen Dank!
 Das gleiche Problem hat mir auch

[2019-03-31 20:55] Vec7or opened #416 "File/Folder deletion despite no session"
**Affected version(s)**
Contao-Version: 4.7.2
PHP-Version: 7.2.16

**Description**
Deleting a file/folder inside the contao backend file-manager is possible despite the session being expired.

**How to reproduce**
1. Open the contao backend file-manager.
2. Wait until the backend session has timed out.
3. Delete a file/folder of your choice
4. You will be logged out since your session has expired,

[2019-04-01 07:57] Toflar opened #417 "Remove "pdf" from the article syndication if the tcpdf-bundle is not installed"
**Affected version(s)**

4.7.*

**Description**

Right now, when you do not install `contao/tcpdf-bundle`, you still get the option `Print as PDF` in the article syndication in the back end. That makes no sense because what it's going to do is it will produce links in the front end that then throw an exception saying that the bundle is not installed.
Imho it should be the other way around. The opt

[2019-04-01 08:15] Toflar opened #418 "InvalidArgumentException: Routing requirement for "_locale" cannot be empty."
**Affected version(s)**

4.7.*

**Description**

Apparently the `_locale` parameter is a requirement but we do not seem to add it under all circumstances.

**How to reproduce**

Hard to tell really. I can provide the following stacktrace for now:

[code]

For me, it happended when calliing `https://domain.de/de/` so it must be some root page related thing here.

[2019-04-02 08:06] dmolineus opened #419 "News archive All items only show past items"
**Affected version(s)**
- 4.4
- 4.7

**Description**

The news archive have the option to show all items if no period is selected. However, it only shows past items as it still limit to an end date. Shouldn't not also future event being visible?

https://github.com/contao/contao/blob/c0fc6315af73e8bef9d67e2f8ae952ac1ddda80b/news-bundle/src/Resources/contao/modules/ModuleNewsArchive.php#L142-L146

[2019-04-02 08:09] fritzmg commented on #419
I see what you mean, but imho no - since it's the news _archive_ module.

[2019-04-02 09:15] frontendschlampe commented on #419
yes ... you're right, but if I make a new news item visible in future and go to frontend preview with activated option "show hidden elements" the item will not be visible. So I have no chance to see this item without changing the date.

[2019-04-02 09:21] fritzmg commented on #419
Well, you have, with a regular news list module ;). The news _archive_ module is only supposed to show _past_ ("archived") news, in my opinion, never future news entries.

[2019-04-02 09:27] frontendschlampe commented on #419
Showing it in "normal" state I will agree, but adding news items in future is not an unusual feature. And if I use the option "show hidden/unpublished elements" I want to see all hidden/unpublished elements! In previous versions of Contao it works! After updating a client website, the client is not amused about that! ;-)

[2019-04-02 09:53] fritzmg commented on #419
The option to show hidden/unpublished elements in the front end preview will only affect elements, that are either unpublished or not shown due to the start or stop constraints. This concerns neither.

Are you sure about that? The Contao 3 news module uses the same code. Anything past the current day will not be shown.

[2019-04-02 10:04] frontendschlampe commented on #419
anyway - the item has a start constraint, but a date in future, too. I want to publish I news on the 3rd of April but I have no chance to publish it, because I'm out of office. That's why I add the news today with the date of tomorrow and a start constraint for tomorrow, but I can't check it.

With the option "show hidden elements" in the frontend preview it works in Contao 3.

I have no problem,

[2019-04-02 10:10] fritzmg commented on #419
With a news archive module that is set to show all items? I'll have to test this myself because the code is the same.

The front end preview can only make icons visible, that are either unpublished or not shown due to start or stop constraints. It cannot show you elements that are not shown for other reasons - like a news archive not being selected in the module, or a time constraint in the news a

[2019-04-03 13:12] timgatzky commented on #301
Hi Leute,
wäre es nicht flexibler, wenn die Layoutbereiche "Manuelle Ausgabe" weiterhin frei wählbar blieben. Dann bleibt die Möglichkeit erhalten das fe_page Template nach eigenen Wünschen zu gestalten.

ps. Wären Eigene Layoutbereiche nicht sauberer, wenn sie ungewrappt erscheinen? Contao vergibt hardcodiert ein div.custom.

[2019-04-03 13:25] joehi commented on #410
**Affected version(s)**
Contao-Version: 4.7.2
PHP-Version: 7.2.16

**Description**
When moving folders with files or individual files inside the BE the file paths will not be updated in the database. Luckily the wrong path stays at least in the database, so by moving the files back to the original folder will undo the effect and the paths are valid again.
However, renaming a folder within the BE i

[2019-04-03 14:41] joehi commented on #383
I see an event always disappearing from the list of all upcoming events, no matter whether the "hide running events" option is set or not. As soon as the start time is in the past the event no longer shows up in the list of upcoming events. It moves to the list of past events, even though it is not yet marked as class "bygone". It gets marked as "bygone" when the calender day is over.
Start time a

[2019-04-03 16:20] joehi opened #420 "Time "01:00" o'clock at events changes to "0" when reediting the event"
**Affected version(s)**
Contao 4.7.2
Contao 4.4.36

**Description**
When an event has a starttime or endtime of "01:00" o'clock and after beeing saved will be opened for editing again, the value of the field will change to "0" which will cause an error when saving again.
The behaviour regarding the endtime field differs slightly between 4.7.2 and 4.4.36. Where the field will be empty in 4.7.2 elim

[2019-04-03 17:27] fritzmg opened #421 "PaletteManipulator causes error, if palette happens to have 'invalid' data"
**Affected version(s)**
4.7.2

**Description**
If a palette contains a trailing `;` for example and you try to apply anything on that palette with the `PaletteManipulator` the following error will occur:
[code]
This is a problem, because some extensions aren't very "clean" when it comes to palette manipulation. A trailing `;` that was added by one extension should not break the usage of the `Palet

[2019-04-04 06:35] timgatzky commented on #411
May be a "maxval" or "maxlength" in the tl_session.sessionTimeout DCA eval would be a save but still flexible way.

[2019-04-07 22:10] JLBA opened #424 "Why <strong> hard coded in nav_default model for li.active ?"
**Affected version(s)**
Contao 4.4.36 / nav_default model

**Description**
I'm asking why _li.active_ menu item is hard coded between <strong></strong> tags in _nav_default_ model. Rules are now no more formatting directly in html but in css. So this should better be a <span> tag instead of <strong>

**How to reproduce**
[code]
should better be

[code]

[2019-04-07 22:15] xchs commented on #424
See https://github.com/contao/core/issues/6336

[2019-04-08 06:02] fritzmg commented on #424
It's about HTML semantics not about styling.

[2019-04-08 10:08] leofeyer commented on #316
@cmartin6 @mvscheidt Gibt es hier irgendwelche neuen Erkenntnisse?

[2019-04-08 10:13] leofeyer commented on #414
Which form permissions did you configure for the user or user group?

[2019-04-08 10:21] #424 closed, assigned to nobody

[2019-04-08 10:39] leofeyer commented on #416
I was not able to reproduce this, but I think I know what happened:

When you are redirected to the login screen,  Contao adds the previous URL as referrer URL, so it can take you back there after you have re-logged in. This referrer URL is the URL to delete the file – and it is actually only executed after you have re-logged in.

**Please try the following to verify:**

1. Open the contao backend