[2021-10-05 15:57] bennyborn commented on #3547
#3246 seems to be about something different if you meant this one.

[2021-10-05 16:14] aschempp commented on #3531
This should be fixed by https://github.com/contao/contao/pull/2690 (Contao 4.10.7) and therefore in Contao 4.12. It looks like it hasn't been backported (https://github.com/contao/contao/blob/4.9/core-bundle/src/Routing/RouteProvider.php#L243), can you try if the changes in #2690 would fix your Contao 4.9 ?

[2021-10-05 16:28] aschempp commented on #3492
Contao 5 is supposed to break as little BC as necessary but make some long-overdue changes that most likely will not affect developers or should have been changes long time ago. Things like the `initialize.php` or an "accidentially" introduced `ContaoFrameworkInterface`. There are also things we just _must_ change somewhen like Mootools in the back end, you can find a list in https://github.com/or

[2021-10-05 17:53] SeverinGloeckle commented on #3492
Thanks for the comment and the heads up to the project list. It contains some interesting ideas.

I still fear that new hook-like features (e.g. #3489) will lead to confusion if implemented via events: Some things are hooks, others events, whereby only the time of development determines the type of implementation.

I'm closing the ticket though, as there's probably not much more input to be had he

[2021-10-05 17:54] #3492 closed, assigned to nobody

[2021-10-05 18:14] aschempp commented on #3471
How about we add something like `[[-]]` and `[[lt]]`? Apart from the fact that you will not be able to write `[[-]]` then 🤣

[2021-10-05 18:33] aschempp commented on #3237
I really like that idea! The "no root page found" exception only appears if there is not a single page in `tl_page` (contrary to Contao 3), so it should be totally fine to adjust that template. If someone has an idea and can make a draft or an example image?

[2021-10-05 18:36] aschempp commented on #3469
Translations are managed on Transifex. https://www.transifex.com/contao/core-bundle/dashboard/

[2021-10-05 18:36] #3469 closed, assigned to nobody

[2021-10-06 05:19] #3415 closed, assigned to nobody

[2021-10-07 07:03] jonnysp opened #3555 "Strukturierte Daten "@context": "https:\/\/schema.contao.org","
nach Update auf 4.12.2 habe ich fehler in  "jsonLdScripts"
Sowol der https://search.google.com/test/rich-results als auch
https://validator.schema.org/

<script type="application/ld+json">
[
    {
        "@context": "https:\/\/schema.org",
        "@graph": [
            {
                "@type": "WebPage"
            }
        ]
    },
    {
        "@context": "https:\/\/schema.contao.org",

[2021-10-07 07:07] fritzmg commented on #3555
This is an error in the validator. See https://github.com/schemaorg/schemaorg/issues/2921#issuecomment-879817283

[2021-10-07 07:11] jonnysp commented on #3555
und warum bekomme ich auch Fehler in der Google Serarch Konsole?
![grafik](https://user-images.githubusercontent.com/1651241/136336309-288953c1-2210-4d5d-9de3-5665cfcce856.png)

[2021-10-07 07:16] ausi commented on #3555
Für die Search-Console bitte folgendermaßen vorgehen: https://community.contao.org/de/showthread.php?81498-Google-Search-Console-Fehler-quot-Falscher-Werttyp-quot-context-quot&p=550086&viewfull=1#post550086

[2021-10-07 07:16] #3555 closed, assigned to nobody

[2021-10-07 07:27] jonnysp commented on #3555
danke.

[2021-10-07 12:45] ameotoko commented on #3532
I can confirm, `cssID` is not applied from content element, if module is created as `AbstractFrontendModuleController`. Just tested on `4.12.1`, but I think it has always been an issue

[2021-10-07 15:57] #2750 closed, assigned to nobody

[2021-10-07 18:10] berecont opened #3561 "<p> tags around insert tag in 4.12.2 newsletter"
Contao 4.12.2
Newsletter

adding insert tags, there will be added `<p>` tags around.
Contao 4.12.1 is OK,
tinyMCE in standard CE text is OK

4.12.1 `{{insert_article::59}}`
4.12.2 `<p>{{insert_article::59}}</p>`

[2021-10-07 20:02] Mediazept opened #3562 "Newsletter: HTML output is broken"
**Affected version(s)**

Contao 4.9.21

**Description and how to reproduce**

Create a new newsletter and enter text into the HTML field. Source code in TinyMCE looks fine, but the output is broken. HTML is not interpreted, tags are rendered as normal text element.
The error can be reproduced with the Contao demo install (see screenshots).
![image](https://user-images.githubusercontent.com/1333429

[2021-10-08 04:56] aschempp commented on #3561
As far as I know, tinyMCE always adds <p> tag on every line on the input - since always. Maybe you disabled tinyMCE in your Contao 4.12.1?

[2021-10-08 05:24] berecont commented on #3561
[same issue here](https://community.contao.org/de/showthread.php?81784-Newsletter-insert-tag-nach-update-auf-4-12-2-mit-lt-p-gt-und-lt-p-gt-umklammert)
no, i didn't disabled tinyMCE in my 4.12.1
I did two parallel tests - one in a local installtion with 4.12.1 » there's no problem, and one in an online installation with 4.12.2 » and there's the problem with `<p>` tags
note that I refer in both to

[2021-10-08 06:52] ausi commented on #3562
This is most probably caused by #3513

@Mediazept can you please test if creating the file *contao/dca/tl_newsletter.php* with the following content fixes the issue?

[code]

[2021-10-08 06:54] ausi commented on #3561
Duplicate of #3562

[2021-10-08 06:54] #3561 closed, assigned to nobody

[2021-10-08 07:24] leofeyer commented on #1166
This has been implemented meanwhile:

<img width="634" alt="" src="https://user-images.githubusercontent.com/1192057/136515268-c33b5c68-74f9-412f-ac3c-7230bff29469.png">

[2021-10-08 07:24] #1166 closed, assigned to nobody

[2021-10-08 07:28] leofeyer commented on #395
This has been implemented in #3522 meanwhile.

[2021-10-08 07:28] #395 closed, assigned to nobody

[2021-10-08 08:03] #3381 closed, assigned to nobody

[2021-10-08 08:18] leofeyer commented on #3418
`mysqldump --skip-add-locks --complete-insert --skip-extended-insert --skip-disable-keys --no-create-info` will create an SQL dump that should be compatible with the install tool.

[2021-10-08 08:18] #3418 closed, assigned to nobody

[2021-10-08 08:23] leofeyer commented on #3479
I'm fine with splitting up the permissions. I'd also be fine with being able to configure the permissions on a per-folder level if someone is committed to do the work.

[2021-10-08 08:34] leofeyer commented on #3547
Indeed, if there is an auto submit **checkbox** that loads a sub-palette via Ajax, no log entry is generated. Only auto submit **select menus** that reload the page also generate log entries.

[2021-10-08 10:58] jochi44 opened #3564 "User specific translations of system messages don't work anymore"
It seems that translations done in user specific xlf-files are not shown in the frontend anymore.

Example:
I created a file `default.xlf` in `/app/Resources/contao/languages/de` with the following content (translation):

[code]

I then renewed the prod-cache in the contao manager.
Result: The corresponding text is still shown as "Ihre letzte Anmeldung war...".
I'm almost shure that the behaviour

[2021-10-08 11:01] fritzmg commented on #3564
The correction location would be `contao/langauges/de` (unless you are still using `app/config/` for example).

[2021-10-08 11:20] m-vo opened #3566 "Steps to get rid of the Twig experimental state"
In this issue, I'd like to track things that should happen with our Twig implementation become it can become part of the BC promise. I'll update the issue over time.

* [x] #3274
* [x] Consider making the `ContextHelper` a service
* [ ] Remove `@experimental`, review what needs to become `@internal`
* [x] Refresh the template cache when editing Twig templates in the back end
* [x] Allow creating T

[2021-10-08 11:43] jochi44 commented on #3564
Thank you @fritzmg!
It was my fault because I entered a `<br>` in the translation.
The contao manager showed an error when renewing the prod cache regarding this (which I overlooked 🤦‍♂️).

[2021-10-08 11:43] #3564 closed, assigned to nobody

[2021-10-08 12:09] fritzmg opened #3567 "Clearing the dev cache leads to "MemoryTokenStorage must not be accessed before it was initialized""
**Affected version(s)**

Contao 4.12.2

**Description**

If you clear the application cache while being logged into the back end and then refresh the back end again in your browser, the following exception occurs:

[code]

**Reproduction**

1. Use `APP_ENV=dev` in your `.env.local`.
2. Log into the Contao back end.
3. Execute the following to clear the cache: `vendor/bin/contao-console cache:clear

[2021-10-08 16:21] math-GH opened #3572 "veranstaltungen.xml does not validate"
The RSS feed of the events does not validate:

See https://validator.w3.org/feed/check.cgi?url=https://contao.org/share/veranstaltungen.xml

![grafik](https://user-images.githubusercontent.com/1645099/136590596-1f7edaae-310d-4b85-9ddd-275ca30bdcdd.png)

[2021-10-08 16:23] math-GH commented on #3572
Same issue with the English event RSS feed:
https://contao.org/share/events.xml

the other feeds (news and security) are fine.

[2021-10-08 16:29] fritzmg commented on #3572
This is probably an issue with the feed generation in the calendar bundle when using repeated events. If you can confirm this in a fresh Contao 4.9 installation with repeated events, open an issue [here](https://github.com/contao/contao/issues).

[2021-10-08 16:43] netzarbeiter commented on #3572
This events aren't repeated events (Contao 4.12.2).

![contao](https://user-images.githubusercontent.com/1942550/136593250-e21b6bed-5c51-488b-8512-2b7d052b40f5.png)

[2021-10-08 17:08] Mediazept commented on #3562
Thanks for your quick response and providing a workaround. I can confirm that your suggested DCA setting fixes the bug.

[2021-10-08 21:53] fritzmg commented on #3572
True, it's not because of repeated events. It's just that the calendar and news bundle use the event or news detail URL for the `<guid>` - which for these events for example will always be the same, because all these events always have the same URL target.

[2021-10-11 07:46] matejjurancic opened #3570 "Contao 4.12 Slovenian language missing in back end"
**Affected version(s)**

Contao 4.12

**Description**

Slovenian language is missing from Back end language options in User Profile. [Completion rate in Transifex](https://www.transifex.com/contao/core-bundle/languages/) is 96.24% or am I looking at the wrong stats?

[2021-10-11 11:27] leofeyer commented on #3305
I've had the same problem on contao.org today (Contao 4.12.2) and hardcoding the `server_version` to `mariadb-10.3.1` did fix it. Not sure if this is helpful but I wanted to mention it at least.

[2021-10-12 07:35] aschempp commented on #3570
maybe it was no 96.24% when the current Contao version was released. It should be bundled again in the next build if the completition rate is above 95%.

[2021-10-12 07:37] aschempp commented on #3570
Also, I'm not exactly sure how this works, but maybe the completition rate for the Contao 4.12 files alone are not above 95%. If you find some time, it would be great if you could contribute to the translation to make sure it's bundled again in the next build 🙃

[2021-10-12 07:39] aschempp commented on #3566
should we also have support to edit Twig templates in the back end? Or is that already given?

[2021-10-12 07:41] aschempp commented on #3547
most likely because a select does a reload but a checkbox loads with ajax 🙄

[2021-10-12 07:42] #3562 closed, assigned to nobody

[2021-10-12 08:26] m-vo commented on #3566
This should already work, we only need to add some logic that refreshes the template cache once saved. I added this to the list.

[2021-10-12 09:25] aschempp commented on #3566
I can edit files that live in `/templates`, but I cannot choose Twig templates to add a new template override in my root folder.

[2021-10-12 09:27] m-vo commented on #3566
Correct, that needs to be added. But we'll have to rework this whole template selector anyways so that you will get the right templates.

[2021-10-12 09:28] aschempp commented on #3525
You should get [this](https://github.com/contao/contao/pull/2019) custom exception if you try to generate the URL for the frontend preview. Is that not the case?

[2021-10-12 09:29] aschempp commented on #3566
I know. But it should be on this list, right? 😉

[2021-10-12 09:31] aschempp commented on #3564
Just as a side note, the old locations (`app/Resources`) still work as well, so that shouldn't have been the problem anyway 🙃

[2021-10-12 10:08] Xirdion opened #3573 "Custom sender mail address in OptInToken"
Currently, it is not possible to use a custom sender address when sending an email with the OptIn-Service.
In the `Contao\CoreBundle\OptIn\OptInToken` a new instance of the `Contao\Email`-class is created. Since there is no sender-address, the Email-class uses the administration-email from the settings.

However, sometimes it would be useful to use another email address.
When you are in a multi-do

[2021-10-12 10:09] matejjurancic commented on #3570
I actually added some missing translations right after 4.12.0 was released and also after 4.12.1. Completion rate was over 95% after each update. So, perhaps I should check somewhere else for 4.12 files alone?

[2021-10-12 10:43] fritzmg commented on #3573
That should already be the case.

[2021-10-12 11:17] Xirdion commented on #3573
If there is no sender address given, the Email class just uses the admin e-mail from the settings.

[code]

So this will not use the admin e-mail from the current root page, will it?

[2021-10-12 11:24] SeverinGloeckle commented on #3525
Yes, a `Contao\CoreBundle\Exception\RouteParametersException` is thrown as decribed above.

However, this exception / the resulting error screen should not be visible to the user if the frontend preview is started for a page that requires an item.

The linked pull request #3540 contains a fix by swallowing the exception in `PreviewUrlConvertListener`.

Maybe you can share your opinion on whether t

[2021-10-14 06:59] berecont opened #3575 "Content Element HTML - change quotes after saving"
**Affected version(s)**

Contao 4.9.21, Contao 4.12.2
I didn't test other versions

Content Element HTML:
`<source src="files/layout/video/css/my_265.mp4" type='video/mp4; codecs="avc1"'> `
after saving the element it changes to:
`<source src="files/layout/video/css/my_265.mp4" type="video/mp4; codecs="avc1"">`
and notes error: Unexpected character after attribute value. Invalid character in attri

[2021-10-14 09:50] m-vo commented on #3567
@fritzmg found out that the problem is the `REQUEST_TOKEN` constant which is being set ìn `ContaoFramework#initialize`. The `MemoryTokenStorage` is initialized in a `kernel.request` event, though. In other words: if the framework is booted in a non-request context, this fails.

A workaround for this issue is, well, *not* using the framework. PR is here: #3576

[2021-10-14 10:51] fritzmg commented on #3567
Well, to be exact: you _can_ boot the framework on the command line. The `REQUEST_TOKEN` constant will then be set to `null`:

https://github.com/contao/contao/blob/e61d504c9fac4e8e46e865b652b550aeed7afa0d/core-bundle/src/Framework/ContaoFramework.php#L376-L385

However, this won't apply if the cache is warmed during the request - then it will fail.

[2021-10-15 05:45] aschempp opened #3582 "Check if system is installed when loading language files"
Btw. booting the Contao Framework and then using a Model method will cause the `loadLanguageFile` Hook to be executed, which in turn can have other unintended consequences that may even cause `cache:warmup --env=prod` on the console to fail. For example if your Contao instance uses `madeyourday/contao-rocksolid-custom-elements` and the `system/` folder is missing (as it usually is during a deploym

[2021-10-15 06:58] fritzmg commented on #3582
Not sure this can/should be fixed separately? There is no inherent need for the `system/` folder to be present when executing `System::loadLanguageFile`.

[2021-10-15 15:03] joseluisq commented on #1696
Taking up above issue again:

In order to reproduce this, just use a simple Dockerfile similar to below one:

[code]

Let's use a docker-compose file with php, apache and database for testing.

[code]

Then navigate to `http://localhost/contao/install`, the page loads and shows the whole SQL script to execute but `groups` is unquoted.

The problem is not with Apache or the database (MySQL 8). The

[2021-10-15 15:28] ausi commented on #1696
The container gets probably built in the `RUN composer install` step and the server version can not be determined there because there is no database yet.

A config like this should fix your issue:

[code]

The underlying issue should get fixed with #3345 I think.

[2021-10-17 03:11] #2670 closed, assigned to nobody

[2021-10-17 03:11] #3277 closed, assigned to nobody

[2021-10-18 07:07] joseluisq commented on #1696
@ausi Did you test it too?
Looks like doesn't work using `APP_ENV=prod` but it does with `APP_ENV=dev`

Here the some screenshots without success for now

<img src="https://user-images.githubusercontent.com/1700322/137684184-eabf4153-489e-4e8a-972e-26455ae72e7c.png" width="400">

<img src="https://user-images.githubusercontent.com/1700322/137684473-e0b03fc0-df37-4a53-a84b-df38e737b06f.png" width="

[2021-10-18 07:10] joseluisq commented on #1696
BTW I refreshed the issue's title and description.

[2021-10-18 07:20] fritzmg commented on #1696
Did you run `composer install` or `cache:clear --no-warmup` and `cache:warmup` after adding the `server_version`?

[2021-10-18 07:23] joseluisq commented on #1696
No, just this `composer install --no-dev --optimize-autoloader --no-ansi --no-interaction`. Check the comment above. https://github.com/contao/contao/issues/1696#issuecomment-944373619

[2021-10-18 07:50] fritzmg commented on #1696
That comment only regards your initial setup. I just wanted to confirm that you rebuilt the application cache after changing your `config/config.yaml`.

[2021-10-18 07:57] joseluisq commented on #1696
Do I need to rebuild the cache after the install? Because I copy the config file suggested first and then I do the compose install.

[2021-10-18 08:02] joseluisq commented on #1696
Is this the command `php -q bin/console cache:clear --env=prod --no-warmup` to run after the install ?

[2021-10-18 08:03] fritzmg commented on #1696
Then it should be fine.

[2021-10-18 08:04] fritzmg commented on #1696
Oh, are you not using the Contao Managed Edition anymore?

[2021-10-18 08:05] joseluisq commented on #1696
I'm using the managed one.

--

After the `vendor/bin/contao-console cache:clear --env=prod --no-warmup` I got this

[code]

[2021-10-18 08:07] joseluisq commented on #1696
What are the commands to execute after the composer install? Can you share pelase?

Actually I do the following in the container:

[code]

I think I'm missing something.

[2021-10-18 08:08] joseluisq commented on #1696
Or do I need to do composer install using `APP_ENV=prod` ?

[2021-10-18 08:15] fritzmg commented on #1696
The necessary commands are already executed by the [post install/post update script of the Contao Manged Edition](https://github.com/contao/managed-edition/blob/c66640744653e2577a076dfd680650cd9262af1d/composer.json#L25-L30). [These are the commands](https://github.com/contao/contao/blob/89d51f466144835e6bb6775c789facc77e750ca7/manager-bundle/src/Command/ContaoSetupCommand.php#L80-L88) that the `c

[2021-10-18 08:21] joseluisq commented on #1696
But why this below doesn't work? even with and without `vendor/bin/contao-console cache:clear --env=prod --no-warmup` one.

The `composer.json` is the same as above and the `config/config.yml` file is copied with the content suggested too.
Note that I also added `ENV APP_ENV=prod` at the beginning.

It would be great if you can also test this by your own.

What is curious for me is that when I set

[2021-10-18 09:05] ausi commented on #1696
I think this might still be related to #3345

Could you please check what the following command prints?

[code]

[2021-10-18 09:09] joseluisq commented on #1696
Ok, then it means that #1696 can be considered as an issue right?

<img src="https://user-images.githubusercontent.com/1700322/137702058-4b641b24-ffb6-4603-9cf0-e60041e6f4e7.png" width="400">

It uses the [suggested](https://github.com/contao/contao/issues/1696#issuecomment-944393601) `config/config.yml` .

[2021-10-18 09:10] joseluisq commented on #1696
Is the `vendor/bin/contao-console cache:clear --env=prod --no-warmup` irrelevant here? or do we still need it?

[2021-10-18 09:35] ausi commented on #1696
That is weird. Can you send me your docker, docker-compose, composer and config files in a zip archive (to martin@contao.org) so that I can try to reproduce it?

[2021-10-18 09:48] joseluisq commented on #1696
Sure, but even better I can create a testing Github repo so you can reproduce it easily.
I will let you know during the day.

[2021-10-18 14:29] joseluisq commented on #1696
@ausi here the repo https://github.com/joseluisq/contao49-mysql8-issue
If you need help just let me know.

[2021-10-18 15:24] contaoacademy opened #3584 "Add warning to enable SQL strict mode for commandline contao-console contao:migrate"
Shouldn't `contao-console contao:migrate` correctly display a hint about the MySQL strict mode similar to the install tool?

As discussed in slack, maybe Contao 4.13 should enable strict mode by default.
see: https://contao.slack.com/archives/CJT61P8R1/p1634553592351600?thread_ts=1634552259.350700&cid=CJT61P8R1

[2021-10-18 15:27] ausi commented on #1696
https://github.com/joseluisq/contao49-mysql8-issue/pull/1

[2021-10-18 15:33] Toflar commented on #3584
@ausi I took the liberty to assign this one to you 🙈

[2021-10-18 15:36] joseluisq commented on #1696
The issue was addressed specifying the version number on the database url string.

`DATABASE_URL=mysql://contao:contao@database:3306/contao?serverVersion=8.0.20`

Thanks @ausi for the workaround.

[2021-10-19 08:47] ausi commented on #1696
I was able to confirm that #3345 is causing the issue in this case. If you run the following command in your php-fpm container you can see that `serverVersion` is set to `5.5` there.

[code]

Thank you @joseluisq for the perfect reproduction example!

To verify that this exact case works properly after fixing #3345 I’d like to keep this open until the fix is verified with this reproduction case.

[2021-10-19 14:29] leofeyer commented on #3501
This is the expected behavior. The HTML field has the `allowHtml` attribute set, so it allows HTML according to your settings.

<img width="441" alt="" src="https://user-images.githubusercontent.com/1192057/137931077-cca4405e-1cba-4a66-a789-25f23fc887f5.png">

<img width="516" alt="" src="https://user-images.githubusercontent.com/1192057/137931114-09638265-ae9e-4112-b2de-6f02f5fbc5c8.png">

Note t

[2021-10-19 14:29] #3501 closed, assigned to nobody

[2021-10-19 14:40] leofeyer commented on #3572
To solve this, we obviously cannot use URLs as GUIDs anymore, so we have to come up with an alternative identifier.

https://validator.w3.org/feed/docs/error/InvalidPermalink.html

@contao/developers What would you prefer?

[2021-10-19 14:41] leofeyer commented on #3582
Separate from what exactly?

[2021-10-19 15:03] fritzmg commented on #3572
[UUIDs for everything](https://github.com/contao/contao/issues/402#issuecomment-473822996) 🙃

[2021-10-19 16:52] ausi commented on #3572
I think I would add a sequence number as hash to the duplicate URLs like:

[code]

[2021-10-19 19:27] ausi opened #3586 "Remove javascript:history URLs"
From https://github.com/contao/contao/pull/3424#issuecomment-931334841

I think this change should go into 4.13 as it is not a bug.

[2021-10-20 06:03] math-GH commented on #3572
what about to use the database ID of the news/calendar item?

[2021-10-20 06:41] SeverinGloeckle commented on #3572
For recurring events, the ID of the calendar event item is always the same, so we'd have identical URLs again.

I'd suggest appending the start date of the recurrence to the ID, preferably as GET parameter:

[code]

The parameter name and date format are debatable for sure. In my opinion, using the date is more meaningful than random or sequential IDs.

~~As an additional advantage, such URLs prov

[2021-10-20 06:58] aschempp opened #3587 "Exception when registering without email"
**Affected version(s)**

Contao 4.9+

**Description**

I created a new registration module to test something. I enabled the name, username and password field only, but not the email field. I also enabled the activation email. This leads to an exception on registration.

[code]

The problem is that the registration tires to create an opt-in token and send the activation email even though the email

[2021-10-20 07:03] aschempp opened #3588 "Exception if no admin email is configured"
**Affected version(s)**

Contao 4.9+

**Description**

I installed a fresh Contao 4.9 on the command line (composer) and imported the demo data directly on DB level. This lead to the fact that I did not configure an admin email in the system settings.

When the system no tries to send an email (in my case that was a registration form), I get an exception from Swiftmailer because the _from_ is empt

[2021-10-20 09:31] leofeyer commented on #3572
The problem with both is that the URLs are not valid, because they all generate the same site. Therefore, we should at least use `<guid isPermaLink="false">` to make it clear that the GUIDs cannot be used as permalinks.

Sounds like a good alternative, doesn't it?

[2021-10-20 09:34] Toflar commented on #3572
Imho what @SeverinGloeckle proposed is exactly the way to go. Those are permalinks and it's correct to point there using query parameters because techincally it is the very same resource (the news entry) but a different date.

On top of that, we should actually point to `contao-calls-zukuenftig-in-slack.html` with rel="canonical" like for any other filter parameters like e.g. filtering a product l

[2021-10-20 09:51] aschempp commented on #3573
looks like a but to me. It should not use the config class but the global variables instead. This might apply to other places where we "incorrectly" migrated.

https://github.com/contao/contao/blob/4.x/core-bundle/src/Resources/contao/controllers/FrontendIndex.php#L232-L240

[2021-10-20 09:53] aschempp commented on #3567
so we can close this with https://github.com/contao/contao/pull/3576 ?

[2021-10-20 09:55] fritzmg commented on #3573
An `OptInToken` might also be created on the CLI though.

[2021-10-20 09:58] aschempp commented on #3525
why should the error screen not be visible? A front end preview always requires a back end login.

[2021-10-20 10:06] m-vo commented on #3567
At least the error should be gone. I don't think we can fundamentally fix it as long as the constant exists.

[2021-10-20 10:06] #3567 closed, assigned to nobody

[2021-10-20 11:27] SeverinGloeckle commented on #3525
I guess we have been talking past each other here.

Until now, in the specific case when a frontend preview is started for a page with `tl_page.requireItem`, an exception is thrown and an error screen is displayed.

Instead, the frontend preview should simply be generated with an empty URL (as in #3540).

Since you commented on the pull request regarding swallowing the exception, it's all cleared

[2021-10-20 11:27] #3525 closed, assigned to nobody

[2021-10-20 14:10] leofeyer commented on #3570
I found the problem:

<img width="650" alt="" src="https://user-images.githubusercontent.com/1192057/138108089-bf317800-1ed7-4e2d-947d-88baf0691b60.png">

You cannot actually use these values, because they include all Contao versions (currently 4.4, 4.9, 4.11 and 4.12). That is also why there are 12,193 strings in total although Contao 4.12 only has 2,502 translatable strings.

My update script ca

[2021-10-20 21:44] matejjurancic commented on #3570
Ah, now I get it :) it's actually pretty obvious.
I managed to raise the completion rate to 97%, so that translation will be shipped with the next version.

[2021-10-21 07:57] ausi commented on #3572
Fully agree, but I think using a hash suffix like `#2021-10-01` instead of a query would be better. (For caching, canonical URLs and so on...).

[2021-10-21 11:58] bizon1 opened #3593 "LocaleUtil::formatAsLocale() must be of the type string, null returned"
**Affected version(s)**

4.12.3

**Description**

Since I updated a local contao testproject from version 4.12.2 to 4.12.3 an error message appears on each site which has an active Isotope listing module(mod_iso_productlist and iso_list_default.html5).

**var/logs:**

`[2021-10-20T23:31:50.589962+02:00] request.INFO: Matched route "tl_page.30". {"route":"tl_page.30","route_parameters":{"_token_che

[2021-10-21 13:15] leofeyer commented on #3572
As discussed in the Contao call, we want to check all GUIDs when generating the XML file and add `#` hashes to make duplicate URLs unique again. If the GUID is no longer the same as the `<link>` URL, we want to add `isPermaLink="false"`.

[2021-10-21 14:52] leofeyer commented on #3487
As discussed in the Contao call, we want to try to support a directory structure (opt-in), e.g. by adding a `.public` file or something alike. There are several problems such as namespaces, overriding templates and alike that need to be solved though.

Generally, we would like to support directory structures.

[2021-10-21 15:17] leofeyer commented on #3448
As discussed in the Contao call, @aschempp will check if the problem is caused by their extension or if there is a Symfony use case.

[2021-10-21 15:31] #3241 closed, assigned to nobody

[2021-10-21 15:53] aschempp commented on #3448
@bennyborn can you please see if https://github.com/contao/contao/pull/3595 fixes the problem?

[2021-10-21 16:16] bennyborn commented on #3448
I certainly will but it seems I missed out on something. What exactly should be "fixed" or what's the initial problem? Surely the method is still not static 🤔

[2021-10-21 16:31] fritzmg commented on #3448
You (or any other extension, like `terminal42/contao-fineuploader`) should now be able to use `assets.packages` without any issues, even if your Contao instance runs in a subdirectory.

[2021-10-22 06:23] #3448 closed, assigned to aschempp

[2021-10-24 09:49] ausi commented on #2201
@monxoom I was now able to reproduce your issue.

I think the following changes should fix this error:

[code]

Can you confirm that this works?

[2021-10-24 09:55] ausi opened #3597 "Revise table removes elements when using the picker"
While debugging #2201 I found out that `reviseTable()` removes new content elements when using the picker.

Without the following line the error disappears: https://github.com/contao/contao/blob/0ba1acd7d93da55598a02fa6963dacf635bdad87/core-bundle/src/Resources/contao/drivers/DC_Table.php#L3374

Steps to reproduce in Contao 4.9, in this case the `Cannot load record "tl_content.id=123".` is shown:

[2021-10-24 10:56] ausi commented on #3471
This is a great idea I think. We could get rid of the basic entities in Contao 5 then.

[2021-10-24 11:07] ausi commented on #3584
As far as I know we did not yet get information about an extension that doesn’t work with the strict mode. Some users had issues with enabling the strict mode, but all of these cases were actual problems or misconfigurations the strict mode uncovered.

So I think we should enable the strict mode by default in Contao 4.13 (also to cause less confusion in the install tool). @contao/developers please

[2021-10-24 11:19] ausi commented on #3575
I would guess that this is a problem in the textarea output. We have to enable double encoding there so that `type="video/mp4; codecs=&quot;avc1&quot;"` gets output correctly in the browser.

[2021-10-24 12:08] fritzmg commented on #3584
I have seen a few in the community and also provided PRs or guidance for these extensions on how to fix it :)

[2021-10-25 07:04] aschempp commented on #3584
I would prefer to hard-enable this in Contao 5 only and keep the suggestion in Contao 4.

[2021-10-25 08:19] aschempp commented on #3593
Isotope seems to pass the page language to `Controller::generateFrontendUrl()`, not sure why that is empty. @bizon1 not sure if you're a developer, can you debug what `$objJumpTo->language` is in `system/modules/isotope/library/Isotope/Model/Product/Standard.php` around line 1082?

[2021-10-25 08:43] fritzmg commented on #3593
May be a `->loadDetails()` is missing now in Contao 4.12.3 for the target page?

[2021-10-25 13:24] leofeyer commented on #3584
As discussed at the developer's meeting, we want to enable the strict mode by default and add a setting so users can disable it in case they have to.

[2021-10-25 20:40] bizon1 commented on #3593
Hi Andreas,
`var_dump($objJumpTo->language)` delivers `string(0) ""`

[2021-10-25 21:21] fritzmg commented on #3593
What if you add `$objJumpTo->loadDetails();` in line 1081?

[2021-10-25 21:39] bizon1 commented on #3593
Thx Fritz,
this fixed the issue.
`var_dump($objJumpTo->language)` is giving now `string(2) "de"`

[2021-10-25 22:21] #3015 closed, assigned to ausi

[2021-10-26 10:00] bezin opened #3612 "Avoid data-loss if parent and child were deleted independently"
While working on #3498 I try to tackle more issues with the general undo procedure.

It is possible to lose data for good, when it comes to parent-child data.

**To reproduce:**

1. Delete a news item from the back-end
2. Delete the parent news archive of this item from the back-end

Go to the restore module: You now have two entries, one for the item and one for the archive

3. Restore the news i

[2021-10-26 10:07] leofeyer commented on #3593
So this is an Isotope issue?

[2021-10-26 10:29] bizon1 commented on #3593
It seems to be.
Just adding `$objJumpTo->loadDetails();` at line 1081 in `vendor/isotope/isotope-core/system/modules/isotope/library/Isotope/Model/Product/Standard.php` solved it.

[2021-10-26 15:17] leofeyer commented on #3097
As discussed at the developer's meeting, these are the steps to accomplish the mission:

- [x] Check if Escargot supports canonical URLs (implemented in https://github.com/terminal42/escargot/commit/5e4955739e40d04a8f00ece978283e32e4fadebb)
- [x] Make our indexer ignore pages if the canonical URL does not match the URL (see https://github.com/contao/contao/pull/3617)
- [x] Canonical URLs should be

[2021-10-26 21:43] #1185 closed, assigned to nobody

[2021-10-27 01:47] ausi commented on #1696
@joseluisq can you verify if the fix from https://github.com/contao/contao/pull/3623 works for your use case?

[2021-10-27 09:57] joseluisq commented on #1696
@ausi sure, but how should I proceed? Should I use some dev 4.9 branch or something? and how can I do it via the `composer.json`?

[2021-10-27 13:27] ausi commented on #1696
@joseluisq probably best to wait until #3623 was merged. After that you can use something like this in your composer.json:

[code]

[2021-10-28 07:46] bezin commented on #3612
I would suggest the following. It actually is a mix between the two ideas above:

1. Add the data set id as column in `tl_undo` so that we have `fromTable` and `originald`. This way we can easily find the parent record later.
2. Implement a button callback that checks whether the data set has a parent and if it exists.
3. If it has a parent but that does not exist, we check whether the parent item

[2021-10-29 09:30] aschempp commented on #3593
it is both an Isotope and a core issue to me, I'll do a PR 😊

[2021-11-01 15:37] do-while opened #3632 "Formular Validierung mit InsertTags in den Selects"
**Affected version(s)**

Contao 4.9 bis Contao 4.12

**Description**

Bei 2-sprachigen Formularen hat man ggf. auch in den Values der SELECT-Optionen InsertTags {{iflng::xx}} enthalten.
In diesem Fall läßt sich aber das Formular nicht absenden: "Invalid option value!"
Offenbar werden vor dem Validieren die InsertTags nicht aufgelöst.

SELECT-Feld:
Option 1: `{{iflng::de}}Rot{{iflng::en}}Red{{iflng

[2021-11-01 15:59] aschempp commented on #3632
ich denke in einem Option-Wert solltest du keine Insert-Tags haben, sonst könnte aus dem Insert-Tag ja auch HTML in eine Option geschrieben werden, was nie funktionieren kann.

[2021-11-01 16:57] do-while commented on #3632
Da habe ich jetzt nicht drauf geachtet: Versendet das Notification-Center den Wert oder die Beschreibung der ausgewählten Option? Wenn es die Beschreibung ist, kann es auch ohne SprachInsertTags gehen.
Ich probiere das Morgen gleich aus.

[2021-11-02 08:24] do-while commented on #3632
Also, sowohl in den ##raw##-Daten, wie auch in den ##form_*##-Feldern werden die Werte der Felder ausgegeben, nicht der Text, den der Besucher gesehen hat.
Das betrifft nicht nur SELECT-Felder, sondern auch die RADIO-Felder.
Mehrsprachige Formulare lassen sich so nicht erstellen, wenn ich keine Sprach-InsertTags in den Values verwenden kann.

Abhilfe wären nur einzelne Formulare für jede Sprache.

[2021-11-02 08:33] fritzmg commented on #3632
Mehrsprachigkeit bei Formularen, Nachrichten, Seiten etc. in Contao funktioniert so, dass du je Sprache ein eigenes Formular, Nachrichtenarchiv, Seitenbaum etc. erstellst.

[2021-11-02 09:42] do-while commented on #3632
Das habe ich jetzt auch so gemacht.
Ich finde es nur unglücklich, dass im Value im Backend ein Wert angegeben werden kann, der bei Auswahl im Frontend zu einer Fehlermeldung führt. Beim Rendern des Formularelements werden die InsertTags aufgelöst, vor der Validierung im Formular dann aber nicht. Ansich soll diese Validierung ja prüfen und verhindern, dass jemand falsche Einstellungen hier einspeis

[2021-11-03 09:47] #3612 closed, assigned to nobody

[2021-11-03 12:29] #1696 closed, assigned to ausi

[2021-11-04 14:44] bezin opened #3642 "Prepared statement fails in Contao\Versions"
```An exception occurred while executing a query: SQLSTATE[HY093]: Invalid parameter number: number of bound variables does not match number of tokens```

After pulling in 3cadec7dfd444eefced20da70d5ca21408b3ec82 I get the error message mentioned above after logging into the backend. It originates in the Versions class, when counting versions:

https://github.com/contao/contao/blob/4.x/core-bundle

[2021-11-04 14:51] ausi commented on #3642
Note to myself: `number of bound variables does not match number of tokens` should be allowed but deprecated (if the number of tokens is larger) also using things like `PageModel::findWithDetails(null)` worked previously and the behavior should also be restored and deprecated.

[2021-11-04 16:51] leofeyer commented on #3642
Note that even though #3643 fixes this particular issue, the underlying issue will only be fixed by @ausi's PR (not available yet). I am therefore leaving the ticket open.

[2021-11-04 22:52] ausi commented on #3642
#3645

[2021-11-05 08:10] chiron501 opened #3646 "insert tag {{file::*}} wird im tinyMCE nicht richtig aufgelöst"
**Affected version(s)**

Contao 4.4.57

**Description**

Erstellt man im TinyMCE einen Download-Link wird wie gewohnt der Insert-Tag {{file::*}} eingetragen. Nach dem abspeichern steht im href-Attribut nicht der Pfad zur Datei sondern die Datei-ID, aber ohne die geschweiften Klammern.
`<a href="65adf984-3d7b-11ec-9d99-08002778b90e|urlattr">download</a>`
Der Link im Frontend selber funktioniert zun

[2021-11-05 08:22] ausi commented on #3646
Duplicate of #3430 was fixed in #3455

[2021-11-05 09:13] #3646 closed, assigned to nobody

[2021-11-05 09:37] #3642 closed, assigned to ausi

[2021-11-05 14:41] monxoom commented on #2201
No luck, sorry! (ofc cleared cache etc.)

[2021-11-05 15:51] ausi commented on #2201
which specific contao version are you using?
can you post your patched *news-bundle/src/Resources/contao/dca/tl_content.php* file?

[2021-11-05 15:57] monxoom commented on #2201
I was using the 4.9 LTS (v4.9.22). Here’s the whole patched file:

[code]

[2021-11-05 16:07] ausi commented on #2201
And the error message you get is still exactly `Invalid news content element ID 1.`?

Please also post the URL that is shown in the browser address bar when you see this error message.

[2021-11-05 16:09] m-vo opened #3648 "Shortcut for cache tagging with entities"
Assume there is an entity `Foo` with table `tl_foo` of which all elements should be output in a `FooListFragment`, a single one in a `FooDetailsFragment` and maybe some more selected ones in a `SelectedFoosDetailsFragment`.

You would then need to tag you response like so:
[code]

Now, you're losing your abstraction - the `tl_foo` table name gets baked into the code and will probably be missed out

[2021-11-05 17:55] m-vo commented on #3648
This could also propagate through relations if the entity in question is the owning side of a relation.

[2021-11-05 18:55] m-vo commented on #3648
Here is a prototypical implementation:

[code]

[2021-11-06 09:21] ausi commented on #3648
Having `tagResponse('string')` meaning something different than `tagResponse(['string'])` could be misleading I think. Can we check if the string includes a backslash and only handle it as a `class-string` then (both in the array and as a single argument)?

[2021-11-06 23:42] t0-git opened #3649 "Bug during installation with contao 4.13.2"
**Affected version(s)**

4.13.2

**Description**

I successfully installed the latest contao manager (1.4.8) to install contao 4.13.2. No error during the installation, all is okay. At then end, I click on update database, which redirects me to contao/install. But it doesn't exist. I searched inside all the directories of the web server, but no folder like this was created. I hope I didn't miss so

[2021-11-07 07:20] ausi commented on #3649
There is no Contao version 4.13.2 yet. Did you mean 4.12.3?

[2021-11-07 07:21] aschempp commented on #3649
`contao/install` is not an actual file but a virtual route. I assume you have Contao 4.12.2 - you should have a `web/index.php` file that handles all routes.

Make sure your webserver redirect all requests to that `index.php`. Apache should do this automatically through the bundled `.htaccess` file. If you have Nginx, you (or your server admin) might need to update the server config.

Since this i

[2021-11-07 07:21] #3649 closed, assigned to nobody

[2021-11-07 10:45] m-vo commented on #3648
Thought about this as well and came to a similar conclusion. :+1:. If we encapsulate the logic into a service we can both supply the well defined/typed implementations as well as a method that is guessing. The latter could then be used inside our `AbstractController#tagResponse()` method.

[2021-11-07 10:57] dimejo opened #3650 "Release notifications"
What's the best way to receive release notifications? I'm subscribed to release notifications for this repository but never receive any. I suppose that's because there aren't any releases just tags. Is there a news feed which covers non-security releases on Contao.org?

[2021-11-07 13:29] asaage commented on #3650
I use this url: https://packagist.org/feeds/package.contao/core-bundle.rss
wich works fine.

[2021-11-07 15:05] t0-git commented on #3649
Yes I meant 4.12.3, apologies.
I'm sorry if it's not the good place to talk about it, I'll discuss it on Slack. web/index.php (which is accessible at 127.0.0.1/index.php) redirects to contao/install, even if I have the bundled .htaccess file in the web directory.

[2021-11-07 15:36] Aybee opened #3651 "Unsightly effect of autoFocusFirstInputField"
Contao 4.9

Every time I open a user for editing I get this annoying popup as can be seen in the screenshot.

![Screen-2021-11-06_16-46-37-2](https://user-images.githubusercontent.com/1143013/140651527-10d2f40f-0eb9-47ac-a061-606510ca4514.png)

I think it's the result of `autocomplete = "username"` and at the same time the JS function `autoFocusFirstInputField()`.

IMO we should exclude fields wit

[2021-11-07 18:25] Toflar commented on #3650
Please ask questions on one of the many support channels (https://contao.org/en/support.html). The issue tracker is here to help us maintain the software :)

[2021-11-07 18:25] #3650 closed, assigned to nobody

[2021-11-08 09:47] monxoom commented on #2201
Your questions got me asking myself if … and yes, in a fresh 4.9.22 installation the error doesn’t appear (sorry for taking your time)! On friday I tested with an up-to-date but long running installation where the customer needs this functionality.
I have to recreate the bug in a fresh installation and check back when having more info.

[2021-11-08 10:22] richardhj commented on #3531
Hey 👋
I just want to add that the News pages in the Contao demo currently are not accessible (see footer navigation under https://demo.contao.org/en/).
Might be fixed by #3540?

[2021-11-08 11:55] #3429 closed, assigned to nobody

[2021-11-08 14:22] Toflar commented on #3097
I'm closing this because

is a totally optional feature and I would even argue, that we shouldn't implement it. The only advantage is that it would automatically add e.g. `page_n23` if you select the correct checkboxes. Which you can also do by configuring `page_n23` or even `page_n*` to your page settings as of now. It's not complicated at all and imho it's even better in the page settings as you

[2021-11-08 14:22] #3097 closed, assigned to Toflar

[2021-11-09 07:31] #3570 closed, assigned to nobody

[2021-11-09 08:52] dimejo commented on #3650
@asaage

wich works fine.

Thanks for the link but I had something more userfriendly in mind.

@Toflar

The many support channels you linked to basically boil down to Slack (which I don't use) and the Community forum. After registration (and confirmation) I was able to login but wasn't allowed to write posts as my account needed to be activated. I tried again today and can't even login because the

[2021-11-09 08:55] leofeyer commented on #3650
I am using https://newreleases.io to track several projects. Once a new version has been tagged, they send me an email.

[2021-11-09 12:28] dimejo commented on #3650
Thanks, I will test this out.

[2021-11-09 17:07] m-vo commented on #3648
see #3659

[2021-11-09 17:07] #3648 closed, assigned to m-vo

[2021-11-09 17:12] leofeyer commented on #2618
See #3615.

[2021-11-09 17:12] #2618 closed, assigned to nobody

[2021-11-10 16:10] ausi opened #3661 "Refactor `System::getTimeZones()`"
Refactor `System::getTimeZones()` similar to #3138

[2021-11-10 16:12] ausi opened #3662 "Deprecate `$GLOBALS['TL_AUTO_ITEM']`"
Should we deprecate the `$GLOBALS['TL_AUTO_ITEM']` array?
Is this used widely? Do we need an alternative?

[2021-11-10 16:14] ausi opened #3663 "Deprecate `$GLOBALS['TL_CSS_UNITS']`"
If we deprecate `$GLOBALS['TL_CSS_UNITS']` how do we replace it?
It is mostly used in the deprecated style editor, but also in some other places.

We could just hardcode the useful units in depending on the use case instead.

[2021-11-10 20:04] fritzmg commented on #3662
I've personally never used it. I always used `auto_item` when applicable. The core uses it though (`items` for news and events), but only for legacy reasons as well, I think.

[2021-11-11 06:17] aschempp commented on #3663
stuff like that should be a container parameter in my opinion. Its not something people need to easily change, but they can if it's a container parameter 😊
I think there's a lot of similar stuff we should/might all change in Contao 5.

[2021-11-11 06:19] aschempp commented on #3662
I stopped using it a while ago and I don't think we need an alternative. But I'm sure there's extensions out there using it 🤔

[2021-11-11 07:10] leofeyer commented on #3662
If we deprecate it, we have to provide an alternative IMHO.

[2021-11-11 07:11] leofeyer commented on #3663
Yes. 👍 People can still change the options in the DCA if they want to.

[2021-11-11 15:13] jxns opened #3666 "DCA bug when MultiColumnWizard reaches 7 rows"
**Affected version(s)**

Contao 4.12.3

**Description**

I have an own DCA table. One of the fields is a MultiColumnWizard with 4 columns:

[code]

This was working fine for a long time. I recently updated to 4.12.3.
Now, as soon as the MultiColumnWizard reaches 7 rows (doesn't matter if empty or with content), I cannot edit the record anymore.
When clicking the edit-button, instead of opening the

[2021-11-11 15:16] fritzmg commented on #3666
The MultiColumnWizard ist not part of the Contao Core - you will need to raise this issue here: https://github.com/menatwork/contao-multicolumnwizard-bundle/issues

[2021-11-11 16:23] #3666 closed, assigned to nobody

[2021-11-11 18:11] stefan-at-work opened #3667 "Seitenstruktur | rel-Attribut beim Seitentyp externe Weiterleitung"
Momentan gibt in der Seitenstruktur beim Seitentyp externe Weiterleitung keine Möglichkeit dem Anker-Tag ein rel-Attribut wie z.B. rel=”noopener” oder rel=”noreferrer” mitzugeben. Wäre schön, wenn man dies optional direkt etzen könnte.

[2021-11-12 08:02] fritzmg commented on #3651
This is a Browser issue. Chrome for example does not show the saved passwords dropdown on any field, if the field was auto focused by JavaScript, as far as I tested. Chrome only shows the dropdown, if the user clicks into a username or password field.

[2021-11-12 10:22] #3345 closed, assigned to ausi

[2021-11-12 10:23] #3573 closed, assigned to nobody

[2021-11-12 10:25] #3651 closed, assigned to nobody

[2021-11-12 10:27] leofeyer commented on #3597
Without line 3374, new content elements will no longer be removed if they are not saved, will they?

1. Create a new content element
2. Go back without saving
3. The element should automatically be removed

[2021-11-12 10:33] ausi commented on #3597
Correct, this is no suggested fix but the evindence that revise table causes the issue ☺️

[2021-11-12 10:55] gentlemedia opened #3669 "Console crawler inherits "noSearch""
**Affected version(s)**

Contao 4.9.22

**Description**

When using the crawler to create the search index via the console, the log for all open and protected pages states: "Forwarded to the search indexer. Did not index because of the following reason: Was explicitly marked "noSearch" in page settings."
It seems that the console crawler does not update a variable on pass and once it finds "noSear

[2021-11-12 11:12] fritzmg commented on #3669
Just to clarify: by top page you mean "Home" is the _parent_ page and all other pages that were not indexed are _children_ of the "Home" pages? Or do you merely mean "Home" is the first page in the otherwise flat hierarchy?

[2021-11-12 11:17] gentlemedia commented on #3669
"Home" is the first page.

root
-- home
-- documentation
----- page1
------- sub1

[2021-11-12 11:23] fritzmg commented on #3669
I cannot reproduce the problem. With a site structure like shown by @gentlemedia, setting `home` to `noSearch` does not prevent indexing of the other pages.

[2021-11-12 11:25] gentlemedia commented on #3669
Are you using the crawler via SSH console?

[2021-11-12 11:26] fritzmg commented on #3669
Yes, via `vendor/bin/contao-console contao:crawl --subscribers="search-index" --enable-debug-csv`

[2021-11-12 11:32] gentlemedia commented on #3669
Strange. I can clearly reproduce it on my installation. But anyway, I can live with my workaround. Thanks.

"Home" with "Nicht durchsuchen":
<img width="853" alt="Bildschirmfoto 2021-11-12 um 12 28 02" src="https://user-images.githubusercontent.com/7711886/141460264-fff3d5f7-c8a4-4c88-bcc4-30e7328c4bc6.png">

"Home" without "Nicht durchsuchen":
<img width="866" alt="Bildschirmfoto 2021-11-12 um 12

[2021-11-12 11:32] #3669 closed, assigned to nobody

[2021-11-12 12:42] #3263 closed, assigned to nobody

[2021-11-12 13:17] gentlemedia commented on #1406
This is a very big problem right now in one of the sites I manage. The crawler via the backend takes over an hour to create the index (with Contao 4.4 it was 6 minutes). But via the console I can't set a frontend user so that the index is created correctly for all access groups.

Will there be a solution to this?

[2021-11-12 13:22] Toflar commented on #1406
Contao 4.4 just had less links so you cannot compare the two. Over an hour sounds like it's visiting a lot of stuff you don't want to have it visit anyway which you can control by using proper `rel="nofollow"` links. Download the debug CSV file, it contains all the entries and reasons for every visited URL. Then you can optimize that.

At some point I'm sure there will be one. As I said, it requir

[2021-11-12 13:26] gentlemedia commented on #1406
Yanick, this worked fine before 4.9, because this lame crawler was not in the game.
I'm sorry, but I don't know the English word for "verschlimmbesserung". It seems that for Contao development Symfony conformity is now more important than usability in real life. Most users are not developers or software freaks.

[2021-11-12 13:43] aschempp commented on #1406
@gentlemedia I think you're not seeing the full picture. Yes the search index in Contao 3 _might_ have been faster, but simply because it was _a lot more stupid_. It didn't know about `meta noindex/nofollow`. It didn't know about `rel="cannonical"`. It didn't find extension content if the extension was not built for it – now it does. And probably 100 other things.

Also, your words are offensive a

[2021-11-12 14:13] gentlemedia commented on #1406
Sorry, I didn't mean to offend anyone. It's probably because of the frustrating situation.

We have not used Contao for any new projects for quite some time, but we still support many existing customers. Thanks for the explanation though.

[2021-11-12 15:28] Toflar commented on #1406
"verschlimmbessert" would mean anything is worse now than it was before. That's simply not the case. The command did not exist before. It's a new feature and by the way only possible thanks to Symfony.
The back end is slower because it finds more pages. So it's actually better than before. You can make sure it finds less by excluding pages it now finds from being indexed by e.g. setting the robots

[2021-11-12 15:54] gentlemedia commented on #1406
I apologize again for my choice of words.

We have long since realized that Contao is no longer the right tool for our purposes. We were happy to support Contao as a paying agency for almost 10 years. When we were looking for an alternative to Typo3 in 2008, we ended up with TypoLight. It was a slim and simple little CMS that could actually do everything needed for small sites and more. We handled

[2021-11-12 16:48] leofeyer commented on #3597
Too bad. I will add this to our developer's meeting list. In case you want to stay up late again. 😉

[2021-11-13 13:13] ausi commented on #1406
I think there are some misunderstandings here:

1. Asking _“Will there be a solution to this?”_ on an open issue on GitHub is meaningless. As long as the ticket is open, there is no solution yet.
2. An issue on GitHub is the wrong place for writing feedback about what the correct priorities of the development on Contao should be.
3. Assuming that _“usability in real life”_ is not important to the

[2021-11-14 19:55] #3413 closed, assigned to nobody

[2021-11-15 10:31] SeverinGloeckle commented on #3586
Is there any alternative considered for the JavaScript links?

For typical reader modules, for example, an "Add link" option could be added within the module to configure a real link to a suitable page (e.g. a "Show all news" link).

In my opinion, this would transform a feature removal into a potential improvement.

If this sounds like a useful addition, I can get on it.

[2021-11-15 12:01] Toflar commented on #3586
We do have a link already. It's the one configured in the news archive. The problem is only if you use multiple, different reader modules. Then we don't know where you came from so the only thing we can do to "go back" is to use the JS history. Which is not the right way to go in many cases if you e.g. access the page directly from a Google result etc.
People can add their own "Go back" or "Got to

[2021-11-15 12:03] fritzmg commented on #3586
That's the link for the reader module, not for the list. The "Go back" link would need to point to the page where the list module is present. For which we could add a new setting for in the reader module.

[2021-11-15 12:05] Toflar commented on #3586
Which is basically the same as just adding another element :D

[2021-11-15 12:13] asaage commented on #3586
I don't see a way to handle a paginated list view without javascript (go back to page 2 or 3 when i came from there) be it with just another element or a new setting for the reader or list module.
I tried that multiple times an then settled on the standard ```javascript:history.go(-1)```

[2021-11-15 12:27] aschempp commented on #3663
Generally fine with me. It's just "stupid" that this value is used in 27 places, and hardcoding **the same value** 27 times seems very wrong to me 😅

[2021-11-15 12:28] aschempp commented on #3662
Do we really need an alternative? What is it really useful for?

[2021-11-15 14:46] ausi commented on #3663
The only non-deprecated usages I could find are `imagemargin` and the header, footer, sidebar and static layout settings in `tl_layout`.

[2021-11-15 19:24] SeverinGloeckle commented on #3586
Since it is not possible to enter JavaScript into a URL field, this will not work via the backend anymore. The solution would be adding a custom element or modifying the corresponding reader template.

A link labeled as "Show all news" or "Go to news overview" can always link to the first page of a paginated set of items – as it is more of a way to "go up one level" than to "go back one step" – th

[2021-11-15 20:15] Toflar commented on #3586
Sure :)

[2021-11-15 20:16] asaage commented on #3586
I don't think there will be a convenient solution to this other than the ```{{link::back}}``` / ```javascript:history.go(-1)```.

1. because of the pagination (i know the browser-back-button but some cutomers might not or argue that it's more userfriendly to have it on the page)
2. "Show all news", "Go to news overview", "go up one level" is simply just not the same as "go back" - the first two ar

[2021-11-16 09:18] m-vo opened #3679 "Fix flaky time sensitive SubrequestCacheSubscriberTest"
![image](https://user-images.githubusercontent.com/5305677/141956853-e49d02ed-afe3-47a7-b8bc-8043d5e1d6ac.png)

[2021-11-16 09:26] ausi commented on #3586
For me the reason is, that it is bad practice to mess with the browser history. If a user wants go to back in history they should use the history of the browser. For going “back to the overview” there should be a link that always works correctly (even if I got to the page directly via a search engine).

[2021-11-16 10:35] asaage commented on #3586
I kind of feel the same but i don't think we are messing with the browser-history at all
(that would be ```history.pushState & history.replaceState``` like attaching history states to accordeons, sliders or lightboxes).

We just go back one page and since the link-text has never been “back to the overview” but "Go back" that always worked reliable and as expected. 🤷‍♂️

👉🏼 it usually keeps track o

[2021-11-16 11:10] m-vo commented on #3586
For navigating back you would use your browser's back button
 It's intuitive how this works. To me, a link should not be "history context sensitive".

Same for the back button. Btw. other things (state, frozen JS, ...) can be affected as well and these behave very differently across browsers. 🙃

[2021-11-16 22:06] fritzmg commented on #2873
Closing in favor of #3684

[2021-11-16 22:06] #2873 closed, assigned to nobody

[2021-11-17 13:43] SeverinGloeckle opened #3687 "Proposal: add a DcaReader to access DCA data in a structured way"
I would like to discuss a possibility to standardize and ease the reading of configuration data from a DCA.

While the definition of DCAs via `$GLOBALS['TL_DCA']` cannot be changed at the moment, it would be nice if one could read values from the global array in a more structured way.

## Feature proposal: `DcaReader`
I'd suggest something like a `DcaReader`, which provides a method to get the val

[2021-11-17 13:52] ausi commented on #3687
We solved this problem already in our translator decoration: https://github.com/contao/contao/blob/222659106d851a50f243e29db0995143fcf2d51f/core-bundle/tests/Translation/TranslatorTest.php#L104-L112

[2021-11-17 14:26] Aybee opened #3688 "Separate the FE preview toolbar more from the FE page"
Contao 4.9.22

The Preview Toolbar is too strongly influenced by the CSS of the site so that it is not forgotten for customers to control the toolbar and then set up additional CSS into the FE.

There would be some ways to prevent|reduce these problems.

- Toolbar in a frame
- Don't use the same CSS classes as in the FE templates
- Reset the CSS with `all:revert;`,  put an ID attribute into the HT

[2021-11-17 14:50] bytehead commented on #3688
Yep, sometimes it's a little buggy 😬

<img width="690" alt="Bildschirmfoto 2021-11-17 um 15 49 33" src="https://user-images.githubusercontent.com/754921/142223160-6d70d21b-c57a-43eb-81f4-f883f0b4c597.png">

[2021-11-17 14:53] bytehead opened #3689 "Backend login does not redirect back on preview links"
**Affected version(s)**

Contao 4.9

**Description**

Open a preview link without a valid backend session, you'll get redirected to the backend login but not redirected after the successful login:

https://demo.contao.org/preview.php/en/content-elements.html

[2021-11-17 15:13] bytehead commented on #3689
The condition on line 82 is always false:
https://github.com/contao/contao/blob/fcbd9e103a0b0d5706ddaf90db54dcdd137b104c/core-bundle/src/Resources/contao/controllers/BackendIndex.php#L78-L85

[2021-11-17 15:54] Toflar commented on #2722
Indeed it was the wrong way around. I also had to adjust the unit tests quite a bit because they tested this incorrectly (which is also why this wasn't noticed in the first place).
Thanks for the excellent description which helped me to reproduce the issue easily! 😊
Closing this in favor of https://github.com/contao/contao/pull/3690.

[2021-11-17 15:54] #2722 closed, assigned to nobody

[2021-11-17 17:57] Aybee commented on #3688
Contao 4.9.22
closed
![preview_1](https://user-images.githubusercontent.com/1143013/142255121-2080bac1-7361-433b-b5de-84976b810936.jpg)
opened
![preview_2](https://user-images.githubusercontent.com/1143013/142255123-9f6b5153-23fc-422a-93b2-155a16381865.jpg)

Modified
closed
![preview_3](https://user-images.githubusercontent.com/1143013/142255125-1ef6b9e5-0885-4c79-bbea-cece559023d2.jpg)
opened
![p

[2021-11-17 18:18] bytehead commented on #3689
Closing in favor of #3692

[2021-11-17 18:18] #3689 closed, assigned to bytehead

[2021-11-18 07:17] baumannsven opened #3697 "Hook loadDataContainer no security user"
**Affected version(s)**

Contao 4.9

**Description**

In the loadDataContainer hook I don't get a user from security.

services.yml
[code]

[2021-11-18 09:12] ausi commented on #3697
Does it work if you use `'@security.helper'` instead of `'@Symfony\Component\Security\Core\Security'`?

[2021-11-18 09:16] baumannsven commented on #3697
@ausi I had already tried that. Same problem.
Do you know where the token is set?

[2021-11-18 09:27] fritzmg commented on #3697
Whether you can get a user or token from the security helper service is independent from the hook itself. It just depends on the current context. In any case, I cannot reproduce:

[code]

This will output my username in the back end and front end, whenever `Controller::loadDataContainer` is called and loads a DCA.

[2021-11-18 09:30] ausi commented on #3697
I was also not able to reproduce the issue.

[2021-11-18 09:32] baumannsven commented on #3697
I'll take a look at it in the demo. After that I will get back to you.

[2021-11-18 09:43] aschempp commented on #3697
@baumannsven I think this can only ever happen if the datacontainer is loaded **before** the firewall is loaded. Maybe you have an event listener that loads a datacontainer with a higher listener priority than the firewall? I don't think the Contao core does have that.

[2021-11-18 10:19] fritzmg opened #3700 "Back end styling issue with article records"
**Affected version(s)**

Contao 4.9, 4.12, 4.x

**Description**

Currently there is a styling issue in the back end for articles in the back end:

![image](https://user-images.githubusercontent.com/4970961/142396319-14cf1d20-2c89-4f8e-83f4-1eb86d1cf7aa.png)

May be removing the style for `.tl_tree_xtnd .tl_file .tl_left a` and then setting

[code]

can solve the issue. In 4.12 it needs to be

[cod

[2021-11-18 10:27] ausi opened #3701 "Create a SystemLogger helper service"
https://github.com/contao/contao/pull/3458#discussion_r751436071 @fritzmg

[2021-11-18 11:27] leofeyer commented on #3667
Wenn Du die Option "In einem neuen Fenster öffnen" aktivierst, fügt Contao automatisch `rel="noreferrer noopener"` ein:

<img width="628" alt="" src="https://user-images.githubusercontent.com/1192057/142406929-ef2d688d-5a2f-4e6f-9651-022cffb1fea5.png">

[2021-11-18 11:31] m-vo commented on #3667
The differentiation makes no sense to me. From a UX persepective you should almost never open a link in a new window. We should IMHO consider adding it always if the url is an external one like in the `FigureBuilder` when linking images to external resources.

[2021-11-18 11:32] leofeyer commented on #3667
`rel="noopener"` does not really make sense without `target="_blank"`, does it?

[2021-11-18 11:47] SeverinGloeckle commented on #3701
Creating and wiring the `ContaoContext` for the logger is definitely convenient!

We are using a similar service internally already which I can share in a pull request.

This service also gets the calling method for the `func` parameter via `debug_backtrace` so the developer doesn't have to specify `__METHOD__` on each call (but may optionally define it explicitly).

Since there are quite mixed vi

[2021-11-18 11:50] m-vo commented on #3667
I think these are independent: Setting `noopener` just disallows `Window.opener` from the target context. When setting `target="_blank"`, this already implies `noopener`. At least nowadays.

See: https://developer.mozilla.org/en-US/docs/Web/HTML/Link_types/noopener

[2021-11-18 11:58] leofeyer commented on #3701
I don't think we should use `debug_backtrace` in production, so I vote -1 on this.

[2021-11-18 12:01] leofeyer commented on #3667
Nice. So we could remove the `noopener` completely?

[2021-11-18 12:03] m-vo commented on #3667
IMHO we should instead add it always for external urls - independent of the `target` attribute. It doesn't really hurt and then it even works in IE. :smile:

[2021-11-18 12:11] fritzmg commented on #3701
It would certainly be convenient 😬 but I also don't think it should be used.

[2021-11-18 12:17] ausi commented on #3667
AFAIK adding `rel="noreferrer noopener"` for `target="_blank"` links is just a bug fix for a browser security issue, see <https://mathiasbynens.github.io/rel-noopener/>

`noreferrer` is needed for very old browsers (like Internet Explorer) and `noopener` is needed for older browsers (like Opera or Safari 12.0).

Once these old browsers become obsolete we can remove these things again IMO.
Setting

[2021-11-18 12:38] Toflar commented on #3701
`debug_backtrace` shouldn't be too expensive per se. You just have to use the `$limit` parameter to make sure, not the whole backtrace is fetched. It should be pretty quick in that case (https://github.com/php/php-src/blob/90b7bde61507cee1c6b37f153909d72f5b203b8c/Zend/zend_builtin_functions.c#L1664).
You might want to do some measurements yourself.

[2021-11-18 14:01] SeverinGloeckle commented on #3701
The performance of `debug_backtrace` shouldn't be the issue, especially with a limit (around 2-4 frames is enough) and `DEBUG_BACKTRACE_IGNORE_ARGS`.

It's more about the `debug` part in the function name. Sadly, I do not know about any other way to get the caller of a method in PHP (besides the stack trace in exceptions, which are not suitable in this case).

That's how our logger is currently re

[2021-11-18 15:43] leofeyer commented on #3586
As discussed in the Contao call, we want to add an optional "overview page" field that will automatically generate a "to the overview" link if set.

<img width="481" alt="" src="https://user-images.githubusercontent.com/1192057/142447811-73d5c53c-4c0a-4f94-9b85-17633e0be3de.png">

[2021-11-18 16:07] baumannsven commented on #3697
@aschempp That was a good tip. I have cleaned up the project completely. After that I get the user.

[2021-11-18 17:34] #3701 closed, assigned to nobody

[2021-11-19 00:58] baumannsven commented on #3697
I have reopen this issue.

I have found a scope where should be have the bug.

The non admin user is not present in the hook, if you use the file manager.

[2021-11-19 07:32] bennyborn commented on #3688
Like I already said (https://github.com/contao/contao/issues/1428#issuecomment-592177306) the preview bar should be generated using a Shadow DOM to be truly independent of the page's styling.

[2021-11-19 07:42] Toflar commented on #3688
Then maybe just work on it so we can see if it actually improves the situation?

[2021-11-19 07:59] bennyborn commented on #3688
I'll happily give it a try over the holidays :)

[2021-11-19 08:29] bytehead commented on #3697
That would mean the file manager is not protected by the firewall 🤔

[2021-11-19 10:03] fritzmg commented on #3697
Still cannot reproduce. If I log in as a non-admin back end user and access the file manager, `$this->security->getUser()` will provide the current user within the `loadDataContainer` hook within the file manager. @baumannsven have you debugged [this](https://github.com/contao/contao/issues/3697#issuecomment-972699025) yet?

[2021-11-19 10:13] baumannsven commented on #3697
No I have not fixed the problem yet. I had removed/disabled all extension and services. Therefore it should be equal to the demo. @fritzmg  I will try to reproduce this now in the demo.

[2021-11-19 11:37] tinokramm opened #3703 "Fehlerhafte Download-Links nach Update auf 4.9.22"
**Affected version(s)**

Contao 4.9.22

**Description**

Bei zwei Websites habe ich seit dem Update von Contao 4.4.57 auf Contao 4.9.22 folgendes Problem: Download-Links funktionieren nicht mehr, weil dem Download-Link offenbar der Parameter &cid an die URL angehangen wird. Es betrifft scheinbar nur das Inhaltselement Download. Klicke ich auf einen solchen Link kommt ein Fehler 404. Entferne ich d

[2021-11-19 11:43] fritzmg commented on #3703
The `cid` parameter is normal and was always there, as it identifies the content element.

[2021-11-19 11:49] tinokramm commented on #3703
Das kann ich leider nicht bestätigen. In der 4.4er Installation haben die Download-Links diesen Parameter nicht in der URL. Erst nach dem Update auf 4.9 zeigt sich der Parameter in der URL. So zumindest hier bei mir.

4.4er Installation:
https://update.bbe-fenstertechnik.de/downloads-haustueren.html

4.9er Installation:
https://www.bbe-fenstertechnik.de/downloads-haustueren.html

Die Links auf den

[2021-11-19 12:00] fritzmg commented on #3703
The `cid` parameter has been introduced in https://github.com/contao/contao/commit/3cab24efb00ed737667a2b717d561a80c2d2d734 three and a half years ago in Contao 4.6.0. Without the parameter, the download will not work - at least in a vanilla Contao 4.9+ installation.

[2021-11-19 12:11] bytehead commented on #3703
I can copy this, there are a lot of Sentry issues raised from this. The download  of the file somehow works, but you'll get 404 `PageNotFoundExceptions` in Sentry. I have updated from `4.8.7` to `4.9.22`.

[2021-11-19 12:15] #3435 closed, assigned to nobody

[2021-11-19 12:23] bytehead commented on #3703
I couldn't actually track it down yet.

[2021-11-19 13:42] tinokramm commented on #3703
Das mag ja sein, erklärt aber das Verhalten nicht auf meinen Websites. Siehe die Links, die ich oben zum Vergleichen gepostet habe.

[2021-11-19 13:44] bytehead commented on #3703
Any extension installed that could somehow interfere with the downloads?

[2021-11-19 13:51] tinokramm commented on #3703
![image](https://user-images.githubusercontent.com/42606103/142633362-5aa2130f-59c7-4a97-bf32-32adb3ff4af2.png)

[2021-11-19 13:57] fritzmg commented on #3703
Have you tested this in a fresh Contao 4.9.22 installation?

[2021-11-19 14:42] baumannsven commented on #3697
@fritzmg I have now been able to isolate the problem. When I load the `services.yml` in the `App\ContaoManager\Plugin` it works. However, not when I load it in the `App\DependencyInjection\AppExtension`.

[2021-11-19 14:42] tinokramm commented on #3703
Wir haben diverse Websites laufen, die wir mit Contao 4.9 begonnen haben. Dort ist solch ein Problem bislang nicht aufgetaucht. Ich vermute das Problem entsteht beim Sprung von 4.4 auf 4.9. Das haben wir gerade bei zwei Websites gemacht und haben bei beiden das gleiche Problem.

[2021-11-19 14:45] baumannsven commented on #3697
composer.json

[code]

[2021-11-19 14:52] fritzmg commented on #3697
Not sure what you mean. You do not need an `AppExtension` or a Contao Manager Plugin for the App.

[2021-11-19 14:53] fritzmg commented on #3703
If the problem cannot be reproduced in a fresh Contao installation, then the source of the problem must be some kind of customisation.

[2021-11-19 14:58] baumannsven commented on #3697
In my project, however, need that. Because the service is configured in the extension.

[2021-11-19 15:17] fritzmg commented on #3697
In any case, this is likely a bug in your App setup and not specific to Contao or the `loadDataContainer` hook. May be contact the community forum or the Slack community for help.

[2021-11-19 15:19] baumannsven commented on #3697
@fritzmg thanks

[2021-11-19 15:19] #3697 closed, assigned to nobody

[2021-11-19 17:00] netzarbeiter commented on #3703
Hast du noch ein angepasstes Download-Template aus Contao 4.4?

[2021-11-19 20:57] Aybee opened #3707 "Render the div.limit_toggler only when needed"
**Affected version(s)**

Contao 4.9.22 or Contao 4.12.3

**Description**
Go to online demo. Create a content element text with` lorem[softbrake]ipsum` (see screenshot). The limit_toggler gets rendered (although it's not necessary), as the last element has a margin to the bottom.

You can avoid this by adding this CSS:
[code]

Closed
![Bildschirmfoto am 2021-11-19 um 21 48 08](https://user-images.g

[2021-11-19 21:20] Aybee opened #3708 "Don't reset CSS for ul, ol and li in BE"
**Affected version(s)**

Contao 4.9.22 or Contao 4.123

**Description**
If you reset margin, padding and list-style for ul, ol and li, we have no nice rendering of lists in several places in BE, e.g. within the help wizzard text. This values should never be reset. Only reset them where needed, e.g. within navigation lists.

[](https://github.com/contao/contao/blob/2cabec850046d20fd005e11501f581d98

[2021-11-19 23:03] Aybee commented on #3688
FYI in Firefox about:config set `devtools.inspector.showAllAnonymousContent` to `true` to see all `shadowdoms`.

[2021-11-20 10:52] ameotoko opened #3709 "Follow-up registration is not possible under certain conditions"
**Affected version(s)**

4.12.3

**Description**

There’s a period of time, when the follow-up registration is impossible, because the token has expired, but the member still exists.

Suppose, token is 23-hours old by the time Cron runs (daily by default). Then, an hour later it expires, and the user essentially stuck until the next cronjob runs (so, by default –  for the next 23 hours). He can’t

[2021-11-20 13:19] fritzmg commented on #3709
@contao/developers I think the `Automator::purgeOptInTokens` cronjob, which currently runs daily, needs to actually run minutely, wdyt?

[2021-11-20 13:33] fritzmg commented on #3709
But even then there could be a period of up to 59 seconds and 99 milliseconds where a member can neither log in, activate their account or register anew. May be `OptIn::purge` should also be called in `ModuleRegistration::compile` (or rather `tl_member.onload`) for example (and may be other places, e.g. newsletter registration).

[2021-11-20 15:46] Joam55 opened #3710 "Einen neuen Ordner erstellen ist für den User nicht erlaubt, Namen ändern auch nicht"
**Affected version(s)**

Contao 4.13

**Description**

Dateiverwaltung files/user/

Dem Benutzer sind alle Dateioperationen in seinem Ordner erlaubt, laut Rechteverwaltung.

Doch der Benutzter kann keinen neuen Ordner erstellen oder einen Bestehenden umbenennen, das Feld ist nicht editierbar.
Auch einen bestehenden Ordner umbennen geht nicht, das Feld ist nicht editierbar.

[screenshot_01](https:/

[2021-11-20 19:07] fritzmg commented on #3709
Actually, that would not suffice either. OptIn tokens are kept in the database for 72 hours.

[2021-11-22 09:09] leofeyer commented on #1655
I am closing this in favor of #3686.

[2021-11-22 09:09] #1655 closed, assigned to leofeyer

[2021-11-22 17:10] qzminski opened #3712 "Missing LNG labels when using an insert tag"
**Affected version(s)**

Contao 4.12

**Description**

The insert tag `{{label::LNG:de}}` outputs an empty string, because the `System::loadLanguageFile('languages')` no longer loads the correct files. I think it happened in this commit, where those files were removed:

https://github.com/contao/contao/commit/8f975da820a9dca0415d9da9b669953a41a502c2#diff-96f48168e3462d4b0437106abbc1dc5d8ec39a9aec7

[2021-11-22 17:14] Toflar commented on #3712
Imho we just missed also updating the `InsertTags` class to fall back to the new stuff. Wdyt @ausi ?

[2021-11-22 17:29] ausi commented on #3712
Definitley not intended ☺️, I will check this and fix it.

[2021-11-23 09:18] aschempp commented on #3688
FYI we tried `all:unset` in https://github.com/contao/contao/pull/1978 and reverted in https://github.com/contao/contao/pull/2433 because it did break the SVG icon. Not sure `all: revert` would have the same issue, but that sure needs to be checked.

[2021-11-23 09:41] ausi commented on #3712
Closed in favor of #3716

[2021-11-23 09:41] #3712 closed, assigned to ausi

[2021-11-23 17:54] Aybee commented on #3688
I tested with `revert` and everything works fine in Firefox. I think revert is the right property to first remove the styling done by other CSS and at the same time keeping the UA-Browser-Style and the values set by the users (e.g. if the user sets his browser to show all links in red).

If I understood correctly, then `unset`, `initial` and `inherit` they all do not take into account the UA-Brows

[2021-11-24 07:11] aschempp commented on #3710
Sieht aus als hättest du dem Benutzer die Felder in der Tabelle `tl_files` nicht freigegeben?

[2021-11-24 07:13] aschempp commented on #3708
Maybe this can be considered in https://github.com/contao/contao/pull/2697? I generally agree with you on the topic, but I don't think we can easily change this in the current backend, as people also rely on this reset.

[2021-11-24 07:14] aschempp commented on #3709
Closed in favor of https://github.com/contao/contao/pull/3711

[2021-11-24 07:14] #3709 closed, assigned to nobody

[2021-11-24 10:09] fritzmg commented on #3491
Contao does not support secrets / OTP tokens. Is this a request for such a feature?

[2021-11-24 20:40] Joam55 commented on #3710
Schau mal den Sceenshot_01, du wirst diese Freigaben meinen, oder?

[2021-11-25 08:30] ausi commented on #3710
Nein. Im Bereich „Erlaubte Felder“ musst du die gewünschten Felder für die Tabelle `tl_files` freigeben.

[2021-11-25 08:57] fritzmg commented on #3593
This particular error is likely fixed by #3682, however Isotope probably still should add the `loadDetails` call.

[2021-11-25 10:44] tinokramm commented on #3703
Ja. Das gab es tatsächlich und scheint auch Teil des Problems gewesen zu sein. Danke für den Tipp! Jetzt geht es wieder, wie es soll.

[2021-11-25 10:46] tinokramm commented on #3703
Was mir da an der Stelle unangenehm auffällt ist, wenn ich dem Download-Element sage „Im Browser anzeigen“, habe ich keine Einstellungsmöglichkeit, das in einem neuen Fenster zu tun.

[2021-11-25 10:48] fritzmg commented on #3703
Please create a separate ticket for feature requests.

[2021-11-25 16:11] ausi commented on #2862
I think `LogoutSuccessHandlerInterface` was already removed.

`LegacyEventDispatcherProxy` only needs to be removed from the tests and from the `DeprecatedClasses`-phpunit-extension it seems.

`LogoutHandlerInterface` and `DefaultLogoutSuccessHandler` are still in use I think.

@bytehead can you confirm that?

[2021-11-25 16:20] bytehead commented on #2862
Yes, I can confirm that. I've added the `LogoutSuccessListener` to deprecate the `LogoutSuccessHandler`. I'm not sure how to replace the `LogoutHandler` - maybe we should integrate the logic to the `LogoutSuccessListener` and deprecate it as well?

[2021-11-25 16:28] leofeyer commented on #2862
Yes, if that works. 👍 Although, since we will switch to the new authentication system in Contao 5, maybe we should not spend too much time on this.

[2021-11-25 16:32] bytehead commented on #2862
The documentation says so (there is only one event in the new authentication system): https://symfony.com/doc/current/security.html#customizing-logout. I'll provide a PR.

[2021-11-25 21:34] Joam55 commented on #3710
Oje!  Dankeschön!
Asche auf mein Haupt ... diese Freigabe gabs vermutlich bereits in typolight ...

[2021-11-25 21:34] #3710 closed, assigned to nobody

[2021-11-26 08:17] ausi commented on #3710
Nein, die gibt es erst seit kurzem ☺️

[2021-11-26 19:59] Vec7or opened #3730 "Backend back button wrong redirect"
**Affected version(s)**

Contao 4.12.3

**Description**

When editing elements of an element in the backend ex. news in news archive and going back over the menu bar the back button does not work as expected anymore.

Steps to reproduce:

1. Have two news archives (called "one" and "two" for simplicity)
2. Open archive "one" and open a news item
3. Return to the news archive overview by clicking o

[2021-11-26 22:35] Vec7or opened #3731 "Urlattr suffix not consistent when used with tinyMCE filepicker"
**Affected version(s)**

Contao 4.12.3 / 4.9.22

**Description**

When using filepicker within tinyMCE content elements the behaviour of the "urlattr" suffix is not consistent.

Steps to reproduce:

1. Select file with file selector in tinyMCE
    - "urlattr" is attached as a suffix to the insert tag (not visible in file selector but in database)
2. Save the content element
3. Open the content ele

[2021-11-27 11:39] fritzmg opened #3733 "Browser login auto fill prevents member drop down in preview bar"
**Affected version(s)**

Contao 4.9, 4.12, 4.x

**Description**

While working on https://github.com/contao/contao/pull/3732 I noticed the following: currently at least Firefox will always show the login auto fill/complete drop down when clicking into the username field for the member in the preview bar. This will prevent the `userlist` dropdown from showing, when you enter parts of a front end me

[2021-11-27 12:15] ausi commented on #3731
This probably needs to be fixed in https://github.com/contao/contao/blob/b1419cc981cf59fd451342863494e61b0ed04c07/core-bundle/src/Resources/contao/library/Contao/StringUtil.php#L618

Did you test if the same issue also occurs in Contao 4.9?

[2021-11-27 12:56] ameotoko commented on #3733
May be just say “Username” as a label? Instead of “Member”

[2021-11-28 09:23] Toflar commented on #3730
I think that‘s a duplicate of https://github.com/contao/contao/pull/3690

[2021-11-29 06:56] #3703 closed, assigned to nobody

[2021-11-29 06:57] aschempp commented on #3491
not sure what you mean @fritzmg , we use OTP tokens for the 2FA login?

[2021-11-29 07:00] Toflar commented on #3687
I like the idea and I would love to see a first draft (can be very rough) just so we can see if the concept would even work.
One thing I would like to get the feedback of the other @contao/developers: Maybe it's time to get rid of `DCA`. DCA stands for `DataContainerArray` and it's not really an array anymore. Or well, it shouldn't if we start going into a different direction here. I think at the

[2021-11-29 07:02] #3593 closed, assigned to aschempp

[2021-11-29 07:05] Toflar commented on #2750
Just a quick note: This is now fixed with the release of Doctrine DBAL 3.2.0 🎉  I've just tested this locally with the upcoming 4.13 so you'll be all set in February 2022 😊

[2021-11-29 07:12] katgirl commented on #3491
I would like to determine the secret for the calculation myself. So that I can manage it centrally. So that I can lock them centrally even if they are lost.

[2021-11-29 07:15] aschempp commented on #3687
I totally understand the idea and it would theoretically be a nice addition. I think we discussed and/or tried stuff like this before (similar to using YAML for DCA), but it basically boils down to first discuss how the future of DCA/C might look like. If we agree it will stay like this, a reader might be useful. But we also discussed using a Symfony ConfigTree or similar for it, and I'm not sure

[2021-11-29 07:19] Toflar commented on #3687
Agreed. I think we can agree that we'd love to have a solution that works similar to the Symfony bundle config. At the end of the day, the DCA is no different. It's just a huge configuration array.
The nice thing about the regular config tree is that we could support all formats the Symfony `Config` component supports too. We'd need to have a compatibility layer for the global array style syntax w

[2021-11-29 09:09] SeverinGloeckle commented on #3687
That's pretty much what I'm working on after @m-vo suggested the idea of using Symfony's config bundle to me.

My current draft flows like this:
- The structure of a general DCA is defined in a `DcaConfiguration` which implements Symfony's `ConfigurationInterface`.
- The configuration tree extends the tree of Symfony's config bundle with so called schema nodes which can map data to a schema class

[2021-11-29 09:21] fritzmg commented on #3491
Ah, then I misunderstood the original request.

[2021-11-29 09:34] biwerr opened #3736 "CSRF Cookie is blocked due samesite Lax on 3rd party pages"
**Affected version(s)**

Contao 4.9

**Description**

The Contao CSRF Token is set with the property 'lax' in [CsrfTokenCookieSubscriber](https://github.com/contao/core-bundle/blob/d20147f5a9e51115769eafb58876bba0a035f2aa/src/EventListener/CsrfTokenCookieSubscriber.php#L122) which leads to problems on 3rd party sites with iframe integrations of the Contao page.

![image](https://user-images.github

[2021-11-29 11:19] #3490 closed, assigned to nobody

[2021-11-29 11:52] fritzmg commented on #3733
@leofeyer why did you close this?

[2021-11-29 12:44] #3700 closed, assigned to nobody

[2021-11-29 13:08] tsarma opened #3740 "Remove page from index, if `Do not search` is checked"
**Affected version(s)**

Contao 4.9.22

**Description**

Remove page from the search index, if it is already indexed by Contao, when in afterwards `Do not search` is checked from the pages setting.

[2021-11-29 13:11] fritzmg commented on #3740
Should be doable in a `config.submit` callback where we check whether `noSearch` was set in the current request and then delete all items from `tl_search_index` and `tl_search` with the current page's ID. @contao/developers wdyt?

[2021-11-29 14:17] #3572 closed, assigned to nobody

[2021-11-29 14:20] leofeyer commented on #3733
<img width="557" alt="" src="https://user-images.githubusercontent.com/1192057/143884381-13e457a1-2cc2-47c5-bfe6-44ecb466feb8.png">

[2021-11-29 14:42] fritzmg commented on #3733
I did not specifically link it, Github did that automatically via this comment: https://github.com/contao/contao/pull/3732#discussion_r758146252
I have removed the link now.

[2021-11-29 21:04] Vec7or commented on #3731
@ausi I just tested this behavior with a newly installed Contao 4.9.22 and it is the same with this version.

[2021-11-29 21:11] Vec7or commented on #3730
@Toflar Sounds like the same issue. So this should be fixed with the next releases. Thanks for the info.

[2021-11-29 21:11] #3730 closed, assigned to nobody

[2021-11-30 10:45] m-vo commented on #3121
Closing this as the original issue doesn't appear anymore. Likely due to simplifying the image studio tests at one point.

[2021-11-30 10:45] #3121 closed, assigned to m-vo

[2021-11-30 17:18] tabcontao opened #3751 "Access denied for user 'root'@'localhost' installing Contao 4.12"
**Affected version(s)**

Contao 4.12

**Description**

Trying to install Contao 4.12.3 with Contao-Manager on vServer results in an error during composer install / contao-setup
PHP 7.4.25
MariaDB 10.5.12

Same error also using Hostingwerk All In, netcup Webhosting 8000.
Installing Contao 4.9 works on the same platforms.

See also: [Corresponding thread in Contao Community Forum](https://community.

[2021-11-30 17:21] fritzmg commented on #3751
@m-vo looks like catching `ConnectionException` in `TemplateLocator` is not enough, depending on the used driver presumably.

[2021-11-30 21:20] m-vo commented on #3751
These various dbal exceptions are a mess. :neutral_face:

Should we add this one or rather catch a more generic one?

[2021-11-30 22:13] fritzmg commented on #3751
Well the ConnectionException inherits from DriverException, so DriverException is already the more generic one. I'd got with that.

[2021-12-01 09:34] bytehead opened #3752 "Preview mode unpublished: show does not work"
**Affected version(s)**

Contao 4.x

**Description**

In frontend preview mode `show unpublished` does not work anymore. Login with frontend user still works.

[2021-12-01 09:39] leofeyer commented on #3752
<del>This is due to the preview switch form pointing to `/preview.php/contao/preview_switch`, which will be redirected to `/contao/preview_switch` unless we add the `_allow_preview` request attribute (see #3692).</del>

That's not it, unfortunately.

[2021-12-01 09:55] leofeyer commented on #3752
Found it.

https://github.com/contao/contao/blob/2515c850fea177f01d2e9c6ec57519f3548304d2/core-bundle/src/Controller/BackendPreviewSwitchController.php#L125

`$frontendUsername` is an empty string instead of `null` here. It can be fixed like this:

[code]

[2021-12-01 11:49] #3751 closed, assigned to nobody

[2021-12-02 08:00] Gulivertx opened #3760 "All textarea as a property display: none"
**Affected version(s)**
Contao 4.12

**Description**
Hello,
In a fresh Contao installation on 4.12.3 all inputs textarea in the backend as a display: none property.

<img width="1690" alt="Screenshot 2021-12-02 at 08 59 00" src="https://user-images.githubusercontent.com/7717886/144381190-0f215051-8c53-4f90-b30f-1a56aacab0b7.png">

[2021-12-02 08:17] Gulivertx commented on #3760
just gonna further to remember me that it should load tinymce here, then it is why I have a display: none on this. But tinymce is not loading, continue to investigate...

[2021-12-02 08:40] Gulivertx commented on #3760
Found the error, we imported an old template of be_tinyMCE.html5
Sorry for this, closed this issue.

[2021-12-02 08:40] #3760 closed, assigned to nobody

[2021-12-02 10:45] aschempp opened #3763 "Do not create backup if there are no migrations"
**Affected version(s)**

Contao 4.13

**Description**

If I run `contao:migrate`, the command automatically created a backup even if there are no migrations and no schema changes. I think it shouldn't do that, especially because it will somewhen delete my backups as well.

/cc @Toflar @ausi

[2021-12-02 10:55] Toflar commented on #3763
That's not a bug at all. It's really a matter of taste here:

1. Always create a backup when running `contao:migrate` no matter if there are migrations or not (current behaviour)

- Advantage: Always backs up the latest changes in the database
- Disadvantage: Takes a bit more time to run even if there are no migrations

2. Only create a backup when `contao:migrate` does have migrations

- Advantag

[2021-12-02 11:04] leofeyer commented on #3763
That's true indeed. Although I also agree that not every `contao:migrate` run should create an SQL dump. Sometimes you only run it to check if the DB is up to date.

[2021-12-02 11:12] Toflar commented on #3763
Yes. Sometimes you want this, sometimes you want the other thing. The question is, what should be the default and I want to keep the current solution as the default because that covers my use case for which I have built the solution in the first place.

[2021-12-02 11:24] Toflar commented on #3763
I mean, we could implement something like `--backup=none`, `--backup=only-on-changes`, `--backup=always` but then we still have to decide which one should be the default.

[2021-12-02 11:25] fritzmg commented on #3763
But in that case you can use `contao:migrate --no-backup`.

[2021-12-02 11:26] Toflar commented on #3763
If you only want to check it, you would run `--dry-run` in which case no backup is created.

[2021-12-02 11:30] leofeyer commented on #3763
That sounds good. 👍

[2021-12-02 11:34] Toflar commented on #3763
What @aschempp wants is "Execute migrations if there are any and only backup if there are changes". This is currently impossible. But even if we introduced that feature, we would still have to discuss if that becomes the new default setting or if always creating a backup remains the default.

[2021-12-02 12:09] leofeyer commented on #3763
The "if there are any" part can be solved by running `contao:migrate --dry-run` before the actual run. If there are no changes, you would not run `contao:migrate` afterwards.

Not sure if there is a way to adapt this logic in Deployer?

[2021-12-02 12:10] Toflar commented on #3763
There sure is but I think @aschempp was not talking about Deployer in his case. I think his case is more about the general usage of `contao:migrate` during development.

[2021-12-02 12:11] leofeyer commented on #3763
I see.

[2021-12-02 13:07] aschempp commented on #3763
If you always want a backup on every deployment, run `contao:backup` and `contao:migrate --no-backup`. You should force the backup through the command and not "assume" migration does one for you 🤷

[2021-12-02 13:10] Toflar commented on #3763
Yeah, I'm not gonna invest even more time on this feature anyway so I guess I'll have to take what's there in the end. :)

[2021-12-02 13:14] richardhj commented on #3763
This sounds like you want different backup destinations.
I personally can imagine using a different folder for doing manual backups than the default folder so that "desired" backups do not get deleted.

[2021-12-02 13:19] aschempp commented on #3667
so I guess this can be closed? 😅

[2021-12-02 13:47] ausi commented on #3763
I think the current version is fine as it is. With `--no-backup` and `--dry-run` there should be all options you need for a custom solution IMO.

[2021-12-02 13:59] aschempp commented on #3740
sound legit. Maybe @tsarma can do a pull request? 😎

[2021-12-03 10:02] #3740 closed, assigned to nobody

[2021-12-03 12:23] tsarma opened #3768 "Search index does not work with insertTag"
**Affected version(s)**

Contao 4.9

**Description**
Contao search indexer does not work (It does not index page), if you have an insert tag in a content.

[2021-12-03 12:30] Toflar commented on #3768
I don't think that's true? Can you tell us how to reproduce the problem?

[2021-12-03 12:34] tsarma commented on #3768
I've tested it. To reproduce just add `{{br}}` in any text field or heading input.

[2021-12-03 12:37] tsarma commented on #3768
Sorry false alarm!

[2021-12-03 12:37] #3768 closed, assigned to nobody

[2021-12-04 14:22] ausi commented on #3736
This is the intended behavior I think, because with iframes and clickjacking you would then be able to send POST requests on behalf of the user, which is exactly what the CSRF cookie tries to prevent.

Can you elaborate on your use-case so that we can maybe suggest a secure alternative?

[2021-12-04 14:28] Teetrinker opened #3770 "Make image thumbnail sizes configurable"
## Suggestion
In the file manager, thumbnails are created with a size that is hard coded. It would make Contao more adaptable if those numbers were configurable.

## Use case example
A customer of mine has many similar looking images with numeric file names. Choosing images for an article/gallery without renaming each one was impossible before I changed the thumbnail size in the core code.

## Que

[2021-12-04 14:52] biwerr commented on #3736
In our case we have multiple Iframe integrations on other pages where users can donate to a project. Donation is done in a Form, at the moment submitting the form is not possible, because the csrf token is not valid, due the missing cookie.

It would be great if there was an option to configure this behavior in a config file, to enable setting csrf tokens with `same-site:none` so that the csrf coo

[2021-12-04 17:29] ausi commented on #3736
Are these users logged in? And has the iframe to know the logged in user?

If not, configuring all other cookies to `samesite=lax` should fix your issue I think.
The session cookie itself can be configured like so:

[code]

[2021-12-04 18:23] biwerr commented on #3736
No, the users are guests. But they have a session cookie. I've tested it with settings above before I opened the ticket. The session cookie is set, but it sadly doesn't fix the problem. Lax would not fix the issue. The Browser blocks the cookie, with the warning message

[2021-12-04 19:30] ausi commented on #3736
In this case you can use a listener to modify the cookie like so:

[code]

But you have to double check that all domains you list in the `X-Frame-Options` header are fully trusted, otherwise you might create a security issue by this.

I don’t think we should add an option for this as the security implications are not easy to understand and you can already configure it via a listener as shown above

[2021-12-04 19:44] ausi commented on #3770
We could add a config option that uses a size name from the `contao.image.sizes` array. This way all sizing features would be available.

If it should be a user setting, we would use an image size dropdown I think.

File manager backend and picker widget are the two sizes that come to my mind. Are there more?

[2021-12-05 09:14] lumas-consulting opened #3771 "Form file upload -> save as UUiD"
When using the file upload attribute in a form generator and ad the save to database functionality, currently **the path to the file** will be saved to the database.

Wouldn't it be better to **save the UUID** as it does when uploading a file in the backend?

[2021-12-05 10:00] fritzmg commented on #3771
You can use [fritzmg/contao-store-uuid](https://extensions.contao.org/?p=fritzmg%2Fcontao-store-uuid).

[2021-12-05 10:19] lumas-consulting commented on #3771
Thank you @fritzmg !
Will try.
But is there a specific reason for using the path as default format?

[2021-12-05 10:23] fritzmg commented on #3771
By default the form generator makes no assumption on how the upload is used. The UUID is only relevant if you store the file in a table that is managed by a DCA - and the respective field uses the `fileTree` for instance.

[2021-12-05 10:26] #3771 closed, assigned to nobody

[2021-12-05 16:09] biwerr commented on #3736
Thanks for the Listener, seems to be a good idea as a workaround for my issue. I'll try if this works for me :)

[2021-12-06 05:31] #3127 closed, assigned to nobody

[2021-12-06 09:41] aschempp commented on #3736
maybe you can also adjust the system so the users do not have a session (if they are guests anyway)?

[2021-12-06 13:11] fritzmg opened #3772 "Unknown "ansi_to_html" filter"
**Affected version(s)**

Contao 4.9, 4.12, 4.x

**Description**

If there is an event listener on the `contao_installation.initialize_application` event which sets an output, the following error will occur in the Install Tool:

[code]

Are we missing a dependency to [`sensiolabs/ansi-to-html`](https://packagist.org/packages/sensiolabs/ansi-to-html)?

[2021-12-06 18:54] m-vo commented on #3772
Looks like we're using the `ansi_to_html` filter here. So, yes (plus registering it as an extension).

https://github.com/contao/contao/blob/09920533b41580dad25b89d9df5bdb7da0f93420/installation-bundle/src/Resources/views/initialize.html.twig#L9

[2021-12-07 09:04] aschempp opened #3775 "Allow preview of non-routeable pages"
I noticed these changes will result in that the error page types (and other non-routable) pages can no longer be previewed in the front end. The only way to "see" the `401 Access Denied` page is now by accessing a protected page without being logged in. This might be cumbersome to style the page and content, maybe we should allow routing these pages in preview or dev mode?

_Originally posted by @

[2021-12-07 09:07] fritzmg commented on #3772
The dependency was accidentally removed in https://github.com/contao/contao/pull/1950 and the Twig extension definition was removed in https://github.com/contao/contao/pull/2140 later on.

The Contao Install Tool still renders the console ouptut of the console tasks it is running if any of the console tasks have a return code that is not zero. I'll provide a PR to put it back.

[2021-12-07 10:30] fritzmg commented on #3775
I think I would do it for the `_preview`, not just for the dev mode. Then editors will be able to quickly preview the 40x pages' contents by clicking the respective icon in the back end.

[2021-12-07 11:08] leofeyer commented on #3775
+1 for only in preview mode.

[2021-12-07 12:33] aschempp commented on #3775
That might work, although only works in a managed edition (or if the preview entry point is manually configured in a Symfony app). It also will not work for pages that do not have an alias (which they _supposedly do not have_ if not routable!).
An alternative idea would be to extend the preview controller. We currently pass `page=XX` to the preview route, which could render the page as a subreques

[2021-12-07 14:23] bezin opened #3777 "Limit search query to custom attribute values"
I am currently working on a custom search and filter module that searches across some custom tables (facilities and contact persons). The keyword search is rather simple with some `type LIKE %keyword%` across multiple fields. The Contao full-text delivers better results, because it takes into account some more factors. This brought up the idea to reuse the Contao search index for our own keyword s

[2021-12-07 16:18] tsarma commented on #3777
HI there, Since this may inevitably require some changes in the class `Contao\Search`. Please consider calling the hook `indexPage` after all the data is available. Not all data like search text is available to the hook's argument. So at the moment the `indexPage` hook is only good for changing the `title` but not the search text (`$arrSet['text']`) as expected. `$arrSet['text']` is replaced [hard

[2021-12-07 21:07] Aybee commented on #3708
Really, I just can not believe that. The browser style for paragraphs, lists, form elements, tables, buttons, headings ... is always better than none padding and/or margin at all. If you use an element for special purposes e.g. a list for a navigation, you style it anyway.

#2697 is too complicated for me. But I will follow it.

[2021-12-07 21:15] fritzmg commented on #3708
What @aschempp probably means is backwards compatibility. This cannot be changed in a feature version. If you did, an extension that styled its back end components according to the current state will suddenly look different when updating Contao.

[2021-12-08 10:30] lumas-consulting opened #3779 "Redirecting to article list after content element insert"
**Affected version(s)**

Contao 4.9.23

**Description**

Backend Issue:
After the Update to 4.9.23 user is being redirected to the article overview after copying and inserting a content element within an article.
One should stay within the article that the CE is inserted in.

[2021-12-08 10:43] bytehead commented on #3779
Maybe related to #3690
/cc @Toflar

[2021-12-08 11:32] contaoacademy commented on #3779
I have also observed the same behavior with "Save & Close". Here I suddenly end up in a completely different place in the backend.
It seems that at some point the referrer is saved, but then no longer is updated.

I'll try to check and reproduce the problem and give you more details.

See also Slack: https://contao.slack.com/archives/CK4J0KNDB/p1638956416218900

[2021-12-08 12:40] fritzmg commented on #3779
I can reproduce the problem:

1. Log out of the Contao back end.
2. Log into the Contao back end of Contao 4.9.23/4.9.x-dev.
3. Go to _Articles_.
4. Go into an article (with existing content elements).
5. Click the copy icon of a content element.
6. Insert the content element into the same article.
7. Click _Save & Close_.

You will be redirected to the dashboard.

[2021-12-08 13:35] fritzmg commented on #3772
Btw. to reproduce this you need to provoke an error in any of the commands that the `InitializeApplicationListener` of the `contao/installation-bundle` executes. Depending on your environment, the following might work:

1. Execute `rm web/system/themes`
2. Execute `mkdir web/system/themes`
3. Open the Install Tool and log in.

This will result in the following error in the `contao:symlinks` comman

[2021-12-08 14:52] leonexcc opened #3782 "Query parameters are lost during redirect back after login"
We want to use GA campaigns on a website that is behind a login. If the visitor isn't login already he will be redirected to the login page here:

https://github.com/contao/contao/blob/27f248764c86bd9929ec1b961c9241b5e593c9e2/core-bundle/src/Resources/contao/pages/PageError401.php#L137

But since the Environment::get('request') is not urlencoded everything after the first & in Environment::get('re

[2021-12-08 15:18] fritzmg commented on #3782
You can circumvent this by changing your setup:

1. Create a 401 page (if not already present) and do _not_ enable any redirect setting in the page.
2. Create a login module and do _not_ enable any redirect setting in the login module.
3. Put this login module onto the 401 page.

If open a protected URL without being logged in then no redirect will happen. Instead the contents of the 401 page will

[2021-12-08 15:25] leonexcc commented on #3782
Ok, i have to try that. But shouldn't the redirect URL be encoded correctly anyways?

[2021-12-08 16:08] fritzmg commented on #3782
imho yes

[2021-12-08 17:32] leofeyer commented on #3779
@eBlick Can you please try if removing the following lines fixes the issue?

https://github.com/contao/contao/pull/3690/files#diff-86b4078961bee6db60db2699805d6b88f4c7ee6fcfc0435bed2f8c2f66d1311bR92-R94

[2021-12-08 17:33] #3772 closed, assigned to nobody

[2021-12-08 19:27] lumas-consulting commented on #3779
@leofeyer Yes, I can **confirm** that this did the job!
Tested with articles, new archives and file management.
Copy & Paste as well as Cut & Paste

[2021-12-09 08:51] bezin commented on #2598
~~The same happens in 4.9. Applying the change in~~ ~~https://github.com/contao/contao/pull/2673 fixes that.~~
~~The reason why I just realised this now, is that I had entered dns with port in the back-end before we started stripping the port. So only now after I edited the root page and saved it, the port got stripped.~~

My issue had the same effect, but was caused by a different commit, see htt

[2021-12-09 09:24] bezin opened #3783 "No root page found if server runs on specific port"
**Affected version(s)**

Contao 4.9

**Description**

I have a Contao installation that runs on port 8080 in my local dev environment. I used to configure the DNS with port number.
Since https://github.com/contao/contao/pull/2362 the port number is stripped from the dns config, which breaks routing alltogether. I just experienced this now as it is the first time since a long time I saved the root

[2021-12-09 09:47] aschempp commented on #3783
Symfony routing does not support port numbers. It simply ignores them. If you access a site with port 8080 and the domain matches, it will happily reply with port 8080 in a URL to that site. There is no need to configure the port. The only thing that is **not** possible is run the same installation with different domains on multiple ports, but there's really no use case for this.

[2021-12-09 09:52] bezin commented on #3783
I understand that, but [this line ](https://github.com/contao/contao/blob/4.9/core-bundle/src/Routing/Matcher/UrlMatcher.php#L38) sets the host name WITH port on the request context and hence the URL matching fails. It has been removed for 4.10 onwards and it should be removed for 4.9, too.

[2021-12-09 10:42] k-webdesign opened #3784 "Show chosen member groups on protected content elements"
If a content element is protected, I'd prefer to see the member group in the brackets. At the moment you only see that the item is protected, but if there are multiple identical elements following it's not clear whom each item is protected for.

A simple listing of used member groups would help, e.g. (protected: group1) or (protected: group1, group2, group3)

<img width="471" alt="Bildschirmfoto 2

[2021-12-09 11:15] fritzmg commented on #3784
See https://github.com/contao/contao/pull/3785

If you want to have that feature in Contao 4.9 or 4.12, then you can use the following:

[code]

[2021-12-09 11:23] k-webdesign commented on #3784
Thank you so much! 😘

[2021-12-09 11:26] k-webdesign commented on #3784
In which file do I have to insert this code?

[2021-12-09 11:27] bytehead commented on #3784
Create it: `src/EventListener/DataContainer/ShowProtectedMemberGroupsListener.php` 😎

[2021-12-09 11:27] k-webdesign commented on #3784
🤦🏼‍♀️ thx for the hint!

[2021-12-09 12:33] #3779 closed, assigned to leofeyer

[2021-12-09 12:35] fritzmg commented on #3784
![image](https://user-images.githubusercontent.com/4970961/145397509-986785b6-0819-4232-8866-3ae26300d6c7.png)

;)

[2021-12-09 12:48] #3784 closed, assigned to nobody

[2021-12-09 17:18] leofeyer commented on #734
See #3138

[2021-12-09 17:18] #734 closed, assigned to nobody

[2021-12-09 17:21] leofeyer commented on #931
See #3103

[2021-12-09 17:21] #931 closed, assigned to nobody

[2021-12-09 17:23] leofeyer commented on #1515
@bytehead Is this something you want to work on?

[2021-12-09 17:25] leofeyer commented on #1705
See #3729

[2021-12-09 17:25] #1705 closed, assigned to nobody

[2021-12-09 17:25] bytehead commented on #1515
Yes, why not 👍

[2021-12-09 17:26] #1940 closed, assigned to nobody

[2021-12-09 17:26] #1974 closed, assigned to nobody

[2021-12-09 17:27] #2389 closed, assigned to nobody

[2021-12-09 17:29] leofeyer commented on #2634
This has been done (Contao 4.13).

[2021-12-09 17:29] #2634 closed, assigned to nobody

[2021-12-09 17:31] leofeyer commented on #3225
Do we still need this now that we have the maker bundle?

[2021-12-09 18:55] ausi commented on #3225
IMO yes

[2021-12-10 11:50] aschempp commented on #3775
see https://github.com/contao/contao/pull/3797

[2021-12-10 11:50] #3775 closed, assigned to aschempp

[2021-12-10 16:39] FranziskaMa opened #3802 "backend login is not possible after 2 days of installation contao 4.12"
**Affected version(s)**

Contao 4.12?

**Description**

backend login is not possible
the setup was an update from 3.5.4

[2021-12-10 16:49] fritzmg commented on #3802
Make sure you run a `composer update` again, so that `symfony/http-kernel` is downgraded to `5.4.0`, if applicable (see https://github.com/contao/conflicts/pull/32).

[2021-12-10 17:19] FranziskaMa commented on #3802
What is a composer update?

[2021-12-10 17:46] fritzmg commented on #3802
If you manage your Contao instance with the Contao Manager, then you need to execute this under _Maintenance_:

![image](https://user-images.githubusercontent.com/4970961/145618446-2ec98fa5-b295-4e01-87b1-9347a5864be0.png)

[2021-12-10 18:16] FranziskaMa commented on #3802
Thank you!!!

[2021-12-10 18:16] #3802 closed, assigned to nobody

[2021-12-12 11:29] mlwebworker opened #3805 "Different Twig templates cannot be selected in the backend"
**Affected version(s)**

4.12

**Description**

Wenn ich zwei verschieden Twig-Templates anlege z.B. ce_image.html.twig und ce_image_test.html.twig dann können diese in den Template-Einstellungen im Backend  nicht ausgewählt werden.
siehe auch https://contao.slack.com/archives/CK4J0KNDB/p1639302648298700

[2021-12-12 11:32] m-vo commented on #3805
Probably covered by https://github.com/contao/contao/issues/3274

[2021-12-12 22:09] Aybee opened #3806 "Confusing structure in filemanager list view"
I've always wondered why the listview in filemanager can't be formatted easily with CSS. So I analyzed the structure and here it is.
![Bildschirmfoto am 2021-12-12 um 22 50 07](https://user-images.githubusercontent.com/1143013/145731094-cb537be0-5215-4c7d-be0c-1b2d64678023.png)
It's not such a big thing, but I think the headline "Dateimanager" should not be a list item. In addition, the headline i

[2021-12-13 07:37] aschempp commented on #3806
what are you trying to improve on the file manager? 😊

[2021-12-13 09:59] Aybee commented on #3806
Different things. I'm working on an extension that can pimp the BE on per user basis. Maybe larger icons e.g. I also recognize now that there is an unusual extra `<li>` that we don't need. We can delete this lines in filemanager listview.
[code]
Of course, at first I don't know what kind of consequences this will have.

I am reporting this also because of ticket "A new Contao backend" #2697. I don

[2021-12-13 10:14] m-vo commented on #3806
Instead of focusing on specific markup/styling we should IMHO try to introduce templates. (However, button callbacks that render HTML are a big downer with this.)

[2021-12-13 10:15] #1371 closed, assigned to nobody

[2021-12-13 10:28] leofeyer opened #3809 "Configuring the crawler in the back end"
As discussed with @Toflar, we want to add two options to the crawler in the back end: concurrency and max depth. Both should be set to `5` by default. The maximum number of requests will be calculated as `setMaxRequests($concurrency * 4)`.

![](https://user-images.githubusercontent.com/1192057/145795883-9961bba9-d816-4618-ae9c-a4fbcc7eef2c.png)

[2021-12-13 10:35] m-vo commented on #3809
:+1: in genereal, though I'm not sure whether a user does understand the implications of `Concurrency`. Shouldn't this be a system configuration?

[2021-12-13 10:38] Toflar commented on #3809
It's configurable on the CLI as well so I don't think that's needed.
However, ideally I would like to hide those options in some `Advanced options` legend maybe or whatever. That's why I have never created a PR...because I don't do UI 😄

[2021-12-13 13:38] zonky2 opened #3814 "Show only relevant options for multiple editing"
If multiple editing is activated, all columns of the table are displayed as "Existing fields" even if they do not fit or are not responsible for the selected content elements. This makes the list sometimes very long and you have to search for a long time until you find the field or fields.

It would be better if only the relevant fields were displayed here. This is implemented in the DC_General -

[2021-12-13 13:47] fritzmg commented on #3814
Should be doable. We'd just have to accumulate the fields for each applicable palette.

However, there might be edge cases where you would want to change the **type** of a content element for example _and_ also change a value that is otherwise only present in the new type.

[2021-12-13 13:57] zonky2 commented on #3814
In the DCG, dependent fields are also displayed - the condition is intercepted accordingly and a message is displayed stating that another field is required to display a field and that this should be selected. The advantage of the DCG is that you can navigate back and forth through the individual steps...

[2021-12-13 14:13] fritzmg commented on #3814
What I meant was:

* Assume you have two image content elements.
* Now you want to change the type of both of these content elements to `text` _and_ also change/add the text for each content element in one go.

Since the palette of the `image` content element does not contain the `text` field the field would then not be offered to be changed.

[2021-12-13 14:20] zonky2 commented on #3814
ahh - o.k., understood

perhaps it would be possible to display only all relevant fields as default and all fields via checkbox "show all"?

[2021-12-13 20:02] Total-Reality commented on #501
Das ist doch total unlogisch. Es kann nicht sein, dass die Seite in die XML-Sitemap aufgenommen wird, obwohl sie im Backend auf noindex steht. Bitte keine noindex in die Sitemap aufnehmen!

Google stresst die ganze Zeit, dass die Seiten auf noindex stehen, aber übermittelt werden. Fehler in der Search Console sind nie gut.

[2021-12-13 21:04] dguelden opened #3817 "SQL Error while deleting an news entry in Contao 4.9.23"
**Affected version(s)**

Contao 4.9.23 - Symfony bundle for the Contao Managed Edition

**Description**

Got an SQL Error if I will delete an news created an empty object. See attachment.

Installed modules:

Contao defaults (News, Kalender, FAQ, Kommentare, Newsletter, Auflistungen)

Extensions (Bot Detection Bundle, Besucher Statistiken, Merger², Google Maps, fipps/contao-rssimport-bundle, kmiel

[2021-12-14 08:17] ausi commented on #501
@Total-Reality wie soll denn ein Crawler den Links auf der Seite folgen können wenn diese nicht in der Sitemap steht?

[2021-12-14 09:30] zonky2 opened #3818 "Reihenfolge der Blöcke Metadaten bei Dateien bei mehreren Sprachen"
siehe https://contao.slack.com/archives/CK4J0KNDB/p1639469896369900

Aktuell ist die Reihenfolge lt. @fritzmg undefiniert - die Reihenfolge war mal mit der Sprache des BE-Users gekoppelt (diese als erste) aber das ist mit https://github.com/contao/core/issues/6254 verloren gegangen.

Die Reihenfolge anhand ggf. vorhandener Rootpages ist m.E. nicht unbedingt sinnvoll, da die Seiten nicht unbedingt

[2021-12-14 09:35] fritzmg commented on #3818
What about the other languages though? Which order should they have?

[2021-12-14 09:38] zonky2 commented on #3818
wie war es vorher? die Restlichen würde ich alphabetisch anordnen

[2021-12-14 10:00] leofeyer commented on #3818
Please don't post links to Slack here. Not everyone has joined our Slack workspace and even those who have haven't necessarily subscribed to the support channel. Provide a short issue description instead.

[2021-12-14 11:39] aschempp opened #3821 "Prevent password spraying in ModuleLogin"
As discussed in Mumble on June 6th, we need to track IP addresses in a table and block them if there are too many invalid login attempts. The number should not be too low (e.g. 20).

We might also be able to use a rate limit bundle for Symfony, although we have to ensure that it only limits failed login attempts and not a large number of successful login attempts.

_Originally posted by @leofeyer

[2021-12-14 12:37] m-vo commented on #3821
We should keep in mind that IP != user entity, especially for organizations that share a single gateway.

[2021-12-14 15:01] bytehead commented on #3821
I'll assign this to me and check what Symfony Security or possible bundles do offer here.

[2021-12-14 16:18] SeverinGloeckle commented on #3821
I had given some thought to this a few weeks ago.

As far as I know, there is no out-of-the-box solution for password spraying. However, Symfony 5.2 has introduced a [rate limiter](https://symfony.com/doc/current/rate_limiter.html) that can be used very well for this task.

From my point of view, the following points are important:
- The rate limiter works on failed authentications with one bucket

[2021-12-14 18:04] Total-Reality commented on #501
Wir wären sehr froh, wenn das so wäre.

Status Quo bei Contao 4.9:
Seiten, die auf noindex,follow im Backend gesetzt sind, werden in die XML-Sitemap übernommen. Und das ist nicht gut.

[2021-12-14 18:10] fritzmg commented on #501
You need to set the page to `noindex,nofollow`.

[2021-12-14 23:17] Total-Reality commented on #501
noindex,**no**follow ist für Seiten wie Datenschutz und Impressum keine korrekte Einstellung. Ich habe darüber mit einer renommierten SEO Agentur gesprochen, die sehr viele große Shops und Plattformen betreut. nofollow sollte man bei internen Seiten nicht einsetzen, da dies dem Crawling massiv schadet. Die Seiten müssen definitiv auf noindex,follow stehen.
Daher bitte die XML-Sitemaps nicht mit no

[2021-12-14 23:30] m-vo commented on #501
Daher bitte die XML-Sitemaps nicht mit noindex,follow Seiten bestücken

Das ergibt keinen Sinn. Dir ist bewusst, dass die XML Sitemap für Crawler gedacht ist und das Sitemap Modul für Nutzer? Du willst dem Crawler (ob extern oder über eigener) alle Links in der XML Sitemap auflisten, denen er folgen (follow) soll.

[2021-12-15 07:16] timgatzky opened #3823 "Backend Ajax-interactions like toggleFieldset, toggleSubpalette not working when a field named "action" is in the table"
**Affected version(s)**

Contao 4.9, Contao 4.12

**Not affected version(s)**
Contao 4.4

**Description**

A field named "action" seams to overwrite the Post information send by toggleFieldset (palettes open/close) and toggleSubpalette send by selectors and leads to a backend failure or redirects wrong to: DOMAN/[object%20HTMLSelectElement]

The problem seams that the submitOnChange fires the back

[2021-12-15 09:36] ausi commented on #501
Die renommierte SEO-Agentur liegt falsch, noindex,**no**follow schadet nicht dem „Crawling“.

@Total-Reality hast du eine Antwort auf meine Frage?

[2021-12-15 10:23] ausi commented on #501
See also: https://github.com/contao/contao/issues/2450#issuecomment-714585438

[2021-12-15 13:06] fritzmg opened #3824 "Back end logout redirects to front end"
**Affected version(s)**

Contao 4.x

**Description**

In Contao **4.9** and **4.12** the back end logout redirects to `/contao/login` after successfully logging out. In **4.x** the redirect goes to the front end (`Location: https://example.com/`).

[2021-12-15 20:34] ameotoko opened #3826 "Show start/stop publishing status for content elements"
### Description

Since we are going down this road: #3784, I would love to see `start`/`stop` values here as well😁

![image](https://user-images.githubusercontent.com/10257912/146260820-92d9a9f9-1c8d-40dc-9fd7-d9330c3c1521.png)

Should I make a PR?

[2021-12-15 20:35] bytehead commented on #3826
PRs are always welcome! ❤️

[2021-12-15 21:55] bytehead opened #3827 "Warning: Attempt to read property "parentPageTitle" on null"
### Affected version(s)

4.x / PHP 8.0

### Description

Happens while opening a layout in the Contao demo (backend, `/contao?do=themes&id=15&table=tl_layout&act=edit`):

[code]

I guess `$objPage` is never set in backend context or do I miss something here?

https://github.com/contao/contao/blob/b2bb27db3782884edd1f44e5aa9100a0d743910a/core-bundle/src/Resources/contao/library/Contao/InsertTags.ph

[2021-12-15 23:52] Total-Reality opened #3828 "Extend the allowed protocols in url fields (pagepicker)"
### Description

The "tel:" protocol works fine in url fields, but "skype:" links always are encoded to "skype:%3A".
Can you extend the allowed protocols here please?
https://github.com/contao/core-bundle/blob/e07bc271d6b1156fe88c92f980f15afc0bc1aa73/src/Resources/contao/library/Contao/StringUtil.php#L872

Alternative: Can you donate us a new option in the "eval" to extend the protocols by dca con

[2021-12-15 23:56] #3828 closed, assigned to nobody

[2021-12-16 07:53] leofeyer commented on #3826
Please also see contao/core-bundle#940 before starting to work on this.

[2021-12-16 08:10] #3827 closed, assigned to nobody

[2021-12-16 08:54] ameotoko commented on #3826
Thanks for that link, I was not aware how much thought has been put into this already. However, my proposal would solve (or at least ease) the problem in a different manner. It is easily implemented as it is just a few extra lines in `child_record_callback`.

The idea is to eliminate extra clicks just to see if there are any `start`/`stop` values assigned to an element. This is actually mentioned

[2021-12-16 08:55] ameotoko commented on #3826
May be the color can highlight the currently applied value?

![image](https://user-images.githubusercontent.com/10257912/146339559-a1f7cf23-820a-4277-958e-a40cb1d9998e.png)

[2021-12-16 09:06] ameotoko commented on #3826
However, I am concerned, that with [#3875](https://github.com/contao/contao/pull/3785) implemented, there will be too much going on in that space.

[2021-12-16 12:19] fkaminski opened #3834 "Asset Definition/Integration and Twig Template"
### Description

In previous (php/html5) templates the [assets integration (css/js)](https://docs.contao.org/manual/de/layout/templates/assets/) could be defined specifically:

[code]

With Twig templates this is probably not available.
As an alternative, an optional selection of .css/.js in connection with #3625 (New Content Element "Template") might be desirable.

[2021-12-16 12:27] m-vo commented on #3834
Long term we should avoid introducing this pattern, because that's IMHO what the response context could be used for. I do like the concept of templates being able to say "I need this resource", but we definitely need to encapsulate that. Accessing a common shared array is a big no-no (and not possible in standard Twig). :smile:

In the short term we will probably have to add functions like `addCss

[2021-12-16 15:23] leofeyer commented on #3663
As discussed in the Contao call, we want to deprecate the variable in the `DEPRECATED.md` file and directly add the units in the non-deprecated DCAs (only those that make sense there).

[2021-12-16 15:35] leofeyer commented on #3662
As discussed in the Contao call, we can only remove `$GLOBALS['TL_AUTO_ITEM']` if we also remove `useAutoItem` – which we want to do in Contao 5. We then have to adjust things like this to only query the auto_item parameter:

https://github.com/contao/contao/blob/8dbd9ba93e49826c20fca1f523e7fa8794b76741/news-bundle/src/Resources/contao/modules/ModuleNewsReader.php#L58-L68

So we also have to depre

[2021-12-16 20:06] dguelden commented on #3817
Update to version Contao 4.9.24.
The error is reproducible and is due to the expansion: https://github.com/fipps/contao-rssimport-bundle

[2021-12-16 20:07] bytehead commented on #3817
Then you have to report the issue over [there](https://github.com/fipps/contao-rssimport-bundle).

[2021-12-16 20:40] dguelden commented on #3817
Error is send to the contributors of fipps/contao-rssimport-bundle.

[2021-12-16 20:41] #3817 closed, assigned to nobody

[2021-12-16 22:21] bytehead commented on #3752
Closing in favor of #3837.

[2021-12-16 22:21] #3752 closed, assigned to bytehead

[2021-12-17 07:25] #3667 closed, assigned to nobody

[2021-12-17 10:05] fkaminski commented on #3834
Possibly also with pendant to the [previous options](https://docs.contao.org/dev/framework/asset-management/#adding-css-javascript-assets) like |static ?

[2021-12-17 10:57] Defcon0 opened #3840 "Change in 4.9.24 leads to empty Template variable"
### Affected version(s)

4.9.24

### Description

Hello,

since the latest 4.9 update we get a null error for the Template variable in the `getPageLayout` hook.

The concrete line is:

https://github.com/heimrichhannot/contao-head-bundle/blob/master/src/EventListener/HookListener.php#L52

It throws an error now because Template is null.

Is this with intention? How can we add functions to fe_page

[2021-12-17 11:06] fritzmg commented on #3840
Template functions should be added via the `parseTemplate` hook. See also https://docs.contao.org/dev/reference/hooks/parseTemplate/#examples

Using the `getPageLayout` Hook for this never worked, because the template was always created _after_ that hook was executed.

[2021-12-17 11:17] Defcon0 commented on #3840
Ah sorry, I meant `generatePage` hook. Is your argumentation still valid in this case?

[2021-12-17 11:21] fritzmg commented on #3840
`generatePage` is executed after the template is created.

But you are right, this is likely BC break now, as before 4.9.24 `PageRegular::$Template` was a publicly accessible, dynamic property and now it is a protected property. This is caused by https://github.com/contao/contao/pull/3822

[2021-12-17 11:23] fritzmg commented on #3840
In any case, you should still use the `parseTemplate` hook for this. `PageRegular::$Template` was never intended to be publicly accessible.

[2021-12-17 11:25] Defcon0 commented on #3840
I just changed it to be applied in parseTemplate hook which works :) Thanks for pointing me into the correct direction!

[2021-12-17 11:25] #3840 closed, assigned to nobody

[2021-12-18 10:22] marcfunkDE opened #3844 "Backend, Speichern Buttons leiten auf falschen Bereich um"
### Affected version(s)

4.12.4

### Description

Hallo Zusammen!

Wenn ich im Backend in der Seitenstruktur 1x etwas verändere und danach die Speicherbuttons in andere Bereiche nutze wie z. B. bei Artikel (Speichern & Schließen oder Speichern & zurück) lande ich nicht in der Übersicht oder beim letzten Element sondern irgendwo anders im System.

Ich habe es mit mehreren Browsern (Opera, Firefox u

[2021-12-18 11:01] ausi commented on #3844
Tritt derselbe Fehler auch mit der version 4.12.5 auf?

[2021-12-19 20:28] marcfunkDE commented on #3844
Guten Abend!

Habe gerade aktualisiert - bisher ist er immer in die richtige Maske zurück gesprungen. Scheint also erledigt zu sein.
Ich beobachte es weiter und gebe auf jeden Fall nochmals Rückmeldung.

[2021-12-20 07:46] bytehead commented on #3844
Sollte eigentlich mit https://github.com/contao/contao/pull/3787 behoben worden sein.

[2021-12-20 08:06] #3844 closed, assigned to nobody

[2021-12-20 11:09] Samson1964 opened #3847 "Zurück-Link landet irgendwo, aber nicht da wo man es erwartet"
### Affected version(s)

4.9.23

### Description

Seit der 4.9.22 oder 4.9.23 funktioniert der Zurück-Link nicht mehr richtig. Gerade habe ich in einer Nachricht den Zurück-Link angeklickt und landete in den Inhaltselementen eines Artikels, den ich am gleichen Tag mehrere Bearbeitungsvorgänge vorher offen hatte. Mein Kollege berichtet mir auch gerade, das er nach "Speichern und Schließen" im Dashb

[2021-12-20 11:09] aschempp commented on #3847
Dieser Fehler ist in der neusten Contao-Version behoben.

[2021-12-20 11:09] #3847 closed, assigned to nobody

[2021-12-20 11:32] fritzmg commented on #3847
@Samson1964 always update to the most recent Contao version first in order to check whether the issue still exists there.

[2021-12-20 16:29] mlwebworker opened #3849 "Brackets in the HTML comment are escaped"
### Affected version(s)

4.9.24

### Description

Verwendet man in einem HTML-Element innerhalb von einem HTML-Kommentar eine Klammer, dann wird diese escapt.
z.B. Google Tag Manager Einbindung mit dem üblichen Kommentar
Aus `` wird `` . Das ist zwar nicht wirklich schlimm, aber eben auch nicht schön.
Mir scheint es auch nicht notwendig, dass Contao aus Sicherheitsgründen auch im Kommentarbereich

[2021-12-20 17:22] cmartin6 opened #3851 "DCA tl_form_field "toggleIcon" method not working as expected"
### Affected version(s)

4.9.21-4.9.24

### Description

If I press the "toggleIcon" button of a form-element and reload the page, the item is not set to "invisible". I managed to find the according error-message in the logs: `Argument 1 passed to Contao\DcaLoader::{closure}() must be an instance of Contao\DataContainer, null given`

I debugged into the code of the dca file `tl_form_field.php` and

[2021-12-20 17:31] fritzmg commented on #3851
Use the debug mode and post the complete stack trace please.

[2021-12-20 17:45] cmartin6 commented on #3851
How do I use the debug mode in combination with ajax-requests from the backend?

[2021-12-20 17:55] fritzmg commented on #3851
Look at the Symfony toolbar - there 🔴 you will find the AJAX requests and you can open the profile of each request 🟡:

![image](https://user-images.githubusercontent.com/4970961/146811206-68fafccc-1778-4e92-80af-75f0bfa45100.png)

[2021-12-21 07:58] ausi commented on #3849
Kommentare in HTML sind leider recht komplex da es viele Parsing-Regeln zu beachten gilt. Dass die runden Klammern enkodiert werden liegt an der `Intput::encodeSpecialChars()`-Methode. Auf den ersten Blick würde ich keine Probleme damit sehen die runden Klammern dort nicht zu enkodieren, allerdings ist es sehr schwer die möglichen Auswirkungen abzusehen.

Für die Sicherheit würde ich es so belasse

[2021-12-21 08:10] bytehead commented on #3849
Sonst einfach ein HTML-Element mit custom Template für den GTM-Tag verwenden, da wird nichts escaped und das Template lässt sich z.B. auch via Git versionieren.

[2021-12-21 08:55] mlwebworker commented on #3849
Ok, dann bleibt es dabei. Mir ging es auch nicht um den konkreten Fall, sondern allgemein um die möglicherweise unschöne Ausgabe von HTML-Kommentaren.
Ich schließe das Ticket.

[2021-12-21 08:55] #3849 closed, assigned to nobody

[2021-12-21 09:23] fkaminski commented on #3566
Just a reminder.
If you put {{ dump() }} in the Twig template it works in debug mode. Otherwise you get an error message:

`Uncaught PHP Exception Twig\Error\SyntaxError: "Did you forget to run "composer require symfony/debug-bundle"?"`

[2021-12-21 10:07] m-vo commented on #3566
Cannot confirm this. Please make sure the `symfony/twig-bridge` got installed in your application and open up an issue if the error still persists after a `composer update`. The `dump()` function should return nothing in production but not fail.

[2021-12-21 10:56] fritzmg commented on #3566
I can confirm the problem. Using

[code]

will yield

[code]

This error is in fact thrown by `symfony/twig-bridge`.

[2021-12-21 14:55] m-vo opened #3853 "Using the dump() Twig function in prod produces an error"
I can confirm the problem. Using

[code]

will yield

[code]

This error is in fact thrown by `symfony/twig-bridge`.

_Originally posted by @fritzmg in https://github.com/contao/contao/issues/3566#issuecomment-998679794_

[2021-12-22 06:19] cmartin6 commented on #3851
Thank you Fritz - here is the complete stack trace of the specific AJAX request:

`TypeError:
Argument 1 passed to Contao\DcaLoader::{closure}() must be an instance of Contao\DataContainer, null given, called in /Users/clemensmartin/Sites/traubebraz/var/cache/dev/contao/dca/tl_form_field.php on line 835

  at var/cache/dev/contao/dca/tl_form_field.php:1144
  at Contao\DcaLoader->{closure}(null)

[2021-12-22 08:33] bennyborn commented on #3688
So here is a quick PoC based on a modified `preview_toolbar_base_js.html.twig` from 4.9.22.

Quick explanation:

- Created a wrapper element to encapsulate the whole thing
- Created the actual Shadow DOM with mode `open` so the contents can be modified by the rest of the JS and attached it to the wrapper
- Moved all the toolbar related styles inside the Shadow DOM
- Attaching the "original" toolba

[2021-12-22 08:34] markocupic opened #3854 "Folder::isEmpty() returns false when the folder contains the ".public" file only."
### Affected version(s)

4.x.x

### Description

When a folder is "almost empty" and there is only the .public file left in it, `Folder::isEmpty()` returns a boolean `false`. Shouldn't it return a boolean `true`?

[2021-12-22 09:02] fritzmg commented on #3854
I would say no. While Contao's `Folder` class does communicate with the DBAFS, it is otherwise independently just an abstraction to deal with any folder within the project.

[2021-12-22 09:03] m-vo commented on #3854
I agree with this. :+1:

We could however take this into account for our new filesystem abstraction.

[2021-12-22 09:09] fritzmg commented on #3854
And otherwise you can always use [Symfony Finder](https://symfony.com/doc/current/components/finder.html):

[code]
(or something like that, haven't tested)

[2021-12-22 09:12] fritzmg commented on #3851
Please use three backticks to post the stack. Also your Contao internal cache seems to be built, even though you are in dev mode. Please delete `var/cache/dev` and try again (do not run `cache:warmup --env=dev`).

[2021-12-22 10:07] cmartin6 commented on #3851
I deleted the `var/cache/dev` directory - here is the stack trace:

[code]

[2021-12-22 10:24] fritzmg commented on #3851
This is an issue with [inspiredminds/contao-wowjs](https://github.com/inspiredminds/contao-wowjs) and not an issue with Contao. It is now fixed in version 1.1.3 of the extension.

[2021-12-22 10:24] #3851 closed, assigned to nobody

[2021-12-22 13:41] fritzmg opened #3856 "Cannot use fragments for RSS feeds with "Full stories""
### Affected version(s)

4.9, 4.12, 4.x

### Description

If one of your news articles uses fragment content elements, the following error will occur when executing `contao:cron` and the RSS feed is set to "Full stories":

[code]

### Reproduction

1. Create a custom content element as fragment [1].
2. Create a news archive.
3. Create a news article within the archive.
4. Add the fragment content

[2021-12-22 15:28] leofeyer opened #3860 "Remove `$GLOBALS['TL_AUTO_ITEM']` and `useAutoItem`"
As discussed in the Contao call, we can only remove `$GLOBALS['TL_AUTO_ITEM']` if we also remove `useAutoItem` – which we want to do in Contao 5. We then have to adjust things like this to only query the auto_item parameter:

https://github.com/contao/contao/blob/8dbd9ba93e49826c20fca1f523e7fa8794b76741/news-bundle/src/Resources/contao/modules/ModuleNewsReader.php#L58-L68

So we also have to depre

[2021-12-22 15:28] #3663 closed, assigned to nobody

[2021-12-22 15:28] leofeyer commented on #3662
Follow-up issue: #3860

[2021-12-22 15:28] #3662 closed, assigned to nobody

[2021-12-22 17:10] #3586 closed, assigned to nobody

[2021-12-23 17:33] #3854 closed, assigned to nobody

[2021-12-23 17:33] markocupic commented on #3854
@fritzmg @m-vo thank you!

[2021-12-26 13:51] bytehead commented on #3824
Closing in favor of #3868

[2021-12-26 13:51] #3824 closed, assigned to bytehead

[2021-12-26 14:45] bytehead commented on #1515
I don't think we can remove our custom rememberme hashing as the hashing method is private in Symfony 5.2:
https://github.com/symfony/symfony/blob/7fa617d4175e08a3d8e1cb5d67aa4523ad034dd8/src/Symfony/Component/Security/Http/RememberMe/PersistentTokenBasedRememberMeServices.php#L132

And this service is deprecated since Symfony 5.4 I don't know how much sense this change would make? I would rather

[2021-12-27 09:04] #3588 closed, assigned to nobody

[2021-12-27 10:58] leofeyer commented on #1515
That would be even better. 👍

[2021-12-27 17:35] Physiklehrer opened #3870 "Feature: Navigationsmenü mit Bildern"
### Description

Liebes Core-Team,

Contao hat ja zwei tolle Features: die Bildgrößen-Verwaltung und die vielfältigen Möglichkeiten zur Erstellung von Navigationsmenüs aus der Seitenstruktur. Viele Webseiten werten ihre Navigation aber mit Bildern auf, weshalb es toll wäre, beides besser kombinieren zu können.

Hierzu müsste es lediglich die Möglichkeit geben, bei der Seitenstruktur für jede Seite

[2021-12-27 19:24] contaoacademy commented on #3870
Sieh dir doch dazu einmal die Erweiterung "terminal42/contao-pageimage" an. Ich denke mit dieser Erweiterung einer individuellen Anpassung im Template der Navigation könnte das realisiert werden. Ich bin mir nicht sicher, ob die Funktion wirklich in den Core gehört.

[2021-12-28 15:45] sietsevandreven opened #3874 "Using ALT + C goes back too many pages"
### Affected version(s)

4.12.4

### Description

Normally when using ALT + C to save and close, you're directed to the previous page. But most of the time I'm directed 2 pages back, sometimes even 3.

[2021-12-28 15:56] aschempp commented on #3874
does this also happen if you press the save & close button?

[2021-12-28 15:58] sietsevandreven commented on #3874
Unfortunately, yes

[2021-12-28 16:02] aschempp commented on #3582
I guess this exact problem would be fixed if the `Files` class either uses the system temp dir or creates `system/tmp/` on the fly.

[2021-12-28 16:04] leofeyer commented on #3874
Please make sure to test with the latest Contao version 4.12.5. I'm pretty sure that we have already fixed this issue.

[2021-12-28 16:13] richardhj opened #3875 "Aliases for frontend modules"
As discussed in #3838 / https://github.com/contao/contao/pull/3838#discussion_r775751996 we should introduce "aliases" for frontend modules.

The use case is a more user-friendly use of insert tags (or Twig functions).

**Examples:**

[code]
[code]

The alias should be unique per theme (`UNIQUE 'alias_index' ('alias', 'pid')`). This would allow easy switching of frontend themes: `{{insert_module::

[2021-12-28 17:05] bytehead commented on #3875
Are you gonna work on that or do you extract it from #3838? I would like to see it in 4.13 😬 Hit me up If I should create a PR 👍

[2021-12-28 17:15] richardhj commented on #3875
This is the extracted logic from #3838: https://github.com/contao/contao/pull/3838/commits/885a3eb5098e25a2af942873f65b01eab56ed93d

I can create a PR for this issue but we need to decide on a concept of aliases before.

Is it as easy as introducing a tl_module.alias field and updating the InsertTagParser?

[2021-12-28 17:31] bytehead commented on #3875
IMO yes. At least a point to begin with :)

[2021-12-29 07:58] aschempp commented on #3688
@bennyborn nice! would you be able to do a pull request on that?

[2021-12-29 08:21] aschempp commented on #3821
Sorry I don't understand the concept. How does a bucket per invalid **password** help, and why is the authentication invalid if the bucket is empty but the password correct?

[2021-12-29 10:44] fritzmg commented on #3582
The `Files` class currently expects everything to be in the `kernel.project_dir` though - so it cannot really use the system temp dir, unless we allow the `Files` class to work outside of `kernel.project_dir` as well (also noticed via https://github.com/terminal42/contao-notification_center/issues/250).

[2021-12-29 11:32] Physiklehrer commented on #3870
Vielen Dank, im Store hatte ich nicht recherchiert- tatsächlich deckt die Erweiterung Punkt 2 komplett ab, sogar mit Slider, super :-).

Es bleibt Punkt 1, das Navigationsmenü mit Bildern. Das gibt es ja auch beim Menü von Contao.org und wird dort mit individuellen CSS-Klassen und Background-Links in der CSS gelöst - nicht sehr "schön", oder denke ich zu akademisch? Wenn man das Menü mit Pixelgraf

[2021-12-29 11:42] fritzmg commented on #3870
But you can do that with the aforementioned extension too? Within your navigation template you can access any variables of the page you want. May be implement a `parseTemplate` hook to automatically provide the necessary HTML code, without having too much business logic in the template itself.

[2021-12-29 21:28] kroerig opened #3880 "Integration von PeerTube für Videos"
### Description

Hallo,

es wäre schön, wenn neben Youtube auch Videos von Peertube-Instanzen komfortabel eingebunden werden könnten.
Die Doku zur API findet sich hier: https://docs.joinpeertube.org/api-embed-player
Es müsste aber der Instanzname jeweils abgefragt werden.

Ich bin leider kein Entwickler.

[2021-12-29 21:34] kroerig commented on #3178
I would prefer having a simple default play button and a hint for GDPR. Maybe the last one should be configurable in the settings because it's content may differ from platform to platform.

[2021-12-29 23:00] fritzmg opened #3881 "Twig dump() not shown in Symfony Profiler"
### Affected version(s)

4.12, 4.x

### Description

I noticed that when using `{{ dump(…) }}` in Twig templates (at least the ones inheriting from a legacy template, like a `fe_page.html.twig` template) the output is directly printed to the page - and not collected in the Symfony Profiler under _Debug_. Shouldn't this be the case @m-vo ? 🤔

[2021-12-29 23:33] Toflar commented on #3880
Das wäre dann wohl eher ein Fall für eine Erweiterung und nicht für den Core.

[2021-12-30 08:47] kroerig commented on #3880
Youtube und Vimeo sind auch im Core enthalten.

[2021-12-30 08:50] bytehead commented on #3880
Ist wohl auch dem Marktanteil geschuldet.

[2021-12-30 09:38] bennyborn commented on #3688
@aschempp Sure. I'm back in the office next week.

[2021-12-30 11:23] aschempp commented on #3881
are you by chance using this in an ESI fragment or a subrequest (inline fragment)?

[2021-12-30 11:40] fritzmg commented on #3881
No, in an `templates/fe_page.html.twig` for example. Does it work for you?

[2021-12-30 12:18] bytehead commented on #1515
As discussed with @aschempp today, we won't update this in 4.13 as there is no benefit. I will exchange our custom RememberMe solution for Contao 5.0.

Note: Support for parallel requests (e.g. for our ESI requests) was added in 5.3: https://github.com/symfony/symfony/pull/41175

[2021-12-30 12:35] #2523 closed, assigned to nobody

[2021-12-30 14:50] Physiklehrer commented on #3870
Many thanks for your suggestion! Feel free to close this issue, if you think that an easy way to build navigation menus with icons/images is not worth a core feature.

[2021-12-31 13:00] aschempp commented on #3582
see https://github.com/contao/contao/pull/3887 for a bugfix

[2021-12-31 20:29] ausi commented on #3661
Closed in favor of #3888

[2021-12-31 20:29] #3661 closed, assigned to ausi

[2022-01-01 14:38] SeverinGloeckle commented on #3821
Let's first distinguish between two possible attacks:

- Password spraying: One (or more) common passwords are spammed across many different account names.
- Credential stuffing: A list of common combinations of usernames and passwords (or combinations that have become known through a data breach) are spammed.

Since in both cases the attacks are spread over many different accounts, the existing p

[2022-01-01 15:57] ausi commented on #3821
To keep it simple we could add rate limiting that can limit based on different keys, for example rate limits:

- Per username, a low limit like 5 attempts all 5 minutes
- Per IP address, something higher like 10 attempts per minute
- Per password, this can be pretty low too I think.

But the rate limit per password is very difficult to get right. Because it could itself be used to find out used pa

[2022-01-04 11:24] leonexcc commented on #3782
We decided to hot-patch this in our application and we hope this gets fixed some day.

[2022-01-04 11:56] fritzmg commented on #3782
Did you try my suggestion? Imho the setup I described is best practise anyway.

[2022-01-04 13:16] aschempp commented on #3821
Thanks for the heads-up @SeverinGloeckle. If we only allow one password per bucket, wouldn't that be a problem if I mistype my username (and try again) but entered a correct password?

[2022-01-04 13:29] #3870 closed, assigned to nobody

[2022-01-04 16:08] leonexcc commented on #3782
We didn't want to change to much in our current setup. And we actually liked the redirect function. With the one line patch everything worked like a charm. So we went with "Never change a running system (to much)".
In a new system i might do it like the setup above (for some reason it seams more intuitive with the redirect to me). But i still think this should be fixed too, since this missing enco

[2022-01-05 09:14] m-vo commented on #3881
That's normal behavior, I think, and the same in a regular Symfony app: using `dump` in templates always outputs it at the respective place in the template. IMHO that kind of makes sense as you are controlling the templates anyway and you would loose the context (the exact place where it's output) when outputting to the debug toolbar.

Do you have a use case where this would be favorable?

[2022-01-05 09:38] fritzmg commented on #3881
I don't really have a use case, just find it odd that it is different in Twig Templates. Depending on your HTML/CSS, directly outputting it can make it hard to read.

And it not showing up in the profiler at all is also intended?

[2022-01-05 09:53] m-vo commented on #3881
Likely a side effect of this decision. That would probably be a valuable addition, should we pitch it to Symfony?

[2022-01-05 10:20] m-vo commented on #3875
Especially if this doesn't end up in 4.13, we should IMHO ignore insert tags and go Twig-only. Or in other words: we should not (further) promote inserting elements via insert tags. :slightly_smiling_face:

In Twig we could maybe even enhance the include/embed functionality to support modules or add a `{% module %}` language construct, so that you would benefit from composition inside tempaltes, i

[2022-01-05 10:39] Anke opened #3893 "rss/atom-feed: Self reference doesn't match document location"
### Affected version(s)

4.10.7

### Description

Hi,

as described in https://github.com/contao/core/issues/5478 for Contao 3, I still get this recommendation by the Feed Validation Service for Contao 4.10.7:

Nothing serious, I know, but maybe worth looking after?

[2022-01-05 10:41] fritzmg commented on #3881
I think we should. imho the downsides of this outweigh the upside of seeing the dump at exactly the position the template is used - and even that is questionable in my opinion.

Also consider AJAX requests for example: the Symfony Toolbar conveniently will directly show the link to the Profiler for each AJAX request happening on the page and then you could click the Profiler URL of the respective

[2022-01-05 10:45] fritzmg commented on #3893
Contao 4.10 has long reached the end of its lifespan. The current Contao versions are 4.9.24 and 4.12.5 respectively.

Regarding your issue: which **Base URL** did you provide in your RSS feed's settings? It appears you used `http://` instead of `https://`. Your RSS feed is _not_ available under `http://djk-kanu.de/share/termine-djk-kanu.xml`.

[2022-01-05 10:54] m-vo commented on #3881
Good point with AJAX reqests. For other cases I like that it's output in place - for example when rendering lists of things, you can dump a property of a single thing and directly see the value of each one. Most of the time I think you would not use `dump()` (without a parameter), but dump single literals/objects in which case the size of the debug output is quite small and works inside your layou

[2022-01-05 11:24] Anke commented on #3893
I know, an update is overdue...

The provided base URL is `https://djk-kanu.de/` and the feed is available under `https://djk-kanu.de/share/termine-djk-kanu.xml`

[2022-01-05 12:27] fritzmg commented on #3893
But the source still says

[code]

Double check the setting.

You always need to update to the most current Contao version and reproduce the error there first, before filing a possible bug report. But in your case the issue is likely a misconfiguration.

[2022-01-05 13:02] Anke commented on #3893
Okay, I checked everything once more. RSS settings is https, and in the starting point settings the protocol is also set to https. However I found a hreflang tag in the page layout with http only and added the missing s. Seems to be working now.

Thank you for your quick help! And for your advice concerning the current version.

[2022-01-05 13:03] #3893 closed, assigned to nobody

[2022-01-05 20:56] richardhj commented on #3875
In the meantime, I refined my requirements on module aliases:

The module's alias should not be unique per theme but we should allow multiple aliases per theme.

In some projects, you have to create multiple modules that deliver the same function. One example is the news module, where you usually create one module for each language with differing jumpTo instances.
These modules should become the s

[2022-01-06 08:54] aschempp commented on #3875
sounds like something https://github.com/contao/contao/pull/3613 already solves (partially)

[2022-01-06 09:25] SeverinGloeckle commented on #3821
Since a bucket contains multiple tokens, a mistyped password is no problem. Assume a password spraying limiter based on a very strict per-password bucket with 2 tokens, adding one token per minute.

**Example 1 (mistyping a password):**
- Authentication with k.jones // pasword
	wrong password, bucket for password "pasword" now contains 1 tokens
- Authentication with k.jones // password
	correct pa

[2022-01-06 09:41] SeverinGloeckle opened #3894 "Possible BC break with protected `$Template` property"
### Affected version(s)

4.9.24, 4.12.5

### Description

The new `protected $Template` property added in https://github.com/contao/contao/pull/3822 breaks existing code which accesses or modifies the template property of an object which didn't have the property before.

Before the change, the `Template` was added to the object's `arrData` dynamically and thus accessible via its magic methods.

Fo

[2022-01-06 09:42] aschempp commented on #3894
@contao/developers didn't we discuss to revert that?

[2022-01-06 09:44] SeverinGloeckle commented on #3894
In case the use-case was never supported and will not get fixed, a possible fix from the developer's side would be using reflection to access or modify the template property:

[code]

However, using a different way to access the template is preferable (e.g another hook).

[2022-01-06 09:45] leofeyer commented on #3894
We have already discussed this and agreed to make the property public. @SeverinGloeckle Will this solve your problem?

[2022-01-06 09:49] SeverinGloeckle commented on #3894
Yes, `public $Template` will fix all issues and make the template accessible again.

[2022-01-06 10:16] zonky2 opened #3895 "Installtool: output list of templates sorted"
### Description

Installtool: output list of templates sorted - currently unsortet

![Clipboard04](https://user-images.githubusercontent.com/1045318/148367424-4a422564-38ea-4911-9881-229954d5ab91.jpg)

[2022-01-06 10:24] aschempp commented on #3894
I'm not sure we can make it public. It would break for anyone currently setting the property as `protected` or `private` in their child class.

[2022-01-06 10:26] fritzmg commented on #3894
imho we should revert all previous changes and only fix the originally affected classes (`PageRegular`).

[2022-01-06 11:57] leofeyer commented on #3894
Shouldn't we at least add a `System::__set()` method that allows to set `$this->Template`? This would be backwards compatible and still allow us to remove the existing `public/protected $Template` properties.

[2022-01-06 13:37] SeverinGloeckle commented on #3894
It's the same as with the new protected property, just the other way around, isn't it?

Handling the template in `__set` wouldn't cover all use-cases since the property would still be protected and inaccessible from the outside (see hook example above).

Since the `Controller` class doesn't provide its own magic methods, a fix could be provided by using something like a `TemplatePropertyTrait` in

[2022-01-06 15:46] aschempp commented on #3894
No. You can make a property `public` in your child class if it is `protected` in the parent, but not he other way around.

[2022-01-07 09:37] Toflar opened #3897 "Possible improvement for InsertTags::encodeHtmlAttributes()"
### Affected version(s)

all

### Description

Noticed this using Tideways.

In my case, `InsertTags::encodeHtmlAttributes()` is called 11 times and requires almost 100ms.

- 9000 `preg_match()` calls itself
- 14000`preg_match()` calls in `fixUnclosedTagsAndUrlAttributes()`

Maybe there's a possibility to have some early returns here?

/cc @ausi

[2022-01-07 10:07] leofeyer opened #3898 "Move assets/images/deferred to var/deferred-images"
### Description

Because the JSON files are not meant to be accessible via HTTP.

[2022-01-07 11:49] leofeyer opened #3899 "Remove the root page alias?"
### Description

Do root pages really need a page alias? What are the use cases in which you directly link to a root page?

[2022-01-07 12:34] aschempp commented on #3899
I often select a root page as target link if I want to redirect to another domain in the same installation. I _could_ link to the index page, but that page might change. But even if I select a root page, the page does not necessarily need an alias, it might just generate the URL for its first subpage (or just the root of that domain actually) 🙃

[2022-01-07 13:31] ausi opened #3900 "Deprecate the timeZone setting"
See https://github.com/contao/contao/pull/3888#issue-1091663482

[2022-01-07 13:46] fritzmg commented on #3900
As mentioned in https://github.com/contao/contao/pull/3888#issuecomment-1003565893 I think it is important that the application itself defines the timezone that any entered (non absolute) date strings refer to - and not the server environment. So even if we deprecate the setting, there should still be an alternative.

The concept of having different time zone settings per back end user is somethin

[2022-01-07 14:02] fritzmg opened #3901 ""Unknown option: regular" when creating a new website root"
### Affected version(s)

4.12, 4.x

### Description

Currently when creating a new website root, the pre selected page type will be `regular`. The type select will then show `Unknown option: regular` and you have to manually switch back to the _Website root_ page type.

/cc @aschempp

[2022-01-07 15:00] aschempp commented on #3901
Thats because the database field default is `regular` but we filter the options. I would suggest to remove the default, the dropdown will choose it for us.

[2022-01-07 15:05] leofeyer opened #3903 "Should we show the conflicting pages?"
### Description

https://github.com/contao/contao/blob/df10500be0123729bcd59736a870229df00c6ce9/core-bundle/src/EventListener/DataContainer/PageUrlListener.php#L270

The return value is the which page conflicts, should we display that? (Follow-up on #3843)

[2022-01-07 15:32] leofeyer commented on #3899
Exactly.

[2022-01-07 15:34] fritzmg commented on #3901
That alone won't work unfortunately. The edit mask will look like this then:

![image](https://user-images.githubusercontent.com/4970961/148567021-ec2d4313-53e7-47df-85bf-dd05e5502438.png)

[2022-01-07 16:45] #2891 closed, assigned to nobody

[2022-01-09 11:56] Total-Reality opened #3906 "Support HTML emails (for newsletter & registration e.g.)"
### Description

The default text emails are very ugly.
It is currently not possible to send HTML emails in the contao core modules in an easy way. It is possible to do this, but I need to clone the whole ModuleSubscribe.php and also parts of the OptIn Logic. This is extreme for such a simple thing... it is too complicated.

So can you just add three new lines her please?

https://github.com/conta

[2022-01-09 11:59] fritzmg commented on #3906
Or use the [Notification Center](https://github.com/terminal42/contao-notification_center).

[2022-01-09 12:33] m-vo commented on #3821
@SeverinGloeckle If I get this correctly, using buckets would also protect against denial of service attacks (i.e. noone can login anymore), right?

[2022-01-09 12:43] Total-Reality commented on #3906
No sorry, I don't like this extension. It's too complicate.
My wish is a simple "feature" which should be part of the core. Why should I install an extension which installs so many files und reduces my performance?

[2022-01-09 12:50] m-vo commented on #3906
Could you please stop with these bold and false claims? Your initial feature request itself is valid and having functionality, like the notification center provides, as part of the core, is a wish many have. I'd be :+1: if anyone finds the time and energy to migrate it. But sentences like this really do not want me to look any further.

[2022-01-09 12:52] fritzmg commented on #3906
Generally I agree though that the emails sent by the core lack the ability to be customised. For instance only `contao/newsletter-bundle` actually uses the `mail_default` template. Everything else sends text emails with the bare minimum.

[2022-01-09 14:09] Total-Reality commented on #3906
It's not a good argument, that sth. should not be implemented, because there exists an extension. Contao is much better than any other CMS, because very nice features are implemented in the core system already.

I'm sorry, but these are not false claims. I made it clear that I **personally** don't like this extension. But you are also quite subjective. There are often problems with third-party ext

[2022-01-09 19:52] ausi commented on #3906
I was not able to reproduce that. How did you measure these performance losses? And what are the exact results?

If that would be the case, adding your few lines of code would result in performance losses for every user of Contao, right?

[2022-01-10 08:37] SeverinGloeckle commented on #3821
A per-password rate limiter provides a pretty high protection against denial of service attacks targeting the point of authentication.

However, as @ausi suggested in https://github.com/contao/contao/issues/3821#issuecomment-1003576897, there probably should be rate limiting for various events.

A per username limit however is easy to target with a denial of service attack if you know the username

[2022-01-10 09:06] aschempp commented on #3901
did you by any chance test this in Contao 4.12 as well? Because I think it should behave the same (incorrect) way.

[2022-01-10 09:06] aschempp commented on #3899
unfortunately, our routing does not support that yet 😂

[2022-01-10 09:24] fritzmg commented on #3901
Yes, this also happens in Contao 4.12.

[2022-01-10 10:00] ausi commented on #3821
If you hit the rate limit, the response will (potentially) be faster because no user gets fetched from the database.

Creating a new bucket (meaning an unused password) could take longer than updating an existing bucket (meaning this password was used recently).

Another problem is, that these buckets would store the (hashed) passwords. So if the server gets compromised, weak passwords could be cr

[2022-01-10 10:42] fritzmg commented on #3901
Never mind, this is actually an error in [terminal42/contao-folderpage](https://github.com/terminal42/contao-folderpage/).

[2022-01-10 10:42] #3901 closed, assigned to nobody

[2022-01-10 11:07] leofeyer opened #3907 "How to associate listeners with DCAs?"
### Description

The original discussion is here: https://github.com/contao/contao/pull/3630#pullrequestreview-824357882

<img width="808" alt="" src="https://user-images.githubusercontent.com/1192057/148756107-bba8776f-5636-423c-874e-7c0ce6230575.png">

A possible solution besides using static functions as `options_callback` would be to just add comments:

https://github.com/contao/contao/blob/6e

[2022-01-10 11:21] leofeyer opened #3908 "Move the imgSize labels to the default.xlf file"
### Description

Since we are using the exact same strings in `tl_content.imgSize` and `tl_module.imgSize`, we should probably move them to `MSC.imgSize` so we can reuse them in #3630.

[2022-01-10 11:31] fritzmg commented on #3907
The callback can still be a service with proper DI but still be set in the DCA itself. After all this is what happens in the end anyway.

Besides we already do this for re-usable event listeners like `AvailableTransports` anyway:

* https://github.com/contao/contao/blob/6e3156a0703917cd137d26ecbe3765130aed8276/newsletter-bundle/src/Resources/contao/dca/tl_newsletter_channel.php#L169
* https://gith

[2022-01-10 11:32] m-vo commented on #3907
In this specific case it's probably best to implement a generic listener in the core bundle and use tagging (optionally with a comment). But for the news and calendar bundle, it would probably be the easiest to just use `[Contao\CoreBundle\…\TheListener::class, 'method']` in the DCA file to reuse the listener. Otherwise you would need a compiler pass to add tags, no?

[2022-01-10 11:33] m-vo commented on #3907
@fritzmg wins the race by 8s. :racehorse:

[2022-01-10 12:40] SeverinGloeckle commented on #3821
I agree. It's a good first step and already provides a fairly high level of protection - especially in combination with the already present two factor authentication.

If a specific protection against password spraying should be required, it may be added later on.

[2022-01-10 13:06] SeverinGloeckle commented on #3907
Adding comments to the DCA files is, in my opinion, only addressing the symptoms and will probably be a pain to maintain.

The urge to see the source of options or callbacks directly in the DCA is understandable, but is no longer in line with the current state of development.

Even if some callbacks are highlighted in the DCA, there will almost always be modifications that are added outside of the

[2022-01-10 13:12] aschempp commented on #3907
That's exactly why the `DebugDcaCommand` is here, so you can see the actual structure and because I didn't see where the callbacks are from 🙃

[2022-01-10 13:31] Toflar commented on #3907
I agree, the command is the only correct solution. The DCA location would only suggest there is a listener but it could be removed by some other code. In fact, it can even provide wrong information. The callback is just the same as any event, where you also use the `debug:event-dispatcher` command.

[2022-01-10 14:15] #3632 closed, assigned to nobody

[2022-01-10 16:25] #3908 closed, assigned to leofeyer

[2022-01-10 17:28] Total-Reality commented on #3906
To take a simple example: Are you suggesting me that a PHP file or another script with 10,000 lines of code doesn't load faster and isn't processed faster than a script file with 1,000,000 lines of code?

I know it doesn't have these dimensions, but small cattle also make crap.

[2022-01-10 17:32] fritzmg commented on #3906
This discussion is unrelated to this issue. Please discuss this in a community of your choice, not here.

[2022-01-10 18:15] Total-Reality commented on #3906
Yeah, you are right. Thank you, I also don't want to discuss this here. Your mates m-vo and ausi asked me some provocative questions. Sorry for my answers. OMG.

Back to topic: I can create a pull request perhaps.

[2022-01-11 12:21] fritzmg commented on #3894
My own extension [fritzmg/contao-inherit-article](https://github.com/fritzmg/contao-inherit-article) is affected by this too 🙃

[2022-01-11 19:17] ausi commented on #3894
Agree.

[2022-01-12 08:39] bytehead commented on #3894
Is this related (4.9.24)?

<img width="1046" alt="Bildschirmfoto 2022-01-12 um 09 37 52" src="https://user-images.githubusercontent.com/754921/149092680-9786d197-3d67-4cd5-bec0-6fa73449fe92.png">

[2022-01-12 08:48] fritzmg commented on #3894
Yes :)

[2022-01-12 15:32] ausi opened #3921 "Reevaluate StringUtil::encodeBase32()"
See https://github.com/contao/contao/pull/3848#issuecomment-1011077518 and https://github.com/contao/contao/pull/3848#issuecomment-1011158164

[2022-01-12 15:35] m-vo opened #3922 "Use file mounts instead of configurable paths"
Something we might want to discuss related to #3774:

With VFSs in place, we could/should probably deprecate all configurable paths and suggest to use mounting instead. This would include the image assets path, the upload dir, this new config and possibly more.

The current default (whatever it is `assets/images` or `var/images` …) would then become just an identifier. If we wanted to switch locat

[2022-01-12 15:37] m-vo opened #3923 "Should events and other things be logically grouped or in a common namespace?"
One issue unrelated to the functionality: In my opinion, the events would be better off in their own sub-namespace (e.g. `Contao\CoreBundle\Event\Twig`, `Contao\CoreBundle\Event\Template` or similar).

Since more and more events will be added, we should start structuring the namespace rather sooner than later.

_Originally posted by @SeverinGloeckle in https://github.com/contao/contao/issues/3913#

[2022-01-13 15:23] leofeyer commented on #3903
As discussed in the Contao call, we could show the page name and the ID: _This alias already exists in page "Foobar" (ID 12)_

[2022-01-13 15:45] #3907 closed, assigned to nobody

[2022-01-13 16:10] m-vo commented on #3923
As discussed on the Contao Call on 13th of january we want to use logical grouping by 'components' in the future. So rather `Twig/Event/FooEvent` than `Event/Twig/FooEvent`. This also holds true for other things like exceptions.

[2022-01-13 16:10] #3923 closed, assigned to nobody

[2022-01-13 16:15] aschempp commented on #3903
see #3924

[2022-01-13 16:15] #3903 closed, assigned to nobody

[2022-01-13 16:50] Shania567 opened #3925 "Berücksichtigung des canocical tags erfolgt nicht im Crawler für den Seitenindex und bei der Suche nach defekten Links"
### Affected version(s)

4.9.24

### Description

Hallo zusammen,
nach dem Upgrade auf Contao 4.9 bin ich auf ein Problem gestoßen:

Contao 4.9.24
php 7.4
MM 2.2
und diverse weitere Erweiterungen
Maria DB 10.5.11

Das Upgrade von Contao 4.4 auf Contao 4.9 habe ich wegen MM erst jetzt durchgeführt. Meine Seite hat mehrere MMs mit zahlreichen Filtermöglichkeiten. Jeder Filter erzeugt eine eigene URL

[2022-01-13 17:07] Toflar commented on #3925
Backporten ist leider nicht so einfach, deshalb wurde es nicht gemacht. Aber wenn die Links für einen Crawler eh irrelevant sind, kannst du doch einfach `rel="nofollow"` auf die Links packen?

[2022-01-13 17:10] Shania567 commented on #3925
Ich wüsste nicht, dass das bei MM ginge. Die Links werden ja durch die von mir mit MM erzeugten Filter erstellt und da kann ich das m.W. nicht mitgeben. Vielleicht kann zonky etwas dazu sagen. Ich hab den Link hierher in den Forenbeitrag gestellt. Er wird bestimmt auch hier rein schauen.

[2022-01-13 17:13] Toflar commented on #3925
Ich denke mal, der wird auch auf Templates basieren, aber da kann ich nichts zu sagen. Aber grundsätzlich wäre es auf jeden Fall sinnvoll, `rel="nofollow"` zu definieren, wenn man bereits weiss, dass die Zielseite für einen Crawler irrelevant sein wird. Das errleichtert den Crawlern die Arbeit :)

[2022-01-13 17:44] zonky2 commented on #3925
dite macht der ;-)

Man kann für jedes Filterwidget ein individuelles bzw. angepasstes Template auswählen - dort hat man Zugriff auf alle relevanten Daten, um ein eigenes Widget bzw. das HTML dazu zu bauen... mach mal ein `dump($this)`
Manchmal ist es auch einfacher, per `str_replace(...)` was einzuschleusen.

[2022-01-13 19:21] fritzmg commented on #3925
@Toflar It's just these lines, isn't it?

https://github.com/contao/contao/blob/4166f4eeccafb9cdcbd15e5e89728bbb4f1f3a81/core-bundle/src/Search/Indexer/DefaultIndexer.php#L46-L48

But for @Shania567 's use case the `rel="nofollow"` approach is better anyway. Otherwise the crawler would still actually crawl each filter and pagination URL - only for the `DefaultIndexer` to discard it later due to th

[2022-01-13 19:37] Shania567 commented on #3925
Ich lasse gerade den Crawler nochmal laufen, um tote Links zu suchen, weil ich schon viele korrigiert habe. Zumindest dabei werden auch ganz viele noindex nofollow Links in den Log geschrieben. Schon einer von jeder Seite allein durch das Consenttool der Marketing Suite. Beim Aufbau des Suchindexes war mir das nicht aufgefallen. Wenn es dabei anders ist, wäre das ja ok.

Na ja, das würde meine Fäh

[2022-01-13 19:58] zonky2 commented on #3925
das hatte @MacKP ja so vorgeschlagen... Du wolltest die Listenseite mit Filter indexiert haben - siehe https://community.contao.org/de/showthread.php?82245-Suchindex-per-CLI-bei-ALL-INKL-aufbauen/page2&p=553422&viewfull=1#post553422

Generell in das Filter-Widget ein `nofollow` wäre m.E. nicht sinvoll, da man mit der Listenausgabe auch auf andere Seiten verlinken kann und nicht nur auf die eigene

[2022-01-13 20:04] MacKP commented on #3925
Davon mal ab: nofollow auf eine select option oder so ist mir bisher noch nicht untergekommen (da wir ja von Filtern reden und die sind öfter mal als Select o.ä. aufgebaut) ;-)

[2022-01-13 20:06] zonky2 commented on #3925
...es geht nur um die Option der Ausgabe als Linkliste beim MM-Filterwidget (Filterregeln Select, Tags, Register)

[2022-01-13 20:08] Toflar commented on #3925
Ja klar, wenn auch nach kaputten Links gesucht werden soll, wird `rel="nofollow"` ignoriert. Wäre sonst ja kein sonderlich sinnvoller Check :)

[2022-01-13 21:34] Shania567 commented on #3925
Wenn ihr das so verstanden habt, war das nicht das was ich meinte, sorry. Ich möchte nur, dass die Seite, wo Liste als Modul eingebunden ist, indiziert wird, nicht aber alle Seiten mit den möglichen Filterkombinationen und wenn ich die gesamte Seite auf noindex setze, passiert ja genau das. Und am Filter kann ich derzeit ja nirgends sagen, dass diese dann erzeugten Seiten nicht indiziert werden so

[2022-01-14 05:56] xprojects-de opened #3928 "$objPage could be null"
### Affected version(s)

4.x

### Description

Hello,

using Contao as API-Framework the $objPage could be null at
https://github.com/contao/contao/blob/4166f4eeccafb9cdcbd15e5e89728bbb4f1f3a81/core-bundle/src/Resources/contao/library/Contao/Controller.php#L82

in my case i´m using the notificationCenter to send emails during an API-Request and there is a warning because $objPage is null.

So mayb

[2022-01-14 10:00] fritzmg commented on #3928
Can you explain this in more detail? Does that mean you have a controller and someone is making a request to that controller - which will send a Notification Center message down the line which will render a template somewhere? And your controller's route has a `frontend` `_scope`?

[2022-01-14 10:04] xprojects-de commented on #3928
yes it is exactly like that.
And i think the notification center needs the email template. This is how I think the error occurs.

[2022-01-14 11:10] bezin opened #3932 "Provide date and time formats as global variables in Twig"
### Description

Just for the record, as it was mentioned in a [comment by @m-vo](https://github.com/contao/contao/pull/3498/files#r780662885):

![2022-01-14 12_09_48](https://user-images.githubusercontent.com/4400435/149506137-e9933bdd-e7fb-4c50-a14b-905aac976fbc.png)

@m-vo I don't know if you referred to only date and time formats or all config values.

[2022-01-14 11:12] m-vo commented on #3932
In general "all", but I found out that especially date/time related things are getting set to the system defaults (Sf) by the Twig Bundle anyway. We need to differentiate between things related to the request (and thus current page) and general settings.

[2022-01-14 12:49] ghost opened #3933 "Self closing tags in svg are removed on save"
### Affected version(s)

4.9.23, 4.12.5

### Description

When i use inline svg inside the html content element and save the content, the trailing slashes on self closing tags in svg elements are removed. This leads to the following problem:

When the trailing slashes are removed in this example, the second red `rect` becomes a child of the green `rect` and is not displayed anymore.

[code]

Accor

[2022-01-14 13:06] fritzmg commented on #3933
Did you add `<rect>` to the allowed HTML elements?

[2022-01-14 13:07] aschempp commented on #3932
I generally see people misusing this (same as insert tags). You likely want to use javascript to calculate this to not affect the page cache.

[2022-01-14 13:17] fritzmg commented on #3932
Why would it affect the page cache? If you want to format some date, using JavaScript seems entirely unnecessary. You would not want to format a date for your news entries via JavaScript, would you? It is gonna be the same for everyone.

[2022-01-14 13:24] ghost commented on #3933
Yes, i allow `svg` and `rect` in settings.

The following shows the html output in the inspector (Google Chrome) for the two variants.
First the correct behavior - here i add the closing tag as a bugfix, second shows the current behavior in Contao (with trailing slash removed on save).

![image](https://user-images.githubusercontent.com/79627896/149521100-6f8db84d-3b65-4fba-a4ef-4cf17d30e9c7.png)

[2022-01-14 13:33] fritzmg commented on #3933
Don't use the inspector. Analyse the actual source (post the source here).

[2022-01-14 13:34] ausi commented on #3933
Self closing tags are currently not allowed by the sanitizer, please use `<rect></rect>` instead.

[2022-01-14 13:40] oexler commented on #3933
I think the inspector was only used to show the interpretation of the browser without trailing slashes.

Why are they not allowed, when they are valid html.
In this case it was just a sample SVG where you can do this manually. But sometimes SVGs are a bit larger and then fixing them is cumbersome.

[2022-01-14 13:47] ausi commented on #3933
Because they are only supported in some foreign objects like `<svg>`.

You can test that by comparing `<div /><div />` with `<svg><div /><div />` in your browser. In the first one the `/` gets ignored and in the second one it gets parsed as self-closing.

For larger or more complex SVG files I would recomend storing them in the file manager as _.svg_ files or inside a template.

[2022-01-14 14:00] oexler commented on #3933
Yes I know, that they are ignored, as the spec states 'This character has no effect on void elements, but on foreign elements it marks the start tag as self-closing.'

Then I should say many small optimized inline SVG instead of large.

Shouldn't contao allow valid html? For me foreign objects are part of it.
Also I see no point in removing the slashes, as they would have no effect anyway.

[2022-01-14 14:17] ausi commented on #3933
The `/` is often used to trick browsers and sanitizers into different parsing states.

But if you trust the backend users of your project you can disable the HTML attribute sanitization in the system settings by setting the allowed attributes for the element `*` to `*`. This way the tags themself do not get modified at all.

![Bildschirmfoto 2022-01-14 um 15 15 52](https://user-images.githubuserco

[2022-01-14 19:35] SeverinGloeckle commented on #3923
Not to be petty,  but in https://github.com/contao/contao/pull/3774, the added events can now be found in `Contao\CoreBundle\Filesystem\Dbafs`.

In my opinion, they should rather be located in `Contao\CoreBundle\Filesystem\Event` or `Contao\CoreBundle\Filesystem\Dbafs\Event`, whereas I would prefer `Contao\CoreBundle\Filesystem\Event`  in order to be able to quickly see the available events, at le

[2022-01-15 00:30] m-vo commented on #3923
I decided against another sub namespace because it's only two files and they already contain the word `Event` in their name. Same for the exception btw.

The events are specific to the Dbafs, so it would IMHO only make sense when moved to `Contao\CoreBundle\Filesystem\Dbafs\Event`. Personally I'd leave them where they are now.

@contao/developers any opinions?
 👍=leave like it is, 👎=change to.. (p

[2022-01-16 11:49] leofeyer opened #3936 "Remaining deprecations (not security related)"
### Affected version(s)

4.13

### Description

The following non security related deprecations are still present and could be fixed:

[code]

[code]

[code]

[code]

[code]

[2022-01-16 11:57] bytehead commented on #3936
I can take care of.

[2022-01-16 18:16] bytehead commented on #3936
Closing in favor of #3938

[2022-01-16 18:16] #3936 closed, assigned to bytehead

[2022-01-17 10:30] bezin commented on #1842
This is merged now 👍

[2022-01-17 10:30] #1842 closed, assigned to nobody

[2022-01-17 20:32] ameotoko commented on #3906
I, for one, can't wait when NC will finally be in core (or at least one of `contao/` bundles) 😁

[2022-01-18 07:42] leofeyer commented on #3371
@m-vo Can this issue be closed?

[2022-01-18 07:45] #3763 closed, assigned to nobody

[2022-01-18 08:17] #3371 closed, assigned to nobody

[2022-01-18 09:05] bytehead opened #3944 "The service "security.encoder_factory" is not public anymore"
### Affected version(s)

4.13-RC1

### Description

`$encoder = System::getContainer()->get('security.encoder_factory')->getEncoder(User::class);`

leads to

[code]

See https://contao.slack.com/archives/CK4J0KNDB/p1642491533041100

[2022-01-18 09:09] bytehead commented on #3944
Closed in favor of #3945

[2022-01-18 09:09] #3944 closed, assigned to bytehead

[2022-01-18 11:21] jochi44 opened #3948 "Systemwartung: Fehler bei Job "Vorschau-Cache leeren""
### Affected version(s)

4.13.0-RC1

### Description

Die Ausführung der Systemwartung im Backend führt beim Job "Vorschau-Cache leeren" zu folgendem Fehler:

[code]

Im error.log des Servers sehe ich folgende Meldung:

`2022/01/18 12:13:20 [error] 1112#1112: *12626 FastCGI sent in stderr: "PHP message: PHP Warning:  scandir(/var/www/clients/web/assets/previews/): Failed to open directory: No such

[2022-01-18 11:27] fritzmg commented on #3948
https://github.com/contao/contao/pull/3702 was merged after https://github.com/contao/contao/pull/3848 and so we still have

https://github.com/contao/contao/blob/4b4d6adb7dd9ff76f095142a7e6f9fcc0ba7d7e3/core-bundle/src/Resources/contao/library/Contao/Automator.php#L152

instead of

[code]

[2022-01-18 11:32] fritzmg commented on #3948
@jochi44 regarding your second error: that is unrelated. If you have more information about this error (e.g. a stack trace via the debug mode) please open a separate issue about that.

[2022-01-18 13:43] fkaminski opened #3950 "Uniform name for the custom template"
### Description

Based on the 4.13.0 RC1, the content element is called "Eigenes Template" in German.
As a module, this can then be found under "Individuelles Template".

Maybe the name should be consistent?

[2022-01-18 13:52] fkaminski commented on #3950
Suggestion: I find the name "**Individuelles Template**" basically more appropriate

[2022-01-18 14:27] aschempp opened #3951 "Invalid log calls with new logger"
### Affected version(s)

4.13

### Description

I get the following error message in Contao 4.13

[code]

It looks like https://github.com/contao/contao/blob/5.x/core-bundle/src/Resources/contao/library/Contao/Email.php#L607 should default to an empty array and not null. Not sure if there are other places to fix this. @SeverinGloeckle would you be able to look into this? 🙃

[2022-01-18 15:11] SeverinGloeckle commented on #3951
Thanks for the heads up debugging. Fixed in https://github.com/contao/contao/pull/3952.

[2022-01-18 15:39] #3951 closed, assigned to nobody

[2022-01-18 15:45] fkaminski opened #3954 "Add help wizard description(s) for module "Root page dependent modules""
### Affected version(s)

4.13.0-RC1

### Description

#3613
Please add descriptions (de/en/ translations etc. ) in help wizard.

[2022-01-18 15:46] fritzmg commented on #3954
Can you please specify what you mean exactly?

[2022-01-18 15:50] fkaminski commented on #3954
![image](https://user-images.githubusercontent.com/7679799/149970982-b474f365-a0c0-4310-b397-a85bee409588.png)

[2022-01-18 16:33] ausi opened #3956 "Add requirement for symfony/security-core"
### Affected version(s)

4.13

### Description

Because we use it in https://github.com/contao/contao/blob/a5c401df53881cd09edd0e5dfc9813dbb659c251/core-bundle/src/Resources/contao/library/Contao/User.php#L18

we should add `"symfony/security-core": "^5.4",`

[2022-01-18 17:26] netzarbeiter opened #3958 "Maintenance mode"
### Affected version(s)

4.13

### Description

If I create a new "Website root" the maintenance mode is enabled by default.

Is that intentional, I would prefer if it was disabled.

The Alert bell no longer shows the maintenance mode.

I would add the hint again and write the list of domains in maintenance mode in the alert window.

[2022-01-18 17:37] fritzmg commented on #3958
👍

[2022-01-18 18:35] mwitzmann opened #3959 "Wiederholender Parameter in verschiedenen PageControllern führt zu einem "Compilation failed"-Error"
### Affected version(s)

4.12.5

### Description

Moin zusammen,
verwendet man in mehreren PageControllern denselben Parameter (z.B {slug}), läuft es in der Methode `addRegexQuery()` in `vendor/contao/core-bundle/src/Routing/Candidates/PageCandidates.php:110` auf folgenden Fehler:
[code]

Die PageController sehen wie folgt aus:
[code]

[2022-01-19 09:40] Seefahrer opened #3963 "Attempted to load class "Versions" from namespace "PackageVersions". Did you forget a "use" statement for another namespace?"
### Affected version(s)

4.13.0-RC1

### Description

When invoking „Preview“ in the backend fllwg error occurs and the site no longer reachable:

`request.CRITICAL: Uncaught PHP Exception Symfony\Component\ErrorHandler\Error\ClassNotFoundError: "Attempted to load class "ContaoContext" from namespace "Contao". Did you forget a "use" statement for e.g. "Contao\CoreBundle\Asset\ContaoContext" or "Co

[2022-01-19 09:42] bytehead commented on #3963
Duplicate of #3948

[2022-01-19 09:54] leofeyer opened #3964 "Database\Statement does not handle quoted column names"
### Affected version(s)

4.13.0-RC1

### Description

This is a follow-up on #3207.

https://github.com/contao/contao/blob/514fecd74f3086ae12de95902ce1fe59a0487371/core-bundle/src/Resources/contao/library/Contao/Database/Statement.php#L158-L161

The regex does not handle columns names that are already quoted, e.g. <code>where \`hash\`='CacheControl'</code>.

<img width="783" alt="" src="https://us

[2022-01-19 09:56] bytehead commented on #3963
For the second error see #3953

[2022-01-19 09:59] #3963 closed, assigned to nobody

[2022-01-19 10:08] frontendschlampe opened #3965 "Problem with deactivated search indexer"
### Affected version(s)

4.13.0-RC1

### Description

After updating to Contao 4.13.0-RC1 and disabled search I got the following message in Contao Manager:

[code]

I deactivated the search in `config.yml` like this:

[code]

After communication on [Slack](https://contao.slack.com/archives/CK4J0KNDB/p1642586135098200) I got the hint using this deactivation settings:

[code]
Now I get no message a

[2022-01-19 10:56] ausi commented on #3964
how about this one?

[code]

[2022-01-19 10:57] leofeyer commented on #3964
Whatever you think is appropriate. 👍

[2022-01-19 11:47] m-vo commented on #3965
There is also `contao.localconfig.enableSearch`. We should probably take a look at this when resolving the issue and consider triggering a deprecation when using an outdated config (whichever is the right one).

[2022-01-19 12:25] m-vo commented on #3964
Why do we need the non-capturing group `?:`?

[code]

[2022-01-19 12:48] ausi commented on #3964
It’s my default goto as it can be more performant ☺️
But it’s negligible in this case so I’m fine either way.

[2022-01-19 13:40] m-vo opened #3967 "How should we organize our new templates?"
### Description

We should discuss how we want to structure our Twig templates in the future.

### Background info
Currently there are some old bundle templates and there will be Twig variants for all Contao templates. The latter is the way to go if we want to profit from our dynamic inheritance logic (which we do :smile:).

At this point, structuring in directories is not supported<sup>*)</sup>,

[2022-01-19 15:28] leofeyer commented on #2862
@ausi Can I move this issue to the `5.0` milestone or is there anything left to do for Contao 4.13?

[2022-01-19 15:30] #3948 closed, assigned to nobody

[2022-01-19 15:37] leofeyer commented on #3950
Fixed.

<img width="692" alt="" src="https://user-images.githubusercontent.com/1192057/150163721-7b1681ea-eb38-40e4-9007-3f88b08f0552.png">

[2022-01-19 15:37] #3950 closed, assigned to nobody

[2022-01-19 15:46] leofeyer commented on #3954
Fixed in bfde0b7b5b0bb604da6b82e23617074fecc9ffed.

[2022-01-19 15:46] #3954 closed, assigned to bytehead

[2022-01-19 15:50] leofeyer commented on #3956
Added in 086f7db3cdf11ddd50f7ec5438469d8997b65521.

[2022-01-19 15:50] #3956 closed, assigned to bytehead

[2022-01-19 15:58] leofeyer commented on #3958
See #3969.

I'm not sure. We showed the warning, because the maintenance mode in Contao <4.13 was enabled globally, so no websites at all were online. Now, however, if the global maintenance mode is enabled, it will also affect the back end, so there is no way you will not notice. And running one of several websites in maintenance mode can be desired, so IDK if a warning is appropriate.

[2022-01-19 16:02] #3964 closed, assigned to nobody

[2022-01-19 16:04] m-vo commented on #3958
It should at least somehow be noticeable by looking at the page structure IMHO.

[2022-01-19 16:09] netzarbeiter commented on #3958
we got the root-icon in blue for the website root and the same icon comes in grey for unpublished. We could add the icon in red if the maintenance mode is enabled.

[2022-01-19 16:11] m-vo commented on #3958
Or alternatively just a gray `[maintenance mode active]` behind the name so that we do not have to mix two states (published/unpublished + maintenance enabled/disabled).

Edit: Here is a mockup:
![image](https://user-images.githubusercontent.com/5305677/150170459-3d911ea7-20e3-4159-ab1b-4e854fe81e04.png)

[2022-01-19 17:55] fritzmg commented on #3433
@green-pixelbox you can test the changes from #3971, that should fix your issue :)

[2022-01-19 20:28] ausi commented on #2862
Don’t know if the PR @bytehead wants to provide should go into 4.13 or 5.0?

[2022-01-19 20:50] bytehead commented on #2862
I'll bring it for 4.13 - totally missed this 🙈

[2022-01-20 07:54] SeverinGloeckle commented on #1797
This feature has been implemented by #3419 in a basic way. While you may not explicitly skip a page from the layout inheritance, you can select a custom template for the subpages of each page (as noted in the [Contao manual](https://docs.contao.org/manual/en/layout/site-structure/configure-pages/#layout-settings)).

This way, you can select a custom layout for a page and explicitly select the prev

[2022-01-20 08:25] Tastaturberuf commented on #3958
i like to have information behind the page name e.g. ID, layout etc.

i think it might be a better approach if we add a button to the right (via button callback) and only show it when maintenance mode is active. when clicked, perhaps with JS-alert, it can then exit maintenance mode.

the icon is placeholder, added it quickly in chrome tools.

or maybe the pencil can go red or something.

![image](

[2022-01-20 09:20] fritzmg opened #3974 "Preview link improvements"
Currently when clicking _Share URL_ in the preview bar, the back end opens in a new tab in order to create a new `tl_preview_link` entry. However, after saving, you will always have to manually click on the _Preview links_ main menu entry in the back end, in order to actually be able to share this URL (_Save and close_ will likely send you somewhere else, unless you happened to have clicked on _Pr

[2022-01-20 10:00] aschempp commented on #3974
Good point. Maybe we can also improve this by adding a (blue) info bar at the top of the record with the share link?

[2022-01-20 10:04] #1797 closed, assigned to nobody

[2022-01-20 10:12] fritzmg commented on #3974
Yes, I thought about something like that as well - however, a user might then be inclined to copy that URL immediately, without first saving the record 🤔. And then the preview link will either not work - or any changes would not have been applied (e.g. different expiration time, showing unpublished items).

[2022-01-20 10:19] leofeyer commented on #3974
IMHO we should make sure that _Save and close_ takes the user to the preview link list. Maybe we can overwrite the referrer URL?

[2022-01-20 10:21] fritzmg commented on #3974
Yes, I was already looking at that. Should be possible in a `config.onload` callback. However, the UX is still not perfect, as it will be difficult to identify which of the preview links you just created or edited.

[2022-01-20 10:37] asaage commented on #3958
i would like an icon-solution - preferably a red globe like described here: https://github.com/contao/contao/issues/3958#issuecomment-1016622353
or an additional exclamation-icon like seen in the changelanguage extension for untranslated things.
The grey text might interfere with some BE-customisations and there are already enough toggle/action-icons on the right side.

[2022-01-20 10:44] aschempp commented on #3974
So in summary this should do both cases?
 1. overwrite the `saveNclose` button/return URL
 2. add a blue info box with the share link, when `tstamp>0`

[2022-01-20 10:46] fritzmg commented on #3974
Still not perfect when you edit a preview link, but not sure how perfect we can actually make this 😁

[2022-01-20 10:46] leofeyer commented on #3974
No blue info box, please.

[2022-01-20 10:50] fritzmg commented on #3958
I am also in favour of a label icon.

[2022-01-20 10:50] aschempp commented on #3974
any other idea how the user could get the preview link without needing to search the just-created link in the list and clicking the copy button again?

[2022-01-20 11:09] leofeyer commented on #3974
Can we add it to their clipboard via JS when they click _Save_ or _Save and close_?

[2022-01-20 11:18] fritzmg commented on #3974
Yes, and then we could add a `Message` saying that it was copied to the clipboard.

[2022-01-20 12:09] SeverinGloeckle commented on #3974
As I understand, the share URL only requires the ID of the record, which already exists when editing the record for the first time, so the share URL may be generated even without saving the record first. In addition, the share URL remains the same even if settings of the record are modified.

With this setup, I'd suggest the following interface:
- Add an additional, disabled widget "Share URL" bel

[2022-01-20 12:49] fritzmg commented on #3974
Yes, but if you allow to copy the URL before the current changes are saved, then the user might be inclined to.. well.. copy the changes before the changes are saved :)

[2022-01-20 15:49] tme55 opened #3976 "Seitenlayouts im Debugmodus nicht erstellbar"
### Affected version(s)

4.13.0-RC1

### Description

Während im Backend der Debugmodus aktiv ist, kann kein neues Seitenlayout erstellt werden. Im Bereich Stylesheets -> CSS-Framework  erscheint die Fehlermeldung
`Warning: Array to string conversion`

Ein Speichern ist nicht möglich.

[2022-01-20 17:11] fritzmg commented on #3976
Hm, I cannot reproduce in `4.13.0-RC1`. This is an error that should already be fixed in `4.13.0-RC1`.

[2022-01-21 08:06] leofeyer commented on #3974
While you are on this, please also add the missing `'exclude' => true` in the `tl_preview_link` DCA.

[2022-01-21 08:13] aschempp commented on #3958
I like the red maintenance globe, that does not take up any more space and works perfectly with the existing icons that represent page status (published, unpublished, protected, etc.). see https://github.com/contao/contao/pull/3978

[2022-01-21 08:13] #3958 closed, assigned to nobody

[2022-01-21 08:34] aschempp commented on #3974
Not sure if that was in a ticket or on our public call where I explained this before. If you have access to the preview module in the back end, it never makes sense not to have access to all fields. Preview links are person (you can only see yours if you're not an admin), therefore it e.g. makes no sense to create a preview link if you can't publish it.

[2022-01-21 08:53] aschempp commented on #3965
I don't think the legacy config works anymore, it has become obsolete with the indexer. Same as e.g. the URL suffix.

[2022-01-21 09:21] SeverinGloeckle commented on #3974
That's a fair point. However, I don't think patronising the user is necessary in this case, since all of Contao always requires a record to be saved before changes are applied.

One possibility would be an additional hint if the form is "dirty" (e.g. _"Please save your changes to update the settings of the preview link"_). Whether this is actually necessary can be discussed.

@aschempp if a change

[2022-01-21 10:16] de-es opened #3980 "Datenbankoperationen erzeugen Volllast"
### Affected version(s)

4.13.0-RC1

### Description

Befehle mit bestimmten Datenbankoperationen wie `contao:backup:create` und `contao:migrate --no-backup` (hier explizit ohne Backup, da es nicht nur am Backup liegt) brauchen zur vollständigen Ausführung wider Erwarten mehrere Minuten statt Sekunden. Während der laufenden Ausführung ist der Datenbankprozess dauerhaft auf 100%. Befehle mit "einfa

[2022-01-21 11:11] fritzmg commented on #3980
@xprojects-de also reported a performance issue with `doctrine/dbal` 3.x. @xprojects-de could you test if downgrading `doctrine/dbal` to `<3.3` helps? e.g. by adding a conflict for `"doctrine/dbal": ">=3.3"`.

[2022-01-21 11:26] Toflar commented on #3965
I know what to do here and will provide a PR after my holidays.

[2022-01-21 11:56] xprojects-de commented on #3980
Hello all,

I've evaluated it and got the following results (See Profiling-Files).
My result was that in my case the SchemaCreation has the greatest impact. Without that the results are almost comparable .
But i think at SchemaCreation there are a lot of PDO->queries! So maybe every query is bit slower in 3.3.x...

I also added the installTool Profileing files for 3.2 and 3.3.

Using the 3.3 the P

[2022-01-21 11:57] xprojects-de commented on #3980
[installtool_3.2.gz](https://github.com/contao/contao/files/7913102/installtool_3.2.gz)
[installtool_3.3.gz](https://github.com/contao/contao/files/7913104/installtool_3.3.gz)

... There was no migration to do. Just check the Schema.

[2022-01-21 11:57] xprojects-de commented on #3980
[test_A_withCreateSchema_3.2.gz](https://github.com/contao/contao/files/7913107/test_A_withCreateSchema_3.2.gz)
[test_A_withCreateSchema_3.3.gz](https://github.com/contao/contao/files/7913111/test_A_withCreateSchema_3.3.gz)
[test_B_withoutCreateSchema_3.2.gz](https://github.com/contao/contao/files/7913116/test_B_withoutCreateSchema_3.2.gz)
[test_B_withoutCreateSchema_3.3.gz](https://github.com/con

[2022-01-21 12:00] fritzmg commented on #3980
In the mean time you can add said conflict.

We could also add a conflict in `contao/conflicts` before releasing 4.13, if this issue isn't resolved until then.

[2022-01-21 12:25] xprojects-de commented on #3980
Should i addan issue at doctrine/dbal adding the profiling files or does that not make sense?

[2022-01-21 13:17] fkaminski commented on #3976
I cannot reproduce this in 4.13.0-RC1 with PHP 7.4.20.

[2022-01-21 13:34] fritzmg commented on #3976
Actually, I can reproduce it in PHP 8.

[2022-01-21 13:55] #3976 closed, assigned to fritzmg

[2022-01-21 14:21] leofeyer opened #3985 "Limit the number of members in the preview bar"
I would also add `LIMIT 20` to the db query, but it might be too opinionated, what do you think?

The first request (with two initial letters of the username) already returns 3000 results for me; does it make sense for browser to download, `JSON.parse` and insert 3000 elements into the DOM at this point? I find `select`s unusable anyway, when options list is higher then screen height. Or would you

[2022-01-21 14:23] leofeyer commented on #3985
So how can this be accomplished in Doctrine/DBAL? Using `LIMIT 20` in the query is only compatible with MySQL and PostgreSQL (probably the only two DB systems we will ever target).

[2022-01-21 14:55] ausi commented on #3985
Using `->setMaxResults(20)` should work fine AFAIK.

[2022-01-21 17:54] xprojects-de commented on #3980
see also https://github.com/doctrine/dbal/issues/5195

[2022-01-22 01:07] Total-Reality commented on #501
Persönliche Meinungen sind hier nicht angebracht. Wenn du so "argumentierst", dann würde mich gerne deine Quelle dazu interessieren.
Selbst Google Mitarbeiter sagen, dass man interne Links niemals auf nofollow setzen sollte.
Siehe u.a. auch hier: https://wolf-of-seo.de/blog/nofollow-fuer-interne-links-ist-das-sinnvoll/

Die Folge sieht man logischerweise auch in der Search-Console von Google: Impr

[2022-01-22 13:54] xprojects-de commented on #3980
@de-es

Can you please replace the method "getListTableForeignKeysSQL" under "vendor/doctrine/dbal/src/Platforms/AbstractMySQLPlatform" as follow and check your test again. It would be interesting if the performance loss is gone...

Thanks

###edit

[code]