[2021-07-31 12:20] fritzmg commented on #3236
This is how you could quickly implement it as a proper module in your application:

[code]
[code]
[code]
[code]

[2021-08-01 09:14] fkaminski commented on #3236
Thank you very much! I will try it out.
Since it is a frequently requested feature in the community, I have entered it here. So it would probably still be helpful and easier for many users to use a ready Contao solution.

[2021-08-01 09:29] fkaminski opened #3237 "Installation with option of a ready configured FE welcome site"
It might be helpful to have an option during the installation to create a ready configured, simple welcome site.

So that one can immediately achieve a functioning start page and the following, manual steps are omitted: https://docs.contao.org/manual/en/guides/add-first-index-page/

The possibility to integrate a ready-made theme exists. What is meant here, however, is merely the provision of a si

[2021-08-01 13:31] #3022 closed, assigned to nobody

[2021-08-02 07:00] Seefahrer opened #3238 "Contao 4.12-RC1 Error invoking template editor"
Contao 4.12-RC1:

**Description**

Invoking the template editor in the backend causes fllwg error message:

`request.CRITICAL: Uncaught PHP Exception ValueError: "func_get_arg(): Argument #1 ($position) must be less than the number of the arguments passed to the currently executed function" at /Users/georg/Websites/cmsc4ME/var/cache/prod/contao/dca/tl_templates.php line 345 {"exception":"[object]

[2021-08-02 07:35] fritzmg commented on #3238
I could not reproduce the problem. @Seefahrer enable the debug mode and post the stack trace for more information.

[2021-08-02 07:45] fkaminski opened #3239 "Add avatar functionality for users and members"
Since this is a frequently requested feature in the community, it would probably be helpful and easier for many users to use a ready-made Contao solution instead of the extension:
https://github.com/terminal42/contao-avatar

[2021-08-02 07:50] ausi commented on #3238
As the error message shows line 345 of the cached *tl_templates.php* file I would assume that the relevant code comes from an extension or a DCA file of the application.

@Seefahrer do you have any extensions installed?

[2021-08-02 08:53] fkaminski opened #3240 "Add content element for responsive Tabs"
A new content element for responsive tabs (to accordion) would be nice:
For example: https://codepen.io/keenanpayne/pen/qyjrzz

The procedure In the backend analogous to the Accordion implementation.
Numerous solutions exist (jQuery/Vanilla JS/Pure CSS):
[Best responsive tab to accordion 2021](https://www.google.com/search?q=best+responsive+tab+to+accordion+2021) (for discussion)

[2021-08-02 09:06] Seefahrer commented on #3238
**Installed extensions as per composer.json:**

"bugbuster/contao-visitors-bundle": "^1.7",
"contao/conflicts": "*@dev",
"contao/manager-bundle": "^4.12",
"do-while/contao-ticker-bundle": "^1.1",
"fritzmg/contao-lightcase": "dev-master",
"inspiredminds/contao-wowjs": "^1.1",
"jrgregory/m17-sticky-backend-footer": "^2.0",
"madeyourday/contao-rocksolid-custom-elements": "^2.2",
"madeyourday/contao-r

[2021-08-02 09:10] bytehead commented on #3238
easy themes is not php8 compatible as far as I know.

[2021-08-02 09:24] fkaminski commented on #3240
I have often used this. However jQuery based:
https://github.com/samsono/Easy-Responsive-Tabs-to-Accordion

A vanilla JS sample:
https://www.gsarigiannidis.gr/tabs-on-desktop-accordion-on-mobile/
https://codepen.io/gsarig/pen/GWgNdx

[2021-08-02 09:41] ausi commented on #3238
The stack trace is from a different error/warning: `Undefined array key "TL_EASY_THEMES_MODULES"`

The error from your original post is `func_get_arg(): Argument #1 ($position) must be less than the number of the arguments passed to the currently executed function`

[2021-08-02 10:18] Seefahrer commented on #3238
it’s the only stack trace I can provide. The error is obviously not caused by Easy_Themes.
Removal of Easy_Themes did not solve the issue ...

[2021-08-02 10:19] fritzmg commented on #3238
You need to first solve the warning from that extension.

Now you should be able to provide the stack trace for your original error (unless there is another Warning before that).

[2021-08-02 10:25] Seefahrer commented on #3238
Many thanks for the info!

**Stack trace now:**

`
ValueError:
func_get_arg(): Argument #1 ($position) must be less than the number of the arguments passed to the currently executed function

  at vendor/contao/core-bundle/src/Resources/contao/dca/tl_templates.php:590
  at func_get_arg(12)
     (vendor/contao/core-bundle/src/Resources/contao/dca/tl_templates.php:590)
  at tl_templates->editSource(

[2021-08-02 10:31] m-vo commented on #3238
Could it be the button callback [here ](https://github.com/madeyourday/contao-rocksolid-custom-elements/blob/master/src/Resources/contao/dca/tl_templates.php#L29) not including all parameters so that a `func_get_arg(12)` fails?

Seems `func_get_arg` fails even if the parameters are optional: https://3v4l.org/sAE40#v8.0.9

[2021-08-02 10:54] ausi commented on #3238
IMO this is a PHP 8 error on line https://github.com/contao/contao/blob/40b7f1615d1ead405abddbf5c7329232f0f1de7b/core-bundle/src/Resources/contao/dca/tl_templates.php#L590

We have to check `func_num_args()` first there I think.

Silencing with `@` works in PHP 7, but not PHP 8.

[2021-08-02 10:58] ausi commented on #3238
Same in https://github.com/contao/contao/blob/40b7f1615d1ead405abddbf5c7329232f0f1de7b/core-bundle/src/Resources/contao/dca/tl_files.php#L804

[2021-08-02 11:15] m-vo commented on #3238
![Screenshot_20210802_131524](https://user-images.githubusercontent.com/5305677/127853298-72da3ad7-2cb1-43d0-aa4a-029f1b45cad3.png)

:see_no_evil:

[2021-08-02 12:36] m-vo opened #3241 "Improve DX when creating fragment controllers"
Running `contao-console debug-fragments` will show newly created fragment controllers while they will only appear in the back end after the cache was rebuilt. That's IMHO a bit unintuitive.  Maybe we can improve the DX?

Steps to reproduce:
* create a new `FooFragment extends AbstractContentElementController`
* run `contao-console debug-fragments` (the new element will be listed)
* open the back e

[2021-08-02 12:41] bytehead commented on #3241
Recognized the same a longer time ago. I've helped myself with adjusting the `cache:clear` command in my `composer.json`:
[code]

Since then no cache rebuild was needed during development and on deploy we'll warm the cache explicitely.

[2021-08-02 12:54] ausi commented on #3238
I will make a PR.

[2021-08-02 12:57] Toflar opened #3242 "Issues with page mounts"
**Affected version(s)**

All

**Description**

The way the current page mounts are handled causes a few issues:

1. As an editor, I cannot pick a page I do not have access to. This is nonsense because I just because I cannot edit the content of a page does not mean, I cannot link to a certain page.
2. When I add a new page, I may have issues with the alias because it already exists which is puzzli

[2021-08-02 13:17] ausi commented on #3238
Closed in favor of #3243 and #3245

[2021-08-02 13:17] #3238 closed, assigned to nobody

[2021-08-02 13:17] koertho opened #3246 "SubmitOnChange not triggering save_callback"
**Affected version(s)**

Contao 4.9 (occured in 4.9.16) and 4.11 (4.11.5)

**Description**

A field with submitOnChange, for example tl_member.login does not trigger the save_callback, when submitted async (e.g. the login checkbox is triggered and the subpalette ist loaded, the save_callback is not executed).

This was discussed in Slack (https://contao.slack.com/archives/CK4J0KNDB/p16279078590237

[2021-08-02 13:19] #732 closed, assigned to nobody

[2021-08-02 13:19] #2577 closed, assigned to nobody

[2021-08-02 13:31] ausi commented on #3238
@Seefahrer thank you for testing the RC version!

[2021-08-02 13:43] fritzmg commented on #2577
@leofeyer was this accidentally closed? The referenced commit is only for `4.x`.

[2021-08-02 13:46] fritzmg commented on #3242
As far as I know there are users out there who provide websites for multiple customers in the same Contao instance. The back end users for this Contao instance should only see their "own" website and not see the site structure of another customer.

[2021-08-02 13:48] asaage commented on #3242
The same is true for Filemounts.
Let's assume a directoryhierarchy like:

- departmentA
  - documents
- departmentB
  - documents

wher a user has acces to all documents Folders.
What he sees is:

 - documents
 - documents

I would prefer something like "traverse upwards of the actual mount to the root" and at least show all nodes which are on that path.

[2021-08-02 14:16] aschempp commented on #3239
Not sure what "frequently requested" means to you. In 10 years of creating Contao website, I only ever needed this once for the Contao Association website. None of my client websites ever needed that feature (in the core). 🤷

[2021-08-02 14:17] fritzmg commented on #3239
We also only only ever needed it twice or so. Imho this does not need to be integrated into the core.

[2021-08-02 14:23] fkaminski commented on #3239
Hm, nevertheless, this was created as an extension.
A need was therefore present  :-)

https://community.contao.org/de/search.php?searchid=8380853

[2021-08-02 14:28] leofeyer commented on #2577
It has been fixed in all Contao versions (see #3174).

[2021-08-02 14:29] fritzmg commented on #2577
Right, I forgot that these changes haven't been integrated into `4.9.16` yet.

[2021-08-02 14:30] fritzmg commented on #3239
There are a lot of Contao extensions. Surely you are not suggesting to add _all_ of them to the core? ;)

That link will not (and does not) work.

[2021-08-02 14:41] fkaminski commented on #3239
Understood. Of course, solutions exist as extensions. And of course the effort increases with each integration and it always remains a matter of trade-off. Nevertheless, some functions should be considered based on community demand. Not as an extension but as an update secure performance of the system.
JM2C

[2021-08-02 15:31] m-vo opened #3249 "Literal insert tag replacement kills Symfony HtmlDumper output"
The `HtmlDumper` injects JS code like this ([ref](https://github.com/symfony/symfony/blob/5.4/src/Symfony/Component/VarDumper/Dumper/HtmlDumper.php#L436)):

[code]

Our `FrontendTemplate` class however does the following on the whole buffer:
https://github.com/contao/contao/blob/8468881d30b54c448310bc2456920d4ec328e088/core-bundle/src/Resources/contao/classes/FrontendTemplate.php#L155-L156

Which

[2021-08-02 15:38] leofeyer commented on #3249
Since the code is already in Symfony 4.4, I am assigning this to the `4.9` milestone.

[2021-08-02 20:03] m-vo commented on #3249
A naive fix that does not need parsing could be something like this, i.e. matching opening + closing 'literal insert tags' together:

[code]

Edit: see #3251

[2021-08-02 21:53] m-vo commented on #3249
For reference: this is the original issue were the code in question was added: https://github.com/contao/contao/issues/670

[2021-08-03 06:59] #3249 closed, assigned to nobody

[2021-08-03 11:19] fritzmg commented on #3241
Hm, I cannot reproduce the problem. When using the `dev` environment, any newly created fragment is immediately visible in the back end as well via `debug:fragments`.

[2021-08-03 12:02] bennyborn commented on #3172
Quick follow-up: While working it out with `validateFormField` was possible it seems a bit cumbersone because we have to modify the session afterwards. So the implementation of the `postUpload`-Hook somewhere around

https://github.com/contao/contao/blob/66ed49f9c4ecfb93c562072876b65a21a8a3ba72/core-bundle/src/Resources/contao/forms/FormFileUpload.php#L263-L265

would still be more convenient.

[2021-08-03 12:17] MacKP opened #3254 "Content Element List - ce_list - nested List"
It would be really handy if the List-Element could be nested.
In the backend view it would be necessary to indent the single List-Items with arrows (left and right) for that or there could be the same function like in the tl_page input mask.
Maybe some other people would like this feature ;-)

Kind regards

[2021-08-03 12:57] asaage commented on #3254
I would like that too, but honestly i gave up using this element at all. Adding hyperlinks is cumbersome, indentation like you mentioned is impossible - i just use ce_text instead (which of course does not have the import csv feature).
Im not sure how the listitem blob is stored but to implement that feature a rewrite of the listWizard inputType might be required and i think that will cause some c

[2021-08-03 13:00] m-vo commented on #3254
Markdown could be your next best solution (coming in 4.12).

[2021-08-03 13:04] MacKP commented on #3254
One of the best parts in Contao are the Content Elements. With that it is possible to produce semantic HTML and don't fu.. up something. It's better than everything in the WYSIWIG-Editor. And Markup is not a solution here I think... I can do everything in the Code, but i think about editors.

[2021-08-03 13:15] m-vo commented on #3254
Markdown not HTML markup :slightly_smiling_face:.

[code]

That depends, I guess. For specific use cases or where semantics are important (usually all my projects) I do not use any of Contao's core content elements.

Not saying we shouldn't improve something that can be generalized!

[2021-08-03 13:18] MacKP commented on #3254
I know Markdown :-P But thats not usefull for a normal editor. It's nice to write markdown. But in that case i could use html ore markdown and it wourldn't be usefull for any editor. That's my point here.

[2021-08-03 13:22] k-webdesign commented on #3254
I don't think it's efficient to tell customers and editors to learn Markdown. They need a GUI and I'd really appreciate to have nested lists in ce_list. Otherwise I always have to change the content element to ce_text and have to copy and paste the contents.

[2021-08-03 13:26] koertho opened #3255 "Set DataContainerCallbackListener to a lower priority"
**Contao-Version:**

4.11.5

**Description:**

The DataContainerCallbackListener runs as loadDataContainer - Hook and is responsible for adding dca-callbacks from annotations to the DCA. It is running with default priority and so it mostly will run before other loadDataContainer-Hook-Listener.
But when dca-fields are added from the Hook-Listener and a callback for this fields is registered as anno

[2021-08-03 15:38] fkaminski commented on #3239
I myself have never needed it either. If at all, with a manageable number, then simply via text/photo. But can understand that some want it without an extension dependency.

[2021-08-03 22:17] m-vo commented on #3241
This has definitively something to do with cache warmup and/or our setup process but I could not wrap my head around it, yet.

I noticed a similar (related?) problem with the new `debug:contao-twig` command that returns an empty hierarchy in the following case:

 - make sure the cache is nuked (`rm -rf var/cache`)
 - run `vendor/bin/contao-setup`
 - run `vendor/bin/contao-console debug:contao-twig

[2021-08-03 22:24] m-vo commented on #3241
Ah, weird. It's the `cache:clear --no-warmup --env=dev` causing the issue. Probably because the command (for BC reasons) also clears the cache pools.

[2021-08-04 09:26] aschempp commented on #3242
I agree with @Toflar that this is an issue. However, we should only show the page trees the user is allowed to see – but up to the root (and "just" disable the permissions accordingly).

I don't see this applying to files though, since we never want a user to see/pick a folder she can't see imho.

[2021-08-04 09:39] aschempp commented on #3241
Not sure what the problem is or if we can do anything about it. In `dev`, the container is rebuilt every time (if resources change), therefore new services (= new annotations (= new tags)) should be picked up automatically. In `prod` it is only rebuild manually.

Warmup is not related to this. Cache warmers only build optional caches like the Contao internal cache (combine DCA, config.php etc) and

[2021-08-04 09:42] aschempp commented on #3255
I don't think that's the case. The callbacks are added just fine, but your own listener just overrides the whole field definition and therefore drops the callback again. Maybe you can solve this by using `array_replace_recursive`?

[2021-08-04 09:47] fritzmg commented on #3255
@aschempp but you should not have to do that, otherwise we will have to document that, if you add DCA fields via the `loadDataContainer` hook, you need to be careful to not overwrite existing field definitions. But if this field is unique to your installation or to your extension that does not really make sense to the developer. In my opinion the `DataContainerCallbackListener` definitely needs to

[2021-08-04 09:48] koertho commented on #3255
@aschempp You're totally right, I didn't saw it :open_mouth:

But lower the priority would still be a good change as this is still no expected behavior.

[2021-08-04 09:48] m-vo commented on #3241
If I comment out the `cache:clear --no-warmup --env=dev` part in the setup command, everything works as expected. As we are nuking the cache folder anyway in the 'bin' file we could maybe drop that line (or bot clears) anyway.

[2021-08-04 09:50] m-vo commented on #3241
Our Twig filesystem loader persists things in the `cache.system` pool. It seems this pool gets lost somehow. But I'll have to debug, I guess…

[2021-08-04 09:55] aschempp commented on #3255
You also added the callback service, so you should know that field is defined. However, as I mentioned in Slack, if you dynamically define the field, you should most likely not use a service with callback either, because that would always be defined. Either just add the callback code to your field listener, or call the callback listener inside your field listener:

[code]

[2021-08-04 09:57] koertho commented on #3255
@aschempp I know how to solve this. I just want future developers don't have to stumple over this again. The solution is a simple lower priority. Do you see a problem changing this?

[2021-08-04 09:59] aschempp commented on #3255
Anyone expecting the current priority would have issues, changing the priority is a BC break to me. If you currently explicitly set your priority to `-1` to delete a callback, your service would not longer work.

[2021-08-04 10:01] aschempp commented on #3237
Would this be an option in the Contao Manager in your opinion?

[2021-08-04 10:04] m-vo opened #3263 "Make sure Template#getResponse() is used correctly"
**Affected version(s)**

Contao 4.9 and up

**Description**

see https://github.com/contao/contao/pull/3258#issuecomment-892492357

Currently, `Template#getResponse()` sets headers and executes `compile()` which will make the following code run (that is only meant to run once for `fe_page` or any other 'global wrapper' template):
https://github.com/contao/contao/blob/4cf71a9b3cf787093c9cf9e076d9c1

[2021-08-04 10:05] m-vo commented on #3263
taken from https://github.com/contao/contao/pull/3258#issuecomment-892493203:

[2021-08-04 10:13] aschempp commented on #3241
The cache clear command also executes listeners that can drop caches outside the cache folder, therefore it still must be run.

[2021-08-04 12:36] koertho commented on #3255
@aschempp Ok, that's a valid point. Should we keep this issue for 5.0 or can we close it?

[2021-08-04 12:47] leofeyer commented on #3263
I guess they should use `new Response($template->parse())`.

[2021-08-04 13:04] fritzmg commented on #3263
But then the appropriate response headers would be missing if the fragment is rendered as ESI.

[2021-08-04 14:03] leofeyer opened #3265 "Convert country codes to lowercase"
**Affected version(s)**

Contao 4.12.0-RC2

**Description**

I wonder if we really want to force everyone to write

[code]

instead of e.g.

[code]

in their own DCAs?

[2021-08-04 14:14] leofeyer opened #3266 "Missing translations in System::getLanguages()"
**Affected version(s)**

Contao 4.12.0-RC2

**Description**

Having `'options' => System::getLanguages(),` in my custom DCA, I get the following error:

<img width="974" alt="" src="https://user-images.githubusercontent.com/1192057/128196699-b4f55a5e-431c-44a7-a6d7-ae79cccad65b.png">

@ausi Is this intended?

[2021-08-04 14:35] fritzmg commented on #3265
Didn't we decide on keeping country codes lowercase anyway? 🤔

[2021-08-04 15:11] leofeyer commented on #3265
I don't think so. The new methods returns them uppercase and @ausi has explicitly added the code above.

[2021-08-04 18:50] ausi commented on #3265
See https://github.com/contao/contao/pull/3138#issuecomment-877806289 _“I think we should keep it lowercase for BC and change it in Contao 5.”_

I think we explicitly want everyone to write that because they should use the uppercase version instead. And everyone that uses the deprecated `System::getCountries()` already gets it converted to lowercase.

[2021-08-04 18:59] ausi commented on #3266
No 😓

We should probably use `$translator->getCatalogue()->has(…)` instead.
But we will need to implement `getCatalogue()` on our translator first to make that possible I think.

[2021-08-04 20:59] m-vo commented on #3263
They are missing anyway if I don't use Contao templates. Can't we add the headers in the controller?

[2021-08-05 06:33] leofeyer commented on #3265
But what is the advantage of having uppercase codes? It will break every extension using them for no obvious reason.

[2021-08-05 07:42] fritzmg commented on #3265
Any existing extension will have used `System::getCountries()`. You will only get the standardised uppercase codes, if you use the new `Countries` service.

[2021-08-05 07:52] fritzmg commented on #3263
True. The only header that makes sense to me that maybe should be added by the template itself is `Content-Type`, since the template knows its content type. But even that depends on `Config::get('characterSet')` currently - which is always `UTF-8`.

[2021-08-05 08:01] ausi commented on #3265
It is the standard and should potentially increase the interoperability.

It will break some extensions in Contao 5.0 that expect `tl_member.country` to be lowercase.

We also changed `tl_page.language` from `de-DE` to `de_DE` (and this change was made in a minor release).

[2021-08-05 08:03] richardhj opened #3271 "Register Twig namespaces for themes outside of /templates"
**Affected version(s)**

Contao 4.12

**Description**

Currently, in the 4.12 RC, all theme templates folders under `/templates` get registered, i.e., https://github.com/contao/contao/blob/4.x/core-bundle/src/Twig/Loader/ContaoFilesystemLoaderWarmer.php#L54-L59

Prior to 4.12, it was supported to set a theme template folder to a path outside of `/templates`.
[code]

With an eye on #2781, this beha

[2021-08-05 08:09] m-vo commented on #3271
Currently the template locator returns all subdirectories of `/template` as theme paths and each is added:

https://github.com/contao/contao/blob/722d397e3429e3fc4a8d05263fe2f834aa8f2122/core-bundle/src/Twig/Loader/TemplateLocator.php#L46-L70

https://github.com/contao/contao/blob/722d397e3429e3fc4a8d05263fe2f834aa8f2122/core-bundle/src/Twig/Loader/ContaoFilesystemLoaderWarmer.php#L54-L59

We coul

[2021-08-05 08:13] richardhj commented on #3271
Has to be the full path.
But if we decide whether #2781 will be integrated into Contao one day, we can also strip the `/\/themes/(.*?)/templates/` part.

[2021-08-05 08:15] ausi commented on #3271
In order to prevent duplicates we could use `@Contao_Theme_foo` for /templates/foo and `@Contao_Theme__foo` for /foo

[2021-08-05 08:17] ausi commented on #3271
Would be something like `str_replace(['../', '/'], '_', Path::normalize($relativePath))` then.

[2021-08-05 08:18] m-vo commented on #3271
Or we always use the project-relative path:  `@Contao_Theme_templates_foo` and `@Contao_Theme_foo`.
These long namespaces aren't really nice, though and you would probably use them inside your templates when including things inside a theme folder…

[2021-08-05 08:57] bytehead opened #3272 "Stopwatch not started"
**Affected version(s)**

Contao 4.9.17

**Description**

Since the update to 4.9.17 I get a lot of this `LogicExceptions`:

[code]

Stacktrace:
[code]

Possibly related to #2940

[2021-08-05 09:09] fritzmg commented on #3272
Hm. If `$objStopwatch` is set, it should also be started 🤔

[2021-08-05 09:10] bytehead commented on #3272
Somehow buggy. I'll investigate more.

[2021-08-05 09:12] leofeyer commented on #3265
I guess it will be more than just "some". I am maintaining four custom extensions for contao.org and they are **all** affected. 😄

[2021-08-05 09:25] leofeyer commented on #3265
But I understand that uppercase language codes are standard, so I guess that is a reasonable breaking change. And regarding  the initial question, we can continue to use `System::getCountries()` to remain backwards compatible.

[2021-08-05 09:25] #3265 closed, assigned to nobody

[2021-08-05 09:27] ausi commented on #3265
<img width="841" alt="Bildschirmfoto 2021-08-05 um 11 26 56" src="https://user-images.githubusercontent.com/367169/128326992-318b985f-fece-4c8c-b170-960f5a51e67f.png">

😜

[2021-08-05 10:10] fritzmg opened #3273 "Empty SVG makes file manager inaccessible"
**Affected version(s)**

Contao 4.9.17

**Description**

If an empty SVG file gets accidentally uploaded - or if you accidentally remove all content from the SVG via the back end editor (which is possible for SVG files by default), the file manager will get inaccessible with the following error and thus you cannot rectify the problem via the file manager anymore.

[code]

Curiously this error only

[2021-08-05 10:53] ausi commented on #3273
Can you test if changing https://github.com/contao/imagine-svg/blob/08eb302552dc83ffc7d0f3b1b79f53207094cfa4/src/Imagine.php#L124 to

[code]

fixes the issue?

[2021-08-05 10:55] fritzmg commented on #3273
Yes, that definitely fixes the error in **prod**. I am still wondering though why this error does not come up in **dev** though 🤔

Also should we adjust the important part script for such cases? No JavaScript error occurs, it just looks off. We might as well leave it as is though.

[2021-08-05 11:02] ausi commented on #3273
AFAIR this is the desired behavior for broken images and SVG images without a size.

[2021-08-06 12:13] m-vo commented on #3263
I think there are two places where we should split/reorganize responsibilities. Here are some thoughts:

### Template#getResponse()

Here is how this could potentially look when dissected:

* `Template#getResponse()` is simplified to only set the content, content-type and charset:

[code]
   I'm not sure about the additional cache settings that `BackendTemplate` ('no-cache, no-store', private) and

[2021-08-06 13:03] m-vo opened #3274 "Allow selecting Twig templates in every back end dropdown"
**Affected version(s)**

Contao 4.12

**Description**

Allow selecting `.html.twig` templates in every back end dropdown. Currently only templates where a `.html5` version exists will be listed. This includes the variant templates (underscore + variant name suffix).

[2021-08-06 14:16] fritzmg commented on #3274
More generally I wanted to build a `TemplateFinder` service for Contao 4.13 that would essentially handle `Controller::getTemplate` and `Controller::getTemplateGroup`. In a recent project I noticed how inflexible the current system is as I needed to dynamically adjust the visible back end templates on the one hand and on the other hand influence which template to actually use in the front end.

[2021-08-06 15:37] m-vo commented on #3274
The template hierarchy might be a good starting point - in there all templates (`.html5` and `.html.twig`) are already registered (see `debug:contao-twig`). We could implement the grouping logic on top.

[2021-08-06 17:53] #2978 closed, assigned to nobody

[2021-08-07 10:38] m-vo commented on #3274
Reading through the code I wonder why we are both using snake cased template names and the underscore as a separator between the original template name and a variant suffix. Without this we would not need any registry of content element/module/form/custom group templates but could just search for prefixes, no? Do I miss something?

[2021-08-07 14:32] ausi commented on #3266
Done in #3276

[2021-08-07 14:32] #3266 closed, assigned to ausi

[2021-08-09 08:57] whitedrow opened #3277 "Navigation is not displayed when linking internally to missing page."
**Affected version(s)**

Contao 4.9

**Description**

If you use the navigation menu module, it can happen that it is not displayed if there is an internal link (page type: internal redirect) within the page structure to a page that no longer exists or is deactivated.

No output takes place in the frontend.

No error or warning is written to the log.

**Solution**

Error output in the error log.
F

[2021-08-09 09:06] bytehead commented on #3272
I think I found it: https://github.com/symfony/symfony/pull/42331

[2021-08-09 09:09] bytehead commented on #3272
We'll have to wait until a new `4.4` is released from Symfony. It is broken since 3.4 😬
It actually occurs when using modules and content elements via inserttag which will create a subrequest.

[2021-08-09 09:31] bytehead commented on #3272
Closing in favor of #3278

[2021-08-09 09:31] #3272 closed, assigned to nobody

[2021-08-09 09:58] aschempp commented on #3272
How does https://github.com/symfony/symfony/pull/42331 fix the issue. Aren't all stopwatches still stopped when a subrequest ends? Also, shouldn't this be a problem for fragments as well?

[2021-08-09 10:00] bytehead commented on #3272
This is a problem of the fragments afaik. I discovered it while using inserttags for modules.

[2021-08-09 10:01] bytehead commented on #3272
@aschempp https://github.com/symfony/symfony/issues/36623

[2021-08-10 07:10] aschempp commented on #3277
Do you mean the whole navigation module is not shown or just the internal redirect page is not in the navigation?

[2021-08-10 07:37] fkaminski opened #3280 "Predefined user rights/user groups"
Some predefined user rights/user groups with default rights for e.g. news, events, newsletters etc. would be helpful/timesaving/self-explanatory.

[2021-08-10 07:45] aschempp commented on #3274
For historical reasons 😅 and because "we made a mistake" when implementing fragments and sticking to snake_case instead of camelCase for the default template name 😞

[2021-08-10 07:48] aschempp commented on #3263
This will not work and I cannot think of any other place that will. We must not merge a "default" response into our cache strategy, because a response is always marked as `Cache-Control: private` by default. We cannot know if this was intentionally set by the controller or is just the default. Thats why we remove all cache header and mark the response as _to be merged_, so that when it does have `

[2021-08-10 07:54] whitedrow commented on #3277
The whole navigation is not shown.

If you use <?php $this->showTemplateVars() ?> you can see that the header content (or whatever content area you use) is complete empty.

[2021-08-10 08:31] fritzmg commented on #3277
I cannot confirm the problem. This is how I tried to reproduce it:

1. I am using a regular `navigation` module, with default settings. This module is inserted in the page layout.
2. I created and published a regular page called "Page to be deleted".
3. I created and published an internal redirect page with default settings, pointing to "Page to be deleted".
4. I confirmed in the front end, that t

[2021-08-10 08:44] fritzmg commented on #3280
👎 on this. If you need this for your business, then I think you should create a base setup for yourself, where every thing is set up the way you want it to be by default.

Otherwise I am more in favour of exporting/importing database content via config files (see https://github.com/contao/contao/issues/402).

[2021-08-10 09:20] ausi commented on #3273
Closed in favor of https://github.com/contao/imagine-svg/pull/33

[2021-08-10 09:20] #3273 closed, assigned to nobody

[2021-08-10 09:24] m-vo commented on #3274
You know the old saying:

"It's never too late,
for a BC break. :musical_note:"

[2021-08-10 09:30] m-vo commented on #3263
You would overwrite the method if you did not want our default behavior.

[2021-08-10 09:33] aschempp commented on #3263
Sorry I misread that you want to add this method to the fragment. I would rather have a `createResponse` instead that should be called explicitly be developers, otherwise they simply won't get cache header merging.

[2021-08-10 09:35] aschempp commented on #2670
~So isn't that what we want? Did you possibly check the "remember me" option in the login form, therefore the user is instantly logged-in again on the page load?~

You should see the request and response details in the browser network toolbar.

[2021-08-10 09:38] fritzmg commented on #2670
Not if the timeouts are set to a higher value than that.

[2021-08-10 11:07] jxns commented on #2670
I just checked the headers. The session cookie is still available in the request. But in the response the session cookie gets set to "deleted".

[2021-08-10 13:12] whitedrow commented on #3277
uh...sorry. I forget to mention an essential thing: The pages are "hide from navigation" except the pages with the redirection.

In the following setting the navigation modul is NOT rendered.
![Bildschirmfoto 2021-08-10 um 15 04 25](https://user-images.githubusercontent.com/7723454/128872390-d69ba18d-06fe-4e2d-8c2d-56c29a336a3f.png)

If i set **Page C** to visible the navigation is rendered.

![Bi

[2021-08-10 13:23] ausi commented on #3277
That is the expected behavior I think because page C is not published so there is no URL where Page A can redirect to.

[2021-08-10 13:31] fritzmg commented on #3277
That's the expected behaviour. If _all_ pages are hidden from the navigation or unpublished (or deleted), no navigation is rendered. Why do you expect it to be different?

[2021-08-10 13:43] whitedrow commented on #3277
**Page A** is not hidden, so the module should render it at least.
Seems that the **quick navigation** module does things right.

In the above example, it is not really a problem.
But on a project with pages 700+ and many editors it's hard to maintain and the error is hardly to be found. Or have I missed something and there is a better way to find out which page is _at fault_?

As I said in the be

[2021-08-10 13:46] fritzmg commented on #3277
But the target Page of **Page A** is not published, hence it's correct that **Page A** is not displayed, otherwise it will just point to a non-existing page.

I am not sure I understand the problem. If you have 700+ pages and all of them are hidden from the navigation, what is the expectation?

[2021-08-10 13:53] fritzmg commented on #3277
Do you mean, you want this warning, if an internal redirect page points to a page that is either unpublished or deleted (regardless of the navigation module behaviour)? That should be feasible, yes. 👍

[2021-08-10 13:56] whitedrow commented on #3277
The problem is that the page being linked to can be anywhere in the page structure. So the problem is not that 700 pages are not visible, but that 700 pages are no longer visible when linking to an invisible page within these pages.

So, yeaaah: I want a hint what went wrong

[2021-08-10 14:00] asaage commented on #3277
I dont see a Problem here.
Maybe the Term "Redirect/Weiterleitungsziel" is a bit missleading. The Navigation allways takes that into account.
You would **NOT** see ```page_A.html``` in the nav-module and get a 301 to page_c anyway. Instead it would link directly to ```page_c.html``` if it was published.
On the other hand if you request the published ```page_A.html``` directly you would be redirect

[2021-08-10 14:00] fritzmg commented on #3277
But we could not confirm this problem. May be this is something specific to your Contao installation? Were you able to reproduce the problem in a clean Contao installation, or in the Contao Online Demo?

[2021-08-10 14:28] fkaminski commented on #3280
Makes sense

[2021-08-10 14:28] #3280 closed, assigned to nobody

[2021-08-10 14:57] whitedrow commented on #3277
I would recommend this as the answer to the problem.

[2021-08-10 15:00] fritzmg commented on #3277
But it seems like your setup is having a different problem ;). The whole navigation should not vanish, if there are still eligible navigation items. I think you should investigate this further first.

[2021-08-10 18:48] whitedrow commented on #3277
Ok, one last attempt to explain: The problem is not that a redirect to a deleted page makes no sense.
The problem is that the entire navigation module is then not displayed without explaining to the editor why this would be the case.

This can easily be adjusted in a clean installation.

However. If this is only a problem for me and not for anyone else in the world, then the ticket can be closed.

[2021-08-10 18:56] fritzmg commented on #3277
As already said, we could not confirm this problem. Can you provide reproduction steps in a clean Contao installation or in the Contao Online Demo?

[2021-08-11 08:20] operatorone commented on #402
I would really appreciate and support an extension which makes it possible to copy/paste/snyc between instances.

[2021-08-11 08:34] frontendschlampe commented on #402
for syncing you can use syncCto ...

[2021-08-11 10:03] operatorone commented on #402
Sure I can use syncCto, but it's more about coping  single or multiple elements from one system to another, for i.e. if you build up a new instance or extend an existing system by copying  modules, pages, articles etc. to the target instance it saves a lot of time.

Of course, you always can argue to copy entries from one database to another, but this always brings up the ID problem.

To have an o

[2021-08-11 13:17] ausi opened #3290 "Insert tags iflng and ifnlng broken"
**Affected version(s)**

Contao 4.4.56, 4.9.18, 4.11.7

**Description**

With the security fix I have broken the `iflng` insert tags. The following Template code:

[code]

outputs

[code]

I will provide a pull request to fix this issue.

It should only affect `iflng` and `ifnlng` insert tags in link attributes like `href` or `src`.

[2021-08-11 14:21] Ernestopheles commented on #3235
Scheint eine gute Idee zu sein

[2021-08-11 14:56] contaoacademy commented on #2753
@leofeyer Danke. In der Contao 4.11-dev läuft das jetzt wie erwartet.

[2021-08-11 15:47] ausi commented on #3290
Closed in favor of #3291

[2021-08-11 15:47] #3290 closed, assigned to ausi

[2021-08-12 10:24] hjurgeleit opened #3301 "Creating a new folder in dev env, PHP 8 causes an ErrorException"
**Affected version(s)**

 Contao 4.11 (PHP 8.0.9)

**Description**
When **creating a new folde**r in the backend in **APP_ENV=dev** a warning occurs:
```Attempt to read property "id" on null```
This leads to an ErrorException in vendor/contao/core-bundle/src/Resources/contao/drivers/DC_Folder.php (line 1324)

**Solution**
Check, if $objModel is not null:
```$objVersions = new Versions($this->strTa

[2021-08-12 10:27] ausi commented on #3301
I can confirm this issue, the error occurs when creating a new folder in the file manager.

Maybe we should skip this whole block when the model is `null`?

https://github.com/contao/contao/blob/807e7d92ec0d359333cebcae32fb8a91bf132cbb/core-bundle/src/Resources/contao/drivers/DC_Folder.php#L1323-L1342

[2021-08-12 10:30] netzarbeiter opened #3302 "Bug fix release for Contao 4.4"
The bugs introduced with the security release 4.4.56 should also be fixed in Contao 4.4.

@ausi suggest waiting a week or two to see if any other problems occur.

[2021-08-12 14:34] jxns opened #3304 "Pages cannot be deleted"
Issue can be deleted. The error occured on my own fault due to a database issue. Thank you.

[2021-08-12 14:39] #3304 closed, assigned to nobody

[2021-08-12 15:49] #3020 closed, assigned to nobody

[2021-08-12 16:24] leofeyer commented on #3239
Since this discussion keeps popping up, I have tried to make a diagram that shows the decision process. 😄

<img width="444" alt="" src="https://user-images.githubusercontent.com/1192057/129232663-5b62630e-5405-4846-8850-f1fad2ee2020.png">

Note that `Add it*` means "add it or find someone who is willing to implement and maintain an extension".

[2021-08-12 16:27] leofeyer commented on #3241
Can we implement a similar solution as we did in #3270?

[2021-08-12 21:31] tabcontao opened #3305 "Installtool wants to change database columns forever with PHP 8"
**Affected version(s)**

Contao 4.9 and Contao 4.11

**Description**

After installing Contao 4.11 at All-Inkl Webhosting Contao seems at first ok. The install tool creates the needed tables and does not show any database changes afterwards. But after installing an arbitrary bundle (e.g. I installed Rocksolid Custom Elements), the installtool insists on changing database columns which already have

[2021-08-12 22:01] ausi commented on #3305
Can you post the output that composer showed when installing this extension (maybe another package got updated in the process or a new dependency got installed).

Can you test via SSH if the command `vendor/bin/contao-console contao:migrate` is affected too?

What is the version of the `doctrine/dbal` package in your installation?

[2021-08-12 22:44] tabcontao commented on #3305
It's gone, but I will repeat the installation later today and provide the output.

Yes, I run the command, it outputs something like
[OK] Executed 575 SQL queries.
[OK] All migrations completed.

I run it again and get the same output again.

2.13.2

[2021-08-13 09:43] andre5tz commented on #770
Hallo,

ich bin über den Beitrag im Forum [Erfahrungsbericht mit Redakteuren / Best Practice?](https://community.contao.org/de/showthread.php?81304-Erfahrungsbericht-mit-Redakteuren-Best-Practice&highlight=Erfahrungsbericht) wieder auf das Thema gestoßen. Über die Suche, was bereits diskutiert wird, bin ich hier gelandet.

Aus Anwendersicht:
Es ist extrem störend, einen Nachrichtenteaser mit Bild

[2021-08-13 09:55] tabcontao commented on #3305
Just did a complete re-installation. Reproduction appears to be even more simple. No need to install another bundle. After the installation of Contao 4.11 is complete, login once to the BE (probably not necessary), logout. Then just rebuild the application cache and start the install tool again. There we are ...

Anyway, attached the console output of the installation of Rocksolid Custom Elements

[2021-08-13 10:02] fritzmg commented on #770
Why do you want to do that? If you create no content elements for your news, the teaser will automatically be displayed with the default `news_full` template in the newsreader module, alongside the news teaser image. See https://github.com/contao/contao/blob/6bf5ae1a6bfa365375514bd3a604996882fd187f/news-bundle/src/Resources/contao/templates/news/news_full.html5#L14-L30

[2021-08-13 10:32] andre5tz commented on #770
Ganze einfach, der Teaser ist in der Regel nur ein kurzer Auszug aus der Nachricht, wie der Name schon sagt, Teaser.
Die eigentliche Nachricht hat dann den entsprechend längeren Text und was sonst noch an Inhaltselementen dazu kommt.

Für uns, eine Gemeindeverwaltung, sind das die "amtlichen'" Nachrichten und Bekanntmachungen. "Kurznachrichten" kommen selten vor, da ist es dann einfach, stimmt nat

[2021-08-13 10:33] fritzmg commented on #3305
@tabcontao are these the exact reproduction steps?

1. Install Contao 4.11.
2. Update the database and create an admin account.
3. Login to the back end and then logout.
4. Run `composer install` again.
5. Log into the Install Tool again.

Or how exactly did you rebuild the application cache?

[2021-08-13 10:36] fritzmg commented on #770
What exactly is it that you want changed? If you want the feature as described above, there is already a solution for that, if you need that in your Contao instance. See https://github.com/contao/contao/issues/770#issuecomment-811096829

[2021-08-13 10:57] andre5tz commented on #770
Yes of course.
Es ist nur ein Versuch von mir, einen Ansatz zu beschreiben, der allen nutzen könnte.

Aus Sicht eines Programmierers stellt sich die Frage warum fragt der denn, geht doch, ist doch einfach zu lösen, Ansatz ist doch schon beschrieben!

Aus Sicht des Anwenders, OK, dann lassen wir es eben! Geht nicht ... ist technisch nicht möglich, kann ich nicht, verstehe ich sowieso nicht ;-)

Gan

[2021-08-13 11:02] fritzmg commented on #770
You only need to create the file as described and that's it (may be execute `composer install -o` afterwards, depending on your environment).

[2021-08-13 11:05] fritzmg commented on #770
No, the described code only fetches the first content element, if the teaser is empty.

[2021-08-13 11:12] andre5tz commented on #770
Ok, vielen herzlichen Dank, dann schaue ich die Tage mal, ob das eine Lösung ist, mit der ich zurecht komme. 👍

Unabhängig davon bitte ich darum, das Thema nochmal aus Anwendersicht zu betrachten und zu überlegen, wie der Bereich in Contao zukünftig opitimiert werden kann, ohne Anpassungen und für alle gleich "sichtbar", würde mich freuen.

Vielen Dank nochmal und ein schönes Wochenende :-)

[2021-08-13 12:33] tabcontao commented on #3305
I rebuilt the application cache by clicking on "Prod.-Cache erneuern" in the "Systemwartung" Page. This would replace your step 4. Alternatively install an arbitrary module, which will also lead to a rebuild of the application cache. I tested this with Rocksolid Custom Elements. As I just tested, running "composer install" again seems NOT to rebuild this cache, at least this didn't appear in the c

[2021-08-13 12:41] fritzmg commented on #3305
What do you mean by that? `composer install` also rebuilds the cache, unless there are no post-install and post-update scripts defined in your `composer.json`. Can you please post your composer.json?

I tried with my reproduction steps locally under PHP 8.0.6 and MariaDB 10.5.11, but was not able to reproduce it this way.

[2021-08-13 12:50] tabcontao commented on #3305
Yes, it has to be something in the configuration of PHP 8 and MariaDB at All-Inkl, IMHO. Noone has reported it from other hosters yet.

[2021-08-13 13:26] tabcontao commented on #3305
Forgot the composer.json. What I did mean with "seems NOT to rebuild ..." is that this was not shown in the console. It may have happened somehow anyway, I don't know. Edit: You're right, I just tried that again and yes, it DOES warm up the cache. Didn't scroll up enough last time, sorry. Below the composer.json ...

composer.json
----------
[code]

[2021-08-13 14:56] kikmedia opened #3306 "Info broken in file manager"
**Affected version(s)**

Contao 4.9.19, 4.11.8 & 4.12.0-RC3

**Description**

In Contao 4.9 the file info in backend is broken.

If one navigates to file manager and clicks at the blue 'i'-icon of a file or folder, the next thing one will see is a popup with the message "File not found."

I can reproduce this in the official demo.contao.org, so this is not an issue with extensions.

Some users rep

[2021-08-13 15:22] kikmedia commented on #3306
This seems to be a little bit ridiculous. I just tested this in another installation with the result, that the icon works on some but only a few folder names.

I've got two protected folders "AutobackupDB" and "TinyTemplates". The info is shown at the first, but not the second.

I've got unprotected folders, and there are some I get the info on, and there are files on root level, where the info wo

[2021-08-13 15:32] fritzmg commented on #3306
I am assuming those that have a corresponding `tl_files` entry work while the ones that don't show "File not found".

[2021-08-13 15:43] kikmedia commented on #3306
As far as I can see: No. I've got a folder for which I get the error, and I've got files in this folder for which the information will be displayed. Both have complete entries in tl_files.

[2021-08-13 15:54] berecont commented on #3306
Just uploaded one *.jpg file in folder A and the result is OK,
the same *.jpg file in folder B and the result is 'File not found'.
both folder have the same rights, both folder have the same hierarchy in the folderstructur
(the file isn't in usage somewhere)

[2021-08-13 19:30] fritzmg commented on #3306
The problem are likely the changes from https://github.com/contao/contao/commit/dd0ad7b732aa8fbd0fb869aef94aad61a7102489#diff-ab3a6d8cdec727a667eb776b0b0547d1c6fa6f99e6e2a085ebde46fae97c9176, specifically the changes to `Input::stripTags`. The popup URL looks like this for example:

[code]

But `Input::get('src', true)` then returns

[code]

and thus the file cannot be found anymore. The `==` get

[2021-08-13 23:05] vstuber opened #3307 "Possible BC break because of the automatically added insert tag flags "urlattr" and "attr""
**The situation:**
As of version 4.9.18 Contao automatically adds the flag "urlattr" to insert tags if they are placed inside a href attribute and the flag "attr" if they are placed in any other html attribute. This applies not only to simple insert tags but also to conditional insert tags.

The conditional insert tag iflng (and ifnlng, of course) was modified so that it can deal with this flag. W

[2021-08-14 09:09] fritzmg commented on #3305
@tabcontao could you post the result of

[code]

in the database?

[2021-08-14 09:31] tabcontao commented on #3305
<html><body>

@@sql_mode |  
-- | --
NO_ENGINE_SUBSTITUTION

</body>
</html>

[2021-08-14 11:30] fritzmg commented on #3305
Thank you. Could not reproduce it with that either though.

[2021-08-14 12:09] tabcontao commented on #3305
Yes, it might get quite difficult to track down this issue. Especially when there ist no way to really debug the Installtool code on the webserver. I'm also aware, that it's probably caused by a special and unique combination of PHP 8 version/configuration and MariaDB version/configuration. It has shown up nowhere besides All-Inkl webhosting yet. And although I would think it has to be a MySQL thi

[2021-08-14 12:53] fritzmg commented on #3305
Can you provide SSH access to one such instance? (And then may be @ausi can take a look at it 🙈)

[2021-08-14 13:27] tabcontao commented on #3305
Well, not before next week anyway. At least, I'll have to ask the users of a (not encrypted) Nextcloud instance running there for permission first. Alternatively, All-Inkl also offers a free 7-day test account, which would certainly reproduce the same issue. If all else fails, I would have to move the Nextcloud elsewhere.

Edit: We agreed on moving the Cloud, it was planned anyway, to do this in t

[2021-08-14 13:47] leofeyer commented on #3307
@ausi /cc

[2021-08-14 13:47] leofeyer commented on #3306
@ausi /cc

[2021-08-15 15:15] luap42 opened #3309 "Latest security update breaks theme editing, likely over-escaping"
**Affected version(s)**

Contao 4.11.8 latest update (with the security update published on 2021-08-11, https://contao.org/de/news/sicherheitsupdates-am-11-august-2021.html)

**Description**

Before: You have a theme viewport setting of `width=device-width, initial-scale=1.0` (or anything similar with a `=` sign). The site works as intended.

Then: You make any change to the additional `<head>` co

[2021-08-15 16:01] fritzmg commented on #3309
Basically duplicate of #3306

[2021-08-15 18:51] andre5tz commented on #770
Habe mich an #770 versucht, brauche wohl Hilfe für dummies. Ich bekomme es nicht zum Laufen, leider.

Contao 4.4 (Testinstllation) und Contao 4.11, jeweils aktuell.
Neue Datei in /Pfad zu Contao/contao/vendor/contao/news-bundle/src/EventListener/UseFirstContentElementAsTeaserListener.php angelegt und den Inhalt aus #770 eingefügt. Auch mal <?php am Anfang der Datei eingefügt.

Was müsste ich auf d

[2021-08-15 19:53] fritzmg commented on #770
In Contao 4.4 reicht es nicht diese Datei einfach anzulegen, da muss der Hook auch noch zusätzlich in der `app/Resources/contao/config/config.php` registriert werden. In Contao 4.11 sollte es ohne Weiteres funktionieren, sofern du danach in deiner lokalen Entwicklungsumgebung zumindest `composer install` aufrufst (über die Konsole oder den Contao Manager).

Im Contao Manager wäre das "Composer-Abh

[2021-08-16 05:50] Shoekrates opened #3312 "„xlink:href“ gets stripped by new allowed html attribute functionality"
Tested in Contao 4.4.56 and Contao 4.9.18

In html modules or elements I use the svg „use“ tag with the attribute „xlink:href “ to reference an svg sprite I added to the html document globally. Somehow I can't get this attribute to get accepted. Maybe it's the colon in the attribute?

- If I don't add the attribute to the allowed list the only thing that remains when saving is &lt;use&gt;&lt;/use&

[2021-08-16 06:42] aschempp commented on #770
I have created a draft pull request in https://github.com/contao/contao/pull/3313 which might add this feature to Contao 4.13

[2021-08-16 07:05] bennyborn commented on #3307
We also have two insert tags in the [Marketing Suite](https://contao-marketingsuite.com) affected by this (ifoptin, ifnoptin). That's a BC for us.

[2021-08-16 07:35] aschempp commented on #3241
Honestly I think that's wrong (both here and in Twig). We should never nuke the cache, it is the responsibility of the system (e.g. container config) to know when to rebuild the cache. The container has resource tracking specifically for that, so cache can be rebuild when files (mtime) changes. It is correct that the container gives the cached information if there is a cache that is not configured

[2021-08-16 07:42] ausi commented on #3312
Yes, that is the issue. We have to fix the attribute parsing for namespaced attributes.

[2021-08-16 07:54] andre5tz commented on #770
Ich habe es heute nochmal mit der 4.11 versucht und über den Contao Manager 'composter install' ausgeführt. Leider kein Ergebnis. Ich bekomme es nicht zum Laufen, bei mir will der Autoteaser einfach nicht.

Mit  #3313 sehe ich die Lösung, von daher freue ich mich drauf und alles wird gut, bzw. noch besser. :-)
Eine Anmerkung noch,

Ja bitte.

Vielen Dank Euch
VG
André

[2021-08-16 08:02] ausi commented on #3307
I would agree I think.

I don’t see another way to implement the `|attr` flag, do you?

I’m happy to provide a pull request or patch if you can point me to the affected code. (Also possible via DM on Slack).

@bennyborn Can you point me to the affeced code, I can try to provide a fix for your insert tags.

[2021-08-16 08:10] bennyborn commented on #3307
@ausi Thanks for the offer but we've already implemented a fix which will be released in the coming days.

[2021-08-16 08:18] fritzmg commented on #770
@andre5tz if you still want this in Contao 4.9 or 4.11/12, you should contact the community for help :) (forum or Slack).

[2021-08-16 09:31] ausi commented on #3312
@Shoekrates can you verify if the fix from #3314 works for you?

[2021-08-16 09:50] tabcontao commented on #3305
I'm ready with the preparations now, the cloud has moved. I've set up the instance once again from scratch. The steps were:

1. Install Contao 4.11.
2. Update the database and create an admin account.
3. Login to the back end and then logout.
4. Rebuild the application cache.
5. Log into the Install Tool again.

If you log into the Install Tool again before step 4, all seems normal, no proposed da

[2021-08-16 09:50] ausi commented on #3309
@luap42 can you verify if the changes from #3315 fix your issue?

[2021-08-16 09:50] ausi commented on #3306
@kikmedia can you verify if the changes from #3315 fix your issue?

[2021-08-16 09:55] ausi commented on #3305
via https://contao.slack.com/ to @ausi or via email to martin@contao.org

[2021-08-16 10:01] ausi commented on #3302
The following fixes need to be backported to 4.4 I think?

- [x] #3291 #3332
- [x] #3292 #3328
- [x] #3293 #3331
- [x] #3314 #3330
- [x] #3315 #3327
- [x] #3319 #3333

[2021-08-16 10:34] Shoekrates commented on #3312
@ausi Where do I find the file „core-bundle/tests/Contao/InputTest.php“?
I don't have a tests-folder in /vendor/contao/core-bundle/ ?
Contao 4.9.19.

[2021-08-16 10:39] ausi commented on #3312
You can ignore all changes from the _tests_ directory, only the changes in the _Input.php_ are relevant.

[2021-08-16 11:03] kikmedia commented on #3306
Works for me. Excellent!

[2021-08-16 11:13] Shoekrates commented on #3312
The fix works in Contao 4.4.56 and 4.9.19. Saving doesn't strip the attributes now.
But you have to add the full attribute „xlink:href“ to the allowed attributes for the tag „use“ before.

[2021-08-16 11:19] andre5tz commented on #3306
Works for me too an solves my problem in ce_hyperlink.
Thanks.

[2021-08-16 12:59] frontendschlampe commented on #3306
I think, it's not working for `ce_html`

[2021-08-16 13:02] fritzmg commented on #3306
That's a different problem though, please create a new issue.

[2021-08-16 13:12] frontendschlampe opened #3317 "various characters will be escaped after saving ce_html"
**Affected version(s)**

Contao 4.9 or Contao 4.11

**Description**

We have a CE HTML with following content:

[code]

After update to latest Contao 4.9 or 4.11 and safe or duplicate the CE HTML, the following content will appear:

[code]

That's a big problem! :-(

[2021-08-16 13:24] dennisbohn opened #3318 "DCA: Additional dots in foreignKey or list.label.fields causing errors"
**Affected version(s)**
Contao 4.11

**Description**

I am getting an error, when I try to use additional dots inside a table reference in foreignKey or list.label.fields.

[code]

Works fine.

[code]

Caused the following error.

`
An exception occurred while executing 'SELECT CONCAT(lastname," FROM tl_member WHERE id='2528' LIMIT 0,1'
`

Greetings
Dennis

[2021-08-16 13:31] fritzmg commented on #3318
Can you please post the complete stack trace?

[2021-08-16 13:38] dennisbohn commented on #3318
[code]

[code]

[code]

[2021-08-16 13:58] fritzmg commented on #3318
@dennisbohn can you test if changing line 4919 in `DC_Table.php` from

[code]

to

[code]

fixes the issue?

[2021-08-16 13:59] fritzmg commented on #3318
Same in line 3976:

[code]

[2021-08-16 14:05] dennisbohn commented on #3318
Changing both lines fixed the problem. Thanks! :)

[2021-08-16 14:05] fritzmg commented on #3318
I'll create a PR for this. I found a few more places where the third parameter is missing.

[2021-08-16 14:17] ausi commented on #3317
`` needs to be fixed, sorry for that one 😓

Allowing `<script>` is “unsafe” so for this use case you can fix your issue by allowing the attribute `*` for the element `*` (this should restore the old behavior).

[2021-08-16 15:04] ausi commented on #3317
@frontendschlampe can you verify if the fix from #3319 works for you?

[2021-08-16 17:03] fritzmg commented on #3318
Closing in favour of #3321

[2021-08-16 17:03] #3318 closed, assigned to fritzmg

[2021-08-16 18:35] ausi commented on #3305
The error seems to be related to the MySQL connection. The php process executed by the manager is not able to connect to the database and results in an `SQLSTATE[HY000] [2002] No such file or directory` error.

Because of this, the manager plugin thinks that there are no credentials yet and sets the database server version to `5.5` here: https://github.com/contao/contao/blob/807e7d92ec0d359333cebc

[2021-08-16 18:43] fritzmg commented on #3305
Interesting, but why does it only happen in PHP 8.0?

[2021-08-16 18:44] ausi commented on #3305
I would guess that the php74 process is allowed to connect to the database if executed via the Contao Manager.

[2021-08-16 19:46] tabcontao commented on #3305
@ausi thanks for analyzing the problem.

So it is a problem occuring in the console process that the manager creates for the tasks? Are the credentials, that the manager process provides in the connect-Function incorrect or is the process unable to connect to the MariaDB-Server despite providing correct credentials? Would it be feasible to extract a piece of code that is simple enough for All-Inkl

[2021-08-16 19:52] fritzmg commented on #3305
Not recommended though, as this will not build Contao's internal cache. Though accessing the Install Tool afterwards might build it.

[2021-08-16 23:18] vstuber commented on #3307
@ausi

If I understand correctly, the `|attr` and `|urlattr` flags will result in the insert tags' replacement value being encoded for security reasons (CVE-2021-35955 and CVE-2021-37626).

So my question is: Are those flags necessary for conditional insert tags which are not actually replaced by a possibly harmful value but instead only control the output of values which the backend user could en

[2021-08-17 05:22] MacKP commented on #3302
#3291 must be backported.
I have a Contao 4.4 with that:
[code]
The output is now:
[code]
Kind regards

[2021-08-17 06:59] leofeyer opened #3324 "Hide the captcha legend in the registration module"
**Affected version(s)**

Contao 4.12

**Description**

The captcha legend is still visible in the registration module with the `member_grouped` template:

<img width="645" alt="" src="https://user-images.githubusercontent.com/1192057/129678576-6ba556bf-8dc0-48b2-b514-25cc8b10e911.png">

[2021-08-17 07:41] frontendschlampe commented on #3317
yes, it also fixes the encoded characters within `<script>` - I don't make any configuration in `allowedAttributes`

[2021-08-17 08:02] ausi commented on #3307
How would we do that? If an insert tag is conditional or not can not be determined I think (apart from the ones existing in Contao itself).

Also, it is technically hard at this point to know the insert tag name, as nested constructs like `{{bad-insert-tag::something{{iflng::de}}}}` could be used by an “attacker”.

[2021-08-17 08:05] ausi commented on #3317
But then your `type='application/ld+json'` gets stripped, doesn’t it?

[2021-08-17 08:08] frontendschlampe commented on #3317
yes, but I understand, that the encoding of `"` should be fixed with entry in `allowedAttributes`?! Maybe I misunderstood. With configuration for `<script>` in `allowedAttributes` everything works fine.

[2021-08-17 08:54] m-vo commented on #3307
Keep in mind that a security related update may break BC at any point. We try to avoid it but have to make behavioral changes in rare cases. :-/

I agree with @ausi that we should not distinguish between insert tags being conditional or not. One of the issues we have with insert tags is their lack of semantic context. A `:` for example isn't harmful at all in HTML text context, but it's problemati

[2021-08-17 09:05] bytehead opened #3326 "Dynamically add/remove the search tables"
From https://github.com/contao/contao/pull/3283#issuecomment-899292222:

Hide the "clear search index" task from the list when the indexer service is not available.

/cc @aschempp

[2021-08-17 09:39] #3317 closed, assigned to ausi

[2021-08-17 09:39] #3312 closed, assigned to ausi

[2021-08-17 09:41] #3309 closed, assigned to ausi

[2021-08-17 09:42] #3306 closed, assigned to ausi

[2021-08-17 11:14] ausi commented on #3305
Done. I sent you an email with the details. The test scripts have the following contents:

[code]

[code]

Both scripts run without issues via SSH, but the second script does fail if executed via the webserver.

[2021-08-17 14:01] Toflar opened #3334 "Issues with deprecation"
**Affected version(s)**

4.12, I guess

**Description**

So `PageModel::findPublishedSubpagesWithoutGuestsByPid()` is now deprecated in favor of `Module::getPublishedSubpagesWithoutGuestsByPid()` which was deprecated in favor of `Module::getPublishedSubpagesByPid()`, both of which are `protected`.
How am I supposed to use those now and why does this reside in `Module` now? I'm a bit confused :-)

[2021-08-17 14:04] leofeyer commented on #3307
We have discussed this back and forth and unfortunately, this BC break is unavoidable. I am sorry if that means extra work for you developers out there. 🥺

[2021-08-17 14:04] #3307 closed, assigned to ausi

[2021-08-17 14:20] ausi commented on #3334
Use `self::getPublishedSubpagesByPid()` if you are in a Module class and you need the `hasSubpages` flag.

Otherwise use `PageModel::findPublishedByPid()` I think.

Because it is used by `Module::renderNavigation` and does not make sense in the model I think.

[2021-08-17 14:21] Toflar commented on #3334
I have a custom content element that is written in the new fragment style so I do not extend from `Module`.

[2021-08-17 14:25] ausi commented on #3334
Can you use `PageModel::findPublishedByPid()`?

[2021-08-17 15:25] Toflar commented on #3334
I guess I could, yeah. I just need to check the permissions myself then.

[2021-08-18 05:11] jankout commented on #74
Hello, is there any plan to implement it?

[2021-08-18 11:19] tabcontao commented on #3305
I contacted the support and provided the information and scripts. The answer is:

Ihre SSH-Umgebung unterscheidet sich von der passthru-Umgebung. Ich habe Ihr Skript connect.php einmal um die Angabe des Sockets erweitert:

[2021-08-18 11:21] fritzmg commented on #3305
@tabcontao what exact changes to the script did they make?

[2021-08-18 11:21] ausi commented on #3305
~~/cc @aschempp~~

~~But I don’t think setting `unix_socket` can our should be the responsibility of the contao manager, or should it?~~

[2021-08-18 11:25] ausi commented on #3305
They changed the line

[code]

to:

[code]

[2021-08-18 11:26] fritzmg commented on #3305
So on All-Inkl. Hosting, the database connection needs to be defined like this:

[code]

[2021-08-18 11:31] fritzmg commented on #3305
But still, All-Inkl. should investigate why their passthru environment (whatever that is) is different - and only under PHP 8.0.

[2021-08-18 11:39] ausi commented on #3305
I guess they refer to the `passthru()` function used in the test script.

[2021-08-18 13:18] tabcontao commented on #3305
Exactly like @ausi wrote, the changed connect.php now looks like that

[code]

[2021-08-18 13:48] tabcontao commented on #3305
Well, I'll do some comparisons to PHP 7.4 concerning the output of a info.php, containing a call to phpinfo(), when executed the same way as connect.php. Then I will politely ask, why this "passthru environment" has to behave differently between PHP 8.0 and PHP 7.4 concerning the socket. A difference I certainly find not very intuitive at best. Given there is a workaround anyway by specifying the

[2021-08-19 08:13] bytehead opened #3342 "Argument #1 ($name) must be of type string, Symfony\Bundle\FrameworkBundle\Templating\TemplateReference given"
**Affected version(s)**

Contao 4.12-RC3 / PHP 8.0.9

**Description**

[code]

[2021-08-19 08:14] ausi commented on #3342
/cc @m-vo

[2021-08-19 08:56] m-vo commented on #3342
`TemplateReference` is deprecated and it seems like Twig did never officially support it (but it's still used in Sf in some places):  https://github.com/twigphp/Twig/pull/1183#issuecomment-25272767

We could add the string cast as well but this feels very wrong to me. :disappointed:

[2021-08-19 09:14] xyzjuhe opened #3344 "Search indexer"
Contao 4.11.8.

Getestet auf neuer Installation ohne Erweiterungen.
Beim Einfügen der indexer gibt es folgenden Fehler:
`
`
Das 1. indexer scheint nicht geschlossen zu werden.
Im Beckend steht aber folgendes:

``
Lorem Ipsum
``

[2021-08-19 09:20] fritzmg commented on #3344
I think you did not post the actual error?

[2021-08-19 09:22] xyzjuhe commented on #3344
Thx for your answer. Its the actual error.

[2021-08-19 09:25] xyzjuhe commented on #3344
I forgot the ` sign, sorry.

[2021-08-19 09:25] fritzmg commented on #3344
Ah yes, this is a known problem in Contao 4.9.19 and 4.11.8 and should be fixed with the next Contao version. Though I am curious: are these HTML comments that you entered yourself somewhere, e.g. an HTML content element or HTML frontend module? Or are the erroneous HTML comments coming from regular templates?

[2021-08-19 09:25] ausi commented on #3344
Duplicate of #3317

[2021-08-19 09:30] xyzjuhe commented on #3344
Thank you for your quick response. (I hadn't seen this bug reported yet.)

The problem occurs in a content element or module. I need this in the footer so that not every page is indexed.

Do you perhaps know until when the new Contao version will come, or is it not known?
Thank you for your help.

[2021-08-19 09:44] ausi commented on #3344
Probably soon, but in the meantime you could install the version `4.11.x-dev` and report back here if our fix works for your use case.

[2021-08-19 10:01] ausi opened #3345 "Find a better way to set the doctrine server_version"
**Affected version(s)**

Contao 4.9

**Description**

I want to find a better solution for https://github.com/contao/contao/blob/5fdcb347db6e2f18e999ee5e673c7d0c916bcee9/manager-bundle/src/ContaoManager/Plugin.php#L311-L328 as this currently also gets triggered for Contao (outside of the install-tool) and therefore can cause issues like in https://github.com/contao/contao/issues/3305#issuecomment-

[2021-08-19 10:02] #3305 closed, assigned to nobody

[2021-08-19 10:03] #3344 closed, assigned to nobody

[2021-08-19 10:04] xyzjuhe commented on #3344
With 4.11.x-dev appears: Your database server is not running in strict mode!
I will now downgrade to an older version

[2021-08-19 10:06] m-vo commented on #3344
This warning in the install tool is intended if your server does not run in a strict SQL mode and has nothing to do with the original issue.

[2021-08-19 10:19] tabcontao commented on #3305
Just for information ...
I looked into the configuration of PHP 8.0 and 7.4 in my Webhosting and found, that in both cases the value of
`pdo_mysql.default_socket `
is not set in the global php.ini. So whatever the value of this variable is, it's either The PHP default or compiled into PHP. Unfortunately, it can't be set elsewhere (.user.ini or whereever). In the case of PHP 8.0.6 it IS the PHP def

[2021-08-19 10:21] fritzmg commented on #3305
This is definitely something that All-Inkl. needs to fix then.

All-Inkl. should still fix their PHP setup though.

[2021-08-19 10:25] xyzjuhe commented on #3344
Thx for your answer m-vo
With x-dev the problem is fixed.

[2021-08-19 10:27] #3342 closed, assigned to bytehead

[2021-08-19 10:51] ausi commented on #3305
If you mean #3345 and https://github.com/contao/contao-manager/issues/655 by that, they will not fix the issue but (only) make such cases easier to debug.

[2021-08-19 13:16] ausi commented on #3301
Closed in favor of #3346

[2021-08-19 13:16] #3301 closed, assigned to nobody

[2021-08-19 13:43] bennyborn opened #3347 "No way to create a custom ResizeConfiguration-Mode?"
**Affected version(s)**

at leat Contao >= 4.9

**Description**

We needed a new resize mode because the traditional `crop`, `box` and `proportional` didn't work for us so we tried to implement our own (basically the equivalent of `background-size: contain`).

We looked at all the Picture- Image and Whatnot-Factories and got around to something that "works" - at least as long as we modify the imag

[2021-08-19 13:49] fritzmg commented on #3347
The equivalent of `background-size: contain` is already the `box` mode. What would your mode do differently?

[2021-08-19 13:54] bennyborn commented on #3347
Not quite.

`box` seems to generate an image with fixed dimensions and copies the src image into it without altering its size. Our mode resizes the src to the exact width and crops it in it's height.

We also added a second mode which uses fixed dimensions fits the image in there (shrinks it along its longest side) and keeps the whitespace around it - something the core does not provide.

[2021-08-19 14:03] fritzmg commented on #3347
Not sure what you mean. If your image size is `100x100` with `box` mode, then an image that is for example `1280x720` will be scaled to `100x56`. If the source image size is `720x1280`, it will be scaled to `56x100`.

[2021-08-19 14:05] fritzmg commented on #3347
Ah, but that's `background-size: cover` ;). And that's just `crop`.

[2021-08-19 14:14] bennyborn commented on #3347
Can we just assume we did something different for the sake of the topic? 😋

[2021-08-19 14:18] ausi commented on #3347
This should be possible by decorating the image and picture factory services I think.

[2021-08-19 15:59] michb commented on #3347
That's what we did and like @bennyborn said it kind of works. But for example if we use an inserttag a resize configuratiion is created and throws an exception, like mentioned in the first post.
So technically we decorated the service, but we cannot use it fully in combination with contao, eg inserttag.

[2021-08-19 16:18] tabcontao commented on #3305
Ah, ok. All-Inkl already fixed the problem - for me at least. pdo_mysql.default_socket ist correct now, the test script works and also the Contao Manager. I hope they will fix it on other servers too, if not already done.

[2021-08-19 19:47] fritzmg commented on #74
It's a fairly easy pick. In the mean time you can use [inspiredminds/contao-eventlist-extended](https://github.com/inspiredminds/contao-eventlist-extended) if you want.

[2021-08-19 20:36] ausi commented on #3347
Unable to reproduce.
The following worked fine in my test with the insert tag `{{picture::files/img/image.jpg?size=my_size}}`

[code]

[code]

[2021-08-20 07:30] fritzmg commented on #3212
@leofeyer if it's a bug, it should be for 4.9, no? ;)

[2021-08-20 07:31] MarkejN opened #3349 "Not possible to compare templates in the backend"
**Affected version(s)**

Contao 4.12

**Description**

When trying to compare templates in the backend I get the following error:

`Uncaught PHP Exception Symfony\Component\DependencyInjection\Exception\LogicException: "Impossible to call set() on a frozen ParameterBag." at .../var/cache/prod/ContainerCfO4T4K/Contao_ManagerBundle_HttpKernel_ContaoKernelProdContainer.php line 2397`

Using freshly i

[2021-08-20 07:36] bytehead commented on #3349
Can confirm this:

[code]

[2021-08-20 07:39] bennyborn commented on #3347
@ausi That seems a bit too simplistic as you do not create a custom mode rather than just re-using `MODE_CROP`.

As far as we understood to do it the "proper" way we need at least our own `ResizeConfiguration`, `ResizeCalculator` and of course add our mode(s) as options in `dca/tl_image_size_item.php` and `dca/tl_image_size.php` which leads to throwing the aforementioned exception.

[2021-08-20 07:41] bytehead commented on #3349
I'm not sure why we set the `kernel.debug` parameter here:
https://github.com/contao/contao/blob/f1b3c56856666c38fe080fd04e00797b8fbed310/core-bundle/src/Resources/contao/dca/tl_templates.php#L507

[2021-08-20 07:44] fritzmg commented on #3349
Yeah, setting `kernel.debug` should not be necessary. Only setting

[code]
or
[code]

should be sufficient to prevent the Contao Templates from rendering the debug HTML comments.

[2021-08-20 07:45] bytehead commented on #3349
Ah, there we go. Thanks for clarification.

[2021-08-20 07:52] #3349 closed, assigned to nobody

[2021-08-20 07:55] fritzmg commented on #3347
I think adding your own modes is not supported. But you should not really need it anyway. As described above, your use cases can already be covered with the existing modes.

[2021-08-20 08:01] bennyborn commented on #3347
Totally fine if that's the case (at least for now). Can we get a confirmation on this by any other core dev just to be sure?

The first mode yes, the second mode (exact size, fitted into box, keeping whitespace) not.

[2021-08-20 08:05] fritzmg commented on #3347
But you can implement that with the existing modes …

[2021-08-20 08:05] ausi commented on #3347
There is no explicit extension point to add your own resize mode. And I think it would be very hard to create a generalized way for this.

This should be possible with my code example from above. You rewrite your own mode to `box`, then call the original service and after the image was resized you add the “whitespace” to the image in your decorated class.

[2021-08-20 08:23] fritzmg opened #3351 "Cannot disable debug output for templates anymore"
**Affected version(s)**

Contao 4.12

**Description**

In https://github.com/contao/contao/commit/4e0c1204af9f39f203eb691f4fd0946e3bdc4833 `TemplateInheritance::inherit` was changed, so that it uses `kernel.debug` instead of `Config::get('debugMode')`. However, as noticed via https://github.com/contao/contao/issues/3349, this now makes it impossible to dynamically disable the debug output when par

[2021-08-20 08:38] bennyborn commented on #3347
We'll try how far we can get using @ausi's example and get back to you.
We definitely need a way to make the mode/size selectable from within the backend.

[2021-08-20 08:42] fritzmg commented on #3347
That you can still do. Your service would then intercept your custom mode and generate the image accordingly (using the pre-existing modes as described above).

[2021-08-20 08:47] ausi commented on #3347
You probably need to copy some code from the picture factory that reads the sizes from the database, the configuration or the passed sizes array, in order to be able to handle every possible use of resize modes.

Regarding the *exact size, fitted into box, keeping whitespace* requirement: did you check if you could use a CSS solution (in combination with mode `box`) as an alternative?

[code]

You

[2021-08-20 08:48] fritzmg commented on #3351
As a workaround you could now use

[code]

Though this would strip _all_ HTML comments, not just the template path debug comments.

Imho it would be convenient to be able to specifically enable or disable the debug comments. e.g.:

[code]

And if `debug()` is not set, `kernel.debug` gets used as the fallback decision factor.

Though either way it would be a BC break and extensions would have to ad

[2021-08-20 08:51] bennyborn commented on #3347
Yap, already did this in our current approach.

I'm all for CSS whenever it's possible but unfortunately there are situations where you really just need a generated image that fits.

[2021-08-20 08:54] aschempp commented on #3351
Why would you want to dynamically disable the debug mode?

[2021-08-20 09:04] ausi commented on #3351
Because you want to parse a template and don’t want the debug comments to show up?

[2021-08-20 09:05] fritzmg commented on #3351
To disable the template path HTML comments.

For example they could interfere with whatever you need the parsed template content for. We use Contao templates in order to generate HTML for mPDF - but mPDF does not like HTML comments occurring before `<!DOCTYPE html>` for example and thus we dynamically disable it.

Some more examples where the `debugMode` is dynamically disabled for the template ou

[2021-08-20 09:08] bytehead commented on #3351
But when do you use this in debug mode (except during development)? 🤔

[2021-08-20 09:10] fritzmg commented on #3351
Exactly during development ;). If I weren't able to remove the comments, I could not test and debug the functionality in the `dev` environment. The application should not suddenly break, just because you enabled `APP_ENV=dev` or clicked on _Debug-Mode_ in the Contao back end.

[2021-08-20 09:10] ausi commented on #3351
If we want to fix BC we have to go back to check for `Config::get('debugMode')`, add `$template->debug(false)` as an alternative and deprecate `Config::set('debugMode',…)`, right?

[2021-08-20 09:13] fritzmg commented on #3351
It is already deprecated, but I assume you mean deprecate it separately from all the other deprecated config values with a separate deprecation message. I would say yes. Whether or not `$template->debug(false)` is the right way, idk. May be there could also be a non-frozen parameter bag that could control this 🤷. But using `$template->debug(false)` is certainly the most convenient way for the give

[2021-08-20 09:17] ausi commented on #3351
Apart from controlling the template output, do you know of any other use cases that use `Config::set('debugMode',…)` that we should provide an alternative for?

[2021-08-20 09:21] fritzmg commented on #3351
In Contao 4.9 you can also control via `debugMode` whether the `Combiner` should actually combine the assets or not. Or whether the HTML gets minified or not. Among other things. Though I personally never used it for that.

Isotope also disables the `debugMode` in its `Upgrade` class, but I am not sure why (@aschempp ? 😉).

[2021-08-20 09:27] ausi commented on #3351
I will provide a pull request with the approach outlined in https://github.com/contao/contao/issues/3351#issuecomment-902553157

[2021-08-20 11:17] bennyborn commented on #3347
@ausi You wrote `Do something custom with $picture` - it seems that is not the right place to do something. `$picture` is an instance of `Contao\Image\Picture` so all the image processing and caching is already done. What we would want is to intersect where the image has already been resized and about to be cached. It seems `Contao\Image\ResizeOptions::processResize` would be the place to go.

Dec

[2021-08-20 11:50] ausi commented on #3347
I would probably add the “whitespace” after this step for every image resource that was created.

How about extending `Contao\Image\ResizeConfiguration`, replace the `$size` in the picture factory with an instance of it (if the `$size` uses your mode) and pass that to the parent?

In your resizer decoration you could then check for your own `ResizeConfiguration` and handle your custom logic there.

[2021-08-20 11:57] frontendschlampe opened #3354 "Folder names with "." not possible in templates folder"
**Affected version(s)**

Contao 4.12

**Description**

After updating from 4.11.x to 4.12 I got an error in Contao Manager and after access to install tool:

[code]

I renamed the folder `templates/XXX.XX_DEFAULT_DE` to `templates/XXX_XX_DEFAULT_DE` and it works. I think there's a problem with `.` in folder names.

[2021-08-20 11:58] bytehead commented on #3354
/cc @m-vo

[2021-08-20 12:00] bennyborn commented on #3347
I don't think this would work because the `create` method of the `PictureFactory` gets called on every request. I would then need a way to determine if the image returned by `create`, which might already come from the cache, was already altered by our method.

We tried using `Contao\Image\ResizeOptions` and adding a custom property to determine within the Resizer if it's our call or not but that s

[2021-08-20 13:20] ausi commented on #3347
That would need for the internals of the resizer to change as it currently makes many assumptions about what cache image it can reuse and when it is possible to skip resizing altogether. This would all break in your blue tint or unicorn case.

I think to meet your needs we would need an extension point for `Resizer::canSkipResize()`, `Resizer::createCachePath()`, `executeResize()` before the call

[2021-08-20 13:29] bennyborn commented on #3347
And that's exactly where we ended up with a bunch of copy'n'pasted core-core which only works to certain extends.

Well I guess the initial question is answered then.

[2021-08-20 14:14] leofeyer opened #3355 "Field "image.url" missing"
**Affected version(s)**

Contao 4.12

**Description**

According to the Google Search Console, we are supposed to use `image.url` instead of `image.contentUrl` in the schema.org data of an event.

<img width="416" alt="" src="https://user-images.githubusercontent.com/1192057/130246918-a1d2d770-1a00-4cf3-93d2-f2effac31872.png">

<img width="342" alt="" src="https://user-images.githubusercontent.com

[2021-08-20 14:37] #3302 closed, assigned to ausi

[2021-08-20 14:47] leofeyer commented on #3013
@contao/developers /cc

[2021-08-20 14:48] #3016 closed, assigned to nobody

[2021-08-20 14:53] #3212 closed, assigned to nobody

[2021-08-20 15:26] ausi commented on #3013
Unable to reproduce.

[2021-08-20 15:35] leofeyer commented on #2984
Do we really want to invest time here? Version 4.8 has been released two years ago and apparently no one else has had this problem since then.

[2021-08-20 15:43] fritzmg commented on #2984
imho yes. It's not very intuitive that Contao would silently remove arbitrary templates from the page layout.

[2021-08-20 15:44] leofeyer commented on #3099
I am not sure how to handle this case. First, the front end preview is obviously not meant to access the back end. Second, would the correct solution not be to redirect `/preview.php/contao` to `/contao`?

[2021-08-20 15:47] leofeyer commented on #3013
Thanks for checking. 👍

[2021-08-20 15:48] fritzmg commented on #3099
Redirecting `/preview.php/contao` to `/contao` seems reasonable to me.

[2021-08-20 16:00] contaoacademy commented on #2984
I have had this problem only in one installation. For me, it is ok to close this and focus on other things.

[2021-08-20 18:28] katgirl opened #3357 "Config wird nicht akzeipiert"
**Affected version(s)**

Contao 4.12

**Description**

Bei folgender Konfiguration

[code]

Wird beim Seitenaufruf egal ob Frontend oder Backend auf das Installtool weitergeleitet um die Lizenz zu akzeptieren.

setze ich in die ```localconfig.php```
[code]
ein geht es ohne Probleme.

[2021-08-20 19:05] xchs opened #3358 "Contao Managed Edition: Release Tag for Contao 4.12"
Could we have a release tag for Contao 4.12 in the [contao/managed-edition](https://github.com/contao/managed-edition) split repository so that the Contao Managed Edition can also be[ installed on command line](https://docs.contao.org/manual/de/installation/contao-installieren/#contao-ueber-die-kommandozeile-installieren)?

[2021-08-20 19:24] fritzmg commented on #3357
I cannot reproduce. Setting `contao.localconfig.licenseAccepted` still works fine in Contao 4.12.

[2021-08-20 19:58] ausi commented on #3357
Did you clear the cache after changing the config?

[2021-08-20 21:32] katgirl commented on #3357
Das hängt damit zusammen, wenn die folgenden Zeilen in der Config fehlen:

[code]
und es benötigt wird. Es ist bei uns auch nur bei All-Inkl aufgetreten. Inzwischen musste ich auch feststellen, das keine der Konfigurationen aus ```contao.localconfig``` gezogen werden. Die anderen Einstellungen aus der ```config.yaml``` werden aber umgesetzt.

Auf unserem Test-Server klappt es auch. Ja der Cache wi

[2021-08-20 22:10] ausi commented on #2984
In any installation with a custom *j_mediaelement* or *js_mediaelement* template this migration will be executed again and again, regardless if there was an update from version 4.8 to the current one or not.

Closed in favor of #3359

[2021-08-20 22:10] #2984 closed, assigned to ausi

[2021-08-21 02:33] #2637 closed, assigned to m-vo

[2021-08-21 08:00] fritzmg commented on #3357
I also cannot reproduce that. `contao.localconfig.licenseAccepted` works regardless of whether any doctrine configuration is present or not.

[2021-08-21 10:10] leofeyer commented on #3358
Done.

[2021-08-21 10:10] #3358 closed, assigned to nobody

[2021-08-21 10:20] m-vo commented on #3354
We could solve this in multiple ways:

1. Convert all special chars in the path like `.`, `_` to `-` (and the separators to `_`) when creating the theme slug. This has the downside that paths could be ambiguous: `/template/foo/bar.baz` vs `/template/foo/bar-baz`. But slugs remain readable and the file extension in a logical name will always remain distinguishable. [:smile: ]

1. Basically the oppo

[2021-08-21 10:26] m-vo commented on #3354
We should also consider #3271 when implementing a fix.

[2021-08-21 22:48] m-vo opened #3361 "Fix extending back end templates with Twig"
**Affected version(s)**

4.12

**Description**

Extending a back end PHP template with Twig currently produces the following error:

[code]

This happens because we're rendering the proxy/surrogate via the `FrontendTemplate` class but also need the methods from the  `BackendTemplate` class. This is already fixed in the (currently draft) PR #3180 where I extracted the template methods into traits a

[2021-08-22 08:41] #3089 closed, assigned to nobody

[2021-08-22 10:54] m-vo commented on #3361
see #3362

[2021-08-22 10:54] #3361 closed, assigned to m-vo

[2021-08-22 12:27] katgirl commented on #3357
Hier mal ein Video das zweigt was ich da mache: https://www.awesomescreenshot.com/video/4934124?key=306a1d5b359f1d63e3a5fe1cc151681c

System
[code]

Composer.json
[code]

[2021-08-22 13:15] fritzmg commented on #3357
Can you debug which values are present in `$config['localconfig']` here, when the container is built:

https://github.com/contao/contao/blob/f1b3c56856666c38fe080fd04e00797b8fbed310/core-bundle/src/DependencyInjection/ContaoCoreExtension.php#L82

?

[2021-08-22 13:18] fritzmg commented on #3357
@katgirl something in your setup is overwriting `contao.localconfig`. In your video you say, that you only see the default values, however that is not actually true. Your video shows the following output for `debug:config contao`:

[code]

That is _not_ the default config. The default config when running `debug:config contao` would not include any `contao.localconfig` values at all.

[2021-08-22 13:43] katgirl commented on #3357
Hier die Ausgabe:
[code]

Danke für den Tip habe den Fehler gedunden, der ist im Theme:
https://github.com/erdmannfreunde/optimist-theme-bundle/blob/master/src/ContaoManager/Plugin.php#L21

[2021-08-22 13:43] #3357 closed, assigned to nobody

[2021-08-22 22:34] m-vo opened #3363 "Issues with switching to public as the default web root"
**Affected version(s)**

Contao 4.12?

**Description**

Detecting the use of `web` as public directory by checking if the resource exists on the filesystem might lead to unwanted behavior, see https://github.com/contao/contao/pull/3084#issuecomment-903163906.

I noticed the problem when creating a new project from a template/skeleton (now with 4.12):

* the project assumes `web` as the web root
*

[2021-08-23 05:22] leofeyer commented on #3363
I don't think we should do any of this. Keep in mind that the logic only applies to the default value, therefore all of the problems mentioned above can be solved by adding `contao.web_dir` to your `config.yml` file.

[2021-08-23 06:47] aschempp commented on #2638
has this been solved with our experimental Twig support? 🙃

[2021-08-23 07:33] ausi opened #3364 "Add warning in system log for {{link_url::back}}"
`{{link_url::back}}` doesn’t work anymore as it gets encoded as `javascript%3Ahistory.go(-1)`, we should probably add a warning to the system log if it gets used somewhere.

[2021-08-23 07:39] Toflar commented on #3355
In the examples on https://schema.org/ImageObject they always use `contentUrl`. But I don't see any difference between `url` and `contentUrl` and they are both allowed. So maybe we should provide both?

[2021-08-23 08:32] fritzmg commented on #3364
Is there really no way to get this working again? What would be the alternative?

[2021-08-23 08:35] m-vo commented on #2638
Yes, IMHO we could close this issue and track the further progress in the respective Github project and/or a new issue.

Things like back end integration, handling of templates + cache defaults in our fragment controllers and so on…

[2021-08-23 08:35] #2638 closed, assigned to nobody

[2021-08-23 08:40] m-vo commented on #3363
So if I'm installing Contao in a Symfony environment where I set my web root via the `composer.json` I need to add a config entry. Same if I am using a new 4.12 with `public` and later on I'll add a `web` folder - not knowing this would do any harm. I don't like that magic at all.

[2021-08-23 08:55] m-vo commented on #3364
Since it relies on js anyway, an easy way around would be to just output a link with a certain attribute and a global piece of code that adds the functionality.

Something like this:
[code]

[2021-08-23 08:59] fritzmg commented on #3364
In Contao you can enter `{{link_url::back}}` in any URL field (news, events, content elements for example). Typically it is used in the `ce_hyperlink` element for example. Should we then offer a migration that would at least automatically provide this alternative for these elements?

[2021-08-23 10:43] ausi commented on #3364
We could add a check to https://github.com/contao/contao/blob/f1b3c56856666c38fe080fd04e00797b8fbed310/core-bundle/src/Resources/contao/library/Contao/InsertTags.php#L1344 if the whole attribute matches exactly `"{{link_url::back|urlattr}}"` (including the quotes) and replace it with `"{{link_url::back}}"` in that case.

But I don’t really like that and I would at least deprecate it then.

[2021-08-23 11:03] leofeyer commented on #2046
I have debugged the issue and here is the problem: If `do=calendar`, Contao will use `tl_content_calendar::checkPermission()` instead of `tl_content::checkPermission()`. However, the picker URL is `contao/picker?context=dc.tl_content&extras%5BfieldType%5D=radio&extras%5Bsource%5D=tl_content.344&value=`, so the `do=calendar` part gets lost and Contao falls back to using `tl_content::checkPermission

[2021-08-23 11:13] leofeyer opened #3366 "|urlattr breaks the picker"
**Affected version(s)**

Contao 4.9+

**Description**

TinyMCE → Insert/edit link → pick any page → `{{link_url::48}}`

Now save → the insert tag is converted to `{{link_url::48|urlattr}}`

Click "Insert/edit link" again → the page is no longer selected, because the picker fails to extract the ID from the insert tag.

[2021-08-23 11:30] leofeyer commented on #3366
@aschempp Should we adjust the `AbstractInsertTagPickerProvider::getInsertTagValue()` method to return `48` (the actual value) instead of `48|urlattr` or would this break something?

[2021-08-23 12:02] #3366 closed, assigned to nobody

[2021-08-23 19:28] m-vo opened #3370 "Setup does not call InstallWebDirCommand with the target argument"
**Affected version(s)**

technically since ever, noticeable in Contao 4.12

**Description**

We never called the `contao:install-web-dir` with the `target` argument (neither in the contao setup binary nor before) :facepalm:. The argument is optional and the default was just right before, but with the switch to `public` this now breaks if a `web` directory exists even *if* the `public` directory wa

[2021-08-23 19:28] m-vo commented on #3363
related #3370

[2021-08-23 20:28] MarkejN commented on #1657
This seems to be a small change. I could create a PR for it, if it is still wanted?

[2021-08-23 20:32] m-vo opened #3371 "Improve back end badge readability"
Warning: this is highly opinionated. :smile:

I am now using our new shiny back end badges and I really like them! I feel their appearance could be improved by increasing the padding and maybe using less font weight, though. Right now they look a bit off and are a bit hard to read compared to the rest of the back end design.

![Screenshot_20210823_222427](https://user-images.githubusercontent.com/

[2021-08-23 22:04] bytehead commented on #3371
And why not vertically centered as well?

[2021-08-23 22:28] fritzmg commented on #1657
Sure, go ahead :). Should be implemented in the same manner as the options of the YouTube element, I think?

[2021-08-24 07:20] rabauss commented on #3371
Well, the first idea was from here https://github.com/contao/contao/issues/403#issue-422122564 and I did not want to make that badge to large so that it still looks superscript.
But you're right that it's not vertically centered - the current font weight is okay for me 😃

[2021-08-24 08:25] aschempp commented on #3371
I honestly prefer the current version 😬 it looks more like a badge. The proposed design looks like it's incorrectly offset to the Contao name.

[2021-08-24 08:47] #3351 closed, assigned to nobody

[2021-08-24 08:55] leofeyer commented on #3355
@ausi WDYT?

[2021-08-24 09:02] ausi commented on #3355
Unable to reproduce
![Screenshot 2021-08-24 at 11-02-04 Schema Markup Validator](https://user-images.githubusercontent.com/367169/130588916-cbeaf5c3-d421-4bf9-a85f-5d320c3f10dd.png)

Probably an error in the Google Search Console?

[2021-08-24 09:11] leofeyer commented on #3355
Probably. Yet another one. 😄 Thanks for checking.

[2021-08-24 09:11] #3355 closed, assigned to nobody

[2021-08-24 09:58] matuweb opened #3376 "Event endtime will not be saved"
**Affected version(s)**

Contao 4.9
<img width="1175" alt="Bildschirmfoto 2021-08-24 um 11 12 00" src="https://user-images.githubusercontent.com/13745042/130595807-95e5eeb7-7516-4629-b7eb-f3edfac53596.png">

**Description**

I found a bug in the events module (backend). If you set the time for "Date and Time" for a new or existing entry to 01:00 (end time), this time will not be saved. Any other v

[2021-08-24 10:13] aschempp opened #3377 "Missing label for act=select confirmation"
**Affected version(s)**

Contao 4.9+

**Description**
The back end confirmation screen is missing a description in `act=select` (edit multiple) state.

<img width="652" alt="Bildschirmfoto 2021-08-24 um 12 11 00" src="https://user-images.githubusercontent.com/1073273/130599080-c630a98a-bde7-450f-b330-8190b9e26608.png">

[2021-08-24 10:39] leofeyer commented on #3363
Yes. We have decided against using `extra.public-dir` from the `composer.json` file, which is why we have added a separate `contao.web_dir` parameter in the first place. I don't recall the exact reasons but I think it was because there is no way to add custom settings to the `composer.json` file yet.

That is indeed something that we could reconsider, although I don't think many users will run int

[2021-08-24 10:41] Toflar commented on #3376
Can confirm.

[2021-08-24 10:42] #3370 closed, assigned to nobody

[2021-08-24 10:44] leofeyer commented on #3376
Could it be this issue? https://github.com/contao/core/issues/7364

[2021-08-24 10:45] Toflar commented on #3376
I reproduced it in the online demo btw.

[2021-08-24 10:58] m-vo commented on #3363
It wouldn't do any harm to support it now, would it? I'd read it once when parsing the config and only use the value if `extra.public-dir` is set and `contao.web_dir` is not set.

Only trust the config key: the usage would then be consistent at least and would be easier to debug. The auto-detection could still be in there when parsing the config value.

But like I said, I wouldn't try to detect fo

[2021-08-24 11:58] Defcon0 commented on #3065
Post to avoid staling.

[2021-08-24 12:27] aschempp commented on #1657
Closed in favour of https://github.com/contao/contao/pull/3379

[2021-08-24 12:27] #1657 closed, assigned to nobody

[2021-08-24 12:45] aschempp commented on #3099
Another possible solution would be **not** to generate these files if we're in the preview endpoint. There's a request attribute to check for that: https://github.com/contao/contao/blob/4.x/manager-bundle/src/Resources/skeleton/public/preview.php#L30

[2021-08-24 12:56] aschempp commented on #3363
https://github.com/contao/contao/pull/3084#issuecomment-861176746 🤷

[2021-08-24 15:49] netzarbeiter commented on #3364
In my eyes this is a bc break. We can't remove an insert tag in a bugfix version for whatever reason.

[2021-08-24 15:51] m-vo commented on #3364
Keep in mind, that if it's for security reasons, BC breaks might be a necessity.

[2021-08-24 17:13] cboelter opened #3381 "Storage behaviour changed since Contao 4.9.17"
**Affected version(s)**

Contao 4.9.18 and following

**Description**

[code]

In Contao 4.9.17 this Configuration in an datacontainer produces the following result in the database:
![Bildschirmfoto 2021-08-24 um 18 48 04](https://user-images.githubusercontent.com/550207/130658837-89df5cb8-bd70-4d41-9443-a8d87c0b5621.png)

Since Contao 4.9.18 the same configuration produces the following result:
!

[2021-08-24 17:29] fritzmg commented on #3381
You need to update to Contao 4.9.20 and then save the item again.

[2021-08-24 17:34] cboelter commented on #3381
Forgot that, I have tried it with the 4.9.20 and the 4.9.x-dev, same result :-( only adding the decodeEntities fixed it.

[2021-08-24 20:10] ausi commented on #3381
That depends on your usage. Converting the `'` character for HTML contexts is correct and was added in a recent version.

It seems that the value you are storing is used in a CSS context, using `'decodeEntities' => true` is the correct way for that. But you should encode the string properly when adding it to your CSS code (especially if the input comes from an untrusted user).

[2021-08-25 08:24] fritzmg opened #3382 "Missing redirects in legacy routing mode with empty URL suffix"
**Affected version(s)**

Contao 4.11, 4.12

**Description**

If you configured `contao.prepend_locale = true` and `contao.url_suffix = ''` under Contao 4.9, the following redirects would happen:

| Initial URL | `Location` response header | Result |
| --- | --- | --- |
| `example.com/de` | `example.com/de/` | Shows `index` page of `de` website tree. |
| `example.com/exists` | `example.com/en/exist

[2021-08-25 08:43] leofeyer commented on #3382
* The missing `example.com/de` → `example.com/de/` redirect with legacy routing enabled is wrong IMHO.
* The `example.com/does-not-exist` → `example.com/xx/does-not-exist` redirect has been dropped intentionally IIRC.
* The request `example.com/does-not-exist` not being redirected is correct and intended.

[2021-08-25 08:47] jxns commented on #3382
The request example.com/does-not-exist not being redirected is correct and intended.

Is there a particular reason for this? I think it is very inconvenient that there is no redirect in this case.

[2021-08-25 08:50] leofeyer commented on #3382
Because `example.com/does-not-exist` is a valid URL if the URL suffix is empty and invalid (404) if the URL suffix is `/`. Likewise, `example.com/does-not-exist/` is a valid URL if the URL suffix is `/` and invalid if the URL suffix is empty.

[2021-08-25 08:57] jxns commented on #3382
But is this:

configurable?
Because I have two different installations (both running on 4.11.8). One installation where the redirect is working and one installation where I get an 404 response instead.

[2021-08-25 09:08] leofeyer commented on #3382
@aschempp /cc

[2021-08-25 09:12] ausi commented on #3382
By working you mean you get a redirect to `example.com/xx/does-not-exist` that still results in a 404 page, right?

[2021-08-25 09:20] jxns commented on #3382
I get a successful redirect from `example.com/does-not-exist` to `example.com/xx/does-not-exist`.
("does-not-exist" is a valid and existing subpage. Just to avoid any misunderstandings).

[2021-08-25 10:05] fritzmg commented on #3382
In my examples `does-not-exist` is representative of page aliases that do not exist in the site structure. I have not tested the case for ones that do.

// I have added an `exists` example. Note however, that in my testing a page with the alias `exists` exists in all website roots.

[2021-08-25 12:55] asaage commented on #3382
again and again issues with empty suffix and folder urls...
https://github.com/contao/contao/issues/2775
https://github.com/contao/contao/issues/2812
now with prepend_locale in the mix 😵

[2021-08-25 13:00] fritzmg commented on #3382
The redirect from `example.com/de` to `example.com/de/` in Contao 4.12 does indeed work, if the `contao.url_suffix` is non-empty.

[2021-08-25 13:16] jxns commented on #3382
In my case, `example.com/exists` still does not redirect to `example.com/de/exists`.
Where you able to reproduce this as well?

[2021-08-25 13:18] fritzmg commented on #3382
No, I was not able to reproduce that. How many website roots and for which languages do you have, and in which website roots does a page with the alias `exists` exist? And what is the `Accept-Language` of your browser?

[2021-08-25 13:31] jxns commented on #3382
I have two website roots. One for `de` and one for `en`.
My Accept-Language is:
`accept-language: de-DE,de;q=0.9,en-US;q=0.8,en;q=0.7`
The direct is not working on only one of my pages. It is working on other Contao installations (all running on 4.11.8)

[2021-08-25 13:39] fritzmg commented on #3382
Is this page present with the same alias in both roots?

[2021-08-25 13:44] jxns commented on #3382
Yes, the page is present in both languages with the same alias.

[2021-08-25 13:52] fritzmg commented on #3382
The fact that it is not working seems specific to your Contao instance then may be. I cannot reproduce this.

[2021-08-25 13:58] aschempp commented on #3382
@fritzmg would you be able to create some failing functional tests for the explained use cases?

[2021-08-25 14:21] jxns commented on #3382
@fritzmg So what could cause this error? What would you suggest on how to troubleshoot?

[2021-08-25 14:51] asaage commented on #3382
It might be worth to investigate if apache vs nginx have different behaviour in regards of trailing slashes. At least that was what i was encountering some years ago. May be it's just a webserver-config thing.

[2021-08-25 15:04] leofeyer commented on #2201
The issue is not actually caused by the picker. We are overwriting `CURRENT_ID` here as soon as the picker is opened:

https://github.com/contao/contao/blob/214825ce58eef8174c353ee094f1e4f7df85bf71/core-bundle/src/Resources/contao/classes/Backend.php#L343-L347

The only fix I can think of is to use two different `CURRENT_ID` values, one for the regular back end and one for the picker/popup back en

[2021-08-25 21:50] #770 closed, assigned to nobody

[2021-08-26 08:54] hamidpeywasti opened #3385 "Two title attribute in <a> tag on image.html5"
**Affected version(s)**

Contao 4.11 and 4.12

**Description**

"image.html5" template produce 2 title toghther in <a> tag. (I used news_latest.html5 in News Archive module that use image.html5.)

`<a href="<?= $this->imageHref ?: $this->href ?>"<?php if ($this->linkTitle): ?> title="<?= $this->linkTitle ?>"<?php endif; ?><?= $this->attributes ?>>`

After removing `<?php if ($this->linkTitle): ?>

[2021-08-26 09:23] fritzmg commented on #3385
I could not reproduce this. How did you set the title? In the news itself or in the file manager?

[2021-08-26 09:25] hamidpeywasti commented on #3385
See this: https://pmtcookware.com/blog

[2021-08-26 09:29] fritzmg commented on #3385
Yes, but how did you set the title? Did you set it directly in the news' settings or in the file manager?

[2021-08-26 09:33] zonky2 commented on #3237
see https://community.contao.org/de/showthread.php?81537-Was-kann-Contao-leider-kein-Standard-Theme-inklusive&p=548401&viewfull=1#post548401

Consider putting the demo as a separate option in the manager as
* Contao pure
* Contao with all packages
* Contao Demo

The current way via the extension "Demo" I find not so elegant for starters, because you have to know that all Contao packages have to be

[2021-08-26 09:37] hamidpeywasti commented on #3385
I did not set any title to image anyway.
I will examine this further.

[2021-08-26 09:41] fritzmg commented on #3385
Ah, I see. Yes, I can reproduce it this way (not setting any title anywhere).

[2021-08-26 09:45] fritzmg commented on #3385
@m-vo I think we need to remove `->setLinkAttribute('title', $linkTitle)` here:

https://github.com/contao/contao/blob/9a1fc0be4cb0530e9fc5ac7ed22341f89f8835d5/news-bundle/src/Resources/contao/modules/ModuleNews.php#L196-L197

Setting both will cause two title attributes to be generated. One via `<?php if ($this->linkTitle): ?> title="<?= $this->linkTitle ?>"<?php endif; ?>` and one via `<?= $this

[2021-08-26 09:59] #3184 closed, assigned to nobody

[2021-08-26 10:03] leofeyer commented on #3347
Can this issue be closed then?

[2021-08-26 10:05] bennyborn commented on #3347
I guess so...

[2021-08-26 10:05] #3347 closed, assigned to nobody

[2021-08-26 10:08] leofeyer commented on #3224
Die Felder im Benutzerprofil lassen sich nicht über Benutzergruppen einschränken. Wenn Du hier wirklich etwas deaktivieren möchtest, müsstest Du die DCA-Palette anpassen.

[2021-08-26 10:13] minstyle commented on #3224
Vielen Dank Leo für die Info.

[2021-08-26 10:13] #3224 closed, assigned to nobody

[2021-08-26 10:22] jxns commented on #3382
Okay, I have found at least two of my contao installations, where this occurs. What could cause this behaviour?

[2021-08-26 10:56] fkaminski commented on #3237
Perhaps the definition of "demo" and "theme" should be split in more detail. In the sense of:

Optional "official" Demo Import = Content (DB based)
Meant as an introduction for Contao users to study or understand the backend settings.

Based on this then one or more themes which could be implemented/offered database independent according to the proposal:
https://github.com/contao/contao/issues/278

[2021-08-26 11:47] MacKP opened #3389 "Contao 4.4.57 - Featured Star Klick in Listview (Backend) reports an 500er and Value doesn't get stored in the Database"
**Affected version(s)**
Contao 4.4.57 after the latest patch

**Description**
If I click on the Featured Star in the Backend, i get an Post Error in the Console and after reloading the page the Star isn't changed anymore. In two Installations the Value isn't saved in the Database. In one installation the Value is saved and if i reload the Star is in the State you would expect.

I think this is an

[2021-08-26 11:56] fritzmg commented on #3389
Are you sure? I think this bug has been around before that.

[2021-08-26 11:59] MacKP commented on #3389
Ah, i found it in Ticket #2574
It's already in C 4.4.55...

[2021-08-26 12:02] aschempp commented on #3389
Looks like this has been fixes in Contao 4.9, but Contao 4.4 will not get bugfixes anymore (except for the ones introduced through the security update).

[2021-08-26 12:02] fkaminski commented on #3239
@leofeyer Helpful for understanding ...
If it does not matter I therefore close this.

[2021-08-26 12:02] #3239 closed, assigned to nobody

[2021-08-26 12:04] aschempp commented on #3237
Also see https://github.com/contao/project/issues/7

[2021-08-26 12:10] MacKP commented on #3389
Jep nevermind.. i thought this was introduced with the security update.. sorry for that.

[2021-08-26 13:24] leofeyer commented on #3334
As discussed in Mumble on August 26th, we want to adjust the deprecations and say `Use PageModel::findPublishedByPid() and check the status yourself` instead of linking to the protected `Module::getPublishedSubpagesByPid()` method.

[2021-08-26 13:50] leofeyer commented on #3099
As discussed in Mumble on August 26th, we want to redirect `/preview.php/contao` to `/contao` and we want to adjust the front end preview so it redirects to `/contao/login` instead of `/preview.php/contao/login` when the user is not logged in yet.

[2021-08-26 13:51] ausi commented on #3099
Based on the `_preview` request attribute.

[2021-08-26 14:04] leofeyer commented on #3242
As discussed in Mumble on August 26th, it would make sense to always show the trail (the parent pages of the selected ones) up to the root page, so the pagemounts can be sorted correctly.

[2021-08-26 14:14] leofeyer commented on #3326
As discussed in Mumble on August 26th, we want to drop the search tables if the indexer service is not available. Additionally, we want to add a `SearchSchemaProvider` class that creates the tables only if the indexer service is available.

[2021-08-26 14:33] leofeyer commented on #2201
As discussed in Mumble on August 26th, @ausi will try to remove `CURRENT_ID` from the `tl_content_news::checkPermissions()` method.

[2021-08-26 14:43] leofeyer commented on #2046
#2201 is in fact the same problem.

[2021-08-26 14:55] aschempp commented on #3241
I think this issue is confusing multiple things. Can we please focus on fragment controller (issue) and ignore anything thats "similar" in Twig?

[2021-08-26 15:03] asaage commented on #3242
Can't that be done without ability to pick?
I mean in linux ```pwd``` would give me the trail in any location i can be in - even though i might not have execute right on any folder the way up to see what's inside.

[2021-08-27 12:15] Toflar commented on #3242
I'm closing this in favor of https://github.com/contao/contao/pull/3391.
Feel free to test the code and see what it does for you.

[2021-08-27 12:15] #3242 closed, assigned to Toflar

[2021-08-27 13:15] argus231 opened #3392 "Controller::addToUrl() method too long runtime"
Contao 4.9

Controller :: addToUrl() method is more than 20 times slower in 4.9 than in 3.5. As a result, e.g. the page administration can become slow. In a specific example of a multisite installation, TFB takes about 5 seconds in 3.5, but more than 20 seconds in 4.9. The addToUrl() method is used for almost all action buttons in the backend. According to this, all backend lists are slower than i

[2021-08-27 14:04] Toflar commented on #3392
Are you sure this is related to this method? If so, then you can surely give more insights on why exactly this happens?
There are thousands of setups out there, I think we had known something like this earlier. I have lots of setups that have hundreds of pages and I don't have any issues like that. Are you sure it's not related to any extension?

[2021-08-27 20:02] markocupic opened #3393 "Session flash bag is cleared upon "save and close""
I don't understand, why contao is clearing the whole session flash bag in contao backend mode, when pressing the saveNclose button? Wouldn't it be better to clear

_symfony_flashes.contao.BE.info,
_symfony_flashes.contao.BE.error,
_symfony_flashes.contao.BE.confirm

only?

https://github.com/contao/contao/blob/bdc6e30cf50421bf3ec98d67b0b21ddd5ffa950d/core-bundle/src/Resources/contao/drivers/DC_Fil

[2021-08-28 12:33] zonky2 commented on #3237
I try https://www.softaculous.com/demos/Contao ...

The start screen greets me as follows: https://easycaptures.com/fs/uploaded/1540/6718760410.png

This would certainly be better solved with the option.

[2021-08-28 13:38] fkaminski commented on #3237
The content may simply be something like "Welcome ..."
With further links to the [Contaoversum](https://contao.org/de/support.html) (documentation/forum etc.)

The idea here was just to allow a simple, ready-made, optional frontpage display (m. a welcome page (index)) after installation.

So independent from an official Contao demo.
Regarding the COD (v2) and so that this can be maintained easier

[2021-08-29 01:48] may17 commented on #3237
I think it would be good UX / DX to generate a kickstater page, like @fkaminski suggest.

You always need to do a lot of things to get your first output on the screen. Why not just initally create a root page, a start page, a 404 page, a theme, an article and some content elements with further informations like laravel or the vue cli does?

Again you always will do those steps and even if not it w

[2021-08-30 05:44] falke2020 opened #3395 "bug sitemap.xml Contao 4.12 RC2 / 4.12.1"
Contao 4.9.12.RC2 or Contao 4.12.1

There is a bug in the above Contao versions. All pages are included in the sitemap.xml, even if they are marked with noindex / nofollow.

[2021-08-30 08:01] fritzmg commented on #3395
I can confirm the problem in Contao 4.12.x-dev.

[2021-08-30 08:24] fritzmg commented on #3395
Closing in favor of #3396.

[2021-08-30 08:24] #3395 closed, assigned to nobody

[2021-08-30 10:37] berecont opened #3397 "Robots tags to 'noindex, nofollow' displays sites in sitemap.xml"
**Affected version(s)**

 Contao 4.12.x

**Description**

site structur: setting Robots tags to `'noindex, nofollow'` the sites will be displayed in sitemap.xml

[2021-08-30 10:38] fritzmg commented on #3397
Duplicate of #3395

[2021-08-30 10:38] #3397 closed, assigned to nobody

[2021-08-30 10:50] Xendiadyon opened #3398 "Contao 4.12: Install-Tool and Debug Mode: Error is thrown"
**Affected version(s)**

Contao 4.9 & 4.12

**Description**

While the debug mode is active, it is not possible to access the install tool. Instead, a symfony exception HTTP 500 Internal Server Error is fired. This should be no error but only a warning, so I would not expect an exception here.

![image](https://user-images.githubusercontent.com/2657385/131325842-ace83b75-ec7c-4525-83b5-dc2c27a49f0

[2021-08-30 10:53] fritzmg commented on #3398
This is an error you need to report in the respective extension, i.e. here: https://github.com/ContaoBlackForest/contao-dropzone-upload/issues

[2021-08-30 10:53] #3398 closed, assigned to nobody

[2021-08-30 10:57] Xendiadyon commented on #3398
Hi @fritzmg , I don't think so. The PHP warning (undefined array) should imho not lead to an exception, so I would see it as a problem with either the install tool or the debug mode of contao.

[2021-08-30 10:59] fritzmg commented on #3398
No, that's normal. All warnings will be converted to an exception in the `dev` environment.

[2021-08-30 11:04] fritzmg commented on #3398
If you want, you can control this via the `%debug.error_handler.throw_at%` parameter or the `framework.php_error.throw: false` bundle configuration for a temporary workaround. See https://symfony.com/doc/4.4/reference/configuration/framework.html#throw

However, the best course of action is to always fix the warning of course (hence why you should report this warning for the aforementioned extensi

[2021-08-30 12:55] fkaminski commented on #3237
Sample: After installing a fresh 4.9.20 / 4.12.x
I will be confronted with this (Same via the preview button):

Would be nice to prevent such a thing... ...

[2021-08-30 12:57] ausi opened #3399 "Missing default values result in exception with strict mode enabled"
**Affected version(s)**

Contao 4.9

**Description**

DCA fields that don’t have a default value and use `NOT NULL` result in an exception when creating a new row. But this only happens in strict mode.

Steps to reproduce:

1. `$GLOBALS['TL_DCA']['tl_content']['fields']['text']['sql'] = 'text NOT NULL';`
2. Update database
3. Create a new content element in the backend
4. ``An exception occurred w

[2021-08-30 13:57] Toflar opened #3401 "rgxp->url encodes even when decodeEntities is set to true"
**Affected version(s)**

All

**Description**

If I configure a field with `eval->rgxp = 'url'` as well as `eval->decodeEntities = 'true'` I end up having encoded `&amp;`'s in the database.

This should probably be checked here https://github.com/contao/contao/blob/bdc6e30cf50421bf3ec98d67b0b21ddd5ffa950d/core-bundle/src/Resources/contao/library/Contao/Widget.php#L989

[2021-08-30 13:57] Toflar commented on #3401
/cc @ausi

[2021-08-30 14:01] ausi commented on #3401
We could probably add something like this:

[code]

[2021-08-30 14:04] leofeyer commented on #3399
It should not. It is a misconfiguration and not a Contao or MySQL bug.

The issue is not only caused by DC_Table. There might be a form that stores its submitted data in the DB. And every front end module that writes to the DB is affected as well.

I think the BC solution is to temporarily disable the strict mode in the settings until the code has been fixed.

[2021-08-30 14:07] Toflar commented on #3401
I can confirm this fixes the issue :)

[2021-08-31 09:32] fritzmg opened #3403 "Improve 4.5.0 Migration"
**Affected version(s)**

Contao 4.9+

**Description**

If the `Version450Update` migration fails somewhere before the `ALTER TABLE tl_layout ADD externalJs` execution for whatever reason, the migration will be offered again, but it will definitely fail then, because some of the fields have already been created by then. To fix this, the migration should check the existence for each field, before tr

[2021-08-31 13:19] Ernestopheles commented on #402
I am missing such a feature since long

[2021-08-31 13:50] operatorone commented on #402
So let's build up a crowdfunding and get things going.

So, we can start to save time.

[2021-08-31 14:10] #3389 closed, assigned to nobody

[2021-08-31 19:53] #3403 closed, assigned to fritzmg

[2021-08-31 20:25] zonky2 commented on #2823
it is not fixed if this is a CE-MM list/filter or FE module MM list/filter

[2021-09-01 07:21] m-vo commented on #3399
There had always been a huge amount of inconsistency about default values for blob/text columns (= columns, where data isn't stored directly in the record) in the past. It was never supported but worked on some systems and versions. I remember that people were even suggesting to set the sql mode to something like `MYSQL40` to get it to work :facepalm:. We need to leave this behind, now. :slightly_

[2021-09-01 08:13] ausi commented on #3399
I think we can close this then. 👍

For future visitors of this issue: If you get an error like

[code]

please make sure to set a default value in the DCA config:

[code]

[2021-09-01 08:13] #3399 closed, assigned to nobody

[2021-09-01 09:38] leofeyer commented on #3392
I can reproduce this and Blackfire confirms it, too:

### PHP 7.4

<img width="1131" alt="php-74" src="https://user-images.githubusercontent.com/1192057/131648917-bf76b9e6-fa3d-417b-b332-94f9cf6ca4b4.png">

### PHP 8.0

<img width="1130" alt="php-80" src="https://user-images.githubusercontent.com/1192057/131648970-d5bd76f7-c379-4285-a5c5-9ce4440b5167.png">

[2021-09-01 09:41] leofeyer commented on #3392
The number of calls are insane:

* `QueryParser::decode`: 40,158
* `QueryBuilder::encode`: 37,692
* `QueryParser::parsePair`: 20,079
* `QueryParser::buildPair`: 18,846
* `QueryParser::normalize`: 15,030

We should definitely try to improve this. @contao/developers /cc

[2021-09-01 09:42] leofeyer commented on #3392
<img width="488" alt="" src="https://user-images.githubusercontent.com/1192057/131649609-9b10963d-8290-472f-80bc-e9c08e888ead.png">

[2021-09-01 10:01] argus231 commented on #3392
Sorry that I didn't get back to you. I wanted to show you this today with the help of x-debug. Now you were faster. Yes, it's definitely up to league/uri-components. This is not used in Contao 3.5 and therefore without loss of performance. This makes a large list in the backend, such as an expanded page structure, considerably slower.

Contao 4.9
![contao-4-9](https://user-images.githubusercontent

[2021-09-01 10:37] m-vo commented on #3392
The problem isn't the component but the ridiculous amount of calls to it. Likely unwanted recursion.
Can you maybe debug what is causing it?

[2021-09-01 11:47] Defcon0 commented on #3013
Strange, in 4.11 it doesn't happen anymore. Maybe it's fixed there, I can live with that :-)

[2021-09-01 11:47] #3013 closed, assigned to nobody

[2021-09-01 13:51] Pellinger opened #3409 "HTML attributes - case sensitivity"
The registration of _allowed HTML attributes_ allows lowercase and uppercase input. The output ist just lowercase. Trying to use the HTML attribute _viewBox_ (contains the upper case letter _B_) was confusing, because it wasn't found in the output.

Or the other way round, the HTML attributes should only be entered and saved in lower case in the settings, because the HTML Attributes are case-insen

[2021-09-01 14:34] m-vo commented on #3409
HTML attributes are case insensitive: http://w3c.github.io/html-reference/documents.html#case-insensitivity

IMHO the current behavior is fine.

[2021-09-01 14:35] ausi commented on #3409
In the HTML context all attributes are case-insensitive, even attributes inside `<svg>`.
So `<svg viewbox="">` and `<svg VIEWBOX="">` are both valid HTML and the same according to the standard.

Agree, we should improve the settings in the back end: If you enter `viewBox` it should be automatically converted to `viewbox` so that it works as expected.

[2021-09-01 14:36] Pellinger commented on #3409
Both of you were faster than me - I just edited the issue to @ausi statement

[2021-09-01 15:06] leofeyer commented on #3392
Updating `league/uri-components` to version 2.4 already improves the situation a lot:

### Version 1.8

<img width="429" alt="" src="https://user-images.githubusercontent.com/1192057/131695969-6c084750-7e63-4fd2-9f81-f28d5243ee76.png">

### Version 2.4

<img width="430" alt="" src="https://user-images.githubusercontent.com/1192057/131696026-e9c9b586-aabc-4c5a-862e-3f0aaa3d37e2.png">

I'm not sure

[2021-09-01 15:09] Toflar commented on #3392
Of course we can. That's why we have Composer :) Everybody else that is using `league/uri-components` must require it themselves so that an update is not possible/only possible once the extension is compatible too.
Absolutely doable.

However, I am with @m-vo - the problem is pretty surely not the component only. How can I reproduce?

[2021-09-01 15:29] #3392 closed, assigned to nobody

[2021-09-02 04:17] jankout commented on #74
That's great. Thank you very much for the recommendation.

[2021-09-02 09:27] m-vo commented on #3387
@leofeyer Shouldn't this issue be closed or which are the 'incompatible features' that are missing? :upside_down_face:

[2021-09-02 09:52] m-vo commented on #3385
IMHO it is correct to set `$figureBuilder->setLinkAttribute('title', $linkTitle)`. The problem is the BC layer, or rather, the old templates outputting both `$this->attributes` *and* the title attribute.

To solve the problem keeping BC we would need to…

1. build the figure once (without adding the `title` link attribute)
2. apply the legacy template data
3. add the `title` link attribute and bui

[2021-09-02 10:19] kp-mtrame opened #3413 "JSON with {{iflng}}-InsertTags in attributes"
**Affected version(s)**

Contao 4.9

**Description**

With the security fix some attributes that contain JSON **and** {{iflng}}-InsertTags no longer work

`<div data-config='{"foo":{"lang":"{{iflng::de*}}de{{iflng::en}}en{{iflng}}","bar":"123"}}'></div>`

gets replaced with

`<div data-config='{"foo":{"lang":"de","bar":"123"|attr}}'></div>`

[2021-09-02 10:20] m-vo commented on #3354
Judging by the vote, I'd go ahead and implement this:

Should we try to trigger a deprecation warning that will be converted to an exception in the future if a path contains any disallowed characters or should we just ignore it?

[2021-09-02 10:40] fritzmg commented on #3413
Can you please try `4.9.x-dev` and see if that fixes it?

[2021-09-02 10:46] leofeyer commented on #3387
I figured we would replace all `.html5` templates with `.html.twig` templates in Contao 5. 🙈

[2021-09-02 10:48] leofeyer commented on #3385
Is it really necessary to build twice? Can we not unset `$this->attributes['title']` if there is a link title?

[2021-09-02 11:01] m-vo commented on #3387
Ah yes. We could actually do this once some yet missing BE features are implemented. :+1:

[2021-09-02 11:06] ausi commented on #3413
Where do you use this code? In an html5 template?

[2021-09-02 11:18] kp-mtrame commented on #3413
yes, in an html5 template

[2021-09-02 11:28] ausi commented on #3413
I would use something like this instead then.

[code]

If the JSON has to be a string you can use something like this:

[code]

But this can cause security issues. You should not mix JSON with insert tags.

[2021-09-02 11:32] ausi commented on #3354
+1 for deprecation.

[2021-09-02 11:42] fritzmg commented on #3385
Yeah, the figure builder generally needs to not populate any attributes for the `image.html5` template, if they are already present in the template itself. i.e. it also should not set `$this->attributes['href']` for example.

[2021-09-02 12:02] m-vo commented on #3385
We definitely only want to do this for the legacy parts.

 The whole `Figure#getLegacyTemplateData()` method is a BC layer that aims to replicate the old  `Controller::addImageToTemplate` behavior. In there only the following attributes were set: `data-lightbox`, `target`, `rel`.

So we could also restrict the attributes that get combined into the `attributes` string to the above. But then you won

[2021-09-02 13:45] leofeyer commented on #3387
What exactly is missing?

[2021-09-02 15:53] m-vo commented on #3387
Most important for the BE is…

* showing the template in the selects if the base template is a Twig template (#3274)
* allow to create new templates in the BE
* better support for editing templates (ideally with support for blocks) and appropriate cache invalidation when saving

We probably still need to allow users to overwrite/extend core templates with `.html5` templates in Contao 5. There are

[2021-09-03 06:15] kp-mtrame commented on #3413
The above example was just a simplified version to easily reproduce the problem. The configuration for a slider is actually contained within the attribute. An array contains its configuration.

[code]

So it was used more for translating strings. Now we use `$this->trans()` for this. However, the above example worked up to version 4.9.17!

Thanks for the quick responses!

[2021-09-03 06:33] m-vo commented on #3413
You should not use a high-level user feature like insert tags in your templates if avoidable. In there, you have access to the actual data and services, so just use them. :slightly_smiling_face:

[2021-09-03 07:10] ausi commented on #3413
Yes, we are aware of that. Sadly, I was not able to find a solution to this problem that is as secure as the current logic is.

As much as we would like to be 100% backwards compatible, security has to come first.

[2021-09-03 07:17] ausi commented on #3387
I’d vote for this solution. Maintaining the html5 templates is not needed for most cases I think, because they are only present for BC and are not used in a new setup.

Also, this would force users to use twig for extending new templates (because there is no BC html5 version). This would be a strong signal to every Contao user that they have to switch to Twig at some point.

[2021-09-03 10:59] m-vo commented on #3271
closing in favor of #3414

[2021-09-03 10:59] #3271 closed, assigned to nobody

[2021-09-03 10:59] m-vo commented on #3354
closing in favor of #3414

[2021-09-03 10:59] #3354 closed, assigned to nobody

[2021-09-03 12:49] fritzmg opened #3415 "Improve the error page handling in the sitemap controller"
**Affected version(s)**

Contao 4.12

**Description**

Currently the `/sitemap.xml` route also shows URLs to the 404, 403 and 401 pages (which then the Contao Crawler for example will complain about, since they do not respond with 200).

The `supportsContentComposition` check is insufficient since these page types do support content composition, but should never show up in a sitemap (nor should th

[2021-09-03 13:04] fritzmg commented on #3415
I would propose the following:

* Maintain a list of legacy page types that are supposed to be exempt from showing in the sitemap.
* Introduce a new `sitemap` attribute for the `@Page` annotation / service tag with which you can control whether pages of this page type are allowed to be shown in sitemaps (defaults to `true`).
* Introduce a new `allowedInSitemap` method for the `PageRegistry` servic

[2021-09-03 13:09] SeverinGloeckle commented on #2580
I have checked this issue again in Contao 4.9.

While the original issue and fix was based on Contao 4.4 and Contao 4.9 has changed the preview URL generation, the bug still exists:
- Go to Events -> open calendar -> edit event settings
- Start the frontend preview -> correct redirect to the event detail page
- Logout / destroy the backend session
- Reload the event edit view
- Log into the Contao

[2021-09-04 13:12] fkaminski opened #3418 "Add Console command to export a .sql dumb to use for the install tool"
It would be nice if there was a [console command](https://docs.contao.org/dev/reference/commands/) to quickly export a .sql file that can be used via the install tool.

See: https://github.com/contao/official-demo/blob/main/docs/Update_COD.md

[2021-09-04 13:51] fritzmg commented on #3418
Just use `mysqldump`? Or what exactly do you need?

[2021-09-04 20:36] Alexander060101 opened #3420 ""Internal Server Error: 3 arguments are required, 2 given" when having a "%" char in the site name of the website startpoint"
**Affected version(s)**
Contao 4.9.20 running on PHP v.8.0.10

I was not able to replicate the issue on the demo site so it might be only with PHP 8.0.
I do not know on which version the demo site runs though.

**Description**
After a fresh installation while trying to set up my site structure I noticed this issue.
When adding the website startpoint with a "%" char in the site name I can not add a

[2021-09-05 08:28] ausi opened #3421 "Don’t use input encoding for fields with predefined options"
Encoding the values for fields with `options` like `select` or `radio` doesn’t make much sense I think because the values are predefined and can therefore not be used to inject bad code.

See https://github.com/isotope/core/issues/2249#issuecomment-911553712

[2021-09-05 08:46] ausi commented on #3420
I was not able to reproduce this issue.

Can you please enable the debug mode and try it again?
This should show a more detailed error message with a full stack trace.

[2021-09-05 09:27] ausi commented on #3418
The output format of `mysqldump` is not compatible with the install tool website template import AFAIK.

[2021-09-05 09:29] ausi commented on #3418
The format created by https://github.com/do-while/contao-BackupDB is the one the install tool expects I think.

[2021-09-05 09:58] ausi commented on #3401
Closed in favor of #3407

[2021-09-05 09:58] #3401 closed, assigned to nobody

[2021-09-05 11:13] fritzmg commented on #3420
I was not able to reproduce the exact error as described in this issue, but I was able to reproduce a warning when trying to insert a new page within the site structure of a root that has `%` in its title: https://github.com/contao/contao/pull/3422

[2021-09-05 12:58] Alexander060101 commented on #3420
This is the full stack trace I get in debug mode:

[code]

[2021-09-05 18:08] ausi commented on #3409
Done in #3423

[2021-09-05 18:08] #3409 closed, assigned to ausi

[2021-09-06 07:00] leofeyer opened #3425 "Edit multiple buttons are positioned after the pagination menu"
**Affected version(s)**

Contao 4.9+

**Description**

<img width="903" alt="32" src="https://user-images.githubusercontent.com/1192057/132174077-7e0f6ec1-9708-4762-8811-a315a6f78ec9.png">

[2021-09-06 12:44] fritzmg commented on #3420
Yes, I can reproduce that actually with the same error. Closing in favor of #3422

[2021-09-06 12:44] #3420 closed, assigned to nobody

[2021-09-06 15:52] jankout opened #3427 "4.12.1 Sprachenkürzel mit Minuszeichen werden falsch gespeichert"
4.12.1

Wenn ich das chinesische Sprachenkürzel standardmäßig _zh-CN_ beim Startpunkt der Webseite eingebe und speichere, wird es mit einem Unterstrich gespeichert, was falsch ist und zu fehlerhaften bzw. gar keinen Übersetzungen führt (z.B. im Sprachenwechsler). Ich habe es in 4.9.x getest, da entsteht dieser Fehler nicht. Siehe beigefügtes Bild.
![Error Language Suffix](https://user-images.githu

[2021-09-06 16:08] fritzmg commented on #3427
Das ist normal. Seit Contao 4.12 werden die Locales beim Speichern normalisiert. Die changelanguage Extension muss dahingehend evt. noch angepasst werden .

[2021-09-06 17:27] tarun-uwe commented on #3427
Es handelte sich hier um ein Modul Konfiguration. Durch die Normalisierung wurden die eigenen Übersetzungen im Modul nicht korrekt zugeordnet. Das Ticket kann geschlossen werden.

[2021-09-06 18:56] #3427 closed, assigned to nobody

[2021-09-07 08:38] jankout opened #3428 "Feature: Startseite bei gefilterten Seiten anzeigen"
Ich fände sehr hilfreich, wenn beim Seitenfilter auch die Startpunkte angezeigt wären, damit man weiß, zu welcher Sprachversion die aufgelisteten Seiten gehören.

Wenn man sich vorstellt, dass man mehrere Sprachen mit den Seiten namens Download hat, kann man gleich diesen vorgeschlagen Vorteil nachvollziehen (siehe beigefügtes Bild)
<img width="1180" alt="contao-feature_seitenfilter-mit-startpunkt

[2021-09-07 08:44] bytehead commented on #3428
Maybe solved by #3391...

[2021-09-07 08:48] #3428 closed, assigned to nobody

[2021-09-07 09:56] leofeyer opened #3429 "Remove the trusted hosts/proxies settings from the Contao kernel"
Because Symfony stores these settings [in the Container](https://github.com/symfony/symfony/blob/5.3/src/Symfony/Component/HttpKernel/Kernel.php#L790-L796) as of version 5.3 (see #3329).

[2021-09-07 10:23] fritzmg opened #3430 "{{file::uuid}} insert tag gets converted to uuid|urlattr"
**Affected version(s)**

Contao `4.9.20`, `4.9.x-dev`

**Description**

If you use a regular `text` content element and insert a link to a file via the file picker in the TinyMCE, e.g.

[code]

then the content will be converted to

[code]

after saving, which of course breaks the file reference.

/cc @ausi

[2021-09-07 10:24] frontendschlampe commented on #3430
I can confirm the issue

[2021-09-07 10:25] leofeyer commented on #3385
👍

[2021-09-07 10:38] m-vo opened #3431 "Page controllers do not show up in 'allowed page types'"
**Affected version(s)**

Contao Contao 4.12

**Description**

Page types that were created via controllers + the `@Page` annotation don't show up in the privilege settings for page types:

![Screenshot_20210907_123619](https://user-images.githubusercontent.com/5305677/132330956-031f8607-4325-4232-8457-19a855480dc7.png)

[2021-09-07 10:39] fritzmg commented on #3011
I can confirm the issue in the Contao Online Demo:

1. Log in as `j.wilson`.
2. Edit a news article and insert a new content element of type `alias`.
3. Click on _Change selection_ for **Referenced element**.

The following error will appear:

[code]

This was a known limitation of the old picker, but should not be with the new picker?

// sorry, got confused, that is a different issue: https://gi

[2021-09-07 10:51] m-vo commented on #3421
Why do we use the real option values in the first place and not a mapping? :slightly_smiling_face:

I've seen patterns like enumeration from 0 to n or hashes of the value (to prevent selecting the wrong thing if anything was added/removed in the meantime). Maybe that could be useful for us, too.

[2021-09-07 11:29] m-vo commented on #3430
for reference:

https://github.com/contao/contao/blob/bdc6e30cf50421bf3ec98d67b0b21ddd5ffa950d/core-bundle/src/Resources/contao/classes/DataContainer.php#L399-L403

https://github.com/contao/contao/blob/bdc6e30cf50421bf3ec98d67b0b21ddd5ffa950d/core-bundle/src/Resources/contao/library/Contao/StringUtil.php#L599-L626

[2021-09-07 11:57] #3334 closed, assigned to nobody

[2021-09-07 12:42] green-pixelbox opened #3433 "insert tag {{post::*}} funktioniert manchmal nicht"
**Affected version(s)**

Contao 4.9.15, 4.9.17, 4.9.20

**Description**

In den Contao Formular-Einstellungen habe ich einen insert tag {{post::betreff}} unter Formulardaten versenden -> Per E-Mail versenden -> in der Betreff Zeile stehen. Das Insert Tag soll das Feld aus dem Formular "betreff" mit in den Betreff der E-Mail eintragen. Wenn ich im Backend eingeloggt bin und ich teste das Formular i

[2021-09-07 12:46] green-pixelbox commented on #3433
Hier noch die Konfiguration in den Contao-Formular Einstellungen (siehe screenshot)
![contao-inserttag-bug](https://user-images.githubusercontent.com/3920742/132346953-fb47afa0-db2c-4dc8-bb5b-fe5737dcfd48.PNG)

[2021-09-07 16:18] aschempp commented on #3429
I don't think we'll use the container configuration anytime soon, their attempt does not match our requirements imho. They boot the kernel **on every request** with the argument that it does not affect performance with preloading. But 99.99% of our users do not have preloading …

[2021-09-07 16:23] aschempp commented on #3421
not a bad idea from @m-vo but this only works if the form is submitted to our widget. It will e.g. not work with a GET form to an external target.

[2021-09-07 16:27] aschempp commented on #3413
@kp-mtrame you can replace your template code with this, which is even better for performance:

[code]

Alternatively, you might consider moving the labels to actual language files and use translations

[code]

[2021-09-07 20:42] aschempp commented on #3431
@m-vo just thinking about this: if you already have custom page controllers, is it true that you cannot allow access to them? Which means currently regular users can never access page controller types?

[2021-09-07 21:25] andyKempf opened #3435 "HTML code is output as a string in the frontend"
In Contao 4.9 LTS, an SVG that is maintained in the HTML element type is output as a string in the frontend.

The required tags have been set in the security settings, but are still output as string in the frontend.
The same happens with the template-tag.

Backend:
<img width="1448" alt="Bildschirmfoto 2021-09-07 um 23 14 42" src="https://user-images.githubusercontent.com/48767191/132412943-eedeca

[2021-09-08 05:36] leofeyer commented on #3435
@ausi /cc

[2021-09-08 08:36] ausi commented on #3435
@andyKempf Did you re-save the HTML content element after changing the allowed elements setting?

[2021-09-08 08:40] ausi commented on #3413
@aschempp `$GLOBALS['TL_LANGUAGE']` is deprecated, just for info ☺️

[2021-09-08 09:18] leofeyer opened #3438 "if-condition never evaluates to true"
**Affected version(s)**

Contao 4.9+

**Description**

https://github.com/contao/contao/blob/29920a87dfad8338d6eee28dcfa7c10db2aa5538/core-bundle/src/Resources/contao/dca/tl_files.php#L896-L902

How come no one has reported this yet? Is the if-condition redundant?

[2021-09-08 09:28] ausi commented on #3438
Don’t think so, it should probably be reverted to the version before ca02a750072a69002fb21bc68a3b65211437571c

If this fails, the sync-exclude checkbox is not shown, but only during a folder rename, right? Renaming a folder and changing the sync-exclude field at the same time probably doesn’t happen that often.

[2021-09-08 10:33] aschempp commented on #3433
kannst du mal prüfen wann/ob du von Contao ein Session-Cookie bekommst?

[2021-09-08 10:52] Toflar commented on #3433
Zur Info, die Daten werden für max. 60 Sekunden nach dem Absenden behalten. Danach werden sie gelöscht.

[2021-09-09 09:57] aschempp commented on #3431
see https://github.com/contao/contao/pull/3446

[2021-09-09 09:57] #3431 closed, assigned to aschempp

[2021-09-09 11:03] green-pixelbox commented on #3433
cookie info im screenshot cookie-nach-formular-absenden
![cookie-nach-formular-absenden](https://user-images.githubusercontent.com/3920742/132674644-e8e12084-aeea-4219-8061-b4765590d6d0.PNG)

[2021-09-09 11:07] green-pixelbox commented on #3433
Hier kann man das Formular auch einsehen und testen.
https://musterc49.gp-serverpower.de/kontakt
Contao Version 4.9.17
Wenn man es abgesendet hat, sollte man über das notification center eine Bestätiungsmail erhalten, was aber nur passiert, wenn man im gleichen browser im Backend eingeloggt ist. In einem frisch geöffneten Chrome z.B. wird keine Bestätigungsmail versendet und auch der Insert Tag {{

[2021-09-09 11:25] fritzmg commented on #3433
I can confirm the problem in all Browsers (well - FF, Chrome, Edge).

Reproduction steps:

1. Create a new form in the form generator.
2. Enable **Send form data via e-mail** and set the **Subject** to `Test: {{post::test}}` for example.
3. Insert a text field into the form called `test` (and a submit button).
4. Insert the form into a page.
5. Open said page in any browser with a fresh session.
6

[2021-09-10 07:13] bennyborn opened #3448 "Make Template::asset static"
Is there any particular reason why methods like `generateStyleTag`, `generateInlineStyle` etc. are static but the method `asset` is not?

Currently I'm building a form widget where I seem to have no access to an instance of `Template` or rather `FrontendTemplate`. In order to make use of the `asset` method I need to create a new `FrontendTemplate` instance.

Adding the assets from within the templ

[2021-09-10 07:25] fritzmg commented on #3448
It's a helper function for templates. In your services you can use `assets.packages` directly.

[2021-09-10 07:31] bennyborn commented on #3448
So is `generateStyleTag` and the others?...

Sure but then I'm still required to strip the leading slash everytime like the core does.

[2021-09-10 08:19] m-vo commented on #3431
@aschempp Sorry for the late response. Yes, they cannot access the custom page types at all (edit is grayed out like if no permission was granted).

[2021-09-10 08:34] fritzmg commented on #3448
You do not really have to do that. No problems will arise if you keep the leading slash (in fact likely less problems will occur 😉).

The `asset` function is a helper function for templates, because you cannot use dependency injection in your templates and so that you do not have to get the container and then the service each time in the template. Same with `figure` or `trans`.

[2021-09-10 08:47] m-vo commented on #3448
We cannot remove these things for BC, but the template helpers shouldn't be accessible from outside. In fact, they should ideally only be proxies for services that do the actual work.

[2021-09-10 08:48] bennyborn commented on #3448
Actually... in our case it would break everything since we're using one domain and subdirectories for different Contao installations during development ;)

I totally got that but my question still stands: Why not make it static and make it easily accessible for others to use and save some lines of unnecessary code? Since it's not using `$this` anywhere it wouldn't cause any problems to do so.

`ge

[2021-09-10 08:51] m-vo commented on #3448
I'm :-1:  on this. We could discuss if a helper is needed, implement it as service or a utility class and use it in there but the method inside `FrontendTemplate` should not be exposed, that's the wrong responsibility.

[2021-09-10 08:53] fritzmg commented on #3448
And a helper is not really needed, since all the method does in addition is trim the leading slash … which you might not need anyway, depending on your use case.

[2021-09-10 08:58] bennyborn commented on #3448
Totally fine with that.

So from your perspective the other static methods like `generateStyleTag` and `generateInlineStyle` should've not been publicly accessible in the first place?

Don't get me wrong, I'm not fixed on the idea to just make `asset` a static method now. I just want a consistent framework for all Contao Devs to use - maybe something for the roadmap to Contao 5?

Depending on the

[2021-09-10 09:19] SeverinGloeckle opened #3450 "Pages with `tl_page.requireItem` throw exceptions in ModuleBreadcrumb"
**Affected version**

 Contao 4.12

**Description**

Using `ModuleBreadcrumb` on a page with `tl_page.requireItem` enabled ("Require an item"-option) throws:

[code]

The exception is caught within `ModuleBreadcrumb` and the error is just printed to the system log:

**Details**
This is because the `ModuleBreadcrumb` does not pass the parameters to the router:

https://github.com/contao/contao/blob

[2021-09-10 09:20] fritzmg commented on #3448
I don't think calling something a "framework" automatically means that the framework needs to implement every conceivable use-case for you.

And for this particular instance, the difference would be the following:

[code]

vs

[code]

It does not really make sense to create an asset helper just for this?

[2021-09-10 09:25] fritzmg commented on #3450
The item needs to be rendered, otherwise the breadcrumb path would not be correct. However, the item could then just not have an URL, yes.

So imho the current implementation is correct already, since no URL is generated (when no URL can be generated). Only the system log entry as an error is misleading - it's not really an error.

[2021-09-10 09:39] SeverinGloeckle commented on #3450
I'm not sure if I agree about adding parent items without a url to the breadcrumbs.

Currently, this would generate an anchor with the title of the parent page but the base url of the website as `href`, which seems wrong to me.

Now while we could adjust the breadcrumb template and handle items without a url to generate only a text label for those pages, the schema data for `BreadcrumbList` would

[2021-09-10 09:39] Defcon0 opened #3451 "HTML-Entities erden encoded trotz gesetztem decodeEntities (rte = ace|sql)"
**Affected version(s)**

Contao 4.9

**Description**

Hallo in die Runde,

ich habe folgendes Problem:

[code]

Das ist der DCA. Dort ist `decodeEntities` gesetzt. Wenn ich das Feld speichere, sind einige Zeichen aber dann doch encoded:

`tl_submission.tstamp &#62; 0 AND tl_submission.pid NOT IN (10001, 10002, 10004)`

also das ">" wurde encoded.

Ich habe dann mal das `rte` deaktiviert und siehe

[2021-09-10 09:40] fritzmg commented on #3450
Ah, yes, that is definitely wrong. When no URL is defined it should be a `<span>` just like in the regular navigation module.

[2021-09-10 09:43] ausi commented on #3451
We should probably update the check in https://github.com/contao/contao/blob/0ba1acd7d93da55598a02fa6963dacf635bdad87/core-bundle/src/Resources/contao/library/Contao/Widget.php#L1274 to only enable `allowHtml` for rich text editors that output HTML but not for other formats like `ace|sql`.

[2021-09-10 09:45] bennyborn commented on #3448
If I understood @m-vo correctly such a helper class / service should then also provide `generateStyleTag`, `generateInlineStyle` etc.

IMHO as soon as such a helper does anything Contao specific, like stripping the leading slash to be complient with the base tag, it should be open for anyone to use to make sure all extensions are behaving the same.

**Quick real life example:**
[terminal42/contao-

[2021-09-10 09:56] leofeyer commented on #573
Siehe #3052.

[2021-09-10 09:56] #573 closed, assigned to nobody

[2021-09-10 10:04] m-vo commented on #3448
You would only use these from within your templates, no?

[2021-09-10 10:07] bennyborn commented on #3448
Currently not. As I wrote in the first post:

[2021-09-10 10:09] m-vo commented on #3448
Maybe, I'm missing the point. But i still fail to see any reason to use `generateStyleTag` outside a template context?

[2021-09-10 10:13] bennyborn commented on #3448
Quick excerpt from the current situation:

[code]

As said I cannot add the Stylesheet / JavaScript from within the template since this would result in loading the same assets multiple times if my custom field type is used more than once in a form.

[2021-09-10 10:18] m-vo commented on #3448
IMHO you should not pass pre-rendered HTML to your template. Instead use a template to render it or just use `TL_CSS`?

[2021-09-10 10:21] fritzmg commented on #3448
That's a pretty common use case though. Especialyl for `generateScriptTag`. But that's not the issue anyway, as these deliberately are public static helper functions.

[2021-09-10 10:22] m-vo commented on #3448
Still fighting for "no HTML outside templates". :smile:

[2021-09-10 10:28] bennyborn commented on #3448
Maybe I'm blind but I don't even have a template object to pass anything to from  inside a form widget 🤷‍♂️

[2021-09-10 10:30] fritzmg commented on #3448
Not sure what you mean? How else would you add additional JavaScript to the end of the body?

[2021-09-10 11:02] m-vo commented on #3448
I'd say in general: Create a template, add your HTML in there or use the existing asset functions (could e.g. also be `asset` or `encore_entry_script_tags` in Twig) . Then include the template. Only if that's not possible yet (because you cannot control the context), return the rendered result. But still use a template to compose the HTML to use proper encoding etc.

[2021-09-10 11:32] fritzmg commented on #3448
I am not really sure what you mean. If you have a content element that needs JavaScript for example, you add said JavaScript to the end of the `<body>` via

[code]

And this should to be done within the content element, not the template of the content element, since it's just PHP code.

[2021-09-10 12:10] m-vo commented on #3448
Yes, that's how it was done, but I still think it's wrong. There should never be a non-template method generating HTML. And `Template::generateScriptTag()` does exactly that. It suggests this is API of a library (and in fact it is) but it should not. :smile:

[2021-09-10 12:18] fritzmg commented on #3448
But this is not just how it _was_ done, this is what you _currently_ do in Contao and should also be best practise - until other solutions are here.

Regardless, imho this has no bearing on the discussion at hand anyway. These public static helper functions are functionally different to `asset`, `figure`, `trans` etc.

[2021-09-10 19:03] math-GH opened #3453 "Hacktoberfest - Will Contao take part?"
Have you heard from https://hacktoberfest.digitalocean.com/ ?

I think it could be a cool idea to take part as Contao. What do you think?

[2021-09-10 19:05] aschempp commented on #3453
here's "my" opinion: https://blog.domenic.me/hacktoberfest/

[2021-09-10 19:57] math-GH commented on #3453
Thanks. I see that this has some problems in the design of challenge.

[2021-09-10 19:57] #3453 closed, assigned to nobody

[2021-09-11 08:01] ausi commented on #3430
Changing https://github.com/contao/contao/blob/0ba1acd7d93da55598a02fa6963dacf635bdad87/core-bundle/src/Resources/contao/library/Contao/StringUtil.php#L808 to:

[code]

should fix the issue I think.

[2021-09-11 08:59] Total-Reality commented on #3376
Can you hotfix it please?

I tried to change this line:

https://github.com/contao/calendar-bundle/blob/4.x/src/Resources/contao/dca/tl_calendar_events.php#L991

`$arrSet['endTime'] = strtotime(date('Y-m-d', $arrSet['endTime']) . ' ' . date('H:i:s', $dc->activeRecord->endTime ?: $dc->activeRecord->startTime));`

To:
`$arrSet['endTime'] = strtotime(date('Y-m-d', $arrSet['endTime']) . ' ' . date('H:

[2021-09-11 11:31] fritzmg commented on #3376
@Total-Reality @matuweb please try the following fix: #3454

You will need to re-save the affected event.

[2021-09-11 11:39] fritzmg commented on #3430
@ausi yes that works :). Will you open the PR so that the credit goes to you? ;)

[2021-09-11 13:05] ausi commented on #3430
Ja, ich will 😅

[2021-09-11 18:10] ausi commented on #3430
Closed in favor of #3455

[2021-09-11 18:10] #3430 closed, assigned to nobody

[2021-09-12 08:12] ausi commented on #2201
~~I debugged the problem and it seems that the error occurs because of `reviseTable()`.
Without the following line the error disappears:~~ https://github.com/contao/contao/blob/0ba1acd7d93da55598a02fa6963dacf635bdad87/core-bundle/src/Resources/contao/drivers/DC_Table.php#L3374 ~~@monxoom can you verify that the error is fixed if you delete that line?~~

~~`tl_content_news::checkPermissions()` is n

[2021-09-12 09:37] ausi commented on #2046
The `CURRENT_ID` problem is a different one here, should be fixed by #3457

[2021-09-13 08:46] #3376 closed, assigned to nobody

[2021-09-13 08:55] #3438 closed, assigned to nobody

[2021-09-13 09:06] #3425 closed, assigned to nobody

[2021-09-13 09:18] #3393 closed, assigned to nobody

[2021-09-13 09:18] leofeyer commented on #3393
@markocupic Can you please check whether #3461 fixes your issue?

[2021-09-13 09:27] #3377 closed, assigned to nobody

[2021-09-13 10:17] #3099 closed, assigned to nobody

[2021-09-13 10:29] fkaminski commented on #3235
Eventuell könnte man das Contao CSS-Framework hinsichtlich Theme-Layout zukünftig generell umstellen.

Also basierend auf CSS Grid mit Nutzung von  "[grid-area](https://developer.mozilla.org/en-US/docs/Web/CSS/grid-area)" und "[grid-template-areas](https://developer.mozilla.org/de/docs/Web/CSS/grid-template-areas)" bzw. "[grid-template-columns](https://developer.mozilla.org/en-US/docs/Web/CSS/grid

[2021-09-13 11:03] leofeyer commented on #3324
This line is the problem:

https://github.com/contao/contao/blob/50079d9fe09ad802ca3bdde6d7ccac6b2338739d/core-bundle/src/Resources/contao/modules/ModuleRegistration.php#L354

It should be `?? null` instead of `?? $key` to remain backwards compatible.

[2021-09-13 11:06] leofeyer commented on #3451
How do we know? We can only say this for `'rte' => 'tinyMCE'` and `'rte' => 'ace|…'` but not for any custom editors that might have been added, right?

[2021-09-13 11:11] m-vo commented on #3324
I think I'd go with `?? ''` here as array keys cannot be `null`. This will currently get implicitly converted to `''` but I wouldn't be too surprised if this behavior will be changed to a warning in a 8.* release.

[2021-09-13 11:13] fkaminski commented on #3235
... Sollte man das als separate features eintragen?
Also einerseits die Aktualisierung der bisherigen Contao grid Umsetzung
und andererseits die generelle Contao Layout Umsetzung via CSS Grid Möglichkeiten ...

[2021-09-13 11:15] fkaminski commented on #3235
Die Browser Unterstützung an sich ist ja mittlerweile gut.
Evtl. dann zumindest ab Contao 5?

[2021-09-13 11:25] m-vo commented on #3235
I don't think it's possible to settle on a solution. In my eyes we should get rid of any theme/layout system and rather make sure extensions can easily provide easy to use solutions for the various systems.

[2021-09-13 13:53] aznoqmous opened #3465 "ce_image 404 in 4.12 / files directory not symlinked to public directory"
**Affected version(s)**

Contao 4.12

**Description**

`files` directory is no longer symlinked running the `contao:symlinks` command, which result in broken images using default `ce_image` content elements

I manually added `$this->symlink('files', Path::join($this->webDir, 'files'));` inside `contao:symlinks` command to solve that issue,
am I doing anything wrong ?

[2021-09-13 14:16] m-vo commented on #3465
This is correct behavior - the `files` directory should not get symlinked. If you want to publish files move them in a sub directory, enable the `public` checkbox for this directory in the file manager or create a `.public` file in it and rerun the command.

You cannot publish the root `files` directory itself.

[2021-09-13 14:21] m-vo commented on #3465
For reference https://github.com/contao/contao/issues/286 / https://github.com/contao/contao/commit/02bebafb1f233b22e999a45e8bb9c5209e1805c2.

[2021-09-13 15:00] aschempp commented on #3235
I always liked the fact that Contao provided a "useful" default solution out of the box. I mostly work with the default fe_page setup. It is freely extendable for extensions through custom templates.

But I agree the grid.css and some of the default markup might be obsolete by now with CSS Grid and Flex. not sure what the most useful new stuff would be, and certainly for Contao 5 only for BC.

[2021-09-13 16:09] ausi commented on #3465
If you do not enable the “Use original image if dimensions match” checkbox in the settings of the used image size it should not be a broken image because it is stored in *assets/images* then.

[2021-09-14 06:26] aznoqmous commented on #3465
The issue was in fact that a `.public` **directory** has been created instead of a `.public` **file** inside a `files` subdirectory, leaving it marked as public inside contao file explorer

Thanks a lot for the quick answers !

[2021-09-14 06:26] #3465 closed, assigned to nobody

[2021-09-14 08:29] fritzmg commented on #3065
I have implemented a possible solution in #3468.

[2021-09-14 08:58] christianbarkowsky opened #3469 "Incorrect french translation [ERR.invalidLogin]"
**Affected version(s)**

Contao 4.9 to Contao 4.12

**Description**

Our French customer complains about a translation.

fr/defaukt.xlf >> ERR.invalidLogin

Incorrect:
~~Échec de la connexion (noter que les noms d'utilisateur et mots de passe sont sensibles à la casse) !~~

Correct:
**Échec de la connexion (veuillez noter que les noms d'utilisateur et mots de passe tiennent compte de majuscules et

[2021-09-14 09:01] fritzmg commented on #3465
See https://github.com/contao/contao/pull/3470

[2021-09-14 10:28] Toflar opened #3471 "Impossible to write literal value of basic entities"
**Affected version(s)**

all

**Description**

If I want to literally write e.g. `[-]` or `[lt]` or any other of the "basic entitites", there's absolutely no way I can do this.

[2021-09-14 10:37] fritzmg commented on #3471
You could write `[[-]-[-]]` or `[[-]lt[-]]`, but that's obviously not ideal 🙈

[2021-09-14 11:35] m-vo commented on #3471
This will get ugly… As we do not have a defined escape character, the only way to solve this might be to use an insert tag.

[2021-09-14 13:36] SeverinGloeckle commented on #3450
While adjusting the breadcrumbs template would fix a symptom of the second issue (trailing pages with `requireItem`), the two basic issues remain:

### 1. Exception for active page
If the active page has `requireItem` enabled, an exception is thrown and written to the system log. No url is generated for the page (a url it not used in the default `mod_breadcrumb` template, but in the JSON-LD data).

[2021-09-14 21:09] #3026 closed, assigned to nobody

[2021-09-15 11:48] MarkejN opened #3473 "Make list of allowed protocols configurable"
One of our customers uses Skype-Links `href="skype:name?call"` on his website, which are now encoded. The only way to allow them is to make this list of allowed protocols configurable, right? What do you think?
https://github.com/contao/contao/blob/a7628093a5710bbbb8f0c97950a70e89f3727ba7/core-bundle/src/Resources/contao/library/Contao/StringUtil.php#L874-L876

[2021-09-15 11:52] fritzmg commented on #3473
I think making it configurable is the way to go. The list of officially registered schemes is pretty long otherwise: https://en.wikipedia.org/wiki/List_of_URI_schemes#Official_IANA-registered_schemes (although many of them likely never make any sense in an HTML context).

[2021-09-15 12:18] MarkejN opened #3474 "TinyMCE Editor strips file insert-tag"
**Affected version(s)**

Tested with Contao 4.12.1

**Description**

When I use the file picker in the tinyMCE editor,

`<p><a href="{{file::fd49ae5c-450f-11eb-b48c-00155d04a7a8|urlattr}}">test</a></p>`

is written correctly to the database. But the editor now incorrectly shows me

`<p><a href="fd49ae5c-450f-11eb-b48c-00155d04a7a8|urlattr">test</a></p>`

in the code view.  If I save further change

[2021-09-15 12:42] fritzmg commented on #3474
Duplicate of https://github.com/contao/contao/issues/3430

Will be fixed with the next Contao bugfix release.

[2021-09-15 12:42] #3474 closed, assigned to nobody

[2021-09-15 13:04] leofeyer opened #3477 "Route defaults inconsistencies"
**Affected version(s)**

Contao 4.12

**Description**

https://github.com/contao/contao/blob/4cf0a3ce0b5eeb52a35037648e23b4d29cf8c9de/core-bundle/src/Routing/Route404Provider.php#L158

@ausi Does this need to be wrapped in `LocaleUtil::formatAsLanguageTag()` like in the `PageRoute` class?

https://github.com/contao/contao/blob/4cf0a3ce0b5eeb52a35037648e23b4d29cf8c9de/core-bundle/src/Routing/Page/P

[2021-09-15 13:41] #3324 closed, assigned to nobody

[2021-09-15 14:23] bezin opened #3479 "Split-up file and folder permissions for editing, moving and deleting"
Hello there,

we often have the use-case that we or the clients' webmaster (not an admin, but a privileged editor) set up an initial folder structure in `/files` that should remain untouched. Regular editors then should be allowed to upload *files* to these designated folders as well as edit these files and move them around freely within the boundaries of their respective file mounts *WITHOUT* bei

[2021-09-15 14:32] aschempp commented on #3473
even the comment says "disallowed" protocols… shouldn't we just disallow javascript (in HTML)? I can imagine linking to app stores for example, and its a PITA to always configure that?

[2021-09-15 14:57] ausi commented on #3473
I don’t know how we could do that technically in the `specialcharsUrl()` method.

Also, there are many more dangerous protocols than just `javascript:`, what about `ssh:`, `telnet:`, `ical:`, `file:`?

[2021-09-16 07:04] MarkejN commented on #3473
Maybe the default allow list can already be quite long and treated like the default cookie deny list?

[2021-09-16 08:44] ausi commented on #3477
I think so, yes. See https://github.com/contao/contao/pull/2305#discussion_r489484461

[2021-09-16 10:37] #3132 closed, assigned to nobody

[2021-09-16 10:37] #2046 closed, assigned to ausi

[2021-09-16 10:37] #2580 closed, assigned to nobody

[2021-09-16 13:35] green-pixelbox commented on #3433
der Fehler, das die {{post::*}} Daten nicht in der E-Mail stehen und das die Bestätigungsmail aus dem notification center nicht versendet wird tritt auch in der ContaoVersion 4.12.1 auf.

[2021-09-16 15:58] Ernestopheles commented on #2238
Actually it appears quite seldom we need this feature. It's common to f.i. association management software to select members  manually for a special email action, but we do not need it very often.

[2021-09-17 06:48] aschempp commented on #3477
I think this is actually wrong, `_locale` should be a locale (`_`) and not a language tag (`-`).
https://github.com/contao/contao/blob/4.x/core-bundle/src/Resources/contao/pages/PageRegular.php#L80-L84

[2021-09-17 06:49] aschempp commented on #3477
aah, hmm… maybe it must be a language tag for backwards compatibility with legacy routing (where the locale is used as prefix)? 🤔

[2021-09-17 07:33] fritzmg commented on #3477
The Symfony Translator needs the locale at least. So having a `messages.de_AT.xlf` currently might not work in Contao, since Contao would set the language for the Translator to `de-AT`.

[2021-09-17 08:06] leofeyer commented on #3477
BTW, the `_canonical_route` feature from #3441 does no longer seem to work in Contao 4.12:

<img width="500" alt="" src="https://user-images.githubusercontent.com/1192057/133747644-92c822f1-24f7-486c-8ab5-0ddc8c58a4ba.png">

<img width="267" alt="" src="https://user-images.githubusercontent.com/1192057/133747676-4b041fcb-a156-4c1f-b5c1-a987a4600333.png">

[2021-09-19 00:06] #3159 closed, assigned to nobody

[2021-09-20 19:00] dmolineus opened #3484 "Encoding errors in mails"
**Affected version(s)**

Contao 4.9 and probably Contao 4.12 as well

**Description**

I have contact form and use the send mail feature of the Contao Core. Special chars, like single quotes get encoded in the text mail.

Expected:

[code]

Result:
[code]

[2021-09-21 06:07] ausi opened #3485 "Duplicate allowed attribute tags should throw an error or be merged"
Currently if you set allowed attributes for the same tag twice, the second row overwrites the first one.

We should either not allow to save such configurations, or merge the two attributes into one.

Related: https://community.contao.org/de/showthread.php?81673#post549518

[2021-09-21 07:13] katgirl opened #3486 "Support IPTC-, EXIF- or XMP-header form metadata"
It would be nice if the image information that you enter in Contao in the file management is also taken into account in the FigureBuilder and is in the image as an IPTC, EXIF ​​or XMP header. This could certainly defuse the legal question about the right-click a lot, since the information is on the picture. All IPTC, EXIF ​​or XMP headers are currently being deleted from the original image.

see:

[2021-09-21 07:26] fritzmg commented on #3486
See also https://github.com/contao/image/issues/80

[2021-09-21 07:31] fritzmg commented on #3484
I think this is already fixed in Contao `4.9.x-dev`. However, I did notice another encoding problem, when using the `{{post::*}}` insert tag in the email subject for instance:

[code]

The configured email subject is `Email from {{env::host}}: {{post::name}}`, but the subject will be

[code]

/cc @ausi

[2021-09-21 08:40] ausi commented on #3484
This needs to be handled in https://github.com/contao/contao/blob/c88eddcf7eb71916036512d21ebbe53dfdcb1eed/core-bundle/src/Resources/contao/forms/Form.php#L405 I think because insert tags always assume to be used within HTML context.

The String `I <3 Contao` would have always had this issue I guess? (even before the security fixes)

[2021-09-21 08:47] fritzmg commented on #3484
Agreed 👍

Yep 👍. `4.9.17`:

[code]

[2021-09-21 09:19] richardhj opened #3487 "Support Directory Structure in Namespaced Twig Paths"
Currently, the registered Twig templates do not support hierarchy. For example:

| File                                              | Fully-Qualified Twig Path                    |
|---------------------------------------------------|----------------------------------------------|
| `/templates/FooBar/fe_page.html.twig`             | `@Contao_Theme_FooBar/fe_page.html.twig`     |
| `/templates/Fo

[2021-09-21 09:24] fritzmg commented on #3487
iirc this was already discussed - but @m-vo will know for sure :)

[2021-09-21 09:32] richardhj commented on #3487
I think it was voted out. My idea was to simultaneously register the hierarchical and flat template path, but in fact, there are problems of ambiguity.

I first noticed that this will be an issue when I wanted to continue work on #2697. Let's say, I create a template called `contao/templates/Backend/Layout/sidebar.html.twig`. You can only reference it as `@Contao/sidebar.html.twig`, which is super

[2021-09-21 10:37] m-vo commented on #3487
Yes, this was discussed in a call while I was midway implementing it. Initially the design looked like this: You would put your Twig templates where you would normally put them in Symfony land. Then, there is a way to mark them as being "managed" either by moving them in a special directory (like `bundles`, so e.g. `contao`) or by config. The templates would then include the full name with sub dir

[2021-09-21 10:41] m-vo commented on #3487
Post script to this statement: If you are using embeds/includes in an extension and you are *not* using the `@Contao/…` namespace but the distinct template name (`@Contao_FooBundle/…`) you would avoid collision but also disallow extending/overwriting it. If this is for some reason intendend (implementation detail), we might want to find a way to ignore certain templates, e.g. with a `.unmanaged` f

[2021-09-21 12:04] m-vo commented on #3486
Are you referring to the things you enter in the metadata widget? This should already be present in `Figure#getMetadata()` when built with the `FigureBuilder`.

[2021-09-21 12:21] katgirl commented on #3486
@m-vo I assumed that the ```FigureBuilder``` also writes the images according to ```assets``` folder.

@fritzmg Thank you for the link. If the values ​​are not deleted, this is very helpful, then the editor has to take care of it beforehand. Otherwise, it would be great if it comes from the metadata and is available in different languages.

[2021-09-21 14:41] asaage commented on #3486
I don't think multilingual metadata in image-files is a thing exept for XMP maybe and i'm pretty sure nobody wants the imageresize to generate individual files for every language.

[2021-09-21 16:27] m-vo commented on #3486
There are two linked but different topics/features here:

1. Resized images should be created with copyright information (in their file headers) if information was present in the original files. We should discuss how and if this is possible here https://github.com/contao/image/issues/80. Gist: there are different formats with different fields and finding a common ground isn't trivial.

2. Meta inf

[2021-09-21 16:29] m-vo commented on #3486
To clarify: This would also mean that it's available in `Figure`s created with the `FigureBuilder`.

[2021-09-21 16:48] asaage commented on #3486
@m-vo i think what @katgirl wants is to put the metadata from the dbafs (widget) into the image-file itself (EXIF ​​or XMP header).

[2021-09-21 21:30] katgirl opened #3490 "contao-console security:hash-secret"
It would be nice if you could also create the hash of the secret with the ```contao-console```.

So instead
``` vendor / bin / contao-console security: hash-password ```

something like that
``` vendor / bin / contao-console security: hash-secret ```

see: ```Base32::encodeUpperUnpadded```

[2021-09-21 21:34] katgirl opened #3491 "Create User with own secret"
We use OTP tokens and would therefore like to hand over our secrets when the user creates them.

[code]

[2021-09-21 23:16] fritzmg commented on #3490
Wouldn't that be more of a Symfony feature request then? `security:encode-password` comes from `symfony/security-bundle`, not `contao/core-bundle`.

[2021-09-22 06:52] bennyborn commented on #2490
Well, judging by https://github.com/contao/contao/pull/3489 and https://github.com/contao/contao/pull/3046 it looks like we're still going with hooks?

If so I could provide a PR for the proposed hook.

[2021-09-22 07:01] katgirl commented on #3490
not password, i meen the seceret of OTP. This is a string(128)

[code]
see: https://github.com/contao/contao/blob/ef97b65f6965e78c8cf6a824dbcd0dc28e9e4f72/core-bundle/src/Controller/FrontendModule/TwoFactorController.php#L163

I need this reverse to set a string to Database, like that

[code]
see: https://github.com/contao/contao/blob/ef97b65f6965e78c8cf6a824dbcd0dc28e9e4f72/core-bundle/src/Resour

[2021-09-22 07:55] fritzmg commented on #2490
#3046 was an exception I think, so that you consistently use 2 hooks for your custom events (`getAllEvents` and `findCalendarBoundaries`) instead of one hook and one event for instance. #3489 is a new PR by a contributor that has not been reviewed yet.

Generally we decided to not introduce any new hooks anymore, as far as I remember.

[2021-09-22 08:12] bennyborn commented on #2490
So what's the future approach then? Creating new Events? If so I'd find it a bit confusing that `isVisibleElement` remains a hook while `isVisiblePage` would ba a Symfony event.

[2021-09-22 08:26] fritzmg commented on #2490
In #3046 it was a hook because it was considered a bugfix. New features, (like `isVisiblePage`) should be an event.

[2021-09-22 12:36] SeverinGloeckle opened #3492 "Transition from hooks to events"
Currently Contao uses both hooks and events to allow customization of the system. For developers it is rather confusing when to use a hook (historic / legacy Contao features) and when to use an event (nSymfony features, new Contao features).

Since Contao will only add new events rather than hooks in the future, I think all hooks should be replaced by events **while keeping backwards compatible**.

[2021-09-22 13:19] Toflar commented on #3492
We've discussed this and the answer was always that it's not worth the effort because of exactly the issues you have encountered ;)

[2021-09-22 13:19] m-vo commented on #3492
I think we all want to get rid of `$GLOBALS['TL_HOOKS']` at one point. But just transforming hooks to events doesn't make much sense to me.

Many of the existing hooks are only there for historic reasons and shouldn't exist in the future (even as an event). By that I mean BC but also things where there isn't a better way of doing it, yet. We likely have to find new implementations and then mark th

[2021-09-22 13:28] aschempp commented on #3492
What @Toflar said is what I also remember. An additional un-fixable problem is that a hook can get and manipulate arguments by reference, which is (almost) impossible by events.

[2021-09-22 16:49] SeverinGloeckle commented on #3492
Thanks for the quick replies and your input.

Maybe I am missing something but this could be done if both the listener and the dispatching code support the reassignment (see examples below).

We would support this for legacy hooks only and the legacy listener could also compare the parameters and raise a deprecation warning if the parameters have been manipulated.

So if pass-by-reference changes

[2021-09-23 07:25] SeverinGloeckle commented on #3492
In the long term, it should also be possible to refactor the `HookEvent` to custom events step by step and in a backwards compatible way:
- Define an interface for legacy hook events (`getHookName()`, `getReturnValue()`, `returnEarly()` etc.).
- Move the logic for the legacy hooks into a trait.
- Have the generic `HookEvent` implement the interface and use the trait.
- Have the `LegacyHookListener

[2021-09-23 12:39] richardhj commented on #3487
Is this _up for discussion_? We would need a solution for directory structure support. Unsure if this is due for Contao 4 or Contao 5.

[2021-09-23 16:18] leofeyer opened #3493 "Folder name "0" is not displayed"
**Affected version(s)**

Contao 4.9+

**Description**

<img width="493" alt="" src="https://user-images.githubusercontent.com/1192057/134545347-a559bd49-4300-420a-98bd-a5d9fc721324.png">

<img width="440" alt="" src="https://user-images.githubusercontent.com/1192057/134545324-f73f1dbd-dbb1-4ce2-89e4-bbe1eea8ff8b.png">

[2021-09-23 16:20] leofeyer opened #3494 "Options are not sorted correctly when starting with a non ASCII character"
**Affected version(s)**

Contao 4.9+

**Description**

<img width="183" alt="" src="https://user-images.githubusercontent.com/1192057/134545663-1ffafd18-20d0-48f5-8640-a1ab755de15a.png">

[2021-09-23 18:19] SeverinGloeckle opened #3495 "Impossible to mock classes extending `Contao\System` with Mockery due to TL_MODE parameter default"
**Affected version(s)**

Contao 4.9 and up

**Description**
It is currently not possible to mock a class that extends from `Contao\System` with Mockery (...) due to the usage of `TL_MODE` as a default parameter value in `getMessages`:

[code]

Since there is no constant `TL_MODE` in the test environment, this throws an exception:

[code]

This is because Mockery by default is creating `MethodDefin

[2021-09-23 18:33] SeverinGloeckle commented on #3493
This is because there is a loose check in `StringUtil`:

https://github.com/contao/contao/blob/27c55df2b5a9607b780a602ef92ecaaeb312cb1d/core-bundle/src/Resources/contao/library/Contao/StringUtil.php#L918-L923

[2021-09-23 18:39] ausi commented on #3495
I’m happy with removing `TL_MODE` from the attributes as long as it is backwards compatible. Which I think it is in this case because calling `getMessages(null)` in the current version didn’t work so it should be OK to change this behavior.

[2021-09-23 20:01] richardhj commented on #3491
For me, the `user:create` command is something to rapidly add users to the system manually.
For bulk imports, a database import script might be more useful. In the end, where do the secrets come from? Is this something that should be exposed via CLI?

[2021-09-23 20:03] SeverinGloeckle commented on #3494
What options are we looking at here?

[2021-09-23 20:09] fritzmg commented on #3494
Any `options` in the DCA presumably.

[2021-09-24 05:24] leofeyer commented on #3494
The screenshot shows the filter menu in the back end. Sorry for not mentioning that right away.

[2021-09-24 05:31] leofeyer commented on #3495
Agreed.

[2021-09-24 05:32] #3493 closed, assigned to nobody

[2021-09-24 05:32] leofeyer commented on #3493
@SeverinGloeckle Thank you for debugging this one. 👍

[2021-09-24 06:23] katgirl commented on #3491
We install Contao with ansible and create the users on this way. Can reset the password and set the initial again. And send an email to the user.

Then we have a central privacyIDEA installation to manged all Tokens. And for admins i will set there Token to the authentication.
If i can set (or update) with  ``` user:create``` it`s on request not two.

[2021-09-24 07:54] SeverinGloeckle commented on #3495
If the `ContaoFramework` is initialized and thus `TL_MODE` is defined, `getMessages(null)` has been working and will also work with `$strScope=null` instead of `$strScope=TL_MODE`.

In both cases  there is a fallback to `TL_SCOPE` - just that with `$strScope=TL_MODE` the fallback is done by `Message::generate()`:

https://github.com/contao/contao/blob/c88eddcf7eb71916036512d21ebbe53dfdcb1eed/core-

[2021-09-24 08:14] ausi commented on #3495
I don’t see how `Message::generate(null)` falls back to `TL_MODE`, but either way the change is backwards compatbile so everything is fine IMO ☺️

[2021-09-24 08:30] SeverinGloeckle commented on #3495
You are right, my bad.

I fully understand your initial comment now: Since `getMessages(null)` wasn't working correctly before (e.g. using session keys like `contao..error` since there is no TL_MODE), it is alright to change this behaviour to use the current `TL_MODE` in this case.

The inline fallback `$strScope = $strScope ?? TL_MODE;` is actually necessary in this case to keep `getMessages()` w

[2021-09-24 08:56] ausi commented on #3451
Yes. I think custom editors have to add this setting themself if they want to use it.

[2021-09-24 09:38] #3494 closed, assigned to nobody

[2021-09-25 11:18] zonky2 opened #3501 "Content element HTML encode =,<, >"
**Affected version(s)**

Contao 4.9.20 and Contao 4.4.57

**Description**
Content element HTML encode =,<, >
older versions did not do this

![FireShot Pro Webpage Screenshot #604 - 'Artikel Inhaltselemente I demo contao org' - demo contao org](https://user-images.githubusercontent.com/1045318/134769509-f2b59fe6-2abc-4d06-8b51-afa01d0b0c95.jpg)

Workaround: add own dca file tl_content.php with
[co

[2021-09-25 11:57] fritzmg commented on #3501
~~This is already fixed in the current `4.9` branch. I could not reproduce it there at least.~~

// nvm, it is still reproducible there

[2021-09-25 11:59] zonky2 commented on #3501
I have just tried this in the demo approx. 13:15h

[2021-09-25 12:01] fritzmg commented on #3501
However, if you set **Allowed HTML attributes** to `*` `*`, then only `<` gets encoded (which is expected, I think?).

[2021-09-25 12:04] zonky2 commented on #3501
Nothing should be encoded in the content element HTML - IMHO

What I don't understand is that this is content and not an attribute?

[2021-09-25 12:08] zonky2 opened #3502 "jumpTo Abhängigkeit der Einstellung bei Modul und Mitgliedergruppe"
Weder im Forum noch in Slack gab es zur folgenden Frage eine Reaktion/Antwort:

1.) Ich habe zwei Mitgliedergruppen mit entsprechenden Mitgliedern (ist scharf getrennt: entweder/oder) und ich habe eine Loginseite. Wenn sich jemand einloggt, soll dieser direkt auf einer Seite in dem Bereich seiner Mitgliedergruppe landen - dazu habe ich bei der Mitgliedergruppe jeweils eine Weiterleitungsseite eing

[2021-09-25 12:09] fritzmg commented on #3501
If you don't want anything encoded, you can set the allowed HTML attributes to `*` `*`. And not allowed HTML tags will still get encoded, that has always been the case.

[2021-09-25 12:11] fritzmg commented on #3502
iirc the member redirect group will always override any other redirect setting. Though I could not figure out as well where this redirect is actually set when I had a quick look 🤔

[2021-09-25 12:16] zonky2 commented on #3502
I would try to make a PR or my own module - but i can't find where to put the lever .... hmm??

[2021-09-26 17:49] aschempp commented on #3492
To me what @Toflar said still stands. Converting everything to events does not bring any advantage, its only a lot of work with no gain imho.

[2021-09-27 09:14] SeverinGloeckle opened #3505 "DebugPagesCommand handles legacy page types only"
**Affected version(s)**

Contao 4.11 and up

**Description**
The command `contao-console debug:pages` only shows pages registered in `$GLOBALS['TL_PTY']`:

https://github.com/contao/contao/blob/c88eddcf7eb71916036512d21ebbe53dfdcb1eed/core-bundle/src/Command/DebugPagesCommand.php#L71

**Expected behaviour**
It should show custom page types from the `PageRegistry` as well.

**Possible fix**
If the

[2021-09-27 09:21] SeverinGloeckle commented on #3492
I see your concerns.

On the other hand, if

 then it's an important step to validate which legacy features should make it into Contao 5.

One way could be to:
1. review all hooks and deprecate as many as possible **while providing alternatives with a similar effect**.
2. deprecate any use of `$GLOBALS['TL_HOOKS']` in favor of `@Hook`.
3. make it as easy as possible to adjust hook-like behaviour i

[2021-09-27 11:23] aschempp commented on #3505
This certainly is a bug! We should get the types from the registry as well, same as we do in the PageTypeOptionsCallback

[2021-09-27 11:25] aschempp commented on #3492
Again, what advantage would that bring? Except for removing the global variable?

[2021-09-27 17:04] #3495 closed, assigned to nobody

[2021-09-28 09:05] fritzmg commented on #3101
I think @aschempp already has a simple solution for this?

[2021-09-28 09:06] leofeyer opened #3510 "Add conditional fields instead of removing them"
Can we change the implementation in such a way that the fields are not removed from the DCA if the comments bundle does not exist but instead only added if the bundle exists? :) That would be a bit cleaner I guess and you can use the `PaletteManipulator` for that :)

_Originally posted by @Toflar in https://github.com/contao/contao/issues/2983#issuecomment-839812547_

[2021-09-28 09:18] SeverinGloeckle commented on #3492
The advantages from my point of view are:

### 1. Removing another superglobal
Get rid of another superglobal usage with `$GLOBALS['TL_HOOKS']`.

### 2. Standard way to listen to hook-like behaviour
While the `@Hook` annotation allows developers to use hooks without thinking about their definition, it is still a proprietary concept unknown to most Symfony developers.

In my opinion, it would be ni

[2021-09-28 09:24] Toflar commented on #3492
To be honest: Nobody's going to prevent you from working on that concept. Quite the contrary: Any help is highly appreciated and if you want to work on that, then by all means, please do! It's not that we don't want it in the core. I mean, I would love to have it. It's just that we agreed at our core devs meetings that there might be other areas where the impact could be higher with the same amoun

[2021-09-28 14:37] sietsevandreven opened #3511 "Contao 4.12.1 Dutch language missing in backend"
**Affected version(s)**
Contao 4.12.1

Dutch language is selectable in user settings, but the necessary  files are missing under core-bundle -> src -> Resources -> contao-> languages -> nl

[2021-09-28 14:53] leofeyer commented on #3511
Unfortunately, the translation is no longer included in Contao 4.12, because no one has been translating the new strings and the completion rate has dropped below 95%. It seems that we have forgotten to remove two files, though.

https://github.com/contao/contao/tree/4.12/core-bundle/src/Resources/contao/languages/nl

[2021-09-29 07:38] richardhj commented on #3511
Maybe @sietsevandreven can provide missing translations to reach the 95 % threshold again?

[2021-09-29 07:56] sietsevandreven commented on #3511
@richardhj   I downloaded the EN files from 4.12 and the NL files from 4.11. Compared these and added missing lines. What do I do next? My only experience with Github is posting issues.

[2021-09-29 08:35] fritzmg commented on #3511
In order to contribute to the Dutch translation of Contao you need to register on [transifex](https://www.transifex.com/signup/) and then request to join the translation team for the [`core-bundle`](https://www.transifex.com/contao/core-bundle/) for example for the Dutch language (and ideally for the other bundles as well).

[2021-09-29 08:35] m-vo commented on #3492
So for Contao 5, this would mean everyone using hooks in their app as well as every extensions that uses or dispatches hooks would need to migrate their code. Without any functional benefit. And then, later, we would get rid of these events again to make them fit a newer concept.

I'm all for consistency for a better U/DX. IMO this change would backfire, however.

Here is another view: Not having

[2021-09-29 09:37] #3485 closed, assigned to ausi

[2021-09-29 09:54] #3421 closed, assigned to ausi

[2021-09-29 10:04] ausi commented on #3484
Closed in favor of #3512

[2021-09-29 10:04] #3484 closed, assigned to ausi

[2021-09-29 10:04] ausi commented on #3451
Closed in favor of #3513

[2021-09-29 10:04] #3451 closed, assigned to ausi

[2021-09-29 10:43] #3511 closed, assigned to nobody

[2021-09-29 10:55] leofeyer commented on #2201
@monxoom can you verify that the error is fixed if you delete that line?

[2021-09-29 10:56] #3065 closed, assigned to nobody

[2021-09-29 10:58] #3364 closed, assigned to ausi

[2021-09-29 11:05] #3101 closed, assigned to nobody

[2021-09-29 11:12] leofeyer commented on #3127
If you clear the search tables before starting the crawler, the search cache is purged automatically. Otherwise, you have to purge the search cache in the maintenance module after the crawler is finished.

Of course, you could add an Escargot subscriber that purges the search cache when the crawler is started. Not sure if that is worth the effort, though.

[2021-09-29 11:17] #3505 closed, assigned to nobody

[2021-09-29 11:40] fritzmg commented on #3101
For reference: this is the work that @aschempp showed during the mumble call on July 29th: https://github.com/contao/contao/compare/4.x...aschempp:bugfix/start-stop-caching

[2021-09-29 12:24] fritzmg commented on #2750
As discussed with @ausi, while debugging an issue similar to [this](https://github.com/contao/contao/issues/3305), we need to upgrade to `doctrine/dbal` `3.x` which has the better/fixed implementation for creating schema diffs and would also solve this issue (see https://github.com/doctrine/dbal/pull/4746).

[2021-09-29 12:29] fritzmg commented on #3305
Btw. this can happen, if the wrong `server_version` gets stored in the container (see also https://github.com/contao/contao/issues/3345). Reproduction:

1. Disable your `DATABASE_URL` in your `.env.local`.
2. Clear the application cache (e.g. with `rm -rf var/cache`).
3. Execute `composer install` for example to rebuild the cache.
4. Enable your `DATABASE_URL` in your `.env.local` again.
5. Run `v

[2021-09-29 13:57] SeverinGloeckle commented on #3492
If the hooks were registered via `$GLOBALS['TL_HOOKS']`, yes, the code should be changed to use `@Hook` at least.

For this reason, the legacy way of registering hook callbacks should be deprecated for Contao 4.13.

I see. On the other hand, a new major version is the only opportunity to clean up left over burdens.

Once the already deprecated features are removed for Contao 5, there will most lik

[2021-09-29 14:53] #74 closed, assigned to nobody

[2021-09-30 07:19] SeverinGloeckle opened #3525 "Frontend preview throws exception for pages with `tl_page.requireItem`"
**Affected version(s)**

Contao 4.12, 4.11 (likely Contao 4.10 as well)

**Description**

Starting the frontend preview for a page with `tl_page.requireItem` enabled ("Require an item"-option) throws:

[code]

This exception is not caught.

**Details**
The exception is thrown since the router cannot generate the URL for a page which requires an item without an item parameter (somewhat similar to #

[2021-09-30 08:47] fritzmg commented on #3525
The preview will work if you launch the preview from within whichever item can be displayed on that page (e.g. a news article which is the child of a news archive that has said page defined as the redirect page).

[2021-09-30 09:00] SeverinGloeckle commented on #3525
That's correct.

In this case the preview is generated by a custom URL converter which depends on the item (e.g. the `PreviewUrlConvertListener` in the news-bundle). That works within the context of the item's module only.

Starting the preview from the page structure or from within an article for pages with `tl_page.requireItem` should not throw an (unhandled) exception.

[2021-09-30 11:53] #2630 closed, assigned to nobody

[2021-09-30 12:02] leofeyer commented on #3477
This has already been fixed in #3506.

[2021-09-30 12:02] #3477 closed, assigned to nobody

[2021-09-30 13:58] leofeyer commented on #3473
Closing this in favor of #3488.

[2021-09-30 13:58] #3473 closed, assigned to nobody

[2021-09-30 14:29] SeverinGloeckle commented on #3450
As discussed in Mumble on September 30th, we want to:
- remove parent pages with `tl_page.requireItem` from the breadcrumbs template and the JSON-LD data
- use the current request path for the URL of the current page

I will create a pull request accordingly.

[2021-09-30 14:54] leofeyer commented on #3415
As discussed in Mumble on September 30th, we do not want a `sitemap=false` attribute. The error pages should not have an external route, so it cannot be added to the sitemap. Additionally, we only should only add routes with `'_format' => 'html'`.

As a quick fix, we want to hardcode the exemptions again.

[2021-09-30 15:36] SeverinGloeckle commented on #3450
Additionally the breadcrumbs should handle the edge case if a parent page is an error page (404, 403, 401). These should not be added to the breadcrumbs as well.

At best the same logic/solution that will be developed for #3415 can be used to determine whether a page should be added to the breadcrumbs.

[2021-09-30 16:17] leofeyer commented on #3363
As discussed in the Contao call on September 30th, we want to set `contao.web_dir` from `extra.public-dir` in the composer.json file and deprecate the parameter in the configuration tree.

[2021-10-01 08:41] monxoom commented on #2201
I’m sorry, but that doesn’t do the trick for me. Deleted the line in a Contao 4.9 installation and cleared the cache, but the behaviour is exactly as before.

But for the second scenario ausi describes, out-commenting the mentioned line fixes the error!

[2021-10-01 09:49] dmolineus opened #3531 "Page setting requires item leads to 404 error with url suffix /"
**Affected version(s)**

Contao 4.9 and Contao 4.12

**Description**

I have a root page setting with the url suffix `/`. If I activate the `requiresItem` setting on a sub page, I get a page not found error. As far as I debugged it's caused by the routing system.

1. The url matcher alsways makes the trailing slash optional https://github.com/symfony/routing/blob/be865017746fe869007d94220ad3f52979

[2021-10-01 10:25] aschempp commented on #3531
what does your URL look like?

[2021-10-01 11:11] dmolineus commented on #3531
`https://example.org/news/details/just-an-example/`

[2021-10-01 11:11] bennyborn opened #3532 "CSS ID/class not applied to FrontendModules as CE"
When creating a custom Front End Module using `AbstractFrontendModuleController` (as described in the [docs](https://docs.contao.org/dev/framework/front-end-modules/)) it seems that Contao does not apply the CSS ID and Class given to the Content Element referencing the Module.

![image](https://user-images.githubusercontent.com/226890/135610591-f49b92e2-67fc-433f-9969-bd74f27c56d0.png)
![image](ht

[2021-10-01 12:03] koertho commented on #3263
@fritzmg Asked me to add this to this thread:
This Issue leads to problems with Messages in Isotope, as the `modifyFrontendPage` Hook is called on `Template::getResponce()`, so `Isotope\Frontend::injectScripts` is executet when an Fragment in rendered.

Slack: https://contao.slack.com/archives/CK4J0KNDB/p1633089378175200
Isotope Issue: https://github.com/isotope/core/issues/2255

[2021-10-01 12:05] asaage commented on #3531
I think it's not just url suffix ```/``` but also folder-url's which play a role here.

[2021-10-01 14:07] GMTeams opened #3533 "Croatian and Romanian language abbreviations are not recognized correctly"
**Affected version(s)**

Contao 4.9.x-dev

**Description**

In the site structure, I can fill in the language abbreviations "ro" (Romanian) and "hr" (Croatian) from ISO Standard 639-1.
![image](https://user-images.githubusercontent.com/28180274/135631719-657a5fa8-f765-4536-90f7-cb4e7d6c1f68.png)

In the file management, when you edit meta data of an image, all languages occur in their full notatio

[2021-10-01 14:22] fritzmg commented on #3533
I can confirm the issue in `4.9.x-dev`.

[2021-10-01 15:08] aschempp commented on #3532
Are you on the latest Contao version? Because this should be fixed recently.

[2021-10-01 15:31] aschempp commented on #3533
see https://github.com/contao/contao/pull/3534

[2021-10-01 15:31] #3533 closed, assigned to nobody

[2021-10-01 16:13] m-vo commented on #3363
see #3535

[2021-10-01 16:13] #3363 closed, assigned to nobody

[2021-10-01 17:06] m-vo commented on #3385
I guess you're right :smile:. It was way easier to remove the arbitrary option and (hopefully) fix the BC layer. See #3536.

[2021-10-01 17:06] #3385 closed, assigned to m-vo

[2021-10-01 17:58] bennyborn commented on #3532
The project in question is version `4.9.20`.

**Update:** Still not working in `4.9.21`

[2021-10-02 10:03] #463 closed, assigned to nobody

[2021-10-02 10:03] #884 closed, assigned to nobody

[2021-10-03 17:56] zonky2 opened #3539 "Error when calculating maxPaginationLinks if number is even"
the default setting of maxPaginationLinks with 7 is an odd number - here the output is correct and we see 7 links

you can change the setting (Contao 4.9.20) e.g.
[code]
then the display is as follows

![FireShot Pro Webpage Screenshot #618 - 'News   Newsletter - GUTcert' - www gut-cert de](https://user-images.githubusercontent.com/1045318/135765615-5d2541cc-b235-4ef7-8aa1-2f972c587ed3.jpg)

so on

[2021-10-04 11:17] masudewucse opened #3541 "Contao 4 Front-end: Please help me auto log-in Just after the user registration"
I have the registration form in Contao 4 front-end. Registration is working good with disabling the user and activating the user after the email URL click.
What I want is, **user will be enabled and automatically log in just after the registration**.
I found a package (terminal42/contao-autoregistration) but did not work for my contao 4.11 version.
I would be glad to have some support.

[2021-10-04 11:19] fritzmg commented on #3541
That's the recommended extension. What exactly did not work?

[2021-10-04 11:33] masudewucse commented on #3541
I installed the package and did run the migration. 3 new entities have been created for tl_page table.
but I could not find the checkboxes on the (root)page (contao backend) where I called the member registration module.  so I manually set 1 (enabled) to all 3 entities in the database.

After I fill in all the info (email, username & password) and click on Register would just refresh the page and

[2021-10-04 12:09] fritzmg commented on #3541
You need to enable the feature in your website root's settings. There will be a new section called "Member Registration".

Btw. these kinds of questions are more suited for either the issue tracker of the extension - or the community forum or community slack.

[2021-10-04 15:48] #3450 closed, assigned to nobody

[2021-10-05 06:27] SeverinGloeckle commented on #3539
I can confirm this bug in the pagination: If you set `maxPaginationLinks` to an even number, the pagination generates one more item than set in the value.

The pagination logic tries to split up the links to add an equal padding before and after the current page (that's what the `floor($this->intNumberOfLinks / 2)` is used for). So for example on page 4 with a maximum number of 5 links, the pagina

[2021-10-05 06:33] zonky2 commented on #3539
o.k. - understood...

on closer inspection, the display is wrong for odd numbers. The active page number has no linking and would have to be calculated out of the number - i.e. `maxPaginationLinks` 7 generates 6 links... or the variable should be called `maxPaginationItems` (or similar).

[2021-10-05 06:45] SeverinGloeckle commented on #3539
You are right, the naming could be improved. That's something to keep in mind for Contao 5.

[2021-10-05 06:59] bennyborn opened #3547 "Behaviour of submitOnChange"
When toggling a field which has `submitOnChange` set, the record gets updated without creating a new version or adding any entry to `tl_log` - this can lead to some confusion...

**Story:**
We just ran into the problem that the site of a customer has been offline due to the root page not having assigned a layout anymore. Looking through the logs we saw nothing that could've explained how this happ

[2021-10-05 07:33] aschempp commented on #404
@m-vo I'd like to keep this open because it's a good summary what needs to be implemented in different places (mostly the Manager) 😊

[2021-10-05 07:55] #3541 closed, assigned to nobody

[2021-10-05 15:52] aschempp commented on #3539
Closed in favor of #3548

[2021-10-05 15:52] #3539 closed, assigned to nobody

[2021-10-05 15:54] aschempp commented on #3547
I think this has been discussed before and is a known limitation / open issue, did you check the other issues?