[2019-07-31 18:40] leofeyer commented on #617
I meant "the console" of course. Silly me. 😄

[2019-08-02 10:47] zonky2 opened #618 "No forms are output when printing a page as PDF"
**Affected version(s)**
all versions...

**Description**

currently no forms are output when printing a page as PDF

**How to reproduce**

add form at page and print as pdf

**Fix**
delete
[code]
https://github.com/contao/contao/blob/6742d9ef116a2c2bcc3c150188f8119f501f8cc7/core-bundle/src/Resources/contao/modules/ModuleArticle.php#L283

[2019-08-05 13:49] aschempp commented on #617
I just looked at my own recipe, and it looks like the `--no-debug` statement is added there. Maybe thats the same for you, and you should just change your `deploy.php`

[code]

[2019-08-06 19:24] pgerundt opened #620 "Bug in MetaWizard widget"
Steps to reproduce:
1) Add a new language
2) Enter data
3) Save

When deleting the recently added language, a JS error is thrown.

Cause: The `metaDelete()` method in core.js tries to re-enable the language in the select field:
https://github.com/contao/contao/blob/6742d9ef116a2c2bcc3c150188f8119f501f8cc7/core-bundle/src/Resources/public/core.js#L2329
But the select field does not contain (disable

[2019-08-07 19:42] leofeyer commented on #617
I have removed the custom application class in 2d253fbff95172890bed579c5ab2886b1ca5ac41. The custom title and version number are still set.

[2019-08-07 19:47] obendev commented on #433
I definitely think we should implement this in Contao 4.9 LTS, since this feature will definitely come in the feature.
As ausi said before it isn't available by default, but since it is already shipped in Chrome, we can be 100% sure they are testing this feature by Chrome users.

I mean this is just a nice handy feature, no breaking change.

It would be really cool to see more of this new fancy fe

[2019-08-07 19:58] xchs commented on #433
Some more info on this: https://web.dev/native-lazy-loading

[2019-08-08 06:54] aschempp commented on #617
Sorry but I don't think that's the right solution. The `--no-debug` option does not exist on the console, so it must not show up in the description. We can still ignore it if thats reeealy a problem…

[2019-08-08 07:05] leofeyer commented on #617
It obviously is a problem (see above).

[2019-08-09 14:56] bytehead opened #627 "contao/phpstan: ClassNotFoundException"
**Affected version(s)**
4.8.*

**Description**
https://github.com/contao/phpstan/pull/4 makes `contao/phpstan` for our contao based projects unusable.

[code]

Test classes are only in `autoload-dev`:
https://github.com/contao/contao/blob/2d253fbff95172890bed579c5ab2886b1ca5ac41/composer.json#L220-L230

**How to reproduce**
Use `contao/phpstan` in a contao project and run phpstan with the `contao/

[2019-08-12 08:36] leofeyer commented on #551
symfony/symfony#32455 has been merged 🎉

[2019-08-12 08:36] #551 closed, assigned to nobody

[2019-08-12 15:51] leofeyer commented on #589
PR: #629

[2019-08-12 15:51] #589 closed, assigned to nobody

[2019-08-12 16:02] leofeyer commented on #587
I was not able to reproduce this.

* I have created a new folder `contaodemo/test`.
* I have clicked the folder name to activate the breadcrumb menu.

<img width="398" alt="" src="https://user-images.githubusercontent.com/1192057/62879313-22681280-bd2b-11e9-8a48-5e156e9bdf1b.png">

* I have clicked the "delete" icon to delete the `contaodemo/test` folder.
* The folder was removed and I was taken b

[2019-08-12 16:02] #587 closed, assigned to nobody

[2019-08-13 07:22] aschempp commented on #627
How does it work in `contao/contao` then? Maybe you need to manually register the test classes in your bundle?

[2019-08-13 07:33] bytehead commented on #627
See above (Line 224), the test classes are added in `autoload-dev`. That could be one solution, but it does not make me really happy 🤷‍♂

[2019-08-13 07:39] aschempp commented on #627
The only other solution to this would be to extract the fixtures into their own package, which seems kinda overkill to me? Maybe we should add them to `contao-test`?

[2019-08-13 09:22] leofeyer commented on #608
IMHO, the whole mail priority concept is broken by design, as prioritizing mails needs to be done by the **recipient** and not by the sender. Clients tend to always mark their mails as "high priority" even though most of the time they are not. 😄

So I vote against re-adding this.

[2019-08-13 09:23] #585 closed, assigned to nobody

[2019-08-13 09:24] #550 closed, assigned to nobody

[2019-08-13 09:25] #576 closed, assigned to nobody

[2019-08-13 09:26] leofeyer commented on #498
symfony/symfony#32790 has been merged. Thank you @bennyborn.

[2019-08-13 09:26] #498 closed, assigned to nobody

[2019-08-13 09:30] leofeyer commented on #620
I cannot reproduce this. Which browser and OS did you test?

[2019-08-13 09:31] aschempp commented on #608
Then I think we should not support any mail functionality anyway, because it can be abused as spam 🤣

[2019-08-13 09:37] leofeyer commented on #608
Well, it is similar to the "priority" option in ticket systems such as Trac or osTicket. Users cannot estimate what priority a ticket will have for the maintainers, therefore the field does not make sense. And that is probably also why you cannot find a "priority" field when creating issues on GitHub.

[2019-08-13 09:42] leofeyer commented on #154
Das tut es eigentlich auch:

https://github.com/contao/contao/blob/b10dac251a053b5e38edc4c750e61f1469a86956/core-bundle/src/Resources/contao/forms/Form.php#L554-L559

Und beide Methoden rufen `Controller::redirect()` auf:

https://github.com/contao/contao/blob/b10dac251a053b5e38edc4c750e61f1469a86956/core-bundle/src/Resources/contao/library/Contao/Controller.php#L1022-L1027

[2019-08-13 11:42] pgerundt commented on #620
Really? The issue is totally independent from OS or browser. (I'm using Firefox, Chrome and Safari on MacOS.)
When deleting a language, the core.js tries to remove the "disabled" property from that language select option.
But currently used languages are not added to the select box AFTER SAVING.

Did you really click "save" after adding a new language?

[2019-08-13 15:33] leofeyer commented on #620
Yes, I did. See https://www.dropbox.com/s/symjuc9yoy6v7j0/626.mov?dl=0

[2019-08-14 07:34] pgerundt commented on #620
Clean install of v4.7.7 and the bug still occurs.
We should track it down to either PHP or JS.

Question: After adding a language and saving, does "your" select element contain the recently added language as a disabled option item?

"Mine" doesn't, so the JS error is thrown.

[2019-08-14 07:46] fritzmg commented on #620
Please improve your reproduction steps:

* What `Accept-Language` is used in your requests?
* How many website roots do you have in which languages?
* Which language was pre-selected in the meta wizard?
* Which language did you add and subsequently delete?

[2019-08-14 09:58] pgerundt commented on #620
I'm sorry, I didn't provide these informations before, because they don't seem to have impact on the bug:

- The `Accept-Language` is `de,en;q=0.7,en-US;q=0.3`
- I tested with a single website root in `de` then switched it to `en` and finally setup two roots with `de` and `en`
- After uploading a file, the languages of the website roots are pre-selected (so `de`, then `en` and finally `de` and `en

[2019-08-14 10:08] fritzmg commented on #620
@leofeyer I can reproduce the error in Contao 4.7.7 using @pgerundt 's reproduction.

[2019-08-14 10:10] fritzmg commented on #620
Hm, in fact, I cannot delete any language at any point... am I encountering a different error? The JavaScript error is
[code]

[2019-08-14 10:14] pgerundt commented on #620
Thank you!
Yep, that's the error.
If you take a look at the `core.js` L2329 and the `MetaWizard.php` L166 from my first posting, it's pretty clear why you cannot delete any languages:

`MetaWizard.php` doesn't add active languages to the select and `core.js` tries to re-enable this non-existing item.

Still wondering why it works @leofeyer ...

[2019-08-14 12:46] leofeyer commented on #620
@fritzmg Can you also reproduce it in the latest `4.8` branch?

[2019-08-14 17:52] aschempp commented on #608
But emails are not sent by users. They are likely sent by a CMS, where the administrator configures the priority. For example you could set the priority of an order configuration to hight for your own webshop.

[2019-08-14 17:53] aschempp commented on #154
könnte es sein dass die Exception schon im ExceptionListener für jeden Request abgearbeitet und in eine 302-Redirect-Response umgewandelt wird?

[2019-08-15 07:38] fritzmg commented on #620
Yeah, same error still happens in `4.8.x-dev` (dac2ccc).

[2019-08-15 07:57] leofeyer commented on #617
See #626.

[2019-08-15 07:57] #617 closed, assigned to nobody

[2019-08-15 09:36] pgerundt commented on #620
Guess, it's been there since
https://github.com/contao/contao/commit/5402a0c384d30b44069bbf083d6505d7da0f7f1c#diff-ad0d5d4cc8531e1b48a7c869d477982f

[2019-08-15 12:18] leofeyer opened #631 "Script handler still adds "app" directory"
**Affected version(s)**

4.8

**Description**

The script handler of the manager bundle still adds the `app` directory in the `addAppDirectory()` method. Since we now use the `config` directory instead, can this be removed? @aschempp /cc

[2019-08-15 12:56] aschempp commented on #631
Not sure, we still use the app directory in the install tool, don't we? ;-)

[2019-08-15 13:46] fritzmg opened #632 "info modal pop up shows "Untitled" without translation"
**Affected version(s)**
4.8

**Description**
In Contao 4.8 we do not explicitly have to translate the labels for `edit`, `delete`, `show` etc. any more. However, if you do not provide a translation for `show`, the modal pop up when clicking on the ℹ️ symbol will have __Untitled__ as its title, instead of "Show details of element ID x".

Not sure if this is technically a bug, but it would be nice i

[2019-08-15 15:15] plandolt opened #633 "Can't select predefined image size"
**Affected version(s)**
4.8

**Description**
After upgrding an existing installation from 4.7.x to 4.8.0 I tried the feature https://github.com/contao/contao/pull/537. But every time I try to select one of the "predefined" sizes I get this error:
![image](https://user-images.githubusercontent.com/922919/63104930-2771cf80-bf80-11e9-8895-424f23b670bd.png)

Here is my image size config:
[code]

[2019-08-15 15:18] leofeyer commented on #633
@qzminski /cc

[2019-08-15 16:04] ausi commented on #633
See #634

@scuben you can fix it in your installation by removing the `name:` lines from your configuration.

If you want “nicer” labels in the backend for the image sizes you can add a translation for them.

[2019-08-15 16:17] leofeyer commented on #631
I have just discovered that `contao-community-alliance/composer-plugin` uses the `app/Resources/contao/config` directory for the runonce files:

https://github.com/contao-community-alliance/composer-plugin/blob/2686fb2299fa4fcde1d3a54ec10cd497661d8536/src/Plugin.php#L92

We should change this as well, shouldn't we?

[2019-08-15 19:30] #633 closed, assigned to nobody

[2019-08-15 22:05] Anke commented on #6370
+1

[2019-08-16 00:01] xchs commented on #370
I also came across this thing today. Is it really necessary that the `preview.php/` URL fragment remains in the URL even if front end preview mode is disabled?

[2019-08-16 00:28] xchs opened #636 "Internal server error when theme screenshot image is missing"
**Affected version(s)**

Contao 4.4 / Contao 4.8

**Description**

Contao is throwing an internal server error exception when the theme screenshot/preview image is missing or defect.

**How to reproduce**

* Add a screenshot image in the theme settings
* Delete or rename the screenshot image file
* Try to open _Layout_ > _Themes_

**Expected behavior**

Ignore the missing or defect screenshot/prev

[2019-08-16 05:41] Toflar commented on #370
Yes it is. If you enabled caching for logged in users (new checkbox) you need that. Also for consistency.

[2019-08-16 06:42] leofeyer commented on #370
Also, as @aschempp pointed out, closing the preview bar does not terminate the preview mode in Contao <4.8, therefore it is consistent to keep the `preview.php` fragment.

[2019-08-16 07:05] plandolt commented on #633
@ausi Thank you, that fix worked. 🙏

[2019-08-16 07:48] aschempp commented on #631
I don't think that's worth the effort. The old way is still perfectly valid, if your extension needs to be compatible with multiple Contao versions…?

[2019-08-16 08:06] leofeyer commented on #631
Wouldn't `var/runonce` (or even `system/tmp`) be a better choice that also works with all Contao 4 versions?

[2019-08-16 08:25] minstyle opened #637 "Keine Anzeige der Bildausrichtung bei Inhaltselement Bild"
**Affected version(s)**
Contao 4.4.1
Contao 4.7.7

**Description**
![image](https://user-images.githubusercontent.com/2649562/63153938-d0b3d680-c00f-11e9-9313-da8e94b7415b.png)
In den Benutzerrechten besteht Zugriff auf die Bildausrichtung.

![image](https://user-images.githubusercontent.com/2649562/63154021-fe008480-c00f-11e9-8a74-28bf5191e8bd.png)
Im Contao-Backend fehlt die Auswahl der Bildausr

[2019-08-16 09:50] leofeyer opened #638 "Rename the _contao_preview cookie"
The JWT cookie is still called `_contao_preview`, although it does not have anything to do with the front end preview anymore. We should rename it to `contao_settings` or something else.

[2019-08-16 13:06] aschempp commented on #631
why would that work in all versions? It's the legacy `runonce.php` file that was supported since forever in Contao 2/3. And I don't think we want to invent a new place for a file that should become obsolete…

[2019-08-16 13:09] aschempp commented on #638
yes, please rename to `contao_settings`. I thought you already did as we agreed on that 🙈

[2019-08-16 13:10] leofeyer commented on #637
Kann ich in der Onlinedemo nicht reproduzieren.

* Login als "h.lewis"
* Artikel -> Home -> Bearbeiten
* Erstes Inhaltselement bearbeiten und "Ein Bild hinzufügen" aktivieren
* Das Feld "Bildausrichtung" ist sichtbar.

Vielleicht wird das Feld bei Dir durch einen Inhaltsblocker des Browsers entfernt?

[2019-08-16 13:10] #637 closed, assigned to nobody

[2019-08-16 13:17] leofeyer commented on #627
See contao/phpstan#6

[2019-08-16 13:17] #627 closed, assigned to nobody

[2019-08-16 13:19] leofeyer commented on #618
@contao/developers WDYT?

[2019-08-16 13:23] leofeyer commented on #631
Because `system/tmp` exists in all Contao 4 versions?

[2019-08-16 13:23] leofeyer commented on #638
There was no more time…

[2019-08-16 13:37] leofeyer commented on #332
There is also an actively maintained tablesorter fork (see contao-components/tablesorter#1) if we should decide not to replace the two existing table sorters with a vanilla JS solution.

[2019-08-16 13:50] aschempp commented on #631
But runonce.php files in the system/tmp directory are not executed by the install tool …

[2019-08-16 13:55] leofeyer commented on #631
That could certainly be adjusted. 🙄

The point is that Contao 4.8 does not require an `app` folder anymore, therefore we should stop using it. I agree that adjusting the composer-plugin might not be worth the effort though.

[2019-08-16 14:49] aschempp commented on #500
Isotope eCommerce is not compatible with caching modules this way. Using `{{insert_module::|uncached}}` will not _magically_ work, because most extensions (including Isotope) are not built to work if the page itself is cached.

Btw. this has changed in Contao 4.8 (as far as I can tell): pages are never cached, if your visitor has a cookie. And your visitor will always have a cookie if they have a

[2019-08-16 14:49] #500 closed, assigned to nobody

[2019-08-16 15:16] minstyle commented on #637
@leofeyer
Sorry, habe mich verguckt. Ich sehe gerade, beim Inhaltselement "Bild" steht die Bildausrichtung standardmäßig nicht zur Verfügung.

[2019-08-16 15:16] Nightwing0815 opened #640 "Darstellungsfehler im Backend, Dateiverwaltung, Dateiupload, Button Text"
Version 4.8.0

Im Backend in der Dateiverwaltung, Button Dateiupload, fehlt bis auf einen Buchstaben (D) die Buttonbeschreibung, siehe Bild:

![](https://user-images.githubusercontent.com/1192057/63186485-d5eb4280-c05c-11e9-8104-5c49f70d8d10.png)

Reproduziert von xchs @ Contao Forum

ToM

[2019-08-16 15:19] fritzmg commented on #500
Unless you enable the shared cache, no?

[2019-08-16 16:44] MarkejN opened #641 "Allow imagine-class independent WEBP conversion"
**Description**
I wanted to test the new webp image conversion feature in 4.8.0 on an All-Inkl Server where both Imagick (w/o webp support) and Gd (w/ webp support) were enabled.
Contao chose Imagick over Gd for its imagine class and therefore displayed that webp is not supported on my server. Now it was necessary to manually configure Gd as the imagine class in the config.yml for it to work.

Is

[2019-08-16 17:26] ausi commented on #641
No. The imagine class is the one who resizes and saves the image in the WEBP format. Doing the resize in a different imagine implementation than the WEBP encoding is not easily possible.

[2019-08-16 18:03] aschempp commented on #641
Should we chose GD over Imagine if what's described is the case?

[2019-08-16 18:04] aschempp commented on #500
No, the shared cache is bypassed if you have a cookie. Only if you check the new checkbox, but then the cart will likely not show up on that page.

[2019-08-16 18:06] aschempp commented on #618
🤷‍♂  just print from the browser if you really wanna print… in 10 years of using Contao, I have never ever used TCPDF or seen it as being useful to the visitor.

[2019-08-16 18:07] aschempp commented on #618
Btw. I don't think we should change it. People already using the feature might assume the current situation won't change. The feature is deprecated (that's why there is `contao/tcpdf-bundle`) …

[2019-08-16 18:08] aschempp commented on #631
That's what I'm saying. We can obviously adjust anything, but we should not update a outdated feature just for the sake of "seeing a folder that is not state-of-the-art"…

[2019-08-16 18:52] fritzmg commented on #641
Why does your server environment not have webp support in Imagick?

[2019-08-17 09:53] fkaminski commented on #641
Just for info:
Same with local installations via Docker/devilbox.org. Both gd and imagick are present within the PHP 7.x images but only gd supports WebP. With configure the config/config.yml like

[code]
it works for now. I leave a feature request for the devilbox so:
https://github.com/cytopia/devilbox/issues/619

[2019-08-17 12:56] fkaminski opened #642 "Bei Nutzung vordefinierter Größen keine Auswahl bestehender Bildgrößen Formate möglich"
**Affected version(s)**
Contao 4.8

**Description**
As mentioned in the samples on #537 and https://contao.org/de/news/contao_4-8-0.html i get an error when using "cssClass: ''xyz" within the "items" section after cache clear in the CM like:

By removing this entry from the "items" section it will work
So maybe you could update the samples.

Anyway.
When i have one or more predefined entries i cou

[2019-08-17 13:22] obendev commented on #433
It's now live in Chrome 76 https://caniuse.com/#feat=loading-lazy-attr

[2019-08-17 15:40] markocupic opened #643 "Error when opening the filepicker in the backend."
Contao 4.8

I get this error when trying to embed a gallery in the contao backend. When opening the filepicker I get this error. The installation was updated from Contao 4.7 to version 4.8.

ErrorMsg: "The X coordinate plus the width must not be greater than 1"

I've got an other 4.8 installation and there the error doesn't occur.

See: https://community.contao.org/de/showthread.php?75740-Dateiver

[2019-08-17 15:51] BugBuster1701 commented on #643
My Installation was updated from 4.8.RC1 or 2 (I don't know.) to 4.8.0

"X, Y, width and height must be a float between 0 and 1"

[code]

Edit: The file management also cannot be opened without errormessage, therefore it is not possible to save the important part again.

Edit: I have one picture with this values:
[code]

[2019-08-17 16:36] Mynyx opened #644 "Einstellung Skripte komprimieren"
Im Backend wird bei der Einstellung "Skripte komprimieren" die Erläuterung _"Eine komprimierte Version der kombinierten CSS- bzw. JavaScript-Dateien erstellen. Erfordert die Anpassung der .htaccess-Datei."_ angezeigt.

Im Gegensatz zu Contao 3 ist bei Contao 4.4.42 in der .htaccess-Datei jedoch kein Codeblock vorhanden, der hierfür einkommentiert werden kann.

[2019-08-17 17:19] xchs commented on #643
Why not? Just set the important part of the image again:

* Open your user "_Profile_"
* Disable the "_Show thumbnail images_" setting and save the profile data
* Open the "_File manager_"
* Edit an image file
* Mark the important part of the image and save

[2019-08-17 18:18] BugBuster1701 commented on #643
- Edit an image file: the same Error

[2019-08-17 18:25] fritzmg commented on #644
Du musst es selbst konfigurieren. Die default .htaccess von Contao 4 hat generell nicht mehr so viel Voreinstellungen wie Contao 3 (zB Cache Times).

[2019-08-17 18:30] fritzmg commented on #643
Having to set the important part for all images again shouldn't be the solution.

[2019-08-17 18:30] xchs commented on #643
Of course not!

[2019-08-17 18:32] BugBuster1701 commented on #643
My Hack: https://community.contao.org/de/showthread.php?75740-Dateiverwaltung-funktioniert-nach-Update-auf-Contao-4-8-nicht-mehr&p=509171&viewfull=1#post509171

[2019-08-17 19:11] ausi commented on #643
The error messages are probably related to a failed database update. How the important part should be updated can be seen in the update script: https://github.com/contao/contao/blob/879e05ecc75a6bf70aabc1c3d867eb420f291f60/installation-bundle/src/Database/Version480Update.php#L124-L166

If you run that code manually it should fix the values and the error should go away.

[2019-08-17 19:29] ausi commented on #643
Pull request to fix the issue that the filemanager can no longer be opened: #645

[2019-08-17 19:34] ausi commented on #641
I don’t think so.

[2019-08-17 19:39] ausi commented on #642
I agree, this should be updated.

I was not able to reproduce that. “Bildgröße/Proportional” worked as expected in my test. How does your *config.yml* look like?

[2019-08-17 20:33] Mynyx opened #646 "Fehlerhafte Vorschläge zur Datenbankaktualisierung im Installtool"
Nach der Installation von Contao 4.4.42 mit Newsletter-Bundle und Kopieren der Datenbank aus Contao 3.5.40 werden im Installtool zur Aktualisierung der Datenbank in der standardmäßig vorausgewählten Rubrik "Spalten ändern" u. a. die folgenden beiden Änderungen vorgeschlagen:
[code]
Statt die Spalten ```sender``` und  ```template``` neu anzulegen, werden die Spalten ```smtpuser``` und ```smtppass``

[2019-08-17 21:51] markocupic commented on #643
Ok. Under thousands of jpeg/jpg files I found two files where the value of "importantPartX" and "importantPartWidth" were set to 1.

To solve the problem, I've set both values to 0.

[2019-08-17 22:05] Mynyx commented on #644
Dass die .htaccess-Datei die Funktionen des Contao Core-Bundle unterstützt, wäre allerdings schon sinnvoll? Ein Neuling würde wohl kaum auf die Idee kommen, sich die Konfigurationen aus Contao 3 herauszusuchen.

Im Gegensatz dazu sind die zusätzlichen Cache-Konfigurationen für die vollständige Funktionalität des Core nicht notwendig.

[2019-08-18 08:25] leofeyer commented on #644
Die Einstellung ist sowieso deprecated und wurde in Contao 4.7 entfernt.

[2019-08-18 10:42] Ainschy opened #647 "Wartungsmodus verhindert das generieren der Vorschaubilder in BE und FE, auch in der Vorschau"
**Contao 4.8.0**

**Bei aktivem Wartungsmodus werden keine Bilder in der Dateiverwaltung erzeugt.**
Der Netzwerk Tab im Browser quittiert die Anfragen mit 503. Die Bilder werden dabei nicht im Assets Ordner abgelegt. Das gleiche gilt für die Frontend Vorschau. Erst nach dem deaktivieren des Wartungsmodus wurden die Bilder korrekt .

**Den Wartungsmodus aktivieren und beim Benutzer den Bilder-Cache

[2019-08-18 11:22] ausi commented on #647
Wir sollten den Wartungsmodus für die Bild-Requests deaktivieren.
Pull-Request: #648

[2019-08-18 11:46] fkaminski commented on #642
Leave my sample in the forum:
https://community.contao.org/de/showthread.php?75736-Fragen-(-Sammlung-)-zu-den-neuen-Features&p=509148&viewfull=1#post509148
Maybe it is a formatting issue in the .yml?

[2019-08-18 13:18] fkaminski commented on #642
Maybe is has nothing to do with the config/config.yml.

I delete the config file, clear the cache via contao-console and still can not select eiher "Proportional", "Am Rahmen anpassen" etc.. So i can not select these at all.

Tested in two fresh 4.8 Installations, no bundles  ( local via Docker/devilbox and via hoster hostingwerk ).

[2019-08-18 13:19] ausi commented on #642
What exactly means “can not select” in this case? Do you get an error message? Can you post a screenshot of the problem?

[2019-08-18 13:24] fkaminski commented on #642
![contao-#642](https://user-images.githubusercontent.com/7679799/63224994-3e0c6680-c1cc-11e9-9c17-8859b61e0f4e.gif)

[2019-08-18 13:25] ausi commented on #642
You have to also set the width and/or height if you select one of the manual sizes.

[2019-08-18 13:36] fkaminski commented on #642
Sorry - better do not work on weekends. Works like charm:

![contao-#642-2](https://user-images.githubusercontent.com/7679799/63225158-cd664980-c1cd-11e9-8e94-d90ba863a4d9.gif)

[2019-08-18 13:36] #642 closed, assigned to nobody

[2019-08-18 13:42] ausi commented on #642
🙃

[2019-08-18 14:57] fritzmg commented on #646
Das passiert, wenn ein Feld entfernt werden würde und ein anderes Feld von einem ähnlichen Typ hinzugefügt werden würde. Anstatt das eine Feld zu droppen und das andere Feld neu anzulegen, wird es umbenannt. Ist also insofern normal.

[2019-08-18 16:16] OMOSde commented on #646
Enthält das umbenannte Feld dann nicht potentiell falsche Daten?

[2019-08-18 16:24] aschempp commented on #646
Leider ja. Die einzige Lösung dafür wäre wohl das Update automatisch zu machen (also im 4.8-Update die alten Felder zu löschen).

[2019-08-18 17:52] Mynyx commented on #646
Wieso nicht einfach die Felder neu anlegen?

[2019-08-18 20:01] #647 closed, assigned to nobody

[2019-08-18 20:03] leofeyer commented on #646
Ich verstehe auch nicht so recht, warum Doctrine das so macht. 🤷‍♂

[2019-08-19 05:59] MarkejN commented on #641
I wrote All-Inkl about this. Maybe they plan to change this in the future.

WebGo seems to have the same setup.

[2019-08-19 06:29] aschempp commented on #646
Wenn in einer Tabelle ein Feld neu ist und eines fehlt, und beide denselben Typ haben, vermutet Doctrine dass die Felder umbenannt wurden. Was in den meisten Fällen auch zutrifft 😉

[2019-08-19 08:02] Toflar commented on #646
Der Doctrine Schema Manager tut genau das was er sollte: Er managed ein Schema. Seine Aufgabe ist es, zwei Schemata zu vergleichen und dann von Schema A nach Schema B zu migrieren. Was mit den Daten passiert, ist dem Schema Manager egal. Dafür wären Migrationen notwendig.
Also Doctrine macht eigentlich alles richtig. Aber für unseren Anwendungsfall ist es ggf. nicht ganz optimal. Mir fällt nur ger

[2019-08-19 08:45] ausi commented on #646
Lässt sich die Erkennung für die Umbenennung einer Spalte deaktivieren? Umbenannte Spalten sind ja eher selten in unserem Fall und wenn dann würden wir die Umbenennung ohnehin in der Update-Routine durchführen.

[2019-08-19 09:14] Toflar commented on #646
Nope. Der `Comparator` ist hardcoded (https://github.com/doctrine/dbal/blob/master/lib/Doctrine/DBAL/Schema/Schema.php#L420 und https://github.com/doctrine/dbal/blob/master/lib/Doctrine/DBAL/Schema/Comparator.php#L230).
Aber es wäre wohl relativ einfach (`new Comparator(false)` oder so) das Doctrine beizubringen. Nur ob sie das wollen, in welcher Form und wann es schlussendlich released würde, ble

[2019-08-19 09:16] bytehead commented on #646
Ich finde das Feature praktisch. Falls es deaktiviert werden würde, gerne per config damit es nach Wunsch aktiv bleiben kann.

[2019-08-19 09:19] Toflar commented on #646
Würde ich nicht machen. Du nutzt ja das Installtool eh nicht und würdest bei `doctrine:migrations:diff` das jetzige Verhalten bekommen :) Für das Installtool wäre das andere Verhalten für die meisten Leute ein guter Default.

[2019-08-19 09:22] bytehead commented on #646
Ich nutze das install tool - einfach nicht als GUI. Aber kann sonst einfach `doctrine:schema:update` verwenden, wenn Felder umbenannt wurden (und die Daten erhalten bleiben sollen).

[2019-08-19 09:26] ausi commented on #646
Ja, bitte ☺️

[2019-08-19 09:41] Toflar commented on #646
Done: https://github.com/doctrine/dbal/issues/3661

[2019-08-19 12:02] leofeyer commented on #646
@aschempp hat [oben](https://github.com/contao/contao/issues/646#issuecomment-522431367) schon eine mögliche Lösung gepostet:

[2019-08-19 12:26] leofeyer commented on #640
Behoben in 3a8116997f3788e32c1d4d76e20da1fc4a7668fd.

[2019-08-19 12:26] #640 closed, assigned to leofeyer

[2019-08-19 12:31] leofeyer commented on #638
Fixed in d2a0b61e6d3f36b27e5c4624267ac075ef9b71e6.

[2019-08-19 12:31] #638 closed, assigned to leofeyer

[2019-08-19 12:32] leofeyer commented on #632
How do I reproduce this in the online demo?

[2019-08-19 12:37] plandolt opened #649 "no dumped variables in debug-mode"
**Affected version(s)**
4.8 (but might be also a problem in previous version)

**Description**
Dumping a variable with `dump(...);` ist using the symfony var-dumper to display the variable immediately when the debug-modus is off. But wenn i switch it on via backend and then try to dump a variable in the frontend there is no output at all. When the debug-toolbar is available the dumped content will

[2019-08-19 12:37] fritzmg commented on #632
I can't. You need to create a new DCA where the translation for `$GLOBALS['TL_LANG']['tl_foo']['show']` is missing or remove the translation for a core module, `$GLOBALS['TL_LANG']['tl_news']['show']` for example.

[2019-08-19 12:38] Toflar commented on #646
Wir wollen ja nicht blind löschen. Wir haben immer die User gefragt bisher. Ist auch praktisch, weil manchmal lass ich alte Felder bewusst noch rumschwirren bis ich sie dann ein paar Wochen später lösche.

[2019-08-19 13:57] leofeyer commented on #632
Fixed in 75e60ab137496d1d6f7ae85a326cf1c91cd15793.

[2019-08-19 13:57] #632 closed, assigned to leofeyer

[2019-08-19 15:42] #644 closed, assigned to nobody

[2019-08-19 15:42] leofeyer commented on #643
See #645.

[2019-08-19 15:42] #643 closed, assigned to nobody

[2019-08-19 15:45] leofeyer commented on #641
You can overwrite the default Imagine service in your `config.yml` like this:

[code]

Since there is nothing more to do on our side, I am closing the ticket.

[2019-08-19 15:45] #641 closed, assigned to nobody

[2019-08-19 16:22] leofeyer commented on #631
Fixed in 3deeee007a933a566b451258abd9f2b6ea4d2503.

[2019-08-19 16:22] #631 closed, assigned to leofeyer

[2019-08-19 18:03] aschempp commented on #631
Please do not remove public static methods, they are part of the API. They are meant to be used in the `composer.json` if you only want parts of the app initialization process…

[2019-08-19 18:57] kroerig opened #650 ""There is no "contao-components/html5shiv" asset package."
**Affected version(s)**
4.8.0
**Description**
After upgrade from 4.7 contao throws an error page and logs the following:

`request.CRITICAL: Uncaught PHP Exception Symfony\Component\Asset\Exception\InvalidArgumentException: "There is no "contao-components/html5shiv" asset package." at /var/www/web0/html/contao4/vendor/symfony/asset/Packages.php line 78 {"exception":"[object] (Symfony\\Component\\A

[2019-08-19 19:20] xchs commented on #650
Do you have a custom `fe_page.html5` template?

[2019-08-19 19:25] Nightwing0815 commented on #650
Had the same issue. You'll have to renew the changes on your fe_page template.
html5shiv is an deprecated core component, your fe_page has a call for it inside ;-)

[fe_page.html5](https://github.com/contao/contao/compare/4.7...4.8.0#diff-d1c7d2765794f5c11273a7438b71df39)

[2019-08-19 19:38] kroerig commented on #650
Thx. Found it. A note during the update would have been fine.

[2019-08-19 19:38] #650 closed, assigned to nobody

[2019-08-20 07:09] leofeyer commented on #631
The BC promise does not cover the Composer script handlers, but here you go: 4b6ee21be1021ef48ebfd0a3c3c88a40336d13fc

[2019-08-20 07:46] fkaminski commented on #332
Is it possible to consider the fade-transition possibilities ( and more ) when replacing the swipe.js component in the future? For example like:
https://github.com/nolimits4web/swiper
http://idangero.us/swiper/demos/

[2019-08-20 10:15] leofeyer commented on #636
I wasn't able to reproduce this. I have deleted the theme image and when I re-opened the themes module, the theme was shown without it. No exception message.

What exactly does the exception message say?

[2019-08-20 10:23] leofeyer commented on #636
Ok, @ausi reminded me not to remove the file in the file manager and now I see the exception.

[2019-08-20 10:26] leofeyer commented on #636
Fixed in b91d01c0a7e83f9f3c6bf27bebfc4445c4f688ad.

[2019-08-20 10:26] #636 closed, assigned to leofeyer

[2019-08-20 10:51] leofeyer commented on #620
Fixed in ecbe36f1cc7adc00b44eb89b695afcda95ec74b5. @pgerundt Thank you for debugging this one so thoroughly. 👍

[2019-08-20 10:51] #620 closed, assigned to leofeyer

[2019-08-20 12:58] leofeyer opened #651 "Request token check broken"
**Affected version(s)**

Contao 4.8

**Description**

If there is no session, the request token changes with every request and thus never validates.

**How to reproduce**

* Set up a page with a registration form.
* Remove all cookies.
* Manually add a `__cfduid` cookie (or any other cookie that will be stripped by the [`StripCookiesSubscriber`](https://github.com/contao/contao/blob/4.8/core-bundl

[2019-08-21 06:03] ausi commented on #651
We could ignore the blacklisted cookies in the `RequestTokenListener` so that it bypasses the check if only blacklisted cookies are present.

[2019-08-21 06:31] leofeyer commented on #651
This would be the same as always stripping the cookies in the StripCookiesSubscriber, which we should do anyway, because it does not make sense to strip them for GET requests but not for POST requests.

However, if there is another cookie, which is not blacklisted and thus not stripped, it will still cause the issue, therefore we need to solve this independent from cookie stripping.

[2019-08-21 06:35] ausi commented on #651
Did you test that? If there is a non-stripped cookie, the GET request for the registration form would enable the CSRF cookie and the issue should not occur.

[2019-08-21 06:37] leofeyer commented on #651
You are right. Then this is actually easy to fix. 🎉

[2019-08-21 06:41] leofeyer commented on #651
Fixed in a955ff0e7c3f047455230c51498a2c69db90e5c0.

[2019-08-21 06:41] #651 closed, assigned to leofeyer

[2019-08-21 06:44] ausi commented on #651
Is this behavior consistent with other reverse proxies like varnish?

[2019-08-21 06:47] Toflar commented on #651
It's configurable in `sub vcl_recv`, so yes it can be done there as well.

[2019-08-21 07:42] jgriepenburg commented on #649
Same Problem here.

[2019-08-21 07:43] theDyingMountain opened #653 "Calculation of important part for images returns small floating values"
**Affected version(s)**
4.8.0
**Description**
Selection of important part in image returns small floating numbers.
**How to reproduce**
Select important part of an image, the image i used has the dimension 4000x2794px.

![grafik](https://user-images.githubusercontent.com/4446224/63412290-be62df80-c3f7-11e9-9847-6d77f20507c7.png)

[2019-08-21 08:37] theDyingMountain commented on #653
Sorry, I had some problems with database update from 4.7 to 4.8. Now it's working fine.

[2019-08-21 08:37] #653 closed, assigned to nobody

[2019-08-21 09:42] Toflar opened #655 "Form field generator shows irrelevant fields to configure"
**Affected version(s)**

4.8

**Description**

The new `min` and `max` value in the form field settings are just fine. However, if I choose `numeric` values in the `validation` section, should not see the other two (`maxlength` and `minlength`) because they will be ignored anyway.

![image](https://user-images.githubusercontent.com/481937/63421303-a778b900-c408-11e9-87d8-869ea642aee7.png)

So I gu

[2019-08-21 13:28] fkaminski commented on #649
Tested with a fresh (local) 4.8 Installation - works for me - see:
https://community.contao.org/de/showthread.php?82-Alle-verf%C3%BCgbaren-Variablen-in-einem-Template-anzeigen&p=509460&viewfull=1#post509460

[2019-08-21 14:19] leofeyer commented on #655
Fixed in bb3c29a8af0c395092b298278e8c4d4f48a4faa8.

[2019-08-21 14:19] #655 closed, assigned to leofeyer

[2019-08-21 17:24] aschempp commented on #649
I have seen this in some installations as well, but not in all. I have not been able to figure it out yet 😞

[2019-08-22 10:20] Toflar opened #662 "absolute insert tag flag is reported non-existent in logs"
**Affected version(s)**

4.8 (likely also 4.4, did not double check)

**Description**

I get hundreds of

`Unknown insert tag flag "absolute" in {{link_url::299|absolute}}`

log entries. This is because `absolute` is a special flag to the link insert tags.

**How to reproduce**

Add the mentioned insert tag with the `absolute` flag somewhere on the page.

[2019-08-22 10:29] leofeyer commented on #662
Fixed in fd4088118086ac187e867b5f0959526f86593109.

[2019-08-22 10:29] #662 closed, assigned to leofeyer

[2019-08-22 10:52] Xendiadyon opened #663 "Use of undefined constant TL_ASSETS_URL"
**Affected version(s)**
Contao 4.4.42

**Description**
Starting from the last Contao-Update to 4.4.42, a warning is displayed in the Backend (is there a setting how the Warnings display can be disabled?)

In the Backend, I get the following Warning:
`Warning: Use of undefined constant TL_ASSETS_URL - assumed 'TL_ASSETS_URL' (this will throw an Error in a future version of PHP) in .../vendor/contao

[2019-08-22 11:04] Xendiadyon commented on #663
Adjust Error Reporting:
.../app/config/config.yml

https://maximivanov.github.io/php-error-reporting-calculator/
   ` error_level:          8183 # E_ALL & ~E_NOTICE & ~E_DEPRECATED & ~E_USER_DEPRECATED`
to
    ` error_level:          8181 # E_ALL & ~E_WARNING & ~E_NOTICE & ~E_DEPRECATED & ~E_USER_DEPRECATED`

Would this be clever (we don't want to display warning in our productive system) or would

[2019-08-22 11:24] fritzmg commented on #663
Bug reports should go into the `contao/contao` mono repository.

[2019-08-22 12:31] fritzmg opened #664 "versioning shows a user for version 1"
**Affected version(s)**
4.8 (probably 4.4 as well)

**Description**
When the first new additional version of a record is created, the version comparison and drop down show a user for the first version of the record, even though the user who created the first version of the record isn't tracked by Contao at all. Instead, Contao simply uses the same user whoever created the second version of the rec

[2019-08-22 12:44] leofeyer opened #665 "Also check /contao/templates in the "file" insert tag"
The `{{file::template.html5}}` insert tag can be used to include a template file. However, it only looks in the `/templates` directory and not in `/contao/templates`, therefore I always end up using a custom insert tag that checks both directories.

@contao/developers Do you think we should enhance the `{{file}}` insert tag to check both directories?

[2019-08-22 15:15] ausi commented on #665
How about deprecating the `{{file::*}}` insert tag for including a template and create a new `{{template::}}` instead?

The new insert-tag could then use the template loader directly, so it would support all template locations. Additionally we could use the Template class and pass the data from the query string directly to the template instead of the current way (via `$_GET`). It would also allow

[2019-08-22 15:18] leofeyer commented on #665
I like this idea. Especially because my custom insert tag is already named `{{template}}` and so I would not have to adjust anything. 😂

[2019-08-22 15:52] jankout opened #666 "4.8.1 nicht alle Vorschaubilder in der Dateiverwaltung und im Frontend werden gezeigt"
**Affected version(s)**
4.8.1
**Description**
Ich habe einige Webseite auf die neuste Version 4.8.1 aktualisiert. Einige Installationen haben gar keine Probleme und bei 2, wo nicht so viele Erweiterungen installiert sind, werden die Vorschaubilder nicht sowohl im Backend als auch im Frontend gezeigt/generiert.
**How to reproduce**
Installation durchführen und die Dateiverwaltung anschauen.
**Anbie

[2019-08-22 15:55] xchs commented on #666
Vielleicht hat es bei Dir die gleiche Ursache wie hier: https://community.contao.org/de/showthread.php?75730-Update-von-4-7-7-auf-4-8-0-gt-Bilder-aus-quot-assets-quot-werden-nicht-angezeigt-FE-BE&p=509203&viewfull=1#post509203

[2019-08-22 16:02] jankout commented on #666
Danke. Was ist aber die Lösung? Die betroffenen Zeilen in htaccess zu löschen?

[2019-08-22 16:04] xchs commented on #666
Wenn es in Deiner `.htaccess` ebenfalls diesen Hotlinking-Schutz gibt, dann würde ich diese Direktiven zumindest mal auskommentieren.

[2019-08-22 16:05] leofeyer commented on #666
Ich schließe das Ticket, da es sich hierbei nicht um ein Contao-Problem handelt.

[2019-08-22 16:05] #666 closed, assigned to nobody

[2019-08-22 16:06] jankout commented on #666
@xchs Ich habe da in der htaccess-Datei gar keine solche Anweisungen.

@leofeyer Daher bitte noch überprüfen.

[2019-08-22 16:15] xchs commented on #666
Ein allgemeines Contao-Problem ist es wohl nicht, sonst wären ja mehr Leute davon betroffen.
Melde Dich mit Deinem Problem im [Forum](https://community.contao.org).

[2019-08-22 16:49] jxns opened #667 "Backend verwendet kein HTTPS"
**Affected version(s)**

4.8.0

**Description**

Seit dem Update auf 4.8.0 habe ich bei mehreren Installationen das Problem, dass im Backend nicht mehr automatisch HTTPS verwendet wird. Dies führt auch dazu, dass die Vorschaufunktion (im Backend, ganz oben der Link "Vorschau") die Seite bzw. die Vorschau nicht mehr anzeigt.

[2019-08-22 16:54] xchs commented on #667
Magst Du Dich mit Deinem Problem im [Forum](https://community.contao.org/) melden, da es sich hier wohl um kein allgemeines Contao-Problem handelt.

[2019-08-22 17:01] fritzmg commented on #667
Das back end hat doch noch nie automatisch HTTPS verwendet?

[2019-08-22 17:05] jxns commented on #667
Bei der automatischen Verwendung bin ich mir nicht sicher. Mir ist nur die Problematik mit der Vorschaufunktion aufgefallen. Die tritt bei mir ausschließlich in 4.8.0 Installationen auf. Dann ist mir das mit dem HTTPS aufgefallen und ich dachte, dass es da evtl. einen Zusammenhang gibt, da auch die Vorschau dann versucht nur auf HTTP zuzugreifen. Hier kommt dann jedoch nur die Meldung: [Domainname

[2019-08-22 17:07] fritzmg commented on #667
Ja, poste das Problem im Forum und beschreibe das Problem auch genauer.

[2019-08-23 11:18] bytehead opened #668 "Input type text - rgxp number"
**Affected version(s)**
4.8 (didn't check 4.4...)

**Description**
You can't put an empty string or something other than numbers:
![Bildschirmfoto 2019-08-23 um 13 14 00](https://user-images.githubusercontent.com/754921/63588974-1a6c6600-c5a8-11e9-9d02-7a55b94add3c.png)

If you submit an empty string, it will save as 0.

Thus you're not able to set no maximum or minimum value.
According to the spe

[2019-08-23 11:25] bytehead commented on #668
Same behaviour with `minlength` and `maxlength` fields:
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/text#maxlength

[2019-08-23 13:03] MacKP opened #669 "Error-Log um Eintrag der Seite ergänzen"
Aktuell habe ich massiv viel Log-Einträge in der Art: `Unknown insert tag {{env:request}}`
Leider helfen die bereitgestellten Informationen nicht (also wer für den Aufruf zuständig ist etc.).
Schön wäre es, wenn dort noch zusätzlich stehen würde, welche Seite aufgerufen wurde um den Fehler schon mal weiter eingrenzen zu können.

**Example**
`Unknown insert tag {{env:request}} on Page https://examp

[2019-08-23 15:08] aschempp commented on #665
I never understood why anyone would use a `{{file::}}` (or `{{template::}}`) insert tag, maybe you can enlighten me?

[2019-08-23 15:37] asaage commented on #665
I use it basically to insert javascript, iframes and sometimes inline-svg on selected pages without the need of changing the allowed-tags or adding new layouts for example.

[2019-08-23 16:35] Tastaturberuf commented on #649
If I use the 4.7 app_dev.php in 4.8 it works.

As workaround i renamed it to dev.php because the composer install or update  delete it every time.

[2019-08-24 09:02] contaoacademy commented on #665
I use {{file::}} to add PHP-Script in Forms

example:
https://contao-academy.de/blog/formularfelder-get-url-vorbelegen

[2019-08-24 09:19] fkaminski commented on #665
I use it for inline svg's and optional color param like:
https://community.contao.org/de/showthread.php?72991-Man-lernt-nie-aus-Thread&p=508177&viewfull=1#post508177

[2019-08-24 09:31] contaoacademy opened #670 "Basic Entity Tags - Ersetzung des Tag [{] nach {{ funktioniert nicht mehr"
**Affected version(s)**
4.4.40
4.7.7
4.8.1

**Description**
Früher (seit wann, weiß ich nicht) wurde `[{]` und `[}]` in `{{`und `}}` umgewandelt.
Dadurch konnte ich bei meinen Tutorials Inserttags im Klartext ausgeben, ohne dass diese umgewandelt wurden.

Leider funktioniert das inzwischen nicht mehr.

Vielleicht gibt es ja eine andere Möglichkeit, wie ich Inserttags einfügen kann und diese einfac

[2019-08-24 09:39] fritzmg commented on #665
I use the HTML content element and HTML module for that (see https://github.com/contao/core-bundle/pull/1315).

[2019-08-24 12:57] Mynyx opened #671 "Fehler in Versionsübersicht bei umbenannten Ordnern"
Nach der Umbenennung eines Ordners in der Dateiverwaltung führt auf der Startseite des Backends in der Tabelle "Zuletzt bearbeitet" ein Klick auf eines der beiden Icons des entsprechenden Eintrags zu einem Fehler:

In der Fehlermeldung wird der alte Name des Ordners, wie er vor der Umbenennung war, angezeigt.

[2019-08-24 13:40] m-vo commented on #3387
Wir hatten soweit ich mich erinnere alles im Template Renderer hardcoded (fe_page.twig statt original rendern, Twig als Engine). Und dann die existierenden Funktionen und Variablen gebunden (recht straight forward). Für eine ordentliche Implementierung bräuchte es neben den angesprochenen Problemen (s. `|raw` modifier) einiges an Hirnschmalz/Arbeit für Template Selektion / BC Layer / Vererbung + M

[2019-08-24 15:31] leofeyer commented on #670
Ja, das ist mir auch schon aufgefallen. Ich hatte mir dann mit `{$shy;{` beholfen.

[2019-08-24 17:00] m-vo commented on #573
Zur Referenz - eine verwandte Diskussion gibt es bei der WICG: https://discourse.wicg.io/t/attribute-to-toggle-password-visibility/3809

[2019-08-24 18:22] contaoacademy commented on #670
Vielleicht könnte man auch einfach diese Funktion erweitern?
`restoreBasicEntities`

https://github.com/contao/contao/blob/75e6eb0974055124ef2b54389ccd0d50cf35cba5/core-bundle/src/Resources/contao/library/Contao/StringUtil.php#L252

[2019-08-26 09:21] ben-eSM commented on #403
This would come in very handy. Any chance we'll see it in the 4.9 LTS? :)

[2019-08-26 09:33] Toflar commented on #403
It's an easy-pick. PR's welcome :)

[2019-08-26 11:12] m-vo opened #673 "Drop MyISAM support"
The InnoDB implementation of modern databases (>= MySQL 5.7) doesn't lack any<sup>\*)</sup> of the earlier MyISAM features like fast reads or full text indexing. Imho, today, MyISAM should only be used in exoctic cases where there is a minimal performance benefit needed or maybe for huge tables and critical disk space (or if there is no alternative of course).

I'm not fully aware of the InnoDB su

[2019-08-26 11:16] fritzmg commented on #673
So far I have only encountered Hosters that did not support MyISAM anymore - not the other way around.

[2019-08-26 11:27] m-vo commented on #673
Good read about MyISAM very likely beeing faded out in the future: https://stackoverflow.com/questions/47680213/what-are-the-current-differences-between-myisam-and-innodb-storage-engines-speci/48302638#48302638

Also this, Oracle recommending InnoDB except for *specialized use cases* and putting MyISAM to the list of *Alternative Storage Engines* in MySQL 8.0:
https://dev.mysql.com/doc/refman/8.0/

[2019-08-26 11:55] m-vo commented on #665
These things aren't templates though? Without a controller doing something to the sources aren't these just assets? I'm not sure a `{{template}}` insert tag (without options like placeholder fillers) is the right approach.

[2019-08-26 12:38] asaage commented on #665
For me these are just files - and it happens to be that the file insert-tag can process them only from the templates-dirctory.
there are a number of ```j_``` and  ```anatytics_``` "templates" which you can add to your layout via a checkox but if you need that as "content" the ```{{file::}}``` insert-tag is the easiest way i could think of.
I don't get the use-case of a ```{{template}}``` insert-ta

[2019-08-26 12:38] fritzmg commented on #665
It's still a viable approach for inline SVGs for example. Or other content that might be inserted in certain places which cannot be done as a content element or module, imho.

In general I am all for a `{{template::*}}` insert tag that renders a template in the proper template context, rather than just including the file :)

[2019-08-26 12:58] m-vo commented on #665
Sidenote: I'm not sure if a regular user should even be able to insert random files/templates out of the box.

[2019-08-26 13:06] asaage commented on #665
Valid point - but i think a regular user would not have access to the templates-directory and therefore would not  know about filenames or content anyway.

[2019-08-26 13:25] m-vo commented on #665
That's security through obscurity (if it's a security thing anyways).

[2019-08-26 13:26] uliverse opened #674 "Termine werden nicht mehr angezeigt"
Nach Update von 4.6 auf 4.8 werden Events nicht mehr aufgelistet. Es erscheint der Hinweis: „Aktuell sind keine Termine vorhanden”.
Dasselbe Problem habe ich auch bei einer neuen Installation.

[2019-08-27 09:46] Toflar opened #675 "Min and max values defaulting to 0"
**Affected version(s)**

4.8

**Description**

The new `min` and `max` values in the form field settings default to `0` which means that if you configure `rgxp` to `numeric`, it will validate to a minimum of `0` and maximum of `0` thus disallowing any other numeric value other than `0` :)

[2019-08-27 09:53] bytehead commented on #675
See https://github.com/contao/contao/issues/668

[2019-08-27 10:09] aschempp commented on #665
for inserting any HTML, I think the correct approach would either be a `j_xxx` template to enable in the page layout, or use an HTML module and custom `mod_html_` template. The only approach that cannot be solved is what @contaoacademy does, but that looks like a nice little XSS attack vector to me...

[2019-08-27 11:32] aschempp commented on #649
I was unable to reproduce this in a fresh installation. @scuben in what file exactly did you place the `dump` statement?

[2019-08-27 11:53] leofeyer commented on #665
Using templates to insert SVG images or other reusable fragments is a valid use case. As I said, I have a custom `{{template}}` insert tag, which does exactly that, in all my installations.

That would work as well.

[2019-08-27 11:59] contaoacademy commented on #665
What is the best way to solve my case? Javascript?

[2019-08-27 13:45] aschempp commented on #665
Good question. Javascript would certainly work and be more secure. But that was more a general statement: you're working with user input, and you can never trust the user. Your PHP script does not take care of any potentially dangerous data (e.g. validating the input).

[2019-08-27 14:05] patrickjDE opened #677 "Cannot select custom layout section template"
**Affected version(s)**
4.8.1

**Description**
It's not possible to select a template in the SectionWizard, the select is emtpy

**How to reproduce**
Edit a Layout and try to create a custom section

It's caused by the changes from 32d0aa1374ff3a1356a5f3c90010331a718c17f7 and 645fc91627b7723f3c95ca56f6603349a6d15dfb.

[2019-08-27 15:31] patrickjDE commented on #677
You actually can select custom templates from the template folder, if some exist, but are then unable to select the default one.

Additionally custom templates provided by modules cannot be selected, but that's not specific to layout sections (see https://github.com/contao/contao/pull/657#issuecomment-525338293)

[2019-08-27 15:37] leofeyer commented on #677
What are the exact steps to reproduce this issue?

[2019-08-27 16:04] fritzmg commented on #677
@leofeyer

1. Log into the back end of the Contao demo.
2. Edit a page layout.
3. Under __Custom layout sections__ create a custom layout section. Note that you are not able to select a template (usually would be `block_section`).
4. Save.
5. Under __Included modules__ create a new module for the previously created custom layout section and choose any module that would generate some HTML output (e

[2019-08-27 19:32] leofeyer commented on #677
Does 0daf4fbd904f3e8c8f6e2eec29f731724fa4a7c5 fix the issue?

**Edit**: It seems it does not. 😢

[2019-08-27 20:23] pgerundt opened #678 "'alias' db fields are too short"
Just ran into an error when trying to save a news with a long (> 128 chars) headline:

'headline' is `maxlength 255` and type `varchar(255)`
https://github.com/contao/news-bundle/blob/60c04935829aa6251e40ef47542de5fdca5d6d50/src/Resources/contao/dca/tl_news.php#L166
but 'alias' is only `maxlength 128`and type `varchar(128)`
https://github.com/contao/news-bundle/blob/60c04935829aa6251e40ef47542de5f

[2019-08-28 08:49] Kahmoon opened #679 "Contao 4.8.1 broken newsletter labels"
**Affected version(s)**
Contao 4.8.1

**Description**
All bugs are at the page to send a newsletter
Top Breadcrumb broken: Newsletter › Newsletter - Alle › e (https://ibb.co/KWcHhbC)
Button to send Newsletter: "Newsletter senden" = "N" (https://ibb.co/fC365vN)

**How to reproduce**

[2019-08-28 08:57] leofeyer commented on #678
I am not sure if 255 characters long aliases make much sense, so instead of increasing the alias field length, we could also cut the title/description after 128 characters.

@contao/developers WDYT?

[2019-08-28 09:13] Toflar commented on #678
I think increasing to 255 makes sense. Not when I think about a news alias but when I think about a page alias that also contains folders, I see that 128 may be too short. Think about something like `/about-the-company/customer-relations-department/team-members/elizabeth-hamilton.html` - this is not a super special page alias but already about 80 chars long. I'm sure there are valid use cases for

[2019-08-28 09:16] leofeyer commented on #677
Fixed in 4070c7a07b434e542b59d63d1a5b696c2e45ff4e.

[2019-08-28 09:16] #677 closed, assigned to leofeyer

[2019-08-28 09:18] Kahmoon opened #680 "C 4.8.1 {{image::*}} im Newsletter Template erzeugt keine Bilder mehr"
**Affected version(s)**
Contao 4.8.1

**Description**
Ich verwende im Newsletter Template ein Logo via replaceInsertTags

`<?= $this->replaceInsertTags( '{{image::fa971c31-7300-11e8-8b83-74d02bcb043d?width=450&height=150&mode=crop}}' ); ?>`

Bisher hat das auch super funktioniert. Seit Contao 4.8.1 ist das Bild im Newsletter nicht mehr vorhanden.

**How to reproduce / Workaround**
Erzeuge ich via

[2019-08-28 09:24] fritzmg commented on #680
`replaceInsertTags` hat damit nichts zu tun. Generell werden keine Bilder mehr erzeugt - sondern erst, wenn auf das Bild zugegriffen wird. Das ist aber in diesem Fall ein Problem - weil das Bild, wahrscheinlich? - ansonsten von Contao direkt integriert worden wäre - anstatt extern verlinkt.

[2019-08-28 09:30] Kahmoon commented on #680
Da es ein fixes Element in jedem Newsletter ist (was sicher bei vielen der Fall ist), habe ich das Logo im Template platziert um es nicht immer wieder manuell via Newsletter einzufügen. Das macht es dem Kunden auch leichter und reduziert Fehlerquellen :D

[2019-08-28 09:50] ausi commented on #680
Ich denke die E-Mail-Klasse muss ensprechend angepasst werden damit das Bild erzeugt wird bevor es im E-Mail inkludiert wird: https://github.com/contao/contao/blob/94773be168891ca1a9ef8ad7e81c2d515e32558a/core-bundle/src/Resources/contao/library/Contao/Email.php#L414

[2019-08-28 10:19] leofeyer commented on #678
True. 👍

[2019-08-28 10:23] leofeyer commented on #680
Wieso verwendest Du denn `<?= $this->replaceInsertTag('{{image}}') ?>` in einem PHP-Template? Dort kannst Du doch direkt mit der Image-Factory arbeiten.

[2019-08-28 10:25] Kahmoon commented on #680
Was ist die Image-Factory? Ich hatte das dort schon seit 4.6 via mail_default.html5 so gemacht. Einen anderen Weg kenne ich leider nicht.

Wenn es hierfür einen besseren Weg gibt...gerne!

[2019-08-28 10:29] fritzmg commented on #680
Würde das Problem aber auch nicht beheben.

[2019-08-28 11:04] AlexanderPilhar opened #681 "System / website administrator e-mail address overwrites from-field"
**Affected version(s)**
4.4.41 (and likely others as well)

**Description**
In `Settings > Global configuration > E-mail address of the system administrator` and `Site structure > Website root > Global settings > E-mail address of the website administrator` help-text says "Auto-generated messages like subscription confirmation e-mails will be sent to this address." - which might be misleading beca

[2019-08-28 11:49] fritzmg commented on #681
Imho this is part of a more general problem. See also https://github.com/contao/core-bundle/issues/1613

I would propose, that email settings (SMTP & from address, etc.) can be overridden in the website root.

* This would solve https://github.com/contao/core-bundle/issues/1613.
* Regarding the `from` address you would have the following fallback stages:
  1. Use the `from` address defined in the

[2019-08-28 11:57] fritzmg commented on #681
And a more general question: should it be possible to have _no_ from address? Can emails without a `From` in its header be sent via SMTP? Would SMTP Servers add the `From` address - depending on the authenticated account, if applicable?

[2019-08-28 13:08] #675 closed, assigned to nobody

[2019-08-28 14:47] leofeyer commented on #383
@bennyborn /ping

[2019-08-28 14:51] leofeyer commented on #563
@JLBA /ping

[2019-08-28 14:54] leofeyer commented on #618
This is actually not part of the TCPDF bundle. The method cleans the text before it is passed to the  `printArticleAsPdf` hook, so it applies to all PDF export bundles.

[2019-08-28 14:57] zonky2 commented on #618
couldn't you turn it off optionally so there's no BC break?

[2019-08-28 15:03] leofeyer commented on #663
How can the constant be undefined? `Backend::__construct()` calls `$this->setStaticUrls()` and this method defines the constant. Did you probably forget a `parent::__construct()` call in your own controller?

It is used twice according to my counting (check the `return` statements).

[2019-08-28 15:18] JLBA commented on #563
Sorry, I was on holidays ;-)
I saw it on some forms. I suppose you typed wrong datas, you want to reset all the form ?

[2019-08-28 15:25] #667 closed, assigned to nobody

[2019-08-28 15:29] leofeyer commented on #674
Wie lässt sich das Problem in der [Online-Demo](https://demo.contao.org/contao) reproduzieren?

[2019-08-28 16:07] leofeyer commented on #614
Where exactly would you put the hook?

[2019-08-28 16:09] leofeyer commented on #528
How does your controller look like?

[2019-08-28 16:28] leofeyer commented on #488
This is a tricky one, because `foo/bar/baz.html` is an ambiguous route:

* Page `foo` with the parameters `[bar => baz]`
* Page `foo/bar` with the paramters `[auto_item => baz]`

Contao keeps redirecting until the route is no longer ambiguous, ending up with a 404 error on `foo/bar/bar/bar/baz.html` in my case (Contao 4.8).

[2019-08-28 16:40] fritzmg opened #682 "getTemplateGroup does not return any templates"
**Affected version(s)**
4.8.1, 4.8.x-dev (4070c7a07b)

**Description**
As mentioned [here](https://github.com/contao/contao/pull/657#issuecomment-525814175) `Controller::getTemplateGroup` does not return any templates anymore, if the requested template group has the structure `foo_bar_` and the template names are `foo_bar_lorem`, `foo_bar_ipsum`, ...

**How to reproduce**
You can quickly test this

[2019-08-28 18:31] contaoacademy commented on #563
https://www.nngroup.com/articles/reset-and-cancel-buttons/

[2019-08-28 18:56] planepix opened #683 "Fehler nach Update von Symfony Bundles"
**Affected version(s)**
4.8.1
**Description**
Nach dem Aufruf des Managers ( Contao 4.8.1 ) wurden viele Symfony Bundles zum Update angeboten.

Nach einem erfolgreichen Update aller Bundles ist nach dem Versuch, sich im Backend anzumelden, folgende Meldung zu sehen:

`Argument 3 passed to Contao\CoreBundle\EventListener\BackendMenuListener::createNode() must be of the type array, int given, called

[2019-08-28 19:00] leofeyer commented on #563
Even though the article is almost 10 years old, it is a good read and I mostly agree with the author.

That is a very strong argument against adding a reset button (given that you can still add it in an explanation field as @aschempp noted above). I am therefore closing the ticket.

[2019-08-28 19:00] #563 closed, assigned to nobody

[2019-08-28 19:12] leofeyer commented on #682
That is because `$blnSeparateOthers` is enabled automatically if there is more than one underscore:

https://github.com/contao/contao/blob/4070c7a07b434e542b59d63d1a5b696c2e45ff4e/core-bundle/src/Resources/contao/library/Contao/Controller.php#L91

I guess we cannot rely on this simple logic, therefore we need a second argument to explicitly enable the new behavior. When `foo_bar`, `foo_bar_lorem`

[2019-08-28 19:40] xchs commented on #683
Ich habe gerade in einer Contao 4.8 Installation ein `composer update` ausgeführt, wobei Symfony auf Version 4.3.4 aktualisiert wurde. Spontan kann ich kein Problem im Contao Backend erkennen.

Vermutlich hängt das bei Dir mit einer der installierten Extensions zusammen. Könntest Du mal in den Debug-Modus wechseln (`.env` mit `APP_ENV=dev`) und den vollständigen Stack Trace posten?

[2019-08-28 19:59] planepix commented on #683
Danke für deine Rückmeldung.
Im Manager ja nicht mehr vorhanden und app_dev.php an die URL angefügt liefert nur die Startseite aus.

Auch mit Konsole /usr/bin/php73 vendor/bin/contao-console contao:install-web-dir --user=USER --password=PASSWORD komme ich nicht weiter.

Auch das in Slack diskutierte Deaktivieren von Erweiterungen mit
[code]
Die .env Datei liegt im Root, oberhalb des /web Verzeichn

[2019-08-28 20:01] xchs commented on #683
Du müsstest wie oben schon kurz erwähnt eine `.env` im Contao Hauptverzeichnis erstellen (sofern die nicht ohnehin bereits vorhanden ist) mit folgendem Inhalt:

[code]

[2019-08-28 20:03] planepix commented on #683
Habe ich einmal so eingetragen. Prima das klappt.

[2019-08-28 20:06] Nightwing0815 commented on #683
Hallo,
gerade eben 4 Installationen bei all-inkl, PHP 7.3(.6), Tarif Private Plus von 4.8.1 mit alle Pakete aktualisieren aktualisiert. Keinerlei Probleme...
Log:
`Resolving dependencies using Composer Cloud v2.0.11

# Job ID aGKiiLnVmrwIs30Dp0RgeaW5TXbMneElZRna2Eeci7wVPWrjyluQrePhCaJ3Q1oEEO completed in 66 seconds
# Memory usage: 744.85MB (peak: 3382.11MB), time: 63.99s.

$ /usr/bin/php73 '-q' '/

[2019-08-28 20:11] planepix commented on #683
Track Trace:

`ErrorException:
Warning: Invalid argument supplied for foreach()

  at vendor/omosde/contao-om-backend/src/Resources/contao/modules/ModuleBackendTabs.php:115
  at OMOSde\ContaoOmBackendBundle\ModuleBackendTabs->changeNavigation(array('content' => array('class' => ' node-expanded', 'title' => 'Bereich schließen', 'label' => 'Inhalte', 'href' => '/contao?mtg=content&amp;ref=dhy7_uHl',

[2019-08-28 20:13] xchs commented on #683
Hier liegt das Problem `omosde/contao-om-backend`

[2019-08-28 20:17] planepix commented on #683
Danke dir Hannes. Habe das Bundle deinstalliert und komme wieder ins Backend!

[2019-08-28 20:17] #683 closed, assigned to nobody

[2019-08-28 20:19] xchs commented on #683
@planepix Meldest Du den Fehler auch noch hier: https://github.com/OMOSde/contao-om-backend/issues ?

[2019-08-28 20:38] bennyborn commented on #383
Sorry for the delay. Will create a test case tomorrow and hopefully come back at it on friday.

[2019-08-29 07:09] AlexanderPilhar commented on #681
`Newsletters > Sender settings > Sender e-mail address` is likely to be affected as well.

I'm no expert in mail protocols - so, I'm sorry but I can't answer these questions. But [Wikipedia - Simple Mail Transfer Protocol, SMTP transport example](https://en.wikipedia.org/wiki/Simple_Mail_Transfer_Protocol#SMTP_transport_example) looks quite useful.

[2019-08-29 07:45] leofeyer commented on #682
Fixed in 090578be9fc41f5f6bc5f31a3233221a2c5032ed.

[2019-08-29 07:45] #682 closed, assigned to leofeyer

[2019-08-29 09:39] leofeyer commented on #664
This is not trivial, because if I skipped step 3, the author of the first version would be correct.

[2019-08-29 09:45] fritzmg commented on #664
Well yes, because Contao sets the user of the first version to whoever created the second version... that's the problem ;). Contao should not display a user for the first version at all, because it currently does not track who created the first version.

[2019-08-29 10:34] leofeyer commented on #670
Das wird nicht funktionieren, da die Basic-Entities beim Ersetzen der Inserttags mit ersetzt werden (siehe b04d617f30d081ea7c1120909d9e3ff007800b9d) – was meiner Meinung nach allerdings falsch ist.

Wurde hier geändert: https://github.com/contao/contao/commit/ae29d98681f7e606682746ef18938c2f3041a907#diff-517f6dbd45c267ecfdc015aabdb4d0bfL136

[2019-08-29 10:39] leofeyer commented on #678
Fixed in f8d1f44665e62aa79a65b9b86baf58973334cf26.

[2019-08-29 10:39] #678 closed, assigned to leofeyer

[2019-08-29 11:40] contaoacademy commented on #670
Wäre es denkbar, dass man beim InsertTag einen zusätzlichen Parameter erstellt.
`{{ua::browser|skip}}`

Durch das `skip` würde der Insertag einfach ausgegeben werden, ohne diesen zu nutzen.

[2019-08-29 11:41] fritzmg commented on #670
Das würd mit der aktuellen, rekursiven Implementation nicht funktionieren.

[2019-08-29 13:23] leofeyer commented on #488
As discussed in Mumble on August 29th, the initial use case described by @gmpf is the expected behavior. The additional redirect in my case needs to be debugged.

Furthermore, we have discussed adding a checkbox to enable redirects if there are parameters:

| Checkbox | Parameters | Behavior |
| --- | --- | --- |
| Enabled | yes | Redirect |
| Enabled | no | Redirect |
| Disabled | yes | 404 |
| D

[2019-08-29 13:56] leofeyer commented on #584
As discussed in Mumble on August 29th, the defensive fix is correct. If `Message::generate()` is called, the messages are generated – it is the same behavior with the Symfony flash bag.

[2019-08-29 13:56] #584 closed, assigned to nobody

[2019-08-29 14:05] leofeyer commented on #608
As discussed in Mumble on August 29th, we want to set `protected $intPriority = null` and only add the priority if the `setPriority()` method has been called (which Contao itself must never do!).

[2019-08-29 14:19] leofeyer commented on #618
As discussed in Mumble on August 29th, we want to remove the whole `preg_replace()` statement, so forms and JS links are printed by default. However, since forms are not rendered correctly in TCPDF (input fields cannot have a border, all invisible screen reader texts are visible, only a limited set of CSS is supported, etc.), we have to move the `preg_replace()` to the Contao TCPDF bundle.

[2019-08-29 14:34] leofeyer commented on #664
As discussed in Mumble on August 29th, we might be able to check for tstamp=0 to figure out whether the current user has created the initial version or not.

[2019-08-29 14:39] fritzmg commented on #664
How? The tstamp is set as soon as you save the element.

1. Create a new content element _Text_.
2. Put in some text.
3. Click _Save and close_.
4. Click on ℹ️
5. Look at __Revision date__.

It's not `0`.

[2019-08-29 14:48] leofeyer commented on #599
Wie am 29. August auf Mumble besprochen, sehen wir das grundsätzlich als "known limitation". Man könnte das Problem aber lösen, indem die Felder eine zusätzliche Checkbox erhalten, die bei Anklicken das Feld deaktivieren (`disabled`). Das deaktivierte Feld würde dann eine spezielle Zeichenfolge senden, damit Contao weiß, dass das Feld leer bleiben soll und nicht den Wert erbt.

[2019-08-29 15:19] leofeyer commented on #548
Wie am 29. August auf Mumble besprochen, sollte der Button "oben einfügen" das Element schon ganz oben auf der Seite einfügen – also vor dem Element, das ganz oben angezeigt wird (Element 31 auf Seite 2 oder Element X bei einer gefilterten Liste).

[2019-08-29 15:29] leofeyer commented on #572
As discussed in Mumble on August 29th, this approach has several drawbacks:

1. It only fixes the issue for two tables. We have a lot more n:n relations in Contao though.
2. Relation tables without InnoDB, transactions and FK constraints are pretty unstable.
3. For BC reasons, we would have to keep the old field and sync it with the relation table, which is error-prone.

We therefore do not want t

[2019-08-29 15:30] leofeyer commented on #501
How exactly do I reproduce this?

[2019-08-29 15:40] leofeyer commented on #473
As discussed in Mumble on August 29th, we want to remove `'decodeEntities'=>true` in the `tl_page` DCA and check if there are places where we need to apply `StringUtil::decodeEntities()`.

[2019-08-29 16:11] leofeyer commented on #681
As discussed in Mumble on August 29th, we want to implement https://github.com/contao/core-bundle/issues/1613#issuecomment-417350012 with a fixed "from" address (currently only supported in the new Symfony Mailer and not in SwiftMailer) and add it as drop-down menu in the global settings, in the website root pages and the newsletter module.

[2019-08-29 17:03] tabcontao commented on #501
I'm not sure, if the "Google Search Console Team" still sees this as a problem. I haven't got another mail about this "problem" since. I also didn't get one during the years before. So my case may be a purely academic problem at the moment.
Still I think, that the sitemap module and the XML-Sitemap are separate things and pages should have separate settings for both. Anyway, here goes ...

1. Logi

[2019-08-30 07:00] bennyborn commented on #383
Well, thats strange.

As you suggested I created an event starting 10pm yesterday, ending 2pm today and it is indeed still visible even without checking the checkbox "Verkürzte Darstellung".

Any explanation on this?

[2019-08-30 08:06] leofeyer commented on #670
Behoben in b93ee638549f982b826ff6c346b9060a0cb0f557.

[2019-08-30 08:06] #670 closed, assigned to leofeyer

[2019-08-30 08:31] leofeyer commented on #383
This is the expected behavior. 😄

Maybe there is something wrong with your installation? Maybe a third-party extension that alters the default behavior?

[2019-08-30 08:46] bennyborn commented on #383
*sigh*

Clean Installation (tbh a bit older, I guess around 4.4.30) no extensions at all.
Since I'm already in the process of building a similar site based on the latest 4.4.x I suggest we could close this Issue for now and I'll get back to it if the problem persists.

[2019-08-30 08:46] #383 closed, assigned to nobody

[2019-08-30 10:10] leofeyer commented on #691
The original issue has been moved to https://github.com/symfony/symfony/pull/30955.

[2019-08-30 10:33] leofeyer commented on #608
Fixed in d19f747865194b6b101a986ca56ecaa369bcd82e.

[2019-08-30 10:33] #608 closed, assigned to leofeyer

[2019-08-30 10:45] leofeyer commented on #664
That is true unfortunately, because the `Version` class ignores records with `tstamp=0`:

https://github.com/contao/contao/blob/d19f747865194b6b101a986ca56ecaa369bcd82e/core-bundle/src/Resources/contao/classes/Versions.php#L167-L170

I have to check if we can work around this.

[2019-08-30 11:21] leofeyer commented on #664
Fixed in 5e86f85458eb61c65539e7f84b981a5c3db085ff.

[2019-08-30 11:21] #664 closed, assigned to nobody

[2019-08-30 11:44] leofeyer commented on #671
Behoben in f8ae36aeceba761e530d40c5a29dbf0fa22a7c45.

[2019-08-30 11:44] #671 closed, assigned to nobody

[2019-08-30 13:33] leofeyer commented on #679
I have just realized that this has already been fixed in  88cded4f5bf315340f9af5bda8001c1585f4aece; only the German translation is not up to date. Since this will resolve itself with the next version, I am closing this ticket.

[2019-08-30 13:33] #679 closed, assigned to nobody

[2019-08-30 13:42] leofeyer commented on #668
I just realized that bbce9e01939d19485914f62ba0f6810a15da91c8 does not work for `min` and `max`, as `0` is a valid value (other than for `minlength` and `maxlength`). Need to rework this.

[2019-08-30 13:50] leofeyer commented on #668
Fixed in 2d3173b2a614e620558f96489f5d6e5f832b53b2 now.

[2019-08-30 13:50] #668 closed, assigned to leofeyer

[2019-08-30 15:55] leofeyer commented on #680
Siehe #693.

[2019-08-30 15:55] #680 closed, assigned to nobody

[2019-08-30 17:05] Mynyx opened #694 "Inkonsistenz in der Dateiverwaltung nach Versionswiederherstellung"
Nach der Umbenennung eines Ordners in der Dateiverwaltung und anschließender Wiederherstellung der vorherigen Version, tritt in der Dateiverwaltung offenbar eine Inkonsistenz auf. Bei Durchführung der Synchronisation erscheint folgender Hinweis:

[2019-08-30 17:35] Mynyx opened #695 "Bearbeiten von Mitgliedergruppen und Benutzergruppen Abschnitt "Konto-Einstellungen""
Beim Bearbeiten von Mitgliedergruppen sowie Benutzergruppen ist die Bezeichnung des untersten Abschnitts "Konto-Einstellungen". Zutreffender wäre eine Bezeichnung wie "Gruppen-Einstellungen".

[2019-08-30 18:16] Mynyx opened #696 "System-Log Meldung "User "xyz" has logged in" ohne Benutzernamen im Feld Benutzer"
Im System-Log fehlt bei der Meldung ```User "xyz" has logged in``` die Angabe des Benutzernamens im Feld Benutzer, dort ist nur "anon." vermerkt. Bei Contao 3.5 wurde dort noch der Benutzername gespeichert.

[2019-08-30 18:57] Mynyx opened #697 "Hinweistext zum Feld Name in Dateiverwaltung"
In der Dateiverwaltung wird beim Bearbeiten einer Datei oder eines Ordners beim Feld Name folgender Hinweistext angezeigt: "Pfad zur Datei: files/beispiel.xyz"

Das Feld Name beinhaltet jedoch nicht den Pfad sondern ausschließlich den Namen. Außerdem ist "zur Datei" bei Ordnern unglücklich.

Ob es tatsächlich sinnvoll ist an dieser Stelle den kompletten Pfad anzugeben, könnte auch hinterfragt werd

[2019-08-30 19:21] Mynyx opened #698 "Unique Felder durch Versionswiederherstellung doppelt vorhanden"
Beim Wiederherstellen einer früheren Version wird nicht geprüft, ob der Inhalt eines unique Feldes zwischenzeitlich bereits bei einem anderen Datensatz vorhanden ist.

Am Beispiel der Seitenstruktur folgendermaßen zu reproduzieren:
- Neue Seite A mit Seitenalias "test" erstellen
- Bei Seite A den Seitenalias zu "temp" ändern
- Neue Seite B mit Seitenalias "test" erstellen
- Von Seite A die erste V

[2019-08-30 19:35] aschempp commented on #696
In welcher Contao-Version hast du das entdeckt? Hast du 2FA aktiviert? Frontend oder Backend? Und ist es in der Online Demo reproduzierbar?

[2019-08-30 19:44] Mynyx commented on #696
4.4.42

Nein

Beides

Nein

[2019-08-30 20:17] Mynyx opened #699 "System-Log Eintrag bei Wiederherstellung von gelöschten Elementen"
Bei der Wiederherstellung von gelöschten Elementen wird im System-Log ein Eintrag mit der Nachricht ```Undone SELECT * FROM tl_undo WHERE id='123' LIMIT 0,1``` erzeugt.

Es wäre sinnvoller, wenn für den System-Log Eintrag statt ```SELECT * FROM tl_undo WHERE id='123' LIMIT 0,1```die ursprüngliche DELETE-Query verwendet würde, wie sie in ```tl_undo``` in der Spalte ```query``` gespeichert ist.

[2019-08-30 20:54] Mynyx opened #700 "Link bei nicht öffentlichen Dateien in Dateiverwaltung"
In der Übersicht der Dateiverwaltung ist das Icon vor dem Dateinamen auch bei Dateien, die sich in einem nicht öffentlichen Ordner befinden, mit der öffentlichen URL verlinkt. Ein Klick auf das Icon bei diesen Dateien führt dementsprechend zu einer Fehlerseite.

[2019-08-30 22:59] jankout opened #701 "4.8.1: Custom section does not appear"
**Affected version(s)**
4.8.1

**Description**
The custom section does not appear.

**How to reproduce**

1. Add a custom section in the page template (eg. "1 column")
2. save it
3. add a module (eg. article) to the custom section
4. go to the module Article and add new article for the custom section and fill it with content

The source code seems like this

<img width="529" alt="custom section co

[2019-08-31 09:26] chriza opened #702 "In Modulen können keine individuelle Templates ausgewählt werden."
Contao 4.8.1

In Modulen können keine individuellen Templates ausgewählt werden.

![grafik](https://user-images.githubusercontent.com/1572887/64062011-28426c80-cbe2-11e9-890a-81d3958c0a48.png)

[2019-08-31 16:10] #702 closed, assigned to nobody

[2019-08-31 16:12] aschempp commented on #701
See https://github.com/contao/contao/issues/677

[2019-08-31 16:12] #701 closed, assigned to nobody

[2019-09-01 13:40] ausi commented on #433
Pull request: #703

[2019-09-01 16:44] #433 closed, assigned to nobody

[2019-09-01 19:24] m-vo commented on #681
btw.: support for multiple mailers is also on the way in Symfony Mailer https://github.com/symfony/symfony/pull/33409

[2019-09-02 06:42] fritzmg commented on #332
But that's only for images and does not support any other formats, right? (e.g. HTML via CSS ID, URL or AJAX; Videos, etc.)

[2019-09-02 16:21] plandolt commented on #649
I dump a variable in a FrontendModule in its `compile` method. With `env=prod` the dump is shown at the very top of the page (obviously). But with `env=dev` there is no dump shown on page and no dump in the debug tab of the toolbar.

[2019-09-02 20:02] plandolt commented on #649
I narrowed the problem a bit. The dump gets flushed as the `reset` method on `DumpDataCollector.php` gets called.

When i comment Line 30:35 in `web/index.php` I have the dump in the debug toolbar. So far I guess that something in the ContaoCache is responsible to let the `reset` method (through a listener) being called.

[2019-09-02 20:51] #554 closed, assigned to ausi, Toflar

[2019-09-03 09:13] leofeyer commented on #554
Siehe #710.

[2019-09-03 11:45] leofeyer commented on #699
Siehe #495.

[2019-09-03 11:45] #699 closed, assigned to nobody

[2019-09-03 13:22] uliverse commented on #674
Dort kann ich es leider nicht reproduzieren. Der Fehler tritt jedoch lokal auf (AMPPS, PHP 7.1.8, MySQL 5.6.36)

[2019-09-03 13:47] hendrikbengs opened #716 "Eigenem Layoutbereich kann kein Template zugeordnet werden"
Version: ab Contao 4.8.1 (getestet in der Contao Demo)

Die Auswahl eines Templates im Bereich »Eigene Layoutbereiche«, innerhalb der Seitenlayouts, scheint nicht mehr möglich. Der Layoutbereich wird zwar trotzdem angelegt und kann über die eingebundenen Module auch ausgewählt werden. Eine Ausgabe im Frontend findet aber nicht statt, da wohl kein Template zugeordnet wird.

<img width="1021" alt="B

[2019-09-03 13:48] fritzmg commented on #716
Duplicate of #677

[2019-09-03 13:48] #716 closed, assigned to nobody

[2019-09-04 09:30] bekanntmacher opened #720 "ce_youtube iframe ohne title"
Mir ist aufgefallen, dass das Video-Element kein `title` Attribut setzt.

Es wäre super, wenn ein separates Feld geschaffen werden könnte. Die Übernahme der Bildunterschrift für das title-Attribut könnte auch eine Lösung sein.

https://www.w3.org/TR/WCAG20-TECHS/H64.html

[2019-09-04 13:14] bytehead commented on #649
I can copy this in Contao `4.8.1` and a `<?php dump($this) ?>` statement in the `fe_page` template.

[2019-09-04 15:20] BennyK80 opened #721 "Feature: Optionale Möglichkeit zur Auswahl der Inhaltselemente per Icon"
Hallo zusammen,

ein Feature, welches eine leichtere und schnellere Auswahlmöglichkeit eines Inhaltselementes ermöglichen würde, wäre eine optionale Darstellung mit Icons.

Einige meiner Kunden sind überfordert mit den Begriffen im Select-Menü und der Verwendeung des Select-Menüs selbst. Es ist nicht immer ganz klar, dass dort etwas ausgewählt werden kann.
(Für mich schon, für den Kunden nicht imm

[2019-09-05 09:10] aschempp commented on #721
@qzminski might have a solution for this 🙃

[2019-09-05 10:21] leofeyer commented on #720
Würden die Browser das überhaupt anzeigen?

[2019-09-05 10:23] fritzmg commented on #720
Browser nicht, aber screen reader etc. Es geht ja grundsätzlich um die semantische Ausweisung des Inhalts des iframes (egal ob ein Browser das einzeigen würde oder nicht).

[2019-09-05 10:28] leofeyer commented on #720
Also geht es nur um Screenreader? Dann müssten wir dasselbe beim `<audio>`-Tag ebenfalls tun, oder?

[2019-09-05 10:30] fritzmg commented on #720
Ich denke das würde Sinn machen, ja.

[2019-09-05 11:04] leofeyer commented on #704
Eventually added in c169750a23e3fb5cf1cbe19143740e11be5b8a6e.

[2019-09-05 11:04] #704 closed, assigned to leofeyer

[2019-09-05 11:07] leofeyer commented on #451
See #714.

[2019-09-05 11:07] #451 closed, assigned to nobody

[2019-09-05 11:10] leofeyer commented on #649
See #712.

[2019-09-05 11:10] #649 closed, assigned to nobody

[2019-09-05 11:14] fritzmg commented on #704
😎

[2019-09-05 11:16] leofeyer commented on #674
Dann musst Du herausfinden, warum das bei Dir lokal so ist. Eventuell liegt es an einer Drittanbieter-Erweiterung.

[2019-09-05 11:16] #674 closed, assigned to nobody

[2019-09-05 11:20] leofeyer commented on #696
<del>In Contao 4.4 wird tatsächlich `anon.` anstatt des Benutzernamens gespeichert.</del> In der 4.8 tritt das Problem nicht mehr auf.

**Edit:** Ich konnte das Problem in Contao 4.4.43 nicht mehr reproduzieren. @Mynyx Tritt das Problem bei Dir in Contao 4.4.43 noch auf?

[2019-09-05 11:21] leofeyer commented on #697
Kann ich nicht bestätigen. Bei mir befindet sich der komplette Pfad im Hinweistext.

[2019-09-05 11:22] leofeyer commented on #698
@contao/developers Sollten wir in diesem Fall das Unique-Field des wiederherzustellenden Datensatzes auf `null` setzen oder eine Fehlermeldung anzeigen?

[2019-09-05 11:29] leofeyer commented on #721
I like the idea.

[2019-09-05 13:18] Toflar opened #722 "Update dependencies"
ToDo's:

- [x] Raise all Symfony requirements to `4.4.*` once they are released (Nov 2019)
- [x] Raise `toflar/psr6-symfony-http-cache-store` to `^2.1` to support `BinaryFileResponse`s (`/favicon.ico` endpoint)
- [x] Replace `league/uri`. It's not recommended to use this package anymore (https://uri.thephpleague.com/uri/5.0/). It contains way too many things. Escargot uses `nyholm/psr7` already be

[2019-09-05 13:35] Toflar opened #723 "Should we maybe change the icon link in the page list view?"
**Affected version(s)**

4.8

**Description**

I am talking about the following links:
![screenshot](https://user-images.githubusercontent.com/481937/64346338-3b927500-cff2-11e9-8b93-c3b176e5a26a.png)

These are currently pointing to the absolute URL of the respective pages (so e.g. it redirects to `https://example.com/about-contao.html`.
Before Contao 4.8, it didn't really matter because if you h

[2019-09-05 13:40] leofeyer commented on #723
Agreed. 👍

[2019-09-05 13:41] Toflar commented on #723
Especially when you have an unpublished page in the back end. You can click on the icon and you get a 404 page even if you activated `show unpublished items` before (in a different tab for example).

[2019-09-05 14:27] asaage commented on #721
i like the grouped chosen select very much.
There are almost 30 element-types in a basic install - i'm afraid this will clutter up screen-space pretty quick. Might make sense with the "allowed content-types feature" however - but it should be optional.

[2019-09-05 15:45] xchs commented on #697
Bei mir auch.

Mir ist aber auch noch nicht ganz klar, was hier nun genau geändert werden sollte. Verstehe ich das richtig, Du hättest gerne, dass im Hinweistext unter dem Eingabefeld ausschließlich der aktuelle Name ausgegeben wird, und nicht ebenfalls der vollständige Pfad?

Darüber hinaus stört mich jetzt auch nicht wirklich, dass der Pfad sowohl im Hinweistext als auch oben im Breadcrumb angez

[2019-09-05 19:03] Mynyx commented on #5648
Auch Versionen dieser Datensätze und Einträge in `tl_log` zum Mitglied müssten mit exportiert werden.

[2019-09-05 19:20] Mynyx opened #724 "Tag <br> in Detailansicht"
In dem Overlay "Details ... anzeigen" (blaues Icon) werden bei machen Feldern `<br>` Tags als Text angezeigt.

Beispielsweise in der Seitenstruktur beim Feld Zugriffsrechte: `u1<br>u2<br>u3<br>u4<br>u5<br>u6<br>g4<br>g5<br>g6`

[2019-09-06 06:42] tuxenberger opened #725 "Templates mit "-" im Dateinamen nicht mehr erkannt/auswählbar"
Betrifft Contao ab 4.8.1

Laut Spooky werden nur noch Templatenamen mit "_" erkannt, TEmplates mit "-" werden im Backend in der Liste nicht mehr angezeigt und sind damit nach einem Update und der Bearbeitung eines Elements oder Artikels auf das Default Template zurückgeworfen.

Da einige meiner Projekte ein "-" im Templatenamen haben und auch einige Kauftemplates diese Namensvergabe haben ist das

[2019-09-06 07:23] aschempp commented on #725
Kannst du bitte testen ob das Problem mit dem 4.8-branch behoben ist?

[2019-09-06 07:27] tuxenberger commented on #725
Bin leider etwas unwissen was das angeht. Sorry :-/

[2019-09-06 08:10] exscorp commented on #725
Contao 4.8.2

das "Problem" wurde nicht behoben.
Kann es an dem "Picker" liegen, den mir werden zwei verschiedene Selectfelder angeboten.

In dem Beispiel wurde das Navigationsmenü genommen.
In meinem Templateordner liegen folgende Dateien:

- nav_default.html5
- nav_default_test.html5
- nav_default-test.html5

- mod_navigation.html5
- mod_navigation_test.html5
- mod_navigation-test.html5

Beim **

[2019-09-06 08:18] tuxenberger commented on #725
Das ist die aktuelle Version die ich habe -  4.8.2 ist installiert.

[2019-09-06 08:25] tuxenberger commented on #725
Ich bearbeite einen Artikel und möchte diesen mit einem Template versehen. Im Ordner liegt sowohl ein Template mit der Bezeichnung "mod_article_hero.html5" wie auch "mod_article-hero.html5". Es wird nur "mod_article_hero.html5" in der Liste angezeigt.

![Bildschirmfoto 2019-09-06 um 10 21 52](https://user-images.githubusercontent.com/10707430/64412866-a8f4e300-d090-11e9-8741-c8c01048fa81.png)
![Bi

[2019-09-06 08:27] fritzmg commented on #725
@leofeyer imho we should revert the changes to the template grouping. I don't think that there can be a solution that works for every use case.

[2019-09-06 09:35] danielwolf1 opened #726 "Backend users with . in username get error when logging in"
**Affected version(s)**
4.4.43
**Description**
If a user with a . in the username is logged in (for example firstname.lastname), an error occures:
/vendor/contao/core-bundle/src/Resources/contao/library/Contao/StringUtil.php on Line 1033 as the regex is matching the username

**How to reproduce**

1. Create a backend user firstname.lastname
2. Log in and try to edit some articles
3. Error occures

[2019-09-06 09:47] xchs commented on #726
I cannot reproduce that.

[2019-09-06 09:50] fritzmg commented on #726
@danielwolf1 use the `app_dev.php` and post a full stack trace.

[2019-09-06 10:59] kroerig commented on #5648
Vorsicht: Das System darf keine Vorratsdatenspeicherung beginnen.
Es kann also immer nur ein Snapshot reported werden, also "Stand heute haben wir folgende Daten über Sie erfasst".

Aufpassen muss man natürlich auch, wie weit man das ganze treibt. Facebook will da ja eine Diskussion beginnen, was die Datenportabilität angeht: Wie weit muss das gehen und wo sind die Grenzen?

[2019-09-06 11:05] fritzmg commented on #5648
Was anderes ist ja auch nicht vorgesehen.

[2019-09-06 11:07] loilo opened #727 "Database update: Reserved word "member" should be quoted"
**Affected version(s)**
Contao: 4.8.2
PHP: 7.2.22
MySQL: 8.0.17

**Description**
The `Database::quoteIdentifier()` does not quote the column name "member", which is a reserved word [in the latest MySQL release (8.0.17)](https://dev.mysql.com/doc/refman/8.0/en/keywords.html#keywords-8-0-detailed-M). This causes the very initial database update to break since a `member` column is [present in the `co

[2019-09-06 11:16] kroerig commented on #5648
Beim gesetzlichen Auskunftsanspruch muss ich aber auch mitteilen, wozu und auf welcher Grundlage ich die Daten erhebe, wie ich sie verarbeite und an wenn ich sie ggf. weitergegeben habe.

Moodle hat das so gelöst, dass man jetzt für jedes (!) Modul, dass personenbezogene Daten speichert, eine Datenschutzerklärung anlegen kann/muss und dann wird dem Benutzer für jedes Modul, dass er benutzt hat und

[2019-09-06 11:19] fritzmg commented on #727
Please specify the Contao and PHP version. Also for the future: issues should be created in the contao/contao mono repository, not here. You do not need to create a new issue though, the current one can be moved.

[2019-09-06 11:28] loilo commented on #727
Thanks for the pointer, versions have been added.

[2019-09-06 14:51] tuxenberger opened #729 "laufende Events mit Zeitangabe werden ausgeblendet"
**Affected version(s)**

Version 4.4.42 / 4.8.2

**Description**

Event list module configured as below screenshot.
Alle Events are single events with one date (same start and enddate (start 06.09.2019 end 06.09.2019) and are setup wit a starttime (startzeit 16:30 endzeit 17:30)

Problem: When reaching the starttime, the event will be hide.

I used google for the problem and found a forum entry th

[2019-09-06 14:52] leofeyer commented on #725
I disagree. The new logic works fine, we have just changed how the method is called:

**Contao 4.4**

https://github.com/contao/contao/blob/066e2821eb175c56d8492d86501d17c840a7f25a/core-bundle/src/Resources/contao/dca/tl_article.php#L697-L700

**Contao 4.8**

https://github.com/contao/contao/blob/28e40514419b8b8cdf2d02a75a7754005934529c/core-bundle/src/Resources/contao/dca/tl_article.php#L661-L664

[2019-09-06 15:08] tuxenberger commented on #725
@leofeyer https://themes.contao.org/de/index/contao-business-light.html

[2019-09-06 15:11] leofeyer commented on #725
See #731 for a possible fix.

[2019-09-06 17:48] Mynyx opened #733 "Use permission voters in the versions table"
Die Versionsübersicht auf der Startseite des Backends ("Zuletzt bearbeitet") zeigt auch Datensätze an, zu denen keine Zugriffsberechtigung mehr besteht (insbesondere dadurch dass die Berechtigung für das jeweilige Backend-Modul nicht mehr besteht).

Falls dieses Verhalten gewünscht sein sollte, wäre es jedenfalls sinnvoll die Buttons "Element bearbeiten" und "Unterschiede anzeigen" auszugrauen, de

[2019-09-06 18:06] Mynyx opened #734 "Use the ICU data from the Symfony intl component"
Im Unicode Common Locale Data Repository steht eine neue Version 35.1 mit aktuellen Länderbezeichnungen zur Verfügung (siehe auch contao/core#8453).

[2019-09-06 20:27] Mynyx opened #735 "Breite der Select-Menüs im Overlay Versionsvergleich"
Im Overlay zum Versionsvergleich wäre genug Platz um die beiden Select-Menüs, mit denen die zu vergleichenden Versionen ausgewählt werden, breiter zu gestalten. Dann wären die Usernames zu den Versionen auch sichtbar, wenn die Optionsliste nicht ausgeklappt ist.

[2019-09-06 21:49] zonky2 opened #736 "encode / decode problem with text area"
**Versions**
all

https://github.com/contao/contao/blob/326bbb6b42bf9723edc598c035f125c7fe6ae84c/core-bundle/src/Resources/contao/forms/FormTextArea.php#L144

**Description**
Textarea form widgets encodes "<" on first submission but double decodes it on second submission.
In the end, the widgets should not encode anything on their own but I know this is not to be changed before Contao 5 for bc sak

[2019-09-07 14:49] aschempp commented on #727
Shouldn't DBAL escape the keywords in Contao > 4.4?

[2019-09-07 17:07] jc97 opened #737 "Template source is misleading (for front end modules)"
**Affected version(s)** Contao 4.x

**Description**

On creating or editing a front end module you can usually select a template for the front end (e.g. news template for a news list). The drop down list contains all available templates. Thereby the template path of the corresponding front end theme is not correctly considered.

**How to reproduce**

Create two template folders, e.g. `/test1/`  an

[2019-09-08 20:35] loilo commented on #727
Seems that [their keyword list](https://github.com/doctrine/dbal/blob/v2.9.2/lib/Doctrine/DBAL/Platforms/Keywords/MySQL80Keywords.php#L30-L57) is not up to date. Granted, MySQL 8.0.17 isn't even two months old. However, I don't see an according issue in their repo yet, so I'll attach one there.

[2019-09-09 08:58] fritzmg commented on #446
The news-bundle for example does the same though.

https://github.com/contao/contao/blob/69ca06aacc6ee5513a63fe2447603b63ee84f864/news-bundle/src/Resources/contao/config/config.php#L37-L41

On that note: do we have a recommended new way for this yet? In one project I used the `kernel.controller` event with a subscriber:

[code]
Not sure if there is a more elegant or simpler way.

[2019-09-09 10:56] qzminski commented on #721
For one of our commercial projects that is yet to be released we (credits to @spin80 @milbau) introduced a similar solution.

Content element widget:
![Zrzut ekranu 2019-09-9 o 12 38 06](https://user-images.githubusercontent.com/193483/64524503-e2328a80-d2fe-11e9-98ec-384f7e557757.png)

Modal window:
![Zrzut ekranu 2019-09-9 o 12 39 29](https://user-images.githubusercontent.com/193483/64524504-e2c

[2019-09-09 11:00] fritzmg commented on #721
@qzminski wow, that's pretty nice. And it doesn't even require more clicks than the chosen select, right? It's just _click » type » click_ for both.

[2019-09-09 11:03] qzminski commented on #721
That's right @fritzmg 🙂Forgot to mention the text input at the top is a search bar and buttons below are responsible for filtering per category… but I think it's obvious 😅

[2019-09-09 11:04] fritzmg commented on #721
👍
Did you also extend the DCA for custom icons? Or is it just CSS via the type of the element.

[2019-09-09 11:06] qzminski commented on #721
Because it's an integral part of our bigger extension, the icon files have to be named exactly after the content element types (e.g. `elements/text.svg` or so).

[2019-09-09 16:45] Nightwing0815 opened #739 "Inhaltselement Typ Code: 2 Templates, eines Standard, und eines, um langen Codeblock ausblendbar zu machen"
Hallo,

wie [hier schonmal beschrieben](https://community.contao.org/de/showthread.php?74140-moo_accordion-bei-Klick-nach-oben-scrollen&p=510284&viewfull=1#post510284), wäre es mMn nicht schlecht, grossen und somit langen Inhalt vom Typ Code ausblendbar zu machen, schliesslich wird Code + Syntaxhighlightning im Contao angeboten, und oft hat man ja langen Code stehen (= bestes Beispiel im Contao Fo

[2019-09-09 17:26] pgerundt opened #740 "Weird error in symfony routing (only with curl)"
This one is a really crazy bug:

- Create two website roots in different languages (e.g. "de" and "en")
- Create a page with identical alias in both languages (e.g. "main")
- Create a subpage in both languages with different aliases (e.g. "main/sub-de" and "main/sub-en")

The page tree should look like this:
[code]
You can access all four pages in your browser, but...
if you try to call them via c

[2019-09-09 17:43] xchs commented on #740
Did you test this with Contao 4.8.2?

[2019-09-09 17:45] pgerundt commented on #740
Nope, only 4.7.7 at the moment.

[2019-09-09 19:03] fritzmg commented on #740
@pgerundt bevor posting bugs, you must always update to the latest Contao version. In your case 4.4.43

[2019-09-09 19:36] pgerundt commented on #740
There was a typo in my comment. The affected version is 4.7.7 - but I will check it on 4.8.x as well.

[2019-09-09 19:41] Toflar commented on #740
Do you send the `Accept: text/html` header in your tests?

[2019-09-09 19:45] pgerundt commented on #740
To be honest: I don't know.
It shouldn't matter because the bug came up when we tried to post website urls on Facebook, Xing, LinkedIn, ...
All websites responded with an error.

[2019-09-09 19:48] Toflar commented on #740
Well, the correct HTTP headers matter. Because that's how the Internet works...

[2019-09-09 19:48] xchs commented on #740
How did you manage that? Did you enable `prepend_locale` as well?

[2019-09-09 19:49] pgerundt commented on #740
So Facebook, Xing and LinkedIn are using the "wrong" HTTP headers? And it works with links from any website - except ones from contao-driven sites?

[2019-09-09 19:51] pgerundt commented on #740
No. I used different domains for both sites.

[2019-09-09 19:54] Toflar commented on #740
I didn't say that. Every server may handle every request differently. But if you do not send `Accept: text/html` you are not asking for HTML content === you do not behave the same as a browser. So for example there's no point in redirecting such a request to the Contao 404 page because Contao can only handle HTML requests and responses. Maybe your Symfony application also handles JSON or XML. It w

[2019-09-09 19:56] pgerundt commented on #740
Give me a second to set up a 4.8.x contao and provide you with a link...

[2019-09-09 20:13] pgerundt commented on #740
Ok guys, here we go:

[code]

Now try to curl `http://contao-latest-de.showroom.efficient.it/main/sub-de.html` from your console, try it with https://onlinecurl.com/, try to post it on Xing ("Ungültige bzw. nicht unterstützte URL"), on Facebook ("An Error Occured: Not Found") or LinkedIn ("Vorschau kann nicht geladen werden. Sie können den Link so veröffentlichen, wie er ist, oder einen anderen Li

[2019-09-09 20:18] pgerundt commented on #740
Sorry, I did not want to be rude.
Oh, Contao DOES reply with a 404 page (if it exists).

So to sum this up:
Access `http://contao-latest-de.showroom.efficient.it/main/sub-de.html` via browser => response with requested page
Call `http://contao-latest-de.showroom.efficient.it/main/sub-de.html` via Curl, post the url on social media => response with 404 or contao's 404 page

[2019-09-09 20:29] Toflar commented on #740
I think we have a different issue here. The issue is that the `Accept-Language` header is missing. If you do `curl http://contao-latest-de.showroom.efficient.it/main/sub-de.html` you get a 404. If you do `curl -H "Accept-Language: de" http://contao-latest-de.showroom.efficient.it/main/sub-de.html`, it works fine.
Did you double check the language settings and fallback configuration is correct?

[2019-09-09 21:51] ausi commented on #740
I can confirm this issue. The problem occurs if the `Accept-Language` of the client doesn’t match any language of the two root-pages.

@pgerundt can you please change the languages of your two root pages to `zh` and `ja`. If I’m correct the 404 page should then also be shown in the browser.

[2019-09-09 21:59] ausi commented on #740
Looks like there is something wrong with the matching of the route.

Instead of matching the page `main/sub-de` it matches the parent `main` and keeps `/sub-de` as a parameter which then results in a 404 because the parameter doesn’t get used.

[2019-09-09 22:06] Toflar commented on #740
/cc @aschempp

[2019-09-10 06:05] olastor opened #741 "Add ability to de-reference foreign key fields in the listing-bundle"
**Description**

I'd like to be able to use the listing bundle for listing tables which contain foreign keys by getting a field from the referenced table.

**Example**

Table: **tl_person**
[code]
the column address is a foreign key to `tl_address`

Table: **tl_address**
[code]

If the `listing-bundle` was configured to get data from **tl_person**, then it'd be cool to have a feature to show i.e.

[2019-09-10 06:24] ausi commented on #698
Am besten wäre aus meiner Sicht das Feld in der Datenbank auf `null` zu setzen, das Widget dann aber mit dem Wert aus der Version zu befüllen und eine Fehlermeldung beim Feld wie beim speichern anzuzeigen.

Bin mir aber nicht sicher, ob sich das mit überschaubarem Aufwand umsetzen lässt?

[2019-09-10 07:03] pgerundt commented on #740
@ausi is right. Changing the languages to `zh` and `ja` shows a 404 in the browser:
http://contao-latest-de.showroom.efficient.it/main/sub-de.html

[2019-09-10 08:29] leofeyer commented on #734
Welche Bezeichnungen haben sich geändert?

[2019-09-10 08:48] contaoacademy opened #742 "Fehlende Übersetzung und Beschreibung bei Inhaltselementen (overwriteLink, youTubeOptions, vimeoOptions, … )"
**Affected version(s)**
Contao 4.8

**Description**
Ein neues Download-Element erstellen und den Bereich "Download-Einstellungen" öffnen. Hier fehlt die Übersetzung und Beschreibung bei "overwriteLink"

![fehlende-uebersetzung](https://user-images.githubusercontent.com/23719181/64598720-77de2080-d3b8-11e9-8730-b081e4925864.jpg)

[2019-09-10 08:54] leofeyer commented on #742
Dasselbe gilt auch für das Feld `skipEmpty` in den Formulareinstellungen:

<img width="766" alt="" src="https://user-images.githubusercontent.com/1192057/64599208-4154d580-d3b9-11e9-8d0a-396649b16ea8.png">

Unter "Restore" -> "Show details" fehlen ebenfalls ein paar Übersetzungen:

<img width="407" alt="" src="https://user-images.githubusercontent.com/1192057/64599258-57fb2c80-d3b9-11e9-88ce-67bd8

[2019-09-10 08:58] contaoacademy commented on #742
Ja, Vimeo und YouTube ist mir auch gerade aufgefallen, ich werde dazu kein eigenes Ticket erstellen und habe mal den Titel geändert.

[2019-09-10 09:00] loilo commented on #727
Alright, this should be fixed as soon as doctrine/dbal#3674 lands.

[2019-09-10 14:31] leofeyer commented on #723
Changed in 33524e26a3242c31e2005c96cc6f4bed90c08cd8.

[2019-09-10 14:31] #723 closed, assigned to leofeyer

[2019-09-10 14:32] leofeyer commented on #727
Great. Let's keep the issue open until the PR has been merged.

[2019-09-10 14:48] andyKempf commented on #332
Is it also planned to replace the accordion in the frontend with a vanilla solution? This would then resolve the dependency on jQuery a further step.

[2019-09-10 15:39] #725 closed, assigned to nobody

[2019-09-10 20:07] leofeyer commented on #742
Behoben in 0b2823089a027c0ad2b3897fe769f6fae2b8a31f.

[2019-09-10 20:07] #742 closed, assigned to leofeyer

[2019-09-11 06:02] syntaxys opened #743 "Incorrect SQL queries in combination with mysql-8.0.17"
**Affected version(s)**
tested with latest 4.7 and 4.8

**Description**
MySQL added reserved word MEMBER in 8.0.17. The installation script terminates, e.g. in case of the following query.

**How to reproduce**

_CREATE TABLE tl_comments (id INT UNSIGNED AUTO_INCREMENT NOT NULL, tstamp INT UNSIGNED DEFAULT 0 NOT NULL, source VARCHAR(32) DEFAULT '' NOT NULL, parent INT UNSIGNED DEFAULT 0 NOT NULL,

[2019-09-11 06:05] #743 closed, assigned to nobody

[2019-09-11 06:13] leofeyer commented on #743
Duplicate of #727

[2019-09-11 06:34] leofeyer commented on #740
A few things are odd here:

1. Which of the website root pages did you define as language fallback?

2. The alias `main/sub-de` will only work if you enable `folderUrl`, which I assume you did?

3. It should not be possible to create two pages with the same alias (`main`) without enabling `contao.prepend_locale` (aka `addLanguageToUrl`), so I assume that you did, didn't you? However, if you did, `

[2019-09-11 06:49] xchs commented on #740
@leofeyer He did set two different domains for the website root pages.

[2019-09-11 06:59] pgerundt commented on #740
@leofeyer

Both of the root pages are set as language fallback. Because they use different domains (`contao-latest-de` and `contao-latest-en`). Otherwise an error is displayed.

This is correct, `folderUrl` is enabled.

It is possible if you use two different domains.

Feel free to check or play around with the settings:

http://contao-latest.showroom.efficient.it/contao
username: `admin`
password

[2019-09-11 07:20] leofeyer commented on #740
I missed that, thanks for the heads up. I can reproduce it now.

<img width="790" alt="" src="https://user-images.githubusercontent.com/1192057/64676170-4a0ae180-d475-11e9-9774-b30b99e707ee.png">

Does not seem to be a route matching issue though.

[2019-09-11 07:31] ausi commented on #740
In my test the route for `/main.html` matched which is `tl_page.4` in my case.

<img width="649" alt="Bildschirmfoto 2019-09-11 um 09 29 23" src="https://user-images.githubusercontent.com/367169/64676858-bfc37d00-d476-11e9-8d60-5bb5541eaeaa.png">

<img width="645" alt="Bildschirmfoto 2019-09-11 um 09 29 34" src="https://user-images.githubusercontent.com/367169/64676867-c3ef9a80-d476-11e9-94fd-a40f

[2019-09-11 07:41] leofeyer commented on #740
So this is where the issue occurs:

https://github.com/contao/contao/blob/0b2823089a027c0ad2b3897fe769f6fae2b8a31f/core-bundle/src/Routing/RouteProvider.php#L87-L90

`$candidates` is `['main/sub-de', 'main']` and `$pages` is `['main', 'main/sub-de']`, so the route collection eventually has `['/main{parameters}.html', '/main/sub-de{parameters}.html']`. And since the first match wins, it will be `ma

[2019-09-11 07:57] leofeyer commented on #740
See #744.

[2019-09-11 10:33] #740 closed, assigned to nobody

[2019-09-11 12:22] exscorp opened #745 "generierte Bilder im Frontend größer als original"
**Affected version(s)**

4.8.2 (möglicherweise auch frühere)

**Description**

Bilder die im Frontend generiert werden sind von der Dateigröße um einiges größer als die original Bilder. Bei PNG fällt das besonders auf. Einige Bilder werden dann doppelt bis dreimal so groß.

z.B. dieses 4 kb Bild wird dann zu 14 kb

![lock](https://user-images.githubusercontent.com/3008649/64696382-8d2d7a80-d49e-11

[2019-09-11 12:25] fritzmg commented on #745
? Wenn du keine Bildgröße angibst wird doch einfach nur das Originalbild ausgegeben.

[2019-09-11 12:28] exscorp commented on #745
anscheinend nicht. ist ja auch in der Contao-Demo reproduzierbar.

habe es gerade in einer 4.7.7 ausprobiert. dort passiert das nicht.

[2019-09-11 12:29] fritzmg commented on #745
Oh, wird es tatsächlich nicht. Obwohl keine Bildgröße angegeben wurde, wird das Bild offensichtlich von Contao prozessiert - und dann aber mit der selben Größe (800x600 im Fall von `contao_extensions.png`) wieder ausgegeben. /cc @ausi

[2019-09-11 12:59] patrickjDE commented on #741
Regarding the syntax: if the relation is correctly defined in the dca, it's possible to drop the name of the referenced table, e.g. just `name,address:city`.

I've been using something similar for an alias generator. Even references across multiple tables are possible without much hassle.

[2019-09-11 13:15] Floxn opened #746 "Feature: Checkbox für Wrapper bei Elementtyp Artikel"
**Description**
Bei dem Include-Element Artikel die Möglichkeit einrichten einen Wrapper um die eingebundenen Elemente zu setzen. Z.B.:
`<div class="ce_article block">Hier dann der Gesamte ausgewählte Artikel</div>`

Damit besteht dann die Möglichkeit das Element als gesamtes Element zu sehen und ggf. mit CSS zu stylen. Dann noch die gewohnte Eingabe für die ID oder CSS wenn der Wrapper aktiv ist.

[2019-09-11 13:26] asaage commented on #746
Gibts eigentlich einen Grund, warum für bezogene Artikel keine Templateauswahl möglich ist wie bei den anderen Inhaltselementen?
Ich denke, das wäre wesentlich flexibler als diese Checkbox.

[2019-09-11 13:29] patrickjDE commented on #746
Das Modul nutzt aktuell kein Template, daher kann es auch keine Auswahl geben. Aber ich bin da der selben Meinung, hier (und evtl. auch beim einbinden von Inhaltselementen?) die Nutzung von eigenen Templates zu ermöglichen wäre deutlich flexibler.

[2019-09-11 13:31] Floxn commented on #746
Das eventuell dazu. Der Vorteil bei der Checkbox sehe ich beim updaten. Wenn ich ein eigenes Template erstelle und ein Wrapper drum rum mache muss ich das evtl. prüfen ob sich etwas geändert hat.
Außerdem wäre die Checkbox einfach auch schneller ;)

Inhaltselement hatte ich auch kurz gedacht. Aber das ist ja dann auch tatsächlich nur ein Element und braucht eigentlich kein Wrapper.

[2019-09-11 13:34] asaage commented on #746
Ich nehme an , wenn man das mit der checkbox implementiert und dann ggf. noch ccs id/class Felder dazunimmt braucht man automatisch auch ein Template.

[2019-09-11 13:39] Floxn commented on #746
alles zusammen hat man dann alles was man braucht :)

[2019-09-11 14:59] ausi commented on #745
Contao generiert seit Version 4.8.0 alle Bilder in der eingestellten Qualitätsstufe außer für Bildgrößen mit aktivierter Checkbox „Originalbild bei passenden Abmessungen verwenden“.

[2019-09-11 16:32] Mynyx opened #747 "Fehler beim Einbinden von MooTools via CDN (googleapis.com)"
Bei Aktivierung der Option zum Einbinden von MooTools via CDN (googleapis.com) im Seitenlayout, wird in den Header Folgendes aufgenommen:
``<script src="https://ajax.googleapis.com/ajax/libs/mootools/1.6.1/mootools.min.js"></script>``
 
Die URL https://ajax.googleapis.com/ajax/libs/mootools/1.6.1/mootools.min.js führt jedoch zu einem Fehler 404.

[2019-09-11 17:44] Mynyx commented on #734
Zum Beispiel Mazedonien zu Nordmazedonien und Tschechische Republik zu Tschechien.

[2019-09-11 18:36] Mynyx opened #748 "Feld tl_user admin bei Bearbeiten von Benutzergruppen im Abschnitt Erlaubte Felder ausblenden"
Eine Vergabe des Rechtes für das Feld tl_user admin im Abschnitt "Erlaubte Felder" beim Bearbeiten von Benutzergruppen wird offenbar aus Sicherheitsgründen ignoriert. Das heißt auch Benutzer, die das Recht für dieses Feld haben, können keinen Benutzer zu Administrator machen.

Der Klarheit wegen würde es sich daher anbieten, das Feld tl_user admin beim Bearbeiten von Benutzergruppen im Abschnitt "

[2019-09-11 18:54] Mynyx opened #749 "Verwaltung des Rechts für das Modul Templates"
Wenn einem regulären Benutzer das Recht für das Modul Templates eingeräumt wurde, erscheint im Modul Benutzer eine Warnung: "Mindestens ein regulärer Benutzer hat Zugriff auf den Template-Editor. Da Templates PHP-Dateien sind, haben diese Benutzer implizit die volle Kontrolle über das System!"

Ein regulärer Benutzer kann jedoch auch, wenn er aufgrund der Einstellung "Erlaubte Felder" in einer sei

[2019-09-11 19:03] andreheeke commented on #747
Das Problem ist: MooTools ist noch nicht in Version 1.6.1 erschienen. Lediglich die 1.6.0 wird über Google Hosted Libraries bereitgestellt.

[2019-09-11 19:30] Mynyx opened #750 "Fehlende Erläuterung zum Backend-Modul debug"
Bei Benutzern und Benutzergruppen ist es im Abschnitt "Erlaubte Module" möglich, ein Modul "debug" auszuwählen. Im Hilfe-Assistenten fehlt eine Erläuterung zu diesem Modul.

[2019-09-11 19:43] Mynyx opened #751 "Recht für Backend-Modul Sicherheit"
Bei Benutzern und Benutzergruppen ist es im Abschnitt "Erlaubte Module" möglich, das Modul "Sicherheit" auszuwählen.

Über das Benutzermenü ist das Modul "Sicherheit" jedoch immer aufrufbar, auch wenn es im Abschnitt "Erlaubte Module" nicht ausgewählt wurde.

Es ist mir auch ansonsten keine Auswirkung aufgefallen, wenn das Modul für einen Benutzer erlaubt ist oder nicht.

[2019-09-11 19:45] leofeyer commented on #745
Aber die generierten Bilder sollten ja nicht dreimal so groß sein, oder?

[2019-09-11 20:01] fritzmg commented on #745
Wie ich mit @ausi heute diskutiert habe, kann das momentane Verhalten etwas problematisch sein - also dass alle Bilder by default prozessiert werden.

Angenommen ein Redakteur hat sich ein Bild schon passend hergerichtet in der richtigen Größe und mit der für das Bild passenden JPEG Qualität von 90% (weil weniger vielleicht nicht gut aussehen würde, wenn bspw. viel Rot Anteil vorhanden ist). Diese

[2019-09-12 06:20] Toflar commented on #745
Nur mal laut gedacht: Könnten wir nicht für die wenigen Fälle wo das vorkommt (ich glaube das Default-Verhalten stimmt) sowas machen wie "wenn der Dateiname mit `np_` beginnt, lassen wir's aus"? `np_` stünde dann in diesem Fall für "no processing" oder so.
Also im Idealfall irgend ein Präfix oder Suffix dessen Verwendung im täglichen Gebrauch höchst unwahrscheinlich ist? Oder statt `np_image.jpg`

[2019-09-12 06:35] Toflar commented on #734
Wir sollten uns imho eh auf die `intl` Komponente dafür verlassen.

[2019-09-12 06:36] ausi commented on #745
Ich würde das Default-Verhalten gerne so belassen, allerdings könnten wir eine Konfiguration `contao.image.skip_if_dimensions_match` hinzufügen mit der sich das Default-Verhalten ändern lässt.

Es wird nochmal komprimiert, anders ist das leider nicht möglich. Eine verlustfreie Drehung wäre nur mit EXIF selbst möglich, was wir aus mangelndem Browser-Support nicht verwenden können.

[2019-09-12 06:40] fritzmg commented on #745
Naja, aber es kann doch nicht sein, dass Contao jetzt grundsätzlich ein JPEG immer zwei mal komprimiert, auch wenn es gar nicht notwendig ist, und das daher auf jeden Fall immer zu einer Qualitätsverschlechterung führt?

[2019-09-12 06:51] ausi commented on #745
Eine Qualitätsverschlechterung tritt ein wenn die Original-Qualität höher ist, in diesem Fall kann der Effekt jedoch gewünscht sein wenn z. B. ein Redakteur ein Bild mit 100% Qualität hochlädt.

Bei gleicher oder niedriger Ausgangsqualität kann das erneute speichern zu Verlusten führen und die Dateigröße auch erhöhen.

Das war jetzt bereits immer der Fall wenn die Größe oder der Ausschnitt sich ge

[2019-09-12 06:59] ausi commented on #745
Ich denke das ist zu viel Magic. Installationen können jetzt bereits Bilder mit solch einem Präfix enthalten. Zudem kann man Ausnahmen für einzelne Bilder ja bereits jetzt relativ einfach über eine eigene Bildgröße realisieren.

[2019-09-12 07:37] exscorp commented on #745
Das default-Verhalten kann ja so bleiben wenn man **Ein Bild hinzufügen » Bildgröße** etwas auswählt/verändert aber nicht wenn ich nur das original Bild ohne Bildgrößeneinstellungen einfüge.

Es wird gerade überwiegend über **JPG** geschrieben, bei **PNG** fällt der Dateigrößenunterschied viel deutlicher auf.

Es kann nicht sein, das ich Bilder passend für eine Site anlege/optimiere und Contao (oh

[2019-09-12 07:48] leofeyer commented on #745
Ich bin auch der Meinung, dass das Originalbild ausgegeben werden sollte, wenn keine Image-Size im Spiel ist. Bei den Image-Sizes würde ich aber "use the original image if dimensions match" weiterhin standardmäßig ausgeschaltet lassen.

[2019-09-12 07:52] ausi commented on #745
OK. Also wenn gar keine Bildgröße angegeben ist, lassen wir das Bild ohne Konvertierung ausgeben (ausgenommen EXIF-Drehung). Wenn aber Breite/Höhe angegeben ist und das Bild genau diese Größe hat, machen wir schon die Konvertierung?

[2019-09-12 07:57] leofeyer commented on #734
Dagegen sprechen aus meiner Sicht mehrere Gründe:

1. Hat die `intl`-Extension überhaupt alle Übersetzungen, die wir im Backend auch haben?

2. Wie verhält es sich, wenn man eine alte PHP-Version (z.B. 7.1) verwendet? Hat man dann immer nur die alten Länderbezeichnungen?

[2019-09-12 08:01] fritzmg commented on #745
@ausi Ja, aber dann ist es ja auch zumindest ein neues Bild und der Redakteur weiß, dass da ein neues Bild generiert wird.

@exscorp Im Unterschied zu JPG hast du bei PNG aber keine potentielle Qualitätsverschlechterung. Die Größenänderung bei PNG hängt wahrscheinlich damit zusammen, dass du GD verwendest, statt Imagick oder Gmagick (überprüfe das mal).

@ausi Ja, der Effekt kann gewünscht sein -

[2019-09-12 08:08] leofeyer commented on #745
Also grundsätzlich sehe ich es schon wie @ausi. Wir sollten alle generierten Bilder optimieren, auch wenn sie zufällig schon der geforderten Größe entsprechen.

Es sollte halt nur nicht so sein, dass die optimierten Bilder nachher 4 Mal so groß sind. Aber das ist ggf. ein gesondertes Problem, das man sich ansehen muss?

[2019-09-12 08:11] Toflar commented on #734
Jup, plus all die, die uns fehlen :) ICU/Unicode halt.

Das hat damit nichts zu tun. Die `intl`-Extension bzw. die darunterliegende ICU Bibliothek muss halt aktuell gehalten werden. Das muss sie aber eh. Wir nutzen die Komponenten ja sonst auch bereits.

[2019-09-12 08:12] leofeyer commented on #734
Dann sollten wir das in der 4.9 umbauen.

[2019-09-12 08:13] ausi commented on #745
Alle bestehenden Bildgrößen werden im DB-Update von Contao 4.8 auch dementsprechend konfiguriert dass sie das alte Verhalten beihehalten. Es betrifft also nur Bilder ohne ausgewählter Bildgröße.

Mit der Ausnahme wenn gar keine Größe gewählt ist. Hier stimme ich zu, dass erwartet werden kann dass keine Änderung an der Datei vorgenommen wird.

Mein Lösungsvorschlag: Wenn gar keine Größe angegeben/a

[2019-09-12 08:18] ausi commented on #734
Aus Erfahrung mit dem Slug-Generator haben wir aber auch gelernt, dass diverse Hoster 10-Jahre alte ICU-Versionen einsetzen https://github.com/contao/core-bundle/issues/1352#issuecomment-363116503

Wie wäre es, wenn wir die Daten weiterhin in Contao pflegen, aber ein Skript schreiben dass sich die Bezeichnungen aus dem aktuellsten CLDR holt?

[2019-09-12 08:23] leofeyer commented on #734
Eben das war ja meine Frage. 😂

[2019-09-12 08:26] Toflar commented on #734
Ich persönlich würde einfach null Rücksicht auf diesen Fall nehmen. Wer 10 Jahre alte Software einsetzt, hat dann halt falsche Länder. Das ist mir herzlich egal 🤷‍♂

[2019-09-12 08:29] leofeyer commented on #734
Ich habe unsere Liste jetzt erstmal aktualisiert: 6c4feeeeed5314242a644b7507eaefafb8eb69d8

Bezüglich des Umbaus auf `intl` bleibe ich skeptisch. Die Leute werden nicht verstehen, dass es an ihrem Hosting liegt, und Contao die Schuld geben.

[2019-09-12 08:30] tuxenberger commented on #729
Nach einigen Tests nun eine Relativierung: es funktioniert doch.

Lösung: Im Eventlisten-Modul die Option: "Verkürzte Darstellung" aktivieren. Da wäre ich nie drauf gekommen, da die Optionsbeschreibung in der Info auch keinen Hinweis gibt:
"Events nur einmal anzeigen, auch wenn sie mehrere Tage umfassen."

Meine Events waren einmaliger Events ohne Wiederholung - folglich habe ich die Option auch n

[2019-09-12 08:31] fritzmg commented on #729
Diese Option sollte darauf ja eigentlich keine Auswirkung haben?

[2019-09-12 08:38] exscorp commented on #745
auf dem Server läuft PHP 7.3.9 mit GD

screenshot aus phpinfo
![php-gd](https://user-images.githubusercontent.com/3008649/64768241-611b0380-d549-11e9-94ec-40f0fa098f39.png)

[2019-09-12 09:01] tuxenberger commented on #729
Ist genau so im der Contao-Demo konfiguriert - was mich auf die Spur der Funktion gebracht hat.
Hier sind ja auch wiederholende Termine eingestellt. Aber mein Test-Einzelseminar war auch über die Startuhrzeit raus in der Liste bis zur Endzeit angezeigt und wurde dann erst ausgeblendet. Also genau die Anzeigeoption, die ich gesucht hatte.

Was halt für Zusätzliche Verwirrung gesorgt hatte war die w

[2019-09-12 09:04] ausi commented on #745
@exscorp bitte führe folgenden Command aus um zu sehen welche Bild-Library von Contao in deiner Installation verwendet wird:
`vendor/bin/contao-console debug:container contao.image.imagine`

[2019-09-12 09:09] leofeyer commented on #747
Unsere MooTools-Komponente hat aber schon ein Tag `1.6.1`. 🤦‍♂ Ist jetzt behoben.

[2019-09-12 09:09] #747 closed, assigned to nobody

[2019-09-12 09:19] exscorp commented on #745
@ausi

 // This service is a public alias for the service contao.image.imagine.JAQdgwp

Information for Service "contao.image.imagine.JAQdgwp"

 Imagine implementation using the GD library.

 ---------------- ------------------------------
  Option           Value
 ---------------- ------------------------------
  Service ID       contao.image.imagine.JAQdgwp
  Class            Imagine\Gd\Imagine

[2019-09-12 10:09] leofeyer commented on #751
Behoben in a0c6bb4810860e561202485a0bb71ef7fa5b6645.

[2019-09-12 10:09] #751 closed, assigned to leofeyer

[2019-09-12 10:09] leofeyer commented on #750
Duplicate of #751

[2019-09-12 10:09] #750 closed, assigned to nobody

[2019-09-12 10:59] leofeyer commented on #737
So both problems are caused by Contao offering templates from theme "test1" in the module in theme "test2", correct?

[2019-09-12 13:46] ausi commented on #745
Das bedeutet in deiner Installation wird GD verwendet um die Bilder zu generieren.

Die PNG-Dateigröße kann eventuell verbessert werden wenn du die Konfiguration `contao.image.imagine_options.png_compression_filter` auf `!php/const PNG_ALL_FILTERS` und `contao.image.imagine_options.png_compression_level` auf `9` setzt.

[2019-09-12 18:06] Mynyx opened #752 "Fehler in Paginierung der Versionsübersicht"
In https://github.com/contao/contao/blob/master/core-bundle/src/Resources/contao/classes/Versions.php#L647 führt die Bedingung `version>1` dazu, dass die Paginierung fehlerhaft ist - es werden zu wenige Seiten berechnet. Denn in der Tabelle werden alle Versionen angezeigt, auch Version 1.

[2019-09-12 19:01] aschempp commented on #737
That's what I understand as well. We can't fix this everywhere though, as some places the template selection is not related to a specific theme. Also, copying a module from one theme to another would not change the existing template selection. Maybe we should just improve the wording?

[2019-09-12 19:04] aschempp commented on #734
Das sehe ich leider auch so

[2019-09-12 19:14] Mynyx opened #753 "Exception in Version480Update.php"
In https://github.com/contao/contao/blob/master/installation-bundle/src/Database/Version480Update.php#L236 wird die Query `DROP TABLE tl_remember_me` auch ausgeführt, wenn diese Tabelle gar nicht existiert, wodurch es zu einer Exception kommen kann.

[2019-09-12 19:26] aschempp commented on #727
The issue has been fixed in Doctrine 😎
Not sure if I am suppsed to close this, or assign a milestone etc. 😂

[2019-09-12 19:34] loilo commented on #727
That's how I feel as well, that's because I haven't closed it yet. Mostly because I have no idea when they will actually publish a release with the fix. 🤷‍♂

[2019-09-12 20:08] jc97 commented on #737
Yes, this is the problem.

At least, Contao should show all possible sources in brackets. Additionally, I suggest showing only the available templates. On copying a module it could be accessed anyway (not good, but working, I guess).

[2019-09-12 20:39] Mynyx opened #754 "Menü Frontend-Benutzer in Systemwartung"
In der Systemwartung werden im Abschnitt "Suchindex neu aufbauen" in dem Menü "Frontend-Benutzer" alle Frontend-Benutzer angezeigt.

Bei einer hohen Anzahl an Frontend-Benutzern (Mitgliedern) dauert die Generierung der Seite dadurch sehr lange (über eine Sekunde) und das Rendern der Seite im Browser noch viel länger (über zehn Sekunden).  Währenddessen wird beispielsweise auch der nächste Abschnit

[2019-09-13 10:21] exscorp commented on #745
Ich habe auf dem Server jetzt **imagick** installiert, überall den cache gelöscht und alle Bilder neu generiert. Die PNG sind zwar nicht mehr 3x aber immer noch 2x so groß. (Beispielbild oben » statt 4kb » 8kb)

imagick module version 3.4.4

// This service is a public alias for the service contao.image.imagine.rl0p_o1
Information for Service "contao.image.imagine.rl0p_o1"
Imagine implementation u

[2019-09-13 10:44] ausi commented on #745
Für Imagick kannst du die Konfiguration
`contao.image.imagine_options.png_compression_level` auf `9` und
`contao.image.imagine_options.png_compression_filter` auf `5` oder `6` setzen.

[2019-09-13 12:28] ausi commented on #745
Closed in favor of #755

[2019-09-13 12:28] #745 closed, assigned to ausi

[2019-09-13 17:23] Mynyx opened #756 "Hinweistext für Felder Anzeigen ab und Anzeigen bis"
Bei den Feldern `Anzeigen ab` und `Anzeigen bis` bei Seiten, Artikeln, Inhaltselementen etc. lautet der Hinweistext am Beispiel von Seiten:

Es kann bzw. muss jedoch nicht nur ein Tag sondern auch eine Uhrzeit eingegeben werden, daher schlage ich vor "Tag" durch "Zeitpunkt" zu ersetzen:

[2019-09-13 17:35] Mynyx opened #757 "Hinweistext Felder Server-Cachezeit und Client-Cachezeit bei Seiten"
Die Hinweistexte zu den Feldern `Server-Cachezeit` und `Client-Cachezeit` bei Seiten lauten folgendermaßen:

Es können jedoch verschiedene Zeiträume in Sekunden, Minuten, Stunden und Tagen ausgewählt werden, die Angabe "Zeitraum in Sekunden" ergibt daher wenig Sinn.

[2019-09-13 18:32] xchs commented on #757
Jetzt habe ich eine Weile nach dem Ticket gesucht, weil ich wusste, dass genau das Gleiche vor einigen Wochen schon jemand angesprochen hatte, aber das war in Slack. :)

[2019-09-13 19:17] dmolineus commented on #757
Vermutlich meinst du #661

[2019-09-13 19:19] xchs commented on #757
Oh ja, genau. Danke. Ich wusste ja, da war was... 😄
Auf Slack hatte es ja auch @zonky2 angesprochen.

Und jetzt weiß ich auch, warum ich vorhin per Suche nichts gefunden hatte: Im Ticket steht "chaching" und ich habe nach "cache" gesucht 😸

[2019-09-14 08:08] leofeyer commented on #757
Duplicate of #661

[2019-09-14 08:08] #757 closed, assigned to nobody

[2019-09-14 08:09] leofeyer commented on #745
Sollten wir das vielleicht standardmäßig so konfigurieren?

[2019-09-14 10:08] zonky2 commented on #757
schreibfehler gefixt

[2019-09-14 12:13] exscorp commented on #745
Ich habe diese Einstellungen ausprobiert.

**png_compression_level 9
png_compression_filter 5**

PNG war danach nur noch 5 kb (original 4 kb)

Bei **png_compression_filter 6** war das PNG komischerweise 10 kb

[2019-09-15 12:51] fritzmg opened #758 "adjust manager-bundle to current Symfony best practises?"
Currently the manager-bundle loads the following configuration files from `config/`:

* `config/config.yml`
* `config/config_dev.yml`
* `config/config_prod.yml`
* `config/parameters.yml` (legacy)
* `config/routing.yml`

I was wondering if the manager-bundle should be adjusted to the current Symfony 4 practises:

1. The `.yaml` file extension is used by default rather than `.yml`.
2. The `routing.y

[2019-09-15 14:52] fritzmg commented on #758
Also: shouldn't the `config/services.yml` be automatically loaded as well, if present?

[2019-09-15 19:45] ben-eSM opened #760 "New dca callback for rootNodes in universal picker and"
In conjunction with the upcoming universal picker from @aschempp, I think it would be nice if there'd be a callback for the dca attribute rootNodes. Being able to only show partial trees in the picker would be quite interesting.

[2019-09-16 21:43] ausi commented on #745
Dafür müssten wir genauer untersuchen wie sich die Einstellungen (jeweils für GD, Gmagick und Imagick) auswirken und einen CompilerPass schreiben der je nach genutzter Imagine-Implementation die passenden Options setzt da es keinen einheitlichen Werte gibt die für alle Implementationen passt.

[2019-09-17 06:55] fritzmg commented on #745
Ist es überhaupt möglich das selbe Resultat zu erzielen wie mit Tools wie optipng?

[2019-09-17 09:07] leonexcc commented on #727
This will not help if you use a reserved name as a field name in your DCA and try to manually filter by it. Database::quoteIdentifier is not used on the field. E.g. this will happen if you filter by groups in tl_member.

[2019-09-17 09:40] zonky2 opened #765 "Theme > Layout: nur vorhandene Spalten auswählbar machen"
**Affected version(s)**
all: 3.5 ... 4.8

**Description**
bei der Demo auf Layout "1-column" gehen - dort ist nur eine Spalte definiert aber dennoch Spalte Links/Rechts auswählbar... es sollten nur mögliche Spalten angegeben werden

**How to reproduce**

![Screenshot](https://user-images.githubusercontent.com/1045318/65030413-cb63e780-d93f-11e9-920a-d3da032e2022.jpg)

[2019-09-17 10:45] stefansl opened #767 "After updating to 4.8.3 the debug button disappears"
**Affected version(s)**
4.8.3

**Description**
After updating Contao 4.8.2 (may effect earlier versions, too) to 4.8.3 clicking the debug button throws an error:
`[2019-09-16 11:57:39] request.CRITICAL: Uncaught PHP Exception Symfony\Component\DependencyInjection\Exception\ServiceNotFoundException: "The "contao_manager.jwt_manager" service is synthetic, it needs to be set at boot time before it ca

[2019-09-17 11:41] aschempp commented on #758
To be precise, the bundle only loads one of the config files, and you need to import the other one(s) accordingly.

The problem with "supporting" the new version is that the old one must remain for BC, and that means there will be 20 options at some point, with no clear benefit except an "updated" file name?

[2019-09-17 12:12] aschempp commented on #767
I think there are two issues here:
1. the cache problem – not sure if/how we can fix that
2. the fact that the `.env` affects whether the button is visible in the back end, which should not be the case here (no `APP_ENV=` in the file)

[2019-09-17 13:03] ausi commented on #745
Ich denke mit Imagick sollte man recht weit kommen, wie gut es im Vergleich zu OptiPNG oder MozJPEG abschneidet müsste man aber testen.

[2019-09-17 13:09] fritzmg commented on #745
Naja tools wie optipng etc. führen ja - je nach dem was man einstellt, sehr viele trials durch, bis die beste Kompression gefunden wurde (was ja je nach Bild auch lange dauern kann). Ich glaube Imagick unterstützt sowas nicht - daher wird man mit Imagick auch nie an die selbe kleine Dateigröße kommen, wie bei zuvor optimierten Bildern.

[2019-09-17 13:36] sebj54 opened #1032 "Force browser to not store cache for logout page"
**Affected version(s)**

4.4.41 (and superior?)

**Description**

With a logout cache, `Cache-Control` header is set to `private` by default.

If we refer to the documentation on [MDN](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Cache-Control#Cacheability), this does not prevent browser from caching the page.

If a user disconnects, reconnects and tries to disconnect again (it happen

[2019-09-17 14:01] aschempp commented on #1032
Maybe we should use a 303 redirect instead?

[2019-09-17 14:13] sebj54 commented on #1032
If I'm right, that's what the deprecated `ModuleLogout` does. I had the same problem with this module instead of a `PageLogout`. I switched because of the deprecation and hoped this will fix my issue 😁

[2019-09-18 08:02] stefansl commented on #767
I tested it on another server -> same issue. But deleting .env after updating contao solved the issue and the browser cache problem is obsolete.

[2019-09-18 09:56] leofeyer commented on #767
Symfony automatically populates the `APP_ENV` variable, even if it is not actually set in the `.env` file. 🤦‍♂

https://github.com/symfony/symfony/blob/1efae63e64d765d786ca50e9181c57b54587afd9/src/Symfony/Component/Dotenv/Dotenv.php#L90-L92

So I guess we cannot rely on the `$_SERVER['APP_ENV']` check for the debug bar. Reverting 9f2ea76205bc12764afbb0deaa2971bb157a89bf will fix the issue.

[2019-09-18 13:19] kroerig opened #770 "Autoteaser"
**Description**
Joomla-User und auch Wordpress-User sind es gewöhnt ohne große Mühen vom System einen Teaser generiert zu bekommen.

In Joomla indem man einfach im Texteditor einen Trenner einfügt. Der Text bis dorthin wird als Teaser übernommen. Im WP stell man einfach die Anzahl der Zeichen, die als Teasertext angezeigt werden sollen. Sollte das mal mitten ins Wort fallen sucht WP nach einem Lee

[2019-09-18 13:22] fritzmg commented on #770
Wie stellst du dir das vor? Willst du zu Contao 2 zurück kehren, wo der News Detail Inhalt nur aus einem Textfeld besteht? ;)

Das was du haben willst passt nicht in das Konzept von Contao.

[2019-09-18 13:29] asaage commented on #770
Ich find' Autoteaser jetzt irgendwie auch nicht so prall - pflegen ist gut.
Allerdings fehlt im core immernoch ein passendes content-element um mit Teasern umzugehen https://github.com/contao/core-bundle/issues/1417

[2019-09-18 13:37] kroerig commented on #770
Nein, aber nicht alles doppelt pflegen und die Umsteiger abholen.

In den meister Fällen dürfte der Teaser der Anfang des Textes oder eine kurze Zusammenfassung, die dann meist auch im Artikel vor dem Haupttext steht.

Da könnte man doch z.B. ein Teaser-Element bauen, dass man einfach ganz normal in den Artikel einbaut, dessen Inhalt dann aber für den Teaser genommen wird.

[2019-09-18 13:52] fritzmg commented on #770
Die Frage war, wie du dir das vorstellst. Der Detailinhalt ist mit Inhaltselementen aufgebaut. Meinst du, du möchtest, das einfach das erste (Text) Inhaltselement der Teaser sein soll? ggf. mit der selben Logik wie bei WordPress?

Halte ich für umständlich. Könnte man aber per Erweiterung einbauen, wenn man will.

Wozu ist das gut? Es gibt ja schon ein Teaser Feld. Außerdem ist das ja genau das, w

[2019-09-18 14:17] kroerig commented on #770
Ja, es gibt das Teaserfeld. Das hat aber (bisher) keinen Bezug zu den Inhaltselementen. Der Inhalt muss separat eingetragen werden. Eleganter wäre, wenn der Teaser automatisch aus dem Artikelinhalt generiert würde. Dazu würde es ja reichen, wenn man einem Textement einfach die Funktion "Teaser" zuweisen könnte. Daraus könnte Contao dann den Teaserinhalt nehmen.

WordPress ist für die meisten Anwen

[2019-09-18 20:05] Mynyx opened #771 "Funktion "Aliase generieren" prüft Berechtigung für Feld "alias" nicht"
Die in den verschiedenen Ansichten nach Klick auf "Mehrere bearbeiten" verfügbare Funktion "Aliase generieren" kann auch von Benutzern durchgeführt werden, die keine Berechtigung für das Feld "alias" der entsprechenden Tabelle haben.

[2019-09-18 20:09] Mynyx opened #772 "Validierung Benutzername"
Beim Bearbeiten eines Benutzers im Backend wird zum Benutzernamen folgender Hinweistext angezeigt:

Tatsächlich ist es jedoch möglich im Benutzernamen ein Slash zu verwenden, eine Fehlermeldung erscheint bei Eingabe eines Backslashs.

Im Installtool beim Anlegen des Administratorkontos erscheint im Gegensatz dazu bei Eingabe eines Slahs eine Fehlermeldung und Backslashs werden zugelassen.

[2019-09-19 06:57] contaoacademy opened #773 "Sticky Backend Footer to Core"
Please add the function "Sticky Backend Footer"
https://github.com/may17/contao-m17StickyBEFooter from @may17 to Contao-Core.

![sticky-backend-footer](https://user-images.githubusercontent.com/23719181/65220479-181ffd80-dabb-11e9-82ca-0f4c364ed746.jpg)

The user should have the option to enable/disable this function in the profile.

In my opinion this is a great improvement for user experience.

[2019-09-19 10:03] m-vo commented on #773
Ich hab's nicht mehr vermisst seit ich die Tastatur-Shortcuts kenne.

Das soll nicht heißen, dass ich das nicht gut fände. :smile:  Vlt. eher: + ggf. Tastatur-Shortcuts in die Button-Titel?

[2019-09-19 10:56] akroii opened #774 "Input forms are not valid anymore"
**Affected version(s)**
4.8
**Description**
For w3c Input forms (input type="text") are not valid anymore
[code]
W3c validator:
![Bildschirmfoto 2019-09-19 um 12 50 32](https://user-images.githubusercontent.com/8830861/65238011-14e93980-dadc-11e9-8bad-a3074d833a6c.png)

Settings in Contao Backend:
![Bildschirmfoto 2019-09-19 um 12 53 11](https://user-images.githubusercontent.com/8830861/65238168-7

[2019-09-19 11:26] leofeyer commented on #767
See #775.

[2019-09-19 11:26] #767 closed, assigned to aschempp

[2019-09-19 11:53] stefansl commented on #773
It's a matter of taste. I prefer this one: https://github.com/OMOSde/contao-om-backend

[2019-09-19 12:19] simonreitinger opened #777 "Support predefined image sizes in {{picture::}} tag"
**Description**
I just noticed that it's currently not possible to pass a predefined size from the newly added config (https://github.com/contao/contao/pull/537).

**Example**
[code]

[code]

I'll create a PR in the next days if that is ok to implement this feature.

[2019-09-19 14:03] netzarbeiter opened #778 "Meta data for directorys"
Is there a use case for using meta data in a folder?

If not, what about to remove the meta data when editing directorys.

[2019-09-19 16:15] asaage commented on #778
There might be extensions that make use of directory-meta-data.
Like for example  a zipped-folder-download content-element
or a modified search-modue. I implemented both of that for a customer once (but i don't think he is really using it)
I don't see any benefit in removing it for directories - it's the same table (tl_files) anyway.

[2019-09-20 07:20] leofeyer commented on #772
Hatten wir das nicht in d04e455e466b6dc065d444e95f3918df51145555 behoben?

**Edit:** Wir sollten die Änderungen noch in die 4.4 zurückportieren. Und die Validierung im Installtool prüfen.

[2019-09-20 08:55] contaoacademy commented on #773
Ich glaube diese Erweiterung ist ein "Easy Pick" und bringt einen großen Mehrwert für den unbedarften Redakteur.

Ich selbst nutze ebenfalls Tastatur-Shortcuts. Auch die Empfehlung von @stefansl finde ich gut.

Doch ich glaube einfach, dass es die kleinen Dinge sind die schnell integriert sind und dem unbedarften Redakteur weiter helfen.

[2019-09-20 09:04] m-vo commented on #778
If we drop this, we could as well drop storing folders in `tl_files` completely. And thus also removing folder hashes and parent-child relations, which would greatly simplify the sync. (But as @asaage pointed out this would be a BC break.)

[2019-09-20 09:14] fritzmg commented on #778
You can't drop folders from the Dbafs as you can select folders as well.

[2019-09-20 10:48] m-vo commented on #734
Could the [Symfony intl component](https://github.com/symfony/intl) help here? It says: `The replacement layer is limited to the locale "en".` but it still contains the data. Not sure how this works.

 see for example https://github.com/symfony/intl/blob/master/Resources/data/regions/de.json

[2019-09-20 10:54] m-vo commented on #778
But you could do this implicitly as well by using the path or a file. Right now a moved folder can only be tracked if the content is exactly the same anyways. Imo having it in the Dbafs layer doesn't mean it has to be 1:1 in the database (db should be implementation detail).

[2019-09-20 11:22] fritzmg commented on #778
But you store UUIDs in the database, not file paths. A folder needs an UUID as well.

This is only relevant, if you move files/folders outside of the file manager, which is not recommended or the norm anyway.

[2019-09-20 14:30] anatol06 opened #780 "Contao Manager does not show up in Contao back end"
HI!
I need to have Contao Manager in Contao back end.
I installed with Compsoer last version of Contao then - Conao Manager
`php composer.phar require contao-themes-net/mate-theme-bundle`
Everything is OK except that Manager does not show up in Contao back end.
It shows up just in debug mode.
My environment is [DevilBox](http://devilbox.org/) installed on WSL2(Ubuntu 18.04) on WIndows 10.

With ot

[2019-09-20 16:25] m-vo commented on #778
I don't think so. But I also think we aren't talking about the same thing :-). If you want we can discuss that on Slack to not further hijack this issue.

[2019-09-21 09:05] Mynyx opened #782 "Erläuterungen zu Backend-Menüpunkten"
Die Erläuterungen zu den Backend-Menüpunkten (`title`-Attribut der Links) bedürfen teilweise einer Überarbeitung.

Themes:  `Frontend-Module, Stylesheets, Seitenlayouts und Templates verwalten`, jedoch besteht für Templates ein separater Menüpunkt. Demgegenüber fehlen Bildgrößen in der Auflistung.

Templates: `Templates im Backend bearbeiten` erscheint im Vergleich zu den anderen Menüpunkten nicht

[2019-09-22 06:18] Mynyx commented on #778
It will improve the user experience, because the input fields without a comprehensible function are confusing.

But the database would not have to be modified, so there could be an simple option for extension developers to show the input fields for directories if required.

[2019-09-22 08:04] Mynyx opened #783 "Hilfetext ist bei Seiten ohne Unterseiten verschoben"
In der Seitenstruktur ist bei Seiten ohne Unterseiten der Hilfetext nach links verschoben und wird nicht unmittelbar unter dem Icon angezeigt:

![image](https://user-images.githubusercontent.com/1632642/65384232-14d97b80-dd20-11e9-91dc-6d25a306999c.png)

[2019-09-22 10:36] Mynyx opened #784 "Leeres Auswahlmenü für Ursprungstemplate bei Vergleich von Templates mit abweichendem Präfix"
Beim Vergleich von Templates ist das Auswahlmenü für das Ursprungstemplate leer, wenn das zu vergleichende Template ein abweichendes Präfix hat (zum Beispiel `x_x.html5`). Dadurch ist es nicht möglich, einen Vergleich durchzuführen.

Entweder könnte der Button zur Vergleichsansicht in diesem Fall deaktiviert werden oder es könnten wie bei Templates ohne Präfix (zum Beispiel `x.html5`)  im Auswahlm

[2019-09-22 10:43] Mynyx opened #785 "Sortierung des Auswahlmenüs für das Ursprungstemplate im Templatevergleich"
Beim Templatevergleich ist das Auswahlmenü für das Ursprungstemplate  nicht alphabetisch sortiert und dadurch recht unübersichtlich.

[2019-09-23 07:43] aschempp commented on #780
How did you install the Contao Manager ?

[2019-09-23 07:50] aschempp commented on #774
I guess the problem is that `min` and `max` are always added even if the input type does not match.

[2019-09-23 07:53] aschempp commented on #770
Die News werden ja per Template gesteuert, und im Prinzip lässt sich das doch bereits problemlos per Template machen? In etwa so:

[code]

[2019-09-23 08:03] aschempp commented on #538
Symfony 4.4 now has full support for password rehashing: https://github.com/symfony/symfony/pull/31843

[2019-09-23 08:03] aschempp commented on #691
Closed in favor of https://github.com/contao/contao/issues/538

[2019-09-23 08:03] #691 closed, assigned to nobody

[2019-09-23 09:01] Floxn opened #786 "Externe CSS im Cache auch mit Debug-Mode"
**Affected version(s)**
4.8.3

**Description**
Wenn eine extern eingefügte CSS eingebunden ist und diese aktualisiert wurde wird diese im Debug-Mode nicht neu geladen sondern aus dem Cache genommen. Im Browser selbst ist der Cache auch aus.
Es hilft nur in der Systemwartung den Skriptcache leeren.

**How to reproduce**
CSS Datei extern einbinden und abändern. Im Debug-Mode die Seite mit der Änderu

[2019-09-23 11:33] leofeyer commented on #1032
@Toflar /cc

[2019-09-23 11:41] leofeyer commented on #777
See #781.

[2019-09-23 11:41] #777 closed, assigned to nobody

[2019-09-23 11:44] leofeyer commented on #783
Welche Contao-Version betrifft das?

[2019-09-23 11:49] #663 closed, assigned to nobody

[2019-09-23 11:52] Floxn opened #787 "Übersetzung der einzelnen Felder von tl_page bei Benutzergruppen fehlt"
**Affected version(s)**
4.8.3
**Description**
Bei den erlaubten Feldern in den Einstellungen der Benutzergruppen fehlt die deutsche (andere auch?) Übersetzung.
<img width="270" alt="Bildschirmfoto 2019-09-23 um 13 48 19" src="https://user-images.githubusercontent.com/15326334/65423409-2c406380-de09-11e9-996d-fdb9c06f3ab9.png">

**How to reproduce**
Login in [demo.contao.org/contao](https://demo.co

[2019-09-23 11:52] leofeyer commented on #673
You probably remember that we tried to establish MySQL 5.7.7 and InnoDB as system requirements in Contao 4? Long story short, we could not. 😄

Therefore dropping MyISAM support is off the table for Contao 4.

[2019-09-23 11:52] #673 closed, assigned to nobody

[2019-09-23 12:34] leofeyer commented on #697
Wir könnten anstatt "file location" hier "path" verwenden.

[2019-09-23 12:35] leofeyer commented on #724
Kann ich nicht bestätigen:

<img width="527" alt="" src="https://user-images.githubusercontent.com/1192057/65425898-61e84b00-de0f-11e9-9e9d-0787ae0f0722.png">

[2019-09-23 12:52] m-vo commented on #673
But a) time has passed and b) if we decide to drop it in Contao 5, we should imo add a deprecation warning. So I think discussing this issue is legitimate.

[2019-09-23 13:19] leofeyer commented on #787
Fixed in a81a11b919126798b8a9adb8d1632d69035a9ba5.

[2019-09-23 13:19] #787 closed, assigned to leofeyer

[2019-09-23 14:44] leofeyer commented on #694
Da umbenannte Dateien auch noch andere Probleme in Verbindung mit der Versionierung verursachen (siehe z.B. #671), sollten wir beim Umbenennen von Dateien die bestehenden Versionen löschen.

[2019-09-23 14:59] Mynyx commented on #783
Sowohl 4.4 als auch 4.8.

[2019-09-23 15:03] Mynyx commented on #724
Screenshot aus 4.4.43:
![image](https://user-images.githubusercontent.com/1632642/65437306-daf19d80-de23-11e9-90f5-d6c1a7ab0b28.png)

[2019-09-23 16:30] anatol06 commented on #780
I solved the issue!
In order the Manager to appear in back end it is necessary not only to update the DB after installation, but also to update all extensions listed by manager.

[2019-09-23 17:12] anatol06 commented on #780
1. Download the contao-manager.phar from contao.org: https://contao.org/en/download.html
2. Transfer the contao-manager.phar to the web/ folder (= the DocumentRoot of the domain) of your website
3. Rename the contao-manager.phar file to contao-manager.phar.php and open it in your browser  e.g.
https://example.com/contao-manager.phar.php
5. Update all extensions and DB

[2019-09-24 08:17] leofeyer commented on #698
Behoben in 147415d93cd23aaf4ae3a2fd3d55bd30866e3396. Getestet werden kann der Fix z.B. mit dem Feld "Sitemap-Dateiname" in der Seitenstruktur.

Das Feld "Seitenalias" ist jedoch nicht unique, weil es ja abhängig von der Einstellung `contao.prepend_locale` durchaus mehrfach vergeben werden darf. Um das zu lösen, müssten wir in allen DCAs mit Alias-Feldern einen `onrestore_version_callback` hinzufüg

[2019-09-24 08:49] leofeyer opened #788 "Use the version callbacks to update files"
**Description**

Right now there are two `tl_files` related routines hardcoded in the `Versions` class, which should be using the `oncreate_version_callback` and `onrestore_version_callback` callbacks instead.

https://github.com/contao/contao/blob/5f70711fe4781531535d7ae2fa115eb6bb2a45e6/core-bundle/src/Resources/contao/classes/Versions.php#L171-L189

https://github.com/contao/contao/blob/5f70711

[2019-09-24 08:54] leofeyer commented on #724
Behoben in b641146d423debb041ad94037bf03a8ea89fd082.

[2019-09-24 08:54] #724 closed, assigned to leofeyer

[2019-09-24 09:07] leofeyer commented on #735
Geändert in fb8219839dc8ad215c4042310e8e1a58d0762c9a.

[2019-09-24 09:07] #735 closed, assigned to leofeyer

[2019-09-24 09:15] leofeyer commented on #748
Geändert in 8eeba911aa2e779c34207a984e6d76e55ffefce6.

[2019-09-24 09:30] leofeyer commented on #749
Da gebe ich Dir Recht, allerdings funktioniert das nicht, wenn ein Benutzer gleichzeitig auch die Benutzerrechte bearbeiten kann.

* Der Admin schaltet den Template-Editor in den Benutzerrechten frei.
* Der Benutzer bearbeitet seinen eigenen Datensatz, wobei ihm das Feld `tpl_editor` aber nicht angezeigt wird, weil er ja kein Admin ist.
* Der Benutzer speichert und hat jetzt keinen Zugriff mehr au

[2019-09-24 09:35] leofeyer commented on #752
Behoben in 1131f97cfdc0d1649d459cfe80225c85be1f6fb6.

[2019-09-24 09:35] #752 closed, assigned to leofeyer

[2019-09-24 10:25] leofeyer commented on #765
Geändert in 6556a1bcaa46cd7ba0363c3aa1ddce1810456279.

[2019-09-24 10:25] #765 closed, assigned to leofeyer

[2019-09-24 11:02] leofeyer commented on #772
Behoben in 4402d52c1811dd9d20b97589ee5bf60c9db6e243.

[2019-09-24 11:02] #772 closed, assigned to leofeyer

[2019-09-24 11:35] TS16V commented on #786
Teilweise hilft sogar die Systemwartung nicht, um die externen geänderten CSS / SASS Dateien im Debugmodus aktualisiert anzuzeigen. Der Fehler tritt sporadisch auf., also mal gehts, mal nicht.

[2019-09-24 12:46] leofeyer commented on #785
Geändert in 34d840b89dcc3198175167f9897a41ac490c5aae.

[2019-09-24 12:46] #785 closed, assigned to leofeyer

[2019-09-24 12:52] leofeyer commented on #771
Behoben in cd3f98a6d7fe5e37e9c7ef13960704b98f051dc5.

[2019-09-24 12:52] #771 closed, assigned to leofeyer

[2019-09-24 13:06] leofeyer commented on #700
Geändert in 9b208773b939955879c1704931ec39ac36d8574e.

[2019-09-24 13:06] #700 closed, assigned to leofeyer

[2019-09-24 13:38] Nightwing0815 commented on #770
@kroerig @aschempp
Hier der Code für News und Events, wie aschempp schon gepostet hat:

news_latest.html5:

		<?php if ($this->teaser): ?>
		  <?php echo \StringUtil::substr($this->teaser,80); ?>
		<?php else: ?>
		  <?php echo \StringUtil::substr($this->text,80); ?>
		<?php endif; ?>

event_teaser.html5:

        <?php if (!$this->addBefore): ?>
		  <?php if ($this->teaser): ?>
		    <?php echo \

[2019-09-24 14:10] leofeyer commented on #783
Behoben in 55750ed8d8bedb293faa9e0ae792cd1586182f5d.

[2019-09-24 14:10] #783 closed, assigned to leofeyer

[2019-09-24 16:38] Mynyx commented on #698
Würde es denn Probleme geben, wenn auch bei der Versionswiederherstellung einfach der  `save_callback` aufgerufen werden würde?

[2019-09-24 16:54] Mynyx commented on #696
Ja, das Problem tritt unverändert auf.

[2019-09-24 17:02] Mynyx opened #789 "Erklärungstext Link zum Quelltexteditor"
In den Modulen Templates und Dateiverwaltung lautet der Erklärungstext des Links zum Quelltexteditor `Die Datei "..." bearbeiten`. Der Erklärungstext zum Bearbeiten der Dateieigenschaften lautet mit `Datei oder Verzeichnis "..." bearbeiten` nahezu gleich, sodass der Erkenntnisgewinn recht gering ist.

Daher würde ich vorschlagen den Erklärungstext des Links zum Quelltexteditor auf `Den Quelltext d

[2019-09-24 17:10] Mynyx opened #790 "Quelltext-Einrückung beim Templatevergleich"
Beim Templatevergleich wird in Zeilen, die mit Leerzeichen eingerückt sind, ein Leerzeichen zu wenig angezeigt.

Mit zwei Leerzeichen eingerückte Zeilen sind im Vergleich nur noch mit einem Leerzeichen eingerückt, mit vier Leerzeichen eingerückte Zeilen nur noch mit drei Leerzeichen usw.

[2019-09-25 10:44] ausi opened #791 "Always show tl_image_size.formats in the backend"
If `tl_image_size.formats` has a value in the database but WEBP is (currently) not supported we should still show the values from the database in the checkbox wizard so that the admin can see the enabled options and is able to disable them.

https://github.com/contao/contao/blob/deac104160f6fef153a2549619537afdef30e017/core-bundle/src/Resources/contao/dca/tl_image_size.php#L379

[2019-09-25 10:47] fritzmg commented on #791
May be just delete line 394? Then the error message will still be shown and you can deselect the options.

[2019-09-25 11:18] ausi commented on #791
But then the options would also be shown if the column in the database is empty. IMO we should not enable the posibility to add a wrong configuration but only to remove an invalid one.

[2019-09-25 13:19] leofeyer commented on #373
Fixed in abdb71e64967695ec9bdfcda06aac38163cab9a0.

[2019-09-25 13:19] #373 closed, assigned to leofeyer

[2019-09-25 13:58] m-vo opened #792 "Legacy image and picture classes do not support predefined image sizes (via config)"
**Description**
`\Contao\Image::create()` does not support image sizes defined via configuration.

Only numeric values are accepted and resolved as entries of `tl_image_size`:
https://github.com/contao/contao/blob/f6997ffb142cc6c69eba6e647cde303deec68f60/core-bundle/src/Resources/contao/library/Contao/Image.php#L767-L772

Imo we should either add that functionality or instead use the `contao.image

[2019-09-25 14:59] leofeyer commented on #753
Behoben in 4c060364964f34989efdc4221f4fdeee7c7c62ab.

[2019-09-25 14:59] #753 closed, assigned to leofeyer

[2019-09-25 17:38] Mynyx opened #793 "Modultyp Login-Formular Einstellung Anzahl an Spalten"
Bei dem Modultyp `Login-Formular` kann bei der Einstellung `Anzahl an Spalten` zwischen den Optionen `Eine Spalte` und `Zwei Spalten` gewählt werden.

Die Optionen haben jedoch keine erkennbare Auswirkung auf die Ausgabe.

[2019-09-25 18:08] Mynyx commented on #749
Könnte das vielleicht mit einer Callback-Funktion, die bei Bearbeitungen von Benutzern ohne Administratorrechte die Änderung am Feld `tpl_editor` zurücksetzt, verhindert werden?

[2019-09-25 19:37] Aybee commented on #770
substr()
https://github.com/contao/core-bundle/blob/master/src/Resources/contao/library/Contao/StringUtil.php#L42
substrHtml()
https://github.com/contao/core-bundle/blob/master/src/Resources/contao/library/Contao/StringUtil.php#L104

[2019-09-25 19:47] Aybee commented on #773
Ich persönlich bevorzuge fixierte Buttons oben und immer sichtbar.

[2019-09-25 19:47] asaage commented on #793
https://github.com/contao/core-bundle/issues/1577

[2019-09-25 20:00] Mynyx commented on #793
Vielleicht einen Hinweis ergänzen, dass die Einstellung der Abwärtskompatibilität dient und bei Verwendung des aktuellen Templates keine Funktion mehr hat?

[2019-09-25 20:03] leofeyer commented on #774
Fixed in 16475eed748430c60bf0d9a6ba90203672f02776.

[2019-09-25 20:03] #774 closed, assigned to leofeyer

[2019-09-26 06:41] leofeyer commented on #786
Hast Du die Webseite über die Frontend-Vorschau (`preview.php`) aufgerufen?

[2019-09-26 07:27] TS16V commented on #786
Hallo,

Ja, so wie im Screen in der Anlage.

Wenn ich dann eine Seite mit KLICK auf Vorschau neu erhalte, mache ich dann die CSS-Änderungen mit F5.

Das Ganze funktionier mal und mal nicht.

VG Thomas

[2019-09-26 07:41] leofeyer commented on #569
Fixed in e6e2d8df20b0144bd3d95c492421451c7a51a2ca.

[2019-09-26 07:41] #569 closed, assigned to leofeyer

[2019-09-26 07:53] Mynyx opened #794 "Fehlende Übersetzung innodb_large_prefix im Installtool"
Bei der Installation von Contao 4.8.3 wird im Installtool für `innodb_large_prefix` und `innodb_large_prefix_explain` keine Übersetzung angezeigt:

![image](https://user-images.githubusercontent.com/1632642/65669131-49607680-e043-11e9-8f79-b3cc62c16902.png)

[2019-09-26 08:02] leofeyer commented on #756
As suggested by @blairwinans (thank you for your help here), we want to change the help text as follows:

Since this change affects multiple labels (pages, articles, content elements, events, news etc.), I would prefer to make it only in Contao 4.9, so non-English users do not suddenly lose several labels in a patch release.

[2019-09-26 09:03] leofeyer commented on #794
Fixed in 2e27773f1c553e779928f1bd23c82bb8141abbb0.

[2019-09-26 09:03] #794 closed, assigned to leofeyer

[2019-09-26 09:37] Floxn commented on #786
ja, auch über preview.php
Bei mir funktioniert das nie :)

[2019-09-26 11:11] Mynyx opened #795 "Update veraltete Bildgrößenangaben"
In älteren Inhaltselementen vom Typ Bild ist als Bildgröße (Feld `size`) oftmals das Format Proportional ohne Größenangaben gespeichert (`a:3:{i:0;s:0:"";i:1;s:0:"";i:2;s:12:"proportional";}`).

Wenn das Inhaltselement gespeichert wird, führt dies nun zu einer Fehlermeldung, da die Größenangaben fehlen und es ist eine manuelle Änderung des des Formats zu `-` erforderlich.

Dies könnte vermieden we

[2019-09-26 12:31] Mynyx opened #796 "Update Formularfelder Typ Überschrift"
Beim Update von Contao 3 zu Contao 4 werden Formularfelder vom Typ Überschrift automatisch zum Typ Erklärung geändert.

Es wäre hilfreich, wenn dabei auch automatisch das neue Feld `CSS-Klasse` auf `headline` gesetzt werden würde.

[2019-09-26 13:15] leofeyer commented on #698
Wie am 26. September auf Mumble besprochen, müssten wir dazu das `$aliasExists = function` aus der Methode `tl_page::generateAlias()` extrahieren und im `onrestore_version_callback` ausführen. Wenn das Alias existiert, soll ein numerisches Suffix angehängt werden.

[2019-09-26 13:19] contaoacademy commented on #754
Ich kenne das Problem. Vielleicht wäre es möglich beim User eine Option im Profil zu hinterlegen "Benutzer für Suchindex Aufbau zulassen" oder evtl. über ein Berechtigungsprofil.

[2019-09-26 13:27] leofeyer commented on #694
Wie am 26. September auf Mumble besprochen, dürfen der Dateiname und der Pfad nicht versioniert werden.

[2019-09-26 13:31] leofeyer commented on #749
Wie am 26. September auf Mumble besprochen, wäre eine Warnung durchaus ausreichend. Trotzdem werde ich auch das mit dem Callback versuchen.

[2019-09-26 13:41] Mynyx commented on #754
Dadurch würde die Komplexität des Backend weiter gesteigert werden - vielleicht statt des Menüs einfach ein Textfeld, wenn eine bestimmte Anzahl an Frontend-Benutzern überschritten wird?

[2019-09-26 13:44] leofeyer commented on #754
Wie am 26. September auf Mumble besprochen, wollen wir das Select-Menü durch ein Textfeld ersetzen und ggf. die Autovervollständigung aus der Frontend-Vorschau ergänzen. Da aber vermutlich in 99% der Fälle immer derselbe, generische Benutzer gewählt wird, könnte man auch nur das Textfeld haben und den gewählten Benutzer speichern.

[2019-09-26 13:53] leofeyer commented on #501
As discussed in Mumble on September 26th, the XML sitemap should not contain pages that have the `noindex,nofollow` attribute but it should ignore the "Show in sitemap" setting, which is meant for the HTML sitemap module only.

[2019-09-26 14:09] contaoacademy commented on #754
Finde die Lösung mit dem Textfeld inkl. Speichern-Button perfekt.

[2019-09-26 14:10] leofeyer commented on #1957
As discussed in Mumble on September 26th, we want to support ISO-693-2 language codes in the site structure.

[2019-09-26 18:21] Mynyx opened #797 "Seitenlayout Feld JavaScript-Templates"
Im Seitenlayout können bei dem Feld JavaScript-Templates verschiedene Templates ausgewählt werden, deren Funktion und Einsatzbereich jedoch nicht direkt ersichtlich ist. Ein Hilfe-Assistent wäre bei diesem Feld von Vorteil.

In dem vorhandenen Erklärungstext `Hier können Sie eines oder mehrere JavaScript-Templates auswählen.` ist denke ich auch ein Schreibfehler, es müsste wohl "ein" statt "eines"

[2019-09-26 18:50] Mynyx opened #798 "Fehlendes Template führt zu weißer Seite ohne Log-Eintrag"
Wenn im Frontend ein Template nicht gefunden werden kann, führt dies zu einer weißen Seite (das Template `@ContaoCore/Error/error.html.twig` wird nicht angezeigt) und es erfolgt kein Eintrag im Log (`var/log/prod-xxxx-xx-xx.log`).

Dieses Problem tritt beispielsweise auf, wenn in einem Seitenlayout noch XHTML als Ausgabeformat gespeichert ist.

Auch reproduzierbar indem `vendor/contao/core-bundle/

[2019-09-26 20:44] Mynyx opened #799 "Inhaltselement Typ Downloads Versionsvergleich nach geänderter Reihenfolge der Quelldateien"
Wenn bei Inhaltselementen vom Typ Downloads die Reihenfolge der Quelldateien verändert wird, wird das Feld Sortierreihenfolge beim Versionsvergleich mit leerem Inhalt angezeigt:

![image](https://user-images.githubusercontent.com/1632642/65723528-da206c00-e0ae-11e9-8d5e-b26d95f1c31b.png)

[2019-09-26 21:17] Mynyx opened #800 "Optionen "Sortieren nach" bei Inhaltselementen Typ Downloads"
Im Menü "Sortieren nach" bei Inhaltselementen vom Typ Downloads stehen folgende Optionen zur Auswahl:
- Individuelle Reihenfolge
- Dateiname (aufsteigend)
- Dateiname (absteigend)
- Datum (aufsteigend)
- Datum (absteigend)
- Zufällige Reihenfolge ohne Seitenumbruch

Für `Datum` könnte eine präzisere Angabe wie Änderungsdatum oder Erstellungsdatum erfolgen.

Bei `Zufällige Reihenfolge ohne Seitenum

[2019-09-27 06:40] fritzmg commented on #800
Es ist aber weder das Änderungsdatum noch das "Erstellungsdatum". Es ist das Feld __Datum__ aus den Einstellungen der Nachricht (allerdings inkl. __Uhrzeit__).

Übersetzungen werden über Transifex verwaltet. Du kannst dich dort registrieren und Zugang zum Contao Projekt verlangen und dann eigene Vorschläge für die Übersetzung von "Pagination" bringen ;)

[2019-09-27 07:19] chriza opened #801 "Die Google Search Console weist auf Probleme mit dem Navigationspfade-Markup des Breadcrump-Template hin"
Contao ^4.4

Im Breadcrumb-Template fehlen die Felder position und item.

Ist:
[code]

Soll laut https://schema.org/itemListElement:

[code]

[2019-09-27 07:48] fritzmg commented on #801
Die Felder position und item sind vorhanden:

https://github.com/contao/contao/blob/066e2821eb175c56d8492d86501d17c840a7f25a/core-bundle/src/Resources/contao/templates/modules/mod_breadcrumb.html5#L10

[2019-09-27 07:54] contaoacademy opened #802 "file manager - files cannot be moved to parent folders"
**Affected version(s)**
Contao 4.8.3

**Description**
Moving files from a subfolder to a parent folder not possible (see screenshot)
![filemanager](https://user-images.githubusercontent.com/23719181/65752248-aecc6a00-e10c-11e9-9fe1-6383bfa386ac.jpg)

**How to reproduce**
1. Create subfolders
2. move a file from a subfolder to a parent folder

Notice: Drag & Drop is working

[2019-09-27 08:31] chriza commented on #801
Sorry,
sehe gerade, das das bootstrap Template betroffen ist.

[2019-09-27 08:31] #801 closed, assigned to nobody

[2019-09-27 08:58] asaage commented on #802
This also applies to duplicating files and in the templates module.

[2019-09-27 09:45] zonky2 opened #803 "neues Template erstellen mit "Postfix", wenn vorhanden"
Möchte man ein neues Template erstellen, was schon vorhanden ist, kommt eine Fehlermeldung das das Template schon vorhanden ist. So kann man nur mit Umwegen ein neues Template erstellen, auch wenn es einen anderen Templatenamen erhalten soll (z.B. Template in anderem Ordner erstellen, umbenennen, umziehen - oder vorhandenes umbenennen, neues hinzu, beide umbenennen)

Schön wäre, wenn hier, wie bei

[2019-09-27 14:57] leofeyer commented on #790
Kannst Du bitte einen Screenshot hochladen?

[2019-09-27 14:59] leofeyer commented on #786
Wie genau lautet der Pfad zur der CSS-Datei, wenn Contao diese im HTML-Code einbindet?

[2019-09-27 15:03] leofeyer commented on #795
Vermutlich könnten wir das Feld auch einfach leeren, denn `a:3:{i:0;s:0:"";i:1;s:0:"";i:2;s:0:"";}` entspricht `['', '', '']` und das wird genauso gehandhabt wie ein leerer String.

[2019-09-27 15:18] ausi commented on #791
Closed in favor of #804

[2019-09-27 15:18] #791 closed, assigned to ausi

[2019-09-27 16:03] ausi commented on #795
Als Alternative könnten wir das ImageSize widget anpassen sodass es beim laden von `['', '', 'proportional']` automatisch auf `['', '', '']` ändert.

[2019-09-27 16:03] asaage commented on #790
![image](https://user-images.githubusercontent.com/4138336/65782468-06d79080-e14e-11e9-97b8-857adaae44c5.png)
In der Tat verschwinden einige Leerzeichen.
Denke mal das wird am diff-parser liegen der macht aus Leerzeichen und Tab's ```&nbsp;``` und lässt dazwischen auch noch Leerzeichen stehen.

Wenn da überhaupt Handlungsbedarf besteht dann denke ich würde ich eher eine monospace Schrift an der St

[2019-09-27 16:07] Mynyx commented on #795
Das hätte den Vorteil, dass das Problem automatisch auch in Erweiterungen behoben wäre.

Warum nicht 4.4?

[2019-09-27 18:16] Mynyx commented on #790
Dass die Leerzeichen nicht als normale Leerzeichen sondern teils als `&nbsp;` ausgegeben werden, ist nicht das Problem, in der Gesamtheit ist es allerdings eines zu wenig.

Wobei ich nun noch festgestellt habe, dass wenn eine Zeile mit genau einem Leerzeichen beginnt, dieses auch verschwindet.

Die Problematik besteht insbesondere darin, dass beim Kopieren und Einfügen ein Leerzeichen fehlt. Kopie

[2019-09-28 09:31] fredigut commented on #802
Drag & Drop funkioniert auch nicht korrekt. Das verschobene Bild wird umbenannt und als PNG statt JPG abgelegt und gleichzeitig verkleinert (siehe Screenshot)
![Bildschirmfoto 2019-09-28 um 11 28 08](https://user-images.githubusercontent.com/42616484/65814542-7e0b3400-e1e3-11e9-96cd-ea67ab2ba9be.png)

[2019-09-28 11:16] ausi commented on #792
Closed in favor of #805

[2019-09-28 11:16] #792 closed, assigned to ausi

[2019-09-28 11:23] ausi commented on #795
Dort sollte der Fehler nicht auftreten, oder?

[2019-09-28 11:31] Mynyx commented on #795
Doch, sogar in 3.5 😃

[2019-09-28 16:53] contaoacademy commented on #786
Im Moment konnte ich dein Problem noch nicht reproduzieren.

Kannst du mir mehr zu diesen Punkten sagen:
- Nutzt du SCSS-Dateien oder CSS-Dateien?
- Ist die Option Skripte zusammenfassen aktiviert oder deaktiviert?
- Hast du in der Seitenstruktur das Caching aus?
- Arbeitest du Lokal oder direkt Online?
- Falls direkt Online, gibt es auf dem Server deines Hosters ggf. noch ein Caching?

[2019-09-29 21:08] Mynyx opened #807 "Protokoll in Titel und Benutzername bei Zwei-Faktor-Authentifizierung"
Wenn die Zwei-Faktor-Authentifizierung aktiviert wird, enthalten die an die genutzte App durch den QR-Code übertragenen Angaben zu Titel und Benutzername das Protokoll, worunter die Übersichtlichkeit leidet.

So lautet zum Beispiel der übertragene Benutzername `max.mustermann@https://www.example.com` statt `max.mustermann@www.example.com`.

[2019-09-30 06:29] TS16V commented on #786
Hi,

der Pfad im HEAD-Bereich lautet:  

<link rel="stylesheet" href="assets/css/files_layout_scss_zentrale.scss.css?v=e59e2678">

VG Thomas

[2019-09-30 08:54] TS16V commented on #786
Hi,

 - ich nutze Dateien im Format .scss, die dann in einer zentralen Datei zentrale.scss zusammenlaufen  <link rel="stylesheet" href="assets/css/files_layout_scss_zentrale.scss.css?v=e59e2678">

- die Option "Skripte zusammenfassen" ist deaktiviert, da ich HTTPS verwende. (wie im Schulungs-Video beschrieben wurde)

- In der Seitenstruktur beim Startpunkt ist im Bereich "Cache-Einstellungen" die

[2019-09-30 08:55] leofeyer commented on #797
Ich habe die Übersetzung angepasst. Bezüglich des Feature-Requests lasse ich das Ticket offen.

[2019-09-30 09:02] leofeyer commented on #795
Behoben in a80dfaaf38e809d7f059272e31d6224e73fe63a9.

[2019-09-30 09:02] #795 closed, assigned to leofeyer

[2019-09-30 09:23] aschempp commented on #748
@leofeyer der Fix ist falsch, es sollte einfach https://github.com/contao/contao/blob/master/core-bundle/src/Resources/contao/dca/tl_user.php#L242 auf `false` geändert (oder einfach entfernt) werden.

[2019-09-30 10:00] leofeyer commented on #694
Behoben in 9a8e91681a4d1acaf45e3ab48584f437be7a9078.

[2019-09-30 10:00] #694 closed, assigned to leofeyer

[2019-09-30 10:12] #780 closed, assigned to nobody

[2019-09-30 10:33] leofeyer commented on #748
Sicher nicht, denn sonst würde das Feld ja **immer** angezeigt!

[2019-09-30 11:42] leofeyer commented on #501
Fixed in a67301f0384dfa9914713da591144ce2b6cb6c2c.

[2019-09-30 12:07] xprojects-de opened #809 ""Warmlauf" - Geschwindigkeitsprobleme Contao 4.7.X und 4.8.X"
**Affected version(s)**
4.7.X und 4.8.X unter PHP 7.X

**Description**
Durch eine Vereins-Homepage-Aktion wurden mehrere Contao 4.8.3 - Webseiten bei verschiedenen Hostern (1und1, Strato und All-Inkl) erstellt und online gebracht.
Nach einiger Zeit fiel uns und auch den Vereinen auf, dass die Webseiten (ALLE!) immer beim ersten Seitenaufruf nach einer gewissen Zeit sehr langsam laufen (bis zu 20 s

[2019-09-30 12:56] leofeyer commented on #749
Ich habe den Callback in 6d6b12296ac27e36758506b5f5d3ea90d1e16025 implementiert.

[2019-09-30 12:56] #749 closed, assigned to leofeyer

[2019-09-30 12:57] ausi commented on #809
Wie verhält sich die Seite wenn in der Seitenstruktur unter „Cache-Einstellungen › Cachezeit Shared-Cache“ der Wert „0 (nicht cachen)“ eingestellt wird?

[2019-09-30 13:25] xprojects-de commented on #809
Cache hatte ich auch schon im Verdacht! Aber gleiches Verhalten. Hat keine Auswirkung! Es ist auch egal ob man das Frontend oder das Backend (DOMAIN/contao) aufruft. Das Verhalten ist immer gleich. Erst exterm langsam mit bis zu 20 sec und danach mega schnell für die nächsten Stunde(n)! Hatte schon den ALl-Inkl Datenbankserver im Verdacht, aber das Verhalten haben wir sowohl bei Strato, 1und1 als

[2019-09-30 13:36] aschempp commented on #756
Is that really a problem if you push the changes to Transifex a few days before the release? I also di have similar things with the Contao Manager and simply skip merging the lines when synching with Transifex, so the old labels remain until they are correctly translated.

[2019-09-30 14:00] ausi commented on #809
Um auszuschließen dass es sich um ein Problem mit dem Webspace handelt könntest du ein Test-Skript nutzen um die Geschwindigkeit eines simplen PHP-Skript mit DB-Zugriff zu testen.

Z. B. */web/test.php* mit folgendem Inhalt:

[code]

[2019-09-30 14:06] aschempp commented on #1957
can anyone explain what `ISO-693-2` means? What would the URL look like?
I come to think we might want to allow "anything", we just can't detect that from a user's browser?

[2019-09-30 14:32] aschempp commented on #754
Gefällt mir auch am besten. Aber wo speichern wir sowas? Im App-Cache?

[2019-09-30 14:38] hinzke commented on #1957
Wikipedia for example ist using **<html class="client-nojs" lang="nds" dir="ltr">** or did you mean the url like contao.de/nds/ ?

[2019-09-30 14:45] xprojects-de commented on #809
Danke. Test gemacht. Folgendes Ergebnis:
- Testwebseite seit 2 Tagen nicht mehr aufgerufen (Contao 4.8.3 - Testumgebung bei All-Inkl)
- dbcheck-Script aufgerufen mit Ergebnis:
=> stdClass Object ( [id] => 1 ) 1569854018.79 <=> 1569854018.93 => 140ms!
- Contao-Frontend augerufen 20 sec!!!!! Danach wieder schnell
- dbcheck-Script erneut aufgerufen mit Ergebnis:
stdClass Object ( [id] => 1 ) 15698544

[2019-09-30 14:57] fritzmg commented on #809
Warum? Dein Test zeigt ja, dass selbst der einfache Query beim ersten Aufruf nach langer Zeit 140ms dauert.

[2019-09-30 16:10] leofeyer commented on #807
Geändert in 06ce1f1e4f98de91d12348180b60c0da55b2fed0.

[2019-09-30 16:10] #807 closed, assigned to leofeyer

[2019-09-30 16:57] xprojects-de commented on #809
Ok verstehe, aber nun habe ich fogenden Log:

Bad-Log:
[30.09.2019 16:44:24.618374] ---------- start of Script: 1569861864.6184 ----------
[30.09.2019 16:44:24.655541] DB-Check [tl_content]: 1569861864.6198 <=> 1569861864.6555
[30.09.2019 16:44:24.676013] DB-Check [tl_page]: 1569861864.6556 <=> 1569861864.676
[30.09.2019 16:44:24.686217] DB-Check [tl_article]: 1569861864.676 <=> 1569861864.6862
[3

[2019-09-30 17:38] ausi commented on #809
Das könntest du testen indem du die SQL queries misst:

[code]

[2019-09-30 17:51] Mynyx commented on #809
Wie sind die Parameter `realpath_cache_size` und `realpath_cache_ttl` konfiguriert (siehe `phpinfo()`)?

[2019-09-30 18:10] xprojects-de commented on #809
realpath_cache_size: 4096K
realpath_cache_ttl: 120

queryTimes-Script ist implementiert und wird in ein paar Stunden geliefert :-)

Schon mal danke für eure Hilfe!

[2019-09-30 18:22] ausi commented on #1957
`ISO-693-2` is a list of three-letter codes for languages. Supporting three-letter codes is necessary if you want to use a language for which no two-letter code (`ISO 639-1`) exists.

The Intl extension and Symfony seem to support these three-letter codes, E.g. `Locale::parseLocale('deu_AUT') === Locale::parseLocale('de_AT')` evaluates to `true`.

`https://contao.org/nds/download.html` for the lan

[2019-09-30 20:05] xchs commented on #809
Ich konnte das Verhalten ebenfalls in einer Testinstallation beobachten. Allerdings war das seinerzeit noch Contao 4.6 und die Testinstallation wurde inzwischen schon wieder gelöscht:

[code]

![jqt75u2z](https://user-images.githubusercontent.com/1218766/65911922-aeaec180-e3cd-11e9-903d-ae562e1dfc99.png)

Der selbe Aufruf unmittelbar danach:

![kejr5dae](https://user-images.githubusercontent.com/1

[2019-09-30 20:24] leofeyer commented on #802
Fixed in 5320072cbba5dcc3be31c28d567e24b5c7f2a4b9.

[2019-09-30 20:24] #802 closed, assigned to leofeyer

[2019-09-30 20:28] leofeyer commented on #754
In der Session?

[2019-10-01 04:17] xprojects-de commented on #809
Nun hier der Log. DB-Abfragen schauen zeitlich denke ich ganz gut aus oder?

BAD
[01.10.2019 04:11:47.608999] ---------- start of Script: 1569903107.61 ----------
[01.10.2019 04:11:47.675066] DB-Check [tl_content]: 1569903107.61 <=> 1569903107.68
[01.10.2019 04:11:47.728916] DB-Check [tl_page]: 1569903107.68 <=> 1569903107.73
[01.10.2019 04:11:47.759436] DB-Check [tl_article]: 1569903107.73 <=> 15

[2019-10-01 04:24] xprojects-de commented on #809
Hier noch ein Log von einem anderen Kunden bei HostEurope.
Der obige Log war bei All-inkl:

Good
[01.10.2019 04:21:06.047230] ---------- start of Script: 1569903666.0472 ----------
[01.10.2019 04:21:06.087877] DB-Check [tl_content]: 1569903666.0475 <=> 1569903666.0879
[01.10.2019 04:21:06.104872] DB-Check [tl_page]: 1569903666.088 <=> 1569903666.1049
[01.10.2019 04:21:06.115025] DB-Check [tl_artic

[2019-10-01 04:25] xprojects-de commented on #809
Sorry... Bitte bei Host-Europe "Good" und "Bad" tauschen :-)

[2019-10-01 04:32] xprojects-de commented on #809
wieder einer von Strato.

Bad
[01.10.2019 04:27:55.895978] ---------- start of Script: 1569904075.9 ----------
[01.10.2019 04:27:55.968497] DB-Check [tl_content]: 1569904075.9 <=> 1569904075.97
[01.10.2019 04:27:56.001034] DB-Check [tl_page]: 1569904075.97 <=> 1569904076
[01.10.2019 04:27:56.057458] DB-Check [tl_article]: 1569904076 <=> 1569904076.06
[01.10.2019 04:27:56.093921] DB-Check [tl_user]

[2019-10-01 06:15] Mynyx commented on #809
Neben dem Umstand, dass die Differenz der Query-Times bei deinen Tests unter einer Sekunde liegt (bei Hosteurope nur eine zehntel Sekunde), habe ich diesbezüglich auch noch einen Test durchgeführt.
Dazu habe ich den Ordner einer Contao 4.8-Installation mehrfach kopiert und die Kopien unter zwei verschiedenen Subdomains bereitgestellt (mit denselben Datenbankzugangsdaten). Heute morgen war dann unt

[2019-10-01 06:22] xprojects-de commented on #809
Ok das klingt für mich auch plausibel. Danke fürs Prüfen!
Kann hier von Kundenseite optimiert werden oder müsste da bei der grundsätzlichen Architektur angeriffen werden?

Es wäre so schade wenn so ein "geiles" System so eine Krücke hätte? Wir machen halt doch immer wieder Seiten, welche wenig stark frequentiert sind (z.B. Vereine oder ähnliche) und da möchte ich ungern auf Contao verzichten! :-)

[2019-10-01 17:23] xprojects-de commented on #809
Hi,
zu guter Letzt noch mal einen mit 20 Sec bei All-Inkl:

Bad
[01.10.2019 17:19:20.676863] ---------- start of Script: 1569950360.68 ----------
[01.10.2019 17:19:20.690810] DB-Check [tl_content]: 1569950360.68 <=> 1569950360.69
[01.10.2019 17:19:20.691455] DB-Check [tl_page]: 1569950360.69 <=> 1569950360.69
[01.10.2019 17:19:20.691894] DB-Check [tl_article]: 1569950360.69 <=> 1569950360.69
[01.1

[2019-10-01 19:18] Mynyx commented on #809
Als Sofortmaßnahme könntest du Cronjobs einrichten, der stündlich einen Aufruf durchführen. (Oder einen kostenlosen Monitoring-Service nutzen, der entsprechende Aufrufe durchführt).

Nutzt du den Contao Manager?

[2019-10-02 06:26] xprojects-de commented on #809
Ja das habe ich schon am Laufen. Danke für die Info.
Mir gehts halt nur darum, dass man das Problem angeht oder wenigstens mal bewertet ob man da was machen kann.

[2019-10-02 09:16] m-vo opened #811 "Listing events is broken with 32-bit php versions"
**Affected version(s)**
4.8

**Description**
The changes from 8befee845bd83a1fe10f317d1e0bebcc977b6766 introduce a large integer that is interpreted as float on 32-bit builds.
[code]

This value is casted to an integer here (which fails with the results `-1`):
https://github.com/contao/contao/blob/master/calendar-bundle/src/Resources/contao/models/CalendarEventsModel.php#L240-L244

As an effect th

[2019-10-02 09:54] frontendschlampe opened #812 "Validate stop date > start date"
**Affected version(s)**

I think all versions will be affected.

**Description**

Actually the function _show from/show until_ is working just for the following cases:

1. _show from_ is activated
2. _show until_ is activated
3. _both options_ are activated, but _show until_ must be a higher date than _show from_

The following option is not working:
4. _both options_ are activated, but _show unti

[2019-10-02 10:07] frontendschlampe opened #813 "automatic internal redirect of an internal redirect"
**Affected version(s)**

I think all versions will be affected.

**Description**

For a page we can make an internal redirect. If I don't directly choose a target page (no selection), Contao makes a redirect to the first child page, but this is only working, if the first child page is no redirect page. As discussed in last Mumble call we can change this.

**How to reproduce**

- _page 1_ - interna

[2019-10-02 11:01] leofeyer commented on #811
I guess it should be `min(4294967295, PHP_INT_MAX)` then.

[2019-10-02 12:18] asaage commented on #812
Iinteresting use-case...
I guess if it will ever behave like that in the future we will need more icons https://github.com/contao/core-bundle/pull/940 😆

[2019-10-02 13:39] m-vo commented on #811
agreed

[2019-10-02 13:41] leofeyer commented on #669
Implemented in 3d65f31212123a90816fc75eb6ef1b98749285c1.

[2019-10-02 13:41] #669 closed, assigned to leofeyer

[2019-10-02 13:51] m-vo commented on #811
closing in favor of #814

[2019-10-02 13:51] #811 closed, assigned to leofeyer

[2019-10-02 14:38] Helrunar commented on #436
Still not working ... I have updated from 4.4.34 to 4.4.44 and got the same error

[2019-10-02 22:44] ausi commented on #809
Wenn die Datenbank ausgeschlossen werden kann, könnte eventuell das deaktivieren von [`opcache.enable`](https://www.php.net/manual/en/opcache.configuration.php#ini.opcache.enable) zeigen ob es mit dem opcode cache zusammen hängt. Wenn mit `opcache.enable=0` jeder Zugriff sehr lange dauert liegt der Fehler vermutlich in der Konfiguration des opcode caches.

[2019-10-03 08:32] leofeyer commented on #436
Did you update the database in the Contao install tool?

[2019-10-03 10:58] Mynyx opened #815 "System-Log Funktion Contao\PageRoot::getNextPage"
Im System-Log wird zur Funktion `Contao\PageRoot::getNextPage` die Meldung `No active page found under root page "1")` protokolliert. Die schließende Klammer am Ende ist wohl ein Tippfehler.

[2019-10-03 14:34] leofeyer commented on #815
Welche Contao-Version ist betroffen?

[2019-10-03 15:41] Mynyx commented on #815
Contao 4.4.44

[2019-10-04 10:37] erikherbert opened #816 "Passwort Hinweis: mind. 8 Zeichen"
**Affected version(s)**
CONTAO 4.*

**Description**
Bei der Erstellung eines Nutzers oder Erstellung eines neuen Passworts für das Backend im Beschreibungstext der Passwort-Eingabe darauf hinweisen das es mind. 8 Zeichen sein müssen.

**How to reproduce**
Änderung in der default.xlf

<trans-unit id="MSC.password.1">
     <source>Please enter a password (**min. 8 characters**).</source>
     <targe

[2019-10-04 13:32] Helrunar commented on #436
Yes i did and all work fine except the update of tl_news

[2019-10-04 19:16] Aybee commented on #809
Möchte nur bestätigen, dass ich diese langen Wartezeiten auch bemerkt habe seit Contao 4. Ich dachte, damit müsste man leben.

[2019-10-05 09:46] Mynyx commented on #812
See https://github.com/contao/core/issues/8818

[2019-10-05 10:01] Mynyx opened #817 "Erklärungstext zur Einstellung "Den Command-Scheduler deaktivieren""
Der Erklärungstext zu der Option `Den Command-Scheduler deaktivieren` in den Einstellungen lautet `Den Periodic Command Scheduler deaktivieren und die _contao/cron-Route mittels eines echten Cronjobs (den Sie selbst einrichten müssen) ausführen.` bzw. `Disable the periodic command scheduler and trigger the _contao/cron route by a real cron job (which you have to set up manually).`

Eine Informatio

[2019-10-05 11:30] Mynyx opened #818 "Hinweis auf von der Synchronisation ausgenommene Ordner bei Suche in Dateiverwaltung"
In der Dateiverwaltung wird bei Nutzung der Suche der Hinweis `Von der Synchronisation ausgenommene Ordner sind in den Suchergebnissen nicht berücksichtigt.` auch dann angezeigt, wenn keine Ordner von der Synchronisation ausgenommen wurden.

Insbesondere für reguläre Benutzer ohne technische Kenntnisse ist dieser Hinweis verwirrend.

[2019-10-05 11:43] Mynyx opened #819 "Verschobene Icons in Dateiverwaltung wenn Recht für Quelltexteditor fehlt"
Im Backend werden die Icons normalerweise stets bündig angezeigt und für nicht aufrufbare Aktionen wird ein graues Icon dargestellt, um die bündige Darstellung zu wahren:

![image](https://user-images.githubusercontent.com/1632642/66254290-9abfe280-e774-11e9-9dbd-bdd3147db19e.png)

Wenn einem regulären Benutzer jedoch das Recht `Dateien im Quelltexteditor bearbeiten` in der Dateiverwaltung fehlt,

[2019-10-05 11:58] Mynyx opened #820 "Richtung des Icons für Seitentyp Externe Weiterleitung"
In Contao 4 wird für den Seitentyp `Externe Weiterleitung` ein Icon mit Pfeil nach links angezeigt:
![image](https://user-images.githubusercontent.com/1632642/66254528-b5e02180-e777-11e9-86c8-b9dff0bd57c3.png)

Mit einem Pfeil nach links würde ich jedoch eher eine Navigation zurück verbinden und nicht eine Weiterleitung.

In Contao 3 handelte es sich noch um einen Pfeil nach rechts:
![image](https

[2019-10-05 12:04] andreheeke commented on #817
Ich sehe das nicht als notwendige Ergänzung. Dies ist eher ein Fall für die neue Contao-Dokumentation, die etwa zur Konferenz veröffentlicht werden soll. Außerdem ist es eine Entscheidung des Webmasters wie häufig er den Cron ausführt. Das ist eine ziemlich individuelle Frage...

[2019-10-05 12:10] Mynyx opened #821 "Ordner files/__new__ wird nicht gelöscht"
Wenn in der Dateiverwaltung ein neuer Ordner beispielsweise im Wurzelverzeichnis erstellt wird, dann wird bereits bei Aufruf des Formulares `Einen neuen Ordner erstellen` ein neuer Ordner `files/__new__` angelegt.

Wenn anschließend ohne Eingabe eines Namens auf Speichern geklickt wird (HTML5-Validierung deaktivieren), wird die Datei `files/__new__/.public` angelegt.

Dadurch wird der Ordner `file

[2019-10-05 13:41] asaage commented on #819
https://github.com/contao/contao/issues/195

[2019-10-05 16:42] Mynyx commented on #819
Die Diskussion wurde damit abgeschlossen, dass die grauen Icons beibehalten werden. Dazu ist der oben beschriebene Fall inkonsistent.

[2019-10-05 17:56] Mynyx commented on #800
Deine Antwort bezieht sich offenbar auf News und nicht auf Inhaltselemente vom Typ Downloads?

[2019-10-05 18:33] Mynyx opened #822 "URL-Suffix / wird bei Fehler 404 an URL angefügt"
Wenn in Contao 4.4.44 als URL-Suffix `/` konfiguriert ist, erfolgt bei einem Fehler 404 zunächst eine Umleitung mit dem Status-Code 301, bei der das URL-Suffix an die URL angefügt wird, bevor dann die Fehlerseite angezeigt wird. Beispielsweise wird von `example.com/test` zu `example.com/test/` oder von `example.com/test.jpg` zu `example.com/test.jpg/` umgeleitet.

[2019-10-05 19:56] TS16V commented on #786
Gibt es schon eine Problem-Lösung?
Liese sich im Contao-Manager denn nicht wieder der DEV-Modus aktivieren wir in Contao 4.6?

[2019-10-05 20:40] Mynyx opened #823 "Feld "Nur Gästen anzeigen" bei Frontend-Modulen für Mitglieder"
Beim Bearbeiten von Frontend-Modulen für Mitglieder (z. B. "Personendaten" oder "Passwort ändern") wird das Feld "Nur Gästen anzeigen" in der Rubrik Experteneinstellungen angezeigt, obwohl diese Module ausschließlich angemeldeten Mitgliedern angezeigt werden.

[2019-10-05 21:01] Mynyx commented on #823
Analog betrifft dies auch das Feld "Modul schützen" bei Modulen wie "Registrierung".

[2019-10-05 21:17] fritzmg commented on #822
That is imho correct behavior.

[2019-10-06 08:12] Mynyx commented on #822
Why?

[2019-10-06 17:34] Mynyx opened #825 "Optimierung DC_Table::filterMenu"
Durch Ergänzung der folgenden elseif-Statements in der Funktion `DC_Table::filterMenu` um `isset`-Bedingungen, ist eine signifikante Optimierung möglich. Wenn die Fälle nicht gegeben sind, wird die Scriptlaufzeit bei großen Datenmengen um mehr als die Hälfte reduziert.

https://github.com/contao/contao/blob/8b8c1e02c29705887293d51331a3212b95ddf798/core-bundle/src/Resources/contao/drivers/DC_Table.

[2019-10-06 17:58] rabauss opened #826 "User permissions for backend modules of system/design can not be enabled"
**Affected version(s)**
4.4.44 (with custom system/design extensions - only tested for system extension)
4.8.4 (with custom design extensions - not tested)

**Description**
Since https://github.com/contao/contao/commit/6d6b12296ac27e36758506b5f5d3ea90d1e16025 we have some problems with user permissions of system/design modules. At first I could not explain it and then I did some research.

Because

[2019-10-06 19:38] leofeyer commented on #825
Wie lässt sich das nachvollziehen?

[2019-10-06 19:41] leofeyer commented on #822
Are you sure that the redirect is done by Contao and not by the web server?

[2019-10-06 19:43] leofeyer commented on #819
Welche Contao-Version betrifft das?

[2019-10-06 19:44] leofeyer commented on #821
Welche Contao-Version betrifft das?

[2019-10-06 19:49] leofeyer commented on #812
That is a very adventurous expectation indeed. 😄

[2019-10-06 22:38] andreheeke commented on #822
I can't confirm that. We always configure Contao without the .html suffix and no additional slash is appended there when a 404 error page is called. Tested in version 4.4 and 4.8.

[2019-10-06 22:47] andreheeke commented on #821
Kann ich unter Contao 4.4 bestätigen.
Allerdings musste ich dafür das required-Attribut auch von dem Input-Tag manuell im DOM entfernen. Erstens glaube ich nicht das der Großteil der Nutzer die HTML5-Validierung manuell deaktiviert oder das jemand das Contao-Backend unter IE10 und älter noch nutzt (hoffen darf man ja)...

[2019-10-06 22:57] Mynyx commented on #819
Contao 4.4.44

Um den Unterschied zu erkennen, ist es notwendig, dass in den Filemounts auch Unterordner bestehen.

[2019-10-06 23:03] Mynyx commented on #822
@andreheeke Without the `.html` suffix or with `/` suffix?

[2019-10-07 07:10] frontendschlampe commented on #812
Really?

I have the following use case: I have a button on a webpage. The webpage describes an external service. The button is linked to the external service. But the service is not reachable for 3 days because of maintenance. So I want to hide the button for the 3 days and show a hint, that the service is not available. When the service is back again, I want to hide the hint and show the button.

[2019-10-07 07:53] webaffin commented on #809
Bei mir taucht das Problem ebenfalls auf, und zwar bei Contao 4.4.X.
vgl. https://community.contao.org/de/showthread.php?73770-Geschwindigkeitsproblem-bei-1-amp-1-Ionos/page2&p=511357&viewfull=1#post511357

[2019-10-07 08:55] Toflar commented on #1032
That's correct. `private` is not supposed to disable caching.
I don't understand why you think it should?

Yes, if we want to make sure the logout redirect is not cached, then we have to add those headers. However, `post-check` and `pre-check` are nonsense.

[2019-10-07 09:12] sebj54 commented on #1032
You're right, I didn't express myself clearly. Here is what I wanted to say: I think this page should never be cached and I know the `private` value does not avoid cache.

Now, the values I added in my temporary may not be the correct ones as I rarely play with cache options. To be honest, I found these values on Stack Overflow post.

[2019-10-07 09:47] andreheeke commented on #822
@Mynyx We're not setting any suffix.  If you set a simple slash as a suffix, it will of course be appended at the end when you call a 404 error page.

[2019-10-07 11:28] leofeyer commented on #826
[code]

[2019-10-07 11:33] asaage commented on #812
I don't necessarily consider this as a bug - althought the start/stop-fields could theoretically check each other for plausibility in terms of the implemented logic to avoid adventurous expectations.

I probably would appreciate the possibility of start>stop as a feature.

@frontendschlampe An intermediate solution would be to duplicate the content (button) and show one *until* and the other one *

[2019-10-07 11:41] frontendschlampe commented on #812
I don't know, if we can call it bug or feature! ;-)

It's not described, that _show from/show until_ is working only from _show from_ to _show until_. I think it's not relevant if it's working from _show from_ to _show until_ or _show until_ to _show from_. There're just two fields:

1. _show from_
2. _show until_

I think, there's no technical limitation which field should be filled or which date

[2019-10-07 11:43] frontendschlampe commented on #812
It's a solution, but not a good one. I solved the problem manually! ;-)

[2019-10-07 13:39] smeyli opened #827 "Dateiverwaltung - Umlaute im Dateinamen erzeugen Fehler"
**Affected version(s)**
4.8.3 und 4.8.2
PHP 7.2
All-Inkl V6-Server

**Description**
Dateiverwaltung: ist eine Datei mit einem Umlaut in einem angelegten Verzeichnis vorhanden, lässt sich dieses Verzeichnis nicht öffnen. Ebensowenig kann man alle Verzeichnisse auf einmal umschalten (Öffnen) - Internal Server Error, Die Dateiverwaltung ist nicht mehr aufrufbar - Es bleibt nur der Weg über "Session-D

[2019-10-07 13:50] andreheeke opened #828 "Individual templates doesn't load at form generator"
**Affected version(s)**
4.8.4

**Description**
The individual templates are no longer loaded in the form generator with the field type "Textfield".

**How to reproduce**
Create a new template with the name `form_textfield_<NAME>.html5` and try to select it in the form generator.

[2019-10-07 17:22] Mynyx commented on #822
Yes, the redirect only occurs if the suffix `/` is configured in Contao version 4.4. It does neither occur when another suffix is configured nor Contao 3.5 or 4.8 is used.

[2019-10-07 17:47] Mynyx opened #830 "Optimierung zur Darstellung der Beschreibung in der Versionsübersicht"
In der Versionsübersicht auf der Startseite des Backends wird der Text in der Spalte Beschreibung derzeit nach einer festen Anzahl an Zeichen abgeschnitten.

Im Sinne von Responsive Design ist es mit CSS möglich, den vollständigen Text auszugeben und diesen dann dynamisch abhängig vom zur Verfügung stehenden Platz abzuschneiden. Wenn eine Kürzung notwendig ist, werden dabei ebenfalls `…` angezeigt

[2019-10-07 18:02] contaoacademy commented on #828
I can confirm this problem.

Maybe the changes in #731 has to do something with this behavior.

[2019-10-08 06:20] Mynyx commented on #830
Leider doch nicht mit allen Browsern kompatibel.

[2019-10-08 06:45] leofeyer commented on #830
In welchen Browsern ging es denn nicht? Laut caniuse.com sollten das eigentlich alle Browser können: https://caniuse.com/#feat=text-overflow

[2019-10-08 07:56] m-vo commented on #830
Es sollte gut funktionieren bei reinem Text (`<p style="text-overflow: ellipsis;">...</p>`) - die Browser unterscheiden sich aber teilweise sehr, wenn es um komplexere Inhalte wie nested blocks, floats, ... geht (das Verhalten ist imho nicht vollumfänglich spezifiziert).

[2019-10-08 12:41] Aybee opened #832 "booknav does not work as inspected"
**Affected version(s)**
4.4 + 4.8 (online demo)

**Description**
Ich erwarte, dass die Buchnavigation die Seiten erkennt, welche sich auf der gleichen Ebene befinden, und dementsprechend Links anbietet um auf die nächste/vorherige Seite oder die Elternseite zu verlinken (top). Es ist schwer zu beschreiben was passiert. Die booknav taucht manchmal auf, manchmal nicht und oft mit falschen Links.

**

[2019-10-08 13:37] Zodiac1978 commented on #827
Echter Umlaut oder Vokal + Trema?
Siehe: https://torstenlandsiedel.de/2016/01/08/normalisieren-eine-bugticket-erlebnisreise-in-die-unicode-welt/

Passiert vor allem bei Macs, da das Dateisystem HFS+ mit NFD (statt NFC) arbeitet. Upload mit Safari sollte klappen, aber Upload mit Firefox/Chrome/etc. macht dann Probleme, da sie nicht beim Upload normalisieren.

Wenn es das ist, dann wäre Betriebssyst

[2019-10-08 13:58] Aybee opened #833 "Delete the accordion Wrapper stop if the Wrapper start gets deleted"
**Description**
Contao 4.4.40 (muss Kunde noch auf Update hinweisen)

Ich war gerade in ner Seite von mir und wunderte mich, warum das Layout zerschossen ist. Da hat der Kunde wohl Artikel kopiert und dann einige Akkordeon **Umschlag Anfang** gelöscht und die **Umschlag Ende** vergessen. Hat einiges an Zeit gekostet, bis ich das herausgefunden habe, hatte den Fehler erstmal bei mir gesucht.

**Kan

[2019-10-08 14:10] m-vo commented on #833
Imho brauchen wir echte Wrapper-Elemente (die einen Kind-Context haben).

[2019-10-08 14:45] asaage commented on #832
Meines Wissens liest sie ab der Referenzseite den Seitenbaum von von oben nach unten wie er im BE angelegt ist.
Durch interne Weiterleitungen oder "im Menü nicht sichtbar" kann es natürlich zu Sprüngen oder Aussetzern kommen.

[2019-10-08 14:48] asaage commented on #833
https://github.com/contao/contao/issues/391

[2019-10-09 13:01] rabauss opened #835 "DcaSchemaProvider->parseColumnSql explodes null"
**Affected version(s)**
4.8.4

**Description**
I updated a Contao 4.4 to 4.8.4 and then I got some trouble in the installer.
Unfortunately, I just found the error after some debugging because the log won't tell you the reason.
In a custom DCA we had some legacy sql definition (the value was `"INTEGER"` - without any whitespaces).

Finally I found the reason, that `$def` can be `null`, if the strin

[2019-10-09 13:07] xprojects-de commented on #809
opcache ist bei keinem der Server aktiv. Denke dass dieser bei den meissten Standard-Paketen nicht aktiv sein wird. Bei All-inkl gibt es das beispielweise erst ab einem bestimmten Performance-Paket.
Klar wäre das besser, aber sollte doch auch ohne einigermaßen perfomant laufen oder?!

[2019-10-09 15:31] Anke opened #836 "Force FE users to change password"
**Description**
I'm pleading for a possibility to make FE users change their passwords sporadically.

At the moment I can only reset their passwords by overwriting them, so that they will not be able to login but be forced to use "I forgot my password" function. In this case, however, nothing will prevent users from re-using their old passwords, that they might have been using for 8 years.

**Exam

[2019-10-10 00:06] xchs opened #838 "Friendly-name e-mail address with less-than and greater-than signs"
**Affected version(s)**
Contao 4.4 & Contao 4.8

**Description**
Contao should actually be able to handle both `Foobar <foobar@example.com>` and `Foobar [foobar@example.com]` friendly-name e-mail addresses. The `rgxp` evaluation in the `Widget` class checks for an friendly-name e-mail address in

https://github.com/contao/contao/blob/2635f5a043c1308fd3fe1352b4b9de7665206cc8/core-bundle/src/Resourc

[2019-10-10 12:57] obendev opened #839 "ce_hyperlink href doesn't match Environment request"
Hey, I tried setting my own active state for a page. While coding I noticed that the href in ce_hyperlink has a weird string.

Hyperlink is set to Inserttag `{{link_url::13}}` which is equal to `secretalias`.
URL I'm on: `https://domain.tld/secretalias`
[code]

Output
[code]

This makes this impossible to use
[code]

Also, `objPage->alias` matches `$this->Environment->request`, so it should work.

[2019-10-10 14:34] obendev commented on #839
**Solution** is `replaceInsertTags`
[code]

Because `$this->href` is `{{link_url::13}}`, not `secretalias`.

[2019-10-10 14:34] #839 closed, assigned to nobody

[2019-10-10 16:45] leofeyer commented on #839
You could also check `$this->href == '{{link_url::'.$objPage->id.'}}'`.

[2019-10-11 09:01] jonnysp commented on #828
same here please fix this soon

[2019-10-12 19:24] kroerig opened #842 "CSS Medientypen werden nicht exportiert."
**Affected version(s)**
4.8.x und vermutlich auch alle älteren

**Description**
Beim Exportieren des CSS Stylesheets eines Themes werden die Medientypen nicht mit exportiert (sofern nicht mit Mediaqueries verbunden)

**How to reproduce**
Stylesheet mit Medientyp "print" anlegen und exportieren.
Die exportierte Datei enthält keinen `@print {}`- Block.

Das erschwert Nutzern des internen Editors die

[2019-10-12 19:28] ausi commented on #827
Ich konnte das Problem nicht reproduzieren.

Ist in den Log-Dateien eine Fehlermeldung zu sehen?

Auf was muss die Datei umbenannt werden damit der Fehler auftritt? Kannst du ein konkretes Beispiel geben?

[2019-10-12 20:18] xchs commented on #827
Im Forum war die Rede von Dateinamen mit "ß": https://community.contao.org/de/showthread.php?76121-Dateiverwaltung-erzeugt-quot-internal-Server-Error-quot&p=512173&viewfull=1#post512173

[2019-10-14 08:50] eki89 opened #843 "Suche funktioniert nicht mehr"
**Affected version(s)**
4.8.x - Ältere Versionen scheinbar nicht betroffen

**Description**
Die Contao-Suche gibt keine Suchergebnisse mehr aus. Der Suchindex wird dabei grundsätzlich angelegt in der Datenbank.

**How to reproduce**
Die indexierung funktioniert in zwei unserer Installationen nicht mehr. Teilweise wird ein Suchcache angelegt, der scheinbar ab einem bestimmten Moment gewiped wird, b

[2019-10-14 08:54] fritzmg commented on #843
Were you able to reproduce it in a fresh Contao 4.8.4 installation?

[2019-10-14 10:09] eki89 commented on #843
Habe Contao soeben neu aufgesetzt und getestet. Wird keine Weiterleitung im Modul "Suchmaschine" eingestellt, funktioniert die Auflistung. Das macht so weit an sich auch durchaus Sinn, da man eh nicht das gleiche Suchmodul nutzen kann, wenn dieses im Layout verankert ist. Im Zusammenhang mit geschützten Seiten scheint es aber weiterhin Probleme zu geben. Ich versuche den Zustand in der frischen In

[2019-10-14 10:28] fritzmg commented on #843
Das ist normal. Für ein Suchmodul im Seitenlayout benutzt du die Weiterleitungsseite. Für das Suchmodul zur Anzeige der Ergebnisste stellst du _keine_ Weiterleitungsseite ein.

Welche Probleme? Geschütze Seiten werden nicht in den Suchindex aufgenommen, sofern nicht die entsprechende Option dafür in den System Einstellungen gesetzt ist.

[2019-10-14 13:26] aschempp commented on #748
das ergibt für mich keinen Sinn. Wir sollten doch nicht das Feld in den Berechtigungen "manipulieren", sondern aus der Palette für den User entfernen?

[2019-10-14 13:41] aschempp commented on #1957
I agree, but that means we don't simply want to add ISO-693-2. See https://github.com/contao/core-bundle/issues/233 for extensive information 😉

[2019-10-14 13:55] leofeyer commented on #835
Agreed. 😃

[2019-10-14 13:56] aschempp commented on #754
Im `BE_DATA` session bag 👍

[2019-10-14 14:00] aschempp commented on #823
Sinnvollerweise sollten wir wohl die entsprechenden Felder aus den Paletten entfernen

[2019-10-14 14:03] leofeyer commented on #838
You cannot use the `Name <email>` format in an input field, because the `Input` class (or more specifically the PHP `strip_tags()` method) would remove the `<email>` part that looks like an HTML tag. You will have to use the `Name [email]` format instead.

[2019-10-14 14:09] aschempp commented on #833
Maybe we should consider using an ODM for the `tl_content` table 🙈  🛠

[2019-10-14 14:11] aschempp commented on #836
https://extensions.contao.org/?p=terminal42%2Fcontao-password-validation

[2019-10-14 14:17] leofeyer commented on #748
Da hast Du Recht. 🤦‍♂

[2019-10-14 14:28] leofeyer opened #845 "Try using the FilesystemTagAwareAdapter again"
**Description**

Symfony has improved the `FilesystemTagAwareAdapter` class in https://github.com/symfony/symfony/pull/33921, therefore we might want to remove the following line once we have upgraded to Symfony 4.4:

https://github.com/contao/contao/blob/2635f5a043c1308fd3fe1352b4b9de7665206cc8/manager-bundle/src/HttpKernel/ContaoCache.php#L83

[2019-10-14 15:08] aschempp commented on #835
Or we simply accept without a space as well? If that worked before, it should still work now?

[2019-10-14 15:23] aschempp commented on #809
Liegt das Problem nicht einfach am CronJob von Contao?

[2019-10-14 17:09] xprojects-de commented on #809
Leider nein. Der Command-Scheduler wurde in den Einstellungen schon deaktiviert.

[2019-10-14 17:31] leonexcc commented on #809
Ich habe etwas ähnliches beobachtet und bei mir liegt es daran, dass er nach einer Weile wieder die SCSS-Dateien neu in CSS umwandelt. Könnte das vielleicht auch hier der Fall sein? (Einfach mal die .css unter /assets/css löschen)