[2019-10-14 18:16] jankout opened #846 "Add "changelanguage" to the core distribution"
Hello,

I read the news about the implementation of the extension **ce_acess** and I am glad that you decided to do.

I would like to ask to do it also with the extension [**_changelanguage_**](https://github.com/terminal42/contao-changelanguage) which everybody needs to build a multilingual website. From scratch Contao supports multilingual websites but without any tools/modules we need as standa

[2019-10-14 19:59] ausi commented on #827
Auf einem Linux-Host hab ich einen invaliden UTF-8-Dateinamen getestet `foo\xDFbar.txt` und `f\xF6o\xDFbar.txt`.

Den Fehler konnte ich dennoch nicht exakt reproduzieren. In meinem Test wurden die beiden Dateien leer angezeigt:

<img width="712" alt="Bildschirmfoto 2019-10-14 um 21 57 12" src="https://user-images.githubusercontent.com/367169/66779181-d1f96680-eecd-11e9-8f4b-942e2f2a771c.png">

Die

[2019-10-14 21:00] Anke commented on #836
Cool - danke!

[2019-10-14 21:00] #836 closed, assigned to nobody

[2019-10-14 22:29] xchs commented on #838
All right, that explains the behavior.

So in that case, we could actually remove that check, right?

https://github.com/contao/contao/blob/2635f5a043c1308fd3fe1352b4b9de7665206cc8/core-bundle/src/Resources/contao/library/Contao/StringUtil.php#L413-L416

Do you think we should point out in the help text that only the `Name [email]` format is valid?

[2019-10-15 04:36] xprojects-de commented on #809
Habe ich getestet. Hat keine Auswirkung. Das Laden der Seite braucht anfangs trotzdem ewig obwohl die CSS nicht neu erstellt werden. Trotzdem danke für den Hinweis.

[2019-10-15 06:30] saress opened #847 "MySQL 8.0.15 - Error bei Abfrage der Benutzergruppe"
**Affected version(s)**
Contao 4.4.44 LTS, MySQL 8.0.15

**Description**
Der Versuch die Benutzergruppe bei den Benutzern oder Mitgliedern im Backend zu filtern
führt zu einer Fehlermeldung im Frontend, die anscheinend damit zu tun hat, dass Contao in der Query mit "groups" ein in MySQL 8 reserviertes Wort verwendet, siehe auch hier:

https://community.contao.org/de/showthread.php?76187-MySQL-8-0-

[2019-10-15 06:53] ausi commented on #847
Siehe auch https://github.com/contao/contao/issues/727#issuecomment-532132757

Anscheinend fehlen hier einige Aufrufe von `Database::quoteIdentifier()` für die Spalte auf der gefiltert wird im DC_Table: https://github.com/contao/contao/blob/0236382bf085f0a210409957c4b9c70c184f810b/core-bundle/src/Resources/contao/drivers/DC_Table.php#L5474-L5546

[2019-10-15 06:57] fritzmg commented on #838
You cannot remove this. This StringUtil function is also independent of this issue.

[2019-10-15 07:14] leofeyer commented on #838
Correct. The `StringUtil` class handles both cases.

[2019-10-15 08:03] contaoacademy opened #848 "Newsletter subscribe module don't show channels without redirect page"
**Affected version(s)**
4.8.4
4.4.44

**Description**
In the newsletter subscribe module only channels are displayed that have explicitly defined a redirect page.

**How to reproduce**

1. Add a new newsletter channel without selecting a redirect page
2. Add a module "newsletter subscribe"
3. You couldn't find a channel
4. Add a redirect page to the channel
5. You could select the channel in the "

[2019-10-15 14:17] Toflar opened #849 "Memory leaks with imagemagick and contao:resize-images"
**Affected version(s)**

4.8.*

**Description**

When I run `contao:resize-images -c 5 -t 0.1` I regularly run into a memory leak. The regular server pressure is about 2.5GB of memory and if I run the command, I hit the 14GB easily :/

**How to reproduce**

That's going to be a tough one :) Let's see in a bilateral talk if we can do anything about it.

[2019-10-15 19:39] Mynyx opened #850 "Übersetzung tl_user.thumbnails.1"
Die Übersetzung `tl_user.thumbnails.1` müsste statt `Vorschaubilder im Dateimanager anzeigen.` korrekt `Vorschaubilder in der Dateiverwaltung anzeigen.` lauten.

https://github.com/contao/contao/blob/cd84cd0079583c6cf965e9367a1325942abbc479/core-bundle/src/Resources/contao/languages/de/tl_user.xlf#L72-L75

[2019-10-15 21:12] MaximilianMrkwrt opened #851 "Wrong base url with reverse proxy"
**Affected version(s)**
4.8

**Description**
base url is https://example.com/example.com instead of https://example.com

I have a contao server behind a reverse proxy, which looks like this:
Internet <--HTTPS--> Reverse Proxy <--HTTP--> Contao
For that reason I have set `['TL_CONFIG']['sslProxyDomain'] = 'example.com';`

**How to reproduce**
Put contao behind a reverse proxy and set `sslProxyDomai

[2019-10-15 21:33] ausi commented on #849
I had similar issues for running the command the first time for a project with more than 10.000 images. The memory usage grew endlessly until the process was killed by the hosting provider. I was able to fix my issues by adding the following lines to https://github.com/contao/contao/blob/0d1bb6636c72140a35649ac411339b796fd7c273/core-bundle/src/Command/ResizeImagesCommand.php#L97

[code]

This shou

[2019-10-16 10:43] aschempp commented on #851
I don't think you need to set `sslProxyDomain`, have you tried what happens without it?

[2019-10-16 11:12] MaximilianMrkwrt commented on #851
Of course, if I don't set `sslProxyDomain`, base url will be http://example.com instead of https://example.com. Or even worse, when the proxy doesn't use the Host header, since it uses the X-Forwarded-Host header: http://some-local-ip ... Because of this, `sslProxyDomain` exists (I think). Only problem is `return 'https://' . $xhost . '/' . $host;`. I can't imagine a useful scenario for appending

[2019-10-16 14:03] eki89 commented on #843
Ich konnte mit deinen Tipps beide Probleme in diesem Zusammenhang lösen. Vielen Dank für deine Hilfe und entschuldigung für die falsche Fehlermeldung. Ich werde in Zukunft zunächst versuchen das Problem in einer frischen Installation zu reproduzieren.

[2019-10-16 14:03] #843 closed, assigned to nobody

[2019-10-16 16:39] MaximilianMrkwrt commented on #851
Let's say you have `$xhost`= example.com and `$host` = 192.168.0.3 than `return 'https://' . $xhost . '/' . $host` would give you https://example.com/192.168.0.3 . That doesn't make any sense for me.

However: If you don't use `sslProxyDomain` at all, you get `<base href="http://example.com/">` instead of **https**, because the reverse proxy uses http to communicate with the contao server, but the

[2019-10-16 18:33] Mynyx opened #853 "Verwaltung des Rechts für das Theme-Modul Theme-Import"
Wenn einem regulären Benutzer das Recht für das Modul Templates eingeräumt wurde, erscheint im Modul Benutzer eine Warnung: "Mindestens ein regulärer Benutzer hat Zugriff auf den Template-Editor. Da Templates PHP-Dateien sind, haben diese Benutzer implizit die volle Kontrolle über das System!"

1. Wenn einem regulären Benutzer das Recht für das Theme-Modul ``Theme-Import`` eingeräumt wurde, ersche

[2019-10-17 09:14] Toflar commented on #849
First tests show that limiting it only to 1 thread does not help. Up next: Trying to limit only the memory.

[2019-10-17 09:56] aschempp commented on #853
Aus meiner Sicht sollten Themes nur vom Admin importiert werden können.

[2019-10-17 10:07] leofeyer commented on #828
Your template name is wrong.

 * `FormExplanation` -> `form_explanation_custom`
 * `FormHtml` -> `form_html_custom`
 * `FormFieldsetStart` -> `form_fieldsetStart_custom`
 * `FormFieldsetStop` -> `form_fieldsetStop_custom`
 * **`FormTextField` -> `form_text_custom`**
 * `FormPassword` -> `form_password_custom`
 * `FormTextArea` -> `form_textarea_custom`
 * **`FormSelectMenu` -> `form_select_custom`

[2019-10-17 10:10] Toflar commented on #853
Definitiv, seh ich auch so wie @aschempp.

[2019-10-17 10:17] fritzmg commented on #828
The core uses `form_textfield`, not `form_text`: https://github.com/contao/contao/blob/4.8.4/core-bundle/src/Resources/contao/templates/forms/form_textfield.html5

[2019-10-17 10:41] aschempp commented on #828
Sorry about that. I think what @leofeyer means is that a custom template must be named `form_text_xxx`, even though the default name is `form_textfield`. That's because the "custom" name is derived from the field type, and the original templates are wrong since forever but can't be changed for BC reasons.

[2019-10-17 10:45] fritzmg commented on #828
Out of the bold highlighted list, only the FormTextField is an outlier, because the original template names of the others are in line with what you can actually select.

So for instance, if you go to _Themes_ - _Templates_ and create a new `form_select` template and then rename it to `form_select_custom`, it will work.

But if you create a new `form_textfield` template and you rename it to `form_t

[2019-10-17 10:50] leofeyer commented on #828
That is correct, however, we want the template name to derive from the class name and the other highlighted rows do not meet this requirement. I have marked the classes that need to be adjusted in d314f0be406fd88387eb9d7985f265b48458c7ed.

[2019-10-17 10:52] fritzmg commented on #828
Of course. But an administrator simply creating a new template for a text field would not even know anything about the class name. He only sees the template's name - which is `form_textfield`. And since, with every other template (including content elements & modules), you have to add `_<custom>` to the original template name, it will not be immedaitely apparent to the user, why he would not be ab

[2019-10-17 10:54] leofeyer commented on #828
I know. But we cannot rename the template without breaking BC…

[2019-10-17 10:56] fritzmg commented on #828
You do not have to rename the template. Only the select field in the back end needs to offer `form_textfield_...` as well, in addition to `form_text_...`.

[2019-10-17 10:56] leofeyer commented on #828
Guess we can do this.

[2019-10-17 11:01] fritzmg commented on #828
For example:
[code]
Or something like that.

[2019-10-17 12:28] leofeyer commented on #828
Fixed in b72ffb5812041154687c62f4bfb32705e832afc3.

[2019-10-17 12:28] #828 closed, assigned to leofeyer

[2019-10-17 12:52] asaage opened #855 "navigation-menu does not allways show redirect-pages"
**Affected version(s)** 4.8.4 (probably earlier)

**Description**
If you create a internal-redirect page without a target that page will automatically be redirected to the first child-page and then appear like that in the navigation module. That does not work if that child-page itself is a internal- or external redirect-page. None of the pages apear in the regular menu-module at all.
Is this inten

[2019-10-17 13:03] leofeyer commented on #835
Fixed in 6e8e97568f58843f6eb2026d9a465671c308625e.

[2019-10-17 13:03] #835 closed, assigned to leofeyer

[2019-10-17 14:49] ausi opened #856 "eval.path does not work correctly with the new fileTree picker"
**Affected version(s)** 4.8 (probably also 4.4?)

If I go to the file manager and select the folder *files/foo*, this folder gets stored in the session under `tl_files_node`.

If I then click on a `fileTree` widget which has the configuration `eval => ['path' => 'files/bar']` the breadcrumbs incorrectly display *files/foo* and no file or folder is visible:

![Screenshot_2019-10-17 Sale › Produkt I

[2019-10-20 09:40] fritzmg opened #858 "double cache-control response header"
**Affected version(s)**
4.8.4

**Description**
In one of our Contao 4.8.4 installations, we have set the private cache to 60 seconds and the public cache to 1 year. However, for some reason, the `cache-control` header is added two times in the response. Once with
[code]
and once with
[code]
This effectively disables the private cache.

**How to reproduce**
I wasn't able to reproduce this everywher

[2019-10-20 10:45] fritzmg commented on #858
On demo.contao.org, `cache-control: max-age=60` never seems to reach the client actually:
[code]

[2019-10-20 11:30] fritzmg commented on #501
We are currently checking for `noindex,nofollow`. Shouldn't it just check for `noindex` instead?
[code]
Otherwise the page will still be in the `sitemap.xml` if you are using `noindex,follow` - and then Google will complain that you have pages in your `sitemap.xml` that should not be indexed.

[2019-10-20 11:49] xchs commented on #501
I had that, too.

[2019-10-20 13:01] green-pixelbox opened #859 "mod_article Artikelalias wird im frontend nicht mehr als ID eingetragen"
Contao 4.4.42

Der Name des ARtikelalias im Backend wird im Frontend nicht mehr im DIV als ID eingetragen, sondern es gibt eine Standardausgabe mit "article-ID". Erst wenn ich in das CSS-Feld ID den Namen eintrage, wird im Frontend im DIV das auch als ID eingetragen, soweit richtig. Aber warum wird der Artikelalias nicht mehr als ID im Frontend ausgegeben? Hat das einen Grund? Das Problem trat nac

[2019-10-20 13:13] xchs commented on #859
Siehe https://github.com/contao/core/issues/4837

[2019-10-20 15:52] leofeyer commented on #858
Based on the `X-Firefox-Spdy` header being present, I assume that Cloudflare applies its own cache logic. You should try a website that is not run through Cloudflare.

[2019-10-20 15:53] leofeyer commented on #501
I don't think so. After all, we want Google to follow the links on the site, so it has to be in the sitemap, hasn't it? @ausi /cc

[2019-10-20 15:54] #859 closed, assigned to nobody

[2019-10-20 16:26] fritzmg commented on #501
Well the Google Search Console lists it as an error. Also I don't know of any use case where you would want to actually set `noindex,nofollow`.

[2019-10-20 17:07] tabcontao commented on #501
Privacy statement pages are often good candidates for "noindex,nofollow" IMHO. To include them in the Google Index is - at least - not nexessary. And there are rarely any links on such pages to other internal pages. To guide the Google-Bot to follow the external links doesn't make much sense as well. Anyway, "nofollow" is irrelevant IMHO when we decide if it should be in the XML-Sitemap. The setti

[2019-10-20 17:12] fritzmg commented on #501
Not sure I agree with that. Even your privacy statement page is part of your regular web site (usually) and thus most links on that page are still relevant for indexing. As long as there is _any_ link on a page, which in turn does _not_ contain `noindex`, using `nofollow` would be wrong.

[Outbound links should be qualified](https://support.google.com/webmasters/answer/96569) with the `rel` attrib

[2019-10-20 22:35] BugBuster1701 commented on #501
Die Einstellung "Nie anzeigen " wird unterschiedlich verwendet bezogen auf Modul und sitemap.xml?
Das mag zwar technisch alles richtig sein, aber das versteht doch wieder keiner.

Dann ändert das Label "In der Sitemap zeigen" in "Im Sitemap Modul zeigen" oder so, damit das eindeutiger wird.

[2019-10-21 10:38] webathlet commented on #809
Das kann ich auch bestätigen für derzeit aktuelle Contao 4.4. Installationen bei webgo auf PHP 7.3, PHP 7.2 & PHP 7.1 mal mit, mal ohne opcache, sei es Erstaufruf einer Frontend-Seite oder sogar Backend-Login. Inkl. aktiviertem Verzeichnisschutz/Basic Auth.

[2019-10-21 12:57] contaoacademy opened #861 "Layout - Order of frontend modules reversed"
**Affected version(s)**
4.4.44

**Description**
In the layout, the columns for frontend modules are displayed in reverse order.

Previously: Header > Main > Footer
Now: Footer > Main > Header

See screenshot
![module](https://user-images.githubusercontent.com/23719181/67207013-0495e880-f413-11e9-8ed3-84be08434e43.jpg)

[2019-10-21 13:48] mlwebworker commented on #861
Ich finde ja die alphabetische Sortierung hat auch etwas für sich. Früher habe ich mich immer geärgert, dass Custom-Bereiche ganz unten landen. Das dürfte damit ja auch der Vergangenheit angehören.

[2019-10-21 14:33] fritzmg commented on #79
Unfortunately this still happens:

![Screenshot_2019-10-21 Benachrichtigungen › Benachrichtigung ID 12 editieren](https://user-images.githubusercontent.com/4970961/67214609-f1394c00-f417-11e9-979e-831e9e6453f7.png)

All these widgets have `w50` - however, the very first widget happens to have a height of `80.1` pixels under the following circumstances:

* FireFox 69.0.3
* Windows 10
* dppx 1.25

/

[2019-10-21 15:06] contaoacademy commented on #861
Ich finde es so unlogisch sortiert. Unter Contao 4.8 ist es noch so wie früher und ich sehe darin einen Bug.

[2019-10-21 15:30] xchs commented on #861
Im Forum wurde das ebenfalls angesprochen: https://community.contao.org/de/showthread.php?76134-Contao-4-4-44-Seitenlayouts-Frontend-Module-2-Spalte-wird-sortiert

[2019-10-22 08:06] ausi commented on #501
If you set a page to `noindex,follow` it has to be in the *sitemap.xml* IMO, otherwise the search engine might not find the page and thus cannot follow the links on the page.

If Google has a problem with that we could change it I think, but does the *Google Search Console* show this as an error which makes the whole sitemap invalid? Or is it just a notice that the submitted URL cannot be added to

[2019-10-22 08:07] fritzmg commented on #501
The latter.

[2019-10-22 08:19] reeLx opened #862 "lowercase language tag in URL"
Is it possible to write the language tag in the url in lowercase letters?
For example: Our customer doesn't want the url named like this

but instead like this

we tried to achieve that, by just renaming the tag into lowercase-letters in the changelanguage extension but that doesn't take any effect.

Greets
Marvin

[2019-10-22 08:23] fritzmg commented on #862
I agree this should be possible. "In the wild" I always ever see it in lower case in URLs. e.g.

* https://www.microsoft.com/de-at/
* https://www.microsoft.com/de-de/
* https://www.microsoft.com/en-us/
* ...

[2019-10-22 08:25] ausi commented on #501
From my understanding it is technically correct then as it is implemented now.

From [sitemaps.org](https://www.sitemaps.org/):

And **crawling** of a `noindex,follow` page is desired, only **indexing** is not.

I’d recommend to set the robots meta tag to `noindex,nofollow` if you want to get rid of the *Google Search Console* error.

[2019-10-22 08:30] fritzmg commented on #501
But that would be incorrect as well. You only use `nofollow` if you are sure, that none of the links on that page can be indexed. Which is usually not the case. As I said, I don't know of a real world use-case (within the site structure of a Contao installation) where you would ever want to set `noindex,nofollow`.

[2019-10-22 08:35] ausi commented on #862
I think this is related to https://github.com/contao/core-bundle/issues/1579#issuecomment-536687962

If we support every language tag or locale the *Intl* extension can parse the lowercase versions should work fine IMO because `Locale::parseLocale('de-at') === Locale::parseLocale('de_AT')`.

When implementing this feature we should look carefully where we should use the language tag as it was set

[2019-10-22 08:39] ausi commented on #501
I agree. But I think we have to live with either the “correct” warning in the *Google Search Console* or the “incorrect” meta robots tag.

[2019-10-22 08:41] fritzmg commented on #501
Or we introduce a separate setting for the Sitemap ;)

[2019-10-22 09:18] asaage commented on #501
I do not agree because the links the crawler should follow are listed in the sitemap.xml anyway if you want them to be indexed.

```noindex``` should equal ```not in sitemap.xml```

[2019-10-22 09:27] ausi commented on #501
If all the links to follow are in the sitemap.xml anyway you can safely set the meta robots tag to `noindex,nofollow`.

[2019-10-22 12:40] fritzmg commented on #203
`editableFiles` was removed in https://github.com/contao/contao/commit/c2e299087cb95579be717870329dd4f2b54a238b - however, no appropriate bundle configuration was implemented in its place, which is required for it to be editable by the Contao Manager.

[2019-10-23 09:35] Shoekrates commented on #809
In Verbindung mit einem Verzeichnisschutz kann ich das auch bestätigen. Gerade eben wieder ca. 20s gewartet, bis nach erfolgreicher Eingabe des Verzeichnisschutzes die Website erschien. Bis dahin weißer Screen. Passiert immer dann, wenn man die Seite längere Zeit nicht aufgerufen hat.
Contao 4.4.44, Hoster Netcup (Webhosting 8000), PHP 7.2.23. Ansonsten alles in den Contao-Einstellungen auf Standa

[2019-10-23 16:33] xchs commented on #809
Ich beobachte das Verhalten hauptsächlich bei Subdomains, aber ich weiß nicht, ob das ursächlich für das Problem ist. Die Subdomains existieren v. a. während der Entwicklungsphase und demzufolge gibt es i. d. R. auch nur wenige Requests und immer wieder längere Pausen.

[2019-10-23 17:50] Shoekrates commented on #809
Yep, genauso hier. Wenn wir es bemerkt haben, dann war es auf einer Subdomain hinter einem Verzeichnisschutz während der Entwicklung.

[2019-10-24 11:57] Toflar commented on #849
Limiting the memory indeed works but I don't know how we should fix this properly. So marking this up for discussion.

[2019-10-24 13:27] ausi commented on #849
As discussed on Mumble we want to add a cli argument to limit the memory and default this setting to 1GB.

We should also check if we can use the `throttle` setting of IMagick instead of the custom `sleep()` solution.

[2019-10-24 13:48] leofeyer commented on #812
As discussed in Mumble on October 24th, we do not want to implement this, because it will lead to inconsistent behaviour (some modules will support it, others will not) and it will negatively affect the database performance.

You can solve your case by adding an alias element, which duplicates the original content element; apply the stop time to the original content element ant the start time to t

[2019-10-24 13:48] leofeyer commented on #812
To prevent this kind of "misconfiguration" in the future, we want to validate that the stop time is greater than the start time.

[2019-10-24 14:08] aschempp commented on #809
Kann jemand von euch uns einen SSH Zugang zur Verfügung stellen, auf einem Server/System mit dem Problem wo wir die Installation ggf. auch zerschiessen können? Gerne bei Slack melden oder E-Mail in meinem Profil.

[2019-10-24 14:11] leofeyer commented on #809
Wir haben das Problem am 24. Oktober auf Mumble besprochen. Um das Problem eingrenzen zu können, brauchen wir noch deutlich mehr Informationen.

1. Wie läuft PHP auf eurem Server? Als Apache-Prozess oder als FPM oder CGI?

Bitte führt außerdem mal folgende Tests aus (dazwischen bitte immer den einen Tag abwarten 🤷‍♂):

2. Löscht den Ordner `var/cache/prod` und ruft danach die Webseite auf. Wie lan

[2019-10-24 14:19] Mynyx commented on #809
Eine vergleichbare Problematik tritt übrigens auch bei Symfony Standardinstallationen auf. Im Performance-Bereich des Profilers ist dann beim ersten Aufruf auch in der Timeline zu beobachten, dass alle Vorgänge deutlich länger benötigen.

Wie hoch die Verzögerung jeweils bei einer Symfony Standardinstallation und bei Contao auf demselben Server ist, habe ich jedoch bisher nicht getestet.

[2019-10-24 14:28] Toflar commented on #809
Also eine ganz normale Symfony Applikation - ohne Contao - hat das gleiche Problem? Versteh ich das richtig? Der 1. Request zählt nur dann, wenn der `dev` Cache aufgebaut wurde. Sonst wären es nicht faire Vergleiche.

[2019-10-24 14:56] leofeyer commented on #501
We have re-discussed this in Mumble on October 24th and we want to keep URLs to `noindex,follow` pages in the XML sitemap.

We want to distinguish between "XML sitemap" and "HTML sitemap" in the future, so we need to adjust the following:

1. Rename the label "Show in sitemap"
2. Rename the front end module "sitemap"
3. Rename the third argument of `Backend::findSearchablePages()` to `$blnIsXmlSit

[2019-10-24 15:00] fritzmg commented on #501
Unfortunately I (yet again) couldn't be in the Mumble.

This means, that I am forced to set a page to `noindex,nofollow` which is simply wrong ;). Any page within the Contao site structure is very likely to have a link to a page, that does _not_ have `noindex`. And again: what is a real world use-case for `noindex,nofollow`?

[2019-10-24 15:05] Toflar commented on #501
No, Google is wrong. If you have `nonidex,follow`, the page is perfectly placed in the `sitemap.xml`. Otherwise a search engine could never find these pages.
So imho that's clearly something Google has to fix. Maybe you can submit an issue?

[2019-10-24 15:06] ausi commented on #501
You can keep using `noindex,follow`. Google just shows you that the page will not be indexed.

[2019-10-24 15:21] ausi commented on #786
@Floxn ich kann das Problem nicht reproduzieren. Bei meinem Test werden im Debug-Mode die externen CSS-Dateien direkt im HTML referenziert und müssten dadurch mit deaktivierten Browser-Cache in der aktuellen Version ausgeliefert werden.

Wie sieht der HTML-Code bei dir aus? Es sollte für die externe CSS-Datei ein Link-Tag im folgendem Format ausgegeben werden: `<link rel="stylesheet" href="files/p

[2019-10-24 15:22] leofeyer commented on #786
@TS16V Welche Datei genau änderst Du denn? So wie ich Deinen Use-Case verstehe, hast Du eine `zentrale.scss`-Datei, in der Du weitere SCSS-Dateien einbindest. Nur wenn Du die `zentrale.scss`-Datei änderst, bekommt das der Contao-Combiner mit und kompiliert die SCSS-Dateien neu. Wenn Du eine der eingebundenen Dateien änderst, musst Du den Skript-Cache manuell leeren.

[2019-10-25 08:13] Floxn commented on #786
@ausi ich hab das Problem nun nicht mehr. Kann es auch nicht mehr reproduzieren. Was ja gut ist :)

[2019-10-25 12:40] Mynyx opened #867 "Attribut referrerpolicy bei <script>-Tags für CDN-Ressourcen"
Durch Hinzufügen des Attributs ``referrerpolicy`` mit dem Wert ``no-referrer`` im ``<script>``-Tag, könnte bei der Einbindung von JavaScript CDN-Ressourcen der Datenschutz verbessert werden, da der Referer-Header so nicht mehr an den CDN-Betreiber übermittelt wird.

[2019-10-25 13:28] TS16V commented on #786
**@leofeyer**  Genau, es gibt die zentrale.scss, in der SCSS-Dateien eingebunden sind, die entsprechend geändert werden.  In der Contao-Version 4.6  gab es ja den DEV-Modus mit domain.de/app_dev.php, bei der Änderungen in den eingebundenen SCSS-Dateien per F5-Taste aktualisiert wurden.  Das hat gut funktioniert.

So wie ich das verstanden habe, muß  jetzt nach jeder Änderung in einer der eingebund

[2019-10-25 15:03] #817 closed, assigned to nobody

[2019-10-25 15:06] leofeyer commented on #822
That is how I see it, too.

[2019-10-25 15:07] leofeyer commented on #825
/ping

[2019-10-25 15:09] leofeyer commented on #833
See #391.

[2019-10-25 15:09] #833 closed, assigned to nobody

[2019-10-25 15:10] #838 closed, assigned to nobody

[2019-10-25 15:15] leofeyer commented on #853
Sehe ich auch so. Allerdings können wir das nicht in einer Patch-Version ändern, oder?

[2019-10-25 15:20] leofeyer commented on #867
Ich nehme an, dass Du Dich auf die Einbindung von MooTools und jQuery beziehst?

[2019-10-25 15:21] leofeyer commented on #867
Grundsätzlich finde ich die Idee gut, auch wenn bisher nur [Chrome und Firefox](https://caniuse.com/#feat=mdn-html_elements_script_referrerpolicy) das `referrerpolicy`-Attribut auf dem `<script>`-Tag unterstützen.

[2019-10-25 15:23] Toflar commented on #817
BTW: Doku-Beiträge sind herzlich willkommen und zwar hier: https://github.com/contao/docs

[2019-10-25 15:24] mvscheidt commented on #316
Vermutlich ist das "Problem" was ich bemerkt habe ein andereres als von @cmartin6 oder ggf. hat er ein leicht anderes Setup. Habe es leider nicht geschafft exakt sein Problem nachzustellen.

Ich weiß nicht ob mein Problem wirklich ein valider Bug ist oder eher eine Limitierung.

Contao versucht ja die URL in "Alias" und "GET" Parameter zu unterteilen (wenn Slashes in der URL vorkommen).

Kann man

[2019-10-25 15:33] leofeyer commented on #861
Ich sehe darin keinen Bug.

Vor Contao 4.8 waren die eigenen Layoutbereiche immer am Ende und jeder, dessen Layoutbereich mit "A" begann, hat sich gewundert, warum dieser nicht angezeigt wird (weil eben erwartet wurde, dass "A" oben steht). Jetzt sind die Bereiche alphabetisch geordnet und der Bereich mit "A" wird wie erwartet oben angezeigt.

Natürlich stolpert man als erfahrener Contao-Nutzer vi

[2019-10-25 15:36] leofeyer commented on #798
Das liegt hieran:

https://github.com/contao/contao/blob/3a48a3dd0a441342121a388f014dce66ea8c4cc0/manager-bundle/src/Resources/skeleton/web/index.php#L17-L18

Ich finde diese Zeile auch falsch, aber wir haben es bei einem Call diskutiert und die @contao/developers haben mich überstimmt. 🤷‍♂

[2019-10-25 15:38] Toflar commented on #798
Wieso sollte das daran liegen?

[2019-10-25 15:40] andreheeke opened #870 "Add disabled option in option wizard"
**Description**
There is no option in the form generator to add a "disabled" attribute for a specific value at the field types select, checkbox and radio which use the option wizard. The goal should be to assign the disabled attribute to the deactivated value in the frontend template in order to deactivate the first value, for example.

**Example**
`<input type="checkbox" id="opt_XX" class="checkb

[2019-10-25 15:50] #726 closed, assigned to nobody

[2019-10-25 16:08] leofeyer commented on #798
Weil es das tut. Gerade getestet. 😂

[2019-10-25 16:20] Toflar commented on #798
Ja aber das hat damit ja nichts zu tun.
Wir wollen keine PHP-Fehler in Production.

Der Fall müsste abgefangen und in eine Exception konvertiert werden.

[2019-10-25 17:10] Mynyx commented on #867
Ja

In den anderen Browsern sollte das zusätzliche Attribut nicht schaden und zusammen mit Opera, der dieses Attribut ebenfalls unterstützt, sind je nach Statistik über 75 % Marktanteil abgedeckt (https://de.statista.com/statistik/daten/studie/13007/umfrage/marktanteile-der-browser-bei-der-internetnutzung-in-deutschland-seit-2009/).

[2019-10-25 17:20] contaoacademy commented on #861
@leofeyer
Hmm, es ist vielleicht kein Bug.
Aber das Verhalten zwischen Contao 4.44.4 und Contao 4.8.4 ist trotzdem anders.
Unter 4.4 wie im 1. Post (Fußzeile vor Kopfzeile) unter 4.8.4 so wie ich das kenne (Kopfzeile vor Fußzeile) (siehe Screenshot)
![contao-4-8](https://user-images.githubusercontent.com/23719181/67590959-8449ed00-f75c-11e9-8d63-b8b5d384ec77.jpg)

[2019-10-25 17:23] contaoacademy commented on #861
Ergänzung…
Im Grunde ist es mir egal. Hauptsache bei Contao 4.8.4 verhält es sich dann gleich wie unter 4.4.44

[2019-10-25 17:38] Mynyx opened #871 "Differenziertere Benutzerrechte für Themes"
Analog dazu wie es bei anderen Backend-Modulen bereits möglich ist, wäre es auch bei Themes sinnvoll, wenn für Benutzer bzw. Benutzergruppen "Erlaubte Themes" sowie "Theme-Rechte" für das Anlegen und Löschen konfiguriert werden könnten.

Derzeit könnte ein Benutzer, der beispielsweise lediglich das Recht für das Backend-Modul Themes und ein einzelnes Theme-Modul hat, auch alle Themes löschen.

[2019-10-25 18:16] Mynyx commented on #861
Vielleicht die eigenen Layoutbereiche am Anfang anzeigen und darunter die Standardlayoutbereiche in logischer Reihenfolge.

[2019-10-25 18:50] Mynyx commented on #853
Es wäre auch eine Überlegung, das Modul ``Theme-Export`` ebenfalls nur für Administratoren zu erlauben. Eine Manipulation des Systems ist damit zwar nicht möglich, aber der Export umfasst ggf. weitaus mehr Daten als auf die der Benutzer regulär zugreifen dürfte. Nicht zuletzt könnte eine Exportfunktion ohne Importfunktion verwirrend wirken.

[2019-10-25 19:02] Mynyx commented on #825
Beispielsweise im System-Log mit 10.000 unterschiedlichen Einträgen in ``tl_log::username``.

[2019-10-25 21:00] ausi commented on #822
I think this is a bug. `example.com/test.jpg` should not be redirected to `example.com/test.jpg/` if `/` is configured as the suffix. Same as it doesn’t get redirected to `example.com/test.jpg.html` with `.html` as the suffix.

[2019-10-25 21:03] leofeyer commented on #822
It is only a bug if `example.com/test.jpg` points to an existing file. Then, of course, the slash should not be appended. But according to the initial description, the problem occurs on the error 404 page, which means that `test.jpg` is passed to the application and treated as a regular URL – therefore it is correct to append the URL suffix IMHO.

[2019-10-25 21:09] ausi commented on #316
Das Problem mit URL-Parametern in Weiterleitungen sollte sich mit der neuen Checkbox die eingeführt werden soll beheben lassen, siehe https://github.com/contao/contao/issues/488#issuecomment-526183143

[2019-10-25 21:16] Mynyx commented on #822
The standard behaviour of a Apache webserver with static files is, that ``test`` ist only redirected to ``test/`` if this directory exists, otherwise the 404 page is shown directly. And never a redirect from ``example.com/test.jpg`` to ``example.com/test.jpg/`` will happen.

[2019-10-25 21:32] ausi commented on #798
Ich konnte den Fehler nicht reproduzieren (in Version 4.4 und 4.8). Welche Contao-Version wurde verwendet?

[2019-10-25 21:47] ausi commented on #822
I don’t see why it should be correct to add the suffix. If the page does not exist the server should answer with status code 404, not a redirect. And why should the suffix only be added if it is set to `/` and not for `.html`?

[2019-10-25 21:49] Mynyx commented on #798
Sowohl 4.4 als auch 4.8.

Jedoch habe ich bei einem erneuten Versuch den Fehler zu reproduzieren auch festgestellt, dass ich ihn nicht in allen Installationen mit diesen Versionen reproduzieren kann. Woran dies liegt, habe ich jedoch noch nicht herausgefunden.

Allerdings konnte @leofeyer das Problem offenbar ebenfalls reproduzieren (https://github.com/contao/contao/issues/798#issuecomment-5464148

[2019-10-25 21:52] ausi commented on #798
Eventuell macht die PHP-Version den Unterschied? Ich habe mit PHP 7.2.7 getestet.

[2019-10-25 22:04] Mynyx commented on #798
An der PHP-Version scheint es auf den ersten Blick nicht zu liegen, denn ich kann das Problem sowohl mit 7.1.30, 7.2.19 als auch 7.3.6 reproduzieren.

[2019-10-26 15:51] Mynyx opened #872 "Unterscheidung Besucher und Mitglied im Hilfe-Assistent Seitentyp"
Im Hilfe-Assistenten zum Feld Seitentyp werden derzeit die Begriffe Besucher (visitor) und Benutzer (user) verwendet.

Der Begriff Benutzer (user) wird jedoch zum einen auch in Fällen verwendet, wo eigentlich Besucher im Allgemeinen gemeint sind, und in den anderen Fällen wäre es sinnvoll, diesen durch den spezifischeren Begriff Mitglied (member) zu ersetzen.

Page type | Description
-- | --
Regul

[2019-10-26 16:16] leofeyer commented on #822
Hm, I guess you are right. 🤔

[2019-10-26 16:50] Mynyx opened #873 "Hinweis auf moo_mediabox- oder j_colorbox-Template bei Inhaltselement Galerie"
Wenn für ein Inhaltselement der Typ Galerie ausgewählt wird, dann wird folgender Hinweis angezeigt:

Eine etwas ausführlichere Formulierung würde die Auffindbarkeit der entsprechenden Einstellung im Seitenlayout verbessern:

[2019-10-26 17:29] Mynyx opened #874 "Erklärungstext zum Picker im Feld Link in Metadaten"
In der Dateiverwaltung wird bei den Metadaten zum Picker im Feld Link als Erklärungstext "Seiten auswählen" angezeigt:
![image](https://user-images.githubusercontent.com/1632642/67623533-8b3d3200-f826-11e9-9dba-cc2bf304c65d.png)

Es kann im Picker jedoch z. B. eine Seite, eine Datei, ein Artikel oder ein Event ausgewählt werden.

[2019-10-27 09:40] Mynyx opened #875 "Einstellungen "Maximale GD-Bildbreite" und "Maximale GD-Bildhöhe""
In den Einstellungen werden die Felder "Maximale GD-Bildbreite" und "Maximale GD-Bildhöhe" angezeigt.

Soweit dies für mich nachvollziehbar ist, gelten diese Einstellungen jedoch unabhängig von der verwendeten Erweiterung, also nicht nur für GD sondern auch für Imagick und Gmagick.

[2019-10-27 09:42] ausi commented on #874
Ich bin mir nicht sicher, ob das falsch ist. Auch bei Auswahl eines Artikels oder Events zeigt der Insert-Tag im Link-Feld letztendlich immer auf eine Seite auf der sich dann das ausgewählte Element befindet. Eine Datei aus der Dateiverwaltung kann vermutlich nicht als „Seite“ bezeichnet werden da direkt darauf verlinkt wird.

Wie wäre es mit „Seite oder Datei auswählen“?

[2019-10-27 09:45] ausi commented on #875
Nein, diese Limits gelten nur für GD, nicht für Imagick oder Gmagick, siehe https://github.com/contao/contao/blob/3a48a3dd0a441342121a388f014dce66ea8c4cc0/core-bundle/src/Image/LegacyResizer.php#L121

[2019-10-27 10:03] ausi commented on #849
Another debugging session of @Toflar showed that setting the resource limits doesn’t fix the memory leak but outsources the problem to the disk which might be event worse in some cases I think.

To finally fix the issue we want to use a sub process (similar to how the concurrent feature works now) for every single resize. This should free all resources of imagemagick and the Imagick extension.

[2019-10-27 10:11] Mynyx opened #876 "Hinweis auf maximale Bildbreite und -höhe bei Dateiupload"
In der Dateiverwaltung wird beim Dateiupload ein Hinweis auf die maximale Bildbreite und -höhe angezeigt:

Dabei werden jedoch fälschlich die Einstellungen ``gdMaxImgWidth`` und ``gdMaxImgHeight`` statt
``imageWidth`` und ``imageHeight`` verwendet.

https://github.com/contao/contao/blob/4.8.4/core-bundle/src/Resources/contao/classes/DropZone.php#L78-L82

https://github.com/contao/contao/blob/4.8.4

[2019-10-27 10:33] Mynyx commented on #875
Zum Beispiel bei dieser Funktion gelten die Limits aber unabhängig von der verwendeten Bibliothek (Zeile 443)?

https://github.com/contao/contao/blob/3a48a3dd0a441342121a388f014dce66ea8c4cc0/core-bundle/src/Resources/contao/widgets/FileTree.php#L441-L467

[2019-10-27 10:52] Mynyx commented on #874
Im Picker wird allerdings zwischen Seiten, Artikel und Events unterschieden. Außerdem sind die zur Verfügung stehenden Optionen von den Benutzerrechten abhängig, sodass auch Seiten nicht immer zur Auswahl stehen.

Wenn es dadurch zu komplex wird, könnte "Element auswählen" eine Lösung sein?

[2019-10-28 08:29] fritzmg commented on #876
Nein, das ist korrekt so. Die `imageWidth` bzw. `imageHeight` ist keine limitierende Einstellung für den Upload. Bilder werden nach dem Upload auf diese Größe verkleinert, daher muss man natürlich auch in der Lage sein Bilder hoch zu laden, die größer als `imageWidth` und `imageHeight` sind.

[2019-10-28 08:56] aschempp commented on #861
Ich sehe nur zwei Möglichkeiten:
1. Alphabetisch (einfach umzusetzen / bereits der Fall)
2. Wie konfiguriert. Das wäre imho am sinnvollsten. Die Layoutbereiche haben eine definierte Position, entsprechend könnten sie auch in der Liste sein.

[2019-10-28 09:31] aschempp commented on #798
Ich vermute es ist ein `require` das nicht abgefangen wird/werden kann? Vielleicht sollten wir Templates `include`n und dann prüfen ob's geklappt hat?

[2019-10-28 09:34] Toflar commented on #798
Korrekt. Das meinte ich mit

[2019-10-28 10:22] #876 closed, assigned to nobody

[2019-10-28 12:34] leofeyer commented on #501
See #879.

[2019-10-28 12:34] #501 closed, assigned to leofeyer

[2019-10-28 12:37] leofeyer commented on #748
See #880.

[2019-10-28 12:37] #748 closed, assigned to leofeyer

[2019-10-28 12:40] leofeyer commented on #815
See #881.

[2019-10-28 12:40] #815 closed, assigned to leofeyer

[2019-10-28 14:09] leofeyer commented on #819
See #882.

[2019-10-28 14:09] #819 closed, assigned to leofeyer

[2019-10-28 14:11] leofeyer commented on #821
@contao/developers Sollten wir diesen Fall serverseitig auch noch behandeln, obwohl er nur dadurch eintreten kann, dass jemand den HTML-Code manipuliert?

[2019-10-28 14:16] m-vo opened #884 "ModelFacade with ORM under the hood"
**Description**
I wonder if it could work to have some sort of facade around models so that every call is internally delegated to doctrine/orm. Of course this might quickly become very complex supporting all return values and event like callbacks and so on...

I'm leaving this primarily here as a basis for discussion.

**Example**
Quick and dirty example:

[code]

[2019-10-28 14:17] leofeyer commented on #823
Siehe #883.

[2019-10-28 14:21] leofeyer commented on #823
I am going to reopen this and assign it to the 4.8 milestone, so we do not forget to also adjust the new 2FA modules.

[2019-10-28 14:25] Toflar commented on #821
Das sollten wir, ja. Clientside Validierung ist immer nur UX :)

[2019-10-28 14:29] leofeyer commented on #826
See #834.

[2019-10-28 14:29] #826 closed, assigned to nobody

[2019-10-28 14:33] qzminski opened #886 "Translator::getFromGlobals() issue with PCRE 8.32"
**Affected version(s)**
Contao 4.8.4, PCRE 8.32

**Description**
This has been already an issue in the past (https://github.com/contao/core-bundle/issues/1656) and got lost somehow during the Contao version update. The fix is available in one of the forks: https://github.com/bohnmedia/contao/commit/f1e0671a9596b20dcae9d71acd73f35ce1e6aef8

It is rather an **urgent** issue because it breaks down wh

[2019-10-28 14:37] leofeyer commented on #850
Ich habe die deutsche Übersetzung entsprechend angepasst.

[2019-10-28 14:37] #850 closed, assigned to nobody

[2019-10-28 14:43] leofeyer commented on #847
@saress Was genau ist damit gemeint?

[2019-10-28 14:46] leofeyer commented on #886
The original fix is here: https://github.com/contao/core-bundle/commit/ba03d0cccac1a326a3c20aa8f7ab7b2623b46d21

[2019-10-28 15:34] contaoacademy commented on #861
Ich denke, das wäre doch die logische Variante. Damit habe ich die volle Kontrolle über die Position der Module und kann mir das so aufbauen wie es mir gefällt.

[2019-10-28 15:56] leonexcc commented on #847
Im Listing der Mitglieder oben eine Benutzergruppe auswählen und danach filtern:

![Bildschirmfoto 2019-10-28 um 16 51 59](https://user-images.githubusercontent.com/7428636/67694338-7934ce00-f9a3-11e9-9660-50cd33631cc5.png)

Darauf folgt folgende Exception:

An exception occurred while executing 'SELECT COUNT(*) AS count FROM tl_member WHERE groups LIKE '%\"1\"%'':

SQLSTATE[42000]: Syntax error o

[2019-10-28 16:01] leofeyer commented on #847
Der Fehler im Backend ist mir klar, aber der im Frontend nicht. Wo genau tritt der auf?

[2019-10-28 16:20] leonexcc commented on #847
Tut mir Leid, das hab ich nicht korrekt gelesen. Das verstehe ich auch nicht ganz.

[2019-10-28 16:38] Mynyx commented on #821
Der Fehler ist zuerst im Livebetrieb aufgefallen. Ich glaube kaum, dass tatsächlich jemand den HTML-Code manipuliert hat.

[2019-10-28 16:57] leofeyer commented on #856
See #888

[2019-10-28 16:57] #856 closed, assigned to leofeyer

[2019-10-28 17:22] leofeyer commented on #798
Also in der 4.4 kann ich das Problem auch nicht reproduzieren. Hab `core-bundle/src/Resources/contao/templates/frontend/fe_page.html5` umbenannt und sehe jetzt im Frontend die Pretty-Error-Screen.

@Mynyx Kannst Du das Problem in Contao 4.4 reproduzieren und wenn ja, wie?

[2019-10-28 18:24] Mynyx opened #889 "Übersetzung "member groups""
Die Übersetzung ``tl_module.protected.1`` sollte statt ``Das Modul nur bestimmten Gruppen anzeigen.`` vollständig ``Das Modul nur bestimmten Mitgliedergruppen anzeigen.`` heißen.

https://github.com/contao/contao/blob/cd84cd0079583c6cf965e9367a1325942abbc479/core-bundle/src/Resources/contao/languages/de/tl_module.xlf#L384-L387

[2019-10-28 19:00] Mynyx opened #890 "Exception wenn Gast Seitentyp Abmelden aufruft"
Wenn ein Gast eine Seite mit dem Seitentyp Abmelden aufruft, wird eine ``InvalidArgumentException: Unable to generate a logout url for an anonymous token.`` geworfen und dem Gast wird das Template ``@ContaoCore/Error/error.html.twig`` angezeigt.

Stattdessen sollte der Gast einfach weitergeleitet werden.

[2019-10-28 19:08] Mynyx opened #891 "Fehlende Felder beim Seitentyp Abmelden"
Beim Bearbeiten von Seiten mit dem Seitentyp Abmelden fehlen die Felder ``CSS-Klasse``, ``In der Sitemap zeigen``, ``Tab-Index`` und ``Tastaturkürzel``.

[2019-10-28 19:12] contaoacademy opened #892 "Add a new field for a custom link attribute"
**Description**
Google separates between different link attributes to qualify outbound links.

There would be 3 attributes:
- rel="sponsored"
- rel="ugc"
- rel="nofollow"

More Infos:

- https://support.google.com/webmasters/answer/96569?hl=en
- https://moz.com/blog/nofollow-sponsored-ugc

**Solution**
It would be useful to add a textfield for a custom "rel-attribute" to the links or fill it via a

[2019-10-28 19:13] Mynyx opened #893 "Erklärungstext Weiterleitungsseite beim Seitentyp Abmelden"
Zum Feld ``Weiterleitungsseite`` wird beim Bearbeiten von Seiten mit dem Seitentyp Abmelden folgender Erklärungstext angezeigt:

Das Feld ``Weiterleitungsseite`` ist jedoch ein Pflichtfeld, sodass es nicht möglich ist, keine Zielseite auszuwählen.

[2019-10-28 19:47] Mynyx opened #894 "Feld "Beschreibung der Seite" (Description) bei Fehlerseiten"
Das Feld ``Beschreibung der Seite`` (Description) ist bei Fehlerseiten (401, 403, 404) nicht sinnvoll, denn Fehlerseiten sollten von Suchmaschinen nicht indexiert werden. Daher ist das Feld bei diesen Seitentypen überflüssig.

[2019-10-28 20:01] ausi commented on #886
The fix was removed in https://github.com/contao/contao/commit/bee9c1092c3917039006a935f6aef2070e94356d

We should also check if the other places in this commit where `\.` was changed to `.` are affected.

And maybe file a bug in the PhpStorm code inspector if this still shows up as a suggestion?

[2019-10-28 20:08] Mynyx commented on #889
https://github.com/contao/contao/blob/cd84cd0079583c6cf965e9367a1325942abbc479/core-bundle/src/Resources/contao/languages/de/tl_article.xlf#L96-L99

https://github.com/contao/contao/blob/cd84cd0079583c6cf965e9367a1325942abbc479/core-bundle/src/Resources/contao/languages/de/tl_content.xlf#L568-L571

[2019-10-28 20:51] leofeyer commented on #886
But this fix is actually correct. The dot does not need to be escaped inside a character class. 🤔

[2019-10-28 21:42] ausi commented on #886
Some characters at the beginning of a character class are reserved for POSIX, see <https://stackoverflow.com/a/7175589>

In PCRE this worked until version 7.3, doesn’t work from version 7.6 until 8.37 and works again in 8.38+ see <https://3v4l.org/PgNpq>.

As this only affects the first character inside a character class moving the `.` to the end seems to also fix the issue, see <https://3v4l.org/

[2019-10-28 21:48] ausi commented on #849
Closed in favor of #877

[2019-10-28 21:48] #849 closed, assigned to ausi

[2019-10-28 22:41] asaage commented on #890
Ich bekomme dann eine 401 Seite - und das erscheint mir auch sinnvoll so.

[2019-10-29 06:47] saress commented on #847
@leofeyer : sorry, das ist natürlich nicht das Frontend gewesen, sondern das Standard-Backend-Template für Fehlermeldungen, hab mich da "optisch" etwas verwirren lassen :-)

[2019-10-29 07:20] leofeyer commented on #886
OMG. Thanks for debugging this @ausi. 👍

[2019-10-29 07:27] leofeyer commented on #847
Alles klar. 👍

[2019-10-29 07:30] fritzmg commented on #833
This isn't really part of the nested content elements idea is it?

[2019-10-29 07:50] leofeyer commented on #833
Getting rid of the wrapper elements is the main idea behind nested content elements. 😄

[code]

[2019-10-29 09:04] fritzmg commented on #833
Yes, getting rid of them... but this issue is about their current implementation and whether Contao should automatically delete the start or stop element, if one or the other gets deleted. I think `semantic_html5` already does this for example.

[2019-10-29 09:51] leofeyer commented on #833
I don't think this will work reliably. Start and stop elements can be nested, so how do you determine which one to delete?

[2019-10-29 10:04] fritzmg commented on #833
When you create a start element, the stop element is automatically created. The automatically created element can save a reference to its start element. Then when either element is deleted, the other element can be deleted as well.

Of course this could still lead to erroneous mark-up, since you can move the start and stop elements anywhere you like. This could be solved by #391 - but again: this

[2019-10-29 10:16] leofeyer commented on #833
As I said, I doubt that this would work **reliably** without nested content elements. But go ahead and give it a shot. I will happily merge a working pull request.

[2019-10-29 10:28] m-vo commented on #833
Disallowing the stop element to be removed individually sure is an improvement. Imho doing nestings like this must be prevented as well: `<x><y></x></y>` in order to have an intuitive UI in this case. But that's a bit harder, especially with drag&drop...

[2019-10-29 10:49] pgerundt opened #1000 "Remove leading 'index' from alias when using folderUrls"
The home page of a website usually has the alias `index` (for SEO reasons), right?
When `useFolderUrl` is enabled and subpages are created, their alias always contains the leading `index/` inherited from the home page.

Wouldn't it be nice to remove this part of the alias in `generateAlias()` of `tl_page`?

[code]

[2019-10-29 10:51] leofeyer commented on #790
Wir könnten das relativ einfach beheben, indem wir die Formatierung `#diff dl` um `font: .75rem "Roboto Mono",monospace` ergänzen:

<img width="890" alt="" src="https://user-images.githubusercontent.com/1192057/67760710-16464400-fa42-11e9-9fab-e50e9c94b912.png">

Allerdings würden dann auch die Diffs von normalen Datensätzen mit fester Laufweite ausgegeben:

<img width="895" alt="" src="https://us

[2019-10-29 11:56] leofeyer commented on #812
See #896

[2019-10-29 12:04] leofeyer commented on #818
See #897 for the fix in Contao 4.4. I will re-assign the issue to the 4.8 milestone now, because the fix will be different there.

[2019-10-29 12:06] leofeyer commented on #820
This is probably so you can distinguish the two page types when they are unpublished:

<img width="258" alt="" src="https://user-images.githubusercontent.com/1192057/67765643-e9e3f500-fa4c-11e9-9477-6c8219543eb6.png">

@contao/developers I don't think we should change this, should we?

[2019-10-29 12:57] aschempp commented on #890
Ich denke auch dass dann eine 401-Seite kommen sollte 🤔

[2019-10-29 14:13] mlaubacher opened #898 "Icon "Anzeigen ab/bis" in Liste Inhaltselemente"
Ein zusätzliches Icon in der Auflistung der Inhaltselemente, welches zeigt ob ein Eintrag in den Feldern "Anzeigen bis" oder "Anzeigen ab" vorhanden ist, würde es ermöglichen besser zu erkennen ob ein Element tatsächlich publiziert ist.
Mit einem zusätzlichen Icon könnte man darauf hinweisen, dass ein Element allenfalls nicht publiziert ist, obwohl das Auge grün ist.

[2019-10-29 14:23] mlaubacher commented on #898
Falls weiterhin nur ein Icon angezeigt werden soll müsste das Auge Icon 3 Stati haben und das Verhalten könnte folgendermassen sein:
- Sobald ein Eintrag "Anzeigen bis" oder "Anzeigen von" vorhanden = Icon greyed out, da keine Aussage möglich ob publizert oder nicht
- kein Eintrag "Anzeigen bis" oder "Anzeigen von" und Status visible = Auge offen
- kein Eintrag "Anzeigen bis" oder "Anzeigen von" u

[2019-10-29 14:37] OMOSde commented on #820
I also connect an external link with an arrow to the top right. Maybe that would be a variant.

[2019-10-29 15:56] akroii opened #899 "Modul ausblenden, sofern die Ausgabe leer ist"
Normalerweise erscheint die Nachricht, dass "Keine Einträge vorhanden" sind, wenn keine Daten bereitstehen. Wäre es stattdessen als Wahloption möglich, das Modul komplett auszublenden, wenn keine Daten vorliegen? Die Ausgabe "Keine Einträge vorhanden" ist in manchen Fällen redundant.

Beispiel:
![Bildschirmfoto 2019-10-29 um 16 51 31](https://user-images.githubusercontent.com/8830861/67784639-6044

[2019-10-29 18:15] asaage commented on #898
Der start-stop-published-icon-issue ist hier: https://github.com/contao/core-bundle/pull/940
Fakt ist, mit 3 Status am Auge wird das nichts - es dient schleißlich auch als publish-toggle.

[2019-10-29 19:55] Mynyx commented on #790
Was genau könnte mit der Änderung der Schriftart behoben werden? Das Problem ist, dass bereits im generierten Quelltext Leerzeichen fehlen.

[2019-10-29 20:38] Mynyx opened #900 "Mehrfache Vergabe von Versionsnummern"
Bei der Verarbeitung von parallelen Requests, kann es zur mehrfachen Vergabe von Versionsnummern kommen.

![image](https://user-images.githubusercontent.com/1632642/67806557-67caef00-fa93-11e9-8295-9ece429024ca.png)

[2019-10-29 20:50] Mynyx opened #901 "Mehrfache Datenbankabfragen für Bildgrößen im Frontend"
Wenn eine Bildgröße im Frontend bei mehreren Bildern verwendet wird, erfolgt dennoch für jedes einzelne Bild eine separate Abfrage nach den Media-Querys (``tl_image_size_item``) dieser Bildgröße.

 ``SELECT tl_image_size_item.* FROM tl_image_size_item WHERE tl_image_size_item.pid=X AND tl_image_size_item.invisible='' ORDER BY sorting ASC``

Zum Beispiel bei Seiten mit einer Galerie erfolgt dieselb

[2019-10-29 23:43] pressi opened #902 "Seitencache funktioniert nicht richtig"
**Affected version(s)**
Contao 4.4.43

**Description**
Der Seitencache scheint die Seiten nur pro Client zu speichern.
Beim ersten Aufrufen dauert das laden der Seite länger, beim zweiten mal schnell. Das selbe auf einem anderem Client. Es sollte ja aber schon von einem anderen Client bereit gestellt worden sein, daher schon beim ersten Aufruf schnell laden?

**How to reproduce**
Ich habe in der R

[2019-10-30 07:19] aschempp commented on #900
Eine Version wovon? Ist das aus der `tl_version`?

[2019-10-30 07:22] Mynyx commented on #900
Genau

[2019-10-30 08:43] Toflar commented on #902
Kann die Seite irgendwo eingesehen werden? Ansonsten ist es für uns auf Basis dieser Informationen eigentlich unmöglich irgendwas zu tun.

[2019-10-30 08:53] pressi commented on #902
Hier wäre der Link zu der Seite:
https://www.original.plus

Eine Unterseite zum Beispiel:
https://www.original.plus/startseite/unternehmen/vision.html

[2019-10-30 09:00] Toflar commented on #902
Mir fällt spontan nichts auf, aber eben. Es kann irgendeine Extension sein, die den Cache deaktiviert etc.
Also wir können hier nicht wirklich helfen. Es müsste halt reproduzierbar sein in einer komplett neuen, leeren Contao-Installation.

[2019-10-30 09:31] andreheeke commented on #899
Soll nur der Text „Es wurden keine Einträge gefunden.“ wegfallen, oder möchtest du, dass das ganze Modul dann gar nicht erst im Frontend gerendert wird? Mir ist das so noch nicht ganz klar.

[2019-10-30 09:39] pressi commented on #902
Was mir auch gerade aufgefallen ist, kann sein das wenn man im Backend eingeloggt ist, der Seitencache auch ignoriert wird?
Als ich mich jetzt ausgeloggt habe, sah ich plötzlich eine andere Version einer Seite als die wenn ich eingeloggt bin.

[2019-10-30 09:40] Toflar commented on #902
Ja, in allen Versionen. Sonst wäre das mit der Frontend-Vorschau bisschen schwierig ;)

[2019-10-30 09:50] fritzmg commented on #899
Das ganze Modul soll ausgeblendet werden.

[2019-10-30 11:21] mlaubacher commented on #898
Danke für den Hinweis asaage! Ich werde in das obige issue schreiben und dieses schliessen.
Zu Deinem Hinweis: Ich denke das ist eines der Probleme, dass das Icon einerseits ein Status Indikator ist und gleichzeitig eine Funktion (toggle). Insbesondere da weder toggle noch status-anzeige korrekt sind (oder korrekt funktionieren) wenn start/stop-daten gesetzt sind, resp. inkonsistent sind.

[2019-10-30 11:21] #898 closed, assigned to nobody

[2019-10-30 14:46] pressi commented on #902
OK, wie funktioniert der Cache, es werden ja pro Browser und Betriebssystem auch Klassen im Body-Tag eingefügt, wird hierfür immer eine neue "Seitenversion" erstellt?
Seiten mit einem Formular müssen vom Cache ausgeschlossen werden, da sonst eine Meldung mit "Ungültiger Anfrage-Token" erscheint?

[2019-10-30 16:06] leofeyer commented on #821
Siehe #903.

[2019-10-30 16:06] #821 closed, assigned to leofeyer

[2019-10-30 16:13] leofeyer commented on #790
Siehe die Screenshots in meinem Kommentar.

[2019-10-30 16:15] leofeyer commented on #790
See #904 for the Contao 4.4 changes. I am going to re-assign the ticket to the 4.8 milestone now, because the fix is different there.

[2019-10-30 16:29] leofeyer commented on #842
See #905. Note that the media type is only added if there is no media query.

[2019-10-30 16:29] #842 closed, assigned to leofeyer

[2019-10-30 16:41] leofeyer commented on #847
See #906

[2019-10-30 16:41] #847 closed, assigned to leofeyer

[2019-10-30 16:50] leofeyer commented on #848
See #907

[2019-10-30 16:50] #848 closed, assigned to leofeyer

[2019-10-30 17:01] leofeyer commented on #861
Hm, also in Contao 4.8 scheinen die Bereiche bereits nach definierter Position sortiert zu sein; wir haben das offenbar als neues Feature in der 4.6 hinzugefügt (siehe 94de42ae7cfc2d06e2f222a0d26bd089ed131a5b bzw. https://github.com/contao/core-bundle/issues/1529).

@contao/developers Wenn das ein neues Feature in der 4.6 war, bedeutet das "wontfix" für dieses Issue in Contao 4.4 oder soll ich die

[2019-10-30 18:50] Mynyx opened #908 "Nicht öffentliche Dateien unmittelbar in files/ für Link auswählbar"
Im TinyMCE können beim Einfügen eines Links bei Nutzung des Pickers auch Dateien ausgewählt werden, die sich unmittelbar in ``files/`` befinden und daher nicht öffentlich abrufbar sind und auch nicht öffentlich abrufbar gemacht werden können.

[2019-10-30 19:20] contaoacademy commented on #861
Ich wäre für "Änderungen zurückportieren".

[2019-10-30 19:21] Mynyx opened #909 "Fehlende URL-Kodierung von {{file::UUID}} Inserttag"
Bei der Ausgabe des ``{{file::UUID}}`` Inserttag erfolgt keine URL-Kodierung, beispielsweise wenn der Pfad ein Leerzeichen enthält.

[2019-10-30 19:37] Mynyx opened #910 "Darstellungsfehler in Bearbeitungsansicht der Dateiverwaltung"
In der Dateiverwaltung tritt beim Bearbeiten von Dateien ein Darstellungsfehler auf, wenn die Hauptspalte mindestens so lang ist wie das Menü (beispielsweise durch Metadaten für verschiedene Sprachen). Es wird dann ein grauer Bereich unterhalb des ``div#container``-Elements angezeigt.

![image](https://user-images.githubusercontent.com/1632642/67892183-72998880-fb54-11e9-95af-fbe9f4e586c3.png)

[2019-10-30 20:27] Toflar commented on #861
wontfix.
Für mich ist das klar für den Betrieb irrelevant und kein Bug.
Die 4.9 steht eh vor der Tür - ich möchte mich ungern mit solchen Details aufhalten.

[2019-10-30 20:50] ausi commented on #894
Die Description wird nicht nur von Suchmaschienen ausgewertet, deshalb würde ich das Feld nicht entfernen.

[2019-10-30 21:28] ausi commented on #908
Wäre es für Datei-Auswahlen eventuell generell sinnvoll nur Dateien aus veröffentlichten Ordnern zuzulassen? Da man ja jetzt auch direkt im Picker einen Ordner veröffenlichen kann sollte das keine großen Nachteile mit sich bringen denke ich.

[2019-10-30 21:32] Mynyx commented on #894
Wofür wird sie denn außerdem verwendet?

[2019-10-30 21:38] ausi commented on #861
wontfix

[2019-10-30 21:45] Mynyx commented on #908
Darüber habe ich auch schon nachgedacht und mich dann dagegen entschieden dies vorzuschlagen, weil es eventuell beabsichtigt sein könnte, Dateien zu noch unveröffentlichten Inhalten ebenfalls noch nicht veröffentlichen zu wollen.

Was aber auf jeden Fall berücksichtigt werden sollte, dass es auch andere Felder für Links oder Weiterleitungen gibt, bei denen dieselbe Problematik besteht.  Wobei eine

[2019-10-30 21:58] ausi commented on #894
Einige Browser nutzen sie z. B. für Bookmarks. Social-Media-Portale zeigen oft die Description wenn ein Link geteilt wird. Accessibility-Tools könnten Sie auch verwenden um eine Kurz-Beschreibung der Seite anzuzeigen.

[2019-10-30 23:51] Ernestopheles commented on #727
I would be happy if anyone could, please, gave an estimation when the issue will be solved...

[2019-10-31 07:05] leofeyer commented on #727
See https://github.com/doctrine/dbal/pull/3674#issuecomment-548178888

[2019-10-31 08:06] contaoacademy commented on #861
Da stimme ich dir zu.
Ich schließe das Ticket, da das Verhalten unter Contao 4.9 ja dann wie bei Contao 4.8 sein wird.

[2019-10-31 08:37] Mynyx commented on #889
https://github.com/contao/contao/blob/2c65d17cb60c5690d432972d9f8bcd8547e779f2/calendar-bundle/src/Resources/contao/languages/de/tl_calendar.xlf#L88-L91
https://github.com/contao/contao/blob/02bd531bd4cbc634b3b9a99a3f5824dc9422b579/news-bundle/src/Resources/contao/languages/de/tl_news_archive.xlf#L88-L91

[2019-10-31 08:43] aschempp commented on #902
@Toflar hatte dazu einen Vortrag auf der Contao Konferenz. Sollte in Kürze auf dem YouTube Kanal veröffentlicht werden: https://www.youtube.com/user/contaocms

[2019-10-31 08:53] Toflar commented on #902
Nein, Seiten mit einem Formular müssen nicht vom Cache ausgenommen werden. Sowohl die Tokens als auch die CSS-Klassen werden über ESI Tags gerendert.
Aber beides macht den Cache insgesamt langsamer, weshalb die Klassen in der 4.8 standardmässig weg sind und Tokens dahingehend optimiert wurden, dass sie nur noch bei eingeloggten Usern gebraucht werden (CSRF ist für normale Besucher nicht nötig).

[2019-10-31 08:57] aschempp commented on #909
Eine automatische URL-Kodierung kann nicht stattfinden, das System kann nicht wissen ob du das benötigst. Mit `{{file::UUID|urlencode}}` solltest du das selber machen können.

[2019-10-31 08:58] fritzmg commented on #909
Würde nicht `urlencode` auch die slashes encoden?

[2019-10-31 09:02] aschempp commented on #909
Möglich, dann wäre wohl eine anderes Flag richtig Aber von Beginn weg encodieren ist auf jeden Fall falsch.
https://docs.contao.org/manual/de/artikelverwaltung/insert-tags/#insert-tag-flags

[2019-10-31 09:03] Mynyx commented on #909
Das {{file::UUID}} Inserttag wird auch vom Picker eingefügt. Es muss vorausgesetzt werden können, dass automatisch eine valide URL erzeugt wird.

[2019-10-31 09:08] leofeyer commented on #909
Ich halte das schon für ein valides Issue. Zumindest sollten wir es mal mit den @contao/developers besprechen.

[2019-10-31 09:10] marcfunkitug opened #912 "Welche Templates werden genutzt?"
Es wäre schön, wenn bei dem Bereich Templates angezeigt wird, ob das jeweilige Template irgendwo aktiv genutzt wird.

Wenn wir z. B. eine Webseite relaunchen und im Vorfeld viele Templates verwendet haben und mit dem Relaunch neue Templates nutzen, verliert man leider schnell die Übersicht, welche Templates alt sind und ggf. gelöscht werden können und welche in Verwendung sind.

Anzeigemöglichkeit

[2019-10-31 09:39] Toflar commented on #912
Das funktioniert nicht zuverlässig, denn wir könenn nicht wissen, wo sie genutzt werden. Genauso wie es auch bei Modulen, Dateien etc. nicht funktioniert.
Ich könnte bspw. in `mod_foobar.html5` ein `<?php $this->insert('mod_foobar2', $data) ?>` haben. Sprich `mod_foobar2.html5` wird benötigt, aber niemand weiss davon.
Man kann natürlich versuchen die Infos wegzuspeichern und zu synchronisieren abe

[2019-10-31 10:16] Ernestopheles commented on #727
Hallo und Danke für die Info.

Leider ist es inakzeptabel, mehrere Wochen auf ein Update warten zu
müssen. Die Inkompatibilität verhindert den Start meines Projektes...

Ich hätte es auch für angemessen gehalten, wenn eine solch gravierende
Angelegenheit in der Dokumentation von contao festgehalten wird
(Systemvoraussetzungen: z.B. so: 4 < Mysql version < 8).

Gruß, Ernst

[2019-10-31 10:19] m-vo commented on #727
müssen. Die Inkompatibilität verhindert den Start meines Projektes...

Leider ist diese Haltung inakzeptabel. Doctrine ist - wie Contao - OpenSource Software, die du kostenlos benutzt. Du kannst Entwicklung aber ggf. mit Geld beschleunigen.

[2019-10-31 10:20] bytehead commented on #727
https://de.wikipedia.org/wiki/TANSTAAFL

[2019-10-31 10:20] Toflar commented on #727
Die Dokumentation ist übrigens ebenfalls Open Source (https://github.com/contao/docs). Du bist herzlich dazu eingeladen, einen entsprechenden Hinweis anzubringen.
Es sei denn natürlich, du hast keine Zeit dafür. Dann natürlich nicht, weil alle anderen die hier kostenlos mithelfen haben davon ja zu viel und arbeiten gerne für dich.

[2019-10-31 10:24] leofeyer commented on #727
Vor allem, weil wir als Contao ja gar nichts tun können. Wir müssen auf Doctrine warten und Sergei hat geschrieben "within a few weeks".

[2019-10-31 10:37] fritzmg commented on #727
This would be incorrect. The incompatibility only concerns MySQL 8.0.17 and up. Unfortunately (for many, not just Contao) neither MariaDB nor MySQL seem to adhere to semantic versioning.

[2019-10-31 10:39] Ernestopheles commented on #727
Ich muss mich wohl entschuldigen, aber versteht bitte meinen Frust...

Habe eine Änderung der Dokumentation angestossen.

Danke euch

[2019-10-31 12:13] leofeyer commented on #830
Ah, es geht nicht, weil es ein `<td>`-Element ist und kein `<p>`.

[2019-10-31 12:26] leofeyer commented on #79
Maybe we have to limit the height of the chosen dropdown?

[2019-10-31 12:27] leofeyer commented on #203
[code]

[2019-10-31 12:29] fritzmg commented on #203
@leofeyer yes, but is that the plan for the Contao Manager?

[2019-10-31 12:31] leofeyer commented on #203
There is no plan for the Contao Manager yet.

[2019-10-31 13:06] aschempp commented on #909
Ja im TinyMCE Picker sollte ein entsprechendes Flag hinzugefügt werden. Aber der InsertTag kann auch für etwas benutzt werden dass keine Encodierung will, Output-Encoding ist immer Kontext-abhängig!

[2019-10-31 13:11] Mynyx commented on #909
Der Picker mit Inserttag-Ausgabe wird nicht nur im TinyMCE verwendet.

Bereits vorhandene Inserttags müssten dann auch automatisch im Rahmen eines Updates angepasst werden.

[2019-10-31 13:21] leofeyer commented on #909
Es geht ja auch nicht um Output-Encoding, sondern um URL-Encoding. Und da wäre es IMHO schon korrekt, wenn `%20` anstatt ` ` im Quelltext steht.

[2019-10-31 16:54] xchs opened #914 "Fix a typo in the German translation"
**Affected version(s)**

Contao 4.4 & 4.8

**Description**

There is a tiny typo in the German translation string (two space characters after the word "_Artikel_"):
https://github.com/contao/contao/blob/2d5832fa11753aea0b0511721c35a88f83d17502/core-bundle/src/Resources/contao/languages/de/tl_article.xlf#L98

Once you have time, maybe you can change that on Transifex.

[2019-10-31 17:00] V15 commented on #727
Ich habe gerade den Fix https://github.com/doctrine/dbal/pull/3674/commits/f932579d44d2b51ca4161e83982f41898726f95c manuell eingebaut - der bring aber leider keine Abhilfe.

Das Problem beim einloggen besteht weiterhin.
Siehe auch https://community.contao.org/de/showthread.php?76187-MySQL-8-0-15-SQL-Error-bei-Abfrage/page2&p=513766&viewfull=1#post513766

Müssen vielleicht noch weitere Anpassungen

[2019-11-01 07:24] jankout commented on #139
Das klingt vielversprechend.

@leofeyer wisst ihr schon, wann ihr das implementieren möchtet? So könnte Contao ein Stück näher an WordPress rücken.

[2019-11-01 10:46] leofeyer commented on #790
See #915 for the Contao 4.8 changes.

[2019-11-01 10:46] #790 closed, assigned to leofeyer

[2019-11-01 11:04] leofeyer commented on #886
See #916.

[2019-11-01 11:04] #886 closed, assigned to leofeyer

[2019-11-01 11:09] leofeyer commented on #914
Done.

[2019-11-01 11:09] #914 closed, assigned to nobody

[2019-11-01 15:45] leofeyer commented on #818
Actually, we cannot fix this in Contao 4.8 without searching all folders for a `.nosync` file, which is probably not a good idea in terms of performance. @contao/developers WDYT?

[2019-11-02 11:08] Mynyx opened #919 "Von der Synchronisation ausgenommene Ordner und Dateien in FileTree-Widget auswählbar"
Im ``FileTree``-Widget sind auch von der Synchronisation ausgenommene Ordner und Dateien auswählbar.

Nach Klick auf den Button ``Anwenden`` geht die Auswahl verloren.

[2019-11-02 12:41] Mynyx opened #920 "Gespeicherte Bildgröße wird gelöscht, wenn bearbeitender Benutzer keine Berechtigung für diese hat"
Wenn ein regulärer Benutzer ein Element bearbeitet, das ein ``ImageSize``-Widget enthält (beispielsweise ein Inhaltselement mit dem Typ Galerie), bei dem von einem anderen Benutzer bereits eine Bildgröße gespeichert wurde, und der bearbeitende Benutzer keine Berechtigung für die gespeicherte Bildgröße hat, dann wird die gespeicherte Bildgröße gelöscht, wenn der bearbeitende Nutzer das Element spei

[2019-11-02 13:05] m-vo commented on #818
We could theoretically do this when syncing:

* either store excluded folders (meaning the path containing the `.nosync` file) in the database as well and ignore it when iterating or
* mark the the first synced parent folder containing a nonsynced child or - since the outcome only needs to be yes or now - the topmost one.

Either way would requires a new flag in the database table.

[2019-11-02 18:33] ausi commented on #727
Das lässt sich beheben indem du in deiner *composer.json* explizit die Version für doctrine vorgibst. In diesem Fall kannst du den Commit angeben indem der Patch gemerged wurde:

[code]

Dasselbe Prinzip lässt sich sogar anwenden wenn der Patch noch nicht gemerged wurde, dafür ist dann allerdings ein eigener Fork und etwas mehr Konfiguration in der *composer.json* nötig.

Nachdem du das gemacht ha

[2019-11-02 18:55] Ernestopheles commented on #727
Danke für den Tipp, nur:

Ich installiere Contao erstmalig, da habe ich doch nur die
contao-manager.phar.php, eine composer.json gibt es noch nicht, oder??

Am 02.11.19 um 19:33 schrieb Martin Auswöger:

[2019-11-02 19:43] ausi commented on #830
In meinem Test hat es auch mit dem `<td>`-Element geklappt, sowohl im Firefox als auch im Chrome.

[2019-11-02 19:54] ausi commented on #909
Ich denke `{{file::UUID}}` ist dafür gedacht die URL zu der Datei auszugeben (deshalb wird es auch von den Pickern verwendet) und somit sollte der Pfad auch korrekt URL-encoded werden.

[2019-11-02 20:09] ausi commented on #727
Korrekt, aber nach der Erst-Installation hast du eine *composer.json* und kannst die oben erwähnte Zeile ergänzen und danach ein Update über den Manager durchführen.

[2019-11-02 20:12] Ernestopheles commented on #727
Leider bricht die Installation mit einem sql error ab...(reserviertes
Wort member)

Am 02.11.19 um 21:09 schrieb Martin Auswöger:

[2019-11-02 22:21] fritzmg commented on #727
Die Installation ist unabhängig von diesem Problem.

[2019-11-02 22:24] Ernestopheles commented on #727
? Die Installation bricht beim Anlegen der Datenbanktabellen ab...

[2019-11-03 00:03] fritzmg commented on #727
Hast du die Schritte von @ausi durchgeführt?

[2019-11-03 00:26] Ernestopheles commented on #727
Warum habe ich nur das Gefühl, wir reden total aneinander vorbei?

[2019-11-03 09:58] fritzmg commented on #727
Du musst:

1. Contao per Contao Manager oder `composer create-project` installieren.
2. _Bevor_ du das Install Tool aufrufst die `composer.json` entsprechend der erwähnten Anleitung editieren.
3. Wieder eine Paket Aktualisierung durchführen.
4. Das Contao Install Tool aufrufen und Contao fertig einrichten.

Hattest du das nun schon gemacht oder nicht?

[2019-11-04 07:30] Toflar commented on #818
I think we should just store that info in app cache on sync.

[2019-11-04 07:34] Toflar commented on #818
And on search if the cache key does not exist yet (if caches have been cleared, new deployments were executed or anything else where file sync was missing).

[2019-11-04 08:17] fritzmg commented on #727
Version 2.10.0 has been released: https://github.com/doctrine/dbal/releases/tag/v2.10.0

Keep in mind that you need at least PHP 7.2.0.

[2019-11-04 08:35] fritzmg commented on #79
Hm, in this scenario, the `chzn-container` has a height of `29.6px`. Overriding the height to `29px` would fix the problem in Firefox in this state. Not sure if that is the correct solution though.

[2019-11-04 09:37] leofeyer commented on #901
See #921

[2019-11-04 09:47] leofeyer commented on #909
@aschempp hat doch Recht damit, dass wir den Pfad nicht standardmäßig enkodieren dürfen, da man ihn sonst nicht mehr lesbar im HTML ausgeben kann. Beispiel:

[code]

Die Bildunterschrift wäre dann `files%2Fpublic%2Fthis%20is%20an%20image.jpg` anstatt `files/public/this is an image.jpg` und der Anwender hätte keine Möglichkeit mehr, die Ausgabe zu korrigieren, weil es aus Sicherheitsgründen kein `r

[2019-11-04 09:55] fritzmg commented on #909
Die vom URL picker zurück gegebene URL wäre dann aber nun weiterhin "falsch"?

[2019-11-04 09:56] Toflar commented on #909
Ab der 4.8 könnten wir das theoretisch fixen. Da lässt sich der generierte InsertTag ja beeinflussen dank [meines PRs](https://github.com/contao/contao/pull/450).

[2019-11-04 10:06] leofeyer commented on #909
Das ganze ist eh nur ein theoretisches Problem, weil der Picker ja auch so funktioniert, oder?

[2019-11-04 10:11] fritzmg commented on #909
Es geht ja um die URL, die im Frontend generiert wird. Die hat dann bspw. spaces statt `%20`.

[2019-11-04 10:12] leofeyer commented on #909
Die URL, die wo genau im Frontend generiert wird?

[2019-11-04 10:14] akroii opened #922 "Unpublished Content-elements are visible after frontend-preview"
**Affected version(s)**
Contao 4.4.42
Contao 4.8.4

**Description**
Unpublished Content-elements are visible after frontend-preview.

**How to reproduce**
I have an article wich is being disabled. In this article there's a content-element `image` which is enabled. When I switch to preview mode and activate option `show hidden elements` now everything is visible as aspected. But after I quit the pr

[2019-11-04 10:18] fritzmg commented on #922
This is normal. Your setting is saved until your session expires.

[2019-11-04 10:21] akroii commented on #922
Even I quit the preview mode?
![Bildschirmfoto 2019-11-04 um 11 20 06](https://user-images.githubusercontent.com/8830861/68113909-1be5d300-fef5-11e9-9680-52b289a99fd2.png)
My editors are confused, because the quitted the preview mode :)

[2019-11-04 10:25] fritzmg commented on #909
![01](https://user-images.githubusercontent.com/4970961/68114210-64998e00-feed-11e9-92df-e63887fb34dc.png)

![02](https://user-images.githubusercontent.com/4970961/68114213-65322480-feed-11e9-972d-e0cdb7337e0f.png)

[code]

[2019-11-04 10:26] fritzmg commented on #922
Yes, even if you quit the preview mode.

[2019-11-04 10:37] leofeyer commented on #909
Aber der Link funktioniert ja trotzdem, oder?

[2019-11-04 10:42] fritzmg commented on #909
Ja :). Ich weiß nicht, ob es einen Browser gibt, der damit tatsächlich nicht klar kommt. Laut HTML Validator wäre es aber ein Fehler:

![htmlvalidator](https://user-images.githubusercontent.com/4970961/68115170-adeadd00-feef-11e9-863e-6d2ff5e057a1.png)

Das `&` ist dem Validator interessanterweise egal, wird aber vom Browser als Fehler markiert:

![browser](https://user-images.githubusercontent.co

[2019-11-04 10:50] leofeyer opened #923 "PHP 7.2+ for Contao 4.9"
Unfortunately, MySQL has decided to make `member` a reserved keyword in version 8.0.17, which required bug fixes in Contao and Doctrine DBAL. Also unfortunately, Doctrine has decided to fix this only in [version 2.10](https://github.com/doctrine/dbal/releases/tag/v2.10.0), which requires at least PHP 7.2.

This means for us that people cannot use Contao with MySQL 8.0.17+ and PHP <7.2.

Now with r

[2019-11-04 10:53] fritzmg commented on #923
No objections from me :)

Btw. Contao 4.4 technically supports PHP 5.6 - however you cannot use the following combination either:

* Contao 4.4
* PHP 5.6
* MySQL 8.0

[2019-11-04 10:54] leofeyer commented on #923
I know. We could continue to support PHP 7.1, but contrary to PHP 5.6, which is the last version of PHP 5, PHP 7.1 is just a regular minor version of PHP 7 with no particular significance.

[2019-11-04 10:56] leofeyer commented on #909
Ja, da müssten wir wohl ein `ampersand()` ergänzen. Ich schau es mir nochmal genau an.

[2019-11-04 10:57] leofeyer commented on #922
That is because closing the preview bar is not "quitting the preview mode". You are just removing the preview bar.

To quit the preview mode, you have to set "unpublished elements" to "hide" and click "Apply".

[2019-11-04 10:57] #922 closed, assigned to nobody

[2019-11-04 10:58] fritzmg commented on #909
Aber nur per flag - weil der Insert Tag könnte ja an Stellen eingesetzt werden, wo keine HTML entities sein können/dürfen.

[2019-11-04 11:19] Toflar commented on #923
I'm clearly in favor of raising the minimum required PHP version to 7.2.
PHP 7.1 is [EOL in 26 days](https://www.php.net/supported-versions.php) which means you should stop using it asap anyway.
Doctrine is one of our main dependencies and I feel like it's easier to communicate that we just require PHP 7.2 instead of something like "depending on your platform you may or may not use Contao 4.9 with

[2019-11-04 11:20] leofeyer commented on #923
Another argument in favor of dropping PHP 7.1: We could then use [pcov](https://github.com/krakjoe/pcov) to generate the code coverage reports, which is supported in PHPUnit 8.

See https://kizu514.com/blog/pcov-is-better-than-phpdbg-and-xdebug-for-code-coverage/

[2019-11-04 11:23] leofeyer opened #924 "Declaring classes as final"
**Why?**

https://ocramius.github.io/blog/when-to-declare-classes-final/

**If and how?**

That remains to be discussed. 😄

**Related**

https://github.com/contao/docs/pull/138

[2019-11-04 11:25] #901 closed, assigned to leofeyer

[2019-11-04 11:37] leofeyer commented on #79
How is a height of 29.6px even possible? Can Firefox render 0.6 pixels?

[2019-11-04 12:37] leofeyer commented on #823
Now that we have agreed on keeping both fields for the login module, there is nothing do adjust anymore.

[2019-11-04 13:11] Mynyx commented on #823
And what about this?

[2019-11-04 13:17] leofeyer commented on #823
See my comment above. 2FA is part of the login module.

[2019-11-04 14:08] aschempp commented on #139
Sobald jemand einen Pull Request macht kommen wir dem Ziel auf jeden Fall ein Stück näher 😉

[2019-11-04 14:27] aschempp commented on #823
Isn't there a separate module to setup 2FA? Which is only available to members, so it should not have the `guest` option?

[2019-11-04 14:31] aschempp commented on #924
Honestly, I don't really agree with this. For the mentioned case, we are using `private` methods in our classes. Making classes `final` does not bring any advantage, because an inheriting class can still only call the public methods. If a method is `protected`, then it is **explicitly** mean to be used in child classes. Also, `final` conflicts a lot with unit tests (as far as I know).

[2019-11-04 14:34] aschempp commented on #923
I'm conflicted between *technically "correct"* and *useful*. Here's my thoughts:
If we increase the PHP version, we lower the adoption of Contao 4.9. People that won't use it are the ones where PHP 7.2/7.3 is not available yet. It is very unlikely these hosters are running outdated PHP versions, but are using the latest MySQL.
So essentially, any provider with MySQL 8 will most likely offer PHP 7.

[2019-11-04 14:36] Toflar commented on #923
That was before DBAL raised their minimum required version. We have a new situation here.
Whatever we discussed then is irrelevant now.

[2019-11-04 14:41] m-vo commented on #923
I see MySQL 8 popping up everywhere now. Imo **not** raising the requirement and (therefore not supporting it in the upcoming LTS) would be the bigger problem.

[2019-11-04 14:51] frontendschlampe opened #927 "Rundungsfehler für Important Part bei Bildern nach Update von 4.7 auf 4.8"
**Affected version(s)**
Update von 4.7 auf 4.8

**Description**
Nach dem Update erhalte ich im Systemlog diverse Fehlermeldungen folgender Art:
[code]

**How to reproduce**
Ich kann es nicht genau reproduzieren, aber lt. Slack-Thread mit @ausi sind wir zum Entschluss eines Rundungsfehlers gekommen. In der Datenbank mit 4.7 stehen folgende Werte beim Bild mit der Größe 850 x 567px:

[code]

nach de

[2019-11-04 14:58] m-vo commented on #924
I agree with the reasoning in the linked article. It's imho good practice - not only in PHP ("inheritance breaks encapsulation").

There might be a problem with mocking or using proxies like [Ocramius/ProxyManager](https://github.com/Ocramius/ProxyManager) (how ironically). On the other hand there should probably be **interfaces** in that case (also for mocking) rendering this problem obsolete.

B

[2019-11-04 15:22] zonky2 opened #928 "Reihenfolge der Spalten bei "Eingebundene Module" nicht individuell sortierbar"
**Affected version(s)**
Contao 4.4.44

Die Zeilen sortieren sich mit Fußzeile als ersten Block usw. - siehe Screenshot
https://easycaptures.com/fs/uploaded/1408/5048176431.png

In aktueller Demo 4.8.4 wird Fußzeile an das Ende sortiert - offensichtlich werden die Zeilen Blockweise (Kopfzeile, Linke Spalte, Hauptspalte, Fußzeile, ...) sortiert - oder?

[2019-11-04 15:24] xchs commented on #928
Duplicate of https://github.com/contao/contao/issues/861

[2019-11-04 15:26] zonky2 commented on #928
o.k. - dann habe ich nicht lange genug gesucht :(

[2019-11-04 15:26] #928 closed, assigned to nobody

[2019-11-04 15:28] m-vo opened #929 "Filesystem tools may access invalid paths during initializeSystemHook"
**Affected version(s)**
4.4 / 4.8

**Description**
Using `File->write()` during the `initializeSystem` hook can fail because the [`tmp` subdirectory](https://github.com/contao/contao/blob/2d5832fa11753aea0b0511721c35a88f83d17502/core-bundle/src/Resources/contao/library/Contao/File.php#L844) inside `/system` might not yet exist.

Effectively this leads to an error in [madeyourday/contao-rocksolid-c

[2019-11-04 15:44] Mynyx opened #930 "Schloss-Icon für nicht öffentliche Dateien"
In der Dateiverwaltung werden nicht öffentliche Ordner mit einem Schloss-Icon gekennzeichnet. Bei den Dateien, die sich unmittelbar in ``files/`` und nicht in einem Unterordner befinden, ist jedoch nicht erkennbar, dass diese nicht öffentlich sind.

Es wäre daher sinnvoll, das Schloss-Icon auch bei nicht öffentlichen Dateien und nicht nur bei nicht öffentlichen Ordnern anzuzeigen. Darüber hinaus w

[2019-11-04 15:54] Mynyx opened #931 "Berechtigungen in der Dateiverwaltung"
In der Dateiverwaltung fehlt eine Möglichkeit, um Benutzerberechtigungen für einzelne Felder zu konfigurieren (insbesondere ``Name``, ``Öffentlich``, ``Nicht synchronisieren`` und ``Metadaten``).

Ein Risiko besteht beispielsweise darin, dass ein Benutzer mit dem Recht ``Dateien und Verzeichnisse bearbeiten, kopieren und verschieben`` bei einem Ordner  ``Nicht synchronisieren`` auswählt, denn dann

[2019-11-04 16:00] Mynyx opened #932 "Kein System-Log Eintrag bei Änderung des Synchronisierungsstatus von Ordnern"
Wenn der Synchronisierungsstatus eines Ordners in der Dateiverwaltung verändert wird (Feld ``Nicht synchronisieren``), erfolgt keine Protokollierung im System-Log.

[2019-11-04 16:37] fritzmg opened #933 "Valid login session causes error in Install Tool if database is empty"
**Affected version(s)**
4.8.5

This error does _not_ happen in Contao 4.4.45.

**Description**
If there is a valid back end login session present when accessing the Contao Install Tool and the database is empty (may be because you switched or emptied the database), an error will happen after logging into the Install Tool:

[code]

**How to reproduce**

1. Install Contao, set up the database and cr

[2019-11-04 16:47] Mynyx commented on #818
Have you maybe accidentally closed this issue?

[2019-11-04 16:47] Ernestopheles commented on #933
I solved this by deleting the browser cookies. Thanks to Spooky.

[2019-11-04 16:48] fiedsch commented on #5396
Hast Du das falsche Ticket referenziert? In #90e106f sehe ich keinen Bezug zu @NinaG's Ticket.

[2019-11-04 16:55] leofeyer commented on #5396
Das hat GitHub automatisch geschlossen wegen meines Kommentars. 🙄

[2019-11-04 17:33] Mynyx commented on #818
Why is this issue listed in the change log of 4.8.5?

https://github.com/contao/contao/blob/4.8.5/CHANGELOG.md

[2019-11-04 20:40] ausi commented on #927
It looks like PHP/Doctrine/PDO transfers float values as strings to the database and loses a huge amount of its precision this way.

_849 / 850_ gives _0.9988235294117647058823529411764705..._ but gets stored as `0.998823529412` even though MySQL could store four digits more. And _1 / 850_ gives _0.0011764705882352941176470588235294..._ but gets stored as `0.00117647058824`.

So this is probably n

[2019-11-04 20:45] ausi commented on #927
The backwards compatibility code needs to be updated too, see #935

[2019-11-04 21:05] m-vo commented on #927
Are you sure that the errors you're seeing aren't due to the fact that floats are typically stored in IEE754 format (base+precision+exponent) instead of a list of single digits?

[2019-11-04 21:16] ausi commented on #927
Yes, with the transfer to the database more precision is lost. In PHP alone `(849 / 850) + (1 / 850) === 1.0` is true.

But maybe this issue could appear without the database too in some edge-cases. That’s why I think we should not try to fix the database migration but allow a small error in the ImportantPart to fix it for all cases.

[2019-11-04 21:38] ausi commented on #909
Wer nutzt `{{file::UUID}}` als Bildunterschrift? IMO sollte es im Standardfall eine valide URL sein.

Wie wäre es mit weiteren Optionen?

|                             |                        |
|-----------------------------|------------------------|
| {{file::UUID}}              | folder/file%20name.jpg |
| {{file::UUID:url}}          | folder/file%20name.jpg |
| {{file::UUID:path}}         | fo

[2019-11-04 21:42] ausi commented on #923
I think we also agreed that if there is a good reason or a feature that we need we would increase it to 7.2. And we have a good reason now I think.

[2019-11-04 22:00] m-vo commented on #927
I'm not sure how PHP stores those values internally or if there is already optimization magic going on.

I meant: The IEE754 binary representation of 0.9988235 is `00111111011111111011001011100110` which is the exact same as the one for 0.9988235294117647058823529411764705 (example for 32 bit). The induced error isn't stable - it depends on the actual number ([Playground](https://www.h-schmidt.net

[2019-11-04 22:17] ausi commented on #927
<https://www.php.net/manual/en/language.types.float.php>

Double precision would be something like `0.9988235294117647`. Both PHP and MySQL can handle this value in my tests.

But again, no matter where the rounding issues come from, my fix should fix them all, don’t you think?

[2019-11-04 22:26] m-vo commented on #927
Sure, for the detection in the core. The `ImportantPart` could imo as well simply constrain the values without checking) for not having to specify a precision margin). But that's an API design decision.

[2019-11-05 06:58] leofeyer commented on #927
See #935

[2019-11-05 06:58] #927 closed, assigned to ausi

[2019-11-05 10:01] zonky2 opened #936 "Abgleich BE-Bezeichnung und Handbuch"
wie in
in https://docs.contao.org/manual/de/theme-manager/seitenlayouts-verwalten/#frontend-module
zu sehen, gibt es für die als "Layoutbereiche" bezeichneten Elemente die Spaltenüberschrift "Spalte" - obwohl es dann z.B. "Kopfzeile" oder "Fußzeile" heißt.

M.E. wäre eine Umbenennung in der Tabelle in "Layoutbereich" selbsterklärender.

[2019-11-05 10:05] fritzmg commented on #936
Müsste aber auch andernorts geändert werden - also bspw. bei der "Spaltenauswahl" in den Artikeleinstellungen.

[2019-11-05 20:31] jankout commented on #139
@aschempp Das würde ich gerne mache, allerdings komme ich nicht darauf, wie ich es machen kann. Es gibt viele Einschränkungen, um einen Pull Request zu erstellen, die ich von anderen Erweiterungen nicht kenne.

[2019-11-06 12:41] jaennert commented on #809
Das hier geschilderte Problem habe ich auch. Bin neu bei Contao und baue eine Webseite für einen Sportverein. asv-nv.jaennert24.de
Für den Test läuft dies auch auf einer Sub-domain. Testweise auch noch bei Strato. In beiden Fällen dauert der erste Aufruf der Seite mehr als 20 Sekunden. Mein Hoster macht den OPcache verantwortlich. Kann das aber nicht beurteilen.

[2019-11-06 14:58] ausi opened #937 "Set width and height attributes as an aspect ratio for images"
Browsers now seem to change the behavior of how `width` and `height` attributes are handled in combination with responsive CSS, see https://github.com/whatwg/html/pull/4952

The new behavior seems to be the way that @fritzmg already suggested five years ago in https://github.com/contao/core/issues/7500#issuecomment-65933582 which means you can use `width` and `height` now to define an aspect ratio

[2019-11-06 15:02] leofeyer commented on #937
What exactly needs to be changed on our end?

[2019-11-06 15:05] ausi commented on #937
I will provide a pull request once we agreed on bugfix vs. feature 🙃

[2019-11-06 15:10] leofeyer commented on #937
I guess this is a bugfix.

[2019-11-06 15:14] leofeyer commented on #909
Vermutlich eher `file_url::UUID` als `file::UUID:url`. Aber wir können den Standardfall nicht ohne BC-Break ändern.

[2019-11-06 15:27] ausi commented on #909
Ich denke dass jemand `{{file::UUID}}` nicht als URL eingesetzt hat ist äußerst selten. Wenn jemand den Insert-Tag tatsächlich als Text verwendet, wäre der BC-Break kein großes Problem denke ich da der Text ja weiterhin lesbar bleibt.

[2019-11-06 17:22] leofeyer commented on #924
I also agree with the reasoning in the article.

[2019-11-06 18:10] Toflar commented on #909
Ich bin auch der Meinung, dass der Standardfall wohl encoded sein sollte.

[2019-11-06 18:17] Toflar commented on #937
Bugfix

[2019-11-06 21:10] exscorp opened #938 "Kein individuelles Template bei "Mehrere bearbeiten > Mehrere überschreiben""
**Affected version(s)**
4.8.x
##
**Description**
Ich hatte gerade den Fall das in einem Artikel 12 ce_text Elemente ein anderes Template bekommen sollten. Wollte Mehrere bearbeiten > Überschreiben und das neue Template zuweisen, die Liste ist aber leer. Wenn ich die Elemente einzeln bearbeite, dann wird das neue Template angezeigt.

Durch die Templateauswahländerung in 4.8 kann man bei **Mehrere b

[2019-11-06 21:51] ausi commented on #937
Pull requests: #940 (4.8) #939 (4.8)

We should probably wait until one of the browsers released a stable version with this feature activated. Firefox 71 will be released in december AFAIK.

[2019-11-07 13:19] aschempp commented on #933
How can you have a valid back end session if you do not have any database tables?

[2019-11-07 13:21] Ernestopheles commented on #933
I think that happened as I did have a working installation before and
then needed to delete this and install newly.

Am 07.11.19 um 14:19 schrieb Andreas Schempp:

[2019-11-07 13:22] fritzmg commented on #933
Exactly as described in my reproduction ;)

[2019-11-07 13:23] aschempp commented on #923
Having 7.1 for the LTS and switching to 7.3 for the next minor seemed "more important" to me. But it won't make a real difference anyway :D

[2019-11-07 14:22] m-knorr opened #942 "sitemap.xml is generated with /preview.php/ URLs"
We currently have the problem, that sometimes the sitemap.xml is generated with preview.php URLs.

Regular site count is at about 256 pages, and we get errors in our SEO tool and from the Google Search Console as well, that ~250 pages of ~500 pages are redirects with "noindex".

So every page is in the list twice.

Is it possible that the sitemap is created depending on the user that is logged in?

[2019-11-07 15:17] leofeyer commented on #923
Ok, the number of upvotes is pretty clear. 😄 See #943.

[2019-11-07 15:17] #923 closed, assigned to leofeyer

[2019-11-07 18:08] chriza opened #944 "No root page found in Multilanguage Domain"
4.8.5

Wird in einer Multilanguage Domain mit prepend_locale=true eine nicht extistente Sprache aufgerufen, wird die Fehlermeldung
No root page found (host "domain.tld", language "[angeforderte sprache]")

contao.org/it, contao.org/nl etc.

[2019-11-07 18:12] chriza commented on #944
bei Contao erscheint ein 404 Fehler. Dieser Fehler tritt in Verbindung mit der terminal42/changelanguage Extension auf.

[2019-11-07 18:12] #944 closed, assigned to nobody

[2019-11-07 20:44] srhinow commented on #172
i have solved this with `System::setCookie('NAME', $msg, time()+60*60)` in onsubmit_callback-Methode and in the onload_callback-Methode is the following code:

[code]
Of course, you can also use any other message method, such as addError.

[2019-11-08 09:20] pressi commented on #902
@Toflar Danke für die Infos.
Wie funktioniert das mit Cookies. Kann es sein das der Cache auch wenn das Cookie auf dieser Seite nicht abgerufen wird, den Cache ignoriert, sobald ein Cookie gesetzt ist?
Ich habe jetzt in einer Kopie ein Update auf Contao 4.8. gemacht, das scheint besser zu funktionieren, aber sobald ein Cookie gesetzt ist, wird die Seite (und zwar alle Seiten) wieder langsam.

[2019-11-08 09:36] fritzmg commented on #902
Ja, Cookies werden ja mit jedem Request automatisch mit an den Server gesendet und verhindern auch die Nutzung des Caches. Mit Ausnahme von bestimmten Cookies - diese Ausnahmen kannst du mit der `COOKIE_WHITELIST` Umgebungsvariable erweitern. Oder du aktivierst die Shared Cache Checkbox - dann kommen die Seiten _immer_ aus dem Cache. Du musst aber dann selbst dafür sorgen, dass Seiten, die Nutzers

[2019-11-08 10:27] Toflar commented on #902
Nein, nicht ganz korrekt :)

Ihr müsst euch den Cache als eigene Komponente vorstellen. Er weiss nichts von Contao und kann auch auf einem anderen Server liegen. D.h. er muss zum Zeitpunkt des Requests bereits entscheiden können, ob er die Antwort aus dem Cache liefern darf oder nicht.
Leider gibt es technisch keine Möglichkeit, einem Cache dynamisch mitzuteilen, welche Cookies applikationsrelevan

[2019-11-08 10:37] fritzmg commented on #902
Jap, auf jeden Fall. Fehlt momentan eigentlich noch komplett (also auch die Einstellungsmöglichkeiten in der Seitenstruktur). Mach mal ein Ticket dafür ;)

[2019-11-08 13:17] m-vo opened #949 "contao.cache.clear_internal and contao.cache.warm_internal need to be public"
**Affected version(s)**
all that work with Symfony>=4.0

**Description**
`contao.cache.clear_internal` and `contao.cache.warm_internal` are used directly via `$container->get()` (in `Contao\Automator`) but both aren't public. Using the automator command to purge/generate the internal cache therefore fails.

**How to reproduce**
[code]

[code]

[2019-11-08 13:25] aschempp commented on #929
Shouldn't `File->write()` create directories as necessary?

[2019-11-08 13:38] m-vo commented on #929
It should I guess. But [currently](https://github.com/contao/contao/blob/2d5832fa11753aea0b0511721c35a88f83d17502/core-bundle/src/Resources/contao/library/Contao/File.php#L853) it simply calls  `Files->fopen()` which then fails.

[2019-11-08 13:45] fritzmg commented on #929
May be related: https://github.com/contao/core-bundle/issues/1177

[2019-11-08 16:33] leofeyer commented on #949
@contao/developers IMHO we should remove the method body of the `purgeInternalCache()` and `generateInternalCache()` methods and trigger a deprecations notice instead. The internal cache can only be purged/built by purging/building the Symfony cache. Any objections?

[2019-11-08 16:35] leofeyer commented on #937
Would it break something if we released it now?

[2019-11-08 16:46] leofeyer commented on #79
I think the actual problem is that the other input fields are only 29px high in Firefox. Chrome and Safari render the fields with a height of 30px, which is correct and matches the height of the Chosen element.

Another example of why Firefox has become the new IE6. 🤷‍♂

[2019-11-08 16:49] leofeyer commented on #830
Stimmt. Ich hatte wohl das `max-width: 0` vergessen. 🙄

[2019-11-08 16:49] m-vo commented on #949
Fun fact: I only stumbled across this because I entered the wrong number (`contao:automator`). 😄

[2019-11-08 23:00] ausi commented on #937
It shouldn’t break something in general IMO. There might be some edge cases with using the `sizes` attribute, but they should be easy to fix with CSS I think.

I’d still wait for the first released browser version to be more certain that this new behavior stays, and so that we can test our implementation.

[2019-11-09 06:52] theDyingMountain opened #950 "Shared Cache doesn't automatically renew if CSS/JS Scriptcache ist changed"
**Affected version(s)**
4.8
**Description**
The CSS/JS Script Cache is broken, when I use the Shared Cache and make some changes on the Scripts. Then the scripts could not be loaded on the page. The only solution is to clear the symfony cache in the Contao Manager, clearing the shared cache in maintenance module doesn't helps.
**How to reproduce**
1. Use Shared Cache Setting
2. Make some changes i

[2019-11-10 14:05] mrflory opened #951 "Member that is deactivated by date still gets newsletters"
**Affected version(s)**
Tested on Contao 4.4.43 and 4.8.4

**Description**
Members can be deactivated by setting the checkbox "Deactivate" or by setting the "Deactivate on" date. The checkbox also disables the member as newsletter recipient, but when the date is passed the newsletter recipient is still active.

**How to reproduce**

1. Create a newletter channel
2. Create a member and assign the n

[2019-11-11 16:35] leofeyer commented on #265
See #559 and #719.

[2019-11-11 16:35] #265 closed, assigned to nobody

[2019-11-11 21:01] ausi commented on #79
Safari and Chrome show the same issue for some DPPXs in my test.

<img alt="chrome" src="https://user-images.githubusercontent.com/367169/68620886-bc785c00-04ce-11ea-942c-6c82601856b5.png">

<img alt="safari" src="https://user-images.githubusercontent.com/367169/68620899-c306d380-04ce-11ea-93c0-558ce6e8dd63.png">

[2019-11-12 09:13] theDyingMountain opened #958 "SQL Error id, pid NULL on theme import"
**Affected version(s)**
4.8.5
**Description**
I have two 4.8.5 Contao installations. If i exported the theme from one installation, and imported the theme in the other I get the following error:
`An exception occurred while executing 'INSERT INTO tl_image_size (id, pid, tstamp, name, cssClass, densities, sizes, width, height, resizeMode, zoom, skipIfDimensionsMatch, formats) VALUES (NULL, NULL, '1

[2019-11-12 11:29] tixtrix commented on #809
Gibt es hier neue Erkenntnisse? Habe das Problem auch bei einigen Installationen 4.7/4.8 (Strato/1und1, PHP 7.2/7.3.11).

[2019-11-12 12:37] Bear30 opened #962 "Weisses Fenster im Contao-Installtool nach Upgrade auf 4.8.5"
Beim Upgrade von C4.4.45 auf Contao 4.8.5 via CM bin ich an einem weissen Fenster im Installtool gestrandet. Wie sich nach längerem hin und her herausgestellt hat wird der Fehler durch zuwenig RAM verursacht. Nachdem All-inkl das auf 512 MB erhöht lief es durch. Leider gibt es da keinerlei Logeinträge weder am Server noch im var/log.

Spooky hatte mich gebeten das nochmals auf Github zur Diskussio

[2019-11-12 15:20] m-vo commented on #962
@frontendschlampe Is this the same issue we talked about some time ago?

[2019-11-12 15:45] fritzmg commented on #962
It seems to be the same issue as we discussed in Slack, yes.

[2019-11-12 16:04] m-vo commented on #962
IIRC we pinpointed the problem to be within the [cache warmup](https://github.com/contao/contao/blob/master/installation-bundle/src/Controller/InstallationController.php#L275) stage.

[2019-11-12 16:07] frontendschlampe commented on #962
Yes ... I think so ...

[2019-11-13 04:10] richardhj opened #966 "Wrong request in fragment controller on PageError401"
**Affected version(s)**
4.8.*

**Description**
When any module is placed on an Error 401 page, the wrong request object is passed.
`$request->getRequestUrl()` returns the URL of the `_contao/login` route instead of the actual URL of the page.
Example code: https://github.com/richardhj/contao-email-token-login/blob/9825029eb89f50b411ec793eaffe00238e70c190/src/Module/TokenLogin.php#L166

[code]

**H

[2019-11-13 04:27] richardhj opened #967 "Login's redirectBack not working after successful 2FA authentication"
**Affected version(s)**
4.8.*

**Description**
When the login form is placed on a PageError401 page, the user stays on the error page instead of getting directed to the home page. The login form uses "redirectBack" configuration.

**How to reproduce**
1. Enable 2FA for one member
2. Enable `redirectBack` for the login module
3. Place the login form on a PageError401
4. Log in with the member, auth

[2019-11-13 05:25] fritzmg commented on #967
If you place a login form on the 401 page, you have to disable redirect back, since you already are on the correct URL.

[2019-11-13 05:26] richardhj commented on #967
This does not influence the behavior, since the error occured in the first place and I enabled "redirectBack" afterwards.

[2019-11-13 09:52] leofeyer commented on #734
We should definitely use the ICU Data from the Symfony Intl Component as described here:

https://symfony.com/doc/current/components/intl.html#accessing-icu-data

This way we do not have to maintain our own list of countries and languages and Symfony also supports ISO 639-2 alpha-3, which we want to support in Contao, too, in the future.

[2019-11-13 11:05] theDyingMountain opened #969 "(Kopie) String beim Kopieren von Bildgrößen Mediaqueries entfernen"
**Description**
Aktuell wird beim Kopieren einer Bildgrößenquery immer der (Kopie) String angehangen. Dieser ist unnötig und lästig zu entfernen, da er nicht sowieso nicht in der Query enthalten sein darf.

[2019-11-13 11:29] leofeyer commented on #830
Ich hab das jetzt nochmal getestet und bin irgendwie nicht so ganz überzeugt, weil die beiden Spalten dadurch – zumindest in Chrome – sehr schmal angezeigt wurden, obwohl eigentlich genug Platz wäre:

<img width="1211" alt="" src="https://user-images.githubusercontent.com/1192057/68759997-200aa280-0611-11ea-83d6-2b36d35e1e78.png">

Um das zu kompensieren, habe ich eine Breite zugewiesen:

[code]

[2019-11-13 12:44] juju2 opened #970 "Order of backend modules changed after updating system in Contao Manager"
**Affected version(s)**
4.4.45 (at least)

**Description**
After e.g. uninstalling a backend module or updating an extension via Contao Manager the order of backend modules underneath the headline "Content" has changed in the Contao backend menu.

The Events for example by default are at position 3 (after Articles and News) and after making the described changes the order changes to Articles, Even

[2019-11-13 15:09] m-vo commented on #830
Das geht denke ich nicht - `text-overflow: ellipsis` braucht die Größe des Contents.

Alternativ lässt sich höchstens sowas machen (Tradeoff: keine Ellipse für Text der mehrzeilig werden würde, dafür automatische Verteilung):

[code]

[2019-11-13 15:19] #756 closed, assigned to leofeyer

[2019-11-13 17:01] leofeyer commented on #970
The order of back end menu items is not predictable. It depends on which extensions are installed, how the manager determines the loading order and how those extensions add menu items (prepend, inject, append).

[2019-11-13 17:01] #970 closed, assigned to nobody

[2019-11-13 17:13] fritzmg commented on #970
It should be in a vanilla Contao installation though.

[2019-11-13 17:14] zonky2 opened #974 "FE-Module: Suche nach erweitern um ID"
FE-Module: Suche nach erweitern um ID

Insbesondere wenn man mit Insert-Tags arbeitet und wissen will was `{{insert_modul::42}}` war, ist manchmal eine langwierige Suche angesagt (es sei den, man hat die Listenausgabe gepimt und gibt die ID mit aus)

Eine Erweiterung des Sucheintrages nach ID würde das sehr erleichtern.

[2019-11-13 17:20] zonky2 opened #975 "Inserttag um Kommentarmöglichkeit erweitern"
Darauf gestoßen bin ich bei einer Projektübernahme wo ich z.B. folgende Inserttags fand `{{insert_module::42|Naviagtionsmodul 2}}`

Contao übergeht zwar die Sachen nach der Pipe, erzeugt aber viele Einträge im System-Log...

... dennoch fand ich die Grundidee nicht schlecht und es steht die Frage, ob man die Inserttags nicht um einen dezidierten Kommentareintrag erweitern könnte z.B. `{{insert_mod

[2019-11-14 10:06] leofeyer opened #978 "Symfony 5 is required for Monolog 2 support"
We have transitionally fixed the "Symfony 5 is required for Monolog 2 support" problem by adding a conflict in https://github.com/contao/conflicts/commit/99f14df05740a7d0818735e1dead739a59af73c6. Now we should discuss how and when to remove it again, since we want to use Monolog 2 with Symfony 5 some day.

[2019-11-14 11:18] intradesign opened #979 "Database queries are not removed in Install Tool after execution"
**Affected version(s)**
Contao 4.8.5 (maybe also 4.8.4, 4.8.3, 4.8.2, 4.8.1, 4,8,0)
PHP 7.3.11
MariaDB 10.3

**Description**
The database commands "Alter Table..." remain in the Install Tool after execution. They can be executed several times. The table changes are executed as you can see in phpMyAdmin but not removed from install tool: If you execute the commands in phpMyAdmin (individually), you

[2019-11-14 11:33] fritzmg commented on #979
@intradesign can you please post the exact queries that remain?

I have the same problem with MariaDB 10.4.8, but I want to confirm that we are talking about the same thing.

[2019-11-14 11:44] intradesign commented on #979
**Here they are:**
[code]

[2019-11-14 12:22] richardhj commented on #966
Duplicate of #558 🙈

[2019-11-14 12:48] de-es commented on #979
Ich glaube, ich konnte das in einer ähnlichen Komponentenkonstellation mit einem Update von `doctrine/dbal` auf 2.9.3 oder 2.10 beheben. Das ursächliche Problem wurde in den Versionen behoben.

[2019-11-14 18:22] Ernestopheles opened #984 "Contao news / Sicherheitshinweise zu Contao-Themes / Link Free Themes Month not active"
**Affected version(s)**

**Description**

**How to reproduce**
open URL [https://contao.org/de/blog-leser/items/im-juli-ist-contao-free-themes-month.html](url)

[2019-11-14 18:45] m-vo commented on #984
What is even the question?

[2019-11-14 18:46] Ernestopheles commented on #984
Link [Free Themes Month](url) not active

[2019-11-14 18:48] xchs commented on #984
This belongs to the [contao/website](https://github.com/contao/website) repo.

[2019-11-14 18:49] Ernestopheles commented on #984
ok, thanks

[2019-11-14 20:41] fritzmg commented on #979
Hm, I cannot confirm it anymore with MariaDB `10.4.10`, using `doctrine/dbal` `2.9.0` and `contao/core-bundle` `4.8.5`.

[2019-11-15 16:35] #984 closed, assigned to nobody

[2019-11-16 14:53] zonky2 opened #992 "Filterung der Ansicht Templates"
Es wäre schön, wenn die Listenansicht bei den Templates eine Filterung/Freitextsuche nach Template-Dateinamen bekommen könnte...

Also z.B. Eingabe von `ce_` grenzt die Anzeige auf alle "ce_abc", ... "ce_xyz" ein

Aktuell schlage ich mich mit einer Installation rum, bei der das gekaufte Theme über 650! Dateien mitbringt - hier wäre eine Eingrenzungsmöglichkeit der Hit!

Option: Filter per Select n

[2019-11-16 21:18] pressi commented on #902
@Toflar Danke für die Erklärung.
Ich habe mir jetzt auch den Vortrag der Contao Konferenz angeschaut, das hat schon alles Licht ins Dunkel gebracht. ;)
Danke für Eure Hilfe und Arbeit an Contao. Ich schließe somit das Ticket, da es somit kein Contao Problem ist.

[2019-11-16 21:18] #902 closed, assigned to nobody

[2019-11-17 14:34] clemensfreitag-dev opened #993 "[PHP Fatal Error] Argument passed to FragmentRegistry::get() must be of the type string, object given"
**Affected version(s)**

Contao: Contao 4.8.5 installed with Contao Manager
PHP: `7.3.11-1+0~20191026.48+debian9~1.gbpf71ca0`

**Description**

After a clean installation of Contao and some configurations on the backend, I observe the following PHP fatal error in the Apache logs on all most every frontend access:

`[php7:error] [pid 26793] [client [CROP]] PHP Fatal error:  Uncaught Symfony\\Compon

[2019-11-17 14:37] clemensfreitag-dev commented on #993
I saw this issue first with Contao 4.8.4, however also observed it after update to Contao 4.8.5 with Contao Manager

[2019-11-17 14:49] BugBuster1701 opened #994 "webp in Dateiverwaltung"
**Affected version(s)**

in Contao 4.8.5 getestet

**Description**

Unter PHP 7.2, webp Support in GD vorhanden und über config.yml gesetzt, da imagick auch installiert ist, aber ohne webp. Experteneinstellung zeigt auch an, das ich jpg, png und gif in webp wandeln lassen könnte.
in der Dateiverwaltung, webp Upload und Endung sind erlaubt, wird mir zwar Größe und Abmaße einer webp Datei angezeigt

[2019-11-17 18:45] xchs commented on #994
Ist das nicht bereits der Fall in Contao 4.8.5? Eigentlich sollte WebP dort bereits standardmäßig erlaubt sein (siehe https://github.com/contao/contao/pull/829).

[2019-11-17 19:29] BugBuster1701 commented on #994
Aja, ich hatte mit 4.8.4 angefangen zu testen und dann erst das Update gemacht.

[2019-11-18 15:54] plorenz-etes opened #995 "Fix incompatibilities with PCRE 8.32 in Contao 4.4 LTS"
**Affected version(s)**
Contao 4.4.*

**Description**
There was a Merge Request #916 which fixes #886 in Contao 4.8. However, this wasn't backported to Contao 4.4 yet. We've got customers on RedHat 7.6 with this exact PCRE version who run into this problem.

**How to reproduce**
See #886 - but for some reason, we only run into this bug using MetaModels. However, manually backporting the changes fr

[2019-11-18 15:56] ausi commented on #958
I was not able to reproduce this issue.

Please turn on the debug mode and add `dump($arrMapper);` to line 455 in the file *vendor/contao/core-bundle/src/Resources/contao/classes/Theme.php*
After importing the theme then you should see a dump of the mapper data.

[2019-11-18 20:17] aschempp commented on #734
Please be aware that we need a way to still locally configure countries etc. I've had clients requesting "non-existing"/non-acknowledged countries like Tibet or Taiwan because of personal beliefs...

[2019-11-18 20:33] aschempp commented on #993
Interesting! Maybe the `_controller` attribute can be an object if a `ControllerReference` is used in a subrequest. Did you install any extensions that could be related?

[2019-11-18 21:15] leofeyer commented on #734
I am not sure if that is a supported use case in the first place, but until Contao 5, the existing hooks will continue to work.

[2019-11-18 21:31] clemensfreitag-dev commented on #993
Actually this was a good hint! Besides `contao/manager-bundle` I installed:

[code]

I experimented a bit with contao-bootstrap but decided to not use it. I de-installed contao-bootstrap and actually the fatal error vanished. Out of curiosity, I even re-installed contao-bootstrap and modified some of the frontend module to use BS templates but wasn't able to reproduce it.

Right now, I could only

[2019-11-19 00:00] m-vo commented on #993
@dmolineus

[2019-11-19 06:22] theDyingMountain commented on #958
Hm I also was not able to reproduce the issue now. Maybe there are some database issues on the server that causes the issue some days ago?

[2019-11-19 06:59] aschempp commented on #970
It is, but he was adding and removing extensions, therefore affecting the *vanilla-ness*

[2019-11-19 09:14] dmolineus commented on #993
`contao-bootstrap` doesn't use fragments, own routes nor manipulates requests/routes. So I'm not sure if it's related to the extension (or it's dependencies).

According to https://symfony.com/doc/current/create_framework/http_kernel_controller_resolver.html the `_controller` attribute might contain other information than strings, see example:

[code]

[2019-11-19 10:53] JulienSteininger opened #996 "Registration form not handled correctly when using activation mail in Contao 4.4"
**Affected version(s)**
Contao 4.4.45

**Description**
When registering with a mail that is already in use for another deactivated account the activation mail is not resent, no new user is registered, the form fields are not displayed and the submit button has no text. The problems are caused by this check happening too early so the rest of the function is not executed.

[code]
Moving the check di

[2019-11-19 13:13] contaoacademy commented on #979
Habe hier eine Kundin, die hat dasselbe Problem mit Contao 4.8.5.
Kann ich für die Fehlersuche etwas beitragen?

[2019-11-19 14:09] saress opened #997 "Backend Navigation: Top-Navigation Icons verschieben sich beim Scrollen am Handy"
**Affected version(s)**
Contao 4.4.45 und Contao 4.8.5

**Description**
Logged man sich am Handy  (in meinem Fall Samsung Galaxy S10) ins Backend ein, klickt auf das Hamburger Menü und scrolled dann bei geöffnetem Offcanvas Menü nach unten bis die Top-Navigation aus dem sichtbaren Bereich verschwindet und danach wieder retour nach oben, dann sind alle Icons der Top-Navigation nach rechts verschobe

[2019-11-19 14:28] dmolineus commented on #995
How do you backport this fix to Contao 4.4? The translator was introduced in Contao 4.5. MetaModels uses https://github.com/contao-community-alliance/translator. I guess you should open the issue there.

[2019-11-19 14:59] plorenz-etes commented on #995
@dmolineus Ah yes, you're right - sorry, this got mixed up because the BackportedTranslator class looks quite similar to Contao's Translator class. Opening an issue at contao-community-alliance/translator - sorry!

[2019-11-19 14:59] #995 closed, assigned to nobody

[2019-11-19 15:10] xchs commented on #997
Welchen Browser verwendest Du denn auf Deinem Smartphone? Mir ist ebenfalls aufgefallen, dass sich die mobilen Browser diesbezüglich unterschiedlich verhalten.

[2019-11-19 15:47] dmolineus commented on #995
Pull requests are welcome :-)

[2019-11-19 16:14] baymax88 opened #998 "Upgrade contao 3.5.2 to 4.4 LTS"
**Affected version(s)**
contao 4.4 LTS

**Description**
I hope to upgrade my current site (built with contao 3.5.2).
I tried to upgrade it on my local first but not going well.
Please let me know how to upgrade it.

Thanks

[2019-11-19 16:15] xchs commented on #998
Please refer to the [forums](https://community.contao.org/) for this kind of questions.

[2019-11-19 16:32] #998 closed, assigned to nobody

[2019-11-19 16:38] saress commented on #997
Google Chrome in der aktuellsten Version.

Beste Grüße
Saress

[2019-11-20 00:07] asaage opened #999 "Login-module breaks 404-Error-page"
**Affected version(s)**
4.8.5 and probably below

**Description**
Loginmodule on Error404 page renders ugly **Oops! An Error Occurred** symfony-twig-template
https://community.contao.org/de/showthread.php?76129-404-Seiten
That happens with misspelled page-aliases or url-suffixes but funnily enough not wit wrong auto_item parameters. Took me ages to figure that out as neither logfiles, the console

[2019-11-20 09:26] fritzmg commented on #999
I can confirm the problem.

[2019-11-20 09:39] aschempp commented on #999
any idea what the actual error message is (try running in debug mode)?

[2019-11-20 09:41] asaage commented on #999
Symfony\Component\Routing\Exception\ResourceNotFoundException

None of the routers in the chain matched this request GET /foo.html

[2019-11-20 09:42] aschempp commented on #999
That's the message in the login module "frame" ??

[2019-11-20 09:50] fritzmg commented on #999
![capture](https://user-images.githubusercontent.com/4970961/69228183-67e67800-0b83-11ea-8b56-f64166044076.png)

[code]

[code]

[2019-11-20 09:52] asaage commented on #999
What do you mean with "frame"?
![image](https://user-images.githubusercontent.com/4138336/69228410-cf042c80-0b83-11ea-9150-70ad14c95eb3.png)

[2019-11-20 10:01] leofeyer commented on #760
@aschempp WDYT?

[2019-11-20 10:04] leofeyer commented on #770
Ich fände es schon nice, wenn wir kein Teaser-Feld mehr in den Einstellungen hätten. Stattdessen könnte man z.B. eine "Erstes Inhaltselement als Teaser verwenden"-Checkbox einbauen.

Allerdings wäre das ein BC-Break.

[2019-11-20 10:06] leofeyer commented on #786
Ja, bitte versuch mal, ob das Dein Problem löst.

[2019-11-20 10:09] leofeyer commented on #793
Wir könnten das Feld aus der Palette nehmen, dann wäre es immer noch in der DB für den Theme-Import, würde aber nicht mehr beim Bearbeiten im BE angezeigt.

[2019-11-20 10:15] leofeyer commented on #796
There is no CSS class `headline` in the headline form field in Contao 3.5. Do you mean `widget-headline`?

[2019-11-20 10:16] leofeyer commented on #798
@Mynyx /ping

[2019-11-20 10:19] leofeyer commented on #799
Welche Contao-Version ist betroffen?

[2019-11-20 10:23] leofeyer commented on #809
@xprojects-de @Aybee @webaffin @webathlet  @Shoekrates @jaennert @tixtrix https://github.com/contao/contao/issues/809#issuecomment-545936523

[2019-11-20 10:25] leofeyer commented on #832
Wie genau lässt sich das Problem reproduzieren?

[2019-11-20 10:32] leofeyer commented on #851
About 15 years ago, SSL certificates were quite expensive, therefore many hosting companies allowed their clients to access their website `http://client.com` via HTTPS as `https://ssl-sites.com/client.com`. Contao supported this use case, which is why the proxy URL contains both `$xhost` and `$host`.

Nowadays, this setup is obsolete and we should adjust Contao accordingly.

[2019-11-20 10:33] leofeyer commented on #858
@fritzmg Were you able to reproduce this issue?

[2019-11-20 10:41] leofeyer commented on #890
Ich auch. Und die 401er-Seite entscheidet dann, ob weitergeleitet wird oder nicht.

[2019-11-20 10:41] #890 closed, assigned to nobody

[2019-11-20 10:41] asaage commented on #770
Ich hab da verschiedene Anwendungsfälle (teilweise gemischt in ein un dem selben Archiv).
z.B. Weiterleitung auf externe/interne Seite (da will ich nicht auf das Teaser Feld verzichten und genötigt werden ein Inhaltselement anzulegen).
einige Seiten haben auch nur Listings in denen der Teaser gar nicht angezeigt wird (simple oder short weiss ich gerad nicht) da ist es mangels content oftmals auch

[2019-11-20 10:44] leofeyer commented on #893
Das liegt daran, dass das Feld auch noch bei anderen Seitentypen zum Einsatz kommt, bei denen es kein Pflichtfeld ist. Extra deswegen eine weitere Übersetzung anzulegen, halte ich jedoch für übertrieben.

[2019-11-20 10:44] #893 closed, assigned to nobody

[2019-11-20 10:50] leofeyer commented on #900
Wie genau hast Du das denn gemacht?

[2019-11-20 10:55] leofeyer commented on #910
Welche Contao-Version betrifft das?

[2019-11-20 10:55] #912 closed, assigned to nobody

[2019-11-20 10:57] leofeyer commented on #919
The FileTree widget is deprecated. You should use the DCA picker instead. (And we should probably trigger an exception warning.)

[2019-11-20 10:57] aschempp commented on #796
There was one in Contao 3 😉
https://github.com/contao/core/blob/3.5/system/modules/core/templates/forms/form_headline.html5#L4

[2019-11-20 10:58] leofeyer commented on #920
Es macht ja auch keinen Sinn, einem Redakteur Zugriff auf ein Inhaltselement zu geben, in dem eine Bildgröße verwendet wird, auf die er/sie keinen Zugriff hat, oder?

[2019-11-20 11:01] leofeyer commented on #933
I don't think that this a case we need to handle. @contao/developers WDYT?

[2019-11-20 11:05] leofeyer commented on #950
Please provide more detailed information.

[2019-11-20 11:08] leofeyer commented on #962
Would you mind sharing your findings here? 😉

[2019-11-20 11:09] leofeyer commented on #966
I have marked the original issue as "up for discussion".

[2019-11-20 11:09] #966 closed, assigned to nobody

[2019-11-20 11:10] leofeyer commented on #967
I do not consider it good practice to have a login form on an error page. You should enable forwarding to the actual login page instead.

[2019-11-20 11:10] leofeyer commented on #969
Welche Contao-Version ist betroffen?

[2019-11-20 11:20] tixtrix commented on #809
Können wir mal die Erweiterungen bei betroffenen Installation abgleichen?
- Datenbanksicherung
- jrgregory/m17-sticky-backend-footer
- RockSolid Columns
- RockSolid Custom Elements
- RockSolid Icon Picker
- RockSolid Slider

Diese sind bei den bei mir betroffenen Installationen neben dem Bundle im Einsatz.

[2019-11-20 11:28] leofeyer commented on #999
As I have commented in https://github.com/contao/contao/issues/967#issuecomment-555956912, I do not consider it a good practice to have a login module on an error site.

[2019-11-20 11:33] leofeyer commented on #796
I see.

[2019-11-20 11:36] fritzmg commented on #999
@leofeyer that would mean you would always need to use a custom page layout for the 404, 403 and 401 pages, if you have a login module in your page layout? I do not think this should be necessary.

Also I think having a login module on the 401 page is definitely something that should be supported.

[2019-11-20 11:48] tixtrix commented on #809
Probleme treten bei Webhostingpaketen bei Ionos und Strato auf, Servereinstellungen vom Contao-Manager.
CGI/FastCGI

[2019-11-20 13:19] asaage commented on #999
I partially agree on "good practice" especially if the login has no JumpTo.
What's the quickest was to get the page-type in an arbitary template?
I would add a condition (dont realy insist on that module being present).
Additional layouts are always a hassle for me. 🤔

[2019-11-20 13:28] webaffin commented on #809
Meine Umgebung:
- 1&1 IONOS SE, PHP-Binary in /usr/bin/php7.3-cli
- CGI/FastCGI / PHP Version 7.3.11
- Contao 4.4.45

Meine Erweiterungen:
- alnv/catalog-manager
- delahaye/dlh_googlemaps
- do-while/contao-backupdb-bundle
- RockSolid AntiSpam
- RockSolid Columns
- RockSolid Custom Elements
- RockSolid Icon Picker
- RockSolid Mega Menu
- RockSolid Slider
- MultiColumnWizard
- Sprachenwechsler

[2019-11-20 13:47] jaennert commented on #809
Hosting bei Strato und phpWebsite.

phpWebsite schreibt:
so ich hab deinem Vertrag die OPCACHE DEAKTIVIERT.
Contao  hat  da ein grosses Problem, welches von den Entwicklern nciht
gefixt wird

Serverkonfiguration bei phpWebsite: /opt/php-7.2/bin/php

Pakete:
Contao Open Source CMS Bundle
ODD Theme
jrgregory/m17-sticky-backend-footer
RockSolid AntiSpam

[2019-11-20 13:47] xchs commented on #809
Wäre es nicht sinnvoller, anstelle hier irgendwelche Drittanbietererweiterungen abzugleichen, eine frische Contao 4.8.5 Testinstallation aufzusetzen und dort lediglich die Contao Online Demo zu installieren? So hätten alle (mehr oder weniger) die gleiche Grundlage, um weitergehende Untersuchungen bzw. Tests durchzuführen.

[2019-11-20 13:55] MaximilianMrkwrt commented on #851
If you change that line like I did and want `https://ssl-sites.com/client.com` for SSL as your base url, you could still write `ssl-sites.com/client.com` in `sslProxyDomain`.

[2019-11-20 13:56] leofeyer commented on #851
True. 👍

[2019-11-20 13:59] tixtrix commented on #809
Kann möglicherweise schon hilfreich sein, wenn es damit zusammenhängt. Und es ist schnell geprüft.
Kann denn jemand mit 4.8.5 und Online-Demo das Problem reproduzieren?

[2019-11-20 14:37] leofeyer commented on #793
Siehe #1001

[2019-11-20 14:37] #793 closed, assigned to leofeyer

[2019-11-20 14:47] leofeyer commented on #799
See #1002

[2019-11-20 14:47] #799 closed, assigned to leofeyer

[2019-11-20 16:51] webathlet commented on #809
2 x Contao 4.4.45 inkl. allen Sub-Paketen (News bis Auflistung) auf unterschiedlichen Hostings bei webgo mit offiziellen Demo-Inhalten (4.0.0) sind eingerichtet.
Einmal OPcache aktiviert auf Hosting #1 Debian 4.9.65 & MariaDB und einmal ohne auf Hosting #2 Debian 4.9.189-3 MySQL.
Beide:
- PHP Version 7.3.11
- Contao Manager 1.2.1
- Hinter Basic Auth
- Eingerichtet über Subdomain

Beide Seiten lauf

[2019-11-20 19:44] contaoacademy commented on #979
Setup here is:

- Contao 4.8.5
- PHP 7.2.24
- MariaDB 10.2.27

[2019-11-20 20:08] Mynyx commented on #890
Soeben nochmals in 4.8.5 getestet, die ``InvalidArgumentException`` tritt immer noch auf.

[2019-11-20 20:17] Mynyx commented on #733
Werden hierzu noch weitere Informationen benötigt?

[2019-11-20 20:18] Mynyx commented on #696
Werden hierzu noch weitere Informationen benötigt?

[2019-11-20 20:19] Mynyx commented on #910
4.8.4

[2019-11-20 20:23] Mynyx commented on #919
Isn't it a bug?

The widget is used by Contao 4.4 and 4.8.

[2019-11-20 20:33] Mynyx commented on #900
Ein Mitglied, von dem noch keine initiale Version gespeichert war, hat offenbar den "Aktivierungslink" des Moduls "Passwort vergessen" mehrfach angeklickt.

[2019-11-20 20:46] Mynyx commented on #798
Ja, weiße Seite tritt in 4.4.45 auf, wenn ``vendor/contao/core-bundle/src/Resources/contao/templates/frontend/fe_page.html5`` umbenannt wird.

[2019-11-20 20:51] Mynyx commented on #798
Im Debug-Modus erscheint dann eine ``ContextErrorException``:

[2019-11-20 21:21] leofeyer commented on #696
Ja. Da ich das Problem nicht reproduzieren kann, wäre es schön, wenn Du es in Deinem System debuggen könntest.

[2019-11-20 21:21] leofeyer commented on #910
@ausi Any idea how to fix this?

[2019-11-20 21:22] leofeyer commented on #919
Where exactly is the widget used in Contao 4.8?

[2019-11-21 10:02] frontendschlampe commented on #962
Do you mean my findings? I can't explain exactly. What I can say: when I make an update via console, there's no problem with RAM within the install tool. When I make an update via Contao Manager I have to increase the RAM. The discussion on Slack is here https://contao.slack.com/archives/CK4J0KNDB/p1571316354128400 and the ticket is https://github.com/terminal42/contao-notification_center/issues/1

[2019-11-21 10:12] leofeyer commented on #822
I have debugged this issue and the redirect comes from the Symfony route  matcher.

If `/` is used as URL suffix, the path of the `contao_frontend` route will be `/{_locale}/{alias}/`. Later on, this path is converted into a regex ending with `/$`.

The `PhpMatcherDumper` then converts this regex from `/$` into `/?$` on lines [254–257](https://github.com/symfony/symfony/blob/b104760cdfb99e0eda921e

[2019-11-21 10:35] leofeyer commented on #875
Sieht aus als hätten wir die `FileTree`-Klasse in contao/core-bundle#826 nicht mit aktualisiert.

@ausi Haben wir das absichtlich nicht gemacht, weil das FileTree-Widget ja deprecated ist (zugunsten des Pickers)?

[2019-11-21 10:54] leofeyer commented on #929
This is what @ausi said in https://github.com/madeyourday/contao-rocksolid-custom-elements/issues/114#issuecomment-549073241:

I am not sure if I agree, as I am not sure whether we can assume a running system during system initialization?

[2019-11-21 10:59] leofeyer commented on #996
I cannot reproduce this, because I get an "This entry already exists!" error.

<img width="626" alt="" src="https://user-images.githubusercontent.com/1192057/69332077-39859d00-0c56-11ea-82d7-e02a9c90dd8f.png">

[2019-11-21 11:04] leofeyer commented on #951
I cannot reproduce this issue. There is a check already, which skips members who are not active:

https://github.com/contao/contao/blob/2c8419c5c6570910fe3d3cd72551207d407eef9e/newsletter-bundle/src/Resources/contao/classes/Newsletter.php#L169-L175

[2019-11-21 11:15] leofeyer commented on #823
See #1005

[2019-11-21 11:15] #823 closed, assigned to leofeyer

[2019-11-21 11:27] de-es commented on #979
Habe mich davon täuschen lassen, dass die Queries kurrzeitig nicht angezeigt wurden, bis zur Installation eines neuen Paketes. Dann waren sie auch wieder da (Contao 4.8.5, PHP 7.3.11, MariaDB 10.4.10, DBAL 2.10.0).

[2019-11-21 11:32] leofeyer commented on #827
@smeyli /ping https://github.com/contao/contao/issues/827#issuecomment-541354669

[2019-11-21 11:42] ausi commented on #875
Denke nicht, dass wir das absichtlich ausgelassen haben. Wenn es deprecated ist, ist es aber auch nicht nötig es zu aktualisieren IMO, weil es sich ja genau so verhält wie früher.

[2019-11-21 11:42] leofeyer commented on #891
Siehe #1006

[2019-11-21 11:42] #891 closed, assigned to leofeyer

[2019-11-21 11:58] leofeyer commented on #827
Part one of the fix: https://github.com/contao/image/issues/61

Additionally, we have to add an UTF-8 check in the `DC_Folder` class, which skips files with invalid characters in their names and adds a warning so the user knows what is wrong.

[2019-11-21 13:57] leofeyer commented on #938
Siehe #1007

[2019-11-21 13:57] #938 closed, assigned to leofeyer

[2019-11-21 14:13] leofeyer commented on #942
See #1008

[2019-11-21 14:13] #942 closed, assigned to leofeyer

[2019-11-21 15:53] mrflory commented on #951
Sorry, I did not actually send an email as I just assumed that all subscribers shown in the newsletter list are also receiving the email. So this is not actually a bug, but maybe a minor UI/UX issue. I think it would be good if there is a note in the newsletter participant list that the corresponding member is inactive. Also, it is kind of wired that the UI is different if the "Deactivate" checkbo

[2019-11-21 15:58] leofeyer commented on #949
See #1009.

While changing this, I realized that the two methods do not rebuild the entire cache but only the `/contao` subfolder. I have therefore left the methods as is and made the cache services public instead.

[2019-11-21 16:45] leofeyer commented on #979
This seems like a regression bug in Doctrine, because we have had the exact same issue before (see https://github.com/contao/core-bundle/issues/918#issuecomment-315851936).

**MariaDB 10.1**

<img width="844" alt="" src="https://user-images.githubusercontent.com/1192057/69357994-69e52f80-0c86-11ea-8375-765a817d7022.png">

**MariaDB 10.4**

<img width="849" alt="" src="https://user-images.githubuse

[2019-11-21 19:54] Mynyx commented on #919
https://github.com/contao/contao/search?q=inputType+fileTree&unscoped_q=inputType+fileTree shows several DCA files?

[2019-11-22 09:16] Toflar commented on #933
Could we clear any existing PHP session if you were not logged into the install tool?

[2019-11-22 09:25] baymax88 opened #1011 "An error occurred during upgrading Contao"
**Affected` version(s)**
Contao 4.4 LTS

**Description**
I've tried to migrate Contao 3.5.2 project to 4.4 LTS version.
I've already updated the database according to other's experience and copied `/templates` and `/files` folders too.
But an error occurred when I try to connect and view front-end display.

[code]
I can't find `gallery_grid_34` template anywhere.
**How to reproduce**

[2019-11-22 09:59] leofeyer commented on #979
See #1010 for the fix in the `master` branch. I cannot reproduce the issue with Contao 4.8 though.

@intradesign @contaoacademy Which version of `doctrine/dbal` are you using?

[2019-11-22 10:19] fritzmg commented on #1011
You should use the community forum for this kind of question.

That's the problem ;). Use the [debug mode](https://docs.contao.org/manual/en/system/debug-mode/) to get the full stack trace, so you can find out where this template is requested.

[2019-11-22 11:21] baymax88 commented on #1011
Thanks for your help.
But I can't use debug mode for my current version.
Please let me know how I can use that.

[2019-11-22 11:26] leofeyer commented on #994
The missing preview image issue can be solved by adding `webp` to the list of GD images:

https://github.com/contao/contao/blob/0a2c8fa64c195a1e3482c3a9c9dfe73624ba8956/core-bundle/src/Resources/contao/library/Contao/File.php#L379-L381

@ausi Any objections? Does the GDlib handle webp images unrestrictedly?

[2019-11-22 11:29] fritzmg commented on #1011
This functionality of the Contao Manager is only available for newer Contao versions. For Contao 4.4, you need to enable the debug mode via the command line. See https://docs.contao.org/manual/en/system/debug-mode/#contao-4-4 » https://docs.contao.org/manual/en/system/debug-mode/#command-line

[2019-11-22 11:46] contaoacademy commented on #998
https://contao-academy.de/blog/update-contao-3-auf-contao-4

[2019-11-22 11:48] jaennert commented on #809
Gibt es schon erste Ergebnisse?

Der Erststart dauert gefühlt unendlich lang und so kann ich die Seite nicht an den Verein geben.

[2019-11-22 11:54] fritzmg commented on #809
Bisher gibt es nur Beobachtungen.

[2019-11-22 11:56] contaoacademy commented on #770
Ich nutze den Teasertext auch häufig wie @asaage das beschreibt ohne extra Inhaltselemente.

Allerdings gibt es auch Installationen da wäre die Idee von @leofeyer mit der Checkbox sehr hilfreich. Frage ist halt jetzt, was der häufigere Anwendungsfall ist. Oder könnte man die Checkbox auch optional einbauen. So dass man "entweder oder" nutzen kann?

[2019-11-22 12:26] kroerig commented on #770
Es würde ja schon reichen, wenn man einfach ein Inhaltsfeld mit der Eigenschaft "Teaser" versehen könnte. Ähnlich wie bei hervorgehobenen News. Dann könnte das Teaserfeld bleiben, aber wenn bei einem Element dieses Flag gesetzt ist, dann über schreibt das das Teaserfeld.

So kann dann auch ein einfacher Redakteur, der kein Recht hat die Seiteneigenschaften zu bearbeiten, den Teaser beeinflussen.
@

[2019-11-22 12:46] webathlet commented on #809
Ja, "gerade" ausgeführt, nach oben erwähnten Facts. Werte sind aus Firebug via Firefox Developer
Edition.

- Debian 4.9 / Apache 2
- PHP Version 7.3.11 als _CGI/FastCGI_
- Contao 4.4.45 mit Demo Inhalten
- Contao Manager 1.2.1
- Hinter Basic Auth
- ionCubeLoder aktiv v10.3.4
- Let's Encrypt SSL installiert, mod_ssl/2.4.25, OpenSSL/1.0.2t
- _nginx als ReverseProxy_ (LoadBalancer)
- Eingerichtet übe

[2019-11-22 15:26] leofeyer commented on #890
Das scheint dann ein Problem mit Deiner Installation zu sein. Wir konnten den Fehler wie oben geschrieben nicht reproduzieren.

[2019-11-22 16:04] fritzmg commented on #858
As discussed with @leofeyer , this looks like an issue with the nginx proxy on Hostingwerk and probably has nothing to do with Contao itself.

[2019-11-22 16:04] #858 closed, assigned to nobody

[2019-11-22 16:57] leofeyer commented on #858
In case someone else should stumble about this: It turned out the second header was added in the `.htaccess` file, which still included the old Contao 3 directives:

[code]

[2019-11-22 18:55] xprojects-de commented on #809
Hallo zusammen,

erstmal danke fürs Testen und den Einsatz! Finde ich super!

Auf Anfrage von Andreas Schempp habe ich schon vor ca. 3 Wochen ein Account mit allen gewüschnten Zugängen und einer Contao 4.8.4 Installation mit lediglich/nur dem "Contao 4 manager bundle" bei All-Inkl zur Verfügung gestellt. Sonst keine weiteren Erweiterungen installiert!
Bis dato habe ich noch keine Rückmeldung von A

[2019-11-23 10:34] aschempp commented on #760
Not sure what exactly is needed. `rootNotes` is something the widget applies to the popup, but the DCA itself can also have callbacks and filters. The DCA should already have all callbacks necessary to modify anything?

[2019-11-23 11:38] ben-eSM commented on #760
I think it would be nice if one has the possibility to only show specific entries when a table is shown via universal picker. I'm not sure how to realize that without such a callback. Is there an easy way to do this with the existing callbacks?

[2019-11-23 13:33] baymax88 commented on #1011
Thanks 👍

[2019-11-23 13:33] #1011 closed, assigned to nobody

[2019-11-23 15:56] kroerig commented on #335
What is the actual state? Will it be working in 4.9?
For me it is realy important that users get to know if the form was submitted successfully or if something went wrong.

[2019-11-24 10:50] fritzmg commented on #335
Since it is labelled as a defect, it will probably be integrated into one of the next bug fix versions of Contao 4.4 and 4.8.

[2019-11-24 11:18] fritzmg commented on #890
Reproduction:

1. Open https://demo.contao.org/contao?do=page&act=edit&id=44
2. Login as `k.jones`.
3. Confirm request token mismatch.
4. Under _Access protection_ disable __Protect page__ and then _Save_.
5. Open https://demo.contao.org/en/logout.html in the front end.

It is basically a misconfiguration.

[2019-11-25 09:48] webathlet commented on #809
Hi zusammen. Nach einem für die Familie reservierten WE hier nun die neuen "Ergebnisse".

Aktualisierte Zusammenfassung der Hosting-Grundlage, wie auch oben aktualisiert.

- Debian 4.9 / Apache 2
- PHP Version 7.3.11 als _CGI/FastCGI_
- Contao 4.4.45 mit Demo Inhalten
- Contao Manager 1.2.1
- Hinter Basic Auth
- ionCubeLoder aktiv v10.3.4
- Let's Encrypt SSL installiert, mod_ssl/2.4.25, OpenSSL/1.

[2019-11-25 11:55] ausi commented on #910
The `<div class="chzn-drop">` causes this margin at the bottom of the page.

We should problably set `top` to `-9000` in [chosen.js:83](https://github.com/contao-components/chosen/blob/637bd469f4230fc63c4cc594478a7515bdd9fa35/js/chosen.js#L83), [chosen.js:87](https://github.com/contao-components/chosen/blob/637bd469f4230fc63c4cc594478a7515bdd9fa35/js/chosen.js#L87) and [chosen.js:435](https://gith

[2019-11-25 12:07] ausi commented on #994
Yes, I think so, but only if PHP was compiled with webp support. But JPEG support needs to be enabled during compilation of PHP too, so it should be fine IMO to add `webp` here.

[2019-11-25 13:57] TS16V commented on #786
Sorry, das funktioniert nicht. Es ist noch Schlimmer:

Ich habe in das Seitenlayout unter EXTERNE Stylessheetsdie die Datei zentrale.css (in der die SCSS-Dateien liegen), entfernt und die SCSS-Dateien einzeln im Seitenlayout eingebunden, genau so in der Reihenfolge wie in der zentrale.css.  Es geht nix mehr

Es kommen Fehlermeldungen, wie z.B.:

parse error: failed at `$ci_blue_dark;
` (stdin) on

[2019-11-25 15:31] TS16V commented on #786
Ein neuer Testversuch:
Ich habe in den Layouteinstellungen  nun komplett alles mal aus dem externem CSS gelöscht.

Dann habe ich zwei Dateien angelegt:

- color.scss
- typo.scss

In der Color.scss steht:

$ci_red:rgba(204,23,24,1.0);

in der Typo.scss. steht:

h1 {
    color:$ci_red;
}

Im Contao BE / Layouteinstellungen unter externe CSS habe ich die Dateien der Reihe nach eigebunden:

color.scss

[2019-11-25 16:07] contaoacademy commented on #979
[code]

[2019-11-25 16:56] leofeyer commented on #979
Any third-party extensions?

[2019-11-25 18:25] contaoacademy commented on #979
[code]

[2019-11-26 08:38] leofeyer opened #1015 "Prevent entering numeric page aliases"
**Affected version(s)**

4.8

**Description**

While fixing contao/contao#744, I noticed that it is possible to enter numeric aliases such as `2` or `2/foo` (with folder URLs enabled), even though these aliases will not work because of contao/core-bundle#729. Even worse, when using the alias `2/foo`, `2` will be in the routing candidates, potentially causing unexpected results.

**How to fix**

IM

[2019-11-26 09:46] leofeyer commented on #798
See #1016

[2019-11-26 09:46] #798 closed, assigned to nobody

[2019-11-26 09:52] leofeyer commented on #335
See #1017

[2019-11-26 09:52] #335 closed, assigned to leofeyer

[2019-11-26 10:40] #875 closed, assigned to nobody

[2019-11-26 11:06] leofeyer commented on #910
Unfortunately, this breaks the "scroll into view" functionality in [chosen.js:373](https://github.com/contao-components/chosen/blob/637bd469f4230fc63c4cc594478a7515bdd9fa35/js/chosen.js#L373-L377), causing some weird page jumps. Any other ideas?

[2019-11-26 11:09] leofeyer commented on #979
Does the issue occur with only the following?

[code]

[2019-11-26 11:18] leofeyer commented on #994
See #1018

[2019-11-26 11:18] #994 closed, assigned to leofeyer

[2019-11-26 11:54] ausi commented on #910
Setting `overflow: hidden` for the `chzn-container` when it is closed (and resetting it when opened) should work too I think.

[2019-11-26 12:06] contaoacademy commented on #979
@leofeyer
Ich habe auf die Installation noch keinen vollen Zugriff. Ich kläre das ab und melde mich.

[2019-11-26 12:15] Toflar commented on #1015
Cannot really help here, I guess @aschempp has to because it concerns routing.

[2019-11-26 16:44] webathlet commented on #809
**Testfall 3 vom 26.11. 17:18 Uhr - ContaoCache in app.php auskommentieren und nach 24h Inaktivität erneuter Aufruf, Ergebnisse**

Ein etwas seltsames Ergebnis beim Erstaufruf zum gesamten Dom-Load, da der Aufruf gestartet und erst später (~1min) der Basic-Auth mit vorausgefüllten Login credentials zeitnah hintereinadner bestätigt wurde. Zuerst wurde Fenster mit Hosting #2 und danach direkt mit Ho

[2019-11-26 17:31] leofeyer commented on #809
Das erklärt aber nicht den krassen Unterschied von 1,05s zu 58,34s beim Erstaufruf.

Basic Auth sorgt aber dafür, dass Contao immer ein CSRF-Cookie setzen muss, somit kannst Du nur **entweder** den .htaccess-Schutz **oder** den HTTP-Cache nutzen.

https://github.com/contao/contao/blob/c8924544c8e4eab7e970bee923b731bcb1e0212d/core-bundle/src/EventListener/CsrfTokenCookieListener.php#L86-L88

[2019-11-26 17:58] Toflar commented on #809
Aber auch das erklärt das nicht. Also jede Seite sollte wohl auch ohne HTTP Cache in vernünftiger Zeit laden.
Allerdings sind die „PHP ohne OPcache“-Vergleiche nicht wirklich wertvoll, weil das darf nun wirklich **nie** vorkommen in Production.

[2019-11-26 18:46] webathlet commented on #809
Ich würde die 59sec eher auf einen Bug in Sachen Firefox vs. Firebug vs. "Ich geh mal eine Runde nach den Kindern gucken" schieben, denn nach Bestätigung der vorausgefüllten Credentials, waren die Seiten mit einem Flupp da. Korrekt ist daher der load des documents zu werten.

Sicherlich. Die Tests wiederhole ich dann generell noch ohne Basic Auth. Diese Tests hier führe ich mit Basic Auth aus, wei

[2019-11-26 18:46] contaoacademy commented on #786
Ich habe mir heute die Installation von TS16V angesehen.

Was ich getestet habe, sieht es so aus, als ob alles funktioniert.
Wichtig ist nur, dass im Browser die Entwickler Console geöffnet bleibt und der Haken "Disable Cache" gesetzt ist.
Dann wurde bei mir Änderungen nach einem Reload immer sofort angezeigt.

Zum Test mit den zwei extra SCSS-Dateien:
Dass die Variable nicht erkannt werd ist nach

[2019-11-26 18:59] xprojects-de commented on #809
Dem kann ich mich nur anschliessen.
Ich habe das Verhalten sowohl bei Servern mit OpCache (1und1 und Strato) sowie auch ohne OpCache (Allinkl Pakete ohne SSD). Wie @webathlet schreibt ist das System im "warmen" Zustand ja performant, auch ohne OpCache!
Die 24h sind nicht belastbar! Ich habe bei manchen System das Verhalten schon nach 4-5h oder gar schneller (Strato)! Mir scheint es auch so zu sein

[2019-11-26 19:08] contaoacademy commented on #979
The customer has now made a 1:1 copy on the same server. Interestingly, the problem has disappeared.

I'm just waiting for feedback if I can have full access to the original installation.

[2019-11-26 19:53] Mynyx commented on #875
Woran ist zu erkennen, dass die ``FileTree``-Klasse deprecated ist?

[2019-11-26 20:44] leofeyer commented on #875
Ist sie nicht. Hatte sie mit der `FileSelector`-Klasse verwechselt.

[2019-11-27 09:10] Defcon0 opened #1021 "Override templates located in sub folders not working"
**Affected version(s)**
4.4

**Description**
I have the following setup:

A multi-domain project with multiple themes (tl_theme). Each theme has its own templates-folder (let's say `project1` and `project2`).

Now I have two templates named `fe_page.html5` in the following folders:

`<root>/templates/project1/fe_page.html5`
`<root>/templates/project2/fe_page.html5`

Now when I visit both pages eve

[2019-11-27 09:14] fritzmg commented on #1021
You can't have additional subfolders. A subfolder in the `templates/` directory is assigned to a theme. Any template in this subfolder is then only available/used in that theme. Templates in sub-subfolders are ignored.

[2019-11-27 09:26] Defcon0 commented on #1021
I understand, but having a `templates` folder in large projects with 75+ templates without any sub folder structurization is no fun to have :-(

What's wrong with the solution I proposed above?

[2019-11-27 09:33] zonky2 opened #1022 "includeBlankOption does not work at select if first value 0"
**Affected version(s)**
C 4.4.43

**Description**
its not possible to select `-` - the selected jump to `0`

**How to reproduce**
see https://github.com/menatwork/contao-multicolumnwizard-bundle/issues/63

[2019-11-27 09:53] dazzle89 opened #1024 "Fehler bei w50-Klasse"
Bei der Verwendung der CSS-Klasse **w50** habe ich schon öfters das Problem gehabt, dass zum einen der Abstand der beidenden floatenden Container zur nächsten Überschrift darunter viel zu gering ist. Es ist quasi gar kein Abstand vorhanden. Zum anderen lässt sich das input-Feld der beiden w50-Container nicht anklicken. Ich kann nur über die TAB-Taste dahin gelangen und die Felder ausfüllen.

Das P

[2019-11-27 09:57] leofeyer commented on #910
That works. 👍 It is a little "jumpy", but I think we can live with that, can't we?

![](https://user-images.githubusercontent.com/1192057/69713351-abe9f780-1104-11ea-89d9-87b080a2b7dc.gif)

[2019-11-27 09:57] m-vo commented on #1021
It's not a bug but a legitimate feature I think. :smile:

[2019-11-27 09:59] leofeyer commented on #910
Fixed in contao-components/chosen@7f03cea8db23d0a3990fde33d58ab66ef649c302

[2019-11-27 09:59] #910 closed, assigned to leofeyer

[2019-11-27 10:01] fritzmg commented on #1024
Wenn du Felder, die `w50` verwenden, gemeinsam mit Feldern verwendest, die _kein_ `w50` haben, dann musst du `clr` verwenden.

[2019-11-27 10:05] dazzle89 commented on #1024
Danke und sorry, ich dachte es sei ein Fehler. Vielleicht könnte man hier irgendwann ja trotzdem eine automatische Lösung für das Clearen anstreben.

[2019-11-27 10:07] fritzmg commented on #1024
Mja, das ganze Backend auf `flex` umbauen 😁

[2019-11-27 13:01] m-vo commented on #1024
Grid!

[2019-11-27 14:30] Toflar commented on #538
Closed in favor of the PR #1027

[2019-11-27 14:30] #538 closed, assigned to Toflar

[2019-11-27 15:29] Ernestopheles commented on #993
I faced this problem too. Did install only the Easythemes extension.
Contao 4.8.5

[2019-11-27 15:41] theDyingMountain commented on #969
4.8.5

[2019-11-27 17:06] Ernestopheles commented on #993
In an fresh installation of Contao 4.85 (full) with the Mate theme (2.3.2) freshly installed the templates can be imported without error.

[2019-11-27 17:08] Ernestopheles commented on #993
Before that I tried a bit with deinstalling everything (Easythemes, each module from contao news to contao lists) - but that did not help.

[2019-11-27 18:35] webathlet commented on #809
**Wiederholung Testfall 3 vom 27.11. 19:10 Uhr - ContaoCache in app.php auskommentieren und nach 24h Inaktivität erneuter Aufruf, Ergebnisse**

Erstaufruf Frontend-Index:
1. webgo Hosting #1 mit aktiviertem OPcache

2. webgo Hosting #2 ohne OPcache

Zweitaufruf Frontend-Index:
1. webgo Hosting #1 mit aktiviertem OPcache

2. webgo Hosting #2 ohne OPcache

Zur Info:
webgo Hosting #2 hat keine früher

[2019-11-27 21:23] leofeyer commented on #809
Das erinnert mich an ein Problem, dass wir auf contao.org hatten. Dort waren alle Requests, bei denen Cache-Tags bereinigt wurden, sehr langsam und haben die CPU extrem belastet.

@Toflar hat das damals sehr detailliert untersucht: contao/contao#606

@webathlet Kannst Du nachvollziehen, wie viele Dateien und/oder Symlinks im Ordner `var/cache/prod/http_cache` liegen, wenn das Problem auftritt?

[2019-11-28 08:19] Toflar opened #1028 "Caching completely broken with Symfony 4.4"
**Affected version(s)**

4.8 (if we allow Symfony 4.4) and master

**Description**

There have been changes again in Symfony, more specifically in this PR: https://github.com/symfony/symfony/pull/33663
These basically cause the `AbstractSessionListener` to always turn all the responses to `private` because at least our 2FA implementation always accesses `getToken()` and is thus invoking the new to

[2019-11-28 08:38] wadjeroudi commented on #1028
Did you try to switch anonymous firewall to lazy like [suggested](https://github.com/symfony/symfony/pull/33663#issuecomment-559182047) ?

[2019-11-28 08:45] Toflar commented on #1028
Yes that won't help and is completely unrelated. It doesn't matter whether the firewall is lazy or not. It's related to the fact that `getToken()` just turns any response private now.

[2019-11-28 10:02] Toflar commented on #845
I just tried this and the purge performance has indeed been fixed but the problem with the number of files remains the same. The tags are still stored as symlinks and thus causing the number of files in `http_cache` to grow above 2000 for like 10 pages easily.
Compared to the `TagAwareAdapter` the `FilesystemTagAwareAdapter` is definitely faster which is because it only needs 1 round trip instead

[2019-11-28 10:38] leofeyer commented on #845
Then we should probably stick to the `TagAwareAdapter` class, because a regular website with a couple of news entries might have about 100 pages, which would result in 20.000 files.

@contao/developers WDYT?

[2019-11-28 10:39] Toflar commented on #845
Well the calculation is of course not as simple as that but yes, it will be many files.

[2019-11-28 11:29] bizon1 opened #1029 "C48 - Updating contao-components/chosen (1.2.2 => 1.2.3)"
A todays composer update:
With some other packages i've got
- Updating contao-components/chosen (1.2.2 => 1.2.3): Downloading (100%)

This effected to most of the select-fields in backend. No Options can be chosen anymore, the select-field just disappears.

A conflict entry in composer.json solved the problem:
`"conflict": {
    "contao-components/chosen": "1.2.3"
},`

[2019-11-28 11:30] contaoacademy commented on #979
Problem is present again. Even without any additional packages the error occurs

[2019-11-28 11:42] cliffparnitzky commented on #1029
Cannot confirm ... no problemes in my installation

[2019-11-28 12:04] bizon1 commented on #1029
I tested it in 3 different C48 installations all with the same result.
For example the select-field element type in content elements is affected and also in page layout select fields "Eingebundene Module".
And as I wrote - in each installation.

[2019-11-28 12:09] Mynyx commented on #875
Reopen?

[2019-11-28 12:09] leofeyer commented on #1029
@bizon1 Which browser and OS are you using? Try purging the browser cache or try opening the websites in a different browser.

[2019-11-28 12:13] leofeyer commented on #875
Nein?

[2019-11-28 12:34] bizon1 commented on #1029
OS: Manjaro Linux (Arch)
Browsers and every other Software with latest version:
Pale Moon: Here is the biggest issue - the select fields disappear completly - no options available
Firefox: little issue - the select field disappears half but is readable - options are available
Chromium: works fine
Opera: works fine
Seems that this just effects the gecko browsers.

[2019-11-28 12:53] cliffparnitzky commented on #1029
I tested on Windows 7 PRO:

- Chrome 78.0.3904.108: no problems
- Firefox 70.0.1: top border disappears after the selection has been changed

[2019-11-28 13:11] plorenz-etes opened #1030 "Unpublished subpages of internal redirects can't be viewed in preview"
**Affected version(s)**

4.4.*
I could **not** reproduce this bug in Contao 4.8.

**Description**

When creating an unpublished subpage of a page set to "internal redirect", the new subpage can't be viewed in preview mode even though unpublished elements are set to be shown (see below).

**How to reproduce**

NOTE: These steps only reproduce the bug in Contao 4.4 - it didn't appear in 4.8.

1. Cre

[2019-11-28 14:48] leofeyer commented on #978
See https://github.com/symfony/monolog-bundle/issues/330

[2019-11-28 14:51] leofeyer commented on #978
As discussed in Mumble on November 28th, we have to require `"monolog/monolog": "^1.22"` in Contao 4.4 to fix this.

[2019-11-28 14:53] aschempp commented on #978
This has been fixed in Symfony 3.4 in https://github.com/symfony/symfony/pull/32469 as soon as the next version is released.

[2019-11-28 15:29] leofeyer opened #1031 "Add @internal if not covered by our BC promise"
**Description**

As discussed in https://github.com/contao/docs/pull/138#pullrequestreview-324355147, we want to add `@internal` to classes that are not covered by our BC promise:

- Service constructors
- Event listeners
- Compiler passes
- Data collector

[2019-11-28 15:51] leofeyer commented on #929
As discussed in Mumble on November 28th, @m-vo needs to debug this more detailed, as the install command does not boot the Contao framework.

[2019-11-28 16:03] leofeyer commented on #665
As discussed in Mumble on November 28th, we do not want to support the `/contao/templates` path in the `{{file}}` insert tag.

[2019-11-28 16:03] #665 closed, assigned to leofeyer

[2019-11-28 16:19] leofeyer commented on #909
Wie am 28. November auf Mumble besprochen, soll die Ausgabe standardmäßig URL-kodiert werden (`System::urlEncode()`).

[2019-11-28 16:21] #822 closed, assigned to nobody

[2019-11-28 16:36] leofeyer commented on #1032
As discussed in Mumble on November 28th, we want to <del>add the `'Cache-Control' => 'no-store'` header</del> use a `307` redirect, which should not be cached by the browser.

@sebj54 Can you please test if this fixes your problem?

[2019-11-29 07:40] aschempp commented on #861
Ich habe leider gestern festgestellt, dass das nicht so ist. Durch die geänderte Reihenfolge hat sich auch die Reihenfolge der Generierung im Frontend verändert. Früher wurden Header-Module immer vor den Main-Modulen generiert, darauf verlässt sich z.B. Isotope. Durch die Sortierung nach Name ist das nicht mehr so bzw. sogar "zufällig" je nach Sprache.

Noch schlimmer daran ist, dass die Sortierun

[2019-11-29 08:20] Toflar commented on #809
Ich bin mir ziemlich sicher, dass das Problem nicht bei Contao liegt. Ich kann keine solchen Probleme feststellen und habe Antwortzeiten < 50ms im Schnitt.

[2019-11-29 13:10] Toflar commented on #1028
See https://github.com/contao/contao/pull/1033.

[2019-11-29 13:10] #1028 closed, assigned to Toflar

[2019-11-29 16:22] Metis77 commented on #582
I can reproduce this now:
- PHP 7.3.5 FMP
- Server accepts urls with and without www.
- Contao Page Caching is set to:
-- Cachezeit Private-Cache = 0
-- Cachezeit Shared-Cache = 7 Tage
-- Immer aus dem Shared-Cache laden = true

- cache is created for version without www
- if the www version is loaded, assest cant be loaded
- the contao log file gets the above error entry.

[2019-11-29 16:54] fritzmg commented on #582
@Metis77 you must redirect to the correct domain.

[2019-11-29 17:02] Metis77 commented on #582
@fritzmg yes sure, I am doing so now.

Still this triggers the above error.
Not sure what should be done, but if this is not intended to work, contao should also not deliver the cache from a different domain at all.

[2019-11-29 23:03] webathlet commented on #809
**Wiederholung Testfall 3 vom 29.11. 22:32 Uhr - ContaoCache in app.php auskommentieren und nach 24h Inaktivität erneuter Aufruf, Ergebnisse**

Erstaufruf Frontend-Index:
1. webgo Hosting #1 mit aktiviertem OPcache

2. webgo Hosting #2 ohne OPcache

Zweitaufruf Frontend-Index:
1. webgo Hosting #1 mit aktiviertem OPcache

2. webgo Hosting #2 ohne OPcache

Drittaufruf Frontend-Index:
1. webgo Hostin

[2019-11-29 23:28] aschempp commented on #1024
Grid wär aus meinem Verständnis falsch, flex wär richtig 🤓

[2019-11-30 08:37] fritzmg commented on #72
May be we should revert https://github.com/contao/contao/commit/0fbe25d770c84aa08deed18d9797919e02171fd5 ? As @ausi said, the issue that https://github.com/contao/contao/commit/0fbe25d770c84aa08deed18d9797919e02171fd5 tries to solve would be present anyway and is not related to the custom navigation module. Having such a setup is simply a wrong configuration.

[2019-11-30 11:23] xprojects-de commented on #809
Ich kann ebenfalls kein Muster erkennen. Bei mir hat das auskommentieren des Caches auch nichts gebracht. Ich denke jedenfalls dass es wohl an der Kombination Symfony+Contao liegt. Ich habe interessehalber mal eine Contao3-Installation parallel auf gleichem Account mit anderer SubDomain installiert und exakt gleichen Inhalt reingepackt!
Die Startup-Probleme treten nur bei der 4er Version auf! Cont

[2019-11-30 11:59] fritzmg commented on #809
I can confirm the problem locally. I will try to profile this when I got time.

[2019-11-30 12:55] fritzmg commented on #809
Not sure if this result is really conclusive.

I am able to reproduce the behaviour described above by completely rebooting my machine and then making a request to a Contao 4 installation. The first request after the reboot always takes significantly longer. After that, every request is as fast as expected.

Here is the blackfire comparison: https://blackfire.io/profiles/compare/28a350b1-a148-4727

[2019-12-01 10:12] ausi commented on #809
`Composer\Autoload\includeFile()` goes from 726 ms to 143 ms. This could be because of filesystem caches I think. Or maybe PHP has another cache-level for file includes apart from OPCache?

To rule out webserver start-up problems you could add a *test.php*-Script with `<?php echo 'test';` which you then request before the request to Contao itself.

[2019-12-01 21:22] fritzmg commented on #809
I did some more tests: https://docs.google.com/spreadsheets/d/1r6_IfBCEJts3qvMNou5s5TUjeAxPTxYgRcAf6wBPFs4/edit

After a reboot, the first request is 22 times slower for the Contao 4.4.45 installation. _However_ it is also 20 times slower for the Contao __3.5.40__ installation. So I assume there does seem to be some sort of internal caching going on and therefore it affects all the web application

[2019-12-02 08:07] Toflar commented on #809
Ich könnte genauso argumentieren, dass ich es schade finde, dass du behauptest es liegt an Contao 4 nur weil die Community "massive Probleme" meldet. Fakt ist, ich kann keinerlei Startup-Probleme beobachten, also muss ich davon ausgehen, dass etwas anderes das Problem verursacht genauso wie du davon ausgehst, dass es an Contao liegt. Und das Core-Team schaut es sich doch schon längst genauer an, e

[2019-12-02 11:26] sebj54 commented on #1032
Hi @leofeyer, it works for me!

[2019-12-02 12:21] leofeyer commented on #722
All done. 🎉

[2019-12-02 12:21] #722 closed, assigned to leofeyer

[2019-12-02 12:33] aschempp commented on #933
I think the error message is only a symptom, the actual bug it this: https://github.com/contao/contao/blob/master/core-bundle/src/Resources/contao/dca/tl_article.php#L188 we should not rely on runtime variables in DCA configuration, if all this should be done in an onload_callback.

[2019-12-02 12:34] aschempp commented on #919
`FileTree` is not deprecated at all, that's what's used to pick a file. The `dcaPicker` is only for text fields with picker option. Also, the same issue will likely happen on the `dcaPicker`, as the picked element does not have a UUID in the database.

[2019-12-02 12:43] aschempp commented on #760
I think you can do that with a `onload_callback` and set DCA filters?

[2019-12-02 14:48] leofeyer commented on #919
I know. I have confused it with the `FileSelector` class.

[2019-12-02 15:51] leofeyer commented on #979
I was able to reproduce the issue on @contaoacademy's server. It is caused by a `%` character in the password, which is stored as `%%` in the `parameters.yml` file. Then the connection check fails because of the "wrong" password and the `server_version` parameter is permanently set to `5.5`, which makes Doctrine think it is running on MySQL. 🤷‍♂

https://github.com/contao/contao/blob/315408d41aca8

[2019-12-02 16:17] leofeyer commented on #979
See #1037

[2019-12-02 16:17] #979 closed, assigned to leofeyer

[2019-12-02 16:19] bit7ms opened #1038 "Multi domain: root pages in individual navigation"
We have a multi domain contao project. to give the visitors a better overview of the group of companies and domains, we decided to display a meta navigation with the single web projects to the user.
We tried to use the classical individual navigation. I was wondering why I can't choose a root pages. If I do, it won't be displayed in FE.
The behavior should be like internal or external links. The N

[2019-12-02 16:30] Toflar commented on #933
Agreed.

[2019-12-02 16:31] leofeyer commented on #933
I agree as well, however, it was possible to do it this way ever since and removing this possibility now would be a BC break. 🤷‍♂

[2019-12-02 17:03] xprojects-de commented on #809
@Toflar Bitte enschuldige! War nicht böse gemeint! Ich kann nur nicht sehen was beim Core-Team im Hintergrund so an Tests laufen, deswegen hatte ich leider **fälschlicherweise** das Gefühl dass sich hier seitens des Core-Teams nicht so viel bewegt. Nimm alles zurück :-)

[2019-12-03 07:56] leofeyer commented on #1032
See #1041

[2019-12-03 07:56] #1032 closed, assigned to leofeyer

[2019-12-03 08:06] leofeyer commented on #861
See #1042

[2019-12-03 08:06] #861 closed, assigned to nobody

[2019-12-03 11:03] leofeyer commented on #1015
As briefly discussed with @aschempp, we should rediscuss whether we want to allow numeric aliases or not.

[2019-12-03 11:18] leofeyer commented on #969
Ich bin gegen diese Änderung, weil man dann beim Kopieren mehrerer Datensätze nicht mehr erkennen kann, welches der originale Datensatz ist und welcher der kopierte.

@contao/developers WDYT?

[2019-12-03 11:55] Toflar commented on #969
Es geht um das einzelne Item (den Mediaquery). Nicht um den Namen bei der Grösse selbst. Der ist tatsächlich nutzlos.

[2019-12-03 13:53] leofeyer commented on #969
Nein, es geht um die Bildgrößenquerys, also `tl_image_size_items`. Dort gibt es kein `name`-Feld, daher wird das "(Kopie)" an das Media-Query angehängt.

Trotzdem bleibt das die einzige Möglichkeit, um Original und Kopie unterscheiden zu können.

[2019-12-03 14:13] Toflar commented on #969
Ja, sag ich ja. Um das hier: https://github.com/contao/contao/blob/master/core-bundle/src/Resources/contao/dca/tl_image_size_item.php#L21

[2019-12-03 14:39] leofeyer commented on #969
Ja. 👍

[2019-12-03 14:40] Toflar commented on #969
Gut, dann bleib ich dabei: Wegen mir kann's weg :)

[2019-12-03 14:47] leofeyer commented on #969
Wie unterscheidest Du dann zukünftig, welches Element das Original ist und welches die Kopie?

[2019-12-03 14:51] Toflar commented on #969
Der Fall tritt gar nie ein. Wenn ich etwas dupliziere will ich dieselben Einstellungen für einen anderen Mediaquery. D.h. ich dupliziere und muss dann den Mediaquery anpassen und dabei jedes Mal das "(Kopie)" löschen. Ich denke das war die Intention hinter diesem Ticket. Also ein Mediaquery ist eh immer invalid mit "(Kopie)" drin.

[2019-12-03 14:52] leofeyer commented on #969
Das ergibt Sinn. 👍

[2019-12-03 15:24] Cleanerrr opened #1044 "Contao 4.8.5 Newsletter Reader - Chanel checkbox missed"
**Contao 4.8.5**
![newsletter-reader-bug](https://user-images.githubusercontent.com/30474317/70064190-64260d00-15e9-11ea-8ce1-9c997a04a6fc.JPG)

[2019-12-03 15:26] fritzmg commented on #1044
Did you create Channels?

[2019-12-03 15:34] Cleanerrr commented on #1044
Yes, of course.
Checkbox missed only in last Contao 4.8.5.

[2019-12-03 15:47] leofeyer commented on #1031
See #1045

[2019-12-03 15:47] #1031 closed, assigned to leofeyer

[2019-12-03 15:51] leofeyer commented on #1044
Did you set a redirect page in the channel settings? Otherwise the channel cannot be used in the newsletter reader.

[2019-12-03 15:57] Cleanerrr commented on #1044
Ohh, I forgot.
Now it's OK.
Maybe should these "fields" mark as mandatory.
Thank you very much

[2019-12-03 15:57] #1044 closed, assigned to nobody

[2019-12-03 16:11] asaage commented on #1044
related to https://github.com/contao/contao/issues/494

[2019-12-03 16:41] leofeyer commented on #1029
I have tested this on macOS 10.15:

* Chrome 78: no problems
* Safari 13: no problems
* Firefox 71: the same problem as reported by @cliffparnitzky (why, Firefox? 🤦‍♂)

@fritzmg Could you test this on Windows for us please?

[2019-12-03 16:43] cliffparnitzky commented on #1029
I tested on Window 7 (updated my comment).

[2019-12-03 16:48] fritzmg commented on #1029
Yeah, I can confirm that weird behaviour. Windows 10 and FireFox 70.0.1 as well as 71.0.

[2019-12-03 17:07] cliffparnitzky commented on #1029
I can confirm the behaviour @bizon1 described with Windows 7 and IE 11 as well with Windows 10 and IE 11 and Edge.

[2019-12-03 20:20] zonky2 opened #1047 "Error 500 with login BE after conversion 4.8 to dev-master"
Error 500 with login BE after conversion 4.8 to dev-master

[code]

[2019-12-04 07:51] theDyingMountain commented on #969
@Toflar: Genau richtig, dass war die Intention hinter dem Ticket 😉

[2019-12-04 09:56] aschempp commented on #809
Maybe it's just related to the OpCode cache being rebuild or updated, because "not used" stuff has been removed from memory?

[2019-12-04 10:00] aschempp commented on #314
FYI, ev. kommt das in einer zukünftigen Symfony-Version: https://github.com/symfony/symfony/issues/34690

[2019-12-04 10:05] fritzmg commented on #809
The tests I made with Contao 4.4.45 at least were without opcache enabled. Also, judging from the results of the other users' tests above, it does not seem to matter whether opcache is enabled or not.

[2019-12-04 10:46] leofeyer opened #1049 "Replace ramsey/uuid with symfony/polyfill-uuid?"
**Description**

In #985, we have introduced a new dependency on `ramsey/uuid`, which is required to generate a UUID. Since Symfony has introduced a [UUID polyfill](https://symfony.com/blog/introducing-the-new-symfony-uuid-polyfill) a couple of days ago, I wonder whether we want to use this one instead?

We could also use the polyfill instead of our current `Database::getUuid()` method. Or we coul

[2019-12-04 10:50] Toflar commented on #1049
Using `Database::getUuid()` would suddenly make the crawl command dependent on a database which doesn't make sense to me.
I chose `ramsey/uuid` because it's used in so many projects (1636 dependents as of right now), it's very likely that it's already installed on several systems. E.g. if you use Sentry, you already have it installed ;-)

[2019-12-04 10:55] leofeyer commented on #1049
Valid point. I just brought it up because Symfony claims that their polyfill is faster. 😄

[2019-12-04 10:59] Toflar commented on #1049
True, I guess we can live with 1.30x slower though :) It's one dependency more anyway. Whether it's the polyfill or `ramsey/uuid` doesn't really matter to me 😄 But if we can get rid of one, why not!

[2019-12-04 11:00] Anke commented on #582
I just got this error message after just entering "oberhof24.de" instead of "http(s)://oberhof24.de" in the browser (Contao 4.8.4) and I noticed that this error has been logged several times since 25th November (possibly after updating from Contao 4.7.x):

[code]
Edit: Das passiert nicht bei jedem Aufruf ohne http oder https. Als ich es eben noch einmal versucht habe, wurde "oberhof24.de" korrekt

[2019-12-04 11:02] leofeyer commented on #1049
No, I'm fine either way, too.

[2019-12-04 11:02] #1049 closed, assigned to nobody

[2019-12-04 11:19] Toflar commented on #809
We are talking about performance here, so can we please leave out the "without OPcache" tests? They are not helpful. Symfony (and many other libraries we use) optimize their own caches for OPCode (e.g. they generate multiple files rather than just one etc.). So of course they will be slower than Contao 3.5 without OPCache.
Running PHP without OPCache is just not a use case for a production site. A

[2019-12-04 11:29] Mynyx commented on #875
Ich verstehe noch nicht, welche Klasse denn jetzt tatsächlich deprecated ist?

Auch in https://github.com/contao/contao/blob/3a70ea01a545d97481c3120fcd847eb878dc1ad7/core-bundle/src/Resources/contao/widgets/FileSelector.php finde ich keine Deprecation?

[2019-12-04 11:37] leofeyer commented on #978
@contao/developers Symfony 3.4.36 has been released two days ago. So do we not change anything on our end?

[2019-12-04 11:43] fritzmg commented on #809
I am just saying that it does not seem to be related to opcache, judging by the evidence. In my local test, enabling opcache increases the TTFB of the first request after the reboot (from 8s to 12s).

[2019-12-04 11:45] Toflar commented on #809
Because it also builds the cache :)

[2019-12-04 11:45] leofeyer commented on #969
Siehe #1051.

[2019-12-04 11:45] #969 closed, assigned to leofeyer

[2019-12-04 12:00] Toflar commented on #978
I don't know if requiring at least 3.4.36 will help. It will just downgrade your Contao version if you don't pin it at a certain hotfix version :(

[2019-12-04 13:24] leofeyer commented on #1047
Should be fixed in #1050.

[2019-12-04 13:24] #1047 closed, assigned to nobody

[2019-12-04 15:26] leofeyer commented on #867
Siehe #1052

[2019-12-04 15:26] #867 closed, assigned to leofeyer

[2019-12-04 15:32] leofeyer commented on #851
See #1053

[2019-12-04 15:32] #851 closed, assigned to leofeyer

[2019-12-04 15:52] leofeyer commented on #889
Ich habe die deutsche Übersetzung in allen drei Versionen (4.4, 4.8 und 4.9) angepasst.

[2019-12-04 15:52] #889 closed, assigned to leofeyer

[2019-12-04 15:55] leofeyer commented on #872
See #1054

[2019-12-04 15:55] #872 closed, assigned to leofeyer

[2019-12-04 16:18] leofeyer commented on #862
The intl extension seems to care neither about lowercase or uppercase nor locale or language ID:

[code]

See https://3v4l.org/EStaH

@contao/developers Do we want to do the same in Contao or do we want to support `xx-xx` and `xx-XX` only?

[2019-12-04 16:19] leofeyer commented on #862
LOL, it seems the intl extension does not validate too much:

[code]

[2019-12-04 16:37] leofeyer commented on #778
See #1055

[2019-12-04 16:37] #778 closed, assigned to leofeyer

[2019-12-04 16:38] leofeyer commented on #784
Wie genau lässt sich das reproduzieren?

[2019-12-04 17:18] leofeyer commented on #1029
I am going to revert the changes and we will not use Chosen in the meta wizard in Contao 4.9 anymore (see #1058).

[2019-12-04 17:20] leofeyer commented on #1029
Reverted in contao-components/chosen@7f03cea8db23d0a3990fde33d58ab66ef649c302 (aka version 1.2.4).

[2019-12-04 17:20] #1029 closed, assigned to nobody

[2019-12-05 07:53] tpk109 opened #1059 "Update 4.4 to 4.8, editor only works after a hard reload"
**Affected version(s)**
4.8

**Description**
After updating from 4.4 to 4.8 the editor in text element did not appear. There was a js error which I think contained something with theme(s).
After a hard reload in Chrome the editor works again.

**How to reproduce**

[2019-12-05 07:59] fritzmg commented on #1059
You should post the error ;)

[2019-12-05 08:01] tpk109 commented on #1059
I would if I could. I was expecting something serious and did not expect the reload to help ;-) Could be that it said line 12

Edit: Should'nt the error be moot? This looks like the backend does not force a refresh of (all) js files after an update.

[2019-12-05 08:18] Toflar commented on #862
Yes, the `parseLocale()` method doesn't validate anything. What are you trying to achieve?

[2019-12-05 08:29] Toflar commented on #862
I guess what you're looking for is this: https://3v4l.org/B3W87

[2019-12-05 08:30] Toflar commented on #862
Canonicalize would be setting `true` as third argument on `lookup()`.

[2019-12-05 08:45] fritzmg opened #1060 "Overridden default template not shown in template selection"
**Affected version(s)**
Contao 4.8.5

**Description**
Currently the default template is not shown in the custom template selection, e.g. for a content element. However, this also includes default templates, that have been overriden in the `templates/` folder.

![ce_text](https://user-images.githubusercontent.com/4970961/70218403-3d7be980-1743-11ea-85b3-cdee8f5b34d2.png)

![Screenshot_2019-12-05 Te

[2019-12-05 09:01] tpk109 commented on #1060
Can you check in the frondend which template will actually be used, if you choose no template? It seems to to me that ce_text_foo is the new default for every new created text element.
Texts created before creating the template should use ce_text in the frontend.

**How to reproduce**
Exactly the steps from fritzmg, but ce_text_foo needs to be different from ce_text to tell the difference.

[2019-12-05 09:03] fritzmg commented on #1060
Yes `templates/ce_text.html5` will be used.

[2019-12-05 09:04] tpk109 commented on #1060
In my case ce_text_foo is the default.

[2019-12-05 09:58] fritzmg opened #1061 "Search: phrases are split for highlighting"
**Affected version(s)**
4.8.5, probably 4.4.45 too

**Description**
If you search for a phrase via `"…"`, then the Contao search will correctly only show pages where this phrase appears in its content. However, the highlighting will be wrong, as it will highlight also the individual words, instead of just the phrase:

https://demo.contao.org/en/search.html?keywords=%22the+open+source%22

![Screens

[2019-12-05 17:49] fritzmg commented on #203
But why is it removed from the back end setting? I don't really get the process here. imho nothing, that cannot be configured via the back end else where or via the Contao Manager should be removed from the system settings in the back end.

[2019-12-06 01:11] frontendschlampe opened #1064 "default values in DB are not applied to existing elements"
**Affected version(s)**
Contao 4.8 but I think it's also for Contao 4.4

**Description**
After debugging an extension we realized that existing elements have no default value. For example in `tl_content` an entry should have a default value for `floating` which is `above`. New elements will get the default value but existing elements don't have it. This makes the database inconsistent and could ca

[2019-12-06 13:30] emiliaborowska opened #1069 "Invalid token - cannot log in"
From today, I cannot log in to contao manager of my website.

When I try to log in, the following appears:
Invalid request token!
The request token could not be verified. Please go back and try again.

This error occurres if there is a POST request without a valid authentication token. In Contao 2.10, the referer check has been replaced with a request token system. If the problem persists, you are

[2019-12-06 13:46] fritzmg commented on #1069
Just read the error message ;)

Your web hosting ran out of disk space.

[2019-12-06 14:21] sebj54 opened #1070 "Error 500 without error log"
**Affected version(s)**

At least Contao 4.4 and 4.8 (maybe all versions).

**Description**

Contao crashes with an error 500. There is no log in `var/logs`.

**How to reproduce**

Install a new Contao instance normally (create database, create tables and all). Then truncate all tables and refresh any front-office page. You'll get an error 500 but no log.

[2019-12-06 14:42] #1069 closed, assigned to nobody

[2019-12-08 17:10] ausi commented on #978
We could add `< 3.4.36` to `contao/conflicts` but I’m not sure if this is a good idea...

[2019-12-08 18:50] xprojects-de commented on #809
Hallo zusammen,

vielleicht eine letzte Erkenntnis von meiner Seite.

Habe gerade zwei Kunden wo es das Problem fast gar nicht gibt (nur ca. 2-3 Sek. Ladezeit beim ersten Aufruf). Zum einen ist es ein Kunde, welcher tatsächlich einen eigenen Server hostet (auch physikalisch :-), mit Ubuntu-Server-Software) und der andere mit einem Powerpaket bei Mittwald.
Desweiteren sehe ich nach abgeändertem Zei

[2019-12-09 07:06] leofeyer commented on #978
I don't think so.

[2019-12-09 08:30] Toflar commented on #1070
You likely don't get any logs because PHP itself crashes. There's nothing we can do to prevent this.
Make sure you check your server logs instead (Apache or Nginx error logs).

[2019-12-09 12:03] sebj54 commented on #1070
You're right, I have this error in my PHP error log:

[code]

Isn't it possible to have an early check to see if there is a site structure or something like this? This error only happens on a frontend route, backend works perfectly. Throwing an exception will make the error obvious for everyone.

Actually, when you create a Contao instance, you don't expect the frontend to work before creating a r

[2019-12-09 12:20] Toflar commented on #1070
It's a PHP fatal error. PHP execution halts.
You can only prevent such errors by static analysis or during compilation time for compiled languages (which PHP is not).
So no, that's not possible. That's how PHP works :)

[2019-12-09 12:26] m-vo commented on #1070
@Toflar He probably meant preventing the error in the first place not catching it (which of course isn't possible).

[2019-12-09 12:28] Toflar commented on #1070
Well, there are a billion possibilities on why someone passes an invalid parameter type anywhere in the code. How would we be able to catch that?

[2019-12-09 13:52] sebj54 commented on #1070
Exactly @m-vo, this is exactly what I meant!

I don't want to fix this fatal error, I would like to prevent it only in the specific case I mentioned (when all tables are empty). So frontend routes don't show a blank page but an error page (which can be customized).

Maybe that early check can only be an exception thrown if there is no root page to display.

[2019-12-09 14:19] aschempp commented on #933
We shouldn't *remove this way*, we should just adjust the Contao core (and everyone else should fix theirs)?

[2019-12-09 14:31] aschempp opened #1077 "Warm all languages"
In regards to https://github.com/contao/contao/pull/1040, I'd like to discuss why we don't warm all languages. If I add a new root page with new in the CMS, the language cache will not be available until I rebuild the cache…

[2019-12-09 14:44] aschempp commented on #1059
I would assume that was just a cache issue in your browser, as the editor files might have changed from Contao 4.4 to 4.8. Not much we can do about that…

[2019-12-09 14:46] aschempp commented on #862
I don't think we need to validate anything. If the user uses `23` as their page language, so be it… it just won't load any matching language files (except obviously if a filter `languages/23/…` exists.

[2019-12-09 14:51] aschempp commented on #1064
We have recently changed the defaults from being in the SQL instead of the DCA. This means they should be used for new elements, as well as when adding new columns to the database. We cannot update existing records, but I'm pretty sure that's not what you meant?

[2019-12-09 15:09] frontendschlampe commented on #1064
It's exactly what I meant, but why you can't update existing records? The database is inconsistent now, because some (new) entries have default values and some (old) entries doesn't have one. That's not good.

[2019-12-09 15:24] aschempp commented on #1064
I don't understand how this can be true, or how that's a problem. If a new column is added, all rows will have the new default value. So if an existing content element has a new setting, the default value will be used. When adding a new content element, the new value will be used as well. It's only old content elements that do not get the value, but they must not rely on it because they shouldn't

[2019-12-09 15:26] aschempp commented on #1070
`

This looks strange to me, and shouldn't be related to an empty database table. Can you reproduce/find out why this happens in the code?

[2019-12-09 15:31] sebj54 commented on #1070
Sure, I'll check this tomorrow morning and get back to you.

[2019-12-09 17:24] fritzmg commented on #1064
I think what @frontendschlampe means are edge cases, where no default value was stored in the database by either the DataContainer nor MySQL. For example when records were created by a third party, rather than the DataContainer itself.

[2019-12-09 19:15] Toflar commented on #1064
That‘s how default values work?🤔

[2019-12-10 10:43] leofeyer opened #1079 "Only disable the Symfony auto cache control in the front end"
As discussed in https://github.com/contao/contao/pull/1033#issuecomment-560368889, we should add an `isFrontendMasterRequest()` check to ensure that we only disable the default Symfony auto cache control for Contao front end requests.

[2019-12-10 11:36] leofeyer commented on #962
How do I reproduce this?

[2019-12-10 11:50] leofeyer commented on #1021
The template loader does not search recursively.

https://github.com/contao/contao/blob/09ba4829c44fa7155198e1393ebf22ebbb5359d8/core-bundle/src/Resources/contao/library/Contao/TemplateLoader.php#L92-L112

It just checks the theme templates folder and the global templates folder with a simple `file_exists()` call. A recursive search would noticeably decrease the performance, because these lookups

[2019-12-10 11:50] leofeyer commented on #1022
How do I reproduce this?

[2019-12-10 11:53] leofeyer commented on #1038
How did you set up the meta navigation?

[2019-12-10 11:55] #1059 closed, assigned to nobody

[2019-12-10 11:59] leofeyer commented on #1060
This is the intended behavior. The "custom template" drop-down menu does not show the default template, because you cannot not use it.

[code]

If we would show these options, people would assume they could select `ce_text.html5` to use the default template. However, if they were actually able to select it, Contao would still use the `ce_text.html5 (global)` template.

[2019-12-10 12:04] fritzmg commented on #1060
Well the suggestion was not to show both

[code]

but only

[code]

to signify that Contao's default template is in fact not in use. That would be the previous behavior (minus the inapplicable templates).

[2019-12-10 12:08] zonky2 commented on #1022
you must have an option array with `0` as value - see https://github.com/menatwork/contao-multicolumnwizard-bundle/issues/63

to set the attribute selected will be checked for `empty`, instead of empty string

[2019-12-10 12:12] frontendschlampe commented on #962
Take a Webspace with lower RAM (128 MB) and make an install of Contao 4.8 with Contao Manager. After that install the Notification Center and make a DB Update via Install Tool.

If I make the install and update via console there're no problems.

[2019-12-10 12:16] fritzmg commented on #1022
imho this is a known limitation, as currently the check for an empty value is just something falsey.

[2019-12-10 12:57] Toflar opened #1081 "Unify the configuration style"
**Affected version(s)**

4.9

**Description**

I just noticed that most of the bundle configuration uses snake case but a few recently introduced configuration keys use camel case.
We should definitely review those before the release.

[2019-12-10 13:48] leofeyer commented on #786
Somit kann das Ticket geschlossen werden?

[2019-12-10 13:52] leofeyer commented on #920
/ping

[2019-12-10 13:53] leofeyer commented on #950
/ping

[2019-12-10 13:54] leofeyer commented on #528
/ping

[2019-12-10 13:56] leofeyer commented on #696
@Mynyx Gibt es hierzu neue Erkenntnisse?

[2019-12-10 14:00] leofeyer commented on #1060
No, that would be wrong. It implies that you can use the default template by selecting the empty option, which you cannot.

[2019-12-10 14:03] fritzmg commented on #1060
I know, it's not perfect. Just mentioning this break from previous versions and that it's confusing some users on the forum and slack.

[2019-12-10 14:17] sebj54 commented on #1070
Hi @aschempp, I investigated to see what is happening here. I don't know Symfony that much so I'm not sure what is wrong.

Here is the value of `$request->attributes->get('_controller')` (which should be a string if I'm right):

[code]

If I disable the condition by commenting it (`vendor/contao/core-bundle/src/HttpKernel/ControllerResolver.php:42`), I don't have the fatal error but this:

![image

[2019-12-10 14:32] Defcon0 commented on #1021
I understand your opinion. Would the following be an option:

We support 1 level of nesting. I think the maximum level of nesting in contao modules is just this.

The current state that we cannot have sub folders at all is quite frustrating :(

And one thing I didn't understand: Why can't these lookups be cached? Wouldn't it be acceptable to have caching (even in dev mode)?

[2019-12-10 14:42] TS16V commented on #786
Wenn man dies beachtet, dann läuft es flüssiger und relativ stabil.

Aber trotzdem hängt das System bei mir immer mal wieder. Es kann vielleicht damit zusammenhängen, das, wenn die Console ab und an mal geschlossen wird (z.B. um das Ergebnis komplett im Bildschirm zu betrachten), und dann wieder geöffnet wird,  es dadurch zu den "Hängern" kommt.

Derzeit habe ich noch den Vergleich zu einer ältere

[2019-12-10 15:04] leofeyer commented on #1081
Which one for instance?

[2019-12-10 15:12] Toflar commented on #1081
* `contao.search.indexProtected`
* `contao.crawl.additionalURIs`
* `contao.crawl.defaultHttpClientOptions`

But also some that are already stable. Children of `contao.image.sizes` for example.

[2019-12-10 18:45] ausi commented on #862
I agree with @aschempp we should not validate/lookup the locale of a root page against a list of known locales.

But we should use `Locale::canonicalize()` for things like access to language files. `Locale::canonicalize('23') === '23'`, `Locale::canonicalize('DEU') === 'de'`.

I think we could support any alpa-numeric string including `-` and `_`. Maybe with a length limit?

[2019-12-10 18:50] ausi commented on #1064
I was not able to reproduce that. If I delete the `floating` column and run a database update all rows get the new default value.

[2019-12-10 19:23] ausi commented on #1021
This would change how the templates folder works in Contao and would be a BC break.

For example if you have Theme 1 which uses the root templates folder and Theme 2 that uses the folder `theme2`. With your suggested change now Theme 1 would load the `theme2/fe_page.html5` template from the subfolder which is probably not expected.

[2019-12-10 19:39] Defcon0 commented on #1021
You're right. But if a developer decides to create subfolders for his themes, he would probably also have set `templates/theme1` as the templates folder theme 1.

My expectation would be the following prioritization (descending order):

1. `templates/<template group name>/` -> search recursively (1 level at maximum)
2. `templates/<template group name>/` -> search directly in the first level withou

[2019-12-10 20:17] Mynyx commented on #920
Die Zugriffsrechte können ja nicht auf Ebene der Inhaltselemente konfiguriert werden, sondern nur auf Artikelebene?

Und es dürfte bei umfangreicheren Projekten auch schwerfallen, vollständig den Überblick zu behalten, wo welche Bildgröße verwendet wurde.

Das Risiko, dass eine Bildgröße versehentlich gelöscht wird, ist so kaum zu eliminieren. Grundsätzlich sollte beim Speichern eines Elements mei

[2019-12-10 20:23] Mynyx commented on #784
Ein Template erstellen und zu `x_x.html5` umbenennen.

[2019-12-10 20:27] frontendschlampe commented on #1064
I don't want to delete any column and make it new. It's just not consistent, that a table of a database has rows with correct default value (new entries/rows with default value for col `floating` --> `above`) and rows with an incorrect default value (old entries/rows with an empty string for col `floating`).
The database is inconsistent and cause problems.

I find the following case:

1. open an e

[2019-12-10 22:18] fritzmg commented on #1064
@frontendschlampe I cannot reproduce that. Even if I create a text element without an image in Contao 4.4.45 (where we do not have the SQL defaults yet), the `floating` column of the `tl_content` table will be filled with `above`.

[2019-12-10 22:23] frontendschlampe commented on #1064
Contao 4.8.x (updated from Contao 3.5.x --> 4.5.x --> 4.6.x --> 4.7.x --> 4.8.x)

Take an **existing** text element which has no image and no default value for `floating` - add image - choose image - save element --> no default value for `floating` is set

The problem aren't **new** elements - the problem are the **existing** elements which will be changed!!!

[2019-12-10 22:23] fritzmg commented on #1064
Existing elements had to be created somewhere. How did you create those elements?

[2019-12-10 22:25] frontendschlampe commented on #1064
just with an older Contao version in the backend

[2019-12-10 22:26] fritzmg commented on #1064
Yes, but with which one? You need to provide more details in order to be reproducible. If by older Contao version you mean Contao `3.5.40` for instance: I cannot reproduce the problem there either. Text elements without an image will also have `'above'` for `floating`.

[2019-12-10 22:31] frontendschlampe commented on #1064
I don't know.

[2019-12-10 22:35] fritzmg commented on #1064
`tl_content.floating` being empty is an invalid database state, at least from the viewpoint of Contao 3.5.40 and newer, regardless of this issue.

[2019-12-10 22:37] frontendschlampe commented on #1064
`¯\_(ツ)_/¯`

[2019-12-11 07:49] leofeyer commented on #784
Aber `x_` ist ja kein gültiges Präfix, daher ist es korrekt, dass kein Template angezeigt wird.

[2019-12-11 08:17] aschempp commented on #862
A correct language for a traditional chinese website would be `cn-Hant`, because that means China with Traditional Characters (https://en.wikipedia.org/wiki/Traditional_Chinese_characters). People currently use `cn-TW` for Taiwan, because that's where traditional writing is mostly used. On the same note, one could use `de-Cyrl` to write german in cyrillic letters (which is totally possible).

So a

[2019-12-11 08:20] aschempp commented on #1081
imho container configuration is and should always be snake_case. I haven't seen camelCase anywhere in Symfony.

[2019-12-11 08:24] aschempp commented on #1070
I _think_ the controller is actually allowed to be an object. I'll have to investigate that in the Symfony code.

[2019-12-11 08:25] aschempp commented on #1070
However, are you sure the same error appears in Contao 4.4? Because Contao 4.4 does not have a `FragmentRegistry`

[2019-12-11 08:26] aschempp commented on #1022
I agree with @fritzmg this was always a known limitation to me

[2019-12-11 08:35] theDyingMountain commented on #950
At the moment, I can't reproduce this, but this problem occurred on 2 Contao installations on different servers. I will continue to look for this behavior in future projects.

[2019-12-11 08:50] aschempp commented on #920
Mit `ce-access` oder Contao 4.9 ist das möglich. Ausserdem kann man dem Redakteur auch das entsprechende Feld wegnehmen.

Ich verstehe das Problem schon, aber ich denke nicht dass das System eine falsche Konfiguration für dich *korrigieren* kann…

[2019-12-11 08:50] sebj54 commented on #1070
You're right, it does not happen with Contao 4.4. It's another problem with a i18n module (trying to redirect on a localized route).

I reinstalled a clean 4.4 version (without modules) with an empty database and it shows this error (no root page found):

![image](https://user-images.githubusercontent.com/5880435/70605870-993eea80-1bfb-11ea-9036-eef4197d49c4.png)

[2019-12-11 08:59] aschempp commented on #1070
see https://github.com/contao/contao/pull/1087

[2019-12-11 08:59] #1070 closed, assigned to aschempp

[2019-12-11 09:23] leofeyer commented on #950
Ok. I am closing the issue then. Feel free to reopen it when you have new information.

[2019-12-11 10:03] theDyingMountain commented on #950
Unfortunately I'm not allowed to reopen the issue. My colleague was able to reproduce the behaviour. Here are the steps (in german):

1. Private Browser Fenster mit der Seite öffnen (so lange neu laden bis Cache: fresh)
2. Im normalen Fenster einloggen und CSS ändern
3. Frontend neu laden -> CSS Änderung wird angezeigt
4. Private Fenster neu laden -> CSS Änderung wird nicht angezeigt (da noch Cach

[2019-12-11 12:54] bit7ms commented on #1038
I set up a frontend- module with a modul typ "individual navigation" and selected the root pages of the different web sites. I didn't make any template changes.

[2019-12-11 12:58] zonky2 commented on #1022
Maybe it's time to break the limit... :D

[2019-12-11 13:04] fritzmg commented on #1038
» https://github.com/contao/contao/issues/72#issuecomment-559927374

[2019-12-11 13:45] fritzmg opened #1088 "Use/support `public/` folder for Contao Managed Edition"
Since Symfony 4.4, in a regular Symfony application you would have support for the following structure:

| App | Bundle |
| --- | --- |
| `config/` | `config/` |
| `public/` | `public/` |
| `src/` | `src/` |
| `templates/` | `templates/` |
| `translations/` | `translations/` |

Basically, everything in the bundle is consistent with the application itself.

After [this PR](https://github.com/contao

[2019-12-11 16:30] volkerrichert opened #1090 "no thumbnail / resized image are generated in /assets/images"
**Affected version(s)**
4.8.5, no other tested yet

**Description**
I try to upload some new images in a fresh 4.8.5 installation. Uploading via D&D onto the folder in the tree works fine, but no Thumb ist displayed just the "jpg" icon.

Clicking the pen next to ne new file will raise an error linke "Warning: file_get_contents(/var/www/html/assets/images/1/Standortanalysen_1920x200-303214b3.jpg):

[2019-12-11 16:34] leofeyer commented on #825
Kannst Du mir einen SQL-Dump Deiner Tabelle `tl_log` zukommen lassen, damit ich es selbst testen kann? In meiner `tl_log` sind nur knapp 1.000 Einträge.

[2019-12-11 16:56] leofeyer commented on #155
@Defcon0 Can you please test if the following changes fix your issue?

[code]

[code]

You should then be able to access `$this->model->my_parameter` in you navigation template.

[2019-12-11 17:10] Defcon0 opened #1091 "Search index indices 500er error pages"
**Affected version(s)**
4.4.45

**Description**
After calling

`https://example.org/de/some-alias?%28function%28%29%7bif%28typeof%20bb4og%3d%3d%3d%27undefined%27%29%7bvar%20a%3dnew%20Date%28%29%3bdo%7bvar%20b%3dnew%20Date%28%29%3b%7dwhile%28b-a%3c20000%29%3bbb4og%3d1%3b%7d%7d%28%29%29=1`

the page, which produces

`Oops! An Error Occurred The server returned a "500 Internal Server Error". Somethin

[2019-12-11 18:35] aschempp commented on #1022
Feel free to provide a solution …

[2019-12-11 18:40] aschempp commented on #1088
As far as I know, you can use a different folder and configure the application accordingly? There should be a property in the `contao` bundle config.

[2019-12-11 18:59] zonky2 commented on #1022
I can try it...

[2019-12-11 19:32] fritzmg commented on #1088
Yep, there is.
[code]
However, the question is, if the default should be changed to `public/`, for consistency with current Symfony best-practices and standards.

[2019-12-11 19:45] zonky2 commented on #1022
Maybe...
https://github.com/contao/core-bundle/blob/4.4/src/Resources/contao/library/Contao/Widget.php#L1184

[code]
checked false - fix

[code]

works at my test case...

[2019-12-12 00:03] asaage commented on #1090
check this thread: https://community.contao.org/de/showthread.php?76618-Nach-Update-von-4-7-x-auf-aktuelle-4-8-4-Bildercache-quot-defekt-quot-gt-assets-images
If you are using the original 4.8.5 .htaccess this problem is most likely caused by a reverse-proxy that tries to serve static resources (pictures) directly.
That seems to be a default plesk webhosting configuration and does not work with th

[2019-12-12 10:40] dmolineus commented on #528
Which information do you need more besides the information above?

[2019-12-12 12:19] volkerrichert commented on #1090
i'm using the default .htaccess file and the ImageController is called and ist running on my local system ATM inside a docker container

[2019-12-12 12:58] volkerrichert commented on #1090
ok, i found the reason. my GDlib doesn't support jpeg, png works as expected.

But contao should have a fallback handling if deferred image handling is failing, e.g. using the real image

[2019-12-12 14:21] leofeyer commented on #528
Please post your controller code.

[2019-12-12 15:11] dmolineus commented on #528
I removed all vendor specific names, but it should be clear what happens.

The created form uses a custom symfony form which outputs forms in contao backend form markup. `Backend.toggleFieldset` is triggered by fieldsets. The route has the `backend` scope if it matters.

[code]

[2019-12-12 15:22] discordier commented on #1022
Shouldn't the `in_array` check become `strict` also?

[2019-12-12 15:32] zonky2 commented on #1022
@discordier you mean `strict = true` ?

[2019-12-12 20:13] contaoacademy commented on #1088
Does this mean that the domain root would have to be set to `/mypath/public`?

[2019-12-13 08:52] bit7ms commented on #1038
Okay, I tried to recreate the constellation in the Contao demo. Here the root nodes are displayed.
Sorry. So this is a bug in my installation. I close this issue.

[2019-12-13 08:57] fritzmg commented on #1038
It's not a bug in your installation. The Contao Demo uses

[code]

In this case selecting root nodes in the individual navigation works. See the linked PR on why this has been disabled when this option is not enabled (and only one domain is present). As I said in my comment, imho this change should be reverted, since I consider the use case a misconfiguration of Contao.

[2019-12-13 10:05] bit7ms commented on #1038
you're right!

[2019-12-13 17:01] leofeyer opened #1096 "Event names not consistent?"
While working on #1095, I noticed that we have some event names starting with `contao.` and other with `kernel.`:

[code]

@contao/developers Shouldn't all our event names begin with `contao.`?

[2019-12-13 20:34] Defcon0 commented on #155
Thanks, @leofeyer . This fixes it!

[2019-12-13 21:06] leofeyer commented on #155
Great. I am not so happy with the naming though, because `$this->model` might as well be the model of the current item. What about `$this->module` or `$this->parent`?

@contao/developers /cc

[2019-12-13 21:07] Defcon0 commented on #155
You‘re right. I‘d definitely prefer $this->module.

[2019-12-14 21:16] ausi commented on #1096
The last three of your examples are not events I think.
`contao.frontend_module` is the name of the tag.

[2019-12-15 21:15] aschempp commented on #1096
@ausi is absolutely right, you're confusing tags with tagging events 😊

[2019-12-16 08:10] akroii opened #1099 "No individual Templates available"
**Affected version(s)**
4.8.5, not testet in 4.4

**Description**
For Modules no individual Templates are selectable. The dropdown is empty.

**How to reproduce**
1. Install clean 4.8.5
2. Go to modules
3. Inputfield "Individual Templates" remains emptiness

[2019-12-16 08:20] fritzmg commented on #1099
That's normal. Templates only show up, if you actually created any individual templates (with a name other than the default one).

[2019-12-16 09:18] #1099 closed, assigned to nobody

[2019-12-16 15:07] Defcon0 opened #1104 "Don't use __DIR__ in symfony commands"
**Affected version(s)**
4.4.45

**Description**
When overriding for example `Contao\ManagerBundle\Composer\ScriptHandler::initializeApplication` in the project root's `composer.json` we get problems with __DIR__, when the command is in another directory than the original file was. Better would be to use the project root and then go to the appropriate files.

**How to reproduce**
Replace `Contao\Ma

[2019-12-16 15:19] aschempp commented on #1104
you mean your custom script handler is extending the core script handler? Why would you override that, and not just add your script additionally in the `composer.json`?

[2019-12-16 15:59] leofeyer commented on #1088
I am up for renaming the `web/` folder to `public/` in Contao 4.9. Not sure about the upgrade path though - how would you upgrade from Contao 4.4 to 4.9 then?

@contao/developers /cc

[2019-12-16 15:59] Toflar commented on #1088
We can't. It would require to change the DirectoryIndex of your server configuration. I don't see any value. At all.

[2019-12-16 16:01] leofeyer commented on #1096
Valid point, however, the question remains: Shouldn't all our tags begin with `contao.`? Just like Doctrine uses `doctrine.event_listener`?

[code]

[2019-12-16 16:06] leofeyer commented on #1088
Renaming the directory has the same benefit as deprecating the `/app/Resources/config` directory in favour of the `/config` directory. We did not have to do this, either, however we wanted to adjust to the Symfony standards. 🤷‍♂