[2022-01-22 17:14] Samson1964 opened #3988 "Kommentar-Benachrichtigungsmail: Bearbeitungslink für Autor trotz fehlender Rechte"
### Affected version(s)

4.12.5

### Description

In der Demo läßt sich das nicht testen, weil das System keine E-Mail verschickt.

Wenn Events oder Nachrichten kommentiert werden und der Autor eine Benachrichtungsmail bekommt, ist in der Mail ein Bearbeitungslink für das Backend, obwohl der Autor keine Rechte dafür hat.

Siehe auch https://community.contao.org/de/showthread.php?82340-Kommentar-Be

[2022-01-22 17:31] mwitzmann opened #3989 "Alias der Webseite hat bei einem PageController mit absolutem Pfad in "path" weiterhin Kontrolle über das Routing"
### Affected version(s)

4.12.5

### Description

In meiner Testinstallation (4.12.5) gibt mir das System einen 404 Fehler, wenn der Alias eines PageControllers “leer” ist und man versucht, einen dynamischen Pfad aufzurufen.

Beispiel:

[code]

[2022-01-22 21:17] ausi commented on #501
Siehe https://github.com/contao/contao/issues/501#issuecomment-994631866 TLDR: `noindex,nofollow` ist für Google „essentially“ dasselbe wie `noindex,follow`. Exakte Quelle: John Mueller (Search Advocate bei Google) am 15.12.2017: https://youtu.be/9GNg8R-X8LQ?t=3329

[2022-01-23 00:35] Total-Reality commented on #501
Verdreh doch bitte nicht die Tatsachen.

"noindex and follow is essentially kind of the same as noindex nofollow. There is no really big difference."

Es wurde gesagt es ist im **wesentlichen** dasselbe. Es wurde nicht gesagt, dass es exakt dasselbe ist.
Es gibt keinen **großen** Unterschied. Das bedeutet im Umkehrschluss also es gibt zumindest einen kleinen Unterschied. Wenn es gar keinen Untersc

[2022-01-23 10:52] de-es commented on #3980
Da scheinen ein paar Kommentar-* verloren gegangen zu sein (oder?), denn es kam zu SQL-Fehlern. Mit folgendem Statement klappt es und der Performanceeinbruch ist weg 💪:

[code]

[2022-01-23 10:58] m-vo commented on #3980
@xprojects-de Could you maybe check how the execution plans differ when directly running both queries with `EXPLAIN ANALYZE SELECT […]`?

Edit: Nvm, just realized @morozov is already on that track in the linked issue over at doctrine/dbal. :relaxed:

[2022-01-23 11:04] fritzmg commented on #3980
@xprojects-de which MySQL server are you running? Just in case this makes a difference (initial author uses MariaDB 10.6 for instance).

[2022-01-23 11:39] xprojects-de commented on #3980
Tested it on MySql5 and also MariaDB 10.5.x...

Same behaviour...

[2022-01-23 12:05] xprojects-de commented on #3980
@fritzmg @m-vo
see https://github.com/doctrine/dbal/issues/5195

Do you understand why it´s a different when using the mysql executable and using php executable!?!?!

###edit
Let´s wait for the reply from @morozov

[2022-01-23 13:50] mwitzmann commented on #3989
Ich habe einpaar Tests gemacht:

Tests:
tl_page.alias = leer; {slug}, default (null) gesetzt; Route: /test -> funktioniert nicht
tl_page.alias = test; {slug}, default (null) gesetzt; Route: /test -> funktioniert nicht
tl_page.alias = leer; {slug?}, default nicht gesetzt; Route: /test -> funktioniert
tl_page.alias = test; {slug?}, default nicht gesetzt; Route: /test -> funktioniert

tl_page.alias =

[2022-01-23 18:53] xprojects-de commented on #3980
@fritzmg @m-vo
Should we add a conflict for 3.3.0? So in 3.3.1 the Bug should be solved... maybe it's only necessarry if 4.13 is out before 3.3.1 is released...

[2022-01-23 19:20] xprojects-de commented on #3980
@de-es Final test :-)

Can you also checkout the 3.3.x branch and test again? Then we would have verified it again!

Thanks

[2022-01-24 01:03] m-vo commented on #3853
The reason behind this issue is that we're not loading the `DebugBundle` in `prod`:

https://github.com/contao/contao/blob/a5c401df53881cd09edd0e5dfc9813dbb659c251/manager-bundle/src/ContaoManager/Plugin.php#L89

Because we probably want to keep it that way, we could in theory register a no-op `dump` function in the `manager-bundle` (`prod` only). Wdyt?

For reference: https://github.com/symfony/s

[2022-01-24 09:22] de-es commented on #3980
Looking good so far. Thanks for debugging. :+1:

[2022-01-24 10:04] m-vo commented on #3980
I assume 3.3.1 will be released shortly, so I'd wait a few days and otherwise add a conflict for 3.3.0 only that'll resolve itself.

[2022-01-24 10:06] leofeyer commented on #501
Das Problem ist, dass es nicht nur Google gibt.

Google sagt klar, dass `noindex,follow` für sie keine eindeutige Anweisung ist (siehe [twitter.com/JohnMu](https://twitter.com/JohnMu/status/1466666064935374851)) und gibt daher eine Warnung in der Search Console aus. Das ist Googles **eigene Interpretation**, die nicht allgemeingültig ist!

Andere Crawler, wie z.B. Escargot, interpretieren `noindex

[2022-01-24 10:13] fritzmg commented on #501
Also keep in mind that `<meta name="robots" content="…,nofollow">` has a completely different meaning to the `rel="nofollow"` attribute on individual links: http://www.robotstxt.org/faq/relnofollow.html

It could be that this is at least one source of confusion within so called "SEO agencies" and why they tell you to set pages to `noindex,follow` because they are wrongly afraid of down-ranking you

[2022-01-24 10:18] leofeyer commented on #3853
How does Symfony handle this case?

[2022-01-24 10:26] m-vo commented on #3853
Not. You would get a `SyntaxError` as well in `prod`.

[2022-01-24 10:33] leofeyer commented on #3853
So why do we have to handle this differently?

[2022-01-24 10:36] fritzmg commented on #3853
In Contao we allow to use `dump()` in PHP templates (or `$this->dumpTemplateVars()`). The expectation would imho be that this also works in Twig templates - or at least does not result in an error.

[2022-01-24 10:55] leofeyer commented on #3853
I disagree. If you want to dump variables or do other debugging, run the application in dev mode. It never makes sense to have a `dump()` call in a production template.

[2022-01-24 10:56] m-vo commented on #3853
But would you want your application to fail then or should just nothing be output?

[2022-01-24 10:58] Toflar commented on #3853
We don't use `dump()`. We use the `VarDumper` directly. https://github.com/contao/contao/blob/5.x/core-bundle/src/Resources/contao/library/Contao/Template.php#L272

[2022-01-24 11:00] leofeyer commented on #3853
Fail. Because that is how the underlying framework handles it.

[2022-01-24 11:01] fritzmg commented on #3853
I know. And `dump()` is basically also just a shim for `VarDumper::dump` (though it allows you to dump multiple variables as funciton arguments). My point is that in Contao it is currently possible to use either `dump()`, `VarDumper::dump` or `$this->dumpTemplateVars` in PHP without an error occurring. My expectation would be that `{{ dump() }}` in Twig would behave no different (but it does curre

[2022-01-24 11:06] m-vo commented on #3853
So, should we vote what to do in Twig?

* don't change anything, but explain it to users in the docs [:heart:]
* register a no-op [:tada:]
* output in `prod` as well, i.e., load the debug bundle in prod [:+1:]

[2022-01-24 11:11] fritzmg commented on #3853
I voted 🎉 for now, but I am curious as to what the result of the discussion on Symfony will be.

That would also register two additional compiler passes for prod, not sure if that is desirable?

[2022-01-24 11:11] leofeyer opened #3996 "Route 'cmf_routing_object' not found"
### Affected version(s)

4.13.0-RC1

### Description

If a `link` insert tag points to a non-routable page, the following exception will be triggered here:

https://github.com/contao/contao/blob/ffa016c820987d6887332bdf2366a816626c3e7e/core-bundle/src/Resources/contao/models/PageModel.php#L1351-L1352

[code]

You can basically trigger the exception with `PageModel::findOneByAlias('error-401')->get

[2022-01-24 11:25] xprojects-de commented on #3928
Looking at the code i think possible use cases are the one mentioned above and also replacing Inserttags in this context. So maybe https://github.com/contao/contao/blob/a5c401df53881cd09edd0e5dfc9813dbb659c251/core-bundle/src/Resources/contao/library/Contao/InsertTags.php#L113 is also affected.

###Edit
But I think in case of InsertTags everything here has already been tested to null... But maybe

[2022-01-24 11:43] m-vo commented on #3853
Yes, and it might leak information about the app if you're using the unconstrained version without any parameters, which is probably worse.

[2022-01-24 12:05] fkaminski commented on #3853
From the user perspective, I think it makes sense if it is implemented uniformly - Either way ...

[2022-01-24 12:09] fritzmg commented on #3928
At least some insert tags have already been adjusted in this regard.

[2022-01-24 13:51] fritzmg opened #3998 "LogoutHandler not executed for back end logouts"
### Affected version(s)

4.12, 4.13

### Description

In Contao 4.12 and 4.13 the `Contao\CoreBundle\Security\Logout\LogoutHandler` is not executed for back end logouts in the Contao Managed Edition, only for front end logouts (which also means the `postLogout` hook is not executed). In Contao 4.9 said `LogoutHandler` is correctly executed for front end and back end logouts. You'll also notice tha

[2022-01-24 13:57] fritzmg commented on #3998
This may be a bug in Symfony's BC layer for the deprecated `LogoutHandlerInterface`. Downgrading `symfony/security-http` to `^4.4` fixes the problem. I also noticed [other issues](https://github.com/contao/contao/pull/2818#issuecomment-788272728) with this BC layer some time ago (but unfortunately never got around to further analysing it and creating a PR for Symfony or at least an issue).

[2022-01-24 14:00] bytehead commented on #3998
Maybe my PR here is missing, see https://github.com/contao/contao/issues/2862#issuecomment-1016857068.

[2022-01-24 14:05] fritzmg commented on #3998
Yes, but it is also broken in Contao 4.12 though where we still support Symfony 4.4.

[2022-01-24 14:29] Total-Reality commented on #501
Danke für deine Antwort Leo, ich respektiere deine Meinung dazu.

Das ist richtig, allerdings spielt es hinsichtlich der Marktanteile so gut wie keine Rolle was die anderen machen. Wir können deswegen alle in Geiselhaft nehmen, weil es die anderen Suchmaschinen ggf. anders handhaben. Die Basic Einstellungen von Contao sind hier einfach unzureichend.

Danke für das Argument mit dem Twitter Eintrag

[2022-01-24 14:37] Total-Reality opened #3999 "Neuer HTTP Status 410 - Gone"
### Description

Hi,
es wäre super, wenn ihr in der Seitenstruktur noch einen neuen Seitentyp vom Status "410" einführen könntet.

Es müsste also so ähnlich sein wie das Script:
https://github.com/contao/core-bundle/blob/5.x/src/Resources/contao/pages/PageError404.php

Es ist wichtig für Unterseiten, die dauerhaft nicht mehr existieren werden. Das kann z.B. nützlich sein, wenn es in einem Shop bes

[2022-01-24 14:52] fritzmg commented on #501
If you use a module in Contao that filters via query parameters your module could change the robots meta tag dynamically and also _not_ add these URLs to the sitemap. Though it's more semantically meaningful to use a canonical meta tag in such a case, rather than controlling indexing via the robots meta tag.

But this has nothing to do with the current discussion of whether regular pages with `noi

[2022-01-24 16:42] Total-Reality commented on #501
Warum schreibst du jetzt auf Englisch?

Ja, hat nichts direkt mit der Diskussion zu tun. Allerdings habe ich ja auch selbst geschrieben, dass es nur der Klarstellung diente, da suggeriert wurde es würde allgemein gar nichts bringen.

Das weiß ich, hab nicht das Gegenteil behauptet.
Aber ist ja jetzt auch völlig egal. Ich finde das respektlos so spitzfindig zu sein und nie auf die eigentlichen Idee

[2022-01-24 17:04] tabcontao commented on #501
Well, while I'm out of this discussion for years, but it seems like the discussion could go on forever. Maybe a separate switch for each setting could put an end to it. While the arguments used for it here lately seem inconsistent to me, why not make a SEO happy who comes up with a good solution and maybe even with a pull request?

A good solution would of course have to take care of search engine

[2022-01-24 17:23] aschempp commented on #3999
Wie sollte die Seite denn generiert werden? Contao generiert ja die 404 wenn eine Seite nicht gefunden wird. Eine 410 würde nie generiert...

[2022-01-25 09:52] fritzmg commented on #3999
We could add general support for rendering a 410 page (by throwing the appropriate exception, just like 401, 403 or 404). How URLs are managed that should respond with 410 is another question and extensions could take advantage of that.

However, something like that could be implemented as an extension in any case I suppose.

[2022-01-25 10:21] #3996 closed, assigned to nobody

[2022-01-25 12:57] m-vo commented on #3853
I thought about this again. I think outputting the untreated context, and potentially the whole context, in `prod` is a really bad idea. And the default behavior of the `dump` function/tag would not even do it even if the `DebugBundle` was registered - as long as debug isn't enabled in the kernel, an early return prevents evaluation.

So we should either enable the `DebugBundle` in `prod` (to get

[2022-01-25 14:55] Total-Reality commented on #501
Danke für die neutrale, konstruktive Antwort.
Ich stimme mit fast allem was du geschrieben hast überein - bis auf nachfolgende Einschränkungen:

Zunächst kurz dazu: Es ist ein extrem kompliziertes Thema bei dem es auf jedes Wort ankommt. Bevor ich angefangen habe auf Deutsch zu schreiben war dies bereits bei Bugbuster der Fall.
Danach hatten dann sowieso alle auf Deutsch geschrieben, von daher fin

[2022-01-25 14:58] asaage commented on #3853
Just voted for the last option because i use ```$this->dumpTemplateVars``` for a quick insight a lot in production.
I find the debug-mode is just painfully slow and then i'm allway unsure what it does to the site for my visitors.
Didn't dig into twig-templating though...

[2022-01-25 15:06] m-vo commented on #3853
You won't be able to do this with Twig templates anyway as they are compiled and changes in prod would only be effective once the cache was rebuilt.

To iterate on that: Besides other things like globally defined tokens, the context contains the global `app` object, that includes information about the token storage, container, request… This is potentially sensitive information, that should never b

[2022-01-25 15:17] fritzmg commented on #3853
But if we want to prevent that, we would need to do that for _any_ `dump`, not just the ones coming from Twig templates?

[2022-01-25 15:20] Total-Reality commented on #3999
Yes, that could be the way to go.

Das stimmt. Ist derzeit so.

Es gäbe aber folgende Fälle in denen ein 410 Status generiert werden könnte:
- Extensions wie Shops oder Kataloge könnten die Verwaltung von Produkten ermöglichen, die es mal gab, aber nie wieder geben wird
- News im Backend auf unveröffentlicht stellen und danach festlegen, dass diese den Status 410 oder 404 bekommen
- Die gleiche Si

[2022-01-25 15:27] m-vo commented on #3853
Tbh, I'm only concerned about Twig templates right now. :upside_down_face:. In PHP Templates and anywhere in your code, you can do all sorts of stuff which we cannot control.

[2022-01-25 17:59] #3928 closed, assigned to nobody

[2022-01-25 18:17] Toflar commented on #3965
I don't know what information you received on Slack but it was completely wrong. Both configurations are correct and they have a completely different function.

[code]

This disables the default serach indexer that is shipped with Contao. It's the same as if you did `contao.localconfig.enableSearch = false` in the past (which by the way still works but is deprecated). However, compared to previous

[2022-01-25 18:17] #3965 closed, assigned to Toflar

[2022-01-25 18:52] m-vo commented on #3965
It seems we're not triggering deprecations for the `localconfig` config node, yet. Probably because it's a variable node. But maybe we should do this in a validate callback? Wdyt?

[2022-01-25 18:59] Toflar commented on #3965
We are, when you access it in `Config::get()`. But when setting. Sure, you can give it a try :)

[2022-01-26 08:54] fritzmg commented on #3965
This is actually not the case currently, as far as I can see. Should we may be extend the `ContaoCoreExtension` to set `contao.search.default_indexer.enable` to `false` if `contao.localconfig.enableSearch` was set to `false`?

[2022-01-26 10:20] ausi opened #4007 "Copy preview link: navigator.clipboard is undefined"
### Affected version(s)

4.13.x-dev

### Description

We currently use `navigator.clipboard` in https://github.com/contao/contao/blob/862755b972e2225fce3237da8f154a5299ff5a63/core-bundle/src/EventListener/DataContainer/PreviewLinkListener.php#L172 but this is not available in all browsers and not in all contexts (HTTPS only).

I think we should use something like what we have in the preview toolba

[2022-01-26 14:06] bennyborn opened #4008 "Using translator to access different languages at once fails"
### Affected version(s)

`>= 4.9`

### Description

We're working on a project where we need the same translation in different languages. We saw that this is a known limitation in 4.9 since the `locale` parameter is ignored for everything Contao related:

https://github.com/contao/contao/blob/20cbb7fa7cd4714649d12de6239ccd0584cba773/core-bundle/src/Translation/Translator.php#L44-L50

But it seems

[2022-01-26 14:27] bennyborn commented on #3999
+1 for implementing 410 pages

We actually needed that ourself for the relaunch of our own site. There was a good amount of old backlinks roaming around the web where we wanted to make sure that these are gone for good. We ended up implementing a custom route provider but having this in the core would be nice.

[2022-01-26 14:30] m-vo commented on #3999
That sounds more like a feature for [`terminal42/contao-url-rewrite`](https://github.com/terminal42/contao-url-rewrite) to me.

[2022-01-26 14:35] ausi commented on #4008
I think we should rework `System::loadLanguageFile()` to check if the last loaded language matches the requested one instead of the current logic in https://github.com/contao/contao/blob/64952eea57830f86ff95928f3810b5e5aac6d169/core-bundle/src/Resources/contao/library/Contao/System.php#L460-L464

[2022-01-26 14:39] fritzmg commented on #4008
@ausi should be fixed in 4.9 as well imho.

[2022-01-26 15:00] ausi commented on #4008
Even though our decorated Translator doesn’t support it?

[2022-01-26 15:04] fritzmg commented on #4008
Presumably the same issue happens in 4.9 if you do

[code]

But I haven't actually tested that.

[2022-01-26 15:07] fritzmg commented on #3999
The implementation of the 410 page should be separate imho as the support to generate a 410 page is independent from actually triggering it. It could be a `vendor/contao-410-page` dependency that `terminal42/contao-url-rewrite` would require.

[2022-01-26 16:50] Toflar opened #4011 "Add filter flags for VirtualFilesystemInterface::listContents()"
### Description

Currently we have to manually check for `$fileItem->isFile()` or `->isDir()`. Looks like we could improve that by adding more flags to the `VirtualFileSystemInterface`.

See https://flysystem.thephpleague.com/v2/docs/usage/directory-listings/.

[2022-01-26 17:02] m-vo commented on #4011
I can think of two possible ways to implement this:

* a new flag `$filesOnly = false` for the `VirtualFilesystemInterface#listContents()` method
* returning a custom iterator that has a method `files()` so that you could do `foreach($storage->listContents(…)->files() as $file) { … }`

[2022-01-26 17:07] Toflar commented on #4011
Both are okay for me. But it should be consistent then. Either one or the other, not both. So the dbafs flags would also need to become part of the iterator.

[2022-01-26 17:21] Toflar commented on #4011
Would also like to have @ausi's input here :)

[2022-01-26 18:11] m-vo commented on #4011
IMHO the iterator would have the benefit to be extendable in the future without breaking anything. And too many optional parameters might get cumbersome. So I'm leaning towards this solution.

[2022-01-26 18:11] Toflar commented on #4011
Same gut feeling over here 👍

[2022-01-26 20:06] m-vo commented on #4011
see #4012 for a proposal

[2022-01-26 20:06] #4011 closed, assigned to m-vo

[2022-01-26 22:43] rabauss commented on #3999
This was also requested in an issue https://github.com/terminal42/contao-url-rewrite/issues/17.
Currently you can already provide a 410 as a response with `terminal42/contao-url-rewrite`, but this does not have a nice output like e.g. 404 pages

[2022-01-27 07:07] bennyborn commented on #4008
Tested it, same effect in 4.9.

[2022-01-27 10:13] bennyborn opened #4014 "Add locale parameter for translations in templates"
### Description

With #4013 we'll now be able to request translations for different languages to do something like this:

[code]

This is all fine for modules and controllers using the Translator service.

If we need translations of different languages within a template like this...

[code]
... it won't work because the trans method of the Template class lacks the `$locale` parameter

https://gith

[2022-01-27 10:37] fritzmg commented on #4014
That should already work :). Syntax looks correct.

[2022-01-27 10:38] m-vo commented on #4014
Explicitly setting a locale works like you posted.

But there is an ongoing discussion (since 2020…) about how a locale could be forced when rendering a template (and on other places): https://github.com/symfony/symfony/issues/35925

[2022-01-27 10:39] fritzmg commented on #4014
Keep in mind though that changing the locale for the legacy translations can be "dangerous". You will need to make sure that you reset it to the initial locale, otherwise all following translations might be in the wrong language.

[2022-01-27 10:50] bennyborn commented on #4014
Prior to @ausi's PR that is correct but I just tested it and after forcing a specific language all following translations (without an explicit locale specified) still use the "global locale".

[code]

[2022-01-27 10:58] ausi opened #4015 "Add support for VIPS image library"
### Description

Add `rokka-io/imagine-vips` as an optional dependency (inverse conflict) and detect if it is installed and available in https://github.com/contao/contao/blob/64952eea57830f86ff95928f3810b5e5aac6d169/core-bundle/src/DependencyInjection/ContaoCoreExtension.php#L353

[2022-01-27 11:07] ausi commented on #4014
`translator->trans()` should always work correctly. But if you use `translator->trans(…, 'fr')` and after that access `$GLOBALS['TL_LANG'][…]` directly (as the core does in many places) it would be in the wrong locale.

[2022-01-27 14:59] #4008 closed, assigned to ausi

[2022-01-28 04:08] #3502 closed, assigned to nobody

[2022-01-28 13:22] MacKP opened #4016 "input type="number" and minimum Value = 0 is like no minimum value"
### Affected version(s)

4.9.24 and 4.12.5

### Description

Wenn ich bei einem Number Eingabefeld die 0 als Minimum angebe, dann wird das nicht als Minimum gesetzt. Es ist im Grunde so, als ob die Eingabe leer wäre.
Ergebniss im Frontend: Ich kann da auch minus Zahlen setzen...
Erwarten würde ich die 0 als Minimum ;-)

Viele Grüße

[2022-01-28 13:27] ausi commented on #4016
May be related to #2307, #2779 or #2778 ?

[2022-01-28 13:30] MacKP commented on #4016
Ah, yes.. sorry, didn't find this this tickets...

[2022-01-28 15:16] ben-eSM opened #4017 "Composer version 2.2.5 might break Contao installations"
### Affected version(s)

all

### Description

Due to the new handling regarding the composer/package-versions-deprecated plugin introduced in Composer version 2.2.5 (see Pull Request [#10458](https://github.com/composer/composer/pull/10458)), there's a chance that the ``vendor/composer/package-versions-deprecated/src/PackageVersions/Versions.php`` file contains an empty VERSIONS constant. That co

[2022-01-28 15:21] ausi commented on #4017
Accessing this constant does not seem to be an intended use case, see https://github.com/composer/package-versions-deprecated/blob/b4f54f74ef3453349c24a845d22392cd31e65f1d/src/PackageVersions/Installer.php#L66 so we probably have to change this.

[2022-01-28 15:28] ausi commented on #4017
We should probably add a check like `method_exists(InstalledVersions::class, 'getInstalledPackagesByType')` and use the implementation from Contao 4.13 in this case: https://github.com/contao/contao/blob/d0a7512bbb708ae3873105ce5493834ef27b100a/core-bundle/src/DependencyInjection/Compiler/AddAssetsPackagesPass.php#L87 and only use the current code as a fallback if the method does not exist.

[2022-01-28 15:33] ausi commented on #4017
For everyone else experiencing this issue: Downgrading to Composer 2.2.4 (e.g. via `composer self-update 2.2.4`) can be a way to workaround this issue for now.

[2022-01-28 15:35] ben-eSM commented on #4017
I can confirm that. `composer self-update 2.2.4` does the trick.

[2022-01-28 17:53] ausi commented on #4017
Closed in favor of #4020

[2022-01-28 17:53] #4017 closed, assigned to ausi

[2022-01-28 18:09] ausi commented on #4017
It would be great if someone could verify that the changes from #4020 work in a setup that is currently broken.

[2022-01-29 19:03] zonky2 opened #4023 "Fallback für "Locale""
### Description

Wäre es möglich, einen Fallback für Locale einzubauen?

Aktuell agiert Contao wie folgt:

Wir haben als Beispiel die Seiten mit selbiger Domain und den Sprachen en, de, de-CH und en ist die Fallbacksprache...

Kommt jemand mit de-AT wird dieser zu en (Fallback) geleitet, da kein anderer Startpunkt dafür zuständig ist.

Für viele wäre es sicher "logischer", wenn nach einer Prüfung

[2022-01-29 19:18] ausi commented on #4023
Bei den Sprachen `en, de, de-CH` sollte ein Benutzer mit Sprache `de-AT` bereits zu `de` geleitet werden. In welcher Version tritt der Fehler auf?

[2022-01-29 19:22] ausi commented on #4023
Bitte auch den `Accept-Language` header bekanntgeben den der Browser mitschickt.

[2022-01-29 19:26] zonky2 commented on #4023
habe Infos "angefordert"... => @rleyendecker

[2022-01-29 19:48] aschempp commented on #4023
Soweit ich weiss wird nicht automatisch nach `de` geleitet, aber jeder normale Browser schickt nicht nur de-AT

[2022-01-29 19:49] ausi commented on #4023
Genau, so steht es auch explizit im Standard. Ein Browser muss sowas wie `de-AT,de;q=0.9` schicken. (Machen auch alle Browser die ich habe).
https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.4

[2022-01-29 20:53] fritzmg commented on #4023
This is already implemented in the current version of Contao. Tested with two website roots, one with language `en` (fallback) and one with language `de`:

[code]

Response:

[code]

Works with and without legacy routing. As far as I remember this has been added around Contao 4.11 or so.

[2022-01-30 17:06] aschempp commented on #3999
I have a draft for Contao locally to support 410 and any other error page. But I think this is mostly confusing since you cannot trigger a 410. I would prefer to come up with a solution how to trigger 410 _before_ adding support to the core. And relying on extensions does not make much sense to me. If that were the case, the extension could simply render any page from the tree in that case.

[2022-01-30 17:21] aschempp commented on #4023
Wenn ich das richtig verstehe, dann wäre das bereits im neusten Contao implementiert und daher "erledigt" 😊

[2022-01-30 17:42] ausi commented on #4023
I think we should wait on feedback from @zonky2 before closing this.

[2022-01-31 07:04] aschempp commented on #3959
@mwitzmann can you test the bugfix in https://github.com/contao/contao/pull/4026 please? 😊

[2022-01-31 07:05] aschempp commented on #3989
https://github.com/contao/contao/pull/4026 sollte das Problem beheben, kannst du dies testen?

[2022-01-31 10:42] fritzmg opened #4029 "data-lightbox attribute empty for text and image content element"
### Affected version(s)

4.12, 4.13, 5.x

### Description

Currently the `data-lightbox` will be empty in content elements like `text` or `image`, since they do not call `setLightboxGroupIdentifier` on the figure themselves. However, this is a regression from previous Contao versions as `Controller::addImageToTemplate` would automatically generate a hash for the `data-lightbox` attribute, so that

[2022-01-31 10:50] bennyborn commented on #3999
We mostly setup 410's once we relaunched a site. IMHO defining them in the `.htacces` should be a viable option

[code]

[2022-01-31 10:52] m-vo commented on #4029
IMHO the current behavior was at least an intentional decision. I remember having discussed this with @ausi, but I do not remember the exact reasons and conclusions anymore. :smile:

[2022-01-31 10:55] fritzmg commented on #3988
We can add an additional check for whether the author has access to the comments module here:

https://github.com/contao/contao/blob/64952eea57830f86ff95928f3810b5e5aac6d169/news-bundle/src/Resources/contao/modules/ModuleNewsReader.php#L211-L215

[2022-01-31 10:56] ausi commented on #4029
Would that be possible? AFAIR this mostly gets generated based on the ID of the content element?

[2022-01-31 10:57] fritzmg commented on #4029
True, now we lack that information.

[2022-01-31 11:24] ausi commented on #4029
So I think we should call `setLightboxGroupIdentifier()` in these two content elements then.
Does `addImageToTemplate()` still set this automatically?

[2022-01-31 12:08] fritzmg commented on #4029
As far as I can see, no. I think we should fix that may be.

[2022-01-31 12:20] m-vo commented on #4029
Should "no lightbox group id" not mean "do not group" rather than "group under `''`"? Maybe this was the idea. We could generate a pseudo-random value based on the file path (probably in the template) if none was set, but I'd prefer if the FE scripts would act like this.

[2022-01-31 12:25] m-vo commented on #4029
From https://github.com/contao/contao/pull/1753#discussion_r449865348

![grafik](https://user-images.githubusercontent.com/5305677/151793474-d785f52a-7d1a-47c3-970e-9b06fdde17c9.png)

[2022-01-31 12:27] fritzmg commented on #4029
Yeah, it just so happens that glightbox seems to group them by default and there does not seem to be an easy way to prevent this, but I'll research there further.

[2022-01-31 12:44] m-vo commented on #4029
Maybe just with a bit of JS? You should probably be able to use `document.querySelectorAll('a[data-lightbox]')` and set a random value if empty before initializing `GLightbox` without having to touch any code/template.

[2022-01-31 12:57] fritzmg commented on #4029
Yes, though that doesn't seem very elegant to me either 😁

[2022-01-31 13:16] m-vo commented on #4029
A "more elegant" way would be to explicitly initialize all GLightbox instances with their API instead of using the selector. But probably also more work for no real benefit. :slightly_smiling_face: Either way it's at least encapsulated within the realm of the lightbox library then.

[2022-01-31 16:39] #3989 closed, assigned to aschempp

[2022-01-31 16:39] #3959 closed, assigned to aschempp

[2022-02-01 06:42] aschempp commented on #3988
But then the author would not get an email at all, right? Begs the question whether we can remove just the link if she does not have access to the module?

[2022-02-01 07:18] ausi opened #4035 "Fix backwards compatibility for TL_LANG.LNG and TL_LANG.CNT"
### Affected version(s)

4.12

### Description

Additionally to #3716 we should also fix access to the `$GLOBALS['TL_LANG']['LNG']` and `$GLOBALS['TL_LANG']['CNT']` globals array after calling `System::loadLanguageFile('languages')` and `System::loadLanguageFile('countries')`

[2022-02-01 08:59] fritzmg commented on #3988
Currently `Comments::renderCommentForm` (which sends the admin/author notification) does not know about back end users. It only receives the email addresses to be notified. We could of course load the back end user again based on the email address though.

[2022-02-01 09:27] aschempp commented on #4035
Just found this in my code (simplified for readability), which we might need to fix as well:

[code]

[2022-02-01 09:30] leofeyer opened #4036 "Warn if there is no index page"
### Description

I still see a lot of websites out there which redirect the empty domain to a `start.html` subpage or similar. As we all know, this has a negative impact on the search engine ranking, therefore we might want to show a warning in the back end:

<img width="888" alt="" src="https://user-images.githubusercontent.com/1192057/151943640-02be341b-45d7-4067-9c77-120012ba90d5.png">

[2022-02-01 10:23] Total-Reality commented on #3999
I have described some use cases here:
https://github.com/contao/contao/issues/3999#issuecomment-1021298397

[2022-02-01 11:49] Total-Reality opened #4037 "Events/Calendar - Recurring event results in HTTP 500 error"
### Affected version(s)

4.9, 4.12

### Description

Hi,
there is a big performance problem when you set up a recurring event (one is enough) which has a repeat interval of 1 day with recurrences set to 0

I checked it out in the contao demo. It crashed.

1. Set the module settings of an eventlist - option "Number of events" to 0:
https://demo.contao.org/contao?do=themes&table=tl_module&act=edit&i

[2022-02-01 15:36] ausi opened #4038 "Use CsrfTokenManager::randomize() everywhere"
### Affected version(s)

4.12 (maybe 4.9 too)

### Description

In https://github.com/symfony/symfony/commit/8b01095933e5073688b9bde2842974f33cc88412 something was changed for generating the CSRF tokens. They get randomized now and have a different format.

We have to change https://github.com/contao/contao/blob/64952eea57830f86ff95928f3810b5e5aac6d169/core-bundle/src/EventListener/CsrfTokenCookie

[2022-02-01 15:50] tme55 opened #4039 "Colorpicker in BE overlaps Buttons"
### Affected version(s)

4.13.0-RC1

### Description

The buttons in the backend are flashing thru the  buildin-colorpicker (mooRainbow):

![grafik](https://user-images.githubusercontent.com/13655473/152000545-1330b9cf-4857-4c75-a371-e51735db4fbf.png)

how to reproduce:
add Customfield e.g. in tl_page
[code]

[2022-02-01 16:02] m-vo opened #4040 "Adding a "[" in back end select field will turn the label gray"
### Affected version(s)

4.9

### Description

When setting the options of a select with `'multiple' => true` to `[1 => '[ Foo']` the option label turns gray.

![image](https://user-images.githubusercontent.com/5305677/152003705-bc0e74fb-4623-4e6b-a75d-140197f763da.png)

Or more abstract: As soon as the string contains the `[` character, the label will be wrappend with

[code]

[2022-02-01 16:02] mwitzmann commented on #3989
Funktioniert nun bei mir!

[2022-02-01 16:03] mwitzmann commented on #3959
Funktioniert nun bei mir!

[2022-02-01 19:15] zonky2 opened #4041 "Parameter "_locale" for route "contao_frontend" must match "[a-z]{2}(?:\-[A-Z]{2})?" ("en_DE" given) to generate a corresponding URL."
### Affected version(s)

4.9.24

### Description

We have added support for localised languages such as de-AT to MetaModels. However, the routing throws an error because a locale is fixed with underscore see

https://github.com/contao/contao/blob/6af1e0f1a670b84d1c4d1d788695b63d279ed21e/core-bundle/src/EventListener/LocaleSubscriber.php#L104

although it should be hyphenated.

The specification in

[2022-02-01 20:50] ausi commented on #4035
@aschempp you probably meant `CNT.de` (lowercase country code), right?

https://github.com/contao/contao/blob/6af1e0f1a670b84d1c4d1d788695b63d279ed21e/core-bundle/src/Resources/contao/languages/de/countries.xlf#L228-L231

[2022-02-01 20:58] m-vo commented on #3584
See #4042

[2022-02-01 20:58] #3584 closed, assigned to ausi

[2022-02-01 21:17] ausi commented on #4035
Closed in favor of #4043

[2022-02-01 21:17] #4035 closed, assigned to ausi

[2022-02-01 22:50] ausi commented on #4038
Closed in favor of #4045

[2022-02-01 22:50] #4038 closed, assigned to ausi

[2022-02-02 06:13] aschempp commented on #4035
yes 🙈

[2022-02-02 06:23] aschempp commented on #4041
I fail to understand how these two things are related
 1. MetaModels does routing?
 2. `LocaleSubscriber` is unrelated to `Request::getLocale()`?

You might want to read up on https://github.com/contao/contao/issues/6358. A local ID is written with an underscore, and that's how Symfony works internally (e.g. the translator). You should always use the page language to generate a URL, so I don't kno

[2022-02-02 06:51] aschempp commented on #3999
Sorry I didn't mean use cases but a way for this to be used in plain Contao. If only and extension can generate a 410 error, then that extension can easily provide an option to generate such an error page (e.g. like any module by specifying a regular Contao page to be displayed).

[2022-02-02 08:45] bytehead commented on #4038
@ausi is there any way to check if 4.9 is affected?

[2022-02-02 09:00] ausi commented on #4038
Contao 4.9 schould not be affected as this was not changed in Symfony 4.4.

[2022-02-02 09:13] bytehead commented on #4038
Contao 4.9 can be installed with Symfony 5.* components afaik...

[2022-02-02 09:19] fritzmg commented on #4038
Indeed, in Contao 4.9 we are not specifically requiring `symfony/security-csrf`, only `symfony/security-bundle`. May be https://github.com/contao/contao/pull/3972 should be backported to 4.9?

[2022-02-02 09:21] fritzmg commented on #4038
`symfony/security-bundle` allows `symfony/security-csrf` in version 4.x _and_ 5.x.

[2022-02-02 10:09] rorych opened #4047 "Restore View can overflow"
### Affected version(s)

4.13.0-RC1

### Description

In the restore list-view of deleted items, if a large image has been deleted (1920+ px) the table overflows on the right side:
<img width="1560" alt="backend" src="https://user-images.githubusercontent.com/2022054/152133307-be45c813-6133-407b-991b-91669223ee6e.png">

Max-width on the image would solve the problem, not shure if this would make s

[2022-02-02 10:43] m-vo opened #4048 "Support \Attribute::METHOD for our DI attributes"
### Affected version(s)

4.13

### Description

It's possible to use attributes on methods as well. See https://github.com/symfony/symfony/pull/42039 which was merged in 5.4.

We should allow this as well for things like callbacks or hooks, currently only annotations work on a method level, but attributes don't.

[2022-02-02 12:18] Total-Reality commented on #3999
"Plain" Contao? You mean the Contao core? News and pages are in the core.

"then that extension can easily provide an option to generate such an error page"

It don't know if this is possible. I tried it out and it didn't work. I created a new page type error_410
https://www.fast-media.net/de/error-410-seite-entfernt/

However I was not able to declare one single page via htaccess as 410.

It stil

[2022-02-02 12:48] m-vo commented on #4048
see #4049

[2022-02-02 12:48] #4048 closed, assigned to m-vo

[2022-02-02 13:03] fritzmg opened #4050 "DCA table not created without keys definition"
### Affected version(s)

4.9+

### Description

If you create the following DCA:

[code]

`contao:migrate` will not create the table. It will only create the table if `config.sql.keys` is defined, for example:

[code]

However, if you want Contao to create an arbitrary table and you do not need any primary key or regular index, it should not be required to define one, should it?

[2022-02-02 13:05] bytehead commented on #4050
I've noticed this as well, but never had the time to fix it 🙈

[2022-02-02 14:09] discordier commented on #4041
The problem resides, as @zonky2 linked above, in the replacement of the `-` with `_`.
You are right that symfony wants this internally for the translator etc.
Contao however wants it separated with an `-` in the URLs.

The URL generator uses the `_locale` parameter to fill in when generating an URL without explicit locale parameter (using the default locale), which is eg. `de_DE`.
The route parame

[2022-02-02 14:21] fritzmg commented on #4041
I can reproduce the issue using @discordier 's reproduction steps.

I think we need to normalise the locale in [`UrlGenerator::prepareLocale`](https://github.com/contao/contao/blob/6af1e0f1a670b84d1c4d1d788695b63d279ed21e/core-bundle/src/Routing/UrlGenerator.php#L95-L103).

[2022-02-02 16:08] leofeyer commented on #4047
@bezin /cc

[2022-02-02 16:59] m-vo commented on #3853
Based on the vote and the reaction in the Sf issue I think this is a "won't fix" and we should just document it properly.

[2022-02-02 17:01] #3853 closed, assigned to m-vo

[2022-02-02 19:47] m-vo opened #4055 "Problematic order of optional constructor parameters in AsContentElement/AsFrontendModule"
### Affected version(s)

4.13

### Description

Our `AsContentElement` attribute currently looks like this:

https://github.com/contao/contao/blob/3691e1d7f9ee4eb35a9f5e05a3537dc633f94ffc/core-bundle/src/DependencyInjection/Attribute/AsContentElement.php#L23

Having the first non-optional parameter at the second place forces you to define at least two parameters (https://3v4l.org/Y7N4G#v8.1.2), bu

[2022-02-02 19:56] m-vo commented on #4055
I found a discussion about this very topic https://github.com/contao/contao/pull/3619#discussion_r747652799. But I don't agree with the outcome. :slightly_smiling_face:

[2022-02-02 21:10] aschempp commented on #4055
This is not a bug. As mentioned in the comment, this is intentional and makes sense to be consistent with annotations. Always use named parameters with (our) attributes.

[2022-02-02 21:12] m-vo commented on #4055
It does not work, though, even with named parameters unless you pass in at least two. So this is clearly a bug.

[2022-02-02 23:45] ameotoko commented on #3532
Seems like a typo; #4056 fixes it for me.

[2022-02-03 06:49] aschempp commented on #4055
What _does not work_?

[2022-02-03 07:27] m-vo commented on #4055
Did you read anything of what I wrote? You cannot construct the object with a single parameter, no matter if named or not.

[2022-02-03 08:37] m-vo commented on #4047
see #4057

[2022-02-03 08:37] #4047 closed, assigned to nobody

[2022-02-03 08:40] m-vo commented on #3532
see #4056

[2022-02-03 08:40] #3532 closed, assigned to aschempp

[2022-02-03 11:04] Seefahrer opened #4058 "You have requested a non-existent service "contao.monolog.logger.error"
### Affected version(s)

4.13.0-RC1

### Description

In a local MAMP 6.6.1 clone of my private site (https./www.luetten-dieks.eu) I get fllwg errorand the frontend is no longer reachable:

[2022-02-03 11:18] m-vo commented on #4058
Please enable the debug mode and post the full stack trace.

[2022-02-03 11:30] m-vo commented on #4055
Just so that we are on the same page:

![image](https://user-images.githubusercontent.com/5305677/152334742-174500fe-fe52-4443-ac98-34aede50d921.png)

=

![image](https://user-images.githubusercontent.com/5305677/152334778-b6e5801e-29b8-4bbd-a175-c0df72de8101.png)

[2022-02-03 11:47] fritzmg commented on #4055
I agree that this needs to be fixed. Only having to define the category and nothing else should be the minimum for the `AsContentElement` attribute, just as it is already the case with the `ContentElement` annotation.

[2022-02-03 11:56] Seefahrer commented on #4058
Not sure that the stack trace really helps ... starts with an EasyTheme related warning. The error disappears after downgrading to 4.12.5 and reappears after the next upgrade to 4.13.0-RC1.

Warning: Undefined global variable $TL_EASY_THEMES_MODULES

[code]

[2022-02-03 12:05] m-vo commented on #4058
Your second error appears to be unrelated to the one in your initial posting.

Well, yes, like you found out yourself it originates in `vendor/terminal42/contao-easy_themes/config/config.php` on L65. :slightly_smiling_face:  So at least this error should rather be posted over at the [terminal42 repository](https://github.com/terminal42/contao-easy_themes/issues).

Edit: In fact there is already an

[2022-02-03 12:11] ausi commented on #4055
Can this be fixed by making category optional like
`public function __construct(string $type = null, string $category = null, …`
and throw an `InvalidArgumentException` if `$category` is null?

Or use an actual default value like `string $category = 'texts'` instead?

[2022-02-03 12:16] Seefahrer commented on #4058
The main issue remains the one given in my initial posting. Obviously there is no stack trace for this error.
The Easytheme error does not result in the site becoming unreachable. The initially reported error does.

As mentioned above the monolog error disappears after a 4.12.5 downgrade and reappears after upgrading again to 4.13.

[2022-02-03 12:20] m-vo commented on #4055
public function __construct(string $type = null, string $category = null, …
and throw an InvalidArgumentException if $category is null?

Yes, this would work. https://3v4l.org/TArPo#v8.1.2

But we could IMHO also just change the order - especially, if you should use named arguments anyways.

[2022-02-03 12:22] ausi commented on #4055
As this parameter order was not released as stable yet, I agree we should change the order.

[2022-02-03 12:25] m-vo commented on #4058
But it's hard to find the root cause without a stack trace or any more information. If the easy themes error shadows the original error, please make sure to resolve this first (e.g. maybe by temporarily uninstalling easy themes).

[2022-02-03 12:30] m-vo commented on #4055
By the way, having optional parameters before mandatory ones is deprecated since PHP8.0: https://php.watch/versions/8.0/deprecate-required-param-after-optional

[2022-02-03 15:14] #3874 closed, assigned to nobody

[2022-02-03 15:20] ausi commented on #4029
I think this can be fixed in GLightbox by replacing the line in https://github.com/inspiredminds/contao-glightbox/blob/bea614852b47b64adbabc774ea3062c3aa33bb56/contao/templates/js_glightbox.html5#L13 with:

[code]

@fritzmg WDYT?

[2022-02-03 15:23] fritzmg commented on #4029
I don't think that would fix it, since then every element with an empty `data-lightbox` attribute will still receive a `data-gallery` attribute and thus be grouped together?

In any case, the discussion shouldn't be so much about the specific lightbox implementation but whether we should reinstate the original behaviour or not.

[2022-02-03 15:26] ausi commented on #4029
As it works with both lightboxes from the core I would prefer to keep it as it is now, that is:

- `<a href="" data-lightbox>` means “open in lightbox, no grouping”
- `<a href="" data-lightbox="abc">` means “open in lightbox” group all `abc`s together.

[2022-02-03 15:39] fritzmg commented on #4029
Another reason why I am bringing this up at all is because we discussed whether we want to remove or replace the current lightbox implementations that ship with the core, in particular we wanted to look for an alternative that does not require jQuery (see also https://github.com/contao/contao/issues/332). I created the `inspiredminds/contao-glightbox` extension to test how easy it is to use that l

[2022-02-03 15:45] Total-Reality opened #4062 "Contao 4.9 - Remove the Google web fonts field from the page layout"
### Description

Regarding this issue: https://github.com/contao/contao/pull/2431

From now on it is unlawful to continue using dynamically Google Fonts. Please remove this setting as far as you can also in Contao 4.9 LTS, not only in >= 4.11
It is dangerous if backend user fill in the field in the layout form.

I know that this is against the Contao update policy, but it is a very special situati

[2022-02-03 15:47] aschempp commented on #4062
It is unlawful in _some_ european countries. That does not mean it cannot be used worldwide, and we sure cannot remove it in a patch release. It has already been removed in Contao 4.11 (see https://github.com/contao/contao/pull/2431)

[2022-02-03 15:47] #4062 closed, assigned to nobody

[2022-02-03 16:24] #3433 closed, assigned to fritzmg

[2022-02-03 16:24] #3783 closed, assigned to nobody

[2022-02-03 16:24] #3856 closed, assigned to fritzmg

[2022-02-03 17:13] m-vo commented on #4055
see #4065

[2022-02-03 17:13] #4055 closed, assigned to nobody

[2022-02-03 23:14] ameotoko opened #4066 "Output of contao:install-web-dir is hardcoded"
### Affected version(s)

4.x

### Description

`contao:install-web-dir` does not report the actual path it has worked on, but a hardcoded value instead. It has been hardcoded in all the `4.x` branches, it was just renamed from `web` to `public` in #3084. Which is why I caught it – because I updated existing project that already uses `web`.

The command correctly detects `web` if it exists, or crea

[2022-02-04 08:40] Seefahrer commented on #4058
Even despite removal of nearly all installed extensions, the error was at least „non stack traceable“ ...
But nevertheless I could find out that the initially reported error was caused by some erroneous „pct revolution slider“ script/template/whatever ... So finally I could fix it myself.

As it is not Contao core related, the issue might be closed ...

[2022-02-04 12:15] fritzmg opened #4069 "High memory consumption with new nikic/php-parser implementation"
### Affected version(s)

4.9.25

### Description

The new PHP parser implementation based on `nikic/php-parser` that was recently backported to Contao 4.9.25 in https://github.com/contao/contao/pull/4031 causes a much higher memory consumption than the previous implementation based on `phpunit/token-stream`. This scales with the amount of DCA, config and PHP language files that have to be parsed.

[2022-02-04 19:17] Toflar commented on #4069
Can you test how https://github.com/contao/contao/pull/4072 affects your setup?

[2022-02-04 20:04] fritzmg commented on #4069
I tested the peak memory consumption during `cache:warmup --env=prod` in the Contao instance from the community forum thread:

| Version | Consumption |
| --- | ---:|
| Contao 4.9.24 | 72.05 MiB |
| Contao 4.9.25 | 140.40 MiB |
| #4072 | 79.67 MiB |

👍

[2022-02-04 21:54] #4069 closed, assigned to nobody

[2022-02-07 08:24] rorych commented on #3894
As asked in the Contao Slack Support-Channel, i have a case as well, where i try to get the template data for a PDF generation:

[code]

Since updateing to Contao 4.9.25 i am getting following error:

[code]

[2022-02-07 16:46] #3894 closed, assigned to nobody

[2022-02-08 13:19] bytehead opened #4086 "BC break with protected $Template property"
### Affected version(s)

4.9.26

### Description

The fix from #4075 has still a BC break in `PageRegular`:

<img width="1052" alt="Bildschirmfoto 2022-02-08 um 14 14 25" src="https://user-images.githubusercontent.com/754921/152994983-02cad099-654e-4b28-a42f-9d20d26766f4.png">

[2022-02-08 13:29] fritzmg commented on #4086
Yes, we still need to decide whether accessing ->Template of PageRegular publicly should be allowed or not. In the past it was allowed, but probably an oversight. However, even if it was not intentional, the current state is inconsistent. `Module` and `ContentElement` allow you to publicly access the `Template` property. `PageRegular` and `BackendMain` do not.

[2022-02-08 13:30] m-vo commented on #4086
Can we allow it in 4.13 and ultimately drop it everywhere in 5.0?

[2022-02-08 13:34] bytehead commented on #4086
Before 4.9.24 you could actually access `Template` in `PageRegular` therefore we cannot change this in 4.x IMO.

[2022-02-08 13:35] bytehead commented on #4086
Or how would you add some properties to the page template?

[2022-02-08 13:37] fritzmg commented on #4086
I would do it via the `parseTemplate` hook.

[2022-02-08 13:38] ausi commented on #4086
Can we make it a public member in Contao 4.9/4.13 and private in Contao 5.0?

[2022-02-08 14:06] leofeyer commented on #4086
Huh? I don‘t understand. I have merged [the original fix](https://github.com/contao/contao/pull/3725/commits/0b8f74d20d7c0be93478183f7e27fb891674a25f), so why is this breaking now?

[2022-02-08 14:11] bytehead commented on #4086
Then [this](https://github.com/contao/contao/pull/3725/commits/0b8f74d20d7c0be93478183f7e27fb891674a25f) was also a BC break then.

[2022-02-08 14:12] bytehead commented on #4086
Like discussed already: https://github.com/contao/contao/issues/3894#issuecomment-1006420275 😅

[2022-02-08 15:20] netzarbeiter opened #4087 "URL sufix has input on the new feature introduced in #3843"
### Affected version(s)

4.13.0-RC2

### Description

Example: The page "News" has the alias `news` and lists all available news items. The page "News-Reader" also has the alias `news` and the option "Require an item" plus shows the detail view of a news item.

If the URL suffix is set to ´/` opening news/foobar/ doesn't show detail view but a page not found.

https://github.com/contao/contao/pull

[2022-02-08 15:33] fritzmg commented on #4087
So does that mean you were able to create two distinct pages with the same alias (i.e. `news`)?

[2022-02-08 15:36] netzarbeiter commented on #4087
yes, and it is working with no URL suffix or `.html`

![Bildschirmfoto 2022-02-08 um 16 35 26](https://user-images.githubusercontent.com/1942550/153020793-e614c3b2-2a34-4709-9090-390f4a93afc5.png)

[2022-02-08 21:13] jochi44 opened #4089 "Systemwartung -> Vorschau-Cache leeren => Fehler in server error.log"
### Affected version(s)

4.13.0-RC2

### Description

Die Ausführung der Funktion Systemwartung -> Vorschau-Cache leeren führt zu folgendem Fehler im error.log des Servers:

`2022/02/08 22:03:24 [error] 11108#11108: *20787 FastCGI sent in stderr: "PHP message: PHP Warning:  scandir(/var/www/client/web/assets/previews/): failed to open dir: No such file or directory in /var/www/client/web/vendor/co

[2022-02-08 21:27] bytehead commented on #4089
This will likely be fixed by #4078.

[2022-02-09 07:09] aschempp opened #4090 "Adding type in maker-bundle is wrong"
Why don‘t we just make `$type` a required parameter, too?

[code]

The maker bundle will always set the type anyway:

https://github.com/contao/contao/blob/f577f1ebadebefd88eb44177ab4115a80fcad55a/maker-bundle/src/Resources/skeleton/content-element/ContentElement.tpl.php#L18-L20

_Originally posted by @leofeyer in https://github.com/contao/contao/issues/4065#issuecomment-1030807027_

[2022-02-09 07:11] aschempp commented on #4090
Setting the type is optional because it should be inferred from the class name (if possible).

[2022-02-09 07:18] aschempp commented on #4086
jup, it must be public. Or probably just not be set at all. I noticed that too while reading the PR 😂

[2022-02-09 07:19] aschempp commented on #4087
thats a new feature in Contao 4.13 😉

[2022-02-09 07:27] bytehead commented on #4086
I'm in for making it public, I doubt that people made the property protected or private by themself. But otherwise, why not leave it as it was and don't set it at all until 5.0? 🤷‍♂️

[2022-02-09 07:46] leofeyer commented on #4086
Creating dynamic properties is deprecated as of PHP 8.2, which is why this issue came up in the first place.

https://github.com/contao/contao/runs/4498623325?check_suite_focus=true

[2022-02-09 07:47] bytehead commented on #4086
True, I've already missed that again. So making it public would be the only (futureproof) way.

[2022-02-09 08:06] aschempp commented on #4086
How about adding a `__get()` method that return the template object? This would work in any case. If a developer did make it `public` in a child class that property would be accessed, and in any other case our `__get()` method would be called?

[2022-02-09 09:24] fritzmg commented on #4086
You mean: leave everything as it was before (i.e. reverting #4075 again 🙈) and only implement `__get` for `Template` for `PageRegular`? (May be also `BackendMain`)

[2022-02-09 09:29] fritzmg commented on #4086
There is another issue. We cannot revert #4075 because there are actually extensions who directly access `$this->arrData['Template']`: https://github.com/DERHAEUPTLING/contao-lazy-images/blob/9edd71b3e8d632ad2ad66329c519a8b3a9e0686a/elements/LazyContentImage.php#L26

[2022-02-09 10:46] TS16V opened #4092 "Probleme in Contao 4.12.6 mit Systemwartung Crawler Suchindex aktualisieren"
### Affected version(s)

4.12.6

### Description

Hi,

habe das Problem, daß der Suchindex nicht aufgebaut wird.
Siehe Problembeschreibung hier:

(https://community.contao.org/de/showthread.php?82449-Nach-Update-4-12-6-h%C3%A4ngt-Suchindex-aktualisieren&p=554558&viewfull=1#post554558)

Kann es sich um ein BUG handeln?

[2022-02-09 10:55] m-vo commented on #4086
If we cannot guarantee BC otherwise, we could add `#[AllowDynamicProperties]` in this special case I think.

[2022-02-09 15:33] aschempp commented on #4058
I just had this same error in a content element fragment that included an image, because the image was missing. As soon as I added the image, the error was gone (obviously).

[code]

[2022-02-09 16:52] SeverinGloeckle commented on #4058
The service name `contao.monolog.logger.error` is wrong – it has to be `monolog.logger.contao.error`. The same typo exists in `Image.php(892)`.

I will provide a fix.

[2022-02-09 17:30] mlwebworker commented on #4089
Ich kann den Fehler bestätigen.
Contao 4.13 RC2
XAMPP mit PHP 7.4.27
Windows 10

Falls es noch wichtig bzw. von Interesse ist hier der Stack Trace
`ErrorException:
Warning: scandir(F:\public_html\test/assets/previews/): Das System kann die angegebene Datei nicht finden. (code: 2)

  at F:\public_html\test\vendor\contao\core-bundle\src\Resources\contao\library\Contao\Folder.php:588
  at Contao\Fold

[2022-02-09 17:35] leofeyer commented on #4089
@ausi Should we add `assets/previews` here?

https://github.com/contao/contao/blob/99a73db0e70731dda59f74d471cb0bf8e3f82e10/core-bundle/src/Command/InstallCommand.php#L82-L94

[2022-02-09 20:52] ausi commented on #4089
No, not necessary IMO

[2022-02-10 07:45] aschempp commented on #4058
see https://github.com/contao/contao/pull/4095

[2022-02-10 07:45] #4058 closed, assigned to nobody

[2022-02-10 11:13] Defcon0 opened #4097 "MessageCatalogue::isContaoDomain() leads to issues"
### Affected version(s)

4.13

### Description

The current implementation of

https://github.com/contao/contao/blob/376f630438f39b9d22737bb7c7c36b74a83e336f/core-bundle/src/Translation/MessageCatalogue.php#L146

in 4.13 leads to:

`Argument 1 passed to Contao\CoreBundle\Translation\MessageCatalogue::isContaoDomain() must be of the type string, null given`

if called like

[code]

A fix would be:

[2022-02-10 11:42] ausi commented on #4097
Or something like this:

[code]

☺️

[2022-02-10 14:10] leofeyer commented on #4086
As discussed in the Contao call, we do want to add `#[AllowDynamicProperties]`.

[2022-02-10 14:59] leofeyer commented on #4029
As discussed in the Contao call, we want to keep this as outlined by @ausi in https://github.com/contao/contao/issues/4029#issuecomment-1029104764.

[2022-02-10 14:59] #4029 closed, assigned to nobody

[2022-02-10 15:32] contaoacademy opened #4100 "Preview links should auto-update "Valid until""
### Affected version(s)

4.13-RC2

### Description

When I create a new link and change the days for the expiration in the select field, the `valid until field` is not updated dynamically. It only would be updated, when I click on "save".

Is this how it should be?
Can this be made more user-friendly?
![screen-20220210_i6tUE6zn](https://user-images.githubusercontent.com/23719181/153440670-281539a5

[2022-02-10 15:38] contaoacademy opened #4101 "Preview links - Add hint for new entries"
### Affected version(s)

4.13-RC2

### Description

Would it be possible to add a small hint that new links could be created via the front preview? From the user's point of view, I'm missing the "New" button here.

Similar to Template hints
![screen-20220210_J7d0D3Xk](https://user-images.githubusercontent.com/23719181/153441902-317a66d5-87ee-4691-8a4f-a6fe0623119f.png)

[2022-02-10 15:44] contaoacademy opened #4102 "Preview links cannot be copied to the clipboard"
### Affected version(s)

4.13-RC2

### Description

When I click on the icon to copy the preview link to the clipboard, it does not work.
The following JavaScript error appears in the console

`Uncaught TypeError: navigator.clipboard is undefined
    onclick http://cto413.local/contao?do=preview_link&ref=6e93ujZE:1
[contao:1:1](http://cto413.local/contao?do=preview_link&ref=6e93ujZE)
    onclick h

[2022-02-10 15:46] Toflar commented on #4102
Browser info, please :)

[2022-02-10 15:51] contaoacademy commented on #4102
- Firefox: 97.0 (64-Bit)
- Brave: Chromium: 98.0.4758.87

[2022-02-10 15:53] ausi commented on #3967
As discussed in the Contao call, our first draft for naming conventions for the new template system:

* `content_element/_block_searchable.html.twig` partial template
* `content_element/_block_unsearchable.html.twig` partial template
* `content_element/_somesing/foo.html.twig` partial template
* `content_element/text.html.twig` main template für ce_text
* `content_element/text.json.twig` main temp

[2022-02-10 15:57] leofeyer commented on #3980
New Doctrine versions have been released meanwhile.

[2022-02-10 15:57] #3980 closed, assigned to nobody

[2022-02-10 15:59] leofeyer commented on #3974
As discussed in the Contao call, we want to replace the "save and close" button with an "save and copy to clipboard" button.

[2022-02-10 15:59] leofeyer commented on #4102
Duplicate of #4007

[2022-02-10 15:59] #4102 closed, assigned to nobody

[2022-02-10 16:01] ausi commented on #4100
We should use `submitOnChange` for the dropdown I think ☺️

[2022-02-10 16:13] ausi commented on #4086
And use a protected property in Contao 5.0 and remove `#[AllowDynamicProperties]` then.

[2022-02-10 16:28] aschempp commented on #4087
duplicate of https://github.com/contao/contao/issues/3531 😬

[2022-02-10 16:40] #4036 closed, assigned to nobody

[2022-02-10 17:01] Ainschy opened #4104 "Index Seite ohne URL-Präfix mit Sprach-Definition ist nicht erreichbar"
### Affected version(s)

4.13.0 RC-2

### Description

zwei Seitenbäume gleiche Domain:
Beide Startseiten haben `index` als Alias eingetragen.

1. Startpunkt URL-Präfix: EN; Sprache EN, Sprachen-Fallback
2. Startpunkt ohne URL-Präfix; Sprache NL

Die Startseite der 2. Seite `/index` lässt sich nicht aufrufen. Eine Umleitung `302` erfolgt auf `/en/index`. Weder im Preview noch mit einem Browser ohn

[2022-02-10 17:03] aschempp commented on #3531
This is unrelated, the news detail page in the demo has an archive module that renders the reader, which means it requires/allows to not have an item in the URL. The error is caused by the `News - News archive menu` module which has the detail page set as target page.

[2022-02-10 17:17] aschempp commented on #3531
see https://github.com/contao/contao/pull/4105 and https://github.com/contao/contao/pull/4106 for the fixes in Contao 4.9 and 4.12

[2022-02-10 17:17] #3531 closed, assigned to aschempp

[2022-02-10 17:17] aschempp commented on #4087
https://github.com/contao/contao/pull/4106 should fix this

[2022-02-10 18:32] Ainschy opened #4107 "Can't delete templates in template folder over backend"
### Affected version(s)

4.13.0-rc2 - 5b1afe8

### Description

Beim Versuch ein Template aus dem Template-Order über das Backend zu löschen tritt dieser Fehler auf.

[code]

[2022-02-10 18:54] contaoacademy commented on #4107
Kann ich bestätigen.

[2022-02-10 19:22] ausi commented on #4107
Duplicate of  #4098 ?

[2022-02-10 19:53] Ainschy commented on #4107
Oh before I created the report I looked in the open tickets and did another update. Looks like the same issue in #4098

[2022-02-11 07:44] netzarbeiter commented on #4087
I have added the fix in **Contao 4.13.0-rc2**.

Replaced the following **line 69** `vendor/contao/core-bundle/src/Routing/Page/PageRegistry.php`:

`$requirements['parameters'] = $pageModel->requireItem ? '/.+' : '(/.+?)?';`

by

`$requirements['parameters'] = $pageModel->requireItem ? '/.+?' : '(/.+?)?';`

And cleared the cache:

[code]

Now I get a "Page not found" with all suffixes ".html", "/"

[2022-02-11 09:27] michb opened #4108 "Create ContentElement or ModuleElement from "faked" model"
### Affected version(s)

4.9.12

### Description

Sometimes we need or use the capability to render "fake" Content Elements / Frontend Modules.

For example our custom element / module will reuse the `ContentText` and `ContentDownloads` element to combine it into something new. This way we can also make use of the existing stylings and be more update safe.

For a "fake" Content Element we will cre

[2022-02-11 09:36] m-vo commented on #4108
Maybe you could use `Controller::getContentElement($contentElementModel)` instead?

For refrence, this is another use case that would benefit from something like https://github.com/contao/contao/pull/3942 in the future.

[2022-02-11 10:18] bennyborn commented on #4108
While this looked promising at a first glance it fails exactly in the same way (`Could not resolve argument $model of "contao....`) when using non-legacy elements :\

[2022-02-11 11:10] contaoacademy opened #4109 "Preview links - Users could see all unpublished content"
### Affected version(s)

4.13-RC2

### Description

When I get a preview link, I can also see other "unpublished" pages and content.

1. create news
2. create preview link
3. logout backend
4. click preview link
5. change to news archive page and all unpublished news will be displayed
6. unpublished pages are also displayed in the menu.

See this short video:
https://www.loom.com/share/4c7e8956d1c

[2022-02-11 11:12] #4107 closed, assigned to nobody

[2022-02-11 11:21] fritzmg commented on #4109
That's intended, the preview link currently allows anyone with the link to access the front end preview with the given settings. It is not restricted to a specific URL in any way.

[2022-02-11 11:22] leofeyer commented on #4109
So it does not actually matter which site I create the link on? The recipient will see all unpublished elements on all sites? @aschempp /cc

[2022-02-11 11:27] leofeyer commented on #4087
I have tried to reproduce but it works on my system. Both pages have the alias `news` and the URL suffix is set to `/`. Did you clear the cache after adjusting the file?

[2022-02-11 12:37] leofeyer opened #4110 "Fix the ondelete_callback"
### Affected version(s)

4.*

### Description

The `ondelete_callback` passes `$this, $undoId` in DC_Table and `$source, $this` in DC_Folder. Since we usually pass the DC object as last argument, I‘d vote for adjusting the callback in DC_Table in Contao 5.

@contao/developers WDYT?

[2022-02-11 12:42] fritzmg commented on #4110
There are more candidates:

* `config.onload`
* `config.onsubmit`
* `list.label.label`
* `fields.<FIELD>.load`
* `fields.<FIELD>.save`

If we want to clean this up, I'd prefer introducing events instead, so that it's easier to work with (for both the dispatcher and the subscriber).

[2022-02-11 12:50] m-vo commented on #4110
I assume it would otherwise be hard to support both 4.13 and 5 in an extension. 👍

But very +1 for cleaning this up!

[2022-02-11 14:12] m-vo opened #4111 "Do not add dot files in the DBAFS"
These are the options we are using now:

https://github.com/contao/contao/blob/be0d1bbff682506f0f9ed9d71425fc91c45c5cea/core-bundle/src/Resources/contao/library/Contao/Dbafs.php#L129

We should not change the behavior IMHO.

_Originally posted by @leofeyer in https://github.com/contao/contao/issues/3990#issuecomment-1036250904_

[2022-02-11 14:13] m-vo commented on #4111
Before I implement this, what's the intention to skip dot files?

[2022-02-11 14:20] ausi commented on #4111
macOS automatically creates the DS store files, so these should definitely be ignored.

maybe there is also a historical reason because protected folders used .htaccess

And we use .public ourself now…

[2022-02-11 14:20] leofeyer commented on #4111
Why can we not discuss this in the original PR? 😕

[2022-02-11 14:22] m-vo commented on #4111
Because this doesn't have anything to do with #3990 but with the DBAFS service in general. If the old implementation and the new one behave differently, this is an issue no matter if #3990 is merged or not. Currently the back end and cli version would differ in that regard.

[2022-02-11 14:24] leofeyer commented on #4111
They should definitely behave the same. And the output should be the same in Contao 4.12 and Contao 4.13, otherwise it‘s a behavior change and the PR would have to be assigned to the next major version.

[2022-02-11 14:29] m-vo commented on #4111
You realize, that the already merged changes from #3774 affect the CLI? It's just a bug independent of #3990.

[2022-02-11 14:31] ausi commented on #4111
Can/should we make it a configurable regex that defaults to `^\.` in 4.13 and that we change to something like `^\.(DS_Store|public|nosync)` in 5.0 ?

[2022-02-11 14:34] m-vo commented on #4111
I think I'd ignore all files for now and maybe add that feature in Contao 5 if needed.

[2022-02-11 14:36] m-vo commented on #4111
see #4112

[2022-02-11 14:36] #4111 closed, assigned to m-vo

[2022-02-11 17:14] #4089 closed, assigned to nobody

[2022-02-11 17:23] #4090 closed, assigned to nobody

[2022-02-11 18:42] zonky2 commented on #4041
https://github.com/contao/contao/pull/4119

[2022-02-12 07:48] MDevster commented on #2491
@leofeyer should the icon link to support section (https://to.contao.org/support => https://contao.org/de/support.html) or direct to manual (https://to.contao.org/manual => https://docs.contao.org/manual/)?

[2022-02-12 09:46] m-vo commented on #3805
see #4121

[2022-02-12 09:46] #3805 closed, assigned to nobody

[2022-02-12 10:47] netzarbeiter opened #4122 "Improvement for #3848"
### Description

With this great new feature, on the one hand imagick is needed on the server and the formats are given by the underlying imagemagick.

I wrote with @ausi  and we had the idea that it would be nice if the supported file formats would be outputed in the backend e.g. at Source > Source file/Source files.

Displaying of preview images is supported by the following formats: PDF, EPS, P

[2022-02-12 11:13] #4041 closed, assigned to nobody

[2022-02-12 11:14] leofeyer commented on #2491
Directly to the manual I think.

[2022-02-12 14:16] MDevster commented on #2491
I would take this

[2022-02-12 18:16] aschempp commented on #2491
see https://github.com/contao/contao/pull/4123

[2022-02-12 18:16] #2491 closed, assigned to nobody

[2022-02-12 18:24] fritzmg commented on #4122
imho we should add this info to the "Contao" panel in the Symfony Profiler. In addition we could add:

* supported image formats
* image processing library currently in use

[2022-02-14 06:09] netzarbeiter commented on #4122
I think this data should not only be available for administrators but also for editors. Therefore I would not hide the formats and image processing library in the symfony profiler.

[2022-02-14 07:27] aschempp commented on #2895
Just to write down my thoughts, we must not extend `$backendUser->hasAccess` but improve our voter to change the behaviour. We could actually already have done that in 4.x imho since the voter can add new behaviour 🙈

[2022-02-14 07:55] zoglo opened #4125 "generateRecordLabel returns an array instead of string when deleting a DC_Table"
### Affected version(s)

4.13 RC3

### Description

Hello,

we've got following issue with one of our plugins when deleting an entry in a DC_Table:

[code]

Contao Version: 4.13 RC3
PHP Version: 8.0.3

Stacktrace:
[code]

The affected DCA:

[https://github.com/oveleon/contao-component-style-manager/blob/2aaec7be9aaafce5b9e[…]fe83505c79213f2c4/src/Resources/contao/dca/tl_style_manager.php](https://

[2022-02-14 08:32] aschempp commented on #4108
I don't think we can/should fix this in 4.9. It _can_ be solved with (some of) the changes in https://github.com/contao/contao/pull/3982/files#diff-6ad309fd46908d6dddb34a424b8ad010d57384cb33b6311e8d40a9f5dbc11b50L28, since they no longer result in the model being fetched from the database. I think we should discuss pros and cons for that in a future call.

[2022-02-14 08:37] bennyborn commented on #4108
With the new LTS coming up I don't think it is critical to fix this in 4.9 but it should surely be fixed during the lifetime of 4.13.

[2022-02-14 09:42] contaoacademy opened #4127 "canonical url cannot be saved directly with a new page"
### Affected version(s)

4.13-RC3

### Description

When I create a new page and directly pick a custom canonical URL, then it comes to an error message.
I first have to save the new page, and then I could add the canonical URL.

1. create new page
2. canonical URL > Custom URL > Select page
3. Save
4. Error

`Cannot load record "tl_page.id=72".`

[code]

[2022-02-14 09:52] fritzmg commented on #4127
The picker probably executed `reviseTable` and thus the original record got lost. Didn't we fix this already? 🤔

[2022-02-14 10:23] contaoacademy opened #4128 "Extend backend breadcrumb"
### Description

With Contao 4.13 the backend breadcrumb was optimized.
see: #3727

This currently only works with content-elements under «Content > Articles».
Can the concept be implemented universally for Contao so that this can also be used under other areas such as layout, forms, etc.

Possibly, this makes no sense at all?
Understand this ticket as an idea. If this is crap, please feel free to

[2022-02-14 12:19] aschempp commented on #4125
Pretty sure the return value definition is incorrect. If the table is displayed in a column view, an array as return value is valid/expected.

[2022-02-14 13:00] bezin commented on #4125
Yes, the return value is all right, it simply was not handled correctly. It is now, see #4126

[2022-02-14 13:21] fritzmg commented on #4125
No, the issue is in the extension (see https://github.com/oveleon/contao-component-style-manager/pull/60). However, `DC_Table::listView` is lenient to this, that's why it worked in the past (see https://github.com/contao/contao/pull/4126#pullrequestreview-881286439). In any case the `ondelete` listener should not check the DCA configuration anyway. It should just return whatever was provided by `D

[2022-02-14 13:41] aschempp commented on #4109
yes, that's how our frontend preview works. And I don't think this matters, as you should only send these frontend preview links to a "known" person that is supposed to see something that has not been published yet.

[2022-02-14 13:41] #4109 closed, assigned to aschempp

[2022-02-14 13:50] contaoacademy opened #4129 "contao:backup:restore - There is no active transaction"
### Affected version(s)

4.13-RC3

### Description

When I try to restore a backup with the new `contao:backup:restore` command, I get the following error message:

[code]

- Environment: MAMP Pro 6.6.1
- PHP 8.0.8
- mysql  Ver 14.14 Distrib 5.7.34, for osx10.12 (x86_64)

[2022-02-14 13:54] contaoacademy commented on #4109
Ok, got it. I was hoping there was some kind of solution 😉

[2022-02-14 13:58] fritzmg commented on #4129
Please use `-vvv` and post the stack trace. I cannot reproduce locally.

[2022-02-14 14:05] fritzmg commented on #4109
The current solution provides access to the front end preview for non-Contao back end users. Your request would be a [new feature](https://github.com/contao/contao/issues/new?assignees=&labels=feature&template=2_Feature_request.yml) for Contao 5.

[2022-02-14 14:08] contaoacademy commented on #4129
[code]

[2022-02-14 14:13] contaoacademy opened #4130 "Restrict preview links to single page"
### Description

There should be a possibility that the preview links are valid only for the page for which they were generated.
All other "unpublished" pages should remain invisible.

However, this use case is very rare for me. If there is no real need for the function, the ticket can also be closed.

see #4109

[2022-02-14 14:16] contaoacademy commented on #4129
The problem must be related to my local machine. I just tested it on a remote server, there is no error message.

[2022-02-14 14:29] bennyborn opened #4131 "Installation of 4.13.0-RC3 not possible?"
### Affected version(s)

4.13.0-RC3

### Description

We've upgraded our local test installation from 4.12 to 4.13.0-RC3 without any problems but currently it seems to be impossible to install 4.13 from scratch using `composer create-project contao/managed-edition . 4.13.x-dev`.

Composer is doing his job so far but trying to use the `contao-console` or the Install-Tool fails because there is no w

[2022-02-14 14:32] fritzmg commented on #4131
What exactly is the problem?

[2022-02-14 14:36] bennyborn commented on #4131
Created the project using `composer create-project contao/managed-edition . 4.13.x-dev`, went through without errors. Tried to open `/contao/install` and failed with the following log entry

[code]

Also trying to use the `contao-console` command

[code]

It seems running the post install command again now fixed it but shouldn't this have already worked in the first place?

[2022-02-14 14:46] fritzmg commented on #4131
I cannot reproduce locally. Put `APP_ENV=dev` in your `.env`/`.env.local`, reproduce again and then post the stack trace.

[2022-02-14 14:47] Defcon0 opened #4132 "Default localizations aren't loaded in dca tl_* files"
### Affected version(s)

4.13

### Description

Hello,

in

https://github.com/heimrichhannot/contao-formhybrid/blob/master/dca/tl_module.php#L700

we call another module to add some fields. The function used is this one:

https://github.com/heimrichhannot/contao-privacy-bundle/blob/master/src/Manager/ProtocolManager.php#L437

Unfortunately, the localizations in `$GLOBALS['TL_LANG']['MSC']` are ne

[2022-02-14 14:48] fritzmg commented on #4130
That won't really be feasible to implement I think. However the preview could may be be restricted to a single URL (via the session). Any other URL would then respond with 403.

[2022-02-14 14:50] fritzmg commented on #4132
That's normal. If you want the translations to be there, you would have to call `System::loadLanguageFile('default')` yourself. However, from your examples I am unable to see why you need that in the first place.

[2022-02-14 14:53] Defcon0 commented on #4132
??? Since now, we *never* needed to load default localizations at this point. Point is to have a fallback localization.

Also: if I load that manually, it's cached and when the function is called again, we don't have the full array of localizations.

[2022-02-14 15:56] fritzmg commented on #4132
Why?

[2022-02-14 15:57] leofeyer commented on #4130
I‘m not very happy with the current solution, either. If a preview link is valid for all pages, why can we generate preview links for specific subpages then? A link to the home page would suffice.

We should either limit the preview links or adjust the way preview links are generated.

[2022-02-14 16:00] leofeyer commented on #4128
I don‘t think that the feature is limited to the article view. I can also click the links in the news module for instance.

[2022-02-14 16:01] Defcon0 commented on #4132
We had the same discussion internally :-) In fact I can't reproduce it, but I indeed have had this issue that, if I call the method twice, I get different results. If it's safe to call it there, we can do it. Although I can't tell from the code of `loadLanguageFile` out of the box.

But shouldn't the localizations of the `default.php` files be loaded automatically anyways?

[2022-02-14 16:19] fritzmg commented on #4130
No, that would not be sufficient. You want to share a specific URL to whoever is concerned.

[2022-02-14 16:37] contaoacademy commented on #4128
**Working:**
- Articles
- News
- Events

[2022-02-15 07:25] aschempp commented on #4130
Most of my pages are not public visible, even if preview is enabled. I might send my client a link to an upcoming news, having a link to the homepage certainly is not useful. With the current preview link, the client can instantly see the unpublished news and "approve". Yes she could also navigate and see other content, but I don't see a problem in that, it always depends on what I tell my client.

[2022-02-15 07:28] aschempp commented on #4132
first of all, I would think to remember the `default` language file is always loaded by the system? It might be different for other files, but `default` should be?

Secondly, @Defcon0 you should most certainly use the `loadDataContainer` hook instead of manipulating that stuff directly in the DCA file. It will give you Dependency Injection, the translator (that loads language files for you!) and e

[2022-02-15 07:31] aschempp commented on #4125
Closed in favour of https://github.com/contao/contao/pull/4126 I would say then 😊

[2022-02-15 07:31] #4125 closed, assigned to nobody

[2022-02-15 07:32] Defcon0 commented on #4132
@aschempp We're using the loadDataContainer in most cases already, but in this particular case, I tried just that without success. Fixing the array index warnings for php 8 pointed me in the direction.

[2022-02-15 09:07] Defcon0 commented on #4132
Might be important: it mostly occurs when doing a cache rebuild after a composer install.

Ah, this might be the difference. When changing the function to the following, it works again:

[code]

[2022-02-15 09:17] ausi commented on #4132
`$data['label']` is a reference to `$GLOBALS['TL_LANG']['MSC']['huhPrivacy']['addPrivacyProtocolEntry']`, so in the line `$data['label'] = $label;` you are modifying the value of `$GLOBALS['TL_LANG']`.

You should probably use something like `unset($data['label']); $data['label'] = $label;` instead.

[2022-02-15 09:20] Defcon0 commented on #4132
Ah, I see. Thanks for clearification.

[2022-02-15 11:02] ausi commented on #4130
I would also have assumed that the preview link is only valid for that single page. Although a checkbox for allowing to navigate all pages might be a useful feature.

[2022-02-15 16:02] zoglo opened #4137 "Root page dependent modules | add information about the root page after modules have been selected (#3613)"
### Description

**Feature Request for Contao 4.13**

It would be a nice feature if the root page dependent modules would show the root page behind the selected module:

#### Example
![image](https://user-images.githubusercontent.com/55794780/154100073-ab5df375-8245-413f-a378-1be9d138d2e1.png)

[2022-02-15 16:12] Ainschy opened #4138 "Backend Unable to list contents from 'files'."
### Affected version(s)

4.13.0-RC-3

### Description

Der Aufruf der Syncronisation in der Dateiverwaltung führt in der aktuellen Contao Version 4.13.0-rc-3 zu diesem Fehler.
[code]

[2022-02-15 16:22] m-vo commented on #4138
Do you maybe use symlinks inside the file directory? We should probably configure the local filesystem adapter to skip those…

[2022-02-15 16:24] fritzmg commented on #4138
Shouldn't it just handle them like regular files/folders?

[2022-02-15 16:25] m-vo commented on #4138
No, that's not supported because Flysystem uses relative paths. Compare to this old issue: https://github.com/thephpleague/flysystem/issues/599

[2022-02-15 16:34] Ainschy commented on #4138
yes, there is a symlinked folder from erdmannfreunde/euf_nutshell

[2022-02-15 17:54] bytehead commented on #4137
Closed in favor of #4139.

[2022-02-15 17:54] #4137 closed, assigned to bytehead

[2022-02-15 17:58] m-vo commented on #4138
We could either add a compiler pass that reads the filesystem once and mounts an adapter wherever a symlink was encountered or revert the changes to the two syncs and introduce a break in Contao 5.

[2022-02-15 23:31] m-vo commented on #4138
see #4141

[2022-02-16 01:58] Total-Reality opened #4142 "Linking to a page with requireItem results in PHP Exception"
### Affected version(s)

4.12, 4.13

### Description

If you link to a page with the activated option "requireItem" this will result in an error.

You can reproduce it in the demo. Just link it via insert tag / picker in a tinyMCE window or set a internal redirect to the news detail page.

For example set this page to page type "internal redirect" and choose the news detail page.
https://demo.cont

[2022-02-16 07:00] aschempp commented on #4142
This is not a bug. You cannot link to that page, because it requires a parameter in the URL. Same applies to any other page with a required parameter.

If you have an idea how we could improve the user experience, please let me know 😊

[2022-02-16 09:06] ausi commented on #4142
I think we should wrap the link insert tag in a try-catch block, as users usually don’t expect insert tags to break the whole page.

Also, would it be possible disable the selection of these pages in the picker?

[2022-02-16 09:22] ausi commented on #4129
This seems to be a problem in doctrine/dbal `Connection::setAutoCommit(true)` https://github.com/doctrine/dbal/blob/35eae239ef515d55ebb24e9d4715cad09a4f58ed/src/Connection.php#L499-L516 @contaoacademy which version of `doctrine/dbal` is installed in your project?

[2022-02-16 09:29] ausi commented on #4127
Maybe related to #3597 ?

[2022-02-16 09:33] netzarbeiter commented on #4129
[code]

[2022-02-16 10:00] #4138 closed, assigned to nobody

[2022-02-16 10:07] contaoacademy commented on #4129
[code]

[2022-02-16 10:15] leofeyer commented on #2316
Fixed in #4120.

[2022-02-16 10:15] #2316 closed, assigned to nobody

[2022-02-16 11:05] Total-Reality commented on #4142
The problem is that you can add the _requireItem_ option of the linked page later.

Unless you check when saving the requireitem option if the current page is linked. But I think that's too cumbersome and unperformant.

However it is possible to link to that page. It can't be that an editor can crash the whole page with this action!
It is an unexpected event. A bug is an unexpected event or a resu

[2022-02-16 11:09] ausi commented on #4129
We were able to reproduce the issue with this small script:

[code]

Result:

[code]

It could have something to do with MySQL not supporting transactions for DDL statements.

[2022-02-16 11:15] contaoacademy commented on #4129
Hab noch was rausgefunden
Mit PHP 7.4 geht es. Sobald ich wieder auf PHP 8 gehe, kommt das Problem.

Habe noch das dazu gefunden:
https://github.com/doctrine/migrations/blob/3.2.x/docs/en/explanation/implicit-commits.rst

[2022-02-16 11:18] ausi commented on #4129
Similar issue https://github.com/yiisoft/yii2/issues/18406

[2022-02-16 11:45] #4129 closed, assigned to nobody

[2022-02-17 08:47] bennyborn commented on #4131
Trying this now I can't get the Installtool to fail like before.
This always seems to work now for me.  🤔

But it seems I still can't use the contao-console without completing the installation first.

Doing a `vendor/bin/contao-console list` is still giving me the same errors but surely this should work without any database connection?

[code]

[2022-02-17 08:48] leofeyer opened #4147 "Improve the "copy to clipboard" feature"
### Description

As discussed in #4133, we need a visual confirmation if someone copies a preview link to their clipboard. The confirmation must not be permanent and must not require to be closed manually. It could be either a flash message or an inline confirmation.

![](https://user-images.githubusercontent.com/1192057/154438692-4085e6e2-bc65-4dd1-ab81-4217cf36162a.png)

While we are on this, we

[2022-02-17 08:57] bennyborn opened #4148 "Improve sorting in System-Log"
### Description

By default the System-Log is sorted and grouped by `tstamp`. This is all fine for the usual workflow when using Contao.

In a couple of our projects we've implemented imports (or other routines) which do some logging into the System-Log and might result in 10 or 20 concurrent entries within the same second. Being sorted by `tstamp` rather than `id` this significantly messes with t

[2022-02-17 09:06] Toflar commented on #4131
Where is the connection initiated?

[2022-02-17 09:08] bennyborn commented on #4131
I don't know but judging by the exception something seems to try to open a database connection, right?

[2022-02-17 09:09] Toflar commented on #4131
I guess so, that's why I'm asking where it's happening :)

[2022-02-17 09:11] fritzmg commented on #4131
@bennyborn you need to add `-vvv` in order to be able to provide a stack trace.

[2022-02-17 09:14] bennyborn commented on #4131
You told me to create the .env file, which I did ;)
Nonetheless here is [the stack trace](https://github.com/contao/contao/files/8087204/trace.txt).

[2022-02-17 09:17] fritzmg commented on #4148
Try:

[code]

[2022-02-17 09:22] fritzmg commented on #4131
That was for the error in the Install Tool. For commands you can use `-vvv` to get a stack trace.

Hm, it's because of the `contao.cron` service, which needs the `contao.repository.cron_job` repository, which in turn seems to require a database connection down the line. However, I still cannot reproduce this locally 🤔

[2022-02-17 09:28] bennyborn commented on #4131
That's strange. Did you really try just doing a fresh install using `composer create-project contao/managed-edition . 4.13.x-dev` and then `vendor/bin/contao-console list` directly afterwards?

Because I just tried it on a second, completely different machine and the behaviour is exactly the same.

[2022-02-17 09:30] leonexcc commented on #4131
I can reproduce this. It es the detection mechanism for the server version in doctine

[2022-02-17 09:32] bennyborn commented on #4148
That seems to work nicely 👍 Anything against adding this to the Core?

[2022-02-17 09:41] ausi commented on #4131
I think we have to change this here https://github.com/contao/contao/blob/ab4f74cc7627a5cb395897bafa284e481e901d33/core-bundle/src/Resources/config/commands.yml#L44 the same way as we did in https://github.com/contao/contao/commit/2a19b186afd59495e9fbd5174d0deb40543c5079#diff-2a0d76195d45f9f9b0486317e8d4a43845ef063101fa6ea0b3bbe3ef241e71a0L89

[2022-02-17 09:55] fritzmg commented on #4148
I have nothing against it, you could provide a PR for this minimal change :)

[2022-02-17 10:06] ausi commented on #4131
I was able to reproduce the issue with `vendor/bin/contao-console list`, but I was not able to reproduce an error in the install tool.

@bennyborn can you post the stack trace from the error that happens on `/contao/install`?

[2022-02-17 10:08] bennyborn commented on #4131
@ausi unfortunately not, as I wrote before

Guess something changed since Monday?...

[2022-02-17 10:29] ausi commented on #4131
Not that I know of.

[2022-02-17 11:38] Aybee commented on #3707
Should be easy to implement. 😉

[2022-02-17 11:39] m-vo commented on #3707
Go ahead! :slightly_smiling_face:

[2022-02-17 12:05] Total-Reality commented on #4128
Btw. The breadcrumb link to the article should be removed while you are already in the view of the list of content elements. The link is a reference to the same page where I am at the moment.
This behavior is a little bit confusing.

**Missing:**
* FAQ
* Forms
* Newsletter
* Front end modules
* Page layouts
* Image sizes

[2022-02-17 12:45] Tastaturberuf commented on #4142
Page A should never be responsible for the misconfiguration on page B. Page B configuration can change on any time.
Just ignore the insert tag and write an error to the Contao log.

[2022-02-17 12:52] fritzmg commented on #4142
I agree, we need to handle it the same way as in the navigation modules.

[2022-02-17 13:03] ausi opened #4154 "Lazy Services"
As discussed in Slack, #4151 was a quickfix to make the Contao Manager work with Contao 4.13.0.

We should discuss if we want to keep the `lazy: true` there and therefore use `lazy: true` for other things as well in the future, or if we should go with a different solution instead (and decide to never use `lazy: true`).

What I don’t like about proxy classes is, that they are not visible to the dev

[2022-02-17 13:43] ausi commented on #4154
Searching through Symfony I think Service Closures match best what we want to achieve:

[code]

[code]

[2022-02-17 14:30] fritzmg commented on #4154
But then you would need to have prior knowledge about the service that you are trying to inject. Whereas with `lazy: true` you don't have to worry about that at all. From a DX point of view I do not want to have to know that some services should be injected lazily and some do not - and I do not want to need to take care of that myself.

[2022-02-17 14:44] m-vo commented on #4154
That's exactly the point. For DI it's crucial to know if you're working with a future of an object or an object. IMHO using transparent ghost objects is not bad in general, but for this scenario it's a very bad design pattern.

[2022-02-17 14:48] ausi commented on #4154
This can (and IMO should) be solved by making the dependencies of `contao.cron` themself lazy. Should be easily done like so:

[code]

This has basically the same affect as the current `lazy: true` but without “magic” objects that get handed to the developers.

[2022-02-17 15:03] fritzmg commented on #4154
I would be more in favour of that then. Btw. wouldn't we have to do this with _all_ services that inject a entity repository or the entity manager?

[2022-02-17 15:12] ausi commented on #4154
IMO no. Most services that require these need a working database connection anyway. But it might make sense for some services (where the DB access is optional or not used for usual use cases).

[2022-02-17 15:14] berecont opened #4156 "add <details> and <summary> to Allowed HTML tags"
### Description

add `<details>` and `<summary>` to Allowed HTML tags
so in content-element 'markdown' it's possible to add (in basic settings) a collapsible section like

[code]

[2022-02-17 15:15] bytehead commented on #4156
See https://github.com/contao/contao/pull/4155

[2022-02-17 15:15] Toflar commented on #4156
https://github.com/contao/contao/pull/4155

[2022-02-17 15:15] #4156 closed, assigned to nobody

[2022-02-17 16:21] Total-Reality opened #4157 "Update search index - download debug log and search index log again"
### Description

Affects system maintenance @ Contao 4.9 and 4.13.

Is there a way to download the two logs again in the "Update search index" feature? Even if you left the page in the backend in the meantime or after you get logged out?

The problem is that in a project, e.g. 26,000 pages are crawled and that takes over 1 hour. In the meantime, of course, I don't want to wait.
After a while I go

[2022-02-17 21:09] aschempp commented on #4154
I don't understand the problem. The advantage of `lazy: true` is that it is completely transparent to the developer. I expect a service, I get an instance of that service, and the service works as intended. Why would I need to know that the service is lazy or that I need to call a service closure?

[2022-02-17 21:45] m-vo commented on #4154
For the reason of the initial post? They really are a hacky concept. 🙃 Plus: final classes do not work.

[2022-02-17 22:45] ausi opened #4159 "MySQL Row size too large"
### Affected version(s)

4.9+

### Description

I was finally able to reproduce the too large row size error after it was [reported on Slack](https://contao.slack.com/archives/CK9GW3ARL/p1645126965059009) today.

It seems that there are two very similar but different error messages at work here:

1. `ERROR 1118 (42000): Row size too large (> 8126). Changing some columns to TEXT or BLOB may help.`

[2022-02-17 23:05] ausi commented on #4154
In my first code example, the try/catch block catches an exception from the service initialization which it isn’t meant to catch. The fact that you didn’t see that problem at first glance is exactly my point. No developer would expect that `$myService->somethingRisky()` actually calls the DI container.

The fact that the developer using the service doesn’t know about it is a huge disadvantage IMO.

[2022-02-18 06:23] aschempp commented on #4154
That's exactly the advantage to me. The chance that initialisation fails like in the initial post is probably 1000 times lower than the case we just had, people now knowing/remembering to use the class in a lazy way if they should.

Really? Everyone uses them in Doctrine entities without issues for years. A proxy (a well-known design pattern) is hacky, but we were [mostly fine with using a lib to

[2022-02-18 06:45] aschempp commented on #4147
I think we should split the features into separate files, and saving the request is a no-brainer with HTTP/2. Also, we don't need to load the script on 99% of the pages, only if a user has access to and accesses the preview link backend. 🙃

[2022-02-18 06:47] aschempp opened #4160 "Install tool does not ignore tables without `tl_` prefix"
### Affected version(s)

4.9+

### Description

![Bildschirmfoto 2022-02-17 um 10 45 10](https://user-images.githubusercontent.com/1073273/154631911-6ab6f01c-f5cf-4163-ade5-580da87b05b0.png)

According to my information, our schema migration checks all tables and does not ignore non-`tl_` prefix.

[2022-02-18 07:24] ausi commented on #4154
You mean what I suggested in https://github.com/contao/contao/issues/4154#issuecomment-1043029668 ?

[2022-02-18 07:39] fritzmg commented on #4159
Should we also apply this to 4.9?

[2022-02-18 08:03] contaoacademy commented on #4159
I have also seen the problem more frequently lately in a support request. E.g. also after an update from Contao 3.5 to Contao 4.9

[2022-02-18 09:11] ausi commented on #4159
This seems to be reproducible across MySQL 5.7, 8.0 and MariaDB 10.1, 10.3, 10.4, 10.5, 10.6 according to several tests from the community.

We noticed one pitfall: if `innodb_strict_mode` is set to `OFF`, the InnoDB limit is ignored when creating the table. But when inserting a row that is actually too large then (depends on the inserted data) the `INSERT` fails.

But the MySQL limit of 65535 see

[2022-02-18 09:29] fritzmg opened #4161 "Invalid type for path "contao.prepend_locale""
### Affected version(s)

4.13.0

### Description

Our backwards compatibility to the old `%prepend_locale%` parameter does not seem to work anymore in newer Contao versions. i.e. if you have

[code]

in your `config/parameters.yaml`, the following error will occur:

[code]

[2022-02-18 11:07] Anke opened #4164 "License field in the file metadata results in Google warning"
### Affected version(s)

4.13

### Description

It's the first time I used the meta field "license" entering the name of the copyright holder - and just 48 hours later I get this Google warning:

![grafik](https://user-images.githubusercontent.com/1300920/154670968-a0134589-9986-4e19-b354-9d0e61082806.png)

Is this a bug or what exactly do I have to enter into the license field?

Regards,
Anke

[2022-02-18 11:13] fritzmg commented on #4164
According to https://schema.org/license `license` is supposed to be either an URL or a [CreativeWork](https://schema.org/CreativeWork) object.

@contao/developers may be we should enforce URLs in that meta field?

[2022-02-18 11:21] ausi commented on #4164
How about changing the label in https://github.com/contao/contao/blob/19baacfd29efde0f088a4b09dcfb2b22438d2ff9/core-bundle/src/Resources/contao/languages/en/default.xlf#L992-L994 to “License URL”?

[2022-02-18 11:44] Anke commented on #4164
Well, my problem is, that I couldn't find any documentation/manual. Do I enter the name of the copyright holder here or a URL to the respective license like https://creativecommons.org/licenses/by/4.0/ - or both in combination ...

[2022-02-18 11:48] Anke commented on #4164
That sounds easy. In this case I could enter a link to a Contao page containing all copyright/licence information?

[2022-02-18 11:49] asaage commented on #4164
Well [license](https://schema.org/license) is not the same as [copyrightHolder](https://schema.org/copyrightHolder).
Maybe it's more flexible to use the [copyrightNotice](https://schema.org/copyrightNotice) property?

[2022-02-18 11:52] Anke commented on #4164
Plus a respective (optional) output of that copyright notice link in the image template?

[2022-02-18 11:54] fritzmg commented on #4164
That was once rejected: https://github.com/contao/core-bundle/issues/1297#issuecomment-373392678

[2022-02-18 12:09] asaage commented on #4164
jepp i remember.
I didnt have a look at 4.13 so i dont know what the new field is intended for and how it is rendered in the template.
Just saying if it is rendered as ```itemprop=license``` it's only useful for providing a link to the license.

[2022-02-18 12:22] fritzmg commented on #4164
It's not rendered in the template, it used for the meta data.

[2022-02-18 12:30] Toflar commented on #4164
Only a URL makes sense. We should ideally

- adjust the label
- add a url validation
- check if we can even use the picker there or not (probably not easily doable in that widget)

[2022-02-18 12:35] m-vo commented on #4164
If this is a use case we could even think about adding a page type for that and then generate a URL to that page by default. Not sure this is worth doing, though.

[2022-02-18 12:38] jscholtysik commented on #4159
Of course also relevant for 4.13...

Joachim

[2022-02-18 12:51] fritzmg commented on #4164
It's already a picker :)

[2022-02-18 13:01] aschempp commented on #4164
What would that page type do?

[2022-02-18 13:15] leofeyer commented on #4160
Yes it does?

https://github.com/contao/contao/blob/da55d19ac91a529da80453adb299a67ae8c2fabc/installation-bundle/src/Database/Installer.php#L124-L127

[2022-02-18 13:16] leofeyer commented on #4160
Ah, it seems it does no longer in Contao 4.13.

[2022-02-18 13:18] asaage commented on #4164
I don't understand https://github.com/contao/contao/pull/3076 completely.
I certainly think it's nice to have that data attached to the file but:

- would a license-url wich resides invisible in JSON-LD make any licensor or copyright-holder happy?
- what's the point without a copyright-holder-field? isn't that the requirement of the various stock-image-providers?

[2022-02-18 13:49] leofeyer commented on #3382
@fritzmg Does the issue occur in Contao 4.13, too? If so, please reassign the milestone.

[2022-02-18 13:52] leofeyer commented on #3881
I‘m closing this issue then since there is nothing more to do on our end.

[2022-02-18 13:52] #3881 closed, assigned to nobody

[2022-02-18 14:20] m-vo commented on #4160
IIRC we dropped the filter in 4.11 and probably simply forgot to adjust the message.

[2022-02-18 14:48] Anke commented on #4164
Whether such a URL points to a Contao page or some external page with licensing information - is this really for us to decide? Or are there standards set by stock-image-providers - or by Google? If so, I guess I don't have much use for this field,
I just didn't know when and how to use it, so I just entered a name. If it has to be a URL then it shouldn't accept text.

Maybe someone could occasiona

[2022-02-18 15:13] Toflar commented on #4164
Yes there are. And that's exactly the purpose of this feature. For example, links to the correct https://creativecommons.org license are handled by Google and your image will appear accordingly if you filter the search results for CC licensed images ;)

[2022-02-18 16:30] #3274 closed, assigned to m-vo

[2022-02-18 16:30] #3974 closed, assigned to aschempp

[2022-02-18 16:30] #4007 closed, assigned to aschempp

[2022-02-18 16:30] #4100 closed, assigned to aschempp

[2022-02-18 16:30] #4101 closed, assigned to aschempp

[2022-02-18 16:30] #4131 closed, assigned to nobody

[2022-02-19 12:24] ausi opened #4168 "Idea for a fast database reset in functional tests"
I just came across the [Transportable Tablespaces](https://dev.mysql.com/doc/refman/8.0/en/innodb-table-import.html) feature from InnoDB. If this works as described (and is fast enough) it might be a fit for our functional tests by doing the following:

1. Setup and import DB
2. `FLUSH TABLES t1, t2,… FOR EXPORT;`
3. Backup `datadir/DBNAME/TABLENAME.{ibd,cfg,cfp}`
4. `UNLOCK TABLES;`

After every

[2022-02-19 12:54] Mynyx opened #4169 "Truncation Breadcrumb Elements"
### Affected version(s)

4.13.0

### Description

Breadcrumb elements are truncated without need.

E. g. "Templates › templates/analytics_goo..." instead of "Templates › templates/analytics_google.html5" in older versions.

[2022-02-19 13:08] Mynyx opened #4170 "Logging leaving user impersonation"
### Affected version(s)

4.13.0

### Description

Leaving user impersonation (user menu -> ``Back to A``) creates a missleading system log entry (``User "B" has switched to user "A"``). But in fact A has quit the impersonation to B.

[2022-02-19 13:21] Mynyx opened #4171 "Settings -> Time zone - missing migration"
### Affected version(s)

4.13.0

### Description

The field Settings -> Time zone shows ``Unknown option: CET``.

Maybe a migration is missing.

[2022-02-19 13:29] m-vo commented on #4168
We could also tinker with the mysql settings for the functional tests. For instance disabling double write buffering or increasing the log buffer/log file size has quite a big impact on importing dumps (IIRC), there are probably settings that affect how transportable tablespaces perform as well.

[2022-02-19 13:36] Mynyx opened #4172 "Description Recreate the XML files in Maintenance"
### Affected version(s)

Version 4.13.0

### Description

The description of ``Recreate the XML files`` in Maintenance (``Recreates the XML files (sitemaps and feeds) and then purges the shared cache, so there are no links to deleted resources.``) mentions sitemaps although since 4.11 these are generated dynamically and stored in the shared cache.

[2022-02-19 13:52] Mynyx opened #4173 "Disable picker for disabled field"
### Affected version(s)

4.13.0

### Description

If a field is disabled, a page picker for the field can still be used and is not disabled.

E. g. edit page -> ``Canonical URL`` -> ``Custom URL`` if ``Enable rel="canonical"`` is disabled in root page.

[2022-02-19 13:57] Mynyx opened #4174 "Dynamically generate field Route path"
### Affected version(s)

4.13.0

### Description

When editing the field ``Page alias`` the field ``Route path`` is not generated dynamically, unlike the ``Google search results preview``.

[2022-02-19 14:07] Mynyx opened #4175 "Purge the preview cache in user profile"
### Affected version(s)

4.13.0

### Description

In the user profile (via user menu) an option for purging the new preview [image] cache is missing (like the existing option to clear the image cache).

[2022-02-19 14:23] Mynyx opened #4176 "Breadcrumb Themes"
### Affected version(s)

4.13.0

### Description

In breadcrumbs in the Themes section the theme title is missing.

E. g. instead of ``Themes › $ThemeTitle › Front end modules`` in previous versions, only ``Themes ›  Front end modules`` is shown.

[2022-02-19 14:40] Mynyx opened #4177 "Hint if rel="canonical" is disabled in root page"
### Affected version(s)

4.13.0

### Description

A hint at the disabled fields ``Custom URL`` and ``Query parameters`` would be helpful if `` Enable rel="canonical"`` is disabled in the root page.

(Similar to the hint at the field ``URL prefix`` and other if legacy routing is used.)

[2022-02-19 16:33] fritzmg commented on #4172
Imho this does not need to be changed. From the outside the effect is the same.

[2022-02-19 16:33] fritzmg commented on #4169
Why do you think so? They need to be truncated, otherwise the will get too long.

[2022-02-20 11:49] ausi commented on #4159
I might have been wrong here. Looking at some discussions in the Contao forum I counted 13 people running into the `8126` limit but only 4 exeeding the `65535` limit.

[2022-02-20 12:04] fritzmg commented on #4159
Keep in mind that some of those might be from Contao 4.4 and/or running utf8 instead of utf8mb4.

[2022-02-20 13:15] Tastaturberuf opened #4180 "Missing label translation in theme module"
### Affected version(s)

4.13

### Description

If you sort modules by type the parent labels are missing translation. can confirm in contao demo

![image](https://user-images.githubusercontent.com/1027521/154844375-01048368-a42a-49af-ad00-68600afe9121.png)

[2022-02-20 14:07] fritzmg commented on #4180
That has always been the case in Contao (including Contao 3, possibly Contao 2 as well), not just in Contao 4.13.

[2022-02-20 14:22] Mynyx opened #4181 "TinyMCE context menu"
### Affected version(s)

4.13.0

### Description

TinyMCE replaces the standard context menu of the browser with an own one.

Thus, the standard options such as Undo, Copy, Paste, Spell Checker and others are not available.

The TinyMCE context menu only contains an option to set links, but this function would also be directly available via the button in the toolbar.

It would therefore seem more

[2022-02-20 14:24] fritzmg commented on #4181
https://www.tiny.cloud/docs/ui-components/contextmenu/

Use `Ctrl + Right Click`.

[2022-02-20 14:34] Mynyx opened #4182 "TinyMCE missing translations"
### Affected version(s)

4.13.0

### Description

In the TinyMCE context menu the translation of "Open link" is missing.
![image](https://user-images.githubusercontent.com/1632642/154847762-50308dae-4be7-4da4-ac49-8edb7823d983.png)

Also in the menu Table in the submenu Column translations are missing:
![image](https://user-images.githubusercontent.com/1632642/154849053-bab929d0-0940-4f32-9f75-a94

[2022-02-20 15:00] Mynyx commented on #4181
Personally, I use the keyboard shortcuts directly. For inexperienced users, the solution via CTRL is probably not helpful.

Not only for links, but also in tables the TinyMCE context menu has no relevant advantage, because there is already an overlay menu displayed when the cursor is moved in the table:
![image](https://user-images.githubusercontent.com/1632642/154848714-d45ad562-d091-414b-8655-e1

[2022-02-20 15:02] ausi commented on #4157
We should probably add a check here https://github.com/contao/contao/blob/e8f1f373477839aa301ad1eb5eb4fb84b719957d/core-bundle/src/Resources/contao/classes/Crawl.php#L172-L176 to only (re)start crawling if the jobId does not exist yet.

This way, downloading the log after logging in again should be no problem.

[2022-02-20 15:03] fritzmg commented on #4181
You can bring that up here: https://github.com/tinymce/tinymce/issues/new?assignees=&labels=type%3A+feature&template=feature_request.md

[2022-02-20 15:18] ausi commented on #4169
I think we could use CSS like this one:

[code]

This way, if all elements fit, no text gets truncated.

[2022-02-20 15:38] ausi commented on #4171
I don’t think a migration is needed here.

The “Unknown option: CET” should still work as before. And there is no proper time zone to convert `CET` to without more information.

To what value would you suggest to migrate `CET` to?

[2022-02-20 15:52] ausi commented on #4160
Yes, see #2049 / 2334184de6dec7ab0cda319ec1e44307d41b83b6

[2022-02-21 07:58] bennyborn commented on #4181
+1 from me. Absolutely bad UX to replace the context menu as we always tell the users to insert copied texts (e.g from Word documents) using CTRL+SHIFT+V or right click and choose "Insert without formatting".

IMHO Contao should set the `contextmenu` option to `false` in order to restore the default (see https://www.tiny.cloud/docs/ui-components/contextmenu/)

[2022-02-21 07:58] aschempp commented on #4171
It does not really mater, does it, as long as it's `GMT+1`? https://www.timeanddate.com/time/zones/cet
We could simply use something like `Europe/Berlin`

[2022-02-21 08:00] aschempp commented on #4182
Are you sure we are providing these translations? Aren't they supplied by TinyMCE itself?

[2022-02-21 08:01] aschempp commented on #4180
That still makes it a bug though? 😂

[2022-02-21 08:03] aschempp commented on #4170
I think this is technically correct, but could probably be improved. Can you check if this also applies to Contao 4.9?

[2022-02-21 08:05] aschempp commented on #4173
I can confirm this in the online demo. Not sure if we should remove the wizard, or simply hide both fields if canonical URLs are not enabled? @Toflar

[2022-02-21 08:10] aschempp commented on #4161
This looks like a Symfony/YAML bug if they read `true` as a string? Or maybe something changed in Symfony 5.4?

[2022-02-21 08:12] fritzmg commented on #4180
🤷 If you use translations there then the groupings will potentially differ between each language. Not sure if that's desired?

[2022-02-21 08:13] aschempp commented on #4174
I understand the issue, but I think we should live with it. There is no "consistent" way to fix this. Also, you did not save the record, so the page route did not change. I would assume a client **that does have access to that technical field** should be able to understand its only refreshed if you save it 🤷

[2022-02-21 08:14] aschempp commented on #4154
Ah yes! I misunderstood it to people having to do the `service_closure` if they use the `Cron` service 🎉

[2022-02-21 08:15] fritzmg commented on #4182
The language packs in contao-components/tinymce4 may be need to be updated.

[2022-02-21 08:16] aschempp commented on #4132
I guess this can be closed then?

[2022-02-21 08:18] fritzmg commented on #4171
But that would not be correct. What if your actual timezone is Europe/Vienna and Austria suddenly decides to be in a different timezone?

...

😁

[2022-02-21 08:21] fritzmg commented on #4181
You can also enable `paste_as_text`.

https://www.tiny.cloud/docs/plugins/opensource/paste/#paste_as_text

[2022-02-21 08:22] aschempp commented on #4180
It's grouping by module type, if two modules have the same name that would be another issue in the first place 🤷
but sorting by translated label is hard(er) because it can't be done in the database – not sure that's really necessary though.

[2022-02-21 08:25] bennyborn commented on #4181
I know but this would require us to create a custom Tiny template for every Contao installation which isn't really practical.
Rather than modifying every installation we like to tell our customers how to do it the "right" way 😉

[2022-02-21 08:27] Defcon0 commented on #4132
I guess so :-)

[2022-02-21 08:27] #4132 closed, assigned to nobody

[2022-02-21 08:29] fritzmg commented on #4181
Not sure if we really should enable this particular feature in Contao 4.x, as this option has been available in all TinyMCE (and Contao) versions and it was never enabled by default.

Contrary to the new context menu, which is new.

[2022-02-21 08:32] fritzmg commented on #4180
But that is what we are talking about here? Or do you want to keep grouping (and sorting) by the actual type, but display the translations? That would be really confusing, as the order would potentially not be alphabetical anymore.

[2022-02-21 08:35] bennyborn commented on #4181
Absolutely not as this would break copying contents from one element to another.

Which I still think should be disabled by Contao.

Not only are we losing such functionality as "Insert without formatting" but we also mess with any extensions the user might have installed for accessibility reasons. I can imagine the "default" context menu might provide an extra option to read the text or smth like

[2022-02-21 08:36] fritzmg commented on #4161
`'%prepend_locale%'` is a string though. I haven't looked into it yet, but it seems the parameter is not resolved anymore at that point.

[2022-02-21 08:42] aschempp commented on #4148
see https://github.com/contao/contao/pull/4150

[2022-02-21 08:42] #4148 closed, assigned to nobody

[2022-02-21 09:38] leofeyer commented on #4180
I think it is not. That‘s why we have not translated the types IIRC.

Yes, that is another reason why we are not doing it yet.

[2022-02-21 09:44] ausi commented on #4154
@contao/developers do you agree to use `!service_closure` for the `contao.cron` service as suggested in https://github.com/contao/contao/issues/4154#issuecomment-1043029668 ? If so, please 👍 and I will create a PR.

[2022-02-21 09:45] leofeyer commented on #4172
Also, the feed XML files are still generated and stored in `web/share`, therefore the description is correct.

[2022-02-21 09:50] ausi commented on #4171
AFAIK, Vienna and Berlin had different time zones on June 1st, 1945 for example. A conversion is not possible and also not neccesary.

[2022-02-21 09:51] #4171 closed, assigned to nobody

[2022-02-21 10:01] Tastaturberuf commented on #4180
I actually never noticed this 🙈 maybe we can show the translation additional:
- `articlelist - Artikelliste`
- `articlelist [Artikelliste]`
- ...

[2022-02-21 10:52] fritzmg opened #4184 "Use boolean fields for checkboxes"
Since Contao 4.9.11 we fully support "boolean" database fields in the data container. In regards to https://github.com/contao/contao/pull/4179 it would thus be more convenient to use

[code]

instead of

[code]

in order to reduce the size of the field from 5 bytes to 1. `char` and `varchar` fields with `utf8mb4` collation currently require 5 bytes in total under InnoDB (4 + 1 for saving the lengt

[2022-02-21 13:44] jxns commented on #3382
The issue seems to be solved in 4.13. Thank you :-)

[2022-02-21 14:50] #3382 closed, assigned to aschempp

[2022-02-21 15:19] Total-Reality commented on #501
Das Problem ist, dass Google das mittlerweile nicht mehr als **Warnung** deklariert, sondern als **Fehler**. Und Fehler sind immer sehr fatal.

Contao hat doch auch jahrelang die Google Webfonts supportet, auch wenn es dort ebenfalls andere Lösungen gibt.
Google hat nun mal bei weitem die größten Marktanteile.

Dann hätte ich folgenden Vorschlag: Wir stellen es standardmäßig so ein, dass Seiten mi

[2022-02-21 15:37] fritzmg commented on #501
You can alter the complete DOM of the sitemap via the [`contao.sitemap` event](https://docs.contao.org/dev/reference/events/#contao-sitemap) in Contao 4.13+.

[2022-02-21 17:35] fritzmg opened #4185 "There is currently no session available."
### Affected version(s)

4.13.0, 5.x

### Description

After creating and saving a news element, I can no longer access the "News" section in the backend. The following error occurs:

[code]

All other sections work fine. Then if I create and save a new event in a calendar, the same thing happens. I will no longer be able to access the "Events" section in the back end (i.e. I can no longer acess "

[2022-02-21 19:05] Mynyx commented on #3809
The options seem too specific and should better located in the configuration files. Why should these values be changed repeatedly?

The standard maximum depth value is too low. In general, I would not set a limit there as default. As long as really new pages are found, a threshold does not make sense. If a circular is given, e.g. via irregular query parameters, a maximum total number of requests w

[2022-02-21 19:33] Mynyx commented on #4174
The only part that can change in the route path is apparently the alias, the rest of the path can only be adjusted via the root page. Why can't the alias be inserted dynamically?

Also I do not understand what is the difference to the ``Google search results preview``, which is more complex.

[2022-02-21 19:50] Total-Reality commented on #4172
I don't know if I do sth. wrong, but the XML files are not stored in the web/share folder anymore - 4.12 & 4.13
I recreated them via Maintenance.

[2022-02-21 20:34] Total-Reality opened #4187 "Improve the template for the search index crawler in maintenance"
### Affected version(s)

4.9, 4.12, 4.13

### Description

The usability and markup of the `be_crawl.html5` template should be improved.

1. Together with 3 people we didn't understand how to find and download the debug log @ the search index crawler.

For example we looked around in the log folder @ ftp. After hours (because we needed to crawl a page with 20.000 pages 2 times) we realized that th

[2022-02-21 20:40] Mynyx commented on #4187
Absolutely agree with the usability issue. I would suggest placing the "Debug-Log herunterladen" button between the progress bar and the next headline (here "Den Suchindex aktualisieren").

[2022-02-21 20:45] ausi commented on #4172
Correct. The sitemap is available over HTTP now via `/sitemap.xml`.

[2022-02-21 20:57] Total-Reality commented on #4172
However then @Mynyx is right, the text in system maintenance should be changed.

_Schreibt die XML-Dateien (**Sitemaps**/Feeds) neu und leert anschließend den Shared-Cache, damit keine ungültigen Links zurück bleiben._

This suggests that you can still regenerate the sitemap, which is no longer possible. So this is a pointless call to action.

[2022-02-21 21:36] fritzmg commented on #4172
That is not true. It _does_ regenerate the sitemap (through clearing the shared cache).

[2022-02-21 21:39] Total-Reality commented on #4172
I don't understand this. I thought the sitemap is only genereted on the fly (if you open the sitemap URL)?

[2022-02-21 21:47] fritzmg commented on #4172
It is stored in the [HTTP Cache](https://symfony.com/doc/current/http_cache.html) of [Symfony's reverse proxy](https://symfony.com/doc/current/http_cache.html#symfony-reverse-proxy), like any other response. It will only be generated again, if no valid entry for that URL already exists in the cache.

[2022-02-22 00:44] cliffparnitzky opened #4188 "Creating a new version may result in an exception"
### Affected version(s)

4.9.26

### Description

The automatic creation of a new version may result in an exception. This is the case, if the DCA has an attribute `title`, `name`, `firstname`, `headline`, `selector` or `subject` which will be used as description for the version and this field allows more than 255 characters.

This is the part, where the attribute is read: https://github.com/conta

[2022-02-22 09:50] timgatzky opened #4189 "Missing default css classes like .first, .last"
### Affected version(s)

4.13.0

### Description

Hi guys,
in the current 4.13.0 release the default classes are missing like mod_article.first etc.

Tested on a blank installation, with one article containing two texts.

Did I miss something? Isn't that change intended to be in Contao 5 first: https://github.com/contao/contao/pull/4178

Best regards,
Tim

[2022-02-22 10:22] fritzmg commented on #4189
~I cannot reproduce. Articles still have the `mod_article` class for instance. Are you using custom templates or a `parseTemplate` hook that changes the `class` variable of templates for example?~

Oh, you only meant `first`, `last`. For articles that has already been removed in Contao 4.10. For the rest it's gonna be removed in Contao 5. See [here](https://github.com/contao/contao/blob/4.13.0/UPG

[2022-02-22 10:23] #4189 closed, assigned to nobody

[2022-02-22 12:55] cliffparnitzky commented on #4188
This may be the simplest solution: `$strDescription = substr($strDescription, 0, 255);` in line [220](https://github.com/contao/contao/blob/5.x/core-bundle/src/Resources/contao/classes/Versions.php#L220).

A bit nice would be to shorten the string only if necessary and add 3 dots at the end.

[2022-02-22 14:57] michb opened #4191 "Custom backend route prefix not used in robots.txt"
### Affected version(s)

4.13

### Description

If you set your contao to have a custom backend route prefix, as described here https://docs.contao.org/manual/en/system/settings/#additional-back-end-settings

The disallow entry in the robots.txt is not adjusted correctly to the new route. As you can see here `contao` is hardcoded in there
https://github.com/contao/contao/blob/c904c5624e7f813980942

[2022-02-22 14:58] aschempp commented on #4172
but then again isn't that exactly the same as "deleting the HTTP cache"? So why do we have/need two options?

[2022-02-22 15:00] aschempp commented on #4185
Can you check what version of `symfony/csrf` you have installed (`composer show symfony/csrf`)?

[2022-02-22 15:00] fritzmg commented on #4172
Not sure what you mean, we still need the option to regenerate the XML files (and it still needs to invalidate the shared cache as well) and we still need the option to invalidate the shared cache independently from that.

[2022-02-22 15:08] fritzmg commented on #4185
You mean `symfony/security-csrf`? `5.4.3` in 5.x and 4.13. I can also ask the user with the same problem on the community forum, though I strongly suspect it's the same version.

Btw. the same error also seems to occur in the kernel.terminate event, likely caused by the command scheduler:

<img src="https://user-images.githubusercontent.com/4970961/155160822-f4411530-af05-4c7c-b02d-0a9787a6c0a8.pn

[2022-02-22 15:11] fritzmg commented on #4185
@leofeyer why did you add `unconfirmed`? According to https://docs.contao.org/dev/internals/issue-workflow/ an issue is not `unconfirmed` anymore if any one of us is able to reproduce the issue?

[2022-02-22 15:33] fritzmg commented on #4185
To reproduce this all you need to do is the following:

1. Configure an RSS feed for your news.
2. Create or edit a news article.
3. Insert `{{insert_article::*}}` (replace `*` with a valid article ID) into the teaser text.
4. Save.

This is the actual stack trace of the problem:

[code]

1. When you save news or events, this will trigger the re-generation of the XML files (the RSS feeds) on the n

[2022-02-22 15:45] leofeyer commented on #4185
Yes, but the confirmation must come from someone other than the one who reported the error. Just like you cannot approve your own PR. You will get the pink elephant if you try. 😉

[2022-02-22 15:45] fritzmg commented on #4185
Alright 😁

[2022-02-22 15:47] leofeyer commented on #4172
It costs more time to keep discussing this than to replace _sitemaps and feeds_ with _feeds_, therefore I am opening this issue again.

[2022-02-22 15:50] leofeyer commented on #4188
`Contao\StringUtil::substr()` will do exactly this.

[2022-02-22 15:53] fritzmg commented on #4172
If you remove _sitemaps_ from the description it will from then on be an undisclosed side effect. How is that better and more clear?

[2022-02-22 15:55] cliffparnitzky commented on #4188
Sounds good. I will create the PR.

[2022-02-22 16:13] cliffparnitzky commented on #4188
Fixed with https://github.com/contao/contao/pull/4192

[2022-02-22 17:40] #4188 closed, assigned to nobody

[2022-02-22 18:27] Total-Reality commented on #4172
I can't reproduce this. There is nothing cached. The sitemap.xml is regenerated always while calling the url www.example.com/sitemap.xml

[2022-02-22 19:08] fritzmg commented on #4172
Did you test without a back end login (or any other Cookies) and without using the debug mode?

[2022-02-22 19:45] Mynyx opened #4193 "Purging the shared cache does not work in debug mode"
### Affected version(s)

4.13.0

### Description

The function "Purge the shared cache" in back end maintenance does not work in debug mode.

Apparently the issue is related to the different environment. But although there exists no HTTP cache in the dev environment, a successful entry is added to the system log. Therefore, it seems reasonable to always clear the prod HTTP cache.

[2022-02-22 19:46] Total-Reality commented on #4172
Yes, I opened the sitemap in Firefox.
Backend = Chrome.

Btw. I also use 4.13.0

[2022-02-22 19:56] fritzmg commented on #4172
You can look at the `Contao-Private-Response-Reason` response header in order to figure out why there was no cache hit.

[2022-02-22 19:57] Mynyx opened #4194 "Breadcrumb on 404 page leads to system log error entry"
### Affected version(s)

4.13.0

### Description

If a 404 error page contains a  breadcrumb navigation, each page view leads to an error entry in the system log: ``Unable to generate URL for page ID X: Page ID X is not routable``

[2022-02-22 19:57] fritzmg commented on #4193
What exactly does not work?

[2022-02-22 20:03] Mynyx commented on #4193
The cached versions of the front end pages are not removed.

[2022-02-22 20:39] fritzmg commented on #4193
I can confirm the problem. Reproduction steps:

1. Enable the shared cache in the site structure.
2. Create a request to a Contao page and make sure it responds with `Contao-Cache: fresh` or `Contao-Cache: miss/store`.
3. Enable the debug mode.
4. Go into the maintenance section and purge the HTTP cache.
5. Make another request to the same URL.

The response will still say `Contao-Cache: fresh`.

[2022-02-22 21:05] Total-Reality opened #4196 "Don't allow extreme dates in the datepicker"
### Affected version(s)

4.9, 4.13

### Description

There is no range limit in the datepicker.
If you choose a date outside the limit you'll get an error:

`An exception occurred while executing a query: SQLSTATE[22001]: String data, right truncated: 1406 Data too long for column 'stop' at row 1`

1. Maximum possible value: 20.11.2286 18:46
20.11.2286 18:47 -> error

2. Minimum possible value: 24

[2022-02-22 21:30] asaage commented on #4196
That's because it's stored as integer/timestamp in the DB instead of an actual ```DATETIME```
https://medium.com/@nate510/the-2286-bug-65697bb1b908
Maybe the storage-format is something that can be addressed for C5.
I don't think point no3 and 4 ares a valid argument to restrict the range artificially.
Keep in mind that the Datepicker is not just for publish-start/stop-Dates!

[2022-02-22 21:52] Total-Reality commented on #4172
I really don't know what you're talking about, but if you are right that this sitemap is cached normally the description shouldn't be changed.

[2022-02-22 22:00] Total-Reality commented on #4196
It is possible to restrict the values in the datepicker already in 4.13, we don't need to wait until 5.0
But I think this has no effect to the input field itself. However we can possibly work with minval and maxval @ dca even if it doesn't look pretty in the code.

Yes, I know. No 4 was regarding the stop/start fields only, not the date fields in general. But you are right, it should not be restri

[2022-02-22 23:10] Total-Reality commented on #4194
This is true.

You can test it out in the demo:
https://demo.contao.org/contao?do=log&ref=KmDrgQ3o

https://demo.contao.org/preview.php/en/contao/preview?page=19

It also happens on 401 pages:
https://demo.contao.org/preview.php/contao/preview?page=16

Btw. the preview bar is missing on the 401 page. Is this another bug?

[2022-02-23 07:39] aschempp commented on #4172
The side effect is that the HTTP cache is cleared, so if we _would_ need to add something its not _sitemap_ 😉

[2022-02-23 07:40] aschempp commented on #4194
This should have been fixed by https://github.com/contao/contao/pull/3947, maybe that change didn't make it upstream (yet)?

[2022-02-23 07:46] aschempp commented on #4193
Well it _does_ work, but it does not do what you expect. The cache is always cleared in the current environment, and clearing the cache in `dev` does not clear the cache in `prod`. Since we (correctly) use the Cache proxy to clear the cache, I can only think of two options:
1. disable/remove the option in `dev`
2. add a description that explicitly states it clears the current environment

But opti

[2022-02-23 07:47] aschempp commented on #4193
Also pretty sure this happens in 4.9 as well, maybe @Mynyx you can test that?

[2022-02-23 07:50] fritzmg commented on #4193
We could may be clear it for the prod environment (or both environments) in a separate process instead.

[2022-02-23 07:51] aschempp commented on #4196
you _can_ already configuring by using your own picker. But be aware that limiting the picker does not limit the input field.
As @asaage already said, generally limiting a date (picker) certainly is wrong, years ago I built a DCA where a client added their company history - starting somewhere in 18xx.

The actual DB issues can/should be fixed by using date columns in the database, but moving away

[2022-02-23 08:12] aschempp commented on #4191
see https://github.com/contao/contao/pull/4197

[2022-02-23 08:12] #4191 closed, assigned to nobody

[2022-02-23 08:20] aschempp commented on #4174
Just my opinion. We already had to fix 4 (!!) issues (https://github.com/contao/contao/pull/3422, https://github.com/contao/contao/pull/1984, https://github.com/contao/contao/pull/1092, https://github.com/contao/contao/pull/1169) because of that _simply dynamic alias_ in SERP preview 🤷

[2022-02-23 08:21] aschempp commented on #4171
What timezone was `CET` on June 1st, 1945? 😝

agreed 😉

[2022-02-23 08:31] aschempp commented on #4161
We're only adding the parameter if it exists in the container (https://github.com/contao/contao/blob/5.x/manager-bundle/src/ContaoManager/Plugin.php#L262), so yeah maybe somehow Symfony does not _load_ it anymore?

[2022-02-23 08:39] ghost opened #4198 "Neuer Maintenance Mode via cli: Backend nicht nutzbar"
### Affected version(s)

4.13.0

### Description

Wird der Wartungsmodus über das Backend am Startpunkt einer Webseite gesetzt, ist das Backend weiterhin nutzbar.
Setzt man über den cli via `vendor/bin/contao-console contao:maintenance-mode on`  den Wartungsmodus, ist das Backend nicht erreichbar, da 503. Ist das so gewollt?

[2022-02-23 08:46] aschempp commented on #4198
ja, das ist richtig so. In Contao 4.13 lässt sich jede Root-Seite einzeln in den Wartungsmodus versetzen, oder das komplette System. Der systemweite Wartungsmodus funktioniert auch dann, wenn Contao nicht mehr funktioniert, und macht dann Sinn wenn die Installation nicht lauffähig ist (z.B. bei einem Update über den Contao Manager, der den Wartungsmodus automatisch aktiviert 😉)

[2022-02-23 08:46] #4198 closed, assigned to nobody

[2022-02-23 09:32] Sarahsolus opened #4200 "Dbafs.php, int $maxFile causes Fatal Error in php7.4 32bit"
### Affected version(s)

4.13.0

### Description

Local System with  MampPro4 (php7.4, 32bit)
Path/contao/install causes a Fatal Error:

Compile Error: Default value for property of type int can only be int

Symfony\Component\ErrorHandler\Error\ FatalError
in PFAD\vendor\contao\core-bundle\src\Filesystem\Dbafs\Dbafs.php (line 54)

private Connection $connection;
private EventDispatcherInterface $e

[2022-02-23 09:34] fritzmg commented on #4200
Indeed, this should be changed to

[code]

/cc @m-vo

[2022-02-23 09:39] fritzmg commented on #4200
Although that would probably fail on 32-bit too.. 🤔  May be

[code]

instead?

[2022-02-23 09:40] m-vo commented on #4200
That would basically be the same as `$value = (int) 2147483648;`.

We could also make this property a float or use a smaller default. This probably depends on the question whether we are fine with 32bit versions having limitations for the sake of type safe comparisons everywhere else.

[2022-02-23 09:42] m-vo commented on #4200
Btw.: this only affects property initializers that do not coerce values. You can safely assign a default value in the constructor https://3v4l.org/kTmBS#v8.1.3.

[2022-02-23 09:55] ausi commented on #4171
AFAIK, `CET` was always defined as `UTC+1` so it never changed. Btw. Vienna and Berlin use `CEST` in summer, not `CET` 🤓

[2022-02-23 10:11] LIVID-Media opened #4201 "Missing size-Label in News"
### Affected version(s)

4.13

### Description

By adding a picture to a news entry the size label and tip are missing:

![Contao 4 13 News](https://user-images.githubusercontent.com/61419192/155298839-cbabd144-a062-41e5-8b91-0f7a10cfa8c1.png)

[2022-02-23 10:18] ausi commented on #4200
👍 We should use something like this IMO:

[code]

[2022-02-23 11:31] fritzmg commented on #4201
I can confirm the issue. This bug was introduced with https://github.com/contao/contao/pull/3912

[2022-02-23 13:31] Xirdion opened #4205 "ModuleArticle: Attempt to read property "datimFormat" on null"
### Affected version(s)

4.13.0

### Description

If there is a content element of type `article` referencing another article, there will be an error in dev-mode when showing the list view of the content elements.

The problem occurs because contao tries to render / compile the content element.
But `vendor/contao/core-bundle/src/Resources/contao/modules/ModuleArticle.php` tries to access some prop

[2022-02-23 13:57] asaage commented on #4196
same here - that was a little pain in the behind 🙈
i then used a browser-native [date-input](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/date) and stored it as text but it turned out that browsersupport at that time wasn't the best.
for sorting, comparing and formating tstamp/int is definitely easier.
Maybe somebody knows how other products deal with that?

[2022-02-23 14:01] leofeyer opened #4206 "Inconsistent onsubmit_callback behavior"
The `onsubmit_callback` in the back end is called **before** a new version is created, however, in the front end, it is called **after** a new version is created.

https://github.com/contao/contao/blob/da55d19ac91a529da80453adb299a67ae8c2fabc/core-bundle/src/Resources/contao/drivers/DC_Table.php#L2105-L2137

https://github.com/contao/contao/blob/da55d19ac91a529da80453adb299a67ae8c2fabc/core-bundle

[2022-02-23 14:04] aschempp commented on #4206
I agree, we should move it in the front end. Looks like the record is saved even if `$blnDotNotSubmit` is true in the personal data module?

[2022-02-23 14:05] aschempp commented on #4201
see https://github.com/contao/contao/pull/4202

[2022-02-23 14:05] #4201 closed, assigned to nobody

[2022-02-23 14:54] m-vo commented on #4200
see #4208

[2022-02-23 14:54] #4200 closed, assigned to nobody

[2022-02-23 15:54] bezin commented on #4205
I unterstood you included an article within another article via the Article include element. That said, I cannot reproduce your issue.
However I do not understand how the ModuleArticle you referenced in screenshot and code would be triggered in that scenario?

@Xirdion Could you please provide the stack trace?

[2022-02-23 19:18] math-GH opened #4209 "HTML validation: Attribute width not allowed on element source at this point."
### Affected version(s)

contao.org (unknown version)

### Description

https://contao.org/de/news.html?year=2022 does not validate with the W3C validator:

see: https://validator.w3.org/nu/?doc=https%3A%2F%2Fcontao.org%2Fde%2Fnews.html%3Fyear%3D2022

Error: Attribute width/height not allowed on element source at this point.

![grafik](https://user-images.githubusercontent.com/1645099/155391491-d7

[2022-02-23 19:21] fritzmg commented on #4209
See https://github.com/contao/contao/issues/2746

The W3C validator still has not been updated to the latest HTML specs.

[2022-02-23 19:21] #4209 closed, assigned to nobody

[2022-02-23 21:19] Mynyx commented on #4172
In relation to the sitemap, it is actually exactly the same. The option is only needed for (rss/atom) feeds.

Therefore, it also argues for an adjustment of the description that the advantage of the new dynamic sitemaps is apparent for users. Thanks to the automatic shared cache tags invalidation after changes, the sitemap usually no longer needs to be regenerated in maintenance.

[2022-02-23 21:39] bennyborn commented on #4196
What about making the widget aware of the actual type of the field in the DB? This way, if it recognizes an `INT` it could limit the Datepicker to a certain range, if it's a `DATETIME` the range can be adjusted. That should be backward compatible and would also benefit any extensions 🤷‍♂️

[2022-02-24 06:27] Xirdion commented on #4205
@bezin here is the stack trace
[code]

I hope it will help you.

[2022-02-24 08:31] bezin commented on #4205
Thanks, that helped, I can confirm that. I'll take care of it.

[2022-02-24 09:53] giodi opened #4211 "Access protection on Website root returns Internal Server Error"
### Affected version(s)

4.13.0

### Description

When I use the "Protect page" option on the page type "Website root" a Internal Server Error is returned:

![grafik](https://user-images.githubusercontent.com/7964115/155498676-d0775b38-1864-4c97-96f9-819e40b06ab9.png)

**Steps to reproduce on demo:**
- Activate "protect page" option on website root.
- Choose a member group which is not "Guests".
-

[2022-02-24 10:06] fritzmg commented on #4211
I can confirm the problem.

[2022-02-24 10:17] aschempp commented on #4211
how can we render the 401 page if its parent root is protected (and therefore the 401 would be protected as well)? Why would it ever make sense to protect a root page?

[2022-02-24 10:28] giodi commented on #4211
@aschempp We use this when we want to give access to a preview version of the website to our clients. The alternative would be to protect every page on the first level, which can be a lot. So for me it isn't about protecting the root page (I see that this makes no sense) but about protecting all pages and have to set this only once.

[2022-02-24 10:31] fritzmg commented on #4211
We have that exact use case and it works in Contao 4.9.

Why does it work in Contao 4.9 (and all previous Contao versions)?  I do not want to protect each individual page of a domain that is only accessible via member login. I want to set the protection in the website root.

[2022-02-24 10:42] aschempp commented on #4211
If you want a client to preview the page, why not unpublish it and use a preview link? 😎

[2022-02-24 10:42] fritzmg commented on #4211
That's not our use case. Our client runs a website that is only accessible via front end login.

[2022-02-24 10:44] fritzmg commented on #4211
That's a moot point I think, since system pages like the 401 page are not routable and not rendered like a normal page in any case. They are rendered in their respective circumstances. Besides, you cannot protect 401, 403 or 404 pages (the setting does not exist).

[2022-02-24 10:54] fritzmg commented on #4122
I agree actually. I think a new help wizard on the Source/Sources field would be a good place for that?

[2022-02-24 11:17] mlwebworker commented on #4122
Ich kann mich grob erinnern, dass TYPO3 zu mindestens früher mal ein in meinen Augen pfiffiges Feature hatte - wurde glaube im Rahmen der Installation automatisch gestartet. Dort wurde geprüft und angezeigt, was genau die auf dem Server installierte Bildverarbeitung "kann".

[2022-02-24 11:42] frontendschlampe commented on #4122
Haben Sie noch immer https://docs.typo3.org/m/typo3/tutorial-getting-started/main/en-us/Installation/Install.html#scan-environment … sie prüfen während der Installation die kompletten Serveranforderungen. Also im Prinzip wie unser Contao-Check früher. Warum haben wir sowas eigentlich nicht mehr? Ich hatte schon mehrere Serveradmins, die nach solch einem Tool gefragt haben. Die sind von dem Typo3-C

[2022-02-24 11:48] fritzmg commented on #4122
Gibt es grundsätzlich weiterhin im Contao Manager (für die reinen Systemanforderungen).

[2022-02-24 12:04] frontendschlampe commented on #4122
Naja ... aber gerade die Prüfung mit Image-Library wäre ja schon cool. ;-)

[2022-02-24 12:10] fritzmg commented on #4122
Klar, aber das wären dann zusätzliche Features für den Contao Manager.

[2022-02-24 12:11] netzarbeiter commented on #4122
Warum diskutiert ihr das nicht in einem separaten Ticket? Hier geht es um eine Information für die Redakteurinnen und Redakteure.

[2022-02-24 15:35] giodi commented on #4211
In my viewpoint there is a lot less flexibility in that:

- Sometimes the client needs to see just certain parts of the site (e.g. the marketing department can see only a few pages, the executive board has access to all pages) while the public has still no access.
- When only a few sites should be seen for one group I would have to generate _n_ Links to provide the same functionality.
- When I unp

[2022-02-24 16:47] grashalm4u opened #4213 "Crawler also shows broken links on subpages of banner destination URL"
### Affected version(s)

4.13.0

### Description

When crawling my links, the Broken Link Checker log shows not only broken links on my own home page, but also all the broken links that are on the pages pointed to by the banner target URLs in my Bugbuster banner module .
In the forum, Spooky said: "Possibly the 301 forwarding of the banner URLs is the problem. Since the banner URL could change at

[2022-02-26 10:10] Wedego opened #4215 "Problem beim Synchronisieren"
### Affected version(s)

4.13

### Description

Contao 4.13 Update problemlos
PHP 7.4.27
BE und FE OK
Im BE Klick auf Synchronisieren und Internal Server Error
` An exception occurred while executing a query: SQLSTATE[22007]: Invalid datetime format: 1366 Incorrect string value: '\xE4hrige...' for column `txbittel_`.`tl_files`.`path` at row 1`
Was kann man tun?

[2022-02-26 10:18] Wedego commented on #4215
Das steht in Log:
` An exception occurred while executing a query: SQLSTATE[22007]: Invalid datetime format: 1366 Incorrect string value: '\\xE4hrige...' for column `mvbittel_`.`tl_files`.`path` at row 1 at /var/www/vhosts/domain.de/httpdocs/vendor/doctrine/dbal/src/Driver/API/MySQL/ExceptionConverter.php:119)\n[previous exception] [object] (Doctrine\\DBAL\\Driver\\PDO\\Exception(code: 1366): SQLS

[2022-02-26 10:32] ausi commented on #4215
@m-vo in the old Dbafs we skipped syncing non-UTF-8 in 6d4f9a3e2205e1041c9625bb57a34928a1ce76dc.
If we add this skip to the new implemenation we should IMO trigger a deprecation there and don’t support that anymore in Contao 5.0.

@Wedego there seems to be a file or directory that contains the string `ährige` with the `ä` being not encoded as UTF-8. If you rename that file/folder to `aerige` the i

[2022-02-26 10:37] Wedego commented on #4215
Hallo ausi, danke, dann suche ich mal diese Datei oder Verzeichnis.
ährige gibt es viele in den Texten z,B, 50jährige Jubiläum usw.
Mal sehen, ich sage schon mal Danke und reporte das Ergebnis

[2022-02-26 10:49] Wedego commented on #4215
Manchmal braucht man(n) auch mal einen Stoß in die Rippen.
Seit 2 Tagen suche ich diesen String vergeblich, jetzt habe ich endlich 2 Dateien (jpg) mit "ä" gefunden.
"60-Jähriges Bestehen.jpg" und "Ständchen Kaupp 1989"
Mann oh Mann, Dankeschön

[2022-02-26 10:50] m-vo commented on #4215
I can confirm the error.

[2022-02-26 11:12] fritzmg commented on #4213
I can confirm the issue (in 4.9 as well as 4.13). Reproduction:

1. Create a new page of type `external` and set the target to `https://contao.org/en/` for example (i.e. some _external_ page that responds with `200` and contains links). The redirect type does not matter (can be 301 or 302).
2. Enable __Hide in navigation__ for that external redirect page.<sup>1</sup>
3. Create a new page of type `

[2022-02-26 11:21] fritzmg commented on #4215
Not sure that's good for the user experience. Usually this happens when you simply copy files between different filesystems.

[2022-02-26 12:05] m-vo commented on #4215
see #4216

@fritzmg let's discuss this over at the linked PR :slightly_smiling_face:

[2022-02-26 12:05] #4215 closed, assigned to nobody

[2022-02-26 12:07] Wedego commented on #4215
Der Hinweis an markanter Stelle zu Umlauten sollte IMO reichen. Damit kann man leben.
Ob Überspringen gut ist weis ich nicht genau.

[2022-02-26 12:20] m-vo commented on #4215
@Wedego Umlaute sind kein Problem, es betrifft nur Zeichen, die nicht als UTF-8 kodiert sind.

[2022-02-26 12:43] Wedego commented on #4215
Hi, die UTF-8 kodierung findet doch Systemintern statt oder irre ich da?

[2022-02-26 12:49] m-vo commented on #4215
Ich weiß nicht was du meinst? UTF-8 ist eine [Kodierung](https://de.wikipedia.org/wiki/Zeichenkodierung), also eine Konvention als welches Zeichen die vorliegende Bitfolge interpretiert wird.

[2022-02-26 13:25] Wedego commented on #4215
Kodierung ist schon klar, ich dache wenn es z.B. ein "ä" Unmlaut in einer Datei gibt wird das automatisch in UTF8 kodiert.

[2022-02-26 13:27] m-vo commented on #4215
Was heißt "ä"? Das ist ja bereits eine interpretierte Kodierung.

[2022-02-26 13:37] Wedego commented on #4215
Wenn aus z.B. einem "ä" in der DB ein "\\XCirgendwas wird warum auch immer, hat die Kodierung nicht funktioniert.
Aber wir reden wohl aneinander vorbei.

[2022-02-26 13:37] fritzmg commented on #4215
@Wedego this error can happen if you copy files between different filesystems.

[2022-02-26 13:39] Wedego commented on #4215
Yes, This error can appear when you copy files between different file systems.
Yes, that's probably how the actual error came about.

[2022-02-26 13:42] Wedego commented on #4215
Actually, in my case, two systems are excluded.
That's surprising. There were several files with umlauts and only two had the problem.

[2022-02-26 16:14] ausi commented on #4215
Which one would be bad experience?
Skipping non-utf-8 files and directories? (this is already the case in Contao 4.12-)
Or throwing an exception in Contao 5?

[2022-02-28 07:30] #4213 closed, assigned to nobody

[2022-02-28 07:49] leofeyer commented on #4130
There is another issue that has been reported:

Maybe we can improve that as well.

[2022-02-28 08:48] fritzmg commented on #4130
For BC it should be the other way around though. You can still change the default for your application via DCA adjustments, if you need to.

[2022-02-28 09:21] Toflar commented on #4173
I think this is a bug with the picker wizard. Any field can be disabled, not just the canonical ones.
We could simply check for `disabled` here https://github.com/contao/contao/blob/ed4ad4868b28b229830521292af37e222a5f62ed/core-bundle/src/Resources/contao/classes/DataContainer.php#L610?

[2022-03-01 05:56] aschempp commented on #4173
also, how does datepicker and colorpicker behave in this case?

[2022-03-01 05:58] aschempp commented on #4130
Just be aware that preview links always expire after a few days, so I don't think we need a hard BC here 😆

[2022-03-01 06:02] aschempp commented on #4205
see https://github.com/contao/contao/pull/4210

[2022-03-01 06:02] #4205 closed, assigned to nobody

[2022-03-01 06:20] aschempp commented on #4211
That's a good point as well, isn't it? Would you expect the (protected) 404 to be rendered?

---

I can confirm the problem out of my head, I know why that is happening. We switched from rendering the `Page` class to actually using the controller when rendering an error page. And the controller checks access permissions (which is correct imho).

I think we should discuss whether we want to allow t

[2022-03-01 06:21] aschempp commented on #4211
~Btw, if you place the 401 page _inside_ another protected page, wouldn't you have the same issue?~

Nevermind, you can/should only place error page below the root page 😅

[2022-03-01 06:25] aschempp commented on #4187
I agree, I did have the same issue the few times I used the crawler. I also think we can improve this in Contao 4.9 and not just Contao 5 (bug vs. feature).

[2022-03-01 06:43] aschempp commented on #4087
it has been fixed by https://github.com/contao/contao/pull/4106 😆

[2022-03-01 06:43] #4087 closed, assigned to aschempp

[2022-03-01 06:59] aschempp commented on #4104
aus meiner Sicht kann die Seite in dieser Konstellation nur aufgerufen werden, wenn dein Browser auch `NL` bevorzugt?

[2022-03-01 07:01] aschempp commented on #4104
Alternativ könntest du versuchen, bei der englischen Root-Seite die Option _Sprachweiterleitung deaktivieren_ zu aktivieren.

[2022-03-01 07:05] aschempp commented on #3999
yes, because the extension displays that. That's what I mean. Contao has no knowledge of a 410 error, therefore it can never generate a 410 error page. Any controller can send a `410` HTTP status, that does not mean Contao will render such an error page.

[2022-03-01 07:10] aschempp commented on #4110
I agree this is inconsistent, but I honestly think we should just keep it as is. Changing it would be a BC break and a major PITA for extensions to support. And (almost) no extension will ever use the same callback to register for multiple different datacontainer.

(Additional) events might "solve" this, but I still think we should first improve the DC or at least rethink our concept before adding

[2022-03-01 07:12] aschempp commented on #4176
isn't that the case in any other Contao version as well?

[2022-03-01 07:15] aschempp commented on #4092
from the forum post, maybe @Toflar or @ausi know more about this:

[code]

[2022-03-01 07:57] fritzmg commented on #4211
But that's wrong, you cannot set access protection on 401, 403 and 404 pages. It wouldn't make sense to do so, since these are system pages that need to be rendered in their respective use cases.

[2022-03-01 08:00] Toflar commented on #4092
The error message doesn't really help much because what it means is that **a different table** was locked before and no `UNLOCK TABLES` query was executed. It might have also been an extension that caused that bug.

If we don't get a description on how we can reproduce this bug, we have to close it.

[2022-03-01 08:02] fritzmg commented on #4130
But that has nothing to do with that?

[2022-03-01 09:43] GabysInstitut opened #4222 "Registrierung"
### Description

Es wäre ein grosser Vorteil, wenn man die Registrierungsseite so gestalten könnte wie die Formularseite.

Sprich (Pflicht)felder selbst aussuchen, eigene Werte etc. welche dann bei den Mitgliedern im BE editierbar sind.

Jeder der Mitglieder hat, hat auch eigene Belange. Immer!

Wenn das nicht machbar ist, wäre schon mal ein Vorteil, die bestehenden Felder Pflichtfeld ja/nein ausw

[2022-03-01 10:16] Toflar commented on #4173
They are always shown too just like the picker. So it's actually consistent at the moment (doesn't make it any better though).

[2022-03-01 10:29] theDyingMountain opened #4223 "Options Callback wird im Debug Modus nicht ausgeführt"
### Affected version(s)

4.13.0

### Description

Ein Options Callback, welcher über einen Listener mit Callback Annotation (`Callback(table="tl_member", target="fields.group_select.options")`) angelegt ist, wird im Debugmodus weder im FE noch im BE ausgeführt. Cache wurde mehrmals geleert, im Prod Modus funktioniert alles.

[2022-03-01 10:35] fritzmg commented on #4223
That seems more like a support question than a bug report (there is no`tl_member.group_select` in Contao). Please use the Contao community forum for that.

[2022-03-01 10:38] theDyingMountain commented on #4223
`group_select` is the name of my own field. See here https://docs.contao.org/dev/reference/dca/callbacks/#fields-field-options
In Production Mode everything works fine.

[2022-03-01 10:39] fritzmg commented on #4223
Please post on the community forum and provide more information about your field and the way you configured your registration form (or whichever front end module is involved).

[2022-03-01 10:48] theDyingMountain commented on #4223
Here is the link: [https://community.contao.org/de/showthread.php?82611-Options-Callback-wird-im-Debugmodus-nicht-ausgef%C3%BChrt&p=555721#post555721](https://community.contao.org/de/showthread.php?82611-Options-Callback-wird-im-Debugmodus-nicht-ausgef%C3%BChrt&p=555721#post555721)

[2022-03-01 15:38] #4223 closed, assigned to nobody

[2022-03-01 18:13] Total-Reality commented on #3999
Which extension? A white page is rendered by the hoster...

I don't understand this. I created a `PageError410 ` class which extends the Frontend, but I think I forgot sth. to display it...

To test the general behavior I changed this line:
https://github.com/contao/contao/blob/5.x/core-bundle/src/Resources/contao/pages/PageError404.php#L48

to:
`header('HTTP/1.1 410 Gone');`

If I open a 404 page

[2022-03-02 06:36] aschempp commented on #3999
How do you expect Contao to render a 410 page when your hoster sends a 410 status code? Have you ever tried to send a 404 from your .htaccess and have Contao render the error page?

[2022-03-02 06:44] aschempp commented on #4173
see https://github.com/contao/contao/pull/4225

[2022-03-02 06:44] #4173 closed, assigned to nobody

[2022-03-02 07:02] Total-Reality commented on #3999
Ah, okay. I understand the problem now. You are right, the 404 is rendered by the hoster then.
So we have no possibilty to set the 410 status via htaccess.

[2022-03-02 07:11] bennyborn commented on #3999
I have to disagree with @aschempp. No matter if locally or on a hoster, all-inkl in this case, adding a 404 redirect in htaccess will trigger Contao's 404 page:

[code]
But to be fair this does not seem to be the case for 410's. In order for them to work we had to define an ErrorDocument:

[code]

[2022-03-02 10:22] Total-Reality commented on #3999
If I put this line in the htaccess, it will result in a 404 page rendered by the hoster (webgo):
`Redirect 404 /de/not-found/`

https://www.fast-media.net/de/not-found/

Every other page which doesn't exist results in a 404 rendered by Contao:
https://www.fast-media.net/de/not-found2/

Perhaps I made sth. wrong?

[2022-03-02 10:45] fritzmg commented on #3999
I think you guys are misusing these Apache directives? The Apache directive

[code]

means that Apache will respond with a 404 status code, if the URL `/not-found` is accessed. Using it the way you guys are doing does not really make sense.

[code]

means that when a non-existing resource is accessed in a request, Apache will rewrite the URL internally to the given path. i.e. the contents of `/ind

[2022-03-02 11:34] bennyborn commented on #3999
@fritzmg You're right. I totally overlooked the important line in our .htaccess

[code]

Well, at least it shows it is technically absolutely possible to force Contao to render a 404 or 410. The latter would of course only be possible if Contao provided such a pagetype.

IMHO there should be no discussion about implementing such a type if there are already ways to trigger such pages albeit webserv

[2022-03-02 12:13] fritzmg commented on #3999
I do not know what you mean. The above directives are Apache specific and have nothing to do with Contao. Furthermore Contao supports the 404 page type natively, but not a 410 page type yet - which is what this issue is about.

Please keep the discussions about Apache directives separate and use an appropriate community for that. Otherwise it dilutes this issue with completely irrelevant comments.

[2022-03-02 12:33] bennyborn commented on #3999
Back to topic: I think there is an actual need for Contao to be able to generate a 410 page. If it isn't shipped with the Core it could be a simple `vendor/contao-410-page` package like suggested 👍

[2022-03-02 12:39] fritzmg commented on #3999
Of course there is? 404 is fully supported.

That statement is false. Any URL that is processed by the application will show the 404 page, if it cannot be matched in the router.

[2022-03-03 06:55] aschempp commented on #4211
Yes, but they currently inherit them. So we would need to figure out a way for `loadDetails` to not inherit protection settings for specific page types. Sounds difficult to me 🙊

[2022-03-03 07:41] fritzmg commented on #4211
But it already works in Contao 4.9?

[2022-03-03 07:47] #4086 closed, assigned to nobody

[2022-03-03 13:32] ausi commented on #2413
Related: https://github.com/ausi/slug-generator/issues/26

[2022-03-03 14:03] #3582 closed, assigned to aschempp

[2022-03-03 14:07] leofeyer commented on #3688
See #3890.

[2022-03-03 14:10] #3736 closed, assigned to nobody

[2022-03-03 14:15] #3933 closed, assigned to nobody

[2022-03-03 14:18] leofeyer commented on #4159
@ausi In https://github.com/contao/contao/pull/4179#issuecomment-1047658782 you wrote:

So is this what we have to do to improve the situation?

[2022-03-03 14:27] fritzmg commented on #4159
I'd say yes. I think @ausi is gonna follow up with an according PR for 4.9, based on our discussions & findings here and in https://github.com/contao/contao/pull/4179

[2022-03-03 14:53] #3985 closed, assigned to nobody

[2022-03-03 15:29] ausi commented on #4159
Yes.

Yes. I would only modify `tl_content` and `tl_module` though.

[2022-03-03 15:55] #4050 closed, assigned to nobody

[2022-03-03 16:16] #4206 closed, assigned to leofeyer

[2022-03-03 16:24] #3731 closed, assigned to nobody

[2022-03-03 16:36] #3547 closed, assigned to nobody

[2022-03-03 16:37] leofeyer commented on #3246
What exactly does your save_callback do?

[2022-03-03 16:45] leofeyer commented on #3988
I consider it bad practice to allow people to write news articles but not to handle comments on them. Then you should probably just disable the comments form completely.

[2022-03-03 16:46] koertho commented on #3246
I wrote this issue some months ago, don't know the exact reason anymore, but from the slack-thread I think I wanted to manipulate the palette on palette change? Maybe :)

But to be honest, this is not important, as this Issue can be summarized to a single question: should the save_callback be triggered on submitOnChange events?

[2022-03-03 16:57] #4016 closed, assigned to nobody

[2022-03-04 07:17] erikherbert opened #4238 "Element restriction by layout part for user groups/ users"
### Description

Content elements should not be restricted **in general** but **by layout area** (header, main, right column, ... ).

For example, a user can only use the text element in the right column, but all elements in the main column.

[2022-03-04 11:36] Aybee opened #4239 "js_autofocus no longer works for comments"
### Affected version(s)

4.13.0

### Description

The CSS class no longer is named "confirm" now it's named "tl_confirm".

https://github.com/contao/contao/blob/5.x/core-bundle/src/Resources/contao/templates/js/js_autofocus.html5#L4

You can extend this line in above template this way, then it will work again.
[code]

[2022-03-04 12:41] leofeyer commented on #4239
The JS is correct; the template should not assign the class `tl_confirm`.

[2022-03-04 12:55] fritzmg commented on #4239
Seems to have changed in Contao 4.2.1: https://github.com/contao/contao/commit/15eed8462da160035afb019da026204eb2b23977

[2022-03-04 14:00] leofeyer commented on #4239
Strange. We usually only use `.tl_` classes in the back end, so it should have been `.confirm`  in those templates.

[2022-03-04 14:04] fritzmg commented on #4239
Yes, I think the change was made erroneously. So all these templates should use `confirm` and the JavaScript can stay as is.

[2022-03-04 14:57] #4239 closed, assigned to leofeyer

[2022-03-07 09:04] leonexcc commented on #3782
I still think this is a bug. How can we get this confirmed. And would it help if i submit a pull request?

The fix itself is simple but i don't know if we can make unit tests for this and how.

[2022-03-07 10:04] Kahmoon opened #4242 "Inserttag "figure" is not creating responsive image code"
### Affected version(s)

4.12.x, 4.13.x

### Description

Using the inserttag "figure" ignores image sizes. The output is plain html image with full resolution but it should be responsive picture in different versions.
[code]

When i´m using the same image with picture tag, the output is fine.

**HTML Picture Tag using image settings ID40**
[code]

**HTML Figure Tag using image settings ID40**
`<f

[2022-03-07 10:08] m-vo commented on #4242
I don't see you setting any configuration such as the size in your examples. What size configuration would you expect?

Here is how the insert tag is supposed to work: https://docs.contao.org/manual/en/article-management/insert-tags/#miscellaneous

[2022-03-07 10:10] Kahmoon commented on #4242
I added the HTML code output and image settings above

I used the tags like in documentation described. I need "figure" tags because i want to user lightbox.

[2022-03-07 10:18] fritzmg commented on #4242
@m-vo  `size=40` (should) mean that the image size with ID 40 is used - which seems to work for the `{{picture::*}}` insert tag, but not for the `{{figure::*}}` insert tag.

[2022-03-07 10:19] bennie99 opened #4243 "User can reorder unapproved content elements"
### Affected version(s)

4.9 , 4.13

### Description

the problem is also described in this thread
[https://community.contao.org/de/showthread.php?80137-4-9-8-Benutzer-kann-Contentelemente-unerlaubterweise-umsortieren](https://community.contao.org/de/showthread.php?80137-4-9-8-Benutzer-kann-Contentelemente-unerlaubterweise-umsortieren)
Is that a bug?
In my opinion, banning an element should mean t

[2022-03-07 10:19] Kahmoon commented on #4242
Yes, sorry. This is the id for my image settings

<img width="902" alt="Bildschirmfoto 2022-03-07 um 11 14 25" src="https://user-images.githubusercontent.com/6390770/157012631-dea974dc-2671-4a48-b67d-9775c2a1551f.png">

[2022-03-07 10:21] fritzmg commented on #3782
Yes :)

I don't think this particular class is covered by a unit test. In any case we can then help. Also keep in mind that the same adjustment might be necessary for the 403 and 404 page types as well.

[2022-03-07 10:22] m-vo commented on #4242
I can confirm the behavior. It seems we broke `parseUrlWithQueryString()` due to encoded entities. :see_no_evil:
Urls now look like this `71f7e841-8c0c-11ec-9ef5-631784228eb8?size&#61;test` and parsing them results in empty values.

/cc @ausi

[2022-03-07 10:43] ausi commented on #4242
~~In which version did this break?~~ _with the XSS security fixes._

Solution may be to add support for `&#61;` here?
https://github.com/contao/contao/blob/dba2cf227e062bfc06e6b8c1a2c52c8df4fbb21b/core-bundle/src/Resources/contao/library/Contao/InsertTags.php#L1288-L1289

[2022-03-07 10:57] m-vo commented on #4242
see #4245

[2022-03-07 12:09] Aybee commented on #1928
Had the same problem. I removed
`ExpiresDefault "access plus 1 month"`
from my htaccess. This seems to help.

[2022-03-07 12:13] fritzmg commented on #1928
@Aybee you should create a separate issue about this.

[2022-03-08 08:20] erikherbert opened #4246 "Backend Select with Icons"
### Description

<img width="964" alt="Selects2022" src="https://user-images.githubusercontent.com/1622733/157195480-c57aefda-5da6-40c3-97b7-a90d3d7804bb.png">

After working with Wordpress Elementor for a while and being very satisfied with the graphical workflow, I asked myself whether it wouldn't make sense to also store an icon for some selections in the backend (svg, 35x35px)

[2022-03-08 08:23] aschempp commented on #4246
That looks nice! I've seen something like that from @qzminski a while ago, maybe he has some input?

[2022-03-08 08:26] asaage commented on #4246
duplicate of https://github.com/contao/contao/issues/721

[2022-03-08 08:28] erikherbert opened #4247 "Open/ Close Icon consistency"
### Description

<img width="652" alt="OpenClose" src="https://user-images.githubusercontent.com/1622733/157196972-7fe2ec7e-d4ca-4971-b987-5f53d4511c2f.png">

During a training session, the editor pointed out that two different icons were used for the functionality of open and close.

[2022-03-08 09:00] fritzmg commented on #4247
I disagree with changing this. ▶️/🔽 and similar is most often associated with opening/closing accordions, sections and the like. And historically I think ➕/➖ was most often used for tree structures. If anything I would do it the other way around, i.e. using ▶️/🔽 for everything, imho.

[2022-03-08 09:01] #4246 closed, assigned to nobody

[2022-03-08 09:18] rorych commented on #4161
Is there any update here or is it currently not possible to use "prepend_locale" without changing to the new routing_mode?

[2022-03-08 09:42] leofeyer commented on #4247
I disagree as well. The icons do have the same **functionality**, however, they do not have the same **meaning**.

Nested data structures are often represented in a tree. The plus icon then **means** _there are more nested nodes under this node_. Examples:

![](https://user-images.githubusercontent.com/1192057/157210173-d5a7e274-3b54-434f-9602-b856afc6dca0.png)

In contrast, the arrow icon is usua

[2022-03-08 09:55] fritzmg commented on #4161
@rorych just do the following:

[code]

Using `parameters.prepend_locale` is deprecated.

[2022-03-08 10:19] m-vo commented on #4247
True, but this is more about consistency/coherence. Having the same or a very similiar icon mean something different depending on the context is the actual problem. For Contao that is: expand or toggle / add new / copy.

(Team arrows for file trees btw. :smile:)

![image](https://user-images.githubusercontent.com/5305677/157215759-692776e0-dcca-48d9-9763-4e6de6490451.png)

[2022-03-08 10:39] erikherbert commented on #4247
https://user-images.githubusercontent.com/1622733/157220082-56e07183-140c-490e-8e2c-df2b4beb3282.mp4

(Team arrows for file trees now also 😄)

"+" means more add new

[2022-03-08 10:44] #4242 closed, assigned to nobody

[2022-03-08 10:53] leonexcc commented on #3782
I checked the other page types, but they don't send the original page with the redirect. This is only done from the 401 to redirect back in the login module.

[2022-03-08 14:17] ben-eSM opened #4249 "Revamp backend list search"
### Description

My clients and myself often find using the backend search in listings a bit cumbersome. First you have to select the search field in the dropdown, then you have to type in the keywords and submit the search. Only then you know if there is a match. Sometimes you know the keyword, which could be present in multiple fields, covered by the search. In that case you have to switch the f

[2022-03-09 09:56] #3782 closed, assigned to nobody

[2022-03-09 10:53] frontendschlampe opened #4253 "Exception "No columns specified" after updating to 4.9.27"
### Affected version(s)

4.9.27

### Description

After updating to 4.9.27 I got the following error in Install Tool:

[code]

We found it in https://github.com/contao/contao/pull/4233

I talked to @discordier and MM uses this function since the beginning of Catalog. That's a problem if it's changed now. :-/

/cc @zonky2

[2022-03-09 12:24] ausi commented on #4253
How do the arrays `$GLOBALS['TL_DCA']['tl_metamodel_item']['config']['sql']` and `$GLOBALS['TL_DCA']['tl_metamodel_item']['fields']` look like in your case?

[2022-03-09 12:42] ausi commented on #4253
Removing the following lines should fix the issue I think: https://github.com/MetaModels/core/blob/ffbf7e27ca2c91096aa9ecbe813409347184dcfc/src/CoreBundle/Resources/contao/dca/tl_metamodel_item.php#L69-L84

[2022-03-09 12:46] ausi commented on #4253
But we could also move the following code after the foreach block and check if `$this->arrFields` is empty then...
https://github.com/contao/contao/blob/2f4670d051e4500cdd035b4cefd4c40f99b7aeb0/core-bundle/src/Resources/contao/library/Contao/DcaExtractor.php#L559-L565

[2022-03-09 13:53] frontendschlampe commented on #4253
there're some more extensions with problems https://contao.slack.com/archives/CK4J0KNDB/p1646833807239659

[2022-03-09 14:08] fritzmg commented on #4253
The error also happens with other custom data containers without any SQL definitions: https://github.com/numero2/contao-marketing-suite/blob/eebec121d8561d5ec98f5dd0a2cd1fa5e95220ed/src/Resources/contao/dca/tl_cms_facebook.php

I still think that `$this->blnIsDbTable` should only be `true` if `config.sql` or `fields.<field>.sql` is set.

[2022-03-10 09:00] koertho commented on #3246
I just read the old slack thread a little more carefully and I think I wanted to evaluate if the value of the login field was changed in tl_member.

[2022-03-10 14:23] leofeyer commented on #4211
As discussed in the Contao Call, the `PrettyErrorScreenListener` should set `$model->protected = false` when rendering an error page.

[2022-03-10 14:38] leofeyer commented on #4142
As discussed in the Contao call, we want to wrap the insert tag in a try/catch-block and add a log entry if the URL cannot be generated.

[2022-03-10 14:45] leofeyer commented on #4130
As discussed in the Contao call, we want to limit the preview URL to a single site and add a checkbox to optionally grant access to the whole site. A separate listener can check these permissions and can also check if the preview URL has been disabled.

[2022-03-10 15:14] #4108 closed, assigned to aschempp

[2022-03-10 15:26] leofeyer commented on #3818
As discussed in the Contao call, we should render the fields alphabetically by label ("English", "German", "Polish") but store them by language code ("de", "en", "pl"). The language that matches the back end user's language shall be on top.

[2022-03-10 15:42] leofeyer commented on #3999
As discussed in the Contao call, we could add a "gone" checkbox to regular pages and throw a `GoneException` if the page is rendered. Then a new error_410 page could be triggered.

[2022-03-10 16:01] leofeyer commented on #3826
As discussed in the Contao call, we want to add the until/from information in grey as a first step.

[2022-03-10 16:39] aschempp commented on #4108
https://github.com/contao/contao/pull/4256 could be a solution to this.

instead of your initial example

[code]

the code would then look like this:

[code]

This will not work with fragments that "require" ESI, but I suppose that would not be your problem since ESI can never be generated "on the fly".

[2022-03-10 16:39] aschempp commented on #4108
Btw. you can also manually do the 2 lines of code from #4256 just to try it 😉

[2022-03-10 17:19] aschempp opened #4257 "Conflicting Controller::reset method"
### Affected version(s)

4.9.27

### Description

in https://github.com/contao/contao/pull/4091 we added a new `public static reset()` method to `Controller` to reset the internal class properties on kernel shutdown. Unfortunately, this `reset` method might exist in a lot of other classes that _due to the Contao "default"_ inherit from `Controller`. Isotope for example does in https://github.com/i

[2022-03-11 08:04] ausi commented on #2201
I think we need to implement the fix from https://github.com/contao/contao/issues/2201#issuecomment-950293871

[2022-03-11 08:24] Aybee commented on #4239
Thanks 👍

[2022-03-11 08:51] ausi commented on #4257
How about `resetControllerCache()` or `resetContaoControllerCache()` ?

[2022-03-11 10:38] michb opened #4258 "Ids stored in session will be changed in checkPermission in dca picker for non-admins"
### Affected version(s)

4.9 and 4.13

### Description

In short the problem has to do with the approach that the currently used `id`s for some action are stored in `$session['CURRENT']['IDS']` and the `checkPermission` callback also works with and changes this data if we are in the dca picker for non admin users to check permissions for an other table.

I produce the problem in our contao install

[2022-03-11 11:15] michb commented on #4108
This solution definitely adds some possibilities but it doesn't work for legacy elements.
This will work for content elements of `type` `markdown` and `template` but it fails e.g. for `image` with this error:
[code]
As only these content elements are added to the `Contao\CoreBundle\Fragment\FragmentRegistry`.

[2022-03-11 12:07] fritzmg commented on #4108
@michb for legacy elements/modules you still need to do it this way:

[code]

[2022-03-11 14:17] contaoacademy commented on #4092
Hatte Kontakt mit TS16V. Das Problem, dass der Index nicht aufgebaut wurde, scheint nun behoben. Es war ein zu langer Titel bei einem Seitentitel hinterlegt. Denke, das Ticket kann erst mal geschlossen werden.

[2022-03-11 14:20] aschempp commented on #4108
yeah, it only works for fragment controllers. But I would assume your code knows about the type of element you're manually creating?

[2022-03-11 14:23] michb commented on #4108
It's fine like this. Just wanted to state what is possible and for later reference.

[2022-03-11 16:22] #4092 closed, assigned to nobody

[2022-03-12 10:29] contaoacademy opened #4260 "Search crawler hangs if the page title is too long"
### Affected version(s)

4.13

### Description

If you use a very long page title, the search crawler hangs and throws the following error in the debug log:

`An exception occurred while executing a query: SQLSTATE[22001]: String data, right truncated: 1406 Data too long for column 'title' at row 1`

### Steps to reproduce:
1. create new news post
2. assign extremely long news title (256 character

[2022-03-12 11:02] contaoacademy commented on #4092
see #4260

[2022-03-12 11:20] fritzmg commented on #4260
The news headline is limited to `255` characters, so that is not directly the issue. Also this issue is likely reproducible in Contao 4.9 as well?

[2022-03-12 11:53] fritzmg commented on #4260
I can confirm this issue in Contao 4.9 - though not for the `title` field, but for the `url` field:

[code]

I think `tl_search.title` and `tl_search.url` should be of type `TEXT` instead of `VARCHAR(255)` as both of these are potentially much longer than 255 characters. @ausi wdyt?

// edit: although `tl_search.url` has an index, so I am not sure about any performance implications.

[2022-03-12 22:57] #3587 closed, assigned to nobody

[2022-03-13 12:59] ausi commented on #4260
Agree for `tl_search.title`.

For `tl_search.url` we should set it to `VARCHAR(768)` which is the highest value that is supported for UNIQE keys (for all charsets) AFAIK.

[2022-03-13 14:31] ausi commented on #4154
Closed in favor of #4265

[2022-03-13 14:31] #4154 closed, assigned to ausi

[2022-03-13 14:37] fritzmg commented on #4260
How should we handle longer URLs though? Really long URLs are likely to be an edge case - but still... we did after all increase `tl_content.url` to a length of `2048` recently as well.

We could just let the indexer run into the exception. The crawler will finished in any case and make a debug log entry accordingly.

Btw. in truth I haven't _really_ been able to reproduce the original issue as I

[2022-03-13 14:43] Toflar commented on #4260
We could add another column where we'd store a hash of the URL for duplicate lookups (with an index) and have the url itself be a regular text field.

[2022-03-13 15:21] ausi commented on #4260
If we want to support longer URLs we should use `VARCHAR(2048) COLLATE ascii_bin` and check if the URLs are properly URL-encoded when inserting them.

[2022-03-13 15:23] fritzmg commented on #4260
Will that work for URLs like `http://example.com/某物-中国人`?

[2022-03-13 15:25] ausi commented on #4260
Yes: `http://example.com/%E6%9F%90%E7%89%A9-%E4%B8%AD%E5%9B%BD%E4%BA%BA`

[2022-03-14 16:50] leofeyer commented on #4169
I tried using flexbox, too, however, this is why I haven‘t implemented it:

<img width="1028" alt="" src="https://user-images.githubusercontent.com/1192057/158220727-193cdef9-48ac-45fe-a002-d9bca231b364.png">

With your changes:

<img width="1029" alt="" src="https://user-images.githubusercontent.com/1192057/158220761-3464dfa9-eb07-4963-8233-76695857ef01.png">

Ideally, the browser should only sho

[2022-03-14 17:00] #4160 closed, assigned to nobody

[2022-03-14 17:02] ausi commented on #4169
Like so?

[code]

[2022-03-14 17:03] #4097 closed, assigned to nobody

[2022-03-14 17:06] #4066 closed, assigned to nobody

[2022-03-14 17:24] #4169 closed, assigned to nobody

[2022-03-14 17:43] #4176 closed, assigned to nobody

[2022-03-15 00:04] Aybee commented on #1703
Also ich würde hier erstmal das `role="tablist"` hinzufügen. Das ist beim originalen jQuery Accordion auch mit dabei. Bei uns wird es nicht aufgesetzt, weil das Accordion mit
`$(document).accordion({...`
anstatt mit
`$('.ce_accordion').accordion({...`
initialisiert wird.

Mein Vorschlag (habe die fehlenden Klassen auch noch hinzugefügt):
[code]

Hintergrund: Ich hatte gerade nen Kunden, der hatte

[2022-03-15 08:12] #4128 closed, assigned to nobody

[2022-03-15 08:34] #4177 closed, assigned to nobody

[2022-03-15 08:41] #4172 closed, assigned to nobody

[2022-03-15 08:56] Ainschy commented on #4104
Leider bringt das Aktiveren der Option nicht den gewünschten Erfolg. Damit "fäng" der englische Seitenbaum nicht mehr die Anfragen eines z.B. deutschsprachigen Nutzers.

Die NL Startseite (mit dem index Alias) kann ich aus dem Backend über die Vorschau nicht aufrufen um mir diese anzuschauen und ggf. mittels Frontend-Editor zu bearbeiten.

Auch die Change-Language Erweiterung "funktioniert" in die

[2022-03-15 10:05] anuijen opened #4276 "Creating a second starting point of a website not possible"
### Affected version(s)

4.13.0

### Description

I have installed Contao 4.13.0 and would like to create a multilingual page. There is already a "de" starting point and several pages contained in it. It is not possible to create a second starting point for "en". This error message is displayed:

`Argument 1 passed to Contao\CoreBundle\Util\LocaleUtil::formatAsLocale() must be of the type string,

[2022-03-15 10:18] leofeyer commented on #4276
It seems to work on my system. What exactly did you do and do you have any third-party extensions installed?

[2022-03-15 10:20] rabauss opened #4277 "Flysystem cannot handle file symlinks"
### Affected version(s)

4.13.0

### Description

Unfortunately, the implementation with flysystem cannot handle file symlinks in `files` which we created successfully in previous versions.

I'm getting the following error:
[code]
Although the `<target file of symlink>` exists!

Here is the call stack while running `php vendor/bin/contao-console contao:migrate -vv --no-backup`
[code]

[2022-03-15 10:27] fritzmg opened #4278 "Dumper::formatValueForDump() Argument #1 ($value) must be of type ?string, int given"
### Affected version(s)

4.13.x-dev

### Description

When using `contao:migrate (or `backup:create`) the following error happens in Contao `4.13.x-dev`:

[code]

The column in question is `tl_article.id` and the value to be formated is an integer of value `1`. This error was introduced in https://github.com/contao/contao/commit/52753e05c0efdcb6a6cb28e2c75665d544ece208

/cc @Toflar

[2022-03-15 10:28] bytehead commented on #4277
Should possibly be fixed with https://github.com/contao/contao/pull/4141.

[2022-03-15 10:28] Toflar commented on #4278
How come you have an integer there? Can you debug this? Database values are always transferred as strings.

[2022-03-15 10:29] bytehead commented on #4277
/cc @m-vo

[2022-03-15 10:47] leofeyer commented on #4278
Turns out to be a new behavior of the PDO driver in PHP 8.1: https://github.com/doctrine/dbal/issues/5228

[2022-03-15 11:07] fritzmg commented on #4276
This is likely caused by an extension, e.g. https://github.com/terminal42/contao-folderpage/issues/23

[2022-03-15 11:27] anuijen commented on #4276
@fritzmg Thanks for the tip. The reason was indeed the Contao Folder Page extension.

[2022-03-15 11:27] #4276 closed, assigned to nobody

[2022-03-15 11:28] sietsevandreven commented on #2455
I came across this issue again. Unfortunately it hasn't been fixed yet. How I expect it to work is that an event becomes invisible when the end time is passed. If no time is specified, the current day's event should be visible until the day is over. If the end time is passed the event should be visible in the past events setting.

It's a really annoying problem and I hope it can be fixed soon.

[2022-03-15 12:16] jxns commented on #2670
Still fighting with this issue. What would you suggest how to investigate why the session cookie gets set to deleted?

[2022-03-15 14:42] #4278 closed, assigned to nobody

[2022-03-15 20:03] green-pixelbox opened #4284 "installtool lässt sich nach update auf 4.13.1 nicht mehr ausführen"
### Affected version(s)

4.13.1

### Description

wenn ich ein update von 4.13.0 auf 4.13.1 im contao manager mache kann ich anschliessend das installtool nicht mehr ausführen. Wenn ich anschliessend auf 4.13.0 downgrade ist die fehlermeldung wieder verschwunden und das installtool läuft wieder. hier die fehlermeldung aus der log:
[2022-03-15T20:46:51.995328+01:00] request.INFO: Matched route "con

[2022-03-15 20:05] aschempp commented on #4284
duplicate of https://github.com/contao/contao/issues/4253

[2022-03-15 20:05] #4284 closed, assigned to nobody

[2022-03-15 22:36] CMSworker opened #4286 "Remove title tag within sources in ce_player (video/audio)"
### Affected version(s)

4.13.1

### Description

ce_player outputs file titles within the souces tags.

I think the titles are useless here and can be removed...

Video sources (line 9):
https://github.com/contao/contao/blob/f00c0ad6035b09e935bcbeab00b10b0f5b19154d/core-bundle/src/Resources/contao/templates/elements/ce_player.html5#L9

Audio sources (line 9):
https://github.com/contao/contao/blob

[2022-03-16 10:43] fritzmg commented on #4286
The `title` attribute can be used on any element iirc. However, its usage is discouraged and I also question whether it makes sense to use it on the `<source>` element rather than the `<video>` element at all.

[2022-03-16 14:42] m-vo commented on #4277
See #4292 for a solution. But keep in mind that this will only prevent the error from happening in the compiler pass. The actual file won't appear in the virtual filesystem and thus also not in the DBAFS. This is because Flysystem itself does not support symlinks - you can read about the reasons here: https://github.com/thephpleague/flysystem/issues/599

[2022-03-16 14:42] #4277 closed, assigned to m-vo

[2022-03-16 21:52] sdahlmann commented on #4253
I have a problem with Contao 4.13.1 LTS and the "Contao Marketing Suite" and updating the MySQL-databank. The support from the Contao Marketing Suite say, the problem is in the Contao Core. See: https://github.com/contao/contao/issues/4253.
Error in Contao-Logfile:
[2022-03-15T16:49:28.703187+01:00] request.INFO: Matched route "contao_install". {"route":"contao_install","route_parameters":{"_route

[2022-03-17 06:55] aschempp commented on #4257
see https://github.com/contao/contao/pull/4294

[2022-03-17 06:55] #4257 closed, assigned to nobody

[2022-03-17 10:06] aschempp commented on #4243
you can always reorder unapproved by moving approved, so I think there is no point in disallowing that 🤷

[2022-03-18 11:03] frontendschlampe commented on #4253
Using the `DcaExtractor.php` from https://github.com/contao/contao/pull/4285 it seems to be solved. No error in install tool.

thx

[2022-03-18 14:13] #4253 closed, assigned to nobody

[2022-03-18 16:43] leofeyer commented on #4182
@Mynyx Please create the issue in the https://github.com/contao-components/tinymce4 repo. I cannot transfer the issue to another organization, otherwise I would have done that for you.

[2022-03-18 16:43] #4182 closed, assigned to nobody

[2022-03-18 17:57] ausi commented on #2201
Closed in favor of #4299

[2022-03-18 17:57] #2201 closed, assigned to nobody

[2022-03-20 11:49] ausi commented on #4185
Can confirm the issue. After follwing the steps from https://github.com/contao/contao/issues/4185#issuecomment-1047918778 I get the error `There is currently no session available.`

[2022-03-20 13:55] Mynyx commented on #4182
See https://github.com/contao-components/tinymce4/issues/2

[2022-03-20 15:56] aschempp commented on #2862
@bytehead I guess this has already been fixed?

[2022-03-20 21:36] bytehead commented on #2862
Not yet 😬

[2022-03-21 11:59] leofeyer opened #4309 "Image-related deprecations"
### Description

https://github.com/contao/contao/blob/d7ccb031e5f89e560cc6d1bd30b420f308891a14/core-bundle/src/Image/ImageFactory.php#L290

https://github.com/contao/contao/blob/d7ccb031e5f89e560cc6d1bd30b420f308891a14/core-bundle/src/Image/ImageSizes.php#L120

https://github.com/contao/contao/blob/d7ccb031e5f89e560cc6d1bd30b420f308891a14/core-bundle/src/Image/LegacyResizer.php#L49

[2022-03-21 12:01] leofeyer opened #4310 "Dbafs-related deprecations"
### Description

https://github.com/contao/contao/blob/d7ccb031e5f89e560cc6d1bd30b420f308891a14/core-bundle/src/Filesystem/Dbafs/Dbafs.php#L726

[2022-03-21 12:15] fkaminski opened #4312 "Implementation of HTML <dialog> element"
### Description

For easy creation of modal content, support for this HTML <dialog> element would be helpful.

You can certainly implement this currently with template changes,
but direct support would be more optimal (Although I don't know how this could be implemented).

- Set various Contao content elements within `<dialog> ... </dialog>`
- Including forms (these then need `method="dialog"` )

[2022-03-21 14:02] bytehead commented on #3998
This will be fixed by #4303.

<img width="401" alt="Bildschirmfoto 2022-03-21 um 15 01 11" src="https://user-images.githubusercontent.com/754921/159277354-fcd0fd25-5e97-42cf-af34-373a8eaa4473.png">

[2022-03-21 14:02] #3998 closed, assigned to bytehead

[2022-03-21 16:48] ausi commented on #4309
Closed in favor of #4328

[2022-03-21 16:48] #4309 closed, assigned to ausi

[2022-03-21 17:27] #3095 closed, assigned to nobody

[2022-03-21 17:40] bytehead commented on #2862
Closed in favor of #4303

[2022-03-21 17:40] #2862 closed, assigned to aschempp

[2022-03-22 00:36] m-vo commented on #4310
see #4344

[2022-03-22 00:36] #4310 closed, assigned to m-vo

[2022-03-22 10:21] jankout commented on #4253
I have probably the same issue after I updated 4.13.1

[code]

[2022-03-23 09:50] havutcuoglu commented on #4159
I have the same problem with the row size

`Syntax error or access violation: 1118 Row size too large. The maximum row size for the used table type, not counting BLOBs, is 65535. This includes storage overhead, check the manual. You have to change some columns to TEXT or BLOBs`

It happens only by tl_content
[code]
I changed the value back to varchar(255) to finish the update.

Question: When will

[2022-03-23 13:16] mafudelaptu commented on #4185
Also happens if you want to regenerate the sitemap.xml via maintenance page in backend. :(

Contao Version: 4.13.1

[2022-03-23 15:34] ausi opened #4380 "Remove or deprecate orderField for fileTree as well"
### Description

As discussed when reviewing #4367 we should remove/deprecate the `orderField` from the gallery file tree too. This can be done by including both, directory and file hashes in the multiSRC field (in the correct order).

[2022-03-24 06:39] havutcuoglu commented on #4127
This Bug is also exist in version 4.13.1

Steps:
- Create a new page
- Add page name
- Select custom canonical URL
- Save
- Error: `Cannot load record "tl_page.id=5"`

[2022-03-24 07:34] havutcuoglu opened #4382 "Canonical Query Parameter has no effect"
### Affected version(s)

4.13.0 and 4.13.1

### Description

The canonical tag does not work correctly. The information entered is partially ignored or, depending on what is entered in the URL field, can lead to incorrect frontend output.

**Issue 1:** No matter how you specify query parameters, they are ignored. Whether you select an external or internal page URL, the query parameters in the form

[2022-03-24 07:40] Toflar commented on #4382
I cannot confirm issue 1: If I configure `page*,foo`, then call https://demo.contao.org/en/about-contao.html?test=true&foo=bar&page_42=true, I do get the correct, expected `<link rel="canonical" href="https://demo.contao.org/en/about-contao.html?foo=bar&page_42=true">`.

I can confirm the second issue, though. We should probably only allow absolute URLs in the input field (plus insert tags).

[2022-03-24 07:47] Toflar commented on #4382
@contao/developers we already do handle it. https://github.com/contao/contao/blob/4.13/core-bundle/src/Routing/ResponseContext/CoreResponseContextFactory.php#L98. But if you enter `www.foobar.com` you'll get that prefixed with the current request. Not sure if we should even try to fix anything or that's just a wrong usage. We don't have a validator for absolute URLs afaik.

[2022-03-24 08:20] havutcuoglu commented on #4382
Ok. I tried now `page*,foo ` on page Text Elements, I did not get any effect. Than I call the URL including parameter, than I can see the changes. That means, I have to add on my URL the parameter `?foo=goo` also to check the functionality and add `page*` for the field query parameter in backend. This is not intuitive.

It's correct, when I add a custom domain and the query parameter, and the para

[2022-03-24 08:27] havutcuoglu commented on #4382
I forget, for external URLs it will be helpfuly to add in description a example text like "add external URL with http:// or https://"

[2022-03-24 08:30] Toflar commented on #4382
The canoncial link always points to the same page without query parameters. That's the whole idea of the canonical implementation. Most of the query parameters are used to filter results on a page and are irrelevant for search engines, hence the canoncial link. Think of `products.html?page=1`, `products.html?page=2` etc. Those are pagination parameters and we don't want those pages indexed by sear

[2022-03-24 08:54] fritzmg commented on #4382
@Toflar we do, its rgxp is called `httpurl`. It does not allow insert tags though, iirc.

May be we should parse the entered URL and prepend scheme and/or. host automatically.

[2022-03-24 08:55] havutcuoglu commented on #4382
Thanks a lot. But I am using already a extension for canonical who filters the page, day, week, month, year etc. all contao used parameters and only have two fields where I can enter my custom URL including parameters and select it is external URL.
I just wanted to use the one from Contao so that I don't have to worry about maintenance for my own extension.

[2022-03-24 13:42] peter-gorn opened #4384 "Dateiverwaltung - Ordner mit Sonderzeichen kopieren"
### Affected version(s)

4.9

### Description

Hallo,
mir ist ein kleiner Bug beim Kopieren der Ordner in der Dateiverwaltung aufgefallen. Wenn der Ordner-Name beispielsweise Leerzeichen enthält, wird der paste-Icon des zu kopierenden Ordners nicht grau. Beim Versucht den Ordner in sich selbst zu kopieren (macht zwar kein Sinn und ist falsch, aber möglich :) ) gibt es dann den entsprechenden Kopie

[2022-03-24 14:34] ausi commented on #4382
`www.foobar.com` is a relative URL, so normalizing it to `https://example.com/www.foobar.com` is correct IMO.

Maybe we should change https://github.com/contao/contao/blob/23b6373c8a52b576911ef4acc53de209f7ef7fe2/core-bundle/src/Resources/contao/languages/en/tl_page.xlf#L147 to something like “Here you can set a custom canonical URL like https://example.com/.”

[2022-03-24 14:44] fr4nk2342 opened #4385 "TinyMCE german translation"
### Affected version(s)

4.13

### Description

Headline is translated somewhat unusually. "Headline" should better be "Überschrift" instead of "Kopfzeile".

![Screenshot 2022-03-24 153753](https://user-images.githubusercontent.com/7665987/159941387-6af2ddbb-0482-4352-9e64-4abd081c0aea.jpg)

[2022-03-24 14:59] havutcuoglu commented on #4382
If you use a checkbox or selection for external/internal Links, you can parse the url string and manipulate it. You can also add and/or sheme.

[2022-03-24 15:09] de-es commented on #4385
Ist mir auch schon aufgefallen. Leider ändert auch ein (manuelles) Update der Übersetzungen der aktuellen TinyMCE-Version (6.0) nichts daran, auch hier heisst es weiterhin Kopfzeile.

Stellt sich die Frage, ob es sinnvoll wäre, über Transifex bei TinyMCE eine Änderung vorzuschlagen?

[2022-03-24 16:35] fritzmg commented on #4385
Yes, you need to raise this issue with TinyMCE, not here in Contao.

[2022-03-24 16:35] m-vo opened #4386 "Add shared max age to response by default"
### Description

[code]

To disable you can still override the method with a no-op in your controller class.

[2022-03-24 17:33] fritzmg opened #4387 "Cannot set additional headers for crawler"
### Affected version(s)

4.9, 4.13, 5.x

### Description

Currently it is only possible to set additional [HTTP Client Options](https://symfony.com/doc/current/reference/configuration/framework.html#reference-http-client) that are scalars. But you cannot set options that are arrays, like additional headers. For instance, the following will not work:

[code]

The error will be:

[code]

I think we

[2022-03-24 19:03] aschempp commented on #4386
This would break any existing cache information in the response.

[2022-03-24 20:04] cliffparnitzky commented on #4384
Can confirm. Same with Contao 4.13.1.

Using the button ends with an internal error.

[2022-03-24 20:44] de-es commented on #4385
Dort darauf Einfluss nehmen zu wollen, gestaltet sich schwierig: This project currently does not accept new members. :disappointed:

[2022-03-25 07:35] denniserdmann opened #4388 "Preview-Links: Expiration in Days - Never"
### Description

In order to get rid of a htpasswd for staging environments, i started to use the system maintenance. But as of Contao 4.13, you can't send a client a backend user + password anymore to give him access to the frontend.

Instead you can use the preview links, but have to adjust the expiration date every month, as the maximum value is 30 days. If we have an option Expiration: „Never“

[2022-03-25 07:41] aschempp commented on #4388
I agree this might be inconvenient, but having a non-expiring access is a security risk imho and should not be allowed. For such cases, having a back end user still works as it did previously. A backend user can have 2FA enforced etc, a preview link URL could accidentally be shared (e.g. through a public WLAN)!

[2022-03-25 07:48] fritzmg commented on #4385
You can still raise the issue on GitHub.

[2022-03-25 08:30] denniserdmann commented on #4388
Ah, you're right. In older versions, i was sending the client to directly to the frontend, which is in Contao 4.13 saying, that the service is not available. But if i give him domain.com/preview.php/, it's working as expected.

Thanks for clarifying that.

[2022-03-25 08:30] #4388 closed, assigned to nobody

[2022-03-25 09:08] Toflar commented on #4387
Maybe we can even forward somehow? Just to cover the case of Symfony adding a new option and we're missing it. But otherwise we might as well just copy, yeah.

[2022-03-25 09:33] de-es commented on #4385
Das scheint aber vergebliche Liebesmüh zu sein, wenn ich mir die Tickets bzgl. Übersetzung dort anschaue.

Wenn gewünscht, kann ich gerne einen Pull Request für die Contao Components erstellen, auch wenn das nicht der perfekte Weg zur Lösung ist.

[2022-03-25 10:28] fritzmg commented on #4385
You should still do it.

[2022-03-25 10:29] fritzmg commented on #4387
By copy I meant that may be we can somehow programmatically copy the configuration subtree from the existing one? Never tried that before.

[2022-03-25 10:39] ausi commented on #4127
@havutcuoglu can you please verify if the changes from #4366 fix your issue?

[2022-03-25 12:02] havutcuoglu commented on #4127
@ausi I tried the changes in 4.13.1 now and it works wonderfully.
Only things it doesn't looks nice is the empty entry in simple modal body. Check the screenshot below.

You can hide this entry with `.tl_listing ul li.draft {display: none;}` in `core-bundle/src/Resources/contao/themes/flexible/main.css`

Thank you very much!

![empty-entry](https://user-images.githubusercontent.com/11348417/160117

[2022-03-25 12:13] Toflar commented on #4387
I have afaik, I'll check that :)

[2022-03-25 12:26] mpitz opened #4389 "Image Studio (inline): LinkAttribute and options have no effect"
### Affected version(s)

4.13.1

### Description

The way described in the documentation (https://docs.contao.org/dev/framework/image-processing/image-studio/#php-templates under **2. Inline**) does not work if you want to take usage of `options`:

[code]

If you want to use the setAttribute in the configuration array, that doesn't work either. You'll get a `NoSuchPropertyException`:

[2022-03-25 14:44] leofeyer opened #4390 "Merge auto-submit versions?"
### Description

As discussed in #4236, we might want to merge auto-submit versions if we can come up with a good strategy.

[2022-03-25 17:30] #4211 closed, assigned to aschempp

[2022-03-25 18:48] aschempp commented on #4386
That is very bad UX. My controller returns a **custom** response, and I still have to override the method to not have my "already correct" response modified? That makes no sense.

[2022-03-25 20:08] m-vo commented on #4386
Didn't we discuss this already and decided this was the way to go for 5? IIRC the reasoning was: in general there is no reason not to use the feature. With the current approach, everyone has to manually add this nearly every time.

[2022-03-26 07:40] fabpot commented on #4014
See https://github.com/symfony/symfony/pull/45793 (which will be part of Symfony 6.1).

[2022-03-27 20:43] ausi commented on #4159
Done in https://github.com/contao/contao/pull/4179#issuecomment-1080014396