[2020-02-26 09:42] aschempp opened #1405 "Debug Mode menu item is never active"
when enabling the debug mode, the _Debug Mode_ does not change state. If the debug mode is active, the menu item should be active as well. This was the case but seems lost in the new menu implementation in Contao 4.9

[2020-02-26 09:53] fritzmg commented on #1405
Duplicate of #1367

[2020-02-26 10:08] AgenceUpMotion commented on #1398
Translation are managed on transifex.com. You can join the French translation team and change the strings yourself: https://www.transifex.com/contao/dashboard/all_projects/fr/

Can you Add me ?

[2020-02-26 10:20] contaoacademy commented on #1395
Anbei folgendes:
- Screenshot Einstellungen Backend (Robots-Tag)
- sitemap.xml
- Logfile Crawler

[2020-02-26 10:33] andreheeke commented on #1399
Stimme @fiedsch zu. Im Hinblick darauf, dass auch Twig-Templates aus technischer Sicht in Contao (Content-Elemente, Frontend-Module etc.) gerendert werden können, sollten wir die Dateiübersicht um die Dateiextension `*.twig` erweitern.

[2020-02-26 11:17] contaoacademy commented on #1395
Wie mit @Toflar besprochen funktioniert der Crawler korrekt. Es werden alle Seiten mit "follow" indexiert.

Diskutiert werden sollte die Generierung der sitemap.xml bei geschützten Seiten. Hierfür wird ein eigenes Ticket erstellt.

[2020-02-26 11:18] #1405 closed, assigned to nobody

[2020-02-26 11:23] contaoacademy opened #1406 "Add support for indexing protected pages"
**Description**
At the moment protected pages only could be indexed over the backend crawler.
It should also be possible to index protected pages with the commandline command`contao:crawl`

[2020-02-26 11:29] contaoacademy opened #1407 "Geschützte Seiten aus sitemap.xml ausschließen"
**Affected version(s)**
Contao 4.9

**Description**
Damit Seiten vom Contao-Crawler indexiert werden, muss der Robot-Tag auf "follow" stehen.
Bei dieser Einstellung wird die Seite allerdings auch in der sitemap.xml eingetragen.

Ich möchte allerdings nicht, dass geschützte Seiten in der sitemap.xml aufgeführt werden.

Wäre es denkbar, dass eine explizite Option _Von xml-Sitemap ausschließen_ integ

[2020-02-26 11:33] Toflar commented on #1406
That's currently not possible because of the way our firewalls work. We have to invest some considerable work in having (maybe stateless) firewalls first.

[2020-02-26 11:34] fritzmg commented on #1407
Ich finde auch, dass die sitemap.xml Einstellung nicht an den `robots` `noindex,nofollow` meta tag gebunden sein sollte. Auch einfach nur aus UX Sicht ist dies ein nicht sichtbarer Zusammenhang.

[2020-02-26 12:24] qzminski opened #1408 "Endless 404 page loop due to orphan pages"
**Affected version(s)**
4.8.8, probably 4.9 as well

**Description**
The `contao.routing.page_404_router` service introduced in 16355846ae8029800aaacc5382cb1876fb4e811c can cause an infinite 404 page loop when rendering any frontend page in `prod` environment. This happens only if there are some orphan `tl_page` records (i.e. subpages without a page root)  in the database:

[code]

The problem is

[2020-02-26 13:52] aschempp commented on #1395
kann man dieses Ticket dann vielleicht schliessen?

[2020-02-26 13:53] aschempp commented on #1407
Bedeutet _geschützt_ dass auf die Seite nur von Mitgliedern zugegriffen werden kann?

[2020-02-26 13:57] aschempp opened #1409 "Allow second user switch"
As assumed in https://github.com/contao/contao/issues/314, Symfony has fixed the ability to switch to another user a _second_ time in https://github.com/symfony/symfony/pull/35839

We should therefore revert https://github.com/contao/contao/pull/345 in Contao 4.9 (and raise the minimum requirement)

[2020-02-26 14:47] asaage commented on #1407
revisit https://github.com/contao/contao/issues/501

Bin immernoch der Meinung, dass in die sitemap.xml nur Seiten mit ```index``` gehören und finde die Kopplung von robots-metatag und sitemap.xml allemal besser als das was wir vorher hatten (Kopplung von Sitemap-Modul und sitemap.xml)

[2020-02-26 16:52] leofeyer commented on #1401
Der Crawler ist ein Drittanbieter-Paket. Bitte melde Probleme hier: https://github.com/terminal42/escargot/issues

[2020-02-26 16:52] #1401 closed, assigned to nobody

[2020-02-26 16:52] leofeyer commented on #1402
Der Crawler ist ein Drittanbieter-Paket. Bitte melde Probleme hier: https://github.com/terminal42/escargot/issues

[2020-02-26 16:52] #1402 closed, assigned to nobody

[2020-02-26 16:52] leofeyer commented on #1404
Der Crawler ist ein Drittanbieter-Paket. Bitte melde Probleme hier: https://github.com/terminal42/escargot/issues

[2020-02-26 17:03] leofeyer commented on #1380
Ich habe die deutsche Übersetzung angepasst.

[2020-02-26 17:03] #1380 closed, assigned to leofeyer

[2020-02-26 17:06] leofeyer commented on #1381
Also so?

[code]

Oder muss `percentage` 100 sein, wenn `response.total` 0 ist?

[2020-02-26 17:06] Mynyx commented on #1404
Der ``BrokenLinkCheckerSubscriber`` ist Bestandteil des ``core-bundle``?

https://github.com/contao/contao/blob/master/core-bundle/src/Crawl/Escargot/Subscriber/BrokenLinkCheckerSubscriber.php

[2020-02-26 17:10] Toflar commented on #1381
Der Fall kann ja gar nicht vorkommen, eigentlich. Aber ich denk 100 wäre in diesem Fall korrekt, ja.

[2020-02-26 17:12] leofeyer commented on #1408
See #1411

[2020-02-26 17:12] #1408 closed, assigned to aschempp

[2020-02-26 17:23] #1381 closed, assigned to leofeyer

[2020-02-26 18:33] Mynyx commented on #1401
Siehe https://github.com/terminal42/escargot/issues/12

[2020-02-26 18:34] Mynyx commented on #1402
Siehe https://github.com/terminal42/escargot/issues/11

[2020-02-26 18:49] bennyborn commented on #1312
@Toflar Seems to work fine with 0.5.5. It recognizes the link to e.g facebook.com as an external domain and does not crawl any further 👍

[2020-02-26 18:50] xchs commented on #1398
I'm sorry, I cannot do that. Just make a request to join the French translation team.

[2020-02-26 19:33] bennyborn commented on #1394
@fritzmg Wurde sowas vor Escargot überhaupt ausgewertet?

[2020-02-26 19:40] Toflar commented on #1312
Can we close this issue then?

[2020-02-26 19:48] bennyborn commented on #1312
I did not have the chance to confirm the following point yet, has this been adressed as well?

[2020-02-26 19:54] fritzmg commented on #1394
Die Aufnahme in den Suchindex passiert ja weiterhin durch Contao.

[2020-02-26 19:59] bennyborn commented on #1394
Achso stimmt, der Crawler packt ja dann nur zusätzliche Links mit dazu... Ok, verstanden.

[2020-02-26 20:44] Toflar commented on #1312
No but not sure how to solve that. I mean, it‘s not really a bug. It might be that you have zero pages to index in which case the result is just fine :) If we turn that into an error, it‘s probably wrong too. It should probably just have a warning, what do you think?

[2020-02-26 20:47] bennyborn commented on #1312
If there are indeed no pages to be indexed the message would be fine. But if any of the pages to be indexed cannot be indexed, e.g. due to an error like in #1400 or in my case if the hostname cannot be resolved, I think it would be correct to state that those pages failed.

[2020-02-26 21:27] trilobit-gmbh opened #1414 "No XHR Request by toggle visibility on Pages without subpages"
**Affected version(s)** 4.9

**Description**

**How to reproduce**
Demo > Pagetree > toggle visibility page "Content Elements": OK, XHR
Demo > Pagetree > toggle visibility page "Text elements": no XHR; default link action; backend reloads

[2020-02-26 22:58] Funbug commented on #1414
I can confirm this.

[2020-02-26 23:37] leofeyer commented on #1414
See #1362

[2020-02-26 23:37] #1414 closed, assigned to nobody

[2020-02-27 06:33] trilobit-gmbh commented on #1414
Thanks ;-)

[2020-02-27 07:42] #1254 closed, assigned to leofeyer

[2020-02-27 07:59] #1326 closed, assigned to leofeyer

[2020-02-27 08:17] #1387 closed, assigned to leofeyer

[2020-02-27 08:49] leofeyer commented on #1393
@contao/developers What is the best way to solve this?

1. Revert the changes in the `Automator::purgeSearchTables()` method

[code]

This would make the method independent from the `contao.search.indexer` service.

2. Hide the "Purge the search index" job if there is no indexer

[code]

[2020-02-27 08:51] Toflar commented on #1393
1. Makes no sense because it's there to purge the data of all registered indexers.

2. Is the correct way, however I'm not sure if doing this in config is correct or if it should be in some callback.

[2020-02-27 09:48] qzminski commented on #1383
We have just completed the Polish translation for version 4.9. We would highly appreciate if it can make its way into the next hotfix release 🙏🏻

[2020-02-27 10:13] leofeyer commented on #1393
I had put the code into the `Maintenance::run()` method.

[2020-02-27 10:14] leofeyer commented on #1383
It will be.

[2020-02-27 10:14] #1383 closed, assigned to nobody

[2020-02-27 10:19] Mynyx commented on #1393
I would definitely prefer 1. because the tables exist independent of whether the service is activated or not.

[2020-02-27 10:25] Toflar commented on #1393
It's incorrect which is why I explicitly fixed it.

[2020-02-27 10:26] leofeyer commented on #1363
Leider nicht. https://github.com/ua-parser/uap-php

[2020-02-27 10:49] ausi commented on #1360
Lässt sich das Problem auf <https://demo.contao.org/> reproduzieren?

[2020-02-27 11:02] fiedsch commented on #1399
Für die Diskussion:

- In https://gist.github.com/fiedsch/584bfe7b69c23b3105a97d2667112086 habe ich meinen aktuellen (quick and **dirty**) Stand der `tl_templates.php`, die `*.twig` Templates im Backend anzeigt und sie damit bearbeitbar macht.
- Die dort ebenfalls eingebaute Änderung in `addNewTemplate()` lässt mich zwar ein eigenes Twig Template hinzufügen, allerdings ist das so eher sinnfrei, de

[2020-02-27 11:03] leofeyer commented on #1409
The fix has not yet been merged upstream, so we still have to wait. And there is yet another problem which the fix does not solve:

1. In the COD, make "h.lewis" a second administrator.
2. Log in as "k.jones" and switch to "h.lewis".
3. Go to the user module and switch to "k.jones".
4. Now the back end top menu says "Go back to k.jones" instead of "Log out". 🤷‍♂

[2020-02-27 11:10] ff1601com commented on #1360
Nein, dort funktioniert das Anlegen einwandfrei und es wird im Select-Menü angezeigt.

![image](https://user-images.githubusercontent.com/40162179/75439424-0b50e100-595a-11ea-9d0f-62e95f29a672.png)

[2020-02-27 11:10] fritzmg commented on #1399
Bzw. den Ordner `templates/bundles/`generell.

[2020-02-27 11:12] ausi commented on #1360
Dann sollten wir versuchen rauszufinden warum sich deine Installation anders verhält. Sind Erweiterungen installiert?

[2020-02-27 11:27] ff1601com commented on #1360
Ja, sind es.

[code]

* SeoSee ist eine Eigenentwicklung.

##

Ich habe jedoch mit meinem Kollegen gesprochen, welcher das Contao installiert hatte und er meinte, dass die Bildgrößen auch bei einem frisch installierten System nicht funktioniert hatten.

Ich würde heute auch testweise nochmal ein leeres System aufsetzen und testen.

[2020-02-27 11:41] ausi commented on #1360
Das wäre am besten. Bitte die Schritte möglichst genau dokumentieren damit wir es nachstellen können.

[2020-02-27 11:52] bennyborn commented on #1313
I thought I'd answer to this issue since we just noticed a small problem with putting the script just into `$GLOBALS['TL_JAVASCRIPT']`.

We have a textarea with tinyMCE as part of a subpalette which is triggered by a checkbox. Since ticking the checkbox only loads the necessary fields from the subpalette via AJAX and does not reload the page in it's entirety, the script tag never gets added to the

[2020-02-27 11:58] leofeyer commented on #1313
Ah, that was the reason why we did not add it to `$GLOBALS['TL_JAVASCRIPT']` in the first place. 🤦‍♂

[2020-02-27 12:04] ff1601com commented on #1360
Ich habe nun nochmal ein leeres Contao49 aufgesetzt und dort funktioniert es.

Schritte:

[2020-02-27 13:12] bennyborn opened #1426 "listtype translation"
**Affected version(s)**
4.9.0

**Description**
Has there a decision been made not to translate the list types anymore or is this an actual bug?

![image](https://user-images.githubusercontent.com/226890/75448240-20823b80-596b-11ea-9632-2b2cb7cd34b9.png)

[2020-02-27 13:25] bennyborn commented on #1236
It may not be valid by definition but actually switching back the context to schema.org seems to fix the problem for Google.

![image](https://user-images.githubusercontent.com/226890/75449219-e4e87100-596c-11ea-81a5-bd9247efa029.png)

[2020-02-27 13:26] Toflar commented on #1236
Yeah, invalid output is marked as valid. Even better...

[2020-02-27 13:50] christophbach commented on #1395
Eventuell sollte das in die Dokumenation aufgenommen werden. Das hat mich gerade einiges an Nerven gekostet. Oder habe ich die Stelle nicht gefunden/falsch verstanden?

Wir haben ein öffentlich zugängliches Handbuch für unsere Software, wollen aber kein Indexing in Suchmaschinen. Da war die alte Einstellung immer "noindex,nofollow", was ja wunderbar funktioniert hat.

Es müssen alle Seiten auf "no

[2020-02-27 13:57] fritzmg commented on #1395
Ist das wirklich für dich logisch? Also dass eine Seite in der `sitemap.xml` aufscheint und vom Crawler indexiert wird, wenn die Seite auf `noindex` steht?

[2020-02-27 14:01] ausi commented on #1360
Du könntest die Installation bei der der Fehler auftritt auf ein Testsystem duplizieren, und dort dann eine Erweiterung nach der anderen entfernen. Eventuell lässt sich dadurch herausstellen wovon der Fehler verursacht wird.

[2020-02-27 14:17] christophbach commented on #1395
Die Sitemap ist bei uns deaktiviert, aus den genannten Gründen. Ich persönlich finde die aktuelle Funktionsweise nicht optimal, daher der Wunsch nach einer Dokumentation, damit das Verhalten des Indexing-Prozesses nachvollzogen werden kann. Der Crawler agiert ja im Prinzip als "Frontend-Nutzer" und durch den Prozess wird die Seite indiziert. Eine Seite würde auch indiziert, wenn ich mich selber ak

[2020-02-27 14:24] leofeyer opened #1428 "Preview bar is scrolled if height: 100%"
**Affected version(s)**

4.9

**Description**

If the HTML and BODY elements have a height of 100% assigned via CSS, the new preview bar will be scrolled out of the viewport. Tested in Chrome, Safari and Firefox on Mac OS.

**How to reproduce**

[code]

Open a long site of the COD (e.g. Applications) and scroll down.

@richardhj /cc

[2020-02-27 15:02] asaage commented on #1236
For me it seems very strange to have that kind of internal data publicly available on the page anyway 🤷🏼‍♂️

[2020-02-27 15:50] Mynyx commented on #1407
Der Aufruf von geschützten Seiten führt zu einem Fehler 401.

Demzufolge sollten diese nicht in der Sitemap erscheinen.

Dieses Ausschlusskriterium sollte unabhängig davon gelten, wie die Einstellung Robots-Tag konfiguriert ist.

[2020-02-27 15:57] fritzmg commented on #1407
@Mynyx nein, man kann ja einstellen, dass geschütze Seiten durchsuchbar sein sollen.

[2020-02-27 16:02] Mynyx commented on #1407
@fritzmg Würdest du mir zustimmen, wenn die Sitemap für den Contao Crawler nicht relevant wäre?

[2020-02-27 16:05] fritzmg commented on #1407
In so fern ja, der Crawler muss von Contao die initialen Seiten anders als über die öffentliche `sitemap.xml` bekommen. Anders wird das wohl nicht vereinbar werden?

[2020-02-27 16:13] Mynyx commented on #1407
Genau.

Grundsätzlich denke ich auch, dass der Crawler initial **alle** Seiten erhalten sollte, und es keine Vorabfilterung geben sollte. Die Entscheidung sollte dann ausschließlich bei den einzelnen Subscribern des Crawlers liegen.

/cc @Toflar

[2020-02-27 16:30] dmolineus commented on #1311
I have an installation where this error also occurs. In this case it's caused by `pct_theme_settings` module. It loads the `tl_news` data container in the `initializeSystem` hook without loading the language file.

So it seems that the error occurs if any module calls `Contao\Controller::loadDataContainer` without `Contao\System::loadLanguageFile` called before.

/cc @timgatzky Maybe you should us

[2020-02-27 16:31] Toflar commented on #1407
Das sehe ich anders. So funktioniert ein Crawler einfach nicht. Ein Crawler fängt irgendwo an und geht von da aus weiter. Die Sitemap ist genau dafür da, dass er Dinge finden kann, die nicht auf den Root-Seiten verlinkt sind.

[2020-02-27 16:36] fritzmg commented on #1407
Ja, aber die `sitemap.xml` sollte doch keine Seiten anzeigen, die gar nicht öffentlich verfügbar sind, oder bist du da anderer Meinung?

[2020-02-27 17:54] ff1601com commented on #1360
Das habe ich nun getan.
Ich habe nacheinander alle zusätzlich installierten Erweiterungen aus dem Testsystem geworfen, aber leider wurden noch immer keine Bildgrößen angezeigt.

Danach habe ich die Konfiguration meiner Composer.json der meiner blanken Contao49 Installation angepasst - auf welcher die Bildgrößen funktionieren - doch leider klappte es damit auch nicht.

Ich bin etwas ratlos. Hast Du

[2020-02-27 19:59] Defcon0 opened #1429 "Get back the "old" black background :-)"
Hello,

at first I'd like to thank you all for the new Contao 4.9. I just installed it the first time and can't wait to see the new crawler :-)

Only one thing bothers me. I know, it's kind of subjective and only a minor thing. Nevertheless I'm interested in your opinion.

I got used to the Contao 4.4 backend theme and very much liked the black gradient background. After opening the new Contao 4.9

[2020-02-27 20:01] Defcon0 opened #1430 "Clicking Debug in a fresh Contao 4.9.1 installation leads to a 404"
**Affected version(s)**
4.9.1

**Description**
Clicking "Debug" in the main menu bar leads to the url being loaded without app.php which leads to a 404:

`http://test.local/app.php/contao?do=page&ref=buwhibOA` -> `http://test.local/contao?do=page&ref=buwhibOA`

**How to reproduce**
Install Contao 4.9.1 by composer
Hit Debug

[2020-02-27 21:08] bennyborn commented on #1428
I don't see any possibility to fix this but an opportunity. Use a Shadow DOM to encapsulate the preview bar since this will make it's styling independend from the rest of the page and prevent any further problems with any loose selectors the page might come up with ;)

[2020-02-27 21:16] fritzmg commented on #1429
I also like the black/blue gradient background more 😁

[2020-02-27 21:29] Toflar commented on #1407
Vielleicht brauchen wir unterschiedliche robots.txt Sitemap Einträge, das mag sein. Wir könnten ggf. eine zusätzliche Sitemap generieren (mit einem `_protected` Suffix oder so) und den nur ausgeben wenn eingeloggt. Aber ich beharre darauf, dass sich der Crawler absolut korrekt verhält. Es ist wichtig, dass die technischen Zuständigkeiten korrekt eingehalten werden.

[2020-02-27 21:36] Defcon0 commented on #1429
Just reminded myself that there's a select for the theme in the backend user's preferences. But this would imply that I'd have to copy the "flexible" folder completely which wouldn't be update-safe anymore then.

My current guess is that I'll have to write a tiny bundle just having

[code]

inside as a css file included in the global CSS array ;-)

[2020-02-27 21:40] fritzmg commented on #1407
Der Crawler für sich verhält sich korrekt, ja. Aber wir wollen ja, dass der Crawler weiterhin im Stande ist genau das zu tun, was das reguläre Indexing von Contao auch konnte. Könnte man den Crawler nicht auch anderweitig das Ergebnis aus `getSearchablePages` zukommen lassen?

[2020-02-27 22:01] Toflar commented on #1407
Ich will es technisch sinnvoll haben, ganz einfach :) Für mich ist es dann richtig, wenn Contao keine Rolle mehr spielt. Ich sollte irgend einen Crawler verwenden können, der nichts von Contao weiss. Keine Hooks, nichts - nur Standards. Je weniger Dinge Contao-spezifisch sind, desto besser. Alles andere ist für mich der falsche Ansatz. Also müssen wir Lösungen suchen, die meinen Wunsch und euren a

[2020-02-27 22:14] Mynyx commented on #1407
In ``contao/core-bundle/src/Crawl/Escargot/Factory.php`` werden die URLs zusammengestellt, mit denen der Crawler startet. Das könnte eine Möglichkeit darstellen, auch die URLs aus ``getSearchablePages`` hinzuzufügen.

https://github.com/contao/contao/blob/d2eb923c90ec9b26fc69579309b89a334933490c/core-bundle/src/Crawl/Escargot/Factory.php#L124-L159

[2020-02-28 07:20] timgatzky commented on #1311
If it is a system break to call loadDataContainer w/o loadLanguageFile, the loadDataContainer function should call it.

I could

[2020-02-28 08:36] dmolineus commented on #1311
I agree, the origin issue should be fixed.

That's the puprose of the `loadDataContainer` hook. So in the case of the menitioned extension there is no need to manually loading the data container ;-)

[2020-02-28 08:52] aschempp commented on #1428
I don't think a Shadow DOM will help. SD is only useful for pre-rendering, but as soon as the element is placed on the site it should still be affected. But I might be wrong here 🤷‍♂

However, how does the Symfony toolbar fix this? I'm pretty sure it works in that case too?

[2020-02-28 08:53] aschempp commented on #1430
Why do you have `app.php` in the URL at all? Does your server not support URL rewriting?

[2020-02-28 09:01] aschempp commented on #1409
That's correct, you're switching back to the user that initially logged in. I'd say we should just disable the second user switch to the original user.

[2020-02-28 09:01] Defcon0 commented on #1430
I just installed it locally on my ubuntu. I‘ll check that, thanks for the hint

[2020-02-28 09:03] richardhj commented on #1428
Since the Contao toolbar uses `position:sticky`, the toolbar sticks on top as long as it is within the boundaries of the parent element. `html, body { height: 100% }` limits the height of the body to 100vh rather than the true height.
BTW using `body { height: 100% }` or `html, body { min-height: 100% }` should fix this behaviour.

The Symfony toolbar uses fixed positioning that is not influenced

[2020-02-28 09:05] bennyborn commented on #1428
Nope. In a nutsheel the shadow DOM behaves more or less like an iFrame and is perfect for isolating styles ;) That's why it's mostly used for Web Components.

[2020-02-28 09:24] asaage commented on #1407
Wozu braucht man dann die internen Einzelheiten aus #1236?

[2020-02-28 09:35] asaage commented on #1429
You wouldn't need a bundle or a copy of the theme for that,
just create ```templates/be_main.html5```
and make your adjustments there.

[code]

[2020-02-28 09:49] Toflar commented on #1407
Der Crawler funktioniert wie jeder andere Crawler und er soll es auch. Er soll nichts von Contao Internas wissen und genau so ist es jetzt auch.
Die "Einzelheiten" sind JSON-LD Daten (ein weiterer Standard), die dem Crawler völlig egal sind. Sie sind komplett irrelevant für den Crawler. Sie sind nur relevant für den Indexer und das sind zwei völlig unabhängige Prozesse.
Es gibt den Prozess des Cra

[2020-02-28 09:51] zonky2 opened #1431 "Formulareditor: Einrückung der Fieldsetbereiche"
Es wäre eine Hilfe im Formulareditor, wenn alle Elemente zwischen Fieldset-Start und -Ende eingerückt wären, so dass die "Pärchen" leichter auszumachen sind.

[2020-02-28 09:54] fritzmg commented on #1431
Das ist doch bereits der Fall:

![Screenshot_2020-02-28 Forms › Test › Fields c49 local](https://user-images.githubusercontent.com/4970961/75538298-4a416e00-5a10-11ea-8745-90c6caa4f762.png)

[2020-02-28 09:59] zonky2 commented on #1431
ist das in 4.9 rein gekommen? in 4.4 sehe ich das nicht..

[2020-02-28 10:06] fritzmg commented on #1431
Vor 4.9 (ich weiß nicht welche Version).

[2020-02-28 10:14] #1431 closed, assigned to nobody

[2020-02-28 10:22] leofeyer commented on #1428
Neither `html, body { min-height: 100% }` nor `body { height: 100% }` has the same effect as `html, body { height: 100% }` though. Maybe @ausi can help?

[2020-02-28 10:24] hoss-ps opened #1432 "Add Extra feature to DCA search/filter."
**Description**
Currently DCA search (protected function searchMenu(){} ) allow us to search in Database based on REGEXP.
is it possible to add a feature for DCA search to search value in DCA array in case field is not exist in DB aswell ? many DCA have call back functions and do not use database fields directly or may even use extra table  (mapping table beside DCA table itself).
**Example**
1-I

[2020-02-28 10:45] bennyborn commented on #1428
Whats the point in changing the problem? The original problem was
[code]
Of course changing the styling to something different solves the problem but I don't think that was your intention ;) Long story short, There is no fix in THIS case as long as the preview bar is sticky. `position: fixed` solves it but intruduces the problem of overlapping the content.

[2020-02-28 10:50] intradesign opened #1433 "New elements only show up in lists after page reload"
**Affected version(s)**
Contao 4.9

**Description**
When creating new elements, they are often not displayed in the list views immediately after creation, but only after the list page has been reloaded.

Also affected is the activation of the debug mode. The debug modus is activated, but the debug bar in the backend is only visible after a page reload.

**I noticed this with the following elements

[2020-02-28 11:50] qzminski opened #1434 "Map the app entities by default"
**Description**
The Doctrine entities inside `App` namespace could probably be mapped by default. This requires some changes in the current config skeleton: https://github.com/contao/contao/blob/master/manager-bundle/src/Resources/skeleton/config/config.yml#L54

**Example**
As of now I have to provide this configuration on my own:

[code]

/cc @aschempp

[2020-02-28 11:57] fritzmg opened #1435 "Clearing the dev cache in the script handler does not work"
**Affected version(s)**
4.9.1

**Description**
In https://github.com/contao/contao/pull/1369 clearing the dev cache in the script handler was added. However, for some reason it is not working, at least on my system:

Contents of `var/cache/dev` after a request to the back end for example has been made, with `APP_ENV=dev`:

[code]

`composer install` output (excerpt):

[code]

Contents of `var/cach

[2020-02-28 12:00] leofeyer commented on #1428
Yes, but we could fix the overlapping like this:

[code]

[2020-02-28 12:42] bennyborn commented on #1428
That would be one solution, but this way you'd alter any `margin-top` that might be given to the wrapper by the theme. IMHO tinkering with the styling of the users theme in any way, shape, or form seems like a bad idea :\

[2020-02-28 13:32] aschempp commented on #1428
I actually don't think we need that solution. The Sf toolbar overlaps the content as well. Just close the toolbar if you _need_ to see what's behind it?

[2020-02-28 13:33] aschempp commented on #1435
Isn't that simply because there are other commands run after the clearing, so the cache is rebuilt (but not warmed)?

[2020-02-28 13:36] aschempp commented on #1432
you should probably use the `panel_callback` https://docs.contao.org/dev/reference/dca/callbacks/#list-sorting-panel-callback-subpanel for this. You can see some code examples in Isotope eCommerce: https://github.com/isotope/core/blob/master/system/modules/isotope/dca/tl_iso_product.php#L96

[2020-02-28 13:39] fritzmg commented on #1435
They would run in `prod` wouldn't they?

[2020-02-28 13:40] aschempp commented on #1236
The definition of _internal_ for you seems to be whether its relevant for Google. However, it's relevant for other systems. Imagine an RSS feed on your page. It's not _relevant to the visitor_, but its relevant meta information about the page content. So the JSON-LD is very much relevant, because we (the Contao search engine) needs it to know about your page content.

[2020-02-28 13:45] aschempp commented on #1394
Finde ich aber ein interessanter Gedanke. Wenn die Canonical-Seite auf derselben Root-Seite ist, sollten wir sie vielleicht nicht indexieren. Eine externe Seite können wir vermutlich nicht direkt verlinken, bzw. das müsste man wohl schon konfigurieren?

Allerdings müssen wir auch bedenken, dass Contao von haus-aus keine Canonicals unterstützt. Man kann sowas also auch nicht für eine Seite konfigur

[2020-02-28 13:46] fritzmg commented on #1435
Interestingly, when deleting `var/cache/dev` manually and then running `composer install`, the contents of `var/cache/dev` will be

[code]

as soon as

[code]

is executed.

[2020-02-28 13:47] aschempp commented on #1393
why would anyone need to clear the tables if the search indexer is disabled? Maybe that maintenance option should be hidden?

[2020-02-28 13:50] aschempp commented on #727
dann können wir das Issue schliessen?

[2020-02-28 13:52] aschempp commented on #1384
Eine URL-Prüfung in Contao bedeutet, dass nur valide URL-Zeichen enthalten sein dürfen. Es bedeutet nicht dass der Wert eine vollständige URL sein muss.

[2020-02-28 13:55] aschempp commented on #1433
do I understand correctly that you move or create something in the picker and _expect_ the parent page to reload??

[2020-02-28 14:08] ghost opened #1438 "Fehlermeldung nach Umzug des Provider-Servers"
**BITTE kann mir jemand helfen? Nachdem mein Provider vor ein paar Tagen einen Serverumzug vollzogen hat, sieht meine Webseite, die ich mit Contao eingerichtet hatte, nun wie folgt aus:**

![Contao_Screenshot](https://user-images.githubusercontent.com/61589879/75555035-c56c4980-5a3b-11ea-8f62-25ad4fbea75d.jpg)

**Die letzte Fehlermeldung aus besagtem error.log sieht so aus:**
[28-Feb-2020 13:08:00

[2020-02-28 14:11] bytehead commented on #1438
In `system/config/localconfig.php` folgendes anpassen:
[code]
wird zu
[code]

Betrifft Contao 3.5. Bei solchen Fragen bitte im Forum unter https://community.contao.org/ nachfragen.

[2020-02-28 14:11] #1438 closed, assigned to nobody

[2020-02-28 14:18] ghost commented on #1438
Danke!

[2020-02-28 14:31] bennyborn commented on #1236
Would it be possible to add a special header like `X-Requested-With: Contao-Crawler` and the JSON-LD is only shown if that header is present? This way you could ignore the problems with Google completely.

[2020-02-28 14:32] Toflar commented on #1236
No, that would kill HTTP caching completely. I mean, we could vary on that header (not `X-Requested-With` but any custom one) but that would mean we have two entries for every single page.

[2020-02-28 14:44] bennyborn commented on #1236
Why two entries? Why not "disable" caching entirely if the crawler requests the pages?

[2020-02-28 14:51] Toflar commented on #1236
Because it would be nonsense? Why would I want to slow down crawling?
And again, it is **not** internal information. It is meta information that might be useful for everybody who wants to read information from Contao pages. It's just meta information and it's a great thing that there's machine readable data now.
I don't understand the problem, really.

What part of the JSON-LD bothers you and why?

[2020-02-28 15:05] Mynyx commented on #1393
Because the tables, of course, are not automatically truncated or removed when the service is deactivated. They may therefore still contain data.

[2020-02-28 15:11] bennyborn commented on #1236
The only thing bothering me is the current situation where the Google Search Console throws errors for no apparent reason and users are insecure if something is broken. I personally don't mind if the JSON is there or not ;)

[2020-02-28 15:13] Toflar commented on #1393
Which would be completely irrelevant. We can also offer to delete those tables in that case.

[2020-02-28 15:31] #727 closed, assigned to nobody

[2020-02-28 15:32] leofeyer commented on #1384
@contao/developers Das ist auch so ein unerwartetes Verhalten, das wir mal ändern sollten. 😄

[2020-02-28 16:05] bennyborn commented on #1384
Wäre dafür es "richtig" zu machen :D

[2020-02-28 16:21] intradesign commented on #1433
No, the Picker Issue was the one I quoted from someone else. See the second post (by SilentBob) at my forum post from yesterday:
https://community.contao.org/de/showthread.php?77278-Elemente-im-Backend-erst-nach-page-reload-sichtbar&p=520491#post520491

[2020-02-28 16:56] ausi commented on #1360
Ich kann den Fehler nun reproduzieren, danke @ff1601com für die detaillierte Fehlersuche!

[2020-02-28 17:27] aschempp commented on #1433
@contao/developers looks like the responses in the Contao back end are not private/uncacheable by default? Maybe related to our cache/response handling?

[2020-02-28 17:28] aschempp commented on #1384
_Richtig_ wäre für mich einzelne Formularfeld-Typen für die einzelnen Eingabetype in HTML. Eigentlich ein `easy-pick` 😉

[2020-02-28 17:32] bennyborn commented on #1384
Problem wäre dann nur entweder BC break oder man hat es doppelt.

[2020-02-28 17:55] ausi commented on #1360
Mit #1439 sollte der Fehler behoben werden.

[2020-02-28 18:03] ausi commented on #1428
Symfony uses a `<div class="sf-toolbar-clearer">` to add the space of the toolbar to the bottom of the page. I think we should use the same technique.

[2020-02-28 18:13] ff1601com commented on #1360
Super. Danke für den schnellen Fix und die rasche Rückmeldung.

[2020-02-28 18:59] bennyborn opened #1440 "Form generator duplicate field names possible"
**Affected version(s)**
4.9.0

**Description**
When adding fields to a form there seems to be no check if the given field name is already in use. While the frontend does prevent showing multiple fields with the same name, the backend does not show any error message whatsoever.

**How to reproduce**
1. Create a new form
2. Add a field with name "foo"
3. Add another field with name "foo"
4. Only the

[2020-02-28 20:04] Defcon0 commented on #1430
OK, it works. My new Mint installation didn't have mod_rewrite enabled.

[2020-02-28 20:04] #1430 closed, assigned to nobody

[2020-02-28 20:29] Mynyx commented on #1407
Grundsätzlich verstehe ich nun was deine Intention ist. Auf der anderen Seite ist es allerdings eine Definitionsfrage, was unter einem "normalen" Crawler verstanden wird. Abstrakt könnte dies als Prozess beschrieben werden, der ein Set von URLs als Startparameter erhält, diese herunterlädt und verarbeitet bzw. zur Verarbeitung zur Verfügung stellt sowie dabei entdeckten neuen URLs unter Einhaltung

[2020-02-28 20:59] planepix opened #1441 "Einige Bilder im webp-Format werden angezeigt, andere nicht"
**Affected version(s)**
Contao 4.9.0 und 4.9.1
**Description**
Einige Bilder als webp werden angezeigt, andere nicht.
Was ich bisher eingrenzen konnte. Im Chrome ( Version 80.0.3987.122 (Offizieller Build) (64-Bit) ) wird das Bild nicht angezeigt, in Firefox ( 73.0.1 (64-Bit) ) und Firefox ( 74.0b9 (64-Bit) ) unter MacOS schon.
Könnte es was mit dem „lazy-load”-Attribut zu tun haben, das bisher nu

[2020-02-28 21:25] seibtph commented on #1441
Bei mir tritt der Fehler auch auf. Habe ich im Forum ja bereits geschrieben. Siehe auch hier: xxx (heute auf Contao 4.9 aktualisiert und webp bei den Bildgrößen aktiviert)

Das contao-webp-bundle habe ich aber nicht installiert.

[2020-02-28 21:47] #1360 closed, assigned to nobody

[2020-02-29 08:21] fritzmg commented on #1430
Nevertheless, shouldn't it always work without it too? What if you had a custom entry point for the back end for whatever reason?

[2020-02-29 10:49] ausi commented on #1441
Bei beiden Websites scheinen die `Content-Type`-Header für die WebP Bilder zu fehlen. Falls ihr Apache nutzt, fehlt eventuell ein Eintrag wie folgender:

[code]

[2020-02-29 12:12] fritzmg opened #1442 "Pretty Error Screens without contao.pretty_error_screens: true"
**Affected version(s)**
4.9.1

**Description**
Despite not having configured `contao.pretty_error_screens: true` in my `config/config.yml`, I get the following screens in the front end:

![Screenshot_2020-02-29 Service unavailable](https://user-images.githubusercontent.com/4970961/75607159-0f146d00-5aec-11ea-9d22-089219598ea7.png)

![Screenshot_2020-02-29 An error occurred](https://user-images.git

[2020-02-29 15:44] LIVID-Media commented on #1236
To get back to the problem: As far as I can see, the context at schema.contao.org is wrong. Every property that could be used should be defined in the context. So far this is only the case for 'RegularPage' and 'preview'. The latter is not currently used in the JSON-LD, but rather 'fePreview'.

The problem with the Google test tool is that no foreign schema is definitely called. But maybe this wor

[2020-02-29 17:07] seibtph commented on #1441
Hat bei mir leider nicht geholfen.

[2020-02-29 18:28] planepix commented on #1441
Hallo Martin, besten Dank für deinen Tipp.
Habe deine Codezeilen in der htaccess ergänzt, Cache neu aufgebaut. Wie bei @seibtph keine Änderungen.

Habe ich das an falscher Stelle ( am Ende der htaccess ) eingetragen?

[2020-02-29 21:14] Mynyx commented on #1137
In den aktuellen Versionen kann ich das Problem nicht mehr nachvollziehen.

[2020-02-29 21:14] #1137 closed, assigned to nobody

[2020-02-29 21:51] Mynyx commented on #1353
Mit den aktuellen Versionen kann ich das Problem nicht mehr nachvollziehen.

[2020-02-29 21:51] #1353 closed, assigned to nobody

[2020-03-01 10:06] ausi commented on #1441
Ich hab mir jetzt mal die Bilder genauer angesehen und bemerkt, dass die Dateien jeweils um genau ein Byte zu kurz sind. Im WEBP-Header ist jeweils die Größe des Bildes in Byte angegeben und diese stimmt bei euren Bildern nicht. Es fehlt also entweder ein Byte oder die Länge im Header ist falsch angegeben.

Anscheinend kommt Firefox damit zurecht, Chrome bricht aber die Darstellung aufgrund des Fe

[2020-03-01 10:53] planepix commented on #1441
Besten Dank für deine Rückmeldung Martin.
Ich erhalte zurück:
[code]

[2020-03-01 12:13] ausi commented on #1441
Welche „GD library Version“ setzt du ein? Kann über den Manager unter „Tools › PHP-Informationen“ abgefragt werden.

[2020-03-01 12:16] m-vo commented on #1434
I've put that in every project as well. Not sure if the `Entity` directory needs to exist for this to work.

[2020-03-01 12:38] planepix commented on #1441
GD 2.1.1 - Webp enabled
Imagick 3.4.4

[2020-03-01 13:05] ausi commented on #1441
@seibtph wie ist deine GD version?

[2020-03-01 14:06] Toflar commented on #1441
Das 1 Byte Phänomen hatte ich auch schon beobachtet. Bei einem Kunden war‘s ein ` <?php` (also ein Leerzeichen vor dem öffnenden `<?php`) in der `localconfig.php`. Aber es könnte auch sonst in einem File sein, das inkludiert wird :)

[2020-03-01 14:07] ausi commented on #1441
Hier fehlt aber am Ende ein Byte, denke nicht dass das durch eine falsche php-file kommt.

[2020-03-01 14:08] Toflar commented on #1441
Ist ein Versuch Wert ;)

[2020-03-01 21:09] planepix commented on #1441
Im Verzeichnis „system/config” liegen drei Dateien:
- „cmsconfig.php” von der Marketing Suite
- „dcaconfig.php”
- „localconfig.php”

In allen drei Datei ist kein Leerzeichen vor ```<?php```

[2020-03-01 21:32] ausi commented on #1441
@planepix kannst du bitte die Datei *assets/images/5/zon-stuttgart-8d6b5c69.webp* von deinem Webspace per SFTP herunterladen und prüfen wie groß die Datei in Bytes ist, 44.085 oder 44.086?

[2020-03-01 21:45] Toflar commented on #1312
Closing i favor of the other issue then.

[2020-03-01 21:45] #1312 closed, assigned to nobody

[2020-03-01 21:45] Toflar commented on #1400
I just tried using  http://httpstat.us/500 and I then get `[ERROR] Checked 0 link(s) successfully. 1 were broken.` - that looks correct to me?
Can you tell me how I can reproduce this?

[2020-03-01 21:55] Mynyx commented on #1400
I think you have used the broken link checker, too.

[2020-03-01 22:01] Toflar commented on #1400
Aaah, sorry, I misunderstood the issue here. :)

[2020-03-01 22:04] planepix commented on #1441
Die Information im Finder (Mac OS) liefert 44.085 Byte.
![Bildschirmfoto 2020-03-01 um 23 03 23](https://user-images.githubusercontent.com/1823889/75634793-f2258a00-5c10-11ea-9edf-3c01ddaa0c2e.png)

[2020-03-01 22:06] Toflar commented on #1407
Das geht bei uns ja auch:

[code]

[2020-03-02 06:58] m-knorr commented on #1441
Gleiches Problem bei einer Seite die auf Apache läuft.

Nginx scheint keine Probleme zu machen.

Verwendete Klasse: `Imagine\Gd\Imagine`

GD Support: enabled
GD headers Version: 2.1.1
GD library Version: 2.1.1

[2020-03-02 07:02] Toflar commented on #1441
Interessant. Scheint als würde Apache einfach ein Byte abschneiden :)
Läuft da evtl. mod_pagespeed? Wenn ja, führt das Deaktivieren des Moduls zu einer Veränderung?

[2020-03-02 07:07] m-knorr commented on #1441
Haben kein mod_pagespeed drauf!

[2020-03-02 07:19] ausi commented on #1441
Ich vermute es ist ein bug in der GD version 2.1.1. Verschwindet der Fehler wenn ihr die gdlib aktualisiert?

[2020-03-02 07:28] m-knorr commented on #1441
Da habe ich leider keinen Zugriff drauf, da Managed Hosting. 😢

Werde aber mal den Support anschreiben.

[2020-03-02 08:08] m-knorr commented on #1441
Warte nun mal auf die Rückmeldung von all-inkl.

An welcher Änderung könnte es denn liegen dass es in 4.8 lief und die 4.9 das entsprechende Problem aufzeigt?

LazyLoading ist ja nur ein hinzugefügtes Attribut auf Template Ebene und hat ja nichts mit der Erstellung der Bilder zu tun! 🤔

[2020-03-02 09:11] ausi commented on #1441
Das Problem sollte eigentlich nicht mit der Contao-Version zusammenhängen wenn es an der gdlib liegt. War die 4.8-Installation mit der selben PHP-Version?

[2020-03-02 10:07] Defcon0 commented on #1429
OK, thanks!

[2020-03-02 10:07] #1429 closed, assigned to nobody

[2020-03-02 10:09] seibtph commented on #1441
@ausi Bei mir ist auch die GD-Version 2.1.1 installiert und bin auch bei all-inkl, da kann ich die Version selber nicht beeinflussen. Mal gucken was bei der Support-Anfrage von @m-knorr herauskommt. Unter Contao 4.8 habe ich es nicht getestet, hatte gleich von der 4.7 auf die 4.9 geupdated.

[2020-03-02 10:51] Defcon0 opened #1449 "Hook annotation in Contao 4.9 not working?"
**Affected version(s)**
Contao 4.9.1

**Description**
According to the [docs](https://docs.contao.org/dev/framework/hooks/#invokable-services) I registered a new hook listener by service annotation:

[code]
I removed all caches, created autoload map (basically I ran composer install). But my hook isn't triggered and is not part of `$GLOBALS['TL_HOOKS']['initializeSystem']`.

I understood the [docs

[2020-03-02 10:59] fritzmg commented on #1449
In Contao 4.9, services in the `App\` namespace are automatically registered, autowired and configured. In your own bundle, you still need to register your services yourself of course. The service annotation should work, if you enabled autoconfiguration for your services.

[2020-03-02 11:19] Defcon0 commented on #1449
Ah, I see. Now it works. I defined it in a listener.yml and removed the hook service annotation as it wuld be redundant now. Thanks!

[2020-03-02 11:19] #1449 closed, assigned to nobody

[2020-03-02 11:25] Nightwing0815 commented on #1441
Als ich Deine Nachricht hier gelesen hab, hab ich dem Support geschrieben, mit Verweis auf diesen Thread. Hier die Antwort:

Ich täte sagen: morgen sieht man mehr :-)

[2020-03-02 11:27] m-knorr commented on #1441
Habe auch diese Antwort erhalten und mal den "Umzug" beauftragt.

🤞

Werde morgen berichten.

[2020-03-02 11:35] fritzmg commented on #1449
Just define the following in your `.yml`:

[code]

or

[code]

Now the annotation should work.

[2020-03-02 11:58] Mynyx opened #1452 "crawl_broken-link-checker_log.csv und crawl_search-index_log.csv indentisch"
Wenn der Crawler im Backend mit beiden Funktionen (``Nach defekten Links suchen`` und ``Den Suchindex aktualisieren``) gestartet wird, können für die Funktionen anschließend separate Log-Dateien heruntergeladen werden. Der Inhalt der Log-Dateien ``crawl_broken-link-checker_log.csv`` und ``crawl_search-index_log.csv`` ist jedoch identisch.

[2020-03-02 12:22] chuckki opened #1454 "Not enough permissions to create FAQs in FAQ category after existing Elements"
**Affected version(s)**
4.4.46
4.9.0 (https://demo.contao.org)

**Description**
Benutzerrechte zum Anlegen von neuen FAQs unter bestehenden Elementen sind augenscheinlich fehlerhaft:
`Not enough permissions to create FAQs in FAQ category ID XX`
Statt der Id der Kategorie wird die Id des übergeordneten Elements verwendet.

**How to reproduce**
In der Online-Demo habe ich Herrn James Wilson alle Rec

[2020-03-02 12:33] ausi commented on #1236
[code]

<img width="595" alt="Bildschirmfoto 2020-03-02 um 13 33 04" src="https://user-images.githubusercontent.com/367169/75676836-5e909f80-5c8a-11ea-8175-b5e806ca53c9.png">

[2020-03-02 13:56] m-vo commented on #1449
Services of reusable bundles should not use auto configuration ([see best practices](https://symfony.com/doc/4.4/bundles/best_practices.html#services)).

[2020-03-02 14:12] #1236 closed, assigned to Toflar

[2020-03-02 14:18] Defcon0 commented on #1449
Ah ok. In fact we're not using autoconfigure in our bundles, but we do use autowiring. As I can see, using autowiring is also discouraged for services in public bundles as you cannot tell what's in the service container.

I don't quite understand this position since we require certain bundles via composer.json and we inject new services by constructor injection with the concrete service name (full

[2020-03-02 14:40] Floxn opened #1459 "Veranstaltung wird ausgeblendet wenn Endzeit 00:00 Uhr ist"
**Affected version(s)**
4.8.7 & 4.9.0 (demo.contao.org)

**Description**
Eine Veranstaltung wird in der Liste nicht mehr angezeigt wenn die Endzeit 00:00 Uhr beinhaltet. Listenansicht ist mit "alle zukünftigen Events" eingestellt. Stellt man die Endzeit auf 23:59 Uhr erscheint die Veranstaltung wieder.

**How to reproduce**
In der Demo eine Veranstaltung auf das heute Datum stellen, Startseite auf

[2020-03-02 15:11] fritzmg commented on #1449
That seems wrong. It should be perfectly fine to use autoconfiguration for public bundles.

[2020-03-02 15:16] fritzmg commented on #1449
@Defcon0 regarding autowiring in public bundles: @Toflar recently made a PR for that: https://github.com/symfony/symfony-docs/pull/13063

https://symfony.com/doc/4.4/service_container/autowiring#public-and-reusable-bundles

[2020-03-02 15:19] m-vo commented on #1449
:man_shrugging:

[2020-03-02 15:23] Defcon0 commented on #1449
Mhm, very sad. It's such a comfort feature and we shouldn't use it in bundle development? In my opinion the use case where someone would override the class in the service container with some incompatible class, is very articificial and why should a developer do that?

[2020-03-02 18:08] Physiklehrer commented on #1459
Contao verhält sich hier doch korrekt entsprechend der üblichen Zeitrechnung. Heute 0:00 Uhr ist eben definiert als "heute früh um Mitternacht" und ist damit den ganzen Tag über schon verstrichen. Wenn das die Endzeit ist, taucht das Event folgerichtig bei "alle zukünftigen Events" nicht mehr auf.

Wer "morgen 0:00 Uhr" als Endzeit haben möchte, muss eben das Datum von morgen einstellen, nicht das

[2020-03-02 18:15] m-vo commented on #1459
Startzeit > Endzeit macht aber nie Sinn, gegen diesen Fall sollten wir validieren.

[2020-03-02 18:18] Physiklehrer opened #1466 "UTF-8-BOM zu CSV-Datei hinzufügen"
Contao 4.4

Betrifft: Formulargenerator -> Per E-Mail versenden -> Datenfomat: CSV-Datei.

Problem: Microsoft Excel interpretiert die CSV-Datei nicht als UTF-codiert und stellt dementsprechend Umlaute nicht korrekt dar.

Lösung: vor die CSV-Datei das BOM (Byte-Order-Mark) für UTF-8 hinzufügen mit $utf8_with_bom = chr(239) . chr(187) . chr(191) . $utf8_string;

siehe https://stackoverflow.com/quest

[2020-03-02 18:27] Physiklehrer commented on #1459
das ist richtig! Also: Ticket doch nicht schließen, sondern Validierung einbauen!

Edit: bzw. wiederherstellen, ich denke das war sicher schon mal drin

[2020-03-02 18:29] fritzmg commented on #1459
Related: https://github.com/contao/contao/pull/1134

[2020-03-02 18:44] Physiklehrer commented on #1466
Ich hab's gefunden, siehe Pull Request. Getestet mit Contao 4.4.36, funktioniert gut.

[2020-03-02 21:04] Mynyx opened #1471 "Tooltip Eventeinstellungen bearbeiten"
Bei dem Tooltip zum Icon für ``Eventeinstellungen bearbeiten`` wird stattdessen ``Artikeleinstellungen bearbeiten`` angezeigt.

https://demo.contao.org/contao?do=calendar&table=tl_content&id=6

![image](https://user-images.githubusercontent.com/1632642/75717488-7fc8ae80-5cd1-11ea-9e49-9089c540ee99.png)

[2020-03-02 21:16] Mynyx opened #1472 "Events Feld "Kommentare deaktivieren" ohne comments-bundle"
In den Einstellungen von Events wird das Feld ``Kommentare deaktivieren`` auch angezeigt, wenn das ``comments-bundle`` nicht installiert ist.

[2020-03-02 21:36] Mynyx opened #1473 "Übersetzung tl_calendar.jumpTo.1, tl_calendar_events.jumpTo.1 und tl_calendar_events.articleId.1"
Verbesserungsvorschläge für die Übersetzungen ``tl_calendar.jumpTo.1``, ``tl_calendar_events.jumpTo.1`` und ``tl_calendar_events.articleId.1``:

https://github.com/contao/contao/blob/bf87609767e5623d9da8b98920683bef2d651997/calendar-bundle/src/Resources/contao/languages/de/tl_calendar.xlf#L16-L19

``Bitte wählen Sie die Eventleser-Seite aus, zu der Besucher weitergeleitet werden, wenn sie ein Even

[2020-03-02 22:57] Mynyx opened #1474 "Einheitliche Bezeichnung Kalender-Feeds im calendar-bundle"
Im ``calendar-bundle`` werden die Bezeichnungen ``RSS-Feeds`` und ``Kalender-Feeds`` gemischt verwendet, obwohl dasselbe gemeint ist.

So ist der Button auf der Seite ``/contao?do=calendar`` mit ``RSS-Feeds`` beschriftet, auf der verlinkten Seite ``/contao?do=calendar&table=tl_calendar_feed`` lautet der Breadcrumb-Eintrag jedoch ``Kalender-Feeds``.

Durch eine einheitliche Bezeichnung mit ``Kalend

[2020-03-03 06:50] Nightwing0815 commented on #1441
Guten morgen,

der Serverumzug ist erfolgt und ergibt folgende Version:

GD library Version 		2.2.5 & imagick module version 	3.4.4

Firefox Desktop zeigt trotzdem *.jpg, obwohl *.webp aktiviert ist (Werte in about:config):

image.http.accept		image/webp,*/* & image.webp.enabled		true

Firefox Beta Android zeigt *.webp

Seite: [https://uracher-schaeferreigen.de/bilder/](https://uracher-schaeferrei

[2020-03-03 07:16] m-knorr commented on #1441
Guten morgen,

auch hier ist der Umzug erfolgt.

GD Support | enabled
GD headers Version | 2.2.5
GD library Version | 2.2.5

Chrome zeigt die Bilder nun wieder an - also ist das Grundproblem durch die aktualisierte GD Version behoben.

Im Firefox 73.0.1 (64-Bit) werden bei uns die Bilder auch als webp genutzt - da bestand auch vorher kein Problem.

[2020-03-03 07:37] fritzmg commented on #1441
@Nightwing0815 Poste die URLs zu den WebP Bildern, die nicht angezeigt werden.

[2020-03-03 08:01] Nightwing0815 commented on #1441
@fritzmg der Direktaufruf funktioniert, aber sollte er nicht das .webp dem .jpg vorziehen?
Link: https://uracher-schaeferreigen.de/assets/images/e/06_bilder-2e0815bf.webp
und das hier meine ich:
![Unbenannt](https://user-images.githubusercontent.com/54181775/75754708-73723f00-5d2d-11ea-9c59-ba70cd557ed5.png)
Oder verstehe ich das Feature falsch? Wie gesagt, Firefox Beta Android, selbst auf Desktop

[2020-03-03 08:46] fritzmg commented on #1441
Wenn die URL funktioniert, ist das ursprüngliche Problem behoben.

[2020-03-03 10:54] #1388 closed, assigned to richardhj

[2020-03-03 13:46] baumannsven opened #1479 "Crawler arbeitet im geschützen Bereich mit htaccess Passwort"
Gibt es eine Möglichkeit das man, wenn Contao einem htaccess geschützten Bereich liegt, den mit den Anmeldedaten zu konfigurieren?

[2020-03-03 13:58] fritzmg commented on #1479
See https://github.com/contao/docs/issues/296

[2020-03-03 13:58] #1479 closed, assigned to nobody

[2020-03-03 18:32] Mynyx opened #1484 "Umbruch zwischen Buttons beim Bearbeiten von Artikeleinstellungen"
**Affected version(s)**

Festgestellt in Contao 4.9.1

**Description**

Wenn beim Bearbeiten von Artikeleinstellungen die Fensterbreite verkleinert wird, tritt ein Bereich auf, in dem die Buttons nicht in eine Reihe passen und dennoch nicht gruppiert werden.

![image](https://user-images.githubusercontent.com/1632642/75807153-3174e780-5d85-11ea-89e6-1aa5732704ec.png)

[2020-03-04 11:57] LBeckX commented on #6369
Gibt es hier schon etwas Neues?

[2020-03-04 13:39] bennyborn opened #1488 "Using /contao in page aliases"
While working on the relaunch of our new website (we're a Contao Premium Partner) we've noticed that it's not possible to use `/contao` within a page alias. Creating a page with an url like `http://foo.bar/contao/agency.html` would result in a simple 401 error being thrown.

Since I'm lacking a deep enough understanding of Symfony I've created a non-upgrade-safe hack by editing the pattern of the

[2020-03-04 15:17] JensB74 opened #1490 "expand 'overwrite metadata' copy contents or unselect specific contents to overwrite"
Ich finde die Metadaten bei den Dateien sehr nützlich, doch manchmal muss man diese nun mal an anderer Stelle überschreiben, z.B. wenn man bei einem Bild auf einer Übersichtsseite noch einen Link zur Detailsseite anbietet und auf der Detailseite diesen Link nicht mehr benötigt, alle anderen Daten aber schon.
Nun könnte ich zwar die Metadaten überschreiben, muss dafür aber alle anderen Angaben wied

[2020-03-05 07:48] bennyborn opened #1491 "Enabled Cache leads to "Invalid request token""
**Affected version(s)**
Contao 4.9.0

**Description**
When the Cache is enabled and the user tries to submit a form, Contao will throw an `Invalid request token` error even though the token is kept updated by `/_contao/request_token_script`.
This behaviour can be reproduced on demo.contao.org (enable cache in root page, add "Contact" form to "Home"-page, try to submit the form).

Also I had no suc

[2020-03-05 08:21] kalterwind opened #1492 "Dateiverwaltung > Bild Auswahl nicht möglich"
**Affected version(s)**

Contao 4.9.1

**Description**

1. Einloggen mit normalen Benutzer
(kein Admin (!), auch wenn sonst alle Checkboxen ausgefüllt sind bei der Rechtevergabe, nur Gruppenrechte).

2. zB Inhaltselement Text > "Ein Bild hinzufügen" > "Auswahl ändern".

3. PopUp bleibt weiß./contao?do=files&popup=1&picker=[...TOKEN...] => Status 500.
(Als Administrator geht der gleiche Link)

Wei

[2020-03-05 08:58] fritzmg commented on #1492
Benutze de Debug-Modus und poste den Stack Trace.

[2020-03-05 09:50] leofeyer commented on #1488
No, there is no way, because `/contao` is reserved for the back end. Use `contao-agency.html` instead.

[2020-03-05 09:50] #1488 closed, assigned to nobody

[2020-03-05 10:32] fritzmg commented on #1488
Could still be a bug though. There is no catch-all for `/contao…` in the router, so I do wonder why this throws `401`.

[2020-03-05 10:37] leofeyer commented on #1488
The configuration is in the `security.yml` file:

https://github.com/contao/contao/blob/b9c1002fb70588936db66415dbfa286fd11617f6/manager-bundle/src/Resources/skeleton/config/security.yml#L63

[2020-03-05 10:54] fritzmg commented on #1488
I see, makes sense. We could throw an exception though when creating such an alias (though I guess that is gonna be more complicated with the upcoming changes to the routing).

[2020-03-05 12:43] zonky2 opened #1497 "Aliasgenerierung bei Zahl unterschiedlich"
Bei der "herkömmlichen" Aliasgenerierung wird nur geprüft, ob das erste Zeichen eine Zahl ist - wenn ja, wird ein `id-` davor gesetzt...

https://github.com/contao/contao/blob/master/core-bundle/src/Resources/contao/library/Contao/StringUtil.php#L998-L1001

Bei Slug wird geprüft, ob der gesamte Alias eine Zahl ist
https://github.com/contao/contao/blob/master/core-bundle/src/Slug/Slug.php#L60-L62

[2020-03-05 14:40] bennyborn commented on #1488
Okay, besides `/contao` being reserved for the backend... As far as I can tell there seems to be currently no way to extend the firewall rules if I were to build a Symfony bundle which should be used within a Contao installation. Regarding the fact that you guys try to move further and further into using Symfony this might become a problem in the future which should be discussed.

[2020-03-05 14:50] bytehead commented on #1488
You can use `contao/core-bundle` just as a regular Symfony bundle where you can adjust the firewall rules yourself: https://docs.contao.org/dev/getting-started/initial-setup/symfony-application/

[2020-03-05 14:52] bytehead commented on #1488
And bundles can never ship own firewall configs, as there is only one `security.yml` per application. But you can tell the users to add certain pieces to their existing `security.yml` to configure your bundle then.

[2020-03-05 14:56] bennyborn commented on #1488
Thanks for the explanation @bytehead, that was very helpful!

[2020-03-05 14:56] madmaharaja opened #1498 "Berücksichtigung vom Standard abweichender Weiterleitungen in News-/Eventreader"
Meines Erachtens könnte man den Hintergrund des ersten Teils dieses Featurewunsches fast schon als "Bug" bezeichnen (zwar kein Fehler im Code, aber meines Erachtens ein Fehler in der Funktionsweise). Es betrifft alle Contao-Versionen (ist also schon immer so gewesen) und lässt sich auch in der aktuellsten Demo (4.9) reproduzieren:

Wenn man eine Nachricht oder Veranstaltung veröffentlicht hat, wir

[2020-03-05 15:02] m-vo commented on #1498
MMn ist das kein Bug. Das gleiche hast du, wenn du z.B. den Alias änderst. Was hindert dich daran in diesem Fall eine Weiterleitung einzurichten?

[2020-03-05 15:04] fritzmg commented on #1498
That is the intended behaviour. See https://github.com/contao/news-bundle/issues/33

[2020-03-05 15:09] kalterwind opened #1499 "Inhaltselement - Toggle verstecken/anzeigen > HTTP 403"
**Affected version(s)**

Contao 4.9.1

**Description**

Normaler Benutzer (Admin funktioneit), nur Gruppenrechte (alles angehakt).
**Inhaltselement per Auge switchen:
HTTP Status: 403**

**Übrigens beim Inhaltselement "Text" geht es, zB bei "Bild" oder "Überschrift" nicht.**

"Not enough permissions to modify content elements of type "headline"."
Stack Traces (2):
[code]

[2020-03-05 15:27] madmaharaja opened #1500 "Möglichkeit, News-/Events aus News-/Eventlisten auszublenden (ohne Deaktivierung)"
Ich fände es praktisch, wenn man einzelne News bzw. Events aus Nachrichtenlisten/Eventlisten ausblenden könnte, während die Ziel-URL/Weiterleitung aber trotzdem funktioniert. Also, analog zu dieser Funktion in der Seitenstruktur:
![image](https://user-images.githubusercontent.com/3133710/75993994-99990a00-5efa-11ea-8e98-7ff1e463344a.png)

Stattdessen eben sowas:
![image](https://user-images.github

[2020-03-05 15:28] fritzmg commented on #1500
Das kannst du ja mit verschiedenen Archiven lösen. Also ein Archiv für Nachrichten, die in einer Liste angezeigt werden sollen und ein Archiv für Nachrichten, die nicht in einer Liste angezeigt werden sollen.

[2020-03-05 15:53] madmaharaja commented on #1498
Hi @fritzmg, danke für den Hinweis/Link! Wenn ich das Ticket https://github.com/contao/news-bundle/issues/33 richtig verstehe, dann weist der Verfasser ja auf das gleiche Problem hin und wünscht sich das gleiche Feature. Die Begründung https://github.com/contao/news-bundle/issues/33#issuecomment-380728647 finde ich nicht ganz nachvollziehbar. Dann müsste ja streng genommen, das gleiche Verhalten a

[2020-03-05 16:01] madmaharaja commented on #1500
Wäre sicherlich auch nochmal ein Workaround, der funktionieren würde (danke für den Hinweis -- solange es nicht anders geht, würde ich es so tatsächlich in Betracht ziehen). Sobald aber z.B. viele Redakteure im Spiel sind (für die man es auch so simpel wie möglich halten möchte), wird es wieder unpraktikabler. Aber, ob für Redakteure oder nicht -- es wäre jedenfalls nicht so User-freundlich, wie v

[2020-03-05 16:02] fritzmg commented on #1498
Nein, die 404 Seite wird angezeigt wenn `source != 'default'`. Also immer dann, wenn die Nachricht keinen Detailinhalt hat.

[2020-03-05 16:37] madmaharaja commented on #1498
Grundsätzlich macht es natürlich Sinn eine 404-Seite anzuzeigen, wenn kein Inhalt vorhanden ist. Aber, wenn man eine Weiterleitung eingerichtet hat, dann hat man doch explizit festgelegt, was/wo der eigentliche Detailinhalt sein bzw. zu finden sein soll (der aber ausnahmsweise nicht am Standartort, sondern eben woanders "abgelegt" ist). Dann kann es doch weder aus User-, noch aus Webmaster-Sicht d

[2020-03-05 16:54] fritzmg commented on #1498
Mit "Weiterleitungsziel" ist bei einer Nachricht gemeint, wohin der Link einer Nachricht in der Newsliste bzw. Newsarchiv zeigen soll. Man legt damit nicht wirklich eine Weiterleitung die Detailseite einer Nachricht fest.

[2020-03-05 17:05] madmaharaja commented on #1498
Dass das der Fall ist, habe ich ja bemerkt – darum dieses Ticket. 😀
Ich verstehe halt nach wie vor nicht, warum das das bessere oder gar gewünschte Verhalten sein soll? In welchem Anwendungsfall sollte man je einerseits explizit eine Weiterleitung für eine News angeben (anstatt sie zu löschen/deaktivieren) und andererseits als gewünschten Outcome haben, dass ein Besucher auf eine 404-Seite gerät?

[2020-03-05 18:58] m-vo commented on #1498
Aus Sicht der Detailseite ist das eine vorhandener Content (200), das andere nicht (404). Die "Weiterleitung" ist nur ein externer Link des Listers und keine Weiterleitung (30*) - das wäre ja ein unnötiger Redirect.

Dein Problem mit der Suchmaschinen Indexierung tritt nur beim Wechseln der Modi auf. Ob das ein sinnvolles Feature ist (automatische Redirects anzulegen) kann man ja diskutieren, aber

[2020-03-05 20:42] asaage commented on #1500
Dann will man im Anschluss vielleicht NachrichtenArchive/Listen haben, die diese nicht-sichtbaren Einträge trotzdem anzeigen - und das müsste auf die Module ausgeweitet werden.
Siehe Modul-Navigationsmenü:
![image](https://user-images.githubusercontent.com/4138336/76023675-e1835580-5f29-11ea-886e-ac3320b5ec4a.png)
Ich glaub, das mit separaten Archiven macht am meisten Sinn - zumal du ja Einträge v

[2020-03-06 13:51] spin80 opened #1504 "Crawler returns error 500."
Hi,
When I try to run the crawler, I get an error:

[code]

New-page.html is an alias of the root node. When I type this address into my browser, it redirects me to the first page: start.html. So it seems to be okay.

Crawler doesn't see subpages. It stops at the root node. There are no errors in the var/logs directory.
Contao 4.9.1, php 7.2

Any ideas?

[2020-03-06 13:53] bennyborn opened #1505 "Missing space between attributes"
**Affected version(s)**
Contao 4.4 up to current HEAD

**Description**
If we define a `icon` for a button in `global_operations` there is no space between the `title` and `style` attribute of the anchor.

https://github.com/contao/contao/blob/6d53b745f413971babd1de06c13d8e817256f921/core-bundle/src/Resources/contao/classes/DataContainer.php#L931

The W3C validator acknowledges this with a "No spac

[2020-03-06 16:26] ausi commented on #1497
Soweit ich weiß wird `standardize()` auch an Stellen für CSS-IDs oder Klassen verwendet. Diese dürfen nicht mit einer Zahl beginnen.

[2020-03-06 16:28] zonky2 commented on #1497
hmm... - o.k. @leofeyer ist das so? dann schließe ich das wieder

[2020-03-06 16:29] ausi commented on #1497
Beispiel:

https://github.com/contao/contao/blob/80355f3f7e2fa95759008f28d6ea3293ed210dea/core-bundle/src/Resources/contao/templates/block/block_section.html5#L2

[2020-03-06 16:31] #1497 closed, assigned to nobody

[2020-03-07 10:29] Toflar commented on #1488
If you're using the Contao ME, you can even add your firewall via the Manager Plugin. It's not super easy but I've explained why it's not and how you can do it in the docs: https://docs.contao.org/dev/framework/manager-plugin/#adding-a-custom-symfony-firewall

[2020-03-07 10:36] Toflar commented on #1504
Is that domain reachable for the crawler? Your browser !== your crawler. E.g. you might have proxy settings in your browser, the crawler does not know about.

[2020-03-07 10:40] Toflar commented on #1491
Can you please explain how exactly I can reproduce this issue step by step? The `/_contao/request_token_script` is only needed when you enable the `Always load from shared cache` checkbox which was not part of your issue description. So I'm not sure if it is complete :)

[2020-03-07 11:18] bennyborn commented on #1491
By mentioning `/_contao/request_token_script` I wanted to say that I made 100% sure that the Request-Token in the form was indeed a valid one ;) The description is as simple as in my og post (reproduceable on demo.contao.org):

- Enable server side cache in root page
- Add "Contact" form to "Home"-page
- Try to submit the form

[2020-03-07 11:19] spin80 commented on #1504
I think so.
I checked the domain with https://robhammond.co/tools/seo-crawler
And everything seems to be okay. What else can I do to check it out?

[2020-03-07 11:19] bennyborn commented on #1488
Awesome. I guess thats exactly what I'd need! :)

[2020-03-07 14:52] asaage commented on #1491
Can you please check if this is the same issue?
https://community.contao.org/de/showthread.php?77099-Erweiterung-umstellen-von-4-4-x-auf-4-8-x-Problem-mit-CSRF

I'm getting empty ```REQUEST_TOKEN``` and no ```csrf_https-contao_csrf_token``` cookie whenever it is an initial pageload (like for example a fresh private Tab) even without enabled cache in site-root.

[2020-03-07 21:33] fritzmg commented on #1491
I assume you mean the following configuration, when you say _"Enable server side cache in root page_":

* __Private cache timeout:__ 0
* __Shared cache timeout:__ 1 year
* __Always load from shared cache:__ disabled

I am unable to reproduce the problem this way. But mostly because for some reason Contao refuses to cache https://demo.contao.org/en/

I inserted the form on pages other then the `ind

[2020-03-07 22:03] bennyborn commented on #1491
Could it have something to do with being logged into the backend?

I just tried the following settings on the page root

![image](https://user-images.githubusercontent.com/226890/76153088-8be4af80-60c7-11ea-9e5d-dbd3ad32ca20.png)

Of course added the "Contact" form to the page "Home".

Submitting this in the same browser session I was being logged into the backend with it did work without any prob

[2020-03-07 23:39] fritzmg commented on #1491
You need to test without being logged in. Having an active back end log in disables the shared cache.

I still cannot reproduce the problem. I now instead enabled the shared cache _and_ the private cache, inserted the contact form into https://demo.contao.org/en/content-elements.html, then made sure the page is cached and then submitted the form.

[2020-03-08 14:54] bennyborn commented on #1491
I'll try to do a screencast but unfortunately the demo seems to be offline currently.

**Update**
The behaviour is quite strange. In the last attempts I did not have to have `Always load from shared cache` checked to trigger the problem. Today I only got it triggered by doing so.

[2020-03-08 15:33] Blog404DE commented on #1491
the demo-page is running behind a CloudFlare reverse-proxy. I'm just guessing - but maybe that's the reason, why the demo-installation had a different behaviour than a "normal" local installation.

The described problem exists not only on 4.9.0 with Contao forms. The same happened if you have a Contao Extension/Module which uses the Request-Token {{REQUEST_TOKEN}}. As with Contao forms, the very f

[2020-03-08 15:39] bennyborn commented on #1491
We first noticed this problem in our own extension with 4.8. Back then the actual solution was to use the Insert-Tag instead of setting the request token using the PHP constant. What is puzzling me now is that in 4.9 I still get a new token on every page load since the cache does not work for me in 4.9 at all, but nonetheless I still receive `Invalid request token` ⁉️

[2020-03-09 10:20] madmaharaja commented on #1498
In den Fällen, wenn eine News oder ein Event gelöscht oder deaktiviert wurde oder wenn der Alias geändert wurde, leuchtet mir ja völlig ein, warum dieses Verhalten gewünscht ist und Sinn macht (200 vs. 404). Wurde aber die Standardweiterleitung geändert (ob von vornherein oder anschließend), fällt mir keine logische Erklärung ein, weshalb eine 404-Statusmeldung je wünschenswerter oder sinnvoller s

[2020-03-09 10:26] fritzmg commented on #1498
Eine `301` Weiterleitung bedeutet, dass der Inhalt, der zuvor unter dieser URL gefunden wurde, nun unter der neuen URL zu finden ist. Das ist höchstwahrscheinlich nicht für ausnahmslos alle Nachrichten mit interner oder externer Link-Zielseite der Fall.

[2020-03-09 10:41] m-vo commented on #1498
Immer :-) 404 ist die ehrliche Response: Diese Resource gibt es nicht (mehr).

Du möchtest "State" einführen - nämlich, dass sich ein Modul anders verhält, wenn es zuvor anders konfiguriert war.

[2020-03-09 10:54] madmaharaja commented on #1498
Mir fallen nur Beispiele ein, wo es der Fall wäre. Hast du ein anderes Beispiel? Und selbst, wenn es "_höchstwahrscheinlich nicht für ausnahmslos_" der Fall ist, dann bedeutet es doch auch, dass es höchstwahrscheinlich für die überwiegende Mehrheit der Fälle gilt. Deshalb verstehe ich nicht die Opposition zum Vorschlag.

Nochmal: Wenn man eine News löscht, deaktiviert oder auch den Alias abändert,

[2020-03-09 10:56] fritzmg commented on #1498
Nenne einen konkreten Use-Case.

[2020-03-09 11:12] asaage commented on #1498
Ich würde dem rein schon aus Konsitenzgründen zustimmen - bei Seiten verhält es sich schließlich auch so.
Eine Weiterleitungsseite funktioniert mit ihrem Alias + Redirect obwohl sie in Menüs mit direktem Link dargestellt wird.

[2020-03-09 11:28] madmaharaja commented on #1498
Gerne:
Wir veröffentlichen alle unsere Stellenangebote als News. Zum einen, weil eine neue Stelleneröffnung eine relevante Neuigkeit ist, zum anderen, weil es den netten Nebeneffekt hat, dass das Stellenagebot dadurch automatisch an unterschiedlichen dafür vordefinierten Stellen angezeigt werden kann (z.B. "Newsliste allgemeine Neuigkeiten", "Newsliste Stellenangebote des betreffenden Standorts",

[2020-03-09 12:01] fritzmg commented on #1498
Das ist ein spezieller Use-Case, den man sicher nicht generell auf alle Nachrichten anwenden kann. Und wie gesagt, `301` Status bedeutet:

Dass die alte URL auf eine Übersichtsseite leitet, wäre also falsch.

[2020-03-09 12:03] #1432 closed, assigned to nobody

[2020-03-09 12:05] #1441 closed, assigned to nobody

[2020-03-09 12:06] leofeyer commented on #1442
The manager bundle enables this by default:

https://github.com/contao/contao/blob/4.9/manager-bundle/src/Resources/skeleton/config/config_prod.yml#L4-L6

[2020-03-09 12:08] #1466 closed, assigned to nobody

[2020-03-09 12:12] leofeyer commented on #614
/ping

[2020-03-09 12:16] leofeyer commented on #760
@ben-eSM Has @aschempp's answer solved your problem? Can we close the issue?

[2020-03-09 12:19] fritzmg commented on #1442
Right, then we actually need a reproduction for the cases, where the users do _not_ see the pretty error screen in their Contao 4.9 setups.

[2020-03-09 12:26] leofeyer commented on #962
Anything new here?

[2020-03-09 12:29] m-vo opened #1507 "Schema diff / order of execution"
**Affected version(s)**
all (but in this iteration only relevant since `contao:migrate` exists)

**Description**
When dealing with database constraints, the order of executing schema changes matters (e.g. you cannot drop a table before dropping a foreign key constraint on that table). Doctrines schema diff already handles this correctly but we reorder the commands afterwards in order to group them

[2020-03-09 12:36] leofeyer commented on #1156
Hm, ich weiß nicht. Als Versionsnummer käme ja nur die Contao-Version in Frage, aber das scheidet für mich aus, weil man dadurch die Version einer Installation herausfinden könnte (indem man sich z.B. registriert und dann den Mail-Header ausliest). Und eine statische Versionsnummer erscheint mir irgendwie sinnlos.

@contao/developers WDYT?

[2020-03-09 12:37] #1163 closed, assigned to nobody

[2020-03-09 12:40] leofeyer commented on #1187
Wie genau lässt sich das Problem reproduzieren?

[2020-03-09 12:40] frontendschlampe commented on #962
It still exist, but I can't debug it.

[2020-03-09 12:41] m-vo commented on #1156
Wozu wird die Versionsnummer denn benutzt?

[2020-03-09 12:43] Funbug commented on #1187
Wenn ich eine bestehende Nachricht unsichtbar schalte, wird der Feed falsch ausgegeben:
https://km-kd.de/share/news.xml

Sobald der Cron wieder drüberläuft, ist es wieder richtig.

[2020-03-09 12:43] kroerig commented on #1156
Es könnte ja auch die Version vom Swiftmailer sein.

[2020-03-09 12:47] fritzmg commented on #1156
~~Laut https://tools.ietf.org/html/draft-melnikov-email-user-agent-00 soll da auch keine Version drin stehen.~~

Hm, eine Version _kann_ drin stehen, muss aber nicht - aber vielleicht interpretiere ich auch den RFC falsch.

[2020-03-09 12:53] ben-eSM commented on #760
I didn't come back to that issue until today, but I think @aschempp's proposal to use an onload_callback should work.

[2020-03-09 12:56] Bear30 commented on #962
Hallo, ich antworte mal auf deutsch ... ist einfacher. Ich sehe den Fehler (bei All-inkl) immer noch dauernd beim Updaten/Upgraden. Auch die 4.9.1 hat das Problem. Das war bisher bei mir immer dem php_limit von 256 geschuldet. Meist helfen 512 MB, manchmal aber auch erst 1024, manchmal auch erst ein Telefonat mit All-inkl. Cache löschen vor dem Updaten bringt manchmal den letzten Kick damit es läu

[2020-03-09 13:13] kroerig commented on #1156
Es soll etwas drinstehen, das den MUA eindeutig identifiziert.
Jeder klassische Mailclient schickt seinen Namen und in irgendeiner Form seine Version mit.

Spamfiler werten das aus. Heute zwar nicht mehr so streng wie zu Anfang, aber es spielt mit rein.

Es gibt so ein paar Privacy Appliances, die meinen sie müssten das Feld (und noch ein paar andere) aus Datenschutzgründen entfernen. Diese Mails

[2020-03-09 13:25] fritzmg commented on #1156
Hier muss die Spam Filterung angepasst werden, nicht umgekehrt.

[2020-03-09 13:40] kroerig commented on #1156
Im Fall dieser Privacy Appliances, gehört das Teil selbst in die Tonne, die machen nämlich i.d.R. die ganze Mail kaputt. Aber darum geht es nicht.

Spamassassin und RSPAMd werten es als Spamindiz, wenn eine Mail zwar einen User-Agent oder X-Mailer enthält, dieser aber keine Version enthält, da jeder klassische MUA halt eine Version mitsendet:

- User-Agent: Mozilla/5.0 (Windows NT 10.0; WOW64; rv:

[2020-03-09 13:50] #760 closed, assigned to nobody

[2020-03-09 13:53] fritzmg commented on #1156
Du könntest automatisiert auf Web Applikationsversionen testen, die eine bekannte Sicherheitslücke haben.

[2020-03-09 14:16] kroerig commented on #1156
Das kann ich auch so. Dazu brauche ich keinen Mailheader.
Wie gesagt, ganz weglassen wäre auch eine Möglichkeit.

[2020-03-09 14:27] leofeyer commented on #1311
There are valid use-cases to call `loadDataContainer()` without loading the language file first, therefore those two functions are separate and have always been separate – even in Contao 4.4:

https://github.com/contao/contao/blob/3e772fce96656665311e24f11cefb50ea5b5451e/core-bundle/src/Resources/contao/library/Contao/Controller.php#L1253-L1257

If you know that you will need the labels, you have

[2020-03-09 14:34] fritzmg commented on #1156
Nein, auf Versionen nicht - denn die Web Applikation sollte die Versions Nummer eben nirgendwo Preis geben. Du könntest höchstens auf Verdacht auf gewisse Sicherheitslücken testen - aber das funktioniert bei komplexeren Sicherheitslücken nicht mehr so leicht.

[2020-03-09 14:43] bennyborn commented on #1311
Yeah, those two functions should be kept seperate from another.

@leofeyer Any update regarding https://github.com/contao/contao/issues/1311#issuecomment-587328880? It is still a serious problem since we'd like to ship Contao installations that do not look like they're broken ;)

[2020-03-09 14:50] leofeyer commented on #1311
As I have said, I cannot reproduce the problem. I have already updated several websites to Contao 4.9, some run on PHP 7.2, most of them on PHP 7.3 and a few on PHP 7.4. The issue did not occur in any on them. 🤷‍♂

[2020-03-09 14:52] #1337 closed, assigned to nobody

[2020-03-09 14:56] leofeyer commented on #1390
Siehe #1444.

[2020-03-09 14:56] #1390 closed, assigned to nobody

[2020-03-09 15:06] #1394 closed, assigned to nobody

[2020-03-09 15:09] leofeyer commented on #733
In welchen Contao-Versionen tritt das Problem auf? Contao 4.4 oder 4.9?

[2020-03-09 15:14] zonky2 commented on #1337
Schade...

[2020-03-09 15:17] leofeyer commented on #773
Ergebnis der Diskussion: 4 Teilnehmer und 4 Meinungen!

1. Ich nutze Sticky Backend Footer
2. Ich nutze Sticky Backend Footer nicht mehr seit ich die Tastatur-Shortcuts kenne
3. Ich nutze lieber Contao-OM-Backend
4. Ich bevorzuge fixierte Buttons oben und immer sichtbar

Und genau das ist der Grund, warum wir keine Lösung in den Core übernehmen. Es gibt halt einfach nicht den "richtigen" Weg, dahe

[2020-03-09 15:17] #773 closed, assigned to nobody

[2020-03-09 15:29] leofeyer commented on #739
Wir haben das Ticket besprochen und sind der Meinung, dass es die Aufgabe des Themes ist, die Codeblöcke sinnvoll im Frontend darzustellen.

Ich persönlich finde die beiden Screenshots mit den eingeklappten Code-Blöcken auch in keiner Weise weniger verwirrend oder besser lesbar als mit ausgeklappten Code-Blöcken. Hier müsste auf jeden Fall das UX nochmal überarbeitet werden. Außerdem müsste aus di

[2020-03-09 15:29] #739 closed, assigned to nobody

[2020-03-09 15:43] madmaharaja commented on #1498
Nirgends ist festgelegt, dass eine Weiterleitung nur auf 100%ig identischen Content erfolgen darf und sonst gar nicht (dann dürfte man streng genommen auch Inhalte unter einer bestimmten URL nie verändern). Im Gegenteil -- die Redirects sind ja nicht aus Prinzip eingeführt worden oder, um irgendwelche Maschinen zufriedenzustellen, sondern, um sicherzustellen, dass User das (wieder)finden, was sie

[2020-03-09 16:03] Nightwing0815 commented on #739
Vielen Dank, das Ihr Euch damit auseinandergesetzt habt!

[2020-03-09 16:40] m-vo opened #1508 "TwigExtension for outputting image (templates)"
I'm using twig quite heavily in my own projects. One thing that's always a bit cumbersome by default though is working with images.

So lately I've been adding a `PictureExtension` that can output a rendered image template like so:
[code]
(...or output the individual data values and recreate the template in a macro)

Wdyt about shipping something like this (or better) by default?
For me this sped

[2020-03-09 19:15] Funbug commented on #1187
Betrifft auch 4.9.1.

[2020-03-09 19:42] Mynyx opened #1510 "Breadcrumb im Backend-Modul Nachrichten"
**Affected version(s)**

Festgestellt in Contao 4.9

**Description**

Im Backend-Modul Nachrichten wird im Breadcrumb "Artikel" statt "Beiträge" angezeigt.

![image](https://user-images.githubusercontent.com/1632642/76250610-ee63ba00-6245-11ea-8b43-ea43255c3e50.png)

[2020-03-09 19:52] Mynyx commented on #733
Sowohl als auch.

[2020-03-09 20:27] Mynyx commented on #784
Daher der Vorschlag, entweder den Button zur Vergleichsansicht in diesem Fall zu deaktivieren oder im Auswahlmenü alle Templates anzuzeigen, wie dies auch bei Templates ohne Präfix geschieht.

[2020-03-10 07:31] Toflar opened #1511 "Do not show FE preview button if no preview script was configured"
**Affected version(s)**

Contao 4.9

**Description**

The `BackendPreviewListener` adds the preview link even if there was no `contao.preview_script` configured. I think we should not show it in that case as imho it always makes sense to have a special preview URL, even if you don't necessarily use any caching system.

Wdyt?
/cc @bytehead @sheeep because you're using the core-bundle standalone as

[2020-03-10 07:57] leofeyer commented on #1511
Agreed.

[2020-03-10 08:31] bytehead commented on #1511
I'm fine with hiding it when no `contao.preview_script` is configured. We should definitely mention this in the docs for curious people.

[2020-03-10 09:02] aschempp commented on #1511
I think the (initial) idea was to always show it, but the link should just point to the "current" entry point. Not showing it is not necessarily correct, because if an entry point does not have a cache its totally fine to use it. And the button is very useful e.g. inside a news item to see it in the front end.

[2020-03-10 09:03] Toflar commented on #1511
But apparently that doesn't work. If you leave it empty, you'll end up in a 404 according to Slack. Can you maybe verify, @bytehead?

[2020-03-10 09:03] aschempp commented on #733
Verstehe ich richtig dass es um Datensätze geht, auf welche der Benutzer Zugriff hatte, etwas geändert hat und **danach** die Berechtigung entfernt wurde?

[2020-03-10 09:09] aschempp commented on #1156
Aus meiner Sicht können wir _Contao_ rein schreiben. Eine Version ist aus verschiedenen Gründen nicht richtig und nicht nötig. Selbst die Browser beginnen in ihren User-Agents die Version zu _freezen_, sodass die effektive Browser-Version nicht mehr verwendet werden kann.
https://groups.google.com/a/chromium.org/forum/#!msg/blink-dev/-2JIRNMWJ7s/yHe4tQNLCgAJ

[2020-03-10 09:12] bytehead commented on #1511
If I remove the `contao.preview_script` parameter in my `config/packages/contao_core.yaml` I get an endless redirect after clicking the preview button.

[2020-03-10 09:14] Toflar commented on #1511
Either one has to be fixed, then 😄

[2020-03-10 09:14] leofeyer commented on #733
Ja.

[2020-03-10 09:15] bytehead commented on #1511
IMHO the button makes no sense to me if the preview script is not properly configured.

[2020-03-10 09:17] aschempp commented on #1491
Please be aware that the mentioned behavior of not having a `REQUEST_TOKEN` is intended and correct.
 1. if a user is a guest (no session cookie), a request token is not necessary because we do not need to prevent any cross-site requests (XSS attack)
 2. by default, only if the user is a guest (as no session cookie), the file will be delivered from the cache. Therefore, a cache file never has no r

[2020-03-10 09:18] aschempp commented on #1442
if you explicitly set `contao.pretty_error_screens: false` in your `config.yml`, the managed edition configuration should be overridden (and no pretty error screens should show up).

[2020-03-10 09:20] aschempp commented on #1507
this should most likely be fixed by https://github.com/contao/contao/pull/1445, can you check that?

[2020-03-10 09:21] fritzmg commented on #1442
Closing this, as we don't have a reproduction for the problem, where a user does not see the pretty error screen by default.

[2020-03-10 09:21] #1442 closed, assigned to nobody

[2020-03-10 09:22] bennyborn commented on #1491
I did not disagree on this one. There IS a `REQUEST_TOKEN` and it's still failing - that's the bug in there.

Edit: Nur für den Fall das wir hier ein Verständnisproblem haben oder mein Englisch nicht sauber war. Mit aktiviertem Cache (aktuell inklusive `Always load from shared cache`) bekommt das Formular einen `REQUEST_TOKEN` gesetzt, nach dem Abschicken gibt es aber die Meldung `Invalid request

[2020-03-10 09:25] fritzmg commented on #1156
Es wird bereits _Contao Open Source CMS_ geschrieben:

https://github.com/contao/contao/blob/8ba73b834c88ad6a275420bded02fe436a2f4e0e/core-bundle/src/Resources/contao/library/Contao/Email.php#L132

[2020-03-10 09:34] aschempp commented on #1508
sounds legit to me. Maybe a feature for 4.10? I don't like the `|raw` though, I think an extension can tell whether it will "ship" safe HTML?

[2020-03-10 09:40] aschempp commented on #1499
hast du auch die Berechtigungen auf die entsprechenden Datenbankfelder (`tl_content.invisible`). gesetzt?

[2020-03-10 09:54] aschempp commented on #1472
@leofeyer why is this targeted at 4.10 ?

[2020-03-10 10:01] aschempp commented on #1449
I actually disagree with Symfony here as well. If your bundle is _implementing a library_ (e.g. the monolog bundle for monolog), then you should not use autowiring or autoconfiguration. For any other reason, it seems perfectly valid to me.

Just to write it down, you can also use annotations without autoconfiguration:

[code]

[2020-03-10 10:04] akroii opened #1512 "json+ld not valid"
**Affected version(s)**

only Contao > 4.9

**Description**

Contao delivers json+ld `@type":"RegularPage"` by default at the bottom of the source code. But the json is not valid.

Steps to reproduce:
1. [view-source:demo.contao.org](view-source:demo.contao.org)
2. copy: `
{"@context":"https:\/\/schema.contao.org\/","@type":"RegularPage","pageId":2,"noSearch":false,"protected":false,"groups":[],"f

[2020-03-10 10:06] aschempp commented on #1393
That would be clever, but not sure how to do that 🙃

[2020-03-10 10:12] aschempp commented on #1440
having the same field name is imho a supported use case. An example would be multiple checkbox fields with name `foo[]`. It might also be supported for GET forms.

[2020-03-10 10:15] #1499 closed, assigned to nobody

[2020-03-10 10:16] bennyborn commented on #1440
Agreed. But at least the backend should throw an error if the field name does not contain square brackets and is already taken. And there is still the problem that fields with the same name are only visible once.

[2020-03-10 10:18] aschempp commented on #1511
Again, it makes sense to me. I'm sure we can fix the endless redirect easily.

[2020-03-10 10:21] bytehead commented on #1511
If there is no explicit preview entry point what should be shown to the user?

[2020-03-10 10:24] aschempp opened #1515 "Remove rememberme hashing with Symfony 5.2"
Once we support Symfony 5.2 only, we can remove our custom rememberme hashing: https://github.com/symfony/symfony/pull/35960

[2020-03-10 11:01] Toflar commented on #1393
onload_callbacks and just unset the sql definitions?

[2020-03-10 12:01] dmolineus opened #1517 "Override page dns settings by configuration"
When having a Contao project on multiple stages and in custom developer environments the page dns settings has always be adjusted. Automated processes require the extra database manipulation to adopt these settings.

After discussing this limitation with a customer of mine, the idea came up to override the page dns settings by a configuration file. So it would be possible to change the dns entries

[2020-03-10 12:16] bytehead commented on #1517
I never work with DNS settings in the root page because of this limitation. This feature would be awesome, especially for multi-domain setups.

[2020-03-10 12:27] bennyborn commented on #1517
Having the same situation here. Everytime we're working with a multi-domain installation we need to make sure to set our own domain names and undo these changes before deploying back onto the customers hosting.

[2020-03-10 13:07] bibib commented on #1262
Nachdem die Lösung bei sennamint funktioniert hat, habe ich die Sache bei meinem Kunden nochmals überprüft und festgestellt, dass ein Template eines Themes dem Spamschutz in die Quere gekommen ist. Ich habe das Template eliminiert und den Spamschutz nochmal überprüft - seit einer Woche ist kein Spam mehr angekommen. Dankeschön!

[2020-03-10 13:15] sennamint commented on #1262
Na dann nichts wie ab mit der Timeout-Lösung in das Standard-Template, wie @ausi es vorgeschlagen hat, oder?

[2020-03-10 15:52] qzminski commented on #1504
We are debugging it with hoster as cURL call returns an empty string for the mentioned URL + 500 header.

[2020-03-10 16:04] Metis77 commented on #6372
Why building an own script loader?
HTML script attributes `async` and `defer` already offer non blocking script loading.
`defer` also takes care of the execution order.

Only thing that has to be changed this way, is inline script.
This way inline scripts should contain only data variables but not the functions (like an accordeon initialization) that rely on loaded scripts. those functions should

[2020-03-10 16:49] Funbug commented on #1187
Im RSS-Feed muss "Ganze Beiträge" ausgewählt sein. Das Problem besteht auch in der Online-Demo.

`Contao\News::generateFeed` und `Contao\News::generateFeedsByArchive` machen es falsch. `Contao\News::generateFeeds` macht's richtig.

[2020-03-10 18:38] bennyborn commented on #1311
@leofeyer Any way we can elaborate a solution in private? We can provide a testing environment for you to check it out.

[2020-03-10 19:03] Mynyx opened #1519 "Übersetzung tl_user.backendTheme.1"
**Affected version(s)**

Contao 4.4 und Contao 4.9

**Description**

In der Übersetzung ``tl_user.backendTheme.1`` sollte ``back end theme`` ebenfalls mit ``Backend-Theme`` statt ``Backendmotiv`` übersetzt werden.

https://github.com/contao/contao/blob/bf87609767e5623d9da8b98920683bef2d651997/core-bundle/src/Resources/contao/languages/de/tl_user.xlf#L40-L43

[2020-03-10 20:09] Mynyx opened #1521 "Mehrere Fehlerseiten 404 unter einem Startpunkt"
**Affected version(s)**

Festgestellt in Contao 4.9

**Description**

Unter einem Startpunkt können mehrere Fehlerseiten 404 (Seitentyp "404 Seite nicht gefunden") angelegt werden. Es wird dann offenbar stets die erste Seite angezeigt.

So wie unter einem Startpunkt nicht mehrere Seiten mit demselben Alias angelegt werden können, sollte es jedoch auch nicht möglich sein, mehrere Fehlerseiten 404 u

[2020-03-10 20:59] Mynyx opened #1522 "Abschnitt Metadaten bei Events mit abweichendem Weiterleitungsziel ausblenden"
**Affected version(s)**

Festgestellt in Contao 4.9.1

**Description**

Wenn in den Einstellungen eines Events ein abweichendes Weiterleitungsziel (!= Standard) konfiguriert ist, sollte der Abschnitt Metadaten ausgeblendet werden. Denn Events mit abweichendem Weiterleitungsziel werden nicht im Eventleser angezeigt, sodass die Metadaten obsolet sind.

[2020-03-10 21:37] ausi commented on #1156
Ich würde den Header entfernen. GMail nutzt den Header z. B. auch nicht.

[2020-03-10 22:06] ausi commented on #6372
That is correct but `defer` also delays script execution until the full HTML is downloaded and parsed.

Using `async = false` as in contao/contao#1489 keeps execution order while allowing the scripts to execute as soon as possible.

[2020-03-10 22:34] ausi commented on #1507
This would be the right approach IMO. I should’ve done that when creating the migrate command 🙈

Could also be a parameter instead of a new method like `getCommands(bool $byGroup = true)` ?

[2020-03-10 22:36] Metis77 commented on #6372
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/script#attr-defer
This Boolean attribute ( `defer` ) is set to indicate to a browser that the script is meant to be executed after the document has been parsed (when the DOM is ready), but before firing DOMContentLoaded.

true, it is delayed a little ... but in a way I usually want.
I want the DOM to be ready as soon as possible. And only a

[2020-03-10 23:27] Mynyx opened #1523 "Darstellung "Loading data" Hinweis"
**Affected version(s)**

Festgestellt in Contao 4.9.1

**Description**

Bei etwas schmalerer Fensterbreite wird der "Loading data" Hinweis gestaucht, auch wenn eigentlich ausreichend Platz vorhanden wäre, um diesen normal darzustellen.

![image](https://user-images.githubusercontent.com/1632642/76349680-c12d0f80-630a-11ea-8290-55ad5c998a6a.png)

[2020-03-11 08:37] Defcon0 opened #1524 "Calling contao?do=calendar&table=tl_calendar_events&id=&act=delete leads to data loss"
Hello,

I just had a bug in the URL generation in the backend (the bug was mine, nothing to bother about for you). In the end, the ID parameter in the delete action link in the DC_Table list was empty (see issue title). This lead to all events being deleted :-(

Is this deleted or shouldn't we catch this case and throw an error? Of course, the script did exactly what I told it, but it's also a pot

[2020-03-11 08:44] m-vo commented on #1508
Ah sure yes :smile: , I'm actually using this and forget about it. You can pass an option `                ['is_safe' => ['html']]` to a function/filter, so that the call can become this:

[code]

[2020-03-11 09:17] fritzmg commented on #6372
You want that with above the fold content, e.g. click event handlers for menu buttons, and sliders.

[2020-03-11 09:44] Metis77 commented on #6372
Hm I thought you can not register a click handler on a dom element that is not ready, yet.
So would you not have to wait for the dom ready for doing this?

[2020-03-11 10:02] fritzmg commented on #6372
No, you can initialize it directly after or even within the element.

[2020-03-11 10:17] Metis77 commented on #6372
Ah, good to know this.

I would still prefer the default HTML defer approach.
While inline JS would not block the loading, it would still block the UI Threat (DOM construction ):
https://developers.google.com/speed/docs/insights/BlockingJS?hl=de#deferJS

But both (above PR and defer) would be much better than the current way.

[2020-03-11 10:39] fritzmg commented on #1524
Please provide the necessary information as described in the issue template.

[2020-03-11 10:41] fritzmg commented on #1524
I cannot reproduce the problem in Contao `4.9.1`. When simply removing the ID from the edit URL, e.g.

[code]

I simply get the following error, as expected:

[code]

[2020-03-11 10:43] Defcon0 commented on #1524
Interesting. I‘ll dig deeper and report. I tested in Contao 4.4.

[2020-03-11 16:51] wschern opened #1527 "Keine Logfiles in var/logs"
**Affected version(s)**

Contao 4.9.1

**Description**

Ich bekomme eine Fehlerseite in Contao "Es ist ein Fehler aufgetreten
", aber es wird keine 'prod' Log-Datei unter var/logs erstellt. Auch die Serverlogs sind leer. Mein Hoster ist Hetzner.
P.S. dev-... Logs werden generiert, nur die prod-... Logs nicht.

[2020-03-11 19:54] akroii commented on #1311
My answer does not help to solve the topic. But I'm having the same issue.
I turned on the debug mode, this is what i got:
<img width="1326" alt="Bildschirmfoto 2020-03-11 um 20 49 59" src="https://user-images.githubusercontent.com/8830861/76458188-711d7e00-63da-11ea-8c5b-c6ca665ad4c6.png">

No stacktrace... nothing

[2020-03-11 19:58] bennyborn commented on #1311
So you're also missing the field labels in `tl_page`?
If so can you tell us which extensions, if any, you've installed?

[2020-03-11 20:01] akroii commented on #1311
Sure, I'am using Contao 4.9.1
[code]

[2020-03-11 20:09] akroii commented on #1311
Oh, I've uninstalled oneup/contao-cache-warmup and the labels are back again. 😳

[2020-03-11 20:11] bennyborn commented on #1311
Which is an indication for me that there must be something wrong in the core since we've never used that extension :\

[2020-03-11 20:28] Defcon0 commented on #1524
Seems like an error on my side.

[2020-03-11 20:28] #1524 closed, assigned to nobody

[2020-03-11 21:21] michb commented on #1521
Gleiches sollte dann auch für die 403 Seite gelten.

[2020-03-12 07:49] dmolineus commented on #1311
Is it a requirement to call `loadLanguageFile()` before `loadDataContainer()` if you need the translations? Then this is a risky, probably broken design. Using `\Contao\PageModel::find()` will load the data container without loading the language file. So you would have to check for every page model query in the backend if you're in the context that the language file is required. I hope there will

[2020-03-12 08:09] dmolineus commented on #1311
I had a look on it, imho the logic in line 141 is broken:

https://github.com/contao/contao/blob/3a70ea01a545d97481c3120fcd847eb878dc1ad7/core-bundle/src/Resources/contao/library/Contao/DcaLoader.php#L141-L144

The existence of `$GLOBALS['TL_LANG'][$this->strTable]` doesn't guarantee that the language file is loaded. If any label is set by reference, the language array exists.

Probably following

[2020-03-12 08:12] leofeyer commented on #1311
Thank you @dmolineus, I will look into this.

@bennyborn Does the fix solve your problem as well?

[2020-03-12 08:19] bennyborn commented on #1311
@leofeyer Houston, we have a fix! :)

[2020-03-12 11:18] bennyborn opened #1529 "Redirection problems when running insecure installation"
**Affected version(s)**
Contao 4.9.0

**Description**
When running a Contao installation from within a subfolder (e.g. http://example.com/mycustomer/web/) instead of a dedicated domain there are all kinds of problems with faulty redirects:

- Enabling the Debug-Mode redirects to `http://example.com/contao/` instead of `http://example.com/mycustomer/web/contao/`
- Clicking on preview redirects to `

[2020-03-12 11:21] fritzmg commented on #1529
You cannot run Contao 4 from a subfolder, except on localhost.

[2020-03-12 11:23] bennyborn commented on #1529
Of course you can. That's been working for years prior to 4.9 by adding the following to the `parameters.yml`

[code]

[2020-03-12 11:26] fritzmg commented on #1529
That is the service that is supposed to _prevent_ that. Why did you add that to your parameters.yml? By doing so you removed its service tags.

[2020-03-12 11:29] bennyborn commented on #1529
To make it work? Thats how we've been setting up installations on our preview server for our customers since 4.4.

[2020-03-12 11:31] frontendschlampe commented on #1529
Why not use a subdomain?

[2020-03-12 11:33] fritzmg commented on #1529
As already said that is not supported by Contao. You simply circumvented the check.

[2020-03-12 11:36] bennyborn commented on #1529
Okay, let's look at this from another side.  You said, subfolders can be used on localhost - it's also broken there.

[2020-03-12 11:37] joseluisq commented on #1263
I have tried it out Contao v4.9 today just for testing purposes in my workstation via:

[code]

But then when I tried `http://localhost:8200/contao` I got a `base64_encode() expects parameter 1 to be string, null given.`

[code]

Then I found [this link](https://docs.contao.org/manual/en/system/debug-mode/#contao-4-8-and-up).

I created a `.env` on root directory with `APP_ENV=dev` (if you omit th

[2020-03-12 11:41] aschempp commented on #1529
The listener is there to prevent you from running an insecure installation on a public server. Files like the database access details would be publicly accessible. If you disable the listener, you are fully on your own.

[2020-03-12 11:41] #1529 closed, assigned to nobody

[2020-03-12 11:44] bennyborn commented on #1529
@aschempp fritzmg stated it is possible to run Contao 4 from within a subfolder on localhost. I'm pointing out that this does not work correctly. If the insecure installation listener is only there to prevent someone from running this setup in a public environment it should have nothing to do with the problem itself at all.

[2020-03-12 11:51] fritzmg commented on #1529
@bennyborn can you provide a PR? :)

imho fixing it for localhost is not really worth the trouble.

[2020-03-12 11:59] bennyborn opened #1530 "External redirect with Insert-Tag can lead to max execution timeout"
**Affected version(s)**

Contao 4.9.0 (works in 4.4)

**Description**

When creating an external redirect in `tl_page` using the Insert-Tag `{{link_url::x}}` where x is the ID of the redirect itself there is an infinite loop happening as soon the frontend tries to render the navigation. The only thing saving you there is the `max_execution_time` of PHP.

![image](https://user-images.githubusercont

[2020-03-12 12:01] fritzmg commented on #1530
Imho that's just user error and a known limitation.

[2020-03-12 12:05] bennyborn commented on #1530
I know it's an user error. That's what just happened. Customer worked on the page, suddenly it stopped working. Took me the better half of an hour to figure out what was happening.

Whatever was different in 4.4 was clearly the better solution since it prevented the user from bricking his whole installation ;)

[2020-03-12 12:08] fritzmg commented on #1530
Why is the customer using an external redirect for an internal page anyway? ;)

[2020-03-12 12:08] bennyborn commented on #1530
Because it is needed in this case for an anchor navigation :P

[2020-03-12 12:28] leofeyer commented on #1529
Please **never ever** run Contao inside a sub-folder without setting the document root to the `/web` folder! It implies that **all files are accessible** via HTTP, including your `parameters.yml` and other configuration files. That is why there is the `InsecureInstallationListener`, which you are not supposed to disable in order to "make it work". 🤦‍♂

[2020-03-12 12:31] bennyborn commented on #1529
@leofeyer I'm very aware why you guys implemented this listener, no worries. We've implemented other rules to keep that stuff safe. And my intention was not to start an discussion about disabling the listener rather than pointing out that something that worked reliably for years suddenly stopped working at all ;)

[2020-03-12 14:12] leofeyer commented on #1395
Siehe #1407.

[2020-03-12 14:12] #1395 closed, assigned to nobody

[2020-03-12 14:16] leofeyer commented on #1407
Wie am 12. März auf Mumble besprochen, wollen wir als in Contao 4.9 keine geschützten Seiten mehr in die XML-Dateien schreiben. In Contao 4.10 wollen wir dann die XML-Sitemaps als Routen ausliefern (so wie neu die Dateien favicon.ico und robots.txt), die dann bei einem authentifizierten Benutzer zusätzlich die geschützten Seiten ausgeben können.

[2020-03-12 15:03] leofeyer commented on #1357
This should be fixed in #1369.

[2020-03-12 15:03] #1357 closed, assigned to nobody

[2020-03-12 15:26] leofeyer commented on #1409
As discussed in Mumble on March, 12th, we want to disable the impersonate button that would take the user back to themselves.

[2020-03-12 15:36] leofeyer commented on #1399
Wie am 12. März auf Mumble besprochen, wollen wir alle Dateien anzeigen, die im Ordner `/templates` liegen und den Bearbeiten-Button jeweils deaktivieren (Bugfix in Contao 4.9).

Um Twig-Templates bearbeitbar zu machen, müssten wir nach dem Speichern das kompilierte Template aus dem Cache löschen (Feature in Contao 4.10). Dazu müssten wir vermutlich den gesamten Ordner leeren, in dem Twig die komp

[2020-03-12 15:47] leofeyer commented on #1393
As discussed in Mumble on March 12th, we want to implement solution no. 2 and additionally check `->has('contao.search.indexer')` in the "loadDataContainer" hook and unset `$GLOBALS['TL_DCA']['tl_search']` and `$GLOBALS['TL_DCA']['tl_search_index']` if it does not.

[2020-03-12 15:54] leofeyer commented on #1384
Wie am 12. März auf Mumble besprochen, wollen wir `'rgxp' => 'httpurl'` für absolute URLs hinzufügen, die mit `https?://` beginnen. Außerdem könnten wir `'rgxp' => 'custom', 'custom_rgxp' => '/…/'` hinzufügen, um eigene reguläre Ausdrücke zu erlauben.

[2020-03-12 16:06] leofeyer commented on #1363
Wie am 12. März auf Mumble besprochen, wollen wir anstatt "Other" nur "-" anzeigen. Langfristig wäre es schön, wenn man die Geräte selbst benennen könnte.

[2020-03-12 16:09] leofeyer commented on #1262
Wie am 12. März auf Mumble besprochen, wollen wir einen Timeout von 5 Sekunden einbauen und schauen, wie stark es die Usability einschränkt.

[2020-03-12 16:44] leofeyer commented on #1088
As discussed in Mumble on March, 12th, the Contao Manager knows how the user has named its parent directory and could store this in the container. Then it would make no difference how the users name their public directory, as it would be set correctly by the Manager (similar to how it is set to `web` in the current Symfony Flex recipe).

The default in Contao 4.10 should be `public`. If a `web` fo

[2020-03-12 18:35] Pestdoktor opened #1531 "Can't setup db connection manually (useful for containerization)"
**Affected version(s)**

Contao 4.9

**Description**

**How to reproduce**
1. install contao
2. add config/parameters.yml and system/config/localconfig.php from existing installation

**Issues**
1. the Installtool still asks for db connection data
2. trying to skip the install tool results in the following error:
[code]

[2020-03-12 19:02] aschempp commented on #1531
looks like the install tool can't connect to the database. Can you enter the same credentials in the install tool?

[2020-03-12 19:08] aschempp commented on #1263
You don't need both (in Contao 4.9). You can configure the database in the `.env` file the same you can in any Symfony configuration. Just be aware that you can't use the install tool anymore in that case (to change the credentials).
[code]

[2020-03-12 21:24] #974 closed, assigned to nobody

[2020-03-13 09:37] fritzmg commented on #962
Someone on slack has possibliy linked it to the opcache? https://contao.slack.com/archives/CJT61P8R1/p1584006638097800

Since the install tool clears the Symfony cache (not sure when and how), may be rebuilding that + the opcache will sometimes cause a lot of memory consumption.

[2020-03-13 10:51] netzarbeiter commented on #1531
Have you cleared the cache after adding the files?

[2020-03-13 11:36] Pestdoktor commented on #1531
This does the trick, thank you!

[2020-03-13 11:36] #1531 closed, assigned to nobody

[2020-03-13 12:27] contaoacademy commented on #773
Alles klar :-)

[2020-03-13 13:08] Defcon0 opened #1535 "tl_files::protectFolder() should respect the save_callback()"
**Affected version(s)**

Contao 4.4

**Description**

When manipulating a folder's name with a `save_callback`, the `input_field_callback` in the field `tl_files::protected` only takes `\Input::post('name')` and not the result from the `save_callback`.

Is this a bug or intended?

Bye Defcon0

[2020-03-13 16:15] leofeyer commented on #1535
I think it is a bug. What exactly does your save callback do?

[2020-03-13 16:27] Defcon0 commented on #1535
I'm currently developing a drafting system for contao. After a user tries to change a folder's name, it gets copied in the background and the user works on the this copied draft record. If the folder has the same name as the "old" folder, we have a problem (name is unique), so I add a fixed suffix to the folder's name in the file system (foldername_suffix123) that I remove in the load_callback and

[2020-03-15 14:31] Anke commented on #1512
If I may add this here, as I think both problems might be associated, Google Search Console says:

[2020-03-15 18:20] m-vo opened #1538 "Select twig templates from template group"
I tend to use twig for all my templates because it's so much more readable and straight forward to write.

In case of the templates shipping with Contao (e.g. when using the built-in content elements or modules) I've got a little proxy that simply forwards them to their twig counterparts (if existing). This all works quite nice until I want to select a custom template in the backend. Then I'll nee

[2020-03-15 20:17] m-vo commented on #1538
Nevermind, I just realized that I can add templates to the `TemplateLoader`.

[2020-03-16 07:05] Xirdion commented on #1512
I think the error is just the additional **contao** for the context-entry. Should be `"@context":"https://schema.org" `

[2020-03-16 08:34] Toflar commented on #1512
No it should not because it's our own schema. Anyway, we know exactly what to do here, that's why it's marked defect and assigned to 4.9.

[2020-03-16 20:29] henobi opened #1539 "Cronjob wird nicht ausgeführt"
**Affected version(s)**

Contao 4.9

**Description**

Folgende Klasse wurde angelegt:
[code]

Im Anschluss wurde der Cache geleert: `php vendor/bin/contao-console cache:clear`.

**Wenn ich nun den Cronjob über die Konsole starten möchte, wird mein `TestCron` nicht ausgeführt.**

[code]

Es erfolgt keine Ausgabe und die Datei wird auch nicht angelegt.

Bei Rückfragen einfach Bescheid geben.
Vielen

[2020-03-16 21:31] fritzmg commented on #1539
Ist der Serivce registriert und getagged?

[code]

[2020-03-17 10:57] Funbug commented on #1499
Ich bin gerade auch auf das Problem gestoßen. Diese Änderung löst es aber leider nicht.

[2020-03-17 12:40] henobi commented on #1539
Danke für die schnelle Antwort.
Hier der Output:

[code]

[2020-03-17 12:52] m-vo commented on #1539
Dann ist deine Klasse nicht als Service registriert. Du musst sie in deiner `service.yml` explizit eintragen oder generell 'service autoregistration' aktivieren.

[2020-03-17 13:27] henobi commented on #1539
Hi, danke für die Antwort!

[code]

[code]

So müsste das doch passen, oder?
Die Methode und das Interval (minutely) habe ich ja bereits über die Annotation angegeben.

Leider klappt es noch nicht...
Danke nochmal vorab für weitere Hinweise.

[2020-03-17 13:29] fritzmg commented on #1539
Service Tagging machst du _entweder_ über die Service Definition in der `services.yml`, _oder_ über Annotations.

Grundsätzlich brauchst du in Contao 4.9 _keine_ eigene `services.yml` erzeugen. Das machst du nur dann, wenn du speziellere Definitionen machen willst. Versuche es also zuerst _ohne_.

[2020-03-17 13:35] henobi commented on #1539
Ok, aber dann hätte es ja so wie im Anfangspost gezeigt (https://github.com/contao/contao/issues/1539#issue-582580234) bereits funktionieren müssen, weil da hatte ich es ja nur über Annotations versucht. Wo lag dann da das Problem?

[2020-03-17 13:46] m-vo commented on #1539
Automatic loading of services inside `src` should work as of 4.9.-RC1 (#1165). Do you perhaps use a different directory?

[2020-03-17 13:48] fritzmg commented on #1539
Yes, check if you are using the correct directory and also check if the correct autoloading definition is present in your `composer.json`. The path of your class should be `src/Cron/TestCron.php`, relative to the Contao root directory.

[2020-03-17 14:03] henobi commented on #1539
My source code is stored in `src/App/Cron/TestCron.php`. So seems like that caused the problem. Thank's @m-vo & @fritzmg !

[2020-03-17 14:03] #1539 closed, assigned to nobody

[2020-03-18 17:08] ausi commented on #1491
I was not able to reproduce this error on <https://demo.contao.org/>
Which browser are you using?

[2020-03-19 19:22] toubibe opened #1543 "Database password issue when upgrading from Contao 4.4 to 4.9"
**Affected version(s)**
Contao 4.9
When upgrading Contao 4.4 to 4.9, the database user passwords starting with special caracters are not taken correctly into the new version. Installtool is then showing up and asking for credentials, but the correct database user password, starting with one or more special caracters (like %%password1234) is not working. Installation is completely blocked.
Workarou

[2020-03-19 22:12] m-vo commented on #1543
You musst put the string in quotes or double the percent signs to properly escape them.

[2020-03-19 23:50] m-vo commented on #1538
I'm closing this issue for now. I've released a working solution/workaround to use Twig templates [here](https://github.com/m-vo/contao-twig). We'll see how this will work out in the long run... :smile:

That way it's probably easier to find out how the core could possibly support such an approach in the future.

[2020-03-19 23:50] #1538 closed, assigned to nobody

[2020-03-20 12:46] IslaBlanca opened #1544 "Error 500 - Kein Zugriff auf Contao Manager und auf das Backend"
Hallo liebe Gemeinde.

Nachdem ich gestern mein Kontaktformular anpassen wollte und die Parameter.yml bearbeitet habe komme ich nicht mehr in meine Contao Installation.

Ich bekomme einen Error 500 Fehler angezeigt...

Nun weiß ich keinen Rat wie ich das wieder gerade biegen soll.

Vielleicht kennt sich jemand aus oder hatte das gleiche Problem.

Liebe Grüße

![fatal-error-500](https://user-images

[2020-03-20 15:32] aschempp commented on #1544
Deine Frage wäre im Contao Forum (https://community.contao.org) oder dem Slack Support Channel besser aufgehoben. Ich vermute du hast einen (Tipp-) Fehler in deiner Datei oder Sonderzeichen im Passwort oder ähnliches.

[2020-03-20 16:06] #1544 closed, assigned to nobody

[2020-03-21 10:28] aschempp commented on #1517
I just thought about that again. I had this requirement too several times in the last year, but last time I read this ticket didn't like the idea of "overriding by host name". For example, because if you change the host name in the root page, the container settings would "magically" loose their functionality.

The idea I just came up with: how about adding a dropdown menu for the domain/root page

[2020-03-21 15:01] pgerundt opened #1545 "Extend file manager to show if and where a file is used"
Wouldn't it be nice to have the file manager show information if a file is used somewhere on the website?

I set up a slim C4 extension (tested on 4.8.x and 4.9.x) that adds a new button to the file manager and shows detailed information if and where the file is being used.

You can find the extension here:
[https://github.com/pgerundt/contao-fileusage-bundle](https://github.com/pgerundt/contao-fi

[2020-03-21 16:03] m-vo commented on #1545
We had this before. Looking through the DCA config isn't sufficient to determine if a file is not being used. If you e.g. use insert tags, references from your layout files, any extension that does add own file fields, [...], this will break.

[2020-03-21 16:36] pgerundt commented on #1545
Regarding insert tags:
It also works perfectly for insert tags being added into textarea fields. Could be easily modified to check "text" or "inputUnit" fields as well - where you normally do not put insert tags.

Regarding other extensions:
Works perfectly for other extensions.

Regarding "manual" references from layout files:
Yeah, didn't think about that one.

[2020-03-21 17:07] m-vo commented on #1545
These were just some examples.

Also:

Extension do not need to stick to certain fields, nor even use DCA definitions.

Yeah, and not anywhere else (templates, other fields, custom widgets, ...)

[2020-03-21 17:28] pgerundt commented on #1545
Well, if the website developer references files in the file manager by url or path (in stylesheets, templates, widgets or whatever), you are right.
If an extension doesn't use DCA definitions, you are right, too.

But the purpose of the extension was to help the website editor (not the developer) in preventing the deletion of files that are currently in use.
And: any (even incomplete) information

[2020-03-21 21:53] andreheeke commented on #1545
I think the core developers are happy about every PR draft they can get. This can be used to further discuss if and how such a feature can be included in one of the next Contao versions. Basically I would like to have such a feature in the core. But in my opinion the file management would have to be reworked anyway.

[2020-03-21 22:35] m-vo commented on #1545
Don't get me wrong - I'd love to see a working feature like this. I just think a sufficient solution is not possible (nor worth the effort trying to cover and maintain the various use cases).

I disagree on this statement, especially because a feature like this would be used to determine if a seemingly unused file can be deleted.

[2020-03-22 07:46] pgerundt commented on #1545
Well, that depends on the wording of the result message. If an image is found to be used, you could say "This file is (definitely) used in the page/news item/calendar event/... with id X". That would really help the editor a lot (!) - especially when working with a huge pile of files that are traditionally named "test-4.jpg" or "page-header-final-7-800x600.png".

If the file is not used in a fileT

[2020-03-22 08:38] m-vo commented on #1545
Yeah, look at it the other way round: I would have to disable it in any of my setups because it would not work.

But if it's useful for some people in some scenarios it should probably be an extension. :wink:

The only thing I could think of that would need a centralized solution is providing a registry that 3rd party code could utilize.

[2020-03-22 16:50] bytehead opened #1548 "Using role_hierarchy in Symfony security"
**Affected version(s)**

Contao 4.9

**Description**

With `role_hierarchy` configured in Symfony security `config/packages/security.yaml`, the `security.access.simple_role_voter` gets removed and therefore is not available anymore:
[code]

See also https://contao.slack.com/archives/CK4J0KNDB/p1584880943432600?thread_ts=1584879877.425300&cid=CK4J0KNDB

~I'm working on a PR.~ See #1549.

[2020-03-23 03:33] MalteGross opened #1550 "Bug in der Klasse TwoFactorFrontendListener"
**Affected version(s)**

4.9

**Description**

Ich habe für einen Kunden die 2-Faktor-Authentifizierung für das Frontend eingerichtet. Die initiale Einrichtung der Authentifizierung mit einem Mitglied mittels QR-Code funktioniert einwandfrei, das Mitglied ist erfolgreich eingeloggt und kann auch frei in Contao navigieren.

Loggt sich das Mitglied aus und meldet sich wieder mit Benutzername und Pas

[2020-03-23 07:35] bytehead commented on #1550
Hallo

Korrekt - hast du allenfalls das Login-Template (`mod_login.html5`) angepasst?

Ich habe es kurz bei der Online-Demo ausprobiert:

1. Seite für 2FA erstellt im Member-Bereich
2. Modul `Zwei-Faktor-Authentifizierung` unter Themes erstellt
3. Modul auf der Seite 2FA eingebunden.
4. Login mit `j.smith` im Frontend
5. Einrichten der Zwei-Faktor-Authentifizierung auf der neuen Seite
6. Logout
7.

[2020-03-23 09:17] rustykowski commented on #1236
still invalid – perhaps slashes should not be escaped?
In Contao 4.9.1 i get this @context values:
`"@context":"https:\/\/schema.contao.org\/"`

[2020-03-23 09:23] bennyborn commented on #1491
@ausi I was using Chrome but the browser should really not matter...

[2020-03-23 09:27] bennyborn commented on #1517
I don't think this is a realistic scenario. If the installation is deployed on the customers server the host name (we're talking about `dns` in `tl_page`) will most likely never change again.

Not a fan of this solution since we're forcing stuff that is purely meant for development into a production environment.

[2020-03-23 09:51] fritzmg commented on #1236
Contao 4.9.2 hasn't been released yet.

[2020-03-23 10:03] #1548 closed, assigned to bytehead

[2020-03-23 11:43] MalteGross commented on #1550
Ich habe das core-bundle mod_login.html5 Template verwendet. Mit den Code-Anpassungen, die ich vorgenommen habe funktioniert es zu mindestens. Habe alle Funktionalitäten durchgetestet. Hast du evtl. noch eine Idee woran es liegen könnte, dass es bei mir nicht funktioniert?

[2020-03-23 11:52] bytehead commented on #1550
Fehlerhafte Security config (`security.yaml`)?

Deine vorgeschlagene Anpassung ist sicher falsch, solange der 2FA-Code nicht eingeben wurde, solltest du immer wieder auf dem Login-Screen (wo sich auch das 2FA-Code-Feld befinden sollte) weitergeleitet werden.

[2020-03-23 12:24] fritzmg commented on #216
@christian-kolb have you ever tested it? :)

[2020-03-23 12:38] MalteGross commented on #1550
Ich bin der Anleitung unter https://github.com/contao/contao/pull/363 gefolgt.
Die Config habe ich bei mir unter app/config/security.yaml abgespeichert und entsprechend angepasst. Cache habe ich zwischendurch immer wieder geleert. Wenn ich mich versuche ohne meine Anpassungen einzuloggen, dann bekomme ich immer nur ein 401 Fehler. Auch auf der Loginseite.

[2020-03-23 12:53] christian-kolb commented on #216
@fritzmg I don't think so, otherwise I'm sure I would have commented it here. I think back when I tried I ran into multiple other issues with Symfony and Contao. Including but not limited to how Doctrine and DCA didn't play nice with each other and this was the point where I abandoned this combination. I haven't tried since as I haven't had a usecase where I needed Contao that badly.
Sorry that I'

[2020-03-24 08:34] contaoacademy commented on #962
Ich hatte das Problem ebenfalls mehrfach bei All-Inkl. Der Support wollte mir nicht helfen…
Ich konnte das DB-Update unter Contao 4.9 mit `contao-console contao:migrate` durchführen. Bei Contao 4.4 hab ich da allerdings keine Idee…

[2020-03-24 12:18] contaoacademy commented on #962
Nachtrag
Durch Ändern der PHP-Version im Backend des Hosters + Anpassung der .htaccess konnte ich das Installtool aufrufen.
Das Problem sollte trotzdem analysiert werden.

[2020-03-24 14:11] V15 opened #1552 "robots.txt with insert-tags support?"
I usually write the path to the sitemap in my robots.txt like this:
`sitemap:https://www.domain.de/share/sitemap.xml`

It would be useful if insert-tags are supported so I can use it for the domain:
`sitemap:{{env::url}}/share/sitemap.xml`

[2020-03-24 14:17] fritzmg commented on #1552
Contao 4.9 automatically adds the correct `sitemap.xml` to the dynamic `robots.txt`, you do not need to do that yourself.

[2020-03-24 14:28] V15 commented on #1552
Awesome! Thanks.

[2020-03-24 16:00] #1552 closed, assigned to nobody

[2020-03-24 19:43] aschempp commented on #216
You could try to create custom classes that extend `ContaoModuleBundle` for each folder, and register these in your Flex map.

[2020-03-25 08:07] aschempp commented on #1550
@MalteGross hast du in deiner Seitenstruktur denn eine Seite vom Typ 401 angelegt und/oder in der Root-Seite die 2FA-Seite konfiguriert? Ohne diese weiss Contao ggf. nicht auf welcher Seite der 2FA Code eingegeben werden soll, daher die Fehlermeldung.

[2020-03-25 13:37] m-vo opened #1553 "Remove lock when running contao:user:password"
When changing a password for a user on the CLI we imo should remove any locks still present on this user.

[2020-03-26 08:40] aschempp commented on #1553
Sounds legit. Is that for Contao 4.4 or 4.9? And wanna do a Pull Request? 🙃

[2020-03-26 08:58] aschempp commented on #1517
Well thats how you use it. To me, we‘re moving page settings to configuration files. For example, I have setups where I deploy the same website/code to 10 hosts. I‘d love to „globally“ configure whether `https` is enabled on any root.

[2020-03-26 09:56] #784 closed, assigned to leofeyer

[2020-03-26 10:44] #900 closed, assigned to leofeyer

[2020-03-26 13:58] joseluisq opened #1558 "Contao 4.9.1 no able to run properly under a TLS proxy due X-Forwarded-Proto header is not checked"
### Affected version(s)

**Contao v4.9.1**

### Description

We are testing a fresh installation of latest Contao v4.9.1 LTS under a HTTP Proxy with TLS but it can't run properly because `HTTP_X_FORWARDED_PROTO` is not checked. Of course, the installation page only shows 404s requests.

**composer.json**
This is the default file generated with `composer create-project contao/managed-edition . 4.9`

[2020-03-26 14:17] Toflar commented on #1558
Did you configure the `TRUSTED_PROXIES` and `TRUSTED_HOSTS` environment variables correctly? Contao doesn't trust proxies blindly. No application should.
Read more here: https://docs.contao.org/dev/reference/config/#environment-variables-for-the-contao-managed-edition

[2020-03-26 14:40] joseluisq commented on #1558
Does work similar to https://symfony.com/doc/current/deployment/proxies.html#solution-settrustedproxies? Because it doesn't work. Or probably is not "right" configured.

What do have to do `HTTP_X_FORWARDED_PROTO` with trusted IP proxies?

Question what is my proxy ip is not static?

[2020-03-26 14:45] Toflar commented on #1558
Yes, it works exactly the same because it uses the same code :)

Well, the `HTTP_X_FORWARDED_PROTO` is only taken into account, if your request is coming from a trusted proxy. Otherwise, everybody could just set that value in their request and fake an HTTPS request.

If it is not static, you cannot trust it. You may need to find another solution to find out how you can trust the sender.

[2020-03-26 14:48] leofeyer commented on #919
@contao/developers How would you prefer to fix this?

1. Hide unsynced folders completely
2. Show unsynced folders but disable the checkbox

No. 1 is cleaner but does not allow to edit an unsynced folder (e.g. to make it a synced folder). No. 2 allows for that but it also clutters the folder list with a lot of disabled choices.

[2020-03-26 15:10] joseluisq commented on #1558
What if my proxy is the only entry point TLS (445) and the Contao app runs in an isolated environment (localhost). Example a Docker container?

[2020-03-26 15:20] joseluisq commented on #1558
I got it to work using `TRUSTED_PROXIES=127.0.0.1,REMOTE_ADDR` as described on https://symfony.com/doc/current/deployment/proxies.html#but-what-if-the-ip-of-my-reverse-proxy-changes-constantly

But there is a concern of mine.
During the installation process, I was using by default an .env file located at root dir. But when I have combined them with system exported (set) env variables, the `TRUSTED

[2020-03-26 15:22] Toflar commented on #1558
https://symfony.com/doc/current/configuration.html#overriding-environment-values-via-env-local

[2020-03-26 15:26] joseluisq commented on #1558
I also never found https://docs.contao.org/dev/reference/config/#environment-variables-for-the-contao-managed-edition doc. Is that dev one? It also makes no reference to https://symfony.com/doc/current/deployment/proxies.html#but-what-if-the-ip-of-my-reverse-proxy-changes-constantly.

[2020-03-26 15:27] Toflar commented on #1558
You are very welcome to contribute to the docs 😄 I'm closing the issue as there seems to be all good here.

[2020-03-26 15:27] #1558 closed, assigned to nobody

[2020-03-26 15:36] #1091 closed, assigned to leofeyer

[2020-03-26 16:08] #1262 closed, assigned to nobody

[2020-03-26 16:21] #1271 closed, assigned to leofeyer

[2020-03-26 16:37] fritzmg commented on #1558
I have added a link in https://github.com/contao/docs/commit/2c88db14a3f9b01231d24df828fa868847f76713

[2020-03-26 16:51] m-vo commented on #1553
I'd say it's a feature for 4.10? I can provide a PR.

[2020-03-26 16:52] jankout opened #1563 "Feature: ID for templates"
I think it would be nice to have IDs for templates as we already have it for files.

1. So we could connect them/it with other content based on their/its ID (e.g. in inserttags).
2. It would be also very helpful in case of **renaming of templates** - they can be stayed connected because of their/its ID.

What do you think?

Thank you very much for your respond and great work.

[2020-03-26 18:12] ReneLuecking commented on #958
For all those who also encounter it, like me: I've found the problem and the solution.

The error only occurs if MySQL 8 is used and the theme import is done within the first 24 hours after installing Contao. The reason is that MySQL has added the setting [`information_schema_stats_expiry`](https://dev.mysql.com/doc/refman/8.0/en/server-system-variables.html#sysvar_information_schema_stats_expiry)

[2020-03-27 07:56] m-vo commented on #958
It really seems necessary to do so. What a weird API.

[2020-03-27 08:25] aschempp commented on #1563
see https://github.com/contao/contao/issues/586

[2020-03-27 08:25] #1563 closed, assigned to nobody

[2020-03-27 08:32] Olli opened #1565 "500er bei Klick auf Navi Überschrift im BE"
**Affected version(s)**
Contao 4.9

**Description**
Wenn ich auf eine der Überschriften in der Navi im BE klicke bekomme ich einen 500er. Ich habe es bei 2 Installationen ausprobiert.
Siehe Anhang - also auf "Inhalte" klicken ... mit der mittleren Mousetaste d.h. "in einem neuen Tab aufmachen".

![Screenshot_2020-03-27 BE](https://user-images.githubusercontent.com/1754/77737268-89f67800-7005-11ea-

[2020-03-27 08:44] fritzmg commented on #1565
I can reproduce the problem, by manually opening the link that is present for those section switches. e.g. https://example.org/contao?mtg=content

[code]

Should be reproducible in the Contao Online Demo as well, but it seems down at the moment.

[2020-03-27 08:54] #1454 closed, assigned to nobody

[2020-03-27 09:02] leofeyer commented on #1473
Ich habe die deutsche Übersetzung entsprechend angepasst.

[2020-03-27 09:02] #1473 closed, assigned to leofeyer

[2020-03-27 09:04] cmartin6 commented on #1527
Ich kann das ebenso unter Contao 4.9.1 reproduzieren. Keine Logs unter var/logs - Aktuell sehr ärgerlich...

[2020-03-27 09:09] #1474 closed, assigned to nobody

[2020-03-27 09:16] #1505 closed, assigned to leofeyer

[2020-03-27 09:20] leofeyer commented on #1519
Ich habe die deutsche Übersetzung angepasst.

[2020-03-27 09:20] #1519 closed, assigned to nobody

[2020-03-27 09:29] Mynyx opened #1569 "Seitentitel Dashboard"
**Affected version(s)**

Contao 4.9

**Description**

Der Titel der Seite ``example.com/contao`` ist ``Startseite``, obwohl die Überschrift der Seite ``Dashboard`` lautet.

[2020-03-27 09:30] #1523 closed, assigned to leofeyer

[2020-03-27 09:30] leofeyer commented on #1535
Can you outline your load and save callbacks so I can reproduce this?

[2020-03-27 10:01] #919 closed, assigned to leofeyer

[2020-03-27 11:16] #737 closed, assigned to leofeyer

[2020-03-27 11:33] leofeyer commented on #1185
The problem is that the widgets only validate themselves and know nothing about other widgets in the same form. Thus the `FormFileUpload` widget stores the file on the server if it validates, regardless of whether another widget does not validate. We would have to defer the storing of the file (`move_uploaded_file()`) to after the form has been submitted successfully.

[2020-03-27 14:13] jochi44 opened #1575 "Label icons not shown on Contao login page in Firefox"
This is just a small issue but why don't make an already more than good CMS better :)

** Tested with Contao 4.4.47 and Contao 4.9.1 **

When using the Firefox (v 74.0) build in password manager (and the contao login credentials are saved there), the icons on the right side of the fields "Benutzername" and "Passwort" are not shown.
css attributes:
label[for="username"]
label[for="password"], label

[2020-03-27 14:17] Floxn opened #1576 "colorbox Accessibility"
**Affected version(s)**

Contao 4.4 & Contao 4.9?

**Description**

Web Accessibility Checker haben die leeren Buttons der Colorbox angemeckert:
[code]

Das wurde auch schon direkt bei der CBox [reported](https://github.com/jackmoore/colorbox/issues/765). Die [Lösung](https://github.com/jackmoore/colorbox/pull/832/files) gibt auch schon. Habe ich bei mir eingebunden und die Fehler sind verschwunde

[2020-03-27 14:27] jochi44 opened #1577 "Wrong german term for "Bildunterschrift" in element type "Video/Audio""
**Affected version(s)**
Contao 4.4 and Contao 4.9

**Description**
The german term "Bildunterschrift" is not correct for elements of type "video/audio" as it's not an image element.
suggestions:
"Text unterhalb des Video-/Audio-Elements"
"Hier können Sie einen Text eingeben, der unter dem Video-/Audio-Element angezeigt wird."

![image](https://user-images.githubusercontent.com/60215157/77765650-d7

[2020-03-27 14:35] tonsinn opened #1578 "Crawler search index rebuilds only 19 pages of 87"
Contao 4.9.1
After update of Contao 4.4.46 installation to 4.9.1 only part of all pages are indexed.
Site structure and page config was not changed after Contao update.

The crawl_search-index_log.csv has 60 "Forwarded to the search indexer. Was indexed".

Also the terminal command "php74 vendor/bin/contao-console contao:crawl"
does not find more pages.

[2020-03-27 14:38] #1428 closed, assigned to leofeyer

[2020-03-27 14:45] #1426 closed, assigned to leofeyer

[2020-03-27 14:46] Defcon0 commented on #1535
OK, no problem:

[code]

[2020-03-27 15:11] #1409 closed, assigned to bytehead

[2020-03-27 15:17] leofeyer commented on #1407
Ich wollte das Ticket eben bearbeiten, konnte aber das Problem nicht reproduzieren. 🤷‍♂

<img width="835" alt="" src="https://user-images.githubusercontent.com/1192057/77770931-4cfea580-7046-11ea-85e1-b6fc8aba0cb5.png">

Die URL taucht in der Sitemap nicht auf:

<img width="683" alt="" src="https://user-images.githubusercontent.com/1192057/77770962-5720a400-7046-11ea-8e1e-54c0a6611460.png">

[2020-03-27 15:22] Toflar commented on #1578
We cannot really do anything here without having more information. You will have to check yourself why they are not indexed. The log file should give you all the necessary information for this. Maybe a page is configured to `nofollow` and thus others are not found etc.
You may also attach the log file here.

[2020-03-27 15:27] #1389 closed, assigned to leofeyer

[2020-03-27 15:34] #1379 closed, assigned to leofeyer

[2020-03-27 15:40] #1363 closed, assigned to leofeyer

[2020-03-27 15:46] #1314 closed, assigned to nobody

[2020-03-27 15:53] leofeyer commented on #1311
Thanks again @dmolineus for debugging this one. 👍

[2020-03-27 15:53] #1311 closed, assigned to leofeyer

[2020-03-27 16:14] leofeyer commented on #1314
It seems that the CSS of the Contao Official Demo does not account for this option, which is OK I guess, because the Official Demo does not use the internal CSS framework.

[2020-03-27 16:24] Mynyx commented on #1578
Do you have protected pages or do you use the ``nofollow`` option?

[2020-03-27 17:18] rabauss commented on #929
I have also investigated this problem, too. The `system/tmp` folder does not exist if the hook `initializeSystem` is used by RocksolidCustomElements.

That's like @ m-vo said, because of:

There are two possible solutions:

1. Create `system/tmp` if it not exists in `File->fputs`
2. Execute the Hook `initializeSystem` after `system/tmp` should be created

[2020-03-27 18:23] lolohz commented on #1314
Hello Leo
Excuse me, I didn't understood your answer.The fact was that the "Overall width" didn't work in https://demo.contao.org.
What is that option for?
When it is possible to use it?
Should Demo Package be updated to allow set 100% for its width?

Best regards.

[2020-03-27 18:40] lolohz commented on #1314
Hello again
Now it is clear for me.
Oh, I just read your answer in https://github.com/contao/contao/pull/1585

"The fact that no one noticed this for such a long time shows that most people do not use the layout builder anymore (which is good, because it is old and deprecated in favor of a yet to be developed grid/flex solution)."

"Turns out that this is a bug in the Contao Official Demo"

Tx a l

[2020-03-27 18:43] tonsinn commented on #1578
YES! After I changed all searched pages from "nofollow" to "follow" the crawler works.
Good to know. This is a small but interesting difference to Contao 4.4.
Thank you!

[2020-03-27 18:43] #1578 closed, assigned to nobody

[2020-03-27 18:50] Toflar commented on #1578
Yeah, the crawler now also unveils possible misconfigurations. Now you know why Google probably did not index other URLs so far... 😎

[2020-03-28 16:56] m-vo opened #1587 "Can't remove end date from calendar event"
**Affected version(s)**
at least Contao 4.9

**Description**
Calendar event end dates (`endDate`) cannot be removed once set in the backend.

It's reproducible in the online demo:
 * edit a calendar event
 * set an end date
 * save
 * empty the field
 * save again &rarr; the value is still in there

[2020-03-28 17:02] ausi commented on #1491
@bennyborn Can you post a screencast on how to reproduce the error on <https://demo.contao.org>?

[2020-03-28 18:14] asaage commented on #1491
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/4138336/77830362-33ce2580-7128-11ea-8a7b-4ffceab4562a.gif)

[2020-03-28 19:33] ausi commented on #1491
@asaage In your video the request token works as expected, see https://github.com/contao/contao/issues/1491#issuecomment-596981511

[2020-03-28 19:56] asaage commented on #1491
okay.
I have the same behaviour in a 4.4 install and the form-submission fails because neither cookie nor token are set. It might be a differnt problem though as caching is not involved at all.
I'll wait to the 4.9.2 release and see if that solves something.

[2020-03-28 21:34] fritzmg commented on #1491
@asaage what kind of problem are you experiencing? In your GIF there was none.

[2020-03-28 21:50] asaage commented on #1491
@fritzmg It's the infamous invalid-request-token errorscreen. But only if the user fills out a form on the first page he visits. On subsequent requests (or on reload) i have the token in the form and the csrf cookie present and everythink works as expected.

[2020-03-29 11:32] Mynyx commented on #1363
Sollten die anderen Fallback-Strings dann nicht auch mit "-" ersetzt werden?

[2020-03-29 16:22] ptzimmermann opened #1588 "None of the "save" buttons work"
**Affected version(s)**

Contao 3.5.40

**Description**
None of the "save" buttons will work after editing an article. It does not matter which browser I am using. Do you have a solution for my problem?

[2020-03-29 16:54] xchs commented on #1588
Contao 3 has already reached its end-of-life. Please refer to the [forums](https://community.contao.org/) for these kind of questions.

[2020-03-29 17:08] #1588 closed, assigned to nobody

[2020-03-30 09:08] leofeyer commented on #1187
Ich kann das Problem noch immer nicht reproduzieren. Folgendes habe ich gemacht:

1. Ein News-Feed anlegen und darin "Ganze Beiträge" auswählen -> XML-Datei korrekt, HTML von `<![CDATA[` umschlossen und ohne Entities.

2. Einen News-Beitrag auf unsichtbar schalten -> der Feed wird aktualisiert, allerdings ist das HTML weiterhin von `<![CDATA[` umschlossen und ohne Entities.

3. Systemwartung -> XM

[2020-03-30 09:09] leofeyer commented on #1371
@contao/developers Ist das nicht korrekt? Wenn ich die Seite neu lade, erwarte ich doch, dass der Vorgang erneut gestartet wird.

[2020-03-30 09:16] Toflar commented on #1371
Ich denke nicht. Der Vorgang sollte gestartet werden, wenn ich den Button klicke. Aber das ist halt so, weil sobald der Job fertig ist, wird die Queue gelöscht. Wenn wir das nicht tun, bleiben die Resultate für immer in der DB, ausser jemand leert die Queue manuell in der Systemwartung.
Und ein Cron kann das nicht machen, weil es ist nicht bekannt, von wann ein Job stammt. D.h. er könnte ggf. die

[2020-03-30 09:22] leofeyer commented on #1399
Teil 1 (Bugfix in Contao 4.9): #1591

[2020-03-30 09:50] m-vo commented on #1371
Und was ist dann der Use-Case die Seite überhaupt neuzuladen?

[2020-03-30 09:52] #1403 closed, assigned to leofeyer

[2020-03-30 09:53] leofeyer commented on #1433
@Toflar /cc

[2020-03-30 09:56] Toflar commented on #1433
Why would this be related to the cache? There's no cache in the back end and even if there was, why would a reload change anything? @leofeyer can you confirm that it's reproducible?

[2020-03-30 10:04] #1471 closed, assigned to leofeyer

[2020-03-30 10:26] fritzmg commented on #1433
As discussed on the forum, it was caused by a

[code]

directive.

[2020-03-30 10:46] #1433 closed, assigned to nobody

[2020-03-30 10:53] leofeyer commented on #1484
Der Breakpoint für die Split-Buttons ist momentan 1236px, d.h. ist der Viewport schmaler, werden die Buttons zusammengefasst. Wir können jetzt entweder den Breakpoint erhöhen (z.B. auf 1280px) oder dafür sorgen, dass die Buttons schmaler werden (z.B. "Speichern & neu" anstatt "Speichern und neu").

@contao/developers Was wäre euch am liebsten?

[2020-03-30 11:16] Mynyx commented on #1484
Ergänzend könnte eine dynamische Lösung mittels JavaScript sinnvoll sein, abhängig vom tatsächlich benötigten Platz der Buttons?

Denn derzeit werden auch Buttons, die deutlich weniger Platz benötigen, gruppiert, wenn der Viewport schmaler als der statische Breakpoint ist.

[2020-03-30 11:39] leofeyer commented on #1510
Ich habe die deutsche Übersetzung angepasst.

[2020-03-30 11:39] #1510 closed, assigned to leofeyer

[2020-03-30 11:45] Funbug commented on #1187
Schau JETZT mal https://demo.contao.org/share/test.xml an.

- Neuen RSS-Feed anlegen
  - Ganze Beiträge
- RSS-Feed im Theme einbinden
- z.B. in der ersten News an der ersten Stelle ein HTML-Inhaltselement einfügen
  - z.B. `<div class="test">test</div>`
  - Speichern und Schließen
  - Element unsichtbar stellen
  - Element sichtbar stellen

Ergebnis in der text.xml:
`<pre>&lt;div class=&quot;test&

[2020-03-30 12:06] leofeyer commented on #1530
That's a configuration error IMHO, too. @contao/developers WDYT?

[2020-03-30 12:06] eki89 opened #1594 "Anchor for pagination links"
List modules are not always included at the top of a page. But using a pagination link always takes you to the top of the page. What do you think about the possibility to add the id of a list module to links of the pagination as an anchor? The behaviour could be controlled via an additionall checkbox in list modules.

[2020-03-30 12:09] Toflar commented on #1530
I think we could check if the current URL is the same as the target location in `PageRedirect`, throw an appropriate exception and handle this one also by the pretty error screen listener.
That would be a feature though.

[2020-03-30 12:12] #1569 closed, assigned to leofeyer

[2020-03-30 12:32] #1565 closed, assigned to leofeyer

[2020-03-30 14:25] #1522 closed, assigned to leofeyer

[2020-03-30 14:56] leofeyer commented on #1371
Bisher war es so, dass man die Seite "Suchindex neu aufbauen" durch F5 neu laden konnte und dadurch der Vorgang neu gestartet wurde. Der Crawler verhält sich aktuell genauso. Warum ist das jetzt auf einmal falsch?

[2020-03-30 16:13] #1400 closed, assigned to Toflar

[2020-03-30 16:36] #1452 closed, assigned to Toflar

[2020-03-30 16:38] Toflar commented on #1404
Kann ich nicht reproduzieren.

[2020-03-30 16:43] Toflar commented on #1371
Für mich ist "ist so weil ist so" eh auch in Ordnung. Die Alternative wäre auf die Maintenance-Seite umzuleiten, weil die Resultate sind weg. Von daher würd ich es einfach so lassen.

[2020-03-30 16:46] Mynyx commented on #1404
Hast du tatsächlich **nur** die Funktion "Nach defekten Links suchen" ausgewählt?

[2020-03-30 16:47] Toflar commented on #1404
Ja. Aber natürlich mit allen aktuellen 4.9er Änderungen. Also ggf. durch meine anderen Fixes bereits behoben.

[2020-03-30 21:57] chuckki commented on #1527
Lassen Sie uns den Entwicklern zusammen helfen und das beschriebene Verhalten genauer anschauen; könnte jemand vielleicht sagen, welche|r Fehler nun tatsächlich auftrat|en? Die dev-Logs funktionieren anscheinend und deren Inhalt könnte Aufschluss geben. @cmartin6 Sie konnten den Fehler reproduzieren, welche Vorraussetzungen waren dafür nötig?

[2020-03-31 07:34] Mynyx commented on #1371
So wie die Log-Dateien gespeichert werden, könnte doch auch eine Datei mit dem zusammengefassten Ergebnis im JSON-Format gespeichert werden?

Einen neuen Crawl-Vorgang mit derselben Jobid zu starten, sieht nicht richtig aus.

[2020-03-31 07:50] Toflar commented on #1371
Ja, könnte man. Aber es ist echt so unterirdisch unwichtig....
Lassen wir das Ticket mal offen, vielleicht ist mir irgendwann enorm langweilig.

[2020-03-31 10:12] cmartin6 commented on #1527
Mittlerweile sehe ich, dass in einer meiner Contao 4.9.1 Instanzen auch prod-Logs generiert wurden. Was dabei aber auffällig ist, ist dass sämtliche PHP Fehlermeldungen (404, 500, etc.) nicht darin aufscheinen.
Grundsätzlich kann ich keine genauen Vorraussetzungen zur Reproduktion nennen: Ich habe eine frische Contao 4.9.1 Instanz aufgesetzt, die prod-Logs verhalten sich jedoch nicht mehr so, wie

[2020-03-31 14:21] joseluisq opened #1603 "console contao:symlinks removes web/files/ directory permanently"
**Affected version(s)**

Contao v4.9.1

**Description**

During the testing of a Contao v4.9.1 fresh installation, we have created a `web/files/` **directory** with some content. But when we have executed `php -q bin/console contao:symlinks --env=prod` the `web/files` and their content was removed **without** advice [1].

[1] Details:

<img width="1057" alt="Screenshot 2020-03-31 at 15 40 28" src=

[2020-03-31 16:52] Toflar commented on #1603
`files` is the default upload path for Contao files. Either you have to configure `contao.upload_path` to something else or you have to use a different folder name.

[2020-03-31 18:12] chuckki commented on #1527
40x werden per default nicht in die prod-Logs geschrieben siehe https://github.com/contao/contao/blob/50a3027d47e6ac1bae3b3e7a139be512a9c36cc5/manager-bundle/src/Resources/skeleton/config/config_prod.yml#L18
500er Fehler sollten in den prod-Logs vorhanden sein.

[2020-03-31 18:28] akroii opened #1606 "Geschützte Events innerhalb eines öffentlichen Events"
Es kann vorkommen, dass man innerhalb eines öffentlichen Archives trotzdem geschützte Events anlegen möchte (ohne ein separates Archiv anzulegen). Ist es möglich dass man auf Event-Ebene einen Haken setzen kann, dass man diesen Event-Eintrag für bestimmen Mitgliedergruppen sichtbar machen möchte? Diese sehen dann die geschützten Einträge nach erfolgreichen Login.

[2020-03-31 18:35] fritzmg commented on #1606
Das ist aktuell nicht möglich. Die Lösung innerhalb von Contao ist, zwei verschiedene Kalender dafür zu verwenden.

[2020-03-31 19:18] contaoacademy commented on #1407
In der Standardkonfiguration verhält es sich wie du beschreibst.

Die URL erscheint erst in der sitemap.xml, wenn in der `config.yml` die Suche für geschützte Seiten aktiviert wird.
[code]

[2020-03-31 22:19] ausi commented on #1484
Breakpoint erhöhen.

[2020-04-01 13:28] contaoacademy commented on #1543
https://github.com/contao/contao/pull/1037

[2020-04-01 13:51] leofeyer commented on #1543
How exactly is the password stored in your `parameters.yml`?

[2020-04-01 14:26] leofeyer commented on #1484
@Mynyx Eine dynamische JavaScript-Lösung wäre ein neues Feature, das wir erstmal diskutieren müssten, und ist daher als Bugfix nicht geeignet. Solltest Du schon eine konkrete Idee dazu haben, freuen wir uns über einen PR für Contao 4.10.

[2020-04-01 14:26] #1484 closed, assigned to nobody

[2020-04-01 15:53] #1575 closed, assigned to nobody

[2020-04-01 15:59] leofeyer commented on #1577
Und dieses Feld wird Dir im Element "Video/Audio" angezeigt?

Denn laut DCA ist `caption` Teil der Palette `overwriteMeta` und die wiederum Teil der Paletten `addImage` und `useImage`. Letztere werden allerdings nur in den Inhaltselementen `text`, `accordionSingle` und `hyperlink` verwendet.

[2020-04-01 16:18] fritzmg commented on #1577
Das ist das Feld `playerCaption`, welches folgende Deutsche Übersetzung hat:

https://github.com/contao/contao/blob/9e111216a2f5fb3ffc0c1114540c285aa52dc7be/core-bundle/src/Resources/contao/languages/de/tl_content.xlf#L476-L483

[2020-04-01 16:29] leofeyer commented on #1577
Interessant. Die Übersetzung hat Transifex wohl automatisch aus dem Translation Memory übernommen.

[2020-04-01 20:12] stefansl opened #1616 "Adjust server_version in config.yml"
I had an issue while moving a Contao installation from one server to another
(C4.9.1 Debian 9 / MariaDB 10.1.44 -> C4.9.1 / Debian 10 / MariaDB 10.3.22).

The install tool offered a lot of ALTER TABLE ... DEFAULT NULL statements. Executing those statements via install tool or contao:migrate did not work (actually it did not execute any statement).

After a little bit of research I found out, it's

[2020-04-01 20:19] toubibe commented on #1543
Something like:  %%password1234
And within the file:
database_password: '%%password1234'

[2020-04-01 20:33] toubibe commented on #1543
The string is in (single) quotes already. But redoubleing the special caracters is in fact a working option.

[2020-04-02 07:17] joseluisq commented on #1603
The problem is we are testing a migration from v4.4 to v4.9, but we have a `files` dir even symliked to `web/files`. Also there are some themes that are using that dir and documentation, links to files, etc.
In general, It should be not a problem if we copy the entire dir to `web/files` but `contao-console contao:symlinks` is tricky.

[2020-04-02 07:20] fritzmg commented on #1603
You need to make your files folders public in the file manager of Contao.

[2020-04-02 07:23] joseluisq commented on #1603
Have you some reference how to do this? Is documented somewhere?

[2020-04-02 07:25] fritzmg commented on #1603
Just edit the folder, check _Public_ and save. This creates the symlink and creates a `.public` file within the folder, which in turn will create the symlink on `composer install/update`.

Only in German currently: https://docs.contao.org/manual/de/dateiverwaltung/downloads-kontrollieren/#verzeichnis-schuetzen

[2020-04-02 07:28] joseluisq commented on #1603
Ok, thanks. Let me to try it out and see how it behaves.

[2020-04-02 07:33] fritzmg commented on #1616
It pops up every now and then. I sometimes experience it too.

But isn't the server version automatically detected by Doctrine anyway? I thought it was.

// @stefansl btw. this issue should go into the mono repository ;)

[2020-04-02 07:50] leofeyer commented on #1616
Yes, as soon as there is a DB connection aka the login credentials have been provided. Before that, Contao falls back to the `server_version` parameter.

@stefansl Maybe you forgot to clear the cache after you had provided the DB login credentials?

[2020-04-02 07:54] stefansl commented on #1616
@leofeyer no, I started with composer create-project on the new server and copied only files, templates, DB and some modules. But I will test it again on that machine

[2020-04-02 08:05] stefansl commented on #1616
Another test:
`composer create-project contao/managed-edition test`
Go to contao/install -> add DB credentials
Contao dumped only the parameters.yml in /config

That's what I expected, because I did not find any code in the installtool writing or changing the config.yml.

[2020-04-02 08:16] m-vo commented on #1616
Contao should never ever change the config.yml. :smile: (If necessary the managed edition can prepend configuration though.)

But: Normally you don't need to explicitly set a server version at all because doctrine can guess it as soon there is a database present.

Why did you specify one in the first place? (Do you need functional tests or something?)

[2020-04-02 08:18] stefansl commented on #1616
@m-vo I never changed `server_version` before :D It must be auto-generated at some point

[2020-04-02 08:20] fritzmg commented on #1616
Oh, you had set the `server_version` to `5.7` in your _own_ `config/config.yml`?

[2020-04-02 08:22] m-vo commented on #1616
Ok. That was what I had assumed. :smile:

[2020-04-02 08:23] stefansl commented on #1616
No, i never set `server_version`. Because I did not know about it - since yesterday

[2020-04-02 08:29] fritzmg commented on #1616
Ah ok, good :). Btw. this problem seems to be the same as or at least related to https://github.com/contao/contao/issues/979

The underlying problem is, that Doctrine is unable to auto-detect the server version in your case, for whatever reason.

[2020-04-02 08:33] stefansl commented on #1616
In my case I have a & character at the end of the password ...

[2020-04-02 08:35] Toflar commented on #1616
= Doctrine is unable to connect to the database and thus, unable to determine the version :)

[2020-04-02 08:40] fritzmg commented on #1616
Why would the Install Tool be able to connect to the database in such a case, but not Doctrine?

[2020-04-02 08:45] stefansl commented on #1616
Maybe that's the problem: I started with an 4.4 installation on the old server, where I updated to 4.9.1 (Debian 9 / MariaDB 10.1.44.
Then I moved my DB and files to the new server MariaDB 10.3.22 - Debian 10.

I'm not sure, if I copied the parameters.yml as well, because the DB pass did not change.

The pass is not quoted in the parameters.yml. Maybe this is a result of an old issue?

[2020-04-02 08:46] Mynyx opened #1618 "Shared Cache bei Nutzung der Trusted-Devices Funktion"
**Affected version(s)**

Contao 4.9

**Description**

Wenn Benutzer die Trusted-Devices Funktion der 2-Faktor-Authentifizierung nutzen, wird ein ``trusted_device`` Cookie gespeichert. Dieses Cookie führt dazu, dass sämtliche Seitenaufrufe der Benutzer nicht mehr aus dem Shared Cache ausgeliefert werden - auch wenn diese nicht angemeldet sind.

[2020-04-02 08:50] fritzmg commented on #1618
I think that's normal. You have to configure the `COOKIE_WHITELIST` yourself: https://docs.contao.org/dev/reference/config/#environment-variables-for-the-contao-managed-edition

[2020-04-02 08:56] m-vo commented on #1616
In 4.4 you had an older symfony version that wasn't as strict on yaml parsing. But if this was the problem you'd get errors on every container build etc.

[2020-04-02 08:58] aschempp commented on #1618
We‘ve discussed this, and there‘s no easy solution to fix. However, we agreed that this can‘t be a big issue. A shared cache is meant to improve performance for 95% of your visitors, it will neber be for 100%. For example, some will run into a cache miss. And visitors that have a backend account and therefore _possibly_ a trusted device cookie are not the majority of your visitors.

[2020-04-02 09:24] stefansl commented on #1616
Ok, so I guess this can be closed? But for now, we know how those errors can be fixed easily and what questions we do have to ask to people having the same problem

[2020-04-02 09:28] fritzmg commented on #1616
I'd still like to know how this is possible: https://github.com/contao/contao/issues/1616#issuecomment-607706296

[2020-04-02 09:41] m-vo commented on #1616
...especially because Doctrine *is* providing a schema in your case. :-)

[2020-04-02 10:10] Mynyx commented on #1618
If the cookie is generally stripped (e. g. if it is missing in the whiteliste), the trusted devices function can't work.

[2020-04-02 10:15] fritzmg commented on #1616
Yeah exactly. There must be a reason why the `server_version` auto-detection is not working, while the general database connection for everything else _is_ working.

[2020-04-02 10:24] Mynyx commented on #1618
The trusted devices function is available in the front end, too!? Furthermore, backend users could get a bad impression of the performance of their own website.

In opposite to the session cookie or other cookies, the ``trusted_device`` is only relevant for ``POST`` requests. Could it be a solution to strip the ``trusted_device`` cookie only at ``GET`` requests?

[2020-04-02 11:57] aschempp commented on #1618
Yes, visitors with front end logins are not the majority of visitors. If they are, the cache is useless anyway, because they will most likely be logging in ;)

As i said. Its not impossible, but its not easy (especially given the current Symfony security component and the two-factor bundle).

I don‘t think „a bad impression for backend users“ is a valid case. One could train them to use a differen

[2020-04-02 12:08] aschempp commented on #1553
Not sure, I would consider that a bugfix (as it should always have been the case) wdyt @contao/developers ?

[2020-04-02 12:10] fritzmg commented on #1553
I'd say bugfix.

[2020-04-02 12:31] Mynyx opened #1620 "E-mail address encoding leads to several cache items"
**Affected version(s)**

Contao 4.9

**Description**

The e-mail address encoding leads to to several cache items of the same page. Every page that contains an e-mail address is saved in a new version when the cache time expires, even though the content of the page has not actually changed. This causes that additional write operations in the cache are performed and several items in the storage are

[2020-04-02 16:33] Mynyx commented on #1491
I can confirm this issue.

The ``/_contao/request_token_script`` starts a session for a guest, the guest also has a session cookie than. Clear all cookies and request ``https://demo.contao.org/_contao/request_token_script``. The response contains the header ``set-cookie: PHPSESSID=[...]; path=/; secure; HttpOnly``. Is that correct?

[2020-04-02 16:38] bennyborn commented on #1491
Still haven't found a good way to create a screencast but just recreated the issue again.

1. Enabled the caches

![image](https://user-images.githubusercontent.com/226890/78274813-0f4fc000-7511-11ea-8018-faff025f6aa6.png)

2. Added a form to the home page

![image](https://user-images.githubusercontent.com/226890/78274861-1ecf0900-7511-11ea-9e90-122a2f5d0ae3.png)

3. Filled out and submitted the

[2020-04-02 16:41] fritzmg commented on #1491
This time I was able to reproduce the issue as well.

[2020-04-02 16:55] bennyborn commented on #1594
Since this seems highly dependant on the theme / layout you're using I'm not sure if this justifies an extra setting in the backend. But what about making the pagination template aware about the module it is used in? This way you could alter the template depending on the module type or id to add the anchors yourself accordingly.

[2020-04-02 17:01] bennyborn commented on #1530
@Toflar Isn't the process of replacing the Insert Tags faulty by design in 4.9? I mean sure you could implement a specific check for this exact scenario but there are still plenty of other ways more how one can create such an infinite loop using the Insert Tags (e.g think about an IT in an Content Element referencing itself - same situation).

[2020-04-02 17:08] Toflar commented on #1530
That's not the concept of insert tags. That's the concept of users not understanding what they are doing. They can also create endless redirects without using insert tags by adding nonsense configuration on Apache or Nginx level.

[2020-04-02 17:16] bennyborn commented on #1530
Sure they could also mess up their DNS settings but let's be honest, this is about "normal" endusers simply trying to maintain their website using Contao. After all there has already been a solution in 4.4 even if it was unintentional so IMHO this should be considered a bug.

[2020-04-02 18:10] asaage commented on #1594
I usually load some js like
[code]
which scrolls me to the parent of the (first) pagination if ther is a page_* queryparameter present.
This could be refined to work without jquery and with multiple pagiations on one page.
There is already something similar for form-validation-errors in the ```js_autofocus``` template.

[2020-04-02 19:00] Toflar commented on #1491
I've debugged the issue and I know why this happens :)
The problem is that `_contao/request_token_script` is executed before the `_contao/check_cookies` image request. The `check_cookies` request will generate a new token and thus the one set by the `request_token_script` will be invalid now.
Not sure how we should fix this, I have to think about that.

[2020-04-02 19:07] Mynyx commented on #1491
@Toflar But another point is, if the session cookie would not be set by ``/_contao/request_token_script`` at least for guests the CSRF token would be ignored and especially also the cache would work correctly? Maybe there are two problems.

[2020-04-02 19:09] Toflar commented on #1491
Yeah there are actually more issues here, what I stated 8 minutes ago does not seem true.

[2020-04-02 19:36] Toflar commented on #1491
Okay, found the reason now. It's a service locator autowiring issue. The wrong token storage manager gets wired for the request token script endpoint. I'll see if I can provide a fix.

[2020-04-02 19:47] #1491 closed, assigned to nobody

[2020-04-02 19:48] Mynyx opened #1626 "Crawler: Externe URIs in crawl_search-index_log.csv"
**Affected version(s)**

Contao 4.9.2

**Description**

Wenn der Crawler mit den Funktionen ``Nach defekten Links suchen`` und ``Den Suchindex aktualisieren`` gestartet wird, werden Fehler beim Crawling externer URIs auch in den ``crawl_search-index_log.csv`` aufgenommen.

[2020-04-02 19:57] Mynyx commented on #1404
Auch mit 4.9.2 ist der Debug-Log unverändert.

Das Issue bezieht sich darauf, dass der Debug-Log keine Informationen zu den gecrawlten Seiten enthält, es geht nicht um die dabei festgestellten Fehler. Liegt da vielleicht ein Missverständnis vor?

[2020-04-02 20:02] Toflar commented on #1626
I think that's an Escargot issue. Can you check if https://github.com/terminal42/escargot/commit/54c495f3a881f2b8cce7ad86b805de345c0cccc1 fixes that?

PS: Could you stick to English? I noticed you do speak it so please, always do. We should allow as many people as possible to follow our project. :)

[2020-04-02 20:07] Toflar commented on #1404
Ach so, du meinst jede einzelne URL die angefragt wird?
Das wird bisher nie geloggt und wäre ja auch unabhängig des Subscribers.

[2020-04-02 20:14] Mynyx commented on #1626
Okay, external URIs are ignored but a similiar issue remains. Broken internal links e. g. to PDF documents are still listed.

[2020-04-02 20:19] Mynyx commented on #1626
But it isn't an issue, because the content type isn't pdf if the file is missing. Than everything is fine. :)

[2020-04-02 20:37] Mynyx opened #1627 "Failed login attempt in front end module login form starts session"
**Affected version(s)**

Contao 4.9

**Description**

Even if a login attempt in the front end module ``login form`` fails, a session is started and the ``PHPSESSID`` cookie is set.

[2020-04-03 07:06] Toflar commented on #1626
And it is a broken link, so it's correct to be reported. I'm closing this then :)

[2020-04-03 07:06] #1626 closed, assigned to nobody

[2020-04-03 10:44] lennier83 opened #1629 "Contao 4.9.2 "Templates" zeigt nur php, keine html5 mehr"
**Affected version(s)**

Contao 4.9.2

**Description**

Nach update von Contao 4.9.1 -> 4.9.2 zeigt im Backend das "Templates" Verzeichnis nur noch PHP (Endung .php) Dateien an (z.B. von RockSolid Custom Elements). Keine angepassten .html5 mehr.
Sowohl bei Mittwald als auch Domainfactory. Jeweils PHP 7.2/7.3

[2020-04-03 14:13] jzaeske opened #1630 "Redirect does not respect https when reverse proxy is used"
**Affected version(s)**

Contao 4.9.1

**Description**

I have a setup running Contao behind a Reverse Proxy, which does TLS Termination. For Contao the Environment Variable `TRUSTED_PROXIES` is set so it respects X-Forwarded-Proto Header set by the Proxy. This works for alle asset related URLs

When using redirect after login, the redirect is performed to a HTTP URL instead of HTTPS.

![image](ht

[2020-04-03 22:44] ghost commented on #1629
Habe das selbe Verhalten und bei RockSolid Custom Elements hat es dann geklingelt. Wenn du es deinstallierst, sollte es wieder funktionieren.

[2020-04-03 22:45] larp-welt commented on #1629
Habe auch gerade das Problem, will aber nicht auf die RockSolid Custom Elementes verzichten.
Ich probiere erstmal die Templates über Filesystem zu bearbeiten.

[2020-04-03 22:46] ghost commented on #1629
Ich bin zum Glück erst bei Projektbeginn und schiebe es noch ein bisschen auf.

[2020-04-04 08:10] fritzmg commented on #1629
https://github.com/madeyourday/contao-rocksolid-custom-elements/issues/118

[2020-04-04 08:10] #1629 closed, assigned to nobody

[2020-04-04 08:33] Defcon0 commented on #203
I also agree to @fritzmg that it‘s a better user experience to be able to control global settings through a gui.

On the other hand I understand @Toflar ‘s arguments that it would be *very* hard to write a gui for handling everything that can be done in config yaml files.

From the perspective of a bundle developer (but would be similar to core): Maybe a compromise would be giving devs an interfac

[2020-04-04 13:47] contaoacademy opened #1631 "Installation Contao 4.9 und MAMP Pro schlägt fehlt wegen server_version"
**Affected version(s)**
- Contao 4.9
- MacOS Catalina
- PHP 7.4
- MAMP Pro 5.7

**Description**
Bei einer frischen Installation von Contao 4.9 über den Contao Manager bricht die Installation kurz vor Schluss ab. Problem ist wohl die Prüfung der Datenbankverbindung. (siehe Ausgabe)

Leider konnte ich bisher den Fehler nur bei 2 Kunden sehen, allerdings bei meinem eigenen System nicht nachvollziehen

[2020-04-04 13:57] netzarbeiter commented on #1631
Dieses Problem ist mir auch schon begegnet, geholfen hat folgendes:

Ein Verzeichnis «config» erstellt und darin die Datei mit Namen «parameters.yml» mit folgendem Inhalt angelegt:

[code]

Danach die Paket Aktualisierung erneut starten.

[2020-04-05 11:30] ausi commented on #1629
Der Fehler wurde in Version [2.2.15](https://github.com/madeyourday/contao-rocksolid-custom-elements/releases/tag/v2.2.15) der Custom Elements Erweiterung behoben.

[2020-04-05 15:14] netzarbeiter opened #1632 "Wrong character in the database password"
**Affected version(s)**

Contao 4.9

**Description**

Updating from Contao 4.4.48 to 4.9.2 I run into the following error:

[code]

My automatic generated password was and worked in 4.4.48:
[code]

I had to remove the plus character:
[code]

[2020-04-05 20:50] ausi commented on #1632
Could be an encoding issue with the `+` character. It would be interesting if the password gets transferred correctly to doctrine.

Can you put `var_dump($password);exit;` before the following line: https://github.com/doctrine/dbal/blob/ac0e13a15de7c1377c6ffb366977266b0f3d61c4/src/Driver/PDOConnection.php#L28 to test what doctrine tries to use as the password?

[2020-04-05 21:20] ausi commented on #1620
We could switch between the two variants for every iteration, e.g.:

[code]

[2020-04-05 21:40] ausi commented on #1187
@Funbug der Fehler betrifft nur das HTML-Inhaltselement? Alle anderen Inhaltselemente die HTML-Code enthalten funktionieren?

Wenn dem so ist, liegt der Fehler vermutlich an folgenden Code-Zeilen: https://github.com/contao/contao/blob/2560349f1985eae6eb69da4f2eeb9a3ad6e4f37a/core-bundle/src/Resources/contao/elements/ContentHtml.php#L31-L38

Dort wird das Element anders ausgegeben abhängig davon ob

[2020-04-05 22:11] Funbug commented on #1187
Ja. Das wird's wohl sein.

[2020-04-06 06:19] netzarbeiter commented on #1632
Thank you, Martin.

doctrine tries to use the following password:

```string(17) "aAa%%8aAa+3aA%%9A" ```

[2020-04-06 07:14] ben-eSM opened #1633 "Backend section Templates shows php files only after update to 4.9.2"
**Affected version(s)**
Contao 4.9.2

**Description**
After updating an installation to 4.9.2, the templates editor shows only php files. All .html5 files don't show up. I think it must be related to the changes made in #1591

[2020-04-06 07:15] bytehead commented on #1633
Maybe related to #1629?

[2020-04-06 07:17] leofeyer commented on #1633
The issue has been fixed in version [2.2.15](https://github.com/madeyourday/contao-rocksolid-custom-elements/releases/tag/v2.2.15) of the Custom Elements extension.

[2020-04-06 07:17] #1633 closed, assigned to nobody

[2020-04-06 07:19] ben-eSM commented on #1633
Oh well...didn't check well enough. Thanks for the hint. That solves it. Just assumed due to the changelog it might be related with that commit. Sorry! 😳

[2020-04-06 07:29] leofeyer commented on #1633
No problem 😊

[2020-04-06 08:24] ausi commented on #1632
That’s weird. Your “actual” password is `aAa%8aAa+3aA%9A` (with single percentage signs, not doubled) correct?

[2020-04-06 08:30] netzarbeiter commented on #1632
Yes

[2020-04-06 09:07] Olli opened #1635 "Deletion of wrong translation in file not possible"
**Affected version(s)**

 Contao 4.9.2

**Description**
If a file has a additional description in a foreign language and this description should be deleted with a click on x (see image)
![grafik](https://user-images.githubusercontent.com/1754/78541192-bd46bd00-77e4-11ea-83bc-75d2a3aa6e41.png)
it's not been deleted. The js console puts an error:
"TypeError: n.getElement(...) is null" (line 13378) .

[2020-04-06 09:11] fritzmg commented on #1632
What happens if you use double quotes, i.e. `"` instead of `'`?

[2020-04-06 09:16] netzarbeiter commented on #1632
Same behaviour.

[2020-04-06 12:06] contaoacademy commented on #1631
Ich konnte jetzt die Ursache für den Fehler herausfinden.

Der Fehler entsteht dann, wenn ein anonymer User angelegt ist.
(siehe Screenshots)
Sobald der User gelöscht wird, funktioniert wieder alles.

**Frage**
Ist es ein Contao Problem oder ein Konfigurationsproblem?
Kann dieses Problem abgefangen werden?

![user-accounts](https://user-images.githubusercontent.com/23719181/78556658-a49fcc80-780f-

[2020-04-06 12:57] contaoacademy commented on #1632
I had this problem too in an installation. I had to fix the password string and remove the doubled percentage sings.

[2020-04-06 13:00] contaoacademy commented on #1632
Ähnliches Ticket:
https://github.com/contao/contao/issues/1543

[2020-04-06 13:19] ausi commented on #1632
@netzarbeiter Could you please add `var_dump($this->getDatabaseUrl($container));exit;` before the following line: https://github.com/contao/contao/blob/2560349f1985eae6eb69da4f2eeb9a3ad6e4f37a/manager-bundle/src/ContaoManager/Plugin.php#L241

[2020-04-06 13:32] netzarbeiter commented on #1632
The output is:

[code]

[2020-04-06 14:16] netzarbeiter commented on #1632
The output without + is:
[code]

[2020-04-06 19:16] Mynyx opened #1636 "Show JavaScript template js_nocookie only if an authenticated user exists or the session has been started"
**Affected version(s)**

Contao 4.9

**Description**

The JavaScript template ``js_nocookie`` shows a warning in forms, if cookies are disabled in the browser. It should prevent errors at the CSRF check (https://github.com/contao/contao/issues/134).

But from version 4.8 the CSRF check normaly is only performed if any cookies exist. Therefore the warning would be misleading and normaly not necessa

[2020-04-07 05:55] aschempp commented on #1635
Can you reproduce this in the Contao demo at https://demo.contao.org ?

[2020-04-07 06:07] aschempp commented on #1630
And you probably didn‘t enable the checkbox in the root page because you don‘t want the system to redirect the proxy to SSL?

Just curious, why would anyone today - with the availability of free certificates like LetsEncrypt - still use such a reverse proxy setup?

[2020-04-07 06:47] Toflar commented on #1620
Two questions here:

1. @leofeyer why is this assigned to 4.9? I'm sure it's the same in 4.4, isn't it?

2. What exactly is the issue here? Why would we end up having multiple cache entries? Can you elaborate on that @Mynyx? The cache key is not related to the content of a response at all. If I'm requesting `/foobar.html` and cache that for 24 hours, the cache key is built based on `/foobar.html`

[2020-04-07 06:50] Olli commented on #1635
No because in the demo I cant edit the metadata of image files :(

[2020-04-07 07:57] Olli commented on #1635
I just tried it on my own demo system. I can reproduce it.

[2020-04-07 08:15] rorych commented on #1356
@Toflar Can it be, that the newest version detects console-commands as GET Requests but has no URI, because we are on the console? I'm getting a similar error on all cronjob-commands, since i updated from Contao 4.9.1 to 4.9.2 with all dependencies.

**One example command would be:**
`vendor/terminal42/notification_center/bin/queue -s 2 -n 10`

**Error:**
`Fatal error: Uncaught InvalidArgumentExce

[2020-04-07 08:19] Toflar commented on #1356
That doesn't look like any issue of the crawler no. But it looks like the BC layer of the `initialize.php` always expects a web request which is not true in the case of the notification center (or probably also many other scripts). /cc @aschempp

[2020-04-07 08:25] aschempp opened #1637 "initialize.php always expects a request"
@Toflar Can it be, that the newest version detects console-commands as GET Requests but has no URI, because we are on the console? I'm getting a similar error on all cronjob-commands, since i updated from Contao 4.9.1 to 4.9.2 with all dependencies.

**One example command would be:**
`vendor/terminal42/notification_center/bin/queue -s 2 -n 10`

**Error:**
[code]

**As a Hotfix i added this:**
[cod

[2020-04-07 08:25] aschempp commented on #1356
See https://github.com/contao/contao/issues/1637

[2020-04-07 11:11] jzaeske commented on #1630
We have a shared database instance for a preview environment (with TLS, Proxy does provisioning of Certificates from LetsEncrypt) and a local development environment (withou TLS).

If I enable the checkbox, the local environment would break.
So I like to handle TLS specific behaviour without configuration in the database

I admit, this is probably not a very common setup, but since database manipu

[2020-04-07 16:20] leofeyer commented on #1620
@Mynyx wrote

Maybe the cache behaves differently in Contao 4.4?

[2020-04-07 18:58] Mynyx commented on #1620
The key for the cache entry with the response content is the content digest!?

https://github.com/Toflar/psr6-symfony-http-cache-store/blob/5364b76033d23801f5dd39e6ccc21fec3d4ccf96/src/Psr6Store.php#L214-L222

https://github.com/Toflar/psr6-symfony-http-cache-store/blob/5364b76033d23801f5dd39e6ccc21fec3d4ccf96/src/Psr6Store.php#L497

[2020-04-07 19:55] Mynyx opened #1641 "No cache invalidation if publish/unpublish an element with eye icon"
**Affected version(s)**

4.9.2

**Description**

If publish/unpublish or hide/unhide an element with the edit operation, related cache entries will be automatically invalidated.

But if publish/unpublish or hide/unhide an element with the eye icon this doesn't happen.

[2020-04-07 21:02] Mynyx opened #1643 "No cache invalidation on version restore"
**Affected version(s)**

Contao 4.9

**Description**

If a version of an element is restored, related cache entries should be invalidated.

[2020-04-07 21:11] Mynyx opened #1644 "No cache invalidation on element restore"
**Affected version(s)**

Contao 4.9

**Description**

If an element is restored, related cache entries should be invalidated.

[2020-04-07 21:22] Mynyx opened #1645 "No cache invalidation if using edit multiple option"
**Affected version(s)**

Contao 4.9

**Description**

If an element is modified with the regular edit operation, related cache entries will be automatically invalidated.

But if elements are modified with the edit multiple option, this doesn't happen.

[2020-04-07 22:00] felixww opened #1646 "Duplicating Articles, with content IDs matching article IDs, fails with page layout error"
**Affected version(s)**

Contao 4.7.6

**Description**

Copying and pasting articles, I ran into a situation where the pasted articles could not be saved, because apparently, the target page had no layout sections anymore.

The database IDs involved during the issue look similar, which makes me think of a faulty
database request somewhere in the Contao core.

I am summarizing the steps (not reprod

[2020-04-07 23:12] fritzmg commented on #1646
Before reporting bugs, you must update your Contao installation to the latest version, in order to make sure, that the bug is not happening there.

[2020-04-08 08:27] Toflar commented on #1620
Yeah but it shouldn't matter very much because the digest is used to improve storage. If two or more responses return the exact same content, the value can be shared amongst those.
So `/foobar.html` and `/foobar2.html` **might**  share the same content.
It's true that the randomness here will reduce chances for this, so we still might want to fix this, yes.

The true issue here, however, is that c

[2020-04-08 09:32] leofeyer commented on #1577
Ich habe die deutsche Übersetzung angepasst.

[2020-04-08 09:32] #1577 closed, assigned to nobody

[2020-04-08 09:56] Toflar commented on #1620
Implemented expiration of content digest items in https://github.com/Toflar/psr6-symfony-http-cache-store/pull/26. I pinged a few people working on caching at Sulu and eZ Publish, so we'll see how this goes.

Anyway, we should still apply @ausi's proposal here. There's not really anything to discuss imho, so the `up for discussion` label can be removed from my point of view.

[2020-04-08 10:39] #1492 closed, assigned to nobody

[2020-04-08 10:39] leofeyer commented on #1620
I think that using a predictable algorithm will weaken the protection, therefore I have added the label.

[2020-04-08 10:46] kalterwind opened #1648 "Dateiverwaltung -> Alle öffnen -> Error 500"
**Affected version(s)**

Contao 4.9.2 (war auch in 4.9.1)

**Description**

System > Dateiverwaltung, klick auf "Alle umschalten".
Error 500.

Ordner hat nur 14.5 MB.
7 Unterordner (einige davon mit einem weiteren Unterordner).
Insgesamt nur ca 110 Dateien. Keine Datei über 500KB.
Keine Sonderzeichen oder defekte Dateien ersichtlich. Ich kann jeden Ordner einzeln in der Dateiverwaltung öffnen.

**

[2020-04-08 11:20] Olli commented on #1635
Maybe some additional info:
I added in the site tree a root site with an unknown language code. Then I changed the language code to something other.
Some files which I had edited did have the old wrong language code and the new language code. The descriptions of the old language code can't be deleted.
Sorry that I had forgotten to provide that additional info in the first place.

[2020-04-08 12:02] Defcon0 opened #1649 "Add a click event for redisplaying the FE preview button after it's been hidden by the user"
Hello,

the title says it all. After I had hidden the frontend preview bar with the button on the right, I was unable to display it again (like the symfony debug bar is able to).

Of course, I could delete the cookies but a click would be more convenient. Especially for editors.

Or am I missing something?

Bye Defcon0

[2020-04-08 12:03] leofeyer commented on #1649
See #1623.

[2020-04-08 12:03] #1649 closed, assigned to nobody

[2020-04-08 12:05] Defcon0 commented on #1649
Ah, I see, sorry for that one.

[2020-04-08 17:43] xchs commented on #1648
Du könntest mal versuchen, das PHP Memory Limit in der `web/.htaccess` entsprechend zu erhöhen:
[code]

[2020-04-09 07:37] kalterwind commented on #1648
Das brachte keine Veränderung, außer das der Error gestiegen ist:
`[09-Apr-2020 09:33:00 Europe/Berlin] PHP Fatal error:  Allowed memory size of 536870912 bytes exhausted (tried to allocate 1466368 bytes) in /www/htdocs/XXXXX/demo/XXXXX/var/cache/prod/ContainerP4nCwVR/appContao_ManagerBundle_HttpKernel_ContaoKernelProdContainer.php on line 508
[09-Apr-2020 09:33:00 Europe/Berlin] PHP Fatal error:

[2020-04-09 07:41] bytehead commented on #1648
Dann reichen auch 512M nicht aus. Was passiert wenn du da `-1` angibst?

[2020-04-09 07:55] Toflar commented on #1648
Evtl. ein Endless-Loop?

[2020-04-09 07:58] kalterwind commented on #1648
-1 funktioniert.
Aber halte es ehr für einen Fehler bei den kleinen Daten... wie zB ein Endless Loop!?

Habe auch mal einen Test einer ganz anderen Webseite (ebenfalls mit 4.9.2) gemacht, dort gleiches Problem (gleicher Server). Es sind dort auch nur wenige Daten drin und ganz andere (was eine defekte Datei in der ersten Installation ausschließt, wo zB ein Vorschaubild nicht generiert werden könnt

[2020-04-09 08:20] fritzmg commented on #1648
Can you provide us with your `files/` directory?

[2020-04-09 08:44] kalterwind commented on #1648
Unfortunately not for licensing reasons, customer data.
But the same problem also with completely different data. Only JPGs contain up to 22 per folder.
Does not occur in all folders, maybe only if there are at least 3 levels (files/bilder/gueterverkehr/lokomotiven/).
(PHP Version 7.3.11-nmm1 + PHP Version 7.4.2)

[2020-04-09 08:57] fritzmg commented on #1648
I cannot reproduce this issue. I made a test putting 2.05 GiB worth of files into `files/`, 2520 files in total, within 321 folders. The peak memory usage of the request to open all folders was only 48 MiB. I also tried to synchronize the DBAFS and then re-open the file manager in its state with all folders open, still only 50 MiB peak memory usage.

[2020-04-09 09:08] kalterwind commented on #1648
Mein Deutsch ist besser, sorry^^

Ich habe auf einem anderen Server (ebenfalls gleiches Paket bei All Inkl) ebenso eine 4.9.2 Installation in Entwicklung, dort habe ich die Daten mal hinkopiert, dort ging es auch ohne Probleme.

Jetzt frag ich mich, wieso es bei 2 Installationen auf dem gleichen Server mit komplett unterschiedlichen Daten auftritt. Alle Daten sind Web optimiert und relativ Klein.

[2020-04-09 09:09] fritzmg commented on #1648
We cannot confirm that without a proper reproduction.

[2020-04-09 09:10] xchs commented on #1648
Könntest Du bitte mal Deine `composer.json` zeigen?

[2020-04-09 09:17] kalterwind commented on #1648
[code]

und die andere Installation die mir auffiel:

[code]

[2020-04-09 09:19] xchs commented on #1648
Bitte wiederhole den Test ohne installierte Drittanbietererweiterungen!

[2020-04-09 09:22] fritzmg commented on #1648
@kalterwind please post your composer.jsons in three backticks, not one.

[2020-04-09 09:26] asaage commented on #1648
@kalterwind hast du evl. sonderbare Zeichen in den Datei-/Ordnernamen?
Oder Datei-/Ordnernamen, die auf gleicher Ebene in unterschiedlicher Groß-/Kleinschreibung existieren?
Kann mich erinnern, das ich das vor geraumer Zeit auch mal hatte (war glaube ich noch Contao 3) und die Dateiverwaltung das mit 500er quittierte.

[2020-04-09 09:38] kalterwind commented on #1648
Datei/Ordner kann ich jetzt nicht entdecken. Ich selbst achte da genau drauf. Kunden muss man es zwar immer wieder sagen. Das Problem schließe ich hier jedoch eigentlich aus (Dateien wurden mittlerweile etwas verschoben)... denn Ordner A alleine funktioniert, Ordner B ebenso. Aber A+B funktioniert nicht. Was für mich auf ein Memory Problem / Loop oder was auch immer hindeutet.

Habe alle Erweiteru

[2020-04-09 10:36] Mynyx commented on #1620
If I would implement an e-mail address crawler with the ability to decode the entites, I would decode them in the whole document. Both types of entities are easy to detect with Regex.

Why should I invest the effort to manually detect them in another way, especially if Contao is just one CMS among many?

[2020-04-09 13:18] leofeyer commented on #1511
As discussed in Mumble on April, 9th, we want to keep the button and fix the endless redirect.

[2020-04-09 13:34] leofeyer commented on #929
As discussed in Mumble on April, 9th, we want to adjust the `triggerInitializeSystemHook()` method:

[code]

[2020-04-09 14:05] leofeyer commented on #1060
As discussed in Mumble on April, 9th, we want to overwrite the blank option with the default theme name (e.g. `ce_text (global, Theme A)`) and rename the field from "Custom module template" to "Module template".

[2020-04-09 14:22] leofeyer commented on #1620
As discussed in Mumble on April, 9th, we want to implement @ausi's suggestion (see https://github.com/contao/contao/issues/1620#issuecomment-609485510) to get rid of the randomness and still mitigate against simple spam bots that cannot handle both entity variants.

[2020-04-09 15:43] leofeyer opened #1655 "Establish rules for service definitions"
**Class names or service ID**

We generally want to use class names instead of service IDs (see #763). There will be cases in which this does not work:

 * Two services use the same class (e.g. `contao.assets.assets_context`)
 * A service uses a third-party class (e.g. `contao.csrf.token_manager`)

**Service autoconfiguration**

Using service autoconfiguration is allowed in our bundles.

**Service

[2020-04-09 15:44] leofeyer commented on #1655
@contao/developers Please help defining the exceptions rule above (see TODO).

@aschempp You mentioned something about services that run "in the app context" and other that do not. Can you explain this again please?

[2020-04-09 17:05] nkirstein opened #1657 "Add "do not track" option to the Vimeo content element"
By default, Vimeo sets a cookie to track the performance of an embedded player. By adding "dnt=1" to the URL, you can disable tracking and prevent Vimeo from setting a cookie: https://vimeo.zendesk.com/hc/en-us/articles/360001494447-Using-Player-Parameters (search for "dnt").

As of Contao 4.9.2, this can only be done by editing the ce_vimeo template. I think it would be nice to have a checkbox fo

[2020-04-09 17:51] Mynyx commented on #1657
Would there be any disadvantage if the ``dnt`` option is set by default?

[2020-04-09 18:15] nkirstein commented on #1657
As far as I understand, `dnt=1` disables tracking of the video completely so playback events won't get registered in the Vimeo viewing statistics. That's quite a significant departure from the expected behavior. So I don't think the option should be enabled by default.

[2020-04-12 15:26] math-GH opened #1659 "Install tool: PW to short text label"
**Affected version(s)**

Contao 4.9.2

**Description**
Install tool after typing a password that is too short.

"password_too_short" appeared as error message.

![grafik](https://user-images.githubusercontent.com/1645099/79072657-796f1e80-7ce2-11ea-9a27-e39544179a96.png)

(maybe it is just a forgetten translation)

[2020-04-12 15:31] math-GH commented on #1659
same issue on the next step
![grafik](https://user-images.githubusercontent.com/1645099/79072828-7cb6da00-7ce3-11ea-98ff-e245fbe0e18e.png)

[2020-04-12 16:58] math-GH opened #1660 "German translations: Sie/sie"
**Affected version(s)**

Contao 4.9.2

**Description**
Creating a new event archive:
![grafik](https://user-images.githubusercontent.com/1645099/79074895-5b5beb00-7cef-11ea-9ce8-60b799c82162.png)

Text:
"Bitte wählen Sie die Eventleser-Seite aus, zu der Besucher weitergeleitet werden, wenn **_Sie_** ein Event anklicken."

It should be a small "sie" and not the polite "Sie", becaus it refers to "Be

[2020-04-14 07:01] akroii commented on #176
Ist dieser Fix auf für die Version 4.4.47?
Ich erhalte diese Fehlermeldung bei einer 4.4.47:
[code]
Das Problem lag darin, dass ein unverändertes fe_page.html5 die Body-Klasse: {{ua::class}} beinhaltete. Ich habe das Template angelegt und den InsertTag entfernt. Anschließend funktionierte es. Die Seite war nicht im Wartungsmodus, sondern live.

[2020-04-14 07:48] bennyborn opened #1661 "Broken search filter with SQL Mode "ONLY_FULL_GROUP_BY""
**Affected version(s)**

Contao 4.4 and Contao 4.9

**Description**

When searching for e.g. the description of a page in the site structure Contao generates an SQL query which will not work on hosts with MySQL >= 5.7.5 where the SQL mode is set to `ONLY_FULL_GROUP_BY` (which is the default since 5.7.5).

The query in question looks like this

[code]

which results in the following exception

[cod

[2020-04-14 07:51] bennyborn commented on #1648
@kalterwind Schau mal bitte ob es etwas bringt wenn Du im Backend in Deinem Profil den Haken bei `Vorschaubilder anzeigen` entfernst. Wir hatten eine ähnliche Situation mal bei einem Kunden mit sehr vielen Dateien und Unterordnern. So kann man zumindest eingrenzen ob es vielleicht am Generieren der Thumbnails liegt.

[2020-04-14 07:59] fritzmg commented on #1648
@bennyborn besteht das Problem auch in Contao 4.9? Dort werden die Bilder nicht im selben Request erzeugt.

[2020-04-14 08:07] bennyborn commented on #1648
@fritzmg Dazu kann ich leider noch nichts sagen da ich aufgrund des komplexen Deployments (auf Amazon) die Installation leider nicht einfach testweise updaten kann.

[2020-04-14 08:52] fritzmg commented on #1648
Also war es eine 4.4 Installation? Dann wird das vermutlich unter Contao 4.9 nicht mehr das Problem sein.

[2020-04-14 09:08] kalterwind commented on #1648
Brachte leider nichts, danke aber für den Tipp.

Da ich (dank Corona-Zeit) nun auch in Kurzarbeit bin, habe ich diese Woche wohl leider neben den Jobs keine Zeit über für einen Aufbau zum freigeben (hoffe das zeitnah nachzuholen).

[2020-04-14 09:58] joseluisq commented on #1603
I close the issue due it was addressed via the file manager.

[2020-04-14 09:58] #1603 closed, assigned to nobody

[2020-04-14 13:46] leofeyer opened #1662 "Replace the Ocramius/PackageVersions package"
**Affected version(s)**

Contao 4.9

**Description**

Since the will not be a version that is compatible with PHP 7.2/7.3 and Composer v2 (see https://github.com/Ocramius/PackageVersions/pull/133), we should no longer use the package and e.g. fork it or extend our own `PackageUtil` class.

[2020-04-14 14:16] m-vo commented on #1662
As long as `doctrine/orm` is also using that same package (and we're using doctrine), this effectively won't change anything, right? :man_shrugging:

[2020-04-14 14:19] m-vo commented on #1662
(unless we're composer-replacing it of course)

[2020-04-14 14:46] leofeyer commented on #1662
Dang 😣

[2020-04-14 14:47] bytehead commented on #1662
Doctrine has to solve the issue as well, don't they?

[2020-04-14 15:04] aschempp commented on #1662
Well if our package "provides" or "replaces" `ocramius/package-versions` then we'd be on the safe side imho. Or if we can get someone like https://packagist.org/packages/muglug/package-versions-56 to "provide"

Edit: Quickly checking Packagist, `muglug/package-versions`, `muglug/package-versions-56`, `samsonasik/package-versions` and `vdechenaux/package-versions` all replace `ocramius/package-vers

[2020-04-14 18:10] Toflar commented on #1620
BTW: Content digest cache expiration has been released with version 2.3.0 of my cache implementation :)

[2020-04-19 09:57] m-vo opened #1664 "Consider dropping or modifying doctrine schema filter"
In 22ebe459273a85843be441cc43c614f48224fba6 we added a schema filter to the installer so that only tables starting with `tl_` are processed. I'd like to discuss that decision again or vote for the implementation of configurable exceptions.

**Consider this scenario:**

There is a Symfony bundle that brings along some entities and a Contao extension wrapping this bundle so that users can easily ins

[2020-04-19 12:54] felix-kaestner opened #1665 "Call to Collection::createFromDbResult throws ClassNotFoundException if Model::getClassFromTable does not return a valid class name"
**Affected version(s)**

Contao 4.4 and above

**Description**

The static function  `createFromDbResult`  from the class  `Contao\Collection`  includes the following:
`$strClass = Model::getClassFromTable($strTable);` [(link)](https://github.com/contao/contao/blob/master/core-bundle/src/Resources/contao/library/Contao/Model/Collection.php#L127)

Currently there is not check, wether this class nam

[2020-04-19 14:01] math-GH opened #1666 "Meta data fields are in chapter "forwarding target""
**Affected version(s)**

Contao 4.9.2

**Description**
backend: news editing

Contao 4.9.2
meta data fields are in chapter "forwarding target".
![grafik](https://user-images.githubusercontent.com/1645099/79689605-41258e00-8256-11ea-86aa-a6dc5580f629.png)

Expected behavior:

Contao 4.9.0 (demo.contao.org)
seperate "meta data" chapter
![grafik](https://user-images.githubusercontent.com/1645099/7968

[2020-04-19 16:17] fritzmg commented on #1665
Why do you want it to return null? If the Model class is missing, then an exception should be thrown.

[2020-04-19 17:11] felix-kaestner commented on #1665
My initial thought was that if the model class is invalid, it could return null in a means of that there are no actual models for this table. But now that I think of it in another way, you are right. Since this function is only called by Contao\Model, I guess it is only meant to handle cases where there is an actual model class and throw an exception if that class is missing. I was thinking that t

[2020-04-19 17:40] fritzmg commented on #1666
That's intentional. See https://github.com/contao/contao/pull/1598

[2020-04-19 17:41] fritzmg commented on #1666
Though I do agree, that it would be nicer to keep having it in its own fieldset.

[2020-04-19 17:41] m-vo commented on #1664
... in the meantime - if anyone is interested. This actually works:

[code]

[2020-04-20 06:48] aschempp commented on #1664
I think it's a long time since running Contao in the same database as any other tool is a valid use case. I'm all-in for dropping this in Contao 4.10, so anyone with that _deprecated_ requirement can still run 4.9 for another 4 years…

[2020-04-20 07:53] ausi commented on #1664
Can we detect that case and trigger a deprecation warning in 4.9?

[2020-04-20 08:33] m-vo commented on #1664
The only thing I can think of is people that *do* want to use doctrine migrations (commited to the repo, with up and down actions) because they are more powerful. In this case Contao should probably not interfere?  (I'm all for dropping in the case of 'Contao as an application'.)

Edit: But in this case you wouldn't use contao:migrate would you? :-)

[2020-04-20 08:40] m-vo commented on #1664
Easiest would probably be to trigger a deprecation from inside the filter callback whenever the filter is applied (or setting a flag).

[2020-04-20 16:47] Mynyx opened #1669 "Set helpful values to autocomplete attribute in user context"
Instead of ``autocomplete="off"`` the following values for the ``autocomplete`` attribute could be set in forms of the user context (e.g. registration, login).

Credential | Autocomplete Values
-- | --
User Name | username
Password | current-password
New Password | new-password
One-Time Code | one-time-code

https://developer.apple.com/documentation/security/password_autofill/enabling_password_aut

[2020-04-22 08:21] baumannsven opened #1671 "The installation-bundle is missing require in the core-bundle"
The command `contao:migrate` use the database installer from the `installation-bundle`.

So i think the `core-bundle` must require the `installation-bundle`.

[2020-04-22 08:53] m-vo commented on #1671
Imo it must be the other way round: You cannot use the installer if you do not require the installation bundle (meaning: there should not be a core dependency that requires the latter).

[2020-04-22 09:00] baumannsven commented on #1671
The command `contao:migrate` has a usage of the a class from the `installation-bundle`.
See https://github.com/contao/contao/blob/edf7b746548da900ce5fe44211c4d36089f809b2/core-bundle/src/Command/MigrateCommand.php#L18.

@m-vo

[2020-04-22 09:05] m-vo commented on #1671
The command should probably not be registered in that case. Unresolved usages do not break code btw.

[2020-04-22 09:09] fritzmg commented on #1671
@baumannsven the installer is optional: https://github.com/contao/contao/blob/edf7b746548da900ce5fe44211c4d36089f809b2/core-bundle/src/Command/MigrateCommand.php#L51

[2020-04-22 09:09] discordier commented on #1671
The installer is "optional", as noted [here](https://github.com/contao/contao/blob/edf7b746548da900ce5fe44211c4d36089f809b2/core-bundle/src/Command/MigrateCommand.php#L199)

I do not know how you define "Unresolved usage", but it definitely CAN break code.

[2020-04-22 09:11] Toflar commented on #1671
The installer needs to be moved anyway. I thought there's already an issue for that.
Imho the best way to hotfix this is a class_exists() and a message to install the installation-bundle as done in many places in Symfony. We can then remove that once the installer is part of the core.
Removing the command is not a good idea, imho. It doesn't let people understand why it's missing.

[2020-04-22 09:18] m-vo commented on #1671
Putting a class inside a `use` statement that doesn't exist is valid code. Otherwise you could not use a `class_exist` check together with imports.

[2020-04-22 09:45] havutcuoglu opened #1672 "Update scssphp to 1.1.0 for Contao 4.4 and higher"
**Affected version(s)**

Contao 4.4 and higher

**Description**

With combination of Zurb Foundation 6 you get from scssphp **infinite calling loop** error by compiling the scss files. See [scssphp#89](https://github.com/scssphp/scssphp/issues/89)

The problem is fixed by scssphp in [Tagging 1.1.](https://github.com/scssphp/scssphp/tree/1.1.0)

Can you please fix this problem also by Contao 4.4 an

[2020-04-22 13:12] rabauss opened #1674 "Support EventListener for toggleFeatured"
What would be the best way to support Eventlistener for toggleFeatured?

Unfortunately, you need a table class and cannot use a EventListener at this point:
https://github.com/contao/contao/blob/f90453d0c87cb6674b377fd5cc53fce6ba12e9aa/core-bundle/src/Resources/contao/classes/Ajax.php#L394

Can we use the `button_callback` of the `feature` operation in the DCA or can we introduce a new event that

[2020-04-22 19:57] rabauss commented on #1674
Okay, thanks to @aschempp I will solve it with contao-haste (https://github.com/codefog/contao-haste/blob/master/docs/Dca/index.md).

So I don't need to investigate for a reusable solution from the core ;-)

[2020-04-22 19:57] #1674 closed, assigned to nobody

[2020-04-23 08:27] aschempp commented on #1664
Absolutely not, there's no reason to use both. Also, the Contao tables would show up in your migrations, so it does not work both ways atm anyway.

[2020-04-23 08:28] aschempp commented on #1666
It should easily be possible to have its own palette, it would just require a page reload instead of fetching the fields through Ajax.

[2020-04-23 12:05] Toflar commented on #1662
There's an official replacement now by Composer itself :)
https://github.com/composer/composer/commit/1d4185b844dd22718562fcfe77d3ad785aa2c8fa

https://packagist.org/packages/composer/package-versions-deprecated

[2020-04-23 14:05] leofeyer commented on #1662
Ok, so we can omit the package and use `Composer\Versions` for our `PackageUtil` class instead, correct? Do we also have to require `composer/package-versions-deprecated` somewhere so we can install Doctrine with PHP 7.2 and Composer v2?

[2020-04-23 14:07] Toflar commented on #1662
No, we can't. We can only do that once Composer v2 is out and stable and we will force everybody to install Contao using Composer v2 only from then on.
Right now, we have to replace our requirement.

[2020-04-23 14:21] discordier commented on #1671
That is true but simply specifying a class via `use` does not count as usage of a class but rather as defining an alias of the class in the current scope (hence the fatal errors when importing a class via
`use` that is already defined in the current namespace).
Accessing the class or its members however counts as usage of the class.
This is however unrelated to this issue but simply definition of

[2020-04-24 06:05] ausi commented on #1671
The case of a missing installer is already handled by the migrate command: https://github.com/contao/contao/blob/e1a12ef3ef3217de448a03d91d3ca429014de178/core-bundle/src/Command/MigrateCommand.php#L199

See also: https://github.com/contao/contao/pull/709#discussion_r358099163

[2020-04-24 07:40] jankout opened #1675 "Add fields for copyright to the file manager"
According to the copyright law it is not just necessary to mention the author but also the licence, if there is a special one, and link to it. If we could do it in the file manager that would be great. But for this case it would be nice to have 2 (or more) additional fields

**1. Licence
2. Link to the licence**
_Maybe_
**3. Author
4. Link to author**

I'm suggesting it because in current version

[2020-04-24 08:21] fritzmg commented on #1675
Why dou you need them to be separated? And if they would be separate, what should be done with it? I.e. what kind of front end output do you then expect?

[2020-04-24 08:21] fritzmg commented on #1675
Related https://github.com/contao/core-bundle/issues/1297

[2020-04-24 10:19] jankout commented on #1675
They should be separated because the information and the link to it are different ones than the current solution.

I would like to output them everywhere I need them and where I can generely put images - text, gallery, news, events, picture etc.

It would be nice to set **the additional caption informations** centrally.

If the user would like to overwrite them somewhere it should be possible like

[2020-04-24 11:20] leofeyer commented on #1666
Then the fields would be visible although their values would never be used. How is this nicer?

[2020-04-24 11:22] leofeyer commented on #1675
You can add as many additional fields as you like by adjusting the DCA configuration. Other than that, please see contao/core-bundle#1297.

[2020-04-24 11:22] #1675 closed, assigned to nobody

[2020-04-24 11:24] fritzmg commented on #1666
Well, may be just adjust the palette in an `config.onload_callback`?

[2020-04-24 11:26] leofeyer commented on #1666
So that when you change something way down the page, new fields appear at the top of the page? That seems like a bad UX decision.

[2020-04-24 11:52] fritzmg commented on #1666
It's the same situation as with the website root fallback. If you enable `fallback`, a whole new fieldset `{website_legend},favicon,robotsTxt;` is added to the palette. Why not do the same here?

The only difference is, that the new fieldset for `tl_page` is directly after the `fallback` checkbox. We could move the meta fieldset of `tl_news` after the source fieldset. Or, conversely, move the sour