[2020-04-24 13:20] tabcontao opened #1676 "Always load from shared cache problems"
**Affected version(s)**

Contao 4.9

**Description**

1. When I activate the setting "always load from shared cache" for the root page, none of my pages are cached any more. No matter if there are cookies or not. Actually, a session cookie (PHPSESSID) will be created on the first request, although there is no reason for it. This will be fixed by https://github.com/contao/contao/pull/1625

2. After

[2020-04-24 13:44] Anke opened #1677 "Improve: Layout title and site structure search field"
On larger websites, esp. after extensive changes to the website, it may be necessary to check which page layouts are linked to which pages. This can be done by using the search field in the sites structure.
But this search isn't working properly when the page layout titles contain characters like brackets e.g. while it doesn't seem to have any problems with spaces or hyphens, which may cause a use

[2020-04-24 15:46] Toflar commented on #1676
Yes, but it **could** be which is why basically every reverse caching proxy disables caching in those cases. We do the same. If you want caching, don't use any authorization. Simple.

No that's not correct. If you're logged in, you **never** get anything from the cache **unless** you checked the **always load from cache** checkbox.

[2020-04-24 16:04] fritzmg commented on #1676
That's what the issue is about. According to @tabcontao , he enabled **always load from cache** - but no cache entry is created, when an authorization header is present - even though pages are served from the cache with that configuration, if already present in the cache.

[2020-04-24 16:29] Toflar commented on #1676
Yes, that's correct. It does what the checkbox says: It always loads from cache. It will never save to it because that's potentially very dangerous.

[2020-04-24 16:32] fritzmg commented on #1676
Well, activating **always load from cache** is dangerous too and you only do it if you know what you are doing, right? ;). If you protect a site behind authorization, but never show any user specific content, it seems valid to me to always load all pages from the cache. But those cache entries would currently never be created in the first place.

[2020-04-24 16:34] tabcontao commented on #1676
Well, I checked the **always load from cache** checkbox because I want to use the cache although I use authorization. I thought this is the purpose of this checkbox. What else should it be good for? It may well be that other disable caching in those cases.

Anyway, just thought it is a little odd. I can quite easily manage to live with the state being. I can populate the cache by e.g. temporarily

[2020-04-24 16:40] Toflar commented on #1676
The only purpose of this checkbox is to serve pages from the cache even though you're logged in.
Let's say you have a member area that is completely separate from the rest of the website.
If your regular website (e.g. the homepage) does not change at all (so not even a "You are logged in as xy"), you can activate that checkbox so logged in members still get those pages from the cache.

However, cr

[2020-04-24 16:55] tabcontao commented on #1676
Ok, let's just forget it.

[2020-04-24 17:25] #1676 closed, assigned to nobody

[2020-04-24 19:12] dmolineus commented on #1669
Related: https://github.com/contao/contao/issues/598

[2020-04-28 14:22] madmaharaja commented on #1498
Neuer Monat, neues Glück -- und wieder einmal habe ich am selben Punkt ein Problem:
Im März haben wir einen Newsbeitrag zu allen Aktivitäten unserer Organisation im Rahmen der Coronapandemie veröffentlicht. Wie es bei "developing Stories" nicht unüblich ist, aktualisieren wir den Newsbeitrag laufend, wenn es neue Informationen gibt. Nun konnte niemand zu Anfang ahnen, dass die ganze Corona-Geschic

[2020-04-28 15:10] Defcon0 opened #1680 "GROUP BY in models not working anymore with MySQL 5.7"
**Affected version(s)**

Contao 4.4 and Contao 4.9

**Description**

When having MySQL 5.7+ installed with the new GROUP BY behavior, I get an error after running:

[code]

The error is:

[code]

It seems that adding `id` to the GROUP BY statement in the case that `$options['group']` is set solves the issue:

[code]

Of course, id must be the private key which can differ from `id`.

Also I'm not s

[2020-04-28 15:23] fritzmg commented on #1680
~~You need to specify the table:~~

Ah, I misunderstood the problem, nvm :)

[2020-04-28 15:40] Defcon0 commented on #1680
Yes, just tried ;-) Didn't work ;-)

[2020-04-28 15:45] ausi commented on #1680
`GROUP BY id, title` is very different from `GROUP BY title`. What do you want to achieve with `'group' => 'title'`?

[2020-04-28 16:46] math-GH opened #1682 "Content element that is used cannot be deleted"
Contao 4.9.2

**Description**
If you use a content element in another page
![grafik](https://user-images.githubusercontent.com/1645099/80513946-1b983300-8980-11ea-838e-e978b0166b20.png)

the original content element cannot deleted
![grafik](https://user-images.githubusercontent.com/1645099/80513859-facfdd80-897f-11ea-9057-e4c63bc84cfd.png)

I think there should be:
* minimum: a message/mouse over

[2020-04-28 17:02] Defcon0 commented on #1680
Yep, I also saw that. I want to achieve a grouping by title by the code ;-) Of course, it's a simplified sample code to illustrate the problem. The real world problem is to get option values out of a model set.

In mySQL 5.5 it was no problem. But now this breaks the "group" index in the model's options array.

[2020-04-28 17:40] m-vo commented on #1680
That has rather something to do with your sql mode now containing `ONLY_FULL_GROUP_BY` now. (See `SELECT @@sql_mode;`)

What do you expect `id` to be in a query like `SELECT id FROM table GROUP by column`?  It's arbitrary and that's why it's not allowed.  You need to either drop those columns from the projection or wrap them in a aggregation function (or something like `ANY_VALUE()` in extreme edg

[2020-04-28 18:18] Defcon0 commented on #1680
Well, I don't compose the query in the first hand. The fields in the SELECT are composed by contao's QueryBuilder class taking into account the `relations` defined in the DCA.

I just do

[code]

and this should work, don't you think?

I'm aware of the SQL mode having changed. But changing this mode away from the default one in a hosting environment will likely not be an option. You need admin rig

[2020-04-28 18:42] m-vo commented on #1680
I'm aware of the fact it's Contao building the query. I didn't want to sound as if you're doing this. :smiley:

But what do you expect those model values to be when you add the 'group' option? Imo this option doesn't make any sense at all (without having control over the projection/select part).

[2020-04-28 18:51] Defcon0 commented on #1680
I'm not quite sure if I agree ;-) Grouping is a useful feature. But in the model context it's a bit misleading I guess.

But the solution might be difficult because

1. We can't simply drop the option since devs might have used it in the past. (-> BC break)
2. Solving using ANY_VALUE() isn't possible with the current implementation because of `tl_table.*` added to the fields per default. We solved

[2020-04-28 19:02] m-vo commented on #1680
We cannot use `ANY_VALUE()` because it doesn't work in MariaDB.

Solutions I could think of (SQL) are something like a subquery with `LIMIT 1` on every field or some hack with `GROUP_CONCAT()` and selecting the first OR `MIN()`/`MAX()`. But: I wouldn't do those.

Alternatively the model's `find()` method could handle this case (partially hydrating, using some values of some entry?...). But still:

[2020-04-28 19:08] Defcon0 commented on #1680
The use case is to retrieve all values of a field from entities of a certain table from the db with one query and no additional logic necessary.

I know I can achieve this afterwards, but this way it’s been very convenient. And changing all the implementations based on that isn’t joyful ;-)

[2020-04-28 19:13] m-vo commented on #1680
You mean you need the equivalent of `SELECT DISTINCT field FROM table`? Then you should imo simply use dbal and not abuse the models.

[2020-04-28 19:16] Defcon0 commented on #1680
„Abuse“ the models with an option available by the core!?? Is there any documentation showing us devs what’s the ok usage for models and what’s „abuse“ already?

[2020-04-28 19:18] m-vo commented on #1680
"Abuse", because you aren't interested in any of the models values other than the one column that imo makes sense after grouping (because the models do not aggregate or group select anything). :smiley:

But that's just my opinion. Let's see what others have to say.

[2020-04-28 21:53] cliffparnitzky commented on #1682
I think this is a good suggestion. Should both be easy to implement.

[2020-04-29 06:57] ausi commented on #1680
I think adding the `group` option in 7e920d7ab4759af6d9ba877e7261372bea43be6a was a mistake. AFAIK this “feature” does not get used anywhere in the core.

I cannot think of a use case for this or how a “fix” for that should look like, so IMO we should deprecate it.

I think the “abuse” is done by the core here, not by you.

[2020-04-29 12:55] leofeyer opened #1684 "Re-add the services.php autoloading tests"
In d49ceb0d1608a71c2b6c69562f06e34e87ee4130, we have removed the incorrect services.php autoloading tests, which were failing because the private services could not be retrieved via `$container->get()`. (The error did not occur before, because Symfony <4.4.8 did not make these services private correctly.)

The tests need to be fixed and re-added.

[2020-04-29 15:12] leofeyer commented on #1661
See #1680.

[2020-04-29 15:37] Defcon0 commented on #1680
It means pain but I also would prefer removing that from the models. Models are (if I understood correctly) "only" wrappers for the database (ORM) with a 1:1 relation, i.e. one model object represents one db record. So having a grouped value breaks that principle imo.

I guess then the solution would be to deprecate the option.

But: If it's decided to remove the option, at least using a GROUP BY

[2020-04-29 15:58] fritzmg commented on #1661
@leofeyer are you sure that's a duplicate? The issue in #1680 does not affect the core, while the issue of #1661 does affect the core. #1680 is about using the `group` option in Contao Models, while #1661 is about a specific SQL query used by Contao, that is not compatibly with recent SQL versions.

[2020-04-29 16:11] bennyborn commented on #1682
Actually... If done "correctly it could be quite complex. We had to do something similar in our own extension and ended up with an overlay like this which would exactly show where the references are located at:

![image](https://user-images.githubusercontent.com/226890/80738398-48ca1a00-8b15-11ea-97e1-9b4ca4275cda.png)

Furthermore: Why are only Content Elements checked for references? If using a

[2020-04-29 17:33] asaage commented on #1682
I think this has been discussed a long time ago - it might have been in the forum though.

I'd rather have the delete-icon functional (maybe with an indicating warning overlay that it's included somewhere else?)
Elements (like articles, forms, modules...) could also be inserted with insert-tags which does **not** prevent the origin from being deleted. Unless there is a reliable way to find **all**

[2020-04-29 18:11] m-vo commented on #1680
Yes (including the gray area of _new_ records, that are not yet persisted and do not have an id).

The database class is independent of your query, so your free to execute whatever you want. If you need a more sophisticated query builder have a look into doctrine's.

[2020-04-29 18:16] m-vo commented on #1682
Allowing to delete (+ cleaning up references) is a valid option I guess.

It would be interesting how many people are actually using this option and in which way. :-) I never had the need to (especially with something like terminal42's nodes).

[2020-04-29 18:36] m-vo commented on #1661
Your originates from here, no?
https://github.com/contao/contao/blob/f90453d0c87cb6674b377fd5cc53fce6ba12e9aa/core-bundle/src/Resources/contao/drivers/DC_Table.php#L5690-L5691

But I don't understand how the `ORDER BY sorting` gets in there. How do you reproduce that in a blank installation?

[2020-04-30 11:12] #929 closed, assigned to nobody

[2020-04-30 12:17] felix-kaestner commented on #1665
As stated above, I think this Issue can be closed.

[2020-04-30 12:17] #1665 closed, assigned to nobody

[2020-04-30 15:56] #1620 closed, assigned to nobody

[2020-04-30 16:05] leofeyer commented on #1661
I cannot reproduce this in the Contao Official Demo with MariaDB 10.4.12.

This is my sql_mode: `ONLY_FULL_GROUP_BY, STRICT_TRANS_TABLES, ERROR_FOR_DIVISION_BY_ZERO, NO_AUTO_CREATE_USER, NO_ENGINE_SUBSTITUTION`

This is the query: `SELECT id FROM tl_page WHERE LOWER(CAST(`description` AS CHAR)) REGEXP LOWER('b') ORDER BY sorting`

Can anyone else reproduce this? If yes, which version of MySQL/Mari

[2020-04-30 16:08] m-vo commented on #1661
@leofeyer What did you enter/select in the backend to get this query?

(btw.: the query itself does not produce an exception for me either with MariaDB 10.1.44 and `IGNORE_SPACE,ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION` as sql mode)

[2020-04-30 16:16] leofeyer commented on #1661
Site structure -> search the description of the page -> "b" 😄

[2020-04-30 16:46] bennyborn commented on #1661
Since the hoster in question has already reacted by removing `ONLY_FULL_GROUP_BY` by default I had to force the SQL mode to trigger the problem.

`SET sql_mode = 'ONLY_FULL_GROUP_BY';`

[code]

Occured on a MySQL 5.7.28.

Edit: Failed to recreate the problem on a MariaDB so far …

[2020-05-01 07:38] leofeyer commented on #1636
@ausi @Toflar /cc

[2020-05-01 08:07] leofeyer commented on #1631
Es ist auf jeden Fall kein Contao-Problem. Vermutlich hast Du `mysql_secure_installation` nicht ausgeführt, sonst wäre der anonyme Benutzer entfernt worden.

[2020-05-01 08:07] Toflar commented on #1636
That's correct, although I don't know what you mean by URI parameter. It's required for basic auth (any `Authorization` header) or if any cookie is set.
We can't check if cookies are set in JavaScript though because of httponly cookies (such as the php session).

The only reliable method would be an ajax request to determine if checking the token is required.
On the other hand, showing this messag

[2020-05-01 08:13] leofeyer commented on #1627
@contao/developers This seems like the expected behavior, doesn't it?

[2020-05-01 08:16] leofeyer commented on #1636
Agreed.

[2020-05-01 08:17] Toflar commented on #1627
I don't think it's expected. It maybe is for flashbag error messages.
But what's kept in the session then?

[2020-05-01 08:18] leofeyer commented on #1594
@eki89 Did @asaage's suggestion solve your problem? If so, please close the issue.

[2020-05-01 08:25] leofeyer commented on #1543
See #1632.

[2020-05-01 08:25] #1543 closed, assigned to nobody

[2020-05-01 08:33] leofeyer commented on #1358
The message is part of the migrations framework (see [AbstractMigration](https://github.com/contao/contao/blob/4.9/core-bundle/src/Migration/AbstractMigration.php#L25)), therefore it does not need to be translated IMHO. @contao/developers WDYT?

[2020-05-01 08:42] leofeyer commented on #825
@Mynyx Kannst Du uns bitte den SQL-Dump Deiner Tabelle zur Verfügung stellen?

[2020-05-01 08:49] leofeyer commented on #958
We are using `SHOW TABLE STATUS` in the `Database::getSizeOf()` and `Database::getNextId()` methods. @contao/developers Maybe there is another (better) way to retrieve the data?

[2020-05-01 08:52] #1156 closed, assigned to leofeyer

[2020-05-01 08:54] Toflar commented on #1358
No need. This is technical stuff and should remain technical.

[2020-05-01 09:02] leofeyer commented on #1672
There is nothing to do on our side. Next time you run `composer update`, you will get version 1.1 automatically.

[2020-05-01 09:02] #1672 closed, assigned to nobody

[2020-05-01 09:07] #1358 closed, assigned to nobody

[2020-05-01 09:22] ausi commented on #958
Setting `information_schema_stats_expiry` to `0` before using `SHOW TABLE STATUS` seems to be the correct solution IMO.

[2020-05-01 09:27] leofeyer commented on #958
What about the following alternative queries?

* `SELECT SUM(DATA_LENGTH + INDEX_LENGTH) AS size FROM information_schema.TABLES WHERE TABLE_SCHEMA='contao4' AND TABLE_NAME='tl_log'`
* `SELECT AUTO_INCREMENT as next_id FROM information_schema.TABLES WHERE TABLE_SCHEMA='contao4' AND TABLE_NAME='tl_log'`

@ReneLuecking Are these using the cached data as well?

[2020-05-01 10:07] m-vo commented on #1661
Yeah, but the query that is generated by that does not contain `DISTINCT` like in the example of  @bennyborn?

[code]

Nevertheless, there is no error with MariaDB even with `DISTICT` in place. Seems like yet another inconsistency. :unamused:

[2020-05-01 10:11] #1587 closed, assigned to leofeyer

[2020-05-01 10:15] leofeyer commented on #1661
That's odd. @bennyborn Where does the `SELECT DISTINCT` query come from?

[2020-05-01 10:24] fritzmg commented on #1661
I also cannot reproduce the query. There are only two places in Contao where `SELECT DISTINCT` is used, neither of which would produce a query like the one @bennyborn mentioned.

[2020-05-01 10:37] m-vo commented on #1661
Here is some background for why the query with `DISTINCT` fails (in MySQL): A distinct selection over a result set property is internally treated similar to a `GROUP BY` over that property (see https://stackoverflow.com/a/34691355/3146819 for an explanation).

So in `SELECT DISTICT a FROM table ORDER BY b` the `ORDER BY` would refer to a nonaggregated column or to put it in other words: Ordering w

[2020-05-01 10:53] m-vo commented on #1631
Für die lokale Entwicklung kannst du deinem Datenbankserver auch klarmachen, dass er Benutzer und Passwörter generell ignorieren soll:

[code]

Macht das Leben leichter. :smile:

[2020-05-01 11:06] m-vo commented on #958
As `information_schema.tables` is a view and not a direct query to the storage engine (see https://dev.mysql.com/doc/refman/8.0/en/information-schema-optimization.html), I don't think we can rely on it being fresh on every read.

Imo @ausi's proposal is the right way to do it. The MySQL docs specifically says: `To always retrieve the latest statistics directly from the storage engine and bypass ca

[2020-05-01 12:26] bennyborn commented on #1661
Okay, thats strange.

I dug through the Installation where this problem first occured (customer mailed me).
Turns out it was a 4.4.33 and the query was replaced while fixing #269

Before I opened this issue I confirmed I had the same problem in a recent 4.9 installation but so far I had no luck reproducing it again neither did I find anything in DC_Table that could generate such a query.

I guess

[2020-05-01 12:26] #1661 closed, assigned to nobody

[2020-05-01 13:05] leofeyer commented on #1660
I have updated the German translation on transifex.com. It will be shipped with the next release.

[2020-05-01 13:05] #1660 closed, assigned to leofeyer

[2020-05-01 13:15] #1659 closed, assigned to leofeyer

[2020-05-01 13:34] #1507 closed, assigned to ausi

[2020-05-01 14:04] #1511 closed, assigned to leofeyer

[2020-05-01 14:22] #1635 closed, assigned to leofeyer

[2020-05-01 15:30] leofeyer commented on #1576
The patch has been added in version 1.6.6 (see contao-components/colorbox@80c3b1b5adff4add0a7a54db93ad0bf15ae6bd9d).

[2020-05-01 15:30] #1576 closed, assigned to nobody

[2020-05-01 15:34] leofeyer commented on #1498
Ich sehe das ehrlich gesagt so wie @madmaharaja. Wenn eine News eine interne Weiterleitung ist, sollte man beim Aufruf der News-URL auf das Weiterleitungsziel weitergeleitet werden. So ist es ja auch beim Seitentyp "interne Weiterleitung". @contao/developers WDYT?

[2020-05-01 17:02] fritzmg commented on #1498
Fine with me. [I suggested that originally](https://github.com/contao/news-bundle/issues/33#issuecomment-364985481) anyway ;)

[2020-05-01 17:09] m-vo commented on #1498
I'm not sure I agree. :smile:

Which type of redirect would you expect? 303? And why should it be any different for external redirects?

[2020-05-01 18:53] ausi commented on #958
We should verify that setting the expiration to 0 doesn’t have an effect on queries like `SELECT * FROM ...` (it has to retrieve which columns the table has). If so, we should probably use the `ANALYZE TABLE` approach instead.

[2020-05-02 16:03] leofeyer commented on #1498
It should not.

[2020-05-02 18:53] contaoacademy commented on #1631
@leofeyer
Ich habe im Grunde gar nichts gemacht, da ich davon ausgegangen bin, dass MAMP das schon für mich alles machen wird ;-)

@m-vo
Danke für den Tipp. Ich werde das testen.

Sollen wir das Ticket dann schließen, denn damit ist es ja kein Contao Problem.

[2020-05-02 20:47] aschempp commented on #1631
Aus meiner Sicht ist es etwas, das wir verbessern sollten.

[2020-05-02 20:48] aschempp commented on #1498
Not sure, but it can‘t really harm, right?

[2020-05-03 10:04] leofeyer commented on #1631
Und hast Du auch eine Idee, wie man das verbessern könnte?

[2020-05-03 13:02] madmaharaja commented on #1498
I also can't think of a scenario where it would harm to forward a visitor to a URL that was explicitly chosen by the webmaster to be the destination URL in a news or event -- quite the contrary.

[2020-05-03 17:29] Ernestopheles opened #1695 "form field verification rules kept after change of field type"
**Affected version(s)** contao 4.9

Reproduction on contao.org:

In the contact form I changed the minimum field length to 400 for the field 'a selection'. Saved. After that I changed the type of this field to radio button. Info shows that still length is being checked.

![Bildschirmfoto von 2020-05-03 19-24-39](https://user-images.githubusercontent.com/7561403/80921018-d5721380-8d73-11ea-947c-4a4

[2020-05-04 10:19] joseluisq opened #1696 "Contao v4.9 doesn't work with MySQL 8 by default"
**Affected version(s)**
Contao v4.9.2

**Stack used**
- MySQL v8.0.20 (Linux on x86_64)
- PHP-FPM v7.4
- Apache Server v2
- Docker 20.10.8

**Composer file**

[code]

**Description**

During the testing of a fresh Contao installation we got few MySQL errors and only the first three tables were created:

[code]

**Complete error log trace**

`
[2020-05-04 00:00:00] request.CRITICAL: Uncaught PHP Ex

[2020-05-04 10:23] fritzmg commented on #1696
`groups` is a reserved keyword and needs to be quoted. However, Doctrine should have taken care of that, shouldn't it?

[2020-05-04 10:25] joseluisq commented on #1696
@fritzmg could that help https://github.com/concrete5/concrete5/pull/6753?

[2020-05-04 10:25] dhaeb commented on #1696
Yeah - I'm not an expert at doctrine but the whole SQL generation should be handled transparently by the ORM - including "escaping" of reserved keywords. Does Doctrine support MySQL 8? What config do we need to change there? Just point us to the right sources and I'll be happy :)

[2020-05-04 10:29] fritzmg commented on #1696
Yes, since Version 2.8: https://github.com/doctrine/dbal/blob/2.8/lib/Doctrine/DBAL/Platforms/Keywords/MySQL80Keywords.php

[2020-05-04 10:29] ausi commented on #1696
Since version 2.8.0 doctrine/dbal should escape the `GROUPS` keyword for MySQL 8 correctly. Which version of `doctrine/dbal` is installed in your project? Maybe the MySQL version was not detected (or configured) correctly?

[2020-05-04 10:33] fritzmg commented on #1696
contao/core-bundle 4.9.2 requires doctrine/dbal ^2.10 - so anything lower than `2.10` is not possible anyway. Likely the MySQL version was not detected by Doctrine then.

[2020-05-04 10:33] joseluisq commented on #1696
I really don't know, check out above our composer.json file used.

[2020-05-04 10:34] fritzmg commented on #1696
You can check with

[code]

However, as I pointed out, if you are really using Contao 4.9, then anything lower than 2.10 is not possible anyway.

[2020-05-04 10:37] joseluisq commented on #1696
[code]

[2020-05-04 10:47] fritzmg commented on #1696
How exactly did you install Contao on the aforementioned environment? Please describe every step you took, including any special configurations or settings you might have done prior on your environment.

[2020-05-04 11:22] fritzmg commented on #1696
As a workaround you could add the following:

[code]
[code]

_Note:_ in order for the `.env.local` file to work, you need to also add an `.env` file, if not already present. See also https://docs.contao.org/dev/getting-started/starting-development/#application-configuration. Alternatively you can also use real environment variables on your server environment. May be your environment actually alrea

[2020-05-04 11:37] aschempp commented on #1631
Naja, wir machen ja bereits ein DB Connect um herauszufinden ob wir die server_version setzten müssen. Scheinbar reicht das nicht, d.h. wir müssten auch prüfen ob der (anonyme) User effektiv was tun kann? Vielleicht ein `List Tables` oder so?

[2020-05-04 12:12] joseluisq commented on #1696
Your workaround doesn't work. I think because we are using `DATABASE_URL` system env, no config files.

Do you know how we can pass `server_version` via `DATABASE_URL` env? I can not find info about on Symfony docs. Everything is config-like files based.

[2020-05-04 12:15] fritzmg commented on #1696
That should be no problem. Using `url` for the database connection would not override `server_version`. I assume you cleared and rebuilt the Symfony Application Cache after making those changes?

[2020-05-04 12:47] joseluisq commented on #1696
We are passing `DATABASE_SERVER_VERSION` as system env, the `config/config.yml` is also in place with the workaround, but It simply doesn't work.
It seems like the `DATABASE_SERVER_VERSION` env is not taken into account.

Additionally we have skipped the `.env.local` file because is useless here.

I suggest that you reproduce this as we did using the stack above.

[2020-05-04 14:18] leofeyer commented on #1696
I have installed MySQL 8.0.19 on my system to reproduce this, however, I could not. The screenshot shows that the `groups` column is quoted correctly in the install tool:

<img width="534" alt="" src="https://user-images.githubusercontent.com/1192057/80975634-a36bba80-8e22-11ea-867a-d6d50fa3e03c.png">

The database update completed without errors.

[2020-05-04 14:20] joseluisq commented on #1696
@leofeyer  Can you share your set up and let me try it out again.

[2020-05-04 14:24] leofeyer commented on #1696
Sure. I am on macOS 10.15.4 and I have installed PHP 7.4.5 and MySQL 8.0.19 via Homebrew. I am using the [Symfony Local Web Server](https://symfony.com/doc/current/setup/symfony_server.html) v4.14.3 and I have tested the current `4.9` branch of Contao (commit 4ec9a7351629de97b10361bdc398df1eb670df36).

[2020-05-04 14:57] leofeyer commented on #958
I ran a couple of tests and I can confirm that the following works in MySQL 8.0.19:

[code]

@ReneLuecking @theDyingMountain Can you please check if the code solves your problem?

[2020-05-04 14:59] leofeyer commented on #958
@ausi @m-vo Is there a better way to detect this "feature" than to check the database platform? Because once there is a `MySQL81Platform` class or MariaDB adopts the feature, the current check will break.

[2020-05-04 15:10] leofeyer commented on #736
The problem is the double encoding in the `FormTextArea` class, which we have introduced in contao/core#8623 (see @ausi's [comment](https://github.com/contao/core/issues/8623#issuecomment-288023893)). @ausi Maybe we have to rethink the solution?

[2020-05-04 16:21] m-vo commented on #958
I think we could probably check if the `information_schema_stats_expiry` system variable exists by checking if `SHOW SESSION VARIABLES LIKE 'information_schema_stats_expiry'` returns a result.

As soon as the variable exists it imo won't hurt to set it to `0`.

[2020-05-04 16:28] leofeyer commented on #958
But that would be one additional MySQL query per every call (compared to just a PHP `instanceof` check). Not sure if that is more efficient.

[2020-05-04 16:41] m-vo commented on #958
Hmm, depends a bit on how common this variable is - if nearly everyone uses it we could also set it every time (and catch the error). Not sure if this is a good practice (and currently it's still rather niche I guess).

What about caching it? This would then suddenly fail if the hoster updates the database version.

Edit: For me it takes (only?) ~0.46ms to execute the query.

[2020-05-04 18:44] ausi commented on #958
I think this is the way to go. Triggering an `Unknown system variable` error should be extremely fast, especially compared to a rather costly `SHOW TABLE STATUS` query.

[2020-05-05 06:12] xprojects-de opened #1697 ""Weisse/Leere Seite" Installtool / Benutzergruppe"
**Affected version(s)**
Contao 4.9.2

**Description**
Nach update auf Symfony 4.4.8 funktioniert das Install-Tool und das Anlegen von Benutzergruppen nicht mehr! Es kommt nur eine weisse/leere Seite! Kein Fehlereintrag unter /var/logs. Debugmodus bringt auch nichts! Hier wird auch nur die weisse Seite angezeigt. Manuelles löschen des Caches zeigt die Seite einmalig an bis der Cache im Hintergrund

[2020-05-05 06:15] aschempp commented on #1631
see https://github.com/contao/contao/pull/1698 for the bug fix

[2020-05-05 06:18] aschempp commented on #1697
Siehst du eine Fehlermeldung in den Log-Dateien (`var/logs`) oder deinem Server-Log (Apache/Nginx)?

[2020-05-05 06:20] #1631 closed, assigned to nobody

[2020-05-05 06:26] aschempp commented on #958
I wonder if there's a simpler solution to this? At least for `Database::getNextId()`, wouldn't a `SELECT MAX(id)+1 AS next_id FROM table` work as well?

`Database::getSizeOf()` seems pretty irrelevant as it's only used in the maintenance module, and I  would be fine with this being cached for 24hrs…

[2020-05-05 06:32] xprojects-de commented on #1697
Hallo Andreas,
ich bin ein Schritt weiter. Es scheint das "Notification Center" in der aktuellen Version 1.5 zu sein oder halt eine Abhängigkeit davon. Entferne ich das Module ist alles gut! Füge ich es wieder hinzu dann ist der Fehler wieder da! Konnte das auf mehreren Seiten verifizieren!

Sorry, dann ist der Issue wohl im falschen Repo! Gerne schliessen wenn nötig!

@aschempp
Soll ich beim Noti

[2020-05-05 06:33] aschempp commented on #1677
Dies it work if you search for `2 columns \(Events\)`?

[2020-05-05 06:34] ausi commented on #958
I don’t think so. If the last row gets deleted, `MAX(id)+1` is no longer the same as the auto increment value.

Do we use `Database::getNextId()` in any performance relevant cases?

[2020-05-05 06:34] aschempp commented on #1697
then this is a duplicate of https://github.com/contao/contao/issues/962 😆

[2020-05-05 06:34] #1697 closed, assigned to nobody

[2020-05-05 06:36] aschempp commented on #958
I know. But adding a row with that value is still valid.

Nope, only for the theme export.

[2020-05-05 06:40] xprojects-de commented on #1697
Top danke!

[2020-05-05 06:41] ausi commented on #958
But it would “reuse” old IDs which could lead to unwanted side effects.

Then we should go with the `information_schema_stats_expiry` approach I think.

[2020-05-05 06:42] xprojects-de commented on #962
Hallo zusammen,
ich habe das gleiche Problem. Ebenfalls bei All-Inkl. Gibt es hier schon Neuigkeiten?
Das Installtool bräuchte ich nicht zwingend, aber ich kann keine Benutzergruppen mehr anlegen. Das lässt sich schlecht per consolen-command machen :-)

Danke und Grüße

[2020-05-05 06:45] Bear30 commented on #962
Hallo,

ja füge in die htaccess im web-Verzeichnis ganz oben ein:

php_value memory_limit 1G

Und dann Cache löschen. Damit läuft es bei mir.

[2020-05-05 06:47] aschempp commented on #1655
That's probably what you meant above with *since Contao is something in between a bundle and an app, there are exceptions to this rule.*.

Some of our services (like routing or security) are part of the _framework_, but some (like commands or voters) are part of the _application_ to me.

[2020-05-05 06:51] xprojects-de commented on #962
top danke! Funzt!

[2020-05-05 07:07] aschempp commented on #1553
@m-vo would you be willing to provide a PR? 😊

[2020-05-05 07:09] aschempp commented on #1530
I thought the InsertTags class is checking for (endless) recursion?

[2020-05-05 08:22] joseluisq commented on #1696
Have you tried it out the @fritzmg workaround together with system env variables?
I'm also using `APP_ENV`, `TRUSTED_PROXIES`, `DATABASE_URL`, `DATABASE_SERVER_VERSION`.

[2020-05-05 08:23] m-vo commented on #1553
Sign me up! :wink:

[2020-05-05 08:29] leofeyer commented on #1696
You should not use `DATABASE_SERVER_VERSION`. Contao will autodetect the database platform and version.

[2020-05-05 08:32] joseluisq commented on #1696
Ok, let me try it out once again. Just FYI I'm not using any config file.

[2020-05-05 08:34] aschempp commented on #1545
I also disagree, same as @m-vo. Incomplete information is always worse than no information, because you don't know how incomplete it is.

We _could_ think of a *usage statistic* feature, which can search all places whether records are found. But that must only be run _on demand_ because it is slow and inefficient. And third-party developers would need to implement the feature and add their informa

[2020-05-05 08:47] #958 closed, assigned to leofeyer

[2020-05-05 08:54] leofeyer commented on #1680
@contao/developers Do you agree?

Even though the feature is working fine if the SQL mode does not include `ONLY_FULL_GROUP_BY`?

[2020-05-05 09:08] ausi commented on #1680
What exactly means “is working fine” here? As the MySQL server is [*“free to choose any value from each group”*](https://dev.mysql.com/doc/refman/5.6/en/group-by-handling.html) only the value of the column by which the grouping is done can be relied upon. The other columns can have **any** value from the matching rows and (if I understood the MySQL manual correctly) they may not even refer to the

[2020-05-05 09:16] leofeyer commented on #1680
Valid point.

[2020-05-05 09:26] leofeyer commented on #1680
Ok, so how to we fix this? Do we trigger a deprecation and still add the `GROUP BY` part to the query? Even though we know it is not working? Or do we remove the option altogether?

[2020-05-05 09:33] ausi commented on #1680
I’d deprecate it but still add the `GROUP BY` to keep the behaviour the same.

We could additionally try to “fix” the `GROUP BY` error by using optimizer hints like `SELECT /*+ SET_VAR(sql_mode=sys.list_drop(@@sql_mode, 'ONLY_FULL_GROUP_BY')) */ * FROM ...` but I don’t know if that’s necessary (if possible at all).

[2020-05-05 09:35] leofeyer commented on #1680
I don't think that's necessary.

[2020-05-05 09:49] joseluisq commented on #1696
When I use `APP_ENV=prod` is not quoting `groups` but it does it with `APP_ENV=dev`.
Maybe cache related issue? How can I clean the Contao cache? Because I'm using [this](https://symfony.com/doc/3.4/console/usage.html) but then I get table something not found (500) using `APP_ENV=prod`.

[2020-05-05 11:15] Anke commented on #1677
No, the hashes don't work either.

Furthermore I just noticed that if a page layout has been set in the starting point of a website, then only this starting point shows up in the search results. But this page layout has also been allocated to several child pages within this website - however, they don't show in the search results.

Reproduce in the Contao demo:

- Go to the site structure
- Select

[2020-05-05 12:31] aschempp commented on #1680
Deprecation for sure. Having a model built from GROUP BY is a big mistake. Do we exclude the result from the registry? Because it will most likely retrieve invalid data...

[2020-05-05 20:18] cmichael-de opened #1703 "Missing parent role="tablist", ce_accordionStart.html5"
In Contao 4.4.47 the Webdeveloper audit shows an accessibility error caused by a missing parent role="tablist"  in ce_accordionStart.html5. I fixed it for me. I just created a new ce_accordionStart.html5 template with the missing role:

`<section role="tablist" class="<?= $this->class ?> ce_accordion block"<?= $this->cssID ?><?php if ($this->style): ?> style="<?= $this->style ?>"<?php endif; ?>>`

[2020-05-06 05:30] aschempp commented on #1703
/cc @MacKP

[2020-05-06 08:47] contaoacademy commented on #1666
I would prefer the solution as separate "meta data".

The default setting is "standard", so the fields are hidden after changing the option.

[2020-05-06 12:20] #1680 closed, assigned to nobody

[2020-05-06 12:35] fkaminski opened #1705 "Maintenance mode with Multi Domain"
I wish the Maintenance mode could be configured for a multi domain environment -
so per domain. ..

[2020-05-06 12:41] m-vo commented on #1705
This imo would not work with `LexikMaintenanceBundle`.

[2020-05-06 13:51] MacKP commented on #1703
Ah, nice catch. In one way @cmichael-de is correct. But the real problem is here: this should be not an tablist. Accordions are no tabs ;-)
Here is an quick example for an accessible accordion: https://getbootstrap.com/docs/4.4/components/collapse/#accordion-example (a button in a headline). Without JS it should be the headline and text.
Contao uses an outdatet version of this... but the modern wa

[2020-05-06 15:45] dmolineus opened #1706 "Improve order of backend modules"
I know that the issue was dicussed before (#1205, #1324), I'd like to raise awareness for this issue again. Right know backend modules are ordered by label alphabetically.

The current approach have some issues:

 - The order of modules initially set by the developer is ignored. More important may be more behind
- The order changes when a user switches the language.

To increase UX/DX I'd like to

[2020-05-06 16:00] m-vo commented on #1706
Yes, that's something that had bothered me as well. Not sure if priorities solve the issue though.

[2020-05-06 19:33] ausi commented on #1706
How about a sorting option in the user and user group settings? This would make sense IMO because how important a backend module is might depend on the user (group).

[2020-05-06 21:59] math-GH opened #1707 "Contao 4.9.2: News -> target = external URL -> 1 in frontend"
Contao 4.9.2

News-Bundle

Target = external URL
![grafik](https://user-images.githubusercontent.com/1645099/81232379-188ee980-8ff5-11ea-9e00-fd8c44ceceb2.png)

creates a "1" in the frontend.
![grafik](https://user-images.githubusercontent.com/1645099/81232335-feeda200-8ff4-11ea-8cb2-c9829d6e0275.png)

event_list.html5: $this->details
it echos a bool(1)
![grafik](https://user-images.githubusercont

[2020-05-07 06:06] dmolineus commented on #1706
There would be probably some edge cases there it doesn't fit but then you still have the event.

Great idea to allow a user to customize the order. However I still think it would be an improvement to allow developers to predefine an order.

Examples:

- Contao is a page based CMS, so for most users having articles on the first place sounds reasonable (Of course for editors only responsible for new

[2020-05-07 08:15] Olli opened #1709 "News Modul und breitere Nutzbarkeit"
Hi,
ich habe aktuell das Newsmodul "missbraucht" für Content der eher eine auflistbaren Charakter hat (z.B. eine Projektübersicht mit lauter durchgeführten Projekten und deren Details). Das Newsmodul ist in seiner Art soweit o.k. aber es kann eigentlich viel viel mehr als "nur" als Blog zu dienen.
Ich sehe das Newsmodul eher als Listcontent Modul. Es fehlt noch die Möglichkeit, den Inhalt frei wäh

[2020-05-07 08:59] patrickjDE commented on #1709
Das News-Modul lässt sich gut für viele Zwecke verwenden, aber dabei ist es in meinen Augen immer nur eine Behelfslösung, wenn die Ansprüche an die Auflistung der gewünschten Inhalte gering sind, oder das Budet keine dedizierte Lösung erlaubt.

Sobald es um Filter- oder Suchfunktionen geht, Metadaten benötigt werden, o.Ä. kommt man um Anpassungen am Modul oder direkt ein eigenes Modul kaum herum.

[2020-05-07 09:10] asaage commented on #1709
Hab das News-Modul auch schon oft "missbraucht".
Ich würd' aber eher an den Artikeln ansetzen wollen (dort zum Teaser eine Bilddatei ergänzen u. ggf. weitere Metadaten) und das Teaser-Element verbessern (https://github.com/contao/core-bundle/issues/1417).
https://github.com/terminal42/contao-node bietet aber auch ein paar gute Lösungsansätze zu der Thematik.

[2020-05-07 09:15] Olli commented on #1709
@asaage das habe ich auch schon überlegt. Nur wenn du 10 Artikel hast (oder ich hatte mal jemand der hat da irgendwo 40 oder 50 rein gedonnert) fängt das an, sehhhhr lästig zu werden. Die Bedienung leidet mMn massiv. Wenn dann sollten Artikel komplett den Teaser verlieren.

@patrickjDE Warum sollte man komplett was neues realisieren wenn sehr viele Funktionen von dem Newsmodul schon abgedeckt werd

[2020-05-07 10:04] patrickjDE commented on #1709
Vor allem 2 Gründe: Rückwärtskompatibilität & konsistente Benennung. Dass es am Ende ein neues Modul wird heißt ja nicht, dass man das Newsmodul nicht als Grundlage für die Entwicklung nehmen kann.

[2020-05-07 11:02] fkaminski commented on #1709
Für Kategorien o. Tags existieren ja Erweiterungen. Schön wäre dies evtl. dennoch im Core -
Evtl. mit entsprechenden Frontend Filter Möglichkeiten in den Listen Darstellungen (o. dies zumindest anhand von CSS-Klassen ermöglichen).

[2020-05-07 12:48] aschempp commented on #1709
Es gibt diverse kommerzielle und freie Erweiterungen für Datenverwaltung und Auflistung. Das News-Modul kann dafür missbraucht werden - genau wie ich mit Hammer und Meissel ein Haus einreissen kann, es ist halt nicht so praktisch wie wenn ich einen Bagger nutze 🤷‍♂️

[2020-05-07 12:51] fritzmg commented on #1709
Wir benutzen das Nachrichtenmodul auch sehr oft für allgemeine, dynamische Inhalte. Eine Umbenennung sehe ich _nicht_ notwendig, denn das lässt sich ja in Contao sehr einfach pro Applikation machen.

Dem News Modul sind auch schon in der Vergangenheit Features hinzugefügt worden, die diese Art der Benutzung noch besser gestaltet - bspw. durch so einfache Dinge wie mehr Sortieroptionen. Die freie S

[2020-05-07 13:02] Olli commented on #1709
Das Problem bei Erweiterungen ist, dass die mal gehen, mal nicht gehen, es gibt Unsicherheiten etc.
Ich bin jemand, der weitgehend versucht Projekte nur mit den Core Contao umzusetzen - man kann sicher mit Modulen alles machen aber oft nerven einfach alle Abhänigkeiten (da kann ich ja gleich Wordpress nehmen ;-)

Als Feature könnte ich mir noch vorstellen, dass man per Klick ein Archiv in die Navi

[2020-05-07 13:55] leofeyer commented on #736
As discussed in Mumble on May 7th, we want to revert the changes from contao/core#8623 and add a `case 'valueRaw'` instead. This should fix both issues.

Also, we want to add a comment so we do not forget to remove the `specialchars()` in Contao 5.

[2020-05-07 14:49] leofeyer commented on #1666
As discussed in Mumble on May 7th, we want to move the "Redirect target" fieldset after the "Date and time" fieldset and have the meta fields in their own fieldset after the "Redirect target" fieldset.

[2020-05-07 15:23] leofeyer commented on #1664
As discussed in Mumble on May 7th, we want to remove the filter in Contao 4.10 and not add a deprecation warning in Contao 4.9.

[2020-05-07 15:36] leofeyer commented on #1512
@aschempp, @Toflar and @ausi have fixed the schema on schema.contao.org now.

[2020-05-07 15:36] #1512 closed, assigned to aschempp

[2020-05-07 15:45] mlwebworker commented on #1706
Im Catalog Manager von Alexander Naumov ist das Verschieben der Reihenfolge schon möglich. Vielleicht kann man die Lösung schon nutzen.

[2020-05-07 15:47] leofeyer commented on #1706
As discussed in Mumble on May 7th, we want to make the menu order configurable in the user and user group settings. However, we do not want to add priority keys, because the automatic sorting is only applied to the "old" menu items coming from `BackendUser::navigation()` and does not affect "new" menu items which are added to the Knp menu via event listener.

[2020-05-07 16:49] math-GH commented on #1709
Was spricht gegen die Nutzung von https://now.metamodel.me/ ?

Inhalte zu verwalten ist eh fast immer ein sehr individuelles Ding. Dafür sollten wir nicht das News-Modul umbiegen.

[2020-05-07 17:32] minstyle opened #1710 "Contao 4.9.2: Contao-Vorschau nach dem Schließen wieder anzeigen"
**Affected version(s)**

Contao 4.9.2

**Description**

Klickt man im Frontend von Contao 4.9 in der Contao-Vorschau (URI beinhaltet preview.php) auf das X-Icon wird die Leiste entsprechend geschlossen/ausgeblendet.

Wie kann man die Leiste wieder über das Backend einblenden ohne den Browser Cache leeren zu müssen?

[2020-05-07 20:34] Toflar commented on #1710
Die ist immer da wenn `preview.php` in der URL steht?

[2020-05-07 21:04] minstyle commented on #1710
Nein, nicht wenn der Balken über das X-Icon geschlossen wurde. Danach lässt sich die Vorschau nicht mehr aktivieren bzw. der Balken wird nicht mehr angezeigt.

Unter demo.contao.org ist dieses Phänomen auch zu sehen.

[2020-05-07 21:31] fritzmg commented on #1710
Yes, currently there does not seem to be a way to bring the toolbar back once closed. But I think the :x: is supposed to stay anyway, isn't it? Like Symfony's toolbar. So the bug is actually, that the :x: vanishes together with the toolbar.

[2020-05-07 21:58] rabauss commented on #1710
Unfortunately, with some themes the ❌ is no longer visible because of to low `z-index`
For example, for the rocksolid oneo theme I added the following css:
[code]

[2020-05-07 22:47] fritzmg commented on #1710
That's a different issue though.

[2020-05-08 04:55] aschempp commented on #126
I wonder if this is kinda solved in 4.9? If you open a preview URL of a separate domain, you‘re now forced to log in to the back end, so preview works „automatically“. Thanks to the new preview bar, theres no frame issue anymore.

[2020-05-08 06:39] ausi commented on #1710
I was not able to reproduce that on demo.contao.org. I think @rabauss is right that this is a CSS z-index issue.

![toolbar](https://user-images.githubusercontent.com/367169/81378312-5f6d0400-9107-11ea-84e6-f28e2ca53dac.gif)

[2020-05-08 07:20] leofeyer commented on #1710
See #1623.

[2020-05-08 07:20] #1710 closed, assigned to nobody

[2020-05-08 07:40] fiedsch commented on #1710
You can if you make your browser window narrow enough. Then the `#header` will be above the `.cto-toolbar`

[2020-05-08 07:46] fritzmg commented on #1710
@ausi I tested on a local installation where no CSS is applied. However, I was not able to reproduce it today either 😕 . I did notice some CSS issues, though. The toolbar button is missing a `top: 0` and the toolbar itself is missing a `left: 0`. Also the button does not have the same height as the toolbar, which I find odd - but may be that's a personal preference ;). I'll make a PR with some sug

[2020-05-08 08:22] minstyle commented on #1710
Bitte exemplarisch auch mal mobil unter demo.contao.org testen (Portraitmodus, iPhone 11, Safari). Das Contao-Icon zum Öffnen der Vorschau im Frontend ist nicht zu sehen und verbirgt sich hinter dem Header.

[Video mit iOS aufgenommen](https://www.dropbox.com/s/9xbunpgjc20exax/Video%2008.05.20%2C%2010%2024%2016.mov?dl=0)

[2020-05-08 08:23] fritzmg commented on #1710
» https://github.com/contao/contao/issues/1710#issuecomment-625676552

[2020-05-08 09:19] #736 closed, assigned to leofeyer

[2020-05-08 09:22] leofeyer commented on #736
@sebj54 Regarding your ticket contao/core#8623: You can use `$textAreaWidget->rawValue` to retrieve the unescaped value once #1714 has been merged.

[2020-05-08 09:36] Olli commented on #1709
@mathContao die wesentlich längere Aufsetzzeit, zusätzliche Komplexität im Code, einige Bugs die nerven und überhaupt Metamodel ist zwar toll aber ich versuche diesen Koloss zu vermeiden wenn es geht - das fühlt sich leider alles ziemlich unagil und schwerfällig an.

Es geht auch nicht so sehr ums Umbiegen sondern darum, dass das Newsmodul ohnehin schon für viele Sachen genutzt wird wofür es (vom

[2020-05-08 13:45] Defcon0 opened #1716 "Database update leads to fields being renamed which can't be renamed"
**Affected version(s)**

4.4

**Description**

In Contao 4 (I guess it's not been this way in v3) the database install tool added the feature that if a field is scheduled to be deleted and there's one to be added, the tool suggests to `CHANGE` the field which is definitely a problem in some cases because the field content is copied also. This can lead to errors when some value is in there which is

[2020-05-08 13:47] fritzmg commented on #1716
This also happens in Contao 3.

[2020-05-08 13:50] bytehead commented on #1716
There's an open issue regarding this in `doctrine/dbal` as well: https://github.com/doctrine/dbal/issues/3661

[2020-05-08 13:51] Defcon0 commented on #1709
@Olli Genau aus diesem Grund haben wir damals das [contao-list-bundle](https://github.com/heimrichhannot/contao-list-bundle) sowie das [contao-reader-bundle](https://github.com/heimrichhannot/contao-reader-bundle).

Dort kann man beliebige Entitäten als Liste darstellen mit allen gewünschten Funktionen (Sortierung, Filterung, Paginierung, automatische Formatierung spezieller Felder (Datum, Bild, .

[2020-05-08 13:52] Defcon0 commented on #1716
Ah I see. So this ticket is obsolete then? If it also happens in Contao 3, it might not be linked to Doctrine? I'm nearly sure, it didn't happen in Contao 3.

[2020-05-08 19:07] math-GH commented on #1709
weitere Gespräche könnten sicher auch gut im Forum geführt werden ;)

[2020-05-08 19:29] contaoacademy commented on #1707
Same for calender. See https://community.contao.org/de/showthread.php?76873-Kalender-Liste-zeigt-statt-Details-nur-eine-quot-1-quot&p=519011#post519011

[2020-05-08 20:48] math-GH opened #1718 "News/Events: comments: security question now shown"
**Affected version(s)**

Contao 4.9.2

**Description**
In the comment section of News/Events there is no security question.

![grafik](https://user-images.githubusercontent.com/1645099/81447999-efe62b80-917d-11ea-9f2d-33ab4d3444a0.png)

The checbox is disabled.
![grafik](https://user-images.githubusercontent.com/1645099/81447983-e5c42d00-917d-11ea-909a-82423de10719.png)

[2020-05-08 20:58] math-GH opened #1719 "Subpaletten-Titel: Es sind immer "Einstellungen""
**Affected version(s)**

Contao 4.9.2 (sicherlich alle Versionen)

**Description**
Die Titel der Subpaletten sind oft mit "Konfiguration" oder "Einstellung" (mal mit mal ohne Bindestrich) beschrieben.
Es sind aber immer Einstellungen, die dort getätigt werden.

![grafik](https://user-images.githubusercontent.com/1645099/81448649-0640b700-917f-11ea-8501-d7ad7bb93d28.png)
![grafik](https://user-imag

[2020-05-08 21:18] math-GH opened #1720 "Comments: Detail page - comment shows HTML"
**Affected version(s)**

Contao 4.9.2

**Description**
Comment details

field "comment" shows HTML, that was not written by the author.

![grafik](https://user-images.githubusercontent.com/1645099/81450066-f1b1ee00-9181-11ea-8498-6aa82a451d79.png)

![grafik](https://user-images.githubusercontent.com/1645099/81450220-448ba580-9182-11ea-8e93-b678bf0ec6f8.png)

[2020-05-08 21:32] math-GH opened #1721 "Some back end widgets break layout in Firefox 76"
**Affected version(s)**

Contao 4.9.2

**Description**

Start point of website

Sub palette "DNS settings"

language and fallback language are not in the correct column.
![grafik](https://user-images.githubusercontent.com/1645099/81451100-068f8100-9184-11ea-95f4-9960f777f7d8.png)

[2020-05-08 22:40] asaage commented on #1718
It is just set to **display:none**.
That is the normal behaviour since a honepot was added and also applies to other forms with security questions.
![image](https://user-images.githubusercontent.com/4138336/81454657-32fbcb00-918d-11ea-9833-4521a0a7a31e.png)

[2020-05-09 07:45] fritzmg commented on #1721
I can confirm the problem in Firefox under Windows. For some reason some Widgets are 0.5px higher than they should be.

[2020-05-09 08:07] fritzmg commented on #1720
That's normal. You will see any HTML content this way.

[2020-05-09 09:21] m-vo commented on #1719
bzw. alles weg, weil redundant

[2020-05-09 12:36] math-GH commented on #1718
OK. Thanks.

So we should change the description and label of the checkbox to describe it clear(er)

[2020-05-09 12:40] math-GH commented on #1719
das ist auch meine Intention.

[2020-05-09 12:41] fritzmg commented on #1718
What do you want to change and why?

[2020-05-09 12:48] math-GH commented on #1718
I would it re-name in:
Label:
Sicherheitsfrage deaktivieren => Spamschutz deaktiveren
Disable the security question => Disable spam protection

maybe in the description there could be some more information that it is a hidden (non-displayed) security question.

[2020-05-09 21:02] math-GH opened #1722 "Kommentare: absenden erzeugt Fehler - Fehlermeldung nicht im Backlog-Fehlerlog"
**Affected version(s)**

Contao 4.9.2

**Description**

Irgendwie ist das Thema nicht ganz rund und ich weiß noch nicht, welcher Teil davon defekt ist.

Es geht um Kommentare (z.B. in Events).

Sendet der User im Frontend ein Kommentar unter einem Event ab, dann kommt die Fehlerseite.
![grafik](https://user-images.githubusercontent.com/1645099/81484729-53d52680-9248-11ea-870a-f9224ab67506.png)

Im

[2020-05-09 21:18] math-GH opened #1723 "E-Mail-Adresse des Systemadministrators wird auch zum Versenden verwendet"
**Affected version(s)**

Contao 4.9.2

**Description**
Die E-Mailadresse des Systemadministrators wird nicht nur als Empfänger, sondern auch als Absender verwendet (z.B. für Kommentare unter den Events).

![grafik](https://user-images.githubusercontent.com/1645099/81485115-0dcd9200-924b-11ea-8cf1-9c5c0f172524.png)

![grafik](https://user-images.githubusercontent.com/1645099/81485052-c6470600-924a-

[2020-05-09 22:31] fritzmg commented on #1722
Bitte formuliere das Issue um, je nach dem ob du einen Bug in Contao gefunden, oder einen Vorschlag für eine Änderung hast. Ansonsten benutze die Kanäle der Contao Community für Support.

[2020-05-10 07:27] dmolineus commented on #1716
That statement from @Toflar in https://github.com/doctrine/dbal/issues/3661#issuecomment-601067971 isn't true. Doctrine provides a way to customize it.

Here's a POC:

[code]

Calling prevent default stops doctrine from renaming the column. Now the drop and add statements are added manually.

[2020-05-10 11:10] m-vo commented on #1553
closing in favor of #1724

[2020-05-10 11:10] #1553 closed, assigned to nobody

[2020-05-10 11:26] math-GH commented on #1722
aus meiner Sicht ist es ein Bug, dass die Einträge in var/log/prod....log nicht im Backend-System-Log zu finden ist.

[2020-05-10 20:18] math-GH commented on #1721
It looks like a bigger problem in Firefox (76, Windows).

![grafik](https://user-images.githubusercontent.com/1645099/81509633-379abd80-930c-11ea-8ce2-c9bded8c0c59.png)

[2020-05-11 08:49] operatorone opened #1725 "Show elements to guests if "Protect element" group is assigned"
**Affected version(s)**
Contao 4.4 & 4.9

**Description**
If a member group is assigned to a content element with "Protect element/article/page/..." and the option "Show to guests only" is also selected, the element is no longer visible to guests.

It may sound illogical, but it can happen that you only want to show a certain element to all member groups and guests, but you want to exclude one spe

[2020-05-11 08:54] fritzmg commented on #1725
You can implement custom logic using the [isVisibleElement hook](https://docs.contao.org/dev/reference/hooks/isVisibleElement/).

[2020-05-11 08:59] operatorone commented on #1725
Thanks for the hint, but I do not assume that everybody can implement it and it might be a benefit to the overall rights management, to be able to achieve this just out of the box.

[2020-05-11 09:04] fritzmg commented on #1725
Imho your use-case does not fit within Contao's rights management concept. However, as pointed out, the beauty of Contao is that you can customize a lot of its behaviours and options, to tailor it to your application's needs.

[2020-05-11 09:21] leofeyer commented on #1535
And how would you like the callback to work instead?

[2020-05-11 09:24] operatorone commented on #1725
But imho I see the need for a rights management concept not only to be able to include groups and user, but also to be able to exclude them as needed and show the content to a guest too.

[2020-05-11 09:39] aschempp commented on #1725
I think there are some cases (maybe it was pages) where the system already behaves this way. So it might be worth having a look at 🙃

[2020-05-11 11:33] contaoacademy commented on #1407
@leofeyer Kannst du dir das noch mal ansehen?

[2020-05-11 12:47] #1666 closed, assigned to leofeyer

[2020-05-11 12:57] leofeyer commented on #1187
Ich konnte das Problem nun reproduzieren. Es ist dasselbe Problem, das wir schon öfters diskutiert haben (z.B. in contao/core#7587) und für das wir bisher noch keine vernünftige Lösung gefunden haben. Ich habe das Ticket daher mal auf "up for discussion" gesetzt.

[2020-05-11 13:16] Defcon0 commented on #1535
It should respect the `save_callback` and not directly use `Input::post(„name“)`.

[2020-05-11 14:45] contaoacademy opened #1730 "Suche - Keine Suchergebnisse wenn Referenzseite auf NewsDetails festgelegt wird"
**Affected version(s)**
Contao 4.9.2

**Description**
Ich möchte in meiner Suche nur die Ergebnisse meines Blogs anzeigen. Dazu habe ich als Referenzseite meine "News Detail Seite" ausgewählt.

Wenn ich nun eine Suche durchführen, kommen keine Ergebnisse zurück.

**Reproduktion in der Online-Demo**
1. Module > Suchmaschine > Referenzseite > News Detail einstellen
2. Suche nach einem Begriff innerh

[2020-05-11 14:48] #1060 closed, assigned to leofeyer

[2020-05-11 19:07] Toflar commented on #1730
Already fixed with https://github.com/contao/contao/pull/1670.

[2020-05-12 07:44] #1594 closed, assigned to nobody

[2020-05-12 08:19] leofeyer commented on #1662
It seems that Composer v2 installs `composer/package-versions-deprecated` automatically if you require `ocramius/package-versions` and do not have PHP 7.4. Can you confirm? Then we would not have to do anything and we could close this PR.

[2020-05-12 08:34] leofeyer commented on #1245
56.4 seconds? How many entries have been in the tl_log table?

[2020-05-12 08:35] leofeyer commented on #1504
What is the status of this issue?

[2020-05-12 08:37] leofeyer commented on #1527
@wschern: Hat @chuckki's Erklärung Deine Frage beantwortet? Dann schließe das Ticket bitte.

[2020-05-12 08:38] qzminski commented on #1504
I think it can be closed as the problem lies on the hosting provider side. For some reason, the requests coming out from the server to the server itself are processed with PHP 5.6 and not PHP 7. For the latter we'd have to use different ports than 80/443 and that's already a total absurd.

[2020-05-12 08:38] leofeyer commented on #1550
@MalteGross Hast Du das Problem lösen können? Falls ja, dann schließe bitte das Ticket.

[2020-05-12 08:39] #1606 closed, assigned to nobody

[2020-05-12 08:40] #1618 closed, assigned to nobody

[2020-05-12 08:46] m-vo commented on #1662
Where did you find this?

All I know so far is that a notice is generated:
https://github.com/composer/composer/blob/master/src/Composer/DependencyResolver/SolverProblemsException.php#L70

[2020-05-12 08:50] leofeyer commented on #1677
I have just tried to reproduce the issue, but everything worked as expected on my system. I searched for both `(Events)` and `\[ default ]` (note that the opening bracket needs to be escaped due to the regex search) in the field "Page layout" and found the matching pages.

[2020-05-12 08:50] #1677 closed, assigned to nobody

[2020-05-12 08:51] #1695 closed, assigned to nobody

[2020-05-12 08:52] leofeyer commented on #1696
You should use `vendor/bin/contao-console cache:clear -e prod` instead.

[2020-05-12 08:58] leofeyer commented on #1705
AFAIR, @aschempp wants to get rid of the LexikMaintenanceBundle anyway. 😄

[2020-05-12 09:02] leofeyer commented on #646
Scheinbar kann man das in Doctrine doch anpassen, wie @dmolineus in #1716 erklärt.

[2020-05-12 09:02] #646 closed, assigned to nobody

[2020-05-12 09:04] leofeyer commented on #1719
Ich finde "Modul-Einstellungen" und "Bildeinstellungen" wesentlich klarer als "Modul" und "Bild". 🤷‍♂️

[2020-05-12 09:05] #1720 closed, assigned to nobody

[2020-05-12 09:06] leofeyer commented on #1721
Firefox is the new Internet Explorer. 🤷‍♂️

[2020-05-12 09:06] contaoacademy commented on #1730
@Toflar Habe das Problem gestern mit der aktuellsten dev-master getestet. Sind da die Änderungen auch schon drin?

Update: sieht nicht so aus, habe zumindest die Änderungen nicht im Code gefunden.
Ich werde die Änderungen kurz manuell einfügen und noch mal testen

[2020-05-12 09:10] #1504 closed, assigned to nobody

[2020-05-12 09:12] leofeyer commented on #1662
I stumbled upon it when I tried to install Contao with Composer v2 and the packages was removed and the other one installed. Even though I was still requiring `ocramius/package-versions` in my composer.json file.

[2020-05-12 09:16] ausi commented on #1730
@contaoacademy `dev-master` hat die Änderungen noch nicht. Mit `4.9.x-dev` solltest du es testen können.

[2020-05-12 09:24] ausi commented on #1662
Maybe one of the dependencies installs a replacement for `ocramius/package-versions`?

[2020-05-12 09:28] leofeyer commented on #1662
That seems more likely indeed. 😄

[2020-05-12 09:33] Toflar commented on #1716
I think my statement is still true. It's not feasible without something that I would consider a hack :)
But as Doctrine does have no intentions to listen to our problems, we seem to need this hack. @dmolineus are you gonna try to work on a PR with your POC then?

[2020-05-12 09:34] contaoacademy commented on #1730
Danke. Der Code ist jetzt dabei.

Allerdings funktioniert damit die Suche leider immer noch nicht zuverlässig.
Ich kann das Problem nicht als behoben bestätigen.

Erst wenn ich keine Referenz angeben, dann kommen die Ergebnisse.

[2020-05-12 09:35] contaoacademy commented on #1730
@ausi @Toflar Könntet ich euch das noch mal ansehen und das Ticket noch mal öffnen

[2020-05-12 09:35] Toflar commented on #1730
Es ist alles korrekt, du musst den Suchindex neu aufbauen.

[2020-05-12 09:36] fritzmg commented on #1730
@contaoacademy hast du nach Einspielen der Änderung den Suchindex neu aufgebaut und den Such Cache gelöscht?

[2020-05-12 09:36] contaoacademy commented on #1730
Ja. Mehrfach
Ich erstelle euch gerne ein Video

[2020-05-12 09:38] leofeyer commented on #528
The `Ajax::executePreActions()` method throws a `NoContentResponseException` in the "toggleFieldset" case. Where does the redirect exception come from?

Also, can you post the stack trace and/or debug bar output so we can see where the redirect exception is thrown and why?

[2020-05-12 09:40] leofeyer commented on #1716
I am working on a PR already.

[2020-05-12 09:50] dmolineus commented on #1716
But as Doctrine does have no intentions to listen to our problems, we seem to need this hack.

Of course it's hacky, but the event listener api is designed to allow it. So it should be stable enough until doctrine have a better ability to customize the behaviour.

[2020-05-12 09:52] Defcon0 commented on #1716
Awesome to hear we can get rid of this issue soon :-) Thanks!

[2020-05-12 09:52] contaoacademy commented on #1730
Hier das Video.
https://vimeo.com/fenepedia/review/417547727/95b7474270

[2020-05-12 09:56] Toflar commented on #1730
Was für eine `pid` haben die Einträge in `tl_search`?

[2020-05-12 09:56] fritzmg commented on #1730
I also tried it on the `4.9` branch, the news detail pages are not indexed correctly. It appears the crawler is not receiving the news detail URLs. It only indexed news detail URLs for me, that happen to be linked some where else on the page (e.g. in a news list).

[2020-05-12 09:57] Toflar commented on #1730
@aschempp @qzminski is it possible that the urlmatcher does not return the matched `pageModel` in case of a news?

[2020-05-12 09:58] contaoacademy commented on #1730
Hier der Inhalt von tl_search und tl_search_index
<img width="768" alt="tl_search" src="https://user-images.githubusercontent.com/23719181/81670465-f4456980-9447-11ea-80c0-3662477c6e22.png">
<img width="540" alt="tl_search_index" src="https://user-images.githubusercontent.com/23719181/81670475-f7d8f080-9447-11ea-97aa-11ba5158ebec.png">

[2020-05-12 10:00] aschempp commented on #1705
Yeah, imho there are different maintenance-types. We've released an extension to htaccess-protect individual root pages yesterday: https://packagist.org/packages/terminal42/contao-root-protection

I think we also need a "maintenance because installation does not work", but that can't rely on a working Symfony application (e.g. during a composer update).

[2020-05-12 10:01] contaoacademy commented on #1730
Hier die DB-Abfrage:

`SELECT * FROM (SELECT tl_search_index.pid AS sid, GROUP_CONCAT(word) AS matches, COUNT(*) AS count, SUM(relevance) AS relevance FROM tl_search_index WHERE (word LIKE '%hund%') AND tl_search_index.pid IN(SELECT id FROM tl_search WHERE pid IN(36)) GROUP BY tl_search_index.pid ORDER BY relevance DESC) matches LEFT JOIN tl_search ON(matches.sid=tl_search.id);`

[2020-05-12 10:03] aschempp commented on #1730
Pretty sure it does. CMF-Routing (currently) does not know anything about "news" or thelike. It simply matches a page with additional `{parameters}` at the end, which are then converted to `$_GET` as per Contao 3.

I don't think it could be a subrequest either. But what @fritzmg said makes sense, not sure if that is the problem though?

[2020-05-12 10:04] #1716 closed, assigned to nobody

[2020-05-12 10:09] Toflar commented on #1730
Ah, I think the indexing is correct, so it's not a problem of the linked PR. As you can see, the `pid` is correctly assigned in `tl_search`.
But I guess something might be wrong with the query adjustments of @ausi in https://github.com/contao/contao/pull/1678.

[2020-05-12 10:11] leofeyer commented on #1498
Related: #1707

[2020-05-12 10:11] ausi commented on #1730
I will take a look at it.

[2020-05-12 10:17] ausi commented on #1730
@contaoacademy Can you send me an SQL dump of your setup? (e.g. via Slack)

[2020-05-12 10:17] fritzmg commented on #1730
The search indexer skips pages where the `pid` could not be determined. I get this for most news detail pages, but not for all (for whatever reason):

[code]

[2020-05-12 10:48] fritzmg commented on #1730
For most news URLs

https://github.com/contao/contao/blob/41c7ba2827e81190dd97efe1732c84b77f4ca036/core-bundle/src/Search/Indexer/DefaultIndexer.php#L116

throws

[code]

and thus no page ID is retrieved.

[2020-05-12 10:55] contaoacademy commented on #1730
Done

[2020-05-12 11:59] m-vo commented on #1705
IMO that's something that should rather be solved on the deployment/hosting side (or maybe also by the manager by putting an index file in the webroot or replacing the entrypoints or sth like that).

[2020-05-12 12:23] ausi commented on #1730
It is not related to the search query. Something with the indexing seems to be wrong. As you can see in https://github.com/contao/contao/issues/1730#issuecomment-627240088 some of the news get indexed with `pid` set to `13` and `13` is the id of the error 404 page.

[2020-05-12 12:26] Toflar commented on #1730
Okay, then something with the matcher doesn't work 🤷‍♂️

[2020-05-12 13:26] #1498 closed, assigned to leofeyer

[2020-05-12 13:27] #1707 closed, assigned to leofeyer

[2020-05-12 15:07] contaoacademy commented on #1719
Ich würde sagen, einfach alles so lassen und die Zeit für andere Dinge nutzen.

[2020-05-12 17:10] Toflar commented on #1730
Tried to find the issue here together with @qzminski - no luck so far.
Something in that url matching process is really strange.

[2020-05-12 19:58] contaoacademy commented on #1730
I did some tests. The error is new in Contao 4.9.2
Contao 4.9.1 work correctly.

[2020-05-12 20:31] contaoacademy commented on #1730
I found the files which causes the problem:
`core-bundle/src/Resources/contao/pages/PageRegular.php`
`core-bundle/src/Search/Document.php`

https://github.com/contao/contao/pull/1457/files

Update: Maybe some more files… but if I replace this 2 files in Contao 4.9.1 with the files from Contao 4.9.2 the search doesn't work any more.

[2020-05-13 05:40] contaoacademy commented on #1730
After all I think this isn't something new because you already tried to fix it with https://github.com/contao/contao/pull/1670.

If I can help you with further test let me know.

[2020-05-13 06:09] contaoacademy commented on #1730
I did some more tests with `4.9.x-dev`

I found out some interesting.

If I disable my 404 page and double run the crawler. The tl_search is filled correctly.

After the first crawling:
<img width="918" alt="crawl-1" src="https://user-images.githubusercontent.com/23719181/81777072-62456b80-94f0-11ea-932f-78d4bb7727e6.png">

After the second crawling
<img width="955" alt="crawl-2" src="https://user

[2020-05-13 06:20] leofeyer opened #1734 "No more blank option in template select menu"
The ticket got hijacked for a partly related discussion. The new one is here: #1758 🤷‍♂️

[2020-05-13 11:38] #1730 closed, assigned to ausi

[2020-05-13 11:41] leofeyer commented on #1730
@contaoacademy Can you please checkout the latest `4.9.x-dev` branch and try again? We have fixed the issue in #1738.

[2020-05-13 11:49] contaoacademy commented on #1730
Thx. Looks great!

[2020-05-13 13:18] #1718 closed, assigned to leofeyer

[2020-05-13 15:41] leofeyer commented on #1627
@Mynyx Can you check please?

[2020-05-13 15:44] leofeyer commented on #1662
But it is not the case:

[code]

This comes in very handy. 😎

[2020-05-13 15:59] m-vo commented on #1662
But who is requiring composer/package-versions-deprecated is the question, isn't it? :smiley:

[2020-05-13 16:03] Anke commented on #1245
I don't remember. At the beginning there were between two and three thousand. While they gradually lessened, the problem remained, though - I don't know to which point.

[2020-05-13 16:20] Anke commented on #1677
Well, it isn't working in the Contao demo.

I just set the layout "2 columns - [ default ]" for the page "Link elements". Then I searched for `2 columns` as well as for `\[ default ]`. Both search results only showed the root page "Contao Official Demo", not the page "Link elements".

(For my second test I left the site tree expanded before searching, which doesn't make a diffenernce.)

Edit: The

[2020-05-13 18:49] Toflar commented on #1662
Sure, that is the question. Replacements don't just happen magically :)
Here's the reason:

`symplify/easy-coding-standard@7.3.15` requires `jean85/pretty-package-versions@^1.2` and depending on your combinations, this one might load `composer/package-versions-deprecated`: https://github.com/Jean85/pretty-package-versions#compatibility

But there's no magic. We need to require `composer/package-ve

[2020-05-13 21:57] Mynyx commented on #1627
The attempted username is saved in the session attribute ``_security.last_username``.

During the session the attempted username is shown in the login form. Is this really sensible? It wasn't so in Contao 4.4.

[2020-05-14 06:39] #1662 closed, assigned to leofeyer

[2020-05-14 06:56] operatorone opened #1746 "Kein Tinymce4"
**Affected version(s)**

Contao 4.9.2

**Description**

Wenn ich im Backend ein Element aufrufen möchte in dem ein TinyMCE-Editor normalerweise zu finden ist, bekomme ich folgende Fehlermeldung:

**There is no "contao-components/tinymce4" asset package.**

Ich habe die Abhängigkeiten gecheckt, Contao aktualisiert, Caches gelöscht, brachte keinen Erfolg. Im Ordner vendor/contao-components ist auch

[2020-05-14 07:51] operatorone commented on #1746
Ich habe mal folgende Ordner gelöscht und den Installer ausgeführt:
- vendor/contao-components
- assets/tinymc4

Hat den Fehler leider nicht beseitigt.

[2020-05-14 08:19] operatorone commented on #1746
Ich habe aus einer weiteren Installation ein Template kopiert und unter /templates/be_tinyMCE.html5 abgelegt.

In diesem Template habe ich die Zeile

`<script>window.tinymce || document.write('<script src="<?= $this->asset('js/tinymce.min.js', 'contao-components/tinymce4') ?>">\x3C/script>')</script>`

durch diese Zeile ersetzt:

`<script>window.tinymce || document.write('<script src="assets/tinym

[2020-05-14 08:25] m-vo commented on #1662
Then I don't get it. I see one "replaces" in the list (from `composer/package-versions-deprecated` itself) and the others requiring the original bundle?

Edit: Eh, sorry for the spam. The other answer did not load for me until after submitting the message. :see_no_evil:

[2020-05-14 08:45] #62 closed, assigned to nobody

[2020-05-14 08:48] zonky2 opened #1747 "Automatische Speicherung der Aliase bei Änderung in einer History-Tabelle und Umleitung"
Ich hatte mit @fritzmg die Weiterführung der Erweiterung https://github.com/4t2/redirect_404 für Contao 4.9ff besprochen und wollten das zur Diskussion stellen, ob das nicht als Core-Feature Einzug halten sollte.

Andere Systeme, insbesondere Shops wie Magento & Co., haben eine solche Funktionalität per se implementiert.

[2020-05-14 09:29] operatorone opened #1748 "ce_youtube loop"
Wäre super, wenn das Youtube-Player-Element das Attribut "loop" als Option in der URL hätte bzw. dies im Backend auswhälbar wäre.

https://developers.google.com/youtube/player_parameters?hl=de

`http://www.youtube.com/v/VIDEO_ID?version=3&loop=1&playlist=VIDEO_ID`

[2020-05-14 09:34] m-vo commented on #1747
That's conceptually similar to supporting multiple aliases, isn't it? (or more precise: then differentiating between replacing or appending)

Here was a discussion for that topic https://github.com/contao/contao/issues/5398

[2020-05-14 09:40] zonky2 commented on #1747
@m-vo

yes, this for your point

if alias replaced

[2020-05-14 09:45] m-vo commented on #1747
I don't understand what you mean.

[2020-05-14 10:29] operatorone opened #1751 "ce_youtube Untertitel / Teaser"
Es wäre super, wenn der Untertitel keine Begrenzung auf 255 Zeichen hätte, sondern eher 1024 Zeichen zuließe.

Alternativ könnte ein zusätzliched Feld "Beschreibung" eingefügt werden, um z. B. auch weitere Texte und Links etc. platziert werden.

Ich bin auch kein großer Fan von kombinierten Elementen und platziere lieber einzelne Elemente untereinander, aber es ist doch immer einfacher für den Red

[2020-05-14 10:51] fritzmg commented on #6383
@leofeyer this was closed on accident

[2020-05-14 10:51] fritzmg commented on #1751
You can adjust such things easily through your own DCA customization.

[2020-05-14 13:08] asaage commented on #1751
...
oder das ce_youtube template anpassen und die "Beschreibung" direkt von youtube beziehen...

https://stackoverflow.com/questions/5155029/getting-title-and-description-of-embedded-youtube-video

[2020-05-14 13:16] operatorone commented on #1751
Das wäre auch eine gute Option. Es ist oft aber different was auf der Webseite steht und was auf Youtube hinterlegt ist. Ggf. hat man ja da noch irgendwelchen Youtube-spezifischen Inhalt drin, aber die Idee ist trotzdem gut.

[2020-05-14 13:18] operatorone commented on #1751
Kannst du das beispielhaft darstellen? Oder hast du einen Link der dies veranschaulicht?

[2020-05-14 13:21] fritzmg commented on #1751
https://docs.contao.org/dev/getting-started/dca/ ;)

[2020-05-14 13:28] asaage commented on #1751
Das field-property müsste wohl
```$GLOBALS['TL_DCA']['tl_content']['fields']['playerCaption']['sql']   => "varchar(255) NOT NULL default ''"``` sein

[2020-05-14 13:32] fritzmg commented on #1751
You can also write

[code]

[2020-05-14 13:37] markus361 opened #1752 "No root page found"
Contao 4.9

The language fallback does not seem to work. If you go to https://demo.contao.org/de/ you get a 404 page and this log entry:
[2020-05-14 15:28] No root page found (host "demo.contao.org", language "de")

[2020-05-14 13:45] fritzmg commented on #1752
That's normal. If you specifically request a language sub tree and that language sub tree does not exist, Contao responds with a 404 status.

The language fallback is for cases when you use language parameters and you request the domain without any language parameter. Then Contao will either redirect to the appropriate language sub tree according to the `Accept-Language` header - or the fallback l

[2020-05-14 14:01] markus361 commented on #1752
we are currently running a multilang and multidomain installation and in the last 2 days there have been about 4000 of these entries in the log

[2020-05-14 14:53] operatorone commented on #1751
Super, ganz lieben Dank für den Tipp.

[2020-05-14 15:34] operatorone commented on #1746
Jetzt wird mir ein weiterer Fehler im Backend angezeigt, wenn ich versuche Templates zu bearbeiten:

Woran kann es liegen, dass Contao seine eigenen Components nicht mehr findet?

[2020-05-15 05:23] operatorone commented on #1746
Hat niemand eine Idee oder einen Tipp dazu?

[2020-05-15 06:21] operatorone commented on #1746
Konnte den Fehler mit

`<script>window.ace || document.write('<script src="/assets/ace/js/ace.js">\x3C/script>')</script>`

umgehen. Ist aber ja keine langfristige, updatesichere Lösung.

[2020-05-15 06:24] operatorone commented on #1746
Ich befürchte, dass sich das global auf alle contao-components auswirkt und ggf. auch das Frontend in Mitleidenschaft gezogen wird. Konnte hier zwar noch nichts feststellen, aber es ist ggf. denkbar.

[2020-05-15 06:52] fritzmg commented on #1746
There is likely no general error within Contao. Thus you should may be ask for help in the community forums.

[2020-05-15 07:08] leofeyer commented on #1746
@operatorone Da TinyMCE in der [Online-Demo](https://demo.contao.org/contao) funktioniert, handelt es sich vermutlich um ein Problem in Deiner Installation. Am besten fragst Du mal im [Forum](https://community.contao.org/de/) oder in unserem Slack-Workspace nach.

[2020-05-15 07:22] leofeyer commented on #1677
Works for me in the online demo. 🤷‍♂️

<img width="798" alt="" src="https://user-images.githubusercontent.com/1192057/82022817-8be7c980-968d-11ea-8763-1975434bf15d.png">

[2020-05-15 07:26] #1752 closed, assigned to nobody

[2020-05-15 10:11] Anke commented on #1677
Well, I'm not the youngest any more but wouldn't consider myself being senile - it's working für me, too, now. Until yesterday I didn't even get to see a plus or minus in front of a node. Weird.

Yet, in one of my sites I'm using the following page layouts:

![screenshot_layoutsearch_2](https://user-images.githubusercontent.com/1300920/82036119-c6a72d00-96a0-11ea-96cf-bab2faa1bd22.jpg)

Entering a

[2020-05-15 10:21] frontendschlampe commented on #1677
Maybe our extension https://github.com/hofff/contao-layoutusage is something for you :-)

[2020-05-15 10:26] Anke commented on #1677
Thank you @frontendschlampe, I'll definitely try your extension! Yet, having a built-in possibility to check which layouts are in use, this function ought to show reliable results.

Edit:
Okaaay! Great extension, very practical!

[2020-05-15 17:34] bennyborn opened #1755 "Installation of custom bundle fails on 4.9"
Hi there,

If we need some custom functionality we usually create a customer specific bundle and place it into a `src` folder within the root of the Contao installation like this:

[code]

Of course we adjusted the `composer.json` of the installation to point to the correct path:

[code]

Then it's just a matter of `composer require numero2/foo-bundle` to install it.

**This worked fine from Conta

[2020-05-15 18:06] fritzmg commented on #1755
You don't need to create and install a bundle for application-specific code. Just place your code directly into the `src/` folder.

[2020-05-15 18:28] bennyborn commented on #1755
Doing so only works if I have no `Plugin.php` in there otherwise `composer install` fails with

[code]

How would I then define the order of loading the dependencies of my bundle / extension (speaking about `BundleConfig::setLoadAfter`)?

[2020-05-15 19:15] fritzmg commented on #1755
The Symfony 4+ convention is that you simply do not have a bundle for your application specific code. Thus you do not need to load your bundle with a Contao Manager Plugin - simply because there is no bundle.

[2020-05-15 19:17] bennyborn commented on #1755
Thanks for the clarification!

[2020-05-15 19:17] #1755 closed, assigned to nobody

[2020-05-15 19:29] fritzmg commented on #1755
Btw. you can still have a Contao Manager Plugin for your application :). (e.g. for loading third-party non-Contao bundles in the Contao Managed Edition). It is simply automatically loaded if its FQCN is `App\ContaoManager\Plugin`.

[2020-05-16 09:17] aschempp commented on #1747
This is something I‘m considering for the routing improvements in 4.10 or after thats implemented.

[2020-05-18 06:33] timgatzky commented on #1734
Hi, wo ist definiert, dass "ce_text" das Standard-Template vom Inhaltselement-Typ "Text" ist, ausser in der Element-Klasse ContentText? Oder ist das wirklich noch ce_ + $GLOBALS['TL_CTE'] KEY?

Von dieser Änderung sind ja quasi alle Erweiterungen betroffen deren Template-Name sich nicht aus dem Definitions-Schlüssel in TL_CTE bzw. FE_MOD bildet. (wahrscheinlich Formularfelder auch)

Wäre hier nich

[2020-05-18 06:47] aschempp commented on #1746
I analyzed this issue because @operatone is an [Isotope Circle](https://circle.isotopeecommerce.org) member. It's pretty interesting:
 - `composer/package-versions-deprecated` was installed, even though it was not required by any package
 - `composer/package-versions-deprecated` is a `type: composer-plugin`, but that plugin was (probably) not correctly registered and did not update the `Versions`

[2020-05-18 06:55] leofeyer commented on #1746
It is required by the core-bundle: https://github.com/contao/core-bundle/blob/4.9/composer.json#L29

[2020-05-18 18:29] dmolineus commented on #1734
@timgatzky Das ist seit Contao 4 per Konvention so vorgegeben:

https://github.com/contao/contao/blob/master/UPGRADE.md#template-name-changes

[2020-05-19 06:26] timgatzky commented on #1734
Yup, I know. But this is up for discussion. And now a whole list of extensions break apart with their template names and it fills the database with unneeded information with no fallback to what is the real template (the database only stores ce_text. Empty was a clear state).
In my opinion this is an outdated behavior with an unneeded restriction to file names or registration keys. Using one templa

[2020-05-19 07:05] ausi commented on #1734
The blank option is still there, only the label for the blank option has changed.

[2020-05-19 07:14] timgatzky commented on #1734
Where is the blank option? (Leos screenhots have no blank option either)
How do I apply it?

Contao 4.9.3 (raw)
![screenshot_5684](https://user-images.githubusercontent.com/970730/82295954-c82e6900-99b0-11ea-9146-51f6fb860ce9.jpg)
---
The blank option should be applied automatically when no matching template is in the system. Any extension coming with a content element / module or a record based c

[2020-05-19 07:22] timgatzky commented on #1734
I would recommand giving the field the blank option back -> when no matching template file has been found.

[2020-05-19 07:23] fritzmg commented on #1734
@timgatzky this is due to an extension you are using. According to the screenshot, you are not using the default `text` content element, but rather something custom.

When using the default `text` element of the Contao Core, only `ce_text_*` templates will get listed in the template selection.

[2020-05-19 07:27] fritzmg commented on #1734
As already said, the blank option is still there, it is just labelled differently now.

[2020-05-19 07:28] timgatzky commented on #1734
Ok. I must be blind. Where is it?

[2020-05-19 07:29] fritzmg commented on #1734
In Leo's screenshot the first option (`ce_text (Theme 2)` & `ce_text (Bundle, Theme 2)`).

[2020-05-19 07:32] fritzmg commented on #1734
Another example:

<img src="https://user-images.githubusercontent.com/4970961/82297824-1d677c00-99ab-11ea-8208-840972b1f40c.png" width="375" alt="ce_text">

[code]

[2020-05-19 07:42] timgatzky commented on #1734
Got it. This is one of the most unintuitive solutions I've ever seen. With no back door and fallbacks. Changes like this should not be applied in a bugfix version!

Now basically all extensions (not just ours) fall apart when registrations keys differ to the template names. The 'default' DCA setting is obsolete also due to submitOnChange.

Thanks for your time and clearing this.

[2020-05-19 07:45] fritzmg commented on #1734
No, why should they? Only the label of the empty selection has changed. In your screenshot however, you see _all_ content element templates, not just the templates belonging to that content element. Which means you are using a custom options callback for the `customTpl` field. You need to remove or adjust your own callback.

[2020-05-19 07:46] fritzmg commented on #1734
Btw. there is one other improvement we could do. Say you have a content element like this:

[code]

i.e. with a template defined within the service tag, the template selection still looks like this:

<img src="https://user-images.githubusercontent.com/4970961/82298787-8a2f4600-99ac-11ea-8607-85bf4a385832.png" width="375" alt="example_element">

i.e. the blank option is still called `ce_example_ele

[2020-05-19 07:54] Defcon0 opened #1757 "[4.4.49] Warning: array_key_exists() expects parameter 2 to be array, null given"
**Affected version(s)**

Contao 4.4.49

**Description**

Since the update to contao 4.4.49 (in Contao 4.4.48, it works) we get the following issue:

![screen](https://user-images.githubusercontent.com/1485098/82299942-712b9280-99b6-11ea-82fa-c52af95fc73c.png)

When not using app_dev.php the error doesn't occur since it's a warning.

Maybe it's related to https://github.com/contao/contao/pull/1689

[2020-05-19 08:07] fritzmg commented on #1757
Duplicate of https://github.com/contao/contao/pull/1741

[2020-05-19 09:32] leofeyer opened #1758 "Improve the template select menu"
As discussed in #1729, there are edge cases in which the template select menu is confusing.

<img width="628" alt="" src="https://user-images.githubusercontent.com/1192057/81777989-45aa3300-94f2-11ea-853f-35575acc90d4.png">

The screenshot shows that there is a custom `ce_text` template in the "Theme 2" theme. However, if the content element is used within "Theme 1", the default template will be u

[2020-05-19 09:35] #1757 closed, assigned to nobody

[2020-05-19 11:29] lumas-consulting opened #1759 "install.php Error ERR_TOO_MANY_REDIRECTS"
**Affected version(s)**

Contao 4.9.3

**Description**

After updating to Contao 4.9.3, using the Contao Manager (1.2.4) I am trying to update the database but I receive an ERR_TOO_MANY_REDIRECTS Error.
There are no other extensions installed.
PHP 7.3.6
Installation was running fine under 4.9.1

[2020-05-19 11:30] aschempp commented on #1759
there is no `install.php` in Contao 4.9 ?

[2020-05-19 11:31] lumas-consulting commented on #1759
I meant contao/install

[2020-05-19 11:56] fritzmg opened #1760 "Cookie “PHPSESSID” will be soon rejected"
## Affected version(s)

Contao 4.4, 4.9

## Description

Firefox 76.0.1 currently shows this notice in the console on Contao 4.4, as well as Contao 4.9, both when using `http://` or `https://`:

_Note:_ the warning is only shown in the console, if the cookie is set in the same request.

## Solution

The `sameSite` attribute of the session cookie needs to be set to either `Lax` or `Strict`.

## Pos

[2020-05-19 13:13] lumas-consulting commented on #1759
I reinstalled from scratch. Works now with 4.9. Must have been a corrupt file...

[2020-05-19 13:13] #1759 closed, assigned to nobody

[2020-05-19 15:20] lumas-consulting commented on #1758
I'd suggest that mixing default templates with custom templates within one dropdown shouldn't be possible at all.
Overwriting a default template like ce_text.html5 should be possible but the template should not be selectable within an article oder element. This wouldn't be necessary as it is default by nature.
So why no add a "default" folder to the template folder where only (customized) default

[2020-05-21 08:57] zonky2 commented on #1706
With sorting by key, for example, has such "illogical" effects in MetaModels

![FireShot Pro Screen Capture #041 - 'Dashboard I mm220_dev_metamodel_me' - mm](https://user-images.githubusercontent.com/1045318/82542192-dbc50580-9b51-11ea-905c-1fd6b1ad22d0.png)

[2020-05-22 19:49] ameotoko opened #1764 "getFrontendModule hook is not fired when included in ContentElement"
**Affected version(s)**

Contao 4.9.2 in my case, but it looks like it's been like this for a while

I'm not sure whether it's intentional or just overlooked, but feels unexpected after reading the docs. The reason is, the hook is being called from `Controller::getFrontendModule()`, but ContentElement class just calls `$objModule->generate()` directly, bypassing Controller altogether.

Maybe it's

[2020-05-23 09:27] m-vo commented on #1764
Modules and content elements are two different concepts (although similar). Are you maybe mixing these up?

Edit: maybe I misread your question: Do you mean the hook is not fired when creating an include content element (that's referencing a module)?

[2020-05-23 16:48] ameotoko commented on #1764
Yes, that's exactly what I meant. Sorry for not making it clear enough.

[2020-05-25 09:06] frontendschlampe commented on #962
Wir haben das Problem erneut im Slack diskutiert https://contao.slack.com/archives/CK4J0KNDB/p1589958261278300 und konnten nun feststellen, dass es wohl mit dem `opcache` zusammenhängt. Bei All-Inkl. kann der Cache mit folgendem Eintrag in der `.htaccess` deaktiviert werden:

`php_flag opcache.enable Off`

Vielleicht kann man es jetzt irgendwie lösen, ohne dass man den Cache deaktivieren muss?

Da

[2020-05-25 10:50] m-vo commented on #1664
So, we want to drop the part where we overwrite the schema filter in the `Installer` but we want to keep the filtering in our custom schema provider (`DcaProvider`), right?

What we didn't discuss (IIRC): Would this cause a problem with extensions that rely on the fact that tables without the `tl_` prefix are ignored? (I don't think this should be a supported design pattern but it's something that

[2020-05-25 11:08] m-vo commented on #962
Well, the cache must be cleared after changing files (` opcache_reset();`) - this is usually done as part of the deployment chain.

@aschempp Does the manager do this, too?

[2020-05-25 11:12] fritzmg commented on #962
@m-vo the Install Tool already executes that (if available).

[2020-05-25 11:19] m-vo commented on #962
Ah, yeah, I see.

(But that's another problem then for the CLI where this strategy would not work, right?)

[2020-05-25 11:23] fritzmg commented on #962
The error only occurs in the Contao Install Tool.

Personally, I have never incorporated `opcache_reset()` in my deployment chain. Am I really supposed to?

[2020-05-25 11:29] m-vo commented on #962
Yes, that's unrelated to this issue. If the opcache rebuilding is part of the problem this is something the hosters need to take care of, I guess?

I thought so. I had experienced some weird behavior without and since then never questioned it again. :smile: (let's discuss this tangent on slack maybe).

[2020-05-25 11:44] frontendschlampe commented on #962
I think, clearing the opcache via Install Tool just takes to many memory, that's why the memory should be increased to 512 M and more ...

[2020-05-25 12:01] ricowe opened #1765 "Is it possible to grant access for editing accordion labels (accordionStart) to user groups?"
Is it possible to grant access for editing accordion labels (accordionStart) to user groups?
As far as I can see there is only Text, Headline, HTML etc.

_Originally posted by @ricowe in https://github.com/contao/contao/pull/705#issuecomment-633537240_

[2020-05-25 12:06] fritzmg commented on #962
@frontendschlampe you could try to disable line 264 and 293 of the `InstallationController` to test that (with a previously clear reproduction).

[2020-05-25 12:06] m-vo commented on #1765
See the dca definition for which fields are used:

https://github.com/contao/contao/blob/8be2a14739a4d21b6907d2e126b74a987dc4da53/core-bundle/src/Resources/contao/dca/tl_content.php#L110

You probably want to use `mooHeadline`. If this isn't granular enough for your use case, you can still add your own field to the `tl_content` dca and use this one instead in the templates.

[2020-05-25 12:36] ricowe commented on #1765
I meant controlling the content elements via user/group rights as implemented in contao 4.9.
There is a option "accordion", but even if the opening element of an accordion is granted, there is no way to edit the text in it.
![screen1](https://user-images.githubusercontent.com/37615273/82813322-19e56080-9e95-11ea-971d-8a375cc8759a.jpg)

[2020-05-25 12:41] frontendschlampe commented on #962
Where can I find the `InstallationController`?

[2020-05-25 12:44] fritzmg commented on #962
https://github.com/contao/contao/blob/4.9/installation-bundle/src/Controller/InstallationController.php » `vendor/contao/installation-bundle/src/Controller/InstallationController.php`

https://github.com/contao/contao/blob/0bee01808e25b9777b3bd11022ea9c9befb1d1a9/installation-bundle/src/Controller/InstallationController.php#L263-L265

https://github.com/contao/contao/blob/0bee01808e25b9777b3bd1102

[2020-05-25 12:44] m-vo commented on #1765
Well, did you also allow the relevant fields (`tl_content`)?

[2020-05-25 12:51] ricowe commented on #1765
Ok, thats it. Thank you.
How can I guess that it can be found as "mooheadline" ;-)
![screen2](https://user-images.githubusercontent.com/37615273/82814272-1ce15080-9e97-11ea-8b4b-f869908b2e83.jpg)

[2020-05-25 12:51] #1765 closed, assigned to nobody

[2020-05-25 12:51] frontendschlampe commented on #962
thx ... I've tried and I come to overview of database updates without any problems (no white screen). After clicking the update button I come to a white screen. Reloading a few times I come to  success screen of Install Tool.

[2020-05-25 12:52] Mynyx opened #1766 "Application cache of dev environment in install tool"
**Affected version(s)**

Contao 4.9.4

**Description**

The application cache of the dev environment is not considered by the install tool when saving the database configuration.

1. New Installation
2. Open and fully execute the install tool
3. Login to the backend
5. Activate debug mode
4. Exception: ``An exception occurred in driver: SQLSTATE[HY000] [1045] Access denied for user 'root'@'localho

[2020-05-25 14:19] jaennert commented on #809
Hallo Yanick,

mittlerweile läuft meine Seite jaennert24.de <http://jaennert24.de/> wie erwartet. Mein Provider hat einen neuen Server aufgesetzt und dabei deine Ergebnisse mit berücksichtigt.

Er teilte dazu u.a. folgendes mit:

… die  Serverinstallationen  etc von Zuhause aus macht, hat er
sich  abends  hingesetzt  und  den Server für mich in Ruhe aufgesetzt.
Dabei   sind   im   einige   Ungerei

[2020-05-25 14:25] m-vo commented on #809
Empfindlichkeit des Contao Systemes aufgefallen.
Daher  muß  man  an  etlichen Stellen sehr genau auf Konfiguration etc
achten.

Servern  Probleme  bekommen  können,  weil  die eine robuste gutmütige
Konfiguration erwarten. (Mal Laienhaft ausgedrückt)

:shrug: das ist doch Käse

[2020-05-25 14:29] jaennert commented on #809
Okay, das kann ich nicht beurteilen und habe die Information weitergegeben. Tatsche ist, dass der neue Server richtig schnell ist.

[2020-05-25 14:33] m-vo commented on #809
Ja, sollte kein Angriff gegen dich sein. :slightly_smiling_face:

Diese Aussagen sind halt nur wenig hilfreich und es klingt so als wäre es ein Problem eine Contao/Symfony Applikation zu hosten.

[2020-05-25 14:33] woluka commented on #809
Frag deinen Hoster doch mal, was genau er bei dem neuen Server anders konfiguriert hat. Ich hab aktuell zwei sehr ähnliche Installationen beim gleichen hoster, beide male "kleine" Pakete bei Ionos, aber die Antwortzeit beim ersten Aufurf ist deutlich unterschiedlich.

[2020-05-25 14:34] Toflar commented on #809
Ja, das hat Konfiguration so an sich. Wenn ein Parameter irrelevant wäre, müsste man ihn auch nicht konfigurierbar machen? Also man sollte schon generell auf Konfiguration achten...
Ich verstehe nicht, was diese Aussage bezwecken soll.

Was auch immer eine "robuste gutmütige Konfiguration" sein soll. Contao stellt keine besonderen Anforderungen an den Server. Wirklich nicht.
Und wenn ein System ei

[2020-05-25 14:54] Toflar commented on #809
Und das gilt für alle in diesem Thread: Ich weiss, jeder verteidigt sein geliebtes System und sein eigenes Können gerne und gibt ungern Fehler zu, aber lasst uns bitte nicht einen Schuldigen finden oder jemanden als unerfahren oder unqualifiziert hinstellen.
Contao ist OSS und OSS ist deshalb so gut, weil so viele Leute ihr Wissen gemeinsam in ein Projekt stecken und bereit dazu sind, voneinander

[2020-05-25 15:03] jaennert commented on #809
Für mich war wichtig, dass mit den ausführlichen Informationen von Yanick ein optimaler Server für Contao aufgesetzt werden konnte. Mit technischen Details kann ich nicht dienen.

[2020-05-25 15:10] fritzmg commented on #809
@jaennert aber dein Hoster kann damit dienen und würde damit der Contao Community helfen.

[2020-05-25 17:53] Mynyx commented on #809
@woluka Du könntest die ``phpinfo()`` von beiden Installationen abrufen (Contao Manager -> Tools -> PHP Informationen) und diese hier posten oder selbst vergleichen.

[2020-05-25 20:37] aschempp commented on #962
The Manager does a lot of things 😉
https://github.com/contao/contao-manager/search?q=opcache&unscoped_q=opcache

[2020-05-26 14:55] woluka commented on #809
[phpinfos.zip](https://github.com/contao/contao/files/4683027/phpinfos.zip)

Für mich sehen die identisch aus, ist wie gesagt beides Ionos, gleiche PHP-Version. Die langsamere Seite wird allerdings über eine Subdomain aufgerufen, ich hatte schon bei anderen Seiten den Eindruck, dass das einen Einfluss hat. Während der Entwicklung unter develop.domain.tld hatte ich beim ersten Aufruf ein Delay, nac

[2020-05-26 15:04] jaennert commented on #809
Hier die phpinfos:

[2020-05-26 15:24] fritzmg commented on #809
@jaennert du darfst auf diese Threads nicht per E-Mail antworten. Deine Attachments gehen dadurch verloren.

Aber generell vermute ich, dass es nichts mit php.ini Einstellungen zu tun hat? @jaennert kannst du deinen Hoster nicht einfach fragen, was er denn genau in der Serverumgebung für Contao anders eingestellt hat? Der muss das ja wissen.

[2020-05-26 15:30] jaennert commented on #809
Danke für den Hinweis. Ein neuer Versuch
[phpinfos.zip](https://github.com/contao/contao/files/4683251/phpinfos.zip)
Bin mit GitHub wenig vertraut.

[2020-05-27 05:36] aschempp commented on #1766
The dev env cache us not warmed by default, and it should automatically be rebuilt on changes.

The problem is most likely that the container does not track the `parameter.yml` for changes because the file did not exist yet.

[2020-05-27 05:41] aschempp commented on #1664
Very good question! I think that was the reason we actually kept this. Maybe people from the metamodels team can answer it?

[2020-05-27 06:20] aschempp commented on #1760
Are you sure that parameter exists in all supported Symfony versions?

[2020-05-27 07:12] fritzmg commented on #1760
It is available since Symfony 4.2 and Contao 4.9 requires `symfony/framework-bundle` `4.4.*`.

[2020-05-27 07:54] fritzmg commented on #1706
What about entries like:

[code]

i.e. back end modules for editing records of a DataContainer. Is there a new way to register those and add them via the event listener? If yes, then I am simply not aware of it or how to do it - and I need to document it 😁

If no, then we do need priority keys, so that developers can define a sensible default sorting for their modules within their own section.

[2020-05-27 11:32] zonky2 commented on #1664
we'll talk about it tomorrow at the MM call...

[2020-05-27 17:36] msippel commented on #1760
I included your code in app.php and app_dev.php. This solution works for PHPSESSID. But now I get this warning in backend:
`Cookie “BE_PAGE_OFFSET” will be soon rejected because it has the “sameSite” attribute set to “none” or an invalid value, without the “secure” attribute. To know more about the “sameSite“ attribute, read https://developer.mozilla.org/docs/Web/HTTP/Cookies`

How can I fix this?

[2020-05-27 17:46] fritzmg commented on #1760
You just need to wait, until this is dealt with within Contao itself. Also, the `BE_PAGE_OFFSET` Cookie is not critical for Contao's operation, so you don't have to worry.

Speaking of worry: so far I couldn't find any info on when this change is supposed to be implemented in all the Browser's. Chromium apparently pushed back the change to "Summer": https://redmondmag.com/articles/2020/04/06/sames

[2020-05-28 08:41] Xirdion opened #1773 "addImageToTemplate: undefined method "getName" of class "stdClass""
**Affected version(s)**

Contao 4.9

**Description**

If we use the youtube content element with a splash-image, the function `addImageToTemplate` of the Class `Controller` will be called.
The first parameter of this function is the template object. In the content element this is a `stdClass` object. On line 1701 in the Controller-class the function `getName()` of the tempalte-object is called. Bu

[2020-05-28 08:49] fritzmg commented on #1773
I can confirm the problem. Reproduction:

1. Create a new _Image_ content element.
2. Enable the **Full-size view/new window** checkbox and select an image.
3. Save the content element.
4. Switch the content element type to _YouTube_.
5. Enable the splash image and select an image.
6. Save the element and open the front end.

[2020-05-28 10:42] Olli commented on #1635
Danke - Works like a charm :+1:

[2020-05-28 11:54] havutcuoglu opened #1775 "Compare page alias with page title and use alias as a subpages as subfolder if both are different"
Is it possible to compare the Page alias and page title and use the page alias if it's different as the page title, and then set the subfolder alias for subpages?

For example:
If I create a main page called **Company** and change the alias to **Services**, all subpages will get the page title of the parent page in Alias as a subdirectory. In this case **company/foo.html** and not **services/foo.h

[2020-05-28 12:22] bytehead commented on #1775
You can use the `edit multiple` function and re-generate the aliases for the selection.

[2020-05-28 12:24] cliffparnitzky commented on #1775
Generally, the alias of the parent is used, when creating a new subpage. In case of renaming the function mention by @bytehead should help.

[2020-05-28 12:42] havutcuoglu commented on #1775
@bytehead thanks a lot but I know the option to **edit multiple**.
@cliffparnitzky if I use the **edit multiple** Contao will delete all aliases and generate them new. This is not what I want.

The Problem is, if I create a new main page called Company the Contao generate the alias `company.html`, then I create a subpage called About us contao set subpage alias as `company/about-us.html` that is O

[2020-05-28 12:51] fritzmg commented on #1775
That should not happen. And I cannot reproduce that. If I create a page with the Alias `company/concern` and then a subpage within that page, its automatic alias will be prefixed with `company/concern`.

[2020-05-28 13:46] asaage commented on #1775
As far as i can reproduce this, the autogenerated alias with enabled folder-urls is built from top to bottom (or root/parent to child if you wish to say so) but somehow it only works as expected when the number of slashes matches the nesting level.
Is that your problem?

That would be bad from an SEO perspective (changing the url of existing/indexed pages automatically)

[2020-05-28 13:54] havutcuoglu commented on #1775
@asaage

I don't change existing pages. It is a new website.

@fritzmg check this video.
[https://we.tl/t-SbUk2hIceM](url)

I use actually the contao 4.9.3

[2020-05-28 13:56] fritzmg commented on #1775
You are right, now I was able to reproduce it to, I didn't actually use `company/concern` before.

### Reproduction:

1. Enable the **Enable folder URLs** system setting.
2. Create a new page within a website root, use the **Alias** `company/concern`.
3. Create another page _as a sub page_ of the previously created page with the **Page name** _Foo_ and save.

The automatically generated alias will

[2020-05-28 14:08] havutcuoglu commented on #1775
Exactly. That's it.

The other problem is, if you set the alias of the main page as company/index, the subpages will get foo/goo/index/....html as an alias. But I think nobody will want that (folder name index).

[2020-05-28 14:42] asaage commented on #1775
... number of slashes does not match hirarchy-level... that is what i noticed earlier.
To mitigate that (and i used that technique a lot) you probably could insert an internal redirect-page without jump-to and build your structure like that

- root
  - company (internal redirect without target & alias=company)
    - your actual company-page (regular page with alias company/concern)
    - about-us

[2020-05-28 14:56] havutcuoglu commented on #1775
**But if I have a structure like that, it will not work.**
- Company (as Overview for all subpages & alias=`company/index`)
-- concern (alias=`company/concern`) (contao generated alias=`index/concern`) **wrong alias**
-- about-us (alias=`company/about-us`) (contao generated alias=`index/about-us`) **wrong alias**

**then i have to do it like as you wrote**
- Company (redirect to index subpage & al

[2020-05-28 15:06] asaage commented on #1775
I would say it's in fact a bug and the autogenerated alias should in fact be a true concatenation of ancestor-aliases+page-name.

If you are concerned about the redirect you could also take a look at https://github.com/terminal42/contao-folderpage (though i'm not quite shure if there are aliases involved at all)

I think i don't understand exactly what you are trying to achieve 🤔

[2020-05-28 15:11] havutcuoglu commented on #1775
I need SEO friendly URLs for main page and sub pages like

- company/index
- company/concern
- company/about-us

Google and Co. can handle this kind of aliases better then like this
- company
- company/concern
- company/about-us

[2020-05-28 15:23] asaage commented on #1775
just use ```url_suffix="/" or ""``` and be happy without redirect-hack's?

[2020-05-28 20:03] discordier commented on #1664
I do not know if I get this correct now.
You plan on removing the filter and therefore the install tool will offer all third party tables and views for deletion?

If so, I would be happy to register my custom schema in the Schema provider but have some problems then.
As you might know, MetaModels does neither provide DCA files (as they are not needed due to the dynamic nature) nor does it use clas

[2020-05-29 07:11] aschempp commented on #1664
There are already two ways to hook into the schema:
1: the „old“ way using SQL hooks
2: the same procedure Contao uses to add schema information to doctrine. Any extension can do that however they please

I don‘t see a point in adding yet another (Contao specific) way?

[2020-05-29 07:28] Toflar commented on #962
This seems to be an issue with the way All-Inkl. configures their OPcache. We now have multiple reports of similar behaviour (not only in the Install Tool, basically everywhere). At some point, PHP just stops running because it hits max memory usage.
However, we have no such reports from any other hoster, it's always All-Inkl.

Can anybody share the `opcache` configuration settings from their php

[2020-05-29 07:33] bibib commented on #962
![opcache](https://user-images.githubusercontent.com/3650034/83233725-73000d80-a18f-11ea-8856-32d7e256fa0d.JPG)

[2020-05-29 08:08] MDevster commented on #962
@Toflar Ich kann dir auch gern ein Unterkonto mit SSH usw. zukommen lassen 🙂

[2020-05-29 08:16] Toflar commented on #962
Ich find's sehr seltsam, dass man einen Shared Memory Cache so konfiguriert, dass er kein Shared Memory nutzt...

Nicht nötig, da muss All-Inkl. aktiv werden, nicht wir.

[2020-05-29 08:41] bibib commented on #962
Ich hab bei all-inkl. gefragt, warum die opcache-Einstellungen so sind, wie sie sind. Antwort vom Support: "Den RAM-basierten Opcache bieten wir nur auf Managed Servern an. Bei Shared Servern mit SSD ist hingegen aus technischen und operativen Gründen nur der Datei-basierte Cache aktiv."

[2020-05-29 08:58] Toflar commented on #1664
I like the proposal by @discordier.

That's not really something we want to endorse, right? :) Also, a lot of stuff cannot be done using the old hooks (views, foreign keys...).

That doesn't really work. The problem is that we're asking our own `Installer` class for the schema (`Installer::createSchema()`) to which we inject our own `contao.doctrine.schema_provider`.
@discordier wants to abstract

[2020-05-29 09:05] Toflar commented on #962
Deren Business-Entscheidung, das ist auch erlaubt und hat uns nicht zu interessieren. Aber scheinbar ist ja trotzdem was nicht in Ordnung, wenn die Setups mit deaktiviertem OPcache normal laufen und mit aktiviertem OPcache in PHP Memory Limits laufen. Denn eigentlich zählt das OPcache Memory Limit nicht zu dem von PHP.
Aber ggf. gibt's da einen Bug in PHP selbst, den sonst bisher keiner bemerkt ha

[2020-05-29 09:40] havutcuoglu commented on #1775
What is the reason of this discussion?
The alias generation with subfolder from manually changed aliases is a feature or it is a bug?

[2020-05-29 09:43] fritzmg commented on #1775
It is a bug that the automatic alias generation skips a fragment. It is not supposed to.

[2020-05-29 10:04] bibib commented on #962
Okay - soll ich dem Support die Info einfach so weitergeben? Oder einen Link hierhier schicken? Oder besser, jemand mit mehr technischem Verständnis, der dort auch Kunde ist, schreibt die an? Mir wird dort vermutlich nicht allzuviel Aufmerksamkeit geschenkt werden.

[2020-05-29 10:09] havutcuoglu commented on #1775
Shell I make a bug report or this issue is enough for the documentation?

[2020-05-29 10:34] fritzmg commented on #1775
This issue is already your bug report ;)

[2020-05-29 11:25] Toflar commented on #962
🤷‍♂️ Du kannst den Link schon schicken, aber ich denk die wollen einen Use Case haben, wo sich das Problem reproduzieren lässt.

Auch das wäre sicher von Vorteil.

[2020-05-29 11:34] bibib commented on #962
Ich hatte ihnen gestern schon einen Backend-Zugang zur Testseite (die wir auf Slack diskutiert haben) mit Screenshots und detaillierter Problembeschreibung geschickt - heute früh hab ich aber nicht gesehen, dass sich jemand tatsächlich eingeloggt hätte. Stattdessen hat man versucht, mich mit einer 08/15-Antwort abzuspeisen. Naja. Vielleicht findet sich ja jemand, den sie ernster nehmen, ansonsten

[2020-05-29 17:54] hamidpeywasti opened #1780 "CORS policy error when using Combine scripts with CDN for font files"
**Affected version(s)**

Contao 4.9

**Description**

I use some fonts in my website that are located if "files/fonts".  When using a subdomain like cdn.mywebsite.com for "File URL" and "Assests URL" in site structure [without "Combine scripts"], everything is OK and font files are accesible from website. But if "Combine scripts" is check, Access to fonts will block by CORS policy.

[2020-05-29 19:32] dmolineus commented on #1775
You might have a look at https://github.com/hofff/contao-trueurl which provides full control about alias inheritance to sub pages. If wanted aliases of subpages get automatically updated if the parent page changes

[2020-05-29 20:55] xprojects-de commented on #962
Hallo zusammen,

ich bin auch bei ALL-Inkl und konnte ein bisschen mehr rausfinden. Der Fehler tritt jedenfalls bei mir immer an der selben Stelle in den PHP-Scripten auf wenn ich den contao/install-Path aufrufe (nach Login!):

ssh-xxx@xxx:/www/htdocs/xxx$ cat errorlog.txt
[29-May-2020 22:25:13 Europe/Berlin] PHP Fatal error: Allowed memory size of 268435456 bytes exhausted (tried to allocate 1531

[2020-05-30 04:49] xprojects-de commented on #962
Noch ein Nachtrag:
Hatte gerade nochmals Kontakt mit einem qualifizierten Mitarbeiter von All-Inkl :-) und es ist wohl so dass hier keine Anpassungen am PHP gemacht werden (keine eigene Kompilierung) und auch der OPCache wohl nichts mit dem Memorylimit zu tun haben soll! Das scheint getrennt zu sein. Somit betrifft dieser Fehler nur das normale Memory-PHP-Limit uns scheint nichts mit dem OpCache z

[2020-05-30 06:10] Toflar commented on #962
Ich sag ja, dass das getrennte Werte sind.
Nur scheinbar läuft alles „normal“ (langsamer aber ohne Memory-Probleme) wenn die User OPcache deaktivieren.
Und das ist nur bei All-Inkl der Fall - sonst gibt‘s keinerlei solcher Reports.

[2020-05-30 10:55] Total-Reality commented on #1719
Warum heißt es dann aber bei den Inhaltselementen "Sichtbarkeit" und nicht "Sichtbarkeitseinstellungen"? Oder es heißt "Vorschaubild" und nicht "Vorschaubildeinstellungen".

Das ist wirklich Geschmackssache, ich würde aber auch dazu tendieren das mit den "Einstellungen" irgendwie zu umgehen, das wird wirklich inflationär bzw. redundant verwendet. Außerdem muss man auch bei der Entwicklung von Erwe

[2020-05-31 09:58] 7FyOh opened #1781 "301 redirect after invalidated login"
**Affected version(s)**

Contao 4.9

**Description**

When a member whose login is not valid anymore tries to visit a protected page, it cannot visit that page after being logged in again due to a `301 Moved Permanently` redirect.

All steps done on demo.contao.org:

1. https://demo.contao.org/en/: Login with any FE user
1. Invalidate login (e.g., delete cookies)
1. Click on "My Account" in menu
1

[2020-05-31 10:12] fritzmg commented on #1781
Duplicate of https://github.com/contao/contao/pull/1762

The Contao online demo has the same problem.

[2020-05-31 10:15] #1781 closed, assigned to nobody

[2020-05-31 19:09] Alibi-Contao opened #1782 "Contao 4.9 + Honeypot"
Nach Deaktivierung der HTML5-Validierung erscheint beim falsch ausgefüllten Formular die Sicherheitsabfrage (Wieviel ist xy+z?) .
Das Verhalten kann man bei der Contao Demo nachvollziehen.
Bei aktiver HTML5-Validierung tritt dieses Verhalten nicht auf. Dort bleibt die Sicherheitsabfrage unsichtbar.
Unter Contao 4.8x erscheint die Sicherheitsabfrage nicht.

[2020-06-01 11:57] fritzmg commented on #1719
Aus meiner Sicht ist es klar, dass man unter "Sichtbarkeit" die Sichtbarkeit des jeweiligen Elements regelt und unter "Vorschaubild" das Vorschaubild etc. Es wäre nicht klar, was man unter "Modul" regelt.

[2020-06-01 14:40] Webstylerin opened #1783 "Articles tab missing in the universal picker"
**Affected version(s)**

Contao 4.9.3

**Description**

When Contao is installed without news or events it is impossible to switch to the article overview in the include content element to select the referenced element. The navigation is missing.

![missing](https://user-images.githubusercontent.com/3033160/83420116-7234d900-a426-11ea-8796-abb1b95dff0a.png)

[2020-06-02 09:47] aschempp commented on #1783
It is intentional that there is no tab if there's only one item. However, we should figure out how to navigate to the root item in this case. I don't think this is only related to content elements.

[2020-06-02 10:37] leofeyer commented on #1783
Showing the tab would be the easiest way to fix this, however, being able to use the "go back" button would be the more intuitive fix. I stumbled upon this myself already.

[2020-06-02 22:24] patrickjDE commented on #1719
Das Ganze lässt sich kaum verallgemeinern, dazu sind die Subpaletten und ihre Benennungen einfach zu unterschiedlich.

Manche sind nach Aktionen benannt (Veröffentlichung, Formulardaten versenden), manche nach einer bestimmten Komponente/Bereich/Eigenschaft (Bild-Einstellungen, Cache-Einstellungen, Zugriffsrechte, Metadaten, Sichtbarkeit), manche sind Sammelsurien (Globale Einstellungen, Expertene

[2020-06-03 08:28] Defcon0 opened #1785 "Add a default Contao backend favicon to prevent log spamming"
Hello,

we often have the problem that logs get "spammed" with 404s that result from a missing favicon.ico located in the web folder.

Would it be an option to add a default contao favicon file in order to prevent that (and to make clearer that you are working with contao ^^)? I personally prefer to have a different icons in backend and frontend.

Thanks!

Bye Defcon0

[2020-06-03 08:31] aschempp commented on #1785
Why not add a real favicon? What Contao version do you use?

[2020-06-03 08:39] Defcon0 commented on #1785
->

Also if a default icon comes with contao, the dev can't forget this.

In this case: Contao 4.4

[2020-06-03 08:39] Schmidty2 opened #1786 "Frontend-Vorschau für Redakteure funktioniert nicht richtig"
Betroffene Version: Contao 4.9.3

Wenn ein Benutzer mit eingeschränkten Rechten (z.B.: Redakteur) die Frontendvorschau anzeigen lässt, wird diese wie gewünscht angezeigt, inkl. der Vorschauleiste. Wenn der Redakteur die Vorschaltleiste mit einem Klick auf das X am rechen Rand ausblendet, wir die Vorschau beendet, die Vorschauleiste kann nicht mehr eingeblendet werden.

Ich habe folgenden Workaroun

[2020-06-03 08:40] ausi commented on #1782
Ich konnte den Fehler auf demo.contao.org nicht reproduzieren. Hast du das Formular eventuell sehr schnell ausgefüllt (unter 5 Sekunden)?

[2020-06-03 08:59] Alibi-Contao commented on #1782
Jep, sorry, das war unter 5 Sekunden. Ich wollte ja die die Fehlermeldungen zu den Feldern "provozieren" (zum Prüfen meiner CSS-Datei) und hab daher kein Feld ausgefüllt und gleich auf Senden geklickt. Macht dann natürlich Sinn, da kein Mensch so schnell die Felder befüllen kann.
Wieder was dazu gelernt. Vielen Dank

[2020-06-03 08:59] #1782 closed, assigned to nobody

[2020-06-03 09:11] Toflar commented on #1785
4.9 already provides that functionality.

[2020-06-03 09:12] Defcon0 commented on #1785
Ah ok. Then it's ok I guess since we're upgrading to 4.9 anyway. Thanks for the hint.

[2020-06-03 09:22] Defcon0 commented on #1785
Mhm, just tested that but at least in 4.9.2 there's no favicon.ico in the web root by default.

In fact the request doesn't even come from the html but from chrome:

https://stackoverflow.com/questions/30693021/chrome-developer-tools-shows-favicon-404-error-in-brackets-livepreview

But the result nevertheless is that tons of 404s are spammed to the logs if no favicon is added.

Am I missing someth

[2020-06-03 09:23] Toflar commented on #1785
You can choose it in the website root so you can have different ones per domain.

[2020-06-03 09:24] Defcon0 commented on #1785
Got that, but my question concerned a *default* favicon.ico if the developer doesn't specify one.

[2020-06-03 09:25] fritzmg commented on #1785
Related:

* https://github.com/contao/core-bundle/issues/958
* https://github.com/contao/core-bundle/pull/963

[2020-06-03 10:45] Defcon0 opened #1787 "Warning in production: Invalid argument supplied for foreach() {}"
**Affected version(s)**

Contao 4.4

**Description**

When opening a page (not a special one) in the frontend, I get the following warning:

[code]

The lines in the core are the following:

[code]

So `$this->User->pagemounts` is empty for some strange reason.

In addition I don't understand, why even in production mode the warnings are printed out??

If that's useful to know: It doesn't matter i

[2020-06-03 11:04] fritzmg commented on #1787
Which Contao version and do you use any extensions?

[2020-06-03 11:05] m-vo commented on #1787
Are there any characters before the opening tag? 🙃

[2020-06-03 11:06] Defcon0 commented on #1787
contao version is 4.4.48 (since 4.4.49 has a bug with the Result class):

[code]

No :-)

[2020-06-03 11:09] Defcon0 commented on #1787
In fact it's no surprise that the error occurs, if we look at the getter for `pagemounts`:

[code]

So here is false set as value and here it's used directly without checking if it's an array:

[code]

[2020-06-03 11:20] m-vo commented on #1787
Should probably be `[]` instead of `false`. Ah, you lovely type safety.

I still don't understand the second error, though.

[2020-06-03 11:22] patrickjDE commented on #1787
Probably a result of the first warning being output?

[2020-06-03 11:25] m-vo commented on #1787
(btw.: I thought PHPStan could understand the `@property` annotations even in case of using magic getters/setters and would therefore report a warning (unsupported type). But maybe not in the level we're using it.)

[2020-06-03 11:26] Defcon0 commented on #1787
Yes, the second error is because of the first one.

Yet: does anybody have an idea why the warning can be printed out in *production* in the first place. Interestingly enough in dev it *doesn‘t* occur.

[2020-06-03 13:58] m-vo commented on #1785
Considering the broken/ignorant caching strategy of favicons across most browsers, this probably isn't a good idea.

[2020-06-03 14:03] Defcon0 commented on #1785
Well, but currently the consequence is that we have thousands of 404s in the logs which is pollution. Each and every request to any site in backend produces this 404 for each and every user. In large pages this can get grow large after a while.

I know, I can add the favicon, but it would be better to have that by default imho.

[2020-06-03 18:30] xchs commented on #1782
Chuck Norris schafft das locker in deutlich unter einer Sekunde. 💪 😄

[2020-06-04 11:16] aschempp commented on #638
just for the next time… 😂
https://github.com/contao/contao-manager/issues/500#issuecomment-638785169

[2020-06-04 13:13] leofeyer commented on #1671
As discussed in Mumble on June 4th, the current setup is correct. The installation bundle is not required to run Contao (e.g. in production) unless you want to run `contao:migrate`, which will check this itself.

[2020-06-04 13:13] #1671 closed, assigned to nobody

[2020-06-04 13:21] leofeyer commented on #1664
As discussed in Mumble on June 4th, we want to directly execute the Doctrine schema generator instead of our own, so all bundles listening to the events are notified (currently our schema listener is not applied in the install tool).

[2020-06-04 13:27] hinzke commented on #1957
moin, wisst ihr wie der stand gerade ist?

[2020-06-04 13:30] #1773 closed, assigned to nobody

[2020-06-04 13:57] leofeyer commented on #1760
As discussed in Mumble on June 6th, we want to fix this as follows:

**Contao 4.4**

[code]

**Contao 4.9**

[code]

Note that the `auto` value has changed to `null` in Symfony 5 (see https://symfony.com/doc/current/reference/configuration/framework.html#cookie-secure).

[2020-06-04 14:02] leofeyer commented on #1760
Also, we want to adjust the `System::setCookie()` method and set the default value of `$blnSecure` to `null` and if it is `null`, we set the value depending on `Request::isSecure()`.

[2020-06-04 14:25] fkaminski opened #1791 "Google-Fonts API Version 2 Handling"
As mentioned in the [forum](https://community.contao.org/de/showthread.php?78134-Google-Fonts-API-Base-URL&p=526398&viewfull=1#post526398):

By using the suggested Google-Fonts embed parameters for example:
https://fonts.google.com/specimen/Oswald?sidebar.open&vfonly&query=Oswald&selection.family=Oswald:wght@200;380;400

within the Pagelayout/Webfonts settings we get unexpected results. This is be

[2020-06-04 16:48] fkaminski commented on #1791
See: Add Notice for Google Fonts API Version [#414](https://github.com/contao/docs/pull/414) in the docs

[2020-06-04 17:32] Defcon0 opened #1793 "Handle the new (ugly) outlines in Chrome 83+ for inputs, selects, textareas, buttons"
Hello,

after upgrading to Chrome 83+ the user gets very ugly thick black borders around inputs, selects, textareas, buttons in the contao backend.

Example:

![Unbenannt](https://user-images.githubusercontent.com/1485098/83791305-df03d980-a699-11ea-8448-a4d6436029f9.png)

The solution is to simply set an outline. We fixed it by using the following code (which is simply the old Chrome default code

[2020-06-04 18:05] xprojects-de commented on #962
Hallo zusammen,

ich habe nun versucht bei All-Inkl was herauszufinden und leider konnten die nicht wirklich was in ihrer Konfiguration finden. Es scheint alles nach Standard konfiguriert zu sein und der Fehler soll anscheinend nichts mit dem OpCache zu tun haben sondern mit dem allgemein zur Verfügung stehenden RAM!
Lassen wir mal so stehen.

Habe mal per printf-Debugging (macht Spass :-( ) die g

[2020-06-05 08:38] m-vo commented on #1793
I assume the reason behind Chrome's change wasn't for the aesthetics but for better accessibility (which is a good thing). We should keep that in mind.

[2020-06-05 08:40] Defcon0 commented on #1793
No question. Because of this we didn't simply remove the outline but restored the old blue style.

[2020-06-05 08:54] aschempp commented on #1957
https://github.com/contao/contao/pull/1516 will add support for any url prefix, not just languages. A seconds step would be to allow other languages in the page tree after that, which should be fairly simple. I'll add it to the list.

[2020-06-05 09:58] Toflar commented on #962
Ach, das ultralangsame Filesystem war doch auch bei All-Inkl 😄 Siehe [meine ausführlichen Befunde im anderen Ticket](https://github.com/contao/contao/issues/809#issuecomment-571509691).

Deren Filesystem ist katastrophal langsam bis es sich warmgelaufen hat und es wird dann wieder linear langsamer, weil scheinbar die Dateien wieder aus dem lokalen Filecache geschmissen werden.

Kein Wunder ist der

[2020-06-05 10:00] fritzmg commented on #962
Aber in diesem Fall ist es halt nicht langsam sondern verbraucht aus irgendeinem Grund mehr vom PHP `memory_limit`. Das muss All-Inkl. profilen.

[2020-06-05 10:16] rabauss opened #1795 "Default priority for callbacks uncertain"
**Affected version(s)**

Contao 4.9?

**Description**

I registered a callback with annotations (`@Callback(table="tl_content", target="config.onload")`) but without priority.

Deviating from the documentation the callback is not executed after all other callbacks - it's the first one. Although my Bundle is registered after ContaoCoreBundle!

See the docs here: https://github.com/contao/docs/blame

[2020-06-05 10:48] rabauss opened #1796 "Replace preview.php for front end link of back end login"
If I am in preview mode in the front end and then the session expires, you end up on the back end login mask. If you then click on "Go to front end", you have a loop because you logically arrive at the login mask with `preview.php` again.

Can we replace the `preview.php` for the "Go to front end" link?

[2020-06-06 09:55] zonky2 opened #1797 "Überschreiben des Seitenlayouts an Kindseiten verhindern"
Überschreiben des Seitenlayouts an Kindseiten verhindern - es wäre schön, wenn es bei gesetzter Checkbox "Ein Layout zuweisen" eine weitere Checkbox gäbe wie "Layout nicht Kindseiten vererben".

Damit könnte man gezielt einzelne "Parentseiten" mit einem anderen Seitenlayout versehen - aktuell müssen alle Kindseiten z.B. auf ein "allgemeines Layout" zurück gestellt werden, wenn eine Zwischenseite i

[2020-06-07 19:05] pressi commented on #1797
Ein alter Post von mir, etwas ähnliches:

https://github.com/contao/core/issues/4868#issue-7114711

[2020-06-09 09:17] leofeyer commented on #1791
What would be the correct/best solution here?

[2020-06-09 09:37] kikmedia opened #1804 "Wrong position in backend menu?"
I just stumbled into this, wondering that even if we sort backend modules in Contao 4.9 by alphabet, (see https://github.com/contao/contao/commit/42f85a4e26eeec8dc3886ae200fb0567f231e641)  the Manager still appears at the very last position in backend system menu.

Is that the intended behaviour?

[2020-06-09 09:52] fkaminski commented on #1791
It still works as before. But not with the new [API 2 Syntax](https://developers.google.com/fonts/docs/css2). There is a [hint in the docs](https://docs.contao.org/manual/de/layout/theme-manager/seitenlayouts-verwalten/#webfonts) for now.
Optional one could use this as with any other CDN font within "Zusätzliche <head>-Tags".
Therefore, this could in principle be removed in the future (IMO). But d

[2020-06-09 10:05] fritzmg commented on #1791
We could:

* Remove the field from the palette, as it may not be as relevant now as it was in the past.
* Implement a validation for the field, so at least users get an error, if they use the v2 syntax.
* Implement an automatic detection of the new v2 syntax, so the correct URL will then be used in the front end.

Personally, I am in favour of removing that feature in the future. But that may not

[2020-06-09 11:42] Anke commented on #1245
So, it happened again. The log was filled with errors due to a missing redirection to non-www. In total there were 2562 entries, 2484 of which were errors.

I selected "Anzeigen: alle", whereupon 500 entries were listed on the first page. Selecting and trying to delete all 500, I get an error 500. After using the browsers back button there are 2514 entries left in the system log, i.e. 48 of 500 se

[2020-06-09 13:13] aschempp commented on #1627
I think it is intended, but it should be deleted "on the first use". So the username is still there after reloading the page (after unsuccessful login).

[2020-06-09 13:16] leofeyer commented on #1793
Actually, we are trying to adhere to the browser standards as much as possible. If Chrome decides to change their focus style, we should not mess with it IMHO.

[2020-06-09 13:25] leofeyer commented on #1791
I'm in favor or removing the field, too. But if we are going to keep the field, we should detect and handle the new v2 syntax accordingly.

@contao/developers Keep or remove?

[2020-06-09 13:38] Defcon0 commented on #1793
I understand the argument, but with this reasoning, I could also say that we can't style the buttons since chrome styled it already ;-)

I think more and more frameworks will now define outlines since Chrome's change some kind of forces them. But the result is good since there were no outlines before at all. Maybe that was the plan of Google in the first place ;-)

BTW: We already have had the fir

[2020-06-09 13:42] #1766 closed, assigned to aschempp

[2020-06-09 13:43] leofeyer commented on #1787
Can you please try to reproduce the error in a fresh Contao installation without third-party extensions?

[2020-06-09 13:49] m-vo commented on #1793
And that's what the web is moving to and what should imo be another goal (bridging the gap between native apps and websites).

[2020-06-09 13:54] Defcon0 commented on #1793
But aren't the browser manufacterers doing the exact opposite right now? Chrome's controls look the same on Windows and on macOS e.g. No adaptation here in order to bridge the gap between web and the local system.

Also visual creativity also of a backend UI is a bit gone in my opinion.

Nevertheless I understand both views though. I didn't have made up my mind completely atm.

[2020-06-09 14:03] m-vo commented on #1760
For the sake of completion - that's how chromes deals with the topic (see the issue tracker links):

[2020-06-09 14:06] frontendschlampe commented on #1791
remove :-)

[2020-06-09 14:42] asaage commented on #1793
Contao alway's has put effort in accessibility thats whyi think there should have been some kind of focus-styles in the first place.

[2020-06-09 14:54] fkaminski commented on #1791
That will probably happen - Personally i never used it (self hosted the fonts). If removed, could you make sure that existings settings will then applied to "Zusätzliche -Tags"? Otherwise user may wonder why their custom fonts disapear

[2020-06-09 15:16] Toflar commented on #1791
Remove the field and migrate it to custom head tags. That's the only sensible solution imho.

[2020-06-09 15:29] fkaminski commented on #1791
@Toflar  ShortnSweet - Love it

[2020-06-09 17:30] bennyborn commented on #1793
While I'm also on the side of Contao doing it's best the be as accessible as it can be I think Chrome took it a bit too far but on purpose. While the previous "light blue glow" was pleasing to the eye and fitted within many styles most websites just took the default styling for granted and didn't bother to come up with something on their own which might be one reason why the new styling is so "dra

[2020-06-09 17:33] fritzmg commented on #1793
I don't think that's the case at all. I think it's there solely for accessibility.

[2020-06-09 17:36] Defcon0 commented on #1793
I agree to that. This was also my suspicion :-)

[2020-06-09 21:43] Mynyx commented on #1521
Shouldn't the stale bot ignore issues with ``bug`` label?

[2020-06-10 06:53] frontendschlampe commented on #813
Which activity is desired?

[2020-06-10 07:34] aschempp commented on #813
well I guess a pull request would be best? 😂

[2020-06-10 07:52] aschempp commented on #933
I did look into this, there are three possible solutions:

 1. we add a `onload_callback` that initializes these values. However, this means the values will not be set after _just loading_ a DCA through `Controller::loadDataContainer`, they will only be set when `DC_Table` executes the callback. That won't be the case e.g. in the front end, and we can't change this behavior for million reasons.

[2020-06-10 07:55] fritzmg commented on #933
Wouldn't a `load_callback` on `tl_article.author` suffice?

[2020-06-10 08:04] Defcon0 commented on #1234
Any progress on that? (posted this to avoid closing the issue by the stale bot)

[2020-06-10 08:10] ausi commented on #1090
What should be the solution now?

1. Compiler pass that verifies `contao.image.valid_extensions` and generates warnings for unsupported image types
2. Generate 500-Error responses as soon as an an image is tried to get resized? (would be in most cases the image request itself)

I think we should do both.

[2020-06-10 08:11] ausi commented on #937
This is on my todo list.

[2020-06-10 08:13] ausi commented on #827
On my todo list.

[2020-06-10 09:37] leofeyer commented on #1641
This issue needs to be confirmed and fixed.

[2020-06-10 09:38] leofeyer commented on #1644
This issue will be fixed.

[2020-06-10 09:40] leofeyer commented on #1645
This issue needs to be confirmed and fixed.

[2020-06-10 09:43] leofeyer commented on #1630
Is there anything that we can do to fix the issue?

[2020-06-10 09:46] leofeyer commented on #1632
@ausi Did the debug output help you spot the issue?

[2020-06-10 09:48] ausi commented on #1632
No, I was not able to find the root cause of the issue.

[2020-06-10 09:48] leofeyer commented on #1393
This issue will be fixed.

[2020-06-10 09:51] m-vo commented on #1632
Is this reproducible in any 4.9 or just on some systems?

[2020-06-10 09:51] leofeyer commented on #1459
This issue will be fixed as soon as #1134 has been merged.

[2020-06-10 09:55] leofeyer commented on #874
Wie wäre es mit "Picker öffnen"?

[2020-06-10 10:00] leofeyer commented on #813
We need to confirm and fix this issue.

[2020-06-10 10:04] leofeyer commented on #1090
I think so, too. Will you make a PR?

[2020-06-10 10:13] leofeyer commented on #1725
Are you sure? Which ones?

[2020-06-10 10:23] berecont opened #1805 "Backend Dropdown 'Abmelden"
**Affected version(s)**

Contao 4.9 - ggf. auch andere Versionen

**Description**

Dateiverwaltung - Quelltexteditor
z-index der ersten markierten Zeile überdeckt das Dropdown-Menu, den letzten Menüpunkt 'Abmelden'
![backend-abmelden-z-index_01](https://user-images.githubusercontent.com/33038265/84256977-f2d59280-ab14-11ea-84c2-8946fbe0ec00.png)

**Abhilfe**
`#tmenu ul.menu_level_1 {z-index:7;} `

[2020-06-10 10:24] Toflar commented on #1641
Easy to confirm: The `toggleVisibility` callbacks never execute cache tag invalidation because they do not rely on DC methods.

[2020-06-10 10:40] aschempp commented on #1805
I could not reproduce the issue in Contao 4.4, therefore I assigned it to 4.9

[2020-06-10 11:06] ausi commented on #1090
Yes.

[2020-06-10 11:07] ausi commented on #874
„Link auswählen“?

[2020-06-10 11:10] asaage commented on #855
@stalebot: Thanks for your notification.

[2020-06-10 11:13] ausi commented on #1804
I think this is a bug and we should change the code in https://github.com/contao/contao/blob/5790005f0bb3f5523f69bb658349235b4c7cbadd/manager-bundle/src/EventListener/BackendMenuListener.php#L165 to insert the link at the correct position.

[2020-06-10 11:18] Mynyx commented on #874
Wäre "Element auswählen" nicht konsistenter?

[2020-06-10 12:53] fenepedia commented on #1407
@leofeyer Kannst du dir das noch mal ansehen.

[2020-06-10 13:44] ausi commented on #937
Done in #1807

[2020-06-10 13:44] #937 closed, assigned to ausi

[2020-06-10 15:10] leofeyer commented on #1804
It is actually not a bug. We are only sorting the output of `BackendUser::navigation()` alphabetically but we are not messing with menu items that are added through event listeners. And the Contao Manager link is (intentionally) added last.

[2020-06-10 15:16] leofeyer commented on #1723
Wie genau würdest Du die Meldung anpassen wollen?

[2020-06-10 15:17] fritzmg commented on #732
Still reproducible in Contao 4.9.3.

[2020-06-10 15:17] leofeyer commented on #1722
Es ist so beabsichtigt, dass nicht alle Log-Einträge aus `var/log` auch im Backend landen. Insbesondere nicht die, für die es eine Pretty-Error-Screen gibt.

[2020-06-10 15:30] kikmedia commented on #1804
May I ask what your intention was?

[2020-06-10 16:49] m-vo commented on #1804
The manager isn't part of the application and thus the link should be separate? Imo that's correct.

[2020-06-10 21:52] asaage commented on #855
I couldn't reproduce this in 4.9.3. The menu seems to be correct now - not shure why.
But the internal-redirect-page without target still does not point to it's first child-page if that is also a redirect (in/external).

[2020-06-11 07:13] leofeyer commented on #855
That seems intended, as we are using the `PageModel::findFirstPublishedRegularByPid()` method to find the child page.

[2020-06-11 08:57] asaage commented on #855
Okay - I don't understand why it's only looking for regular pages (maybe to prevent redirect-loops?)
Can be closed then i guess - but i didn't try that for 4.4.

[2020-06-11 09:23] leofeyer commented on #855
Exactly.

[2020-06-11 09:23] #855 closed, assigned to nobody

[2020-06-11 09:48] koertho opened #1809 "Warning in ModuleRegistration when Username is empty"
**Affected version(s)**

Contao 4.9

**Description**

When registering a new member in the frontend and no username is set (which is possible since it must not be checked in field selection), a "empty password" warning is thrown on line 225 in ModuleRegistration (to be correct in SodiumPasswordEncoder line 93).

https://github.com/contao/contao/blob/4.9/core-bundle/src/Resources/contao/modules/Mod

[2020-06-11 11:48] aschempp commented on #239
@leofeyer this should be closed (see https://github.com/contao/contao/pull/1803) and not `up-for-discussion`?

[2020-06-11 13:52] zonky2 opened #1811 "Filterung im BE bei Seitenstruktur nach unveröffentlichte: geht nicht innerhalb eines Zweiges"
Filterung im BE bei Seitenstruktur nach unveröffentlichte: geht nicht innerhalb eines Zweiges

aus Demo:

![Zwischenablage02](https://user-images.githubusercontent.com/1045318/84393176-8b464280-abfb-11ea-9e78-a711af9a3888.jpg)

[2020-06-11 14:23] leofeyer commented on #239
Closed in favor of #1803.

[2020-06-11 14:23] #239 closed, assigned to nobody

[2020-06-11 15:06] leofeyer commented on #933
I would leave everything as is. 🤷‍♂️

[2020-06-11 15:21] leofeyer commented on #131
Is this issue still relevant now that Edge uses Chromium?

[2020-06-11 15:24] leofeyer commented on #813
Actually, this seems to be the desired result. If you do not specify a target, Contao will use the `PageModel::findFirstPublishedRegularByPid()` method to find a regular child page (not child-child page!). And since there is no regular page on the first level, showing the 404 page seems appropriate to me.

[2020-06-11 15:49] fritzmg commented on #131
I cannot reproduce this anymore in Microsoft Edge 44.18362.449.0

[2020-06-11 15:49] #131 closed, assigned to nobody

[2020-06-11 15:53] frontendschlampe commented on #813
I know, we already discussed it on a Mumble Call some months ago (I don't know, why it's not documented), but I think, it's not necessary that this should be desired. I think, it would be better if we can follow the redirect until there's a final page. There will also be no side effects if we change it, because nobody use it, because it ends in a 404.

Why is it "unconfirmed" - the behavior is con

[2020-06-11 16:09] leofeyer commented on #6372
FYI, we have discussed this again at the developer's meeting in February, 2020, and we have agreed that it does not have a high priority at the moment. Also, before we can implement the feature, we have to get rid of the MooTools and jQuery dependencies in the front end.

[2020-06-11 16:14] leofeyer commented on #5397
Again, I do not want to change the icon for the reasons mentioned above. What we can do is to add an option to the user profile to disable collapsing everywhere.

[2020-06-11 17:03] dp-designpilot opened #1813 "Crawler Problem"
**Affected version(s)**
Contao 4.9.3

**Description**
Ich habe in Plesk jetzt einiges probiert (auch das /tmp/contao-crawl Verzeichnis manuel zu erstellen, in dem ich es an diversen Orten probiert habe)

![Bildschirmfoto 2020-06-11 um 18 52 28](https://user-images.githubusercontent.com/57160987/84416807-010ad800-ac15-11ea-8c54-fc238b4b4015.png)
![Bildschirmfoto 2020-06-11 um 18 53 31](https://user

[2020-06-11 17:24] fritzmg commented on #1813
We had some issues with putting files in sub directories of the `sys_get_temp_dir()`, which is one of the reasons we deprecated the `AbstractLockedCommand`, iirc.

[2020-06-11 17:28] fritzmg commented on #1813
@dp-designpilot to check if the permission problem is with the sub directory, you could try to remove the sub-directory from

https://github.com/contao/contao/blob/87d21c174b5cb24305e2a5a0bfcb5206def42621/core-bundle/src/Resources/contao/classes/Crawl.php#L90

and

https://github.com/contao/contao/blob/87d21c174b5cb24305e2a5a0bfcb5206def42621/core-bundle/src/Resources/contao/classes/Crawl.php#L277

[2020-06-11 17:34] dp-designpilot commented on #1813
Can I try that?
https://community.contao.org/de/showthread.php?77356-Crawler-bricht-nach-kurzer-Zeit-(auch)-in-der-Konsole-ab&p=525773&viewfull=1#post525773

[2020-06-11 17:39] fritzmg commented on #1813
No, that has nothing to do with your problem.

[2020-06-11 17:54] fritzmg commented on #1786
Seems to be caused by a JavaScript error here:

https://github.com/contao/contao/blob/7def0fef3327c81c431d42cac11675accad3bb32/core-bundle/src/Resources/views/Frontend/preview_toolbar_base_js.html.twig#L247

Which will then stop the JavaScript execution and the event listener for the close button later on is never registered. When a non-admin user uses the preview, the user input field will not be

[2020-06-11 18:08] dp-designpilot commented on #1813
I followed the steps but had no result

[2020-06-11 18:23] fritzmg commented on #1813
Post the error message to confirm.

[2020-06-11 18:54] dp-designpilot commented on #1813
I just tried something now

https://github.com/contao/contao/blob/87d21c174b5cb24305e2a5a0bfcb5206def42621/core-bundle/src/Resources/contao/classes/Crawl.php#L90

**i changed the line to:** $crawLogsDir = 'contao-crawl';

and this

https://github.com/contao/contao/blob/87d21c174b5cb24305e2a5a0bfcb5206def42621/core-bundle/src/Resources/contao/classes/Crawl.php#L277

**i changed the line to:** retur

[2020-06-11 19:13] math-GH commented on #1723
Vorschläge:

Ich würde das Feld einfach als "System-E-Mailadresse" bezeichnen (oder: "E-Mailadresse des Systems")

Beschreibung: "Diese E-Mailadresse wird zum Versenden und Empfangen von System-Nachrichten verwendet"

[2020-06-11 19:42] ausi commented on #1090
Closed in favor of #1814 and #1815

[2020-06-11 19:42] #1090 closed, assigned to ausi

[2020-06-11 20:30] ausi commented on #1811
I can confirm the issue in Contao 4.4 and 4.9. It only occurs if a subtree is selected (`tl_page_node` in the session).

[2020-06-12 05:00] aschempp commented on #1723
Und in der Seitenstruktur dann „Seitenadmin“?

[2020-06-12 06:45] leofeyer commented on #126
I think so, too.

[2020-06-12 06:45] #126 closed, assigned to nobody

[2020-06-12 06:56] leofeyer commented on #403
See #1604

[2020-06-12 06:56] #403 closed, assigned to nobody

[2020-06-12 06:59] leofeyer commented on #475
It seems this has been fixed in https://github.com/symfony/symfony/pull/34671. Can we close our issue then?

[2020-06-12 07:03] leofeyer commented on #598
See #1669.

[2020-06-12 07:03] #598 closed, assigned to nobody

[2020-06-12 07:06] leofeyer commented on #681
See https://github.com/contao/contao/pull/1469.

[2020-06-12 07:06] #681 closed, assigned to nobody

[2020-06-12 07:17] leofeyer commented on #871
Nein, das haben wir zwar in #853 diskutiert, aber letztendlich haben wir dann #1196 implementiert.

[2020-06-12 07:20] leofeyer commented on #930
Siehe https://github.com/contao/contao/pull/168.

[2020-06-12 07:20] #930 closed, assigned to nobody

[2020-06-12 07:23] leofeyer commented on #992
Nur am Rande erwähnt: Der `templates`-Ordner ist für Templates gedacht, die der Nutzer selbst angepasst hat. Wenn ein Theme dort 650 Dateien ablegt, ist das ein Fehler im Theme. 🤷‍♂️

[2020-06-12 07:33] zonky2 commented on #992
hast Du im Prinzip recht... aber da man nicht mit weiteren Template-Unterordnern arbeiten kann, wäre das sicher ein hilfreiches Feature

[2020-06-12 07:34] zonky2 commented on #992
@leofeyer was für Hilfe benötigst Du konkret?

[2020-06-12 07:41] leofeyer commented on #1490
Duplicate of #599

[2020-06-12 07:41] #1490 closed, assigned to nobody

[2020-06-12 07:42] leofeyer commented on #1508
See #1528

[2020-06-12 07:42] #1508 closed, assigned to nobody

[2020-06-12 09:53] leofeyer commented on #1804
@kikmedia What exactly do you mean? Why we are only sorting the `navigation()` output alphabetically or why we are adding the Manager link last?

[2020-06-12 09:54] fritzmg commented on #1407
I can confirm the issue. Protected pages do not show up in the sitemap, if

[code]
(the default), but they do show up if

[code]

[2020-06-12 10:06] leofeyer commented on #813
You are reporting a bug, which I cannot reproduce, because I think that the behavior is correct. Therefore I cannot confirm that this is a bug -> unconfirmed. 🤷‍♂️

@contao/developers Do you agree that the current behavior is correct?

[2020-06-12 10:13] leofeyer commented on #992
<img width="570" alt="" src="https://user-images.githubusercontent.com/1192057/84492178-111ec800-aca6-11ea-88e7-72381005a254.png">

Siehe https://github.com/contao/contao/labels

[2020-06-12 10:15] fritzmg commented on #813
Did this ever work before? If not, then I would consider it a new feature.

[2020-06-12 10:21] leofeyer commented on #1234
Can you maybe create a PR?

[2020-06-12 10:26] leofeyer commented on #1245
I cannot reproduce the issue. I was able to delete 500 log entries at once within a few seconds and without any error. It might be a server-specific problem.

[2020-06-12 10:30] leofeyer commented on #1721
I don't have Windows, so someone else needs to debug this.

[2020-06-12 10:31] zonky2 commented on #992
o.k.

[2020-06-12 10:37] leofeyer commented on #1734
@fritzmg Can you create a separate issue (or preferably PR) hereto? Then we can close this issue.

[2020-06-12 10:39] #1751 closed, assigned to nobody

[2020-06-12 10:41] leofeyer commented on #1764
@contao/developers Either the docs or the code is wrong here. Which one is it?

[2020-06-12 10:44] leofeyer commented on #1775
Does this affect both Contao 4.4 and 4.9?

[2020-06-12 10:45] leofeyer commented on #1780
Is there an error message in the browser console?

[2020-06-12 10:46] fritzmg commented on #1764
Hm, do you mean we should add "but not if the module was included via Content Element" to the docs?

The same applies to `getContentElement` and `getArticle`. These hooks aren't executed, if the content element `alias` or `article` is used.

[2020-06-12 10:48] fritzmg commented on #1775
Yes, just reproduced it in Contao 4.4.49 too.

[2020-06-12 10:51] fritzmg opened #1819 "Show custom default template for fragments"
See https://github.com/contao/contao/issues/1734#issuecomment-630647379

@contao/developers bug or feature?

[2020-06-12 10:51] fritzmg commented on #1734
@leofeyer done: https://github.com/contao/contao/issues/1819

[2020-06-12 10:56] fritzmg commented on #1721
I'll work on this.

[2020-06-12 11:01] frontendschlampe commented on #813
ah ... ok ... I see ... np :-)

I don't think, that it ever work before, so we can decide if it's a bug, a feature or a known limitation. ;-)

[2020-06-12 11:10] Toflar commented on #1764
That's just been that way ever sine, really. I have encountered this multiple times in 12 years of Contao. I'm pretty sure some people somehow rely on the fact that this is the case by now.
I agree it's inconsistent but I wouldn't fix this in the core for said reasons.

[2020-06-12 11:14] kikmedia commented on #1804
I was just curious why everything in navigation is sorted alphabetically but the part of the manager is not. I'm not going to claim about that decision (even if I think it's so-so), but I think from a usabitilty point of view the position of the manager is unexpected. If everything is sorted, why this one is not?

On the other hand this is quite cool because there is one think which position never

[2020-06-12 11:17] kikmedia commented on #5397
Well, if this is the solution we can get, we shall get it on a per user base.

Regarding the buttons: They _are_ small. Would you mind to put those additional CSS lines in so it would be easier to get them?

[2020-06-12 11:23] leofeyer commented on #1785
Maybe we should not log failing requests for a non-existing favicon. Just like you would configure your web server, e.g. Nginx:

[code]

[2020-06-12 11:39] Samson1964 opened #1820 "system/themes/default/images/about.gif wird nicht gefunden"
Contao 4.8

Ist vielleicht in der 4.9 schon behoben.
In der 4.8 gibt es kein default-Theme mehr für das Backend, weshalb bei einem DCA-Feld vom Typ checkbox diese Grafik nicht mehr gefunden wird, wenn man die Option explanation verwendet.

Funktionierendes Beispiel. Hier wird system/themes/flexible/icons/about.svg angezeigt und das verlinkte Popup zeigt den Hilfetext an:

[code]

Dieses Beispiel f

[2020-06-12 11:53] aschempp commented on #1820
Contao 4.8 wird nicht mehr unterstütz. Bitte teste das auf Contao 4.9, dann gerne das Ticket wieder öffnen falls der Fehler noch besteht.

[2020-06-12 11:53] #1820 closed, assigned to nobody

[2020-06-12 12:14] leofeyer commented on #1804
I feel like we have to discuss this again. I am not too happy with the alphabetic sorting, either.

[2020-06-12 12:16] leofeyer commented on #1813
Yeah, we must not use `sys_get_temp_dir()`. It is too error-prone.

[2020-06-12 12:18] fritzmg commented on #1804
See also: https://github.com/contao/contao/issues/1706

I think it needs to be possible to define priorities for each back end module in `$GLOBALS['BE_MOD']` (see https://github.com/contao/contao/issues/1706#issuecomment-634493886).

[2020-06-12 12:22] fritzmg commented on #1813
imho each Contao instance - or rather Symfony application instance - should use its own temp directory within the project directory. Related: https://github.com/symfony/symfony/issues/23354

[2020-06-12 12:29] fritzmg commented on #1764
Technically you could still implement a `getContentElement` hook in addition to a `getFrontendModule` hook, and retrieve the module there, since the `getContentElement` hook is (or at least should be) still executed for the `module` content element.

I will add some notes to the dev docs (see https://github.com/contao/docs/issues/433).

[2020-06-12 12:33] fritzmg commented on #813
I would label it as `feature` + `help wanted`.

[2020-06-12 12:35] leofeyer commented on #813
I'd vote for "known limitation", because if we would try to implement this, we'd run into more problems:

[code]

If we would adjust the router to find Page 11 in this case, which page should it find in this one?

[code]

And what about people who have exactly this setup and rely on the router to find Page 2, because the method is called (and has always been called) "findFirstPublished**Regular**P

[2020-06-12 12:38] leofeyer commented on #1764
Yes, because our alias elements have been designed to only adopt the content of an element, not the settings. This is also the reason why an alias element does not inherit the CSS classes of the original element.

[2020-06-12 12:40] leofeyer commented on #1734
Thank you. 👍

[2020-06-12 12:40] #1734 closed, assigned to nobody

[2020-06-12 12:40] leofeyer commented on #1819
I would say it is a bug.

[2020-06-12 12:56] fritzmg commented on #1721
Btw. I was able to reproduce this in Chrome as well with different zoom settings. Example with 80% zoom on a device configured with a pixel density ratio of **1**:

![chrome](https://user-images.githubusercontent.com/4970961/84504584-13881e80-acb4-11ea-8fc3-b0ed4a23b0cf.png)

Imho the current CSS relies too much on individual elements of the widget (the `h3`, the `input/select/textarea` and the `p

[2020-06-12 13:05] leofeyer commented on #556
#1256 has shown that we need to re-discuss the concept again.

[2020-06-12 13:31] fritzmg commented on #1721
Closing in favour of #1823 (Contao 4.9) & #1824 (Contao 4.4).

[2020-06-12 13:31] #1721 closed, assigned to fritzmg

[2020-06-12 13:40] ausi commented on #1780
If you want to load webfonts from a different domain you have to make sure, that your webserver of your CDN sets the appropriate `Access-Control-Allow-Origin` header for the font files.

[2020-06-12 14:24] dp-designpilot commented on #1813
Is there still a solution for this bug? Or can I do that?

[2020-06-12 15:06] ausi commented on #827
Closed in favor of #1825

[2020-06-12 15:06] #827 closed, assigned to ausi

[2020-06-12 18:12] Defcon0 commented on #1785
That would becan option, I think.

[2020-06-13 04:04] hamidpeywasti commented on #1780
Error in "Inspector Console":

`Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at https://cdn.mywebsite.com/files/theme/fonts/Shabnam/Shabnam-WOL.woff2. (Reason: CORS header Access-Control-Allow-Origin missing).`

Yes, My solution was adding `Header set Access-Control-Allow-Origin "*"` in .htaccess, and everything OK.

What interesting to me is that, thi

[2020-06-13 07:17] ausi commented on #1780
This would indicate that without “Combine scripts” the font gets loaded from a different domain.

Can you disable “Combine scripts” in your website and post a link to it?
Or alternatively look at the source code to check from which domains the CSS and font files get loaded?

[2020-06-13 09:20] hamidpeywasti commented on #1780
Whitout "Combine scripts", css files are loading from main domain and not CDN!
After enable "Conbine scripts", css files loaded form CDN?

CDN = https://cdn.pmtcookware.com

page without "Combine scripts": https://pmtcookware.com/fa/
page with "Combine scripts": https://pmtcookware.com/fa/about

Ich denke: The problem is that, when "Combine scripts" is enabled, "assets [or files] URL" is not appli

[2020-06-13 09:30] ausi commented on #1780
I think it is the other way round, when “Combine scripts” is **disabled** the assets/files URL seems to be missing.

[2020-06-13 09:33] ausi commented on #1780
I was able to reproduce it in 4.9. Does this issue occur in Contao 4.4 too?

[2020-06-13 10:22] hamidpeywasti commented on #1780
Dann muss der Titel geändert werden.

[2020-06-13 15:10] math-GH commented on #1723
klingt nachvollziehbar

[2020-06-15 11:26] Toflar commented on #1813
I've said this many times before: We must be able to rely on `sys_get_temp_dir()`. It is an invalid configuration if this doesn't work. There's loads of stuff that depends on that, in all kinds of third-party libraries we're using.

[2020-06-15 11:27] fritzmg commented on #1793
Personally I find the new default focus outline of Chrome to be very helpful and enjoyable in the Contao back end.

However, this decision should of course not be made based upon personal tastes or opinions. I think we should consult UX and more importantly accessibility experts for this.

[2020-06-15 13:27] leofeyer commented on #1813
Actually, I could not find a single place where `sys_get_temp_dir()` is used in the production part of the code. Granted, it is used a lot in unit test classes and mocks, but that is not problematic.

Can you point me to where `sys_get_temp_dir()` is used in production?

[2020-06-15 14:05] Toflar commented on #1813
* `Symfony\Component\Lock\Store\FlockStore.php`
* `Symfony\Component\Process\Pipes\WindowsPipes.php`
* `Symfony\Component\Translation\Util\XliffUtils.php`
* `Symfony\Component\DomCrawler\Field\FileFormField.php`
* `Symfony\Component\DependencyInjection\Loader\XmlFileLoader.php`
* `Symfony\Component\Console\Helper\QuestionHelper.php`
* `Symfony\Component\Cache\Traits\FilesystemCommonTrait.php`
* a

[2020-06-15 16:09] ausi commented on #1813
The folder for `sys_get_temp_dir()` can be customized via *php.ini*. So if someone has problems with the temp directory from the system they could try to set the following in their *php.ini* configuration:

[code]

Or in the apache config:

[code]

@dp-designpilot can you try if this solves your issue?

[2020-06-16 13:12] hh-com opened #1835 "Backend - News-Preview Button redirects wrong on multidomain"
Contao 4.9.3

**Description**
Preview Button (News) generates a wrong Frontend-Link when using multidomain:
https://demo.contao.org/en/https%3A/demox.contao.org/preview.php/de/news/9.html

**Reproduce on the Contao Demo:**
1) Duplicate the page tree.
2) Insert two different Domainnames in both trees.
3) Duplicate the News archive and insert the JumpTo-Site to the new page tree.
4) Go to a news-ite

[2020-06-16 22:24] #1435 closed, assigned to nobody

[2020-06-16 22:24] #614 closed, assigned to nobody

[2020-06-16 22:24] #1616 closed, assigned to nobody

[2020-06-16 22:24] #1648 closed, assigned to nobody

[2020-06-16 22:24] #825 closed, assigned to nobody

[2020-06-16 22:24] #1709 closed, assigned to nobody

[2020-06-16 22:53] #496 closed, assigned to nobody

[2020-06-16 22:53] #583 closed, assigned to nobody

[2020-06-16 22:53] #729 closed, assigned to nobody

[2020-06-17 09:25] bezin opened #1842 "Add image size to news and calendar feed for teaser images"
Hello there,

while working with the Contao core news feed I stumbled upon the issue, that the link to the teaser images will point to the source image in the files folder. However, these images might be a couple of MB in size. I would prefer to define a specific image size for this, so that the link points to an optimized thumbnail in the feed and even takes the important area into account.

This

[2020-06-17 10:28] #1646 closed, assigned to nobody

[2020-06-17 13:17] asaage commented on #1842
Shouldn't the teaser-images be linked to the news-details-view?
At least for news-lists that is the default case - and if you specify the full-size/lightbox-view
tl_layout->lightboxSize would be applied.
I would prefer the feed to behave likewise.

Thoughts on the other issue:
I use the core-newsletter solution and added templates to the be_tinyNews.html5.
https://www.tiny.cloud/docs/plugins/templ

[2020-06-17 15:28] #1310 closed, assigned to nobody

[2020-06-18 18:34] hjotto opened #1845 "Inhaltselemente duplizieren erzeugt Fehlermeldung"
Contao 4.9.3

**Description**

Fehler trat in eigener Installation und auf https://demo.contao.org auf.

Beim Duplizieren eines Inhaltelements vom Typ "Inhaltselement" (Include-Elemente > Inhaltselement) und dem gleichzeitigen ändern des "Bezogenes Inhaltselement" ohne Zwischenschritt "Speichern" erfolgt beim abschließenden Speichern eine Fehlermeldung. Das neue "Bezogenes Inhaltselement" muss von

[2020-06-19 08:16] tdoescher opened #1846 "Contao 4.9: Der picture-InsertTag setzt height/width im img-Tag"
### Version: Contao 4.9.3

Wenn man den picture-InsertTag mit einer Size-ID nutzt werden dem img-Tag höhen und breiten Angaben mitgegeben. Daher werden die Bilder nie in der richtigen Größe angezeigt.

**Aufruf:**
`
{{picture::ad662bdb-b201-11ea-a564-ee93f142c2bc?size=6}}
`

**Ergebnis:**
[code]

[2020-06-19 09:35] zonky2 opened #1847 "Bezogene Inhaltselemente "Kinder" optional mit löschen, wenn "Elternelement" gelöscht wird"
Aktuell müssen alle Kindelemente aufgespürt werden, wenn das Elternelement gelöscht wird. Mit der Erweiterung https://github.com/inspiredminds/contao-include-info wird das Aufspüren der "Kinder" erleichtert, eine Option, alle Kinder mit zu löschen, wäre m.E. schön.

Meinung dazu?

[2020-06-19 09:46] ausi commented on #1846
This is on purpose, see #937

[2020-06-19 09:46] #1846 closed, assigned to nobody

[2020-06-19 09:46] fritzmg commented on #1847
@zonky2 means the `alias` content element, by the way.

[2020-06-19 09:50] m-vo commented on #1847
What exactly is the question? :smile:

[2020-06-19 10:00] m-vo commented on #1847
related: https://github.com/contao/contao/issues/1682

[2020-06-20 07:27] bezin commented on #1842
What do you mean? The URL of the feed item links to the detail page, yes. But I am talking about the image file itself. This will be the source file from /files (i.e. the path stored in tl_files).

Your solution for the newsletter sounds interesting however we need a more powerful solution :-)

[2020-06-20 08:10] Georg-Git opened #1851 "Reset von 2FA eines Frontend Users"
Erfreue mich gerade an den 2FA Funktionen für Backend und Frontend User.

Als Admin vermisse ich jedoch die Funktion 2FA Daten von einzelnen Mitgliedern (also Frontend User) zu löschen/zu reseten. Aktuell muss ich dafür die entsprechenden 2FA Felder des Frontend Users in der DB Löschen.

[2020-06-20 11:07] Georg-Git opened #1852 "2FA Management bei Frontend User"
Die Stellen an denen 2FA für Frontend User konfiguriert werden kann, sind in Contao 4.9x an unerwarteten Stellen plaziert.

Hier als Feature Request:
1.) Den Zwang zur Aktivierung von 2FA für Mitglieder sollte man in den einzelnen Mitgliedergruppen festlegen können.

2.) Einige 2FA Funktionen gehören meine Meinung nach in das Modul Personendaten - so wie z.B. das Passwort ja auch diesem Modul verw

[2020-06-20 15:36] Ernestopheles opened #1853 "downloads element not accepting new files written by NC"
Contao 4.9

Downloads element showing to a directory /files/dir/.

Adding files to dir/ by notification center (.txt)

Downloads does not integrate these new files to it's list. New files will not be shown on side.

If new files being dragged and dropped in filemanager hence and forth, downloads will integrate them.

Maybe a bug of NC? Or of Contao?

[2020-06-20 15:41] fritzmg commented on #1853
If you selected a folder in the downloads element, then the element will only show files that have been added to the DBAFS (`tl_files`). Presumably, the NC does not add the generated file to the DBAFS.

[2020-06-20 15:42] Ernestopheles opened #1854 "Downloads element not removing deleted files from its list"
Contao 4.9

Downloads element showing to a directory /files/dir/.

Manually deleting files in filemanager from dir/

Downloads still having all files in it's list. All files will be shown on side, deleted ones with 0 Byte.

[2020-06-20 16:24] Ernestopheles commented on #1853
Yes, that is the case. I will move this issue to NC then

[2020-06-20 16:26] #1853 closed, assigned to nobody

[2020-06-20 16:26] Ernestopheles commented on #1853
[https://github.com/terminal42/contao-notification_center/issues/214](url)

[2020-06-21 09:40] fritzmg commented on #1854
I cannot reproduce the problem in Contao 4.9.3.

[2020-06-21 19:13] Ernestopheles commented on #1854
If I click "synchronize" the problem vanishes.

[2020-06-21 19:29] Ernestopheles commented on #1804
To fit every one it might be useful to implement a manual sort (like in content-element tree).
I personally did not care about the sorting yet.

[2020-06-21 19:45] Ernestopheles commented on #1725
I would appreciate if there was a **negative** protection also. That is to exclude a member group.

Let's say you have a member group _clubMember_ and you do not want to show the _application for Membership_ form to them (for they have already applied to).
S.th. like  _MemberGroup allow disallow_
where _allow_ and _disallow_ are radiobuttons.

Today we have _MemberGroup allow_
and this does in gen

[2020-06-21 20:06] xprojects-de commented on #962
[cachegrind.out.28.zip](https://github.com/contao/contao/files/4810193/cachegrind.out.28.zip)
![Bildschirmfoto 2020-06-21 um 21 56 08](https://user-images.githubusercontent.com/55982921/85234009-dd147700-b40a-11ea-95c7-cb17a9f11322.png)
![Bildschirmfoto 2020-06-21 um 21 57 32](https://user-images.githubusercontent.com/55982921/85234014-df76d100-b40a-11ea-8640-4b271496f364.png)

Hallo zusammen,
ich

[2020-06-21 20:34] fritzmg commented on #962
It seems the `getRemovedIds` calls can also be a problem on All-Inkl in the file manager, if you have a lot of files there. See https://contao.slack.com/archives/CK4J0KNDB/p1590592212361400 (if still available).

[2020-06-21 20:40] fritzmg commented on #1854
Are you sure you deleted the file via the file manager in the back end and not through other means?

[2020-06-21 22:20] Ernestopheles commented on #1854
Testing it now does not show any misbehaviour. Not sure why, did system maintenance in between, perhaps s.th. having being inconsistent before.

[2020-06-21 22:28] Ernestopheles commented on #1854
I will reopen if I experience the problem again

[2020-06-21 22:28] #1854 closed, assigned to nobody

[2020-06-22 07:39] Toflar commented on #962
I already found this issue last week and this is going to be fixed in the next 4.9. See https://github.com/contao/contao/pull/1840.
But the real problem here - again - are slow filesystem accesses. I could only notice it on systems that had `open.base_dir` enabled in which case PHP's realpath cache gets disabled and thus no file information can be cached. That's a considerable performance loss (I'

[2020-06-22 07:46] fritzmg opened #1855 "Cannot move website root to the top"
**Affected version(s)**

Contao 4.9.3 (does not occur in 4.4)

**Description**

Website roots cannot be moved to the top currently.

**Reproduction**

1. Log into the back end of the Contao Online Demo.
2. Create a new website root and put it after the existing one.
3. Now click on the blue move icon, in order to move it to the top.
4. Click on the paste icon at the very top right, to put it in fr

[2020-06-22 08:27] theDyingMountain opened #1856 "O'Auth Unterstützung"
Ich bekomme in letzter Zeit vermehrt Anfragen, ob die Contao Logins auch für andere Plattformen verwendet werden können. Leider ist dies ja noch nicht möglich. Eine O'Auth Unterstützung wäre für mich daher sehr hoch priorisiert. Wie sieht es bei anderen Nutzern aus? Zur technischen Umsetzung fehlt mir leider der tiefe Einblick.

[2020-06-22 12:23] kreativsoehne commented on #1758
Hallo, es wäre schön wenn dieser Bug in der 4.9.3 schnell gelöst werden könnte.
Man hat keinerlei Zugriff mehr auf die "default" Templates. Wir können aktuell gar keine neuen Inhaltselemente mehr anlegen, nur solchem, die wir ins eigene Theme abgeleitet haben.

[2020-06-22 13:00] fritzmg commented on #1758
@Kreativsoehne It sounds more like you need general support from the Contao community, as there is no such known bug within Contao. Likely you are experiencing problems caused by an extension.

[2020-06-22 13:24] kreativsoehne commented on #1758
i thought the closed ticket above was the bug report.
i create a new one.

[2020-06-22 13:28] kreativsoehne opened #1857 "Keine default Template-Auswahl beim Anlegen von Inhaltselementen"
**Affected version(s)**

Contao 4.9.3

**Description**

Nach dem Update von Contao 4.9.2. auf Contao 4.9.3 gibt es im Backend beim Anlegen von Inhaltselementen nur noch die Option auf abgeleitete Templates im eigenen Theme-Ordner zuzugreifen.
Hier am Beispiel einer Überschrift zu sehen.
Es wird kein default-Inhaltselement mehr zugelassen bzw. zur Auswahl bereitgestellt.
Auch der Versuch "ce_headli

[2020-06-22 13:33] fritzmg commented on #1857
According to your screenshot, you are using a PCT theme. This is a known issue with their extensions. Please contact PCT for support.

[2020-06-22 13:33] #1857 closed, assigned to nobody

[2020-06-22 13:39] fritzmg commented on #1758
No, this is about an improvement. You are experiencing a different problem, likely caused by an extension.

[2020-06-22 13:51] Defcon0 commented on #1787
Couldn't do that. All of a sudden now it's gone. Very strange.

[2020-06-22 13:51] #1787 closed, assigned to nobody

[2020-06-22 14:16] Ernestopheles opened #1858 "subscriptions and cancellations user friendly"
**Feature request for newsletter subscription and cancellation modules.**

Please change:

If user is logged in:
subscription module:  show only Channels not already been subscribed to by that user.
cancellation module:  show only Channels already been subscribed to by that user.
Both modules: preallocate email of that user, user may override.

[2020-06-22 14:21] fritzmg commented on #1858
If this is a bug report, please describe your bug in more detail.

If this is a feature request, please provide more detail for your proposal.

[2020-06-22 14:30] Ernestopheles commented on #1858
Done

[2020-06-22 15:02] asaage opened #1859 "UX - improve handling of conditional mandatory fields"
There is one thing which bothers me a long time already and i dont' know a propper solution, that is applicable in the BE.
Whenever there are checkboxes in the BE wich cause mandatory additional fields to appear in the palette the state of this item is kind of stuck.
Let's name the ```Add an image``` or ```Protect element``` checkboxes for exampple in tl_content (there are a lot more).
![image](ht

[2020-06-23 07:30] ausi commented on #1813
@dp-designpilot were you able to solve your issue with my suggestion from above?

[2020-06-23 08:36] netzarbeiter commented on #1859
Do you now the way with "Reset selection"?

![Reset-selection](https://user-images.githubusercontent.com/1942550/85380545-58764580-b53d-11ea-93db-2daece33e24f.png)

[2020-06-23 08:41] fritzmg commented on #1859
Reproduction:

1. Create a new `text` content element.
2. Check __Add an image__.
3. Choose an image and save.
4. De-select the image.
5. Uncheck __Add an image__ and save.
6. Recheck __Add an image__.

The previously selected image will still be selected, even though the image had been deselected before. This is because unchecking __Add an image__ also removes the image selection, thus the unsele

[2020-06-23 08:51] m-vo opened #1860 "Deprecations vs. functional testing"
While building functional tests for #1753 I noticed I cannot test legacy code paths that trigger an `E_USER_DEPRECATED` error type. They will fail  with exit code 1 due to remaining 'self deprecation notices'.

Probably because of the deprecation helper in place it's not possible to use `$this->expectDeprecation()` in the tests (PHPUnit reports `Failed asserting that exception of type "PHPUnit\Fra

[2020-06-23 09:41] asaage commented on #1859
Absolutely - but you won't be ble to save that because a selection i mandatory as soon as **Add an image** is checked and you won't be able to "Reset selection" if **Add an image** is unchecked.

I did open this as a FR and not necessarily as a bug because i always considered this a known limitation.
Maybe a *submit-on-change* for the mandatory fields in question could eliviate this problem but i'

[2020-06-23 10:16] m-vo opened #1862 "List of bugs/quirks in Controller::addImageToTemplate"
**Affected version(s)**
Contao 4.4 ./ 4.9

**Description**
The current implementation of `Controlller::addImageToTemplate()` contains some bugs + quirks. I'm collecting these in this *meta/documentary issue* while writing tests for #1753 (intended to replace the logic) so that we can decide later on which ones we possibly want to fix for 4.4/4.9.

### Issues
* [ ] bad array access / `$imgSize` can

[2020-06-23 12:10] leofeyer commented on #1860
This will help:

[code]

[2020-06-23 12:17] leofeyer commented on #1859
I fail to see the problem here. Either you want to add an image, so you enable the checkbox and select an image (mandatory field), or you do not want to add an image, so you disable the checkbox. Contao does not care if the `singleSRC` column is empty or not – unless you enable the "Add an image" checkbox, no image will be added.

[2020-06-23 13:07] m-vo commented on #1860
Nice. Adding the 'legacy' group via annotation does the trick.

Is this something the deprecation helper is reading (the annotations)? Because apparently it does not work the programmatic way via `$this->setGroups()` which I tried before :smile: ...

[2020-06-23 14:25] asaage commented on #1859
It's not a Problem in the FE.
It just happens, that in the designprocess i fiddle a lot with placeholder-images or experiment with protection settings an often do copy elements and decide to change the type later on.
 Like text with added image vs. text and separate image or protected elements vs. protected articles.
When the customer later decides to change things on his own there might be cases

[2020-06-23 14:47] m-vo commented on #1859
That's a limitation of the current DCA/shared model concept. We're running over this issue all the time but I think we cannot change anything.

It's also a feature btw (think switching between content elements and reusing input fields or accidentally clicking on a checkbox), so it's not even 100% clear what the intended behavior should be.

[2020-06-23 15:17] #1860 closed, assigned to nobody

[2020-06-24 12:29] leofeyer opened #1866 "Add "CSV (Microsoft Excel)" as new export option"
I think we should tag this issue as feature for Contao 4.10 and add “CSV (Microsoft Excel)” as a new format that uses the code from https://github.com/contao/contao/pull/1467#issuecomment-600186366

[code]

_Originally posted by @ausi in https://github.com/contao/contao/pull/1467#issuecomment-608093856_

[2020-06-24 15:10] webdecker opened #1867 "4.4.49: Fehler/Warning beim Löschen von Datensätzen in Contao\Database\Result (array_key_exists)"
**Affected version(s)**

Contao 4.4.49 (nach Upgrade von 4.4.47)
Contao 4.4.49 Core only

**Description**

Beim Löschen von Elementen mit Eltern-Bezug (z.B. Inhaltselemente, Newsletter-Abonnenten) wird die Warnung erzeugt:

Warning: array_key_exists() expects parameter 2 to be array, null given
in vendor/contao/core-bundle/src/Resources/contao/library/Contao/Database/Result.php (line 181)

Das Pro

[2020-06-24 15:13] fritzmg commented on #1867
Duplicate of https://github.com/contao/contao/pull/1741

[2020-06-24 15:13] #1867 closed, assigned to nobody

[2020-06-24 15:20] webdecker commented on #1867
Ah, okay, hatte ich nicht gefunden / gesehen. Danke!

Wobei o.g. Punkt 2 aber noch als eigentliche Ursache bleibt, ohne jetzt zu wissen, welche Relevanz die besagte Stelle hat ("Add the name of the parent elements"). Könnte falsche Ergebnisse liefert, falls die IDs tatsächlich mal passen...

[2020-06-25 08:24] #1866 closed, assigned to nobody

[2020-06-25 09:39] leofeyer commented on #316
Also das eigentliche Problem kann niemand reproduzieren?

[2020-06-25 09:44] leofeyer commented on #1627
I can confirm that the session cookie is **not** removed again after the unsuccessful login attempt. Here is the content of `$container->get('session')->all()`:

<img width="366" alt="" src="https://user-images.githubusercontent.com/1192057/85696433-3a454c80-b6d9-11ea-9463-5b7a643bdb3c.png">

[2020-06-25 09:46] leofeyer commented on #1696
@joseluisq Were you able to solve your issue? Then please close this issue.

[2020-06-25 09:47] leofeyer commented on #1795
@aschempp @fritzmg /cc

[2020-06-25 09:54] #1722 closed, assigned to nobody

[2020-06-25 09:54] aschempp commented on #1795
That must be a misunderstanding, I meant that it was always like that, even from the first draft. Unfortunately, it is different for hooks and callbacks, which isn't really intuitive. But I can't think of a way to change that without potential conflicts? 🤔

[2020-06-25 09:59] joseluisq commented on #1696
@leofeyer sorry for the delay.

Unfortunately we had no time to try to reproduce this along with your indications.
The team decided to go for the latest Contao `v4.9.3` and MySQL `v5.7` on production.

I'm going to close this issue for now.
If we found time to reproduce the environment again we let you know here.

[2020-06-25 10:01] leofeyer commented on #1856
Es gab dazu schon einmal eine Diskussion: https://github.com/contao/core/issues/7179 Es gab auch mal ein Bundle, das aber mittlerweile nicht mehr gepflegt wird: https://github.com/Craffft/contao-oauth2-bundle

Wie genau sieht Dein Use-Case aus?

[2020-06-25 10:03] fritzmg commented on #1795
If we want to keep BC in that regards, then I guess we have to live with it :(

[2020-06-25 10:04] leofeyer commented on #1852
Ob sich 1.) umsetzen lässt, kann @bytehead vermutlich besser beantworten.

Zu 2.) möchte ich anmerken, dass Passwortänderungen im Modul "Personendaten" nur aus historischen Gründen möglich sind. Es gibt inzwischen dafür das separate Modul "Passwort ändern", das neben dem neuen Passwort auch das alte Passwort abfragt. Aus diesem Grund soll das Modul "Personendaten" auch nicht für 2FA zuständig sein

[2020-06-25 10:06] leofeyer commented on #1851
Der vorgesehene Weg ist, dass Du Dich als der jeweilige Frontend-Benutzer anmeldest und dann die 2FA-Einstellungen anpasst.

<img width="426" alt="" src="https://user-images.githubusercontent.com/1192057/85700085-572f4f00-b6dc-11ea-98e8-4911077ad92f.png">

[2020-06-25 10:08] leofeyer commented on #1847
Sounds like a feature request for the Contao Include Info extension?

[2020-06-25 10:11] leofeyer commented on #1795
As long as it is documented correctly, I guess we could live with it.

[2020-06-25 11:18] Georg-Git commented on #1851
Wenn ich 2FA Zwang für Frontend User konfiguriert habe, wird der Button zur Deaktivierung von 2FA nicht angeboten - Dein Weg ist also nicht die Lösung für meinen Request.

[2020-06-25 12:12] rabauss commented on #1795
I can live with that too - if it's properly documented ;-)
@aschempp sorry for the misunderstanding - I was so confused with the order of the callbacks against hooks

[2020-06-25 12:31] leofeyer commented on #1851
Da hast Du Recht. @bytehead Wie hatten wir uns das denn gedacht?

[2020-06-25 12:45] fritzmg opened #1873 "Generate standard CSV in form generator"
**Affected version(s)**

Contao 4.4, 4.9

**Description**

Through https://github.com/contao/contao/pull/1870 I noticed that the form generator currently generates a non-standard CSV file with a semicolon as a separator, rather than a comma. Shouldn't it generate a true CSV file instead? Contao itself also expects a standard CSV file in other places, for example in the CSV import wizard.

[2020-06-25 13:15] Defcon0 opened #1874 "Using a dca picker to link a file in a tinymce textarea leads to the generated inserttag being replaced"
**Affected version(s)**

Contao 4.4 (4.9 not tested)

**Description**

When I select a file using the dcaPicker in a tinyMCE the `{{file::uuid}}` insert tag is created properly. But after saving the field, the insert tag gets replaced which shouldn't be the case because now the link isn't safe when the file is being moved using the file manager.

Is that a bug or intentionally? For pages and news

[2020-06-25 13:50] leofeyer commented on #1874
It is only replaced in TinyMCE, so it can render the image. The database value remains unchanged.

[2020-06-25 13:50] #1874 closed, assigned to nobody

[2020-06-25 13:56] leofeyer commented on #1873
AFAIK, Microsoft Office and Apple Numbers use a semicolon as CSV delimiter, too. This is because the comma is already reserved as decimal separator in German. See https://www.hutz.de/tipps/numbers-csv-komma-statt-semikolon/

[2020-06-25 14:01] fritzmg commented on #1873
Only with a German locale for example, not universally.

Yes, but Contao should follow international standards, and not cater to DACH only?

[2020-06-25 14:03] Defcon0 commented on #1874
Wow, didn't know that. Awesome :)

[2020-06-25 14:08] leofeyer commented on #1873
Using a semicolon as delimiter is safe for all number formats IMHO, not only the German one.

[2020-06-25 14:47] bytehead commented on #1852
Es wäre möglich, dass die Einstellungen zu 2FA für Mitglieder (enforce und redirect) in der Mitgliedergruppe anstatt der Root-Seite festgelegt werden können. Ist wohl eher eine "politische" Frage (@contao/developers). Technisch ist das aber machbar.

[2020-06-25 14:49] bytehead commented on #1851
Wenn 2FA erzwungen wird, dann darfst du es nicht deaktivieren können. Und eine Reset-Möglichkeit gibt es bis anhin meines Wissens noch nicht.

[2020-06-25 14:55] leofeyer commented on #1852
Bei GitHub kann auch jeder Organisation für sich entscheiden, ob 2FA verpflichtend ist oder nicht, daher wäre es glaube ich besser, wenn wir das in den Gruppen-Einstellungen hätten. Dann kann jeder selbst entscheiden, ob es für alle oder nur für ausgewählte Nutzer gelten soll.

[2020-06-25 14:56] bytehead commented on #1852
Ich kann das gerne umbauen, wenn das der Konsens ist 🙃

[2020-06-25 14:57] leofeyer commented on #1851
Die bräuchten wir aber wohl in dieser Konstellation. Eventuell könnten wir erlauben, dass ein Benutzer 2FA trotz 2FA-Zwang deaktiviert und dann direkt wieder zur Aktivierung umgeleitet wird?

[2020-06-25 14:59] bytehead commented on #1851
Wir müssen es erlauben. Umgehen kann man damit den 2FA-Zwang nicht, da wie du schon sagst, der Redirect auf die 2FA-Konfigurationsseite geschieht, sobald ein neuer Login stattfindet.

[2020-06-25 15:03] Toflar commented on #1852
Und wie machen wir das rückwärtskompatibel?

[2020-06-25 15:05] bytehead commented on #1852
In der Seite deprecaten und vorerst drin lassen (hat dann Prio über Einstellung in Gruppe)?

[2020-06-25 16:31] Georg-Git commented on #1852
In meinem Punkt 2 geht evtl. mein Wunsch unter, Frontend Mitgliedern kein 2FA Backup zu ermöglichen.
Das wäre dann auch eine Konfig Option in der Gruppenveraltung von Mitgliedern?

[2020-06-25 19:04] xprojects-de opened #1876 "Model liefert int immer als string"
**Affected version(s)**

Contao 4.9

**Description**

Model liefert INT-Felder immer als String aus und deswegen ist in der Bundle-Programmierung immer ein CAST notwendig!
Das Problem liegt an Doctrine, aber ist das so gewollt!? Problem scheint ja im Doctrine bekannt zu sein.
Sehr whrscheinlich hängt es aber auch von der installierten php_mysql-Version vom Server ab!

Laut I-Net könnte man es folg

[2020-06-25 19:10] m-vo commented on #1876
Das liegt an den Models (die Typen nicht wirklich kennen), nicht an Doctrine...

Aber eine `Model#getId(): int` bzw.  `Model#getPk(): int` fände ich auch schön. :smiley: (wenn das in allen Fällen denn immer stimmt)

[2020-06-25 19:39] xprojects-de commented on #1876
:-) Noch schöner wären natürlich sogar Entities welche man qausi dem Model optional als Skeleton mitgeben könnte! So würde aus dem dynamischen Model, welches ja quasi wirklich prinzipiell schon eine Entity ist, ein typsicheres Entity.
Vielleicht ja in der Zukunft :-) Ist ja nicht so trivial durch die Dynamik der User-Bundles!

Zurück zur Frage: Gibt es zu obigem Beispiel schon Ideen?

Edit:
Gerade

[2020-06-26 06:38] leofeyer commented on #1852
Ehrlich gesagt kann ich nicht nachvollziehen, wieso Du das möchtest. Backup-Codes sind ein essentieller Bestandteil von 2FA und sollten niemals deaktiviert werden. Andernfalls haben die Nutzer keine Möglichkeit mehr, sich einzuloggen, wenn sie ihr 2FA-Device verlieren oder die 2FA-Codes nicht mehr funktionieren.

[2020-06-26 07:38] Georg-Git commented on #1852
Mir geht es nur um Front End Nutzer.
1.) Die Dateien mit Backup Codes sind gleichzeitig auch ein Sicherheits Risiko.
2.) Der Verlust des 2FA Device ist ein Security Vorfall, von dem die Admins auch erfahren sollten.
Ohne Backup Code sind die Mitglieder gezwungen sich in jedem Fall beim Admin zu melden!
Der kann dann über Reset des alten 2FA Codes (siehe mein anderes Issue) dem Mitglied das Anlegen

[2020-06-26 13:16] heimseiten opened #1878 "'allowHtml' => true does not work in frontend with 'inputType' => 'textarea'"
**Affected version**
Contao 4.9

**Description**
If the table tl_member is extended with a field `'inputType' => 'textarea'`, the setting `'allowHtml' => true` does not work when edited in the frontend. If the field is changed to `'inputType' => 'text'` and nothing else is changed, it works.

For example, when saving the string `<br>` in the frontend, in the `database` the string `&lt;br&gt;` is s

[2020-06-26 15:56] Defcon0 opened #1882 "Contao 4.9 and InnoDB: SQLSTATE[42000]: Syntax error or access violation: 1118 Row size too large."
**Affected version(s)**

Contao 4.9

**Description**

I just upgraded a contao 3.5 system to 4.9 which worked great so far!

Now I tried to install some extensions and I get the following error:

[code]

I know the rowsize is limited, but the limit seems to be way smaller for InnoDB compared to MyISAM. I have a system way larger than the one mentioned above and there we have 490 columns in tl_modu

[2020-06-26 16:10] leofeyer commented on #1882
Here are two good reads:

* https://dev.mysql.com/doc/refman/8.0/en/column-count-limit.html
* https://mariadb.com/kb/en/troubleshooting-row-size-too-large-errors-with-innodb/

[2020-06-29 12:50] Defcon0 commented on #1882
OK, then we'll have to refactor some of our modules to store into a separate table instead of `tl_module`. As a workaround we switched to MyISAM using https://docs.contao.org/manual/de/installation/systemvoraussetzungen/#mysql-mindestanforderungen

[2020-06-29 12:57] fritzmg commented on #1882
You could also reduce the size of individual fields, if possible.

Also, in some cases it helps (for some reason) if you execute each `ALTER TABLE`  query individually.

[2020-06-29 12:58] Defcon0 commented on #1882
I did that already. Nevertheless I had no good feeling about reducing the size of some of the fields...

[2020-06-29 13:02] m-vo commented on #1882
This sounds like *a lot* of columns. Do you really need every single one to be individually searchable? You could either only store a reference to another table or serialize data (&larr; this is indeed not an antipattern if it is only ever used together).

[2020-06-29 13:05] fritzmg commented on #1882
Btw. related to or duplicate of https://github.com/contao/core/issues/7313 ;)

[2020-06-29 13:05] m-vo commented on #1882
By the way: There is a limit on how big a row can get independent of the storage engine - so it might only be a matter of time until you run into this (sth. around 64KB IIRC). Changing fields to referenced types (e.g. TEXT) could probably  help.

[2020-06-29 13:06] ausi opened #1885 "Check if DCA indexes are configured correctly"
@leofeyer https://github.com/contao/contao/pull/1679#discussion_r445514095 :

@ausi https://github.com/contao/contao/pull/1679#discussion_r445529262 :

[2020-06-29 13:10] fritzmg commented on #1882
@Defcon0 you could provide a PR for `DC_Table`, so that fields can be defined as `virtual` or something and don't have their own SQL definition. Instead, they'll be serialized as a JSON object into one single field. Not an easy task though probably ;)

[2020-06-29 13:11] Defcon0 commented on #1882
@m-vo As mentioned earlier, we already transformed nearly all of our modules like list bundle, filter bundle or reader bundle to have their config in their own table so we don't run into this problem.

But you're right. In fact not every field needs to be in a separate column. But it's best practice for performance reasons of course. `LIKE`ing a serialized column is slower that an oradinary one.

[2020-06-29 14:08] aschempp commented on #1885
be aware that some of these originate from the routing component, so you might want to check that code

[2020-06-29 14:14] leofeyer commented on #1885
Original issue: https://github.com/contao/core/issues/7450
@KaiserCh /cc

[2020-06-29 15:23] leofeyer commented on #1882
Have you tried increasing the `innodb_page_size` value?

[2020-06-29 17:04] Defcon0 commented on #1882
No, because I thought I likely might not be able to change that in a live environment, am I?

[2020-06-30 08:03] leofeyer commented on #1882
True. The server admin would have to change this.

[2020-06-30 09:54] Defcon0 commented on #1882
So this is actually not an option sadly. Ok, I guess all is said concerning this problem. Thanks for the help!

[2020-06-30 09:54] #1882 closed, assigned to nobody

[2020-06-30 14:31] m-vo opened #6356 "Fixture loading should not be in FunctionalTestCase"
Currently the `FunctionalTestCase` extends from the `WebTestCase`:
https://github.com/contao/test-case/blob/b8ee4cb1a321cf1f7bcde8ee6c50acfb73370534/src/FunctionalTestCase.php#L12

This doesn't make sense to use for some functional tests that do *not* need to have a client (and should imho therefore extend from `KernelTestCase` instead).

What about extracting the fixture loading/database resettin

[2020-06-30 15:01] leofeyer opened #1887 "Reconsider redirects with status code 302"
**Affected version(s)**

Contao 4.4

**Description**

As discussed in https://github.com/contao/contao/pull/1762#issuecomment-651129888, we should check all places where we currently use a 302 redirect and replace it with 307 if applicable.

[2020-06-30 15:03] fritzmg commented on #1887
Don't you mean `303` or both?

[2020-06-30 15:05] leofeyer commented on #1887
Both. (But we are using `302` a lot more than `303`.)

[2020-06-30 15:09] fritzmg commented on #1887
I don't think so actually, since `Controller::redirect` is executed without its second argument a lot more. And that's a `303` redirect :). In fact, I can only find one `302` instance.

[2020-06-30 15:16] leofeyer commented on #1887
All `Page*` classes either use 301 or 302 redirects. And all the `getRedirectStatusCode()` methods do `return ($objPage->redirect == 'temporary') ? 302 : 301`.

But it does not matter anyway. We have to check all 302 and 303 redirects.

[2020-07-01 12:10] jimping opened #1888 "Redis Cache support"
Hello 👋🏽

I'd like to move from file cache to Redis cache but I can't find any documentation here or at symfony.
Is is already possible? And if so can you tell me how?

Thanks!

[2020-07-01 12:21] aschempp commented on #1888
Which file cache are you referring to, and what application did you install?

[2020-07-01 16:02] leofeyer opened #1889 "Road to Symfony 5"
This is a list of packages that `contao/contao` currently requires and that are not compatible with Symfony 5 yet.

* [x] [contao/manager-plugin](https://packagist.org/packages/contao/manager-plugin) → see https://github.com/contao/manager-plugin/pull/26
* [x] [contao/monorepo-tools](https://packagist.org/packages/contao/monorepo-tools) → see https://github.com/contao/monorepo-tools/pull/4
* [x] [

[2020-07-01 16:13] leofeyer commented on #1889
We will also have to change `"doctrine/doctrine-bundle": "^1.8"` to `"doctrine/doctrine-bundle": "^1.8 || ^2.0"` and `"doctrine/doctrine-migrations-bundle": "^1.1"` to `"doctrine/doctrine-migrations-bundle": "^1.1 || ^2.0 || ^3.0"` (if compatible).

And of course `"4.4.*"` to `"4.4.* || 5.1.*"` for all Symfony packages.

[2020-07-01 16:36] fritzmg commented on #1889
As mentioned in https://github.com/contao/contao/pull/1829 I'd also like to discuss whether we can allow installation of _specific_ symfony components in higher versions, rather than limiting all of `symfony/*` to one particular minor version.

[2020-07-01 16:37] leofeyer commented on #1889
Please create a separate issue for that.

[2020-07-01 20:16] m-vo commented on #1889
`lexik/maintenance-bundle` looks quite abandonded (the last commit is from Feb 14, 2018 and no activity since), although a [PR for SF5](https://github.com/lexik/LexikMaintenanceBundle/pull/91) is already there.

[2020-07-02 06:32] ausi commented on #1889
PR for monorepo-tools: https://github.com/contao/monorepo-tools/pull/4

[2020-07-02 11:10] leofeyer commented on #1889
The Doctrine Cache Bundle [has been deprecated](https://github.com/doctrine/DoctrineCacheBundle/issues/156) and there will not be a Symfony 5 version, therefore we have to use `symfony/cache` instead.

[code]

The example above is taken from the [Symfony recipe](https://github.com/symfony/recipes/blob/master/doctrine/doctrine-bundle/1.6/config/packages/prod/doctrine.yaml).

[2020-07-02 11:18] leofeyer commented on #1795
@rabauss @fritzmg So do we have to adjust the docs or is everything fine as is?

[2020-07-02 11:23] #1064 closed, assigned to nobody

[2020-07-02 11:51] fritzmg commented on #1795
We have to adjust the docs, it's on my todo list (PRs welcome though 😉).

[2020-07-02 13:45] leofeyer commented on #1889
Regarding the Lexik maintenance bundle: As discussed in Mumble on July 2nd, we want to fork the package and merge the [Symfony 5 PR](https://github.com/lexik/LexikMaintenanceBundle/pull/91) into the fork. In the long run, we want to get rid of the bundle and implement new solutions for two maintenance cases:

1. Disable the application (e.g. during deployment or DB updates)

Possible implementatio

[2020-07-02 14:59] leofeyer commented on #1804
As discussed in Mumble on July 2nd, we want to revert the alphabetical sorting. Instead, we want to allow each user to resort the menu items individually. (We still have to discuss whether to store these changes on the server or in the local browser storage.)

[2020-07-02 15:20] asaage commented on #1804
The local browser storage does not seem to be the right place...

- there are a bunch of items
- the order might easily get lost (browse incognito / different browser / ...)
- there will be no possibility as an admin to preorder items for other users

[2020-07-02 16:43] aschempp commented on #1804
@asaage is right, it sure must be in the user profile (simply the user session bag)

[2020-07-03 08:03] fritzmg commented on #1795
Btw. should we add the labels `bug` `incompatible` so that we might change this in Contao 5, if still applicable?

[2020-07-03 13:44] simon-1977 opened #1901 "Kategorisierung im CSS-Editor"
**Affected version(s)**

Contao 4.9.3

**Description**

Sind die CSS-Elemente kategorisiert und ein Filter auf die Kategorie gesetzt, dann wird die Kategorie beim Anlegen eines neuen Elements nicht übernommen.

[2020-07-04 19:19] math-GH opened #1905 "Formular: input text template"
**Affected version(s)**

Contao 4.9.3

**Description**

Formular generator

template for text inputs

![grafik](https://user-images.githubusercontent.com/1645099/86519534-e1458900-be3b-11ea-9311-29426eaa65a2.png)

but there is no form_text template. "Only" form_textfield.

![grafik](https://user-images.githubusercontent.com/1645099/86519549-00dcb180-be3c-11ea-9c32-6e19eebc82df.png)

[2020-07-04 20:57] math-GH opened #1906 "Firefox: Cookie “BE_PAGE_OFFSET” wird in Zukunft bald abgelehnt werden"
**Affected version(s)**

 Contao 4.9.3

Firefox 78

**Description**
Backend von Contao aufrufen. (Nachvollziehbar in der Contao Demo)

Aus der Konsole vom Firefox:

Das Cookie “BE_PAGE_OFFSET” wird in Zukunft bald abgelehnt werden, da es für das Attribut "sameSite" entweder "none" oder einen ungültigen Wert angibt, ohne das "secure"-Attribut zu verwenden. Weitere Informationen zum "sameSite"-Attri

[2020-07-04 21:08] math-GH opened #1907 "Extend HTML module with CSS class + ID"
**Affected version(s)**

all Contao versions

**Description**
insert module (module = html code).
![grafik](https://user-images.githubusercontent.com/1645099/86520986-0097e280-be4b-11ea-986c-7c018f3e2837.png)

The given CSS class and ID will not inserted into the frontend.

So the mod_html.html5 template should be extended to take care of the class+ID.

I suggest:
![grafik](https://user-images.git

[2020-07-04 22:18] fritzmg commented on #1906
Duplicate of #1760

[2020-07-04 22:18] #1906 closed, assigned to nobody

[2020-07-04 23:11] rabauss commented on #690
Why is this issue marked as incompatible?

[2020-07-05 08:57] fritzmg commented on #690
Yeah, this isn't incompatible at all actually? 😁 Contao can safely rename `analytics_piwik.html5` to `analytics_matomo.html5`, even in a bugfix version, since anyone actually using the template will have their own copy (still called `analytics_piwik`) in their `templates/` directory.

[2020-07-05 13:14] rabauss commented on #690
That's why I wondered about the incompatibility - maybe I will push a simple PR

[2020-07-05 15:31] ausi commented on #1907
This would break all use cases for seperate opening and closing HTML-elements (e.g. one element to open a `<div>` and one to close `</div>`). If you want to use a CSS class or ID you should set dem directly in the HTML-Code itself.

[2020-07-05 15:39] fritzmg commented on #1907
Yeah, this is intentional. You can still use the variables in your own `mod_html(_*)` template(s).

[2020-07-05 17:04] rabauss commented on #1816
Wir haben das für einen Kunden schon mal an einigen Stellen so gelöst, dass wir das Widget erweitert haben und uns die vorherigen Werte in der Session merken und dann mit den neuen Werten "mergen".
Das war und ist bei großen Installation die beste Lösung und funktioniert nun auch schon einige Zeit sehr zuverlässig.

Ich sehe das auch als neues aber sehr sehr hilfreiches Feature!

[2020-07-06 06:35] #1907 closed, assigned to nobody

[2020-07-06 06:43] leofeyer commented on #690
See #1908.

[2020-07-06 06:43] #690 closed, assigned to nobody

[2020-07-06 07:45] leofeyer commented on #1816
Wie habt ihr den Fall gelöst, dass der Kunde Bilder aus der Auswahl entfernen möchte?

[2020-07-06 09:06] theDyingMountain commented on #1856
Ja das Bundle hatte ich auch schon gefunden, aber aufgrund der eingestellten Pflege nicht verwendet.

Mein Usecase wäre die Verwendung der bestehende Contao Mitgliederlogins als Login für externe Tools, welche O'Auth unterstützen wie z.B. Nextcloud, Zoom, Mediawiki etc.

[2020-07-06 09:38] fritzmg commented on #1245
I was actually able to reproduce the issue in a customer's Contao 4.9.3 instance. There is not much of a stack trace though:

[code]

Judging by that, this may be related to https://github.com/contao/contao/issues/962, possibly fixed by https://github.com/contao/contao/pull/1840. I'll try to do some further testing.

[2020-07-06 09:40] fritzmg commented on #1245
@Anke if you can still reproduce the problem, you could try to implement #1840 in the affected Contao instance and test if that will fix the problem.

[2020-07-06 09:59] fritzmg commented on #1245
@leofeyer I think you should be able to reproduce it too, if you set `open_basedir` in your web environment. Deleting hundreds of records from the system log should then take a long time.