[2022-03-27 20:43] #4159 closed, assigned to ausi

[2022-03-28 06:53] aschempp opened #4399 "Failing functional tests after #4376"
### Affected version(s)

4.13

### Description

I tried to test the changes from https://github.com/contao/contao/pull/4394 but functional tests are not working for me anymore. Most likely because my database schema isn't be reset/tables are not truncated.

I get a lot of `Doctrine\DBAL\Exception\UniqueConstraintViolationException : An exception occurred while executing a query: SQLSTATE[23000]: I

[2022-03-28 07:07] ausi commented on #4399
Which MySQL MariaDB version do you use?

[2022-03-28 07:10] ausi commented on #4399
Does the following line succeed in your setup? https://github.com/contao/contao/blob/3b02c3a8c8e90a6e0c953cb08fec6322c2065082/test-case/src/FunctionalTestCase.php#L56

[2022-03-28 07:12] ausi commented on #4399
What happens if you change https://github.com/contao/contao/blob/3b02c3a8c8e90a6e0c953cb08fec6322c2065082/test-case/src/FunctionalTestCase.php#L113 to:
[code]

[2022-03-28 07:21] aschempp commented on #4390
how about checking the previous/current version when adding an new version whether it contains only one (autosubmitted) field change? Not sure that works if other fields are changes in the form.

[2022-03-28 08:52] aschempp commented on #4399
Server-Version: 5.7.34 - MySQL Community Server (GPL)

---

Running this in PHPStorm Database console gives

[code]

---

Then it works! 🎉

[2022-03-28 09:03] ausi commented on #4399
What happens if you change https://github.com/contao/contao/blob/3b02c3a8c8e90a6e0c953cb08fec6322c2065082/test-case/src/FunctionalTestCase.php#L111 to:
[code]

and revert the other mentioned changes?

[2022-03-28 09:06] aschempp commented on #4399
also, the following test seems to be failing now

[code]

---

That does not seem to work anymore

[2022-03-28 09:14] ausi opened #4400 "Change boolean from char(1) to tinyint(1)"
### Description

We should change all `char(1)` boolean columns to the boolean type from doctrine (which maps to tinyint(1) for MySQL).

[2022-03-28 09:16] ausi opened #4401 "Add new DBAL type ascii_bin"
### Description

New type `ascii_string`, similar to `binary_string` in https://github.com/contao/contao/blob/3b7eb6f3dc8c5a46fdb94cedef5d9194e0ee2576/core-bundle/src/Doctrine/DBAL/Types/BinaryStringType.php but for `VARCHAR(…) COLLATE ascii_bin`

Idea © @m-vo

[2022-03-28 09:18] ausi commented on #4399
Seems to be an issue with older MySQL versions, not sure how to clear the `information_schema` cache there.

[2022-03-28 09:27] m-vo commented on #4399
This is really strange. Is caching on the DB side really the problem?

With MySQL 8 the implementation of the information schema tables completely changed and only then started using ached views as an abstraction. Before, things were IMHO not cached at all (which was the root problem and people tried to use optimizations everywhere, see https://dev.mysql.com/doc/refman/5.7/en/information-schema-op

[2022-03-28 10:14] aschempp commented on #4401
Would the output be any different than the DB value? The `binary_string` type was necessary because Doctrine defaults to returning a stream for any binary data, not because of a "default SQL definition".

[2022-03-28 10:14] #4387 closed, assigned to Toflar

[2022-03-28 10:40] ausi commented on #4401
No.

[2022-03-28 11:55] m-vo opened #4403 "Move unrelated functionality out of legacy template engine"
### Description

These things that should probably be dropped/moved to response listeners (for reference see https://github.com/contao/contao/pull/4393#discussion_r835891783):

- Setting cache headers:
https://github.com/contao/contao/blob/3b7eb6f3dc8c5a46fdb94cedef5d9194e0ee2576/core-bundle/src/Resources/contao/classes/FrontendTemplate.php#L157-L211

- Replacing dynamic script tags, minify markup

[2022-03-28 12:54] zonky2 opened #4404 "No forwarding with auto login"
### Affected version(s)

4.9.24

### Description

When logging in, a redirect page is set and when logging in, there is also a redirect to the page. If the login is done via the auto login function, the forwarding page is not accessed and the user remains on the login page.

example:
I have `https://example.com/login` which redirects to `https://example.com/my-account` when logging in, i.e. with a

[2022-03-28 13:01] fritzmg commented on #4404
Currently the redirect settings of the login module have no effect during an auto login via remember me. We would need to implement that the login module somehow detects that a remember me login took place for the current request, so that it can execute redirects according to the redirect settings - _if_ we agree that such redirects should happen when accessing the page where the login module is i

[2022-03-28 13:21] akroii commented on #4253
I don't know if this issue fixed or not.
I'm getting the same error after i updated from 4.9.23 to 4.9.27.
Marketing suite was installed.

My attepts to fix:
1)  Upgrade to 4.9.27 with all Packages
2) Deinstall Marketing Suite
3) Refresh Prod and delete Dev-Cache and run Composer Update
4) Website is working again but Installtool doesn't

I got a stacktrace in Install-tool:
[code]

[2022-03-28 13:26] fritzmg commented on #4253
@akroii see the linked PR

[2022-03-28 13:35] ausi opened #4405 "Content Element HTML without sanitization"
### Description

It would be great to have a second HTML element and HTML module that completely skips sanitization. This might be available only to administrators or should be disabled by default for regular backend users.

[2022-03-28 13:36] Toflar commented on #4405
Marking this `up for discussion` because the implementation should be rather easy but naming will be hard 🙈

[2022-03-28 13:36] akroii commented on #4253
I already did... but nothing changed. Still same error in Install-Tool. Prod and Dev cache cleared again.

[2022-03-28 13:37] m-vo commented on #4405
Isn't this effectively the `TemplateController` element with a custom template?

[2022-03-28 13:38] Toflar commented on #4405
I don't want to allow admins access to the templates section because then they can also override core templates. This kills versioning.

[2022-03-28 13:45] fritzmg commented on #4253
What do you mean by that? This error exists in Contao 4.9.27. A newer Contao version (where the fix is applied) has not been released yet. You can use `4.9.x-dev` of `contao/core-bundle` if you want, downgrade to `4.9.26` (via `conflict`) or patch the `contao/core-bundle` accordingly.

[2022-03-28 13:49] akroii commented on #4253
I've made a typo... everything is working again.
Branch 4.9.x-dex worked for me
apologies for the excitement 😓

[2022-03-28 15:07] leofeyer commented on #4386
I‘m with @aschempp on this one. If someone send a response with a shared max age, we should not "correct" it. Maybe we can check if the header exists already?

[2022-03-28 15:15] m-vo commented on #4386
Just to make sure, we're talking about the same thing: It's not about adding anything to the `AbstractFragmentController` but the `AbstractContentElementController`. And this base class implements certain things common to our content elements (class names, css ids, headlines, automatic model tagging and so on …). Why should the start/stop setting that is present in every core content element be an

[2022-03-28 15:21] m-vo commented on #4386
Alternatively we could pass the pre-configured response in `getResponse()` as well. `$this->render()` supports passing in a response and the new fragment template could allow this as well.

[2022-03-28 15:36] leofeyer commented on #4386
Ah, I missed that. Then it makes sense I guess.

[2022-03-28 16:06] m-vo commented on #4386
I looked at this again, IMHO this is pretty easy to solve with the new architecture of #4393. :slightly_smiling_face:

See [`f520dc8` (#4393)](https://github.com/contao/contao/pull/4393/commits/f520dc808731eb7d7bfede54b4f18718036c7721).

There `$this->render()` prepares the response - this is what you get when calling `$template->getResponse()` or `$this->render()` in your cotroller's `getResponse

[2022-03-28 19:27] berecont opened #4406 "Backend dropzone fileuploader - z-index des X-Icon ist höher als <header>"
### Affected version(s)

4.9.27

### Description

z-index von `<div class="dz-success-mark">` ist höher gesetzt als `<header id="header">`.
Somit wird das X-icon über dem orangen Header dargestellt.
In meinem Fall ist die Erweiterung [om-backend] im Einsatz, die den z-index von 100 setzt. Doch ich konnte auch im Core keinen Eintrag finden, der den z-index des `<header>` höher als das Fehler-Icon s

[2022-03-29 08:57] leofeyer commented on #3246
See #4236.

[2022-03-29 09:01] #3597 closed, assigned to ausi

[2022-03-29 12:09] Xirdion commented on #4312
We have just created an extension that allows to insert a modal into the page.
It doesn't provide exactly the claims you ask for, but it's definitely a start.
https://github.com/sowieso-web/contao-modal-bundle

[2022-03-29 13:24] tarun-uwe commented on #4194
The Code for the Log message is still / again available in Contao 4.13.1 and 5.x

https://github.com/contao/contao/blob/c3344b2d3088ddc5c57a04afe67b2379bd820234/core-bundle/src/Resources/contao/modules/ModuleBreadcrumb.php#L259-L261

The pull request mentioned by @aschempp seems only to be merged for 4.12 but afterward is lost?

Do we need a new one for Contao 4.13 and 5.x or will it be added late

[2022-03-29 13:37] ausi commented on #3897
Closed in favor of #4408

[2022-03-29 13:37] #3897 closed, assigned to ausi

[2022-03-29 15:01] m-vo opened #4409 "Consider keeping unknown insert tags as plain strings"
### Description

Currently, insert tags that do not exist are replaced with an empty string. We should IMHO consider changing this in Contao 5 and rather treat unknown insert tags as plain strings. Example: `<{{foobar}}div>` will then remain `<{{foobar}}div>` instead of resulting in a valid div tag.

Yes, it has always been like this, but it will make sanitization simpler and lower the attack surf

[2022-03-29 15:43] cliffparnitzky commented on #4409
Generally I'm am on both sides. On the one hand it is great, that a non existing insert tag doesn't destroy the output in the frontend. On the other hand it is very hard to find broken insert tags. Maybe it is an idea to implement something like a switch, e.g. in production mode inserttags are replaced like it has always been and in debug mode they are not replaced with an empty string.

[2022-03-29 16:02] m-vo commented on #4409
Unknown insert tags are already logged.

If necessary, I'd rather have a config switch than a different output depending on the environment. Again for sanity. :slightly_smiling_face:

[2022-03-29 16:20] fritzmg commented on #4409
@m-vo the logging does not really help in finding them.

[2022-03-29 16:28] m-vo commented on #4409
I don't understand the problem, if an insert tag is not replaced with an empty string, but kept, the front end won't be "destroyed".  You can simply hit ctrl+f and search for double curly braces to find them?

[2022-03-29 17:52] aschempp opened #4412 "Spam Score issue with newsletter unsubscribe header"
### Affected version(s)

4.9

### Description

In https://github.com/contao/contao/issues/2174 we added a `List-Unsubscribe` header to the Contao newsletter module. In my case, the email content has this header:

[code]

As you can see, it contains encoded umlauts due to the included german translation. I tested my newsletter email with mailtrap.io, and it reported a spam score for `UNRESOLVED_TEM

[2022-03-29 18:08] fritzmg commented on #4412
May be it would be better to implement a "real" unsubscribe URL this time around? Instead of a simple `mailto:`. (At least in Contao 5.0.)

[2022-03-29 18:09] Toflar commented on #4412
Mailchimp does that too, by the way...

[2022-03-29 18:21] aschempp commented on #4412
does what too? The umlauts or the unsubscribe mail/link?

[2022-03-29 18:36] fritzmg commented on #4412
MailChimp provides both:

[code]

However, both will be automatically processed - whereas in Contao's case it's just a simple email to the site's admin.

[2022-03-29 19:36] aschempp commented on #4412
yeah the only thing I can imagine is linking an unsubscribe page/module in the newsletter channel. But that's not really the topic of this issue 😂

[2022-03-29 20:45] aschempp commented on #4409
Can you explain that?

In my (current) opinion, removing them is correct. We are building a CMS that is supposed to generate useful webpage content **for visitors**, not for developers or sanitizers. If it is hard to debug, we need to improve debugging options (like log the current page, a PR has already been drafted). We should jot make the journey for visitors worse.

[2022-03-29 21:19] aschempp commented on #4405
Sounds like a checkbox in the HTML element to me? But I don't really understand why we added the template element and now also need this?

[2022-03-29 21:22] fritzmg commented on #4412
Yes, I am in favour of changing the translation to something without Umlauts in Contao 4.9+ - but implement a proper unsubscribe page and module in Contao 5.0 that the newsletter can link to.

[2022-03-29 21:38] aschempp commented on #4193
A separate process? You mean run a command?

[2022-03-29 21:57] andyKempf opened #4413 "Make Twig templates createable in the Contao backend"
### Description

Hello all,
first of all thank you for this great CMS!

I think it's great that there is Twig support now.

Would it be possible, when a new template is created, to create it also as *.html.twig file? So far it is created as .html5 file by default.

Many thanks and best regards from Munich
Andi

![Bildschirmfoto 2022-03-29 um 23 51 31](https://user-images.githubusercontent.com/4876

[2022-03-29 22:08] andyKempf opened #4414 "Frontend-Module editor is not displayed at first"
### Affected version(s)

4.13.1

### Description

Hi and Servus!
When I create a new frontend module via the Themes menu item, the "Navigation Menu" module type is selected by default. However, the editor for this is not displayed to me.

Only when I click on Save, the editor is displayed.

Maybe it's a bug? (The behavior seems a bit strange to me)

What do you think? My version is 4.13.1
![Bildsc

[2022-03-29 22:54] andyKempf opened #4415 "Show custom Twig templates from subfolders also in backend dropdown"
### Description

Hi there,
The Twig support is awesome, thanks again for that!

With https://github.com/contao/contao/pull/4121 it is now possible that custom Twig templates from the templates folder are displayed and selectable in the backend dropdown.

Custom Twig templates in a subfolder like /templates/project/mod_article_twig.html.twig are not displayed in the backend dropdown currently.

Is

[2022-03-29 23:07] m-vo commented on #4409
Is this evil? Try checking for this:
`ev{{non-existing}}il`

I do neither get why it's harder to debug something that you can see instead of something that you can't nor why this worsens the experience for visitors. Can you give an example where this would be the case?

[2022-03-29 23:35] m-vo commented on #4415
Templates in any Contao template path are found in any nesting depth:
https://github.com/contao/contao/blob/c07953c80aec738ef0b3b83b9db51cbcf1068c3b/core-bundle/src/Twig/Loader/TemplateLocator.php#L98-L118

Templates in the global template directory (`/templates`) aren't. That's because any sub directory is effectively a valid theme prefix.

In Contao 5 you'll get the opportunity to completely reo

[2022-03-29 23:36] #4415 closed, assigned to nobody

[2022-03-29 23:39] m-vo commented on #4414
After clicking create (and before doing anything else), can you check what's in the `type` column of the newly created database entry? For example by running `SELECT type FROM tl_module WHERE id=<id>` with the displayed ID.

[2022-03-30 00:15] cliffparnitzky commented on #4414
Can't confirm. Neither in my own environment nor in the demo system.

[2022-03-30 00:19] andyKempf commented on #4414
Hi @m-vo,
thanks for your feedback.

After I clicked "New" to create a new frontend module, that's in the database:

(ID # 9)
![Bildschirmfoto 2022-03-30 um 02 27 40](https://user-images.githubusercontent.com/48767191/160727422-71a9c5a6-78de-4354-8d46-ab9112292d23.png)

(The type is empty)

[2022-03-30 00:24] andyKempf commented on #4414
@cliffparnitzky @m-vo,
I made a video with the behavior:

https://user-images.githubusercontent.com/48767191/160727067-2a6858cd-701a-4c68-b1d4-a5f7daf1394c.mov

[2022-03-30 00:26] andyKempf commented on #4415
Hi @m-vo,
Ah, I see! Thank you for your feedback! ;-)

[2022-03-30 00:55] m-vo commented on #4414
Maybe an extension is overwriting the default value? You can check by running `vendor/bin/contao-console debug:dca tl_module | grep '"type" => array' -A 25` on the console. The `sql` key should look like this: `"sql" => "varchar(64) NOT NULL default 'navigation'"
`

If this is the case, please make sure, your schema is up to date by running `vendor/bin/contao-console contao:migrate`.

[2022-03-30 05:38] leofeyer commented on #4409
I‘m for keeping unknown insert tags visible, too.

[2022-03-30 05:45] Toflar commented on #4405
I already gave the reason why. And a checkbox isn't the solution because users without permission must not be able to edit the element.

[2022-03-30 06:41] jijoamt opened #4418 "API availability"
### Description

Can you please let us know if there are public API to fetch content like articles, FAQ  from a contao account by supplying any authentication like API key

[2022-03-30 06:47] fkaminski opened #4419 "Custom Template with help or description possibilities"
### Description

~Would it be technically possible for the "custom template" to specify different, correct values (only admin),
which can then be selected by editors?~

Or at least as admin to store a description that then editors can only read.

[2022-03-30 06:51] fkaminski commented on #4413
This and other features around Twig will certainly be implemented in the future.
See also: https://github.com/contao/contao/projects/4

[2022-03-30 07:29] bennyborn commented on #4418
There is no API. That's been a stretch goal for years but Contao isn't there yet.

[2022-03-30 09:23] leofeyer commented on #4412
How about using `(new UnicodeString($GLOBALS['TL_LANG']['MSC']['unsubscribe']))->ascii()->toString()`?

[2022-03-30 09:39] leofeyer commented on #220
Implemented in #3843.

[2022-03-30 09:39] #220 closed, assigned to nobody

[2022-03-30 09:44] leofeyer commented on #2283
The PR has been merged meanwhile. How do we continue here?

[2022-03-30 09:55] leofeyer commented on #3172
Maximum image width and height per upload field has been implemented in #3628. So now only the "Resize too large images instead of rejecting the upload" checkbox is missing.

[2022-03-30 09:56] leofeyer commented on #3232
Die Vorschau stellt die Texte genauso wie Google dar und fügt ebenfalls Auslassungszeichen ein, wenn die Eingabe zu lang ist. Ist es wirklich notwendig, zusätzlich noch die Anzahl der Zeichen anzuzeigen?

[2022-03-30 09:56] ausi commented on #2283
I think we did all we need already with #3542

After someone verifies that this works with `imagine/imagine` version 1.3.1, we can close this ticket IMO.

[2022-03-30 10:02] cliffparnitzky commented on #4414
Yes. There is at least one 3-party extension installed, as you can see the menu entry "Meine Inhaltselemente" which is not part of Contao core.

If the hint of @m-vo doesn't help, deinstall all 3-party extensions and then check the behaviour.

[2022-03-30 10:02] #3880 closed, assigned to nobody

[2022-03-30 10:31] m-vo commented on #3232
If at all I would add this information to the `description` field as an eval option for the widget (like `showChars` or something), not the `serpPreview`. There it might in general be useful as a feedback for editors when setting min/max limits.

[2022-03-30 11:37] denniserdmann opened #4420 "Increase compatibility between MariaDB and MySQL 8 in contao:backup tasks"
### Description

As discussed in Slack, `contao:backup:create` in a MariaDB instance creates a dump that is not importable in MySQL 8, because ` groups` is a reserved keyword in MySQL 8 and needs backticks like
[code]

[2022-03-30 11:41] Toflar commented on #4420
As already stated and for future reference: I'm all for supporting this very use case but `contao:backup:*` was **NOT** created to create cross-platform backups. They are specifically designed to backup and restore on **the same system**. Using it to export from one system to another one with a different database **is not a supported use case**. It might work and if the amount of work to have thin

[2022-03-30 11:54] #4243 closed, assigned to nobody

[2022-03-30 11:55] leofeyer commented on #4247
As discussed in the last Contao call, we want to use arrows instead of plus/minus icons in the future.

[2022-03-30 11:57] #4385 closed, assigned to nobody

[2022-03-30 11:59] andyKempf commented on #4414
Hi @cliffparnitzky and @m-vo,
Ah sorry, I see. You're right, there's a bug from the third party plugin 'pct_customelements'.

Please can you close this ticket?

Have a nice day and many greetings from Munich
Andi

[2022-03-30 11:59] leofeyer commented on #4418
There is no API in the Contao core yet, however, there are some extensions that might fit: https://extensions.contao.org/?q=api

[2022-03-30 11:59] #4418 closed, assigned to nobody

[2022-03-30 12:00] #4414 closed, assigned to nobody

[2022-03-30 12:03] andyKempf commented on #4413
@fkaminski, thanks for your feedback!
Sounds cool! 😎

[2022-03-30 12:04] andyKempf commented on #4413
Hey @leofeyer,
if this is already planned for Contao 5, should I close this ticket? :)
Wenn das ohnehin schon für Contao 5 geplant ist, soll ich dieses Ticket schließen?

Many greetings from Munich
Andi

[2022-03-30 12:35] leofeyer commented on #4413
@m-vo /cc

[2022-03-30 13:13] m-vo commented on #4413
We can leave this issue open and I'll close it once I'm working on this topic again.

Though I strongly suggest to use an external editor if you can. We probably won't ever be able to support auto completion, auto formatting, type hinting and all the things a real IDE/editor can provide.

Edit: just realized this is about creating templates. This definitively needs a makeover. :smile:

[2022-03-30 13:16] m-vo commented on #4413
related #2477 (this one is for bundle templates, though, which we should not make accessible anymore in the BE)

[2022-03-30 13:46] ausi opened #4421 "Add AVIF to the default image formats"
### Description

Since AVIF is supported natively in PHP since version 8.1 we should add the format to: https://github.com/contao/contao/blob/f84929174aedee9b67da999e5323e19641ead14f/core-bundle/src/DependencyInjection/Configuration.php#L329-L331

Related: #2283, #3542

[2022-03-30 13:54] koertho opened #4422 "Changing type of form field may lead to OutOfBoundsException"
### Affected version(s)

4.9.27, 4.13.1 (not tested, but code says yes)

### Description

Creating a form field and changing it's type later may lead to an OutOfBoundsException.

Steps to reproduce:
1. Create a form field to type text and set validation (rgxp) to date
2. Change type of field to checkbox menu and add a option with value 'yes'
3. Try to submit the form

The problem is located at the

[2022-03-30 15:17] #4384 closed, assigned to nobody

[2022-03-30 15:31] leofeyer commented on #4039
Fixed in version 1.5.2 (see https://github.com/contao-components/colorpicker/commit/ce0732ff1d0bd952a3642fd639e3d6a93bd08c94).

[2022-03-30 15:31] #4039 closed, assigned to nobody

[2022-03-30 15:34] leofeyer commented on #4406
Are you using a custom back end theme? Because the top bar is not fixed on my system.

[2022-03-30 17:03] Toflar commented on #3479
I'm currently working on the foundation to enable this in https://github.com/contao/contao/pull/4323. It will require follow up PRs (to enable/disable operations and buttons automatically based on security voters too) but if you want to contribute, you can start working on the interface to configure the permissions and the security voter itself 😊 It should be possible to migrate most of the `tl_fi

[2022-03-31 05:45] berecont commented on #4406
yes - [omosde/contao-om-backend]

[2022-03-31 06:31] #4260 closed, assigned to nobody

[2022-03-31 09:51] leofeyer commented on #4161
I cannot confirm this. I have added `prepend_locale: true` to my config file and run `clear:cache` afterwards. No exception.

[2022-03-31 09:53] fritzmg commented on #4161
Which one? `config/config.yaml` or `config/parameters.yaml`? This issue concerns the latter.

[2022-03-31 10:00] fritzmg commented on #4161
I can still confirm the issue. Reproduction:

1. Create a file called `config/parameters.yaml`
2. Insert the following content:
[code]
3. Execute the following command: `rm -rf var && vendor/bin/contao-console cache:warmup`

The following error will occur:

[code]

[2022-03-31 10:01] #4175 closed, assigned to nobody

[2022-03-31 10:02] #4286 closed, assigned to nobody

[2022-03-31 12:02] leofeyer commented on #4185
I cannot reproduce this. Here is what I did:

1. I made sure that my news archive has an RSS feed.
2. I added a text element with `{{include_article::66}}` to one of the news. (Article ID 66 is an existing article.)
3. I saved my changes. No exception there.
4. I rebuilt the XML files in the maintenance module. No exception there, either.

What am I missing?

[2022-03-31 12:09] ausi commented on #4185
Needs to be in the teaser text of the news AFAIR, not a text element.

[2022-03-31 12:11] fritzmg commented on #4185
~~No, it needs to be detail content. And you need to set the RSS feed to "full story".~~

nvm, that was for a different issue :) - yes the insert tag needs to be in the _teaser_.

[2022-03-31 14:28] leofeyer commented on #4161
Ok, I can reproduce it now. Is there a way to fix this without changing `->booleanNode('prepend_locale')`?

[2022-03-31 14:31] fritzmg commented on #4161
Changing the node would not be correct - for some reason the parameter (`'%prepend_locale%'`) is not evaluated (or present?) when the config is evaluated by Symfony. So far I have not figured out why.

[2022-03-31 14:40] leofeyer commented on #4185
I can reproduce this now. IMHO, we should revert #3857 to fix this.

[2022-03-31 14:44] fritzmg commented on #4185
Why? That would just introduce #3856 again. What's wrong with #4195?

[2022-03-31 15:51] bytehead commented on #3679
[code]
https://github.com/contao/contao/runs/5773800912?check_suite_focus=true

[2022-04-01 06:33] aschempp commented on #4409
Not sure what example exactly. I have seen LOTS of systems with backend log messages about unknown insert tags. People don't check the logs. They wouldn't notice if they appear in the front end, the webpage would just show "invalid" stuff. Its similar to the discussion we had in https://github.com/contao/contao/issues/4142, though I agree an exception is worse than an invalid insert tag on the pag

[2022-04-01 06:53] aschempp commented on #4161
see https://github.com/contao/contao/pull/4437

[2022-04-01 06:53] #4161 closed, assigned to nobody

[2022-04-01 06:57] aschempp commented on #4405
You can also give permissions on a checkbox? or do you mean they should not be able to edit the element then? And there's really a use case for having both? One that you/admin uses and one that regular users use? Or would you then just disallow HTML element in general?

[2022-04-01 07:07] aschempp commented on #4404
I think this is a misunderstanding. The auto-login feature does not _log you in through the login module_, it simply logs you in on whatever page you access. Therefore there is no redirect. You don't need to open the _login.html_ page to be auto-logged in.

[2022-04-01 07:18] fritzmg commented on #4404
I think @zonky2 understood that, however, the expectation still is that if you specifically access the page where the _login module_ is present, it should redirect you, regardless of whether you actively logged in or not.

[2022-04-01 07:27] Toflar commented on #4405
Yeah that's exactly the problem. The permission on the checkbox doesn't help because then I can access an element created by an admin and edit the HTML and it will suddenly get filtered.

[2022-04-01 07:43] zonky2 commented on #4404
_I_'ve understood this so far and could deal with it if I fell into the trap - but it's about the users who use the website!

[2022-04-01 12:25] bwl21 opened #4439 "RSS feed does not deliver well formed xml"
### Affected version(s)

4.9.27

### Description

there are situations where contao delivers xml with minimized attributes

[code]

I could fix it for my installation in `picture_default.html5:5` by adding an end tag to `<source>`

maybe this should be fixed in the core.

[2022-04-01 12:54] fritzmg commented on #4439
I can reproduce the issue, at least with Atom feeds. Reproduction:

1. Create a new RSS feed.
2. Set **Feed format** to Atom and **Export settings** to full stories.
3. Create a new news item.
4. Create a new image content element in that news item.

The generated XML feed will be invalid, since the HTML5 output is used within

[code]

but only XHTML is supported there - and thus things like `<img

[2022-04-01 16:49] leofeyer opened #4442 "Handle non-InnoDB tables"
### Affected version(s)

4.13.2

### Description

If there are both InnoDB and MyISAM tables, the migrations fail:

<img width="1184" alt="" src="https://user-images.githubusercontent.com/1192057/161307038-1f7ee07f-daaa-48fe-a486-aec530a595b5.png">

[2022-04-01 23:19] christianromeni commented on #4161
btw.. same thing happens to ```pretty_error_screens```
At least for me... But only if I use '%env(bool:PRETTY_ERROR)%' instead of ```true```
I use env.local to set this parameter: ```PRETTY_ERROR=false```

config.yaml
[code]

.env.local
[code]

[2022-04-02 11:06] m-vo opened #4445 "Discuss generated files inside vendor"
### Description

Normally, generated files should end up in the application's cache dir.

But sometimes there are downsides:

1) If the cache dir is not known (e.g. because the code runs in a composer plugin).
1) If the generated files must be referenced from the production code (e.g. for our [generated entities](https://github.com/contao/contao/issues/4370)).
1) If the IDE should inspect the file

[2022-04-02 15:50] m-vo commented on #3487
see #3973

[2022-04-02 15:50] #3487 closed, assigned to m-vo

[2022-04-02 16:15] m-vo commented on #4389
Your example works as intended, but you won't see anything with the default `image.html` template. Either adjust the template and merge/output the data yourself or use the core's `_figure.html.twig` Twig template, that includes this functionality, by specifying it as the last parameter:
[code]

That is also intended. That's why there is a `setAttributes` function, that allows setting everything wi

[2022-04-02 16:16] #4389 closed, assigned to nobody

[2022-04-03 09:26] #4442 closed, assigned to ausi

[2022-04-03 09:46] fiedsch opened #4449 "Change of field length in tl_content.playerColor"
### Affected version(s)

4.13.2

### Description

In https://github.com/contao/core-bundle/commit/b14da3c7f717631ee3a2284fdd0c2db55be69ba0#diff-e28127d28f271b8d6792de9c86e18b463171841343c4468969695332b776c658R715
The field was changed from `varchar(64)` to `varchar(6)`. Is this an error or on purpose?

There are reports of problems due to this change in the [forum](https://community.contao.org/de/

[2022-04-03 09:58] m-vo commented on #4449
I don't think it's an error. This column stores colors in hex which are 6 characters long for RGB.
What's the actual issue with this?

[2022-04-03 10:09] ausi commented on #4449
How does the too long value look like?

[2022-04-03 10:30] fiedsch commented on #4449
I‘m not having this issue but @mlweb reported values like `com_default` In the forum discussion

[2022-04-03 10:34] ausi commented on #4449
These values should be deleted from the column before making the update. Then no error should occur.

[2022-04-03 10:37] fiedsch commented on #4449
That is what was poroposed in the forum also.

[2022-04-03 10:42] ausi commented on #4449
For better understanding: I tried to only reduce the length of columns that are very unlikley to have larger values in them. I thought that a `playerColor` with more than 6 characters should be very very rare 😬

[2022-04-03 11:11] mlwebworker commented on #4449
Danke. Dann habe ich es ja genau richtig gelöst

[2022-04-03 11:40] mlwebworker commented on #4449
@ausi Kannst Du eigentlich was dazu sagen woher der Wert `com_default` kommt - nur interessehalber. Meine problematische Installation ist schon recht alt (ursprünglich glaub ich mit Contao 2 aufgebaut).

[2022-04-03 11:46] #4420 closed, assigned to ausi

[2022-04-03 12:57] fritzmg commented on #4449
This can happen if Contao/Doctrine detects a name change of a field. So it might be that at some point, for whatever reason, the com_template field (or whatever it is called) got renamed to playerColor (may be because the comments bundle got uninstalled).

[2022-04-03 13:12] ausi commented on #4449
Ja, dasselbe würde ich auch vermuten. Ein Update auf Contao 4.6 bei gleichzeitigem entfernen des comments-bundles könnte zu einer falschen Umbenennung einer Datenbankspalte geführt haben. Das Umbenennen-Problem wurde in #1731 behoben und sollte so in Zukunft nicht mehr auftreten können.

[2022-04-03 15:41] green-pixelbox opened #4452 "Mehrere Bearbeiten im Backend - Elemente löschen - Fehlermeldung"
### Affected version(s)

4.13.2

### Description

Fehlermeldung im Backend bei Contao 4.13.0 und 4.13.2, PHP 7.4. Wenn man mehrere Elemente auswählt in der Elementansicht und diese dann löscht macht er bei der Auswahl von ca. über 8 Elementen eine Fehlermeldung und löscht dann auch nicht alle Elemente.
Fehlermeldung:

[code]

Screenshot der Fehlermeldung anbei

[2022-04-03 15:41] green-pixelbox commented on #4452
![contao413-fehler-mehrere-elemente-loeschen](https://user-images.githubusercontent.com/3920742/161435987-ae32e349-633a-4edf-8d4c-5105f98dc62d.PNG)

[2022-04-03 20:11] Toflar commented on #4452
Öffentlich erreichbare URLs und DB-Passwörter in der Beschreibung🙈 Bitte sofort editieren und ändern!

[2022-04-03 22:09] m-vo commented on #4452
/cc @bezin

[2022-04-04 08:07] fritzmg commented on #4439
The problem is our `StringUtil::toXhtml` method. It does in fact not really convert any arbitrary HTML5 content to XHTML. It misses things like `<source />` or even attributes without values like `itemscope`, which are both not valid in XHTML.

In Atom you can provide the content also as `"html"`, I'll check if that will suit our needs so that we do not have to convert at all.

[2022-04-04 08:22] bezin commented on #4452
Huh, I cannot confirm this at the moment 🤔 The error most certainly results from [fetching a row that does not exist anymore](https://github.com/contao/contao/blob/ed4ad4868b28b229830521292af37e222a5f62ed/core-bundle/src/EventListener/DataContainer/RecordPreviewListener.php#L58-L61). I should probably handle this case there, however I have no idea why this record is missing in the first place?

[2022-04-04 09:19] netzarbeiter opened #4454 "Version conflict with only one user"
### Affected version(s)

4.9.28 & 4.13.2

### Description

https://demo.contao.org/contao

Content > Articles > Home

- Create a new content element (Element type: Text)
- Add a text in the text field
- Add an image and click save
- Disable Add an image and click save
- A version conflict shows up

When you now enable or disable the Add an image the version conflict always shows up.

[2022-04-04 09:24] m-vo commented on #4439
We should not use this method anymore - it's already marked as deprecated by the way. :see_no_evil:

[2022-04-04 09:28] fritzmg commented on #4439
It's not marked as deprecated as far as I can see:

https://github.com/contao/contao/blob/00433ab37aad7e49fb0d0b767b15740f7c14bbcd/core-bundle/src/Resources/contao/library/Contao/StringUtil.php#L481-L488

[2022-04-04 09:34] green-pixelbox commented on #4452
ohje das hab ich wohl übersehen. hab den benutzer noch rausgenommen und die zugangsdaten geändert. also alles wieder gut :)

[2022-04-04 09:38] m-vo commented on #4439
It is in 4.13:
https://github.com/contao/contao/blob/f6d7da2f5aae5ec19e163af2cc4b4d7d420c654b/core-bundle/src/Resources/contao/library/Contao/StringUtil.php#L491

[2022-04-04 09:42] fritzmg commented on #4439
Yes, but this error happens in 4.9 and deprecating that method should not have been done in 4.13, as Contao still uses that method - even in 4.13 and 5.x. In 5.x Atom feeds are currently broken completely because of that, since the method was already removed.

In any case, if we can remove its usage in 4.9, we can start properly deprecating it in 4.9.

[2022-04-04 09:50] bwl21 commented on #4439
There was not even a rationale why it should be deprecated (only IMO)

[2022-04-04 09:53] fritzmg commented on #4439
@bwl21 it should be deprecated, because it is out of date (see above). But we need to provide an alternative first.

[2022-04-04 09:58] ausi commented on #4454
This is probably caused by #4236 😕

I think we have to update the hidden field that stores the current version after the ajax request of a checkbox subpalette.

[2022-04-04 10:00] m-vo commented on #4452
Could this be because the initial collection contained things that were cleaned up in the meantime by revise table? Anyways, from a defensive coding standpoint, it would probable be a good idea to tolerate `false` as a result here.

[2022-04-05 05:20] #4439 closed, assigned to nobody

[2022-04-05 06:09] aschempp commented on #4445
As far as I know, Symfony has multiple layers to make sure it works on a readonly filesystem. Writing to the vendor folder (at application runtime) clearly violates that to me. The only allowed folder should be `var` since that _has_ to be writable.

[2022-04-05 06:10] aschempp commented on #4161
pretty sure thats fixed by #4437 as well, did you check that?

[2022-04-05 06:16] aschempp commented on #4404
as I said, thats not how it works. With autologin, you are **already logged in** when accessing the website. So by example, assume you logged in manually to the website. You navigate around, and then go to the `https://example.com/login` page. You will not and would not expect to be redirected to a page, just because you accessed it.

[2022-04-05 06:26] christianromeni commented on #4161
If that is in 4.13.2 then I don't think it's fixed..
If it is not released yet, I have not checked it... 🙈

[2022-04-05 06:31] ausi commented on #4161
#4437 was not released yet. You have to test `4.13.x-dev` to see if the fix works for you.

[2022-04-05 06:43] aschempp commented on #4403
I think a listener would be wrong, since its hard to know in a listener whether the current response is _from_ a FrontendTemplate. And it should (apparently) only be done for FrontendTemplate. I would think that cache headers should be up to the (abstract) page controller, and minifying could be a service (pretty sure there are packages available for that).

[2022-04-05 06:44] aschempp commented on #4454
or merge the versions as suggested in #4390

[2022-04-05 06:52] ausi commented on #4454
How would merging the versions solve the conflict detection?

A conflict should still be detected if two users use a subpalette checkbox simultaneously I think.

[2022-04-05 07:00] aschempp commented on #4401
There is no need for a custom type to support collation. In DBAL types (DCA sql as array), it should work with this:
`'sql' => ['type' => 'string', 'length' => '...', 'options' => ['collate' => 'ascii_bin']]`. We already do exactly that in our SQL string-to-DBAL parser: https://github.com/contao/contao/blob/5.x/core-bundle/src/Doctrine/Schema/DcaSchemaProvider.php#L57-L59

The `BinaryStringType` a

[2022-04-05 07:01] aschempp commented on #4454
I did not investigate how the conflict is detected, but I would assume both is done by the version class that should merge before conflict 🙃

[2022-04-05 07:15] ausi commented on #4401
So a custom type would be overengineered you think?

Can we maybe support an alias instead so that
[code]
can be written as:
[code]

[2022-04-05 07:32] ausi commented on #4454
No, DC_Table handles the conflict: https://github.com/contao/contao/blob/07422feccd4792012f0c480f7300eadf498618d3/core-bundle/src/Resources/contao/drivers/DC_Table.php#L2159-L2160

[2022-04-05 08:17] fritzmg commented on #4404
Yes, I meant when you _first_ access the page via `https://example.com/login`.

[2022-04-05 12:18] rabauss opened #4458 "Tables are created if driver is not set in DCA"
### Affected version(s)

4.13 - maybe also 4.9?

### Description

Since Contao 4.13 tables are also created if the driver is not set in the DCA.
According to @dmolineus, this is caused by https://github.com/contao/contao/pull/4285

Example: You define additional fields in an extension for the `tl_faq` but in a project you don't install the faq bundle. Then the table `tl_faq` is also created - alth

[2022-04-05 12:24] fritzmg commented on #4458
You mean if you have a soft dependency on `contao/faq-bundle`? Imho in that case the DCA should be extended only if the DCA is actually present. Otherwise your extension will create DCA entries for a DCA that's not actually there. Even if we change the behavior so that any DCA without a driver is ignored, I think it's wrong that your extension creates invalid `$GLOBALS['TL_DCA']` entries, as this

[2022-04-05 12:27] rabauss commented on #4458
Yes, you're right but the previous behaviour was that additional DC definitions were ignored or did not create a table if the main DCA file with the driver was missing

[2022-04-05 12:28] fritzmg commented on #4458
Yes, but the previous behaviour was also bugged ;) (see the previous issues).

[2022-04-05 12:30] rabauss commented on #4458
So each extension should always validate if `$GLOBALS['TL_DCA']` of the desired table is defined. That could be some refactoring for generic extensions ;-)

[2022-04-05 12:31] fritzmg commented on #4458
If it's a soft dependency, yes. Otherwise no.

[2022-04-06 05:16] #4452 closed, assigned to nobody

[2022-04-06 06:24] jonnysp opened #4460 "Dashboard version compare does not work"
### Affected version(s)

4.13.2

### Description

I noticed today, when i click on show differences, the window shows the dashboard again
![grafik](https://user-images.githubusercontent.com/1651241/161908563-f460db43-5202-44df-b156-a05774fa3fa0.png)
![grafik](https://user-images.githubusercontent.com/1651241/161908601-c8c50298-1b9d-48ad-9a67-c3d99154488e.png)

after closing and reloading, another

[2022-04-06 06:28] jonnysp commented on #4460
it even reverses the change, in my case the show hide setting of an article.

something similar happens when the pen is clicked, only it jumps to the article.

[2022-04-06 08:09] Toflar commented on #4460
Cannot confirm on demo.contao.org. Can you try to create a reproducible case on demo.contao.org for us?

[2022-04-06 08:31] jonnysp commented on #4460
i don't have access to demo.contao.org/contao-manager.
update to latest and clear all caches. i have testet on local and hostet contao versions

[2022-04-06 08:49] Toflar commented on #4460
Why would you access the Contao Manager?? We're talking about the back end here, right? If you login to https://demo.contao.org/contao and edit content (to create some versions) and go to the dashboard, everything works fine. Which means that this problem cannot be reproduced and we have to close the issue. If you find a way to reproduce, we can look at it and fix it.

[2022-04-06 09:03] leofeyer commented on #4460
I cannot confirm this in the online demo, either.

[2022-04-06 09:17] m-vo opened #4461 "Adjust templates of existing fragment controllers"
### Affected version(s)

5.0

### Description

see https://github.com/contao/contao/pull/4393#discussion_r843023284

[2022-04-06 09:35] jonnysp commented on #4460
i have testet on more as 5 different installations

- localhost XAMPP php 7.5
- HE PHP 8.0.16
- ALLInkl PHP 8.0.16
- 1&1 PHP 7.4.28
- ...

this was today after package update!
I will create a new fresh version and report

[2022-04-06 09:39] jonnysp commented on #4460
now i have it on demo contao!
![grafik](https://user-images.githubusercontent.com/1651241/161946310-29fc5074-80f3-441e-b90d-44ccabbc2cf8.png)

[2022-04-06 09:48] fritzmg commented on #4460
I can confirm the issue on demo.contao.org now as well. What are the exact reproduction steps to get there?

[2022-04-06 10:12] jonnysp commented on #4460
its when the activity as toggle "act=toggle".

open article or faq or comments and toggle ON/OFF then go back to Dashbord!

[2022-04-06 11:02] fritzmg commented on #4460
Toggle what exactly on/off? You mean the published state?

[2022-04-06 11:04] jonnysp commented on #4460
![grafik](https://user-images.githubusercontent.com/1651241/161961201-ac65af90-bb71-4fbb-a576-799956b57be7.png)
"veröffentlichen/unveröffentlichen"

[2022-04-06 11:22] fritzmg commented on #4460
I can confirm the reproduction.

1. Go to _Content_ » _Articles_.
2. Click the publish toggle <img src="https://demo.contao.org/system/themes/flexible/icons/visible.svg" width="16"> for any article.
3. Go to the dashboard.
4. There will be a new **Latest changes** entry for the toggle operation.
5. Click _Show differences_ <img src="https://demo.contao.org/system/themes/flexible/icons/diff.svg" wi

[2022-04-06 11:36] jonnysp commented on #4460
On edit in dashboard ![grafik](https://user-images.githubusercontent.com/1651241/161965636-1251a0b2-1322-46e9-b01b-6acc15d5046f.png) also toggle the operation and redirect to the article! maybe it help.

[2022-04-06 18:57] #3823 closed, assigned to nobody

[2022-04-06 18:57] #3895 closed, assigned to nobody

[2022-04-07 07:30] fritzmg commented on #4458
Just to clarify: whether or not a driver is set did not matter before. The fact that the tables of that particular extension did not get created before was because there was no `config.sql` configuration set. And previously you were unable to create a table without a `config.sql` definition (i.e. a table without any sort of primary key or index set).

We could of course introduce a check whether a

[2022-04-07 08:04] #4454 closed, assigned to nobody

[2022-04-07 08:06] ausi commented on #4454
Should be fixed by #4470

Thank you @netzarbeiter for the example of a perfect bug description ❤️

[2022-04-07 09:02] tintifaxxx opened #4473 "File picker background images not working in internal css editor"
### Affected version(s)

4.13.1, 4.13.2

### Description

The file picker for background images in the internal css editor ist not working properly anymore.
You can choose the directory, but no file is listed and so its not possible to select/change any image.
Old path after update from 4.9 => 4.13 is still available and working.
Maybe its not worth to fix anymore, cause css editor is history from

[2022-04-07 09:10] ausi commented on #4473
The picker URL looks like https://demo.contao.org/contao/picker?context=file&extras%5Bdo%5D=files&extras%5Bicon%5D=pickfile.svg&extras%5BfieldType%5D=radio&extras%5BfilesOnly%5D=1&extras%5Bextensions%5D=%25contao.image.valid_extensions%25&value=

The `contao.image.valid_extensions` parameter seems to be not resolved.

[2022-04-07 10:31] mlwebworker opened #4476 "Display ongoing event"
### Affected version(s)

4.9

### Description

Ich habe bei einer Kundin Probleme mit der Anzeige Logik bei laufenden Events.
Um das Verhalten von Contao zu reproduzieren habe ich mir in einer Testinstallation drei Events angelegt und versucht alle Anzeige-Varianten durchzuspielen.
1. Event mit dem aktuellen Datum, ohne Uhrzeit
2. Event mit dem aktuellen Datum und mit Startzeit in der Vergangenhei

[2022-04-07 13:14] leofeyer commented on #4458
As discussed in the Contao call, we want to add an `isset()` check to see if a driver has been set. If not, the DCA should be ignored when creating tables.

[2022-04-07 13:41] b3nzin opened #4483 "ListingBundle - Missmatch between DCA Configuration and Module"
### Affected version(s)

4.9,4.13,5.x

### Description

Hi,

in: contao/listing-bundle/src/Resources/contao/modules/ModuleListing.php
Line 78 und 79 there is no check if **list_where** and **list_info_where** has a value. This will result in an error, when nothing is entered in the Contao Backend.

In the DCA the fields **list_where** and **list_info_where** are not marked as mandatory, so the can

[2022-04-07 13:44] leofeyer commented on #4445
As discussed in the Contao call, we want to use a Composer plugin to generate the entities and store them in the `vendor` folder.

[2022-04-07 14:01] cliffparnitzky commented on #4483
I can confirm. The issue is reproducable in the demo:
- got to the module "Applications - Listing" (ID: 62) and remove the values from the fields `Condition` and `Details page condition`
- open the page: https://demo.contao.org/en/applications.html

[2022-04-07 14:08] m-vo commented on #4445
For the `ide-twig.json` we want to write it directly to `var` and create a symlink in the root if it doesn't exist yet (or a file exists at this place).

[2022-04-07 14:14] leofeyer commented on #4412
As discussed in the Contao call, we want to use `Unsubscribe` without translation.

[2022-04-07 14:21] leofeyer commented on #4405
As discussed in the Contao call, we want to call it "unfiltered HTML" element.

[2022-04-07 14:32] paddibr commented on #2576
@kartoffelheinz Did you find a solution for the problem?

[2022-04-07 14:38] leofeyer commented on #4181
As discussed in the Contao call, we want to disable the context menu by default.

[2022-04-07 14:49] kartoffelheinz commented on #2576
@paddibr No, not a solution, just a workaround. We use an early FE Module (earliest time we can be sure there is a login session if we do NOT hit the bug) and do a refresh (via RedirectResponse) if the client did not send a session cookie. But that only works for our specific use case with a closed client group where we can enforce cookie usage.

Since we had the workaround, we moved on to other s

[2022-04-07 15:01] paddibr commented on #2576
mhm okay. We have the same error under contao 4.13. With autologin a user need a second refresh. :-/

[2022-04-07 15:10] kartoffelheinz commented on #2576
Well, thank's for letting me know, spared me some time. But very unfortunate to see this bug has indeed never been fixed, not even in the latest version.

I still do not understand why this ticket has been closed without providing a working solution to this problem.

[2022-04-07 15:16] fritzmg commented on #2576
The bug has been fixed, there has been no new reproduction (see above).

[2022-04-08 08:40] bennyborn commented on #4458
Joining the party since [numero2/contao-opengraph3](https://github.com/numero2/contao-opengraph3/blob/master/src/Resources/contao/dca/opengraph_fields.php) is also affected.

[2022-04-08 08:55] ausi commented on #4476
Ich kann das Verhalten reproduzieren.

Meiner Meinung nach sollte:

1. Die Checkbox „verkürzte Darstellung“ keinen Unterschied machen
2. Mit „laufendes Event ausblenden“ nur das Event mit aktuellem Datum und Startzeit in der Zukunft angezeigt werden
3. Ohne „laufendes Event ausblenden“ das Event mit aktuellem Datum und Startzeit in der Zukunft sowie das Event ohne Uhrzeit angezeigt werden.

Das Ev

[2022-04-08 09:43] elektrischerwalfisch opened #4488 "TinyMCE - adding a template not possible"
### Affected version(s)

4.13.*

### Description

After Updating Contao 4.9. to 4.13. (and the new Version of TinyMCE) there is a problem if you want to add a template in the TinyMCE.
Full Description of the Problem here: https://community.contao.org/de/showthread.php?82865-TinyMCE-Vorlage-aus-Verzeichnis-einf%C3%BCgen-funktioniert-nicht-mehr

I guess the path to the template-folder (files/tiny_te

[2022-04-08 11:46] tintifaxxx opened #4490 "Internal CSS editor visibility button broken"
### Affected version(s)

4.13

### Description

The visibility button - toggler, green eye, doesnt work porperly anymore.
You have to save "inside", otherwise no effect
Testet in demo version, too

[2022-04-08 11:51] rhymeadam opened #4492 "Incorrect datepicker default value"
### Affected version(s)

3+

### Description

I’m seeing an issue where the system date format is month, date, then the year (m/d/Y or m-d-Y for example) and when something like tl_calendar_events.startDate has a value of 04/08/2022 i.e. April 8th 2022, the datepicker's default value loads August 4th 2022 instead. I've traced this back to the datepicker since Contao 3. Andreas suggested implementi

[2022-04-08 12:00] fritzmg commented on #4492
Do you mean in the back end? This happens if you changed the date format in the system settings. If your intention was to change the date format for the _front end_ only, then you need to do that in the settings of your website root and leave the date format in the system settings on its international format.

[2022-04-08 12:28] rhymeadam commented on #4492
Yes, I mean in the back end. We want the date format in the back end to by m/d/Y but it breaks the datepicker.

[2022-04-08 12:48] aschempp commented on #4412
see https://github.com/contao/contao/pull/4493

[2022-04-08 12:48] #4412 closed, assigned to nobody

[2022-04-08 12:51] aschempp commented on #4458
Unfortunately, having a table with SQL keys and no driver worked just fine until now (see https://github.com/isotope/core/blob/2.7/system/modules/isotope/dca/tl_iso_product_pricetier.php for example).

As discussed with @fritzmg, we should revert the changes. Having a database table without (primary) key(s) is not a supported use case. It smells like wrong normalization to me, and even Doctrine do

[2022-04-08 13:17] fritzmg commented on #4458
To be clear, I think we should revert both:

* https://github.com/contao/contao/pull/4233 and
* https://github.com/contao/contao/pull/4285

[2022-04-08 13:34] fritzmg commented on #4492
I don't think there is anything that can be done there. You need to define a date format that is readable by the datepicker. The American `m/d/Y` format is too ambiguous.

[2022-04-08 13:38] ausi commented on #4490
What does “no effect” mean in this case?
In my test the visiblity icon itself seems to work.
Do you mean the css code for the frontend doesn’t change immediately?

[2022-04-08 14:03] tintifaxxx commented on #4490
ok, my fault, frontend changes
font-color doesnt change to grey in backend
maybe in my installation there was no change in frontend for another reason

[2022-04-08 14:07] tintifaxxx commented on #4490
so its more an usability issue than a bug
its hard to see, when only the eye changes to grey

[2022-04-08 14:20] ausi commented on #4490
I can reproduce that. Clicking on the visibility icon does only change the icon, after a reload the CSS text color changes to gray.

In Contao 4.9 this works as expected and the text color changes immediately.

[2022-04-08 14:22] rhymeadam commented on #4492
How is it too ambiguous if we're specifying the format? Providing the date format works in JS, MySQL, etc. so I don't see why it's a problem for Contao unless it's a problem for the datepicker plugin, in which case I think it should be replaced. Also, it works in Contao 2.11 so I don't think it's out of the realm of possibility. And if this is a limitation of Contao's system date format and that's

[2022-04-08 14:50] argus231 opened #4494 "inconsistent hook processing"
### Affected version(s)

4.9.18

### Description

Example:
case 1
request -> /**assets**/images/4/any_file_that_cannot_exist.jpg
404 page is loading.
The hook processing of "@Hook("getFrontendModule")" is processed only after /controller::replaceDynamicScriptTags() is called.

case 2
request -> /any_site_that_cannot_exist.html
404 page is loading.
Here the hook before /controller::replaceDynamicSc

[2022-04-08 15:07] doishub opened #4496 "Incompatibility between DCA constants and the universal picker"
### Affected version(s)

4.9.28

### Description

While researching this [ticket](https://github.com/oveleon/contao-cookiebar/issues/109), I noticed an inconsistency which occurs when an external extension uses the picker widget but not the new DCA constants.

The following line of code only checks for the constant, so DCAs that are still defined as 'Table' (string) and want to be called by a pick

[2022-04-08 15:12] bytehead commented on #4496
Will be fixed by #4481 🙃

[2022-04-08 15:13] bytehead commented on #4496
Use `Contao\DC_Table::class` instead of `Table` in your DCA definition (`$GLOBALS['TL_DCA'][$table]['config']['dataContainer']`).

[2022-04-08 15:16] bytehead commented on #4496
Closing in favor of #4481, thank you for reporting though 🙏

[2022-04-08 15:16] #4496 closed, assigned to bytehead

[2022-04-08 15:18] doishub commented on #4496
Hm, then I have the described case here or am I thinking wrong?

[2022-04-08 15:27] fritzmg commented on #4496
That's not really an issue. The new version of your extension can just require `"contao/core-bundle": "^4.9.28"`.

[2022-04-08 15:33] doishub commented on #4496
I thought I could do without this dependency, but then I will implement it that way or wait for the fix. Thank you 🙃

[2022-04-08 15:34] bytehead commented on #4496
You could also add a conflict with `"contao/core-bundle": "4.9.28"`.

[2022-04-08 15:35] fritzmg commented on #4496
There is no downside to defining your dependency this way.

[2022-04-08 15:39] doishub commented on #4496
Except that Contao instances which have to run on an older 4.9 (for whatever reason) can't use the extension anymore. I think I will wait for the fix and use a conflict. In the long run the constants will be used in any case.

[2022-04-08 15:54] fritzmg commented on #4496
Why not? They will automatically get a version of your extension that is compatible.

But for the conflict to take effect you have to create a new version anyway.

[2022-04-10 11:04] zonky2 commented on #4404
We could perhaps add a checkbox "Enable forwarding on auto login".

[2022-04-11 11:53] berecont opened #4499 "Content Element YouTube using Splash-Image: Version Conflict"
### Affected version(s)

4.13.2

### Description

Version conflict by using splash-image
- checkbox true to use a spash-image
- add some image
- click save

brings something like this:
[code]
Same by uncheck 'use a splash-image'

Can be reproduced in the Onlinedemo

[2022-04-11 12:09] fritzmg commented on #4499
Duplicate of https://github.com/contao/contao/issues/4454

[2022-04-12 13:46] de-es commented on #4385
TinyMCE ist zur Übersetzung auf Crowdin gewechselt. Dort konnte ich die Änderung durchführen. Allerdings wird es diese nur für die v6 geben.

Damit wir nicht bis zur v6 warten müssen, siehe https://github.com/contao-components/tinymce4/pull/3

[2022-04-12 15:54] rabauss opened #4502 "Infinite loop while loading of languages"
### Affected version(s)

4.13.2

### Description

Unfortunately, my fix from https://github.com/contao/contao/pull/4254 does not fully solve the infinite loop while loading of languages. And I'm a little bit afraid to release our big update to Contao 4.13 in one of our customer projects 😨

Today I had a scenario, that something was broken in the cache in local enviroment and so I got stuck in a lo

[2022-04-12 16:44] fkaminski opened #4503 "Advanced Backend Dashboard Content"
### Description

Currently, the dashboard overview contains some useful information.

Possibly this could be supplemented with further details and nicely prepared.

I don't know to what extent some information could be technically retrieved and summarized at all (number of individual templates, last log entries, broken links, other status information, etc.).
Maybe you have further feasible ideas.

[2022-04-12 16:57] fkaminski commented on #4503
Even nicer would be FE statistics (although in core at least minimal).

There are numerous extensions for this
https://extensions.contao.org/?q=statistkik&pages=1

I don't want to start a discussion about what belongs in the core, but maybe you could give such extensions a possibility to "hook" into the dashboard (if it does not already exist :innocent: ).

[2022-04-12 17:12] m-vo commented on #4503
Easiest way to hook into the dashboard is IMHO by embedding individual controllers from within a Twig template. If we provide a base template you could do something like this without the need of a registry/tagged service/event:

[code]

https://symfony.com/doc/5.4/templates.html#embedding-controllers

[2022-04-12 17:12] fkaminski commented on #4503
Other possibilities would be tutorial/tip/FAQ/News categories recruited from existing content (Contao Docs/News/TV) and always up to date and presentable in the dashboard.

[2022-04-13 11:32] ausi opened #4505 "Do we need better extensibility for certain migrations?"
### Description

Originally posted in https://github.com/contao/contao/pull/4453#discussion_r847020543 by @Toflar

[2022-04-13 12:23] de-es commented on #4488
Feature is superseded by customizing the template directly.

See https://github.com/contao/contao/blob/4.13/UPGRADE.md#tinymcecss-and-tiny_templates

[2022-04-13 14:05] #4488 closed, assigned to nobody

[2022-04-13 14:16] #4499 closed, assigned to nobody

[2022-04-13 15:50] aschempp opened #4507 "Migrations are executed twice with hash"
### Affected version(s)

4.9.x-dev

### Description

I have added a test migration to my setup that always returns `true` for `shouldRun`.

Running the following command:
[code]

gives this result:
[code]

the migration seems to be executed twice. Possibly because of the same hash, but it still shouldn't. And it apparently stops after one time.

PS: not sure if the same issue exists if a schema mi

[2022-04-13 17:13] liquid-a opened #4508 "Version conflict at contao 4.9.28"
### Affected version(s)

4.9.28

### Description

For about a week now, I have had constant version conflicts with various installations of Contao 4.9.28 (with different hosts). There is only one user on all installations and the error message is obviously unfounded. It occurs when saving pages, articles as well as elements or page layouts. It occurs irregularly, but very frequently.
The latest ve

[2022-04-13 17:14] fritzmg commented on #4508
Duplicate of https://github.com/contao/contao/issues/4454

[2022-04-13 17:14] #4508 closed, assigned to nobody

[2022-04-14 06:45] rhymeadam commented on #4492
I was able to put a workaround in place by using MooTools' Class.refactor on Picker.Date.getInputDate. I basically just checked to see if in this.options.format the month was before the date and if so, I cloned the input, adjusted the date so it'd parse correctly in Date.parse, and passed the cloned input to the parent method using this.previous.apply. It seems to me that this could be done in Con

[2022-04-14 10:01] #4507 closed, assigned to ausi

[2022-04-14 15:36] #3733 closed, assigned to nobody

[2022-04-14 15:36] #4023 closed, assigned to nobody

[2022-04-19 13:11] Toflar opened #4513 "Deprecation cleanups for Contao 5"
### Description

- [x] 1. Cleanup `$GLOBALS['TL_CRON']` and all its usages (@fritzmg) https://github.com/contao/contao/pull/4706
- [x] 2. Cleanup `$GLOBALS['TL_HOOKS']['getSearchablePages']` and all its usages (@toflar) https://github.com/contao/contao/pull/4578
- [x] 3. Cleanup `Backend::findSearchablePages()` (@toflar) https://github.com/contao/contao/pull/4578
- [x] 4. Cleanup deprecated localc

[2022-04-20 10:45] aschempp commented on #4401
I finally come to understand that this should be DX to solve the MySQL row size problem (https://github.com/contao/contao/pull/4179). So we don't really want an `ascii_bin` type, we want a string type that does not count against the MySQL row size? Technically speaking we could always change how this is done internally (or across platforms)?

[2022-04-20 10:47] aschempp commented on #4401
also, be aware there is an `AsciiStringType` (`ascii_string`) in Doctrine already 😆

[2022-04-20 18:21] rburch opened #4525 "Install tool Database Password - Special Characters"
### Affected version(s)

4.13.2

### Description

Doing a fresh install of contao with contao manager. When I entered the database credentials in the install tool I got a 500 error. We discovered that our database password was creating the issue. We changed it to a different one and reinstalled from scratch and it was fine. We then changed the password to the suspect one as a test and again got th

[2022-04-20 18:46] aschempp commented on #4492
Looks like our datepicker uses `Date.parse` which is not aware of the format used in Contao. It has a formatting parameter for output, but it incorrectly does not use that format for input.
https://github.com/contao-components/datepicker/blob/2.x/js/datepicker.js#L639

I think it should be possible to correctly parse custom date formats in our datepicker, so this would automatically work for all e

[2022-04-20 18:50] aschempp commented on #4525
if you could try that again, what does the YAML file look like after you entered it? Is the value inside single quotes?

[2022-04-20 19:20] ausi commented on #4525
I’d suspect the `%`

It would be great, if you could test several passwords, one with `%` one with `~` and one with `]`

[2022-04-20 19:36] aschempp commented on #4502
/cc @ausi

[2022-04-20 19:42] rburch commented on #4525
When I do it it freezes up the site and I end up having to do a whole new install. Is there a way to reset the install tool so I can test it easier?

[2022-04-21 01:02] rburch commented on #4525
I set up a new test site for it and got the same issue with that password. I took out the % from the password and did a reinstall from scratch and it worked. Looks like it's the %. ~ and ] worked fine.

[2022-04-21 07:50] fkaminski opened #4526 "General search for content in the backend"
### Description

It would be helpful if you could freely search for any phrases/texts or other data
in the backend and then immediately get to the corresponding backend entries via it.

Possibly this then within the Contao Dashboard (see also: #4503)

[2022-04-21 14:22] d0p3fish opened #4529 "namespace \App autoloader failing in prod with non class files in /src, but working in dev"
### Affected version(s)

4.13.1

### Description

php: 8.1
contao: 4.13.1

/src/Controller/MyModuleController.php
/src/Resources/contao/config/config.php

This is working in APP_ENV=dev. The module gets rendered in the frontend.
But is silently failing in production mode. The module is not rendered in the frontend.

Now, if a add the namespace manually in services.yml
[code]

And try to clear the

[2022-04-21 16:45] de-es opened #4532 "TinyMCE 6"
### Description

Are there any plans to deliver TinyMCE 6 with Contao 5? Should I provide a pull request?

[2022-04-21 17:15] fkaminski commented on #4532
I do not know if this is generally planned.
FYI - A list of upcoming changes:
https://www.tiny.cloud/docs/release-notes/6.0-upcoming-changes/

[2022-04-22 07:33] leofeyer commented on #4532
Yes, we are planning to ship TinyMCE 6. However, we should discuss this in the correct repo: https://github.com/contao-components/tinymce4

[2022-04-22 07:33] #4532 closed, assigned to nobody

[2022-04-22 07:48] de-es commented on #4532
Sounds good. The core needs some - small - adjustments for v6 to work flawlessly. That's why I opened the issue here in the first place.

https://github.com/contao-components/tinymce4/issues/4

[2022-04-22 08:16] ausi commented on #4525
Might be related to #1632

[2022-04-22 15:14] ausi commented on #4502
@rabauss Is there a `$GLOBALS['TL_HOOKS']['getLanguages']` hook used in your project?

[2022-04-22 15:47] ausi commented on #4502
Maybe using something like the following code could prevent such endless loops?

[code]

[2022-04-23 16:06] leofeyer opened #4538 "TinyMCE 6 for Contao 4?"
### Description

We should discuss whether we want to allow installing TinyMCE 6 with Contao 4.

TinyMCE 6 requires a few minor adjustments of the configuration file to work (see #4537), so once we allow version 6 to be installed, people will either have to adjust their TinyMCE configuration files or to add `"contao-components/tinymce4": "^5.0"` in their composer.json file to keep using version 5.

[2022-04-23 21:22] Toflar commented on #4538
Can't we allow both by accessing the installed version in the config template?

[2022-04-24 12:37] m-vo opened #4542 "Cleanup Folder class"
Currently, our old `Dbafs` implementation is still using the deprecated `getHash()` stuff via `$folder->hash`. Instead of adjusting all these usages and likely breaking things due to the non-existence of unit-tests, we could also deprecate the whole `Dbafs` class in 4.13 and remove it altogether in 5.

We would need to rewire `File`/`Folder`/`DC_Folder` to the new `Dbafs` service, but that is some

[2022-04-24 15:09] rabauss commented on #4502
@ausi: Yes, the hook `getLanguages` is used for custom sorting + filtering of the languages!

[2022-04-24 15:56] ausi commented on #4502
Can you check if the error disappears when disabling the hook?

[2022-04-25 10:36] bennyborn opened #4546 "Database connection using environment variables leads to "Malformed url""
### Affected version(s)

### Description

First of all I'm not sure if this issue is related to Contao at all. Could be that Symfony or Doctrine is to blame here.

We've updated a customers installation to 4.13 which is located in a Docker container on an AWS environment. After doing so a `composer install` fails with

![image](https://user-images.githubusercontent.com/226890/165072745-bcc860a7-c7

[2022-04-25 17:59] ben-eSM commented on #4526
I guess this would get along well with my suggestion in #4249.

[2022-04-26 09:39] arminfrey opened #4547 "Modul Auflistung Error ohne Ausfüllen des Felds Detailseitenbedingung"
### Affected version(s)

4.13.2

### Description

Erstellen eines Moduls Auflistung ohne die Eingabe einer Detailseitenbedingung, dann bekomme ich folgenden Fehler:

`[2022-04-26T09:35:31.768407+02:00] request.CRITICAL: Uncaught PHP Exception TypeError: "Argument 1 passed to Contao\CoreBundle\InsertTag\InsertTagParser::replaceInline() must be of the type string, null given, called in .../vendor/co

[2022-04-26 10:02] leofeyer commented on #4538
Unfortunately, this would not work for customized templates.

[2022-04-26 10:07] Anke commented on #4449
Sprechen wir hier jetzt also denglisch...

I updated a website from 4.11.x to 4.13.2. On this site a Player has never been installed. The install tool is producing an error. The old database line in `tl_content` is:

`playerColor varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT`

The installtool wants to change it as follows:

`ALTER TABLE tl_content CHANGE playerColor playerColor VARCHAR(6

[2022-04-26 10:16] leofeyer commented on #4449
@Anke Please open a new issue for this.

[2022-04-26 10:28] fritzmg commented on #4449
A new issue isn't needed, as it is the same issue.

[2022-04-26 10:34] Toflar commented on #4538
Well they would have to be adjusted as well of course. But probably we do that in Contao 5 then?

[2022-04-26 10:48] Toflar commented on #4547
Closing in favor of https://github.com/contao/contao/pull/4549.

[2022-04-26 10:48] #4547 closed, assigned to nobody

[2022-04-26 11:06] leofeyer commented on #4449
Why is it closed then?

[2022-04-26 11:07] fiedsch commented on #4449
because (most likely) I closed it as the original problem was solved/explained. Sorry for the confusion.

[2022-04-26 11:18] mlwebworker commented on #4449
@Anke Ich hatte bei mir auch nie einen Player laufen. Versuch mal wie im verlinkten Forumsthread die Spalte zu leeren oder zu löschen (natürlich vorher ein Backup der DB) machen.

[2022-04-26 11:23] Anke commented on #4449
Das ist schlecht - ist eine ganz kleine, aber produktive Website, und ich hatte die Spalte über PHPmyAdmin geändert, um den Job abzuschließen. Aber bald ist ein nächstes Update fälig - mit eingebundenem Player! Da wird's ja dann spannend ...

PS: Wenn auf der fraglichen Website nie ein Player eingebunden war, muss das Feld aber doch irgendwann (vllt schon in Version 3?) vorbelegt gewesen sein, ode

[2022-04-26 11:26] fritzmg commented on #4449
This error is unrelated to whether you used a player or not (see explanation above).

[2022-04-26 11:28] mlwebworker commented on #4449
@leofeyer Ich bin mir nicht sicher, ob man das Problem wirklich abfangen kann, wenn wie von @ausi erklärt, die Daten durch  gleichzeitiges Löschen einer Erweiterung während des Update entstanden sind, können dort (und auch in anderen Spalten) ja alle möglichen Daten drin stehen. Das Player-Farbfeld könnte man sicher auf gültige Farbwerte prüfen, wenn das aber auch an anderer Stelle (bei anderen Fe

[2022-04-26 11:35] mlwebworker commented on #4449
@Anke es geht in dem Fall um die Farbwerte des Players. Wenn in der Spalte keine Farbwerte drin stehen, dann macht das auch keinen Sinn. Die falschen Werte sind bei einem anderen Fehler (oben von @ausi verlinkt) zunächst unbemerkt in die DB geraten. Jetzt wo das Feld verkleinert wurde, weil Farbwerte nun mal nicht mehr Platz benötigen fällt das auf und muss m.E. in der DB bereinigt werden. Bei ein

[2022-04-26 11:54] Anke commented on #4449
Ich habe eben mal meine Backups durchforstet, weil ich dachte, der Fehler wäre dort durch ein anderes Feld verursacht worden, aber auch hier:

[code]

PS: Ich weiß nicht, ob die Infos euch helfen, aber auch hier war nie der Vimeo-Player eingebunden. Das Update hatte ich in diesem Fall von 4.12.4 auf 4.12.9 (glaube ich war es - mit der Fehlermeldung und manueller Änderung des playerColor-Feldes) vo

[2022-04-26 12:24] mlwebworker commented on #4449
@Anke Ich verstehe nicht was Du in alten Backups sehen willst.
Bei anderen Feldern wirst Du einen Fehler "`Data too long...`" nicht bekommen, weil die nicht gekürzt wurden.

Wenn man sich den verlinkten Pullrequest anschaut und die Tickets dazu liest war das schon in Contao 3 ein Problem, was erst 2020 gefixt wurde. Alle Installationen die also irgendwann von Contao-Versionen upgedatet wurden, als

[2022-04-26 13:20] rabauss commented on #4502
I'm not sure how to test it - because as I said, I can't reproduce my broken cache.
However, the loop can always occur if there was no previous successful return from `loadLanguageFile` - here: https://github.com/contao/contao/blob/b986083e001cfe4ce79f4ff4b2e5fc9858824a91/core-bundle/src/Resources/contao/library/Contao/System.php#L460

[2022-04-26 20:44] aschempp opened #4550 "trigger_deprecation in Contao 4.9?"
### Affected version(s)

4.9

### Description

https://github.com/contao/contao/blob/4.9/core-bundle/src/Resources/contao/library/Contao/StringUtil.php#L492

isn't this a bug and should use `trigger_error`?

[2022-04-27 06:38] leofeyer commented on #4550
Yes.

[2022-04-27 07:35] m-vo opened #4551 "Improve default escaping strategy for Contao Twig templates"
### Affected version(s)

4.13

### Description

Assume there is a Contao template `fe_page.html.twig` that includes `_my_partial.html.twig` like this (i.e. without a `@Contao` namespace prefix):

[code]

Now our default escaper rule, `^@Contao(_[a-zA-Z0-9_-]*)?/`, that rewrites the escaper filter to our non-double-encoding one, won't match anymore for the included module. The same is the case if y

[2022-04-27 23:16] ameotoko commented on #4526
Yes, something like https://github.com/terminal42/contao-tablelookupwizard, but in a panel. That would be awesome!

[2022-04-28 00:56] ameotoko opened #4560 ""collate" is deprecated in Doctrine"
### Affected version(s)

4.13

### Description

Looks like `collate` here should become `collation` now? 🤔

https://github.com/contao/contao/blob/751a4a821c7c69dc93a07d2f19df55bb4250f04e/manager-bundle/src/Resources/skeleton/config/config.yml#L45-L58

Reference:

* https://github.com/terminal42/contao-mailusername/issues/20
* https://github.com/doctrine/dbal/issues/5265
* https://github.com/doctri

[2022-04-28 10:55] patrickjDE opened #4561 "Mock current date and time in preview mode"
### Description

While the preview mode currently offers the option to show all unpublished items, that doesn't cut it for more complex scenarios. So this RFC proposes a new option for the preview mode, which renders the page as it would be rendered at a specific point in time, chosen by the user.

Use-cases:
- Pages with lots of fluctuating and recurring content - Currently these turn into a conv

[2022-04-29 09:26] theDyingMountain opened #4568 "It's impossible to make an option with label "0" in the Form Editor"
### Affected version(s)

4.13.2

### Description

In the select form field, the option with label "0" is deleted on save:

![Screenshot 2022-04-29 at 11-24-10 Formulare Teamanmeldung DE Challenge Felder Formularfeld ID 648 bearbeiten relaunch2022 hands-on-technology org](https://user-images.githubusercontent.com/4446224/165918748-fce01910-dd1e-4f31-a907-11804169d30b.png)

![Screenshot 2022-04-29 a

[2022-04-29 11:34] bezin commented on #4568
I can confirm this.

[2022-04-29 12:15] cliffparnitzky commented on #4170
I have check this with Contao 4.9.28 ... same "probleme" here.

[2022-04-29 12:50] #4568 closed, assigned to nobody

[2022-04-29 13:58] Samson1964 opened #4572 "Newsletter-Versand wird unterbrochen bei nicht existierender Domain"
### Affected version(s)

4.12.7

### Description

Der Versand eines Newsletters wird bei mir gelegentlich unterbrochen:
Expected response code "250/251/252" but got code "521", with message "521 5.1.2 Domain does not exist: 'xxx.de'".
Es würde doch reichen solche Meldungen in tl_log reinzuschreiben, anstatt den Anwender mit so einer Meldung bei der Arbeit zu unterbrechen. Erst wenn die E-Mail-Adre

[2022-04-29 14:37] bezin opened #4575 "Remove imagemargin and floating in Contao 5"
### Description

Many years ago we had `margin before` and `margin after` fields for content elements (not exactly sure about that), which we removed because that was theme-related. I think we should finally remove `imagemargin` and `floating`, too, as this is theme-related as well and should be solved otherwise.

The same goes for the layout options (rows and columns) in the gallery element actua

[2022-04-29 15:03] contaoacademy commented on #2179
Should be fixed with https://github.com/contao/contao/pull/4433

[2022-04-29 15:20] contaoacademy commented on #55
Da mit Contao 5 der interne CSS-Editor entfällt, würde ich das Ticket schließen.

[2022-04-29 15:21] #55 closed, assigned to nobody

[2022-04-29 17:06] fritzmg commented on #4575
Why do you want to remove floating? We use that all the time. Same with images per row for gallery elements.

[2022-04-30 10:09] Toflar opened #4577 "Re-think the .root file name for the Twig integration"
### Description

As noticed at the Contao Camp 22, the `.root` filename seems to be confusing for many people. Maybe we can come up with a better name for it?

[2022-04-30 14:42] bezin commented on #4575
We don't use either. But I can see, how you might use these — at least floating.

Let us see, how others use these settings.

[2022-04-30 15:17] #1000 closed, assigned to nobody

[2022-04-30 15:19] #692 closed, assigned to nobody

[2022-04-30 15:20] leofeyer commented on #4575
I agree that we should probably keep the floating setting.

[2022-04-30 18:41] ameotoko commented on #4561
This is a killer feature in TYPO3's preview mode, would love to see it implemented in Contao!

[2022-05-01 09:38] fritzmg commented on #4575
And regarding the row setting for gallery elements - that's how we use it:

[code]

plus a mechanism to automatically set the appropriate image size from `contao.image.sizes`.

[2022-05-01 11:21] m-vo commented on #4575
Yes, in the new elements I would name it `layout` though, and make it a property of the content element instead of the figure/image.

[2022-05-01 16:08] fritzmg commented on #4529
Closing in favor of #4586

[2022-05-01 17:22] contaoacademy commented on #4575
Yes, please keep the floating setting.

[2022-05-01 17:28] aschempp commented on #4529
I still want to find out why this happens in the first place 🙃

[2022-05-01 17:46] fritzmg commented on #4529
Actually this issue is not related to #4586 at all - as the described error only happens with the manual service definition.

@d0p3fish what is the content of your PHP files? Also you should not put anything into `src/Resources`. You should move `src/Resources/contao/` to `contao/`.

[2022-05-01 22:20] fritzmg commented on #4546
I cannot confirm that this ever worked before Contao 4.13. I also cannot reproduce your exact error. If I try to reproduce with a similar `parameters.yaml` and `.env`(`.local`) I will get:

[code]

Instead of using the `config/parameters.yaml` for the database credentials, you could also use

[code]

in your `.env`(`.local`).

[2022-05-02 07:09] bennyborn commented on #4546
Thats unfortunate but we've got this exact setup running with a 4.4.50 since 2018 (PHP 7.2).

According to [this document](https://symfony.com/doc/3.2/configuration/external_parameters.html) the support for the `env()` was introduced in Symfony 3.2. Our 4.4.50 ran on Symfony 3.4.

Very strange... Could the PHP-Version affect this? We've now been running on 7.4.

I know, that's what we ended up doi

[2022-05-02 07:20] bennyborn commented on #4575
I'm also for keeping the floating but I'd also really like to see the `imagemargin` gone 😁

[2022-05-02 07:38] fritzmg commented on #4546
I only tested with Contao 4.9 (Symfony 4.4) - haven't checked Contao 4.4 yet (Symfony 3.4).

[2022-05-02 07:57] bennyborn commented on #4546
You shouldn't have to test 4.4. The question wasn't why it was working before rather than why it's not working now.

Do you know if this could be Contao related at all or is all that `parameters.yml` handling and database connection all part of Symfony itself?

[2022-05-02 08:19] bennyborn commented on #4546
Seems we've found something.

Contao builds up the `database_url` using the different parameters from the yaml in this method:

https://github.com/contao/contao/blob/4.13/manager-bundle/src/ContaoManager/Plugin.php#L549

Each parameter is encoded using `$this->encodeUrlParameter` and that's the problem.

The actual parsing of the environment variables seems to take place at a later time (possibly

[2022-05-02 09:34] #124 closed, assigned to nobody

[2022-05-02 11:05] m-vo commented on #4529
IIRC the issue only appears in prod because exceptions are catched in the debug class loader. You'll run into this problem for all sorts of reasons. E.g. having non-defined constants in method declarations and so on…

[2022-05-02 13:03] #4550 closed, assigned to nobody

[2022-05-02 13:08] leofeyer commented on #4406
Then please report the bug there.

[2022-05-02 13:08] #4406 closed, assigned to nobody

[2022-05-02 13:08] #4458 closed, assigned to nobody

[2022-05-02 13:13] leofeyer commented on #4483
What is the error message?

[2022-05-02 13:36] fritzmg commented on #4547
Duplicate of #4483

[2022-05-02 13:36] fritzmg commented on #4483
See #4547 - but it was only fixed in Contao 4.13: https://github.com/contao/contao/pull/4549

[2022-05-02 14:11] fritzmg commented on #4546
What I mean is: if this was never supported, then it might not be worth investing any energy in it ;). Using environment variables in parameters seems odd to me anyway.

[2022-05-02 15:44] bytehead commented on #4170
Closed in favor of #4574

[2022-05-02 15:44] #4170 closed, assigned to nobody

[2022-05-02 15:52] #4560 closed, assigned to nobody

[2022-05-02 16:19] m-vo commented on #4577
Any suggestions?

[2022-05-02 17:34] rabauss commented on #4577
`.folders` or `.tree` ?

[2022-05-02 17:44] contaoacademy commented on #4577
- `.tpldir`
- `.basedir`
- `.twigfolder`
- `.tplmount`

[2022-05-02 17:54] contaoacademy opened #4594 "Optimize default value for search filter by pagetree"
### Description

It would be helpful if there were new default settings for a value which is used more often, e.g. title as default.
Similar with the articles and content elements

Currently:
- Page = Assets-URL
- Article = Article alias
- Content elements = Alternative text

I would like to see:
- Page = page title
- Article = title
- Content element = text or heading

[2022-05-02 18:23] fritzmg commented on #4594
Currently the list is simply sorted alphabetically. Though I agree that this could be improved. May be the last used search field (for each DataContainer/back end module) could be stored in the `localStorage`?

[2022-05-02 20:30] cliffparnitzky commented on #4483
Okay, when confirming I only checked Contao 4.13. Sorry.

Currently my Contao 4.9 test system doen't produce an error, when the conditions are not filled. So, for me it seems to be a Contao 4.13 error which may be solved with #4549

[2022-05-02 20:41] fritzmg commented on #4483
Did you test with PHP 8?

[2022-05-02 21:05] cliffparnitzky commented on #4483
Yep. No problems with Contao 4.9.28 and PHP 8.1.

[2022-05-03 06:40] bennyborn commented on #4546
It was and still is supported by Symfony. The current implementation of the Manager Plugin is the thing that breaks it. I don't get why Contao tries to "improve" something that is provided by Symfony by automatically url encoding all parameters. Properly encoding the parameters should imho be done by who ever writes them in these files, not Contao.

What would your approach be to dockerize an inst

[2022-05-03 07:25] fritzmg commented on #4546
Yes, see above: https://github.com/contao/contao/issues/4546#issuecomment-1114351602

[2022-05-03 07:35] bennyborn commented on #4546
I know, I meant some kind of config file instead of a special environment variable.

[2022-05-03 07:43] contaoacademy commented on #4594
This would be great! How much effort is that?

[2022-05-03 07:44] fritzmg commented on #4546
Not sure what you are looking for. Using the `DATABASE_URL` environment variable is the way to go.

[2022-05-03 09:07] michb opened #4597 "Remove contao.encryption_key from configuration"
### Affected version(s)

4.13.2

### Description

After the legacy encryption was removed in https://github.com/contao/contao/pull/2694 and finally dropped in https://github.com/contao/contao/pull/4307. There is no need for the parameter `contao.encryption_key`, also it will not be set into the container.

Therefore we could remove following block:
https://github.com/contao/contao/blob/bc07412dd5c

[2022-05-03 09:13] bytehead commented on #4597
Closing in favor of #4598.

[2022-05-03 09:13] #4597 closed, assigned to michb

[2022-05-03 09:23] leofeyer commented on #4483
Great, then I‘m closing this in favor of #4549.

[2022-05-03 09:23] #4483 closed, assigned to nobody

[2022-05-03 09:36] leofeyer commented on #4127
Closing this in favor of #4366.

[2022-05-03 09:36] #4127 closed, assigned to nobody

[2022-05-03 10:16] #4142 closed, assigned to nobody

[2022-05-03 10:17] #4181 closed, assigned to nobody

[2022-05-03 10:18] leofeyer commented on #4185
Closing this in favor of #4195 then.

[2022-05-03 11:05] #4473 closed, assigned to nobody

[2022-05-03 11:24] #4490 closed, assigned to nobody

[2022-05-03 13:28] bezin opened #4602 "Sitemap, Robots and Favicon controller always return 404 with domain and port"
### Affected version(s)

4.13, 5.x

### Description

1. Configure a DNS entry for your root page, e.g. `contao.local`
2. Run the application on some port, e.hg. `8000`
3. Request contao.local:8000/sitemap.xml

The response will always be 404, because `$request->server->get('HTTP_HOST')` always includes the port. The port however is not configured in the DNS page settings, because it is supposed to

[2022-05-03 13:55] olli1770 commented on #4194
The error is still present in 4.13.2, so breadcrumb is is unuseable at the moment.
Is there still somebody working on it?

[2022-05-03 14:29] Toflar commented on #4602
I think we should use `$request->getHost()` in all those places :) Can you test that and work on a PR if it works? 😇

[2022-05-03 15:47] #4460 closed, assigned to nobody

[2022-05-03 19:15] bennyborn commented on #4546
Ok. So what are we gonna do about the original problem?

If the different `database_` parameters are somewhat "obsolete" and `database_url` should be used instead, the Installtool should reflect this behaviour and also just insert `database_url` into the `parameters.yml` - at least in future releases. Otherwise it might be confusing for other users that are familiar with the possibility of using e

[2022-05-03 19:35] fritzmg commented on #4546
They are not obsolete, I just do not understand why you are using environment variables in your `parameters.yaml` this way.

The `DATABASE_URL` is an environment variable, it won't be stored in the `parameters.yaml`.

Contao creates the `DATABASE_URL` from the parameters, that's why they need to be encoded.

[2022-05-03 19:58] bennyborn commented on #4546
Because that's what we did in 4.4 and it just worked 🤷‍♂️

If `DATABASE_URL` was a viable option back then I didn't know about it. As stated in one of the above comments we've already settled with using `DATABASE_URL` for now, no problem there.

Understandable so far.

**Let's rephrase the question then:**
Shouldn't `encodeUrlParameter` be aware of possible environment variables and not encode the

[2022-05-03 21:24] michb commented on #4546
I am not sure where this is going, but I always thought since Contao is using Symfony the development is going towards using more and more features from Symfony, or at least build it the "Symfony way".
Therefor the system migrated from `localconfig.php` to` parameter.yml` or some other backend settings, like in `tl_page`.
If I remember correctly in Contao 4.4 the database connection settings where

[2022-05-03 21:54] fritzmg commented on #4546
That's why there is the `DATABASE_URL` now, which is used by Symfony.

Which Symfony features got broken?

[2022-05-03 23:05] Funbug commented on #2872
I may have the same problem with 4.9.x and 4.13.2. I guess the target_path is not right. The login redirects to the wrong page. If you need a test case I can give you access to a website.

[2022-05-03 23:23] Funbug commented on #2872
Got it. I had to deactivate "Redirect on login" of the member groups because a member is in multiple groups and the "bottom" group was always used for forwarding. Instead, the redirect must be activated in the individual login modules. (Each member group has its own login page.)

In my case it was probably a misconfiguration on my part.

[2022-05-04 06:29] michb commented on #4546
I was talking about using env variables in `parameters.yml`

[2022-05-04 08:01] Tastaturberuf commented on #4180
/unstale

[2022-05-04 09:26] fritzmg commented on #4546
But that's not a "Symfony feature". Usually, in a Symfony application, if you would use environment variables like `MYSQL_HOST` etc. you would put them directly in your `config/config.yaml` where you define your database connections.

In any case it should probably be an easy fix to keep supporting environment variables in the `parameters.yaml` in 4.9+ Managed Edition. We just need to resolve the

[2022-05-04 09:27] leofeyer commented on #4560
@ameotoko Can you please check if the changes from #4592 fix your issue?

[2022-05-04 10:42] #4602 closed, assigned to nobody

[2022-05-04 13:13] chiron501 opened #4606 "Versionskonflikt bei Änderung Layout zuweisen"
### Affected version(s)

4.9.28

### Description

Wenn man unter Seite xyz bearbeiten die Checkbox "Ein Layout zuweisen" aktiviert/deaktiviert und die Einstellungen speichert kommt eine Meldung "Versionskonflikt" obwohl weder ein anderer Benutzer angemeldet ist noch an der entsprechenden Seite arbeitet.
In der Contaoversion 4.9.27 tritt das Verhalten nicht auf.

PHP: 7.4.9

[2022-05-04 13:14] fritzmg commented on #4606
Duplicate of #4454

[2022-05-04 13:14] #4606 closed, assigned to nobody

[2022-05-05 06:57] havutcuoglu opened #4610 "Individuelle Weiterlesen Texte bei den News/Events Teaser- und Listenansicht."
### Description

Hallo lieber Contao-Team,

nachdem die "zurück zur Übersicht" Text unter Contao 4.13 #3862 individuell gestaltbar ist, würde es Sinn ergeben, den "Weiterlesen..." Text für die News und Events, Teaser- und Listenansicht auch als individuell gestaltbar implementieren.

Ist es möglich, dies in Contao als Standard zu implementieren?

Dieses Feature würde den Redakteur mehr Kreativität

[2022-05-05 08:00] fritzmg commented on #4610
Just to clarify: instead of having just one `MSC.goBack` translation, you want to have

* `MSC.eventGoBack`
* `MSC.newsGoBack`
* …

similar to the now existing

* `MSC.eventOverview`
* `MSC.newsOverview`
* …

is that correct?

[2022-05-05 08:16] havutcuoglu commented on #4610
No, I mean the read more `$GLOBALS['TL_LANG']['MSC']['more']` to make it custom.
I know I can change it in language files but I can not make it custom for every single news or event item.

For example:
News article 1 "read more" text -> Learn more about the new COVID Omicron variant
`<a href="....">Learn more about the new COVID Omicron variant</a>`
News article 2 "read more" text -> RKI clarifies

[2022-05-05 09:43] contaoacademy commented on #4594
I just saw that the last search is stored. However, as soon as I reset the search, then everything is cleared. I don't know if these two functions can be combined at all.

[2022-05-05 10:11] #1748 closed, assigned to nobody

[2022-05-05 11:21] fritzmg commented on #4185
Unfortunately this problem still occurs in Contao 4.13. #4195 fixed the problem for recreating the XML files in the back end. But the problem will still occur in Contao 4.13 when the cronjobs are executed in `kernel.terminate`, where the request will not be available in the request stack any more.

**Reproduction:**

1. Enable the command scheduler in the system settings.
2. Follow the instruction

[2022-05-05 13:33] leofeyer commented on #4577
As discussed in the Contao call, we want to go with `.twig-root` until we come up with a better idea. 😄

[2022-05-05 13:42] leofeyer commented on #4551
As discussed in the Contao call, we want to try no. 2 (inheriting the property of being a Contao template down the tree) and see if we can make it work.

[2022-05-05 13:48] leofeyer commented on #4542
As discussed in the Contao call, we want to deprecate the classes in a future 5.x release as soon as there are alternatives for them.

[2022-05-05 13:52] leofeyer commented on #4538
As discussed in the Contao call, we can only ship new asset major versions in Contao minor or major versions, so there will be no TinyMCE 6 for Contao 4.

[2022-05-05 13:52] #4538 closed, assigned to nobody

[2022-05-05 14:15] ausi commented on #4505
As discussed on Slack we want to try to make the `RelLightboxMigration` automatically run for all tinyMCE fields (including fields from extensions).

[2022-05-05 14:47] leofeyer commented on #4409
As discussed in the Contao call, we want to show unknown insert tags in the future.

<img width="579" alt="" src="https://user-images.githubusercontent.com/1192057/166949768-84602f45-ad0c-4c90-96e5-8d5e46053153.png">

[2022-05-05 15:05] kroerig opened #4616 "Unterstützung für U2F/FIDO/Webauthn"
### Description

Nachdem Contao ja nun schon seit einigen Versionen TOTP unterstützt (und heute der Welt-Passwort-Tag ist), finde ich es wird Zeit Contao fitt für die passwortlose Zeit zu machen. Selbst Apple, Google und MS haben angekündigt [mitzumachen](https://www.heise.de/news/Passwort-Nachfolge-Apple-Google-und-Microsoft-unterstuetzen-erweitertes-FIDO-7076804.html).

Daher mein Wunsch für Con

[2022-05-05 15:11] kroerig commented on #4572
4.12 ist keine aktiv gepflegte Version mehr. Tritt das Verhalten auch bei 4.13 auf?
Wie werden die Mails an den MTA übergeben?

Ich hatte dieses Verhalten bisher noch nicht.

[2022-05-05 15:29] leofeyer commented on #4185
As discussed in the Contao call, we want to add a fake session (`MockArraySessionStorage`) to the fake request.

[2022-05-05 15:40] asaage commented on #4409
My prefered solution would be to definitely keep the Log-entry and to output them in html-comments like
[code]

[2022-05-05 16:00] leofeyer commented on #4164
As discussed in the Contao call, we want to rename the field to "License URL" and validate the input.

[2022-05-05 16:24] leofeyer commented on #4037
As discussed in the Contao call, if

* an event list is set to show all future events and
* there are repeated events without limit,

we could show these unlimited events only once to prevent infinite repetitions. However, this is primarily a configuration error, because you have configured both the event and the event list with unlimited recurrences.

[2022-05-05 17:19] Toflar commented on #4164
Implemented in https://github.com/contao/contao/pull/4617

[2022-05-05 17:19] #4164 closed, assigned to nobody

[2022-05-06 09:54] ameotoko commented on #4560
Yes they do, thank you @leofeyer

[2022-05-06 09:57] leofeyer commented on #4610
I like this idea.

[2022-05-06 10:52] fritzmg commented on #4610
Yes, this has been requested before in the community. My initial idea was to be able to provide the label per archive though, not per article.

[2022-05-06 12:01] m-vo commented on #4577
Closing in favor of #4620.

[2022-05-06 12:01] #4577 closed, assigned to m-vo

[2022-05-06 13:14] havutcuoglu commented on #4610
If we implement the adjustment via archive level, you can also leave it as it is at the moment, because it doesn't bring any advantage.
For example you can implement from the news archives, blog, current affairs, offers, job offers etc. For one or the other it would make sense to change it to archive centrally. If somebody wish the default Text like Read more, can leave the field empty.

I think i

[2022-05-06 14:03] asaage commented on #4610
Having a default per list (not archive) makes more sense i think.
Override per article: I like that too.

[2022-05-06 14:28] madmaharaja opened #6330 "Simple Tokens vs. Inserttags"
If one uses simple tokens in the newsletter, that works fine for the e-mail. However, there is of course also the newsletter reader on the website. If one places the newsletter reader behind a front end login it would be nice if the member-specific simple tokens (e.g. ##email##, ##phone##, ##website##) would function like the corresponding inserttags ({{user::email}}, {{user::phone}}, etc.). This

[2022-05-06 21:24] Samson1964 commented on #4572
Ich konnte es erstmal nur in einer 4.9.29 testen:
Dort gibt es aber die Option Mailer-Transport noch nicht. Und der Versand funktioniert. Ich teste das nochmal in einer 4.13.

[2022-05-06 21:29] Samson1964 commented on #4572
Ich habe es gerade in der Contao-Demo getestet (4.13.2). Auch dort funktionierte der Versand. In meiner 4.12. habe ich in der parameters.yml SMTP-Daten angegeben. Ich weiß natürlich nicht, ob das in der Contao-Demo auch so ist.

[2022-05-07 08:09] aschempp commented on #4594
I think we could just keep the last searched field in the session. Instead of dropping the value from session when filters are cleared, we could set an empty value (string or null) so we know what field was searched for.

[2022-05-07 12:29] m-vo commented on #4551
Closing in favor of #4623.

[2022-05-07 12:29] #4551 closed, assigned to m-vo

[2022-05-07 16:44] fritzmg opened #4625 "Deprecate Automator?"
### Description

As the usage of `$GLOBALS['TL_CRON']` is deprecated, we need to clean up all legacy cron job of the core and register them as a properly tagged service instead (see also #4513). However, the remaining `contao/core-bundle` cron jobs are all based on the methods in the Automator. Most of them are fairly simple, the question is though how should we handle it? Because all the Automato

[2022-05-08 12:22] Kahmoon opened #4630 "Preview bar broken if empty backend parameters in config.xml"
### Affected version(s)

4.13.4

### Description

Acutally i had two similar installations. On the PROD site the Preview bar was broken after updating to 4.13.4. On DEV site everything was fine. After rerolling to 4.12.7 the error occured here too.

<img width="587" alt="Bildschirmfoto 2022-05-06 um 09 27 43" src="https://user-images.githubusercontent.com/6390770/167295812-0a0b0d81-7d6b-4422-a1ff-

[2022-05-08 12:25] fritzmg commented on #4630
I think we should disallow `null` for these parameters in the configuration tree.

[2022-05-09 08:06] aschempp commented on #4616
There seems to be a well supported Symfony bundle that offers this for regular firewalls. Might be a starting point.

https://github.com/web-auth/webauthn-symfony-bundle

[2022-05-09 08:18] kroerig commented on #4572
Die (öffentliche) Contao Demo verschickt E-Mails? Das würde mich wundern. Oder meinst Du eine selbst installierte Demo?
Dein "Problem" ist in der Tat die SMTP Konfiguration. Der SMTP prüft bei der Übergabe der Mail ob die Empfängerdomain existiert. Das ist für klassische Mailprogramme recht praktisch, weil der Absender sofort die Rückmeldung bekommt, dass was nicht stimmt und kein Bounce erzeugt w

[2022-05-09 11:26] Toflar commented on #4625
I think by introducing a general command that allows to run **any** cronjob that was registered via the cron framework, we could completely deprecate the Automator stuff :)

And then definitely migrate away from Automator to isolated cronjobs.

[2022-05-09 12:02] fritzmg commented on #4625
The automator is not only used for cronjobs though. Things like `purgeXmlFiles`, `purgeSearchIndex`, `purgeImageCache`, `purgePreviewCache`, `purgePageCache` are used in various places in the framework.

[2022-05-09 12:15] Toflar commented on #4625
Ideally, those should be services. So I don't think we can fix this in 5.0 but it will be a process to migrate during 5.x and then remove in 6.0.

[2022-05-10 16:22] leofeyer opened #4654 "Stop using dynamic class properties"
### Description

We have to talk about how to get rid of this:

https://github.com/contao/contao/blob/178a5680831903cd5d2d58bf7c143f44eaad404e/core-bundle/src/Resources/contao/classes/DataContainer.php#L279-L281

Maybe it‘s enough to replace `$this->$strKey = ` with `$this->arrProperties[$strKey] =`.

[2022-05-10 16:52] m-vo commented on #4654
btw: The [proposed way](https://wiki.php.net/rfc/deprecate_dynamic_properties) by Nikita is to use a weak map or the `#[AllowDynamicProperties]` attribute:

[code]

[2022-05-11 04:37] aschempp commented on #4654
Since we didn't support object keys anyway (and __set keys are strings only), I wouldn't go with a WeakMap.

[2022-05-11 09:33] ausi commented on #4654
Do we use this in the core? Otherwise I’d favor removing it in Contao 5.0 and triggering a deprecation in 4.13.

[2022-05-11 12:48] tobiasni opened #4659 "The table name must not be empty"
### Affected version(s)

4.13

### Description

In [Controller.php Line 1530](https://github.com/contao/core-bundle/blob/f5f38de45bebde9a1599936ba01ece1bb4dfca20/src/Resources/contao/library/Contao/Controller.php#L1530) "isset" should be changed to "!empty".
In [Line 1501](https://github.com/contao/core-bundle/blob/f5f38de45bebde9a1599936ba01ece1bb4dfca20/src/Resources/contao/library/Contao/Contro

[2022-05-11 13:59] Toflar commented on #4575
Marking `up for discussion` because that's actually an easy one for anybody to contribute, we just need to decide what :)

[2022-05-11 14:02] m-vo commented on #4575
Here is what I'm currently doing in #4444:

https://github.com/contao/contao/blob/704940d8c59d265affe2b8b823aea3d8c8449135/core-bundle/src/Controller/ContentElement/TextController.php#L44-L50

https://github.com/contao/contao/blob/704940d8c59d265affe2b8b823aea3d8c8449135/core-bundle/src/Resources/contao/templates/_new/content_element/text.html.twig#L17-L38

[2022-05-11 14:26] fritzmg commented on #4575
That would introduce additional wrappers which I wouldn't like 🙃. I'd prefer the class being added on the main wrapper.

[2022-05-11 14:58] m-vo commented on #4575
Well, that's debatable. :slightly_smiling_face:  IMHO it's better this way as it semantically separates outer and inner layout.

But, having a separate set of attributes makes it easy to adjust:
[code]

[2022-05-12 06:18] dazzle89 opened #4660 "Add class 'ce_headline' to main headline of content elements"
### Description

For me personally it would be nice to have a CSS class, like .ce_headline, for the MAIN headlines of content elements. So the HTML would be something like

[code]

Here is an example when it could be useful:

With the extension "om-backend" I often create classes for backend users. So let's say I create a class for red colored headlines and I name it .headline-red

In the content

[2022-05-12 18:21] christianromeni commented on #4161
Ok, so I finally got the time to continue with my project, and it actually is still not working in Contao 4.13.4

[code]

Still the same config as mentioned in [here](https://github.com/contao/contao/issues/4161#issuecomment-1086407959)

[2022-05-12 18:34] fritzmg commented on #4161
@christianromeni that's a different error message, referencing a completely different config. Please seek help in the Contao community.

[2022-05-12 18:51] christianromeni commented on #4161
@fritzmg Yes, because I disabled the setting for the composer update, so I could update to the latest version.. And check if it works..
This is the error I get in the frontend.. But during the installation, it was the error mentioned above.

[code]

[2022-05-13 06:37] aschempp commented on #4659
👍🏻 Sounds reasonable. It was changed in https://github.com/contao/core-bundle/commit/192b183fd2950508f8f217ad1ed595d812342962 to support the dynamic ptable from module config.

[2022-05-13 07:22] olli1770 commented on #4194
And still present in 4.13.4
The log is flooded with : Unable to generate URL for page ID 101: Page ID 101 is not routable

[2022-05-13 07:30] Toflar commented on #4194
Looks correct to me? It works but it logs because you have to fix it.

[2022-05-13 07:34] fritzmg commented on #4194
We removed the logging though.

@olli1770 please post a screenshot of the detail view of the log message.

[2022-05-13 08:11] fritzmg commented on #4659
@tobiasni Are you able to reproduce this in a vanilla Contao 4.13 installation? If yes, please post the reproduction steps. Otherwise it looks like an extension in your instance is setting the `ptable` to empty in a `loadDataContainer` hook.

[2022-05-13 08:48] tarun-uwe commented on #4194
Hi @fritzmg the logging was removed for/in Contao 4.12 but did make it back into Contao 4.13 and Contao 5 Branch.

[2022-05-13 09:53] #4194 closed, assigned to nobody

[2022-05-14 10:10] m-vo commented on #3679
Another one:
[code]
https://github.com/contao/contao/runs/6427435107?check_suite_focus=true

Edit: Eh, nevermind. It's the same as in https://github.com/contao/contao/issues/3679#issuecomment-1084774374. :man_facepalming:

[2022-05-15 11:28] ameotoko commented on #4660
You could also adjust `block_searchable.html5` in your application:

[code]

[2022-05-16 06:17] ausi commented on #4409
This is impossible as it would close existing HTML comments (and is therefore dangerous regarding XSS).

Example before:

[code]

After:

[code]

[2022-05-16 07:28] bennyborn commented on #4173
Actually the implemented solution presents us with a small problem.

We have a textfield which contains an API key. This key is generated automatically and cannot be changed. We used the wizard to open a popup where this key is integrated in an example snippet of how a config file should look. With this fix the wizard is now gone :\

Surely that's an edge-case but maybe we could discuss an eval op

[2022-05-16 07:32] #4660 closed, assigned to nobody

[2022-05-16 08:45] aschempp commented on #4173
You should use the help wizard for that, not the picker.

[2022-05-16 08:50] fritzmg commented on #4173
Why the help wizard?

You should use the `fields.<FIELDS>.wizard` callback for that imho. Unfortunately that won't help in this case as the check for `disabled`/`readonly` comes _after_ the callback. May be we can adjust that, so that you can force your own wizard, regardless of `disabled` or `readonly`.

[2022-05-16 09:10] bennyborn commented on #4173
That's exactly what we already do :)

Correct. Would be nice if "custom" wizards could decide for themself if they should be visible or not.

[2022-05-16 09:12] fritzmg commented on #4173
I agree. Please create a separate issue for that though (or preferably a PR directly), since the original issue was not about custom wizards.

[2022-05-16 09:14] aschempp commented on #4173
you are using `wizard`, you should use `helpwizard` 😉 https://docs.contao.org/dev/reference/dca/fields/#explanation

[2022-05-16 09:16] fritzmg commented on #4173
The help wizard is for explanations, not for picking things. Why would you use the help wizard for that?

[2022-05-16 09:19] bennyborn commented on #4173
It's actually not about picking things. It's just about showing an explanation tailored to the value of the field. This is something that is not possible when using a `helpWizard` iirc.

[2022-05-16 09:21] bennyborn opened #4676 "Allow custom wizard to be visible for disabled fields"
### Affected version(s)

4.13

### Description

This refers to the implemented solution in #4173.

There should be a way for custom wizards to decide for themself if they should be visible or not. Even if the field is `disabled` or `readonly`.

[2022-05-16 09:25] aschempp commented on #4173
yeah I guess that's true. But that feels like a separate issue from the picker being disabled

[2022-05-16 09:27] aschempp commented on #4676
https://github.com/contao/contao/issues/4173#issuecomment-1127431580 feels like the correct solution would be to allow a customized helpwizard based on the field value

[2022-05-16 09:29] fritzmg commented on #4676
~~@aschempp again, why are you suggesting to use the help wizard for a custom picker wizard?~~ // edit: did not see the updated comments yet 🙃

[2022-05-16 09:38] fritzmg commented on #4173
It would be possible with a combination of a `xlabel` callback and an `onload` callback. Via the `xlabel` callback you adjust the help wizard URL to include additional parameters based on the widget's value and the `onload` callback adjusts the DCA accordingly. Not the most elegant solution though. For Contao 5.x we should probably make the help wizard pop up more flexible.

[2022-05-16 11:01] aschempp commented on #4659
@leofeyer the check is obviously only meant to handle a misconfigured extension??

[2022-05-16 11:04] aschempp commented on #4610
I actually implemented this in a client project recently by adding a custom field to the `tl_news` DCA and using it in the template. But that's like the first time in 10 years that was ever requested, not sure it needs to be there by default 🤷

[2022-05-16 11:28] havutcuoglu commented on #4610
@aschempp ok. But we implemented this feature more than 10 times, because most of our clients using WordPress before. After they're changing to Contao asking about the custom text fields for news and blog items. In fact, they ask where they can customize the read more text. We have this option also by hyperlink and download elements. Why not in News items?

I think, It is a small Feature but has a

[2022-05-16 12:56] Kahmoon opened #4678 "File synchronisation deletes big files in 4.13.4"
### Affected version(s)

4.13.4

### Description

I have a few video files on my server (2,5 GB and 289MB). After uploading them via ftp, file synchronisation finds all of them and i can choose them in content elements.

When using them in a content element "video", the big file (2,5GB) gets deleted at the next synchronisation. But the file remains on the server and i can still see it in contao fi

[2022-05-16 13:12] fritzmg commented on #4678
I can confirm the issue. Reproduction:

1. Add a video file greater than 2 GiB to your Contao instance.
2. Select this video file in the video content element and save.
3. Go to the file manager and execute a file sync. It will say _"Removed the file or folder "files/foobar/test.mp4"_.
4. Go to the content element again. The video will not be selected any more.

This presumably happens with every

[2022-05-16 13:46] m-vo commented on #4678
I wonder why it's possible to select the file in the first place: `playerSRC` stores a UUID, no? My guess would be that the legacy code (still used in DC_File/Folder) still created a DB record when using the picker or something. We'd need to investigate.

One thought (independent of the solution): We could maybe also create entries for big files, omit the hash but still make the sync work if the p

[2022-05-16 14:05] fritzmg commented on #4678
UUID generation is not affected by this, as this is just a random UUID returned by MySQL. It is independent from the file and its content.

That's the behavior in Contao 4.9, as far as I can tell. It's just the sync in 4.13 that now removes `tl_files` entries for files greater than 2 GiB (the 2 GiB limitation is in `Contao\File::getHash()`). The sync in Contao 4.9 did not remove `tl_files` entries

[2022-05-16 14:18] asaage commented on #4678
Is this limit configurable?
I don't like that it exits in the first place. If you can afford uploads of 2G files then creating a hash from that should not be a problem either.

[2022-05-16 14:23] fritzmg commented on #4678
The limit is hard coded. The hash is (afaik) only used to detect whether a file has been moved outside of Contao during the file sync. So otherwise there are no limitations.

[2022-05-16 15:24] ausi commented on #4678
I would remove the limitation from `File::getHash()`.

But we should still check why the synchronization fails in that case. If the hash doesn’t match, the file with the same path should still not be removed.

Would the sync still work if we change `File::getHash()` from returning `''` to return `'00000000000000000000000000000000'` instead?

[2022-05-16 15:32] ausi commented on #4678
The picker calls `Dbafs::addResource()` in https://github.com/contao/contao/blob/0d610b03d2485b5257cdfba4a246f98645238c9b/core-bundle/src/Resources/contao/classes/Ajax.php#L393 which then stores the hash from https://github.com/contao/contao/blob/0d610b03d2485b5257cdfba4a246f98645238c9b/core-bundle/src/Resources/contao/library/Contao/Dbafs.php#L182

So the database has an entry after that with an

[2022-05-16 15:58] m-vo commented on #4678
Btw., the new `Dbafs` service ignores files that are too large, i.e. they won't make it in the diff:

https://github.com/contao/contao/blob/8131c15ef1e0fc640b81459e9e61807944d0b2fb/core-bundle/src/Filesystem/Dbafs/Dbafs.php#L732-L734

Maybe, this behavior is not want we want.

[2022-05-16 22:07] m-vo commented on #4678
Discussed this briefly with @ausi: We should probably just remove the file size limitation altogether. The old implementation uses `md5_file`, the new one streams data + und updates hashes - neither of which takes a lot of memory or an exceedingly long execution time.

If there's no protest, I'd go ahead and implement this solution.

[2022-05-17 06:43] Toflar commented on #4678
Additional ideas that just came to my mind which might help working around the limitation:

- Compare the file size first and add an early abort if it's just to see if the contents still match. If the number of bytes differ, it's impossible that they'll have the same hash (I mean, technically for md5 it's not but that would be actually even an improvement then for the collision possibilities in md

[2022-05-17 09:48] m-vo opened #4684 "Change default DBAFS hash algorithm in Contao 6"
Additional ideas that just came to my mind which might help working around the limitation:

- Compare the file size first and add an early abort if it's just to see if the contents still match. If the number of bytes differ, it's impossible that they'll have the same hash (I mean, technically for md5 it's not but that would be actually even an improvement then for the collision possibilities in md

[2022-05-17 09:48] m-vo commented on #4684
I'd also throw in `xxhash` that was the fastest when I tried it some time ago.

[2022-05-17 09:49] m-vo commented on #4678
Closing in favor of #4683

For the suggestion by @Toflar I created a new issue: #4684

[2022-05-17 09:49] #4678 closed, assigned to nobody

[2022-05-17 09:54] bennyborn opened #4685 "Remove site from search index on 404"
### Affected version(s)

4.13

### Description

If a site has been indexed and is unpublished afterwards the site can still be found using the search. Clicking the result leads to a 404 page of course but the site does not get removed from the search index then. This is due to several checks already failing

https://github.com/contao/contao/blob/50502c09eec66d75b1c1ae280ceec90a0ab4ca62/core-bundle

[2022-05-17 09:56] fritzmg commented on #4685
This likely also occurs in 4.9, not just 4.13.

[2022-05-18 10:33] bezin opened #4689 "Drop simplepie/simplepie in favor of debril/feedio"
### Description

While working on #4682 I stumbled upon the RssReaderModule. It uses the simplepie/simplepie library to read and parse feeds. As the new Feed page controllers will use debril/feedio (because it supports reading and writing out of the box), we could refactor the RssReaderModule and drop SimplePie.

[2022-05-19 06:36] mwitzmann opened #4694 "DCA isAssociative "true", includeBlankOption "true", entry with the key "0" always selected (PHP 7.4)"
### Affected version(s)

4.9.29

### Description

Hi all,

[code]

With the given dca field configuration, Contao automatically selects the entry with the key "0" but it should select the first "empty" value entry. Even when the first entry has a non-numeric index (e.g. "test") Contao will always select the entry with the key "0".
This occurs in PHP 7.4, but works in PHP 8.1.5.

[2022-05-19 07:39] oexler opened #4695 "Image type "heic" was not allowed to be processed"
### Affected version(s)

4.13.4

### Description

When a user tried to upload a HEIC Image he got the error
`Image type "heic" was not allowed to be processed`
and could not use the file manager anymore.
I think the problem is that isImage returns true for the filetype
[File.php:364
](https://github.com/contao/contao/blob/0627361c011bb2a2295d912d682f1e4465786716/core-bundle/src/Resources/contao/li

[2022-05-19 08:30] leofeyer commented on #4694
Please do not link to non-public threads. Provide the necessary information here instead.

[2022-05-19 08:34] fritzmg commented on #4694
I can confirm the issue. Looking at the respective issues and PR's about this in the past I think it was never actually fixed and it just happens to now work with PHP 8 due to its improved type safety.

[2022-05-19 11:27] ausi commented on #4695
@oexler Can you please verify if the changes from #4698 fix the issue for your use case?

[2022-05-19 11:40] qzminski opened #4699 "Page settings inheritance and shared cache"
### Affected version(s)

4.13.x

### Description

It seems that there is a problem with page settings inherited data when the shared page cache is enabled:

1. If you open a regular page it will get cached. Then, if you enable the maintenance mode in the website root settings and visit the same page again, there will be no maintenance mode displayed, but rather the page content exactly as it has b

[2022-05-19 11:42] oexler commented on #4695
The changes from https://github.com/contao/contao/pull/4698 fix the issue for me.

[2022-05-19 11:45] Toflar commented on #4699
I think we should have a general response listener that adds the page tags and the trail (plus root page). I would do this in 4.13 only (even though it also affects 4.9) as there's a better way to access the page model in all circumstances. 4.9 still has quite some inconsistencies and I don't think it's worth investing. After all this is not a "bug bug". Cache invalidation when you edit is conveni

[2022-05-19 11:49] #4695 closed, assigned to ausi

[2022-05-19 12:01] ausi commented on #4699
Wouldn’t it fit the current concept better if we would fix this in the backend?

We currently invalidate all parent (ptable) and all child (ctable) items, I think we should extend that so that parent and child items from tree views are handled the same way.

[2022-05-19 12:23] fritzmg commented on #4699
imho that's expected behavior. But the maintenance mode switch for the root could of course be changed to also invalidate the respective cache entries.

I agree. Also we should fix this in 4.9 then.

[2022-05-20 07:12] leofeyer commented on #475
So how do we proceed here?

[2022-05-23 07:46] contaoacademy opened #4710 "Add a redirect option for lost password to the login module"
### Description

When I use the login form on a website, I usually add a link to the "Forgot password" page to the template. It would be helpful if there is an entry "redirect page for forgotten password page" in the backend.

If this field is filled, a link "Forgot password?" is added to the template.

[2022-05-23 08:31] aschempp commented on #4180
@Tastaturberuf would you be up for a pull request? 🙃

[2022-05-23 13:17] contaoacademy opened #4712 "custom mailer transport does not completely overwrite the settings"
### Affected version(s)

4.13.4

### Description

I have configured a custom mailer transport via `config.yml` and also have set a **custom from-address**.

**Example config.yml**
[code]

The configured SMTP credentials matches the mailbox `service@domain-a.de`

At the website root I have selected this custom mailer transport `service`. As _e-mail of the website administrator_ I set a completely f

[2022-05-23 17:51] aschempp commented on #4699
This is really easy to fix even for 4.9, see https://github.com/contao/contao/pull/4714

[2022-05-23 18:05] #2179 closed, assigned to nobody

[2022-05-23 18:12] aschempp commented on #4496
https://github.com/contao/contao/pull/4711 fixes the inconsistency

[2022-05-23 18:18] aschempp commented on #4222
I would like to see this too, but as soon as you edit a member in the back end, you will run into issues if some of the registration fields were not mandatory but are in the back end. The only correct solution I can think of is to correctly configure the DCA – which will then also configure the registration module.
https://docs.contao.org/dev/getting-started/dca/

[2022-05-23 18:24] aschempp commented on #4399
closing this for now since noone seems to have the issue anymore

[2022-05-23 18:24] #4399 closed, assigned to nobody

[2022-05-23 20:34] aschempp commented on #4104
should be fixed by https://github.com/contao/contao/pull/4717

[2022-05-24 07:18] #4104 closed, assigned to aschempp

[2022-05-24 12:18] mlwebworker opened #4722 "irregular repetitions"
### Description

Wie beim letzten Contao Call kurz angerissen, würde ich es sehr begrüßen, wenn wir im Core unregelmäßige Wiederholungen händeln könnten. Es kommt doch recht häufig vor, dass für ein Event mit regelmäßiger Wiederholung einzelne Termine verschoben werden müssen oder ausfallen.
Diese Funktionalität habe ich bisher mit der Erweiterung calendar-extended (https://github.com/kmielke/cale

[2022-05-24 12:44] tschero commented on #4722
+1

[2022-05-24 13:06] qzminski opened #4723 "Resize images command returns an error if image does not exist anymore"
### Affected version(s)

4.13.x

### Description

The `contao:resize-images` command will return an error code if the source image does not exist: https://github.com/contao/contao/blob/4.13/core-bundle/src/Command/ResizeImagesCommand.php#L152-L162

Which will then be populated by parent process: https://github.com/contao/contao/blob/4.13/core-bundle/src/Command/ResizeImagesCommand.php#L367

Which

[2022-05-24 13:08] Toflar commented on #4723
I think the error code makes sense if someone wants to resize only one specific image. But if you run `contao:resize-images` without any argument (which will span itself with the argument, so we have to be careful here) it makes no sense, imho. Wdyt @ausi ?

[2022-05-24 13:42] ausi commented on #4723
The command itself should only fail if all resizes have failed, see https://github.com/contao/contao/blob/0e57eafe199ef2e5709e4d2c398dcf0e68a43026/core-bundle/src/Command/ResizeImagesCommand.php?rgh-link-date=2022-05-24T13%3A06%3A01Z#L331-L335

In your screenshot it appears that there were 7 images to resize and all of them failed to do so.

[2022-05-24 13:46] Toflar commented on #4723
The idea of this command is to have a worker in the background that resizes the images constantly so the web process is not tasked with this, right? At least we're using it like that because performance is more important than disk space. So the worker currently fails from time to time because no source image has been found anymore - why would I care? :)

[2022-05-24 14:07] ausi commented on #4723
It only fails if all source images are not found, which is a case you do possibly care, don’t you?

[2022-05-24 14:40] Toflar commented on #4723
Not at all :)

[2022-05-24 15:01] ausi commented on #4723
I’m not sure if I understand the use case correctly.
You could either ignore the exit code by using something like that:

[code]

Or maybe we could introduce a `--worker` flag that is meant to run indefinitely?

How do you manage the background worker instance? Or is it just a cron job that runs every minute?

[2022-05-24 15:03] Toflar commented on #4723
Yeah we can ignore, sure. It was just more a question in which case the user ever needs to know those failures. I mean, a failure to me means I need to fix something. However, I cannot because the file is gone - so what's the point of telling me that it couldn't resize? :)

[2022-05-24 15:09] ausi commented on #4723
I think I understand it now. We should then add a `return 0;` after the following line: https://github.com/contao/contao/blob/0e57eafe199ef2e5709e4d2c398dcf0e68a43026/core-bundle/src/Command/ResizeImagesCommand.php#L159

[2022-05-25 11:41] #4712 closed, assigned to fritzmg

[2022-05-25 11:52] math-GH opened #4731 "Page layout: external javascript is empty"
### Affected version(s)

4.9.29

### Description

Somewhen I chose 2 external javascript files.

But now: the 2 files are not selected anymore in the page layout

![grafik](https://user-images.githubusercontent.com/1645099/170255103-cfe6da82-24e7-419b-b97b-2bd5cc5b78f8.png)

But: The files are still available in the frontend.

So I guess the page layouts config page has an issue.

[2022-05-26 09:34] math-GH commented on #4731
I found the issue.

It was my fault. There is a individual hack in fe_page.html5

[2022-05-26 09:34] #4731 closed, assigned to nobody

[2022-05-26 15:04] #4610 closed, assigned to nobody

[2022-05-26 16:30] leofeyer commented on #3388
I fully agree, however, I have no idea how such an icon should look. It is essential that we find one, though, otherwise I cannot continue to work on contao/contao#5391 and contao/core#4371. So @contao/developers and everyone else: how should an "edit child records" icon look like?

<img width="255" alt="" src="https://user-images.githubusercontent.com/1192057/170532320-59e6d40c-f855-48c6-8d78-9a5

[2022-05-26 16:49] asaage commented on #3388
I'd probably use the [parent.svg](https://github.com/contao/contao/blob/5.x/core-bundle/src/Resources/contao/themes/flexible/icons/parent.svg) icon and change the colors to grey (top/parent) and yellow (for editing/child-items)

[2022-05-27 06:38] aschempp commented on #3388
I don't like to think about how an icon should look like, but look at it from UX perspective. If you look at a page tree to edit records, you use the edit icon. If I look at an article tree, 95% of the time I want to edit _the article content_ and therefore click the edit icon. It's not only a matter of icon but also of position. Moving the _edit child records_ operation to the second position wou

[2022-05-27 08:41] ausi commented on #3388
Something in this direction maybe?
![Bildschirmfoto 2022-05-27 um 10 41 00](https://user-images.githubusercontent.com/367169/170664095-63144844-232b-48d4-bd9f-c861ca20f014.png)

[2022-05-27 14:30] fritzmg commented on #3388
imho this icon does not need an "edit pen" - because the action never brings you into an "edit view". It primarily _lists_ entries (which you then can edit individually). I think I would prefer something like <img src="https://www.hps-training.com/bundles/srhinowthemecontent/icons/combo_boxes.png" width="16"> / <img src="https://user-images.githubusercontent.com/4970961/170719773-9722d140-65cc-4db

[2022-05-27 14:40] ausi commented on #4505
Closed in favor of #4747

[2022-05-27 14:40] #4505 closed, assigned to ausi

[2022-05-27 14:46] ausi commented on #4421
Closed in favor of #4748

[2022-05-27 14:46] #4421 closed, assigned to ausi

[2022-05-27 14:46] #2283 closed, assigned to nobody

[2022-05-27 15:45] asaage commented on #3388
![This is an image](https://gist.githubusercontent.com/asaage/04a39a3101f8bc8e739b2aeeff74f7d4/raw/15a367e2bbe2c186d88606f3b545547ae03e4e8d/childedit.svg)

[2022-05-27 16:02] ausi commented on #4405
Closed in favor of #4749

[2022-05-27 16:02] #4405 closed, assigned to ausi

[2022-05-27 16:11] ausi commented on #4168
`IMPORT TABLESPACE` was not fast enough to be feasible for our use case, instead we did #4376

[2022-05-27 16:11] #4168 closed, assigned to ausi

[2022-05-28 10:05] fkaminski commented on #2375
Would be really nice to have. Especially regarding the pattern attributes. On the one hand to ensure that the validation (server-side / client-side) is identical in each case and on the other hand you then have the possibilities via CSS to style the possible client-side mismatches.

[2022-05-28 14:58] ausi commented on #3575
Tried today to find a fix for this but didn’t succeed 😕

Such problems no longer occur with the restructured input encoding in Contao 5.0, but I don’t know how we can fix this in 4.9 or 4.13.

[2022-05-29 19:00] aschempp commented on #3388
Well it *is* editing the content of the article. The operation title(s) also reflect that. Also the _Save & Edit_ button would need to be adjusted.

[2022-05-30 07:16] zonky2 commented on #2375
I once wrote an extension to be able to use RegEx - so far I have not noticed any problems when passing the pattern to the HTML.
see https://github.com/e-spin/form-regex-bundle

[2022-05-30 07:41] fkaminski commented on #2375
@zonky2 Good to know.
I would still like to see general support via the Core. Why? You can simply activate the client-side validation. But under certain circumstances it can happen that the client-side validation is correct and still the server-side validation takes effect afterwards .

[2022-05-30 07:46] zonky2 commented on #2375
@fkaminski my extension works both on the client (optional) and on the server...

[2022-05-30 08:06] fkaminski commented on #2375
Yepp, but probably many users are not aware of it (to need an extension).

[2022-05-30 08:13] ausi opened #4753 "Keep some deprecated constants and methods for better BC with extensions"
https://github.com/contao/contao/pull/4741#issuecomment-1140804260 @aschempp

We should probably discuss what this “important stuff” is. From the top of my head:

- [ ] `TL_MODE`
- [ ] `TL_ROOT`
- [ ] `Controller::replaceInsertTags()`

@aschempp is there more?

[2022-05-30 09:58] #3388 closed, assigned to nobody

[2022-05-30 10:14] leofeyer commented on #4753
+1 for `TL_MODE` and `TL_ROOT`.

But -1 for `Controller::replaceInsertTags()`; we have already discussed this and agreed to optionally add it again **after** the release of Contao 5.0 if it should turn out to cause a lot of problems.

[2022-05-30 10:20] #3898 closed, assigned to ausi

[2022-05-30 10:42] leofeyer commented on #3575
Guess it is a known limitation then.

[2022-05-30 10:42] #3575 closed, assigned to nobody

[2022-05-30 15:41] leofeyer commented on #4684
How do we proceed here?

[2022-05-30 16:10] #4247 closed, assigned to nobody

[2022-05-30 16:15] leofeyer commented on #3860
Removed in #4340.

[2022-05-30 16:15] #3860 closed, assigned to nobody

[2022-05-30 16:18] leofeyer commented on #3387
Twig templates will be the default in Contao 5, even though `.html5` templates are still supported.

[2022-05-30 16:18] #3387 closed, assigned to nobody

[2022-05-30 16:19] leofeyer commented on #2868
Removed in #4178.

[2022-05-30 16:19] #2868 closed, assigned to nobody

[2022-05-30 16:22] #4380 closed, assigned to ausi

[2022-05-30 16:23] leofeyer commented on #4400
Is this a duplicate of #4184?

[2022-05-30 16:31] ausi commented on #4400
Yes.

[2022-05-30 16:31] #4400 closed, assigned to fritzmg

[2022-05-30 16:31] #2624 closed, assigned to nobody

[2022-05-31 14:31] bezin opened #4759 "Improve label generation in DataContainer list"
### Description

While working on #4682 I wanted to add one more information to the page label (the selected feed format) and keep everything else exactly as is:
![2022-05-31 16_28_37](https://user-images.githubusercontent.com/4400435/171198266-c02cf4f2-2a95-4150-a200-7a881afd2695.png)

Since there can only be one `label_callback`, I have to overwrite the Core label listener, copy its implementati

[2022-05-31 15:20] leofeyer commented on #1192
I‘m not sure if the snake case notation is better, but we should definitely change `personalData` to `personalDetails`, so we don‘t have to check the key anymore (see #4760).

[2022-05-31 15:20] #1192 closed, assigned to nobody

[2022-05-31 16:31] #758 closed, assigned to nobody

[2022-05-31 19:00] gebi84 opened #4762 "Filtering by date isn‘t working anymore"
### Affected version(s)

4.13.4

### Description

Filtering by date isn't working anymore:

for example see on https://demo.contao.org/contao
![bug](https://user-images.githubusercontent.com/805019/171264319-b0919c16-3ea2-4e5d-8b8a-d99d0cd18dc5.jpg)

When I debug this in the profiler it queries for:
`SELECT DISTINCT IF(`date`!='', FLOOR(UNIX_TIMESTAMP(FROM_UNIXTIME(`date` , '%%Y-%%m-01'))), '') AS

[2022-06-01 06:48] aschempp commented on #4759
there already is the `getPageIcon` hook, maybe we could improve that to also generate the label?

[2022-06-01 06:49] aschempp commented on #4759
thinking about this, if I wanted to know if a page type is RSS or JSON, I could simply add that information to the page title, right? Since the title is not seen/used anywhere in this case anyway?

[2022-06-01 07:01] bezin commented on #4759
I already use this to add the icon. What do you suggest?

The page title is part of the feed (e.g. `<title></title>` in RSS), so I would like to treat the format as metadata and display it separately.

[2022-06-01 07:07] fritzmg commented on #4759
Regardless of how to improve this: this new functionality is part of the core - so you can implement it in the existing callback anyway.

[2022-06-01 07:10] bezin commented on #4759
The new functionality is part of the news bundle (the calendar bundle respectively), but the label callback is part of the core bundle.

[2022-06-01 11:16] MarkejN opened #4769 "Article List on 404 page throws RouteNotFoundException"
### Affected version(s)

4.13.4

### Description

When I place an article list module on a 404 page, I get a ResourceNotFoundException and a RouteNotFoundException. Which makes sense since there is no route for the articles. But maybe in this case the href could just be empty and all the other fields like title and id are still there?

[code]

[2022-06-01 13:46] georgpreissl opened #4771 "Long main headline ruins the look of the UI"
### Affected version(s)

4.13.4

### Description

When a long News-Title shows up in the main headline it ruins the look of the UI:
![Bildschirmfoto 2022-06-01 um 15 38 52](https://user-images.githubusercontent.com/4385048/171419309-cfbb6987-b0c7-4bc4-8ffe-96c8e2c46a18.png)

Of course, the full-surface user interface can be selected to circumvent the problem. However, I think it should still be po

[2022-06-01 13:52] ausi commented on #4771
Can you reproduce this issue on https://demo.contao.org/ ?
Which browser and browser version are you using?

[2022-06-01 14:18] asaage commented on #4771
That must be a bug of your BE-Theme.
I can not confirm this - there is
[code]
in place which has good browser-support

[2022-06-01 15:20] #2645 closed, assigned to nobody

[2022-06-01 16:07] #688 closed, assigned to nobody

[2022-06-02 06:29] georgpreissl commented on #4771
The error was actually caused by the "omosde/contao-om-backend" extension. So you're right, it's not a Contao problem.

I was able to fix the error in the display with the following CSS statement in the backend:
`
body:not(.popup).om_backend_toolbar #container #main {
	width: calc(100% - 269px) !important;
}
`

Thank you for your help.

[2022-06-02 07:40] #4771 closed, assigned to nobody

[2022-06-02 12:12] m-vo commented on #4684
For the new DBAFS implementation it is as easy as changing the default value of `$hashFunction` in `FilesystemConfiguration#addDefaultDbafs()` and probably adding a migration that triggers a sync once.

If we would make the change before we refactored `DC_File` and `DC_Folder` to only use the new DBAFS service, we would also need to adjust the old implementation, though. That's probably not a good

[2022-06-02 13:36] leofeyer commented on #4386
See #4407 for a follow-up PR.

[2022-06-02 13:36] #4386 closed, assigned to m-vo

[2022-06-02 13:42] leofeyer commented on #3255
As discussed in the Contao call, we want to adjust the priority of the `DataContainerCallbackListener` to `-16`. This will not solve all cases but it should solve most of them.

[2022-06-02 13:58] leofeyer commented on #1795
As discussed in the Contao call, we want to adjust the callback behavior to the hook behavior, so it works as already described in the docs: https://github.com/contao/docs/blame/main/docs/dev/framework/dca/_index.md#L96

[2022-06-02 14:03] leofeyer commented on #4575
As discussed in the Contao call, we want to keep the `floating` field and only remove the `imagemargin` field.

[2022-06-02 14:09] leofeyer commented on #4753
As discussed in the Contao call, we do not want to keep the constants.

[2022-06-02 14:28] leofeyer commented on #2678
As discussed in the Contao call, we want to change this as described.

I will look into this as well.

[2022-06-02 15:31] #4185 closed, assigned to fritzmg

[2022-06-02 15:33] #4699 closed, assigned to nobody

[2022-06-02 15:39] #4449 closed, assigned to nobody

[2022-06-02 16:44] #4753 closed, assigned to nobody

[2022-06-02 23:34] CMSworker opened #4780 "New routing without URL suffix causes inheritance issue on 404 error pages"
### Affected version(s)

4.13.4

### Description

If a different page layout is used for the error pages than is defined in the "Website root", the CSS files of both page layouts are included in the header of the error page, when the 404 URL path contains an alias of an existing page. This inheritance problem seems to be caused by the new routing and also depends on URL aliases.

Example to recrea

[2022-06-03 08:04] aschempp commented on #4780
I think I know why this is happening, but I don't understand why this is related to legacy/modern routing at all, since both cases render the 404 page the same 😅 but I should be able to provide a pull request to fix this.

_Hint to myself: `TL_USER_CSS`_

[2022-06-03 09:13] #4723 closed, assigned to nobody

[2022-06-03 09:16] bezin commented on #4689
I will take care of this, but https://github.com/alexdebril/feed-io/pull/400 must be accepted and merged first.

[2022-06-03 09:39] #4659 closed, assigned to nobody

[2022-06-03 09:53] #4630 closed, assigned to nobody

[2022-06-03 14:29] jochi44 opened #4791 "Error calling "contao_install" when upgrading to version 4.13.5"
### Affected version(s)

4.13.5

### Description

An upgrade from v4.13.4 to v4.13.5 leads to an error when the update tries to call the Contao-Installation-Tool.

errors in /var/logs:

`[2022-06-03T16:20:27.672383+02:00] console.CRITICAL: Error thrown while running command "list --format=json". Message: "Argument 1 passed to Contao\CoreBundle\Filesystem\MountManager::__construct() must be iterabl

[2022-06-03 14:54] xApep opened #4793 "Error on clean install when running contao/install"
### Affected version(s)

Version 4.13.5

### Description

I have downloaded latest version; went thru installation steps and when I want to use contao install to fill the database the error shows up.

`[2022-06-03T16:46:17.537650+02:00] request.INFO: Matched route "contao_install". {"route":"contao_install","route_parameters":{"_route":"contao_install","_scope":"backend","_token_check":true,"_cont

[2022-06-03 18:03] CMSworker opened #4795 "Contao search engine: News article with "noindex" is still indexed"
### Affected version(s)

4.13.5

### Description

When you select "Robots tag: noindex,follow" in a single news article setting, this article is still indexed by the Contao search engine and visible in the list of search results.

**How to reproduce:**

- Contao installation with newslist and newsreader (both pages with default "robots: index" settings)
- some news articles
- a page with the searc

[2022-06-04 09:42] jochi44 commented on #4791
After renewing the prod cache and updating all packages again, the error is gone and the install tool can be accessed (and ran correctly).
I'm closing the issue.

[2022-06-04 09:42] #4791 closed, assigned to nobody

[2022-06-04 11:48] CMSworker commented on #4795
Wait a second: Is this an intended behaviour, because the Contao search indexer logic is not looking for the "Robots: noindex" settings?

In this case I guess this issue could be closed, because then it is a feature request instead:

_Add Expert Setting "Do not search" in the news article setting to be able to exclude single news articles from the Contao Search_

Or is the way to handle this to ad

[2022-06-04 12:06] asaage commented on #4795
This could probably result in nested indexer-stop blocks (depending on what the content actually is).
At this point it wouldn't work properly.
~~I would put this newsarticle into another archive with a reader that is on a "do not search - Site" if there are multiple occasions where that is needed.
For a "1of" a manual `````` wrapped around your content might work though.~~
(oops - never noticed th

[2022-06-04 13:17] fritzmg commented on #4795
The search index subscriber should take it into consideration.

[2022-06-04 17:56] rabauss opened #4796 "Add language option for global maintenance mode"
### Description

It would be nice to set the `language` for the global `contao-maintenance-mode` e.g. `contao:maintenance-mode on --language=de`

At the moment `en` is always used as language for the global maintenance mode - see:
https://github.com/contao/contao/blob/e95c3202701dfbf8e240f9755d91bc47a399c863/manager-bundle/src/Command/MaintenanceModeCommand.php#L88

[2022-06-04 18:06] rabauss commented on #4796
Okay I realized that `contao:maintenance-mode on --templateVars='{"language":"de"}'` is merging the template parameters, but the Output is not translated!

Only the html tag is "translated" to `<html lang="de">`

[2022-06-06 09:21] fritzmg opened #4798 "'utf8mb4_unicode_ci' is not valid for CHARACTER SET 'utf8'"
### Affected version(s)

4.13, 5.x

### Description

In #4592 we added `collation: utf8mb4_unicode_ci` to the config skeleton. However, many users have something like this in their `config.yaml`

[code]

due to https://docs.contao.org/manual/en/installation/system-requirements/#mysql-minimum-requirements

The addition in the config skeleton in the manager-bundle will then create a mismatch between

[2022-06-07 08:42] aschempp opened #4801 "Versions-Warnung bei mehreren Datensätzen"
Wenn ein Datensatz bearbeitet wird, und ein andere User was gemacht hat, generiert Contao eine Versions-Warnung mit einem Änderungs-Diff. Das passiert aber nur bei edit, nicht bei editAll oder overrideAll.

[2022-06-07 09:15] fritzmg commented on #4795
I can confirm the issue. While the search indexer in the `kernel.terminate` event does not index the page if it has `noindex,follow`, when executing `contao:crawl` the page is still indexed.

[2022-06-07 09:59] Toflar commented on #4795
The subscriber should check for the `RobotsSubscriber::TAG_NOINDEX` tag.

[2022-06-07 12:31] doishub commented on #4722
📌 Vielleicht ist `RRule` eine gute Möglichkeit für das Speichern / die Handhabung der Daten solcher Termine:
- https://github.com/rlanvin/php-rrule
- https://jakubroztocil.github.io/rrule/
- https://github.com/jakubroztocil/rrule

[2022-06-07 14:48] dmolineus opened #4803 "Contao ignores dca files if any throwable occurs"
### Affected version(s)

4.13.5

### Description

Since 4.13.5 the `RelLightboxMigration` loads dca containers and silences any `Throwable`. If there occurs an error (e.g. undefined array index warning) the error is ignored and Contao wants to delete existing and required database fields.

https://github.com/contao/contao/blob/e95c3202701dfbf8e240f9755d91bc47a399c863/core-bundle/src/Migration/Vers

[2022-06-07 15:10] ausi commented on #4803
Not to self: probably remove the try/catch and get the list of DCA tables like the installer does in https://github.com/contao/contao/blob/0e6512a5f010f6fb4d1359a2798c29eb74e3304c/core-bundle/src/Resources/contao/library/Contao/Database/Installer.php#L177

[2022-06-08 07:15] #4798 closed, assigned to nobody

[2022-06-08 09:16] Toflar commented on #4795
Closing in favor of my PR.

[2022-06-08 09:16] #4795 closed, assigned to nobody

[2022-06-08 10:15] #4575 closed, assigned to bezin

[2022-06-08 10:42] Toflar commented on #3471
@ausi is that cleaned up in 5.x now? 🤔

[2022-06-08 10:50] ausi commented on #3471
Yes, after #4453 basic entities no longer get replaced, so writing them literal is possible now.
The only exception is input fields with `['eval' => ['basicEntities' => true]]` enabled.

[2022-06-08 11:46] bezin opened #4806 "Move site structure to content group in Contao 5 back end menu"
### Description

Hello there,

it never felt right to me, that the site structure is located in the layout group. To me, it belongs to the content group as the very first item. I propose we change that in Contao 5.0.

(Yes, sometimes I just want to see the world burn 🔥 I mean it though 😂)

I expect this to be a little controversial, but I am happy to hear your thoughts :-)

Cheers

[2022-06-08 14:08] leofeyer commented on #4806
I am open for discussion, but I don‘t think that pages are content. Pages need both articles (actual content) and a layout (with modules etc.) to work, but they do not provide any content themselves (except maybe the meta title and description).

I agree that pages do not fit 100% in the layout section, though.

[2022-06-08 14:09] fritzmg commented on #4449
For anyone experiencing this problem: execute the following query before running `contao:migrate` or using the Contao Install Tool:

[code]

[2022-06-09 07:04] ausi commented on #4806
If it doesn’t fit in any secion, having it as the first entry above “Content” without a category might work too.

But as “Forms” are also in the content section, I think the Site structure (maybe rename to “Pages” then) fits into “Content” way better then layout.

All subjective though, as there is probably no “right” or “wrong” here ☺️

[2022-06-09 07:23] bezin commented on #4806
To me, pages are the backbone of the website's content architecture and they are content themself. The require a layout but are not part of it.

But as “Forms” are also in the content section, I think the Site structure (maybe rename to “Pages” then) fits into “Content” way better then layout.

Yes, agree with this, I would also like to call it pages. It is not only about semantics, but also about

[2022-06-09 08:06] fritzmg commented on #4762
I can confirm the issue. It is indeed due to the `%` being double encoded here: https://github.com/contao/contao/blob/2ef24de0b613993e6806ce50b9333063668fa4e2/core-bundle/src/Resources/contao/drivers/DC_Table.php#L5706-L5722

Removing the additional `%` fixes the issue. Is this a change in Doctrine 3.x? /cc @ausi

[2022-06-09 08:30] ausi commented on #4762
Don’t think so, probably caused by #3207 so there is no fix needed for 4.9 I guess.

That would be the correct fix IMO. 👍

[2022-06-09 09:52] #4762 closed, assigned to nobody

[2022-06-09 10:13] leofeyer commented on #1021
@m-vo This will be supported in Contao 5, won‘t it?

[2022-06-09 10:32] #4184 closed, assigned to fritzmg

[2022-06-09 10:47] ausi commented on #4401
But sadly that does not use the ascii charset 😔
It basically behaves the exact same way as the `string` type does.

[2022-06-09 11:06] leofeyer commented on #4401
I‘m in favor of a custom `ascii_bin` type. It is much shorter and since it will be used often, it will improve the DX.

[2022-06-09 11:52] ameotoko commented on #4806
I would think about combining "Site structure" and "Articles" into one backend module. But this will probably complicate a lot of things (although I think there used to be an extension that does that already).

[2022-06-09 11:54] bezin commented on #4806
This discussion has taken place many times already :D But yes, I think so, too. However, I did not want to open this can of worms, too :-)

[2022-06-09 14:50] #3386 closed, assigned to nobody

[2022-06-10 09:53] leofeyer opened #4818 "Inconsistent deprecations"
While working on #4816, I have noticed that the deprecations are inconsistent:

**We have deprecated**

* `BackendUser::isAllowed()`
* `BackendUser::canEditFieldsOf()`
* `FrontendUser::isMemberOf()`

**But we have not deprecated**

* `BackendUser::hasAccess()`
* `User::isMemberOf()`

@contao/developers Why is that?

_Originally posted by @leofeyer in https://github.com/contao/contao/issues/4816#is

[2022-06-10 09:54] aschempp commented on #4818
As far as I remember that's because `hasAccess` and `isMemberOf` are still used by the `BackendAccessVoter`, but the other methods have been re-implemented.

[2022-06-10 09:55] leofeyer commented on #4818
So should we move the two methods to the `BackendAccessVoter` class then?

[2022-06-10 10:30] Toflar commented on #4818
If we move them, we have to also deprecate them in 4.13. Just as a reminder :)

[2022-06-10 14:22] #3326 closed, assigned to nobody

[2022-06-10 21:10] ausi opened #4821 "Custom 404 page is not shown for regular Symfony controllers"
### Affected version(s)

4.13, probably 4.9

### Description

If a Symfony controller throws a `NotFoundHttpException` as we do for example in https://github.com/contao/contao/blob/29856d68eb3fc12db9e20dd43b54e5df716e8005/core-bundle/src/Controller/ImagesController.php#L53 the custom 404 page from the site structure is not shown, instead the default 404 page is sent to the user.

This can be repro

[2022-06-10 21:23] ausi opened #4822 "DC_Table detects changed values alghough no change was made"
### Affected version(s)

?

### Description

As discussed in https://github.com/contao/contao/pull/4792#discussion_r892587730 we should check if we need to adjust something with the `$this->varValue !== $varValue` check in https://github.com/contao/contao/blob/fb4c524f0a0ceb4136156619812fcbb42c9662f3/core-bundle/src/Resources/contao/drivers/DC_Table.php#L3139

@aschempp claimed that _“one of the v

[2022-06-12 15:49] #3988 closed, assigned to nobody

[2022-06-13 08:54] aschempp commented on #4818
- `FrontendUser::isMemberOf` is deprecated since 4.12 because we have a voter for frontend groups. It is still used directly by `Backend::findSearchablePages` which is deprecated though. Look like we can deprecate it in 4.13 and remove in 5.0
- `BackendUser::hasAccess` contains some special handling for `filemounts`, and I remember there was a discussion about `pagemounts` as well. I think we shou

[2022-06-13 09:42] leofeyer commented on #3011
@koertho Can you please check whether #4819 fixes your issue?

[2022-06-13 09:45] leofeyer commented on #4822
I have assigned this issue to the 5.0 milestone because we have merged #4800 there. But the issue most likely also affects Contao 4.9 and 4.13 with PDO and PHP 8, so we will likely need to backport the changes.

[2022-06-13 13:17] leofeyer commented on #4157
@Toflar Would that work?

[2022-06-13 15:41] aschempp commented on #4780
@CMSworker can you please test if https://github.com/contao/contao/pull/4828 fixes your issue? You might need to manually apply the changes in your Contao 4.19

[2022-06-13 19:57] Toflar commented on #4157
Sure, why not? You can write the CSV to any place you like. It's just not as easy as writing it to `var/logs` (or `var/log`) because that directory is not cleaned up so you would need build some log rotation or whatever in order to clean up old entries.

[2022-06-14 07:02] ausi commented on #4258
@michb Can you please check whether #4819 fixes your issue?

[2022-06-14 07:43] leofeyer commented on #4476
Wir sollten mal festlegen, welches Verhalten genau wir haben wollen. Dann können wir darauf basiert die Implementierung anpassen.

[2022-06-14 09:41] m-vo opened #4831 "Improve the contao_figure Twig function"
### Description

The `contao_figure` function currently allows to control a `FigureBuilder` on the fly and output an image. While the first part is nice, the second should have rather output a `Figure` object that can then be used in an image template but also directly queried for attributes. Currently it's a string.

Maybe we can improve this by returning sth like a `RenderableFigure extends Figu

[2022-06-14 10:21] leofeyer commented on #4187
How about this?

<img width="946" alt="" src="https://user-images.githubusercontent.com/1192057/173555772-894e973b-2684-4a59-a56a-72d5f82465b1.png">

@Toflar /cc

[2022-06-14 12:05] leofeyer commented on #4196
As long as PHP can handle a date (aka `checkdate()` does not return `false`), I wouldn‘t consider it an "extreme date". Your particular problem was that your DB column wasn‘t big enough – something that another person might want to change in order to being able to use dates far in the past or the future. We should not prevent their use cases by enforcing a certain limit.

As suggested above, we co

[2022-06-14 12:45] Toflar commented on #4187
LGTM

[2022-06-14 12:58] #4037 closed, assigned to nobody

[2022-06-14 13:51] #3818 closed, assigned to nobody

[2022-06-15 08:05] michb commented on #4258
No the linked pull request does not fix this issue.

[2022-06-15 08:50] vmcgiov opened #4835 "Backend, Frontend & Manager login not working after plesk php 7.4 to 7.4.30"
### Affected version(s)

4.9.x

### Description

All of our Contao-Installations have the issue that we cant login anymore after recent plesk update from 7.4 to 7.4.30. This includes tl_member, tl_user aswell as contao-manager login. Does anyone else suffer same issues? Everything works fine with 4.4

[2022-06-15 08:52] aschempp commented on #4835
This sounds like a server misconfiguration, make sure the server time is correct. Also, please refer to the community support options (https://to.contao.org/support) to get help about your server setup, we're using GitHub only for bug and feature tracking.

[2022-06-15 08:52] #4835 closed, assigned to nobody

[2022-06-15 09:41] vmcgiov commented on #4835
Server time is set correct and in my opinion everything is configured the way it is supposed to be.

are you sure it has nothing to do with latest 7.4.30 bug fix [#81719] (http://bugs.php.net/81719) ?

[2022-06-15 09:43] vmcgiov commented on #4835
we run into the same problem on multiple servers (15+) and for every 4.9 installation we have.

[2022-06-15 09:59] fritzmg commented on #4835
@vmcgiov I just tried with PHP 7.4.30 locally and logging into the back end works fine.

[2022-06-15 10:05] vmcgiov commented on #4835
thank you for checking. was the 4.9 a fresh install or updated from 4.4?

[2022-06-15 11:13] dennisbohn opened #4837 "Make media files in content element player sortable"
### Description

It would be great if you could sort the media files inside the content element player.

![image](https://user-images.githubusercontent.com/87128053/173814105-fb02320b-c4da-4a50-b663-7c3944e363da.png)

When a video element contains multiple source files the browser selects the first supported element. When I mix h264 and vp9 I want the more efficient vp9 file as the preferred eleme

[2022-06-15 12:03] asaage commented on #4837
I honestly lost track of what is currently supported by what browser and what is preferable in terms of filesize/compression/quality...

Can't we have this automatically sorted?
Is the browser-descision based on the mime-type, the fileextension because the container-format has little to do with the codec right?
I think a manual-sort feature would be easy to add but who would realy know how to make

[2022-06-15 12:12] fritzmg commented on #4837
That would require file inspection. Currently the player content element automatically sorts according to the file extension.

https://github.com/contao/contao/blob/7d9034fd5f3066e2a2fec3fe77fceb9d8035a117/core-bundle/src/Resources/contao/elements/ContentPlayer.php#L114

This was discussed before, but we decided against it for this very reason.

[2022-06-15 12:21] fritzmg commented on #4835
@vmcgiov conceivably it could be that before the PHP update your server environment had `libsodium` enabled for PHP, and now it does not.

// although, I could not really reproduce it this way either

[2022-06-15 12:26] dennisbohn commented on #4837
It is a little bit annoying. At the moment I use a php script inside the video template to put the webm file before the mp4 file. Is there no way thats more userfriendly to change the order?

When there is just a fixed order you should put webm before mp4. mp4 is user for h.264 and h.265 codec. But h.265 is only supported by safari at the moment. Youtube is using vp9 for 4k videos for example and

[2022-06-15 12:31] vmcgiov commented on #4835
@fritzmg i double checked. **libsodium** support is enabled and so is everything else required for 4.9 based on contao docs

[2022-06-15 12:32] fritzmg commented on #4837
/cc @ausi what was the reasoning behind sorting MP4 before WebM again? I can't find the original issue/thread anymore 🤔

[2022-06-15 19:51] CMSworker commented on #4780
@aschempp Tested and approved: The changes in #4828 solved the problem in my tests.

Maybe _legacy routing_ didn't show this CSS problem because it is adding the `.html` suffix by default? Don't know.

But anyway, thank you very much for the quick fix!

[2022-06-15 20:06] ausi commented on #4258
I see. I can also reproduce the issue. Any suggestions for a possible way to fix this?

[2022-06-16 07:54] iainmacnab commented on #4476
Super - ich sehe die Thema ist noch aktuell?
Von mir aus - Event der laufende Tag egal welche Uhrzeit anzeigen, aber mit Uhrzeit ist auch gut.

[2022-06-16 08:06] koertho commented on #3011
@leofeyer I've tested it today, but it don't fix this issue. The id is retrived from the GET parameter here:
https://github.com/contao/contao/blob/204fb5a978e1cd49bc2819bdc34df421a1cd1296/news-bundle/src/Resources/contao/dca/tl_news.php#L548

[2022-06-16 08:09] koertho commented on #3011
Also the CURRENT_ID constant is wrong here: The selected news entry has id 1, the selected article has id 3. Input::get('id') has value 3, CURRENT_ID has value 2.

EDIT:
I also tried changing the id evaluation to `$id = $this->findCurrentId('tl_news');`, but the method return null in this case.

[2022-06-16 08:35] leofeyer commented on #3011
@ausi /cc

[2022-06-16 15:15] #812 closed, assigned to aschempp

[2022-06-16 15:28] leofeyer commented on #4157
@Total-Reality Could you provide a pull request with the necessary changes?

[2022-06-16 15:31] #4780 closed, assigned to aschempp

[2022-06-17 08:29] fritzmg commented on #4835
It turns out this was a bug in the recent Plesk update, which caused argon2i to not be available anymore. It has since been fixed.

* https://talk.plesk.com/threads/missing-argon2i-and-argon2id-password-hash-algorithms-since-php-7-4-30.365241/#post-910368
* https://docs.plesk.com/release-notes/obsidian/change-log/#plesk-18044-mu3

[2022-06-17 08:36] m-vo opened #4844 "sectionwizard.js is broken"
### Affected version(s)

5.x

### Description

In the current 5.x, the copy/delete/enable buttons in the `sectionwizard` are not working for me.

I get this error in the JS console - for instance when editing a layout:
![image](https://user-images.githubusercontent.com/5305677/174259380-84c32844-530d-488f-a3bc-d815059cb76e.png)

Here is the stacktrace in the unminified source:
[code]

The same is

[2022-06-17 08:40] vmcgiov commented on #4835
thank you. I saw it too a few minutes ago. updated a few servers to verify. seems like it indeed solves the issues. :)

take care,
Claudio

[2022-06-17 08:41] aschempp commented on #4844
What browser? What back end page? Did you click anything?

[2022-06-17 08:45] m-vo commented on #4844
Chrome Version 102.0.5005.115 (64-bit) on Linux. The fun thing is, that the error only sometimes appears with the page load. Seems like a race condition.

But I also noticed, that the buttons don't work no matter if the error is displayed or not.

Ah and: Themes / Layout / Layout XY is the page I'm looking at.

[2022-06-17 11:39] #4187 closed, assigned to nobody

[2022-06-17 12:07] m-vo commented on #4844
The issue is, that `const tbody = table.querySelector('tbody')` can get executed before the DOM is ready - in this case `tbody` is `null` and `makeSortable(tbody)` fails.

[2022-06-18 20:52] ausi commented on #4837
Don’t think there was a reasoning behind that, we had no video expert to consult I think ☺️

@dennisbohn can you suggest a better sort order that we should use by default in Contao?
The current one is: `mp4`, `m4v`, `mov`, `wmv`, `webm`, `ogv`

[2022-06-20 10:44] dennisbohn commented on #4837
I would suggest to put webm in first place:
webm, mp4, m4v, mov, wmv, ogv

That would allow to use the more efficient and open source VP9 (webm) as preferred codec and H264 (mp4) as fallback.

People who just use mp4 (probably in most cases) wouldnt be affected by this change.

[2022-06-20 21:03] ausi commented on #4837
We should change the line https://github.com/contao/contao/blob/93b35a83ffd2bbc46a31b8c547e3b260f96f94be/core-bundle/src/Resources/contao/elements/ContentMedia.php#L117 then to:

[code]

[2022-06-21 10:08] do-while opened #4852 "Fehler in StringUtil::deserialize"
### Affected version(s)

4.13

### Description

Ich habe vielfach in der Datenbank ein leeres serialisiertes Array:
`s:0:"";`

Mit `\StringUtil::deserialize('s:0:"";')` erhalte ich den String unverändert zurück.
Das unsichere PHP `unserialize` liefert korrekt ein Leerstring zurück

Bei mir: PHP 8.1.5

[2022-06-21 10:18] ausi commented on #4852
`StringUtil::deserialize` can only handle serialized arrays, not strings, see https://github.com/contao/core-bundle/pull/1486

[2022-06-21 12:42] do-while commented on #4852
Ok, das war mir nicht aufgefallen, bei Array müßte ja es ja mit a: anfangen.
Dann muss ich wohl eher gucken, wie das vom Formular in die Datenbank hinein kommt.

[2022-06-21 13:07] ausi commented on #4852
Ja, wenn Contao irgendwo `s:0:"";` wegspeichert wäre das jedenfalls ein Bug denke ich.

[2022-06-21 16:55] #4852 closed, assigned to nobody

[2022-06-22 07:31] aschempp commented on #4821
It is currently intended to not render the 404 in all cases. But I think we should try to render it if we have a frontend scope.

[2022-06-22 07:33] akroii opened #4856 "&nbsp; statt 0 in Modul "Auflistung""
### Affected version(s)

4.9.30

### Description

Wenn man über das Auflistungs-Modul Werte einer Spalte versucht auszugeben, wird statt `0` irgendwie `&nbsp;` ausgegeben.

[https://github.com/contao/contao/blob/47697073752ae4d6fa6b63b28e0b54c50a8143f3/listing-bundle/src/Resources/contao/modules/ModuleListing.php#L316](https://github.com/contao/contao/blob/47697073752ae4d6fa6b63b28e0b54c50a8143f3/

[2022-06-22 07:47] bezin commented on #4856
This goes back to at list 4.0.0 ^^ https://github.com/contao/contao/blob/4.0.0/listing-bundle/src/Resources/contao/modules/ModuleListing.php#L310

[2022-06-22 08:07] bezin commented on #4856
[Maybe we could transform 1 and 0 to bool here](https://github.com/contao/contao/blob/47697073752ae4d6fa6b63b28e0b54c50a8143f3/listing-bundle/src/Resources/contao/modules/ModuleListing.php#L402)?

[2022-06-22 08:22] fritzmg commented on #4856
We can just change it to

[code]

[2022-06-22 08:41] ausi commented on #4856
What we often use for this kind of checks is `'' !== (string) $value` AFAIK.

[2022-06-23 06:24] aznoqmous opened #4863 "Files explorer icons are uploaded on drag"
### Affected version(s)

4.13

### Description

Funny discovery this morning

How to reproduce :
Drag edit/copy/cut/delete/info icons on files explorer and they will be uploaded as file

I've only tested it on Contao 4.13 but it might affect previous versions

![files-explorer](https://user-images.githubusercontent.com/17268514/175229270-89669d25-0b28-4fca-b12e-4deaa8101c81.jpg)

[2022-06-23 07:03] fritzmg commented on #4863
That's normal I'd say. You can drag any file you want into the file manager.

[2022-06-23 07:47] #4856 closed, assigned to nobody

[2022-06-23 08:14] aznoqmous commented on #4863
Yes it's not really a "bug" but you could click on "Edit" and slightly move at the same time, which will result on uploading edit.svg file in the current directory

Its more of an improvement/polish to make to the file explorer IMHO

[2022-06-23 08:20] fritzmg commented on #4863
Yes, we could set `draggable="false"` on those images 👍

[2022-06-23 08:21] aznoqmous commented on #4863
Should I open an issue in Improvements/Feature as "Prevent drag on backend buttons" for this ?

[2022-06-23 08:32] bytehead commented on #4863
Could not reproduce on Contao 4.9.

[2022-06-23 08:38] ausi commented on #4863
No, this one is fine.

[2022-06-23 08:41] ausi commented on #4863
I was also not able to reproduce that, @aznoqmous can you give more detailed instructions on how this can happen?
What browser are you using?

[2022-06-23 08:49] aznoqmous commented on #4863
To reproduce it :

1. Go to **Files explorer**
2. Mousedown any **list operation button**
3. Slightly move will not releasing the mouse to initiate drag
4. The `<img>` inside the button is uploaded in the current directory

The problem doesnt occur with global operation buttons (link is dragged instead of the inner `<img>`)

Im using Chrome 102.0.5005.115 on Windows 10

It could reproduce it on Co

[2022-06-23 09:26] ausi commented on #4863
I was only able to reproduce this in Chrome on Windows. So maybe this is a Chrome-Windows bug.

[2022-06-23 09:33] ausi commented on #4863
In Chrome 95 on Windows everything still works correctly.

So it seems this bug was introduced with Chrome 96 on Windows, and it therefore should be reported to Chrome.

[2022-06-23 11:52] asaage commented on #4863
The list operation buttons are images while the global operation buttons have css background.

If i had to completely redesingn that i'd say every line needs to be a form, and the list operation buttons need to be input type="image" or button with css. That would also eliminate the humongous url's and reduce the amount of markup significantly.

 ```draggable="false"``` on those images might be the

[2022-06-23 13:58] netzarbeiter opened #4868 "Backend readonly mode does not work for all widgets"
### Affected version(s)

4.9 & 4.13

### Description

[code]

`timeZone` is not displayed as readonly field.

![bug](https://user-images.githubusercontent.com/1942550/175317027-e3548258-8082-48ab-84df-0c308504ed6d.png)

`defaultChmod` is not displayes ad readonly.

![bug](https://user-images.githubusercontent.com/1942550/175322767-da24e4b5-fece-4429-8b43-5bef0ba128ef.png)

[2022-06-23 14:43] fritzmg commented on #4868
This also applies to widgets in 4.9, not just 4.13.

[2022-06-23 16:00] Toflar opened #4869 "Concept for kernel.terminate with HttpCache"
### Affected version(s)

all

### Description

Currently, the `kernel.terminate` event is being dispatched in both cases, with and without HttpCache. This is apparently by design as Symfony does so too and it's not wrong by definition as it also be valuable if e.g. you need to cleanup things that happened during the PHP process.

However, we also have listeners that do not make any sense when the

[2022-06-24 06:36] aschempp commented on #4869
I like the idea of disabling `kernel.terminate` for cached results, but the response header is the only viable option I can think of.

[2022-06-24 06:38] leofeyer commented on #4869
Not sure if we should disable the event (or not call `terminate()` on the kernel) because we don‘t know what all the listeners do. But I agree that we should not index responses coming from cache and probably not run cronjobs.

[2022-06-24 06:57] aschempp commented on #4868
see https://github.com/contao/contao/pull/4870

[2022-06-24 07:03] Toflar commented on #4869
I actually gravitate towards not calling any listener on cache hit. Because that's exactly what would happen in the Varnish case. Right now, it's booting the whole application to call the listeners which makes absolutely no sense. If you need something to happen after cache hit, you have to implement it in the proxy. In Varnish or anywhere else. That's why we have HttpCache subscribers.

I think I

[2022-06-24 07:46] fritzmg commented on #4868
The following widgets do not (fully) support `readonly => true`:

* `checkbox`
* `checkboxWizard`
* `chmod`
* `fileTree`
* `imageSize`
* `inputUnit` (the select is not disabled)
* `metaWizard` (removing still works, but the add button is disabled)
* `moduleWizard`
* `optionWizard`
* `pageTree`
* `picker`
* `radio`
* `sectionWizard`
* `select` with `chosen => true`
* `tableWizard` (you can still ad

[2022-06-24 08:36] fritzmg opened #4871 "Issue with relative URLs"
### Affected version(s)

5.x

### Description

In #4851 we enabled the possibility to remove the `<base>` tag by outputting only absolute URLs. However, this does not work for any custom fields. For example:

[code]

[code]

This will still output a relative URL and thus would not work if the `<base>` tag was removed.

In my original PR we discussed, that for any back end input field that can hold

[2022-06-24 08:41] fritzmg commented on #4869
Even if Symfony thinks it should be removed, I don't think it should be removed for Contao. At least we need to make sure that things like the scheduler still works during a cache hit - because that's what many setups will rely on.

[2022-06-24 08:42] ausi commented on #4871
How about intercepting these values on save here: https://github.com/contao/contao/blob/f476d2a6b19f9982fffb8ca0b9be722da4ddff12/core-bundle/src/Resources/contao/library/Contao/Widget.php#L969-L981

We could prefix `{{env::base}}/` there I think. We could also remove this when loading the widget so that the user doesn’t see whats going on behind the scenes. But I’d prefer the user to see it (as th

[2022-06-24 08:43] fritzmg commented on #4871
It also needs to be applied for any link in the RTE though.

[2022-06-24 08:51] ausi commented on #4871
This should already be the case in https://github.com/contao/contao/blob/f476d2a6b19f9982fffb8ca0b9be722da4ddff12/core-bundle/src/Resources/contao/classes/DataContainer.php#L468

[2022-06-24 08:52] leofeyer commented on #4871
That is not what we have discussed yesterday, though. We do not want to prefix `{{env::base}}/` when saving values (except in TinyMCE) but add `Environment::get('base')` or `$request->getBasePath().'/'` where ever these values are used.

[2022-06-24 08:55] fritzmg commented on #4871
But that's bad UX/DX. Previously we were able to add and output custom fields like shown above. But now everybody always has to:

* check whether the URL is an insert tag or absolute,
* and add the base path if not

when outputting any such variable in a custom template?

[2022-06-24 08:57] leofeyer commented on #4871
Correct. That‘s what the core has to do, too.

[2022-06-24 09:00] fritzmg commented on #4871
What if we added the logic to `StringUtil::specialcharsUrl` at least then? Then you'd always only need:

[code]

[2022-06-24 09:05] leofeyer commented on #4871
In your example, `$this->someLink` should already have been prefixed when passed to the template.

[2022-06-24 09:07] fritzmg commented on #4871
It's not, the template variable is passed as is.

[2022-06-24 09:18] Toflar commented on #4869
I strongly disagree with that. If something is coming from the cache, nothing on that system should be booted or done. That's the whole idea of a cache proxy.

I'm not willing to accept a slower system just because of some hack. The current implementation of the scheduler is perfectly fine and it's still going to be called often enough (e.g. always when you log into the back end).

If you want rel

[2022-06-24 09:19] Toflar commented on #4869
Symfony PR: https://github.com/symfony/symfony/pull/46763

[2022-06-24 09:22] Toflar commented on #4869
BTW: If you really, really want that scheduler to run after the proxy, it should be a proxy subscriber (here: https://github.com/contao/contao/blob/4.13/manager-bundle/src/HttpKernel/ContaoCache.php#L50) - but I consider this to be a bad idea because it will cause a DB connection on every cache hit which is nonsense. And again, even if we did that, you still don't have a reliable cron.

[2022-06-24 13:54] Anke opened #4872 "Articles consisting of a teaser only have a "Read more" link"
### Affected version(s)

4.13.5

### Description

Hi,

articles with teasers only are automatically providing a Read more link. When I click on the Read more link I see a pagfe with Return link.

Example: In the demo I added another article and defined both to display their teasers. While the demo article contains content, the added article only consists of the teaser and shouldn't have a Read on

[2022-06-24 15:05] m-vo commented on #4831
Closing in favor of #4874.

[2022-06-24 15:05] #4831 closed, assigned to m-vo

[2022-06-24 19:42] d0p3fish commented on #4529
hi, i already moved these "non class files" out of src/.
Now everything is working fine.

But this was hard to figure out, because in
app_env=dev => controller got rendered in frontend, everything is fine.
app_env=prod => blank page without error message

e.g.
src/Resources/contao/dca/tl_module.php
`<?php

$GLOBALS['TL_DCA']['tl_module']['palettes']['consultant_module'] =
'{title_legend},name,type

[2022-06-27 07:22] fritzmg commented on #4529
If you define in your own services definition file that all PHP files in a certain folder should be registered as a service, then you also need to make sure that this won't fail due to files that are not meant to be a service. You need to to exclude these files/subnamespaces from your definition, e. g.

[code]

[2022-06-27 10:21] #4869 closed, assigned to nobody

[2022-06-27 11:07] #3471 closed, assigned to ausi

[2022-06-27 11:11] #4837 closed, assigned to nobody

[2022-06-27 11:33] #4803 closed, assigned to ausi

[2022-06-27 14:57] ameotoko opened #4884 "Update default template for Google Analytics"
### Description

Google Analytics 4 is now default, Universal Analytics is deprecated and will stop processing data in the next year (https://support.google.com/analytics/answer/11583528).

The tracking snippet in `analytics_google.html5` should probably be updated, it was last updated 8 years ago.

[2022-06-27 15:42] #4884 closed, assigned to nobody

[2022-06-28 09:55] contaoacademy opened #4890 "Optimize Installtool appearance for database updates"
### Affected version(s)

4.13.5

### Description

I have installed a new extension. There are accordingly new database updates in the Installtool.

This leads partly to an incorrect layout. See screenshot.
![screen-20220628_5ForkXaA](https://user-images.githubusercontent.com/23719181/176150869-bed7ecf5-5790-45e0-adc5-9eeb811ee550.jpg)

[2022-06-28 10:04] ausi commented on #4890
This can probably be fixed by adding:

[code]

@contaoacademy is Contao 4.9 affected too?

[2022-06-28 13:14] contaoacademy commented on #4890
Yes, it looks like in Contao 4.13

[2022-06-28 13:15] contaoacademy commented on #4890
[code]

This resolves the problem for me.

[2022-06-29 09:23] rabauss opened #4896 "InitializeApplicationListener wants to copy non-existing file"
### Affected version(s)

5.x

### Description

When developing for Contao 5.x I got stuck with the following error:
`Failed to copy "contao/manager-bundle/src/EventListener/../Resources/skeleton/system/initialize.php" because file does not exist.`

Obviously the file does not exist anymore here:
https://github.com/contao/contao/tree/5.x/manager-bundle/src/Resources/skeleton

But it is referenced h

[2022-06-29 09:28] Toflar commented on #4896
That listener can be removed :) PR? 😇

[2022-06-29 10:13] #4896 closed, assigned to nobody

[2022-06-29 15:36] ameotoko opened #4900 "Broken subpalette toggling in 5.x"
### Affected version(s)

5.x

### Description

Toggling subpalettes currently seems to be broken in `5.x`:

![image](https://user-images.githubusercontent.com/10257912/176475667-398cf376-4aca-4a68-972e-ec0cd227fce5.png)

(same problem in `tl_content` when editing content elements, for example)

I didn't get to the bottom of this yet, but the hint might be, that the whole palette is returned in the

[2022-06-29 16:00] aschempp commented on #4900
I guess that would be related to https://github.com/contao/contao/pull/4375

[2022-06-29 16:12] ameotoko commented on #4900
That should not affect anything, the XHR request is identical in both branches (apart from request token etc.). The problem is, `$dc->edit()` renders the whole palette in `Ajax::executePostActions()` for some reason:

https://github.com/contao/contao/blob/94c2febf9e9da4aca45cc39077ee12e229014c9e/core-bundle/src/Resources/contao/classes/Ajax.php#L356-L359

Instead, I think #4792 might be responsibl

[2022-06-29 16:56] ameotoko commented on #4900
I tried to debug it under both branches and compare, I hope it's somehow helpful.

In `4.13`, the successfully rendered subpalette is returned from this block of code:

https://github.com/contao/contao/blob/5068fbe9763b3aa95733e71fc038a100261c938b/core-bundle/src/Resources/contao/drivers/DC_Table.php#L1873-L1888

In correspondent block in `5.x`, `$vv` is never "[EOF]" (_for any box_), and `$blnAja

[2022-06-29 17:18] fritzmg commented on #4900
I can confirm the problem.

[2022-06-29 19:05] ameotoko opened #4902 ""Click to edit" is not working properly in 5.x"
### Affected version(s)

5.x

### Description

Following up the #4754, it breaks the `click2edit` feature, that has been in Contao [since 3.1](https://contao.org/en/news/contao-3_1_RC1.html) (which is undocumented BTW) in a following way:

- `[Ctrl] + click`: ~~edit the element~~ now edits the element settings
- `[Ctrl] + [Shift] + click`: ~~edit the element settings~~ does not work

It can be fix

[2022-06-30 04:46] aschempp commented on #4902
See #4904

[2022-06-30 04:46] #4902 closed, assigned to nobody

[2022-06-30 13:04] leofeyer commented on #4900
The changes from #4892 seem to cause the issue. 🤔

[2022-06-30 13:29] leofeyer commented on #4900
https://github.com/contao/contao/blob/77c8886921687ed625bf93562aa7907f1255222c/core-bundle/src/Resources/contao/drivers/DC_Table.php#L3362-L3366

Without the change, `$subpalettes` contains the following:

[code]

With the change, `$subpalettes` contains the following:

[code]

I have not yet figured out why this is, but this seems to cause the issue.

[2022-06-30 13:31] m-vo opened #4913 "Allow iterating multiple times in FilesystemItemIterator"
### Affected version(s)

4.13

### Description

The current `FilesystemItemIterator` implementation has a subtle problem with already closed iterators.

I'd basically like to make the following access pattern possible:

[code]

This is especially important to support functions that allow peeking like `getFirst()`.

[2022-06-30 13:56] leofeyer commented on #4871
As discussed in the Contao call, we want to add a helper method to the Template class and a Twig helper method that prefixes relative URLs with the request base path.

[2022-06-30 14:15] leofeyer commented on #4806
As discussed in the Contao call, we want to move sites and files to the "Content" area as a test and see how this feels for everyone. We can always revert later.

[2022-06-30 15:03] leofeyer commented on #4654
As discussed in the Contao call, we want to trigger a deprecation in Contao 5 and see where exactly this is still used.

[2022-06-30 15:13] leofeyer commented on #4818
As discussed in the Contao all, we can deprecate the `FrontendUser::isMemberOf()` method for removal in Contao 6 because we do not use it anymore in Contao 5.

The `BackendUser::hasAccess()` method has to be reworked before we can deprecate it as described by @aschempp above.

[2022-06-30 15:53] Toflar opened #4917 "Deprecate oninvalidate_cache_tags_callback in favor of new event in EntityCacheTags"
### Description

`EntityCacheTags` currently supports clearing cache tags for an entity. However, it ignores the `oninvalidate_cache_tags_callback`.

We should

- Deprecate the `oninvalidate_cache_tags_callback`
- Introduce a new event which replaces this one
- Have `DataContainer::invalidateCacheTags()` call `EntityCacheTags::invalidate*`

[2022-06-30 16:00] bezin commented on #4806
Sorry, did not see you self-assigned this

[2022-06-30 17:09] #4806 closed, assigned to leofeyer

[2022-07-01 05:45] zonky2 opened #4923 "the first folder is not public when creating nested folders"
### Affected version(s)

4.13.5

### Description

* Create nested folder `foo/bar` and set checkbox published - folder `foo` is not published

[2022-07-01 08:57] fritzmg commented on #4923
That's the intended behaviour. After all you are creating the folder `foo/bar` and thus you are setting the folder `foo/bar` to public.

[2022-07-01 08:57] #4923 closed, assigned to nobody

[2022-07-01 09:00] zonky2 commented on #4923
o.k. - then I guess my expectations were different...

[2022-07-01 09:43] akroii opened #4924 "Inhaltselemente per Pfeiltasten nach dem speichern wieder pickbar machen"
### Affected version(s)

4.9.*, 4.13.*

### Description

Hallo,
wenn man im Contao-Backend innerhalb eines Artikels einen neues Inhaltselement hinzufügen möchte, kann man das ja schnell erledigen, indem man ein neues Inhaltselement hinzufügt und in dem Select z.B. "Auflis" eingibt und mit den Pfeiltasten dann nach unten drückt um "Auflistung" anzuwählen.

Wenn man jedoch diesen Vorgang schon einma

[2022-07-01 09:44] fritzmg commented on #4924
Try the "arrow up" key instead.

[2022-07-01 09:47] akroii commented on #4924
"Arrow up" works, but "arrow down" does not work ;)

But after I pressed "arrow up" "arrow down" works well.

Would be great to make "arrow down" possible after the first encounter

[2022-07-01 09:53] fritzmg commented on #4924
Yes, it's a usability issue of the Chosen JavaScript, that I also find super annoying.

The issue is not that "arrow down" does not work. The issue is that the currently selected element is either above or below the filtered elements and thus you need to use either "arrow up" or "arrow down" depending on your current selection. Which is not intuitive, since you don't really know whether your curre

[2022-07-01 10:23] leofeyer commented on #4924
Please re-create this issue here: https://github.com/contao-components/chosen/issues

[2022-07-01 10:23] #4924 closed, assigned to nobody

[2022-07-01 10:25] akroii commented on #4924
[https://github.com/contao-components/chosen/issues/4](https://github.com/contao-components/chosen/issues/4)

[2022-07-01 12:09] aschempp opened #4927 "DC_File should not support excluded fields"
### Affected version(s)

5.x

### Description

https://github.com/contao/contao/pull/4709 inverses the default for `exclude`, which means all `tl_settings` would become a user-configurable permission. However, that does not really make much sense… should we exclude DC_File from permissions? It would probably mean some hardcoding :see

[2022-07-01 12:26] #4871 closed, assigned to leofeyer

[2022-07-01 12:33] #4654 closed, assigned to leofeyer

[2022-07-01 17:51] m-vo commented on #404
See #4935

[2022-07-01 17:51] #404 closed, assigned to nobody

[2022-07-02 12:55] ausi opened #4937 "contao:user:list bugs with JSON format"
### Affected version(s)

4.13.5

### Description

Running `contao:user:list --format=json` results in an error:
`Malformed UTF-8 characters, possibly incorrectly encoded`
(but this error is swallowed because we’re not using `JSON_THROW_ON_ERROR` and the output is just empty)

Running `contao:user:list --format=json --column=username --admins` results in the following output:

[code]

which is inva

[2022-07-02 14:10] richardhj commented on #4937
None of the default columns ('username', 'name', 'admin', 'dateAdded', 'lastLogin') contains binary data, so skipping is no option if one explicitly asks for it.

+1 for the agenda otherwise :-)

[2022-07-02 16:08] ausi commented on #4937
But with `--format=json` the default columns are not used: https://github.com/contao/contao/blob/cda9669b8df8faaa53779ee141390f1ccafc8983/core-bundle/src/Command/UserListCommand.php#L134-L135

[2022-07-02 16:19] richardhj commented on #4937
Considering the use cases for the CLI, default columns is something we can introduce. ATM also superfluous information like the password hashes are exported.

[2022-07-03 11:32] ameotoko opened #4942 "DC_Table forces a field to appear as a column in `listView`, if the field is first to order by"
### Affected version(s)

\>= 4.9

### Description

Is this code block really necessary? Say I want to initially sort my data container by a certain field, but show the value in a custom `list.label.label` callback instead of a separate column. Currently the only way to achieve it is to enable grouping, disable columns and render the whole row by yourself. Seems unnecessarily restrictive.

https://

[2022-07-04 08:07] #4409 closed, assigned to ausi

[2022-07-04 08:47] koertho opened #4943 "Migration not correctly recognize decimal type"
### Affected version(s)

4.13.5

### Description

As already [discussed in Slack](https://contao.slack.com/archives/CK4J0KNDB/p1656919776413029): The Migration / Install Tool has issues with decimal/numeric type. Changes to the database schema are not correctly recognized, so the migration always show the queries to change the schema.

Steps to reproduce:
1. Create a database field with numeric ty

[2022-07-04 08:48] m-vo commented on #4943
We are basically only doing the following:
https://github.com/contao/contao/blob/25e9a50e41d70553c32846cacd527cdd70ade32f/core-bundle/src/Migration/CommandCompiler.php#L35-L37

https://github.com/contao/contao/blob/25e9a50e41d70553c32846cacd527cdd70ade32f/core-bundle/src/Migration/CommandCompiler.php#L60-L65

The issue most likely originates from doctrine's schema diff.  Likely related:  https://g

[2022-07-04 08:55] fritzmg commented on #4943
I can confirm the problem. The issue does not occur in Contao 4.9 (doctrine/dbal 2.x).

[2022-07-04 09:02] ausi commented on #4943
Can confirm the issue too, with `'default' => '0.000000'` it disappears in my setup.

[2022-07-04 09:46] berecont opened #4944 "CE Markdown - Insert Tags"
### Affected version(s)

4.13.5

### Description

Content Element _Markdown_:
Insert Tags will not be displayed as URL in frontend
Markdown: `[mein Text zum Link]({{news_url::4711}})`
Frontend: `meinedomain.tld/{{news_url::4711}}`

[2022-07-04 09:50] fritzmg commented on #4944
The front end will actually output

[code]

[2022-07-04 12:44] akroii commented on #2375
Yet another extension: [https://github.com/inspiredminds/contao-extended-form-fields](https://github.com/inspiredminds/contao-extended-form-fields)

[2022-07-04 12:49] fritzmg commented on #2375
https://github.com/contao/contao/pull/4936 would implement the `date` input type for Contao 5.1.

[2022-07-04 15:02] JohnSoliman95 opened #4946 "Password policy"
### Description

Greetings,

A customer asked us whether we could set up a more strict and safe password policy for backend users. I've searched for such a module, but all I could find was [terminal42/contao-password-validation](https://packagist.org/packages/terminal42/contao-password-validation) which does all we want, but unfortunately I suppose only for frontend users.

It would be nice if it

[2022-07-04 15:07] fritzmg commented on #4946
No, it also works for the back end: https://github.com/terminal42/contao-password-validation#password-validation

[2022-07-04 20:32] JohnSoliman95 commented on #4946
Thanks for your quick reply. I guess I haven't read the documentation carefully enough.

Nevertheless, do you know if something like this or related to this is planned for future core implementation?
That would be really neat and a big benefit; even for discussing with customers whether to pick Contao or another CMS. I mean 2FA authentification is nice and all, but having the ability to tweak the

[2022-07-05 06:56] aschempp commented on #4946
I personally don't think this should be a core feature. The only relevant measurement of security for a password is its length, and configuring the length is already a core feature. See https://xkcd.com/936/.

[2022-07-05 07:24] ausi commented on #4946
Fully agree with @aschempp

This is the only other thing from the mentioned list that can acutally improve security I think.
Showing people how strong their password is when registering would be a great feature.

[2022-07-05 08:53] #4946 closed, assigned to nobody

[2022-07-05 11:44] aschempp commented on #4529
This is still something I want to fix in the magic service autoloading.

[2022-07-05 11:48] fritzmg commented on #4529
We are already excluding the `Resources` folder there though (and more).

[2022-07-05 13:47] aschempp commented on #4529
Sorry I didn't read the whole thread 😂

[2022-07-05 13:47] #4529 closed, assigned to aschempp

[2022-07-05 13:51] aschempp commented on #1795
see https://github.com/contao/contao/pull/4940

[2022-07-05 13:51] #1795 closed, assigned to fritzmg

[2022-07-05 15:19] #4913 closed, assigned to m-vo

[2022-07-06 11:39] cubex-hro opened #4956 "Multidomain news and news details on same alias problems"
### Affected version(s)

4.13.6

### Description

I have a multi-domain installation. Each page has a news area under the alias /news/ the details should also be displayed under the same alias in the frontend like /news/path-to-news-item.html. I created the pages according to the new route priority principle.

Unfortunately, I get an error message when creating the reader page on second rootpage.

[2022-07-06 14:31] aschempp commented on #4927
fixed in https://github.com/contao/contao/pull/4709 (https://github.com/contao/contao/pull/4709/commits/eb3ec709b7b2ee0050192636fdfcf80df1115bc6)

[2022-07-06 14:31] #4927 closed, assigned to aschempp

[2022-07-06 16:41] #4900 closed, assigned to aschempp

[2022-07-07 08:17] bennyborn opened #4962 "Dbafs: Incorrect pid when moving file outside Contao"
### Affected version(s)

4.13.*, ~~maybe even 4.9~~

### Description

When moving a file outside Contao (directly on the filesystem) the Dbafs sync will correct the path of the file but it'll not change the pid. This leads to a wrong behaviour when having "Downloads"-Elements which are pointed to an entire directory instead of specific files.

**The Setup:**

1. Create the following folder structu

[2022-07-07 08:53] fritzmg commented on #4962
I can confirm the issue. I can also confirm that the issue does not occur in Contao 4.9.

[2022-07-07 09:35] con2net opened #4963 "Individually change file management metadata for content elements"
### Description

Currently it is possible to enter the metadata individually for content elements that include files (especially the content element "image"). If you change ONLY ONE meta value, e.g. the image link, ALL meta data are changed to the values used here. If you have already entered the title and the alternative text for a certain image in the file management, you would also have to ente

[2022-07-07 09:41] fritzmg commented on #4963
Duplicate of #599

[2022-07-07 09:41] #4963 closed, assigned to nobody

[2022-07-07 11:15] leofeyer commented on #4962
@m-vo /cc

[2022-07-08 10:31] fritzmg opened #4967 "contao.security.token_checker cannot be decorated"
### Affected version(s)

4.9+

### Description

The class comment of our `contao.security.token_checker` service says:

[code]

However, decorating that service is not actually possible, as this service does not implement an interface and thus all other services injecting the token checker are requiring a type of

[code]

and thus if you try to decorate this service you will end up with an error l

[2022-07-08 10:56] ausi commented on #4967
Maybe the correct text would be `Do not call the constructor from an inherited class; decorate the "contao.security.token_checker" service instead and redirect the public methods to the inner service` or something in that direction?

[2022-07-08 11:01] fritzmg commented on #4967
~~But that would not change anything. You simply cannot decorate `contao.security.token_checker` due to the other dependents.~~

// Sorry, misunderstood you comment. Yes that would be more accurate then.

[2022-07-09 17:48] ameotoko opened #4969 "PHP 8 warning in `editAll` mode in DC_Folder"
### Affected version(s)

4.13

### Description

Trying to edit and save metadata of multiple files in File manager, got this (in `dev` env):

[code]

Contao 4.13.6

EDIT: not just metadata; seems to relate to "Edit multiple" in general.

[2022-07-10 08:50] #4525 closed, assigned to nobody

[2022-07-10 08:50] #4502 closed, assigned to nobody

[2022-07-10 08:50] #3925 closed, assigned to nobody

[2022-07-10 08:50] #4404 closed, assigned to nobody

[2022-07-10 09:16] fritzmg commented on #4494
I cannot confirm the problem.

@argus231 can you provide a stack trace for the first case?

[2022-07-11 09:39] fritzmg opened #4970 "Database configuration errors missing from contao:migrate"
### Affected version(s)

4.9, 4.13

### Description

The Contao Install Tool currently executes a few checks for the current database configuration and shows an error and what you will need to do, if applicable. These checks are missing from `contao:migrate` currently.

For example, if you configure something like:

[code]

but your database server does not support the `utf8` designation anymore (

[2022-07-11 15:36] #3255 closed, assigned to nobody

[2022-07-12 09:40] m-vo commented on #4970
Did you test with the current 5.x branch?

I already ported all the configuration checks in #4935.

See:  https://github.com/contao/contao/blob/3d7c2c126f8b0aa63b6929fb377d20e297da628c/core-bundle/src/Command/MigrateCommand.php#L430-L603

[2022-07-12 09:42] fritzmg commented on #4970
I actually only tested it in 4.9 and 4.13 :). If that is the case, then we may need to backport that.

[2022-07-12 09:49] leofeyer commented on #4970
Why? It is a new feature in Contao 5, so no need to backport.

[2022-07-12 10:00] fritzmg commented on #4970
Is it not a bug that `contao:migrate` continues to try to convert `utf8mb3` to `utf8` while the Install Tool tells you that this won't actually work?

[2022-07-12 10:18] #3178 closed, assigned to nobody

[2022-07-13 10:13] qzminski opened #4980 "CSV data load/save in frontend member modules"
### Affected version(s)

4.9+

### Description

I have some custom member fields that have the `'eval' => ['csv' => ',']` setting. Unfortunately, loading and saving the data does not work correctly in the frontend member modules such as registration or personal data modules.

In the first place, I thought of creating a simple pull request to add this functionality directly in the modules, similar

[2022-07-14 07:39] fritzmg opened #4987 "Preview of 401, 403, 404 pages executed in wrong TL_MODE"
### Affected version(s)

4.13

### Description

When showing the preview of the `40x` pages in Contao 4.13, an error like this might occur:

[code]

### Reproduction

1. Create a file called `templates/foobar/js_foobar.html5`.
2. Edit your theme and set **Templates folder** to `foobar`.
3. Edit your page layout and enable `js_foobar` under **JavaScript templates**.
4. Go to the _Site structure_ an

[2022-07-14 08:44] aschempp commented on #4987
see https://github.com/contao/contao/pull/4988

[2022-07-14 08:44] #4987 closed, assigned to nobody

[2022-07-14 10:57] #3826 closed, assigned to ameotoko

[2022-07-15 08:15] theDyingMountain commented on #1856
Gibt es irgendwelche Neuigkeiten hierzu? Ich hatte erneut eine Anfrage, bei welcher wir die Contao Logins gern für ein Zweitsystem nutzen möchten.

[2022-07-15 16:31] #4110 closed, assigned to nobody

[2022-07-15 16:41] leofeyer commented on #1515
We are now using the `PersistentRememberMeHandler`.

[2022-07-15 16:41] #1515 closed, assigned to bytehead

[2022-07-15 17:47] ameotoko opened #4999 "`endTime` can be string under certain conditions in `tl_calendar_events`"
### Affected version(s)

4.13

### Description

Follow up to #3454.

If `addTime` is checked, but `startDate` is not set yet (it is empty by default), and user changes any other field that has `submitOnChange => true` more than once, then by the time of this check `$dc->activeRecord->endTime` is an empty string:

https://github.com/contao/contao/blob/95636f5853da18fba2e2bf74bf510ab5db91e44f/calend

[2022-07-18 06:14] aschempp commented on #4980
Since we (currently) re-implement everything in these modules, I think we need to also do that in this case. Can you give a real-world example of serialized data that can be entered in the front end? For example the back end text field supports "multiple" input fields where this might make sense, but the frontend form field does not?

[2022-07-18 06:31] aschempp commented on #4872
Why would you add a teaser and enable the "show teaser" checkbox option if you don't want a readmore link? You could simply add that content to the article content instead?

[2022-07-18 06:34] aschempp commented on #4238
we've had a similar feature in `ce-access`, to limit elements between pages and content elements. However we agreed on this being a very specific use case that could be added by an extension, and the core would only support the default access (like now).

@contao/developers should we close this feature request accordingly?

[2022-07-18 06:41] aschempp commented on #4461
is this still relevant?

[2022-07-18 06:44] qzminski commented on #4980
Sorry, I was not precise enough. The problem is mainly about the multiple checkboxes. There's likely no field in the core that is affected, but here is one example from my project:

[code]

As you can see, I had to add some custom load and save callbacks for the frontend to parse it correctly:

[code]

Otherwise, it would save the data as a serialized array, and in the backend, it would look like

[2022-07-18 07:16] m-vo commented on #4461
Not anymore with #4915.

[2022-07-18 07:16] #4461 closed, assigned to m-vo

[2022-07-18 08:40] fritzmg commented on #4999
I am unable to reproduce this issue with your reproduction steps. When I follow your reproduction steps, I get a database entry where the following is the case:

* `startTime` is a positive integer
* `startDate` is a positive integer (same as `startTime`)
* `endTime` is a positive integer (same as `startTime`)
* `endDate` is null

[2022-07-18 11:23] Anke commented on #4872
Okay, then I'll have to teach my folks to not use article teasers for very short articles. I guess I misinterpreted the line `<?php if ($this->teaserOnly): ?>`?

There are some sports clubs among my customers who are also using news teasers for short one-line-infos, where there's really no need to have a link to a separate page repeating this same short line of text, not even for SEO. Thus we alwa