[2018-09-21 12:04] fritzmg commented on #84
So ist das aber nun mal nicht ;). Contao kann das nicht ändern, da es eine Sache des Browsers ist.

Wenn dir das nicht gefällt, kannst du die HTML5 Validierung ja abschalten.

[2018-09-21 13:22] Toflar commented on #81
Das geht alles bereits :-) ESI FTW

[2018-09-21 15:23] contaoacademy opened #87 "Feature: News um Meta-Description und Meta-Titel erweitern (SEO)"
**Description**
Ich würde gerne bei den Nachrichten den Meta-Titel und die Meta-Beschreibung selbst schreiben können.
Im Moment werden die Daten automatisch aus Titel und Teaser erstellt.

Das ist für SEO allerdings nicht immer optimal.

**Example**
Im Grunde müsste einfach die folgende Erweiterung in den Core übernommen werden:
https://packagist.org/packages/erdmannfreunde/contao-news-meta

![met

[2018-09-21 16:10] leofeyer commented on #85
Hast Du das Datenbank-Update im Installtool durchgeführt? Das Feld `tl_user.secret` ist bei Dir scheinbar `null`, sollte aber das Secret enthalten.

[2018-09-21 20:11] CMSworker commented on #6361
Ich finde den Vorschlag eigentlich gut, das Linkziel in der Linkbeschreibung ausführlicher zu benennen und ggf. individuell an die Linkziele anzupassen, sehe da aber folgende Probleme, bzw. möchte ich das noch zur Diskussion stellen:

- Je länger ein Seitenname (oder Dateiname oder Modulname...) ist, desto länger werden ALLE Beschreibungen der Funktionsicons. Das führt dann dazu, das ein Screenrea

[2018-09-21 20:31] CMSworker commented on #6361
Ergänzend noch ein anderer Vorschlag:

Die Icons werden nicht als IMG eingebunden, sondern als normale Textlinks, wobei per CSS der Text ausgeblendet wird und dafür das jeweilige Icon als CSS-Hintergrundbild eingebunden wird. Die Verwendung von ALT-Tags wäre dann völlig überflüssig und könnte auch nicht semantisch falsch verwendet werden. Die Icons bieten inhaltlich keinen Mehrwert (außer dass es

[2018-09-21 20:37] CMSworker commented on #6361
@leofeyer

Zumindest im Seitenbaum im Online-Demo ist das nicht der Fall, alle title-Tags sind zwar vorhanden, aber leer:

![screenshot](https://user-images.githubusercontent.com/31544192/45904925-d8163400-bdee-11e8-8fb4-fee2e8db7891.jpg)

//EDIT: Moment, im Seitenquelltext sind die title-Tags vorhanden und ausgefüllt, sie werden nur im Firefox-Debugger nicht angezeigt. Könnte an den Javascripts f

[2018-09-22 07:31] leofeyer commented on #6361
So ist es.

[2018-09-23 12:35] Samson1964 opened #88 "Artikel-Aliase, die nur aus Ziffern bestehen, sind nicht erlaubt?!"
In der COD wird bei einem Artikel mit dem Titel "2013" automatisch ein Alias "id-2013" erstellt. In meiner 4.5.14 wird stattdessen das Alias auf "2013" gesetzt. Ich finde das Verhalten (ohne id-) normal: Es sieht schöner aus und ist wohl seit einer Version 3 mittlerweile auch erlaubt (bei Seitenaliasen). Leider meldet mein C4 und auch die COD mit Alias "2013" einen 404er. Füge ich irgendwo im Alia

[2018-09-24 06:14] timgatzky commented on #81
Es ist bereits möglich mit einfachen Template-Kommentaren Bereiche aus dem Seitencache auszuschließen? Hast du dazu ein Tutorial oder ein Beispiel an der Hand, wo dies vorgestellt wurde?

[2018-09-24 06:22] Toflar commented on #81
Das geht nicht out-of-the-box bzw. wir haben keinen Helper im Template dafür. Der Teil des Templates den du ausklammern möchtest müsste ein eigenes Fragment sein, welches du dann aufrufen musst.
Grundsätzlich wären die Schritte zum Verständnis:

* Erstmal verstehen wie ESI funktioniert (im Symfony Umfeld: https://symfony.com/doc/current/http_cache/esi.html)
* Dann unsere Implementierung verstehen

[2018-09-24 12:10] Sioweb opened #89 "(TL_Maintanance) X is not an executable class"
**Affected version(s)** 4.6.x

**Description**

I try to run a new Maintenance Task and i get error `sioweb.glossar.rebuild is not an executable class`. It seams that the interface \executable is not available in other namespaces.

**How to reproduce**

Add follow lines to foreach-loop in ModuleMaintenance.php

	$cls = get_class($this->$callback);
	print_r(class_implements(get_class($this->$callba

[2018-09-24 12:24] contaoacademy opened #90 "Bezeichnung der Module von Benutzer auf Mitglied ändern prüfen"
Vielleicht wäre es sinnvoll, unter den Modulen statt **Benutzer** den Begriff **Mitglieder bzw. Frontend-Benutzer** zu verwenden?

Das wäre aus meiner Sicht konsistenter. Da sich darüber ja keine Backend-Benutzer einloggen, registrieren und verwalten lassen.

Natürlich dann auch bei den Beschreibungstexten…
Was denkt ihr?

![bezeichnung-pruefen](https://user-images.githubusercontent.com/23719181/4

[2018-09-24 12:27] Sioweb commented on #89
How i would fix it:

- Add directory `/src/contao/core-bundle/Interfaces`
- add interfaces as file, for example Executable.php
- add Namespace \Contao\CoreBundle\Interfaces;
- update \executable in all executable Classes to \Contao\CoreBundle\Interfaces\Executable;
- update in mine classes too
- change row 48 in ModuleMaintenance.php to `if (!$this->$callback instanceof \Contao\CoreBundle\Interfac

[2018-09-24 12:37] Sioweb opened #91 "Do not list frontend user without login permissions in maintenance dropdown"
**Affected version(s)** 4.6

**Description**

Users without "Allow login" option are also listet in maintenance backend. This causes error; User can not be validatet

**How to reproduce**

- Create new user without Login
- Open maintenance
- build searchindex with this user
- Error

[2018-09-25 05:28] bekanntmacher opened #92 "{{link_open::*}} zeigt bei ungültiger Id nichts an"
Wenn die Page Id ungültig ist, zeigt `{{link_open}}` nichts an, was dann im Zusammenhang mit `{{link_close}}` zum Problem führt, sprich invalides HTML erzeugt, Bsp.:

`<div class="button">Hallo</a></div>`

Besser wäre, wenn die URL einfach leer gelassen würde:

`<div class="button"><a href="">Hallo</a></div>`

[2018-09-25 09:07] ghost commented on #85
Haha, das war's 👍 könnte man beim Update via Composer vielleicht nicht am Ende der Routine-Arbeiten einen Hinweis ausgeben, daran zu denken, dass Installtool zu öffnen? ^^

[2018-09-25 09:45] contaoacademy opened #93 "Module "Account close" ignores redirect page"
**Affected version(s)**
Contao 4.6.3, other versions not tested

**Description**
Insert a module "account close" and set a redirect page.

**How to reproduce**
Login as user and delete your account.
After you submit, the same page would be reloaded instead of the chosen redirect page.

[2018-09-25 10:52] contaoacademy opened #94 "Remove mandatory-flag from source files when option "use home directory" is selected"
**Affected version(s)**
Contao 3.5, Contao 4.x

**Description**
If I set the option "use home directory" for the elements downloads or gallery, I also have to choose a source file. In my opinion this is not necessary, because the source files would be generated automatically.

Is it possible to remove the "mandatory-flag", if the option "use home directory" is set?
Or does contao need this as fall

[2018-09-25 11:33] fritzmg commented on #94
The mandatory flag shouldn't be necessary. If no files or folders have been selected and no user home directory is available, then the element simply should not render.

[2018-09-25 12:48] fritzmg opened #96 "Call to a member function handle() on null due to CacheInvalidator"
**Affected version(s)**
4.6.5

**Description**
In the Contao back end I sometimes get the following error within `kernel.terminate`:
[code]

**How to reproduce**
Unfortunately I do not have a reproduction. This error happens intermittently - mostly when saving elements, but not always.

[2018-09-25 14:53] leofeyer commented on #94
What if a user does not have a home directory?

[2018-09-25 15:01] fritzmg commented on #94
If the user does not have a home directory and no source files or folders were selected, the content element should simply
[code]
imho.

[2018-09-26 11:34] leofeyer commented on #85
@aschempp Meines Wissens nach macht der Manager das, oder?

[2018-09-26 11:45] fritzmg commented on #85
Der Contao Manager schon - aber ich denke @paaddyy meint bei composer Operationen direkt auf der Konsole.

[2018-09-26 11:53] ghost commented on #85
genau, ich mein den Update via Konsole :)

[2018-09-26 11:55] leofeyer commented on #85
Ach so. Dafür müsste man wohl ein Composer-Plugin schreiben.

[2018-09-26 12:09] fritzmg commented on #64
Having the same problem on a webgo shared hosting with Contao 4.6.5. Unfortunately neither setting
[code]
nor switching back to
[code]
helped. It works fine with other Contao 4.4 and 4.5 installations on the same host though.

[2018-09-26 12:54] contaoacademy commented on #64
I had the same problem yesterday.
As solution I added a full configuration for my smtp-server:

[code]

I think it would be best practice to add a smtp configuration.
Nice would be, if we could add this settings to the install-tool or the contao-manager.

[2018-09-26 13:05] fritzmg commented on #64
I know it would work if I defined an SMTP server. But I don't want to in this case ;) (or rather I cannot). I want to use `sendmail`.

[2018-09-26 13:13] leofeyer commented on #85
@aschempp Können wir das im Manager-Plugin machen oder müsste es separat sein?

[2018-09-26 13:57] aschempp commented on #85
Was willst du machen? Einen Contao-Nutzer darauf hinweisen dass er das Install-Tool öffnen muss??

[2018-09-26 14:04] leofeyer commented on #85
Ja, so eine Art "What's next" wie bei Symfony Flex.

[2018-09-26 14:05] aschempp commented on #85
Naja, ganz ehrlich… wenn man Composer auf Kommandozeile nutzt sollte man doch wissen was man tut? Sonst sollte man besser den Manager verwenden?

[2018-09-26 14:11] ghost commented on #85
Nichts gegen den Manager, aber ich denke manche verwenden nur die Konsole, da es bequemer ist (jedenfalls für mich als Admin, der sowieso immer Konsolen zu Servern offen hat).
War ja auch nur eine Idee, dort einen Hinweis anzuzeigen. Denn ich glaube, ich bin nicht der einzige, der das öfters mal vergisst und sich über Sachen danach wundert..^^

[2018-09-26 14:12] aschempp commented on #85
Natürlich, ich verwende auch die Konsole. Wir könnten natürlich einfach einen Hinweis in unseren ScriptHandler machen …

[2018-09-26 14:31] leofeyer opened #98 "Drop Lato in favor of a native font stack"
You might be aware that [Apple has disabled Subpixel antialiasing for text in macOS Mojave](https://ahmadawais.com/fix-macos-mojave-font-rendering-issue/), so this is how the Contao back end looks in Chrome and Firefox now:

<img width="832" alt="" src="https://user-images.githubusercontent.com/1192057/46086678-e6769e00-c1a8-11e8-998f-a202dff0f1e5.png">

The problem only occurs on Retina displays,

[2018-09-26 14:33] leofeyer commented on #85
Gute Idee. 👍

[2018-09-26 14:46] contaoacademy commented on #98
Wordpress also switched to a native font stack…
`-apple-system, system-ui, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;`

[2018-09-26 14:47] ausi commented on #98
👍 for using the system font stack.

But we should be aware that this makes Contao look differently across browsers/devices.

[2018-09-26 14:49] leofeyer commented on #98
Adding [`system-ui`](https://caniuse.com/#feat=font-family-system-ui) makes absolute sense. We can drop `BlinkMacSystemFont` entirely then.

Yes, but it also makes Contao look a little more like a native app, which is good I guess.

[2018-09-26 15:43] bytehead commented on #98
Go for it.

[2018-09-26 15:44] xchs opened #99 "Improve Composer performance with Prestissimo"
**Description**

There is a Composer plugin [hirak/prestissimo](https://github.com/hirak/prestissimo) which speeds up dependencies installation by downloading them in parallel.

~Is that something we could benefit from, too?~ Probably not, since it needs to be installed globally in order to achieve full performance.

[2018-09-26 16:49] #99 closed, assigned to nobody

[2018-09-26 18:12] sdfghasdfg opened #100 "<?= $this->href ?> regarding ce_teaser.html5"
Error report regarding
/html/contao/vendor/contao/core-bundle/src/Resources/contao/templates/elements/ce_teaser.html5, line 10:

`<p class="more"><a href="<?= $this->href ?>" title="<?= $this->readMore ?>"><?= $this->more ?><span class="invisible"> <?= $this->headline ?></span></a></p>`

href doubles URL-Content just like this:
https://www.world.wld/my_article/articles/my_article.html

URL must wr

[2018-09-26 18:35] asaage commented on #100
This has always been like that - keep in mind that this url strips all other articles from that page as it is an article-teaser - not a page-teaser.

https://github.com/contao/core-bundle/issues/1417 describes a different approach and i realy would like to know if this element has any significant usage - i never use it.

[2018-09-26 18:41] sdfghasdfg commented on #100
thx to you asaage

Bad news for me. In that case google would index double content because i use short URLs in all other menus.

Need a work around. Anyone knows how to fix it?

[2018-09-26 18:43] Toflar commented on #98
Go for it.

[2018-09-26 19:08] asaage commented on #100
you could replace:
```<?= $this->href ?>```
with
```<?= \PageModel::findById(\ArticleModel::findById($this->article)->pid)->getFrontendUrl() ?>```

but the headline would still be that of the article not that of the page.

[2018-09-26 19:14] sdfghasdfg commented on #100
Wow, thanks a million times to you asaage. This is a great help to avoid double content in google.

Now ce_teaser.html5 works like this example: [https://www.rechtsanwalt-darmstadt.de/gerichtsurteile.html](https://www.rechtsanwalt-darmstadt.de/gerichtsurteile.html)

Template: Tao/Rocksolid

Diff:

`<div class="<?= $this->class ?> ce_text block"<?= $this->cssID ?><?php if ($this->style): ?> style="

[2018-09-27 13:08] leofeyer commented on #58
The insert tag should work on the redirect target page of the form (but not on any subsequent page). Can you confirm this? If not, please describe more detailed how to reproduce this.

[2018-09-27 13:12] leofeyer commented on #48
As discussed in Mumble on September 27th, this can be solved by adding `'ignore_errors' => false`:

[code]

[2018-09-27 14:36] asaage commented on #58
I like the change that the insert-tag is only replaced on the redirect-target-page.
In https://github.com/contao/core-bundle/issues/1230#issuecomment-373421115 you stated its not doable because of multipage forms.
Can one of the pilots tell if [contao-mp_forms](https://github.com/terminal42/contao-mp_forms) is still working then?

[2018-09-27 14:37] #56 closed, assigned to nobody

[2018-09-27 14:38] Toflar commented on #58
It is, mp_forms manages its own session.

[2018-09-27 19:09] contaoacademy commented on #90
Konzentrieren wir uns lieber auf wichtigeres… Ich schließe das Ticket.

[2018-09-27 19:09] #90 closed, assigned to nobody

[2018-09-28 15:11] asaage opened #107 "downgrading of symfony/filesystem & symfony/console"
**Affected version(s)**
4.6.5
**How to reproduce**
I ran "update packages" in the contao-manager and noticed the following

[code]
That looks kind of strange to me and not exactly like an update.

Probably it's a contao-leads issue which in the same step was not updated but removed and installed with the next version.

[2018-09-28 15:22] contaoacademy commented on #98
Der Contao Manager nutzt ja ebenfalls "Lato". Es wäre ja eigentlich sinnvoll, wenn dann dort ebenfalls der Font-Stack geändert wird.

[2018-09-28 15:26] contaoacademy commented on #87
Hier noch eine weitere Extension zum gleichen Thema:
https://packagist.org/packages/srhinow/meta-4-coremodules

[2018-09-28 15:38] xchs commented on #98
Related tickets: https://github.com/contao/contao-manager/issues/20, https://github.com/contao/contao-manager/issues/85

[2018-09-28 19:32] ausi commented on #107
contao-leads in version 1.4.11 is [not compatible with Symfony 4.*](https://github.com/terminal42/contao-leads/blob/1.4.11/composer.json#L15-L16), so the downgrade to 3.4.15 seems correct to me.

What exactly looks strange? What did you expect to happen instead?

[2018-09-29 02:42] asaage commented on #107
I had contao-leads 1.4.10
with symfony/filesystem 4.1.4
and symfony/console 4.1.4
running before this update (i think the contao version was already 4.6.5)

and ```contao-console about``` tells me i am still using symfony 4.1.4

I am just having some difficulties getting my head around [this](https://github.com/contao/contao/commit/58ad40cd8782bb2b07b75dc1c58cc819f93791a0#diff-b5d0ee8c97c7abd7e3fa

[2018-09-29 02:42] #107 closed, assigned to nobody

[2018-10-01 12:02] leofeyer commented on #82
I cannot reproduce this.

**Regular**

<img width="411" alt="" src="https://user-images.githubusercontent.com/1192057/46287334-843fe380-c582-11e8-98ee-5476be27339e.png">

<img width="432" alt="" src="https://user-images.githubusercontent.com/1192057/46287341-8ace5b00-c582-11e8-973d-10bff0daee5c.png">

**Hidden**

<img width="437" alt="" src="https://user-images.githubusercontent.com/1192057/462873

[2018-10-01 12:02] #82 closed, assigned to nobody

[2018-10-01 13:57] contaoacademy commented on #82
I have checked this again.
You're right. In the toolbar everything is fine.
I didn't press the play-button.

See this screenshot of my splash-screen bevor I press play-button:

![settings](https://user-images.githubusercontent.com/23719181/46293025-a2154480-c592-11e8-9c12-9aa99b4e495d.png)

![nologo](https://user-images.githubusercontent.com/23719181/46292996-9164ce80-c592-11e8-870f-12f5650c380e.p

[2018-10-01 14:27] tophcodes commented on #58
Steps to reproduce:
1. Create a new form (redirect page in my case was Home)
2. Create a form field (name `test`)
3. Add the form to a page (Home in my case)
4. Add a new content element with type Text and content `Form: {{post:test}}`
5. Write something in the form field
6. The content element should output `Form: <input>`, but in my case only outputs `Form:`

I tested this on https://demo.contao

[2018-10-01 16:33] fritzmg commented on #107
That can happen at any time.

[2018-10-02 08:59] wernergraser opened #108 "Error: clear cache, or start installtool from Contao-Manager (1.0.4)"
manager 1.0.4 / Contao 4.4.26 / PHP7.2.10

After Contao Update 4.4.26 is no more possible to start the installtool or clear Prod.Chache
install:
`request.INFO: Matched route "contao_install". {"route":"contao_install","route_parameters":{"_scope":"backend","_token_check":true,"_controller":"Contao\\InstallationBundle\\Controller\\InstallationController::installAction","_route":"contao_install"},"r

[2018-10-02 15:24] mMuck opened #109 "Symlink generation for 'files' folder depends on hidden .public file"
**Affected version(s)**
4.4.24; 4.4.x?, 4.x?

**Description**
In my migration process from contao 3.x to 4.4 I had problems with a missing web/files symlink which generated an error after accessing the main frontend page. I tried to find the reason an found this:
( contao/core-bundle/src/Command/SymlinksCommand.php )

    private function symlinkFiles($uploadPath)
    {
        $this->createSymlin

[2018-10-02 15:37] xchs commented on #109
It will be created as soon as you set a folder to public in the back end file manager.

[2018-10-02 15:41] mMuck commented on #109
OK, so my issue is related to the way I migrated and this misconfiguration in the file manager. Thanks for your help! :smiley:

[2018-10-03 14:49] christian-kolb opened #112 "Member not accessible through token storage"
**Affected version(s)**
4.5 and 4.6

**Description**
When I'm logged in as a `FrontendUser` and call an API Endpoint, I'm not able to access the user in the API Controller. As of 4.5 the symfony security components are used, so I should be able to get the user by token, shouldn't I?

**How to reproduce**
Setup a symfony controller, make it available through routing, login as a frontend user then o

[2018-10-04 08:01] fritzmg opened #113 "allow local_domain parameter to be set via parameters.yml"
For example, if you use Google G Suite and you need to route outgoing emails of a website through the SMTP Relay Service without authentication (for whatever reason), you'll need to set the [`local_domain` parameter](https://symfony.com/doc/current/reference/configuration/swiftmailer.html#local-domain) (new since version `2.4.0` of the swiftmailer-bundle and supported since `6.0` of swiftmailer) t

[2018-10-04 08:21] fritzmg commented on #98
Some Screenshots from Win 10 x64, Firefox, 1.5 ddpx with that font stack, which will use Segoe UI:

![screenshot_2018-10-04 home - contao open source cms](https://user-images.githubusercontent.com/4970961/46461359-665ac480-c7b6-11e8-9bb2-0cc0fbf5cbf9.png)

![screenshot_2018-10-04 articles home content elements - contao open source cms](https://user-images.githubusercontent.com/4970961/46461358-665

[2018-10-04 09:15] leofeyer commented on #98
I think so, too. Same here on Mac

[2018-10-05 09:04] leofeyer commented on #74
Please provide more information so we can actually understand what you are trying to accomplish.

[2018-10-05 09:04] #78 closed, assigned to nobody

[2018-10-05 09:06] leofeyer commented on #79
@netzarbeiter Is this caused by zooming in or a scaled screen resolution?

[2018-10-05 09:08] leofeyer commented on #88
Siehe https://github.com/contao/core-bundle/issues/1598.

[2018-10-05 09:08] #88 closed, assigned to nobody

[2018-10-05 09:10] leofeyer commented on #89
Why should it? It is already available in the global namespace. Just add `implements \executable` in your maintenance class.

[2018-10-05 09:12] leofeyer commented on #96
Did anyone else ever have this issue? @contao/developers /cc

[2018-10-05 09:12] #100 closed, assigned to nobody

[2018-10-05 09:14] #109 closed, assigned to nobody

[2018-10-05 09:16] leofeyer commented on #112
@contao/developers /cc

[2018-10-05 09:17] jankout commented on #74
Hello, as I mentioned above [in the example from the Rocksolid forum](http://help.rocksolidthemes.com/discussions/contao/12212-verwendung-newsnachrichten-in-rocksolid-columns) I would like to manipulate every event to set the correct CSS clase from Rocksolid Columns. It's possible to do it with news (see the example in the Rocksolid forum and below), but it does not work on the same way with event

[2018-10-05 09:53] aschempp commented on #112
The frontend firewall is only active if your route has `_scope = contao_frontend`.

[2018-10-05 09:54] aschempp commented on #96
Never saw that, but I don't have many Contao 4.6 installations

[2018-10-05 09:58] Toflar commented on #96
I run 12 systems on 4.6.6 all monitored by sentry.io - no similar issues so far...

[2018-10-05 10:15] christian-kolb commented on #112
@aschempp Work's with the scope. Where could I have found this info? 🙂I think I searched through all articles and Contao news I could find about this topic.

[2018-10-05 10:15] #112 closed, assigned to nobody

[2018-10-05 10:41] Toflar commented on #112
@fritzmg is currently working on a new documentation, we might maybe start labeling issues with `documentation` so we can refer back to those once it's ready and people can contribute 🤔

[2018-10-05 11:07] Sioweb commented on #89
No it isnt. As i wrote, its not available in my namespace, and ModuleMaintenance do not find the interface.

Follow lines into the foreach of ModuleMaintanance will print an empty result. It finds my class but not your interface. I testet it with an own testinterface and it was found.

[code]

[2018-10-05 11:08] christian-kolb commented on #112
@fritzmg Is there already a draft version online somewhere? I'm happy with every single bit of information I can find on Contao and it's transformation to the Symfony components. @contao/developers Awesome work there by the way 🙂

[2018-10-05 11:22] Sioweb commented on #89
Here is my class https://gist.github.com/Sioweb/573f9fe0a15271b4674ccb88828d1139
See Line 32

[2018-10-05 11:38] fritzmg commented on #112
@Toflar good idea
@christian-kolb no, not yet

[2018-10-05 11:56] netzarbeiter commented on #79
In my case it is neither caused by zooming nor by a scaled screen resolution.

If I zoom in <kbd>⌘ +</kbd>, out <kbd>⌘ -</kbd> or back <kbd>⌘ 0</kbd> it stays the same.

[2018-10-05 13:48] fritzmg commented on #96
Forgot to mention this only happens in `dev` mode.

[2018-10-05 13:54] Toflar commented on #96
Ah, that makes perfectly sense then. The cache manager is enabled in dev mode but we have no HttpCache there, it should be disabled.

Can you add this to your `config_dev.yml`:

[code]

[2018-10-05 14:06] fritzmg commented on #96
Ok :). But this should be added to Contao (Managed Edition), right?

[2018-10-05 14:07] Toflar commented on #96
Jup, are you going to create a PR if it all works fine? 😄

[2018-10-05 14:09] fritzmg commented on #96
Not sure, I wouldn't quite know where to do that ;P

[2018-10-05 14:11] Toflar commented on #96
Okay, I'll do it 😄

[2018-10-05 14:13] Toflar commented on #96
https://github.com/contao/contao/pull/117

[2018-10-05 14:22] fritzmg commented on #96
Hm odd, the affected installation doesn't even have the default `config_dev.yml` from the skeleton - but I installed it as a fresh Contao 4.6.2 installation via `composer create-project`.

// looks like this has been around since Contao 4.5.0, but neither of my Contao installations that started with Contao 4.5 have a default `config_dev.yml`

//² oh nvm, this is loaded via the Contao Manager Plugi

[2018-10-06 13:41] ausi commented on #89
The `src/Resources/contao/helper/interface.php` gets loaded when the Contao framework is initialized, but the Service `sioweb.glossar.rebuild` gets loaded earlier.

Normally this would result in an error like `ClassNotFoundException: Attempted to load interface "executable" from the global namespace.`. But due to some magic inside `Symfony\Component\Config\Resource\ClassExistenceResource::isFresh(

[2018-10-06 21:46] ausi commented on #89
The incomplete autoloading seems to be a PHP bug: <https://bugs.php.net/bug.php?id=76980>

But nevertheless we should register the *interface.php* file in the Composer autoload configuration IMO.

[2018-10-08 06:56] Sioweb commented on #89
Danke dir für deine Recherche!

Ich löse das vorübergehend in meinem Modul mit Composer:

[code]

Dann funktioniert alles wie gedacht: `class Rebuild implements \executable`

[2018-10-08 09:28] kroerig opened #118 "Updatehinweis /Autoupdater"
Hallo,

in der 3er Version gab es für den Anwender immer einen kleinen Hinweis im Backend, wenn eine neue Version verfügbar war. Lässt sich das in Conato 4 auch wieder realisieren?

Der gemeine User guckt ja nicht ständig mit Composer oder Manager nach ob es Updates gibt. Da wäre ein Hinweis beim Login sehr hilfreich. Gleiches gilt auch für die installieren Erweiterungen. In Contao3 konnte man das

[2018-10-08 09:54] ausi commented on #89
@Sioweb Wouldn’t this result in an error like `Cannot declare interface …, because the name is already in use in …` because *interface.php* gets included twice now, first by Composer and second by `ContaoFramework::initialize()`?

[2018-10-08 10:52] Toflar commented on #118
Viele User wollten das immer deaktiviert haben. Den normalen Redakteur interessiert es nämlich nicht bzw. es ist sogar nur störend (weil man als Admin dann immer Anrufe kriegt) und der Admin selber weiss es. Ich sehe also keinen Mehrwert.

Mit Composer hat das nichts zu tun, es ist einfach ziemlich gefährlich wie ich finde (hat WP ja auch bereits bewiesen). Ich würde das niemals aktivieren.

[2018-10-08 11:03] Sioweb commented on #89
Ah strange, it worked until i cleared my cache. So its no solution. Sry

Well i think the only working solution will be to write my own maintanance handling/backendsite for this module, no? Because it should be compatible with contao 4.4.

Or do u see a way to handle this?

[2018-10-08 11:12] kroerig commented on #118
Dem einfachen Redakteur muss die Meldung ja nicht gezeigt werden, aber bei Admin-Benutzern finde ich die Funktion sehr hilftreich. Wie soll der Admin erfahren, dass es ein Update für ein spezielles Bundle gibt (muss ja nicht mal Contao-Core sein), wenn die Software es selbst nicht meldet.

Selbst im Contao-Manager kann ich nicht direkt sehen für welche Bundles ein Update anstünde (und dann wäre no

[2018-10-08 11:35] spotbot2k opened #119 "Default working path while running contao-console"
**Affected version(s)**
contao/manager-bundle 4.4.26
php 7.2.7 and 7.2.10

**Description**

- `contao-console` does not test, if the current working directory == contao project directory
- Current working path is default for execution and not the current project path

While I was trying to set the password for app_dev.php by running

`sudo -u www-data ../vendor/bin/contao-console contao:install-we

[2018-10-08 15:31] leofeyer commented on #77
Siehe #86.

[2018-10-08 15:31] #77 closed, assigned to bytehead

[2018-10-08 15:39] falkgeist opened #120 "Interne Weiterleitung bleibt nach Umstellung auf Reguläre Seite bestehen"
**Affected version(s)**
4.4.26 ( -> Update lieferte erstmal nichts neueres)

**Description**
Ich habe (wie im unten beschriebenen Problem) eine reguläre Seite erstellt, daraus eine interne Weiterleitung gemacht, dann wieder eine reguläre Seite.
Leider scheint es in dem unter dem Link beschriebenen Problem daran zu liegen, dass eine Zahl als Alias gewählt bzw. automatisch erstellt wurde. In meinem

[2018-10-08 15:56] leofeyer commented on #96
See #117.

[2018-10-08 15:56] #96 closed, assigned to nobody

[2018-10-09 07:12] tophcodes commented on #120
Das Problem wird vermutlich lokal sein, zumindest tritt es bei mir nicht auf.

Ich vermute, dass du als Weiterleitungstyp "301 Permanent Redirect" ausgewählt hast, sodass die Weiterleitung auf die Unterseite "/uebersicht.html" von deinem Browser gecached wird. Wenn du deinen Redirect Cache leerst oder es an einem anderen Computer versuchst sollte es gehen.

[2018-10-09 10:10] andreheeke commented on #108
I can reproduce the issue. Tested in console and Contao Manager.

`PHP Fatal error:  Allowed memory size of 536870912 bytes exhausted (tried to allocate 3044264 bytes) in /var/www/clients/client32/web164/web/vendor/twig/twig/lib/Twig/Loader/Filesystem.php on line 145`

[2018-10-09 10:40] fritzmg commented on #108
Your PHP CLI environment has only 512 MiB of memory available, which is not enough.

[2018-10-09 10:51] fritzmg commented on #120
@Falkgeist die Seite funktioniert einwandfrei. 301 Redirects werden vom Browser gecached ("_Permanent_ Redirect").

[2018-10-09 10:55] andreheeke commented on #108
@fritzmg Sure, but which provider offers more than 512MiB of memory at the PHP CLI? Before Contao 4.4.26 it works fine.

[2018-10-09 10:59] fritzmg commented on #108
You should discuss these problems on the Contao Community forum.

[2018-10-09 11:34] #120 closed, assigned to nobody

[2018-10-09 11:35] hangarsieben commented on #108
Change of allocated memory does not change the outcome. Error is thrown even with over 1GB. Bug is somehow introduced with current update...

[2018-10-09 14:34] falkgeist commented on #120
Pff, tja, ihr habt Recht, da habe ich an der falschen Stelle gesucht. Werde um permanente Redirects jetzt während der Entwicklung einen Bogen machen. (...und ich dachte, ich hätte den entsprechenden Eintrag im Browsercache gelöscht, war aber wohl nicht so.)

Danke!

[2018-10-09 15:33] Toflar commented on #81
Ergänzend dazu vielleicht noch die ganz einfache Variante, die aber nicht besonders schön ist, weil sie keine eigenen Cache-Zeiten erlaubt: Einen InsertTag machen und das Flag `uncached` nutzen, also z.B. so: `{{person::15|uncached}}`. Diese werden via ESI durch den InsertTag Controller gerendert.

[2018-10-09 19:28] netzarbeiter commented on #118
Du könntest dir folgenden RSS-Feed abonnieren:
https://packagist.org/feeds/package.contao/core-bundle.rss

[2018-10-10 06:05] timgatzky commented on #81
Das probiere ich aus. Danke Dir. Ab welcher Contao Version gilt dies?

[2018-10-10 06:55] dmolineus commented on #118
Wenn es dir darum geht wegen allen möglichen Paketen einen Hinweis zu erhalten, ob ein Update notwendig ist, könntest du `composer update --dry-run --no-dev` auf der Konsole ausführen. Sobald dort mehr steht als "Nothing to install or update" gibt es neue Versionen. Dies könnte man tatsächlich in den Manager integrieren, dass er beim Booten im Hintergrund prüft ob Updates vorliegen.

Es gibt auch

[2018-10-10 08:15] kroerig commented on #118
@netzarbeiter Nur das Mozilla und Google die Unterstützung für RSS-Feeds gestrichen haben: https://www.heise.de/newsticker/meldung/Mozilla-entfernt-RSS-Reader-aus-Firefox-4121155.html
Und ich kann ja nicht für jedes installierte Paket nach einem RSS-Feed suchen, bzw. weiß ich ja teilweise gar nicht, welche Pakete durch Abhängigkeiten mitinstalliert wurden.

@dmolineus Das setzt voraus, dass ich bz

[2018-10-10 09:48] leofeyer commented on #108
Since the issue occurs in the Twig lexer and filesystem loader, I assume it has something to do with Twig? @andreheeke How exactly did you reproduce the issue?

[2018-10-10 11:22] xchs commented on #118
Den Probelauf (dry-run) kannst Du inzwischen auch direkt im Contao Manager ausführen. Dafür brauchst Du bzw. die Kunden keinen Shell-Zugang (mehr).

[2018-10-10 11:37] kroerig commented on #118
Ja, den habe ich bisher so verstanden, dass ich damit teste, ob ein Update funktionieren würde, nicht um zu schauen, ob und welche Updates es gibt.

Und damit ich den Button überhaupt nutzen, muss ich vorher in den Manager und auf "Pakete aktualisieren" klicken.

Bei mir berechnet er dann teilweise bis zu 75 Sekunden Abhängigkeiten, aber dann sehe ich immernoch nicht, welche Paket neu sind, außer

[2018-10-10 11:39] Toflar commented on #118
Das liesse sich sicher machen. Im Manager kann das ja auch hin, aber nicht im Contao Backend, das halte ich für falsch. Wir Admins sollten andere Informationsquellen haben als das Backend und dem regulären User sollte es egal sein, weil dafür hat er ja seinen Admin 😄

[2018-10-10 11:45] kroerig commented on #118
Warum können Contao selbst und der Manager nicht miteinander kommunizieren?

Wenn ich mich als Admin an Contao anmelde, darf das System mir ruhig anzeigen, dass ich mal in den Manager wechseln sollte um anstehende Updates einzuspielen. (aber auch nur wenn, es auch welche gibt)

[2018-10-10 11:50] Toflar commented on #118
Es sind zwei unabhängige Applikationen. Die eine soll lauffähig bleiben ohne die andere, damit man die Installation wieder hinbiegen kann, wenn man sie verkonfiguriert hat. Die Kommunikation kann nicht stattfinden, weil du dich dafür im Manager einloggen müsstest.

[2018-10-11 05:43] zonky2 opened #124 "Suche bei Artikel um ID für Inhaltselement erweitern"
**Description**
Suche bei Artikel um ID für Inhaltselement erweitern

[2018-10-11 06:18] spotbot2k commented on #119
Ich habe da selbst [versucht einen weg zu finden](https://github.com/spotbot2k/contao/commit/7b801c9215747af303b8b62d5fca52f9d1ea292b#diff-36267bc77d2718a6fe1d3874ed888294), bin aber nicht glücklich damit - einerseits ist der kernel so weit ich weis im `configure` noch nicht erreichbar, andererseits ist die Logik für die Variablen in `interact`, und da könnte man es setzen, ist ja aber keine Inter

[2018-10-11 06:30] ausi commented on #119
Ich denke man kann sich `%kernel.project_dir%` über die services config injecten lassen:

[code]

[2018-10-11 07:27] Toflar commented on #119
Jup, wir sollten das `project_dir` nutzen.

[2018-10-11 07:50] spotbot2k commented on #119
Ist definitiv besser als über getContainer(), aber `setProjectDir` wird trotzdem erst nach `configure` aufgerufen, oder liege ich da falsch?

[2018-10-11 07:51] Toflar commented on #119
Wenn es ein Service ist, können wir auch einfach Constructor-Injection nutzen, das ist kein Problem.

[2018-10-11 07:52] ausi commented on #119
Vermutlich sollten wir beide parameter nutzen: `kernel.project_dir` für die .env Datei und `contao.web_dir` für das web zeug...

[2018-10-11 08:12] leofeyer commented on #119
Ich hätte jetzt einfach einen Check eingebaut, ob das Skript aus dem Root-Verzeichnis heraus ausgeführt wird. Das ist auch im Hinblick auf die Install- und Symlinks-Commands best practice.

[2018-10-11 08:34] spotbot2k commented on #119
Aber bitte kein Exception, weil es gibt schon Szenarien wo man es von außerhalb aufrufen muss

[2018-10-11 08:49] leofeyer opened #125 "IntlBreakIterator::getRules() does not exist"
**Affected version(s)**

4.6+

**Description**

@ausi I wonder how this code has ever worked:

https://github.com/contao/contao/blob/4c4c9622ff61a707c253f60e98a5a72aad374439/core-bundle/src/Resources/contao/library/Contao/Search.php#L280-L291

The `getRules()` method only exists in the `IntlRuleBasedBreakIterator` class but not in the `IntlBreakIterator` class. I think we need to fix this, don't w

[2018-10-11 09:36] ausi commented on #125
What do you mean by `IntlBreakIterator::getRules()` doesn’t exist? It is not used in the linked code.

I can’t see why it should not work, working example: <https://3v4l.org/BiUYW>

[2018-10-11 10:28] jankout opened #126 "Show any domains in the preview (multidomain case)"
When I'm logged over a domain, but I have multiple domains in the backend and I want to see content of another domain in the preview, nothing will show. It would be great when the preview automatically works for each domains. Otherwise it's important to be logged over the domain I want to see in the preview. But then I cannot benefit from the multidomain function a lot.

[2018-10-11 11:27] leofeyer commented on #125
WTF? The method should not exist in this class. 😄

* http://php.net/manual/de/class.intlbreakiterator.php
* http://php.net/manual/de/class.intlrulebasedbreakiterator.php

Maybe 3v4l.org uses an old Intl version?

[2018-10-11 13:43] MatthiasBusch opened #127 "Better error messages for editing meta information"
Tested with contao 4.6.*

**Description**
At the moment, when you try to edit the metainformation of a file in the file manager, while your root page has an invalid language definition, you are unable to edit the metainformation, but the only error you get is the following (german setup) ''Sie müssen einen Startpunkt in der Seitenstruktur anlegen, um Metadaten einzugeben.''

This is really irritat

[2018-10-11 19:07] leofeyer opened #128 "fos_http_cache.tags.enabled"
**Description**

If we could remove `fos_http_cache.tags.enabled` or set it to `false`, we would no longer need to install `sensio/framework-extra-bundle`. See the [TagListenerPass](https://github.com/FriendsOfSymfony/FOSHttpCacheBundle/blob/master/src/DependencyInjection/Compiler/TagListenerPass.php) class.

[2018-10-12 10:50] Physiklehrer opened #129 "4.4.x nach Logout funktioniert "zurück"-Button des Browsers leider noch"
Contao 4.4.x-4.6.x

Auch nach der Abmeldung lassen sich die geschützten Seiten noch über den "zurück"-Button des Browsers erreichen, siehe https://community.contao.org/de/showthread.php?72132-nach-Logout-funktioniert-quot-zur%C3%BCck-quot-Button-des-Browsers-leider-noch

Reproduzieren: geschützten Bereich anlegen, mit Firefox verschiedene Seiten im geschützten Bereich besuchen, ausloggen, "zurück"

[2018-10-12 13:11] Seefahrer commented on #58
Can confirm that e.g. {{post::name}} is also not working on the redirect-target-page.

[2018-10-13 20:46] xchs opened #130 "Exception error when activating the user profile"
**Affected version(s)**

4.6+ (et al.)

**Description**

The following exception error is generated (and tracked and reported by Sentry) when the back end module "_User profile_" is activated in the user's settings:

https://sentry.io/share/issue/17bb6d37f2584af5bafe9b4f9c4ec3b2/

[code]

![user_settings](https://user-images.githubusercontent.com/1218766/46909636-fb3b8b80-cf35-11e8-8c52-4050704b62

[2018-10-15 09:59] fritzmg opened #131 "Edge: cannot link to news article with TinyMCE"
**Affected version(s)**
4.6.6

**Description**
Trying to link some text in the TinyMCE to a news article with the new picker will not work.

**How to reproduce**

1. Use Microsoft Edge (tested with version 42.17134.1.0).
2. Log into the Contao Demo.
3. Edit any news article or regular article with a text content element.
4. Edit any text content element.
5. Select any text.
6. Click _Insert/edit l

[2018-10-15 11:30] Toflar commented on #128
Needs adjustments in the bundle: https://github.com/FriendsOfSymfony/FOSHttpCacheBundle/issues/489

[2018-10-15 12:02] ausi commented on #131
I can reproduce this issue in Edge.

[2018-10-15 12:11] asaage commented on #131
Same applies to Files, Events, FAQ and Articles.
Only Pages do work.

[2018-10-16 11:19] Toflar opened #132 "Must set no-store on insert tags controller"
Here: https://github.com/contao/contao/blob/master/core-bundle/src/Controller/InsertTagsController.php#L52

`else` should be `no-store`.

[2018-10-16 13:52] grafzahl commented on #108
Same here, when i try to get into

with correct Auth Informations it just drops

`[2018-10-15 16:12:34] request.INFO: Matched route "contao_install". {"route":"contao_install","route_parameters":{"_scope":"backend","_token_check":true,"_controller":"Contao\\InstallationBundle\\Controller\\InstallationController::installAction","_route":"contao_install"},"request_uri":"http://xxxxx.de/contao/instal

[2018-10-16 15:31] leofeyer commented on #132
This is a bugfix for Contao 4.4, right?

[2018-10-16 15:33] Toflar commented on #132
Yes! Sorry, I've just quickly created an issue so I don't forget about it rather than creating a proper PR :)

[2018-10-16 15:34] leofeyer commented on #132
Never mind. 😄

[2018-10-17 12:32] andreheeke commented on #108
@leofeyer I only tried to update the dependencies in the Contao Manager and via the SSH console. While warming up the cache I got the above mentioned error and the instance was aborted.

[2018-10-18 06:57] spotbot2k commented on #119
Würde es ggf. sinnvoll sein den Benutzer zu warnen/fragen? Wie man es vom composer kennt -

`No composer.json in current directory, do you want to use the one at %s`

So behält man die Flexibilität, und vermeidet Fehler gleichzeitig. [probe](https://github.com/spotbot2k/contao/blob/master/manager-bundle/src/Command/InstallWebDirCommand.php)

[2018-10-18 08:54] leofeyer commented on #130
The user profile should not appear in the list of allowable modules.

[2018-10-18 09:23] fritzmg opened #134 "error message or notice when cookies are disabled"
If the user has disabled cookies in their browser, the user will be unable to submit any POST forms on the Contao website. He will always only see the "Invalid request token" error page (which will be meaningless to the user).

Wouldn't it make sense to integrate some sort of error message within Contao telling the user that he cannot send forms on the website, if they disabled cookies in their br

[2018-10-18 14:18] leofeyer opened #135 "Invalidate cache if a comment is added"
As briefly discussed in Mumble on October 18th, we should check if we can invalidate the cache if a comment is added.

[2018-10-18 14:46] leofeyer commented on #5648
Wie am 18. Oktober auf Mumble besprochen, wollen wir ein Event triggern, um die Daten zu sammeln, und diese anschließend mit dem [Symfony Serializer](https://symfony.com/doc/current/components/serializer.html) zusammen mit den Dateien – insbesondere diese aus dem Heimatverzeichnis eines Benutzers – in einer .zip-Datei packen.

[2018-10-19 06:42] mapfei commented on #108
I can reproduce the issue. Tested in console and Contao Manager. Cleared the cache by deleting var/cache but installtool doesn't work either.

[2018-10-19 07:37] fritzmg commented on #108
Does Symfony provide any sort of memory usage profiling for console commands (like Composer does)?

[2018-10-19 15:06] frontendschlampe commented on #58
We have the same problem!

[2018-10-19 15:11] leofeyer commented on #135
See #137.

[2018-10-19 15:11] #135 closed, assigned to Toflar

[2018-10-19 15:47] leofeyer commented on #129
@contao/developers /cc

[2018-10-19 16:13] Toflar commented on #129
Symfony setzt standardmässig auf `no-cache` und ignoriert `no-store`. Die entsprechenden Issues und Pull Requests sind seit längerem bei Symfony offen, da können wir nichts unternehmen. Hatte vor ein paar Tagen nochmal ein Issue aufgemacht: https://github.com/symfony/symfony/issues/28872

[2018-10-21 18:56] derastronaut opened #139 "Übernahme der Erweiterung »Tags« in den Core"
Ich möchte gerne die Erweiterung **Tags** ([Packagist](https://packagist.org/packages/hschottm/tags) | [GitHub](https://github.com/hschottm/tags)) für eine Übernahme in den Core vorschlagen.

Die Möglichkeit seine News mit Tags auszuzeichnen, um sich so z.B. alle News zu einem Tag anzeigen zu lassen, ist eine super Funktion, die Contao bei der Übernahme in den Core sicherlich sehr bereichern würde

[2018-10-21 18:58] megmed commented on #108
I get the Install Tool running as follows (workaround):

1.) move the complete templates folder (outside the Contao folder)
2.) delete everything under var/cache/
3.) call warmup (shell)... **Note!** Replace php7-71STABLE-CLI with your version
[code]
4.) move templates folder back again

After that I can open the Install Tool

[2018-10-22 06:56] fritzmg commented on #108
@megmed so even if you run the `cache:warmup` directly on the shell, it only works if you remove the `templates/` folder beforehand? Otherwise you get a memory overflow?

[2018-10-22 11:26] fritzmg commented on #108
I have received the `templates/` folder of an affected user. In that case the "Eclipse" theme from Premium Contao Themes is used. The templates folder contains 694 files in total.

I can confirm that the PHP peak memory usage during `cache:warmup` jumps from 29.95 MiB in an empty Contao 4.4.26 installation to around __597.06 MiB__ when those files are present in the `templates/` directory, which s

[2018-10-22 11:35] megmed commented on #108
@fritzmg yes even if I run it directly on the shell it only works if I remove the templates folder.

I’m also using the Eclipse theme by PCT.

[2018-10-22 11:56] grafzahl commented on #108
Can Confirm, my instance also uses eclipse, which has quite a big templates folder. I renamed the templates folder to templates2, deleted the cache, and everything worked like it should, after i finished my work, i renamed the folder again - Seems to work for now.

I am curious why the templates folder seems to have an effect on cache:warmup?

[2018-10-22 12:04] dmolineus commented on #108
I can confirm this issue. Twig scans the `templates` folder since Symfony 3.4 ([See docs](https://symfony.com/doc/3.4/reference/configuration/twig.html#default-path)). Is it on purpose that this option is not changed?

I can workaround the issue with following config.yml:
[code]

Not sure if it's a general issue or an issue of PCT themes. According to the forum and also in my project, a theme from

[2018-10-22 12:08] Toflar commented on #108
Ah I see, Symfony puts twig templates into `templates` as well. That's the issue we're having here. I guess it only expects to find twig templates there, nothing else.

[2018-10-22 12:21] fritzmg commented on #108
My guess is it's a general issue and the problem is simply exacerbated by the sheer amount of files that the PCT theme puts into the `templates` folder.

[2018-10-22 12:36] fritzmg commented on #108
Btw. this does not happen with `symfony/symfony` `3.4.15`. It happens with `3.4.16` or `3.4.17`.

[2018-10-22 13:13] aschempp commented on #108
Looks like this was a bugfix in Symfony, prior to 3.4.16 the cache warmer did not check the templates folder: https://github.com/symfony/symfony/pull/27764

[2018-10-22 13:51] fritzmg commented on #108
Indeed. So is adding
[code]
to the manager-bundle (and the documentation of the core-bundle) the correct solution then?

[2018-10-22 14:02] dmolineus commented on #108
https://github.com/symfony/twig-bundle/blob/a2d8c6e9f5735d6d3824e85ddeb6b3b0892f8bb3/TemplateIterator.php#L66

It could be set to any folder which does not exist. The question is: Shouldn't twig only scan files which has `*.twig` as file extension or doesn't twig care about the file extension anyway?

[2018-10-22 14:14] leofeyer commented on #58
The problem is that we no longer access `$_SESSION['FORM_DATA']` if there is no session. I have no idea how to fix this though. @contao/developers /cc

[2018-10-22 14:25] leofeyer commented on #127
What exactly do you mean by "invalid language definition"?

[2018-10-22 14:26] leofeyer commented on #131
I don't have Edge, therefore I cannot debug this. Please help.

[2018-10-22 14:26] leofeyer commented on #134
I like the idea. @contao/developers Any objections?

[2018-10-22 14:27] Toflar commented on #134
I think both should be done :)

[2018-10-22 14:37] leofeyer commented on #79
Firefox seems to render the text field 30.3 pixel high:

<img width="670" alt="" src="https://user-images.githubusercontent.com/1192057/47298656-a1635180-d618-11e8-821e-1d556b9dc78f.png">

@netzarbeiter Can you please try if adding the following fixes the issue?

[code]

[2018-10-22 14:41] netzarbeiter commented on #79
Adding the height fixes the issue.

[2018-10-22 14:42] fritzmg commented on #134
In one project I did something like this:
[code]
[code]
May be we could integrate the same in Contao - though with a more simple `cookie_check` template (may be just a JavaScript `alert`), that users then adjust to their needs.

[2018-10-22 14:47] MatthiasBusch commented on #127
In my case I used 'en-en' as language

[2018-10-22 15:38] leofeyer commented on #79
@ausi has debugged the issue a bit further. Apparently Firefox does not use the web font for the `input` field (although any input is rendered in Lato):

<img width="363" alt="" src="https://user-images.githubusercontent.com/1192057/47302109-f30fda00-d620-11e8-97b3-32bbeef190b3.png">

We should probably fix this by defining `line-height: 17px` instead of `height: 30px`.

[2018-10-22 15:49] leofeyer commented on #79
And while we are on it, we should also check the select menus, which are 81.3px high in Firefox. 😢

<img width="631" alt="" src="https://user-images.githubusercontent.com/1192057/47302828-bfce4a80-d622-11e8-898b-e7f03cf28360.png">

All of this renders perfectly fine in Chrome and Safari, so thank you for nothing Firefox.

[2018-10-22 16:56] Toflar commented on #108
Contao checks the templates folder during cache:clear (or more specifically during cache:warmup which is automatically called when you call cache:clear).
It recursively searches the whole template folder to locate all the template names and their paths and puts it into its cache.
For some reason, there seems to be a memory leak there. I could profile this but I need the templates folder for that.

[2018-10-22 16:58] Toflar commented on #108
Yeah it definitely is a general issue. Symfony tries to parse all the templates during cache:warmup so they are compiled and ready.
I guess it doesn't check file extensions so it loads the files into memory, trying to parse the template. Which means it e.g. loads template images to try and parse it.
This is not going to be an easy one to fix...

[2018-10-22 20:25] fritzmg commented on #108
Btw. wouldn't
[code]
be more correct, technically? `app/Resources/views` is hard coded in the `twig-bundle` anyway and presumably this way you disable the default path.

[2018-10-23 09:28] ausi commented on #58
How can there something be stored in `$_SESSION['FORM_DATA']` if there is no session?

Maybe we are using the wrong check currently?
IMO we should check if there is a session for the current request (i.e. a session cookie is present and matches a session stored on the server).

[2018-10-23 10:19] andreheeke commented on #139
@derastronaut Als Alternative kommt vielleicht übergangsweise https://github.com/codefog/contao-news_categories in Frage? Das sind zwar keine klassischen Tags - die ich im übrigen im News-Bundle sehr begrüßen würde - sondern eine Nachrichtenkategorie, aber es läuft auch unter Contao 4.6.

[2018-10-23 10:27] leofeyer commented on #89
Changed in 1ca15389d0fda866dec2f86fcbc967070048efce.

[2018-10-23 10:27] #89 closed, assigned to leofeyer

[2018-10-23 10:37] leofeyer commented on #125
Changed in d8781cbd7ac44a61fff0c24c95d2ff77aa380109.

[2018-10-23 10:37] #125 closed, assigned to leofeyer

[2018-10-23 10:42] derastronaut commented on #139
Danke für den Vorschlag @andreheeke, hatte die Extension auch schon auf dem Schirm, ist aber bei bereits existierenden Projekten leider kein Ersatz für Tags.

[2018-10-23 16:24] fritzmg commented on #108
That does not work unfortunately:

[code]

[2018-10-23 17:29] aschempp commented on #134
How can one disable cookies? And aren't they then used to tons of websites breaking?

[2018-10-23 17:33] aschempp commented on #58
We're not checking if there is a session, but whether the user has a previous session. Which basically means if a session cookie is present.
https://github.com/contao/contao/blob/master/core-bundle/src/Resources/contao/library/Contao/Input.php#L781

[2018-10-24 06:55] Toflar commented on #128
Should be possible now by requiring version `^2.6` and using `tags.annotations.enabled: false`. Thanks a lot @dbu!

[2018-10-24 08:47] dmolineus commented on #108
Symfony will deprecate the `app/Resources/views` template path and rely on `twig.default_path` in the future. We should keep that in mind than finding a solution.

https://symfony.com/blog/new-in-symfony-4-2-important-deprecations#deprecated-a-template-directory

[2018-10-24 12:33] dmolineus opened #142 "contao.web_dir not used in contao:install-web-dir"
**Affected version(s)**
 - 4.4
 - 4.5
 - 4.6
 - master

**Description**

Since 8f4c7f3ecab905d4f04dee7fbaddb27683eedb73 Contao used an `contao.web_dir` to indicate where to place the web folder. However the `contao:install-web-dir` command does ignore it.

https://github.com/contao/contao/blob/efbc2e760f9d685fc69ed7812c2ea35555389114/manager-bundle/src/Command/InstallWebDirCommand.php#L123

I expe

[2018-10-26 22:05] srhinow opened #145 "Installation schlägt fehl"
**Affected version(s)**
Contao 4.6
PHP7.1
**Description**
genau nach Vorgabe der Downloadseite folgenden Befehl local auf nen Linux-Rechner eingegeben:
`composer create-project contao/managed-edition contao4.6 '4.6.*'`

dann kommen folgende Meldung mit Fehler Abbruch:

[code]

das selbe wenn ich dann in den neu erzeugten Ordner contao4.6 gehe und `compoer update` ausführe

[2018-10-26 22:26] srhinow commented on #145
hat sich erledigt, da meine lokale composer-Version zu alt zu sein scheint.

[2018-10-26 22:26] #145 closed, assigned to nobody

[2018-10-29 11:13] bezin opened #146 "Failed to symlink tcpdf config"
**Affected version(s)**
dev-master

**Description**
The ScriptHandler::initializeAppliaction fails to symlink tcpdf.php. It looks for it in vendor\contao\core-bundle, which is obviously not there.

```ERROR   system/config/tcpdf.php   Failed to create symbolic link from "C:\dev\web\contao-core\vendor\contao\core-bundle\src\Resources\contao\config\tcpdf.php" to "C:\dev\web\contao-core\system\config

[2018-10-29 11:38] fritzmg commented on #146
The path `vendor\contao\core-bundle\src\Resources\contao\config\tcpdf.php` is correct: https://github.com/contao/contao/blob/4.6.6/core-bundle/src/Resources/contao/config/tcpdf.php

[2018-10-29 11:49] bezin commented on #146
Sure, but not, if the monolithic repository is used?

[2018-10-29 11:53] bezin commented on #146
As is [stated in the readme](https://github.com/contao/contao#development).
[code]

[2018-10-29 14:09] kroerig commented on #118
Dann möge jemand dieses Ticket doch bitte zum Contao-Manager verschieben.

[2018-10-29 14:41] leofeyer commented on #132
Fixed in 5b8a39667f3cc6b0b554f97aa0cb5854e3dcc9c9. Thank you @Toflar.

[2018-10-29 14:41] #132 closed, assigned to leofeyer

[2018-10-29 14:50] leofeyer commented on #48
Fixed in f8331ede751bbc49d8081614fd3b6e065d30fde1.

[2018-10-29 14:50] #48 closed, assigned to leofeyer

[2018-10-29 15:10] leofeyer commented on #92
Behoben in 4c6c56bee56e083ba2fe2940bab420cab94609a6.

[2018-10-29 15:10] #92 closed, assigned to leofeyer

[2018-10-29 17:21] leofeyer commented on #83
Behoben in 93315e7976e983619840addb0ee615337c166e02.

[2018-10-29 17:21] #83 closed, assigned to leofeyer

[2018-10-30 10:28] leofeyer commented on #79
Fixed in dcf8250acb9ccc30f0519f5544f43e743d29f73a.

[2018-10-30 10:28] #79 closed, assigned to leofeyer

[2018-10-30 10:54] leofeyer commented on #142
Fixed in 3e8e76bf13599111c09c727bf5a254c812ba7625.

[2018-10-30 10:54] #142 closed, assigned to leofeyer

[2018-10-30 11:16] leofeyer commented on #119
Behoben in 85966ffaf2a231a4590e1648ef12910ab2a3f7a6. Die weiteren Optimierungen hinsichtlich Constructor Injection kommen im nächsten Commit.

[2018-10-30 11:16] #119 closed, assigned to leofeyer

[2018-10-30 12:14] leofeyer commented on #94
Fixed in 90b992f0959ab7873b904c2ef5b3e9fbd888e66f.

[2018-10-30 12:14] #94 closed, assigned to leofeyer

[2018-10-31 10:59] leofeyer commented on #91
Changed in 1b3541166565f85797a46d51818da1000345461f.

[2018-10-31 10:59] #91 closed, assigned to leofeyer

[2018-10-31 11:04] leofeyer commented on #130
Fixed in 5de057c42c1df475ebb51ef06fb98f0f4eebfea8.

[2018-10-31 11:04] #130 closed, assigned to leofeyer

[2018-10-31 12:12] eS-IT opened #150 "4.4.27 Fehlende Parameter beim Erzeugen der Symlinks"
**Affected version(s)**
Contao 4.4.27

**Description**
Im [Automator.php#L398](https://github.com/contao/contao/blob/4.4.27/core-bundle/src/Resources/contao/library/Contao/Automator.php#L398) wird eine Instanz des `SymlinksCommand` erstellt. Der Konstruktor benötigt laut [SymlinksCommand.php#L80](https://github.com/contao/contao/blob/4.4.27/core-bundle/src/Command/SymlinksCommand.php#L80) Paramete

[2018-10-31 13:24] leofeyer commented on #150
Fixed in 898d0f1ffb184a793079c7121e215449af8617ba.

[2018-10-31 13:24] #150 closed, assigned to leofeyer

[2018-10-31 16:56] leofeyer commented on #108
So we create a PR to adjust Symfony so it scans for `*.twig` files only?

[2018-10-31 16:57] ghost commented on #118
Das Ticket wurde nach contao/contao-manager#350 verschoben.

[2018-10-31 16:57] #118 closed, assigned to nobody

[2018-10-31 16:58] leofeyer commented on #124
Warum? Kein normaler Benutzer kennt doch die ID von irgendeinem Inhaltselement. Was genau möchtest Du erreichen?

[2018-10-31 17:04] leofeyer commented on #146
I'm closing this in favor of #149.

[2018-10-31 17:04] #146 closed, assigned to nobody

[2018-10-31 17:35] zonky2 commented on #124
wenn ich nach dem Inhaltslement suche, dessen ID ich aus "bezogenes Inhaltselement" habe oder von einem Inserttag... aktueller Weg ist dann Suche in der DB tl_content -> pid raus finden -> Artikel über Alias oder ID finden

[2018-10-31 22:11] xchs opened #153 "An error is thrown when generating the symlinks"
**Affected version(s)**

4.6.7

**Description**

I get the following error when I run the "_Recreate the symlinks_" maintenance job in the back end:

[code]

**How to reproduce**

* Open the "_Maintenance_" back end module
* Run the "_Recreate the symlinks_" maintenance job

[2018-10-31 22:31] xchs commented on #150
https://github.com/contao/contao/commit/898d0f1ffb184a793079c7121e215449af8617ba is causing an issue in Contao 4.6 (see https://github.com/contao/contao/issues/153)

[2018-11-01 07:46] fkaminski opened #154 "Keine Weiterleitung mit instert tag {{insert_form::ID|uncached}}"
**Affected version(s)**
4.4.28

**Description**
Ich habe ein Kontaktformular ( mit Weiterleitung auf eine Bestätigungsseite ) auf jeder Seite.

Wenn ich das Formular via {{insert_form::ID}} einbinde funktioniert die im Formular eingetragene Weiterleitungsseite.

Wenn ich {{insert_form::ID|uncached}} verwende kommen die Mails zwar an (ohne angepaßte parameters.yml), die Weiterleitungsseite wird abe

[2018-11-01 15:27] Defcon0 opened #155 "Pass module data (or at least module id) to nav item template rendering"
Hello,

what I want to achieve is the following:

I have some config parameters in a navigation module's model (`ModuleNavigation`). The nature of these config parameters is that I need them in the context of the navigation *item's* template, i.e. `nav_default.html5`.

Unfortunately there seems to be absolutely no way to accomplish that with the current implementation.

My proposal would be the fo

[2018-11-01 22:20] cliffparnitzky commented on #153
Same error when creating new directories via file management.

[2018-11-02 23:50] wisniewskim opened #156 "Recorvery record"
**Affected version(s)**
2.11.11

**Description**
Hi,
In the Back End Module -> Content -> Catalog I creata a catalog with 18 items.
In the "Edit multiple" option all 18 was checked and at all parent ID was change from 1-18.
In result almost all items disappear.

System log show details as:
"A new version of record "artykuly.id=13" has been created (parent records: tl_catalog_types.id=18)"

**How t

[2018-11-03 08:23] ausi commented on #156
Please refer to the [forums](https://community.contao.org) for this kind of question.

[2018-11-03 09:34] #156 closed, assigned to nobody

[2018-11-03 13:29] leofeyer commented on #153
Fixed in a33b74cd4b42d7a0ccd9fbae34293a69faa03e9e.

[2018-11-03 13:29] #153 closed, assigned to leofeyer

[2018-11-03 18:05] V15 opened #159 "Additional Line Breaks in tables"
**Affected version(s)**
4.x

**Description**
Additional Line Breaks in tables if using `<p>` or `<li>` elements.

**How to reproduce**
Add a new content element "table".
Insert `<p>` or `<li>` elements:

`<p>Text</p>`
`<p>Text</p>`
`<p>Text</p>`

`<ul>`
`<li>Text</li>`
`<li>Text</li>`
`<li>Text</li>`
`</ul>`

Looks good in the backend but HTML in Frontend adds `<br>` Tags after each line.

See als

[2018-11-03 21:38] k-webdesign opened #163 "„Überschreiben“ bei Dateiverwaltung ermöglichen"
Könnt ihr bei der Dateiverwaltung ein „überschreiben“ einbauen, wenn man „mehrere bearbeiten“ wählt? Besonders wenn man die Ordner alle auf Public stellen möchte ist es einfacher, sie überschreiben zu können.

💝💝💝

[2018-11-03 22:24] leofeyer commented on #65
Changed in f6e6df28ca4fbe1d17a990344a79c05158b23ce5 and https://github.com/contao/tcpdf-bundle.

[2018-11-03 22:41] leofeyer commented on #65
I'm reopening this as removing the `tcpdf.php` file is a BC break. Also, other extensions might need to include the file if they want to use TCPDF, so this needs to be solved differently.

[2018-11-04 09:01] #85 closed, assigned to leofeyer

[2018-11-05 08:45] Defcon0 commented on #139
Ich werfe auch mal unsere Erweiterung in den Ring. Mit dieser kann man an beliebigen Entitäten Kategorien hinterlegen, die auch redaktionell pflegbar sind. Es gibt auch eine zweite Erweiterung, die diese auch multilingual macht.

https://github.com/heimrichhannot/contao-categories-bundle

Sind zwar auch keine Tags, aber vielleicht ein Anfang.

[2018-11-05 09:33] derastronaut commented on #139
Danke für deine Anregung @Defcon0, aber Tags ist in meinen Fällen leider nicht zu ersetzen.

Bei meinem größten Projekt wurden bereits 11646 Tags angelegt und dementsprechend sind es viele Seiten, die Tags generiert. Ich müsste wohl für jeden Tag manuell eine Kategorie erstellen, oder? Diese Kategorien müsste ich dann auch in den 900 geschriebenen News verlinken und das alles manuell, während Tags

[2018-11-05 09:33] Defcon0 commented on #139
OK, in deinem Fall wäre das wohl eher nicht zielführend. Kategorien nimmt man ja immer dann, wenn die Menge an Auszeichnungen eher gering und konstant ist. Wenn es Tags sind, eher groß und volatil. Alles klar ;-)

[2018-11-05 11:46] andreheeke commented on #139
@derastronaut Ggf. würde ich an deiner Stelle in Betracht ziehen das Tags-Repo lokal zu klonen, die Fehler ausfindig zu machen, zu beheben und dann als Repo in deinem Projektordner unter src/... einzubinden.

Wie man das Ganze dann im composer.json listet ist hier gut erklärt: https://getcomposer.org/doc/05-repositories.md#path

[2018-11-05 18:36] k-webdesign opened #170 "Internal CSS not loading after update from 3.5 to 4.4"
**Affected version(s)**
Tested with 4.4.x

**Description**
When I update an 3.5 installation to 4.4 that contains internal CSS files (e.g. when using a theme), the CSS won't be loaded in the frontend. I need to go into every single internal CSS file and edit any element (just click "edit" and save without changes).

**How to reproduce**
Update an Contao 3.5 with internal CSS and check the frontend

[2018-11-05 19:56] leofeyer commented on #93
See #162.

[2018-11-05 19:56] #93 closed, assigned to nobody

[2018-11-06 10:02] erikherbert opened #171 "Symlink-Service fehlerhaft"
**Affected version(s)**
Contao 4.6.7 - Managed Edition

**Description**
Fehler beim Aufbau der Symlinks im Backend unter Systemwartung. Fehlermeldung:

**How to reproduce**
https://community.contao.org/de/showthread.php?72491-contao-command-symlinks-fehlt-oder-kaputt&p=486324

[2018-11-06 10:08] #171 closed, assigned to nobody

[2018-11-06 10:48] xchs commented on #171
Already fixed. See https://github.com/contao/contao/issues/153

[2018-11-06 20:19] benfolds opened #172 "Backend - Messages will not be shown when there is a redirect after submit"
**Affected version(s)**
4.6.x
**Description**
I extend the tl_page.php in my bundle and add a new class. Inside this class i create a message

` Message::addError(
     sprintf($GLOBALS['TL_LANG']['MOD']['readerMessageInfo'],$reader['title'],$reader['table'],$reader['id'])
);`

This message will only be shown when i use the "Save" button. When using "Save and close", i will be redirected to the pa

[2018-11-06 22:48] ausi commented on #65
How about moving the *tcpdf.php* file to the bundle and including it in contao/core-bundle? something like:

[code]

@leofeyer will/should the tcpdf bundle go into the monorepo?

[2018-11-07 07:47] fritzmg commented on #134
Cookies can be disabled in the browser settings. And yeah, may be the amount of people who are doing this is not really that significant. But we had a few cases at least.

[2018-11-07 08:57] martin-netprofit commented on #153
Wurde das Update schon eingespielt?
Wenn nein, wann wird es soweit sein?

[2018-11-07 09:14] leofeyer commented on #65
No, since we don't need to keep the tags in sync.

[2018-11-07 15:18] benfolds commented on #172
Same behaviour in 4.4 and 4.5

[2018-11-07 16:38] Defcon0 opened #174 "tl_calendar_events date variable contains time when it shouldn't"
**Affected version(s)**
Contao 4.4.28

**Description**
For example in event_upcoming.html5 we have:

[code]

As you can see we have the following line:

[code]

With the current implementation this results in

`23.11.2018 11:00–24.11.2018 13:00, 11:00–13:00`

But shouldn't be no time stored in `$this->date` so that it would be

`23.11.2018–24.11.2018, 11:00–13:00`

The line in `Events.php` is 234:

[2018-11-08 11:56] minstyle opened #175 "event_full.html5 Ausgabe des Datums bei wiederholenden Events falsch"
**Affected version(s)**
contao/core-bundle 4.4.28
contao/calendar-bundle 4.4.28

**Description**
Bei wiederholenden Events wird nicht das korrekte Datum auf der Detailansicht der entsprechenden Veranstaltung angezeigt. Es wird lediglich das Startdatum angezeigt.

Das Datum des wiederholenden Events steht auch nicht im Template zur Verfügung:
![image](https://user-images.githubusercontent.com/26495

[2018-11-08 21:07] srhinow opened #176 "Wartungsmodus führt zu "Es ist ein Fehler aufgetreten""
Ich habe das Problem von dem geschlossenen Issue https://github.com/contao/core-bundle/issues/1307 auch in Contao 4.6:

Bei mir unter Contao 4.6.7, PHP7.2 tritt das Problem auch auf.
Der letzte Eintrag aus der log-Datei ist folgender:

`[2018-11-08 21:13:32] request.CRITICAL: Uncaught PHP Exception RuntimeException: "Error when rendering "http://www.DOMAIN.de/_fragment?_hash=%2FqBeYf5LY3DkpKxI06SL

[2018-11-08 21:08] srhinow commented on #176
Ich habe gerade noch bemerkt das der 503er nur auftaucht, wenn ich mich im Backend angemeldet habe. Wenn ich nicht angemeldet bin kommt die Status-Seite "Dienst nicht verfügbar" was ja auch richtig ist.
Wenn ich angemeldet bin und der Wartungsmodus aktiv ist, müsste ich doch aber die Website normal sehen können und kein 503er oder nicht?

[2018-11-09 08:48] zonky2 opened #177 "Auflösung von Inserttags in den E-Mail-Feldern z.B. Newsletter"
**Description**
Auflösung von Inserttags in den E-Mail-Feldern z.B. Newsletter

z.B. damit mal per `{{include_content::123}}` einen allgemeinen E-Mail-Footer einsetzen kann

**Example**
z.B. Newsletter Abonnieren oder Kündigen

[2018-11-09 12:45] fritzmg commented on #176
Ich habe das auch mal kurz getestet:

* In allen Contao Versionen wird im Frontend wie erwartet die Maintenance Seite angezeigt, wenn man nicht im Backend eingelogged ist.
* Contao 3.5.36: Frontend ist im Wartungsmodus erreichbar, wenn man im Backend eingelogged ist.
* Contao 4.4.28: Frontend ist im Wartungsmodus erreichbar, wenn man im Backend eingelogged ist.
* Contao 4.6.6: Frontend ist im Wart

[2018-11-09 15:42] jankout opened #178 "News: Es ist nicht möglich einen individuellen Link zu setzen"
**Affected version(s)**
4.6.7
**Description**
Wenn ich auf der ersten Ebene eine News einen individuellen Link setzen möchte, wird es nicht möglich - egal ob in Firefox oder in Safari (macOS 10.14.1).
**How to reproduce**
siehe Bild. Wenn ich auf die Funktion "Individuelle URL" klicke, passiert nichts bzw. die Seite wird nur neu geladen, aber es ändert sich nichts.
![news-individuelle verlinkung](

[2018-11-09 15:47] jankout commented on #178
ok, ich habe es herausgefunden - es lag daran, dass das Newsarchiv von Redakteuer kopiert wurde, allerdings nicht die Weiterleitung des Newsarchivs auf eine bestimmte Seite bestimmt. Könnte man bitte einen Hinweis zeigen, damit das für den Redakteuer klarer wird, warum es dann nicht funktioniert? Danke.

[2018-11-10 09:25] fritzmg commented on #178
@jankout ich denke nicht, dass das etwas mit dem core zu tun hat. Offensichtlich hast du da sehr viele Extensions bzw. DCA Änderungen.

[2018-11-10 10:37] mlwebworker opened #179 "Problem with image size when uploading files in the frontend"
**Affected version(s)**
Contao 4.4
Ich denke aber das Problem ist auch in allen anderen Versionen von Contao vorhanden.

**Description**
Beim Dateiupload im Frondend wird die Größe der Dateien tatsächlich auf die in den Einstellungen eingegebene maximal Bildbreite/-höhe beschränkt.
Beim Dateiupload im Backend werden größere Bilder entsprechend skaliert (je nach Einstellungen bei maximal GD-Bildbre

[2018-11-12 08:55] srhinow opened #180 "Systemwartung->Symlinks neu erstellen verursacht Internal Server Error"
verwende Contao 4.6.7, PHP7.2

Wenn ich im Backend unter Systemwartung den Haken bei "Symlinks neu erstellen" setze und das ausführen lassen möchte, bekomme ich die Fehlerseite mit:

[2018-11-12 09:04] Toflar commented on #180
Another duplicate of https://github.com/contao/contao/issues/153

[2018-11-12 09:19] #180 closed, assigned to nobody

[2018-11-12 10:58] Toflar opened #181 "[RFC] Make favicon.ico dynamic"
In https://github.com/contao/contao/commit/9d8ac9299c7336f22bb6a4a0264a29e9f1dfbe56 a default `favicon.ico` was added to the Managed Edition Skeleton.
This has one major downside: Contao is multi-domain capable so I can have 5 different domains running on the same installation. In that case, I likely have different logos/icons and I cannot replace them dynamically. Yes, of course I can have a diff

[2018-11-12 11:06] fritzmg commented on #181
I am all for it.

Also I still want to have a default favicon ico for the back end that is _not_ the regular orange icon, which is used on every Contao page (contao.org, community.contao.org) ;)

[2018-11-12 11:08] leofeyer commented on #154
Das andere Issue ist mittlerweile als gelöst markiert. Besteht Dein Problem weiterhin?

[2018-11-12 11:09] leofeyer commented on #155
Can you try to pass `$this` instead of `$this->row()` please? You should then be able to access your configuration via `$this->my_parameter`.

[2018-11-12 11:11] leofeyer commented on #172
Where exactly are you adding the error message?

[2018-11-12 11:17] leofeyer commented on #176
@fritzmg Tritt das Problem in Contao 4.6.8 ebenfalls noch auf?

[2018-11-12 11:21] leofeyer commented on #177
Duplikat von contao/core#8834. Vor Contao 5 wird das schwierig (siehe https://github.com/contao/core/issues/7587).

[2018-11-12 11:21] #177 closed, assigned to nobody

[2018-11-12 11:22] srhinow commented on #176
@leofeyer hab es gerade unter contao 4.6.8 ausprobiert und ja der Fehler kommt dort immer noch.

[2018-11-12 11:24] #178 closed, assigned to nobody

[2018-11-12 11:28] leofeyer commented on #181
I'm not a big fan of using Symfony (or PHP in general) to deliver images. I think the `<link rel="icon"` tag has been introduced for exactly this use case, therefore we should use it IMHO.

[2018-11-12 11:31] leofeyer commented on #175
Lässt sich das in der Onlinedemo reproduzieren? Denn eigentlich hatten wir das schon vor Jahren behoben (siehe contao/core#923).

[2018-11-12 11:33] fritzmg commented on #181
But this will not be present for files. Imagine you have a multi domain setup with two completely different favicons:

* example.org
* lorem.com

Now let's assume you put the favicon of _example.org_ into the `/web` folder. If you then directly open an image in the browser, e.g.:

* https://example.org/files/foo.jpg
* https://lorem.com/files/moo.png

both these URLs will display the favicon of _ex

[2018-11-12 11:37] leofeyer commented on #170
What about "System" -> "Maintenance" -> "Purge the script cache"?

[2018-11-12 11:37] Defcon0 commented on #155
@leofeyer Since no $this->arrData is passed to the objTemplate here:

[code]

this can't work, or am I overlooking something?

[2018-11-12 11:38] Toflar commented on #181
Which is BTW exactly what's described in the original issue description 😄

[2018-11-12 11:39] fritzmg commented on #181
True, just wanted to emphasize it ;)

[2018-11-12 11:48] fritzmg commented on #176
Ja, das Problem besteht weiterhin in Contao 4.6.8. Ich kann auch bestätigen, dass es vermutlich in an den esi Sub-Requests liegt. Das HTML markup sieht so aus:
[code]
Der Fehler passiert wohl im `{{ua::class}}` Insert Tag, bzw. die Exception wird nicht mehr so wie erwartet abgefangen.

/cc @Toflar

[2018-11-12 11:49] fkaminski commented on #154
Hinsichtlich der Fehlermeldung "Unknown insert tag flag |uncached" aus #48 - Ja,
In Bezug auf die nicht funktionierende Weiterleitung zusammen mit dem uncached Flag - Leider Nein

[2018-11-12 12:24] benfolds commented on #172
I use the onsubmit_callback to check some things and trigger the Error Message.

[dieschittigs/contao-redirect-bundle/ -> tl_page.php](https://github.com/DieSchittigs/contao-redirect-bundle/blob/master/src/Resources/contao/dca/tl_page.php)

In this case, i do not need to prevent the user from leaving the form.

[2018-11-12 15:42] minstyle commented on #175
Hi Leo,

vielen Dank für deine Rückmeldung.

Der Fehler lässt sich mit der Online Contao Demo (mit den gleichen Einstellungen: Siehe oben) reproduzieren:

![image](https://user-images.githubusercontent.com/2649562/48357876-e4559980-e699-11e8-89f4-5973a5120fc2.png)

![image](https://user-images.githubusercontent.com/2649562/48357883-e7e92080-e699-11e8-87e4-bec3105fe0eb.png)

[2018-11-12 16:28] fritzmg commented on #175
I think that's normal, isn't it? In the list you see the date of the repeated event. In the reader you see the date of the original event.

[2018-11-12 16:53] zonky2 commented on #177
@leofeyer Ich bin mir nicht sicher, ob wir das selbe meinen - ich will nix in die Newsletter-E-Mail rein schubsen, sondern in die Anmelde und -bestätigungsmail ... und da auch nur reinen Text - siehe Screenshot

![screenshot_266](https://user-images.githubusercontent.com/1045318/48362478-06541980-e6a4-11e8-9186-64e6a34e54c6.jpg)

[2018-11-12 17:25] leofeyer commented on #155
True. We should pass `$this->arrData` there as well.

[2018-11-12 17:31] leofeyer commented on #172
The `onsubmit_callback` is probably not the right place to do this, as per definition it is executed **after** the form has been validated. Can you use the `save_callback` instead?

[2018-11-12 19:18] minstyle commented on #175
In der Detailansicht eines Events möchte ich aber nicht das Datum des Ursprungs-Events haben, sondern das Datum des tatsächlichen Events, wie in der Eventliste zu sehen.

Für den Benutzer ist es doch irreführend, wenn auf der Detailseite ein falsches Datum angezeigt wird.

[2018-11-12 20:10] xchs commented on #153
Heute. 😄

[2018-11-13 08:00] wschwaiger commented on #5649
One more comment. I think this is how it should be, https://www.youtube.com/watch?v=GX9z5M9mz30

[2018-11-13 09:20] benfolds commented on #172
The error should not prevent the page from redirecting to the list because it is related to another backend module.

In this case, the bundle does the following thing:
If you change the alias of a page that has a reader module on it, you get a notification/error that this is a bad idea. But you can do so if you want, because mostly you have a good reason to do this. When you submit this change, th

[2018-11-13 11:18] Babelfisch commented on #5649
Hier mal eine kurze Zusammenfassung der API-Session beim Contao Camp in Leipzig:

### Trennung von Backend- und Frontend-API

Es ist sinnvoll, getrennte APIs für Backend- und Frontend-Funktionen zu erstellen. Die Backend-API ist dabei primär zur Verwaltung der Daten als Zugriff zum DCA gedacht, während die Frontend-API schon fertig gerenderte Inhalte liefern kann und eher in Richtung Headless CMS

[2018-11-13 11:55] bezin commented on #5649
Danke für deine Zusammenfassung der Session: Wir hatte uns auch noch [dieschittigs/contao-content-api-bundle](https://github.com/DieSchittigs/contao-content-api-bundle) angesehen :)

[2018-11-13 13:24] frontendschlampe commented on #181
But for "modern" Websites one favicon isn't enough! There are many sizes of icons ...

Why are we even delivering an favicon?

[2018-11-13 13:44] frontendschlampe opened #183 "Update Sicherheitsfrage/Honeypot - Ideen zur besseren Spamvermeidung bei Formularen"
Wir nutzen ja mittlerweile in Contao 4 bei der Sicherheitsfrage eine Honeypotfunktion, um Spammails zu verhindern. Das hat bisher auch sehr gut geklappt, aber seit ein paar Wochen gibt es diverse Spammails, die doch wieder durchkommen - auch am Honeypot vorbei.

Wir müssten uns also irgendwas einfallen lassen, wie wir das wieder eindämmen oder verhindern können.

Nach ein paar Gesprächen auf dem C

[2018-11-13 13:51] fritzmg commented on #181
For that you'll still use the appropriate HTML meta tags.

[2018-11-13 13:57] frontendschlampe commented on #181
@fritzmg you're right, but why using two version for the same thing? If I have to include icons manually, so I can include all the icons manually. For the Backend I have no problem with such a solution, but in Frontend ...

[2018-11-13 14:32] leofeyer commented on #183
Duplikat von contao/core#8874. Das Ticket hatten wir damals geschlossen, weil keine Log-Dateien zur Verfügung gestellt werden konnten. Ich habe das Ticket jetzt wieder geöffnet, damit Du die notwendigen Log-Dateien hochladen kannst, damit @ausi es sich ansehen kann.

[2018-11-13 14:32] #183 closed, assigned to nobody

[2018-11-13 14:54] zonky2 commented on #5649
weitere Projekte:

* JSON-API https://contao.org/de/erweiterungsliste/view/jsonapi.de.html
* RESTfull-Webservice https://github.com/Craffft/contao-restful-webservices

Dank an die gute Zusammenfassung - Link kommt mit in die Sessionübersicht CC18 https://contao.org/de/veranstaltungen/contao-camp-2018.html

[2018-11-13 17:08] fritzmg commented on #181
See https://github.com/contao/contao/issues/181#issuecomment-437847776 (and @Toflar 's original description) above. There is not other way, if you want to have the correct favicon when viewing files directly in the browser.

[2018-11-13 22:29] Teetrinker commented on #170
Doesn't resolve the problem. (and shouldn't be necessary, as the other scripts are automatically in the output)

[2018-11-14 11:49] Toflar opened #184 "Never allow regular users to promote any user to be an admin"
Right now it is possible for a regular user to promote themselves and others to become administrator.
Of course, it is only possible if the user has the permissions to do so (`alexf` on `tl_user.admin`) but it still feels wrong. You cannot promote anybody to become `root` if you're not `root` yourself. It shouldn't be dependent on the permissions.

I'd suggest to remove `admin` from the excluded f

[2018-11-15 11:26] ausi commented on #179
Eventuell ist das Absicht, damit man über das Frontend nicht den Server überlasten kann?
Ein großes Bild zu verkleinern kann sehr viele Ressourcen am Server verbrauchen.

Wenn wir diese Funktionalität einbauen, sollte sie konfigurierbar und standardmäßig inaktiv sein.

[2018-11-15 12:49] ausi commented on #175
In der Eventliste wird der Event mehrfach mit verschiedenen Daten angezeigt, die Detailseite ist aber jeweils dieselbe und kann somit nicht genau das Datum auf das geklickt wurde anzeigen.

Ich denke es wäre am besten das erste Datum das in der Zukunft liegt anzuzeigen, also am 15.11.2018 sollte `2018-12-23` angezeigt werden. Was dem Screenshot nach bereits der Fall ist.

[2018-11-15 12:59] asaage commented on #179
Ich wäre eher dafür, beim Upload (ob Front- oder Backend) generell nur die Dateigröße zu benutzen um Originale zu erhalten.
Max. Bildbreite/-höhe (unter Dateiupload) stehen bei mir jedenfalls immer auf 0 und sind meiner Meinung nach überflüssig.

Was ich noch nie ausprobiert habe ist, was eigentlich passiert wenn Max. Bildbreite/-höhe größer eingestellt ist als max. GD-Bildbreite/-höhe.

[2018-11-15 13:04] ausi commented on #179
Dem kann ich nicht zustimmen. Wenn ein Redakteur im Backend ein 10.000 x 10.000 Pixel großes Bild hochlädt, ist es IMO sehr sinnvoll es direkt auf z. B. 2.000 Pixel zu verkleinern. Dadurch werden die späteren Resize-Operationen für die Ausgabe im Frontend um ein vielfaches schneller.

[2018-11-15 13:07] fritzmg commented on #175
Die Eventliste könnte aber (genau wie der Eventkalender) das Datum als GET Parameter dem Eventreader mit übergeben.

[2018-11-15 13:37] minstyle commented on #175
Vielen Dank für eure Rückmeldung.

Leo hat auf das Ticket [contao/core#923](https://github.com/contao/core/issues/923) verwiesen, wo genau das Problem beschrieben wird. Das Problem besteht nun aber wieder in Contao 4.4.28 und ich verstehe nicht, warum das hier wieder so zu unterschiedlichen Meinungen führt.

@ausi
Ich habe ein Event, dass beispielsweise am 01.05.2018 erstellt wurde, welches sich a

[2018-11-15 13:45] asaage commented on #179
Schon klar- war ja auch nur meine Meinung dazu.
Für das angesprochene Beispiel müsste der Server aber so oder so wenigstens 10.000x10.000 handlen können und späteren Resize-Operationen werden ja nun auch nicht gerade kontinuierlich anfallen.

Ich bin da lieber auf der sicheren Seite - man weiß ja nie, was noch so kommt.
Sollte eine Kunde in Zukunft den Wunsch nach 4K Bildern haben, oder sollten Ex

[2018-11-15 13:49] fritzmg commented on #175
Das stimmt so nicht. Wenn Google die URL inkl. GET Parameter indexiert, dann passt es ja.

Das stimmt auch nicht. Die Eventlisten enthalten ja entsprechende Microdata Markup.

[2018-11-15 13:53] minstyle commented on #175
Und wenn der Link ohne GET-Parmater kommuniziert wird? Ehrlich gesagt, fände ich es besser wenn hier nicht mit dem GET-Parameter gearbeitet wird, damit man das Datum nicht nachträglich manipulieren kann.

Das "korrekte" Microdata Markup ist aber nicht auf der Eventdetailseite hinterlegt, oder?

[2018-11-15 14:07] fritzmg commented on #175
Was schlägst du dann vor?

Nein, aber Google sind die Event Daten des Events durch die Eventliste bekannt.

[2018-11-15 14:08] leofeyer commented on #175
In contao/core#923 haben wir festgestellt, dass es nicht möglich ist, auf der Reader-Seite zu wissen, welches Datum der Benutzer angeklickt hat, ohne das Datum als GET-Parameter zu übergeben.

Wir hatten dann gesagt, dass man zumindest keine vergangenen Termine anzeigen sollte; also in Deinem Beispiel würde ab dem 14.11. nicht mehr der 13.11. sondern der 20.11. angezeigt (so wie @ausi es oben besc

[2018-11-15 14:10] fritzmg commented on #175
Naja, ein zum Event nicht passendes Datum könnte ja einen 40x Status Code erzeugen.

[2018-11-15 14:35] asaage commented on #175
Alles irgendwie unbefriedigend.
Irgendwann hatten wir uns auch mal darauf geeinigt, dass fehlerhafte GET-Parameter keine 40x'er erzeugen sollten.
Wie wäre es, wenn man das originale Datum zeigt und zusätzlich den nächsten in der Zukunft liegenden Termin ausweist (ggf. auch mehr als nur einen)?

[2018-11-15 15:07] fritzmg commented on #175
Wo hatten wir das? Ich glaube das war auch nur ein spezieller Fall - und nicht ein allgemeiner. Außerdem geht es ja nicht um beliebige GET Parameter, sondern genau einen und auch nur dann, wenn der Wert des GET PArameters ungültig ist. Und auch nur auf der reader Seite.

[2018-11-15 15:32] asaage commented on #175
Der spezielle Fall war [hier](https://github.com/contao/core/issues/8375) - die Lage hat sich aber scheinbar wieder geändert..
Wenns keine Probleme mit dem Suchindex gäbe wär ich auch für eine überprüfte GET-Parameter-Variante glaube ich.

[2018-11-15 18:45] xchs opened #187 "Also mark current events in the event reader"
**Description**

Events of the **current day** are marked in the event list with the CSS class `current`. Could we also output this class in the event reader?

**Example**

* Log into the Contao Official Demo
* Create a new event in the _"Contao Public Example Events"_ calendar and set the start date to the current day
* Open the front end page https://demo.contao.org/en/events.html and compare th

[2018-11-15 19:56] minstyle commented on #175
Also zusammengefasst bedeutet das nun:

Das aktuelle Datum kann bei wiederholenden Events nicht in der Detailansicht des entsprechenden Events angezeigt werden?

Wenn dem so ist, dann müsste ich für Redakteure die Funktion von wiederholenden Events deaktivieren. D. h. Redakteure müssten händisch jeden wiederholenden Event als Duplikat in Contao anlegen und jeweils das Datum anpassen?

Bei evtl. Än

[2018-11-15 21:08] ausi commented on #175
Nur weil es ein Feature nicht in den Core von Contao schafft bedeutet das nicht, dass es nicht dennoch für die Website eines Kunden umgesetzt werden kann.

Ich denke die Übergabe des Datums als GET-Parameter ist nicht optimal. Gerade für die angesprochenen Suchmaschinen sollte es eine Seite nicht mehrfach mit dem selben Inhalt geben.

Ich denke in diese Richtung sollte es gehen. Mein Lösungsvorsch

[2018-11-15 23:23] m-vo commented on #108
That sounds reasonable to me. Symfony uses the file extension to distinguish which engine to use (php / twig) anyway. I'm wondering if these defaults can be overwritten however.

[2018-11-16 06:59] fritzmg commented on #175
@minstyle du hast immer noch keinen Vorschlag gebracht, wie du es überhaupt gerne hättest.

[2018-11-16 07:23] minstyle commented on #175
Es wäre schön, wenn auf der Eventdetailseite eines Events das Datum steht, wann das Event das nächste Mal stattfindet, abhängig von dem eingestellten Intervall (`$this->repeatEach`).

Das müsste sich doch mit dem aktuellen Datum, dem Startdatum, dem Enddatum und dem Intervall irgendwie ausrechnen lassen, oder? (siehe [Beitrag](https://github.com/contao/contao/issues/175#issuecomment-439190520) von

[2018-11-16 07:34] mpitz commented on #175
Das halte ich für ein gutes Feature über das man nachdenken könnte. Wäre hilfreich wenn diese Arrays `pastDates` und `upcomingDates` vom Bundle aus zur Verfügung stünden.

Und wenn man das alles im Modul (Eventleser) einstellen könnte , wäre das komfortabel.

[2018-11-16 07:39] ausi commented on #175
Das ist ja bereits der Fall. In deinem Screenshot der Contao-Demo ist `2018-12-23` das Datum, wann das Event das nächste Mal stattfindet.

[2018-11-16 07:55] Shoekrates opened #189 "Secure target="_blank" with additional rel attribute"
**Description**
In Contao it is relative easy to open a link in a new window, e.g. by checking “Open in new window“ in a hyperlink CE.
It would be more secure to add the attribute rel="noopener" as well when editor chooses to open a link in a new window. This could be added automatically or with an additional (conditional) input field for the rel attribute.

More information:
https://mathiasbynens

[2018-11-16 07:56] fritzmg commented on #175
Das ist ja bereits der Fall und auch in deinem Screenshot zu sehen. Daher die Nachfrage, was genau du nun eigentlich haben möchtest.

[2018-11-16 07:58] fritzmg commented on #189
Should already be the case in Contao 4.6. Duplicate of https://github.com/contao/core-bundle/issues/1125

[2018-11-16 08:04] Shoekrates commented on #189
Ah, sorry. I used the issue search but this didn't show up. Feature request can be closed then. Thanks!

[2018-11-16 08:04] #189 closed, assigned to nobody

[2018-11-16 08:11] minstyle commented on #175
1. Bei Klick auf die Eventliste soll das aktuelle Datum übergeben und auf der Eventdetailseite (via GET-Parameter oder einer anderen Methode) ausgelesen werden.
2. Gelangt man _nicht über die Eventliste_ auf die Detailseite, wie z. B. via Google, dann ist der (GET-)Parameter logischerweise nicht gesetzt, und es soll das nächstgelegene Datum auf der Detailseite ausgegeben werden, wie aktuell in den

[2018-11-16 08:20] fritzmg commented on #189
Well, the mono repository is still pretty new, currently you have to search in the bundle repositories as well ;)

[2018-11-16 08:22] fritzmg commented on #175
Was soll das bringen? Das aktuelle Datum muss doch nicht als GET Parameter übergeben werden, das weiß der Server bereits ;). Was willst du mit dem GET Parameter machen? Oder meinst du das Datum des angeklickten, wiederholten Events? Also so wie hier beschrieben dann: https://github.com/contao/contao/issues/175#issuecomment-439034082

[2018-11-16 08:31] minstyle commented on #175
Hier habe ich mich vielleicht falsch ausgedrückt, sorry:

Mit dem aktuellen Datum meine ich nicht das Datum des heutigen Tages, sondern das Datum wann das Event tatsächlich stattfindet (siehe mein [Beitrag](https://github.com/contao/contao/issues/175#issue-378699380)).

[2018-11-16 08:35] fritzmg commented on #175
Ok verstehe, also so wie von mir schon beschrieben.

@leofeyer bzgl.

Das Kalender Modul macht das allerdings auch bereits: [ModuleCalendar.php#L285](https://github.com/contao/contao/blob/4.6.8/calendar-bundle/src/Resources/contao/modules/ModuleCalendar.php#L285) - um eben der Eventliste ggf. mitzuteilen, dass die Termine des ausgewählten Tages angezeigt werden sollen: [ModuleEventlist.php#L92-L15

[2018-11-16 08:54] leofeyer commented on #175
Ja, vermutlich schon. Im Grunde ist der Angriff immer möglich – man kann ja jeder URL irgendwelche Parameter anhängen. Somit wäre die Übergabe des Datums als GET-Parameter doch eine mögliche Lösung.

[2018-11-16 09:37] fritzmg commented on #175
Falls nicht die Lösung mit GET Parameter benutzt wird und statt dessen im Eventleser die nächsten Termine angezeigt werden: dann braucht man allerdings auch im Eventleser Modul eine Einstellung, mit der man festlegen kann, wieviele Zukünftige Termine für wiederholende Events berechnet werden sollen (und damit angezeigt werden können bzw. sollen).

[2018-11-16 10:15] ausi commented on #175
Ich denke schon. Wenn wir die Einstellungen für die zukünftigen und vergangenen Event-Daten standardmäßig auf `0` setzen wäre es auch rückwärtskompatibel.

[2018-11-16 10:36] minstyle commented on #175
Könnten die evtl. Änderungen auch in Contao 4.4-Update berücksichtigt werden?

[2018-11-16 10:36] fritzmg commented on #175
Nein, es wäre ja ein neues Feature.

[2018-11-16 11:50] leofeyer commented on #87
Siehe #161.

[2018-11-16 11:50] #87 closed, assigned to nobody

[2018-11-17 11:22] fritzmg opened #191 "make notification bell counter more visible"
Imho the counter on the notification bell currently goes unnoticed pretty easily (red on orange). Just a small suggestion on how it could look differently:

![nb_org](https://user-images.githubusercontent.com/4970961/48660514-1cc2f200-ea63-11e8-8860-1dcc20b19b3a.png)

vs.

![nb_alt1](https://user-images.githubusercontent.com/4970961/48660516-20ef0f80-ea63-11e8-8430-64dfd60668fc.png)

Example with

[2018-11-17 17:40] OMOSde commented on #191
Die Frage ist, wie auffällig soll es sein. Ich persönlich bin kein Freund davon, das Icon zu überdecken.

Vielleicht eher etwas in diese Richtung:
![vorschlag_contao_notification](https://user-images.githubusercontent.com/2035628/48663985-3c284200-ea98-11e8-9c53-7b8563ff8880.png)

Das ist nicht ausgearbeitet. (sprich vll. ungenau) :-)

[2018-11-19 13:22] leofeyer commented on #170
That's strange, because the help text says

and that is exactly what the `Automator::purgeScriptCache()` method does. Are there any _Generated style sheet…_ entries in the system log?

[2018-11-19 15:58] leofeyer commented on #127
Fixed in a628b17c4202606a38f1e16dd300475c37dd05be.

[2018-11-19 15:58] #127 closed, assigned to leofeyer

[2018-11-19 16:00] rburch opened #193 "Sitemap location"
I tend to work with a few SEO and marketing firms. They don't like that Contao puts the sitemap xml files in the share folder. They think it should be in the root. I've done some research on this and it seems that the correct way to do it is have the sitemap in a folder names after the pages you want mapped. So of example /child/ would only index the pages in the child. So that would indicate that

[2018-11-19 20:01] asaage commented on #193
I use https://github.com/terminal42/contao-url-rewrite
and do redirect ```sitemap.xml → share/{{env::host|standardize}}.xml, 301``` while naming my sitemap files like the domain of each root-page.
I do something similar to robots.txt ```robots.txt → files/robots/{{env::host|standardize}}.txt, 301``` and specify the stitemap inside there as well.
Google does not complain about that.
You could use t

[2018-11-19 21:16] fritzmg commented on #193
Duplicate of https://github.com/contao/core/issues/8728

[2018-11-20 07:03] #193 closed, assigned to nobody

[2018-11-20 08:55] chiron501 opened #194 "Fehlerhafte Sicherheitsfrage in Kombination mit 404-Weiterleitung"
**Affected version(s)**
4.4.28
PHP 7.1.2

**Description**
Existiert auf der Startseite (Alias: index.html) ein Formular mit einer Sicherheitsfrage auf dieser eine Weiterleitung einer 404-Seite eingerichtet ist, wird beim Versenden der Formulardaten die Sicherheitsfrage angezeigt.
Auch wenn die Sicherheitsfrage richtig beantwortet wird lässt sich das Formular nicht absenden. Es wird immer wieder di

[2018-11-20 09:01] fritzmg commented on #194
Ich verstehe dein Setup nicht. Was genau meinst du mit

und

? Warum genau hast du das so eingerichtet?

[2018-11-20 09:10] chiron501 commented on #194
Ich habe eine 404-Seite (Seitentyp: 404 Seite nicht gefunden) eingerichtet, die als Weiterleitungsziel die Startseite (index.html) hat.
Ich möchte das alle Fehlanfragen auf die Startseite weitergeleitet werden, dass geht ja nur mit einer eingestellten Weiterleitungsseite beim Seitentyp 404. Oder habe ich da was falsch verstanden?
Auf der Startseite wiederum ist ein Formular platziert mit einer Sic

[2018-11-20 09:13] fritzmg commented on #194
Prinzipiell ist das möglich, solltest du aber [niemals machen](https://www.seroundtable.com/google-redirect-urls-home-26270.html). Ich würde ja eigentlich vorschlagen, dass dieses Feature aus Contao entfernt wird ;)

Unabhängig davon: verschiebe die 404 Seite mal an die unterste Stelle innerhalb des Startpunktes. Das sollte zwar (mittlerweile) keinen Unterschied mehr machen, aber vielleicht gibt e

[2018-11-20 09:31] chiron501 commented on #194
Google ist Google und Kunde ist Kunde, der eine wünscht sich dies der andere wünscht sich jenes ;)

Das verschieben der 404-Seite macht keinen Unterschied.
Erst wenn ich das explizite Weiterleitungsziel "Startseite" auf der 404-Seite rausnehme, funktioniert das Formular.
Desweiteren tritt der Fehler auch auf, wenn die 404-Seite auf irgendeine beliebige Seite weitergeleitet wird wo ein Formular dra

[2018-11-20 10:42] ausi commented on #194
@chiron501 kannst du einen link zur betroffenen Seite bereitstellen?

[2018-11-20 11:06] chiron501 commented on #194
http://dev-contao44.ais-work.de
Ist ein geschützter Bereich. Zugang:
Benutzer: zugang
Passwort: nichtfuerdich

Kann Euch auch gerne Zugangsdaten fürs Backend zukommen lassen. Ist aber wie gesagt ein reines Contao was ich heute Früh auf die schnelle Installiert habe.

[2018-11-20 11:10] ausi commented on #194
Der Fehler tritt auf, weil beim Aufruf der Seite der Browser versucht die Datei `/favicon.ico` zu laden, die auf die Startseite weiterleitet und dadurch eine neue Sicherheitsfrage generiert.

Du musst entweder ein Favicon hinzufügen, oder sicherstellen dass auf der 404-Seite keine Sicherheitsfrage ausgegeben wird.

[2018-11-20 11:15] chiron501 commented on #194
Wieso versucht ein "jungfreuliches" Contao ein Favicon zu laden?

[2018-11-20 11:16] ausi commented on #194
Das versucht der Browser von selbst, hängt nicht mit Contao zusammen.

[2018-11-20 11:51] chiron501 commented on #194
Erstmal Danke für die Lösung.
Aber nur zum Verständnis für mich, hab ich eine Formular ohne Sicherheitsabfrage ist das nicht vorhandene Favicon ja kein Problem. Dann werden die Formulardaten ja versendet.
So ganz schuldfrei ist da Contao bzw. die Sicherheitsabfrage nicht oder?

[2018-11-20 11:58] fritzmg commented on #194
Es ist so wie @ausi bereits erklärt hat:

1. Du rufst die Startseite auf und für das dort befindliche Formular wird eine Sicherheitsfrage wird generiert.
2. Dein Browser ruft die `/favicon.ico` auf.
3. Da kein `/favicon.ico` existiert, wird die 404 Seite von Contao generiert.
4. Da du bei der 404 Seite von Contao eine Weiterleitung auf die Startseite eingestellt hast, landet der Aufruf der `/favic

[2018-11-20 12:17] chiron501 commented on #194
Das was @ausi erklärt hat habe ich schon verstanden.
Es existiert aber trotzdem meiner Meinung nach ein Problem.
Mal angenommen ich mache eine ganz normale 404-Seite ohne explizite Weiterleitung. Auf dieser 404-Seite möchte ich gerne ein Formular setzen, damit whatever...
Dann produziert mir irgendeine Ressource, hier jetzt das Favicon, die nicht geladen werden kann ein Problem.
http://dev-contao4

[2018-11-20 12:20] leofeyer opened #195 "Disabled icons"
As you know, Contao uses disabled icons if a function is not available for a user. I had initially designed it this way so the same icons are always underneath each other. However some extensions do it differently, so I wanted to quickly discuss which approach you like more.

**File tree**

<img width="757" alt="" src="https://user-images.githubusercontent.com/1192057/48773204-fd2c0380-ecc6-11e8-8

[2018-11-20 12:49] OMOSde commented on #195
Für mich wäre jeweils die erste Ansicht die angenehmere. Es wirkt allgemein sauberer, ordentlicher. Außerdem könnte man im Tooltip von ausgeblendeten Icons kundtun, warum die Funktion nicht verfügbar ist.

[2018-11-20 12:52] xchs commented on #195
I feel the same way.

[2018-11-20 12:54] pagestyles commented on #195
+1 for disabled icons
-> better UX in my view
-> looks better

[2018-11-20 12:57] ausi commented on #194
Ja, das ist ein Problem. Allerdings lässt sich das schwer beheben mit der Art wie das Captcha funktioniert.

In Contao 4.6 wurde das Captcha umgebaut damit es ohne Session funktioniert. Dort sollte das Problem nicht mehr auftreten.

Für Contao 4.4 würde ich empfehlen kein Formular auf der 404-Seite zu platzieren, oder darauf zu achten dass keine Requests der Formularseite einen 404-Error erzeugen.

[2018-11-20 13:57] Toflar commented on #195
I feel the exact opposite. I like the second approach much better and it feels a lot cleaner to me. I also think it's better UX. All of the buttons on the right side are "operations". Operations **do** something. If they are there, they should **do** something. Disabled icons just tell me "if you had the right permissions you could click me" which is not an information a user needs. If that was a

[2018-11-20 16:24] dmolineus commented on #194
Das Problem tritt z.B. auch dann auf, wenn ein Ajax-Request auf eine Contao Seite gemacht wird, und in einem Modul nach dem Formular behandelt wird. (Ja, ich weiß, dass es nicht optimal ist über den Seitenbaum zu laufen um einen Ajax-Request zu handeln. Jedoch funktionieren einige Contao Erweiterungen so).

Die Frage ist halt, ob die Contao Catch All Route wirklich jede Dateianfrage handeln sollte

[2018-11-20 17:14] ausi commented on #194
Das wäre grundsätzlich eine gute Idee denke ich (unabhängig von diesem Issue), allerdings lädt der Firefox (evtl. auch andere Browser) das Favicon leider mit `Accept: text/html,…` wodurch der Fehler weiter bestehen bleiben würde.

[2018-11-21 11:57] leofeyer commented on #65
The bundle will now add the symlink so `system/config/tcpdf.php` always exists.

[2018-11-21 11:57] #65 closed, assigned to leofeyer

[2018-11-21 13:39] dmolineus commented on #195
On the first sight I'd prefer the second approach as it clearly shows which operations are avialable.

However from my working experience - I worked on a project where some page actions were hidden by additional rules - the UX get's worse. Imaging working on a large page structure where you want to edit a page. You have to move the mouse more between different pages which - for my experience - is

[2018-11-21 14:11] Wusch commented on #195
![bildschirmfoto 2018-11-21 um 15 06 25](https://user-images.githubusercontent.com/2745704/48846322-23bd6d80-ed9f-11e8-8e44-aba2e29d96f2.png)
In the second approach we have disabled icons only if you can toggle them. In the first approach we mix toggle icons and disabled icons and it's not clear what they will do.

[2018-11-21 15:08] fritzmg commented on #195
What about a third option, where the icons that are not available to the user, will not be shown (like option 2), but stilly occupy the same space as they would normally, so that each icon is still in the same column (like in option 1)? But may be that will look too weird.

[2018-11-21 15:18] OMOSde commented on #195
Something like this:

![weird](https://user-images.githubusercontent.com/2035628/48850491-1c9b5d00-eda9-11e8-8bbd-e5deb7d13603.png)

[2018-11-21 20:07] cliffparnitzky commented on #195
I think, that what will happen to the mouse movement (mentioned by @dmolineus) will be a disaster. So I think the first approach is the better one. Maybe the toggle idea of @dmolineus should be the better improvement for the future.

[2018-11-21 22:49] m-vo commented on #195
I also much prefer the second approach.

Yes, that's the key I guess. The need for alignment only comes with (already too) many items.

And greyed out items that cannot be clicked nor give some additional information (e.g. tooltip that helps understand the system) really aren't worth anything. If a user lacks permissions for a certain part of the backend or some dca fields we don't render them wel

[2018-11-22 08:46] leofeyer commented on #159
Fixed in daf26f002d2dbc57b99a10f1d50ae32b69a3b2f5.

[2018-11-22 08:46] #159 closed, assigned to leofeyer

[2018-11-22 08:52] leofeyer commented on #174
But `23.11.2018–24.11.2018, 11:00–13:00` means _on November 23rd from 11am to 1pm and on November 24th from 11am to 1pm_ whereas `23.11.2018 11:00–24.11.2018 13:00` means _from November 23rd at 11am to November 24th at 1pm_. Which case did you want to configure?

[2018-11-22 08:57] leofeyer commented on #187
You mean the CSS class should be `event layout_full current block`? What do you need this for?

[2018-11-22 09:00] Defcon0 commented on #174
Good question. But I guess this is a fundamental question which the CMS cannot finally decide because it depends on the context. In my special case, `23.11.2018–24.11.2018, 11:00–13:00` was the way to go, but in other people's projects this might differ.

In any case, `23.11.2018 11:00–24.11.2018 13:00, 11:00–13:00` seems wrong to me.

I'd vote for a consistent solution which is always used in the

[2018-11-22 10:36] V15 commented on #159
Danke.

[2018-11-22 10:58] xchs commented on #187
Yep, exactly.

I would like to style these events differently in the list view as well as in the reader.

I was just wondering why this class only exists in the event list module and not also in the event reader.
Maybe there is a good reason why this CSS class cannot be shown in the reader as well (?).

[2018-11-22 11:36] leofeyer commented on #176
Das beschriebene Problem ist nicht dasselbe wie in contao/core-bundle#1307, sondern wie in contao/core-bundle#1370. @aschempp hatte damals einen PR nur für Contao 4.4 gemacht (siehe contao/core-bundle#1476), weil wir aus irgendeinem Grund davon ausgegangen sind, dass das Problem in der 4.5 nicht bestehe.

@contao/developers Haben wir uns da ggf. geirrt?

[2018-11-22 12:41] b-fender opened #197 "images in galleries: meta not shown"
**Affected version(s)**
Contao 4.6.8

**Description**
with file-manager filled in meta-informations of images not shown in content-element "gallery".

**How to reproduce**
Upload a few images
fill in e.g. alt-text and/or title of uploaded images in file-manager
create an article
create a content-element "gallery" and choose the uploaded images for the gallery,
save, reload frontend
"alt" is empty

[2018-11-22 12:52] aschempp commented on #176
inwiefern? Müsste doch upstream gemergt werden?

[2018-11-22 12:52] leofeyer commented on #176
Nein, haben wir explizit nicht gemacht: contao/core-bundle#1482

[2018-11-22 12:55] aschempp commented on #176
Ah, I see. In welchem Scope laufen denn Fragments?

[2018-11-22 12:57] leofeyer commented on #197
I cannot reproduce this. I have added an alternative text to one of the images in the official demo and it was immediately shown in the front end:

[code]

[2018-11-22 12:57] #197 closed, assigned to nobody

[2018-11-22 13:10] b-fender commented on #197
Sorry, have You tested it with Contao 4.6.8?
I tested it multiple Times in 4.6.8 (with original template gallery_default) and meta is empty.
I cannot test ist in the official demo, because file editing is not allowed there.

[2018-11-22 13:40] leofeyer commented on #197
Yes, I have tested it with Contao 4.6.8.

[2018-11-22 13:46] b-fender commented on #197
ok. thanks for testing then.

[2018-11-22 14:18] leofeyer commented on #195
As discussed in Mumble on November 22nd, we should only show icons (operations) if they are functional (see https://github.com/contao/contao/issues/195#issuecomment-440282004). Generally, if a user is not allowed to delete a record, they should not see the inactive delete button.

Before we change it, however, we should ask more users in a poll.

[2018-11-22 15:38] leofeyer commented on #175
Wie am 22. November auf Mumble besprochen, könnte man die Formulierung anpassen:

Zudem könnte man die vorherigen und nächsten Termine im Template verfügbar machen, so wie @ausi es in https://github.com/contao/contao/issues/175#issuecomment-439190520 vorgeschlagen hat.

[2018-11-22 16:23] leofeyer commented on #181
As discussed in Mumble on November 22nd, we want to remove the default `web/favicon.ico` file, then it is up to the user to decide whether to use a static favicon or an extension such as https://github.com/hofff/contao-favicon (which could be enhanced with a custom favicon route).

[2018-11-22 16:35] ausi commented on #58
We could store the post data as usual in the session and add a response listener which clears the data from the session. This way `{{post::}}` should be available on the jumpTo page.

[2018-11-22 16:56] leofeyer commented on #191
As discussed in Mumble on November 22nd, a more visible circle in white or blue is a good idea, however it should be a little smaller than in the screenshots.

[2018-11-22 17:09] leofeyer commented on #58
As discussed in Mumble on November 22nd, this is a bug that needs to be fixed. @ausi and @Toflar know how (or at least they know where to start looking).

[2018-11-23 08:31] leofeyer commented on #176
@Toflar /cc

[2018-11-23 11:14] kikmedia opened #198 "Consider already attached external CSS and JS files in layout settings"
**Affected version(s)**
Contao 4.6.8

**Description**
If I navigate to a sub folder in File Manager and want to edit a layout afterwards for changing something in external CSS and / or JS files, the previous selected files are gone.

Already selected external files should be considered.

**How to reproduce**
- Log into the demo, switch to file manager
- navigate to a sub folder, for example /conta

[2018-11-23 11:33] fritzmg commented on #198
Duplicate of https://github.com/contao/core-bundle/issues/1487, I think?

[2018-11-23 11:37] kikmedia commented on #198
Obviously, it is. Sorry, didn‘t check the other repository.

[2018-11-23 11:37] #198 closed, assigned to nobody

[2018-11-23 13:39] leofeyer commented on #195
By the way, it is pretty easy to A/B test this in Contao. You just have to add the following markup in your `be_main.html5` template:

[code]

It will hide all placeholder icons and leave the clickable icons in place.

[2018-11-23 14:05] Toflar commented on #58
I did know where to start looking but I did not find a way to fix it. There are actually multiple issues here. One is that the `ClearFormDataListener` clears the form data during replay-header preflight requests. This is something I could actually fix. However, that would not fix the issue either because `{{post::*}}` insert tags are converted to ESI requests to work around the page cache. Now if

[2018-11-23 14:22] asaage commented on #195
another reason why custom BE-CSS would be useful to have in the settings.
https://github.com/contao/core-bundle/issues/1664#issuecomment-412091356

I personally do not like the misalignment of the icons if those that are not functional get droped and i think gaps are not an option.
From admin point of view i think the grey icons are handy when you are editing permissions and impersonate users - it

[2018-11-23 14:29] leofeyer commented on #195
If you want to have it even easier, you can add a custom `be_main.html5` template in the templates editor in the back end and paste the following content:

[code]

[2018-11-23 14:36] asaage commented on #195
never thought about that .. 👍

[2018-11-23 14:44] Toflar commented on #176
https://github.com/contao/contao/pull/199 this should fix it.

[2018-11-23 14:55] leofeyer commented on #176
It does. 👍

[2018-11-23 14:55] #176 closed, assigned to nobody

[2018-11-23 17:54] #13 closed, assigned to nobody

[2018-11-23 21:49] benfolds commented on #172
Isn't this related to #58 ? Message/data handling when redirecting?

[2018-11-24 06:04] dmolineus commented on #163
Siehe https://github.com/contao/core/issues/8187

[2018-11-25 18:52] maettyhawk opened #200 "Session expires while working in backend"
**Affected version(s)**
Contao 4.4.28
1&1 Internet SE - Business 5.0, PHP7.2

**Description**
While working on an article in the backend for 10-20 minutes I get logged out from time to time. After logging in again a dialog appears stating that the request token isn't valid anymore. All my work I did in the meantime is gone. In the settings the session expiration time is set to the default.

**How

[2018-11-25 21:09] asaage commented on #200
Most likely related to https://github.com/contao/core-bundle/issues/1428
Even in 4.6 i'am always kicked out of the BE before ```$GLOBALS['TL_CONFIG']['sessionTimeout']``` expires.

[2018-11-25 21:54] maettyhawk commented on #200
You probably mean https://github.com/contao/core-bundle/issues/1428, right?

As suggested I set session.gc_maxlifetime to a higher value - hope it'll fix it.

[2018-11-26 02:49] aschempp commented on #58
We can use route attributes, so the fragments requests dont clears the session? Which would potentially result in the session not being cleared (if all main requests are cached), but that's still better than the current, isn't it?

[2018-11-26 06:16] georgpreissl commented on #5391
Hier mein Vorschlag zur Unterscheidbarkeit der Icons, verpackt in einem eigenen Backend-Theme:
https://github.com/georgpreissl/facelift

![bildschirmfoto 2019-01-11 um 13 18 17](https://user-images.githubusercontent.com/4385048/51033370-71867300-15a3-11e9-9069-40d9d86741fa.png)

[2018-11-26 13:50] adojck opened #202 "submitOnChange gives blank page"
**Affected version**
Contao 4.6.9

**Description**
Where `submitOnChange` is used, after selecting option, the page refreshes into blank page (no errors logged, no messages, no HTML in page). Happens with our own bundle, and with standard bundles too.

**How to reproduce**
1) Go to: Themes -> Front-End Modules -> New Module and then change Module Type, after page reloads it stays blank
2) Go to: A

[2018-11-26 14:08] fritzmg commented on #202
I cannot confirm that (Contao `4.6.9`, PHP `7.1`).

[2018-11-26 14:25] adojck commented on #202
Found the reason of this problem.

In logs showed up this:
`[warn] PHP Warning:  Cannot modify header information - headers already sent by [...]`

Headers was already sent by template file which was saved as UTF-8 with BOM.

[2018-11-26 14:25] #202 closed, assigned to nobody

[2018-11-26 14:37] adojck commented on #202
We found all files which has UTF-8 BOM with this command:
`grep -rlIR $'\xEF\xBB\xBF' `
Source: https://www.dynobin.com/linux-remove-byte-order-mark-bom-from-files/

[2018-11-27 08:06] Toflar commented on #58
No that's not possible. I've tried that but the master response is generated before the ESI responses. Otherwise, how would you know what ESI tags are present? :) So at that point, it's already too late.

[2018-11-27 11:04] leofeyer opened #203 "Get rid of the back end settings module"
This is the TODO list as discussed on the Contao Camp 2018 to get rid of the back end settings:

**Entfernen**

- [x] $GLOBALS['TL_CONFIG']['websiteTitle'] weg
- [x] Skripte komprimieren kann weg
- [x] „Auto_item aktivieren“ kann weg (siehe https://github.com/contao/contao/issues/203#issuecomment-442816612)
- [x] „Unterstützte Template-Formate“ kann weg
- [x] Datei-URL und Assets-URL nur in den Se

[2018-11-27 11:28] fritzmg commented on #203
Regarding all settings that are supposed to be moved to the user group settings: where would I define it for administrators?

[2018-11-27 11:33] leofeyer opened #204 "Contextual fields instead of redirect pages"
As discussed in contao/core-bundle#1592, we want to use contextual fields instead of redirect pages in some modules. This would affect the following core modules:

**Personal data**
  - explanation text before submitting the form
  - confirmation text after submitting the form

**Registration**
  - explanation text before submitting the form
  - confirmation text after submitting the form
  - erro

[2018-11-27 11:38] leofeyer commented on #203
Very good point! 👍

[2018-11-27 11:41] fritzmg commented on #203
Furthermore, these settings are also used in the front end 😉

[2018-11-27 11:44] fritzmg commented on #203
Please only when something is done about https://github.com/contao/contao/issues/134 😁

[2018-11-27 11:48] asaage commented on #204
maybe **comments subscriptions**

[2018-11-27 11:53] fritzmg commented on #204
Generally I do not like this approach, because any textual content should usually be editable by editors - and modules typically aren't.

However, I do not have a better idea right now 😉

[2018-11-27 12:00] asaage commented on #204
It's not about the editing of text is it?
I think the messages would still originate from the language files.

[2018-11-27 12:00] Toflar commented on #204
Looks okay to me, I just think we should allow for simple tokens in those fields. So you could go something like `Thank you ##firstname## for your subscription`.

[2018-11-27 12:03] fritzmg commented on #204
I don't think so? Or do I misunderstand it? Isn't this about adding text fields to the modules which will be displayed in the front end at various stages of the process for those modules?

[2018-11-27 12:13] asaage commented on #204
You are right - i messed it up.
Well that makes using these modules in different languages quite cubersome i guess :anguished:

[2018-11-27 12:21] asaage commented on #203
I wonder how these setting would get merged if users are in multiple different groups.

[2018-11-27 12:57] contaoacademy commented on #203
What about extensions which extend the settings module?

[2018-11-27 13:21] Toflar commented on #203
They will still be shown. They should slowly migrate away from using it just like the core itself does :)

[2018-11-27 13:42] leofeyer commented on #175
Teil 1 (verbesserte Formulierung) implementiert in 78a06362761a1a570fa9b741402bd0a95d59ad6b.

[2018-11-27 13:44] fritzmg commented on #203
But how will extensions be able to provide additional settings for the Contao Manager? Is there some concept in place already?

[2018-11-27 13:55] leofeyer commented on #204
It cannot get any more cumbersome than it is right now with having to create three additional pages with articles and content elements for one "request password" module!

We have never recommended such a practice! Modules contain textual content as well (headlines, e-mail texts, images, etc.), so if you want your editors to edit this content, just enable the necessary fields in the group settings.

[2018-11-27 14:00] Toflar commented on #203
There will be. One simple basic concept about Contao 4 is that we are talking Symfony bundles here. We want extensions/bundles to be configurable like any other bundle which means like so: https://symfony.com/doc/current/bundles/configuration.html

This means, if I'm not using the Manager, I can just install the bundle and configure it the way I like. I can do it using xml, yaml or plain old php.

[2018-11-27 14:08] fritzmg commented on #204
Well it's more a personal preference anyway ;)

[2018-11-27 14:52] leofeyer commented on #175
@ausi Soll das Array nur die Unix-Timestamps enthalten oder einen formatierten String? Und wie viele Einträge sollen es maximal sein bei einem Event, dass sich unendlich oft wiederholt?

[2018-11-27 14:57] leofeyer commented on #203
We definitely did not think about this. @backbone87 Any ideas?

[2018-11-27 15:04] fritzmg commented on #203
Imho everything that is currently within __In die Gruppeneinstellungen__ should be moved to the application configuration. And additionally you could override them in the group settings. Thus you have some defaults that apply to everyone (including administrators) but are still able to override some settings for specific backend users or groups, if you want/need to.

Furthermore, I think we should

[2018-11-27 15:06] fritzmg commented on #203
One setting is missing from the list: email of the website administrator. Should be moved to the manager as well, imho.

[2018-11-27 17:11] dmolineus commented on #204
This wouldn't replace the redirect page but provide an alternative as I remember the last Contao Call right, wouldn't it?

A regular form, created in the form generator should be adjusted as well.

[2018-11-27 17:26] leofeyer commented on #204
Contextual fields and redirect pages will coexist in Contao 4, because removing them would be a BC break. However, they will be deprecated and they will be removed in Contao 5.

[2018-11-27 19:08] ausi commented on #203
This would create problems. If for example one user creates a content element with an `<iframe>` in it, another user without this allowed HTML tag might edit the element and the `<iframe>` would get lost.

[2018-11-27 19:15] ausi commented on #58
How about rendering the `{{post::}}` tag not as ESI but inline and disable the cache if `{{post::}}` ist used?

With https://github.com/contao/contao/issues/204#issuecomment-442033835 the `{{post::}}` tag should get obsolete and we could deprecate it IMO.

[2018-11-27 19:30] ausi commented on #175
Ich denke dieselben Werte die jetzt im Template für das `Hauptdatum` zur Verfügungstehen (`date`, `datetime`, `day`, `month`).

@Toflar hat (wenn ich mich richtig erinnere) auf Mumble vorgeschlagen eine Funktion ans Template zu übergeben der man die gewünschte Anzahl übergeben kann. Dadurch muss die Berechnung auch nur durchgeführt werden wenn wirklich etwas ausgegeben wird im Template.

Ich stell

[2018-11-28 03:24] backbone87 commented on #203
These kind of settings are different from permission settings (which arent needed for admins, since they are admins). But the settings we talk about apply to admins as well, so they need to be configured for them too. If you dont want it to be set up per user, we must enable groups for admin users.

[2018-11-28 03:26] backbone87 commented on #203
to be more precise, these are the settings that apply to all users incl admins:
- Datum und Zeit für’s BE in die Gruppeneinstellungen und für’s FE wie gehabt (Seitenstruktur)
- Elemente pro Seite in die Gruppeneinstellungen
- Elemente nicht verkürzen in die Gruppeneinstellungen

these are definitely permission settings, which could be ignored for admins:
- „Erlaubte HTML-Tags“ in die Gruppeneinste

[2018-11-28 03:28] backbone87 commented on #203
furthermore, these settings should be "self-editable" in your user profile:
- Datum und Zeit für’s BE in die Gruppeneinstellungen und für’s FE wie gehabt (Seitenstruktur)
- Elemente nicht verkürzen in die Gruppeneinstellungen

[2018-11-28 07:37] fritzmg commented on #204
That would limit the amount of layouting you can do on a success page though.

[2018-11-28 07:39] fritzmg commented on #58
I don't think the `{{post::}}` insert tag will get obsolete with those changes. You might still want to show data from the form you just submitted in the contextual text field.

[2018-11-28 07:41] Toflar commented on #58
I have another idea which is not ideal but should work: We might add a `$SESSION['FORM_DATA']['TIME'] = time();` to the data and delete it only after e.g. `30 seconds`. That should be way enough for confirmation pages and it will disable caching only for a very short amount of time. During that time also existing cache entries are being invalidated (as long as we have header-replay) so we have to

[2018-11-28 09:27] fritzmg commented on #58
Hm, 10 seconds might not be enough if an SMTP server is involved (though I don't know which times count). At least I had some cases where the SMTP server took very long to actually process the outgoing email and respond.

[2018-11-28 09:28] Toflar commented on #58
It's 10 seconds from the response to the next. So really it's just the redirect. Your SMTP server could take 5 minutes (if your webserver allows it), it would not affect these 10 seconds.

[2018-11-28 09:30] fritzmg commented on #58
Yeah, then it's fine :)

[2018-11-28 11:09] Paddy0174 opened #205 "Time limit for sessionTimeout not lower than"
**Affected version(s)**
Contao 3.x, and 4.x

**Description**
The sessionTimeout value can be set as low as one second. In this case, the user will be logged out straight after logging in.

There should be a minimum value, let's say at least 60 seconds.

See [the corrsponding thread in the community board](https://community.contao.org/de/showthread.php?72745-Contao-3-5-Zeit-f%C3%BCr-automatisches-L

[2018-11-28 11:23] Ainschy commented on #205
Die Verantwortung liegt nach meiner Auffassung beim Admin der Zugriff auf die Systemeinstellungen hat.

Zu mal der Wert in der localconfig korrigiert werden kann.

[2018-11-28 11:28] fritzmg commented on #205
Also a value of 60 seconds seems very arbitrary. As @Ainschy said, it is the responsibility of the administrator to set correct values there. And if he did use "incorrect" values, it's in their responsibility to change them again.

[2018-11-28 11:45] dmolineus commented on #204
So I got it wrong. Otherwise I would have voted against it as I already have such requirements where a jump to page is useful:

- Module is placed in the footer/somewhere in the layout where the confirmation message wouldn't be noticed very well
- Required content of redirect page wouldn't fit in the layout of the actual module
- Target tracking based on tracking the redirect page access (Yeh, I k

[2018-11-28 12:05] Toflar commented on #204
Yeah imho deprecating makes no sense. They can happily co-exist because they cover different use-cases.

[2018-11-28 12:28] Paddy0174 commented on #205
As said in the thread, I'm with you, that an Admin should know, what she/he is doing.

On the other hand, it is, as far as I know, the only setting, where you can log out an Admin in a running system. There are other settings, that can break your Admin account, but all of these settings break your page as well. This setting doesn't.

And btw not all Admins have an account for the FTP server to cha

[2018-11-28 15:21] leofeyer commented on #98
Implemented in 86f5fefde96b41c06bc82d164ef090acef651a9a.

[2018-11-28 15:21] #98 closed, assigned to leofeyer

[2018-11-28 16:16] leofeyer commented on #204
@dmolineus What kind of module?

[2018-11-28 16:56] leofeyer commented on #205
That's a point for sure. We have also added routines so admins cannot accidentally remove the `admin` flag on their own accounts, therefore adding the `minlength` attribute sounds reasonable.

[2018-11-29 07:33] minstyle opened #207 "Contao Frontend-Vorschau: Fehlende Mitgliederauswahl"
**Affected version(s)**
contao/core-bundle 4.4.29
contao/core-bundle 4.6.8

**Description**
In der Frontend-Vorschau von Contao werden keine Benutzernamen aller verfügbaren Mitglieder zur Auswahl angezeigt.

**How to reproduce**

_Wie in der offiziellen Contao Online Demo (https://demo.contao.org) zu sehen:_

Mitglieder erstellen:
![image](https://user-images.githubusercontent.com/2649562/49205973

[2018-11-29 07:56] Toflar commented on #207
Die werden schon seit jeher mit Ajax nachgeladen. Du musst tippen, sonst wäre die Liste bei 5000 Mitgliedern ganz schön lang.

[2018-11-29 08:15] minstyle commented on #207
Danke für die Info!

[2018-11-29 08:15] #207 closed, assigned to nobody

[2018-11-29 11:40] leofeyer commented on #203
It turns out that `$GLOBALS['TL_CONFIG']['websiteTitle']` is also used here:

<img width="574" alt="" src="https://user-images.githubusercontent.com/1192057/49219533-e5920080-f3d3-11e8-973b-190b3cce3ba4.png">

<img width="489" alt="" src="https://user-images.githubusercontent.com/1192057/49219538-e7f45a80-f3d3-11e8-8b33-28ea16d7c6ff.png">

What would we show there instead if we removed the setting

[2018-11-29 11:55] Toflar commented on #203
First one can just remain as is, imho. Hardcoded. And the second one can just be dropped?

[2018-11-29 12:06] fritzmg commented on #203
This is a bit dangerous, if it still remains a simple text input field. A regular user might define a date format that cannot be parsed by either PHP or the date picker JavaScript.

Date and Time settings for _back end input fields_ should be a dropdown with common, valid values.

Date and Time settings for the _front end output_ can remain as text input fields, since their invalidity cannot break

[2018-11-29 12:12] fritzmg commented on #203
As an alternative, may be the first case can still be altered via translations or a template, if anybody wants to?

[2018-11-29 12:30] leofeyer commented on #203
I don't remember why this can be removed. Did we agree on always activating it?

[2018-11-30 11:15] frontendschlampe commented on #204
Actually we're updating our extension https://github.com/hofff/contao-formtools and in version 3.0.0-rc1 we've added the feature for an alternative message within a normal form if no redirect page is selected. In the form settings you can place an individual text for success and error message.

We will make some testings now and we hope, that we can release a stable version soon.

[2018-11-30 14:57] aschempp commented on #98
Also implemented in https://github.com/contao/contao-manager/commit/70d14c7bf57e25352ad47a3d53979afb159b5a7c

[2018-11-30 15:04] zonky2 opened #208 "[4.4] zwei Newsletter-Anmeldung-Widgets auf einer Seite - man kommt nicht über die Sicherheitsabfrage"
Contao 4.4.21

Ich habe zwei Newsletter-Anmeldung-Widgets auf einer Seite - 1x Fußzeile und 1x "oben" auf der Seite Newsletter.

Wenn man seine E-Mail eingibt, kommt beim ersten Versenden die Sicherheitsabfrage und danach kommt diese immer wieder mit der Meldung, man hätte falsch gerechnet.

[2018-11-30 15:10] fritzmg commented on #208
Du musst immer auf die neueste Contao Version aktualisieren und dann erst testen und dann erst ggf. einen Bug Report machen.

[2018-11-30 15:35] zonky2 commented on #208
die C 4.4.21 ist die "aktuellste" (im LTS-Zweig)

ob "Bug oder Feature" kann ich so nicht entscheiden

[2018-11-30 16:10] netzarbeiter commented on #208
Die aktuelle Contao-Version im LTS-Zweig ist [4.4.29](https://github.com/contao/contao/blob/4.4/CHANGELOG.md) vom 22. November 2018.

[2018-11-30 16:32] zonky2 commented on #208
o.k. - habe über den Manager ein Update gemacht und Contao bleibt auf der 4.4.21 - meldet auf der Konsolenausgabe aber auch nicht, dass eine Abhängigkeit am Update hindert.. hmmm

[2018-11-30 16:54] zonky2 commented on #208
o.k. - alle Pakete geupdatet ... nun Contao 4.4.29

selber Effekt :(

[2018-11-30 17:27] fritzmg commented on #208
Siehe https://github.com/contao/contao/issues/10#issuecomment-416487202

Dass zwei mal das selbe Formular auf der Seite einbinden nicht funktioniert ist denke ich eine known limitation. Du musst zwei verschiedene Formulare erzeugen.

[2018-11-30 21:31] maettyhawk commented on #200
Still not working properly :cry:

[2018-11-30 22:31] zonky2 commented on #208
o.k. - hatte das für FE-Modul der Anmeldung so nicht auf dem Schirm

[2018-11-30 22:31] #208 closed, assigned to nobody

[2018-12-03 09:16] jankout opened #209 "Add class "empty" directly to mod_eventlist too"
Hello,

I think it would be nice to add the class _empty_ to the div _mod_eventlist_ because I would usually like to handle the whole div block, not only the message box inside the main div block. I'm not the only one who has this problem - see your forum. Thank you.

[2018-12-03 09:33] seibtph opened #210 "News: in neuen Fenster öffnen funktioniert nicht"
**Affected version(s)**
Contao 4.6.x

**Description**
Die Option "In neuem Fenster öffnen" funktioniert bei News nicht. Stattdessen wird die Seite im gleichen Fenster geöffnet.

**How to reproduce**
Ich konnte es auf der Demo-Seite ebenfalls reproduzieren: https://demo.contao.org/en/news.html

1. Beitragseinstellungen einer News öffnen
2. Bei Weiterleitungsziel Individuelle URL auswählen
3. In neu

[2018-12-03 10:47] fritzmg commented on #210
Diese Option bezieht sich nur auf das Teaser Bild, nicht auf die News an sich. Bei aktivierter Option wird das Teaser Bild in einem neuen Fenster bzw. einer Lightbox angezeigt.

[2018-12-03 15:06] #81 closed, assigned to nobody

[2018-12-03 15:23] leofeyer commented on #209
You can adjust the template accordingly – see the forum.

[2018-12-03 15:23] #209 closed, assigned to nobody

[2018-12-03 15:24] leofeyer commented on #210
Ich denke @seibtph meint das hier:

<img width="843" alt="" src="https://user-images.githubusercontent.com/1192057/49382913-dda9c780-f717-11e8-9409-d6663cc40489.png">

[2018-12-03 15:25] fritzmg commented on #210
Ah, sorry ^_^

[2018-12-03 15:28] jankout commented on #209
Ok. I think it would be better to implement it for the core too.

it could be small, but significant improvement of the developer experience.

[2018-12-03 16:10] m-vo commented on #209
It would be a breaking change as well.

Am Mo., 3. Dez. 2018, 16:28 hat Jan Kout <notifications@github.com>
geschrieben:

[2018-12-04 06:56] zonky2 opened #211 "Logout-Seite: Weiterleitungsseite oder "Zur zuletzt besuchten Seite""
Im Seitentyp "Logout" müsste m.E. keine Weiterleitungsseite definiert werden, wenn die Checkbox "Zur zuletzt besuchten Seite" gesetzt wird - aktuell kommt eine Fehlermeldung

![screenshot_290](https://user-images.githubusercontent.com/1045318/49424173-1c806180-f79a-11e8-854e-105de871eaba.jpg)

Vorschlag:
* Checkbox und PagePicker Position wechseln
* PagePicker ausblenden, wenn Checkbox gesetzt ist

[2018-12-04 07:17] ausi commented on #211
Wenn die zuletzt besuchte Seite nicht ermittelt werden kann, wird auf die Weiterleitungsseite geleitet. Das ist vermutlich der Grund warum die Weiterleitungsseite auch bei aktivierter Checkbox ein Pflichtfeld ist.

[2018-12-04 07:18] #211 closed, assigned to nobody

[2018-12-04 08:20] Seefahrer opened #212 "Error after update of doctrine/dbal to v2.9.0"
Contao 4.6.9:
After updating (with some difficulties) the CM to v1.1.1 I did run a package update which updated "doctrine/dbal" to v 2.9.0.

Now the contao/install route throws fllwg error:

`
2018-12-04 09:01:30] request.CRITICAL: Uncaught PHP Exception Doctrine\DBAL\Exception\SyntaxErrorException: "An exception occurred while executing 'SELECT COLUMN_NAME AS Field, COLUMN_TYPE AS Type, IS_NULLAB

[2018-12-04 08:42] ausi commented on #212
This is related to the following line I think: https://github.com/contao/contao/blob/1f5396301d031a2dfe5ff59f682b9d86e9caac01/installation-bundle/src/InstallTool.php#L165

Maybe we should just query all columns instead and get the entry for `sections` via PHP?

[2018-12-04 08:45] zonky2 commented on #211
dann wäre ein Hinweis auf die Fallback-Funktion im Text des Pickers sicher prima...

[2018-12-04 09:35] qzminski commented on #212
@ausi it is related to that line but also to others such as https://github.com/contao/installation-bundle/blob/4.4/src/Database/Version350Update.php#L36

[2018-12-04 10:44] leofeyer commented on #212
Fixed in 8be90c341c9b1cf8ee46a7ef5748f0e89cc82cd9.

[2018-12-04 10:44] #212 closed, assigned to leofeyer

[2018-12-04 10:47] leofeyer commented on #205
Fixed in efae12ea5cb6ae4c3641434f840f756ced6825f6.

[2018-12-04 10:47] #205 closed, assigned to leofeyer

[2018-12-04 10:58] Seefahrer commented on #212
Just to get a clue ...

Where do I need to apply those changes in Contao 4.6.9 ?

[2018-12-04 11:05] leofeyer commented on #212
Just wait for Contao 4.6.10. It will be released today.

[2018-12-04 11:29] seibtph commented on #210
@leofeyer Genau das meinte ich.

[2018-12-04 11:35] leofeyer commented on #181
Fixed in f4217a579820b9b1ea5d96449e54fdc48de2c0f3.

[2018-12-04 11:35] #181 closed, assigned to leofeyer

[2018-12-04 12:21] michb opened #213 "Installtool unter 4.5.14 wirft Fehler"
Wenn man ein Contao Version 4.5(.14) neu aufsetzt erhält man nach dem "aktualisieren" der Datenbank im Installtool eine Fehler. Der Fehler dürfte auch bei Installationen auftreten die geupdated wurden, hab ich aber nun nicht getestet,
![image](https://user-images.githubusercontent.com/17873830/49440890-35523c80-f7c5-11e8-8103-a41246ccf409.png)

Unter Version 4.6.9 tritt dieser Fehler nicht auf.

P

[2018-12-04 12:26] Toflar commented on #213
Contao 4.5 ist nicht mehr supported. https://contao.org/en/release-plan.html

[2018-12-04 12:26] m-vo commented on #213
4.4 oder 4.6 / 4.5 ist unsupported.

[2018-12-04 12:27] fritzmg commented on #213
Duplicate of #212

[2018-12-04 12:28] michb commented on #213
ok, danke daran hatte ich nicht gedacht. Kann also geschlossen werden

[2018-12-04 12:30] #213 closed, assigned to nobody

[2018-12-04 12:36] leofeyer commented on #113
Why does this have to be configurable in the `parameters.yml`? You should use the `config.yml` for this kind of things.

[2018-12-04 12:46] fritzmg commented on #113
Indeed :)

(and I can use parameters from the `parameters.yml` myself in the `config.yml` anyway)

[2018-12-04 12:46] #113 closed, assigned to nobody

[2018-12-04 13:44] tschero commented on #108
I can confirm this issue using a well filled templates folder. A big Problem if it´s not possible for a user to rise the memory_limit.

[2018-12-04 13:44] leofeyer commented on #72
@fritzmg We still have no solution for this one, have we?

[2018-12-04 13:54] leofeyer commented on #128
Changed in e9334ee0e3a684ab349e1d5fac7cff35901964c0.

[2018-12-04 13:54] #128 closed, assigned to Toflar, leofeyer

[2018-12-04 14:13] fritzmg commented on #108
@tschero in the mean time you can use the [aforementioned workaround](https://github.com/contao/contao/issues/108#issuecomment-431841621).

[2018-12-04 14:26] fritzmg commented on #72
Hm, how about:
[code]
I think this (crude) solution would actually cover all 3 aforementioned cases, wouldn't it?

* If the language is added to the URL, we can omit the alias.
* If there is only one website root for a domain (or no specific one), we can omit the alias.
* If there is actually two or more website roots for a domain, we cannot omit the alias.

[2018-12-04 15:47] dmolineus opened #214 "Form is rendered twice"
**Affected version(s)**

Tests in Contao 4.6, but probably 4.4 will be also affected.

**Description**

I stumpled upon an issue that a `parseTemplate` hook, which should listen to the `form_wrapper` template got called twice, I realised that the form template is parsed twice.

*Rendered in the hybrid*
https://github.com/contao/contao/blob/10ba74288a43fef2dadd37e970130d2ce4dd35ed/core-bundle/src/R

[2018-12-04 20:21] leofeyer commented on #72
I think this could work. 👍 Thank you.

[2018-12-05 07:57] leofeyer commented on #210
Ich kann das Problem in der Onlinedemo nicht reproduzieren:

<img width="763" alt="" src="https://user-images.githubusercontent.com/1192057/49498545-ae0bd400-f86b-11e8-9521-6513d647197f.png">

[2018-12-05 08:42] seibtph commented on #210
Wenn man der News ein Bild hinzufügt wird der Link nicht im neuen Fenster geöffnet. Beim Titel funktioniert es, das stimmt.

![contao-46-news-bildlink](https://user-images.githubusercontent.com/17127525/49500841-e31b2500-f871-11e8-893f-7b69a084aa0c.png)

[2018-12-05 08:54] fritzmg commented on #210
Dass das Bild mit der News verlinkt ist, ist erst vor kurzem hinzu gekommen, daher gab es dieses Problem vorher noch nicht.

Wenn "Großansicht/Neues Fenster" für das Bild __nicht__ ausgewählt wurde, dann sollte der Bildlink vermutlich auch auf die generelle News Einstellung "In neuem Fenster öffnen" reagieren, falls gesetzt.

[2018-12-05 09:40] seibtph commented on #210
Die Option "Großansicht/Neues Fenster" beim Bild habe ich gar nicht angehakt.

[2018-12-05 10:12] leofeyer commented on #72
This feature does not really work I'm afraid.

* English (alias `english`)
  * Home (alias `index`)
* Deutsch (alias `deutsch`)
  * Startseite (alias `startseite`)

The module generates the following links:

* `http://localhost/english.html`
* `http://localhost/deutsch.html`

However, when I click on `http://localhost/english.html`, the following happens:

* `FrontendIndex::renderPage()` recognize

[2018-12-05 10:36] leofeyer commented on #72
Fixed in 0fbe25d770c84aa08deed18d9797919e02171fd5.

[2018-12-05 10:36] #72 closed, assigned to leofeyer

[2018-12-05 11:56] fritzmg commented on #210
Ja, das meine ich ja. Wenn diese Option beim Bild _nicht_ angehakt ist, dann sollte Contao für den Bildlink weiterhin die Option "In neuem Fenster öffnen" berücksichtigen.

Mit _sollte_ meine ich hier: in einer der nächsten Versionen ;)

[2018-12-05 17:26] birdmedia commented on #134
As the complaints about this error are increasing - is there any solution to this problem? Should users with disabled cookies really be prevented from using contact forms? Aren't there any more convenient solutions? In terms of security, I can't fully evaluate how critical it would be to disable the request tokens / cookies.

[2018-12-05 17:34] fritzmg commented on #134
@birdmedia are you using the latest Contao and dependency versions? There was an issue where this could occur even if you have cookies enabled. See https://github.com/contao/website/issues/109

[2018-12-05 17:56] birdmedia commented on #134
@fritzmg The problem seems to occur in 4.6.6 and previous versions. I will have a look at it, thank you. The  question concerning cookies is still pending. 😉

[2018-12-05 22:19] ausi commented on #72
I’m not sure if this is the correct fix. Wouldn’t the setup you described be broken anyways? (regardless of a custom navigation modules)

[2018-12-06 07:36] leofeyer commented on #72
Probably yes.

[2018-12-06 08:21] fatcrobat opened #215 "Semantic Versioning: Please do not delete tags"
**Affected version(s)**
4.4.x

**Description**

Tried to update an project (contao 4.4.26 version) via composer update and getting tons of  these messages

[code]

In semantic versioning it is forbidden to remove tags in order to prevent such lost in nirvana messages.

**How to reproduce**

Have these versions in your `vendor/composer/installed.json` (outdated install) and try to update via compos

[2018-12-06 08:25] fatcrobat commented on #215
Update: Not only your packages had an 4th version number, also any other components… Deleted `vendor/composer/installed.json` and now it works....

[2018-12-06 08:25] #215 closed, assigned to nobody

[2018-12-06 10:25] christian-kolb opened #216 "ContaoModuleBundle not compatible with Symfony 4 flex"
**Affected version(s)**
4.*

**Description**
When running Contao as a Symfony bundle, you have to include the "old modules" to your `AppKernel` through the `ContaoModuleBundle` like for example:

[code]

Which means you have to use parameters for the initialization of the module bundle.

In Symfony 4 there is a `bundles.php`, where the bundles are listed the following way:

[code]

Meaning there i

[2018-12-06 12:11] Olli opened #217 "Update from 3.3 to 4.6 doesn't find tl_image_size"
Update from 3.3 to 4.6 gives  the error:
`
An exception occurred while executing '     SELECT                 id             FROM                 tl_image_size         ':  SQLSTATE[42S02]: Base table or view not found: 1146 Table 'table.tl_image_size' doesn't exist" at /path/vendor/doctrine/dbal/lib/Doctrine/DBAL/Driver/AbstractMySQLDriver.php line 42 {"exception":"[object] (Doctrine\\DBAL\\Except

[2018-12-06 12:18] fritzmg commented on #217
You cannot update a Contao 3.3 installation to Contao 4. You need to update to the latest Contao 3.5 version first.

[2018-12-06 12:26] Olli commented on #217
Ok that's something I didn't know. I just added the tl_image_size and tl_image_size_item table structure and it obviously worked.
Ok thanks.

[2018-12-06 12:26] #217 closed, assigned to nobody

[2018-12-06 12:33] Olli commented on #217
No it didn't work ... the image-GUID thing make my life hard ;-)

[2018-12-06 12:47] fritzmg commented on #217
Just update to Contao 3.5.36 first ;)

[2018-12-06 15:08] leofeyer commented on #204
I do not support having three redirect pages **and** three contextual fields in the "lost password" module, just so people can choose between two concepts. That is overkill IMHO.

[2018-12-06 15:11] patrickjDE opened #218 "Install Tool shows wrong console command"
**Affected version(s)**
4.4.30

**Description**
When the install tool is locked, the error message tells the user to run `vendor/bin/contao-console contao:install:unlock`. If contao is not installed as a managed edition, the contao-specific console file does not exist and the command obviously fails.

Is it possible to detect this case and show the correct command `bin/console contao:install:unloc

[2018-12-06 15:12] leofeyer commented on #218
@aschempp Another reason why we should have `bin/console` in the managed edition. 🙈

[2018-12-06 15:15] leofeyer commented on #210
Betrifft das nur Contao 4.6 oder auch Contao 4.4?

[2018-12-06 16:30] leofeyer commented on #175
Teil 2 (`$this->getPastDates()` und `$this->getUpcomingDates()`) implementiert in c7dcbe33297a9db3049485438068a3112d46a9f9.

[2018-12-06 16:30] #175 closed, assigned to leofeyer

[2018-12-06 16:42] seibtph commented on #210
@leofeyer Dass das Bild in der News verlinkt ist, ist ja erst in der 4.6 dazugekommen? Dann betrifft es nur die 4.6.

[2018-12-06 18:11] Toflar commented on #175
Any reason why you don‘t include it in event_full for example? Imho we should show what‘s possible there :)

[2018-12-07 08:30] leofeyer commented on #187
Implemented in d0acba77a586243068595fd95b799965391690aa.

[2018-12-07 08:30] #187 closed, assigned to leofeyer

[2018-12-07 08:53] leofeyer commented on #184
Changed in b7acf28b6084f328cd3a5574a2765d282bbb30a0.

[2018-12-07 08:53] #184 closed, assigned to leofeyer

[2018-12-07 09:06] leofeyer opened #219 "User::setUserFromDb() called multiple times"
**Affected version(s)**

Contao 4.6+

**Description**

The `$user->setUserFromDb()` is meant to be called only once per user instance, because it it a rather "heavy" method. However, the `User::loadUserByUsername()` method, which calls `$user->setUserFromDb()`, is executed multiple times now that we are using Symfony security.

**How to reproduce**

Add `dump($this->username);` in the `BackendUser

[2018-12-07 09:25] m-vo commented on #219
Why is ``setUserFromDb`` "heavy"? Shouldn't the model calls in there be cached already?

[2018-12-07 09:43] leofeyer commented on #219
It still makes no sense at all to execute the same logic four times or more if the result never changes, does it?

[2018-12-07 10:53] frontendschlampe opened #220 "eliminate additional reader page in URL for list/reader items"
Is it possible to eliminate the additional reader page in URL for News, Events, FAQ etc. Here an example:

**Current behavior:**

Listing: ```https://demo.contao.org/en/news.html```
Details: ```https://demo.contao.org/en/news-detail/new-contao-versions-in-short-intervalls.html```

**Correct behavior:**

Listing: ```https://demo.contao.org/en/news.html```
Details: ```https://demo.contao.org/en/news

[2018-12-07 11:01] fritzmg commented on #220
Just use the following on your `news.html` page:
[code]

[2018-12-07 11:04] leofeyer commented on #220
Isn't this what we have implemented in #161?

[2018-12-07 11:06] fritzmg commented on #220
I think you mean https://github.com/contao/news-bundle/pull/39 :)

[2018-12-07 11:11] leofeyer commented on #220
#161 is about overwriting the page title. If you used `{{page::pageTitle}}` in the H1 of the page, it would be replaced with the news title now.

[2018-12-07 11:34] frontendschlampe commented on #220
@fritzmg I don't want to add list and reader on the same page.
@leofeyer I don't mean the page title. I mean the headline and intro text in the content area.

I have two pages: one news list page and one news detail page, because the information on both page should be different. For example:

The news list page includes in main area an intro headline, a text and the news list module for all news a

[2018-12-07 11:39] fritzmg commented on #220
Currently this can only be done with an (~ugly) workaround. Isotope does the same, when using a different page for the product reader: the generated URL for the detail page will still look like it's the auto_item for the list page - however via the `getPageIdFromUrl` hook, Isotope tells Contao to actually render a different page.

I am not sure how a more general solution for Contao would look lik

[2018-12-07 11:50] frontendschlampe commented on #220
@fritzmg yes ... I know. That's why I create this issue! ;-)

[2018-12-07 11:57] leofeyer commented on #220
Again, just use `{{page::pageTitle}}` and `{{page::pageDescription}}` as headline and text on the reader page. It will be replaced by the news title and description as of Contao 4.7.

[2018-12-07 12:01] frontendschlampe commented on #220
@leofeyer Again ... title and description are irrelevant ... please check my comment https://github.com/contao/contao/issues/220#issuecomment-445206152

btw. I don't want to have my meta information in content of my page ...

[2018-12-07 12:10] fritzmg commented on #220
@leofeyer this is about something more fundamental which is currently not easily possible in Contao. @frontendschlampe wants to have two completely different page layouts for the list view and the reader view - yet the URL (from Contao's perspective) should stay the same. As I said, the Isotope shop from @terminal42 currently works around this by hooking into `getPageIdFromUrl` and then just let C

[2018-12-07 12:26] dmolineus commented on #220
Since Contao 4.6 there is the `requireItem` in a page (https://github.com/contao/contao/pull/186#issuecomment-445185083). Maybe it could be used to adopt the page id determination so that the detail page is rendered even it's not present in the url - the same as isotope does according to @fritzmg.

But probably there would some edge cases which might lead to unexpected behaviour. For instance, onl

[2018-12-07 12:32] reluem opened #221 "FAQ Reader: make tstamp of item accessible within reader template"
**Description**
The current FAQ Reader module outputs a wrong tstamp via $this->tstamp. The reader module always shows the tstamp of the module itself, not of the faq entry it is displaying.

The only way to currently access the tstamp of a FAQ entry is to either manipulate the [$this->info ](https://github.com/contao/faq-bundle/blob/c12bfef2eb354d141c7e1ede97d36a33e2edac0e/src/Resources/contao/mo

[2018-12-07 12:33] fritzmg commented on #220
I was thinking the same, but then you have the problem of having two pages in your site structure, both of which have valid, but different URLs.

* `https://example.org/shop/product-lorem-ipsum.html` and
* `https://example.org/product-detail/product-lorem-ipsum.html`

both show the same content. Of course Isotope takes care of that by not writing the latter into the sitemap or showing this URL any

[2018-12-07 12:36] fritzmg commented on #221
It's not exactly wrong, as already explained on the community forum. In any `mod_` template, you have access to the _module's_ data via `$this`.

Those are two completely different types of templates. One is a module template and the other one is an "element" template. The FAQ bundle currently does not have the latter.

[2018-12-07 12:39] reluem commented on #221
Yes, agree, they are different templates. I wanted to illustrate how the expected functionality (IMO) should act.

Wouldn't it be easier anyways (more flexible at least) to decouple the author and tstamp from $this->info and provide them as separate keys in the module's data?

If I'm the only one questioning this, I am also fine using your proposed solution.

[2018-12-07 15:57] leofeyer commented on #134
Visitors can no longer send forms in Contao 4.6 if they have disabled cookies, because we are now using a technique called "double submit cookie" to prevent cross-site request forgery (CSRF) attacks. This is nothing we can change (or you should disable), because Contao would be vulnerable to this kind of attack then.

So a warning in the form (or even a disabled submit button) seems a reasonable i

[2018-12-07 16:18] #170 closed, assigned to nobody

[2018-12-07 16:24] leofeyer commented on #172
No, it is not related IMHO.

[2018-12-07 16:39] leofeyer commented on #220
I don't think there is a solution to this problem at all – except using separate pages for the news list and reader modules.

@frontendschlampe Maybe you can set up some kind of rewrite rule that internally rewrites requests with an item `en/news/foo.html` to `en/news-detail/foo.html`?

[2018-12-07 16:42] fritzmg commented on #220
The output of the URLs would also need to be changed.

Imho this is something worth looking into. May be we can work out a concept for stuff like this.

[2018-12-07 16:45] frontendschlampe commented on #220
The rewrite rule is not the problem. The problem is the additional URL-fragment ```news-detail``` and it's there even if there's a rewrite rule! ;-)

We should have this thing in mind for the future!

[2018-12-07 16:48] leofeyer commented on #220
Of course you have to adjust the target page of the new archive to point to the `news` page.

I think that this is a very special case that the majority of users does not have. But let's see what others say.

[2018-12-07 16:59] frontendschlampe commented on #220
You understand me wrong: I mean that a redirect doesn't change anything. It's just add another possibility to reach one and the same page. A redirect could have negative effects for the website, too: per news I have two URL

Then I have special clients because nearly every client wants to have it. ;-)

[2018-12-07 17:42] fritzmg commented on #220
Imho it's not a special case at all. The URL structure
[code]
is pretty common, I think.

[2018-12-07 19:46] leofeyer commented on #220
That was not what I referred to (see what I have quoted above).

[2018-12-07 20:45] fritzmg commented on #220
Ah, you mean the different layout - I still agree with @frontendschlampe there, we usually do not have the same content/layout for the list and the detail page when it comes to news entries.

[2018-12-10 09:17] derastronaut opened #224 "Benutzer ohne Adminrechte darf keine Templates bearbeiten"
Betrifft Contao 4.6.10

Lege ich einen Benutzer ohne Adminrechte an, gebe diesem Benutzer die Erlaubnis Templates zu bearbeiten (Gruppenrechte oder individuelle Rechte ist egal), erhalte ich die Fehlermeldung `Not enough permissions to edit the file source of file "templates/fe_page.html5".`, wenn ich den Quelltext eines Templates bearbeiten möchte.

Templates angelegen, löschen, verschieben, Name

[2018-12-10 12:42] Toflar opened #225 "Add an onshow_callback"
I would like to have an `onshow_callback` so I can somehow add/modify the output in `DC_Table::show()`. This has bothered me for a long time already. You can't do anything there other than overriding the DC. Imho this is rather an easy pick and it would be great to have anybody else contribute so I don't have to 😄

Also, kind of related: There's no built in handling for `eval->csv` and `foreignKey

[2018-12-10 14:02] James90 opened #226 "Issue with leafo/scssphp version 0.6"
**Affected version(s)**
Contao 4.4

**Description**
Sasscompiler Leafo/sassphp in version 0.6 has issues with mix-function  check: https://github.com/leafo/scssphp/issues/551

This was fixed with version 0.7.6

**How to reproduce**
check example: https://github.com/leafo/scssphp/issues/551

**How to resolve**
Please change requirements for leafo/scssphp to version 0.7.6 or higher

[2018-12-10 14:15] arboc commented on #226
👍  same here

[2018-12-10 20:04] leofeyer commented on #224
Und in Contao 4.4 funktioniert es?

[2018-12-10 21:18] ausi commented on #224
Wurde in den Berechtigungseinstellungen im Bereich „Filemounts“ die Checkbox „Dateien im Quelltexteditor bearbeiten“ aktiviert?

[2018-12-11 14:05] aschempp commented on #218
It is not possible to know the location of the console in a non-managed edition. Therefore, we should not show/alter this message if `contao/manager-bundle` is not installed …

[2018-12-11 14:25] aschempp commented on #219
This code will not work if a member and user has the same username. I would rather want to find out why the code is called 4 times than just ignore subsequent calls…

[2018-12-11 15:17] Paddy0174 opened #228 "Member should reflect new "gender models""
**Description:** The new gender policy (at least here in Germany) is going forward, so we should discuss the possibility, to make a third gender possible in tl_member. For now, there are only the two "usual" possibilities (male,female), but there should be added a third option.

I know, kind of a very special request. Tbh I wouldn't have thought of it, a client of mine is in the LGBT community, an

[2018-12-11 15:21] xchs commented on #228
divers / diverse

[2018-12-11 15:31] Toflar commented on #228
I don't think a member of the LGBT community would denote themselves as being "undecided". They very much know what they are, they're just not either "male" or "female" 😄 I'm 120% in for this change, we want to address everybody in our community! 🏳️‍🌈 ❤️
I just really don't know what the best options would be here.
I'm sure the Symfony Diversity initiative can help us here and somebody would be wi

[2018-12-11 15:57] leofeyer commented on #228
Haha, as if three options would cover it. Facebook has no less than [50 options](https://www.lifewire.com/edit-gender-identity-status-on-facebook-2654421
):

<img width="499" alt="" src="https://user-images.githubusercontent.com/1192057/49812379-99e13e80-fd65-11e8-8bde-01dde01c959d.png">

I really do not know where to draw the line here, but "neutral" or "undecided" is certainly not solving any pr

[2018-12-11 16:08] zanbaldwin commented on #228
(coming from [#diversity](https://symfony-dev.slack.com/))

I don't know anything about Contao, but the best way to deal with this is to just not ask for gender and always use gender-neutral terms - does the application absolutely require salutation? That would also mean one less piece of information to worry about in regards to data protection and GDPR.

If gendering your users is required, then

[2018-12-11 16:18] Toflar commented on #228
After having a nice conversation on the Symfony Slack channel, here's my conclusion:

In fact, you don't need to know the gender of anybody to provide services. At least personally, I can't imagine any use case at the moment where the gender would be relevant at all.
Also in respect to GDPR, just don't collect data if you don't need it. So best would be to actually remove the `gender` option compl

[2018-12-11 16:22] derastronaut commented on #224
Verdammt, ja, das war's...

Mir war nicht bewusst, dass das mit Templates zusammenhängt. Sorry für die Umstände.

[2018-12-11 16:26] leofeyer commented on #224
@contao/developers Macht es überhaupt jemals Sinn, einem Benutzer den Template-Editor freizugeben aber nicht das Bearbeiten der Dateien? IMHO sollten wir das im Template-Editor immer erlauben.

[2018-12-11 16:27] Toflar commented on #224
In meinen Augen macht es niemals Sinn, dem Benutzer überhaupt Zugriff auf die Templates zu geben...

[2018-12-11 16:30] leofeyer commented on #228
Yes please, especially since we are not using the field anywhere!

The BC promise does not include the existence of database fields, but I know what you mean. I still think we could remove the field in one of the next minor versions.

[2018-12-11 16:33] fritzmg commented on #228
https://docs.contao.org/books/manual/4.4/en/04-managing-content/newsletters.html
[code]
People might not like it, if they lose this information from one minor version to the next.

[2018-12-11 16:35] leofeyer commented on #228
Could be solved by a salutation/title field as @zanbaldwin has suggested above.

[2018-12-11 16:35] Toflar commented on #228
Exactly.
We might want to replace it by a `salutation` **text field** which accepts whatever you want to enter and then you'd be able to go for `##salutation## ##firstname## ##lastname##`.

Still, I'm all in for removing the field. If we do it, we will also raise awareness in the community and people will think about whether they actually do need the information or not 😄 That would be a goal worth

[2018-12-11 16:38] zanbaldwin commented on #228
I recommend removing the gender field, but keeping `##gender##` that automatically replaces with the text `REDACTED DUE TO GDPR` :heart:

[2018-12-11 16:40] fritzmg commented on #228
Not sure how this would work. In English you would need `Dear Mr` or `Dear Mrs`. However, in German you would need `Sehr geehrte Frau`, `Sehr geehrter Herr`. What exactly would the `salutation` field contain? Wouldn't it still need to be the gender basically?

[2018-12-11 16:48] Toflar commented on #228
You would just do `Hi ##firstname## ##lastname##`. And translations do not matter for salutation because you'd enter it in your own language anyway. If you happen to submit a form on a German page and have an English salutation, you'd get a mix. So what? 😄

[2018-12-11 16:52] fritzmg commented on #228
Ok, so you want to fill the field with `Sehr geehrte Frau` for example directly :)

Just clarifying and pointing out what users usually do with the `gender` field, I don't really care about it. But at least here in Austria, people are still pretty conservative when it comes to stuff like this. Not necessarily about acknowledging other genders - but about salutations for example.

[2018-12-11 18:09] Paddy0174 commented on #228
Thanks a lot to all for the input! Really great to see, people here think about such things! Thanks for that, it's appreciated. And in the name of my client (and good friend), he congrats "us" (like in Contao Community) for the great response on this topic!

I'm as well for removing the gender field completly (but I feared asking...), that would give the perfect possibility for an addOn to bring b

[2018-12-11 18:16] Paddy0174 commented on #224
Es macht keinen Sinn, im Grunde ein- und denselben Zugriff in den Rechten aufzuteilen. Ich finde schon, dass es die Genehmigung an sich aber geben sollte.

Grundsätzlich macht es natürlich wenig Sinn, einem Benutzer die entsprechenden Rechte zu geben, aber gerade aus der eher "technischen" Sicht kann ich mir das durchaus vorstellen. Die Technik macht die Administration der Seite, der Benutzer "Gra

[2018-12-12 07:32] leofeyer commented on #224
@Paddy0174 Der Grund für @Toflar's Aussage ist, dass jeder, der ein Template bearbeiten darf, vollen Zugriff auf das System hat. Er kann sich selbst zu einem Administrator machen oder irgendwelche Sachen installieren oder <was auch immer mit PHP möglich ist>. Die Grafikabteilung ist somit implizit ebenfalls Administrator.

[2018-12-12 09:55] arno1979 opened #229 "Newsletter subscribe modul in page layout always triggers captcha"
**Affected version(s)**
I experienced the problem in 4.4.30 (but not in 4.6.10).

**Description**
I have a newsletter subscription frontend module and placed it in the page footer via a pagelayout.
Showing of channels is disabled, disable captcha is NOT activated.
When loading the page for the first time the input field for the e-mail address is displayed as expected.
When entering an e-mail addre

[2018-12-12 10:35] asaage commented on #229
Just guessing...
I suspect you have another form on this page and/or not configured a redirect-page.

[2018-12-12 10:37] arno1979 commented on #229
@asaage I have the search form and yes: No redirect page as it is not needed and not required.
I made a quick test, removed the search form and set a redirect page: It makes no difference.

[2018-12-12 11:29] asaage commented on #229
Then check [this](https://github.com/contao/contao/issues/194) or provide a link!

[2018-12-12 16:49] fritzmg opened #231 "404 page is cached"
**Affected version(s)**
4.4.30 (I have not tested 4.6.10 yet).

**Description**
If you have defined a `404` page in your site structure, then every request that results in a 404 response (i.e. every request that will show this page) will be put into the `http_cache`.

This can blow up the HTTP cache due to bots accessing old non-existent URLs, bot attacks trying to access known vulnerabilities of

[2018-12-12 17:54] Paddy0174 commented on #231
+1 for never caching 403 and 404 pages

[2018-12-12 19:20] Schneetiger opened #232 "No Update of the databank after blank installation"
After installing a fresh Contao 4.4.30 with CM 1.1.2 there is no possibility to update the databank (MariaDB); it just hangs. You can click the actualisation button as often you want, there is no reaction. The php-version is 7.1. Getting into the Backend is no problem and seems to work fine so far. At the moment I can´t tell more because the website is still under devolopment.

![screenshot_2018-1

[2018-12-13 08:44] lumas-consulting opened #233 "No output of image caption using referenced article with gallery"
**### Can be deleted. Problem solved. Caused by a different language Code on the referenced page
#####**

**Affected version(s)**
3.5.35
**Description**
I have an article with a gallery. Meta data are set in file. In the origin article all metadata are output.
When I reference this article on another site, the caption meta will not be output.
**How to reproduce**

Orignial article
![original](http

[2018-12-13 08:52] arno1979 commented on #229
Okay, after reading #194 I checked and there were 404s on every page because of a webfont that could not be loaded. After fixing that the problem goes away.
Thanks!

[2018-12-13 08:52] #229 closed, assigned to nobody

[2018-12-13 09:46] chriza opened #234 "Newsletter Abonnieren Modul wirft Fehler"
**Affected version(s)**
Contao 4.6.10

**Description**
Das Absenden der Registrierung wirft folgenden Fehler:
[2018-12-13 09:06:51] request.INFO: Matched route "contao_index". {"route":"contao_index","route_parameters":{"_route":"contao_index","_token_check":true,"_controller":"Contao\\CoreBundle\\Controller\\FrontendController::indexAction","_scope":"frontend"},"request_uri":"https://contao46.nex

[2018-12-13 10:35] fritzmg commented on #234
Laut der Fehlermeldung wurde versucht eine Email and eine nicht vorhandene (leere) Email Adresse zu schicken, was natürlich nicht funktioniert.

[2018-12-13 10:36] fritzmg commented on #233
What do you mean by "reference" and "another site"? Is the site in another language for example?

[2018-12-13 10:38] lumas-consulting commented on #233
As mentioned above, this issue can be deleted/closed.
The site was in another language and no specific meta data for this language captured.

[2018-12-13 11:05] ausi commented on #228
Thank you for bringing this up! I agree that we should improve this in Contao.

I don’t know much about this topic, but reading the issue I had some thoughts about it:

👍 for changing the options to `unspecified`, `female`, `male` and `other`. But I’m not sure if “unspecified” is the best term for this use case. Filling out a form I think it could be misunderstood as “My gender is not specified” i

[2018-12-13 12:35] qzminski commented on #225
Created a pull request in #235.

[2018-12-13 13:33] havutcuoglu opened #236 "Change from 'tl_content' the option 'marcAsCopy' => 'headline'"
Hello Conto Team
By copying content elements, the Contao adds the suffix (copy) to headline.

'marcAsCopy' => 'headline'

If you duplicate several elements (e.g. 30 elements in same article), the headlines all of these elements get the suffix (copy).
As a result, each element has to be reworked individually and this is counter productive for the back end user.

I think that this option is not good

[2018-12-13 13:43] #233 closed, assigned to nobody

[2018-12-13 13:51] leofeyer commented on #226
Fixed in 2b1cb189c933c808a885c9f7c2d09a145f573c4d.

[2018-12-13 13:51] #226 closed, assigned to leofeyer

[2018-12-14 00:59] xchs opened #237 "Changes to the front end module are not versioned if an error occurs"
**Affected version(s)**

Tested in Contao 4.6.11

**Description**

Contao does not save a new version of a front end module if an error occurs. However, the changes are still saved in the database.

**How to reproduce**

* Log into the Contao online demo
* Open e.g. the front end module "_News - Simple List_"
* Change the number of "_Items per page_" from "5" to "2"
* Save the module settings
* Co

[2018-12-14 06:26] e9li opened #238 "Installtool broken after update to 4.6.11"
**Affected version(s)**
4.6.11

**Description**
After updating to 4.6.11 the install tool throws "There is no column with name 'path(768)' on table 'tl_files'." The page itself works, just the install tool is broken.

**How to reproduce**
1. Update to Contao 4.6.11
1. Open the install tool

[2018-12-14 06:46] netzarbeiter commented on #238
Same issue with Contao 4.4.31.

The problem is the update from doctrine/dbal 2.9.0 to 2.9.1.

Adding the following code to the composer.json and do a `composer.phar update` did the trick.

[code]

[2018-12-14 07:37] contaoacademy commented on #238
Same error here on 4.4.31. Thx @netzarbeiter for the fix.

[2018-12-14 07:51] Shoekrates commented on #238
Same error over here while updating from 4.4.30 to 4.4.31 with Contao Manager 1.1.2 on PHP 7.2.11 (Hoster all-inkl.). Adding @netzarbeiter conflict information to composer.json did the trick.
A general question: Is this conflict information something temporary that gets deleted automatically with the next update, do we have to change it manually or does it have to stay there „forever“?

[2018-12-14 08:18] e9li commented on #238
Thx @netzarbeiter for the fix.

[2018-12-14 08:29] fritzmg commented on #238
It stays forever, if you do not delete it yourself. However, since you have only conflicted `2.9.1` of the package, any version above (or below) that can still be installed.

[2018-12-14 09:11] aschempp commented on #238
Can someone post the changes the install tool wants to apply?

[2018-12-14 09:15] e9li commented on #238
In my cases there where not changes. After the update I just wanted to check if some updates where needed. After the fix of @netzarbeiter and clearing the cache the install tool worked as expected.

[2018-12-14 10:16] leofeyer commented on #238
https://github.com/doctrine/dbal/pull/3392#issuecomment-447280144

[2018-12-14 10:17] qzminski commented on #238
For me it failed with exception:

[code]

… but I am updating Contao 3.5 database to 4.4. @netzarbeiter fix worked for me though :+1:

[2018-12-14 11:15] stefanschleich commented on #238
Failed too after updating from 4.6.8 to 4.6.11:

    [2018-12-14 12:06:00] request.INFO: Matched route "contao_install". {"route":"contao_install","route_parameters":{"_route":"contao_install","_scope":"backend","_token_check":true,"_controller":"Contao\\InstallationBundle\\Controller\\InstallationController::installAction"},"request_uri":"***/contao/install","method":"HEAD"} []
    [2018-12-14 12

[2018-12-14 12:10] pandroid commented on #238
Same here after update from 4.6.8 to 4.6.10

`[2018-12-14 13:03:55] request.CRITICAL: Uncaught PHP Exception Doctrine\DBAL\Schema\SchemaException: "There is no column with name 'path(768)' on table 'tl_files'." at /***/vendor/doctrine/dbal/lib/Doctrine/DBAL/Schema/SchemaException.php line 82 {"exception":"[object] (Doctrine\\DBAL\\Schema\\SchemaException(code: 30): There is no column with name 'pa

[2018-12-14 16:22] leofeyer commented on #238
Please stop spamming the people watching this issue with useless "same here" comments that provide no further information. We have already acknowledged the issue and are now waiting for a statement by the Doctrine maintainers (see https://github.com/doctrine/dbal/issues/3409).

[2018-12-15 10:27] bekanntmacher opened #239 ".mod_article.first im Zusammenhang mit "nur Gästen anzeigen""
Wenn der 1. Artikel nur Gästen angezeigt wird, erhält der zweite Artikel beim eingeloggten Zustand kein `.first`

[2018-12-16 14:48] #234 closed, assigned to nobody

[2018-12-16 16:57] j-schroeder-schetelig opened #241 "Don't use a plus symbol as icon for duplicate action"
**Description**
The current icon for the 'duplicate element' action is a green plus symbol on white background, which looks too similar to the icon of the 'new element' action, which is a white plus symbol on green background.

I propose to keep the plus for new and give the duplicate action a new distinct and easily recognizable icon, for example something like this:
https://www.iconfinder.com/ic

[2018-12-17 13:52] ghost commented on #238
Hi

How can I launch a composer update without access to ssh console? I'm using contao manager only.

kind regards

[2018-12-17 13:58] aschempp commented on #238
Using the Contao Manager, the maintenance screen has a composer install/update option.

[2018-12-17 14:08] ghost commented on #238
Thanks

[2018-12-17 14:20] christian-kolb commented on #216
Am I the only one using Contao as a bundle? Does anyone have a solution for the issue?

[2018-12-17 14:42] ausi commented on #216
According to https://github.com/symfony/symfony/issues/25913#issuecomment-360504168 this is not related to Symfony 4 but to Symfony Flex:

I think you have to register the bundles manually in the `Kernel` of your project as described in https://github.com/symfony/symfony/issues/25913#issuecomment-360505078

[2018-12-17 14:47] christian-kolb commented on #216
@ausi Thanks a lot for the information. As it won't be fixed in flex it really doesn't make sense for Contao to "fix" something here. Then I will try to initiate those bundles directly.

[2018-12-17 14:47] #216 closed, assigned to nobody

[2018-12-17 15:55] ausi commented on #216
Maybe it’s possible to reuse the `ContaoKernel::registerBundles()` method for loading the Contao specific bundles?

[2018-12-17 15:57] christian-kolb commented on #216
You mean a Contao specific way of loading them without the need to adapt the Kernel?

[2018-12-17 16:03] ausi commented on #216
No, I think you have to adapt the Kernel of your project, but maybe you could call `ContaoKernel::registerBundles()` from your Kernel so that you don’t have to manually register all Contao modules?

[2018-12-17 16:04] christian-kolb commented on #216
Ah ok, I will check and reply as soon as I figured it out : )

[2018-12-18 02:07] sdahlmann opened #243 "Formularversand geht nicht bei 1&1 IONOS"
Wenn ich unter Contao 4.6.11 versuche ein Kontaktformular per SMTP zu versenden, funktioniert dieses leider nicht. Die E-Mails kommen leider nicht an im 1&1 IONOS Postfach, wenn mann das Kontaktformular abschickt.
Dafür habe ich extra eine E-Mail-Adresse passend zu Webseitendomaine mit contao@xxx.com angelegt (wobei xxx für den richtigen Domainennamen steht, der anderes ist).
In die parameters.yml

[2018-12-18 06:42] fritzmg commented on #243
Poste das im Community Forum, da hier vermutlich kein grundsätzlicher Fehler in Contao vorliegt.

[2018-12-18 08:28] leofeyer commented on #238
@contao/developers I would solve this by only allowing `doctrine/dbal` < 2.9 in Contao 4.4 and by adapting to the new syntax and only allowing `doctrine/dbal` >= 2.9 in Contao 4.6. Any objections?

[2018-12-18 08:31] Toflar commented on #238
Any reason why not adapting the new syntax and requiring `^2.9.1` in both versions? I don't think 2.8 is maintained anymore and we need to have maintained versions in Contao 4.4 until December 2021.

[2018-12-18 08:32] leofeyer commented on #238
We cannot, because `doctrine/dbal` requires PHP 7.1 as of version 2.6.

[2018-12-18 08:40] Toflar commented on #238
I see. Well, at some point I guess we have to increase the minimum required PHP version for Contao 4.4 as well because the underlying components require to do so. Let's say Doctrine contains a security vulnerability which also affects us, we must be able to update in that case so we can provide a stable and secure Contao 4.4 until the end of 2021. I'm pretty sure this won't be possible without rai

[2018-12-18 08:55] ideefixx opened #244 "Folder URL - Alias erzeugt Loop"
Contao Version 4.4.31
PHP Version 7.2.12
Composer 1.9-dev

Der Alias "layout/overview" erzeugt bei der Verwendung von Ordner URLs einen Loop des Alias.
Der Link wird in der Navigation korrekt generiert und lautet dementsprechend "https://example.com/layout/overview.html".

Beim Aufruf der URL wird jedoch auf die folgende URL umgeleitet "https://example.com/layout/overview/overview/overview.html",

[2018-12-18 09:10] fritzmg commented on #244
Hast du das in einer frischen Contao Installation mit default .htaccess getestet?

[2018-12-18 09:10] ideefixx commented on #244
Ja, Neue Installation

[2018-12-18 09:11] leofeyer commented on #238
Although I generally agree, I think you are wrong about "we need to have maintained versions in Contao 4.4 until December 2021".

Maintaining an LTS version means "providing a certain software state and promising to fix bugs for a certain period of time". However, it does not mean that we need to have only maintained versions of the third-party packages – just like not every Linux distribution onl

[2018-12-18 09:12] fritzmg commented on #238
Especially since major shared hosters now have removed PHP 5.6.

[2018-12-18 09:20] ideefixx commented on #244
Bei Contao Version 4.4.30 tritt das selbe phänomen auf

[2018-12-18 09:23] leofeyer commented on #238
First of all, only a few really have. And for every company that has, there are 10 companies that are now advertising "guaranteed PHP 5.6 support at least until 2021" and similar things. Just google for "php 5.6 hosting" and see for yourself.

[2018-12-18 10:01] dmolineus opened #245 "Add backend link to the contao manager"
As initially provided as a [pull request](https://github.com/contao/contao/issues/26), adding a link to the contao manager would increase the UX for users of the contao manager.

The pull request got merge but the changes were removed again. Ticket is created to discuss if the feature will be added to Contao.

[2018-12-18 10:20] Metis77 commented on #195
I prefer the grey disabled icons.
Otherwise I have to search for where to click, as icons are somewhere else on different rows.

Also editor user may feel better, if they see (and therefore know) that actions like delete are there, but not allowed / available.

Just leaving the icons away looks to me like an error.

[2018-12-18 10:41] Metis77 opened #246 "unify backend preview image tumbnail sizes"
In the backend generated image thumbs have lots of different sizes.

max height 50px -> in the filetree
75x50px -> inside ce_image/gallery
dynamic -> for the preview the ce_gallery it depends on the images per row setting.
max width 320px -> for the preview of ce_image

This results in lots of wait time while working in the backend.
- Going into an article can take very long.
- Going into a conten

[2018-12-18 20:04] #225 closed, assigned to nobody

[2018-12-18 22:56] Paddy0174 commented on #245
I'd love to see this, but how to set this up, so only allowed people can see it?

I'm with you, that it would help, to push the CM forward.

But I'm with Leo, that the CM and BE are two different things, that should not be mixed.

Maybe it would be doable, if we could "synchronize" the logins for the CM and the BE. If the same user/pw combination exists in both && the BE user is Admin, then the li

[2018-12-19 07:47] leofeyer commented on #238
Fixed in Contao 4.6 in 116e66dc4bc7acb2e7c28bf6a3047cbf240c2eb4. Note that Doctrine still needs to fix https://github.com/doctrine/dbal/issues/3414 so index length changes are detected correctly.

[2018-12-19 08:17] leofeyer commented on #238
Fixed in Contao 4.4 in 9cbadc0b9cfdb608cdfd883fe6944ab653e1ab94.

[2018-12-19 08:17] #238 closed, assigned to leofeyer

[2018-12-19 08:23] minstyle opened #247 "Update auf Contao 4.4.31: Event duplizieren und verschieben nicht möglich"
**Affected version(s)**
contao/core-bundle 4.4.31
contao/calendar-bundle 4.4.31

**Description**
Nach einem Update von Contao 4.4.30 auf Contao 4.4.31 können Redakteure keine Events mehr duplizieren und verschieben.

Ich erhalte dabei folgende Fehlermeldung:

`Not enough permissions to access calendar ID 1234. `

(Bei der ID 1234 handelt es hiebei um die Event-ID.)

Komischerweise ist das Bearbeit

[2018-12-19 08:27] leofeyer commented on #214
Yes, that seems to be a bug. The `Form::compile()` method is not supposed to return anything, therefore `return $this->Template->parse()` needs to be removed.

[2018-12-19 08:30] leofeyer commented on #214
Fixed in 224ba0917c7f4f9478bd810b17ad4193213cf8d1.

[2018-12-19 08:30] #214 closed, assigned to leofeyer

[2018-12-19 08:35] leofeyer commented on #244
Ich kann das Problem nicht reproduzieren. Bitte versuch mal einen anderen Browser.

[2018-12-19 08:36] #243 closed, assigned to nobody

[2018-12-19 08:37] jommbee commented on #247
Haben das gleiche Problem mit den News. Nach Update auf  4.4.31 lassen sich durch einen Redakteur News nicht mehr kopieren (verschieben geht). Nachvollziehbar auch in der Contao Demo unter 4.6.11.

[2018-12-19 08:44] leofeyer commented on #224
Zu diskutieren wäre:

1. Sollten wir das Templates-Modul überhaupt in den Benutzer-Einstellungen als Option anzeigen?
2. Wenn ja, sollten die Templates nicht immer editierbar sein?

[2018-12-19 09:09] leofeyer commented on #247
Behoben in 02d9b1b5c360dcc999c56e656b9a107c3a4d8f82.

[2018-12-19 09:09] #247 closed, assigned to leofeyer

[2018-12-19 09:12] leofeyer commented on #231
Hm, the 40* pages have the fields to define a cache timeout, so I guess this is a configuration error in the first place.

@contao/developers Any objections against removing the fields and never caching those pages?

[2018-12-19 09:14] bytehead commented on #231
+1 for removing and never caching.

[2018-12-19 09:17] Toflar commented on #231
From a caching point of view, it's perfectly fine to cache 404 and 403 pages. The behaviour is correct.
But I see the issue with bloating the reverse proxy cache. We might want to force `Cache-Control: private` so it's cached on the client for subsequent identical requests but not in the reverse proxy?

[2018-12-19 11:34] aschempp commented on #224
Aus meiner Sicht ist es ganz klar eine Benutzereinstellung. Und wenn ich Zugang zu den Templates habe, kann ich die auch editieren. Die Berechtigungsprüfung macht in diesem Fall keinen Sinn.

[2018-12-19 11:36] aschempp commented on #231
Well the user can configure if a 404 should be cached on the server, right? So the correct configuration would be to only allow client cache configuration for 404?

[2018-12-19 11:40] Toflar commented on #231
Yes, remove it from these pages but at the same time also make sure existing values are replaced. Otherwise an update would not solve the issue because in the DB there's still the old configuration.

[2018-12-19 11:44] aschempp commented on #231
Not necessarily remove it, but just overwrite the value in the page type.

[2018-12-19 18:59] ideefixx commented on #244
Das Phänomen tritt in jedem Browser auf. Mir ist dabei aufgefallen, dass es nur auftritt wenn die übergeordnete Seite eine interne Weiterleitung ist.

[2018-12-20 07:54] koertho commented on #6372
@aschempp We have an bundle doing exactly this: https://github.com/heimrichhannot/contao-encore-bundle . Maybe it can act as a first approach for having a contao core-supported way?

[2018-12-20 08:46] fritzmg commented on #244
Beschreibe deine Seitenstruktur genauer oder stelle einen Datenbank Dump zur Verfügung.

[2018-12-20 10:11] aschempp commented on #6372
Looks pretty interesting! Have you considered creating a pull request to have something merged to the core?

[2018-12-20 13:38] Defcon0 opened #248 "Support for asset-packagist.org"
Hello,

at the moment we need to have shim repositories for each and every contao component. I guess, it's because of setting

`"type": "contao-component",`

and

`"contao-components/installer": "^1.0.9"`.

Recently I found https://asset-packagist.org . It acts as a bridge between composer and bower/npm. Here we can set the output path as follows (see https://asset-packagist.org/site/about for mor

[2018-12-20 13:40] ideefixx commented on #244
[tl_page.zip](https://github.com/contao/contao/files/2699065/tl_page.zip)

[2018-12-20 13:47] ideefixx commented on #244
ACHTUNG:
Ggf. ist dieser Bug als obsolet zu betrachten.
Ich habe soeben ein Update auf Contao Version 4.4.32 durchgeführt.
In dieser Version ist der Loop nicht aufgetreten.

[2018-12-20 14:00] fritzmg commented on #248
Nice, didn't know of that yet, thank you ;)

Regarding the contao components: I think you cannot get rid of all of them because some of those assets are modified for Contao.

[2018-12-20 14:20] ausi commented on #246
As discussed on Mumble: We should set the size to 100x75 with mode `box` everywhere. For the gallery we can use `img { width: 100px; height: 75px; object-fit: contain; }`

[2018-12-20 14:22] leofeyer commented on #224
Wie am 20. Dezember auf Mumble besprochen, wollen wir die Option in den Benutzer-Einstellungen behalten aber die Templates sollen immer editierbar sein (unabhängig von der "Dateien im Quelltexteditor bearbeiten"-Einstellung).

[2018-12-20 14:28] leofeyer commented on #224
Außerdem wollen wir auf der Hauptseite "Benutzergruppen" eine blaue Info anzeigen, wenn es Benutzergruppen gibt, die Templates bearbeiten dürfen.

[2018-12-20 14:32] Defcon0 commented on #248
OK, that's not a problem. But it would make things a lot easier to have support for this in the standard composer.json of contao so that us bundle developers wouldn't have to create shim repos for contao, as well ;-) Would that be an option?

[2018-12-20 14:49] leofeyer commented on #204
As discussed in Mumble on December 20th, we want to have contextual fields for all module states and additional jumpTo pages for selected states. For instance in the "lost password" module:

- State 1 (please enter your e-mail address to request a new password): contextual field
- State 2 (the opt-in link has been clicked -> please enter at least 8 characters): contextual field
- State 3 (your pas

[2018-12-20 14:56] ghost opened #249 "Do not show pretty errors if "text/html" is not accepted"
<a href="https://github.com/ausi"><img src="https://avatars3.githubusercontent.com/u/367169?v=4" align="left" width="42" height="42"></img></a> [Comment](https://github.com/contao/contao/issues/194#issuecomment-440354193) by @ausi
November 20th, 2018, 18:14 GMT

Das wäre grundsätzlich eine gute Idee denke ich (unabhängig von diesem Issue), allerdings lädt der Firefox (evtl. auch andere Browser) da

[2018-12-20 14:56] ghost commented on #194
Ein neues Ticket dazu wurde unter contao/contao#249 angelegt.

[2018-12-20 14:57] #194 closed, assigned to nobody

[2018-12-20 14:59] Toflar commented on #219
I've tracked down this issue and it's because of `BackendUser::getInstance()` which is not a singleton anymore but calls `static::loadUserByUsername()` on every call. Of course there are many places in the back end (same applies for FE btw) where `BackendUser::getInstance()` is called to get the currently logged in user. I think it was done on purpose because if it was a singleton and would store

[2018-12-20 15:02] leofeyer commented on #245
As discussed in Mumble on December 20th, we can add the link in a compiler path. Also we want to open the link in the same tab.

I will adjust the reverted changes accordingly.

[2018-12-20 15:12] leofeyer commented on #179
Wie am 20. Dezember auf Mumble besprochen, wollen wir die Bildgröße in Pixeln beim Formularfeld "Datei-Upload" angeben können. Außerdem soll es eine Option geben, mit der man festlegen kann, ob zu große Bilder abgelehnt oder verkleinert werden.

[2018-12-20 15:19] baumannsven opened #250 "Develop Modus kein min Dateien"
Wenn man im Develop Modus ist sollen die nicht komprimierten Assets Dateien ausgeliefert werden.

Beispiel:

core.min.js => core.js

[2018-12-20 15:20] leofeyer commented on #220
As discussed in Mumble on December 20th, this can be solved with CMF routing, which we are currently working on in #95.

[2018-12-20 15:30] leofeyer commented on #203
As discussed in Mumble on December 20th, we want to remove the checkbox from the back end settings and activate auto items by default. This way it can still be deactivated in the `localconfig.php` or `config.yml`.

[2018-12-20 15:53] leofeyer commented on #174
As discussed in Mumble on December 20th, `23.11.2018 11:00–24.11.2018 13:00` is how other calendars (Apple, Google etc.) interpret a multi-day event with time.

<img width="599" alt="" src="https://user-images.githubusercontent.com/1192057/50295109-a0fc0100-0477-11e9-8b30-c0aabf4f770e.png">

[2018-12-20 15:56] leofeyer commented on #108
As discussed in Mumble on December 20th, the Symfony template cache is not limited to `.twig` files, therefore we want to implement [Fritz' workaround](https://github.com/contao/contao/issues/108#issuecomment-431841621) in the managed edition.

[2018-12-20 16:20] fritzmg commented on #108
Credit goes to @dmolineus https://github.com/contao/contao/issues/108#issuecomment-431815138 😁

[2018-12-20 16:23] leofeyer commented on #58
Ok, then give it a shot @Toflar. 🙈

[2018-12-20 16:28] leofeyer commented on #154
Wir haben das Problem soeben nochmal auf Mumble besprochen und eigentlich müssten die Änderungen aus #48 das Problem lösen. Wie kann man das Problem denn in der Onlinedemo reproduzieren?

[2018-12-20 16:33] Defcon0 commented on #174
I'm ok with that ;-) Thanks for discussing it.

[2018-12-20 16:44] fkaminski commented on #154
In der Online Demo ein Formular mit Weiterleitungsseite anlegen und das Formular dann
via {{insert_form::ID|uncached}} auf einer o. mehreren Seiten einbinden ...

Evtl. kann ich das Morgen testen - sollte das denn mit z.B. der 4.4.32 dann funktionieren?

[2018-12-20 21:42] folkfreund commented on #247
Maybe this error was also introduced in 3.5.x?
I can reproduce the same in Contao 3.5.37

[2018-12-21 07:03] jommbee commented on #247
Ja, auch hier ein permission Fehler:
Details: | Not enough permissions to access news archive ID "16"
Funktion: | tl_news::checkPermission

[2018-12-21 07:41] aschempp commented on #219
I'm pretty sure this is wrong. I remember my implementation actually fetched the object from token storage if a user is logged in, which is the correct way to do imho. If token storage is not set or not the correct firewall context, we should still store the singleton.

[2018-12-21 08:37] aschempp commented on #204
what's a contextual field to you?

[2018-12-21 08:42] fkaminski commented on #154
Habe es mit Contao 4.4.32 prpbiert:

{{insert_form::ID}} - Klappt
{{insert_form::ID|uncached}} - Klappt nicht

Erhalte dann im Browser:
"Oops! An Error Occurred
The server returned a "500 Internal Server Error"."

In der log:
` request.INFO: Matched route "contao_index". {"route":"contao_index","route_parameters":{"_token_check":true,"_controller":"Contao\\CoreBundle\\Controller\\FrontendControlle

[2018-12-21 09:26] leofeyer commented on #204
A textarea with TinyMCE.

[2018-12-21 09:26] leofeyer commented on #247
Fixed in contao/core@28a6741ab1f8e8030bf84ba89b28ad7541dd0808. I'm going to release a new version today.

[2018-12-21 10:35] Toflar commented on #58
https://github.com/contao/contao/pull/251 will fix the issue.

[2018-12-21 12:28] leofeyer opened #252 "Throw distinct exceptions in the opt-in service"
The exceptions that can be thrown should be documented with `@throws` and ideally they should be special exceptions. E.g. `TokenAlreadyConfirmedException`.

_Originally posted by @Toflar in https://github.com/contao/contao/pull/196#discussion_r243554813_

[2018-12-21 13:54] folkfreund commented on #247
Super! Works again in 3.5.38 :-)
Vielen Dank für den schnellen Fix!

[2018-12-21 15:05] leofeyer commented on #250
Einfach anhand der Dateiendung entscheiden? Wenn `.min.js` dann nimm `.js` und wenn `.min.css` dann nimm `.css`?

[2018-12-21 15:12] leofeyer commented on #248
I am not sure. As @fritzmg has already said, the majority of Contao components has been customized, so asset-packagist would most likely not work for them.

You are referring to the composer.json file of `contao/managed-edition`, right? We could add the repository there, however, note that the Contao Manager does not use this file anymore.

[2018-12-21 15:13] #244 closed, assigned to nobody

[2018-12-21 15:17] leofeyer commented on #237
Does the back end behave this way, too?

[2018-12-21 15:17] leofeyer commented on #236
Please refer to the [forums](https://community.contao.org) for this kind of questions.

[2018-12-21 15:17] #236 closed, assigned to nobody

[2018-12-21 15:18] leofeyer commented on #232
Please try another browser and post the console log here if it still does not work.

[2018-12-21 15:24] fritzmg commented on #236
It's not really a question, more a suggestion to remove this within Contao by default, unless there is a good reason to keep it.

[2018-12-21 15:24] baumannsven commented on #250
Ich würde das so ähnlich handhaben wie es Symfony Encore macht.

Mit Hilfe von Symfony Encore kann man ja die Assets mit einem Version postfix versehen.
Damit man im Template (Twig) nicht immer denn Namen der Datei anpassen muss, kommt dort die asset Extensions für Twig ins Spiel und setzt den richtigen Dateinamen. Gesteuert wie dies über eine Json die glaube ich `manifest.json` heißt. Dort steht

[2018-12-21 15:25] leofeyer commented on #218
It is not possible to know for sure, but I'm pretty confident that 99.999999999999% of all users use the default `bin/console`. 😛

[2018-12-21 15:27] leofeyer commented on #200
@maettyhawk We are going to need more information here, ideally a reproducible scenario.

[2018-12-21 15:55] patrickjDE commented on #218
If it can't be determined for sure, I'd also prefer a generic "run this command in your symfony console" style message.
After all the important part of the message is the command itself, not the console location.

[2018-12-21 15:57] leofeyer commented on #236
Of course there is: https://github.com/contao/core/issues/2938

[2018-12-21 21:13] xchs commented on #237
I'm afraid I don't understand what you mean or how I can test it.

[2018-12-23 10:24] Defcon0 commented on #248
Yes, this is the location I referred to. But how does the Manager then work?? I thought, Contao is composer-driven? :-(

[2018-12-23 22:32] BugBuster1701 commented on #203
- Datum und Zeit für’s BE in die Gruppeneinstellungen

Was passiert in dem Fall mit `$GLOBALS['TL_CONFIG']['dateFormat']` bzw. `$GLOBALS['TL_CONFIG']['dateFormat']`? Wird das trotzdem gesetzt obwohl es ja nun nicht mehr aus der localconfig.php kommt?

[2018-12-27 09:18] leofeyer commented on #203
Auf jeden Fall. Sonst wäre es ja ein BC-Break.

[2018-12-27 09:31] srhinow opened #255 ".xlf-Definitionen können nicht mehr mit $GLOBALS['TL_LANG'] überschrieben werden"
**Affected version(s)**
Contao 4.4.32, PHP7.2

**Description**
Bis Contao 3.5 war es ja so, das man Übersetzungen auch aus den Contao-Core-Modulen wie dem Calendar-Modul z.B. mit:
`$GLOBALS['TL_LANG']['MOD']['calendar'][0] = 'Veranstaltungen';`
überschreiben konnte. Jetzt war mir es nach langem Testen nur  noch möglich, wenn ich die Definitionen nicht in ner modules.php sondern in einer eigenen mo

[2018-12-27 09:50] fritzmg commented on #255
Duplicate of https://github.com/contao/core-bundle/issues/740

Will be fixed in Contao 4.7.0.

[2018-12-28 09:47] #255 closed, assigned to nobody

[2018-12-31 11:57] ben-eSM opened #257 "Model getRelated() function can't handle fields with eval options multiple and csv"
**Affected version(s)**
any

**Description**
Since serialized arrays with IDs in the database aren't a recommended solution if you happen to search for set values in some sql statements, storing them as a csv is the better solution. Luckily this can be done easily by adding the eval option csv. Unfortunately the getRelated function for models doesn't handle csv values, resulting in just getting th

[2019-01-02 15:57] leofeyer commented on #246
I have tried to implement this today and here are my findings:

**1. max width 320px**

This does not seem to apply to Contao 4 anymore. The back end preview images are generated in the same height as in the front end, so we do not have to generate two different images.

**2. Cache size**

Actually there has been no improvement regarding the cache size; the number of generated images stayed exactl

[2019-01-02 16:13] Metis77 commented on #246
what about `object-fit: cover`?

Will visually crop if necessary and therefore match the way it is now.
The `object-position` is center by default.

[2019-01-02 16:13] leofeyer commented on #246
That is not true. The entire **back end cache** could be rebuilt, however, the front end cache would stay completely empty! Right now, previewing an article in the back end generates the image cache for both the back end and the front end, which means that your back end users might have to wait a few seconds longer but your front end users do not have to wait at all. And that is good, isn't it?

[2019-01-02 16:22] leofeyer commented on #246
Implemented in 6fff23aa4099e0d75f8896e285f86f54ef1446fb.

[2019-01-02 16:22] #246 closed, assigned to leofeyer

[2019-01-02 16:28] #232 closed, assigned to nobody

[2019-01-02 17:38] patrickjDE commented on #195
Generally I like hiding better, but there's quite a problem with that here. The frequently used actions (edit, header) are on the very left, the commonly disabled actions (delete, move, copy) are placed to their right, and everything is right-aligned.
So the frequently used actions are frequently switching their position, placing unnecessary cognitive load onto the user, while the actual goal was

[2019-01-02 19:19] patrickjDE commented on #228
It's quite ironic, that a piece of information that is usually used for "personalization" purposes is often treated with so little regard to the users personality. Not thinking about a gender-neutral salutation after they decided (or were convinced) that gender shouldn't be a mandatory field is quite common with clients. Adding a third option by default is a great way to raise awareness.

As for `

[2019-01-03 00:14] xchs opened #259 "The "previous login" message shows two different times"
**Affected version(s)**

Contao 4.6.12

**Description**

The note on the back end dashboard regarding the previous login shows two different time specifications:

![be](https://user-images.githubusercontent.com/1218766/50618500-6ff9e280-0ef3-11e9-9276-cfbe1ec27493.png)

**How to reproduce**

* Set up a new Contao 4.6.12 installation
* Log into the back end and check the message on the dashboard

[2019-01-03 08:28] leofeyer commented on #259
I was not able to reproduce this, neither in the online demo nor in my local test environment.

[2019-01-03 09:59] biwerr opened #260 "Missing Documentation for config.yml and parameters.yml"
The files /app/config/parameters.yml and config.yml are used to set config values but i've found no documentation.

Is there any documentation which options can be set in the contao config files and what they are used for?

[2019-01-03 10:11] Seefahrer opened #261 "Install tool failure after update of doctrine/dbal to v2.9.2"
Contao 4.6.12

After Updating doctrine/dbal to v2.9.2 invoking the install tool shows fllwg database update to be due:

`DROP INDEX path ON tl_files;
CREATE INDEX path ON tl_files (
  path(768)
);`

Conducting the mentioned DB-Update is not successful, above necessary DB-Update is shown forever.

[2019-01-03 10:16] leofeyer commented on #261
See https://github.com/doctrine/dbal/pull/3420

[2019-01-03 11:44] xchs commented on #259
That's weird. I can reproduce it in multiple installations on different hosts. Anyone else?

Did you actually test it with Contao 4.6.12? I have only noticed this problem since the update to Contao 4.6.12. The online demo still runs with Contao 4.6.11.

[2019-01-03 12:05] Paddy0174 commented on #259
+1
Can reproduce this in two 4.6.12 locally and in two 4.6.12 on uberspace7 (four different installations with different addons).

[2019-01-03 13:20] leofeyer commented on #259
You are right. I have updated the online demo and now I can reproduce the issue there as well.

[2019-01-03 13:24] leofeyer commented on #259
Until a new Contao version is released, I guess this can be fixed with a conflict for `knplabs/knp-time-bundle` in version `>=2.9`.

[2019-01-03 13:31] xchs commented on #259
I guess you meant the version constraint `>=1.9` of `knplabs/knp-time-bundle`, don't you? Yes, that fixes the issue. 👍

[2019-01-03 13:38] leofeyer commented on #259
It seems the issue is already being worked on: https://github.com/KnpLabs/KnpTimeBundle/pull/111

[2019-01-03 16:27] planepix commented on #260
Just know the - german - entry in Contao Wiki:
http://de.contaowiki.org/Ordner_und_Dateien_in_Contao_4